[2019-10-29 10:22] #4210 closed

[2019-10-29 10:31] yogkumgit commented on #4261
@ Thank you very much for the contribution and sharing this explanation. Appreciate and encourage you to do the same in future also.

[2019-10-29 10:31] #4261 closed

[2019-10-29 10:42] yogkumgit commented on #4266
@get-itips and @dariomws306  Please review this PR #4271

[2019-10-29 10:49] holylander opened #4272 "new-pnpterm requires LCID "1033", documentation missing"
In order to use **new-pnpterm**, I had to use the option
`-LCID "1033"`
which is not included in the documentation. I think that it should be mentioned, since if don't use such flag, command wont work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c537bdf-b8fc-9735-1870-355e757b531a
* Version Independent ID: 68d5bb2b

[2019-10-29 10:57] yogkumgit commented on #4272
@officedocsbot assign @yogkumgit

[2019-10-29 11:06] yogkumgit commented on #4205
@get-itips  Thank you very much for the contribution and digging deep into it.  @Petri-X We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documen

[2019-10-29 11:06] #4205 closed

[2019-10-29 11:15] yogkumgit commented on #3946
@bjwhalen Please respond to our query.

[2019-10-29 11:42] get-itips commented on #3903
Hello all
I could talk with the PG and the documentation for this cmdlet was incorrectly released, the cmdlet does not exists.
We will proceed closing this one.
Thank you

[2019-10-29 12:01] yogkumgit commented on #3903
@get-itips  Thank you very much for the contribution and sharing this explanation. @Zkallai
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-10-29 12:02] #3903 closed

[2019-10-29 12:07] #1708 closed

[2019-10-29 12:39] yogkumgit commented on #3792
@get-itips  Thank you very much for the contribution and digging deep into it.  @sujithnair79 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this do

[2019-10-29 12:39] #3792 closed

[2019-10-29 12:43] mklement0 commented on #4206
I appreciate the quick turnaround and the encouragement.

One thing I noticed - and since I don't have access to the cmdlets in question I can't tell if it's a problem:

The script-block syntax - `{ RemotePowerShellEnabled -eq $false }` - makes the cmdlet see the following verbatim content: `RemotePowerShellEnabled -eq $false`

By contrast, `"RemotePowerShellEnabled -eq $false"` results in: `Remot

[2019-10-29 12:45] yogkumgit commented on #4090
@dariomws306 Thanks.

[2019-10-29 12:45] #4090 closed

[2019-10-29 13:29] get-itips commented on #4242
Hello @Toanan ! thanks for your feedback!
I need to kindly redirect you to this specific [repo](https://github.com/SharePoint/PnP-PowerShell) where you can either open an issue there or propose a PR directly into the [source code of the cmdlet](https://github.com/SharePoint/PnP-PowerShell/blob/dev/Commands/Site/SetSite.cs) which has the documentation that is  reflected later in the article.

Thank

[2019-10-29 13:31] aldoug opened #4273 "How to launch once downloaded"
Once you have downloaded and installed the module, could do with insturctions on requirements for launching locally in future sessions. Launching PS alone does not import the commands

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34

[2019-10-29 13:44] yogkumgit commented on #4242
@get-itips Thank you very much for sharing this explanation. @Toanan   Hope this comment is helpful for you. These repos are all open source and the community would welcome to contribute. Thanks for taking out some time to open the issue. Appreciate and encourage you to follow the suggested links.

[2019-10-29 13:44] #4242 closed

[2019-10-29 13:45] yogkumgit commented on #4273
@officedocsbot assign @yogkumgit

[2019-10-29 13:58] DEberhardt opened #4274 "Typo :)"
Removes-CsOnlinePSTNGateway | ?{$_.Identity -like "*.contoso.com"}
instead of
Remove-CsOnlinePSTNGateway | ?{$_.Identity -like "*.contoso.com"}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c451fd8-202d-1833-c666-f800d6ad6e15
* Version Independent ID: 9152a3e8-15eb-05d8-8ec3-63fc3a124ff6
* Content: [Remove-CsOnlinePS

[2019-10-29 14:00] thomasbinder opened #4275 "Examples have wrong parameter"
Some of the examples have the parameter "DatabasePath" but should be plural: "DatabasePaths"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 715baf5f-4102-873c-510e-da688b9b5a45
* Version Independent ID: caf92dad-8c31-b9ef-5fc5-ca04085b8620
* Content: [Install-CsDatabase (skype)](https://docs.microsoft.com/en-us/powersh

[2019-10-29 14:02] get-itips commented on #4249
Hello @OpenHabitat   thanks for your feedback
I need to kindly redirect you to this [specific repo](https://github.com/SharePoint/PnP-PowerShell) where you can open an issue there, as you might know, PnP cmdlets are community-driven, so the community maintainers will pick your request there.

Thank You

[2019-10-29 14:08] get-itips commented on #4254
Hello @hirenshah1 Can you please confirm if those params are currently under development and not in production use? or if the PG is aware of the current behavior ? Thank you

[2019-10-29 14:13] yogkumgit commented on #4243
@get-itips Thank you very much for the contribution and sharing this explanation. @grantburdon
Hope this comment is helpful for you.

We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-10-29 14:13] #4243 closed

[2019-10-29 14:19] get-itips commented on #4260
Hello @lordBrightLord thanks for noticing, created a pr to correct the example.
Thank you

[2019-10-29 14:27] yogkumgit commented on #4249
@get-itips Thank you very much for sharing this explanation. @OpenHabitat  Hope this comment is helpful for you. These repos are all open source and the community would welcome to contribute. Thanks for taking out some time to open the issue. Appreciate and encourage you to follow the suggested links.

[2019-10-29 14:27] #4249 closed

[2019-10-29 14:30] get-itips commented on #4262
Hello @danmyhre
That is the version I have and I have that cmdlet after importing the session

![image](https://user-images.githubusercontent.com/36666927/67776742-830c0f00-fa3f-11e9-9e56-18cf885e9fb9.png)

[2019-10-29 14:35] yogkumgit commented on #4260
@tseward  and @dariomws306 Please review the PR #4276

[2019-10-29 14:42] yogkumgit commented on #4274
@officedocsbot assign @yogkumgit

[2019-10-29 14:43] yogkumgit commented on #4275
@officedocsbot assign @yogkumgit

[2019-10-29 15:10] get-itips commented on #4272
Hello @holylander  ! thanks for your feedback!
I need to kindly redirect you to this specific [repo](https://github.com/SharePoint/PnP-PowerShell) where you can either open an issue there or propose a PR directly into [the source code](https://github.com/SharePoint/PnP-PowerShell/blob/dev/Commands/Taxonomy/NewTerm.cs) of the cmdlet which has the documentation that is reflected later in the article

[2019-10-29 15:34] yogkumgit commented on #4272
@get-itips Thank you very much for sharing this explanation. @holylander  Hope this comment is helpful for you. These repos are all open source and the community would welcome to contribute. Thanks for taking out some time to open the issue. Appreciate and encourage you to follow the suggested links.

[2019-10-29 15:34] #4272 closed

[2019-10-29 16:08] NislAr98 commented on #4254
I have similar problems with the Set-CsUserTeamMembers cmdlet when executing it for users who have never had team members before.
If I enable simultaneous call for team members after that, the user is not available anymore and all calls are forwarded until I open the team members dialogue in the sfb client and click ok without making any changes.

[2019-10-29 18:01] get-itips commented on #4263
Hello @michaelblumenthal
Site Scripts are added and modified at SharePoint tenant level, so, at minimum, a SharePoint Admin is needed.
Hope this info helps you

[2019-10-29 23:15] chrisda commented on #4206
Yikes. Here's what I've determined after further testing:

As you described, you can't use double quotes around the whole OPath filter if you're searching for $true/$false or $null values (I call those 'system values'); you must use single quotes or braces.

So, either way, some sort of call-out required:

- if you say "enclose the whole OPath filter in double quotes" you need to call out system v

[2019-10-30 03:50] shivtorov opened #4283 "Error in description of -Filter parameter"
Description of the -Filter parameter contains an usage example:
`-Filter {Enabled -ne $True}`

But if I run this code on my server, it returns an error.

command:
`Get-CsAdPrincipal -Filter { Enabled -ne $true }`

error message:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aae26e0a-40c8-ad2f-42cf-252d56b6e882
* Versi

[2019-10-30 09:00] yogkumgit commented on #4283
@officedocsbot assign @yogkumgit

[2019-10-30 11:50] yogkumgit commented on #4263
@get-itips  Thank you very much for the contribution and sharing this explanation. @michaelblumenthal Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-10-30 11:50] #4263 closed

[2019-10-30 12:14] yogkumgit commented on #4262
@get-itips  Thank you very much for the contribution and sharing this explanation. @danmyhre
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-10-30 12:16] danmyhre commented on #4262
Thanks, it was something on my machine.  I removed and reinstalled the module and now it is working.

[2019-10-30 12:21] #4262 closed

[2019-10-30 13:14] yogkumgit commented on #4266
@tseward  Thank you very much for the contribution and updating the documentation with PR. @lordBrightLord Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-10-30 13:14] #4266 closed

[2019-10-30 16:40] toybits opened #4284 "Exception calling "GetSteppablePipeline" with "1" argument(s)"
I've got one machine which keeps getting the following error when launching the ExO MFA PowerShell module.

`Exception calling "GetSteppablePipeline" with "1" argument(s): "The expression after '&' in a pipeline element
produced an object that was not valid. It must result in a command name, a script block, or a CommandInfo object."
At C:\Program Files\WindowsPowerShell\Modules\PSLog\5.5.268\PSLog

[2019-10-30 16:57] toybits commented on #4284
OK not sure what the problem was. Had to remove AutomatedLab so I could remove the module PSLog

Then ExO started working. Have reinstalled PSLog and ExO still working so will never know what it was.

But busy got to crack on...

[2019-10-30 17:14] JaeEmAre67 opened #4285 "Setting Person/Group field fails"
All of the following fail without error. I can look at the backend item and see the original values still there. The column is a person/group field we added and we are using the backend field name, not the frontend. It only allows a single entry, not multiple.

Set-PnPListItem -List $list.Title -Identity $item.Id -Values @{"ContentOwnerMgr"="6"} -SystemUpdate;

Set-PnPListItem -List $list.Title -I

[2019-10-30 18:37] dariomws306 commented on #4264
Hi @IngoGege, thank you for your feedback.

I think the examples are ok:

![image](https://user-images.githubusercontent.com/33589238/67888037-2c7bff00-fb2b-11e9-91d6-1f5689548d90.png)

Second one is your example. Reading the parameter description:

The FileData parameter specifies the terms that are used in the DLP keyword dictionary. This parameter requires a comma-separated list of values that'

[2019-10-30 18:57] IngoGege commented on #4264
Hi @dariomws306 ,
I get that, but have you actually tried it? If so you will see that there won't be a match. You can compare the decoded bytes and you will see that the list is not a list. It's one line with comma separated words, which is treated by the DLPAgent as one string and therefore won't match.
Ciao,
Ingo

[2019-10-30 19:08] dariomws306 commented on #4264
Thank you @IngoGege.

I didn't try it deeply, only saw that it looks good. I will try it again tomorrow.

[2019-10-30 19:31] theplaceboeffect opened #4289 "Get-PnpUnifiedGroup is throwing errors"
Hi,

I had some scripts I am working on using Get-PnpUnifiedGroup and it is currently throwing the following errors in all my environments (production and development):

get-pnpunifiedgroup : Object reference not set to an instance of an object.
At line:1 char:1
+ get-pnpunifiedgroup
+ ~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Get-PnPUnifiedGroup], NullReferenceException

[2019-10-30 21:53] mklement0 commented on #4206
`` ` `` (backtick) is PowerShell's escape character, so you can also `` ` ``-escape individual `$` characters inside `"..."` to prevent their expansion: ``"foo -eq `$true"`` yields the following verbatim: `foo -eq $true`.

So if someone does want to use an expandable string (string interpolation, `"..."`), they can use `` ` `` as shown (an - obviously more cumbersome - alternative is to use an _ex

[2019-10-30 22:00] mklement0 commented on #4206
P.S.: The AD provider actually can _itself_ resolve simple variable references such as `'sAMAccountName -eq $name'`, but not _expressions_ such as `'sAMAccountName -eq $obj.Name'`

I don't know if that's the case here too - it's certainly worth clarifying, along with what _system values_ refers to - but either way it is important to make it obvious that  a  _string_ is being passed _whose interpre

[2019-10-30 22:03] tseward commented on #4289
Alright did some testing based on feedback... :) Use `Connect-PnPOnline -Graph` and you should be set.

[2019-10-30 23:07] theplaceboeffect commented on #4289
Thanks for the quick response. I’ll let you know if it worked. If I use this, will I also be able to create s SharePoint objects?

My code is switching between connecting to the -admin and regular sites. Is this a way to be able to do everything with one login?

[2019-10-30 23:30] theplaceboeffect commented on #4289
Dang. No luck:
[code]
Strangely, the version I am now seeing using Get-Module is running "SharePointPnPPowerShellOnline" v3.13.1909.0

[2019-10-31 00:11] tseward commented on #4289
Just use `Connect-PnPOnline -Graph`. You should get a device code authentication prompt in a browser.

[2019-10-31 09:01] yogkumgit commented on #4284
@officedocsbot assign @yogkumgit

[2019-10-31 09:01] yogkumgit commented on #4285
@officedocsbot assign @yogkumgit

[2019-10-31 09:01] yogkumgit commented on #4289
@officedocsbot assign @yogkumgit

[2019-10-31 11:00] joaolloureiro commented on #4193
This is more a design change request than documentation issue

[2019-10-31 11:43] yogkumgit commented on #4265
@dariomws306  Thank you very much for the contribution and sharing this explanation. @Canis-Lupis Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-10-31 11:43] #4265 closed

[2019-10-31 11:51] yogkumgit commented on #4252
@kenwith Please merge this PR #4287

[2019-10-31 11:54] yogkumgit commented on #4270
@chrisda Please merge this PR #4286

[2019-10-31 12:31] dariomws306 commented on #4193
Thank you @joaolloureiro. So we understand there is no way to do it now.

[2019-10-31 15:38] yogkumgit commented on #4260
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @lordBrightLord Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-10-31 15:38] #4260 closed

[2019-10-31 17:40] jefflundberg opened #4292 "Clarity: -Template for Staff Notebooks?"
The ```-Template``` parameter for ```New-Team``` has ```EDU_Class``` and ```EDU_PLC``` types defined, but no mention of Staff Teams (```EDU_Staff``` for example) as described in the article [Choose a team type to collaborate in Microsoft Teams](https://support.office.com/en-us/article/choose-a-team-type-to-collaborate-in-microsoft-teams-0a971053-d640-4555-9fd7-f785c2b99e67)

Is this supported at a

[2019-10-31 22:07] chrisda commented on #4206
So, the definitive information around this will be at [Additional OPATH syntax information](https://docs.microsoft.com/powershell/exchange/exchange-server/recipient-filters/recipient-filters#additional-opath-syntax-information). I've updated it to include the fact that an escaped dollar sign in a system value allows the entire OPath filter to be enclosed in single quotes, double quotes, or braces.

[2019-10-31 23:26] JeffreyBrew commented on #4193
Why did the original design not include this standard behavior/functionality that is present in nearly all other Get cmdlets?

Get-CsSlaConfiguration is the only Get cmdlet I know of that doesn't return a complete list of queried items.  For example, Get-CsUser will return a list of all users on a Skype for Business platform.  Once I find the user I am looking for then I can add the -Identity para

[2019-11-01 01:29] theplaceboeffect commented on #4289
@tseward - gotcha - I didn't realize -useweblogin and -graph are mutually exclusive; so it's working now. Thanks!

How do I run my scripts with cached authentication? And why would everything be working before and now it doesn't?

[2019-11-01 08:21] yogkumgit commented on #4292
@officedocsbot assign @yogkumgit

[2019-11-01 23:18] JLambEJG opened #4297 "Cannot find commandlet and broken link"
First, the broken link at the top of the page. It is listed that this is in the "Exchange" module. When I click the link, there's a 404 error.

Second, this commandlet is not present in the Exchange management Shell for Exchange 2013. Running from a CAS, I see the "Get-MailboxFolderPermission" and "get-MailboxFolderStatistics", but not "Get-MailboxFolder", as this article directs. What module do I

[2019-11-04 06:59] jonimattila opened #4306 "Basic Authentication when using MFA"
Basic Authentication should be depricated 2020 and still this powershell command uses basic authentication even though MFA is enabled, if trying to use the command with Basic Authentication blocked by Microsoft Server Security Baseline gpo you will get error "The WinRM client cannot process the request. Basic authentication is currently disabled in the client configuration" This should be fixed si

[2019-11-04 13:51] yogkumgit commented on #4297
@officedocsbot assign @yogkumgit

[2019-11-04 13:51] yogkumgit commented on #4306
@officedocsbot assign @yogkumgit

[2019-11-04 14:09] yogkumgit commented on #4139
@dariomws306 Thanks for the comments, I proceed and close it.

[2019-11-04 14:09] #4139 closed

[2019-11-04 14:15] yogkumgit commented on #4252
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @Embury1 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-04 14:16] #4252 closed

[2019-11-05 02:17] get-itips commented on #4072
The cmdlet is present now in the last version of the module. (1.0.7)

[2019-11-05 15:04] yogkumgit commented on #4072
@get-itips  Thanks forthe confirmation. @ahsanranjha Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-05 15:04] #4072 closed

[2019-11-06 07:37] John471 commented on #3746
Paramater -DisallowMembersViewMembership
This seems confusing. In the UI there is no option to disallow Members from viewing the membership of the group. Rather, there are two options for who is allowed to view membership 1) *Only* Group Members 2) Everyone. Please clarify what this parameter does and how to use it. "DisallowMembersViewMembership" is highly un-intuitive.

[2019-11-06 07:39] John471 opened #4320 "Paramater -DisallowMembersViewMembership"
Paramater -DisallowMembersViewMembership
This seems confusing. In the UI there is no option to disallow Members from viewing the membership of the group. Rather, there are two options for who is allowed to view membership:-
1) *Only* Group Members
2) Everyone
Please clarify what this parameter does and how to use it. "DisallowMembersViewMembership" is highly un-intuitive.

---
#### Document Detail

[2019-11-06 08:09] SimonSkotheimsvik opened #4321 "Example 1 uses wrong command"
The command in Example 1 is using Set-SafeAttachmentsPolicy instead of Set-SafeLinksPolicy which should be covered in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 923dc552-f943-e043-165d-9ed5fb734c6c
* Version Independent ID: fe62e834-2cb1-0a15-0d93-14194ca0e33a
* Content: [Set-SafeLinksPolicy (exchange)](

[2019-11-06 08:20] WillemVerwijs opened #4322 "example"
so how do I use the Set-OwaMailboxPolicy -OutlookBetaToggleEnabled $false - command in a way that all users have this disabled?
Real-world(!) examples would be so great on pages like this. What can I do get those?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43ca7906-9f33-2991-9da9-a626e5e45c46
* Version Independent

[2019-11-06 09:57] semopz opened #4324 "Missing documentation for NoBaseTemplate parameter for Get-PnPProvisioningTemplate"
Could someone please update page with a description about the NoBaseTemplate param. How is it used, what does it do and examples of when best to use or exclude this param

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 451dc826-b072-5bcd-e98d-319ee82d73fe
* Version Independent ID: c0c6ad38-e86c-cd0c-ac01-033791404e25
*

[2019-11-06 10:02] #4324 closed

[2019-11-06 13:17] yogkumgit commented on #4320
@officedocsbot assign @yogkumgit

[2019-11-06 13:17] yogkumgit commented on #4321
@officedocsbot assign @yogkumgit

[2019-11-06 13:18] yogkumgit commented on #4322
@officedocsbot assign @yogkumgit

[2019-11-06 13:46] ssteiner opened #4325 "Get-CsDialPlan: Appliets to is incorrect"
The Applies to section says it Get-CsDialplan applies to Skype for Business online. Yet, it appears this is no longer correct. When I log into my tenant, it tells me Get-CsDialplan is not a known command. The same goes for Get-CsVoicePolicy. The doc should be updated accordingly.

And is there a central place where changes in these commandlets are kept? Just noticing the change if a commandlet sto

[2019-11-06 17:20] yogkumgit commented on #4325
@officedocsbot assign @yogkumgit

[2019-11-06 17:36] giveitaGo commented on #2450
@kenwith I visited the PnP Powershell project on GitHub, and the documentation page points back here.
https://github.com/SharePoint/PnP-PowerShell/tree/master/Documentation

Furthermore, as the OP said, the samples are very basic here and in the PnP community. Also, the documentation here doesn't mention what the -Force or -Recycle switches actually do.  I can play around and figure it out, but I'

[2019-11-06 17:53] kenwith commented on #2450
@giveitaGo - sorry, I know the PnP documentation being here is very confusing. The PnP references work differently than the regular Office cmdlet references. The way the PnP references are set up is that the 'source of truth' for the documentation for them is inside of the code file for the cmdlet. For this one, it is here: https://github.com/SharePoint/PnP-PowerShell/blob/master/Commands/Files/Re

[2019-11-06 18:45] giveitaGo commented on #2450
Interesting and good to know. Thanks for the quick responses - super helpful.

[2019-11-07 04:54] warrenstark opened #4329 "Exchange v2 online powershell command get-exomailbox -inactiveonly returns incomplete results"
I've noticed in our environment the command
"get-exomailbox -inactivemailboxonly -resultsize unlimited" returns only a very small subset of our inactive mailboxes. Indeed, it returns exactly the same subset as "get-exomailbox -softdeletedmailbox -resultsize unlimited".

We returned ~2500 mailbox details in both commands but expected over 100k returns; waiting on exact numbers using old get-mailbox

[2019-11-07 05:47] warrenstark commented on #4329
122k records returned with old get-mailbox -inactivemailboxonly

[2019-11-07 09:33] KCarole commented on #4325
I have been experiencing the same problem since Monday with Get-CsDialplan and Get-CsVoicePolicy commands.
These two commands worked last week.
Is it a bug or a  choice of MS?
How can we be informed of these changes?

[2019-11-07 12:06] yogkumgit commented on #4329
@officedocsbot assign @yogkumgit

[2019-11-07 12:21] #4284 closed

[2019-11-07 14:01] rfoust opened #4330 "Async missing description"
The -Async property is missing a description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b640892-b0a1-4f20-1e25-fe5f0e97f5b6
* Version Independent ID: 51774b36-90fa-1d9a-5800-1a54d9f70590
* Content: [Get-Mailbox (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/get-mailbox?view=exch

[2019-11-07 14:13] rfoust commented on #4330
Also, the -Async property is required in addition to -Properties on that particular parameter set. So if you do a "Get-Mailbox -Properties Name" then it prompts for the -Async param.  On this page, it suggests that it's optional:

Get-Mailbox
   [-Async]
   -Properties <String[]>
   [-Archive]

[2019-11-07 14:56] yogkumgit commented on #4330
@officedocsbot assign @yogkumgit

[2019-11-07 15:13] tseward commented on #4289
@theplaceboeffect The -Graph switch is a device-based logon -- it should just work without explicit credentials after the initial run. Is that not what you're seeing?

[2019-11-07 18:16] yoDANIMALgurt opened #4333 "Get-EXOMailboxPermission - Error when piped from Get-EXOMailbox"
No issue when piping Get-EXOMailbox to Get-MailboxPermission...

[code]

exchange/exchange-ps/exchange/powershell-v2-module/Get-EXOMailboxPermission.md

[2019-11-08 10:24] zvoltejinylogin commented on #1783
Hello, please reopen this issue, what options are here for authentication when we have MFA authentication enabled on our tennant? I am getting errors while trying to utilize SMPT via powershell, the registration fails and I see Microsoft.IdentityModel.Clients.ActiveDirectory.AdalClaimChallengeException: AADSTS50076: Due to a configuration change made by your administrator, or because you moved to

[2019-11-08 10:46] yogkumgit commented on #4333
@officedocsbot assign @yogkumgit

[2019-11-08 11:26] yogkumgit commented on #4270
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @adamfowlerit Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-08 11:26] #4270 closed

[2019-11-08 17:40] kenwith commented on #1783
@yogkumgit - on this one you can ask reach out to @JoanneHendrickson who has contacts on the product team that owns this migration tool. Let's make sure to capture any findings in the article from the question of @zvoltejinylogin has so that others get the answer resolved too. Thanks for taking the time to improve the documentation. It is very much appreciated.

[2019-11-08 21:46] marcdayton opened #4342 "Add OnQuickLaunch switch to Set-PnPList"

[2019-11-08 21:48] marcdayton commented on #4342
Can OnQuickLaunch be added to this commandlet Set-PnpList?  Need to be able to add a list to the quicklaunch.

[2019-11-10 18:12] get-itips commented on #4274
Hello @DEberhardt thanks for noticing that, I created a pull request to correct the example.
Thanks again

[2019-11-10 18:20] get-itips commented on #4275
Hello @thomasbinder how are you? Thanks for noticing this. I created a pull request to correct the article.
Thanks again.

[2019-11-10 18:47] get-itips commented on #4283
Hello @shivtorov
Thanks for noticing this, I could verify that Enabled is not a valid filterable property of this cmdlet.
I created a pull request to correct the documentation on this article
Thanks again.

[2019-11-10 18:50] get-itips commented on #4285
Hello @JaeEmAre67
I need to kindly redirect you to open an issue in [this other repo](https://github.com/SharePoint/PnP-PowerShell/issues), where will be handled by the PnP community.
Please verify there, if this hasn't been reported in the past.
Thank you

[2019-11-10 19:10] get-itips commented on #4292
Hello @jefflundberg
Thanks for your feedback, as the article says:

Also checked with 1.0.2 version as is not yet supported.

Thank you

[2019-11-11 06:12] yogkumgit commented on #4342
@officedocsbot assign @yogkumgit

[2019-11-11 10:49] yogkumgit commented on #1783
@officedocsbot assign @yogkumgit

[2019-11-11 11:05] yogkumgit commented on #4274
@kenwith  Please merge this PR #4343

[2019-11-11 11:10] yogkumgit commented on #4275
@hirenshah1 Please merge the PR #4344

[2019-11-11 11:13] yogkumgit commented on #4283
@hirenshah1  Please merge this PR #4345

[2019-11-11 11:22] yogkumgit commented on #4285
@get-itips Thank you very much for the contribution and sharing this explanation. @JaeEmAre67
These repos are all open source and the community would welcome to contribute. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-11 11:22] #4285 closed

[2019-11-11 11:24] yogkumgit commented on #4292
@get-itips  Thank you very much for the contribution and sharing this explanation. @jefflundberg
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-11 11:24] #4292 closed

[2019-11-11 13:25] aov-arnold commented on #4254
Any ideas? @get-itips @hirenshah1 @yogkumgit

[2019-11-11 16:00] Weishaupt opened #4346 "Example 3 wrong"
Example 3 is off by three zeroes

Currently it is
&gt; Set-SPOSite -Identity https://contoso.sharepoint.com -StorageQuota 1500 -StorageQuotaWarningLevel 1400000

and it should be
&gt; Set-SPOSite -Identity https://contoso.sharepoint.com -StorageQuota 1500 -StorageQuotaWarningLevel 1400

I think example 3 can be deleted completely. As Example 5 does exactly the same and thus example 3 doesn't add a

[2019-11-11 16:59] lesterw1 opened #4347 "Add "For More Information" section"
Consider adding a "For More Information" section at the bottom of the page as follows:

## For More Information
For more information:

* The (ConnectExchangeOnlinePowerShell)[https://gallery.technet.microsoft.com/Connect-to-Exchange-Online-7d7365e0] script on TechNet can assist in installing the *Exchange Online Remote PowerShell* module.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-11-11 17:14] lesterw1 opened #4349 "404 Error on all "Module: exchange" links for cmdlets"
The text at the top of this page which says: "Module: [exchange](https://docs.microsoft.com/en-us/powershell/module/exchange/organization/?view=exchange-ps)" returns a 404 error.  References on all the other pages such as the Set-OrganizationConfig have the same issue.

As a result, there is no detail on where to find this elusive "exchange" PowerShell module (a search on (PowerShellGallery.com)[h

[2019-11-11 18:23] adv0cem opened #4352 "Command is not available in PS session"
After establishing connection to Office 365 Security & Compliance Center using Connect-IPPSSession -UserPrincipalName &lt;my username&gt; New-DlpEdmSchema command is not available in the list of imported commands.

Remove-DlpEdmSchema and Get-DlpEdmSchema are available but not New-DlpEdmSchema.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-11-11 19:25] pyoungberg opened #4353 "Get TimeZone Command"
The command "$TimeZone = Get-ChildItem "HKLM:\Software\Microsoft\Windows NT\CurrentVersion\Time zones" | foreach {Get-ItemProperty $\_.PSPath}; $TimeZone | sort Display | Format-Table -Auto PSChildname,Display" doesn't work for me. Outside of troubleshooting this, can you just link us to a doc page that lists the Time Zones in question? Thank you.

---
#### Document Details

⚠ *Do not edit this se

[2019-11-11 19:26] pyoungberg commented on #4353
For those that are curious: https://support.microsoft.com/en-us/help/973627/microsoft-time-zone-index-values

[2019-11-11 19:33] pyoungberg commented on #4353
Note, when setting "U.S. Mountain Standard Time" I had to remove the (.)'s in the string value. It appears the "Microsoft.Exchange.Data.Storage.Management.ExTimeZoneValue" they're looking for doesn't align to the list I linked above exactly. I'd like to see the Docs team make a new article with the correct values and link it here.

[2019-11-11 20:56] chrisda commented on #4353
I tried the command as written and it worked for me in these environments:

- Windows 10 v1903 and PowerShell v5.1.18362.145 connected to an Office 365 E5 tenant.

- Exchange Management Shell on Windows Server 2012 R2 and PowerShell v4 connected to Exchange 2016 and Exchange 2013.

- Exchange Management Shell on Windows Server 2016 and PowerShell v5.1.14393.3053 connected to Exchange 2019.

Is the

[2019-11-11 21:10] pyoungberg commented on #4353
Hi Chris, please see my last comments above. This is the type of info that should be available in a document, not accessed by a script that may or may not work for every user. Could you output the content of running that script into a document and link it here?

[2019-11-11 22:20] chrisda commented on #4353
There are advantages and disadvantages to each approach.

Having a 'script' (actually, two commands stuck together on one line) that works (important point) is far easier to maintain than a topic with a static list of values that will (notice I didn't say 'might') get-out-of-date or change across different versions of Windows.

[2019-11-12 08:09] Weishaupt opened #4357 "Set-CASMailboxPlan missing settings that are configurable on user basis"
I'm missing the possibility to disable SMTPClientAuth on the CASMailboxPlan level. This is possible on a per-user basis, but should IMHO also be possible at the mailbox plan level.

[2019-11-12 08:21] zvoltejinylogin commented on #1783
Well, to give an update on this. If you are using MFA auth on your tenant and you wish to use the powershell commands for SPMT then you should use - Register-SPMTMigration without the "-SPOCredential" switch, then you will be prompted to authenticate against your azure/tenant and script will start. I've been informed that there is some kind of a bug in Azure Auth for this kind of stuff, and it was

[2019-11-12 08:55] lesterw1 commented on #3206
This question has not been resolved. The reference provided by @dariomws306 is only basic information about how to connect to Exchange Online PowerShell. It does not address the issue raised by @luddiluddludde.  The issue is that Single Sign-On (SSO) hijacks the login process when attempting to login as a different user on the same domain.  Essentially (**suggestion to the developers**), a *-NoSSO

[2019-11-12 11:00] umutge opened #4359 "EWS usage reporting missing in Graph"
Article claims functionality of Get-Connection​ByClient​Type​Detail​Report commandlet.But this deprecated commandlet used to provide O365 EWS usage, while Microsoft Graph does not.

Graph v1.0 response: https://docs.microsoft.com/en-us/graph/api/reportroot-getemailappusageuserdetail?view=graph-rest-1.0&tabs=http#response
Graph beta response: https://docs.microsoft.com/en-us/graph/api/reportroot-ge

[2019-11-12 11:14] yogkumgit commented on #4346
@officedocsbot assign @yogkumgit

[2019-11-12 11:14] yogkumgit commented on #4347
@officedocsbot assign @yogkumgit

[2019-11-12 11:14] yogkumgit commented on #4349
@officedocsbot assign @yogkumgit

[2019-11-12 11:14] yogkumgit commented on #4352
@officedocsbot assign @yogkumgit

[2019-11-12 11:15] yogkumgit commented on #4357
@officedocsbot assign @yogkumgit

[2019-11-12 11:15] yogkumgit commented on #4359
@officedocsbot assign @yogkumgit

[2019-11-12 11:51] yogkumgit commented on #4275
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @thomasbinder Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-11-12 11:52] #4275 closed

[2019-11-12 12:02] yogkumgit commented on #4283
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @shivtorov Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-11-12 12:02] #4283 closed

[2019-11-12 12:04] yogkumgit commented on #4274
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @DEberhardt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-11-12 12:04] #4274 closed

[2019-11-12 13:42] dariomws306 commented on #4264
Hi @IngoGege,

Sorry for the delay.

I have been testing it and it's true that the example doesn't match:
![image](https://user-images.githubusercontent.com/33589238/68676469-e1091e00-0538-11ea-8105-508bcaacffd3.png)

But I get the same behaviour with your example:
![image](https://user-images.githubusercontent.com/33589238/68676504-f41bee00-0538-11ea-8c31-927ede6fe564.png)

So I'm trying to find

[2019-11-12 16:12] Canis-Lupis opened #4361 "Where are the logs saved to?"
For -LogLevel and -LogOnly where are the logs saved to?  I've run this cmdlet twice, no error, but no emails copied and no folder created in target mailbox.  Can't find the log files anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2c6c666-7221-7984-82a5-d731fee0ac3d
* Version Independent ID: 6970ac1a-0aaa-c62

[2019-11-12 17:05] yogkumgit commented on #4361
@officedocsbot assign @yogkumgit

[2019-11-12 21:53] Lsvingen opened #4364 "KeySize parameter correction"
The KeySize parameter has both 1024 and 2048 as accepted values, atleast per version 1.1.166.0 of the MSOnline module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd23aab2-5378-59a2-951f-3d808871f872
* Version Independent ID: fef7c224-f830-5056-685d-c2b61ec22c6c
* Content: [Rotate-DkimSigningConfig (exchange)](https

[2019-11-13 08:12] yogkumgit commented on #4364
@officedocsbot assign @yogkumgit

[2019-11-13 11:35] get-itips commented on #3946
@bjwhalen can you please review this thread and respond to our comments? I appreciate

[2019-11-13 11:36] get-itips commented on #3906
Hello @tomkau , any replies from the team? Thank you

[2019-11-13 11:52] WuWei42 opened #4365 "ArgumentNullException at using Add-PnPTaxonomyField"
If I try to excecute the documented example I will get an ArgumentNullException:
[code]
Part of the exception message:
[code]
My target system ist SPO.

Does anyone has the same exception and have probably an workaround for me?

[2019-11-13 12:14] SRE93 opened #4366 "cant enable side loading"
Hello, I want to enable the Side Loading feature. It isn't possible through Web UI (got an error message) and as well using PowerShell:

Set-CsTeamsAppSetupPolicy -Identity global -AllowSideLoading:$true
Invalid value for App Id(s).
    + CategoryInfo          : InvalidArgument: (Microsoft.Rtc.M...sAppSetupPolicy:TeamsAppSetupPolicy) [Set-CsTeamsApp
   SetupPolicy], PSArgumentException
    + Fully

[2019-11-13 12:43] yogkumgit commented on #4204
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @repton-infinity Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-13 12:43] #4204 closed

[2019-11-13 13:02] get-itips commented on #4320
Hello @John471

I need to kindly redirect you to this other repo for [PnP issues](https://github.com/SharePoint/PnP-PowerShell/issues)
As you might know, PnP cmdlets are community-driven, a member of the community will pick your request there and handle it, please do a search first in the issues to see if this has been already reported.

Hope this info helps you

[2019-11-13 13:41] yogkumgit commented on #4365
@officedocsbot assign @yogkumgit

[2019-11-13 13:42] yogkumgit commented on #4366
@officedocsbot assign @yogkumgit

[2019-11-13 13:46] yogkumgit commented on #4320
@get-itips Thank you very much for the contribution and sharing this explanation. @John471
These repos are all open source and the community would welcome to contribute. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-13 13:46] #4320 closed

[2019-11-13 13:54] sischanz opened #4368 "Example two has an typo"
When executing "Set-CsAuthConfig -Scenario BlockWindowsAuthExternallyAndModernAuthInternally" I receive this:
Set-CsAuthConfig : Cannot bind parameter 'Scenario'. Cannot convert value "BlockWindowsAuthExternallyAndModernAuthInternally" to type

This works fine:
Set-CsAuthConfig -Scenario BlockWindowsAuthExternalyAndModernAuthInternally

Seems that Externaly is implemented with one l in that case

[2019-11-13 13:59] get-itips commented on #4342
Hello @marcdayton

I need to kindly redirect you to this [other repo](https://github.com/SharePoint/PnP-PowerShell/issues) for PnP issues
As you might know, PnP cmdlets are community-driven, a member of the community will pick your request there and handle it, please do a search first in the issues to see if this has been already reported.

Hope this info helps you

[2019-11-13 14:09] get-itips commented on #4325
Hello @rogupta @tomkau can you confirm these cmdlets have been removed from SkypeFB Online? I checked and I can confirm that are not present in my tenant but I do want a final confirmation from you.
Thank you

[2019-11-13 15:00] asajrawat211993 opened #4369 "Creating Groups in bulk using powershell"
I have created a powershell script for creating groups.
I am using the following command in a for loop
`New-UnifiedGroup -AccessType Public -Alias $groupIdentity -DisplayName $groupDisplayName -Owner $smtpAddress`
I am trying to create a 1000 groups and executing above command for a single time takes around 8 seconds so creating 1000 takes a long time. Is there any command exist using which I can

[2019-11-13 15:03] yogkumgit commented on #4342
@get-itips Thank you very much for the contribution and sharing this explanation. @marcdayton
These repos are all open source and the community would welcome to contribute. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-13 15:03] #4342 closed

[2019-11-13 15:42] yogkumgit commented on #4366
@officedocsbot assign @yogkumgit

[2019-11-13 15:42] yogkumgit commented on #4368
@officedocsbot assign @yogkumgit

[2019-11-13 15:43] yogkumgit commented on #4369
@officedocsbot assign @yogkumgit

[2019-11-13 17:33] WuWei42 commented on #4365
Ok. I have found the solution.
I have used the termset display name instead of technical name.
Unfortunatly it is not so easy to find out the technical name of an term to define the correct path.

[2019-11-13 17:33] #4365 closed

[2019-11-13 18:45] micholus opened #4371 "SPMT MFA in SP onprem"
Hello.
I'm trying to migrate content from SharePoint 2013 to SPO.
My SP 2013 is using ADFS with MFA authentication.
Is there a way to use the SPMT tool to get the MFA credentials to add a migration task. Something similar to running register-spmtmigration without supplying the credentials which opens the authentication window.
Right now I'm getting the following error when trying to start the migr

[2019-11-14 03:00] dariomws306 commented on #4297
Hi @JLambEJG, thank you for your feedback.

When you try to run this cmdlet you get "cmdlet doesn't exist" or "mailbox doesn't exist"?

Have in mind this statement:
Use the Get-MailboxFolder cmdlet to view folders in your own mailbox. Administrators can't use this cmdlet to view folders in other mailboxes (the cmdlet is available only from the MyBaseOptions user role).

Also, please try to run thi

[2019-11-14 09:27] yogkumgit commented on #4371
@officedocsbot assign @yogkumgit

[2019-11-14 11:42] yogkumgit commented on #4289
@tseward  Thank you very much for the contribution and sharing this explanation. @theplaceboeffect Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-14 12:45] hkusulja opened #4372 "DelegatedOrganization is not working?"
Connecting to delegated organization parameter is not working, please check with product group and update this documentation accordingly.

Usage example:
`Connect-ExchangeOnline -UserPrincipalName myusername@partnercorp.com -DelegatedOrganization endcustomer.onmicrosoft.com`

It connects to partnercorp.com tenant / current user tenant, and not the delegated organization.

ExchangeOnlineManagement

[2019-11-14 13:22] kilasuit opened #4373 "Update the Variables used so that they have a decent reference"
Examples like the below are almost useless as there is no details as to what the variables should be

[code]

A better, more useful example would be as below as it helps visualise what these variables should be.

[code]

[2019-11-14 13:55] yogkumgit commented on #4372
@officedocsbot assign @yogkumgit

[2019-11-14 13:55] yogkumgit commented on #4373
@officedocsbot assign @yogkumgit

[2019-11-14 14:49] TeodoraI opened #4374 "-MembershipType not available"
Hi, in my tenant I have private teams and I want to select them by using the MembershipType argument. I installed the last version of MicrosoftTeams PowerShell module, however, I still don't have the option to use the MembershipType argument. Could you give information in which version of the PowerShell module it will be released and when it is expected to be released?

---
#### Document Details

[2019-11-14 15:36] tseward commented on #4256
@oliviadudley Did you open a thread on a support forum?

[2019-11-14 16:01] JoanneHendrickson commented on #1783
Thank you for bringing this issue up;I am updating the article now. MFA can only be supported by an interactive UX. Will let you know when it goes live

Joanne

[2019-11-14 16:52] yogkumgit commented on #4374
@officedocsbot assign @yogkumgit

[2019-11-14 17:37] dariomws306 commented on #4273
Hi @aldoug, thank you for your feedback.

When you follow the first step the module is imported:
On your local computer, open the Exchange Online Remote PowerShell Module ( Microsoft Corporation > Microsoft Exchange Online Remote PowerShell Module)

Then you need to run Connect-EXOPSSession to connect and all the cmdles are available.

[2019-11-14 17:44] kenwith commented on #508
@yogkumgit - you can reach out to @trent-green on feedback. He is the PM that owns SPO. I am happy to help however I can but am not a SME on this particular area. Feel free to loop me in with Trent so we can get this figured out. This issue has been open a very, very long time.

[2019-11-14 17:51] dariomws306 commented on #4306
@jonimattila Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please leave your feedback in https://office365.uservoice.com/.
We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to open the issue. Appreciate and

[2019-11-14 19:36] Cloudmaister opened #4376 "In correct information in this article"
The statement in purple above "Permission levels are defined by SharePoint Online administrators in the SharePoint Online Administration Center"  is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4992d050-ba30-54b6-7970-4e66ff3995c3
* Version Independent ID: ddc48376-3cb1-5491-7685-9ccc44be9f60
* Content: [N

[2019-11-14 19:40] theplaceboeffect commented on #4289
@tseward - sorry, I missed that reply. Yes, that worked perfectly. I've since evolved (devolved?) to storing the passwords in an secured string in memory so that I can have unattended scripts. I'm still not perfectly happy with it but it does mean I don't have to babysit my scripts.

[2019-11-14 20:37] dariomws306 commented on #4333
Hi @yoDANIMALgurt, thank you for your feedback.

It works for me:
![image](https://user-images.githubusercontent.com/33589238/68894168-7d801b80-0705-11ea-8280-ed44f904b33c.png)

[2019-11-14 21:52] dariomws306 commented on #4329
Hi @warrenstark, thank you for your feedback.

We are here to help to improve documentation. To suggest product improvements, in this case I can suggest you the next options:
https://techcommunity.microsoft.com/t5/Exchange-Team-Blog/Exchange-Admin-Improvements-Announced-at-Microsoft-Ignite-2019/ba-p/982121 (leave a comment here)
https://techcommunity.microsoft.com/t5/Exchange/ct-p/Exchange

[2019-11-15 05:26] biffbolt opened #4384 "These instructions are crap."
The instructions involving Exchange Online do a great job - if your goal is to assign Read permissions to O365 accounts to another O365 account.  Now where are the instructions how to do the same for the on-prem accounts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Inde

[2019-11-15 06:07] yogkumgit commented on #4376
@officedocsbot assign @yogkumgit

[2019-11-15 06:07] yogkumgit commented on #4384
@officedocsbot assign @yogkumgit

[2019-11-15 10:19] yogkumgit commented on #4256
@tseward  Thank you very much for the contribution and sharing this explanation. @oliviadudley as advised please follow with support forums. We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that valuable information. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-11-15 10:19] #4256 closed

[2019-11-15 10:23] yogkumgit commented on #4273
@dariomws306  Thank you very much for the contribution and sharing this explanation. @aldoug
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-15 10:27] yogkumgit commented on #4306
@jonimattila  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-11-15 10:27] #4306 closed

[2019-11-15 10:30] #4289 closed

[2019-11-15 10:31] aldoug commented on #4273
@dariomws306  thanks Dario. This request was to make sure the document was updated:) Looks like has been done, but appreciate you coming back to me!

[2019-11-15 10:32] yogkumgit commented on #4333
@dariomws306  Thank you very much for the contribution and sharing this explanation. @yoDANIMALgurt Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-15 10:37] #4273 closed

[2019-11-15 10:39] yogkumgit commented on #4329
@dariomws306  Thank you very much for the contribution and sharing this explanation. @warrenstark Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-15 10:39] #4329 closed

[2019-11-15 10:41] yogkumgit commented on #4297
@dariomws306  Thank you very much for the contribution and sharing this explanation. @JLambEJG
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-15 10:41] #4297 closed

[2019-11-15 11:42] dariomws306 commented on #4322
Hi @WillemVerwijs, thank you for your feedback.

This document is specific to and you should use Set-CASMailbox to assign this policy. Please check:
https://docs.microsoft.com/exchange/clients-and-mobile-in-exchange-online/outlook-on-the-web/apply-or-remove-outlook-web-app-mailbox-policy#use-exchange-online-powershell-to-apply-an-outlook-on-the-web-mailbox-policy-to-a-mailbox

Also, I am adding se

[2019-11-15 12:37] bament-hun opened #4386 "New AcceptGatewayPAIForOutboundCalls parameter is missing"
Recently we have introduced the following Parameter for trunk configuration:
https://support.microsoft.com/en-us/help/4458692/incorrect-caller-id-shown-on-the-skype-for-business-client-in-a-call
After you apply this update, you have to set the AcceptGatewayPAIForOutboundCalls parameter (this value is false by default) to true to display forwarded number for different trunks. For example:

Set-CsTr

[2019-11-15 12:57] yogkumgit commented on #4386
@officedocsbot assign @yogkumgit

[2019-11-15 12:59] yogkumgit commented on #4322
@chrisda Please merge the PR #4385

[2019-11-15 13:34] get-itips commented on #4346
Hello @Weishaupt Thanks for your feedback. I created a Pull Request proposing correcting the article.
Thank you

[2019-11-15 14:00] get-itips commented on #4366
Hello @SRE93 Hope you are doing great.
I tried to set the AllowSideLoading attribute of the Global AppSetupPolicy as you tried and had no issues

![image](https://user-images.githubusercontent.com/36666927/68947834-33467b00-0795-11ea-8f21-96241842224a.png)

I recommend opening a support ticket directly in your tenant if you continue seeing that error, also I will try to contact the product team to

[2019-11-15 15:01] yogkumgit commented on #4346
@trent-green Please merge the PR #4387

[2019-11-15 15:09] yogkumgit commented on #4366
@nomorephones  please help us with your explanation on this cmdlet

[2019-11-15 15:22] zvoltejinylogin commented on #4371
Hello, this is similar to this - https://github.com/MicrosoftDocs/office-docs-powershell/issues/1783

See my response to authenticate against a tenant that uses MFA, if you use MFA in on-prem scenario, I bet the resolution will be the same, you can't use credentials but have to sign-in via UX.

[2019-11-15 15:56] yoDANIMALgurt commented on #4333
@dariomws306 oh ok now it works for me too.

[2019-11-15 15:57] #4333 closed

[2019-11-15 17:15] get-itips commented on #4371
Hello @micholus
As @zvoltejinylogin referenced other article where @JoanneHendrickson explained that you have to sign-in via an UX, it's the only supported way.
Thank you

[2019-11-15 18:03] nomorephones commented on #4366
@yogkumgit the [documentation for this cmdlet](https://docs.microsoft.com/en-us/powershell/module/skype/set-csteamsappsetuppolicy?view=skype-ps) states

[2019-11-15 18:40] get-itips commented on #4373
Hello @kilasuit thanks for your feedback and noticing that the examples were incomplete.
I created a pull request to improve the examples, if it gets approved, it will be reflected in the online version of the article.
Thank you

[2019-11-17 10:16] nordtorp opened #4393 "SPO Authentication using App credentials"
Given your own recommendations to data migration I'm missing the AAD App Credential Authentication to SharePoint online - or have I missed something?

[2019-11-18 04:31] yogkumgit commented on #4393
@officedocsbot assign @yogkumgit

[2019-11-18 04:42] yogkumgit commented on #4373
@trent-green Please merge the PR #4390

[2019-11-18 12:11] yogkumgit commented on #4321
@chrisda  Pleae merge this PR #4392

[2019-11-18 12:59] Weishaupt commented on #4346
What is the benefit of keeping both: Example 3 and 5?

[2019-11-18 13:02] rafalfitt opened #4394 "please add a related link"
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp

---
#### Szczegóły dokumentu

⚠ *Nie edytuj tej sekcji. Jest ona wymagana dla docs.microsoft.com ➟ Dołączanie problemu w usłudze GitHub.*

* ID: f68366d5-3aa9-70bb-2da7-8436e8f3cc96
* Version Independent ID: c1f3a26f-09df-0c5d-8e8f-53ce38aca2a8
* Content: [Set-AntiPhishPolicy

[2019-11-18 13:58] get-itips commented on #4376
Hello @Cloudmaister thanks for your feedback.
I created a pull request to propose improving that sentence, if it gets approved, an updated version of the article will be published.
Thanks

[2019-11-18 14:09] get-itips commented on #4374
Hello @TeodoraI I am looking into this, trying to contact the Product Team.

[2019-11-18 14:48] yogkumgit commented on #4394
@officedocsbot assign @yogkumgit

[2019-11-18 14:54] get-itips commented on #4366
Thanks @nomorephones Jamie, did not notice that, so we can close this thread based on that. Thank you again.

[2019-11-18 14:56] yogkumgit commented on #4366
@get-itips  Thank you very much for the contribution and sharing this explanation. @SRE93
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-18 14:59] SRE93 commented on #4366
Hi, we were using a customized global app policy. We pinned the "Search" app in the sidebar. Unfortunally the search app isnt available any more in Teams App store and that's why I got the error "invalid app id". I resetted the global policy and then I could activate the side loading - per GUI and PowerShell. Thanks to all.

[2019-11-18 15:32] yogkumgit commented on #4376
@trent-green Please merge the PR #4395

[2019-11-18 17:12] get-itips commented on #4346
Hello Marvin, I'll leave that decision to the article's author. Thanks

[2019-11-18 17:13] get-itips commented on #4366
Great to hear, we will proceed closing this again.

[2019-11-18 17:16] #4366 closed

[2019-11-18 17:56] krisrajzlive opened #4396 "Updating Team Members with Azure AD DL"
Is it possible that I can turn on/off to sync the member list with Azure AD Distribution List?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94c88db6-7b57-7c5d-264b-ad7b765d2287
* Version Independent ID: c678b927-9100-b4ee-0039-86e37f28d0db
* Content: [Set-TeamMemberSettings (teams)](https://docs.microsoft.com/en-us/p

[2019-11-18 18:55] get-itips commented on #4368
Hello @sischanz thanks for noticing.
We managed to report this to the product team and they are now aware of this, and we can expect some news from them too.
We do not tend (and like) to document a bug, but in this case, I was told to add a note until the cmdlet is fixed.
Also found this [support article](https://support.microsoft.com/en-us/help/4346673/new-cmdlets-to-manage-skype-for-business-ser

[2019-11-18 20:09] #4368 closed

[2019-11-19 05:52] yogkumgit commented on #4396
@officedocsbot assign @yogkumgit

[2019-11-19 09:00] michevnew commented on #2233
So I still dont see any list of properties we can use with Filter, why was this closed? Can we please get the list of available properties added? And maybe remove the text about -filter being not functional.

[2019-11-19 10:37] yogkumgit commented on #4321
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @SimonSkotheimsvik Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-19 10:37] #4321 closed

[2019-11-19 10:40] yogkumgit commented on #4322
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @WillemVerwijs Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-19 10:40] #4322 closed

[2019-11-19 10:44] yogkumgit commented on #4353
@chrisda  Thank you very much for sharing this explanation. @pyoungberg
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-19 10:44] #4353 closed

[2019-11-19 13:37] jopgommans opened #4399 "Missing ability to connect to EXO with serviceprincipal"
As legacy authentication for Exchange Online will be unusable nearing the end of next year we need to have a way to authenticate to EXO using a service principal the way Azure/MSOL already support. Can this be added in?

[2019-11-19 14:13] yogkumgit commented on #4399
@officedocsbot assign @yogkumgit

[2019-11-19 16:28] kenwith commented on #2233
@michevnew - re-opened and we can ask @get-itips if he would be able to provide a link to the PR to resolve the issue. We can use this same issue to update doc based on your feedback too. Thanks for taking the time to contribute areas for improvement.

[2019-11-19 16:29] kenwith commented on #2233
Also, @trent-green owns SharePoint Online PowerShell so looping him in here too.

[2019-11-19 17:09] krishnachaluvadi opened #4400 "Trick to add Header node"
Hi, If anyone wants to add a "Header" type node to the navigation, use the below syntax.
Add-PnPNavigationNode -Location TopNavigationBar -Title "your node name" -Url "http://linkless.header"
The above cmdlet adds a node with type, "Header", otherwise, it adds a node of type "Link" and defaults to current site url. Hope it helps.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-11-19 17:22] yogkumgit commented on #4400
@officedocsbot assign @yogkumgit

[2019-11-19 21:48] dariomws306 commented on #4330
Hi @rfoust, thank you for your feedback.

I think these parameters aren't still available.

[2019-11-19 22:31] dariomws306 commented on #2410
Hi @terrogin, thank you for your comments.

Did you try [Get-DlpSiDetectionsReport](https://docs.microsoft.com/powershell/module/exchange/policy-and-compliance-dlp/get-dlpsidetectionsreport) instead of Get-DlpDetailReport?

[2019-11-20 00:21] grahamcropley opened #4407 "Descriptions swapped"
The description for the EmergencyDialString and the EmergencyDialMask parameters are the wrong way around.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccb12d7a-24b0-fe77-c228-bdca8f9c4eb2
* Version Independent ID: d3f4a454-b6b6-2396-f52c-523512b23105
* Content: [New-CsTeamsEmergencyNumber (skype)](https://docs.micro

[2019-11-20 05:12] ChebotovViktor opened #4409 "Error in sample code"
if run MOSS 2019 EE:

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e39560d-4312-1e65-c7a1-49eb2ef07bd6
* Version Independent ID: f0d4b39e-efc9-b5fe-f469-ec7f3db8f56e
* Content: [Set-SPProfileServiceApplicationSecurity (sharepoint-server)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-s

[2019-11-20 06:21] yogkumgit commented on #4407
@officedocsbot assign @yogkumgit

[2019-11-20 06:22] yogkumgit commented on #4409
@officedocsbot assign @yogkumgit

[2019-11-20 06:29] yogkumgit commented on #4330
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @rfoust Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-20 06:29] #4330 closed

[2019-11-20 07:21] ChebotovViktor opened #4410 "MOSS 2019 EE: Correctly working sample code"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e39560d-4312-1e65-c7a1-49eb2ef07bd6
* Version Independent ID: f0d4b39e-efc9-b5fe-f469-ec7f3db8f56e
* Content: [Set-SPProfileServiceApplicationSecurity (sharepoint-server)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/set-spprofileserviceappl

[2019-11-20 09:08] aov-arnold commented on #4254
Any new developments? We still have the problems. @get-itips @hirenshah1 @yogkumgit

[2019-11-20 09:39] yogkumgit commented on #4410
@officedocsbot assign @yogkumgit

[2019-11-20 11:00] yogkumgit commented on #4187
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @arowswell Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-20 11:00] #4187 closed

[2019-11-20 11:02] IngoGege commented on #4264
@dariomws306 @yogkumgit sorry for the delay. Actually I just figured out that the special characters were removed:
`$Keywords = "Aarskog's syndrome","Abandonment","Abasia","Abderhalden-Kaufmann-Lignac","Abdominalgia","Abduction contracture","Abetalipo proteinemia","Abiotrophy","Ablatio","ablation","Ablepharia","Abocclusion","Abolition","Aborter","Abortion","Abortus","Aboulomania","Abrami's disease

[2019-11-20 14:06] DynamitePLF opened #4411 "Please update this article"
Add a note about CAS Role only servers not responding properly, because they Proxy to MBX role.  CAS Role servers throw an obscure error "There are no Microsoft Exchange 2007 server roles installed" which is pointless to all Admins (rabbit hole error).

Please provide a link to validate CAS Role only servers using: Get-Services MSEX*
Link:  https://social.technet.microsoft.com/Forums/exchange/en-U

[2019-11-20 14:41] yogkumgit commented on #4411
@officedocsbot assign @yogkumgit

[2019-11-20 15:24] cabtilx opened #4412 "Is the policy active without a rule?"
Creating a policy through the GUI automatically creates an associated rule. If using PowerShell to create the policy is it automatically applied to all recipients? There appears to be no documentation on the Set-HostedOutboundSpamFilterRule cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 465aff8b-94d1-258b-0558-

[2019-11-20 15:55] yogkumgit commented on #4412
@officedocsbot assign @yogkumgit

[2019-11-20 17:05] jduvillier commented on #4325
Same issue here, looks to be since start of November?
Could we please have confirmation whether these cmdlets were retired from the online module?

[2019-11-20 17:36] VLG17 commented on #4399
@jopgommans Which article are you reffering to? Could you please link it?

[2019-11-20 21:56] jimcantor commented on #4374
I'm also interested in this - its a showstopper for me because I have 400+ private channels to create

[2019-11-20 22:38] jimcantor opened #4414 "How do I get access to the Private Preview version, so i can use -MembershipType and -Owner?"
How do I get access to the Private Preview version, so i can use -MembershipType and -Owner?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd44b411-4b59-b90f-0b82-ad0a87652854
* Version Independent ID: 2c52cc4e-47a1-be0d-8860-1011adf061fd
* Content: [New-TeamChannel (teams)](https://docs.microsoft.com/en-us/powershell

[2019-11-20 22:42] kenwith commented on #4414
@jimcantor - I believe @LanaChin has documented the process here: https://docs.microsoft.com/en-us/microsoftteams/private-channels-life-cycle-management

[2019-11-20 23:07] jimcantor commented on #4414
thanks!  wonderful news

Regards, Jim Cantor
jim.cantor@interaage.com.au
0414 593 723

On Thu, 21 Nov 2019 at 09:42, Ken Withee <notifications@github.com> wrote:

[2019-11-20 23:10] #4414 closed

[2019-11-20 23:10] jimcantor commented on #4414
.

[2019-11-21 00:43] get-itips commented on #4386
Hello @bament-hun
Thanks for reporting this. I created a pull request to propose adding this information to the article.
Thank you

[2019-11-21 02:00] kefujino opened #4418 "Confirmation of Set-SPOSite command limitation for the group site collection"
The group site collection, which associated with Office 365 group, is not allowed to change **some** site-level properties using by Set-SPOSite command.
Ref: [#1555](https://github.com/MicrosoftDocs/office-docs-powershell/issues/1555), [#2695](https://github.com/MicrosoftDocs/office-docs-powershell/issues/2695)

But, if we use the CSOM (Client Side Object Model), we can change all of the site-leve

[2019-11-21 02:13] Justin-Shi opened #4419 "Document "Connect to Exchange Online PowerShell" will be expired after October 13th, 2020?"
Hi Team,

From this [announcement](https://developer.microsoft.com/en-us/office/blogs/end-of-support-for-basic-authentication-access-to-exchange-online-apis-for-office-365-customers/), the basic authentication for Remote Power shell in Exchange online will be retired at October 13th, 2020. Does that means the document "[Connect to Exchange Online PowerShell"](https://docs.microsoft.com/en-us/power

[2019-11-21 03:03] tseward commented on #4409
There isn't an error. This works fine given the claim has been previously added. In your case, it means the group wasn't assigned rights on the UPSA prior to running the cmdlet.

[2019-11-21 03:08] tseward commented on #4410
This could be cleaned up and added as a second example. To keep in line with the existing example:

[code]

[2019-11-21 05:19] yogkumgit commented on #4418
@officedocsbot assign @yogkumgit

[2019-11-21 05:19] yogkumgit commented on #4419
@officedocsbot assign @yogkumgit

[2019-11-21 05:33] damianscoles opened #4420 "Example is incorrect"
The explanation of the example provided for this cmdlet is incorrect.  The example shows the variable $UserCredential which is used to get credentials to connect to Exchange Online.  However, the explanation uses the wrong variable name (twice!):  "The first command gets the user credentials and stores them in the $Credential variable." and "The second command connects the current PowerShell sessi

[2019-11-21 10:54] trir262 commented on #3910
A more 'PowerShell-friendly' approach is ```Set-Item WSMan:\localhost\Client\Auth\Basic -Value 'True'```, this requires administrative permissions

[2019-11-21 11:34] yogkumgit commented on #4420
@officedocsbot assign @yogkumgit

[2019-11-21 11:48] yogkumgit commented on #4386
@hirenshah1 Please merge this PR #4417

[2019-11-21 11:53] get-itips commented on #4393
Hello @nordtorp
To better reply your inquiry I need to know which article are you talking about, do you refer to [Connect-SPOService](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/connect-sposervice?view=sharepoint-ps) cmdlet article?

Thanks

[2019-11-21 12:17] CTMSASnowfox opened #4423 "Please add -IncludeID to Import-PnPTaxonomy"
We have an usecase where we develop and customize managed metadata and application functionality is bound to GUIDs on the terms. When moving between development and production tenant we need to be able to replicate the entire taxonomy including the GUIDs. However we can export the taxonomy in its entirety including GUIDs (https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/export-pnp

[2019-11-21 12:32] yogkumgit commented on #4423
@officedocsbot assign @yogkumgit

[2019-11-21 14:30] steven-de-bruyne opened #4424 "Incorrect description of required admin roles to run the cmdlet"
I believe the sentence "You must be a SharePoint Online global administrator and a site collection administrator to run the cmdlet." is incorrect.
You are either a "SharePoint Admin" or a "Global Admin".
See Admin Roles documentation: https://docs.microsoft.com/en-us/office365/admin/add-users/about-admin-roles?view=o365-worldwide
Also, a site collection administrator is specific to a given site co

[2019-11-21 14:39] yogkumgit commented on #4424
@officedocsbot assign @yogkumgit

[2019-11-21 15:13] joanabdo opened #4425 "Use the Exchange Online PowerShell V2 module in Azure Automation Account with enabled MFA"
Could you please clarify, how can we use this command in Azure Automation Account?
MFA is enabled for all users

BR,
Joan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Content: [Exchange Online PowerShell V2](https://

[2019-11-21 15:27] msbemba commented on #4420
@damianscoles Thank you for your feedback. We have made changes to the doc via PR https://github.com/MicrosoftDocs/office-docs-powershell/pull/4426

Thanks
Sri

[2019-11-21 15:34] msbemba commented on #4419
@Justin-Shi Thank you for your feedback. We have added a note to the doc via PR https://github.com/MicrosoftDocs/office-docs-powershell/pull/4427

Thanks
Sri

[2019-11-21 16:43] oleschri opened #4428 "The Outputs section is missing deviant behavior for Exchange Online"
On successfully creating a DistributionGroup the cmdlet New-DistributionGroup always writes the following text to the PowerShell host which cannot be redirected or suppressed in any way. The Exchange team might rethink being bad PowerShell citizens. See also: https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/35163415-new-distributiongroup-allow-redirection-of-infor

(local

[2019-11-21 17:02] Canis-Lupis opened #4429 ""created by a Timer Job later""
Any way to see that Timer?  Or bypass it?  Show status?  We really can't be waiting 24 hours before determining if commands worked or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f61076b-1d49-4f87-b400-fff52d067ea8
* Version Independent ID: 8173ce51-c1ef-50be-2069-1ccd3d0ab5b3
* Content: [Request-SPOPersonalSit

[2019-11-21 17:04] msbemba commented on #4412
@cabtilx Thank you for your feedback. If the policy is created via Powershell it is applied to all recipients.  The attributes available on the set-HostedOutboundSpamFilterRule are minimal as mentioned below and the admins cannot use the PS cmdlet to change the "applied to" parameter as it is not available yet.

[-Identity] <HostedOutboundSpamFilterPolicyIdParameter>
   [-AdminDisplayName <String>

[2019-11-21 20:13] get-itips commented on #4410
Hello @tseward I am adding your example to the article thru a pr.
@ChebotovViktor hope this information clarifies your scenario.

[2019-11-21 20:14] get-itips commented on #4409
Hello @ChebotovViktor
Please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/4410

[2019-11-21 21:40] dariomws306 commented on #4361
Hi @Canis-Lupis, thank you for your feedback.

-TargetFolder and -TargetMailbox parameters are mandatory when you use -LogLevel or -LogOnly.

[2019-11-21 21:56] dariomws306 commented on #4359
Hi @umutge, thank you for your feedback.

I think you can get similar information with reportRoot:getEmailAppUsageUserDetail. All you can find in the next place is all what you get:
https://docs.microsoft.com/en-us/graph/api/overview?view=graph-rest-1.0
Sorry but at this time I cannot provide you here with information about planned feature from the product group.

[2019-11-22 04:47] erictechtips opened #4433 "I really hope this command supports Teams App Setup Policy in the future."
It would be nice if this command worked for Teams App Setup Policies.  https://docs.microsoft.com/en-us/MicrosoftTeams/teams-app-setup-policies

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f8afd4c-7828-e7e7-dddc-e14673396f39
* Version Independent ID: dabb388b-8614-4b69-4e0a-f0536ab2bab6
* Content: [New-CsGroupPolicy

[2019-11-22 06:16] chenxizhang commented on #3529
I found the deloy maybe 2-3 hours or even longer. How can we add the guest quickly?

[2019-11-22 07:05] yogkumgit commented on #4420
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @damianscoles Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-22 07:05] #4420 closed

[2019-11-22 07:10] yogkumgit commented on #4425
@officedocsbot assign @yogkumgit

[2019-11-22 07:10] yogkumgit commented on #4428
@officedocsbot assign @yogkumgit

[2019-11-22 07:11] yogkumgit commented on #4429
@officedocsbot assign @yogkumgit

[2019-11-22 07:12] yogkumgit commented on #4433
@officedocsbot assign @yogkumgit

[2019-11-22 07:15] yogkumgit commented on #4419
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @Justin-Shi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-22 07:15] #4419 closed

[2019-11-22 07:19] yogkumgit commented on #4412
@msbemba  Thank you very much for the contribution and sharing this explanation. @cabtilx
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Please keep contributing with your suggestions to improve the documentation.

[2019-11-22 07:27] yogkumgit commented on #4410
@tseward Please review the PR#4430

[2019-11-22 07:28] yogkumgit commented on #4409
@tseward Please review the PR #4430

[2019-11-22 07:31] yogkumgit commented on #4361
@dariomws306  Thank you very much for the contribution and sharing this explanation. @Canis-Lupis Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Please keep contributing with your suggestions to improve the documentation.

[2019-11-22 07:31] #4361 closed

[2019-11-22 07:36] yogkumgit commented on #4359
@dariomws306  Thank you very much for the contribution and sharing this explanation. @umutge
Hope this comment is helpful for you.If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Please keep contributing with your suggestions to improve the documentation.

[2019-11-22 07:36] #4359 closed

[2019-11-22 08:09] cabtilx commented on #4412
Hello Sri,

The set-HostedOutboundSpamFilterRule has much more parameters available. It accepts parameters to set the 'From' & 'FromMemberOf' values (although I can't get the 'SenderDomainIs' to work).
The bigger problem is that the GUI will accept any free-text values for the 'FromMemberOf' group and on save the webpage creates a policy but does not create the rule if the group does not exist, ca

[2019-11-22 11:31] get-itips commented on #4396
Hello @krisrajzlive
Thanks for your feedback.
Set-TeamMemberSettings has been deprecated and replaced by Set-Team, besides that, I don't think that is possible, for feature requests, I invite you to visit https://microsoftteams.uservoice.com/
Thanks

[2019-11-22 11:35] get-itips commented on #4400
Hello @krishnachaluvadi thanks for your feedback!

As you might know, PnP cmdlets are open source and maintained by the community, if you want, you can request that example be added to the documentation, creating a pull request [here](https://github.com/SharePoint/PnP-PowerShell/blob/dev/Commands/Navigation/AddNavigationNode.cs) or you can open an issue in that repo with the same information you p

[2019-11-22 11:43] get-itips commented on #4407
Hello @grahamcropley thanks for noticing and reporting, I see that a community member has created a PR to correct the article, I reviewed and once it gets approved it will be in the published version of the article.

[2019-11-22 12:36] lovethakker02 opened #4435 "Is there any way we can update channel visibility using powershell?"
In New-TeamChannel, if we don't pass membership, sometimes it is creating channel in hidden mode. There is no documentation if we can update that to make it visible to every one.

Can you please provide details on it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2350a428-0934-b5bb-46fc-3fb30a0578ec
* Version Independ

[2019-11-22 12:43] yogkumgit commented on #4407
@danny-levin  Please merge the PR #4422

[2019-11-22 12:52] yogkumgit commented on #4400
@get-itips Thank you very much for the contribution and sharing this explanation. @krishnachaluvadi
These repos are all open source and the community would welcome to contribute. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-11-22 12:52] #4400 closed

[2019-11-22 12:56] yogkumgit commented on #4396
@get-itips  Thank you very much for the contribution and sharing this explanation. @krisrajzlive
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-22 12:56] #4396 closed

[2019-11-22 13:20] yogkumgit commented on #4435
@officedocsbot assign @yogkumgit

[2019-11-22 14:03] danieljohansso opened #4436 "RecordType out-of-date"
RecordType list does not seem to be updated.

For example using the Search-UnifiedAuditLog command I was able to get records with the record type 'PowerAppsApp' and 'SharePointFieldOperation'. I'm sure there are more that are missing. Also is any of the RecordTypes not being used anymore?

Would be great if you could keep it up-to-date.

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-11-22 14:28] Canis-Lupis opened #4437 "Where are the logs saved to?"
Hello,
I am re-opening this question that I had asked previously.  To recap, I'm asking where the log files are stored when you use -LogOnly and -LogLevel.  @dariomws306  responded that -TargetFolder and -TargetMailbox parameters are mandatory when you use -LogLevel or -LogOnly, so my feedback was closed.

This may be true, however, this has nothing to do with logging.  -TargetFolder and -TargetMa

[2019-11-22 14:53] yogkumgit commented on #4436
@officedocsbot assign @yogkumgit

[2019-11-22 14:53] yogkumgit commented on #4437
@officedocsbot assign @yogkumgit

[2019-11-22 15:14] get-itips commented on #4371
https://github.com/MicrosoftDocs/office-docs-powershell/pull/4381

[2019-11-22 15:30] yogkumgit commented on #4371
@get-itips  thanks for your effort. @JoanneHendrickson  Thank you very much for the contribution and updating the documentation with PR. @micholus Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-22 15:30] #4371 closed

[2019-11-22 15:36] yogkumgit commented on #1783
#4381

[2019-11-22 15:37] #1783 closed

[2019-11-22 16:42] zeroeagle1 commented on #4425
if possible in a non-interactive way (for backend application)

[2019-11-22 16:59] BrianTJackett opened #4440 "This commandlet is not available in current release"
This commandlet for Connect-PnPMicrosoftGraph does not appear to be exported (usable) in the 3.15.1911.0 version of the module.  Has it been replaced by functionality in the Connect-PnPOnline commandlet?  If so (which appears to be the case) please update this article with the version when that change took place and guidance on usage.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-11-22 17:00] chrisda commented on #4412
For the record, we are in the process of getting the new *-HostedOutboundSpamFilterRule cmdlets and the corresponding new features in the *-HostedOutboundSpamFilterPolicy cmdlets documented. They should be available soon

[2019-11-22 17:55] YuriySamorodov opened #4441 "SPO Site Group Membership"
Hello,
It would be really handy to be able to add/remove users from SPO Site group with Set-SPOSiteGroup/Add-SPOSiteGroupMember/Remove-SPOSiteGroup

[2019-11-23 00:36] dariomws306 commented on #4357
Hi @Weishaupt, thank you for your feedback.

We are here to help to improve docs.microsoft.com, we cannot help you new features request. Please to request this feature go to:
https://office365.uservoice.com/

In the next link you can find something similar and you can vote:
https://office365.uservoice.com/forums/264636-general/suggestions/34472356-allow-admins-to-fully-manage-the-casmailboxplan-to

[2019-11-23 00:47] dariomws306 commented on #4352
Hi @adv0cem, thank you for your feedback.

I suggest that you open a support case as I can see that the cmdlet is available in my lab tenant:
![image](https://user-images.githubusercontent.com/33589238/69469721-18fe3580-0d71-11ea-9e87-ce99b42f49a4.png)

[2019-11-23 00:52] dariomws306 commented on #4349
Hi @lesterw1, thank you for your feedback.

This is a well known issue and we are looking on to it.

[2019-11-23 00:57] dariomws306 commented on #4347
Hi @lesterw1, thank you for your feedback.

This script is not official and we cannot add unofficial scripts or articles to docs.microsoft.com.

[2019-11-23 01:02] dariomws306 commented on #4384
Hi @biffbolt, thank you for your feedback.

Could you please elaborate in more detail?

This article explains how you can connect to Exchange Online without MFA. If you want to connect/open Exchange Management Shell (on-premises):
https://docs.microsoft.com/powershell/exchange/exchange-server/connect-to-exchange-servers-using-remote-powershell

Or if you have the module installed in the server/wor

[2019-11-23 01:06] dariomws306 commented on #4372
Hi @hkusulja, thank you for your feedback.

V2 module is on preview. Please to provide any feedback about it send an email to this address:
exocmdletpreview@service.microsoft.com

[2019-11-23 01:13] dariomws306 commented on #4369
Hi @asajrawat211993, thank you for your feedback.

Sorry, there is now way to do it. Single line yes, but not single command.

Are you using something like "Import-Csv file.csv | New-UnifiedGroup -AccessType Public -Alias $_.GroupIdentity -DisplayName $_.GroupDisplayName -Owner $_.SmtpAddress"?

[2019-11-23 01:36] dariomws306 commented on #4437
Hi @Canis-Lupis, it's true, thank you to open a new issue about this.

I'm adding next sentence to the description of -LogLevel parameter:
"When you included this parameter, an email message is created and sent to the mailbox specified by the TargetMailbox parameter. The log file (which is a CSV-formatted file named Search Results.csv) is attached to this email message, and will be located in the

[2019-11-23 03:30] biffbolt commented on #4384
The problem is not with the connection to Exchange Online. Quite the opposite. The instructions explicitly claim to assist the user in running some commands on the *on-premise* Exchange server, and then instead connect the user to Exchange Online and attempt to run the commands there instead.

Fundamentally the syntax of the main commands worked for me, once I figured out that I needed to run them

[2019-11-23 12:27] dariomws306 commented on #4384
This article doesn't mention Exchange On-premises neither Exchange Management Shell.

It states: "On your local computer, open Windows PowerShell and run the following command."

So, probably you will open Windows PowerShell in your computer to access Exchange Online PowerShell, but you can also open it on an Exchange server if you want.
But you don't need to use Exchange Management Shell.

[2019-11-23 16:01] dariomws306 commented on #4264
Thank you @IngoGege!

I have tested and it works perfect. I'm updating example 1 and example 2 also as it has the same problem.

[2019-11-24 15:35] lesterw1 commented on #4347
Thanks @dariomws306. The install process is tedious and poorly documented elsewhere. I personally spent over an hour trying to find the necessary steps. Perhaps the steps can be re-captured herein as follows:

### To Install the Exchange Online PowerShell Module for MFA
Launch Internet Explorer or Edge and enter the URL https://cmdletpswmodule.blob.core.windows.net/exopsmodule/Microsoft.Online.CSE

[2019-11-25 02:13] msbemba commented on #4424
@steven-de-bruyne Thank you for your feedback. We have made changes to the doc via PR https://github.com/MicrosoftDocs/office-docs-powershell/pull/4447

Thanks
Sri

[2019-11-25 02:20] msbemba commented on #4429
@Canis-Lupis Thank you for your feedback. Unfortunately, It's not possible to configure (change schedule, trigger, Bypass, etc.) timer jobs in SharePoint Online.

However, if need be, you can find out when it last ran using the properties dlc_PolicyUpdateLastRun
and dlc_ExpirationLastRun by accessing SharePoint Online site collection in SharePoint Designer 2013 by going to Site Options. So you can

[2019-11-25 03:11] msbemba commented on #4418
@kefujino Thank you for the feedback. You are correct, As we mentioned in the other two issues( #1555 and #2695) this is a command limitation for a group site collection. Alternatively, you can use CSOM to change properties that cannot be changed with other commands for a group site collection.

It is very well supported to use the SharePoint client object model (CSOM) to retrieve, update, and man

[2019-11-25 06:03] j0rt3g4 opened #4448 "Errors on | select * -first 1"
![image](https://user-images.githubusercontent.com/5489996/69516508-7338fb00-0f17-11ea-825a-3c9486cabeba.png)

After connecting when I want to know all the properties inside by using:
[code]

Got an exception:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0d68f09-e821-5c48-e06d-21fda22243dc
* Version Independent ID:

[2019-11-25 06:52] yogkumgit commented on #4440
@officedocsbot assign @yogkumgit

[2019-11-25 06:53] yogkumgit commented on #4441
@officedocsbot assign @yogkumgit

[2019-11-25 06:54] yogkumgit commented on #4448
@officedocsbot assign @yogkumgit

[2019-11-25 07:11] yogkumgit commented on #4412
@chrisda Thanks for this information.

[2019-11-25 07:11] #4412 closed

[2019-11-25 07:18] yogkumgit commented on #4394
@VLG17  Thank you very much for the contribution and updating the documentation with PR. @rafalfitt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-25 07:19] #4394 closed

[2019-11-25 07:24] yogkumgit commented on #4357
@Weishaupt   Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-11-25 07:24] #4357 closed

[2019-11-25 07:31] yogkumgit commented on #4352
@dariomws306  Thank you very much for the contribution and sharing this explanation. @ravick4u
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution.

We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certai

[2019-11-25 07:31] #4352 closed

[2019-11-25 07:37] yogkumgit commented on #4349
@ Thank you very much for sharing this information. @lesterw1 writer will update the document once we reached to the resolution. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-25 07:37] #4349 closed

[2019-11-25 07:42] yogkumgit commented on #4384
@dariomws306  Thank you very much for the contribution and sharing this explanation. @biffbolt
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-25 07:42] #4384 closed

[2019-11-25 07:45] yogkumgit commented on #4372
@dariomws306  Thank you very much for the contribution and sharing this explanation. @hkusulja
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-25 07:47] yogkumgit commented on #4369
@dariomws306  Thank you very much for the contribution and sharing this explanation. @asajrawat211993 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-25 07:47] #4369 closed

[2019-11-25 07:50] yogkumgit commented on #4437
@chrisda Please merge this PR #4445

[2019-11-25 07:56] yogkumgit commented on #4264
@chrisda Please merge this PR #4446

[2019-11-25 08:02] yogkumgit commented on #4429
@msbemba  Thank you very much for the contribution and sharing this explanation. @Canis-Lupis
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-25 08:02] #4429 closed

[2019-11-25 08:05] yogkumgit commented on #4418
@msbemba  Thank you very much for the contribution and sharing this explanation. @kefujino
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-25 10:14] hkusulja commented on #4372
@yogkumgit  - Yes, I have recieved email from the team and they say they will update the docs (or you?) , but currently docs are not correct. Please reopen this and fix it

[2019-11-25 11:04] saimonesh commented on #4436
The search-unifiedauditlog seems to have many parameters but description for these parameters were not update like -longerretentionenabled ,-asjob etc.Also please update all the record types

[2019-11-25 11:35] dariomws306 commented on #4372
Hi @hkusulja,

If you got a reply from the product team, please wait some days so they can take care of it. We cannot update the document.

Thank you!

[2019-11-25 11:52] dariomws306 commented on #4347
Hi @lesterw1, the same steps are documented in the article. Please check the third bullet:
https://docs.microsoft.com/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell#what-do-you-need-to-know-before-you-begin

Or... I think I'm not understanding you.

Please let me know. Thank you!

[2019-11-25 11:57] yogkumgit commented on #4424
@trent-green Please merge this PR #4447

[2019-11-25 11:59] #4372 closed

[2019-11-25 12:04] yogkumgit commented on #4364
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @Lsvingen Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-25 12:04] #4364 closed

[2019-11-25 12:13] yogkumgit commented on #4409
@kenwith Please merge this PR #4430 . Thanks.

[2019-11-25 12:18] yogkumgit commented on #4393
@get-itips  Thank you very much for the contribution and digging deep into it.  @nordtorp We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docume

[2019-11-25 12:18] #4393 closed

[2019-11-25 12:39] msbemba commented on #4428
@oleschri Thank you for your feedback.  This message is by design when you run new-distributiongroup cmdlet and it is an informational message for admins. As such, there is no need for a change in the document specified.

Thanks
Sri

[2019-11-25 12:42] msbemba commented on #4428
@oleschri  You can upvote the design change via the UserVoice that was mentioned earlier (https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/35163415-new-distributiongroup-allow-redirection-of-infor) so that the product group can take action accordingly.

Hope this helps!

Thanks
Sri

[2019-11-25 12:44] yogkumgit commented on #4428
@msbemba  Thank you very much for the contribution and sharing this explanation. @oleschri
Hope this comment is helpful for you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-25 12:44] #4428 closed

[2019-11-25 16:16] kenwith commented on #4374
The functionality is available in the test gallery however I don't have information on when it will be released in the main gallery. The latest release in the main gallery is 1.0.3 and it wasn't included in that release. Using the features from the test gallery is documented by @LanaChin here: https://docs.microsoft.com/en-us/microsoftteams/private-channels-life-cycle-management

[2019-11-25 16:16] #4374 closed

[2019-11-25 16:47] Korbyn72 opened #4449 "Cls default behaviour"
Since CU-123, this default appears to have change to just the local computer instead of all nodes in the pool/site/Topology "If you do not include the Computers parameter or the Pools parameter, the Start-CsClsLogging cmdlet will automatically run against all the computers in the topology."

This has basically rendered Jame's Centralized Clslogging script useless in a enterprise environment.

---

[2019-11-25 16:53] yogkumgit commented on #4449
@officedocsbot assign @yogkumgit

[2019-11-25 17:51] hegedusgyorgy opened #4450 "typo at AdditionalResponse parameter"
In the explanation of the AdditionalResponse parameter the "value of the AdditionalResponse parameter is $true" should be corrected to "value of the **Add**AdditionalResponse parameter is $true".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0a9c45b-34dd-c1c8-89f0-84f3d968eac4
* Version Independent ID: ec9c910c-25f2-

[2019-11-25 20:01] lesterw1 commented on #4347
Ah so it is.  Perhaps this could be annotated to allow direct install via:
Launch Internet Explorer or Edge and enter the URL https://cmdletpswmodule.blob.core.windows.net/exopsmodule/Microsoft.Online.CSE.PSModule.Client.application"

[2019-11-25 21:21] PJNield opened #4451 "Missing "SkipDiomainVailidation" switches"
The folloiwing switches are missing from this cmdlet, which are present on "Add-RecipientPermission":
   [-SkipDomainValidationForMailContact]
   [-SkipDomainValidationForMailUser]
   [-SkipDomainValidationForSharedMailbox]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f40052d-5df1-0d97-4d15-5d7729674f99
* Version In

[2019-11-26 01:24] kefujino commented on #4418
@msbemba
Thank you for your quick answer!!
Very helpful for me.

@yogkumgit
Thank you!

[2019-11-26 01:24] #4418 closed

[2019-11-26 05:30] 7angjinhao opened #4452 "How to use PowerShell to apply custom template?"
Hi,
I want to know the whole process of creating sitecollection and applying custom template through PowerShell. And what commands are used.
Thanks

[2019-11-26 05:43] m00nd commented on #1691
@AndreaBarr  is it resolved, -ErrorAction Stop has been added or not?

[2019-11-26 07:07] howardzhangmsft opened #4453 "AllowFederatedParticipantJoinAsSameEnterprise needs clarification"
Please update this parameter as follows:

-AllowFederatedParticipantJoinAsSameEnterprise
PARAMVALUE: $true | $false

Indicates whether a federated user will be admitted into conference directly. The default value is False.
This setting applies to the user who organizes the conference:
If set to False and AllowAnonymousParticipantsInMeetings is False, federated users will be treated as anonymous us

[2019-11-26 07:14] ekzp opened #4454 "Misleading Title"
The article title "SharePoint Online CmdLets" suggests that when I click it, I get a list of cmdlets. Instead I am getting a general blurb about what is the SPO management shell, with no link to where the cmdlets are.

It isn't helping, please fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e45fe794-97e2-c5c0-ebed-a

[2019-11-26 08:12] yogkumgit commented on #4450
@officedocsbot assign @yogkumgit

[2019-11-26 08:13] yogkumgit commented on #4451
@officedocsbot assign @yogkumgit

[2019-11-26 08:13] yogkumgit commented on #4452
@officedocsbot assign @yogkumgit

[2019-11-26 08:14] yogkumgit commented on #4453
@officedocsbot assign @yogkumgit

[2019-11-26 08:14] yogkumgit commented on #4454
@officedocsbot assign @yogkumgit

[2019-11-26 08:18] yogkumgit commented on #4347
@dariomws306  Thank you very much for the contribution and sharing this explanation. @lesterw1
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-26 08:18] #4347 closed

[2019-11-26 13:06] get-itips commented on #4423
Hello @CTMSASnowfox
I need to kindly ask you to post that suggestion in [this repo](https://github.com/SharePoint/PnP-PowerShell/), as you might know, PnP cmdlets are open source and community-driven and maintained, a member of that community will pick up your request there.
Thank you

[2019-11-26 13:08] get-itips commented on #4440
Hello @BrianTJackett
I need to kindly ask you to post that issue in [this repo](https://github.com/SharePoint/PnP-PowerShell/), as you might know, PnP cmdlets are open source and community-driven and maintained, a member of that community will pick up your request there.
Thank you

[2019-11-26 13:10] get-itips commented on #4433
Hello @erictechtips thanks for your feedback.
I need to kindly redirect your suggestion [here](https://microsoftteams.uservoice.com/) that way, will reach the product team and they will hear your idea.
Thank you

[2019-11-26 13:16] get-itips commented on #4435
Hello @lovethakker02
Thanks for your feedback.
As you might know, these cmdlets currently belong to the beta module, so they are subject to change, the Product Team is probably working on a complete version of the cmdlet.
Thank you

[2019-11-26 13:22] get-itips commented on #4441
Hello @YuriySamorodov

Thanks for your feedback. I'll need to kindly suggest to post that idea [here](https://sharepoint.uservoice.com/)  where it will reach the product team.
Thank you

[2019-11-26 13:52] atop-Ilionx opened #4455 "-WhatIf parameter is not working"
When you use the New-SPEnterpriseSearchServiceApplication cmdlet with -WhatIf, it still creates a search service application. This problem is for all version (SP2010, SP2013, SP2016, SP2019)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cc01aa6-e961-b4c3-eb48-5b0b32021582
* Version Independent ID: 0c037896-9742-b831-

[2019-11-26 14:39] yogkumgit commented on #4455
@officedocsbot assign @yogkumgit

[2019-11-26 14:50] uowdaniel opened #4456 "Enabling a property to enable hiding"
Under “-HiddenFrom AddressListsEnabled” it says:
“For users that are members of the Office 365 Group, the group will still appear in the navigation pane in Outlook and Outlook on the web if HiddenFromExchangeClientsEnabled property is enabled.”

I think the correct wording under “-HiddenFrom AddressListsEnabled” should be:
“For users that are members of the Office 365 Group, the group will still a

[2019-11-26 15:29] yogkumgit commented on #4399
@jopgommans We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2019-11-26 15:29] #4399 closed

[2019-11-26 15:41] yogkumgit commented on #4456
@officedocsbot assign @yogkumgit

[2019-11-26 15:44] yogkumgit commented on #4423
@get-itips Thank you very much for the contribution and sharing this explanation. @CTMSASnowfox
These repos are all open source and the community would welcome to contribute. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-26 15:44] #4423 closed

[2019-11-26 15:47] yogkumgit commented on #4440
@get-itips Thank you very much for the contribution and sharing this explanation. @BrianTJackett
These repos are all open source and the community would welcome to contribute. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-26 15:47] #4440 closed

[2019-11-26 15:55] yogkumgit commented on #4433
@erictechtips  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-11-26 15:56] #4433 closed

[2019-11-26 15:59] yogkumgit commented on #4435
@get-itips  Thank you very much for the contribution and sharing this explanation. @lovethakker02
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-26 15:59] #4435 closed

[2019-11-26 16:03] yogkumgit commented on #4441
@YuriySamorodov  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-11-26 16:03] #4441 closed

[2019-11-26 16:15] yogkumgit commented on #4410
@get-itips get Thank you very much for the contribution and updating the documentation with PR. @ChebotovViktor Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-26 16:15] #4410 closed

[2019-11-26 16:17] yogkumgit commented on #4409
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @ChebotovViktor Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-26 16:17] #4409 closed

[2019-11-26 16:33] webash opened #4457 "Exchange PowerShell instructions need to be updated to include the new module as an option"
These instructions only include the Click-to-Run version of the module. Please include the latest module as announced at Ignite:
https://www.powershellgallery.com/packages/ExchangeOnlineManagement/0.3374.9

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de

[2019-11-26 16:37] yogkumgit commented on #4457
@officedocsbot assign @yogkumgit

[2019-11-26 16:50] hirenshah1 commented on #4193
This is a design change request and not documentation change. We take the requested functionality as feedback and will try to address it in next releases.

[2019-11-26 16:52] DDog80sRocked opened #4458 "Need PreferredDataLocation parameter as an option for a new Team"
We have strict data location requirements so we need to be able to create new Teams in the correct Geo location in a multi-geo environment.  Is it possible to add a PreferredDataLocation parameter with the New-Team cmdlet?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549c7d86-87b3-5c82-d2b3-a0cc0b4faa11
* Ve

[2019-11-26 16:53] hirenshah1 commented on #4254
we are still investigating this. Apologies for the delay, please be patient

[2019-11-26 16:54] DDog80sRocked opened #4459 "Need PreferredDataLocation parameter as an option for a New unified group"
We have strict data location requirements so we need to be able to create new Teams in the correct Geo location in a multi-geo environment. Is it possible to add a PreferredDataLocation parameter with the New-Team cmdlet? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 316bada1-dbc7-f07a-4afa-d67330edef50
* Vers

[2019-11-26 16:57] yogkumgit commented on #4458
@officedocsbot assign @yogkumgit

[2019-11-26 16:58] yogkumgit commented on #4459
@officedocsbot assign @yogkumgit

[2019-11-26 17:33] msbemba commented on #4450
@hegedusgyorgy Thank you for your feedback. We have made changes to the doc via PR # https://github.com/MicrosoftDocs/office-docs-powershell/pull/4460

Thanks
Sri

[2019-11-26 17:55] msbemba commented on #4436
@danieljohansso and @saimonesh Thank you for the feedback. We have added missing record types and the parameter -Asjob to the doc via PR# https://github.com/MicrosoftDocs/office-docs-powershell/pull/4461

@saimonesh The -LongerRetentionEnabled parameter is not documented as it is still in preview for a  few subscriptions as they allow only 90 days retention and a few allow 365 days. This parameter

[2019-11-26 18:18] JeffreyBrew commented on #4193
@hirenshah1 Can I get an ETA as to when the functionality I requested will be available?  I am preparing to migrate users from one Skype for Business Server 2015 platform to another.  I need to get a CsSlaConfiguration dump of all existing users on the current platform to recreate on the new platform.

[2019-11-26 19:37] #4407 closed

[2019-11-26 23:47] jantoney opened #4465 "The action of the -Role isn't clear"
After reading through this massive thread (referenced below), it seems that the -Role parameter demotes the user to a member, not removes the user from the team.
I've tested this in MicrosoftTeams module version 1.0.3 and it does in fact demote the user, not removes it.

Proposed change
"Specify the role of the user you are removing from the team."
-TO-
"When Owner is specified, the action will de

[2019-11-27 05:07] jimmo120313 opened #4466 "wrong cmdlet in example"
Save-PnPSiteTemplate in example 1 should change to Save-PnPProvisioningTemplate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d008d3c2-90ea-7d79-25cb-a0e0e2344df3
* Version Independent ID: 1c091c95-bbef-66ec-1c16-9b903c1316bb
* Content: [Save-PnPProvisioningTemplate (sharepoint-pnp)](https://docs.microsoft.com/en-us/p

[2019-11-27 06:56] VLG17 commented on #4451
@PJNield i have tested and the "Skip" parameters are not available for "Remove-RecipientPermission". Did you test this and get a different result?

[2019-11-27 07:14] yogkumgit commented on #4465
@officedocsbot assign @yogkumgit

[2019-11-27 07:14] yogkumgit commented on #4466
@officedocsbot assign @yogkumgit

[2019-11-27 07:21] yogkumgit commented on #4450
@chrisda Please merge this PR #4460 . Thanks.

[2019-11-27 07:24] yogkumgit commented on #4436
@chrisda Please merge this PR #4461 . Thanks.

[2019-11-27 09:41] PJNield commented on #4451
HI,

Correct, the skip parameters are not available.

Either the "Remove-RecipientPermission" cmdlet needs to not perform the domain validation at all, or provide the option to skip the domain validation, like "Add-RecipientPermission" has.

From: VLG17 <notifications@github.com>
Sent: Wednesday, 27 November 2019 7:56 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.gith

[2019-11-27 13:39] msbemba commented on #4456
@uowdaniel Thank you for your feedback. We have made changes to the document via PR# https://github.com/MicrosoftDocs/office-docs-powershell/pull/4467

Thanks
Sri

[2019-11-27 13:58] Canis-Lupis commented on #4437
@dariomws306, thanks I think that would be very helpful.  However, as I mentioned,  "I ran Search-Mailbox with no errors, but no mail was copied in the TargetMailbox and no TargetFolder was created. [Since] PowerShell isn't giving me an error...."

Personally, I don't think log files should be saved in the -TargetFolder.  If you are an admin copying mail from employee A's mailbox to employee B's m

[2019-11-27 13:58] yogkumgit commented on #4456
@chrisda Please merge this PR #4467 . Thanks

[2019-11-27 14:09] dariomws306 commented on #4437
Hi @Canis-Lupis,

The best place to request new features or product updates is:
https://office365.uservoice.com/

Please check if your idea was posted before so you can vote it and to avoid create duplicates.

Thank you!

[2019-11-27 14:10] msbemba commented on #4457
@webash Thank you for your feedback. We have added steps to the doc via PR# https://github.com/MicrosoftDocs/office-docs-powershell/pull/4468

Thanks
Sri

[2019-11-27 15:45] deepalakhani opened #4469 "A parameter with name liststoextract cannot be found"
![image](https://user-images.githubusercontent.com/21203029/69737783-fbc7bf00-1102-11ea-997f-ca146d592721.png)
![ListsToExtract](https://user-images.githubusercontent.com/21203029/69737991-5a8d3880-1103-11ea-9af8-3c9b654a30e3.PNG)

I get above error when trying to use -liststoextract parameter

[2019-11-27 15:52] dariomws306 commented on #4448
Hi @j0rt3g4, thank you for your feedback.

Please in this case provide your feedback to exocmdletpreview@service.microsoft.com as Exchange PowerShell Module V2 is on preview and you cannot open a support case.
Docs.microsoft.com feedback is there to help to improve documentation.

Thank you!

[2019-11-27 15:59] dariomws306 commented on #4425
Hi @joanabdo, thank you for your feedback.

This module is still in preview so I think MFA is not supported yet. Please provide any feedback about this module to exocmdletpreview@service.microsoft.com.

[2019-11-27 16:08] get-itips commented on #4453
Hello @howardzhangmsft
Thanks for noticing and taking the time to submit this feedback.
I created a pull request to improve the description of the parameter based on your suggestion.
Thank you

[2019-11-27 16:31] j0rt3g4 commented on #4448
Ok thank you

[2019-11-27 16:31] #4448 closed

[2019-11-27 16:43] kevinblumenfeld opened #4472 "Get-EXORecipient -Anr does not seem to do any name resolution"
There seems to be no filtering.  Unlike Get-EXOMailbox -Anr which seems to work great.

Thank you for these cmdlets! Keep 'em coming!

[2019-11-27 16:54] yogkumgit commented on #4469
@officedocsbot assign @yogkumgit

[2019-11-27 16:56] yogkumgit commented on #4472
@officedocsbot assign @yogkumgit

[2019-11-27 17:13] dariomws306 commented on #3385
Hi @RadioActiveLamb, thank you for your feedback.

This is a well known issue and we are looking on to it.

[2019-11-27 17:29] get-itips commented on #4452
Hello @7angjinhao
This issue system is intended to report issues in documentation, besides that, you can start looking [here](https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/site-design-overview)
Hope this info helps you

[2019-11-27 17:45] get-itips commented on #4454
Hello @ekzp
Thanks for your feedback.
The list you are looking for is [this](https://docs.microsoft.com/powershell/module/sharepoint-online/?view=sharepoint-ps)

Will create a PR to improve this article.

[2019-11-27 21:31] juanmlarios opened #4476 "Remove-PnPSearchConfiguration does not remove Search Configurations in SharePoint Online"
I can't see to figure out what this command is supposed to do. I'm trying to export the Query Rules and Remove over 1000 query rules but this command doesn't seem to do anything. Is this a bug? or is this by design? if this is by design what does this command actually do?

[2019-11-27 23:12] webash commented on #4457
@msbemba I've submitted a PR to your changes to include `(as Administrator)` to the instructions.

[2019-11-27 23:25] tameemansari opened #4477 "Missing examples"
Can examples be updated for many of these commandlets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b8d6f4e-0db4-6038-df71-95d22c3b8e09
* Version Independent ID: 12c6accc-f355-33e0-0479-418e141efb74
* Content: [Set-CsTeamsAppPermissionPolicy (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/set-cstea

[2019-11-28 01:30] 7angjinhao commented on #4452
@get-itips Thank you so much

[2019-11-28 07:37] yogkumgit commented on #4476
@officedocsbot assign @yogkumgit

[2019-11-28 07:38] yogkumgit commented on #4477
@officedocsbot assign @yogkumgit

[2019-11-28 08:06] yogkumgit commented on #4425
@dariomws306  Thank you very much for the contribution and sharing this explanation. @joanabdo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-28 08:09] yogkumgit commented on #4453
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @howardzhangmsft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-28 08:09] #4453 closed

[2019-11-28 08:14] yogkumgit commented on #4452
@get-itips  Thank you very much for the contribution and sharing this explanation. @7angjinhao
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-28 08:14] #4452 closed

[2019-11-28 08:18] yogkumgit commented on #4454
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @ekzp Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-28 08:18] #4454 closed

[2019-11-28 08:27] yogkumgit commented on #4411
@chrisda Please merge this PR #4473 . Thanks

[2019-11-28 08:30] #3385 closed

[2019-11-28 09:34] Justin-Shi opened #4478 "Remove the PSSession when finished using it?"
From the doc `[Connect to Exchange Online PowerShell using multi-factor authentication](https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell?view=exchange-ps)` we can connect to the Exchange Online with command:
Connect-EXOPSSession
Or
Connect-EXOPSSession -Credential $cred
I found that a session has be

[2019-11-28 11:58] yogkumgit commented on #4478
@officedocsbot assign @yogkumgit

[2019-11-28 18:39] get-itips commented on #4449
Hello @Korbyn72
Thanks for your feedback.
I could reproduce this behavior in my lab.
I will create a Pull Request to correct the article based on latest cu.
Thank you

[2019-11-28 19:00] Nazul commented on #4436
It is still out of date. Forms was added and it is not listed yet. Stream and Power Apps are not there.

[2019-11-28 20:22] Korbyn72 commented on #4449
Ideally, i tgink we all would prefer the default behaviour change back.  I also notice a few of the defaults have changed too, 20 mins instead of 4 hours for how long it will run.

Korbyn Forsman
from Mobile device

________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Thursday, November 28, 2019 10:39:57 AM
To: MicrosoftDocs/office-docs-powershell <offic

[2019-11-28 20:27] get-itips commented on #4449
@Korbyn72 I understand, but here, we are limited to changes in documentation. Please visit the [Skype For Business User Voice](https://www.skypefeedback.com/) to submit your suggestion.
Thank you

[2019-11-29 03:49] hirenshah1 commented on #4449
@Korbyn72 you have mentioned CU-123, I guess this is a typo. Can you please tell which Server version CU you are referring to ?

[2019-11-29 08:42] Rmca81 opened #4482 "Get-MailDetailTransportRuleRepor"
Hi everyone, I am facing an error when i try to run the Get-MailDetailTransportRuleRepor cmdlet.
All works ok but the if i try to filtered by -Domain, it doesn´t work.
Example:
Get-MailDetailTransportRuleRepor -domain mydomain.com -->doesn´t show results.
Get-MailDetailTransportRuleReport| Where-Object{$_.Domain -cmatch "myDomain.com"} --> works ok.

Where could be the error?

Thankyou so much!!!

[2019-11-29 11:31] Korbyn72 commented on #4449
123 is the last 3 digits of the version numbers.  Cu1 isnt documented anywhere publically, so i call it cu-123. Cu-143 is the currently released cu for sfb2019, which is supposedly cu1 hf1, but again not publically documented.  The only real constant to use is the last digits.

Korbyn Forsman
from Mobile device

________________________________
From: Hiren Shah <notifications@github.com>
Sent: Thu

[2019-11-29 11:52] get-itips commented on #4477
Hello @tameemansari

Currently the article mentions not to use this cmdlet yet:

The Product Team is working on this cmdlet and the documentation, once the cmdlet is released for production, will be updated.

Hope this information helps you.

Thank you

[2019-11-29 12:23] yogkumgit commented on #4482
@officedocsbot assign @yogkumgit

[2019-11-29 12:33] yogkumgit commented on #4477
@get-itips  Thank you very much for the contribution and sharing this explanation. @tameemansari
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-29 16:55] get-itips commented on #4458
Hello @DDog80sRocked
For feature requests, I need to kindly redirect you to [Microsoft Teams UserVoice](https://microsoftteams.uservoice.com/) there, your suggestion can reach the product team.
Thank you

[2019-11-29 17:04] get-itips commented on #4466
Hello @jimmo120313 hope you are doing great.

I need to kindly redirect you to [this other repo](https://github.com/SharePoint/PnP-PowerShell/), where I suggest you to open an issue there, as you might know, PnP cmdlets are open source & community driven and maintained.
A member of the community will pick your issue there.

Thank you

[2019-11-29 17:05] get-itips commented on #4469
Hello @deepalakhani hope you are doing great.

I need to kindly redirect you to [this other repo](https://github.com/SharePoint/PnP-PowerShell/), where I suggest you to open an issue there, as you might know, PnP cmdlets are open source & community driven and maintained.
A member of the community will pick your issue there.

Thank you

[2019-11-29 17:05] get-itips commented on #4476
Hello @juanmlarios hope you are doing great.

I need to kindly redirect you to [this other repo](https://github.com/SharePoint/PnP-PowerShell/), where I suggest you to open an issue there, as you might know, PnP cmdlets are open source & community driven and maintained.
A member of the community will pick your issue there.

Thank you

[2019-11-29 19:19] tameemansari commented on #4477
@get-itips and @yogkumgit

I suggest the skype module documentation - https://docs.microsoft.com/en-us/powershell/module/skype/?view=skype-ps be updated with the list of which cmdlet's are considered good for use and which are not.

[2019-11-30 08:08] VLG17 commented on #4451
@PJNield I recommend posting this feedback [here](https://office365.uservoice.com/forums/273493-office-365-admin).

This is something the Product Group needs to look into and change, and UserVoice for Office 365 is actively looked at by them for improvement ideas, exactlly like yours.

Thank you for providing this feedback!

[2019-11-30 08:59] yogkumgit commented on #4458
@DDog80sRocked  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-11-30 08:59] #4458 closed

[2019-11-30 09:04] yogkumgit commented on #4459
#4458

@DDog80sRocked  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-11-30 09:04] #4459 closed

[2019-11-30 09:08] yogkumgit commented on #4466
@get-itips Thank you very much for the contribution and sharing this explanation. @jimmo120313
These repos are all open source and the community would welcome to contribute. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-30 09:08] #4466 closed

[2019-11-30 09:10] yogkumgit commented on #4469
@get-itips Thank you very much for the contribution and sharing this explanation. @deepalakhani
These repos are all open source and the community would welcome to contribute. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-30 09:10] #4469 closed

[2019-11-30 09:13] yogkumgit commented on #4476
@get-itips Thank you very much for the contribution and sharing this explanation. @juanmlarios
These repos are all open source and the community would welcome to contribute. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-30 09:13] #4476 closed

[2019-11-30 09:18] yogkumgit commented on #4451
@VLG17 Thank you very much for the contribution and sharing this explanation. @PJNield
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-11-30 09:18] #4451 closed

[2019-11-30 19:05] SjoerdV opened #4483 "MFA unattended?"
Please could you advise how this can be done with an account which has **MFA enabled** and it needs to connect in an **unattended** manner in an azure devops pipeline process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebcb7e5d-c0aa-f4f3-e6d5-914219d16dff
* Version Independent ID: 36d9a36f-fbdf-e4a1-45d7-51cc1a6564

[2019-11-30 20:01] tseward commented on #4483
MFA cannot be 'unattended' -- being present is the entire point of MFA. You need to use app principals with a client id/secret or allow the user to connect w/o MFA.

[2019-12-01 14:15] joanabdo commented on #4425
Hi @dariomws306, thanks for your reply, I am gonna send feedback to  exocmdletpreview@service.microsoft.com, regarding my issue

[2019-12-01 18:47] SjoerdV commented on #4483
Well, disabling MFA is not an option. Using App principles is also not an option for the Security & Compliance cmdlets specifically, I could not find any guidance on that anyway, if you have an article you could link to, please do. I would be very much satisfied if I could use a Location exclusion in the Conditional Access MFA policy without disabling MFA all together, but sadly the cmdlets use PS

[2019-12-01 19:51] tseward commented on #4483
When deploying MFA, automation must be a consideration. If an account needs to use these in an automated fashion, MFA must be disabled or you need to look into alternatives, e.g. using client id/secret with APIs (Graph APIs may cover what you're attempting to do, I don't know). You'll need to argue in your org that using MFA on this account will prevent automation from functioning. It is a risk an

[2019-12-02 08:30] yogkumgit commented on #4483
@officedocsbot assign @yogkumgit

[2019-12-02 10:01] msbemba commented on #4478
@Justin-Shi Thank you for your feedback.

1) We have a note in the document now which exactly talks about disconnecting the session and the PS cmdlet to run to disconnect (Get-PSSession | Remove-PSSession).

2) This is still modern Authentication and This module doesn't work with basic auth.

Thanks again for your feedback.
Sri

[2019-12-02 10:11] msbemba commented on #4472
@kevinblumenfeld Thank you for your feedback. Since there was no link to the document, I'm assuming you are referring to the doc with the cmdlet get-exroecipient (https://docs.microsoft.com/en-us/powershell/module/exchange/powershell-v2-module/get-exorecipient?view=exchange-ps)

I was able to execute the cmdlet

Get-EXORecipient -Anr Commonname
Get-EXORecipient -Anr displyname

Can you provide us

[2019-12-02 11:52] #4425 closed

[2019-12-02 12:00] yogkumgit commented on #4478
@msbemba  Thank you very much for the contribution and sharing this explanation. @Justin-Shi
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-02 12:01] #4478 closed

[2019-12-02 12:13] msbemba commented on #4457
@webash  Thank you. I have deleted your PR and added them as commits to my PR.

[2019-12-02 12:24] msbemba commented on #4436
@Nazul  The author has not merged the PR yet. Once it is merged it could take 48 hours to reflect in the live document.

[2019-12-02 12:38] get-itips commented on #4465
Hello @jantoney
I also intervened in the other thread and observed that behavior, we will try to get this to the product team so they confirm and we can impact the doc.
Thank you

[2019-12-02 13:49] danieljohansso commented on #4436
Looking at the commit @msbemba, user @Nazul seems to be half correct and half wrong.

https://github.com/msbemba/office-docs-powershell/commit/9e3120be6d7a2084e2757989c253db8a6729a2a8#diff-7ee14ca78ddbff96089432687a985136

I can see that PowerApps* and MicrosoftStream is added but not for example MicrosoftForms.

I also noticed again that a lot of Record Types are still missing. Using PowerShell I

[2019-12-02 14:11] msbemba commented on #4436
@danieljohansso Thank you for the feedback. I have added the missed out items for record type on PR# https://github.com/MicrosoftDocs/office-docs-powershell/pull/4461 . Once the PR is merged, the document will be updated with live in 24-48 hours

Thanks again for helping Microsoft Docs look better.
Sriram

[2019-12-02 14:49] kevinblumenfeld commented on #4472
@msbemba Thanks for your reply. When running for example,

Get-EXORecipient -Anr Fred

... I get all the recipients in the tenant.  I do not get just those with Fred in their name.  Like Fredrick.

[2019-12-02 15:06] msbemba commented on #4472
@kevinblumenfeld  Thank you for your feedback. I was testing on a tenant where I had only one user and the command worked fine. I see the issue now after creating another user. This looks like a bug and I will check with the team to find out the best way forward.

Thanks
Sri

[2019-12-02 17:07] siljemda opened #4485 "Add-TeamChannelUser not working"
Microsoft Teams version: 1.0.18 (beta)

Expected behaviour: After connecting to MicrosoftTeams with a Teams admin user account, being able to add the Team owner as a member of a private channel

Actual behaviour:
[code]

Steps to reproduce:

[code]

[2019-12-03 01:17] tomkau commented on #4325
@get-itips -- heard back from the team that owns these.  They do not apply to online and the documentation should be updated to reflect this.

[2019-12-03 08:21] yogkumgit commented on #4485
@officedocsbot assign @yogkumgit

[2019-12-03 12:06] yogkumgit commented on #4456
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @uowdaniel Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-03 12:06] #4456 closed

[2019-12-03 12:16] yogkumgit commented on #4450
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @hegedusgyorgy Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-03 12:16] #4450 closed

[2019-12-03 12:19] yogkumgit commented on #4436
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @danieljohansso Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-03 12:19] #4436 closed

[2019-12-03 12:36] yogkumgit commented on #4386
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @bament-hun Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-03 12:36] #4386 closed

[2019-12-03 12:42] MrTantum opened #4491 "-DisabledWebPartIds not working as documented"
The documentation for `Set-SPOTenant -DisabledWebPartIds` states:

This is not correct! Instead only the 3 webparts mentioned in the documentation text can be disabled. All other 3rd-party webparts (e.g. Salesforce, Stack Overflow, Bitbucket, GitHub Enterprise) can not be disabled this way.

The following error message will appear for other webparts:

`Set-SPOTenant : DisabledWebPartIds 893a257e-9

[2019-12-03 12:45] yogkumgit commented on #4491
@officedocsbot assign @yogkumgit

[2019-12-03 12:47] yogkumgit commented on #4483
@tseward  Thank you very much for the contribution and sharing this explanation. @SjoerdV
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-03 12:47] #4483 closed

[2019-12-03 12:50] yogkumgit commented on #4437
@Canis-Lupis  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-12-03 12:50] #4437 closed

[2019-12-03 13:04] yogkumgit commented on #4411
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @DynamitePLF Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-03 13:04] #4411 closed

[2019-12-03 13:21] get-itips commented on #4477
Hello @tameemansari we hear your suggestion and will be forwarded to the team accordingly. Thank you

[2019-12-03 13:24] get-itips commented on #4449
Hello @hirenshah1 just checking if you saw the reply by @Korbyn72 and if you can merge the PR.
Thank you

[2019-12-03 13:25] yogkumgit commented on #4264
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @IngoGege Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-03 13:25] #4264 closed

[2019-12-03 13:28] get-itips commented on #4325
Ok @tomkau will take care of that. Thanks for letting me know

[2019-12-03 13:37] #4477 closed

[2019-12-03 14:47] get-itips commented on #4449
PR is merged, @yogkumgit please close this thread. Thanks

[2019-12-03 14:52] yogkumgit commented on #4449
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Korbyn72 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-03 14:52] #4449 closed

[2019-12-03 15:52] yogkumgit commented on #4325
@tomkau Please merge this PR #4492

[2019-12-03 22:01] chrisda commented on #4206
OK. No further response, so closing.

[2019-12-03 22:17] mklement0 commented on #4206
Sorry, dropped the ball.

The harm is that you're promoting a misconception about what the syntax `{ ... }` does, which may bite you in other scenarios.

`{...}`, as script-block literals meant to contain _PowerShell code_ can be _situationally repurposed_ to act as _verbatim strings_, but (a) that's not what they're for, (b) it doesn't always work, and (c) you may form a misconception about the _

[2019-12-03 22:27] chrisda commented on #4206
All good, but I know from experience that using braces for the _Filter_ and _RecipientFilter_ parameters in Exchange cmdlets works in all cases EXCEPT when you're trying to expand variables.

I think I've done enough by modifying the parameter descriptions any general mention of OPath filter syntax EVERYWHERE in Exchange PowerShell/cmdlet reference content to include this statment (or a version of

[2019-12-03 22:47] mklement0 commented on #4206
Yes, it _works_, but my point is that use of `{...}` ultimately does more harm than good, for the reasons stated.

What you've done and the wording you propose are great improvements, but the problem is that your explanation won't always be present when users look at examples and real-world code that uses `{...}`

And even users who've read the explanation may forget over time, and scratch their h

[2019-12-03 22:56] chrisda commented on #4206
None of the OPath examples anywhere in Exchange PowerShell/cmdlet reference topics use `{...}` anymore, in particular in the original object of this issue, which was New-AddressList.

We're in the process of updating Exchange conceptual/procedural content for similar _Filter_/_RecipientFilter_ OPath examples to replace `{...}` with `'...'` or `"..."`. It will happen; it's just a question of when.

[2019-12-03 23:05] mklement0 commented on #4206
I'm glad to hear it all.
Feel free to close.

[2019-12-04 00:06] chrisda commented on #4206
Thank you. Closing.

[2019-12-04 00:06] #4206 closed

[2019-12-04 09:11] EvgenyArtemyev opened #4501 "About applies to"
It's supposed that the normalization rules are applied to Teams as well. Not only to Lync/SfB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 940f3a9e-f4cb-4c60-c57a-3d064e79677a
* Version Independent ID: 52842215-3cd7-c8c8-6556-d166a92a7b48
* Content: [New-CsVoiceNormalizationRule (skype)](https://docs.microsoft.com/en

[2019-12-04 12:25] yogkumgit commented on #4501
@officedocsbot assign @yogkumgit

[2019-12-04 16:05] msbemba commented on #4472
@kevinblumenfeld I checked with the team and since the Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact support at exocmdletpreview@service.microsoft.com

Thanks
Sri

[2019-12-04 16:51] yogkumgit commented on #4472
@msbemba  Thank you very much for the contribution and sharing this information. @kevinblumenfeld Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-04 16:51] #4472 closed

[2019-12-04 16:57] yogkumgit commented on #4457
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @webash Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-04 16:57] #4457 closed

[2019-12-04 17:13] rudfoss opened #4502 "Unregister-SPOHubSite does not respect -Confirm:$false parameter"
The CMDLet `Unregister-SPOHubSite` does not seem to respect the parameter `-Confirm:$false`. Event with this parameter specified it asks me to confirm removal.

Test:
[code]

Prompts:
[code]

[2019-12-04 19:28] coupalm opened #4503 "Documentation of Set-PnPSearchSettings is unavailable"
The command documentation is not available (Set-PnPSearchSettings)

[2019-12-04 22:35] felinepc opened #4504 "This module still requires WinRM basic authentication?"
Running this new module with WinRM basic authentication disabled still yields error:

New-ExoPSSession : Connecting to remote server outlook.office365.com failed with the following error message : The WinRM client cannot process the request. Basic authentication is currently disabled in the client configuration.

Isn't this module supposed to get rid of basic auth?

---
#### Document Details

⚠ *D

[2019-12-05 09:06] yogkumgit commented on #4502
@officedocsbot assign @yogkumgit

[2019-12-05 09:06] yogkumgit commented on #4503
@officedocsbot assign @yogkumgit

[2019-12-05 09:07] yogkumgit commented on #4504
@officedocsbot assign @yogkumgit

[2019-12-05 12:18] aov-arnold commented on #4254
How long will it take?

When I do this, it is visible in the GUI and with Get-CsUserCallForwardingSettings but is has no effect:
Set-CsUserCallForwardingSettings <sip-adress of user> -UnansweredToOther "phone number" -UnansweredWaitTime 20 -Force -DisableForwarding

Same with the Set-CsUserTeamMembers Cmdlet.

We need this setting before deploying Skype for Business Server 2019.

[2019-12-05 15:11] get-itips commented on #4485
Hello @siljemda
Thanks for your feedback.
This issue system is exclusively to report **issues in documentation**.
Besides that, As you are using the Beta version of the module, as you might know it can have unexpected outcomes, I encourage you to test when it gets to the stable version of the module.

Thank you

[2019-12-05 15:26] get-itips commented on #4501
@tomkau Tom, are you positive on adding Microsoft Teams to the applies to metadata field of this article?
Asking this because this would apply to many other cmdlets that are shared between SfB and Teams.
Thanks for your feedback. cc @kenwith

[2019-12-05 15:42] get-itips commented on #4491
Hello @MrTantum
Thanks for your feedback. I could reproduce in my lab, will create a pull request to correct the article.
However, for feature requests, I need to kindly redirect you to this resource https://sharepoint.uservoice.com
There, your suggestion will reach the product team.
Thank you

[2019-12-05 15:50] siljemda commented on #4485
Thanks. you, @get-itips . I hope you'll allow me a follow-up question. I have been unable to find a separate code repository for the module. Powershell Gallery and poshtestgallery both specifically list this repo as its Project site. Do you happen to know where I can view issues for the Teams module?

[2019-12-05 15:54] get-itips commented on #4485
Hello @siljemda
I recommend visiting the [Tech Community](https://techcommunity.microsoft.com/t5/forums/filteredbylabelpage/board-id/MicrosoftTeams/label-name/microsoft%20teams) and leaving that feedback there.

[2019-12-05 16:32] kenwith commented on #4501
@EvgenyArtemyev - thank you for taking the time to open the issue. I know it takes time to share knowledge as you gain it while working with the products and I appreciate it.

I can provide some info on this one. The "applicable" in the metadata is a technical construct based on the PowerShell module. Screenshot below from the raw markdown for this file at this link: https://raw.githubusercontent.

[2019-12-05 16:32] #4501 closed

[2019-12-05 16:45] kenwith commented on #4485
@siljemda thanks for the feedback and as @get-itips said the best place is Tech Community. The docs here are open source and rely on experts such as yourself. If you would ever want to make an update you can find details in the README of the repo here https://github.com/MicrosoftDocs/office-docs-powershell.

The docs are sourced in Markdown and updating it is not for everyone so even opening issue

[2019-12-05 16:45] #4485 closed

[2019-12-05 20:53] waqas105 opened #4510 "Get-Sposite -limit all not returning all properties"
Scenario: I am trying to get property of HubSiteID for each site collections.
very strange issue with Get-SPO site

1st (this scenario is working as expected):
 $site = get-sposite -identity https://tenant url/sites/abc
$site.HubSiteId
- the above command return the guid of hub site id if above site associated with hub. But  00000000-0000-0000-0000-000000000000 if no association at all.

But if ra

[2019-12-05 21:19] John-Hart opened #4512 "fwlink is broken"
The link https://go.microsoft.com/fwlink/?LinkID=187810 in the Description results in a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d922a32-981c-8e08-9359-b7f5e21b1aa4
* Version Independent ID: a0f9af58-42af-202c-10f3-dbb09b17595e
* Content: [Install-SPSolution (sharepoint-server)](https://docs.microsoft.com/en

[2019-12-05 21:56] ccullum opened #4513 "Get-TeamChannelUser not returning Guests"
I have guests in a Team and they are added to a private channel.
I know that Guests are seen because if I use Get-TeamUser the guests are returned in the collection.
If I use the command Get-TeamChannelUser on any channel only owners and members are returned, not Guests.
I have tested this on both a standard channel (General) and a private channel.

[2019-12-06 00:10] kenwith commented on #4503
@coupalm - thank you for taking the time to provide feedback. The PnP cmdlets are a little different than the Office cmdlets. The PnP cmdlets are community driven and the source for the reference is embedded within the cmdlet source code. For this one it is here: https://github.com/SharePoint/PnP-PowerShell/blob/master/Commands/Search/SetSearchSettings.cs  From time to time the PnP community will

[2019-12-06 00:10] #4503 closed

[2019-12-06 07:59] yogkumgit commented on #4510
@officedocsbot assign @yogkumgit

[2019-12-06 08:00] yogkumgit commented on #4512
@officedocsbot assign @yogkumgit

[2019-12-06 08:00] yogkumgit commented on #4513
@officedocsbot assign @yogkumgit

[2019-12-06 08:23] yogkumgit commented on #4491
@trent-green Please merge the PR #4506

[2019-12-06 12:54] jnxxx opened #4517 "Does this have effect for both delegated and application permissions?"
I assume this has effect for application permissions.
But how about delegated permissions, can it also restrict these?
That is, when an application acts on behalf of a user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1e6041b-99ca-612b-24d6-053fca4ac717
* Version Independent ID: c18596aa-b54c-1b19-6064-952ae2468d41

[2019-12-06 13:05] gavinmeerwald commented on #3905
Why was this ticket closed? The original post was why, despite using "-ErrorAction SilentlyContinue" the error was still thrown?

[2019-12-06 14:00] yogkumgit commented on #4517
@officedocsbot assign @yogkumgit

[2019-12-06 14:29] dariomws306 commented on #3905
Hi @gavinmeerwald,

Because this place is to leave feedback about documentation. In this case you have to open a support ticket.

Thanks!

[2019-12-06 16:53] aekins opened #4518 "PowerShell Teams New-Team"
There doesn't seem to be a way to specify 'Class Team'  when creating a new Team. Please tell me this is possible ???? or there is a good workaround.

[2019-12-06 17:20] evandimsby opened #4519 "Removing a TeamUser does not remove SharePoint Online permissions."
Whether using PS or the Teams client, removing a member from a Team will only remove the team from the previous member's list of Teams.

However, the user is still able to access the SPO site and all contents even though they are not actually a member of the team anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-12-06 17:43] kenwith commented on #4519
@evandimsby - thank you for the feedback on this cmdlet. I know it takes time to submit an issue or create a pull request as you are gaining the knowledge learning and using the products. And I appreciate it.

This issue list is for the docs and we don't have a way to provide any type of support. We read every issue and always want to do anything we can to help. It does seem like a bug or somethin

[2019-12-06 17:49] kenwith commented on #4518
@aekins - thank you for taking the time to open an issue here. If I am understanding correctly you are looking for a particular example in the doc for the New-Team cmdlet here: https://docs.microsoft.com/powershell/module/teams/new-team?view=teams-ps    or does it seem like there should be a parameter that is not there? The issues here are focused on the docs so we can definitely help there. If a

[2019-12-06 18:07] kenwith commented on #4519
I also found this one in User Voice and up voted it.. https://microsoftteams.uservoice.com/forums/908686-bug-reports/suggestions/37649128-deleted-member-still-on-my-sharepoint

[2019-12-06 18:45] evandimsby commented on #4519
Good find! I voted on it, too. I would imagine once more people start noticing this loophole that it should get attention fairly quickly. I did open a support request and the techs were rather puzzled. Even as Global SP Admin, i cannot actually view the memberships of SPO groups that are created via Teams, and therefore, not able to verify/revoke the access.

[2019-12-06 22:01] vettekerry opened #4520 "Change Ensure-PnPFolder to Resolve-PnPFolder"
Please change Ensure-PnPFolder to Resolve-PnPFolder in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05b385a5-4bb6-e858-d114-df8b6b41114f
* Version Independent ID: e9821d8f-8e0b-5939-9f3e-43bffb6a0e7b
* Content: [Get-PnPFolder (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/module/share

[2019-12-06 22:29] TorrenManson opened #4521 "Missing info, wrong link"
Example 2 is missing "$Prompt = ", like the start of Example 1.

Link for "online version" brings you back to this same page - was it supposed to go elsewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea21f976-9ffd-f9ba-bd20-aa7c991dc811
* Version Independent ID: 5b1b0625-74a2-3e18-62e9-42c9b95b22cb
* Content: [E

[2019-12-08 13:08] LuigiBruno commented on #2550
Thank you @msbemba.

[2019-12-08 13:08] LuigiBruno commented on #2550
Sure.
Thank you @yogkumgit.

[2019-12-09 09:00] aekins commented on #4518
Hi,

I think it is a feature that was present in the preview release, but has
been (weirdly) deprecated in the 1.0 release. It was the ability to
create a 'Class' Team.

I don't have time to wait for the glacial 'User Voice' system to work
its magic (we need a solution now). So I think we'll have to go with
another solution other than PowerShell Teams.

Thanks
Andy

On 2019-12-06 17:49, Ken Withee

[2019-12-09 09:11] yogkumgit commented on #4518
@officedocsbot assign @yogkumgit

[2019-12-09 09:12] yogkumgit commented on #4519
@officedocsbot assign @yogkumgit

[2019-12-09 09:12] yogkumgit commented on #4520
@officedocsbot assign @yogkumgit

[2019-12-09 09:12] yogkumgit commented on #4521
@officedocsbot assign @yogkumgit

[2019-12-09 10:44] get-itips commented on #4513
Hello @ccullum
As the article says, this cmdlet belongs to the beta version of the Teams Ps module, so Product Team is still working on a production release of it.
Hope this information helps you.

[2019-12-09 10:49] get-itips commented on #4512
Hello @John-Hart
Thanks for noticing and reporting, created a PR to fix this.

[2019-12-09 11:22] get-itips commented on #4510
Hello @waqas105
Usually that is by design for performance matters.
You could use this as a workaround, it is slower, but it will show you the HubSiteId associated

[code]

[2019-12-09 11:31] get-itips commented on #4502
Hello @rudfoss how are you?
I could reproduce.
@trent-green Can you kindly fwd this to the product team & please confirm me if you want me to document this in the meantime ? Thanks

[2019-12-09 12:37] #2550 closed

[2019-12-09 12:45] yogkumgit commented on #4513
@get-itips  Thank you very much for the contribution and sharing this explanation. @ccullum
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-09 12:45] #4513 closed

[2019-12-09 12:52] yogkumgit commented on #4510
@get-itips  Thank you very much for the contribution and sharing this explanation. @waqas105
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-09 12:59] naoufalaobali opened #4524 "new-pnpsite throws error: New-PnPSite : Parameter set cannot be resolved using the specified named parameters"
Connect-PnPOnline -Url "https://example-admin.sharepoint.com"

$csv = import-csv -path "C:\Scripts\Sitesjackup.csv" -delimiter ";"
foreach ($sites in $csv) {

New-PnPSite -Type CommunicationSite -Title $sites.Hubsites

}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5e3530-a63e-71ce-97c8-c904619aafa8
* Version Indep

[2019-12-09 13:22] yogkumgit commented on #4524
@officedocsbot assign @yogkumgit

[2019-12-09 13:50] eric-ash-1 commented on #4504
I have the same issue, and cannot change my WinRM authentication setting due to a corporate group policy.

[2019-12-09 13:53] waqas105 commented on #4510
Thank you @yogkumgit and @get-itips for explanation. I already using the same workaround just need the clarification about this. yes it is very slow when I am processing 10K+ sites.

[2019-12-09 14:00] #4510 closed

[2019-12-09 14:46] yogkumgit commented on #4520
@vettekerry  Thanks for raising this issue. We need to kindly redirect you to other repository that is: https://github.com/SharePoint/PnP-PowerShell/issues

As you might know, PnP cmdlets are community-driven, a member of the community will pick your request there and handle it, please do a search first in the issues to see if this has been already reported.
Hope this comment is helpful for you. W

[2019-12-09 14:46] #4520 closed

[2019-12-09 14:50] dariomws306 commented on #4482
@Rmca81 Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the outcom

[2019-12-09 14:50] yogkumgit commented on #4524
@naoufalaobali  Thanks for raising this issue. We need to kindly redirect you to other repository that is: https://github.com/SharePoint/PnP-PowerShell/issues

As you might know, PnP cmdlets are community-driven, a member of the community will pick your request there and handle it, please do a search first in the issues to see if this has been already reported.
Hope this comment is helpful for you

[2019-12-09 14:50] #4524 closed

[2019-12-09 14:53] #4482 closed

[2019-12-09 16:36] dariomws306 commented on #4504
Hi @felinepc and @eric-ash-1, thank you for your feedback.

As you can read in the article Exchange Online PowerShell V2 cmdlets always use Modern Authentication. You cannot use basic authentication here. But WinRM basic authentication is a requirement to connect.

I have tried this on my lab but let me double check it.

[2019-12-09 16:47] felinepc commented on #4504
Well WinRM basic auth is a big problem with the old module because many of us have GPO or Intune policies that forbid it for valid reasons. Microsoft itself discourages it with the Intune security baselines. So we'd assume a new module should not have to depend on it.

[2019-12-09 16:49] dariomws306 commented on #4504
Please also provide this feedback to the email address you can find in the first tip of the article.

[2019-12-09 17:38] dariomws306 commented on #4517
Hi @jnxxx, thank you for your feedback.

I think you can find your answer here:
https://docs.microsoft.com/graph/auth-limit-mailbox-access

[2019-12-09 18:20] kenwith commented on #4518
@aekins - sorry, it took me some time to understand this.. I was chatting with @get-itips and he found these articles: https://support.office.com/en-us/article/create-a-class-team-in-microsoft-teams-fae422eb-58b7-4431-9ff2-a4b9b6ae7c5b  and https://www.microsoft.com/en-us/education/products/teams   when we were reviewing them we think that the class is only available in the teams for education pro

[2019-12-10 02:47] Ankit0710 commented on #1223
This doesn't seems to work and we get below error even after connecting to SNC powershell:

![untitled](https://user-images.githubusercontent.com/58715947/70490814-72ae8000-1b25-11ea-8cb7-93143294505e.png)

[2019-12-10 09:07] richard-artes opened #4530 "Great tip! Thank you."
Great tip! Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05b23d72-33ed-a6a1-a442-a5e5cf039f9f
* Version Independent ID: 4247cf37-3667-2007-7251-46ed80f58ef5
* Content: [Getting started with SharePoint Online Management Shell](https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-online/connect-s

[2019-12-10 09:48] yogkumgit commented on #4517
@dariomws306  Thank you very much for the contribution and sharing this explanation. @jnxxx
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-10 09:48] #4517 closed

[2019-12-10 09:53] yogkumgit commented on #4512
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @John-Hart Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-10 09:54] #4512 closed

[2019-12-10 10:00] yogkumgit commented on #4504
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @felinepc Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-10 10:00] #4504 closed

[2019-12-10 10:39] yogkumgit commented on #4530
@officedocsbot assign @yogkumgit

[2019-12-10 12:09] MrTantum commented on #4491
Thank you everyone. This was fast. :)

We have created a user voice entry for this:

https://sharepoint.uservoice.com/forums/329220-sharepoint-dev-platform/suggestions/39221614-allow-set-spotenant-disabledwebpartids-to-disab

[2019-12-10 12:09] #4491 closed

[2019-12-10 18:06] #3220 closed

[2019-12-10 19:03] mrkeiths opened #4532 "You can use this cmdlet to search message data for the last 10 days."
I believe the supported search timespan has been extended to 30 days.  There are a couple references in the "Description" section that mention 10 days.

FYI.  Get-MessageTraceDetail documentation also supports searching messages that were delivered within the last 30 days but no information to indicate acceptable timespan is included at all.

Thank you, Keith

---
#### Document Details

⚠ *Do not

[2019-12-11 02:07] 3novsan opened #4533 "-LinkedinEnabled"
Even if we set LinkedinEnabled parameter to True We can't use it as connecting to LinkedIn from OWA is no longer supported. Support statement has been mentioned at https://outlook.office.com/owa/?path=/options/socialnetworks . Can we make changes to the documentation accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-12-11 09:14] yogkumgit commented on #4532
@officedocsbot assign @yogkumgit

[2019-12-11 09:14] yogkumgit commented on #4533
@officedocsbot assign @yogkumgit

[2019-12-11 10:06] yogkumgit commented on #4530
@richard-artes Thank you very much for the compliment.
If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-11 10:06] #4530 closed

[2019-12-11 10:59] yogkumgit commented on #4325
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @ssteiner Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-11 10:59] #4325 closed

[2019-12-11 11:09] yogkumgit commented on #4346
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Weishaupt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-11 11:09] #4346 closed

[2019-12-11 11:13] yogkumgit commented on #4376
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Cloudmaister Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-11 11:13] #4376 closed

[2019-12-11 22:28] KirkMunro opened #4534 "Download of the Exchange PowerShell module does not work using the new Microsoft Edge Version 80.0.355.1 dev (64-bit)"
This document identifies that you must use Internet Explorer or Edge to download the Exchange PowerShell module. That is partially correct, but currently the download fails using the new Microsoft Edge browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID:

[2019-12-11 22:31] KirkMunro commented on #4534
FYI, I just noticed you already answered this when another user called this out; however, the documentation remains the same, and this is confusing for the type of folk who would read this document. You're talking to IT pros who want to download a PowerShell module, and there's a good chance many of them may be using the Chromium-based Edge already -- it would be better if the docs were clear abou

[2019-12-12 08:31] Justin-Shi opened #4536 "The help info for Connect-EXOPSSession is not accurate?"
Hi All,

When I run cmdlet with Exchange Online PowerShell module, I got info like this:
![image](https://user-images.githubusercontent.com/25170467/70694882-84e21700-1cfb-11ea-809e-8fecb9377bfa.png)
While form my test, the ConnectionURI for Office 365 U.S. Government GCC High is not accurate, when I use this URL to connect the Office 365 U.S. Government GCC High, I will get error like:
_New-ExoPS

[2019-12-12 10:06] nakatenus opened #4537 "Typo in -LiveCaptionsEnabledType"
There is a typo in the default value of -LiveCaptionsEnabledType. It should say DisabledUserOverride instead of DisabledUserOveride.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b9baa8-da13-a24f-af31-91d63de13f08
* Version Independent ID: 6a37be44-d957-2b7a-a563-53332cf59098
* Content: [Set-CsTeamsMeetingPolicy (sk

[2019-12-12 10:36] NiteshSharma2K19 opened #4538 "EnableSafeLinksForClients or EnableSafeLinksForO365Clients"
This is too confusing. -EnableSafeLinksForClients is working for one tenant and -EnableSafeLinksForO365Clients is working for another. Example uses -EnableSafeLinksForClients tells what is it doing but later on the page -EnableSafeLinksForO365Clients is describing the same action. I confirmed on 3 different tenants with same subscriptions.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-12-12 12:15] yogkumgit commented on #4534
@officedocsbot assign @yogkumgit

[2019-12-12 12:15] yogkumgit commented on #4536
@officedocsbot assign @yogkumgit

[2019-12-12 12:16] yogkumgit commented on #4537
@officedocsbot assign @yogkumgit

[2019-12-12 12:16] yogkumgit commented on #4538
@officedocsbot assign @yogkumgit

[2019-12-12 12:27] yogkumgit commented on #4424
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @steven-de-bruyne Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-12 12:27] #4424 closed

[2019-12-12 12:53] manshitu commented on #1935
jk

[2019-12-12 13:59] WilliamClyst opened #4539 "Access denied for EXOPS session as well as Outlook"
Trying to follow instructions to resolve Outlook issue (Modern authentication isn't enabled on a tenant level) I was directed to connect to Exchange Online. However, I get this message when I try.
New-PSSession : [outlook.office365.com] Connecting to remote server outlook.office365.com failed with the following
error message : Access is denied. For more information, see the about_Remote_Troublesho

[2019-12-12 14:07] nanddeepn commented on #4038
I could not see this implemented. Any reasons to close?

[2019-12-12 14:41] yogkumgit commented on #4539
@officedocsbot assign @yogkumgit

[2019-12-12 20:33] ekongataspect opened #4541 "Internal Names or Display Names?"
It would be nice if the documentation included whether the cmdlet is expecting the list and field names as internal names or display names.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3a202f2-42cf-9546-b792-7ec236470d9a
* Version Independent ID: 4eb3b331-fe83-e038-eb01-a297f3506a00
* Content: [Get-PnPField (sharepo

[2019-12-13 07:32] NiteshSharma2K19 commented on #4538
Any updates. This is important.
Thanks

[2019-12-13 10:56] yogkumgit commented on #4541
@officedocsbot assign @yogkumgit

[2019-12-13 12:42] diecknet opened #4542 "Link partly broken"
The Link [Protecting you against the SSL 3.0 vulnerability](https://blogs.office.com/2014/10/29/protecting-ssl-3-0-vulnerability/) (under "[Description](https://docs.microsoft.com/en-us/powershell/module/exchange/encryption-and-certificates/new-exchangecertificate?view=exchange-ps#description)") is partly broken. If you open the link using a German system, it'll forward to https://www.microsoft.co

[2019-12-13 13:09] yogkumgit commented on #4542
@officedocsbot assign @yogkumgit

[2019-12-13 14:40] pear7777 opened #4543 "missing What de rights are"
What are the ricghts you get wen
AvailabilityOnly

LimitedDetails

Reviewer

Editor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e177c731-d40e-699e-1f27-a760cb9265c7
* Version Independent ID: 20849f6f-f601-59cd-dd66-3c028c615847
* Content: [Set-MailboxFolderPermission (exchange)](https://docs.microsoft.com/en-us/powe

[2019-12-13 15:06] yogkumgit commented on #4543
@officedocsbot assign @yogkumgit

[2019-12-13 16:46] msbemba commented on #4539
@WilliamClyst Thank you for the feedback. To connect to exchange online via Basic auth, You will have to follow the instructions in https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell?view=exchange-ps

The current document that you are referring to is used only in case Multi-factor authentication is enable

[2019-12-13 16:54] msbemba commented on #4543
@pear7777 Thank you for the feedback. The details that you are looking for is added to the parameters section of the document here;-  https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/set-mailboxfolderpermission?view=exchange-ps#parameters

Hope this helps!

Thanks
Sri

[2019-12-13 18:53] A9G-Data-Droid opened #4544 "What module is this cmdlet in?"
The module link at the top of the page is dead (404):
Module:
exchange
https://docs.microsoft.com/en-us/powershell/module/exchange/encryption-and-certificates/?view=exchange-ps

I can't find any module simply named "exchange" like that. So what module is it?

NOTE: I'm using the "Exchange Online Remote PowerShell Module" and it's not found in there, as I expect it should be.

---
#### Document Det

[2019-12-13 20:54] dariomws306 commented on #4521
Hi @TorrenManson, thank you for your feedback.

I'm updating example 2.

About the link it needs to be there because there is an internal process which use it. Sorry about that.

[2019-12-13 21:47] dariomws306 commented on #4534
Hi @KirkMunro, thank you for your feedback.

For the time being "Edge browser" in docs.microsoft.com doesn't mean chromium-based version because it's still on Release Candidate state. Edge means EdgeHTML RTM version.

I will add some comment in the document.

[2019-12-13 21:54] dariomws306 commented on #4536
@Josverl Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the outco

[2019-12-13 22:03] dariomws306 commented on #4538
Hi @NiteshSharma2K19, thank you for your feedback.

Really this parameter is EnableSafeLinksForClients and I have test in some tenants. Where do you find EnableSafeLinksForO365Clients? Could you let me know what licenses do you have in these tenants?

I'm updating the article.

[2019-12-14 05:38] NiteshSharma2K19 commented on #4538
@dariomws306
-EnableSafeLinksForO365Clients
The EnableSafeLinksForO365Clients parameter specifies whether Safe Links is enabled for Office 365 apps on desktop clients and the web. Valid values are:

$true: Safe Links are enabled for Office 365 apps. This is the default value.

$false: Safe Links are disabled for Office 365 apps.

This is the definition of the cmdlet on this doc. This is explaining

[2019-12-14 13:03] dariomws306 commented on #4538
It should be EnableSafeLinksForClients, I'm updating the document. I cannot say why you have EnableSafeLinksForO365Clients in one tenant, sorry.

[2019-12-14 13:18] mmascolino opened #4549 "-ResultSize parameter?"
What is the purpose of the -ResultSize parameter if no matter how I call this commandlet, it requires me to use the -Identity parameter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cad7e1a-aec3-c898-e3d2-08b4dd97ba1f
* Version Independent ID: a56a59ec-4249-3a5a-0583-078a099debfa
* Content: [Get-Place (exchange)](ht

[2019-12-15 12:40] NiteshSharma2K19 commented on #4538
Can you please guide me what can be done then on the tenant where I am getting the error that "A parameter can not be found that matches parameter name 'EnableSafeLinksForClients"?

[2019-12-15 15:29] prontohostau opened #4550 "Does this command works"
Since this command not works anymore in 2019, We could use it for Move items and folders with -TargetMailboxes. Now which commands allows to move items and folders. Please add new commands

[2019-12-16 07:20] msbemba commented on #4542
@diecknet  Thank you for your feedback. We have updated the doc with the correct link Via PR #https://github.com/MicrosoftDocs/office-docs-powershell/pull/4551

Thanks
Sri

[2019-12-16 08:16] yogkumgit commented on #4544
@officedocsbot assign @yogkumgit

[2019-12-16 08:16] yogkumgit commented on #4549
@officedocsbot assign @yogkumgit

[2019-12-16 08:16] yogkumgit commented on #4550
@officedocsbot assign @yogkumgit

[2019-12-16 08:18] Josverl commented on #4536
Hi @dariomws306 ,
I think your comment should be directed at @Justin-Shi.

/jos

[2019-12-16 10:11] yogkumgit commented on #4539
@msbemba  Thank you very much for the contribution and sharing this explanation. @WilliamClyst
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-16 10:11] #4539 closed

[2019-12-16 10:21] yogkumgit commented on #4543
@msbemba  Thank you very much for the contribution and sharing this explanation. @pear7777
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-16 10:21] #4543 closed

[2019-12-16 10:31] yogkumgit commented on #4521
@chrisda please merge this PR #4545

[2019-12-16 10:34] yogkumgit commented on #4534
@chrisda Please merge this PR #4547 Thanks.

[2019-12-16 10:38] yogkumgit commented on #4536
@Justin-Shi . If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it.

[2019-12-16 10:39] #4536 closed

[2019-12-16 10:47] yogkumgit commented on #4538
@chrisda Please merge this PR #4548

[2019-12-16 10:54] yogkumgit commented on #4533
@chrisda Please merge this PR #4546

[2019-12-16 19:24] mrkeiths opened #4552 "HiddenFromExchangeClientsEnabled"
The following statement that appears in the 'Description' section of this doc is no longer valid and should be removed b/c Set-UnifiedGroup supports changing the HiddenGroupMembershipEnabled property:
"The HiddenGroupMembershipEnabled parameter is only available on the New-UnifiedGroup cmdlet. You can't change this setting on an existing Office 365 Group."

Thank you, Keith

---
#### Document Deta

[2019-12-16 21:16] JustinGrote opened #4553 "UserAccountControl Property?"
The useraccountcontrol property from get-user is not listed. This is used to filter out disabled users. Is there an alternative to identifying disabled users now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9145396-cc72-6e54-4204-6867397e67ea
* Version Independent ID: ca86d515-e4d3-ce0f-11e3-87ddfda38b75
* Content:

[2019-12-17 00:45] chrisda commented on #4538
Use which ever one is currently available to you: EnableSafeLinksForClients for most people, and EnableSafeLinksForO365Clients if it happens to be available to you. They are functionally the same, and I'm told that eventually EnableSafeLinksForO365Clients will replace EnableSafeLinksForClients, but the change hasn't been implemented everywhere yet.

[2019-12-17 00:58] chrisda commented on #4549
@mmascolino, good point. ResultSize makes no sense if you can only return one object at a time.

This appears to be the case where ResultSize is available, but shouldn't be. I changed the description to "reserved for internal Microsoft use" for now.

Thanks for the feedback

[2019-12-17 00:58] #4549 closed

[2019-12-17 07:44] ParaGlideRocks commented on #4325
Does the **-Tenant** option still apply?

[2019-12-17 08:00] NiteshSharma2K19 commented on #4538
Thanks @chrisda , for the explanation. So instead of the changes made by @dariomws306 we should include your comment as a note. This should resolve the confusion. Also, we were getting the below error when we did a test for security analysis.

<img src="https://bfh9ka.bn.files.1drv.com/y4mBVUIahwVrp-4L7gjWNPzrXOlntgnDBcxT2O-26Q7quisYhogpxJtTR6R2o6_GuwiX7-CrG9msIt5Hc5oPBRrNdAG3Vz8FAHLF7ojBCMHwqhYEd

[2019-12-17 08:08] yogkumgit commented on #4552
@officedocsbot assign @yogkumgit

[2019-12-17 08:09] yogkumgit commented on #4553
@officedocsbot assign @yogkumgit

[2019-12-17 09:17] yogkumgit commented on #4542
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @diecknet  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-12-17 09:17] #4542 closed

[2019-12-17 09:24] yogkumgit commented on #4538
@dariomws306 Thank you very much for the contribution and updating the documentation with PR. @NiteshSharma2K19  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-12-17 09:30] yogkumgit commented on #4521
@dariomws306 Thank you very much for the contribution and updating the documentation with PR. @TorrenManson  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-12-17 09:30] #4521 closed

[2019-12-17 09:34] yogkumgit commented on #4533
@dariomws306 Thank you very much for the contribution and updating the documentation with PR. @3novsan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-12-17 09:34] #4533 closed

[2019-12-17 09:37] yogkumgit commented on #4534
@dariomws306 Thank you very much for the contribution and updating the documentation with PR. @KirkMunro  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-12-17 09:37] #4534 closed

[2019-12-17 10:47] NiteshSharma2K19 commented on #4538
Hello @yogkumgit , Can you please also add the Comments suggested by @chrisda . This will help others to understand what is going on with these two Cmdlets. This was confusing to me, even I am working for MS.

[2019-12-17 12:56] dariomws306 commented on #4538
@chrisda What do you think? Should we add a note to let readers know that it would be EnableSafeLinksForO365Clients in the future?

[2019-12-17 17:00] Danithak opened #4558 "Cannot run any commands from msonline module after connecting to Connect to Exchange Online PowerShell using multi-factor authentication"
1) Followed all steps at https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell?view=exchange-ps and Get-Mailbox returns all active mailboxes.
2) Tried running Remove-MsolUser on a deleted mailbox and it returns:
The term 'remove-msoluser' is not recognized as the name of a cmdlet, function, script file,

[2019-12-17 17:02] dariomws306 commented on #4538
I have created a new PR to add this comment. @chrisda please approve it if you are agree.

Thanks!

[2019-12-18 09:14] yogkumgit commented on #4558
@officedocsbot assign @yogkumgit

[2019-12-18 09:26] yogkumgit commented on #4532
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @mrkeiths Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-18 09:26] #4532 closed

[2019-12-18 09:31] yogkumgit commented on #4538
@NiteshSharma2K19 Hope this update looks ok now. Thanks for your kind feedback. Appreciate.

[2019-12-18 09:31] #4538 closed

[2019-12-18 12:33] WillemVerwijs opened #4564 "how to set it"
A link to a "set" command would be great

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72b9940c-4131-2703-1ab3-5840150d075b
* Version Independent ID: b6efe322-a2c9-af80-fab6-7bab5c88bc2e
* Content: [Get-MailboxRegionalConfiguration (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange/client-access/g

[2019-12-18 12:35] WillemVerwijs opened #4565 "how to set for all users"
please give an example on how to do this for all users, all at once

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4acd15e-7bab-4251-dbcb-a075611fcdef
* Version Independent ID: 90b61091-8343-7071-e56d-d963096e3f37
* Content: [Set-MailboxRegionalConfiguration (exchange)](https://docs.microsoft.com/en-us/powershell/modu

[2019-12-18 13:30] aov-arnold commented on #4254
@hirenshah1 news?

[2019-12-18 13:52] eric-ash-1 commented on #4504
I would like to point out that the AzureAD module (I'm using 2.0.2.76) worked on my computer even though I have WinRM Basic Auth disabled. Perhaps the Exchange Online module could adopt the same methodology.

[2019-12-18 16:50] yogkumgit commented on #4565
@officedocsbot assign @yogkumgit

[2019-12-18 16:50] yogkumgit commented on #4564
@officedocsbot assign @yogkumgit

[2019-12-18 22:04] carolynblanding opened #4567 "Missing reference to Teams"
[States that this applies to Skype for business Online but it applies to online voicemail service which is applicable to Teams as well. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d50f632e-418b-b715-80d1-13af57332435
* Version Independent ID: dbea5fd4-8b55-dd74-dec9-62402d35aaf8
* Content: [Set-CsOnlineVoicemailPo

[2019-12-19 07:42] hirenshah1 commented on #4193
Work items get prioritized based on business need at any given time, so I cannot say the exact date when the functionality will be available.

[2019-12-19 10:35] yogkumgit commented on #4567
@officedocsbot assign @yogkumgit

[2019-12-19 11:10] Bhawana023 opened #4569 "Remove user from all office 365"
how to remove  a user from no of office 365 group using powershell ?

[2019-12-19 12:11] dariomws306 commented on #4558
Hi @Danithak,

Msol module is different from Exchange Online Module. Please follow the next steps to connect to Azure AD PowerShell:
https://docs.microsoft.com/office365/enterprise/powershell/connect-to-office-365-powershell

[2019-12-19 12:16] dariomws306 commented on #4553
Hi @JustinGrote, thank you for your feedback.

Exchange Online PowerShell V2 module is still on preview. Anyway, with V2 module you can still use V1 cmdlets so you can use Get-User to get disabled users.

Also, you can send feedback to improve V2 here:
exocmdletpreview[at]service[dot]microsoft[dot]com

[2019-12-19 12:26] dariomws306 commented on #4552
Hi @mrkeiths, thank you for your feedback.

This parameter is not available in my demo tenant:
![image](https://user-images.githubusercontent.com/33589238/71173462-8ce11000-2241-11ea-92d2-6fee10283231.png)

HiddenFromAddressListsEnabled and HiddenFromExchangeClientsEnabled are available.

[2019-12-19 12:28] dariomws306 commented on #4550
Hi @prontohostau, thank you for your feedback.

Could you kindly list the command you are referring?

[2019-12-19 12:34] dariomws306 commented on #4544
Hi @A9G-Data-Droid, thank you for your feedback.

I have verified in a demo tenant and this cmdlet is available in Exchange Online.

[2019-12-19 13:29] yogkumgit commented on #4569
@officedocsbot assign @yogkumgit

[2019-12-19 14:02] yogkumgit commented on #4544
@dariomws306  Thank you very much for the contribution and sharing this explanation. @A9G-Data-Droid Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-19 14:02] #4544 closed

[2019-12-19 14:08] mrkeiths commented on #4552
Hello,
I just re-tested and am really sorry to have wasted your time.  I have a feeling I must have used HiddenFromExchangeClientsEnabled or HiddenFromAddressListsEnabled since this is what resolves using tab.

You're right.  There is no support for HiddenGroupMembershipEnabled using Set-UnifiedGroup.

You can close this request.

Take care, Keith

[2019-12-19 14:09] yogkumgit commented on #4552
@dariomws306  Thank you very much for the contribution and sharing this explanation. @mrkeiths
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-19 14:09] #4552 closed

[2019-12-19 14:13] yogkumgit commented on #4553
@dariomws306  Thank you very much for the contribution and sharing this explanation. @JustinGrote Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-19 14:13] #4553 closed

[2019-12-19 14:16] yogkumgit commented on #4558
@dariomws306  Thank you very much for the contribution and sharing this explanation. @Danithak
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-19 14:16] #4558 closed

[2019-12-19 14:18] dariomws306 commented on #4552
Don't worry Keith, can happen, thank you for your feedback!

[2019-12-19 18:26] nate1178 opened #4570 "List parameter bears no difference"
The -List parameter information is not correct. It states "The ID, Title or Url of the list." but if i provide it a URL, it returns alert data for all alerts on the site and not just from the URL that is provided. Please correct the documentation or correct the apparent bug

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-12-19 19:34] get-itips commented on #4537
Hello @nakatenus thanks for noticing and reporting. I created a pull request to fix this typo.
Thank you

[2019-12-19 19:43] get-itips commented on #4567
Hello @carolynblanding
Thanks for taking the time to report this.
Recently, another person reported something like this, please read the following explanation by @kenwith https://github.com/MicrosoftDocs/office-docs-powershell/issues/4501#issuecomment-562207181 on why we currently can't update the Applies to metadata.

[2019-12-19 19:45] get-itips commented on #4541
Hello @ekongataspect
Hope you are doing great.
I need to kindly redirect you to [this other repo](https://github.com/SharePoint/PnP-PowerShell/issues) to report issues in documentation of PnP or in PnP cmdlets, as you might know, PnP cmdlets are community driven, a member of the community will pick your feedback there and act accordingly.
Thank you

[2019-12-19 19:46] get-itips commented on #4569
Hello @Bhawana023
How are you?
This issue system is to report issues currently present in documentation, is there any specific issue you see in an article that needs to be fixed?
Thank you

[2019-12-19 19:57] carolynblanding commented on #4567
OK. Thanks.

Carolyn Blanding

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Thursday, December 19, 2019 2:43 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Carolyn Blanding <cbland@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Missing reference to Teams (#4567)

Hello @carolyn

[2019-12-19 20:55] sir-wally opened #4572 "-TelephoneNumber is an invalid parameter"
Set-CsOnlineApplicationInstance -Identity autoattendant@&lt;omitted&gt; -TelephoneNumber &lt;omitted&gt;
A parameter cannot be found that matches parameter name 'TelephoneNumber'.

    + CategoryInfo          : InvalidArgument: (:) [Set-CsOnlineApplicationInstance], ParameterBindingException
    + FullyQualifiedErrorId : NamedParameterNotFound,Microsoft.Rtc.Management.Hosted.PlatformService.Applic

[2019-12-20 05:25] kefujino opened #4574 "Wrong title in a Japanese article"
This page is for Get-SPOSiteGroup, but the current title in Japanese is Remove-SPOSiteGroup.

https://docs.microsoft.com/ja-jp/powershell/module/sharepoint-online/get-spositegroup?view=sharepoint-ps

![image](https://user-images.githubusercontent.com/13634805/71232295-be86d380-2334-11ea-8404-a680ee08b449.png)

Please check it.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-12-20 13:21] yogkumgit commented on #4570
@officedocsbot assign @yogkumgit

[2019-12-20 13:22] yogkumgit commented on #4572
@officedocsbot assign @yogkumgit

[2019-12-20 13:22] yogkumgit commented on #4574
@officedocsbot assign @yogkumgit

[2019-12-20 13:28] yogkumgit commented on #4537
@tomkau Please merge this PR #4571

[2019-12-20 13:31] yogkumgit commented on #4567
@get-itips  Thank you very much for the contribution and sharing this explanation. @carolynblanding Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-20 13:31] #4567 closed

[2019-12-20 13:35] yogkumgit commented on #4541
@get-itips  Thank you very much for the contribution and sharing this explanation. @ekongataspect
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-20 13:35] #4541 closed

[2019-12-20 13:39] yogkumgit commented on #4569
@get-itips  Thank you very much for the contribution and sharing this explanation. @Bhawana023
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-20 13:45] Bhawana023 commented on #4569
Could you please share a name of the document ???

Thanks & Regards
Bhawana

On Fri, 20 Dec 2019, 19:09 Yogesh Kumar, <notifications@github.com> wrote:

[2019-12-20 14:23] get-itips commented on #4569
https://docs.microsoft.com/en-us/powershell/module/exchange/users-and-groups/remove-unifiedgrouplinks?view=exchange-ps

[2019-12-20 15:29] get-itips commented on #4572
Hello @sir-wally
Want to confirm with you that you followed all the steps outlined in [this guide](https://docs.microsoft.com/en-us/microsoftteams/manage-resource-accounts), specially acquiring service numbers and assigning a license

Thanks

[2019-12-20 15:31] get-itips commented on #4570
Hello @nate1178
Hope you are doing great.
I need to kindly redirect you to this [other repo](https://github.com/SharePoint/PnP-PowerShell/issues) to report issues in documentation of PnP or in PnP cmdlets, as you might know, PnP cmdlets are community driven, a member of the community will pick your feedback there and act accordingly.
Thank you

[2019-12-20 15:55] get-itips commented on #4574
Hello @kefujino
Thanks for noticing and reporting, we are currently investigating this.

[2019-12-20 15:59] nate1178 commented on #4570
Hi @get-itips , i merely commented on a ms documentation page, which created this post. Some automation posted it here, and id imagine it would need some updating if this isnt the appropriate forum for the issue reported

[2019-12-20 16:07] get-itips commented on #4570
Hello @nate1178 exactly, the feedback section puts your comment here, you did good 👍 there is nothing wrong on what you did and we appreciate your feedback.
As the documentation for PnP cmdlets is in this repo, the issues end up here, but on the repo I referenced they will be taken care of.
Would you be so kind opening the same issue but here https://github.com/SharePoint/PnP-PowerShell/issues ?
T

[2019-12-22 17:06] bedo1976 opened #4576 "Exchange Online Get-Mailbxostatistic -database parameter not available"
[Enter feedback here]

This article:
https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/get-mailboxstatistics?view=exchange-ps

Applies to:
Exchange Server 2010, Exchange Server 2013, Exchange Server 2016, Exchange Server 2019, Exchange Online

I'm connected to Exchange online but Get-MailboxStatistics -Database doesn't work:

PS C:\Users\bdonl> Get-MailboxStatistics -database E

[2019-12-22 17:10] bedo1976 opened #4577 "Get-MailboxDatabase is not working in exchange online"
[Enter feedback here]

I can use get-mailboxstatistics well, but Get-MailboxDatabase doesn't work and the article below contains exchange online

PS C:\Users\bdonl> Get-MailboxDatabase
Get-MailboxDatabase : Die Benennung "Get-MailboxDatabase" wurde nicht als Name eines Cmdlet, einer Funktion, einer
Skriptdatei oder eines ausführbaren Programms erkannt. Überprüfen Sie die Schreibweise des Namens, o

[2019-12-23 01:06] JeffreyBrew commented on #4193
@hirenshah1 Is it me or am I getting the impression that you are not sensing the urgency of this?  Please escalate this to someone who raise the priority on this.

[2019-12-23 03:39] pilcherd opened #4578 "Restart of Powershell required after installing PowershellGet module"
After doing Install-Module PowershellGet -Force the subsequent command  (Install-Module -Name ExchangeOnlineManagement) was failing with "PowerShellGetFormatVersion ‘2.0’ is not supported by the current version of PowerShellGet."

Another thread helped me by saying I had to restart Powershell again after installing PowershellGet.  That made it work for me.

Thanks

---
#### Document Details

⚠ *Do

[2019-12-23 09:06] trudolf-msft opened #4579 "Update cmdlets for OnPrem"
See https://techcommunity.microsoft.com/t5/Exchange-Team-Blog/Disabling-Legacy-Authentication-in-Exchange-Server-2019/ba-p/712048

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d36e1da8-8603-5457-b4fa-b1f2edae2533
* Version Independent ID: c8563140-ee8f-5c50-889c-1761baebabe3
* Content: [New-AuthenticationPolicy (excha

[2019-12-23 10:14] OfficeGlobal commented on #4574
Topic is MTed. We did re-handoff to check it if helps. If not, we will uplift to HT.

[2019-12-23 13:35] yogkumgit commented on #4576
@officedocsbot assign @yogkumgit

[2019-12-23 13:35] yogkumgit commented on #4577
@officedocsbot assign @yogkumgit

[2019-12-23 13:36] yogkumgit commented on #4578
@officedocsbot assign @yogkumgit

[2019-12-23 13:36] yogkumgit commented on #4579
@officedocsbot assign @yogkumgit

[2019-12-23 13:42] yogkumgit commented on #4570
@get-itips  Thank you very much for the contribution and sharing this explanation. @nate1178
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-23 13:42] #4570 closed

[2019-12-23 14:03] yogkumgit commented on #4550
@prontohostau  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some t

[2019-12-23 14:32] 1trevor opened #4580 "Loading module in ISE and elsewhere?"
Can you please provide info on how to load this module in PowerShell ISE and VS Code? Following the instructions in this article loads the module in a regular PowerShell console window and it isn't clear how to load it other places.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* V

[2019-12-23 17:27] victorguo opened #4581 "How to connect to national clouds?"
I'm trying to connect to Office 365 operated by 21Vianet in China. But when I ran the following cmdlet:

[code]

I got an error:

[code]

If I ran the cmdlet again right away, I got a different error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28f6554b-4d67-06d3-7926-1b958653872f
* Version Independent ID: 7

[2019-12-24 03:49] prontohostau commented on #4550
Hi @dariomws306 @yogkumgit
Referring for the command New-MailboxSearch and Mailbox-Search
Just looking for info is it still works.

https://docs.microsoft.com/en-us/powershell/module/exchange/policy-and-compliance-content-search/new-mailboxsearch

[2019-12-24 07:45] nanddeepn commented on #4038
@trent-green , @yogkumgit
Can you please help to merge this PR.
Thank you in advance

[2019-12-24 12:53] warleygr opened #4582 "Three connections limit"
Hello!
Is the three connections limit per PowerShell PID, PC, or public IP Address?
I think the article is not that clear about this.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Independent ID: 4d69ee5d-5a6d-a203-69fe-bf5441a8b5eb
* Content: [Connect to Exch