[2020-08-18 08:46] #6342 closed

[2020-08-18 13:06] dariomws commented on #6327
Ok, so I understand that we experienced the same behaviour and there is no need to update the article. Anyway, I'm checking if we can create an article as you requested, to compare delegate options.

[2020-08-18 13:46] takawazo opened #6356 "Option : MigrateHiddenFiles is not available in preview (3.4.119.6)"
In the public preview  (3.4.119.6),  MigrateHiddenFiles  is not available and if you specify this option, it will fail with error.
So, you must use IncludeHiddenFiles instead and confirmed the code and behavior.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 176873a5-a509-6337-0aa9-7db8ead2e863
* Version Independent ID

[2020-08-18 14:55] yogkumgit commented on #6337
@get-itips  Thank you very much for the contribution and sharing this explanation. @ryu-sirius Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-18 14:55] #6337 closed

[2020-08-18 15:06] yogkumgit commented on #6339
@get-itips  Thank you very much for the contribution and sharing this explanation. @sangitsdhar Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-18 15:06] #6339 closed

[2020-08-18 15:07] yogkumgit commented on #6340
closing via #6339

[2020-08-18 15:07] #6340 closed

[2020-08-18 16:56] #6307 closed

[2020-08-18 17:31] solbkeston opened #6357 "Table for EXO Powershell page has getrecipient instead of get-EXORecipient for V2 cmdlet"
The table is incorrect at the top of the article.  Note the getrecipient in the first column:

EXO V2 module cmdlet | Older related cmdlet
-- | --
Get-EXOMailbox | Get-Mailbox
GetRecipient | Get-Recipient

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9

[2020-08-18 18:23] chrisda commented on #6357
@solbkeston, I fixed it. In the future, you, too, can make simple fixes like this directly without opening an Issue first. For more information, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing.

[2020-08-18 18:23] #6357 closed

[2020-08-18 19:43] bingoglossy opened #6358 "Search-MailboxAuditLog in EXO fails with "-LogonTypes external" option"
When trying to run **Search-MailboxAuditLog** with the "-LogonTypes external" option on EXO it throws:

**Cannot process argument transformation on parameter 'LogonTypes'. Cannot convert value "external" to type
"Microsoft.Exchange.Data.MultiValuedProperty`1[Microsoft.Exchange.Data.Directory.AuditScopes]". Error: "Failed to convert external from System.String to
Microsoft.Exchange.Data.Directory.A

[2020-08-18 22:57] chrisda commented on #6358
@bingoglossy, I removed the External value from the parameter description.

Thanks for the feedback.

Closing.

[2020-08-18 22:57] #6358 closed

[2020-08-19 02:13] CraigOnline opened #6363 "(verb)-TeamchannelUser unavailable in 1.1.4 of Module MicrosoftTeams."
The commands (verb)-TeamchannelUser are unavailable in the 1.1.4 of Module MicrosoftTeams.
There is also no mention of a development (INTerim?) MicrosoftTeams module in PSGalleryINT.

I would like feedback please regarding the status and future of this command, or of any replacement command, to enumerate/audit all the objects in MSTeams.

reference page: https://docs.microsoft.com/en-us/powershell

[2020-08-19 12:02] get-itips commented on #6363
Hello @CraigOnline how are you?

An update to the Get-TeamChannelUser article [is about to be merged](https://github.com/MicrosoftDocs/office-docs-powershell/pull/6345), as the home for the now called _Public Preview_ module is in the same PSGallery as the GA module.

You will find that cmdlet in the 1.1.3-preview (Public Preview module).

Please see here https://docs.microsoft.com/microsoftteams/

[2020-08-19 16:27] #5935 closed

[2020-08-19 18:56] chrisda commented on #6322
@robertcaretta, I'm told there isn't an official way to queue eDiscovery searches like this. That being said, you could like script something that periodically checks the value of the Status property value in the output of Get-ComplianceSearchAction cmdlet. When the value is Completed, then you could move on to the next one.

Or, you could open a support case and see if they have a better solution

[2020-08-19 19:02] kaishuipinggai commented on #6284
After the discussion with team members we found a bug in our code and we are currently working on fixing it...So right now example 2 is not working, and customer will receive the error when they follow example 2. They might still be able to follow example 1. It won't affect the actually civic address / location creation and management functionalities.

I will keep you posted if the fix is checked

[2020-08-19 19:46] robertcaretta commented on #6322
Sounds good. Thank you for the feedback.

On Wed, Aug 19, 2020 at 1:56 PM Chris Davis <notifications@github.com>
wrote:

[2020-08-20 03:28] claytonwalker commented on #6283
Even with the note, it's not clear. Please add a specific version number or something like that. It would seem obvious that if the 1.1.3-preview includes a feature that the 1.1.4 GA release would also include it, but it doesn't. Googling the cmdlet name shows this has been in preview since at least 1.0.21 - what's going on?

install-module MicrosoftTeams -AllowPrerelease which is what's in the lin

[2020-08-20 11:45] get-itips commented on #6283
Hello @claytonwalker I reported that recently to the team, I will propose to specify the RequiredVersion in the article and see if it gets merged, thank you

[2020-08-20 13:18] itpro-tips opened #6365 "AutoForwardingMode parameter missing"
Hello,

A new parameter _-AutoForwardingMode_ is available for _Set-HostedOutboundSpamFilterPolicy_ but I don't see any documentation.
This parameter can be used in production ?
It is also available on [https://protection.office.com/antispam](https://protection.office.com/antispam) -> outbound

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-08-20 13:58] yogkumgit commented on #6322
@chrisda Thank you very much for sharing this explanation. @robertcaretta Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-20 13:58] #6322 closed

[2020-08-20 17:24] chrisda commented on #6365
@itpro-tips, a similar issue was raised in the regular anti-spam policy content [here](https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2612).

I've been able to determine that the new UI and parameters are available to everyone; however, they won't start doing anything until after September 1st.

I was waiting for confirmation about exactly what the "Automatic: System-controlled" value

[2020-08-20 18:21] chrisda commented on #6365
Topic updated.

Thanks for the feedback.

Closing.

[2020-08-20 18:21] #6365 closed

[2020-08-20 20:41] schumatt-msft opened #6368 "Output section is empty, needs to explain return values"
The Outputs section should explain the properties returned and values that might be returned in those properties.  As it stands, users are left to "experiment" with running the command to understand the possible return values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1ef000-2e09-c225-f4cc-1250d5f12fde
* Version

[2020-08-20 21:32] CraigOnline commented on #6363
Thankyou for the input @get-itips.
Cheers ./cb

[2020-08-20 21:32] #6363 closed

[2020-08-20 22:41] chrisda commented on #6368
@schumatt-msft, the only viable way to populate the Output sections for all 1200+ Exchange-related cmdlets (Exchange Server, Exchange Online, Security & Compliance Center and Exchange Online Protection) is do do it programmatically using the same utility that we use to dump cmdlets to topics. This is the results for the Output section in Get-OMEMessgeStatus:

## OUTPUTS

### System.Object

Not exa

[2020-08-20 22:41] #6368 closed

[2020-08-21 01:56] MicrosoftisaPieceofshit opened #6370 "This New Powershell Change/Update is just downright STUPID"
Microsoft we all know that you are. Don't become even more of a by giving us unclear instructions on upgrading to Exo V2, not all techs are like you Microsoft.

[2020-08-21 03:44] dstrome commented on #6370
The contents of this issue violates the Microsoft Code of Conduct and is being removed.

[2020-08-21 03:44] #6370 closed

[2020-08-21 13:06] adzero opened #6371 ""Certificate is not accessible to the current user." error with CertificateFilePath and CertificatePassword"
I'm trying to connect with an AppId and a self signed certificate as explained in the [documentation](https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2).

First, I tried using the **CertificateThumbprint** parameter with the certificate stored in my user account store, which is working fine.

Then I switched to the other way using the exported pfx and its password wi

[2020-08-21 17:48] 216rick opened #6372 "Incorrect examples"
[Enter feedback here]
Examples are for Get-PnPTeamsTeam not New-PnPTeamsTeam.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 446c283c-88f3-5268-4647-5dc9fc02cc4e
* Version Independent ID: 0094ebb4-ca9a-147f-7f3f-fd63994397f3
* Content: [New-PnPTeamsTeam (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/modu

[2020-08-21 19:07] rjmholt opened #6373 "New-Team cmdlet does not recognise -Template parameter"
From https://github.com/PowerShell/vscode-powershell/issues/2903.

---

Original issue:

Hi All,
it appears that I have VSC with preview extension properly running, but get the following

[code]

when executing `New-Team -DisplayName $nam -Description $des -Mailnickname $mai -Owner $own -AllowGiphy $false -Template $tem`

Anyone any idea?
thx
Kay

---

[The docs](https://docs.microsoft.com/en-us/p

[2020-08-22 06:57] SamZhangQingChuan opened #6374 "Get-TeamHelp doesn't work"
![image](https://user-images.githubusercontent.com/8025859/90950805-c1b7fd80-e487-11ea-990d-aba72c29f7bb.png)

[2020-08-23 05:06] fowl2 opened #6375 "Mount-SPContentDatabase will also create a database if it doesn't exist"
Instead of returning an error, `Mount-SPContentDatabase` will actually create a brand new blank content database if the specified database doesn't already exist.

This can lead to hours of head-scratching trying to find "missing" site collections when a typo on a database name is made.

Ideally the behaviour could be changed, or a "-ErrorIfMissing" added, etc., but at the very least a mention here

[2020-08-23 14:29] ppolychronop opened #6376 "Set-ContentFilterConfig Threshold values"
On article regarding cmdlet Set-ContentFilterConfig the Thresholds description, for example SCLRejectThreshold states:

_"This value represents the SCL rating that a particular message **must exceed** for the Content Filter agent to reject the message and send an NDR to the sender. "_

However the Article [Exchange spam confidence level (SCL) thresholds](https://docs.microsoft.com/en-us/exchange/a

[2020-08-23 20:58] azha23 opened #6377 "Typo"
Typo
"Mode also governs what functionality is avaiable in the Teams client. " should read
"Mode also governs what functionality is available in the Teams client. "
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0dd44c-bfc9-5f82-68c4-7b469129e8a5
* Version Independent ID: ea015ee3-54e2-e402-d533-c8a9a15557e8
* Content:

[2020-08-24 01:43] milesgratz opened #6378 "Incorrect -CorrectionUri for Microsoft 365 GCC High"
This article is incorrectly referencing the **DoD ConnectionUri**  instead of the **GCC High ConnectionUri**  in both sections below, currently ```https://l5.ps.compliance.protection.office365.us/powershell-liveid/``` but should be ```https://outlook.office365.us/powershell-liveid``` as per  [Connect-IPPSSession](https://docs.microsoft.com/en-us/powershell/module/exchange/connect-ippssession?view=

[2020-08-24 02:12] milesgratz opened #6379 "Incorrect -CorrectionUri for Microsoft 365 GCC High"
Referencing #6378 because it looks like the [Connect-IPPSSession](https://docs.microsoft.com/en-us/powershell/module/exchange/connect-ippssession?view=exchange-ps) docs are referencing the wrong -ConnectionUri as well. Based on an older commit, is the correct URI ```https://ps.compliance.protection.office365.us/powershell-liveid/``` ?

![image](https://user-images.githubusercontent.com/17114534/90

[2020-08-24 02:15] milesgratz commented on #6378
Sorry, I believe the URI above is wrong for SCC (should be ```https://ps.compliance.protection.office365.us/powershell-liveid/```?) but hopefully we can update both this doc and the [Connect-IPPSSession](https://docs.microsoft.com/en-us/powershell/module/exchange/connect-ippssession?view=exchange-ps) (#6379) at once with the correct URIs.

[2020-08-24 09:20] Larryngolog opened #6382 "recoveryEnabled"
What does the recoveryEnabled attribute defines and what are the expected values for this attribute?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 781f6cb6-e1b5-ef1d-b811-171d9d749f91
* Version Independent ID: b3a23a18-70af-d4c6-dd77-176f90d1d895
* Content: [Get-SPODataEncryptionPolicy (sharepoint-online)](https://doc

[2020-08-24 13:24] #6323 closed

[2020-08-24 14:00] yogkumgit commented on #6319
@dariomws Thank you very much for the contribution and sharing this explanation. @JustineNicole2020 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-24 14:00] #6319 closed

[2020-08-24 14:21] yogkumgit commented on #6271
@chrisda  Thank you very much for sharing this explanation. @Staffanb88 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-24 14:21] #6271 closed

[2020-08-24 15:06] #6338 closed

[2020-08-24 16:08] dariomws commented on #6371
Hi @adzero, thank you for your feedback.

I cannot help you here as we are limited to documentation issues and improvements. I suggest that you put a comment in the following link:
https://techcommunity.microsoft.com/t5/exchange-team-blog/modern-auth-and-unattended-scripts-in-exchange-online-powershell/ba-p/1497387

At this link, I am unable to see users reporting this issue so I think it's a part

[2020-08-24 16:42] chrisda commented on #6378
@milesgratz, I fixed it. In the future, you can make updates yourself directly without opening a GitHub issue first. For more information, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2020-08-24 16:42] #6378 closed

[2020-08-24 16:42] chrisda commented on #6379
@milesgratz, I fixed it. In the future, you can make updates yourself directly without opening a GitHub issue first. For more information, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2020-08-24 16:42] #6379 closed

[2020-08-24 16:58] get-itips commented on #6354
Hello @jeffreyxrh
I am completing the sintax of one of those articles so we can check if the build fails, can you share the full list ?
Thanks

[2020-08-24 17:31] chrisda commented on #6271
@Staffanb88, as you can now see, I've retired the DAP connection instructions you referenced in this issue, and the DAP instructions now redirect to <https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell>. Please try the instructions out, and report any issues back here. Thanks.

[2020-08-24 21:17] dariomws commented on #6330
Hi @mailgut, thank you for your feedback.

The redirect_uri is where authentication responses can be sent and received by your app or script. It should be an url to receive the token in the server or machine where you are running the script.

Because it's the only version that supports App-only authentication. For more information, see:
https://techcommunity.microsoft.com/t5/exchange-team-blog/mod

[2020-08-24 21:28] dariomws commented on #6351
Hi @qaehtesh, thank you for your feedback.

I see that you are a Microsoft employee. Here is a site you can use to see the mappings between GitHub and Microsoft aliases: https://repos.opensource.microsoft.com/people?q=qaehtesh

And if you have a Microsoft alias you can link your accounts in GitHub so that a blue "Microsoft submitter" label appears to any PR's you submit. Guidance on it here: https

[2020-08-24 22:54] qaehtesh commented on #6351
@dariomws Thank you for the response.
This applies to all, message trace, detail and historical search.
The issue here is that recipient filter in message trace if recipient is a Distribution group so the message will not show up message because we do not log it for group as recipient and one needs to use the group member as recipient filter.
The behavior is consistent with all type of trace with

[2020-08-24 23:15] philipzloh opened #6386 "Need to document new Set-OrganizationConfig option OutlookGifPickerDisabled"
`OutlookGifPickerDisabled` is default `$false` and can be set to `$true`. This disables the GIF Search (powered by Bing) feature built into the Outlook Web Compose page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03895b30-2bb7-9e96-28db-def76ae59029
* Version Independent ID: 8056b3ee-4fab-3a5c-935b-a9d0e9ad82a4
* C

[2020-08-25 04:24] jeffreyxrh commented on #6354
There are 4 that I found:
skype\New-CsTeamsAppPermissionPolicy.md
skype\New-CsTeamsAppSetupPolicy.md
skype\Remove-CsTeamsPinnedApp.md
skype\Remove-CsVideoInteropServiceProvider.md

This one has an extra syntax tag: skype\Set-CsExternalUserCommunicationPolicy.md

[2020-08-25 06:08] robinvp90 opened #6388 "The commands is not working for me"
Hi Team,

I was tried to create a channel using this syntax. but unfortunately, while I trying set membership type getting below error.

New-TeamChannel -GroupId 126b90a5-e65a-4fef-98e3-d9b49f4acf12 -DisplayName "Engineering" -MembershipType Private
https://docs.microsoft.com/en-us/powershell/module/teams/new-teamchannel?view=teams-ps
![image](https://user-images.githubusercontent.com/68440429/911

[2020-08-25 09:43] oshihirii opened #6389 "What is the difference between New-ProtectionAlert and New-ActivityAlert?"
What is the difference between:

[New-ProtectionAlert](https://docs.microsoft.com/en-us/powershell/module/exchange/new-protectionalert?view=exchange-ps)

and:

[New-ActivityAlert](https://docs.microsoft.com/en-us/powershell/module/exchange/new-activityalert?view=exchange-ps)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-08-25 10:45] oshihirii commented on #6388
I am not an expert, but maybe try removing `1.1.4` and installing `1.1.3-preview` like in [this issue](https://github.com/MicrosoftDocs/office-docs-powershell/issues/6287)?

[2020-08-25 12:10] robinvp90 commented on #6388
Yes it's working fine after installing 1.1.3-preview

![image](https://user-images.githubusercontent.com/68440429/91172566-0a76ed00-e6fa-11ea-9afb-29f289ca6341.png)

[2020-08-25 12:32] get-itips commented on #6354
@jeffreyxrh added commits to the PR

[2020-08-25 12:34] get-itips commented on #6377
Thanks for reporting @azha23

[2020-08-25 13:25] yogkumgit commented on #6371
@dariomws Thank you very much for the contribution and sharing this explanation. @adzero Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-25 13:25] #6371 closed

[2020-08-25 13:43] yogkumgit commented on #6330
@dariomws  Thank you very much for the contribution and sharing this explanation. @mailgut Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-25 13:43] #6330 closed

[2020-08-25 16:14] #6376 closed

[2020-08-25 16:25] dariomws commented on #6351
Thanks, @qaehtesh. Sorry but I still don´t understand.

If I use the RecipientAddress parameter with Get-MessageTrace and Get-MessageTraceDetail to filter output by DL I get this for example:
![image](https://user-images.githubusercontent.com/33589238/91200558-ae01d680-e6d5-11ea-8246-26d18131789e.png)

I'm testing now with Start-HistoricalSearch.

[2020-08-25 18:19] franklesniak opened #6399 "Search-UnifiedAuditLog and Search-MailboxAuditLog Both Return No Results in 21vianet (Chinese) Tenant"
Hi,

It seems we cannot retrieve audit logs from a China M365/O365 tenant. The commands Search-UnifiedAuditLog and Search-MailboxAuditLog both execute successfully, but return no results. Audit logging appears to be enabled.

We confirmed audit logging is enabled on a mailbox by running this command:
Get-Mailbox "somemailboxaddress@domain.com" | Format-List Name,Audit*

Is it expected that these c

[2020-08-25 19:44] 1trevor opened #6402 "Connecting to other tenants using Partner Delegated Admin"
Can you please add instructions for how to connect to other tenants via partner delegated admin rights? Do you have to grant permissions for the service principal in each tenant you need to manage? How would you go about that?

When I try to connect to another organization using the -organization or -delegatedorganization parameters I get the following error message:

---
#### Document Details

⚠

[2020-08-25 21:20] get-itips commented on #6372
Hello @216rick how are you?
Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

Thank you!

[2020-08-25 21:27] get-itips commented on #6373
Hello @rjmholt Robert
Please see here https://github.com/MicrosoftDocs/office-docs-powershell/issues/6323#issuecomment-674589858

Template parameter is part of the Public Preview module, that version currently is 1.1.3-preview so be sure to be running that one on your system, if you want to use the -Template parameter.

Hope this clarifies it to you!

[2020-08-25 22:05] get-itips commented on #6374
Hello @SamZhangQingChuan Yes, it was removed from the module according to https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes will create a PR to remove the article. Thank you!

[2020-08-26 00:09] rjmholt commented on #6373
@xlupy let me know if this is ok to close

[2020-08-26 00:11] get-itips commented on #5915
Thanks for sharing that information @CLYVR

[2020-08-26 02:51] pluckyyau opened #6406 "SharePoint 2019: Import-SPWeb fails with modern list"
How to solve the problem of "invalid child element 'ColumnWidth' in namespace 'urn:deployment-manifest-schema'."
Ref.
[https://docs.microsoft.com/en-us/answers/questions/64977/sharepoint-2019-import-spweb-fails-with-modern-lis.html](https://docs.microsoft.com/en-us/answers/questions/64977/sharepoint-2019-import-spweb-fails-with-modern-lis.html)

---
#### Document Details

⚠ *Do not edit this secti

[2020-08-26 14:21] xlupy commented on #6373
Hi @get-itips ,
I´m not sure what component needs 1.1.3 - is it this?
![image](https://user-images.githubusercontent.com/70028848/91315582-22ad4180-e7b8-11ea-9b23-e3f081e9ed29.png)
Thanks again :-)

[2020-08-26 14:23] irideostriches commented on #5139
I struggled to get this working. I ended up deleting the module directory for the production version (1.0.7) and installing 1.1.3.

This is what worked for me:

PS C:\WINDOWS\system32> Install-Module -Name MicrosoftTeams -RequiredVersion 1.1.3-preview -AllowPrerelease -force -Allo
wClobber
PS C:\WINDOWS\system32> Import-Module microsoftteams
PS C:\WINDOWS\system32> get-command -Module microsofttea

[2020-08-26 14:26] get-itips commented on #6382
Hello @Larryngolog Pawel
Where are you seeing that attribute? in the output of this cmdlet?
Thanks

[2020-08-26 14:28] Larryngolog commented on #6382
Hello, yes, in the cmdlet output.

[2020-08-26 15:00] get-itips commented on #6373
Hello @xlupy
I am afraid I can not help you regarding VSCode related requirements as this repo is limited to address issues in documentation of certain PowerShell modules, including Teams.
What I can tell you is that if you intend to use -Template parameter for New-Team cmdlet, you have to use version 1.1.3-preview of that module, more information on the links I provided earlier.
Thank you

[2020-08-26 15:03] hlanchas opened #6408 "Set-TeamArchivedState is not recognized"
I would like to use this cmdlet to bulk archive more than 400 teams... but I get this error...

Set-TeamArchivedState : The term 'Set-TeamArchivedState' is not recognized as the name of a cmdlet, function, script file, or operable
program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ Set-TeamArchivedState -GroupId 11fc

[2020-08-26 15:08] get-itips commented on #6382
@tseward Trevor, do you happen to know about this attribute?

[2020-08-26 15:33] #5915 closed

[2020-08-26 15:53] get-itips commented on #6375
Hello @fowl2 James,
Thanks for your feedback, I could verify this on SHP2019, will make an edit to the article to improve it to warn about this.
Thanks again

[2020-08-26 17:09] yogkumgit commented on #6372
@get-itips Thank you very much for the contribution and sharing this explanation. @216rick Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-26 17:09] #6372 closed

[2020-08-26 17:12] yogkumgit commented on #6373
@get-itips Thank you very much for the contribution and sharing this explanation. @rjmholt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-26 17:13] rjmholt commented on #6373
@xlupy I think you're conflating a few unrelated things.

The PowerShell and PowerShell Preview extensions are VSCode extensions that allow you to edit and run PowerShell in VSCode. They have nothing to do with the Teams PowerShell module.

You can use the extension to run Windows PowerShell 5.1 or PowerShell 7, and I believe either can load and run the Teams module.

I believe the reason you are

[2020-08-26 17:17] rjmholt commented on #6373
@yogkumgit @get-itips I work on the PowerShell team and am a maintainer of the PowerShell extension for VSCode, but had to open the issue here for @xlupy after they opened an issue in our repo, because this repository did not allow him to open an issue despite being the product feedback link in the docs page:

![image](https://user-images.githubusercontent.com/7009879/91335371-2673a080-e785-11ea-8

[2020-08-26 17:20] get-itips commented on #6373
Hello @rjmholt Robert,
I do not know why it didn't allow @xlupy to open an issue here as anyone can open issues in this repo.
Thanks for your feedback!

[2020-08-26 17:43] #6373 closed

[2020-08-27 04:03] msftfdbk commented on #5952
Alright.

[2020-08-27 04:03] #5952 closed

[2020-08-27 08:46] JohanssonMarkus opened #6412 "Stuck in NotStarted for very long time"
Hey, regarding new-csbatchpolicyassignmentoperation
1: How long does it take before the batch is handled in the backend (queued in the status NotStarted)
and why does it say NotStarted for several hours even though the policy has been assigned to the batch of users?
Would be good to update the site with expected values for this.
thanks
/Markus

---
#### Document Details

⚠ *Do not edit this sectio

[2020-08-27 09:36] Jacob-Steentoft commented on #6412
We're seeing the same wait times on our side for smaller groups of people, around 10-12, where the policy has not started yet.

[2020-08-27 11:22] JohanssonMarkus commented on #6412
@Jacob-Steentoft Sometimes it's handled direct but sometimes it takes up to 2 hours.
Have you run larger set of users? Guess it's the same with larger batches?

[2020-08-27 11:30] Jacob-Steentoft commented on #6412
@JohanssonMarkus It has been around 5 hours with 2 batches. One with 14 users, and one with 401. Both are NotStarted.

Looking at the user profiles, the policy has been assigned for both batches.

[2020-08-27 11:54] JohanssonMarkus commented on #6412
@Jacob-Steentoft that is my experience as well. First it can take up to two hours before the batch is processes.
But also when users has been updated status is NotStarted  for a very long time. So there are two items that would be good if MS can explain and improve.

[2020-08-27 12:44] get-itips commented on #6255
Hello @jadesolis How are you?
Just wanted to let you know that I am handling this.

In advance:

TeamsAppSetupPolicy (App Setup Policy), TeamsCallingPolicy (Calling Policy), TeamsCallParkPolicy (Call Park Policy), TeamsChannelsPolicy (Teams Channel Policy), TeamsComplianceRecordingPolicy (Teams Recording Policy), TeamsEducationAssignmentsAppPolicy, TeamsMeetingBroadcastPolicy (Live Events Policy),

[2020-08-27 15:04] dariomws commented on #5381
Hi @pupara,

Could you find the description?

Thanks!

[2020-08-27 15:05] #6316 closed

[2020-08-27 15:12] dariomws commented on #6327
@dundir we'll proceed to close this issue. Anyway, I'm working on a new article to compare delegate options as you suggested. I'll leave a comment here when it's ready.

Thanks again, for taking out some time to open the issue. I appreciate and encourage you to do the same in the future also.

[2020-08-27 16:53] #6351 closed

[2020-08-27 17:03] fselkirk opened #6416 "Text says the command is for site collections, but the first sample is a subsite misidentified as a site collection"
The text says this is for a top-level site (i.e. site collection).

Example 1 says:

https://contoso.sharepoint.com/sites/site1 is a subsite.
https://contoso.sharepoint.com/sites is the site collection.

Something needs correcting here. Perhaps we expanded the capabilities?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-08-27 17:48] SanguptaMSFT opened #6419 "-AllowGiphy needs to be updated with more info and comment"
We recently made the chance with how the giphy feature is made available in the Teams client. however, the info is not updated in the public doc.

Allow the use of additional optional connected experiences in Office needs to be enabled in the config.office.com then only the Giphy feature shows up.
i would suggest this should be discussed with Teams policy engineering team with what exact statement

[2020-08-27 18:15] #6308 closed

[2020-08-27 20:22] rleist opened #6421 "set-userphoto not working with app-only authentication"
Did all the configuration in this document to set up app-only authentication including giving the app the Exchange Administrator role.

https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps#setup-app-only-authentication

I'm able to connect-exchangeonline with certificate and app ID and able to get mailboxes and make other changes to mailboxes, however t

[2020-08-27 21:08] Absoblogginlutely opened #6424 "Where does this policy show up in the gui?"
After creating a policy with this command, I typically find that it generates a 500 error in the old Exchange filter page at https://outlook.office365.com/ecp/?rfr=Admin_o365&exsvurl=1&mkt=en-US# and also does not show up.
![image](https://user-images.githubusercontent.com/21364480/91494873-95d1b900-e887-11ea-9071-e5145005a4cd.png)
Looking for the filter in the new Mail filtering at https://protec

[2020-08-27 21:24] chrisda commented on #6424
@Absoblogginlutely, the UI (either the Security & Compliance Center or the Exchange admin center) does a bit of behind-the-scenes trickery to create the underlying rule *and** the policy at the same time. If you create just the policy in PowerShell, it won't show up in the UI because there's no corresponding rule.

This is explained [here](https://docs.microsoft.com/microsoft-365/security/office-3

[2020-08-27 22:51] JakeMoe opened #6429 "Remove-TeamUser - Cannot validate argument 'Member' on Parameter 'Role'"
This appears to be a recurrence of #5479 which says it was fixed, updated, and closed.  I'm getting it now on module version 1.1.4.

When I try to remove a user from a Team and specify the role 'Member', I get the error below:

[code]

My current workaround is to omit the 'Role' parameter, which I believe effectively does the same thing?

[2020-08-27 23:21] chrisda commented on #6424
And... no need to answer. I updated the Description section of every malware/spam related New-\*Policy topic to mention that creating the rule in PowerShell isn't enough.

Thanks for the feedback.

Closing

[2020-08-27 23:21] #6424 closed

[2020-08-28 12:11] #6327 closed

[2020-08-28 12:40] MessagingAdmin opened #6431 "Filtering issue with Get-SPOSite"
Getting a syntax error in the filter expression when comparing a string that has  '-le' or '-eq' or '-gt '. My script to find out if a certain user had a mysite failed only for certain user. On investigating and after multiple combinations of names, I see that if the user's email id contained  a hyphen followed by 'le' or 'gt', command was throwing syntax error. Appears, like it is been treated as

[2020-08-28 14:16] bmomartins opened #6432 "New-CsCallingLineIdentity to set a service number"
Command does not seem to be working, resulting in:

The WriteObject and WriteError methods cannot be called from outside the overrides of the BeginProcessing, ProcessRecord, and EndProcessing methods, and they can only be called from within the same thread.
Validate that the cmdlet makes these calls correctly, or contact Microsoft Customer Support Services.
    + CategoryInfo          : OperationS

[2020-08-28 16:14] robertcaretta opened #6433 "Request Additional Examples for Invoke-PnPQuery"
Could you please provide examples of other command combinations that can be used with Invoke-PnPQuery?

As an example, this is a really useful command for changing the list URL.
#Get list & change URL
$List = Get-PnPList -Identity $ListName -Includes RootFolder;
$List.Rootfolder.MoveTo($NewListURL);
Invoke-PnPQuery;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-08-28 16:36] dariomws commented on #6386
Hi @philipzloh, thank you for your feedback.

Are you from Microsoft?

[2020-08-28 17:14] Van-Fouran opened #6435 "Placeholders on page"
The following documentation page contains placeholders in many areas.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dba33181-eb97-69f0-7643-68b20dac4cf6
* Version Independent ID: 85ed0193-8c1c-fca6-153b-dc4078d3085a
* Content: [Get-SPOTenantOrgRelation (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/m

[2020-08-28 18:19] #6386 closed

[2020-08-28 18:55] get-itips commented on #6388
Hello
@robinvp90 Yes exactly as @oshihirii has indicated, that parameter is part of the Public Preview module.
You can find more information here:
https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes
Thanks

[2020-08-28 18:57] #6354 closed

[2020-08-28 18:58] get-itips commented on #6408
Hello @hlanchas Henar, how are you?
Please be sure you are running latest version of Teams PowerShell module, as the cmdlet is available both in 1.1.4 and 1.1.3-preview

More information here https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes

Thanks

[2020-08-28 19:25] #6377 closed

[2020-08-28 20:02] dariomws commented on #6389
Hi @oshihirii, thank you for your feedback and help us to improve docs.microsoft.com.

For more information about **alert policies** and **activity alerts** please see:
https://docs.microsoft.com/microsoft-365/compliance/alert-policies
https://docs.microsoft.com/microsoft-365/compliance/create-activity-alerts

In the first article you can see:
"**Alert policies** build on and expand the functional

[2020-08-28 20:15] dariomws commented on #6399
Hi @franklesniak, for your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration with 21vianet, they will be able to help you as here we are limited to documentation issues and improvements.

More information: https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products?view=o365-21vianet&tabs=phone#contact-support

Thank you!

[2020-08-28 20:21] dariomws commented on #6402
Hi @1trevor, thank you for your feedback and help us to improve docs.microsoft.com.

To connect as an authorized partner to Exchange Online PowerShell you need to use the DelegatedOrganization parameter. For more information, see:
https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell
https://docs.microsoft.com/powershell/module/exchange/connect-exchangeonline

[2020-08-28 20:24] 1trevor commented on #6402
Hi @dariomws

Those parameters work when using user account authentication, but they don't appear to work using the application authentication option described in the article. Should those parameters work the same with app authentication? When I try it I get the error that I listed above.

Thanks!

[2020-08-28 20:29] dariomws commented on #6421
Hi @rleist, thank you for your feedback.

If you try to run the same command connecting in the standard way, does it work?

If your answer is YES, please provide these feedback to the product group in the following link as it's a preview feature:
https://techcommunity.microsoft.com/t5/exchange-team-blog/modern-auth-and-unattended-scripts-in-exchange-online-powershell/ba-p/1497387

If your answer i

[2020-08-28 20:31] #6375 closed

[2020-08-28 20:53] #6374 closed

[2020-08-28 22:25] dariomws commented on #6402
@1trevor this feature is on preview, what is documented in this article is what works.
Anyway, if you want to get more information you can try here:
https://techcommunity.microsoft.com/t5/exchange-team-blog/modern-auth-and-unattended-scripts-in-exchange-online-powershell/ba-p/1497387

Thanks again, for taking out some time to open the issue. I appreciate and encourage you to do the same in the fut

[2020-08-28 22:35] #6356 closed

[2020-08-30 06:56] mahajangaurav commented on #4898
Hi! I have the same question - is there an ETA regarding this? Thanks!

[2020-08-31 09:25] hlanchas commented on #6408
We where running 0.9.6... I've updated and I'll try again. Thank you so much for your help!

[2020-08-31 12:22] get-itips commented on #6431
Hello @MessagingAdmin
Thanks for your feedback.
I was able to reproduce this, will try to pass this along as here we are limited to documentation issues and improvements.
Thank you

[2020-08-31 13:12] franklesniak commented on #6399
Hi @dariomws, thank you for the reply. The reason that I opened an issue here on the Docs GitHub is that I was hoping to improve the documentation. That is, if these cmdlets are not expected to work on 21vianet, I felt it should be noted on the respective cmdlet pages.

That said, my team had temporary access to one of these tenants as part of a threat hunt exercise, so we cannot open a support wi

[2020-08-31 13:49] get-itips commented on #6416
Hello @fselkirk How are you?

https://contoso.sharepoint.com/sites/site1 is actually a site collection and /sites/ is the [managed path](https://docs.microsoft.com/en-us/openspecs/sharepoint_protocols/ms-wssts/4c7a8d5a-4bcf-45a1-a414-2c9878e4a897#:~:text=2.1.&text=A%20managed%20path%20specifies%20a,paths%20and%20wildcard%20managed%20paths.).

for example

![image](https://user-images.githubusercon

[2020-08-31 13:58] get-itips commented on #6429
Hello @JakeMoe
How are you? Thanks for your feedback.

What was fixed was the article, reflecting the current behavior, which is that, the "Member" value was removed as a possible value for -Role parameter and an example was added on how to remove a member effectively (indeed without specifying the Role parameter)

Hope this clarifies it to you, thank you!

[2020-08-31 14:02] fselkirk commented on #6416
I have no idea where my brain was. You are completely right.

Frances Selkirk
Support Escalation Engineer | SharePoint Online and SharePoint Client Technical Support
fselkirk@Microsoft.com<mailto:fselkirk@Microsoft.com> | +1 (857) 453-6233 | Available Monday – Thursday: 11:00 – 18:00, ET (GMT -5 :00)
Manager: Floyd Mathias  floydm@microsoft.com<mailto:floydm@microsoft.com> | +1 (781) 487-6679
Back

[2020-08-31 14:04] get-itips commented on #6416
No worries at all 👍 Thanks for getting back!

[2020-08-31 14:19] get-itips commented on #6419
Hello @SanguptaMSFT
Can you kindly share the change notification ID, if any, while I try to contact the Product Team? For example if this is currently rolling out as I could not reproduce this on my tenant

The Giphy feature was enabled on my tenant without further configuration.

I appreciate, thank you

[2020-08-31 14:23] SanguptaMSFT commented on #6419
@Debasish Pradhan<mailto:Debasish.Pradhan@microsoft.com> FYI

Git hub team -  we have internal confirmation. Here is the snip for reference.

[cid:image001.png@01D67FD0.562356D0]

ASK: Is there anything else we can do to help troubleshoot this issue ? #1 Confirm AllowGiphy is enabled in the Messaging policy assigned to the user. #2 Confirm that the client is actually receiving the policy allowGiph

[2020-08-31 14:47] yogkumgit commented on #6388
@get-itips Thank you very much for the contribution and sharing this explanation. @robinvp90 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2020-08-31 14:47] #6388 closed

[2020-08-31 14:53] yogkumgit commented on #6389
@dariomws Thank you very much for the contribution and sharing this explanation. @oshihirii Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2020-08-31 14:53] #6389 closed

[2020-08-31 14:57] yogkumgit commented on #6402
@dariomws Thank you very much for the contribution and sharing this explanation. @1trevor Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2020-08-31 14:57] #6402 closed

[2020-08-31 15:07] yogkumgit commented on #6416
@get-itips Thank you very much for the contribution and sharing this explanation. @fselkirk Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2020-08-31 15:07] #6416 closed

[2020-08-31 16:56] qosobrin opened #6441 "Empty strings not allowed in PolicyName parameter"
**Example 2** is syntactically correct but does not work. There seems to be an error in the New-CsBatchPolicyAssignmentOperation commandLet. Now it validates parameters and it does not allow empty strings passed to the PolicyName parameter. I have run it several times and I always got this error:

[code]

Either you change the documentation or you ask for the developers to change the code.

---
##

[2020-08-31 17:24] SanguptaMSFT commented on #6419
+ @Premal<mailto:premgan@microsoft.com>

Sanyog Gupta
Technical Advisor
Unified Communications
Global Business Support
Office Phone:
India  : 0008000402235
EMEA : (44)2080686443
US      :1(855)4251603
Ext: 81087
Hours: M-F 9am-6pm EST (-5GMT)
Manager: Anshul Srivastava<anshriva@microsoft.com>

[cid:image002.jpg@01D67FE9.AA7FD460]

[cid:image003.png@01D67FE9.AA7FD460]

Champions Guide for Supportin

[2020-08-31 17:38] get-itips commented on #6412
Hello @Jacob-Steentoft Jacob
How are you?
The last information I could get from the team was [this](https://github.com/MicrosoftDocs/office-docs-powershell/issues/5214#issuecomment-626899280)
I'll try to confirm if that information still applies,
Thanks

[2020-09-01 13:59] danmyhre opened #6446 "Get-PnPUPABulkImportStatus Doesn't Show Date/Time"
Output does not show date/time of execution or status last updated date/time

[2020-09-01 14:00] ildjarnisdead opened #6447 "Missing attributed in propertysets"
There are properties on a mailbox that are not in any propertyset of Get-EXOMailbox mentioned on this page (e.g. WhenCreated or IsDirSynced), except the 'All' Propertyset, which seems a bit resource-unfriendly if you only need one of those properties.
Is the list of PropertySets in the documentation not complete, or are these properties only available with the All PropertySet?

Joost
---
#### Docu

[2020-09-01 15:49] michevnew opened #6449 "IgnoreLegalHold no longer available?"
It seems that the -IgnoreLegalHold parameter is no longer available, can you please confirm and update the article accordingly? Or clarify/rephrase the below:

"Note: This parameter is not available or functional on users objects in Exchange Online."

Is it available for *some* objects only, can you clarify how can we invoke it and maybe add an example?

In any case it doesnt even seem to be avail

[2020-09-01 15:54] michevnew commented on #6449
Well, I was pointed to this: https://docs.microsoft.com/en-us/office365/troubleshoot/holds/ignorelegalhold-not-available
Should we maybe merge the articles? :)

[2020-09-01 16:35] chrisda commented on #6447
@ildjarnisdead, the property sets are meant to provide a logical grouping of properties for increased performance. You are correct in that properties that don't belong to a specific property set are available in All, and All is too big for improved performance, so we don't recommend it.

That's where the Properties parameter comes in. If you use the Properties parameter by itself, the properties i

[2020-09-01 16:42] chrisda commented on #6449
@michevnew, the "not available or functional" text was used because at the time, the parameter was still _available_ but it didn't work.

So are you saying the parameter is completely gone now?

[2020-09-01 19:01] #6399 closed

[2020-09-01 20:24] ThePangy opened #6453 "With the Set-CsTeamsMeetingPolicy cmdlet, why is the -AllowAnonymousUsersToDialOut parameter disabled?"
We are trying to enable the ability for guest participants to use the "call me at" feature when joining our Teams meetings. However, it appears that the parameter for this in the Set-CsTeamsMeetingPolicy cmdlet cannot be used. The documentation for this parameter says `[!NOTE] This parameter is temporarily disabled.`

How can we allow guests joining our Teams meetings to dial out?

---
#### Docume

[2020-09-02 01:22] tseward commented on #6406
@pluckyyau this is a product bug. I would suggest opening a support case with Microsoft (support.microsoft.com) to identify a resolution to this issue.

[2020-09-02 08:01] michevnew commented on #6449
It's not available in any of the tenants I tried, and according to the article above it should have been removed.

[2020-09-02 08:53] dreamMB opened #6460 "Template option in preview not exists"
Hello, installing 1.1.3-preview module do not offer the Template option as per described in the document.

-Template: Note: this parameter is not supported in our 1.0 PowerShell release, only in Preview.
If you have an EDU license, you can use this parameter to specify which template you'd like to use for creating your group. Do not use this parameter when converting an existing group.

Is there a

[2020-09-02 12:08] RemzoozmeR opened #6461 "Set-Team - MailNickname does not work properly"
I have been playing around with changing names and e-mail addresses on Teams. I have used the following:

Set-Team -GroupId "ID" -DisplayName "New name" -MailNickname "New e-mail name"

Changing the name of the Team works just fine, it get`s changed in the group view for M365 admin center, the Team itself changes name and the SharePoint site changes name. The SharePoint site name change takes a bi

[2020-09-02 13:57] danmyhre opened #6462 "Obsolete"
Looks like this should be added to the documentation:
WARNING: The command 'Get-PnPAccessToken' is obsolete. Use Get-PnPGraphAccessToken instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfa98588-07ef-34d7-c358-d2e4cc163b75
* Version Independent ID: 56124b45-0cec-6c38-227f-6b344909ce5a
* Content: [Get-PnPAccessTok

[2020-09-02 14:30] yogkumgit commented on #6406
@pluckyyau Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team. We proceed here to close it. Thanks for taking out s

[2020-09-02 14:30] #6406 closed

[2020-09-02 14:35] yogkumgit commented on #6429
@get-itips Thank you very much for the contribution and sharing this explanation. @JakeMoe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-02 14:35] #6429 closed

[2020-09-03 10:53] rsoakford opened #6465 "Update WorkflowTemplate property description"
On [https://docs.microsoft.com/en-us/powershell/module/exchange/New-MigrationBatch](https://docs.microsoft.com/en-us/powershell/module/exchange/New-MigrationBatch), the property description for WorkflowTemplate says "The WorkflowControlFlags parameter . . ." - can this please be corrected/updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-09-03 13:21] tegnatomm opened #6466 "Module not available for running from different script"
I have a program that is used for creating Content Searches. Trying to get this to work for MFA.

When the operation is ran from the program it calls a ps1 file and run the Connect-IPPSSession command it fails saying the module is not loaded. This is true for any command from this module.

When I run PS as an **admin** and use the Get-InstalledModule command I get:
Version    Name

[2020-09-03 16:35] JimKCode opened #6467 "Get-SiteMailbox still works online"
The first paragraph is wrong. Site mailboxes were NOT removed from Exchange and the cmdlets still work in online. Please delete the paragraph because we've received an inquiry from a confused customer.

"This cmdlet is available only in on-premises Exchange. Site mailboxes were removed from Exchange Online and SharePoint Online in 2017."

---
#### Document Details

⚠ *Do not edit this section. It

[2020-09-03 21:03] chrisda commented on #6467
@JimKCode, fixed.

Thanks for the feedback.

Closing

[2020-09-03 21:03] #6467 closed

[2020-09-03 21:28] chrisda commented on #6449
@michevnew, confirmed. I added "This parameter is available only in on-premises Exchange" to the IgnoreLegalHold parameter description in the following topics:

- Disable-Mailbox
- Remove-Mailbox
- Remove-MailUser

Thanks for the feedback.

Closing

[2020-09-03 21:28] #6449 closed

[2020-09-03 21:58] chrisda commented on #6465
@rsoakford, I fixed it. But in the future, you, too can make simple updates like this without opening a GitHub issue first. For instructions, see  <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2020-09-03 21:58] #6465 closed

[2020-09-04 18:22] cjklouda opened #6474 "Set-UnifiedGroup -EmailAddresses always fails with "We failed to update the unified group""
When trying to modify the EmailAddresses attribute using the Set-UnifiedGroup cmdlet, it errors every time with "We failed to update the unified group."  We have found a workaround for setting the primary SMTP address by using the Set-Group -WindowsEmailAddress cmdlet, but to add a proxy address for the unified group appears to not work.

Set-UnifiedGroup -Identity 'identityofgroup' -EmailAddresse

[2020-09-04 18:28] cjklouda commented on #6474
I accidentally wiped the isclosed option when i searched for a previous issue.  When i looked again, i found existing issues that indicated that this doesn't work with app only auth.  I have retested with standard auth flow and i am able to use the cmdlet.  I'll double check the grants on the app only registered app to ensure it has rights to update unified groups.

[2020-09-04 18:28] #6474 closed

[2020-09-05 19:24] DEberhardt opened #6477 "Filter parameter and its filtering syntax - no result for LIKE"
Hello,

"The Filter parameter uses the same filtering syntax that is used by the Where-Object cmdlet."
First of all, think you for this switch, it is a time-saver. My search with "Where-Object" runs a little over 5 mins, whereas the Filter is finished in under 30s!

This is all great, but it only works for **-EQ** for me. **-LIKE** is not as successful

`Get-CsOnlineUser | Where-Object LineURI -Li

[2020-09-07 03:31] poundy opened #6479 "Example 4 in get-throttlingpolicyassociation is for an incorrect command"
The example 4 for Throttling policy is a get-group command. It's irrelevant unless it was intended to be part of a larger pipelined command example.
https://docs.microsoft.com/en-us/powershell/module/exchange/get-throttlingpolicyassociation?view=exchange-ps
"Get-Group -Identity "Courtney Sweet" | Format-List"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-09-07 11:46] scottclarke1 opened #6480 "-WhatIf Switch on New-ComplianceSecurityFilter"
Hi Guys

The -WhatIf parameter on `New-ComplianceSecurityFilter` doesn't work. I've just executed a command with the switch specified and rather simulating the result, the actual filter was created!

Thanks,

[2020-09-07 14:11] jeffangama opened #6481 "when i run this command on education office 365 , it doesnt delete the team from team client application"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afbc44a5-3c1b-f4b6-f01c-59c3533ea357
* Version Independent ID: 3bea8b08-ff9a-a7c3-bfbf-1e482982b09e
* Content: [Remove-Team (MicrosoftTeamsPowerShell)](https://docs.microsoft.com/en-us/powershell/module/teams/remove-team?view=teams-ps)
* Content Sourc

[2020-09-07 14:50] get-itips commented on #6127
This has been applied @yogkumgit please close

[2020-09-07 14:51] get-itips commented on #6284
@kaishuipinggai Jundong, can you give us the current status ? So I can now if a change is needed to the article or we can close this issue. Thanks

[2020-09-07 15:04] get-itips commented on #6408
Hello @hlanchas Henar, how are you? Can you please share an update so we can close this issue? Thank you

[2020-09-07 15:06] get-itips commented on #6412
Hello @Jacob-Steentoft How are you? Did you have chance to see my comment? Thank you

[2020-09-07 15:06] yogkumgit commented on #6127
@get-itips Thank you very much for the contribution and sharing this explanation. @TorrenManson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-07 15:06] #6127 closed

[2020-09-07 15:10] Jacob-Steentoft commented on #6412
@get-itips
Sorry I missed your earlier message.
Our 2 batches closed when I checked it the next day. Wasn't aware that it was still in preview, but it worked well, just didn't update us with a status.

Thanks for the reply.

[2020-09-07 15:22] yogkumgit commented on #6412
@get-itips Thank you very much for the contribution and sharing this explanation. @JohanssonMarkus Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-07 15:22] #6412 closed

[2020-09-07 16:58] dariomws commented on #6460
Hi @dreamMB, thank you for your feedback and help us to improve docs.microsoft.com.

I tested it and seems that the parameter is available in the preview version:
![image](https://user-images.githubusercontent.com/33589238/92407818-17400b80-f112-11ea-8ce0-5bba3331dd9b.png)

More related issues:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/6373
https://github.com/MicrosoftDocs/off

[2020-09-07 19:02] dariomws commented on #6466
Hi @tegnatomm, thank you for your feedback and help us to improve docs.microsoft.com.

Here we are limited to documentation issues and improvements. If you think that there is something to update or improve in the following article please let me know:
https://docs.microsoft.com/powershell/exchange/connect-to-scc-powershell

If you need more assistance, I need to kindly suggest opening a support ti

[2020-09-07 19:32] dariomws commented on #6480
Hi @scottclarke1, thank you for your feedback and help us to improve docs.microsoft.com.

It's well known and documented that in every Security & Compliance Center PowerShell cmdlet the Whatif switch doesn't work.

[2020-09-07 20:37] irenuncio opened #6483 "Update Set-OutlookAnywhere explaining clearly what it really means to choose Basic or NTLM auth"
PLEASE PLEASE throw some light to the differences among Basic, NTLM and Negotiate as brilliantly explianed here:

(https://docs.microsoft.com/en-us/previous-versions/office/exchange-server-2010/bb124503(v=exchg.141)?redirectedfrom=MSDN)

- **Basic authentication:**   Basic authentication sends the user's user name and password in clear text. Basic authentication also requires the user to enter the

[2020-09-08 08:24] hlanchas commented on #6408
Yes, that was the problem! You can close the issue, thank you so much for your help...

[2020-09-08 08:44] yogkumgit commented on #6460
@dariomws Thank you very much for the contribution and sharing this explanation. @dreamMB Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-08 08:44] #6460 closed

[2020-09-08 09:25] yogkumgit commented on #6466
@dariomws Thank you very much for the contribution and sharing this explanation. @tegnatomm Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-08 09:25] #6466 closed

[2020-09-08 09:27] yogkumgit commented on #6480
@dariomws Thank you very much for the contribution and sharing this explanation. @scottclarke1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-08 09:27] #6480 closed

[2020-09-08 09:33] yogkumgit commented on #6408
@get-itips Thank you very much for the contribution and sharing this explanation. @hlanchas Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-08 09:33] #6408 closed

[2020-09-08 11:30] get-itips commented on #6432
Hello @bmomartins Bruno, how are you?
Can you please confirm that your tenant satisfies this condition?

Thanks

[2020-09-08 11:38] get-itips commented on #6441
Hello @qosobrin how are you?
I was able to run Example 2 as is, are you passing $null to the PolicyName parameter right? What version of the module are you using? Please be sure to run 1.1.4 (current GA version)

![image](https://user-images.githubusercontent.com/36666927/92471598-94b95980-f1ae-11ea-88b2-177fe852ab0b.png)

[2020-09-08 12:27] get-itips commented on #6453
Hello @ThePangy how are you?
The note [was added recently](https://github.com/MicrosoftDocs/office-docs-powershell/pull/5570).
I checked and still applies.

[2020-09-08 12:31] pratikgupta2 opened #6484 "Submit-PnPSearchQuery not allowing 2 field as SortList"
-SortList is not working with 2 parameter :

$sortlist=@{RefinableInt00='ascending' ; RefinableDate01='descending'}
Submit-PnPSearchQuery -Query 'Title:New' -MaxResults 50 -TrimDuplicates $false -SelectProperties 'Title' -SortList $sortlist

While its wokring just fine for :

$sortlist=@{RefinableInt00='ascending'}
Submit-PnPSearchQuery -Query 'Title:New' -MaxResults 50 -TrimDuplicates $false -Sel

[2020-09-08 15:55] get-itips commented on #6477
Hello @DEberhardt how are you?
This was discussed recently, please see [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/6035#issuecomment-651406576), that is why Example 6 was added.
Thank you for your feedback!

[2020-09-08 16:01] #6255 closed

[2020-09-08 16:07] get-itips commented on #6481
Hello @jeffangama Jeff, how are you?
It could take a while to reflect the team removal, please can you check if you are running the latest GA PowerShell module, currently on 1.1.4 version.
If you still face issues please open a support ticket directly from your tenant. Thank you!

[2020-09-08 16:52] DEberhardt commented on #6477
Hello,

thank you. Example 6 is helpful when it comes to values in variables, though I do think this worked for me in my script. Will test :)

However, the LIKE operator was never mentioned anywhere. Will try output when adhering to the example and let you know my findings.

Thanks,
David

[2020-09-08 17:44] #6479 closed

[2020-09-08 17:56] get-itips commented on #6477
@DEberhardt Ok David, let me know how it goes!

[2020-09-08 18:05] #6483 closed

[2020-09-08 19:05] get-itips commented on #6435
Hello @Van-Fouran Felix, how are you?
Please see [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/4930#issuecomment-622012154).

Thanks

[2020-09-08 21:10] get-itips commented on #6446
Hello @danmyhre Dan, how are you?
Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

Thank you!

[2020-09-08 21:10] get-itips commented on #6462
Hello @danmyhre Dan, how are you?
Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

Thank you!

[2020-09-08 21:11] get-itips commented on #6433
Hello @robertcaretta how are you?
Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

Thank you!

[2020-09-08 21:19] robertcaretta commented on #6433
Done. I submitted the request at that location.

[2020-09-08 21:19] #6433 closed

[2020-09-09 12:13] solarfusionuk opened #6491 "Set-SPOTenant EnableAutoNewsDigest Parameter"
According to MC215356, it should be possible to disable auto digest email at a tenant level via:
_Set-SPOTenant -EnableAutoNewsDigest $false_

Running this command gives the following error:
Set-SPOTenant : A parameter cannot be found that matches parameter name 'EnableAutoNewsDigest'

I have updated to the latest SPO PowerShell module version 16.0.20414.12000

[2020-09-09 13:55] yogkumgit commented on #6462
@get-itips Thank you very much for the contribution and sharing this explanation. @danmyhre Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-09 13:55] #6462 closed

[2020-09-09 14:02] yogkumgit commented on #6446
@get-itips Thank you very much for the contribution and sharing this explanation. @danmyhre Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-09 14:12] yogkumgit commented on #6453
@get-itips Thank you very much for the contribution and sharing this explanation. @ThePangy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-09 16:26] robertafreese opened #6492 "Error - the site template is not supported for this operation"
I am trying to enable the modern communication look on a site, and the error is not one covered in the documentation,

Enable-SPOCommSite : This action cannot be completed because the site template is not supported for this operation.
Select a compatible template: STS#0,EHS#1 . For more information, see https://spo.ms/EnableCommSite.

The site was created recently using the Team template but the c

[2020-09-09 17:34] tseward commented on #6382
@get-itips I do not, sorry.

[2020-09-09 18:07] DEberhardt commented on #6477
Success! - Example 6 also holds for the Like operator :+1:

`$filterString = 'LineURI -like "*{0}*"' -f $Number`

`Get-CsOnlineUser -Filter $filterString | Select UserprincipalName,LineURI`

Cheers!

[2020-09-09 18:07] #6477 closed

[2020-09-09 19:16] get-itips commented on #6477
Thanks for returning and sharing your results @DEberhardt David!

[2020-09-10 03:31] takawazo opened #6494 "16.0.20414.12000 has the compatibility issue with redistributable SharePoint Client Components SDK"
If redistributable SharePoint Client Components SDK has been installed when SharePoint Online management shell is installed, PowerShell will fail to load the assembly during the launch after the installation.  As a result, SPO management shell can't be used.
Product's recommendation is different, but it is worth noted that 16.0.20414.12000 has the compatibility issue.
Workaround is to delete the a

[2020-09-10 08:38] EMarcais opened #6495 "Set-TeamArchiveState Parameter -SetSpoSiteReadOnlyForMembers result in BadGateway"
Hello Team,

I'm having an issue  to use
`Set-TeamArchivedState -GroupId $GroupId -Archived:$true -SetSpoSiteReadOnlyForMembers:$true `

Result is:
![image](https://user-images.githubusercontent.com/8104831/92701514-5fe50800-f350-11ea-82ba-b5b89250250a.png)

If I'm removing -SetSpoSiteReadOnlyForMembers everything works again.
-----------------------------------------------------------------------

[2020-09-10 08:38] PhilipHaglund opened #6496 "Type TeamsAppPermissionPolicy not enabled"
I know it is not documented anywhere but we are really missing the possibility to assign TeamsAppPermissionPolicy for a target group using New-CsGroupPolicyAssignment.
Is the feature enabled in the TAP so we should contact our TAM for enablement or is it a planned feature update?
[code]
![image](https://user-images.githubusercontent.com/14297750/92702572-a850f580-f351-11ea-9f93-95e980868b4c.png)

[2020-09-10 09:28] EMarcais commented on #6495
Managed to double check and that issue is not related to the GEO tenant. Not sure what is causing this but the team in question is not archived using the WebGui either...

[2020-09-10 09:29] #6495 closed

[2020-09-10 18:39] trudolf-msft opened #6497 "Cmdlet still necessary?"
PS C:\Users\trudolf> Get-OrganizationConfig | fl *hydr*

IsDehydrated : False

PS C:\Users\trudolf> Enable-OrganizationCustomization
This operation is not required. Organization is already enabled for customization.
    + CategoryInfo          : NotSpecified: (:) [Enable-OrganizationCustomization], InvalidOperationException
    + FullyQualifiedErrorId : [Server=AM6PR03MB4616,RequestId=0a93e773-9ce

[2020-09-10 18:40] trudolf-msft commented on #6075
DCR was filled but still no response:
https://o365exchange.visualstudio.com/DefaultCollection/O365%20Core/_workitems/edit/1615241

[2020-09-10 18:50] chrisda commented on #6497
@trudolf-msft, I would say so. I had to 'hydrate' a standalone EOP tenant a few weeks ago. I did it in the UI, but the cmdlet is the backend.

If you have other information, please follow up with me in email, since you are a fellow Microsoft employee.

Thanks for the feedback.

Closing

[2020-09-11 07:11] qosobrin commented on #6441
Hi there, Andrés:

well that's not my case here even when I think I meet all the requirements:

[image: image.png]
I do not try to make this a support session but I think someone is missing
something here.

Thank you very much for your prompt response.

Best regards,

El mar., 8 sept. 2020 a las 13:38, Andres Mariano Gorzelany (<
notifications@github.com>) escribió:

--
Luis A. Martínez Sobrino

[2020-09-11 10:12] jadesolis opened #6498 "Example Two.... description confusing"
"Get-CsTeamsMeetingPolicy -Identity SalesPolicy
In Example 2, Get-CsTeamsMeetingPolicy is used to return the per-user meeting policy that has an Identity SalesPolicy."

I don't think the description matches the sample command snippet. The example returns all the parameters of the Teams Meeting Policy called "SalesPolicy", not return the per-user that has a Teams Meeting Policy called "SalesPolicy"

[2020-09-11 22:37] get-itips commented on #6441
Hello @qosobrin the image you tried to attach is missing.
Please be sure to run the latest GA version of the powershell module.
Thank you

[2020-09-12 08:55] Van-Fouran commented on #6435
@get-itips Thank you for the answer. I did not realize the note at the top of the sections.

[2020-09-12 08:55] #6435 closed

[2020-09-12 12:50] DEberhardt opened #6502 "Example for Type ExternalPstn and more questions :)"
Hello,

may I query a few things please:

1.  Example 2 - Should this not be of the type ExternalPstn? (as it is a Phone Number?)
2.  ExternalPstn - How do I query this entity - in (Get-CsAutoAttendant).Operator reveals an object with the Type and an Id. If this is a PhoneNumber, what is the Object I need to target?
3.  Are there limitations on where Transcription can be enabled or is this availab

[2020-09-13 14:33] harp365 opened #6504 "Spelling correction in example (TeamPicture)"
Set-TeamPicture -GroupId 2f162b0e-36d2-4e15-8ba3-ba229cecdccf -ImagePath c:\Image\TeamPictire.png

Needs to be:

Set-TeamPicture -GroupId 2f162b0e-36d2-4e15-8ba3-ba229cecdccf -ImagePath c:\Image\TeamPicture.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9785a323-0f76-2cc5-8ccd-da9b83c29973
* Version Independent ID:

[2020-09-13 19:14] danmyhre commented on #6446
Should probably turn comments off in this section then.  This is not the standard way content on docs works.

[2020-09-13 19:15] #6446 closed

[2020-09-13 21:43] qosobrin commented on #6441
You are right and I had both modules versions 1.0.5 and 1.1.4 installed. After removing the older version everything worked fine. I close the ticket.

Thank you very much. Regards.

[2020-09-13 21:43] #6441 closed

[2020-09-14 04:31] abeggled opened #6505 "Error in description of Add-PnPTeamsUser"
Add-PnPTeamsUser adds a user to a Teams and not a channel to a Teams. It looks like a copy/paste error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bab214-5d6c-1dbd-a4be-ac1227135753
* Version Independent ID: da5bb93f-e562-844d-2e08-427c6321ee35
* Content: [Add-PnPTeamsUser (SharePointPnPPowerShell)](https://docs.

[2020-09-14 09:23] arizaju12 opened #6506 "Arizaju12"

[2020-09-14 10:59] ahamin01 opened #6507 "Running Install-Module -Name ExchangeOnlineManagement gives an error"
Running the command Import-Module ExchangeOnlineManagement is giving the below error:

[code]

However, if you run it as follows, it will work without errors. Hence, I believe till this issue is resolved, you may update this article.

`Install-Module -Name ExchangeOnlineManagement -RequiredVersion 1.0.1`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-09-14 11:25] ChrisMKV commented on #4254
Has the fix been included in the recently released CU4?

[2020-09-14 11:35] aov-arnold commented on #4254
I will install the update and test it in a few days!
Hopefully it‘s resolved...

[2020-09-15 05:47] yogkumgit commented on #6506
@arizaju12 If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-15 05:48] #6506 closed

[2020-09-15 07:58] ivanja81 opened #6511 "AllowNdiStreaming"
-AllowNDIStreaming
This parameter is reserved for internal Microsoft use.

This is i believe incorrect. It's not only for Microsoft internal use. NDI is supported and this policy is valid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919bf080-1e20-1411-0d9e-41f559b883d8
* Version Independent ID: 6a37be44-d957-2b7a-a56

[2020-09-15 11:11] yogkumgit commented on #6447
@chrisda Thank you very much for sharing this explanation. @ildjarnisdead Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-15 11:11] #6447 closed

[2020-09-15 11:21] yogkumgit commented on #6481
@get-itips Thank you very much for the contribution and sharing this explanation. @jeffangama Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-15 12:19] ZelMul opened #6513 "ExchangeEnvironmentName to connect to Exchange Online PowerShell in sovereigns cloud"
To connect to sovereign environment -ExchangeEnvironmentName parameter is needed.
Example for GCC High:
`Connect-ExchangeOnline -Credential $UserCredential -ShowProgress $true -ConnectionUri https://outlook.office365.us/powershell-liveid/ -ExchangeEnvironmentName O365USGovGCCHigh`

[Information can be found here](https://docs.microsoft.com/en-us/powershell/module/exchange/connect-exchangeonline?vi

[2020-09-15 12:31] mbratukha opened #6514 "Group ID is not allowed in the property ModernGroupLocation of the command New-LabelPolicy"
In the [docu](https://docs.microsoft.com/en-us/powershell/module/exchange/new-labelpolicy?view=exchange-ps#parameters) is written, that it's possible to use GUID as a value to the property `ModernGroupLocation` of the command `New-LabelPolicy`.
I'm getting the following exception when try to call it with a valid GUID of an existing group:
[code]

Is there any way to use GUIDs as written in docu?

[2020-09-15 15:32] mgrimesii opened #6515 "too many user mailboxes"
I have over 13K user mailboxes, this script runs too long to get accurate feed back since EOL power-shell has a timeout, what is the work around for getting the output?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16eaecbc-a74e-855b-190e-05e4104f88e4
* Version Independent ID: 036e3c50-429d-f592-f626-d0f88d9e5772
* Co

[2020-09-15 16:02] chrisda commented on #6513
@ZelMul, I think your example requires ExchangeEnvironmentName because you didn't use AzureADAuthorizationEndPointUri. If you use ConnectionUri and AzureADAuthorizationEndPointUri in the command, you should be able to connect without using ExchangeEnvironmentName.

Can you confirm?

[2020-09-15 18:00] get-itips commented on #6511
Hello @ivanja81 Ivan, how are you?
Thanks for reporting.

[2020-09-15 18:14] get-itips commented on #6504
Thanks for reporting @harp365

[2020-09-15 21:24] get-itips commented on #6498
Hello @jadesolis how are you?
The "per user" here refers to the fact that these policies are assigned at per user level. The "per user" is a adjective of the policy in this case.
Hope this clarifies it to you. Thanks

[2020-09-15 21:46] get-itips commented on #6496
Hello @PhilipHaglund Philip, how are you?
The list of supported policies is constantly updated, and probably `TeamsAppPermissionPolicy` will be added on the future. Sorry but I do not have more precision.
I checked and couldn't still assign it both using 1.1.6 GA Version and 1.1.5-preview version.
Thanks

[2020-09-15 22:40] get-itips commented on #6494
Hello @takawazo Takahiro, how are you?
Will propose adding a note to the article about this. Thanks

[2020-09-15 22:50] get-itips commented on #6284
Hello @kaishuipinggai Jundong, I tested and Example 2 is still throwing errors, can you update me ? Thank you!

[2020-09-15 22:52] get-itips commented on #6321
@hirenshah1 Hiren, can you help me confirming this cmdlet does not supports MFA? Thank you, I appreciate.

[2020-09-15 23:21] get-itips commented on #6343
@tomkau Tom, can you help me getting the description for ShareData parameter? Thanks

[2020-09-15 23:23] get-itips commented on #6382
@trent-green Trent, can you help us here? I appreciate.

[2020-09-15 23:24] get-itips commented on #6419
Hello @SanguptaMSFT how are you? Can you kindly provide for more info so I can adjust, if needed, the article? also asking @tomkau Thank you

[2020-09-15 23:25] get-itips commented on #6431
Hello @trent-green can you kindly tell me if the team is aware of this? Thanks

[2020-09-15 23:26] get-itips commented on #6432
Hello @bmomartins Bruno, returning to ask you if you could see my question here, thanks

[2020-09-16 02:56] jadesolis commented on #6498
Hello,
Thanks but I stand with my critique. The "per user" is a adjective has little bearing with the example context. Why not just describe it as it is, which is an example that returns all the parameters of the Teams Meeting Policy called "SalesPolicy

[2020-09-16 04:21] jeffangama commented on #6481
indeed it took some time to remove. It works as expected removing the class / group. For some users the teams are still visible. I've a ticket on going with microsoft. Thank you for your answer

[2020-09-16 08:22] #6481 closed

[2020-09-16 08:43] ZelMul commented on #6513
@chrisda Yes this also work, I was following the section "Without using MFA" which doesn't mention AzureADAuthorizationEndPointUri nor ExchangeEnvironmentName and thus didn't work for me.

[2020-09-16 10:12] ivanja81 commented on #6511
Hi,

Fine thank you.

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Tuesday, 15 September 2020 20:01
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Ivan Jankovic (TEAMS SKYPE) <ivanja@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] AllowNdiStreaming (#6511)

Hello @ivanja81<https://

[2020-09-16 14:18] get-itips commented on #6484
Hello @pratikgupta2 how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

Thank you!

[2020-09-16 14:19] get-itips commented on #6505
Hello @abeggled  how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

Thank you!

[2020-09-16 14:25] get-itips commented on #6491
Hello @solarfusionuk
Had no issues at all using that parameter on that version of the module

![image](https://user-images.githubusercontent.com/36666927/93350596-0c623680-f7f6-11ea-9c68-18229df5f6e6.png)

Please be sure that you have installed only one and the most updated version of the module.

[2020-09-16 14:52] jforet1 commented on #953
Tried updating to 2.0.3-Preview of the ExchangeOnlineManagement module but still encounter the timeout issue. I was able to get around it in by checking the connection state inside of a loop and restoring it if it finds it in a broken state.

[code]

https://gist.github.com/jforet1/78eaa80136e31549346586a61dc9b949

[2020-09-16 19:48] ThePangy commented on #6453
Hi @get-itips , @yogkumgit , appreciate the feedback. My question wasn't really on the documentation but on the functionality. We want this parameter set to $true so we have the functionality of our guests/anonymous users being able to dial out for audio. How can we enable this functionality if the cmdlet parameter is disabled?

[2020-09-16 21:13] get-itips commented on #6453
Hello @ThePangy afaik the feature is still in the works.

[2020-09-16 21:16] chrisda commented on #6513
@ZelMul, interesting. I thought AzureADAuthorizationEndPointUri was only required for multi-factor authentication (MFA). But you're saying it's required for non-MFA connections?

But I have a new angle for you: If you use the ExchangeEnvironmentName parameter, you don't need to use the ConnectionUri or AzureADAuthorizationEndPointUri parameters. That parameter has only recently been fully tested a

[2020-09-16 21:16] #6513 closed

[2020-09-17 08:46] solarfusionuk commented on #6491
Hi,

Thanks for the info. I did indeed have multiple versions installed:

![image](https://user-images.githubusercontent.com/36865013/93437191-96c49c00-f8c3-11ea-8bfb-f2e42e009f3d.png)

The last one was an MSI install so needed to be uninstalled via control panel:

![image](https://user-images.githubusercontent.com/36865013/93437262-b065e380-f8c3-11ea-9b43-6c7afe0c1e18.png)

Then re-installed the

[2020-09-17 08:46] #6491 closed

[2020-09-17 11:06] zumiek opened #6529 "Re-check examples"
Some1 needs to re-check the examples, they are not currently correct and doesn't correspond to the text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b777fcfe-c7da-0165-d6ac-74fc2db07daf
* Version Independent ID: 12045879-94af-fd90-66a0-8f3db00a579f
* Content: [Get-PnPListItem (SharePointPnPPowerShell)](https://docs.

[2020-09-17 11:17] fridden opened #6530 "MembershipType parameter not recognised by Get-TeamChannel"
Just installed version 1.1.6 of the MicrosoftTeams module and  tried to execute the Get-Teamchannel cmdlet with parameter MembershipType and got an error.

I am running on a Windows 2019 Datacenter server, with Powershell v5.1 and module version 1.1.6
Error message is:
Get-TeamChannel : A parameter cannot be found that matches parameter name 'membershiptype'.
At line:1 char:63
 ... -groupid b578d1

[2020-09-17 12:10] fridden commented on #6530
Sorry, now I see this parameter is in the preview release.

[2020-09-17 12:10] #6530 closed

[2020-09-17 12:55] yogkumgit commented on #6484
@get-itips Thank you very much for the contribution and sharing this explanation. @pratikgupta2 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-17 12:55] #6484 closed

[2020-09-17 12:59] yogkumgit commented on #6505
@get-itips Thank you very much for the contribution and sharing this explanation. @abeggled Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-17 12:59] #6505 closed

[2020-09-17 13:04] yogkumgit commented on #6453
@get-itips Thank you very much for the contribution and sharing this explanation. @ThePangy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-17 13:04] #6453 closed

[2020-09-17 13:24] get-itips commented on #6498
Hello @jadesolis I created a Pull Requests adding your proposal to the article, however I am afraid it was not accepted by the team of reviewers. Thanks for your feedback and I encourage you to do the same in the future.

[2020-09-17 13:34] chrismholmes1 opened #6531 "OWAAllowUserChoiceOfSigningCertificate and OWASenderCertificateAttributesToDisplay not properly working."
For Exchange Online (Possibly other versions as well), the OWAAllowUserChoiceOfSigningCertificate option does not work if your Certificate Subject Alternative Name (RFC822 Name) email address does not match your OWA Email Address/Proxy Addresses.

In addition, I have tried every combination of OWASenderCertificateAttributesToDisplay with varying OIDs but can not find the correct answer.
Can we get

[2020-09-17 14:46] #6511 closed

[2020-09-17 15:19] #6504 closed

[2020-09-17 16:13] #6494 closed

[2020-09-17 17:23] kaishuipinggai commented on #6284
@get-itips Thanks for the followup. The fix is checked in yesterday. It should be ready in next week.

[2020-09-17 17:24] get-itips commented on #6284
Many thanks for the update @kaishuipinggai

[2020-09-17 17:49] MicahHarley opened #6533 "Get-TeamsAppInstallation : Error occurred while executing"
Using 1.1.5-preview, when I pass an UserID, the following error is returned:

Get-TeamsAppInstallation : Error occurred while executing
Code: UnknownError
Message:
InnerError:
  RequestId: *********************
  DateTimeStamp: 2020-09-17T17:29:05
HttpStatusCode: UnknownError
At C:\Users\*****\Documents\TeamsPowerShell\test.ps1:6 char:9
+ $apps = Get-TeamsAppInstallation -UserId '********-****-***

[2020-09-17 20:58] ewillman opened #6536 "ConnectionUri for GCC-High"
Example ConnectionUri parameters are provided in the documentation, including one for that works for both "Microsoft 365 or Microsoft 365 GCC", however, this Uri fails when connecting to a GCCH tenant.  After trial and error I have found that the correct ConnectionUri to connect to the compliance center in GCC-High is https://ps.compliance.protection.office365.us/powershell-liveid/

---
#### Docum

[2020-09-17 22:49] MichaelLaMontagne opened #6537 "TAP no longer needed for Meeting Migration Service (MMS)"
This line should be removed: "This functionality is currently available to TAP customers only. For customers not in TAP, meetings are always migrated to Skype for Business Online."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22159e01-061b-499a-fe99-3fe19bed57e9
* Version Independent ID: 98b9a798-e232-0b2c-ee0f-85707

[2020-09-18 00:04] chrisda commented on #6536
@ewillman, 3 weeks ago, I pulled the GCC High and DoD values and added a warning because they didn't work (#6436). Apparently, this was a known issue and easily identified, so they must have fixed it very recently. I added the GCC High and DoD values back.

Thanks for the feedback

Closing

[2020-09-18 00:04] #6536 closed

[2020-09-18 04:23] LukePWilkins opened #6540 "Get-MigrationBatch - execution as part of script in ISE - doesn't display return"
I have the a script, which should initially get the names of the current Migration Batches in EOL migration portal.

A simple code block

cls
get-migrationbatch | select Identity
write-host "these are the migration batchs"

In my experience, clears the screen, pauses and then displays the text. The return from get-migrationbatch isn't displayed
[Enter feedback here]

---
#### Document Details

⚠ *

[2020-09-18 06:54] yogkumgit commented on #6498
@get-itips Thank you very much for the contribution and sharing this explanation. @jadesolis Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-18 06:54] #6498 closed

[2020-09-18 07:03] yogkumgit commented on #6284
@get-itips and  @kaishuipinggai Thank you very much for the contribution and updating the documentation. @ParaGlideRocks
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-18 07:21] Cypher-Skif opened #6541 "There is no information about usagelocation"
[Enter feedback here]
Dear Team, I can't find here any mentions related with usage location. Please add information which propertyset I need to choose to see usagelocation property?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9145396-cc72-6e54-4204-6867397e67ea
* Version Independent ID: ca86d515-e4d3-ce0f-11e3-87dd

[2020-09-18 09:30] Tolle3000 opened #6542 "Maybe you can add a link here to how to Change existing rights."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1a893c8-66de-1f8a-f8d2-aa573379e778
* Version Independent ID: 1c32c637-d003-820c-594f-a9adc9c353d9
* Content: [Add-MailboxFolderPermission (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/add-mailboxfolderpermission?v

[2020-09-18 10:59] dreamMB opened #6543 "Template EDU_Class failing on preview"
#6141
## Document Details

Hi, we are running 1.1.5-preview module of MicrosoftTeams.
When trying to use the Template switch with the following command, the Team creation fails:
Get-UnifiedGroup "DEMOCLASSROOM_XP_TestClass_122_ALL" | % {New-Team -GroupId $_.ExternalDirectoryObjectId -Template "EDU_Class"}

% : Parameter set cannot be resolved using the specified named parameters.
At line:1 char:53

[2020-09-18 16:38] chrisda commented on #6541
@Cypher-Skif, the property sets are not meant to include all of the output properties from a given cmdlet. Many (most?) of them are purposely not included.

If the property you want isn't isn't available in a property set, then use the Properties parameter (for example, `-Properties UsageLocation`).

[2020-09-18 16:51] GeorgeWNYC opened #6546 "This is a terrible example"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e08d3ecf-6941-019d-253f-941346b1dcea
* Version Independent ID: 612198a1-9b84-18e7-d8bb-509eca30c8a1
* Content: [Get-PnPSite (SharePointPnPPowerShell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpsite?view=sharepoint-ps)
*

[2020-09-18 17:13] get-itips commented on #6492
Hello @robertafreese How are you? Hope you are doing great.
The article currently says:

Which is essentially what the error is telling.

Hope this clarifies it.

Thanks

[2020-09-18 22:09] get-itips commented on #6502
Hello @DEberhardt

1.  Will propose adding this to the article., thanks for noticing.
2.
![image](https://user-images.githubusercontent.com/36666927/93629359-65240180-f9a5-11ea-84da-2de48924544b.png)

3. "Email transcription is only supported with shared voicemail callable entities", will propose adding this to the article.

4. Will try to get more information about this

5. As far as I know, Org

[2020-09-19 09:45] GaelBSB commented on #6543
Yes, I confirm this is a real problem. We are lucky to have kept an environment with "poshtestGallery 1.0.18".

But we would like to be able to evolve our version and benefit from all the latest advances without having to juggle between 2 versions.

Please release the "template" feature or put it on preview
Gael

[2020-09-19 10:08] DEberhardt commented on #6502
Hello Andres,
thank you for your response. Clarity around #1 and #3 is very appreciated :)

For #2, I was asking for a GET-Command that I could run against the Object to verify its validity
User (Get-AzureAdUser, Get-CsOnlineUser), ApplicationEndPoint (Get-CsOnlineApplicationEndPoint), etc.
Is ExternalPstn just that, a String, i.E. a Tel URI matching the pattern "^tel:\+\d"? (if so, I am good)

Fo

[2020-09-19 11:20] DerekSomerville opened #6549 "Add-TeamChannelUser not recongnised"
[Enter feedback here]
This function is not recognised and is not displayed when one does "get-command -Module microsoftteams". I have version 1.1.6 installed and I uninstalled and reinstalled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd91d571-ca88-5766-2666-d6a4d34cdbed
* Version Independent ID: 2481b258-b593-e32

[2020-09-21 05:02] hwkwicre opened #6550 "Typo"
This example removes the current SharerPoint Online Home Site setting.
"SharerPoint"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc6340eb-48f0-ecc0-7ee1-2211f47cbbb9
* Version Independent ID: 44e160a6-642b-3d90-8115-8196450f5c19
* Content: [Remove-SPOHomeSite (SharePointOnlinePowerShell)](https://docs.microsoft.com/

[2020-09-21 05:10] hwkwicre opened #6551 "Typo"
-Principals
One or more [principles] to revoke the permissions for.
Is it Principal or Principle

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdb4a26a-aabb-8870-54ea-bb6c3c2c0c38
* Version Independent ID: 8219146a-ea91-9549-635d-c8a158da5b04
* Content: [Revoke-SPOHubSiteRights (SharePointOnlinePowerShell)](https://do

[2020-09-21 05:14] hwkwicre opened #6552 "Incomplete?"
There is a "." under Applies to: SharePoint Online
So I believe that means it's incomplete?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7000bfcf-95b0-584e-1a42-b5d5202d82e1
* Version Independent ID: 00e03653-1983-a0ba-69c7-61ad80b4245a
* Content: [Set-SPOBrowserIdleSignOut (SharePointOnlinePowerShell)](https://docs.

[2020-09-21 05:27] hwkwicre opened #6553 "Would it be helpful to add other site templates too?"
"Identifies which base template to add the design to. Use the value 64 for the Team site template, and the value 68 for the Communication site template."
Maybe add a link or something to values of other templates, in case some admins would like to use other (classic) site templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-09-21 05:39] hwkwicre opened #6554 "Specifies the start time"
Specifies the start time in UTC to search for monitoring errors (for example, 01032011:12:00).
This 01032011:12:00 isn't very clear, is it day/month/year/time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ce9c6a4-855b-77c4-422e-d7cce055c650
* Version Independent ID: 7a04945a-61f4-d2a8-7ed0-9d2a64bfaa2e
* Content: [G

[2020-09-21 08:22] stukkendfc opened #6555 "Command fails to update .pnp files"
This command does not have the desired effect on a .pnp file. Only when the extension is .xml does it include the folders. I've checked the modified date and time of an existing .pnp file, but it does not change after running the command. So in essence the example in the documentation seem to be incorrect, or I am doing something wrong.

[2020-09-21 12:20] yogkumgit commented on #6541
@chrisda Thank you very much for sharing this explanation. @Cypher-Skif Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-21 12:20] #6541 closed

[2020-09-21 14:14] dbarrass commented on #6549
Dear yogumgit,
I have exactly the same issue, been struggling with it all weekend, many reboots and attempt to fix it.
Here's a screenshot of my get-command -Module microsoftteams
I don't think Add-TeamChannelUser is the only cmdlet missing either
![missing cmdlets](https://user-images.githubusercontent.com/71651582/93777576-e46f3a80-fc1c-11ea-86f5-0a3cb0caa25e.PNG)

[2020-09-21 17:04] onephilote opened #6559 "Typo: CVS instead of CSV"
This article says "CVS" instead of "CSV" in 5 locations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baa414bb-ab53-b465-8783-cde05d7ac5e4
* Version Independent ID: f354bbc9-71c9-15b5-be86-a9df743e3df4
* Content: [Import-SPEnterpriseSearchThesaurus (SharePointServer)](https://docs.microsoft.com/en-us/powershell/modul

[2020-09-21 19:28] dariomws commented on #6507
Hi @ahamin01, thank you for your feedback.

I cannot reproduce this error:
![image](https://user-images.githubusercontent.com/33589238/93812006-69f7e800-fc27-11ea-831d-5ce39c4f6bb5.png)

Please try installing the latest version of the module:
https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#update-the-exo-v2-module

[2020-09-21 19:53] dariomws commented on #6514
Hi @mbratukha, thank you for your feedback and help us to improve docs.microsoft.com.

I tested it and experienced the same behaviour. I'm going to apply an update to reflect this, let's see if it gets approval.

[2020-09-21 20:06] dariomws commented on #6540
Hi @LukePWilkins, thank you for your feedback.

For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products.

Thank you!

[2020-09-21 20:16] dariomws commented on #6542
Hi @Tolle3000, thank you for your feedback and help us to improve docs.microsoft.com.

I think it's a good idea, I'm updating the article to add all the related cmdlets.

[2020-09-21 20:38] dariomws commented on #6515
Hi @mgrimesii, thank you for your feedback and help us to improve docs.microsoft.com.

The script Start-RobustCloudCommand.ps1 is available to help customers that they used to running commands against large numbers of users at once:
https://techcommunity.microsoft.com/t5/exchange-team-blog/updated-running-powershell-cmdlets-for-large-numbers-of-users-in/ba-p/1000628

Also, even this cmdlet is not

[2020-09-21 21:08] systemsmaven opened #6565 "Missing -Name for the Import Module Command"
[Hi, You are missing the -Name part of the Import-Module command.  Your example reads: Import-Module ExchangeOnlineManagement

It should be "Import-Module -Name ExchangeOnlineManagement"

I just noticed it after rebuilding my system and having to reinstall all of my PS modules. :)
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-09-21 21:13] chrisda commented on #6565
@systemsmaven, see this [PR](https://github.com/MicrosoftDocs/office-docs-powershell/pull/6390) about the exact same issue.

Name is a positional parameter and isn't absolutely required. I've used the command `Import-Module <ModuleName>` dozens if not hundreds of times over the years.

So are you saying the command doesn't work unless you use the `-Name` qualifier? If so, what are the circumstance

[2020-09-21 21:21] systemsmaven commented on #6565
Hi @chrisda

I just tried it without the -Name on a freshly build Window 10 1909 system.  Running PS as an Administrator and it would not install.  Here's the error:

PS C:\Windows\system32> import-module ExchangeOnlineManagement
import-module : The specified module 'ExchangeOnlineManagement' was not loaded because no valid module file was found   in any module directory.
At line:1 char:1
+ import

[2020-09-21 21:31] chrisda commented on #6565
@chrisda, I just tried it on my (ancient, not fresh) Win 10 v2004 build.

[code]

So are you trying to install and load the module? Or just load the module?

[2020-09-21 21:33] systemsmaven commented on #6565
@chrisda Awww that's what I was.  I was doing both installing and loading.  My error... Trying to do too many things at once. :)

[2020-09-21 21:44] chrisda commented on #6565
@systemsmaven no worries. Interesting find. I'll make some type of note or indication in this and other related topics.

[2020-09-21 21:47] systemsmaven commented on #6565
@chrisda sounds good!  Have a great day!

[2020-09-21 21:47] #6565 closed

[2020-09-21 21:54] dstrome opened #6566 "test issue"
test

[2020-09-21 21:54] dstrome commented on #6566
bob@contoso.com

[2020-09-21 21:56] dstrome commented on #6566
test

[2020-09-21 21:57] dstrome commented on #6566
test

[2020-09-21 22:03] dstrome commented on #6566
test

[2020-09-21 22:06] #6542 closed

[2020-09-21 22:09] dstrome commented on #6566
test

[2020-09-22 01:08] Muxxx opened #6569 "LocaleId reference link incorrect"
"
-LocaleId
Specifies the language of this site collection. For more information, see Locale IDs Assigned by Microsoft (https://go.microsoft.com/fwlink/p/?LinkId=242911).
"

This URL does not contain valid Locale IDs for use with the -LocaleId parameter. The LocaleId for English (United States) as per SharePoint Online is 1033, but that link not only doesn't mention a LocaleId, it refers to the Lo

[2020-09-22 09:34] mbratukha commented on #6514
@dariomws thank you for quick response!

Could it be a feature request that it's possible to use also GUIDs for this command?
E.g. the command `New-RetentionCompliancePolicy` allows to do that.
It would be more consistent for `ExchangePowerShell` module.

[2020-09-22 11:23] JetzeMellema opened #6570 "Confusing: "Accounts in this organizational directory only (Microsoft)""
In the section where the reader is instructed to create a new app registration, the instruction says to choose the following option:

**Accounts in this organizational directory only (Microsoft).**

In reality the user will see an option with their actual organization directory name between the parentheses, i.e. (Fabrikam). Suggest to improve the instructions to indicate that the option that shoul

[2020-09-22 13:17] yogkumgit commented on #6496
@get-itips Thank you very much for the contribution and sharing this explanation. @PhilipHaglund Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-22 13:17] #6496 closed

[2020-09-22 13:19] yogkumgit commented on #6492
@get-itips Thank you very much for the contribution and sharing this explanation. @robertafreese Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-22 13:19] #6492 closed

[2020-09-22 13:22] get-itips commented on #6461
Hello @RemzoozmeR
Thanks for your feedback.
I could reproduce what you said here. I'll try to pass this information along to the team.

[2020-09-22 14:21] dariomws commented on #6514
Hello @mbratukha, thanks for your feedback.

For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/. There, your suggestion will reach the product team.

[2020-09-22 17:21] cardenp commented on #6549
Please, how do I get a version, beta or otherwise of the cmdlet Add-teamChannelUser. Ppl seem to have access to it from other fora. I have to add 240 ppl to 40 channels. Manually doing it makes MSTeams not fit for purpose.

[2020-09-22 17:46] cardenp commented on #6549
I fixed it. I uninstalled the current MSTeams module and ran this "Install-Module -Name MicrosoftTeams -RequiredVersion 1.1.3-preview -AllowPrerelease". Closed Powershell and reopened , it worked.

[2020-09-22 18:09] DerekSomerville commented on #6549
Hi cardenp, I tried this but it does not appear to work for me. I tried the below to uninstall, but I am not sure it worked.
Uninstall-Module MicrosoftTeams

[2020-09-22 18:12] brettemery opened #6573 "Import-Module wrong, use Install-Module"
###

You say to INSTALL the module run: Import-Module -Name ExchangeOnlineManagement.

That is not correct, it's Run PowerShall As Administrator then run Install-Module -Name ExchangeOnlineManagement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Independent ID: 4d69ee5d-5

[2020-09-22 18:19] cardenp commented on #6549
This is the command I used, Derek "Uninstall-Module -Name MicrosoftTeams"

[2020-09-22 18:27] dbarrass commented on #6549
Hi Cardenp
uninstall went ok (try it as Administrator immediately after restarting the shell)
install worked, I had to add -allowClobber for it to work
Restart shell (as admin)
and OMG it worked. I'd tried this with version 1.1.4 before and that didn't work so I did not do this with much hope.
Updating the microsoftTeams module made it disappear again
and now I can't get it back even if I repeat t

[2020-09-22 18:36] dbarrass commented on #6549
Ok got it back
the secret it to uninstall (in admin) close powershell immediately - this was the secret as otherwise the uninstall didn't complete
Install v1.1.3 (as admin)
Close powershell again
reopen powershell (as admin) and there the command was, along with several other previously missing commands

[2020-09-22 19:08] mbratukha commented on #6514
@dariomws thank you.

[2020-09-22 20:11] dariomws commented on #6531
Hi @chrismholmes1, thank you for your feedback and help us to improve docs.microsoft.com.

I'm not sure if there is something to update in the article. I think it's better if you check these features with support.
I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvement

[2020-09-23 01:39] hwkwicre opened #6574 "PARAMVALUE: EncryptionParameters"
-EncryptionParameters
PARAMVALUE: EncryptionParameters
Can there be more explanations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6318fa57-5e0c-9339-f8d8-4ed6169e1033
* Version Independent ID: f9d39f09-e2bd-2db0-55f8-4510dbbd8810
* Content: [Submit-SPOMigrationJob (SharePointOnlinePowerShell)](https://docs.microsof

[2020-09-23 01:41] hwkwicre opened #6575 "Incomplete article"
Description
Use this cmdlet to .

-SourceSiteUrl
{{ Fill SourceSiteUrl Description }}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eee96ac3-6af6-4cc3-6700-dd6f2a4791fb
* Version Independent ID: cdbe048d-16c0-a737-0c24-0ef7177a1e02
* Content: [Stop-SPOSiteContentMove (SharePointOnlinePowerShell)](https://docs.microsof

[2020-09-23 01:44] hwkwicre opened #6576 "Fill Description"
-Reserved
{{ Fill Reserved Description }}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff34ec3c-ad28-7266-223d-9c60cb0486e6
* Version Independent ID: 0be56c12-346c-bc92-b2ad-36b48f8d2589
* Content: [Start-SPOUnifiedGroupMove (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-o

[2020-09-23 10:16] DEberhardt opened #6577 "OptimizeDeviceDialling Parameter"
Hello,

brushing up my Teams CmdLet knowledge, I now tackle Dial Plans. :)
To fully understand all they have to offer, I found the Parameter OptimizeDeviceDialling which does not have a Description in New-CsTenantDialPlan and Set-CsTenantDialPlan. I never used this switch before, nor did I have to use ExternalAccessPrefix...

I do not know how relevant this switch (and the corresponding ExternalAc

[2020-09-23 11:03] yogkumgit commented on #6531
@dariomws  Thank you very much for the contribution and sharing this explanation. @chrismholmes1 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation upd

[2020-09-23 11:03] #6531 closed

[2020-09-23 11:06] yogkumgit commented on #6540
@dariomws  Thank you very much for the contribution and sharing this explanation. @LukePWilkins Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation updat

[2020-09-23 11:06] #6540 closed

[2020-09-23 11:14] yogkumgit commented on #6515
@dariomws Thank you very much for the contribution and sharing this explanation. @mgrimesii Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-23 11:17] yogkumgit commented on #6507
@dariomws Thank you very much for the contribution and sharing this explanation. @ahamin01 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-23 11:17] #6507 closed

[2020-09-23 14:54] mgrimesii commented on #6515
Thank you….

Thanks,

Melvin Grimes II
System Administrator
Office of the CIO, IT Shared Services
United States Department of Transportation
Room E51-209, 1200 New Jersey Ave, S.E.
Washington, DC 20590
Office - (202) 366-4954 | Mobile - (202) 897-5249

For IT Assistance, Please contact the 5-Help Service Center:
(202) 385-4357
(866) 466-5221 (toll-free)
5-HelpExpress@dot.gov<mailto:5-HelpExpress@d

[2020-09-23 14:54] mgrimesii commented on #6515
Thank you!

Thanks,

Melvin Grimes II
System Administrator
Office of the CIO, IT Shared Services
United States Department of Transportation
Room E51-209, 1200 New Jersey Ave, S.E.
Washington, DC 20590
Office - (202) 366-4954 | Mobile - (202) 897-5249

For IT Assistance, Please contact the 5-Help Service Center:
(202) 385-4357
(866) 466-5221 (toll-free)
5-HelpExpress@dot.gov<mailto:5-HelpExpress@do

[2020-09-23 15:26] get-itips commented on #6533
Hello @MicahHarley
As the article says this cmdlet is part of the public preview (and you are also as you say, using the public preview)
As the state of that version, the cmdlet may be subject to changes and probably needs adjustments.
I recommend checking [here](https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes) to see when this cmdlet goes GA.
Also if you want your r

[2020-09-23 15:42] get-itips commented on #6537
Thanks @MichaelLaMontagne will update the article with your feedback.

Also, here is a site you can use to see the mappings between GitHub and Microsoft aliases: https://repos.opensource.microsoft.com/people?q=MichaelLaMontagne

And if you have a Microsoft alias you can link your accounts in GitHub so that a blue "Microsoft submitter" label appears to any Issue or PR's you submit. Guidance on it h

[2020-09-23 16:45] Zmk55 opened #6580 "Typo"
First sentence under the header "Connect to Exchange Online PowerShell using MFA" says "If you" instead of "If your" .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Independent ID: 4d69ee5d-5a6d-a203-69fe-bf5441a8b5eb
* Content: [Connect to Exchange Online PowerShell](htt

[2020-09-23 17:00] get-itips commented on #6549
Hello @DerekSomerville how are you?

You can find more information on the difference between Public Preview and GA [here](https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes). Specifically, the cmdlet you are trying to use is still part of the Public Preview version.
Also here is the instructions to install a [specific version](https://docs.microsoft.com/en-us/microsoftt

[2020-09-23 17:11] dbarrass commented on #6549
so what you're saying is that it's in 1.1.3-preview and 1.1.5-preview, but not the normal download.
I have to say Microsoft are doing an appalling job at making things clear. I have wasted literally days on this.
Anyway -  thank you for pointing this out :-) that's helped a lot
David

[2020-09-23 17:11] chrisda commented on #6580
@Zmk55, that same typo exists in all three of the Connection topics (the joys of copy/paste), so I fixed them all.

In the future, you too can make simple changes like this without opening a GitHub issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2020-09-23 17:11] #6580 closed

[2020-09-23 17:16] get-itips commented on #6550
Thanks for reporting @hwkwicre

[2020-09-23 17:19] get-itips commented on #6551
Thanks for reporting @hwkwicre

[2020-09-23 17:21] get-itips commented on #6552
Thanks for reporting @hwkwicre

[2020-09-23 17:27] DerekSomerville commented on #6549
Great thanks all. I got the uninstall to work for me with -Force. I now have it working. Thanks for everyone's help.

[2020-09-23 18:03] get-itips commented on #6553
Thanks for reporting @hwkwicre currently there is no article that mentions all the Template IDs, but probably, it will be included in the link I am adding to the article thru a pr. Thanks

[2020-09-24 00:58] get-itips commented on #6554
Thanks for reporting @hwkwicre

[2020-09-24 01:31] hwkwicre opened #6590 "List of template"
-Template
Displays sites of a specific template. For example, STS, STS#0 or STS#1.

Would it be more helpful to add maybe a link that has a list of other templates too? Like something that contains these:
https://social.technet.microsoft.com/wiki/contents/articles/20100.sharepoint-2010-default-site-templates.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-09-24 02:04] hwkwicre opened #6591 "More info?"
Only has PARAMVALUE
Should there be more info?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52bb492-d236-c3cb-212b-b937e397aaad
* Version Independent ID: 01fbd518-06fe-96cf-4a70-12e410107066
* Content: [Get-SPOSiteContentMoveState (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/powershell/module/share

[2020-09-24 07:15] Vleugelsjef opened #6592 "Powershell Command on this page is wrong"
Hi,
Documentation on this page is not correct. The purple note says:
"If you've already installed the EXO V2 module, the previous command will work as written. If you haven't already installed the module, you can install and load the latest public version of the module in one step by running the command: Import-Module -Name ExchangeOnlineManagement."

The command needs to be Install-Module -Name E

[2020-09-24 13:23] 3novsan opened #6594 "PermanentlyDisable Switch"
It has been mentioned that "You can only use this switch on user mailboxes that aren't licensed and aren't on hold". But when we try to run it against a mailbox for whom we have removed the license, We get below error

Disable-mailbox BiancaP -PermanentlyDisable
The operation couldn't be performed because object 'BiancaP' couldn't be found on 'MWHPR14A004DC12.NAMPR14A004.PROD.OUTLOOK.COM'

If we r

[2020-09-24 16:13] yogkumgit commented on #6533
@get-itips Thank you very much for the contribution and sharing this explanation. @MicahHarley Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-24 16:13] #6533 closed

[2020-09-24 16:18] yogkumgit commented on #6543
@get-itips Thank you very much for the contribution and sharing this explanation. @dreamMB Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-24 16:18] #6543 closed

[2020-09-24 16:20] yogkumgit commented on #6549
@get-itips Thank you very much for the contribution and sharing this explanation. @DerekSomerville Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-24 16:20] #6549 closed

[2020-09-24 17:25] chrisda commented on #6592
@Vleugelsjef, confirmed. See issue [6565]<https://github.com/MicrosoftDocs/office-docs-powershell/issues/6565> for background, which turns out to be incorrect or I misunderstood. I uninstalled the module from my PC, and then ran the command with the following result:

[code]

I'll remove the note from the topics.

Thanks for the feedback.

Closing

[2020-09-24 17:25] #6592 closed

[2020-09-24 21:19] get-itips commented on #6569
Hello @Muxxx Stefano,
Thanks for your feedback, I can see that the link you share could be better, will propose thru a PR.

[2020-09-24 21:22] get-itips commented on #6559
Thanks for reporting @onephilote

[2020-09-24 21:24] get-itips commented on #6555
Hello @stukkendfc can you kindly link here the article you are referring to? Thanks

[2020-09-24 21:24] get-itips commented on #6546
Hello @GeorgeWNYC
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

Thank you!

[2020-09-24 21:25] get-itips commented on #6529
Hello @zumiek
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

Thank you!

[2020-09-25 03:14] hwkwicre commented on #5662
the page https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-spogeoadministrator?view=sharepoint-ps still shows broken link.

[2020-09-25 03:31] shivtorov opened #6599 "Set-CsTenantMigrationConfiguration not documented"
Empty article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbd76c9d-146e-776b-66b4-7bf2cd85dbc5
* Version Independent ID: 0d3ef43a-6d07-1e88-deda-8a92300334f0
* Content: [Set-CsTenantMigrationConfiguration (SkypeForBusiness)](https://docs.microsoft.com/en-us/powershell/module/skype/set-cstenantmigrationconfiguration?

[2020-09-25 07:40] stukkendfc commented on #6555
Hi, I refer to the documentation found here:
https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/add-pnplistfolderstoprovisioningtemplate?view=sharepoint-ps

When trying to update .pnp file, nothing happens. When trying to update .xml file, success.

[2020-09-25 12:20] get-itips commented on #6555
Hello @stukkendfc
Oh I see you refer to a PnP cmdlet.
Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback or reply to your inquiry.

Thank you!

[2020-09-25 14:47] yogkumgit commented on #6555
@get-itips Thank you very much for the contribution and sharing this explanation. @stukkendfc Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-25 14:47] #6555 closed

[2020-09-25 14:48] yogkumgit commented on #6546
@get-itips Thank you very much for the contribution and sharing this explanation. @GeorgeWNYC Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-25 14:48] #6546 closed

[2020-09-25 14:50] yogkumgit commented on #6529
@get-itips Thank you very much for the contribution and sharing this explanation. @zumiek Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-25 14:50] #6529 closed

[2020-09-25 14:52] yogkumgit commented on #5662
@get-itips please review.Thanks

[2020-09-26 11:20] ImHermes opened #6602 "Unable to run SharePointOnline Module in Azure Function (PowerShell)"
## Error
The SharePointOnlinePowerShell module appears to auto-loaded from the powershell gallery, however it's cmdlets are never made available by default.
Attempting Connect-SPOService returns the error: "The term 'Connect-SPOService' is not recognized as the name of a cmdlet, function, script file, or operable program"

## Expected behavior:
The ability to use Connect-SPOService and other Share

[2020-09-27 10:41] oscamdroid commented on #5139
In case it helps anyone, I had the same problem and in the end I managed to solve it using the **MaximunVersion** parameter instead of RequiredVersion.

[2020-09-28 05:37] Jiriteach commented on #3954
I see this issue is closed. I am experiencing the same thing. Crawl permissions have been granted and I can see this on SharePoint Online but cannot get the crawl log.

Connect-PnpOnline -Url https://.sharepoint.com -UseWebLogin

This authenticates fine as one would expect.

Get-PnPSearchCrawlLog: Make sure you are granted access to the crawl log via the SharePoint search admin center at https://<

[2020-09-28 09:37] wobba commented on #3954
I'm out traveling  so cannot test right now. If your user is added you wait a little bit, and connect using that user with eg -Weblogin, and it fails, the next step is to log a support case.

[2020-09-28 10:04] Jiriteach commented on #3954
Thanks. Will open a case. Its been ~ 2 weeks now. I've been testing it occassionally but still nothing.

[2020-09-28 15:08] #6569 closed

[2020-09-28 15:30] #6559 closed

[2020-09-28 15:37] npherson opened #6605 "https://docs.microsoft.com/powershell/exchange/filter-properties"
The Get-UnifiedGroup cmdlet's -Filter does not allow filtering by AllowAddGuests. We have many organizations where the IT group will not enable guest access which significantly reduces the value proposition of Teams, especially in government organizations that largely collaborate with external parties. The justification is often an inability to easily control a small number of risky sharing scenar

[2020-09-28 20:15] SanguptaMSFT commented on #6419
Hi Doc Team,

We need to update the existing documentation<https://docs.microsoft.com/en-us/powershell/module/skype/set-csteamsmessagingpolicy?view=skype-ps> as follows, who can follow-up on this ?

Before
After
-AllowGiphy
Determines whether a user is allowed to access and post Giphys. Set this to TRUE to allow. Set this FALSE to prohibit.

-AllowGiphy
Determines whether a user is allowed to acce

[2020-09-28 21:22] get-itips commented on #6419
@SanguptaMSFT I will create the PR and a team of reviewers will evaluate.

[2020-09-29 19:11] rbaxe commented on #3597
The documentation doesn't seem to reflect what I'm seeing in practice. I have a group which I want to restrict sending to and also not send delivery failures when people send to it. I set AcceptMessagesOnlyFrom  to a single user and then set ReportToOriginatorEnabled to false. By my reading of the documentation an if another user who was not listed in AcceptMessagesOnlyFrom would generate a DSN ho

[2020-09-30 10:33] genicus commented on #4254
For us it is still not working... When will this be finally fixed?

[2020-09-30 10:43] ivanfioravanti opened #6622 "LastUserActionTime and LastInteractionTime missing"
The old Get-MailboxStatistics had two very useful dates to understand if a mailbox is used by its owner or someone else. These are completely missing in the new Get-EXOMailboxStatistics, can you please read them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9145396-cc72-6e54-4204-6867397e67ea
* Version Independent I

[2020-09-30 12:34] yogkumgit commented on #6502
@get-itips Thank you very much for the contribution and updating the documentation with PR. @DEberhardt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-30 12:34] #6502 closed

[2020-09-30 15:16] #6537 closed

[2020-09-30 15:54] #6550 closed

[2020-09-30 16:13] #6551 closed

[2020-09-30 16:29] #6552 closed

[2020-09-30 17:06] #6553 closed

[2020-09-30 17:10] #5662 closed

[2020-09-30 18:29] dariomws commented on #3597
Hi @rbaxe, thank you for your feedback.

Please have in mind that it could take some time to apply and also the following sentence:
"The ReportToManagerEnabled and ReportToOriginatorEnabled parameters affect the return path for messages sent to the group. Some email servers reject messages that don't have a return path. Therefore, you should set one parameter to $false and one to $true, but not bo

[2020-09-30 19:50] rbaxe commented on #3597
Thanks @dariomws! In terms of waiting for the setting to apply I have waited over 24 hours and the groups still seem to generate DSN's when users who are not allowed to send them emails send emails to the group. The goal is to literally never generate a DSN when someone sends to the group that wasn't supposed to. Is that the expected behavior? The sentence you added regarding the return path would

[2020-10-01 14:27] ParaGlideRocks commented on #6284
Hi all, I've just tried and it's not working yet. Can I ask which changes to the documentation?

[2020-10-01 14:40] netsenthil opened #6627 "No Info on Available RuleID's"
[There is no information of Rule IDs available to run for the Repair-SPOSite and leads to a dead end.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70c2ac3c-a378-54a1-d5d3-e19689924a44
* Version Independent ID: 119de157-81c6-7896-8ae1-24f88b33e89d
* Content: [Repair-SPOSite (SharePointOnlinePowerShell)](https://docs.

[2020-10-01 15:40] dariomws commented on #3597
@rbaxe I've verified and I experienced the same behaviour.

For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will report to the product group as here we are limited to documentation issues and improvements. Anyway, I'll also send this feedback to them.

Support URL: https://docs.microsoft.com/microsoft-365/admin/contact-support-for

[2020-10-01 16:08] #6554 closed

[2020-10-01 16:31] SanguptaMSFT commented on #6419
Thank you all the change has been made 😊

From: Premal Gandhi
Sent: Monday, September 28, 2020 3:16 PM
To: Sanyog Gupta (SAN-SKYPE | TEAMS) <sangupta@microsoft.com>; MicrosoftDocs/office-docs-powershell <reply@reply.github.com>; MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>; Debasish Pradhan <Debasish.Pradhan@microsoft.com>
Cc: Mention <mention@noreply.github.com

[2020-10-01 16:48] JeremyTBradshaw opened #6628 "Example #26 is not complete"
The ClientId is left as '' and the -Certificate parameter has nothing at all specified.  Unless I'm misunderstanding it, I think it looks like the author of that example stepped away from it and forgot to come back to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f461736e-8d54-f626-90bc-26fd8cc9758a
* Version Inde

[2020-10-01 16:50] SanguptaMSFT commented on #6419
Thank you for the updates.  We need to update one more place for the similar content.   Please help.
Before
After
[Graphical user interface, text, application, email  Description automatically generated]
-AllowUrlPreviews
Use this setting……..
….. to tun off.

Note: IT Administrator will need to enable Optional Connected Experiences<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2F

[2020-10-01 20:15] gtimread opened #6630 "Date format information is incorrect"
The date format information in this article is not correct. My local system's regional date format is set to dd/mm/yyyy (UK region settings) however running Get-MessageTrace in an EXO V2 PS session on my local system required entering the date in US mm/dd/yyyy format and returned the error "Invalid StartDate value. The StartDate can't be older than 10 days from today." when using the UK date forma

[2020-10-01 21:45] chrisda commented on #6630
@gtimread, can you confirm or deny the following behavior?

In the cloud-based service, if you specify a date/time value without a time zone, the value is in Coordinated Universal Time (UTC). To specify a date/time value for this parameter, use either of the following options:

- Specify the date/time value in UTC: For example, `"2016-05-06 14:30:00z"`.

- Specify the date/time value as a formula

[2020-10-02 11:31] yogkumgit commented on #6628
@JeremyTBradshaw Please indicate which document you are referring to. Thanks.

[2020-10-02 13:44] JeremyTBradshaw commented on #6628
Hi @yogkumgit I appear to have messed up the Document Details part of my initial post.  I've fixed it now.  And example 26 can be seen here to see what I mean:
https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/connect-pnponline?view=sharepoint-ps#------------------example-26------------------

## ------------------EXAMPLE 26------------------
[code]

[2020-10-02 15:22] onehit commented on #5379
In case anyone else runs into this issue, we resolved it by adding the "Skype for Business Administrator" role to the admin user - despite being Teams Only tenant-wide, "Teams Service Administrator" was not enough to get this property when connecting to the online connector.

[2020-10-02 18:32] JimmyHang opened #6631 "Example 2 typo error.."
There seems to be some typo error on the example 2 on this page:

* Get-PnPTeamsUser -Team MyTeam -User john@doe.com -Owner

It should be:

* Remove-PnPTeamsUser -Team MyTeam -User john@doe.com -Role Owner

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad6e2658-173b-86cd-b3f3-4ec9d5b6e91c
* Version Independent ID: ea10

[2020-10-04 02:33] jebalert opened #6632 "Credential guard use case?"
In this article there is this statement:

"...Even when the connection to Exchange Online PowerShell uses modern authentication, the credentials are stored in a local file or a secret vault that's accessed at run-time."

Would configuring Credential Guard on a VM used to connect to EXO via MFA suffice from a baseline perspective? Anticipate this causing connectivity issues?

[2020-10-04 22:53] get-itips commented on #6576
Thanks for reporting @hwkwicre

[2020-10-04 22:53] get-itips commented on #6575
Thanks for reporting @hwkwicre

[2020-10-04 23:04] get-itips commented on #6590
Thanks for your feedback @hwkwicre

[2020-10-04 23:06] get-itips commented on #6591
Thanks for reporting @hwkwicre

[2020-10-04 23:09] get-itips commented on #6602
Hello @ImHermes how are you?
Hope you are doing great.
In the article explaining how to get started with the SharePoint Online PowerShell module is specified that it is a **Windows PowerShell module**. Please see here https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-online/introduction-sharepoint-online-management-shell?view=sharepoint-ps

(So AFAIK currently it can not run in Ps

[2020-10-04 23:19] get-itips commented on #6627
Thanks for your feedback @netsenthil

[2020-10-05 02:19] matthilt opened #6638 "$Null no longer works for PolicyName to remove a policy from a batch of users"
$null does not seem to work to remove a policy from a batch of users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b185b8d0-fa84-7ea6-4531-cf4eb6cc26fd
* Version Independent ID: 24754aee-bff2-fa16-e7e6-af45362fd916
* Content: [New-CsBatchPolicyAssignmentOperation (MicrosoftTeamsPowerShell)](https://docs.microsoft.com

[2020-10-05 11:15] SteveClements opened #6639 "On-Premises links go to 404s"
Both links to on-premises info go to 404s.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b815d4ba-337b-3edf-dbe5-85c373949dd4
* Version Independent ID: e85a164c-287a-a404-f798-e490ae802804
* Content: [New-PnPTenantSite (SharePointPnPPowerShell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/new-pnp

[2020-10-05 13:23] yogkumgit commented on #6432
@get-itips Thank you very much for the contribution and digging deep into it.  @bmomartins We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docu

[2020-10-05 13:47] get-itips commented on #5379
Thanks for leaving your feedback @onehit

[2020-10-05 13:51] get-itips commented on #4254
@hirenshah1 can you please kindly update us on this? Many thanks

[2020-10-05 14:53] #6419 closed

[2020-10-05 16:03] ERGeorgiev opened #6640 "-Title is not an actual parameter in the last example"
-Title is not an actual parameter in the last example. "Remove-PnPList : A parameter cannot be found that matches parameter name 'Title'."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb2d3c28-638c-262d-b851-de589cedf3c0
* Version Independent ID: 3054989c-a9fb-74aa-9121-fdb24b1a3f65
* Content: [Remove-PnPList (ShareP

[2020-10-05 20:14] #6570 closed

[2020-10-05 20:37] chrisda commented on #6074
Topic has been refactored for the EXO V2 module. The prerequisites (including winrm) are now located at <https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#prerequisites-for-the-exo-v2-module>

 If you don't see the value `Basic = true`, you need to run this command **in a Command Prompt** (not in Windows PowerShell) to enable Basic authentication for WinRM:

[code]

  **

[2020-10-05 20:37] #6074 closed

[2020-10-05 20:43] chrisda commented on #6326
The ExO V2 module is now available for MFA or non-MFA connections to Security & Compliance Center. Basic authentication and the older V1 module will go away eventually.

The connection instructions in the following topic should be considered authoritative:

<https://docs.microsoft.com/powershell/exchange/connect-to-scc-powershell>

Thanks for the feedback.

Closing

[2020-10-05 20:43] #6326 closed

[2020-10-05 21:49] chrisda commented on #6185
I updated the descriptions for the EwsAllowMacOutlook and MacOutlookEnabled parameters as described.

Thanks for the feedback.

Closing

[2020-10-05 21:49] #6185 closed

[2020-10-05 21:52] chrisda commented on #6573
@brettemery, thanks for the feedback. I updated the topic.

Closing

[2020-10-05 21:52] #6573 closed

[2020-10-05 23:16] get-itips commented on #6577
Thanks for your feedback @DEberhardt David, will try to clarify thru a pr.

[2020-10-06 00:40] get-itips commented on #6599
Thanks for your feedback @shivtorov

[2020-10-06 13:16] agallego-css opened #6645 "ContentFilter Parameter is not exposed to customers"
The Article mentions that we have the parameter "ContentFilter" available.
Even details in example10 its use.

But connecting to EXO powershell, the parameter is not exposed to customers. we have tested in multiple tenants.

I believe the doc is wrong or out-dated (in case the parameter used to be available before).

[2020-10-06 13:21] agallego-css commented on #6645
adding the article I mention just in case was not properly linked to it:
https://docs.microsoft.com/en-us/powershell/module/exchange/new-migrationbatch?view=exchange-ps&source=docs

[2020-10-06 13:32] #6645 closed

[2020-10-06 13:32] agallego-css commented on #6645
closing as it was incorrectly opened.

[2020-10-06 13:33] agallego-css opened #6647 "ContentFilter parameter is not exposed to the customers"
The Article mentions that we have the parameter "ContentFilter" available.
Even details in example10 its use.

But connecting to EXO powershell, the parameter is not exposed to customers. we have tested in multiple tenants.

I believe the doc is wrong or out-dated (in case the parameter used to be available before).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-10-06 15:36] sprider opened #6648 "Get-SPOTenantLogEntry with just start and end UTC time is not working"
Hi,

I am trying to execute the following command but its throwing the below error:

Any idea?

$endUTCTime = Get-SPOTenantLogLastAvailableTimeInUtc
$startUTCTime = $endUTCTime.AddDays(-14)
$tenantLogs = Get-SPOTenantLogEntry -StartTimeInUtc $startUTCTime -EndTimeInUtc $endUTCTime

**Error**
<img width="803" alt="Screen Shot 2020-10-06 at 10 35 25 AM" src="https://user-images.githubusercontent.com

[2020-10-06 17:51] chrisda commented on #6647
@agallego-css, it appears to be the other direction (newer, not older).

I, too, do not see the ContentFilter or ContentFilterLanguage parameters on the New-MigrationBatch cmdlet in my stock PROD E5 tenant. That information was recently updated in this [PR](https://github.com/MicrosoftDocs/office-docs-powershell/pull/6478) by @rahu-microsoft.

My guess is those parameters are coming (supposed to b

[2020-10-06 19:49] dariomws commented on #6573
Hi @brettemery, thank you for your feedback.

I tested it and works without Run as Administrator:
![image](https://user-images.githubusercontent.com/33589238/95252831-eb3ca680-07f3-11eb-9173-fc3ffcdc096d.png)

[2020-10-06 20:19] dariomws commented on #6594
Hi @3novsan, thank you for your feedback and help us to improve docs.microsoft.com.

You cannot use it after removed the user's license because in this case, the mailbox is hard-deleted. More information:
https://support.microsoft.com/en-us/help/3158794/no-soft-deleted-mailbox-after-license-removal-in-office-365
https://github.com/MicrosoftDocs/office-docs-powershell/issues/5681

[2020-10-06 20:22] dariomws commented on #6605
Hi @npherson, thank you for your feedback and help us to improve docs.microsoft.com.

For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/. There, your suggestion will reach the product team.

[2020-10-06 20:32] dariomws commented on #6622
Hi @ivanfioravanti, thank you for your feedback.

Here we are limited to documentation issues and improvements. To provide feedback about Exchange Online PowerShell module version 2, please go to the [Exchange Team blog](https://techcommunity.microsoft.com/t5/exchange-team-blog/bg-p/Exchange) or the [Office 365 Admin/Exchange Admin UserVoice forum](https://office365.uservoice.com/forums/273493-off

[2020-10-06 20:36] npherson commented on #6605
Hi @dariomws. Will the feedback for “this product” button on the docs page get redirected to uservoice at some point?

[2020-10-06 22:55] #6594 closed

[2020-10-07 13:51] vincentkurmi opened #6654 "Cmdlet deprecated"
This cmdlet is deprecated. I think we should be able to see the information on the page.
Here is the result of the creation request: "First generation provisioning is no longer supported. Please use the cmdlets which follow this format "*-CsCallQueue*" instead."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 582cb912-2

[2020-10-07 18:05] dariomws commented on #6605
@npherson I do not have that information, sorry.

[2020-10-07 20:14] dariomws commented on #5381
Hi @pupara,

Could you find the description?

Thanks!

[2020-10-08 07:56] Seilmeister opened #6659 "ShareData: Parameter description missing"
There's some vital information missing for our security office:

-ShareData
{{ Fill ShareData Description }}

Could you add the description please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed4847c2-e98f-00db-fe2c-aa0382b95a66
* Version Independent ID: dbea5fd4-8b55-dd74-dec9-62402d35aaf8
* Content: [Set-CsOnlineV

[2020-10-08 10:17] Martype opened #6660 "Set-SPOSiteOffice365Group throws access denied error"
When I run this command, the desired O365 Group gets created, but the command however throws an access denied error and the sharepoint site does not get linked to the created group.

![image](https://user-images.githubusercontent.com/1420317/95446116-278d1580-0960-11eb-94a3-7cec59d2e343.png)

![image](https://user-images.githubusercontent.com/1420317/95446133-2c51c980-0960-11eb-88dd-3e58074c21dc.p

[2020-10-08 14:36] junecastillote opened #6661 "Search-AdminAuditLog does not work when logged in using App-Only Authentication"
When logged in to Exchange Online PowerShell using App-Only authentication (ExchangeOnlineManagement 2.0.3), I get this warning when running Search-AdminAuditLog

![image](https://user-images.githubusercontent.com/15041242/95473309-8da48780-09b6-11eb-98b9-982c748df816.png)

I can confirm that this is not happening when I am logged in using my admin account instead.

---
#### Document Details

⚠ *D

[2020-10-08 21:37] moatazelgamal opened #6663 "Not just activesync devices .. it is all mobile devices"
The documentation is inaccurate. The cmdlet will pull all mobile devices including modern clients that do not use activesync protocol.. this is evident from the "ClientType" attribute in the command results.
![image](https://user-images.githubusercontent.com/10493814/95516207-82386880-0984-11eb-9ce6-7339d6f4c4d1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-10-08 21:56] chrisda commented on #6663
@moatazelgamal, I removed any/all unnecessary 'activesync' references from the various \*\-MobileDevice\* cmdlet topics.

Thanks for the feedback.

Closing.

[2020-10-08 21:56] #6663 closed

[2020-10-09 08:12] rahu-microsoft commented on #6647
The feature is being rolled out. Currently a limited scope in PROD can see the new parameters.

[2020-10-09 14:22] brookehyde opened #6668 "Site swap in GUI For some tenants"
Please update this to provide information that Replacing the root is available in the GUI in some tenants  the following was provided to me from Microsoft Support.

Ensure the following:
•	The site you select as the new root site must be a communication site (SITEPAGEPUBLISHING#0) or a modern team site that isn't connected to a Microsoft 365 group (STS#3) and where the publishing feature has never

[2020-10-09 14:48] #6576 closed

[2020-10-09 14:54] #6590 closed

[2020-10-09 15:02] #6627 closed

[2020-10-09 15:11] #6577 closed

[2020-10-09 21:02] rbfajardo opened #6670 "Cmdlet is scoped to On-Premises only"
This cmdlet can be used in Exchange Online and On-Premises. The current wording "_This cmdlet is available only in on-premises Exchange._" is incorrect.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf4f39fe-fd94-b52c-7849-4db3b984318e
* Version Independent ID: 4a4db86e-fae9-178c-e086-557ae80bc4

[2020-10-09 21:44] #6670 closed

[2020-10-12 05:23] yogkumgit commented on #6602
@get-itips Thank you very much for the contribution and sharing this explanation. @ImHermes Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 05:23] #6602 closed

[2020-10-12 09:27] Baasky01 opened #6679 "MaskPstnNumbersType parameter and its Description missing"
In the cmdlet document page for Set-CsOnlineDialInConferencingTenantSettings, **MaskPstnNumbersType** parameter and its values description is missing.

[2020-10-12 10:37] yogkumgit commented on #6605
@npherson Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-10-12 10:37] #6605 closed

[2020-10-12 10:40] yogkumgit commented on #6622
@dariomws Thank you very much for the contribution and sharing this explanation. @ivanfioravanti Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 10:40] #6622 closed

[2020-10-12 10:42] yogkumgit commented on #6630
@chrisda Thank you very much for sharing this explanation. @gtimread Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 10:42] #6630 closed

[2020-10-12 10:53] yogkumgit commented on #6647
@agallego-css Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 10:53] #6647 closed

[2020-10-12 11:03] #6515 closed

[2020-10-12 13:50] JonesMikael opened #6680 "Please elaborate how and where the 'Label' setting is used"
Please clarify how and where the 'Label" setting is used. I understand that "The Label parameter specifies a descriptive label for the room" but how it is actually used, is it shown somewhere in Outlook or Outlook on the web? Future use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af332a3-efc1-49aa-24c2-64b5031a242

[2020-10-12 15:16] #6575 closed

[2020-10-12 15:21] #6591 closed

[2020-10-12 15:26] #6599 closed

[2020-10-12 15:31] npherson opened #6681 "Feedback button points to Github for filing an issue instead of uservoice"
The Feedback button at the bottom of the page for "This product" points to GitHub to open an issue which will be closed by the docs team since apparently that feedback should go to uservoice.

![image](https://user-images.githubusercontent.com/22797301/95764325-ed7c8600-0c75-11eb-89ba-57f1cadab62a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-10-13 11:12] laimaKristol opened #6686 "Get-PnPUnifiedAuditLog needs pagination implemented"
[Enter feedback here]
Get-PnPUnifiedAuditLog is missing pagination. It only bring back results for the limit of two hours. There are no parameters to run through full log (of the day).
Example on the page is also not workin, throws error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4dfc85c-3514-da5f-faa8-a3d3af39c3

[2020-10-14 11:40] machielvisser opened #6688 "AllowPlusAddressInRecipients"
The parameter AllowPlusAddressInRecipients is missing from the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23add0a6-bb9c-15d2-a6eb-351ae0564522
* Version Independent ID: 8056b3ee-4fab-3a5c-935b-a9d0e9ad82a4
* Content: [Set-OrganizationConfig (ExchangePowerShell)](https://docs.microsoft.com/en-us/power

[2020-10-15 08:27] uz-it opened #6689 "Itentity type do not match in Get- and Complete- commands"
When running the command:
`Get-MigrationBatch -Status synced | Complete-MigrationBatch -Confirm:$false`
Getting followin error:
`"Cannot convert the "Batch-Name" value of type "Deserialized.Microsoft.Exchange.Data.Storage.Management.MigrationBatchId" to type "Microsoft.Exchange.Management.Migration.MigrationService.Batch.MigrationBatchIdParameter"`

The workaround is
`Get-MigrationBatch -Status sy

[2020-10-15 13:57] xuegao0112 opened #6690 "Get-Team met HttpRequestException issue"
Hi,
When I run the script below met this issue:
### Script:
$credential = Get-AutomationPSCredential -Name "AAAA"
Connect-MicrosoftTeams -Credential $credential
Write-Output "Started"
$AllTeams = Get-Team -GroupID "xxxxx"
Write-Output $AllTeams
Disconnect-MicrosoftTeams

**### **_Issue:_****
10/15/2020 7:53:41 AM 	 Error 	 Get-Team : BadGateway in /teams/ endpoint
At line:9 char:13
+ $AllTeams = G

[2020-10-15 16:29] xuegao0112 opened #6691 "Get-Team met httrequestException"
Hi team,

I met this issue when I run the script below in Automation；

### **Error:**
10/15/2020 7:53:41 AM 	 Error 	 Get-Team : BadGateway in /teams/ endpoint
At line:9 char:13
+ $AllTeams = Get-Team -GroupID "xxx"
+             ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Get-Team], HttpRequestException
    + FullyQualifiedErrorId : Sy

[2020-10-16 13:11] get-itips commented on #6648
Hello @sprider Joseph, how are you?
As the article currently states

Hope this information helps you.

[2020-10-16 13:30] ACarlockAKA opened #6693 "Listing Admin requirements would be helpful"
It would be helpful if the Admin requirements for each command were listed.  More companies are limiting Global Admin access and assigning separate administrative roles.  I was allocated Teams Admin Role, but Set-CSUser is only available with the Skype For Business Admin role.  It would have saved me and the Microsoft support engineer hours of troubleshooting if this was listed for these commands.

[2020-10-16 15:05] get-itips commented on #6660
Hello @Martype how are you?
The article for [Set-SPOSiteOffice365Group](https://docs.microsoft.com/powershell/module/sharepoint-online/set-spositeoffice365group?view=sharepoint-ps) still states

I'll try to confirm if that is currently true. Besides that, I was able to use the cmdlet and it shows as 365 group connected:

![image](https://user-images.githubusercontent.com/36666927/96274977-663d5400

[2020-10-16 15:14] get-itips commented on #6660
Also, be sure to run the cmdlet using the documented required permissions and that you use the latest version of the SharePoint Online PowerShell module.

[2020-10-16 17:21] get-itips commented on #6668
Hello @brookehyde

Many thanks for your feedback.

I read the article and I found that some of the things you shared here are already in it

_Information on the article:_

"If the target is the root site at https://tenant-name.sharepoint.com then the source site must be either a Modern Team Site (STS#3) or a Communication Site (SITEPAGEPUBLISHING#0)."

_Information on the article:_

"The source an

[2020-10-16 17:32] brookehyde commented on #6668
The big omission is that it is in the GUI!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Friday, October 16, 2020 12:21:25 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Brooke Hyde <brooke@cloverpointsolutions.com>; Mention <mention@noreply.github.com>
Subjec

[2020-10-16 17:36] get-itips commented on #6668
Hello @brookehyde
How are you?
That is documented here https://docs.microsoft.com/en-us/sharepoint/modern-root-site#replace-your-root-site

[2020-10-16 17:59] get-itips commented on #6679
Many thanks for noticing and your feedback @Baasky01

[2020-10-16 18:44] get-itips commented on #6638
Hello @matthilt Matt, how are you?
I was able to use $null to batch unassign a policy, I used version 1.1.6 of the GA module.

[2020-10-16 18:58] paul9955 opened #6696 "Get-UserAnalyticsConfig and Set-UserAnalyticsConfig to be retired January 25, 2021"
I believe the two cmdlets Get-UserAnalyticsConfig and Set-UserAnalyticsConfig will be retired on or before January 25, 2021. Could you add a note about that to this topic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61176659-bd5c-de65-775b-cbb0b90871e1
* Version Independent ID: 4730f821-0ae9-dc49-2032-f27154f47bb0
*

[2020-10-16 21:49] get-itips commented on #6654
Hello @vincentkurmi
Thanks for your feedback.
Will propose adding that to the article thru a pr.
Thanks

[2020-10-18 21:05] clemenda opened #6699 "Send-PMPMail"
In Exchange Online powershell, when I run a Send-PNPMail cmdlet to my own email address, it accepts the command but the email is not received and there is no sign of the email trace when tracking using Get-MessageTrace so it appears the email is not sent at all.  Has anyone else come across this issue?  I have tried authenticating on modern authentication for the Connect-PNPOnline and also tried u

[2020-10-19 07:51] aov-arnold commented on #4254
After installing "Skype for Business Server 2019 Cumulative Update 4" it seems to work for us.
But I will test it for some more users...

[2020-10-19 08:41] hirenshah1 commented on #4254
Yes our engineer also tried this again and the scenario is found resolved in our testing.

[2020-10-19 11:09] yogkumgit commented on #6648
@get-itips Thank you very much for the contribution and sharing this explanation. @sprider Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-19 11:32] yogkumgit commented on #6660
@get-itips Thank you very much for the contribution and sharing this explanation. @Martype Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-19 11:33] #6660 closed

[2020-10-19 11:40] yogkumgit commented on #6638
@get-itips Thank you very much for the contribution and sharing this explanation. @matthilt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-19 11:40] #6638 closed

[2020-10-19 12:16] get-itips commented on #6659
Duplicate of https://github.com/MicrosoftDocs/office-docs-powershell/issues/6343

[2020-10-19 12:22] get-itips commented on #6628
Hello @JeremyTBradshaw
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this

[2020-10-19 12:23] get-itips commented on #6631
Hello @JimmyHang
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

[2020-10-19 12:23] get-itips commented on #6639
Hello @SteveClements
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this on

[2020-10-19 12:23] get-itips commented on #6640
Hello @ERGeorgiev
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

[2020-10-19 12:24] get-itips commented on #6686
Hello @laimaKristol
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one

[2020-10-19 12:26] JeremyTBradshaw commented on #6628
Hey @get-itips , I'm actually talking about an issue with the documentation, not the cmdlet.  It's the example #26 that has a documentation issue.

[2020-10-19 14:15] haneef95 opened #6700 "Not documented: Set-OrganizationConfig -AllowPlusAddressInRecipients"
Hi,

The `-AllowPlusAddressInRecipients` parameter isn't documented here. Could that be added please?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23add0a6-bb9c-15d2-a6eb-351ae0564522
* Version Independent ID: 8056b3ee-4fab-3a5c-935b-a9d0e9ad82a4
* Content: [Set-OrganizationConfig (ExchangePowerShell)](https

[2020-10-19 14:24] pramodghuge opened #6701 "Obsolete parameters used in the examples"
The examples shown on the page contain invalid obsolete parameters viz **Title** and **Location**.
Getting the following error if the parameters are used.

WARNING: Parameter 'Title' is obsolete. Use -Identity with an Id instead.
WARNING: Parameter 'Location' is obsolete. Use -Identity with an Id instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-10-19 15:40] pramodghuge opened #6702 "Invalid parameter -Title used instead of -Identity in Example 3"
The command shown in Example 3 contains an invalid parameter -Title.
The correct parameter is -Identity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb2d3c28-638c-262d-b851-de589cedf3c0
* Version Independent ID: 3054989c-a9fb-74aa-9121-fdb24b1a3f65
* Content: [Remove-PnPList (SharePointPnPPowerShell)](https://docs.m

[2020-10-20 00:18] chrisda commented on #6696
@paul9955, I added some information in relevant topics.

Thanks for the feedback.

Closing

[2020-10-20 00:44] paul9955 commented on #6696
Thank you much for this very quick response!
 - Paul

[2020-10-20 00:53] #6696 closed

[2020-10-20 04:39] yogkumgit commented on #6628
@get-itips Thank you very much for the contribution and sharing this explanation. @JeremyTBradshaw Your reaction is genuine, but we are helpless. That is how this process is set.  We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-20 04:39] #6628 closed

[2020-10-20 04:42] yogkumgit commented on #6631
@get-itips Thank you very much for the contribution and sharing this explanation. @JimmyHang Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-20 04:42] #6631 closed

[2020-10-20 04:44] yogkumgit commented on #6639
@get-itips Thank you very much for the contribution and sharing this explanation. @SteveClements Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-20 04:44] #6639 closed

[2020-10-20 04:46] yogkumgit commented on #6640
@get-itips Thank you very much for the contribution and sharing this explanation. @ERGeorgiev Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-20 04:46] #6640 closed

[2020-10-20 04:49] yogkumgit commented on #6686
@get-itips Thank you very much for the contribution and sharing this explanation. @laimaKristol Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-20 04:49] #6686 closed

[2020-10-20 14:01] thiagottss opened #6707 "This Copy-PnPFile command doesn't copy version history"
This Copy-PnPFile command doesn't copy version history but the documentation page states the following:

-IgnoreVersionHistory
If provided, only the latest version of the document will be copied and its history will be discared. If not provided, all historical versions will be copied along.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-10-21 11:58] LuckyJC opened #6710 "Grammar mistake"
The text in example 12 currently reads: "Extracts a provisioning template in Office Open XML from the current web, but only processes content types from the **to** given content type groups."

I believe it should read: "Extracts a provisioning template in Office Open XML from the current web, but only processes content types from the **two** given content type groups."

Simply change **"to"** to *

[2020-10-21 15:28] #6654 closed

[2020-10-21 15:45] #6679 closed

[2020-10-21 17:04] satishkr9506 opened #6712 "Applies to - Need update"
[Enter feedback here]
As per article this policy applies to Skype and Lync however looks like Teams also honor this policy at least for Federation. So, I think, we should update the applies field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd619f4b-f02f-30f3-b5d0-5aa24d18990b
* Version Independent ID: 9ea501f0-f89a

[2020-10-21 22:14] GalRabin opened #6716 "Unattended script"
I am trying to develop an unattended script using modern authentication methods.

The services I am trying to connect are:
1. Exchange online - Using the following command `Connect-ExchangeOnline`, Currently from the documentation I was able only to authenticate by unattended script by using CBA (Certificate-based authentication), There are missing details on how to connect using bearer token (Oau

[2020-10-21 23:29] shivtorov opened #6718 "New-CsTeamsIPPhonePolicy - missing description of two parameters"
missing parameters:
-AllowHomeScreen
-AllowBetterTogether

Module: MicrosoftTeams
Version: 1.1.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4039b69-4975-ff03-ef7f-3c2c3cae797d
* Version Independent ID: afed6a8c-e934-fbf0-b15d-abb250fee3bc
* Content: [New-CsTeamsIPPhonePolicy (SkypeForBusiness)](https://docs.micros

[2020-10-22 05:08] srinivasa247 opened #6720 "Request to update the more details with Parameter -FilterStartTime and -FilterEndTime"
Hello Chris,

While referring the article, there is a confusion around what this the exact date that the parameters -FilterStartTime take for reference.

An email item in a mailbox has many timestamps to it as below:
1. Date sent / Date received for the mail item
2. Date that the mail item was actually deleted.
3. Date that the mail item was last modified.

It is unclear which of the above timesta

[2020-10-22 07:11] marcjornet opened #6721 "Error in DisableSharingForNonOwners description."
[Enter feedback here]
There's an error on the description when applying the property of DisableSharingForNonOwners.
It specifies that only the site won't be shared by nonOwners, but it really prevents nonOwners from sharing files and folders.

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a453f6db-c1b0-3769-9

[2020-10-22 07:13] darwincr opened #6722 "Example 3 does not work"
PS C:\> Set-CsAutoAttendant -Instance $autoAttendant -verbose
Cannot bind parameter 'Instance'. Cannot convert value "Microsoft.Rtc.Management.Hosted.OAA.Models.AutoAttendant" to type "Microsoft.Rtc.Management.Hosted.OAA.Models.AutoAttendant". Error: "ArrayConverter cannot convert from
Microsoft.Rtc.Management.Hosted.OAA.Models.CallFlow."
    + CategoryInfo          : InvalidArgument: (:) [Set-CsA

[2020-10-22 07:31] GalRabin commented on #6295
@dariomws
@yogkumgit
Any updates here?
It's really painful for our customer, Due to the fact that Microsoft planning to deprecate basic auth soon and we implement an unattended script.

[2020-10-22 08:39] VjNi007 opened #6723 "Get-TeamChannelUser doesn't work"
Get-TeamChannelUser -GroupId $groupId
Get-TeamChannelUser : The term 'Get-TeamChannelUser' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path
is correct and try again.
At line:1 char:1
+ Get-TeamChannelUser -GroupId bdd5fbe7-8d74-436e-8e8e-ce4374c6d504
+ ~~~~~~~~~~~~~~~~~~~
    + Cat

[2020-10-22 09:23] hwkwicre opened #6724 "Synopsis missing?"
There's only a . under "Applies to: SharePoint Online"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4a46776-27da-2964-9835-d7064777ddb1
* Version Independent ID: 39bfe65b-ae44-2d4b-18ed-c30a404d6d4f
* Content: [Set-SPOMultiGeoExperience (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/powershell/module

[2020-10-22 09:28] hwkwicre opened #6725 "The article is in the wrong location; and broken link"
Module: SharePointOnlinePowerShell
Applies to: SharePoint Server 2013, SharePoint Server 2016

I believe this article should not be under SharePoint Online section?

Also "see the online documentation at https://go.microsoft.com/fwlink/p/?LinkId=251831 (https://go.microsoft.com/fwlink/p/?LinkId=251831)." the links are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-10-22 09:36] iyadzikra opened #6726 "Connect-SPOService Global Administrator 401 Unauthorized"
Running the command:
`Connect-SPOService -Url $siteURL -Credential $userCred`
using an account that has global administrator privileges. Any thoughts on what could be the reason?

[2020-10-22 10:57] yogkumgit commented on #6668
@get-itips Thank you very much for the contribution and sharing this explanation. @brookehyde Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-22 10:57] #6668 closed

[2020-10-22 11:03] bmomartins commented on #6432
That was the issue.

Thanks!

[2020-10-22 11:12] thuld opened #6727 "EXO Module 2.0.3 - Parallel connection to SCC and EXO yields different value for 'RemotePowerShellEnabled' for the same user"
When establishing a paralle connection (Exchange Online & Security & Complance Center) is the property `RemotePowerShellEnabled` populated with different values for the ***same user***.

To reproduce this problem, execute the following code:
[code]

This code results in the following output:

[code]

[2020-10-22 12:35] get-itips commented on #6690
Hello @xuegao0112 how are  you?
Looks like you are running the Teams module inside an Azure Runbook, is that it? Does it work for you with the same credentials outside of it? Be sure to run the latest GA version of the module.
Other than that I do not identify any issue with the documentation.
Hope this gets you in the right direction.

[2020-10-22 12:45] get-itips commented on #6432
Thanks for returning to confirm, have a great day.

[2020-10-22 13:02] dariomws commented on #6295
@GalRabin sorry but I don't have updates. Anyway, the correct place to get the latest updates about the EXO PowerShell module is the [Exchange Team Blog](https://techcommunity.microsoft.com/t5/exchange-team-blog/bg-p/Exchange).

[2020-10-22 13:05] get-itips commented on #6691
Duplicate of https://github.com/MicrosoftDocs/office-docs-powershell/issues/6690

[2020-10-22 15:24] chrisda commented on #6720
@srinivasa247, I believe you, and I've updated the topic accordingly.

Thanks for the feedback.

Closing.

[2020-10-22 15:24] #6720 closed

[2020-10-22 19:38] get-itips commented on #6693
Hello @ACarlockAKA Alex,

How are you? Hope you are doing great.

**Thanks for your feedback.**

If you do not have Skype for Business Online administrator role, for example, the Set-CsUser cmdlet will not be imported in your session when connecting, and that is probably what happened to you.

All -CS* cmdlets belong to the Skype For Business/Online PowerShell module and, at a minimum, you have to

[2020-10-22 21:17] get-itips commented on #6712
Hello @satishkr9506
How are you? Thanks for your feedback.

I added this sentence some time ago to this article

This is because the Applies to metadata can't have it because of current limitations of the Docs engine. You can read more information [here](https://github.com/MicrosoftDocs/office-docs-powershell/pull/5887#issuecomment-643456643).

Thanks

[2020-10-22 21:33] get-itips commented on #6718
Hello @shivtorov
Thanks for reporting, I am looking into this.

[2020-10-23 01:53] hwkwicre commented on #6725
Also this link has exactly the same problem: broken link and wrong location.
https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/set-spodataconnectionsetting?view=sharepoint-ps

[2020-10-23 03:13] sprider commented on #6648
@get-itips @yogkumgit In this case are you planning to hide it from public view?

[2020-10-23 03:47] CarolWangMS opened #6733 "About " -MaxReceiveSize" in Exchange Online"
About " -MaxReceiveSize" in Exchange Online

Hi team,

it says

-MaxReceiveSize
This parameter is available only in on-premises Exchange.
.....

Applies to: | Exchange Server 2010, Exchange Server 2013, Exchange Server 2016, Exchange Server 2019
-- | --

But this parameter should work for exchange online, just like -MaxSendSize.

Thanks,
B. R
Carol

---
#### Document Details

⚠ *Do not edit this s

[2020-10-23 10:01] sebfil opened #6734 "Suggestion for the -AzureADAuthorizationEndpointUri parameter"
When you use multiple powershell runtimes with multiple tenants, you must specify
-AzureADAuthorizationEndpointUri https://login.microsoftonline.com/{tenant-id}/v2.0

When you don't do this, you get an exception  "An item with the same key has already been added. Key: https://login.microsoftonline.com/organizations".

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für d

[2020-10-23 10:06] Bertug opened #6735 "Example 1 is empty"
Example 1 is empty on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cbf9e01-3daf-0a8c-f78c-5c9ba6dac01f
* Version Independent ID: 91f0f246-e6c5-c2e2-1569-7f27afb28c04
* Content: [Set-CsTeamsAppSetupPolicy (SkypeForBusiness)](https://docs.microsoft.com/en-us/powershell/module/skype/set-csteamsappsetuppolicy?

[2020-10-23 10:20] jasonwbaxter opened #6736 "Does the Bulk CSV method work for SharePoint Library / Folder Migrations"
Hi Team ,

I'm working on a powershell script to help migrate folders and sub folders out of a library into various sites etc.

The structure looks something like this
Library
-----Folder
------Sub_Folder
-------Sub_Sub_Folder
-------Sub_Sub_Folder
-------Sub_Sub_Folder
-------Sub_Sub_Folder
-------Sub_Sub_Folder

Folder is a categorical division such as  Records.
Sub_folder is a customer code / N

[2020-10-23 10:27] jasonwbaxter commented on #3681
There was a useful tip which helped me overcome this issue is to copy the Windows Powershell Folder into OneDrive--> My documents , Think that this should be a sticky post.

[2020-10-23 11:50] get-itips commented on #6648
Hello @sprider Joseph, how are you? I am afraid I do not have that information. In any case, you could propose here https://sharepoint.uservoice.com/ to reach the product team. Have a great day.

[2020-10-23 12:13] bsj17 commented on #5008
I can confirm described method in [article](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-authenticate-service-principal-powershell#create-service-principal-with-self-signed-certificate) works.
However if you try to connect to SfB online this fails:

New-CsOnlineSession : Connecting to remote server api.interfaces.records.teams.microsoft.com failed with the following
error

[2020-10-23 12:40] bsj17 opened #6737 "can't open new-csonlinesession when connected to Teams powershell via ApplicationID"
I can confirm described method in [article](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-authenticate-service-principal-powershell#create-service-principal-with-self-signed-certificate) works.
I can successfully connect  to Teams using certificate and appID, however if I try to connect to SfB online this fails:

New-CsOnlineSession : Connecting to remote server api.interfa

[2020-10-23 14:05] get-itips commented on #6722
Hello @darwincr thanks for reporting, I have checked and confirmed, will fix the example.
Thanks

[2020-10-23 14:22] get-itips commented on #6723
Hello @VjNi007
Get-TeamChannelUser is available in the Public Preview version of the Microsoft Teams PowerShell module, you might be using the General Availability version.
More information here
https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-overview
https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes

[2020-10-23 14:59] dariomws commented on #6632
Hi @jebalert, thank you for your feedback and help us to improve docs.microsoft.com.

Could you kindly confirm that article you are referring to? Thanks!

[2020-10-23 15:21] get-itips commented on #6724
Thanks for reporting @hwkwicre

[2020-10-23 15:32] get-itips commented on #6725
Hello @hwkwicre how are you?
You are right, the location of this cmdlet should not be in sharepoint-online folder, however, this has been reported in the past and it was decided by the team, not to move the article so the history won't be lost.
Will check the links that you report.
Thanks!

[2020-10-23 15:43] get-itips commented on #6726
Hello @iyadzikra
How are you? Hope you are doing good.
Here we are limited to documentation issues and changes, if you need support, I recommend opening a support ticket directly from your tenant.
Thank you

[2020-10-23 15:49] dariomws commented on #6680
Hi @JonesMikael, thank you for your feedback.

In the same way as FloorLabel, it's an additional description. As we can see in the synopsis, we use this cmdlet to add additional metadata, which provides a better search and room suggestion experience.
Using the example 2, you can use the label to search for the room used for interviews.

[2020-10-23 15:54] dariomws commented on #6681
Hi @npherson, thank you for your feedback.

It's a well-known issue, but it still was not fixed. I'll send you feedback to have more votes. Thanks!

[2020-10-23 15:55] get-itips commented on #6702
Hello @pramodghuge
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

[2020-10-23 15:55] get-itips commented on #6701
Hello @pramodghuge
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

[2020-10-23 15:55] get-itips commented on #6707
Hello @thiagottss
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

[2020-10-23 15:56] get-itips commented on #6710
Hello @LuckyJC
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

Th

[2020-10-23 15:57] get-itips commented on #6721
Hello @marcjornet
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

[2020-10-23 15:57] npherson commented on #6681
:-) Thanks, Dario!

[2020-10-23 15:59] dariomws commented on #6688
Hi @machielvisser, thank you for your feedback and help us to improve docs.microsoft.com.

This parameter was added 3 days ago. Thanks again, for taking out some time to open the issue. I appreciate and encourage you to do the same in the future also.

[2020-10-23 16:15] dariomws commented on #6689
Hi @uz-it, thank you for your feedback and help us to improve docs.microsoft.com.

I think the description of Identity in both articles is fine. What you are trying to do depends on the Input and Output of each cmdlet:
![image](https://user-images.githubusercontent.com/33589238/97027791-a3c35380-1531-11eb-8cc3-f0cb8e19ca1d.png)
As you can see here, the output of Get-MigrationBatch is not compatibl

[2020-10-23 16:26] tseward commented on #6681
_Product_ feedback will be closed, yes. The feedback button is designed to provide feedback on the document (i.e. incorrect information, missing information, out-of-date information, typos...).

[2020-10-23 17:06] chrisda commented on #6733
@CarolWangMS, OK. Fixed. In the future, you too can make simple fixes like this yourself without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2020-10-23 17:06] #6733 closed

[2020-10-23 17:40] mrskaria commented on #5139
I updated to the "current" version of the Teams module, however it still does NOT have the Get-TeamChannelUser included:

![image](https://user-images.githubusercontent.com/73359006/97036123-5812a900-1535-11eb-8b98-c7fe5fc1453d.png)

[2020-10-23 17:48] get-itips commented on #5139
hello @mrskaria you have to be running 1.1.5-preview to have Add-TeamChannelUser
More information https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-install
https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes

[2020-10-23 17:49] nikki-c opened #6742 "Description of -ChannelsInChatListEnabledType is not clear"
The description of -ChannelsInChatListEnabledType is:
Possible values are: DisabledUserOverride,EnabledUserOverride.

The description does not state what this parameter does. I am assuming it related to the Teams Admin setting of **On mobile devices, display favorite channels above recent chats**

Can this post be made clearer

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-10-23 17:53] dariomws commented on #6700
Hi @haneef95, thank you for your feedback and help us to improve docs.microsoft.com.

This parameter was added 3 days ago to the article. Thanks again, for taking out some time to open the issue. I appreciate and encourage you to do the same in the future also.

[2020-10-23 17:56] dariomws commented on #6716
Hi @GalRabin, thank you for your feedback.

You can find more information about how to run unattended Scripts in Exchange Online PowerShell V2 in the following articles:
https://techcommunity.microsoft.com/t5/exchange-team-blog/modern-auth-and-unattended-scripts-in-exchange-online-powershell/ba-p/1497387
https://docs.microsoft.com/powershell/exchange/app-only-auth-powershell-v2

[2020-10-23 17:57] dariomws commented on #6661
Hello @junecastillote, how are you? For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products.

Thank you!

[2020-10-23 18:06] dariomws commented on #6699
Hi @clemenda, thank you for your feedback.

I think you are running this cmdlet in the SharePoint PnP PowerShell module, and you are trying to send an e-mail via Office 365.

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues here, in that repository, where a member of the PnP community will be able to correct the article wit

[2020-10-23 18:07] nikki-c opened #6743 "The description of -ChannelsInChatListEnabledType is: unclear"
The description of -ChannelsInChatListEnabledType is:
Possible values are: DisabledUserOverride,EnabledUserOverride.

The description does not state what this parameter does. I am assuming it related to the Teams Admin setting of **On mobile devices, display favorite channels above recent chats**

Can this post be made clearer

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-10-23 18:08] nikki-c opened #6744 "No mention of the 'suggested reply' in CsTeamsMessagingPolicy cmdlet"
No mention of the   'suggested reply' in CsTeamsMessagingPolicy cmdlet.
You can configure this is the Teams Admin Centre under the messaging policies.

Where is the value set in PowerShell? Is in CsTeamsMessagingPolicy cmdlet. or somewhere else
--

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd54bec8-d576-260c-7578-9

[2020-10-23 18:28] #6700 closed

[2020-10-23 19:21] mrskaria commented on #5139
Thank you for  your quick response.  I have tried to add that version to my powershell, but it does not like it.
![image](https://user-images.githubusercontent.com/73359006/97045260-72538380-1543-11eb-969d-e3b1ccd802a4.png)

[2020-10-23 19:23] get-itips commented on #5139
@mrskaria please try using " " double quotes while specifying the version.

[2020-10-23 19:30] mrskaria commented on #5139
It still does not like the -RequireVersion parameter
![image](https://user-images.githubusercontent.com/73359006/97045891-91064a00-1544-11eb-950f-334d8644d7d6.png)

[2020-10-23 19:54] get-itips commented on #5139
@mrskaria Did you update PowerShellGet as the article I referenced says?

[2020-10-23 20:39] mrskaria commented on #5139
It allowed me to run the module install specifying the older version, however after disconnecting and reconnecting, it still still shows I am running v1.1.6.  Ugh!

[2020-10-23 22:15] get-itips commented on #5139
Michelle, as the documentation says, you can only run one version of the module, so if you need to test the Preview version you would need to uninstall the 1.1.6 first.

Hope this gets you in the right direction.

[2020-10-23 22:18] #6699 closed

[2020-10-23 22:18] clemenda commented on #6699
Will do, thanks @dariomws

[2020-10-25 22:30] damianscoles opened #6746 "Example is incorrect."
The example provided has the cmdlet **Get-MailFlowStatusReport** instead of the actual cmdlet of the page which is **Get-CompromisedUserAggregateReport**.  Can the example be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fd3cd86-e196-cb9f-49aa-fd3b15e75124
* Version Independent ID: 3b92e320-708c-d1f5-a738-17

[2020-10-26 01:56] hwkwicre opened #6747 "Description"
Maybe add some more description to -Identity and -License?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14f49371-fcc8-cf75-345e-f1c9e2f24e00
* Version Independent ID: c667fb76-3741-a9b6-e7b2-d587b75e9747
* Content: [New-SPOSdnProvider (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/powershell/module/sh

[2020-10-26 12:11] yogkumgit commented on #6726
@get-itips Thank you very much for the contribution and sharing this explanation. @iyadzikra Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation update

[2020-10-26 12:11] #6726 closed

[2020-10-26 12:18] yogkumgit commented on #6701
@get-itips Thank you very much for the contribution and sharing this explanation. @pramodghuge Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-26 12:18] #6701 closed

[2020-10-26 12:19] yogkumgit commented on #6707
@get-itips Thank you very much for the contribution and sharing this explanation. @thiagottss Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-26 12:19] #6707 closed

[2020-10-26 12:21] yogkumgit commented on #6710
@get-itips Thank you very much for the contribution and sharing this explanation. @LuckyJC Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-26 12:21] #6710 closed

[2020-10-26 12:23] yogkumgit commented on #6721
@get-itips Thank you very much for the contribution and sharing this explanation. @marcjornet Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-26 12:23] #6721 closed

[2020-10-26 16:18] ioamnesia opened #6751 "Authentication using Access Tokens broken in version 1.1.6"
When trying to authenticate using the "-AadAccessToken -MsAccessToken -AccountId" it fails with this error:
Object reference not set to an instance of an object.

Reverting to v1.1.4 allows the authentication to work fine.

[2020-10-27 03:07] hwkwicre opened #6754 "Question regarding an example"
"in the form, https://server_name or https://server_name/sites/sitename"
That sounds like something from SharePoint Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4661450e-0e7f-619b-e820-0ba6acce4575
* Version Independent ID: 30fad058-46e5-acb0-bb9f-1d87d6f349d5
* Content: [Get-SPOSiteUserInvitations (SharePoin

[2020-10-27 13:19] jasonwbaxter commented on #6736
Here is a sample of the CSV i am using.

[code]

[2020-10-27 13:31] #6691 closed

[2020-10-27 13:34] yogkumgit commented on #6693
@get-itips Thank you very much for the contribution and sharing this explanation. @ACarlockAKA Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-27 13:34] #6693 closed

[2020-10-27 13:36] yogkumgit commented on #6712
@get-itips Thank you very much for the contribution and sharing this explanation. @satishkr9506 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-27 13:36] #6712 closed

[2020-10-27 13:41] yogkumgit commented on #6723
@get-itips Thank you very much for the contribution and sharing this explanation. @VjNi007 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-27 13:41] #6723 closed

[2020-10-27 13:47] yogkumgit commented on #6661
@dariomws  Thank you very much for the contribution and sharing this explanation. @junecastillote Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation up

[2020-10-27 13:47] #6661 closed

[2020-10-27 13:49] yogkumgit commented on #6680
@dariomws Thank you very much for the contribution and sharing this explanation. @JonesMikael Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-27 13:49] #6680 closed

[2020-10-27 13:51] yogkumgit commented on #6681
@dariomws Thank you very much for the contribution and sharing this explanation. @npherson We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-27 13:51] #6681 closed

[2020-10-27 13:52] yogkumgit commented on #6688
@dariomws Thank you very much for the contribution and sharing this explanation. @machielvisser Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-27 13:52] #6688 closed

[2020-10-27 13:54] yogkumgit commented on #6689
@dariomws Thank you very much for the contribution and sharing this explanation. @uz-it Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-27 13:54] #6689 closed

[2020-10-27 13:56] yogkumgit commented on #6716
@dariomws Thank you very much for the contribution and sharing this explanation. @GalRabin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-27 16:07] #6718 closed

[2020-10-27 16:15] #6722 closed

[2020-10-28 07:15] GalRabin commented on #6716
@yogkumgit @dariomws
Hi,
Thanks for the update but you didn't answer about `Security & Compliance Center PowerShell `. Is there any way to use unattended scripts?

[2020-10-28 12:31] dariomws commented on #6716
Hi @GalRabin, the product team answered this question in the following link:
https://techcommunity.microsoft.com/t5/exchange-team-blog/modern-auth-and-unattended-scripts-in-exchange-online-powershell/ba-p/1497387

'Jimmy Brothers
‎08-04-2020 08:52 AM
Will this authentication also work with Security & Compliance PowerShell?'

'Rob Whaley (EXCHANGE) Microsoft
‎08-10-2020 08:13 PM
@Jimmy Brothers Cur

[2020-10-28 15:50] fernandoferrini opened #6757 "Certificate parameter pointing to Azure Key Vault certificate"
Dear,

Could you please confirm that, according to example 3 - Connect using a certificate object:

Connect-ExchangeOnline -Certificate <%X509Certificate2 Object%> -AppID "36ee4c6c-0812-40a2-b820-b22ebd02bce3" -Organization "contosoelectronics.onmicrosoft.com"

...it is possible to point to a certificate object stored in Azure Key Vault using EXOV2? And what is the exact property of the object to

[2020-10-28 16:57] mramnet opened #6759 "AllowPlusAddressInRecipients"
I'm pretty sure it was meant to say "ExampleTag" instead of "Exmapletag" in the -AllowPlusAddressInRecipients section...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23add0a6-bb9c-15d2-a6eb-351ae0564522
* Version Independent ID: 8056b3ee-4fab-3a5c-935b-a9d0e9ad82a4
* Content: [Set-OrganizationConfig (ExchangePowerShe

[2020-10-28 17:48] webash opened #6760 "Get-ExoRecipient -Properties * -- documentation suggests this is possible, but function fails"
![image](https://user-images.githubusercontent.com/6205899/97475829-a238c780-1945-11eb-85ac-17a7d1f629a4.png)

For the "-Properties" parameter, the documentation states `Wildcards ( * ) are supported.`, but when attempting to use this, the following occurs:
![image](https://user-images.githubusercontent.com/6205899/97475906-b7adf180-1945-11eb-967a-d55043a46463.png)

It looks like this parameter do