[2021-05-26 15:20] iloving opened #7832 "Related Link "Microsoft 365 Patterns and Practices" goes nowhere useful"
The link https://aka.ms/m365pnp)[Encoding](https://msdn.microsoft.com/en-us/library/system.text.encoding_properties.aspx under related links just goes to bing.  It's not helpful at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 590bb63e-47cf-a68f-f96a-22aaf13518b1
* Version Independent ID: cfc8a2f2-5f9c-e68d-8b6f-

[2021-05-26 19:43] DEberhardt commented on #7788
Hello,
this isn't about SharedVoicemail, but about forwarding a call to a Users' Voicemail. This was an option earlier and is now suspiciously absent...

[2021-05-26 21:48] #7758 closed

[2021-05-27 00:07] #7768 closed

[2021-05-27 00:13] get-itips commented on #7788
I am sorry David I am afraid I did not get to use it in the past, have you ever get it working to forward to a single user's voicemail? I suspect this was always intended to a group voicemail (more info https://docs.microsoft.com/en-us/microsoftteams/create-a-phone-system-call-queue)

[2021-05-27 06:28] FrostDK01 opened #7837 "A little bit advice"
[**If the filter contains system values (for example, $true, $false, or $null), use single quotation marks ' ' instead.**]
Things like _'(CustomAttribute12 -eq $cat) -and (alias -ne $null)'_ or _'(CustomAttribute12 -eq '$cat') -and (alias -ne $null)'_ can not work properly.

It could be better if the usage of escape characters can be added to the article:
_"(CustomAttribute12 -eq 'cat') -and (alia

[2021-05-27 07:28] Petri-X opened #7838 "Missing parameter: -GenerateRingingWhileLocatingUser"
Hi,

On the PS we are able to set:
Set-CsOnlinePSTNGateway -GenerateRingingWhileLocatingUser
But on the documentation this is not clarified at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a99ede2-bbc2-c56d-6fb0-33db74417f54
* Version Independent ID: cf4bfc0e-fd8d-d5ca-5432-798af72a8885
* Content: [Set-CsOnlineP

[2021-05-27 11:44] jbostoen opened #7839 "Clarify action intended to clean up user mailboxes"
"A maximum of 10 items per mailbox can be removed at one time. Because the capability to search for and remove messages is intended to be an incident-response tool, this limit helps ensure that messages are quickly removed from mailboxes. This action isn't intended to clean up user mailboxes."

Perhaps it's worth mentioning what action IS intended nowadays?

---
#### Document Details

⚠ *Do not ed

[2021-05-27 13:48] jeanzy1 opened #7840 "Request for additional options to cmdlet, Remove-CalendarEvents"
For decades as an Exchange/O365 administrator I am asked to cancel a reoccurring meeting from a separated user's calendar or someone on LOA,  I would love to have the option to select by QueryMeetingType, reoccurring, and an option, by QuerySubject and just cancel that one meeting.  That way the rest of the calendar is left intact for either Legal hold or when a user returns from LOA.  Admins woul

[2021-05-27 16:19] #7786 closed

[2021-05-27 16:22] chrisda commented on #7837
@FrostDK01, I agree that the sentence by itself is confusing and/or incorrect. But it's correct in context:

Also note the last bullet in the description:

I went around and around with this and did some heavy testing and rewriting ~ a year ago. 40 cmdlets contain the Filter parameter, and they all use this same description

[2021-05-27 16:57] chrisda commented on #7839
@jbostoen, you best option is to open a support case and ask that question.

If you're handy with PowerShell, you create a script that loops through the mailbox 10 items at a time searching for the items that you want to remove and removing them until they're all gone.

[2021-05-27 17:01] chrisda commented on #7837
I was having difficulty finding the previous issue, but this is it: <https://github.com/MicrosoftDocs/office-docs-powershell/issues/4206>

[2021-05-27 17:28] chrisda commented on #7840
@jeanzy1, your best course of action is to open a support case and ask the same question.

[2021-05-27 17:54] jmcarthurcorr commented on #7813
I am getting this same error in PowerShell 5.1, using the Get-CSOnlineUser cmdlet from both normal and admin PS shells on Win10.

[2021-05-27 18:05] jmcarthurcorr opened #7842 "MicrosoftTeams Powershell 2.3.1 errors using Connect-MicrosoftTeams to create session"
Since the cutover to using the new connection method, the Teams cmdlets have been unreliable. The past two days I can't connect at all and I'm getting the following errors on an up-to-date Win10 machine running PS version 5.1.19041.906, and MicrosoftTeams version 2.3.1.

[code]

[2021-05-27 18:05] jmcarthurcorr commented on #7842
Reinstalling the module has fixed this for now, but as mentioned, some days the module works and others it does not.

[2021-05-27 19:25] DEberhardt commented on #7813
Hello,
yes, I had the same issue, but that was on v1.1.6 (or v1.1.10-preview) of the Module MicrosoftTeams.
I have no issues on v2.3.1 as the session is created with `Connect-MicrosoftTeams`.

If you haven't updated to v2.3.1 please do so :)

[2021-05-27 19:27] DEberhardt commented on #7788
It was possible in the past, hence me asking whether the functionality was removed?

[2021-05-27 20:13] jmcarthurcorr commented on #7813
I opened #7842 as I do have these issues on v2.3.1

[2021-05-27 20:15] get-itips commented on #7788
I understand @DEberhardt will try to confirm and opening a ticket is also a good idea.

[2021-05-27 21:10] #7789 closed

[2021-05-28 00:09] poundy opened #7844 "query for finding mailboxes using a policy is wrong"
The example to retrieve mailboxes using a policy is incorrect. It requires a DN. The simplest query that I use is:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9be59747-da94-86da-ed22-d3c7069b1ea6
* Version Independent ID: 9f3d2cd4-c865-cdab-42e4-ab6c0cd763b8
* Content: [Remove-AddressBookPolicy (ExchangePowe

[2021-05-28 01:26] chrisda commented on #7844
@poundy, confirmed. I updated the topic with your example.

Thanks for the feedback.

Closing

[2021-05-28 01:26] #7844 closed

[2021-05-28 02:03] chrisda commented on #7801
@Skatterbrainz, I think the intent of the Identity values in the example is to use the Alias value, which should be unique in the organization. But, most Alias value are not as friendly (chrisda, billg, etc.).

I updated the examples to use 'tony@contoso.com', which as the email address should also be unique. Distinguished Name (or GUID) are the big guns, but are a bit unwieldly.

Thanks for the f

[2021-05-28 02:03] #7801 closed

[2021-05-28 08:00] bijaykush commented on #7813
@DEberhardt
I am using the latest MS Teams module i.e. 2.3.1

Every things works perfectly when I run the code locally on VS 2019 with Disconnect-MicrososftTeams but it does not work when deployed in Azure App Service.
Seems like previous session of MS Teams is still not closed when sending next request for second tenant. And if I hit the request for first tenant, it works again.
Cross domain is n

[2021-05-28 10:40] lebosch opened #7846 "Inconsistency on WhoCanRegister parameter"
The description of the WhoCanRegister parameter explains that EveryoneInCompany is the default value, but the table below shows Everyone as default value. I think this also should be EveryoneInCompany.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919bf080-1e20-1411-0d9e-41f559b883d8
* Version Independent ID: 6a37be44

[2021-05-28 13:54] joergrenn opened #7847 "Delegates and meeting requests"
Hello,

the Add-MailboxFolderPermission cmdlet has the parameter "SharingPermissionFlags".
When using the outlook client to assign a delegate, after assigning the persmissions and checking the "Delegate recieves..." checkbox I have three more options:
<img width="433" alt="image" src="https://user-images.githubusercontent.com/62641471/119994112-93de8700-bfcc-11eb-84df-0185fde8d152.png">
Which of t

[2021-05-28 16:42] chrisda commented on #7847
@joergrenn, I did some investigation about this a long time ago (Outlook 2010 days), and I determined that you can't set those options in PowerShell (the last bullet). Luckily, I saved my findings:

- The delegate permissions can be duplicated using the Add-MailboxFolderPermission and the -AccessRights parameter. The values **Editor**, **Reviewer** and **Author** are available just like Outlook.

[2021-05-28 20:55] YuriySamorodov opened #7852 "Get-MessageTraceDetail We cannot currently process your request, please wait a few minutes and try again"
Pretty sure this is a wrong place to report, but still... Perhaps someone will be able to help me understand how to overcome this issue.
Long story short: I am having a really hard times while exporting message trace from Office365. Basically speaking I am trying to export 24 hours worth of data and it errors out after 17 minutes 30 seconds. I have double checked that and it seems like it errors o

[2021-05-29 13:25] DEberhardt commented on #7813
Interesting.
I have not encountered an issue for this yet on 2.3.1.

Then again, I am using the Windows Terminal and open a new session for each Tenant I need to connect to - keeps it clean and separated as the session can now stay open for longer than an hour (thankfully :D)

I may be able to test this next week somewhen, but the volatility with the session is worrying...

[2021-05-29 13:39] DEberhardt opened #7854 "Reverse engineering Team & Channel from ChannelId"
Hello,

Get-CsCallQueue returns an Object including the ChannelId of a TeamsChannel.
How would one be able to query which Team this channel is in, with only the Channel Id?

I humbly submit `Get-TeamAndChannel` (https://github.com/DEberhardt/TeamsFunctions/blob/main/Private/Functions/Get-TeamAndChannel.ps1) but was wondering whether there _is_ an easier way :)

Thanks,
David

---
#### Document Det

[2021-05-31 09:54] joergrenn commented on #7847
@chrisda Thanks for the information.
I also did some research and apparently you can set these values via EWS:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.exchange.webservices.data.meetingrequestsdeliveryscope?view=exchange-ews-api
I also read somewhere that it is not possible to use the Add-MailboxFolderPermission command for this, because it is a setting that applies for all delegates

[2021-05-31 11:39] inseu opened #7855 "Get-CsTeamsMeetingPolicy errors"
Hello,
I am trying to run this Get-CsTeamsMeetingPolicy cmdlet in the organization environment with proxy settings.

No errors when run this:
Connect-MicrosoftTeams
The service account has MFA enabled.

For some reason I get this message:
Get-CsOnlineSession : Connecting to remote server api.interfaces.records.teams.microsoft.com failed with the following error message : The client cannot connect

[2021-05-31 12:59] inseu commented on #7855
I followed this documentation:
https://docs.microsoft.com/en-US/microsoftteams/teams-powershell-move-from-sfbo
Also checked WinRM settings running winrm get winrm/config/client/auth
I have enabled Basic authentication

[2021-06-01 16:31] chrisda commented on #7847
@joergrenn, OK. Done.

Thanks for the feedback.

Closing

[2021-06-01 16:31] #7847 closed

[2021-06-01 21:52] VikasSukhija opened #7859 "Prefix is not adding prefix to all the cmdlets/functions"
Import-Module MicrosoftTeams -Prefix SOL
Prefix only prefixes the teams command, all the cs functions are not prefixed when importing the module.

Name              : Microsoft.TeamsCmdlets.PowerShell.Custom
Path              : C:\Program Files\WindowsPowerShell\Modules\MicrosoftTeams\2.3.1\net472\Microsoft.TeamsCmdlets.PowerShell.Custom.dll
Description       :
ModuleType        : Binary
Version

[2021-06-02 03:07] mattatbeca opened #7861 "Any ETA on this feature?"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d1137a7-ac97-928e-2261-962f80a1bb7c
* Version Independent ID: 8a3d9cf2-eaad-77a2-183e-c72bf69f555f
* Content: [Add-SPOHubToHubAssociation (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/add-spohubtohubassociation?view=shar

[2021-06-02 05:35] pyoungberg commented on #7798
@get-itips You're correct. Posts from the root site get tagged as indicated, but posts from its subsites don't, even when you run this command against each.

[2021-06-02 11:37] get-itips commented on #7798
Hello @pyoungberg Paul, I could guess that those tags are added to root sites only, what do you think @tseward ?

[2021-06-02 17:46] tseward commented on #7798
Correct this only works on root webs.

[2021-06-02 21:26] djryanj opened #7866 "Documentation for 2.3.2-preview Connect-MicrosoftTeams with -AccessTokens feature is inadequate"
The current documentation around how to implement the new -AccessTokens feature is inadequate. Currently, it reads this:

[code]

Getting the tokens referenced is non-trivial. A complete working example to do just that would be ideal, but also acceptable would be pointers to the correct set of cmdlets or flows needed to complete actually getting the tokens with the correct scopes.

[2021-06-03 12:59] nilsvbconxion opened #7870 "Missing "Outputs" paragraph defined in docs, although a Group-object is returned"
Missing "Outputs" paragraph defined in docs, although a Group-object is returned

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff78b7f4-0927-27d0-0b1d-5bd00bb93d26
* Version Independent ID: 321cb4f2-43a1-1732-e429-3432af07a511
* Content: [New-PnPMicrosoft365Group (PnP.Powershell)](https://docs.microsoft.com/en-us/powe

[2021-06-03 13:08] DEberhardt opened #7871 "Parameters missing: OboResourceAccountIds, ChannelId, ChannelUserObjectId"
Hello,

Set-CsCallQueue is missing all three
New-CsCallQueue is missing `OboResourceAccountIds` (and some detail on the other two :))

PR in a sec to amend

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86ade68d-5dc0-c598-a659-8b018cef3e26
* Version Independent ID: 67efa086-edb0-2828-cc14-4c245290e4f3
* Content: [Set-C

[2021-06-03 13:32] DEberhardt commented on #7871
https://github.com/MicrosoftDocs/office-docs-powershell/pull/7872
and
https://github.com/MicrosoftDocs/office-docs-powershell/pull/7873

Description for `ChannelId` is short and sweet.
Description for `ChannelUserObjectId` does not tell me what it is exactly used for.
Description for `OboResourceAccountIds` was taken from Admin Center.

Please amend as needed.

Cheers,
David

PS: I should really d

[2021-06-03 14:05] valpvt commented on #7813
Hello there,
Same issue with `Grant-CsTeamsVideoInteropServicePolicy -PolicyName BlueJeansServiceProviderEnabled -Identity $user.UserPrincipalName`
I tried with MFA-enabled and non-MFA admin accounts without success.
`Get-CsUserPolicyAssignment -Identity $user.UserPrincipalName` works though... I don't get it

[2021-06-03 14:59] DEberhardt commented on #7871
Question: the resource Accounts used for OboResourceAccountIds will have some requirements. Where would be a good place to outline these?
I assume the following:
- Resource Account is Licensed (to apply phone Number)
- Resource Account has a Phone Number assigned
- Resource Account has an Online Voice Routing Policy (or Calling Plan License) assigned for outbound calling?

I do not know about the

[2021-06-03 15:20] Ofer-Gal opened #7874 "Move-PnPFile does not move over a person field value and a taxonomy field value"
I use:
`Move-PnPFile -SourceUrl "DPCDocuments/01-RFP Completion Checklist_505486.docx" -TargetUrl "OldDPCDocuments/01-RFP Completion Checklist_505486.docx" -Overwrite -Connection $siteConn -Force`
in a script, It works well with text fields and the system fields but one person field value and one taxonomy field value do not move over.
The source and target have the same content type.
After a while

[2021-06-03 18:35] SeaGT opened #7875 "Needs MFA log-in example"
Why isn't there an example of how to log in using MFA credentials?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dce05-8bfd-0bfa-3753-0eb193852703
* Version Independent ID: 50e0366c-46b0-71da-b6f6-f422adaad785
* Content: [Connect-MicrosoftTeams (MicrosoftTeamsPowerShell)](https://docs.microsoft.com/en-us/powershell

[2021-06-04 07:32] cupntea opened #7876 "Get-ExternalInOutlook doesn't work in Shared Mailbox"
Hi!
After we enabled Get-ExternalInOutlook we noticed that only regular mailboxes display [External] tag, but Shared mailboxes don't have it.
Is it a bug or a feature?

[2021-06-04 10:10] yogkumgit commented on #7798
@get-itips Thank you very much for the contribution and sharing this explanation. @pyoungberg as experts advised we proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2021-06-04 10:10] #7798 closed

[2021-06-04 10:16] yogkumgit commented on #7788
@get-itips Thank you very much for the contribution and sharing this explanation. @DEberhardt Hope this comment is helpful for you. As advised please open a support ticket. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-04 10:16] #7788 closed

[2021-06-04 10:19] yogkumgit commented on #7763
@get-itips Thank you very much for the contribution and sharing this explanation. @VelinGeorgiev Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-04 10:19] #7763 closed

[2021-06-04 12:15] VelinGeorgiev commented on #7767
Anyone?

[2021-06-04 13:13] get-itips commented on #7389
Hello everyone on this thread.
I have been further testing this.
It seems that currently, only users (also guests users) and telephone numbers can be set as TransferTargets. Will propose an edit to the article and we'll see if it gets approval.

[2021-06-04 13:20] get-itips commented on #7491
@yogkumgit please close this thread as it is not documentation specific and I already passed this feedback along.

[2021-06-04 13:47] shivtorov commented on #7389
In GUI, we definitely can specify call queue's resource account.

![image](https://user-images.githubusercontent.com/31003608/120810977-de44a280-c58e-11eb-8420-d6c7ec9ee9d7.png)

in PS, the configured destination looks like this:

![image](https://user-images.githubusercontent.com/31003608/120811273-22d03e00-c58f-11eb-9c06-7c0e872b0189.png)

[2021-06-04 13:49] get-itips commented on #7389
Thanks @shivtorov CQs did not appear in my tenant in the GUI, will review

[2021-06-04 13:54] shivtorov commented on #7389
no, we can't specify **CQ** as target for anything. we specify target = **Resource Account** of CQ.
Resource accounts are the objects that returned by running Get-CsonlineapplicatoinInstace

![image](https://user-images.githubusercontent.com/31003608/120812291-30d28e80-c590-11eb-9880-61707f7ab3f1.png)

[2021-06-04 14:15] get-itips commented on #7389
Yes sorry, I meant the resource account, but it appears in the gui now, thanks.
What is clear is that, if I specify the id of the resource account, it is recognized by the cmdlet, as it returns in the error the applicationid associated but it says it is not currently supported (at least using PS)

[2021-06-04 14:29] get-itips commented on #7767
Hello @VelinGeorgiev Velin, how are you?
Please see this note that is included in the cmdlet's article

Thanks

[2021-06-04 14:30] get-itips commented on #7773
Hello @harshdamaniahd how did you connect to Teams PowerShell?

[2021-06-05 08:05] VelinGeorgiev commented on #7767
Thanks for your answer Andreas @get-itips !

Imagine I have ten tenants with 200 app setup policies I want to change. It makes absolutely no sense for me to go and change each one them manually. In fact it will take forever for me to do it by hand clicking on fancy UI screens.

Having cmdlet for completeness that does not fully work is worst than having nothing since people like me will attempt to

[2021-06-05 19:55] vasgupta opened #7894 "Set-CsExternalAccessPolicy cannot be found"
[The command Set-CsExternalAccessPolicy cannot be found in powershell even though I have installed the module Microsoft Teams and it is clearly a function of that module.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fe1d21-20a0-9b8e-f08c-caf788005f9b
* Version Independent ID: 486050c0-de7f-31d4-f09e-78324336eb26
*

[2021-06-05 23:00] DEberhardt commented on #7813
The issue is around the Session created in the background to the Teams API.
CmdLets using the old SkypeOnline interface will require a PsSession to be created (after using a command you can run `Get-PsSession` to see it has been created for you).
We seem to be tapping in a bug here with this session. I have written [`Assert-MicrosoftTeamsConnection`](https://github.com/DEberhardt/TeamsFunctions/bl

[2021-06-07 09:24] baldieavenger opened #7895 "Unable to Connect-ExchangeOnline 2.0.5 using VSCode"
Hi,
When updating to the latest ExchangeOnlineManagement module, i'm unable to get the pop out to sign in. This works fine with 2.0.3 and in ISE / PowerShell.
Running 5.1 Powershell, 1.56.2 (system setup) Code.
Attached Diagnostic logs when both versions for comparison and a screenshot of the creds pop up Im expecting.
Thanks!
John

[CodeLogs20210604.zip](https://github.com/MicrosoftDocs/office-do

[2021-06-07 09:30] elpamyelhsa opened #7896 "Get-CsCallQueue Statistics value always 0"
The Get-CsCallQueue has a property named "Statistics" that returns a "Current queue size" value. As of a few weeks ago this value is now only returning 0 even when this queue is not empty.

`echo (Get-CsCallQueue -name "NodeOne Support").Statistics.StatValue `
Attached is a full output showing the incorrect line:
`Statistics : Current queue size = 0`

Is this a problem that can be fixed, or is the

[2021-06-07 09:58] elpamyelhsa opened #7897 "2.3.2preview Get-Cs commands do not work using AccessTokens login."
Being able to use software to automate a login is important for scripting and automation. As of MicrosoftTeams-2.3.2preview the login has been updated to use AccessTokens. But once connected using AccessTokens no CS commands can be executed.

Using Microsoft Teams 2.3.2preview Powershell

Connecting with AccessTokens will connect, but requesting the Get-CsCallQueue will show an error:
[code]

Usin

[2021-06-07 10:47] elpamyelhsa commented on #7866
When requesting a scope you need the following:
teamstoken uses scope "48ac35b8-9aa8-4d74-927d-1f4a14a0b239/.default"
graphtoken uses scope "https://graph.microsoft.com/.default"

Also, you will need to use the Azure Portal to make an "App Registration", Goto "API permissions":

[code]
Then "Certificates & secrets", "Client secrets" and save the secret.

Hope this helps.

[2021-06-07 13:31] get-itips commented on #7813
Hello @bijaykush how are you? Hope you are doing good.
Here, we are limited to documentation issues, for your inquiry the best would be to open a support ticket directly from your tenant.
Similar issues had already been reported, please see [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7713#issuecomment-840566884) and [here](https://github.com/MicrosoftDocs/office-docs-powe

[2021-06-07 13:36] get-itips commented on #7824
Hello @mark3grahams how are you? Hope you are doing good.
This has been already reported in the past, please see [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7464#issuecomment-811248583)
Hope this information helps you,

[2021-06-07 13:41] get-itips commented on #7825
Hello @DaveFSP how are you?
Here, we are limited to documentation fixes, is there any article you see needs a fix? can you link it here?
Thank you

[2021-06-07 13:44] get-itips commented on #7838
Hello @Petri-X how are you? please see [here](https://github.com/MicrosoftDocs/office-docs-powershell/pull/7729)
The parameter is not present in `2.3.1`

[2021-06-07 13:47] get-itips commented on #7842
Hello @jmcarthurcorr Jared, how are you? hope you are doing great.
Here, we are limited to documentation fixes, if you experience issues as you described, the best would be to open a support ticket directly from your tenant.
Hope this information helps you.

[2021-06-07 13:57] get-itips commented on #7854
Hello @DEberhardt David, how are you?
Is there any article that you feel needs a fix? as here we are limited to documentation fixes.
Thanks for sharing your script, for others to see here looking for the same!
Thanks

[2021-06-07 13:58] #7491 closed

[2021-06-07 14:05] get-itips commented on #7855
Hello @inseu how are you?
I could not reproduce it to see if we have to fix the article. I could connect using `Connect-MicrosoftTeams` and an MFA account.
Make sure to only use one version of the Teams Ps module. If the issue persists I would suggest to open a support ticket directly from your tenant.

Also please be aware that

https://docs.microsoft.com/en-US/microsoftteams/teams-powershell-mov

[2021-06-07 14:06] get-itips commented on #7859
Hello @VikasSukhija
This has already been reported, please see [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7579#issuecomment-822657676)
Thanks

[2021-06-07 14:14] VikasSukhija commented on #7859
The other issue is closed  and no resolution is there.
Many customers use this in their old scripts.

[2021-06-07 14:16] get-itips commented on #7859
Hello @VikasSukhija
The best in this situation is to open a support ticket, as here we are limited to documentation/articles fixes.

[2021-06-07 14:27] get-itips commented on #7866
Hello @djryanj how are you? Hope you are doing good.
`-AccessTokens` is part of 2.3.2-preview, the documentation reflects what is currently available in the GA version of the module.
I have no precision but `-AccessTokens` will be probably soon in GA and the corresponding article will be updated.
Thank you!

[2021-06-07 14:39] get-itips commented on #7875
Hello @SeaGT
The example 1 must be used if the account has MFA-enabled, see the current description

Hope this information helps you

[2021-06-07 15:00] jmcarthurcorr commented on #7813
I wish I had known about this module before I wrote my own tooling. Super userful @DEberhardt!

[2021-06-07 15:12] lebosch commented on #7846
Thanks for your response @get-itips . I notice that the page has been updated and shows the default value consistently. Although I don't think the information displayed is correct. I provisioned a new M365 tenant and noticed that the default setting is EveryoneInCompany. This seems to be the case on all tenants I checked.
![image](https://user-images.githubusercontent.com/84965045/121041932-7de27a

[2021-06-07 15:48] kshah1999 commented on #7813
@DEberhardt : Can you please provide some details on how you connect from scratch to PowerShell as you described as Current Workaround?

When I execute Get-PsSession, I get nothing and need to know how to create the session in this case to execute the script that was running before.

[2021-06-07 16:15] get-itips commented on #7866
Hello @djryanj
Thanks for returning and sharing more information.
The errors received when trying to invoke -Cs* cmdlets after connecting were already reported, and I passed the information to the team behind the module and they are aware. I also understand that, as you could identify, the method to connect using tokens will be improved/changed soon, so hopefully we will be able to update the arti

[2021-06-07 16:24] get-itips commented on #7846
Thanks for returning and sharing that information, I'll try to verify that. Thanks again

[2021-06-07 16:29] SeaGT commented on #7875
Hi Andres,

Thanks for the reply.  Have you tested that option using Powershell 7.x?  Powershell 7.x with MFA throws 2 errors.  Powershell 5 works great.    

Greg                                      

***@***.***   

Desk: 206.576.6012 | IT Support: 206.576.6013

From: Andres Mariano Gorzelany ***@***.***>
Sent: Monday, June 7, 2021 7:40 AM
To: ***@***.***
Cc: Greg Trapp ***@***.***>; ***@***.**

[2021-06-07 17:06] get-itips commented on #7875
Please see the warning note here https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-overview

[2021-06-07 17:55] SeaGT commented on #7875
LOL – that’s the warning I found after wasting 3 hrs trying to get it to work.  As I mentioned, put that warning on the page that recommends upgrading to Powershell 7….  Save people time.

Greg                                      

***@***.***   

Desk: 206.576.6012 | IT Support: 206.576.6013

From: Andres Mariano Gorzelany ***@***.***>
Sent: Monday, June 7, 2021 10:07 AM
To: ***@***.***
Cc: Greg

[2021-06-07 19:49] inseu commented on #7855
Thank you, @get-itips I am also able to use Connect-MicrosoftTeams without issues and with MFA account. The problem is when I use the skype online connection cmdlets like Get-CsTeamsMeetingPolicy or Get-CsUser. Does this work for you?
I opened a support ticket and waiting an answer but I think I am not the only one with this issue currently. See this article: https://office365itpros.com/2021/05/13

[2021-06-08 03:40] bijaykush commented on #7813
Thank you @DEberhardt for your suggestion. Does it mean that we need to restart the PowerShell and connect it from scratch programmatically when hosted in Azure App Service?
Because we are facing this issue only when hosted in Azure App service? Locally its working fine i.e. session is being refreshed easily.

[2021-06-08 03:41] bijaykush commented on #7813
Thank you @DEberhardt for your suggestion. Does it mean that we need to restart the PowerShell and connect it from scratch programmatically when hosted in Azure App Service?
Because we are facing this issue only when hosted in Azure App service? Locally its working fine i.e. session is being refreshed easily.

[2021-06-08 11:40] get-itips commented on #7855
Hello @inseu how are you?
It has been reported and the team behind the module is aware.

[2021-06-08 12:07] inseu commented on #7855
@get-itips Great! thank you. Looking forward to receiving your comments.

[2021-06-08 13:34] thewrabbit opened #7899 "Parameter -AllowUserToJoinExternalMeeting lacks explanation"
-AllowUserToJoinExternalMeeting
Possible values are:

Enabled
FederatedOnly
Disabled

No explanation of this setting is published.  As far as I'm aware this currently has no effect so the information should reflect this (testing at the time it appeared in PowerShell), or if it does now have an effect it should be explained.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-06-08 15:19] #7774 closed

[2021-06-09 14:44] tkmamedov opened #7905 "No download link"
There is no download as PDF link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c916371e-aef0-f91e-e04d-16110358a306
* Version Independent ID: bd073f8e-ba80-25ed-0fe4-286641e9f043
* Content: [Exchange Server PowerShell (Exchange Management Shell)](https://docs.microsoft.com/en-us/powershell/exchange/exchange-managemen

[2021-06-09 16:53] chrisda commented on #7905
@tkmamedov, are you saying that there used to be a Download as PDF link, but it went away?

[2021-06-09 17:29] chrisda commented on #7876
@cupntea, your best bet is to open a support case and ask there.

[2021-06-09 17:31] chrisda commented on #7852
@YuriySamorodov, you should open a support case and ask there.

[2021-06-09 18:01] sarollins opened #7906 "Errors executing Skype for Business cmdlets after connecting using a certificate"
We have a few clients who do not want to use basic authentication when connecting to Skype for Business.  Now that the MicrosoftTeams PowerShell module supports a certificate thumbprint as a parameter, we thought this would satisfy our clients needs.

I downloaded and installed version 2.3.1 of the MicrosoftTeams PowerShell module and I registered an application and uploaded a certificate as well

[2021-06-09 18:06] YuriySamorodov commented on #7852
Ah, sorry. Forgot to set this one as resolved.
It appears there was a Database problem on Microsoft side.

[2021-06-09 18:06] #7852 closed

[2021-06-09 19:41] DEberhardt commented on #7813
To elaborate, I am using a PowerShell window, ISE or the new Windows Terminal to create a session (`Connect-Me` if you fancy using TeamsFunctions :)) - I have to close the window to re-initialize the session when running into this issue.

That said, I have not had it myself since updating to MicrosoftTeams v2.3.1

It may also be influenced by the connection method. I myself always use the `-Accoun

[2021-06-09 21:59] DEberhardt commented on #7854
Well, there is no specific article about this that I could pinpoint to improve based on the above.
I could write a blog post to highlight the steps I have undertaken to get to which Team & Channel is used on Call Queues.

Just wanted confirmation whether there is, in fact, a documented way I did not (yet) find :)

[2021-06-09 22:20] get-itips commented on #7830
Hello @projectsbydan

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from

[2021-06-09 22:20] get-itips commented on #7832
Hello @iloving
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that re

[2021-06-09 22:21] get-itips commented on #7870
Hello @nilsvbconxion
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from t

[2021-06-09 22:21] get-itips commented on #7874
Hello @Ofer-Gal
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that r

[2021-06-09 22:26] get-itips commented on #7861
Hello @mattatbeca
How are you? Hope you are doing good.
The best in this case would be to monitor [365 roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=) for updates on the release of this feature, once it is released, the article will be updated.
Thank you

[2021-06-10 09:34] cupntea commented on #7876
@chrisda no offense, but knowing how exchange support are treating those request, it's unlikely I'll get a coherent response even after a month of emails exchange explaining what I actually need.

[2021-06-10 10:44] yogkumgit commented on #7813
@get-itips Thank you very much for the contribution and sharing this explanation. @bijaykush Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update i

[2021-06-10 10:45] #7813 closed

[2021-06-10 10:48] yogkumgit commented on #7824
@get-itips Thank you very much for the contribution and sharing this explanation. @mark3grahams Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-10 10:48] #7824 closed

[2021-06-10 10:52] yogkumgit commented on #7825
@get-itips Thank you very much for the contribution and sharing this explanation. @DaveFSP Considering the nature of the issue, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentat

[2021-06-10 10:52] #7825 closed

[2021-06-10 10:54] yogkumgit commented on #7830
@get-itips Thank you very much for the contribution and sharing this explanation. @projectsbydan Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-10 10:55] #7830 closed

[2021-06-10 10:56] yogkumgit commented on #7832
@get-itips Thank you very much for the contribution and sharing this explanation. @iloving Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-10 10:56] #7832 closed

[2021-06-10 10:58] yogkumgit commented on #7838
@get-itips Thank you very much for the contribution and sharing this explanation. @Petri-X Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-10 10:58] #7838 closed

[2021-06-10 11:00] yogkumgit commented on #7842
@get-itips Thank you very much for the contribution and sharing this explanation. @jmcarthurcorr Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation upda

[2021-06-10 11:00] #7842 closed

[2021-06-10 11:04] yogkumgit commented on #7854
@get-itips Thank you very much for the contribution and sharing this explanation. @DEberhardt  If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-10 11:05] #7854 closed

[2021-06-10 11:08] yogkumgit commented on #7855
@get-itips Thank you very much for the contribution and sharing this explanation. @inseu Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is re

[2021-06-10 11:08] #7855 closed

[2021-06-10 11:10] yogkumgit commented on #7859
@get-itips Thank you very much for the contribution and sharing this explanation. @VikasSukhija Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation updat

[2021-06-10 11:10] #7859 closed

[2021-06-10 11:12] yogkumgit commented on #7861
@get-itips Thank you very much for the contribution and sharing this explanation. @mattatbeca Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-10 11:14] yogkumgit commented on #7866
@get-itips Thank you very much for the contribution and sharing this explanation. @djryanj Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-10 11:15] #7866 closed

[2021-06-10 11:16] yogkumgit commented on #7870
@get-itips Thank you very much for the contribution and sharing this explanation. @nilsvbconxion Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-10 11:16] #7870 closed

[2021-06-10 11:22] #7874 closed

[2021-06-10 14:18] danielbrowne commented on #7464
I am experiencing the same problem. Using 2.3.2-preview I can connect and run newer commands such as Get-Team without a problem, but running the older commands such as Get-CsOnlineUser (which work correctly with basic auth) fail.

[code]

[2021-06-10 19:56] einue opened #7912 "Question about unsubscribing group members to calendar events"
How can I unsubscribe already existing group members from group calender events?

I guess that AlwaysSubscribeMembersToCalendarEvents works only for new members.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80326e44-6beb-8983-57ab-8333608c504b
* Version Independent ID: 8962c0dc-72a3-208a-33de-6a

[2021-06-10 20:49] DEberhardt commented on #7897
interesting. Don't know if this helps, but I know that the PsSession allowing the `-Cs...`-CmdLets to work needs to be created prior. This _usually_ happens stealthily in the background, but I am wondering whether this is where it fails for you here.

After running `Connect-MicrosoftTeams` and executing any Cs-CmdLet (I use `Get-CsPresencePolicy` for performance reasons - see [`Use-MicrosoftTeamsC

[2021-06-11 06:35] tsf89 commented on #7464
@danielbrowne I have opened a support ticket with Microsoft on this, and according to 1st level support not all Skype module features have been completely developed/moved to the Teams module yet. They have no ETA on when all features will be available.

I would recommend opening a support case so we can raise awareness on this issue and get it prioritized.

They have forwarded my support ticket to

[2021-06-11 07:16] bybytaren opened #7920 "Discovery Management role group should be eDiscovery Manager"
I believe this article refers to a role group which does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f7f0a23-5b87-02f2-5bce-eddc3413f7f4
* Version Independent ID: 6694e76a-b1e0-9cc6-08ab-beb0cf388e75
* Content: [New-ComplianceSearch (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/

[2021-06-11 15:03] HenkPoley opened #7921 "It would be nice to give slight hint what IPPS is"
Just in case I run into the obvious use case of whatever Connect-**IPPS**Session does in the future.

"Oh, this clearly needs an IPPS session, let me find that thing back"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 945ab2ea-22ae-814f-8898-fe84b7f29870
* Version Independent ID: 5383d152-988d-b1ee-4957-db5fb6213754
*

[2021-06-11 16:31] SharePointBlackBelt opened #7922 "Insufficient examples"
Article needs more examples showing proper use of parameters. The simple example provided creates a search service application with default database name having undesirable GUID in the database name. Please provide examples using the -DatabaseName parameter. Article also lacks any reference to creating the required proxy using New-SPEnterpriseSearchServiceApplicationProxy.

---
#### Document Detai

[2021-06-11 16:43] chrisda commented on #7921
@HenkPoley, I'm not sure if knowledge of 'IPPS' is important. The important point is: you use Connect-ExchangeOnline to connect to Exchange Online PowerShell, and you use Connect-IPPSSession to connect to Security & Compliance Center PowerShell or standalone (no Exchange Online mailboxes) Exchange Online Protection (EOP) PowerShell (e.g., NOT Exchange Online PowerShell). Semi-ridiculously, one cmd

[2021-06-11 17:11] chrisda commented on #7920
@bybytaren, confirmed. This affects about 9 other cmdlet reference topics, all of which I updated.

Thanks for the feedback.

Closing

[2021-06-11 17:11] #7920 closed

[2021-06-11 18:22] chrisda commented on #7920
Actually, upon further review, the case was a bit more subtle. The following cmdlets are available both in Exchange Server PowerShell AND Security & Compliance Center PowerShell:

- Get-ComplianceSearch
- Get-ComplianceSearchAction
- New-ComplianceSearch
- New-ComplianceSearchAction
- Remove-ComplianceSearch
- Set-ComplianceSearch
- Start-ComplianceSearch
- Stop-ComplianceSearch

I changed the not

[2021-06-11 18:26] #7389 closed

[2021-06-11 20:49] ckssaas opened #7924 ""Unable to remove user as it wasn't found. User will be skipped""
The basic command is returning "Unable to remove user as it wasn't found. User will be skipped" and does not remove the admin.

Set-PnPTenantSite -identity https://nexvortex1-my.sharepoint.com/personal/alatessa_nexvortex_com -owners "user1@domain.com"

Get-PnPSiteCollectionAdmin
Id Title         LoginName                                            Email
33 User 1 i:0#.f|membership|user1@domain.com

[2021-06-11 22:31] nadcraker opened #7925 "Get-EXOMailboxFolderStatistics no longer includes the ParentFolderId property."
`Get-MailboxFolderStatistics` (the old cmdlet) used to return a property called `ParentFolderId`. The new `Get-EXOMailboxFolderStatistics` does not. I was using this data to build a treeview relationship of a user's mailbox.

How can we use the new `Get-EXOMailboxFolderStatistics` cmdlet to get the parent folder of mailbox folders?

[2021-06-12 11:04] DEberhardt commented on #7871
both merged or closed - closing this one

[2021-06-12 11:04] #7871 closed

[2021-06-14 08:48] ikukoyoneda opened #7928 "the default value of WhoCanRegister is not correct"
The default value of WhoCanRegister is "EveryoneInCompany", but this article is saying the default value is "Everyone".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919bf080-1e20-1411-0d9e-41f559b883d8
* Version Independent ID: 6a37be44-d957-2b7a-a563-53332cf59098
* Content: [Set-CsTeamsMeetingPolicy (SkypeForBusines

[2021-06-14 11:40] yogkumgit commented on #7767
@get-itips Thank you very much for the contribution and sharing this explanation. @VelinGeorgiev If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-14 11:40] #7767 closed

[2021-06-14 11:44] yogkumgit commented on #7773
@get-itips Thank you very much for the contribution and digging deep into it.  @harshdamaniahd We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this d

[2021-06-14 11:44] #7773 closed

[2021-06-14 20:13] andschwa commented on #7895
Hey @baldieavenger, could you test 2.0.4 of their module? It would help narrow down the issue, telling us if if the bug appeared between 2.0.3 and 2.0.4, or 2.0.4. and 2.0.5, instead of the wider range 2.0.3 to 2.0.5. Thanks!

[2021-06-14 23:55] mattatbeca commented on #7861
I can't find this in the road map. Can you please send me a direct link?

[2021-06-15 02:06] ZeffyReport opened #7933 "Update for documentation of Microsoft Teams powershell module."
Can this documentation please be updated to reflect the updated module which has been made available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6804423b-8e08-5916-9355-6bebe8bb08b0
* Version Independent ID: aa669763-6470-cc61-ea8d-52aee886f986
* Content: [MicrosoftTeamsPowerShell Module](https://docs.microsoft.com

[2021-06-15 11:13] rikisorsa opened #7935 "Set-MailboxAutoReplyConfiguration cant read scandinavian characters."
I've created a powershell script that removes all licences and group memberships from a person when he/she is leaving the company and adds an automatic reply to their mailbox. Everything else is going fine, except when i added Scandinavian letters into the hardcoded auto-reply.

    if ( "y" -eq $Automaattivastaus) {
    $Username = Read-Host -Prompt "Nimi automaattivastaukseen"
    $Paivamaara =

[2021-06-15 13:50] GoranLindgrenGbgStad opened #7936 "Errors in the code explanations"
Saw at least four errors in the code examples. Explanations referred to wrong file name extensions.
![image](https://user-images.githubusercontent.com/47183112/122064022-15b61900-cdf1-11eb-86e7-3840eb8f06d7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc5b5ab2-722d-04a7-e97a-196b24e8888e
* Version Independent ID

[2021-06-15 14:11] baldieavenger commented on #7895
Hey Andrew,

It does impact 2.0.4, I assumed 2.0.5 would fix it but it hasnt but we have an exclusion is our module update script now to stick with 2.0.3!
Tested with a colleague and on a server so not just my local impacted.
Thanks! John

[2021-06-15 15:11] get-itips commented on #7861
Hello @mattatbeca I am sorry, I am afraid I do not have a direct link, the best would be to monitor the roadmap site in case an entry related to the feature appears.

[2021-06-15 18:24] get-itips commented on #7378
Hello @cloudgreen
How are you? Actually, there is a note about that currently in the article:

Thank you for your feedback.

[2021-06-15 18:43] cloudgreen commented on #7378
Hi @get-itips!

All good, thank you. I hope you are well too. :)

The existing note is good, but it is too vague. I think it needs to be clearer that _-ConfigurationOnly_ often (always?) wrongly estimates the backup size to be way too big, and that the only way to be able to run the _-ConfigurationOnly_ backup at all is to also use _-Force_. This took me hours to figure out, and I'm not alone, as

[2021-06-15 18:45] get-itips commented on #7875
Thanks for your feedback @SeaGT !

[2021-06-15 18:50] get-itips commented on #7378
Will propose an improvement to the article and let's see if it gets approval.
Thanks @cloudgreen

[2021-06-15 19:10] get-itips commented on #7894
Hello @vasgupta I could find the cmdlet, please be sure to be running the last version of Teams PowerShell and also having only one version installed.
Hope this information helps you

[2021-06-16 06:51] T13nn3s commented on #7785
I'm also here to report this 'issue'. Is there a possibility to bring this parameter back in the `New-SafeLinksPolicy`?

We have scripted the configuration for Defender for Office 365, and now this parameter is not working anymore, we have to log in manually in to every tenant in order to enable this option on the Safe-links policy.

Thanks in advance!

[2021-06-16 08:00] yogkumgit commented on #7894
@get-itips Thank you very much for the contribution and sharing this explanation. @vasgupta hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-16 08:00] #7894 closed

[2021-06-16 08:04] yogkumgit commented on #7693
@pupara Please help us in resolving this issue. Thanks

[2021-06-16 14:49] nidelius opened #7945 "Setting AutoMapping option to true for non-FullAccess rights is not allowed."
Our workflow:

We have a mailbox to which PDFs are sent. These are manually processed by 2 employees who has full access to the shared mailbox. About 50 persons are in need of the PDF files and sometimes there are delays or these 50 persons need instant access to the PDF files in the mailbox. Therefor we granted Authenticated Users ReadPermission for this shared mailbox. Fine.

BUT every user that

[2021-06-16 14:54] nidelius commented on #7945
Adding it manually here is not user friendly:

Let the users add the shared mailbox under the primary mailbox manually. To do it, click File tab > Choose Account Settings, then select Account Settings from the menu. > Select the Email tab and choose the account to Change. > Choose More Settings > Advanced > Add. > Type the shared email address and click OK. After that, the shared mailbox will appe

[2021-06-16 16:13] JeremyTBradshaw opened #7946 "Identity parameter only takes ExchangeGuid"
I would submit a PR, but you probably want to re-word the entire parameter description to make it right. It doesn't accept the various properties and the examples don't actually work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0404960d-05e8-6e6f-8063-ebed163ecefd
* Version Independent ID: d79b2d09-a176-d22e-e5ad-49

[2021-06-16 17:07] get-itips commented on #7897
Hello @elpamyelhsa how are you? hope you are doing good.
This has been reported several times, as it is not a documentation issue, I am afraid I can not be of further help, however, I already passed this information on to the team behind the module.
Thank you!

[2021-06-16 17:08] get-itips commented on #7896
Hello @elpamyelhsa how are you? Hope you are doing good. 👍
Here, we are limited to documentation fixes and improvements, I'll try to pass this on.
Thank you!

[2021-06-16 17:10] chrisda commented on #7785
@T13nn3s, if you're in the Teams TAP program, you should have access to the parameter. If you are and you don't, I highly encourage you to open a support case.

If the parameter was available to customers who weren't part of the TAP Preview, that was a mistake. The fact that the parameter went away for non-TAP members should be considered a correction of that mistake.

[2021-06-16 17:56] get-itips commented on #7899
Thanks for reporting @thewrabbit

[2021-06-16 17:59] chrisda commented on #7946
@JeremyTBradshaw, let's set the stage a bit.

That cmdlet is available in Exchange 2010 through 2019 and Exchange Online. So which environment are you talking about?

As an observation, Exchange PowerShell is pretty consistent about parameter types and accepted values. The Identity parameter is of type MailboxOrMailUserIdParameter, so I would be surprised if it didn't accept other guaranteed uniqu

[2021-06-16 18:11] get-itips commented on #7922
Thanks @SharePointBlackBelt for your feedback, will propose an improvement to the article.

[2021-06-16 18:14] JeremyTBradshaw commented on #7946
Hi @chrisda ,

I am referring to EXO specifically.  Give it a try and see what I mean.  Agreed I should have been clear on where I'm referring to.

[2021-06-16 18:15] get-itips commented on #7924
Hello @ckssaas Chris, how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from

[2021-06-16 18:23] get-itips commented on #7928
Duplicate of https://github.com/MicrosoftDocs/office-docs-powershell/issues/7846

[2021-06-16 20:04] ckssaas commented on #7924
Done. Thanks

https://github.com/pnp/powershell/issues/820#issue-923041764

[2021-06-17 10:13] dariomws commented on #7846
Hi, sorry for intruding, but when I create a new Meeting Policy with New-CsTeamsMeetingPolicy "Everyone" is the default value:
![image](https://user-images.githubusercontent.com/33589238/122377050-035cec00-cf65-11eb-9e13-cf35a07a4f59.png)

"Everyone in the organization" (EveryoneInCompany) is the default value when you create a Meeting Policy from the Admin Center:
![image](https://user-images.git

[2021-06-17 10:41] prlipscombe opened #7951 "Teams module 2.x - Auth Challenges"
Can the auth in the module be revised to operate in a consistant way with all other Microsoft Pwershell admin modules (connect-azuread, connect-exchangeonline, connect-msolservice for example)

Connect-Teams will only correctly authenticate using "conneced windows accounts" - Settings>Accounts>Access Work or School for example.
![image](https://user-images.githubusercontent.com/15944333/122381234-

[2021-06-17 10:43] olsonnn commented on #7469
Same issue with 2.4 preview ;(

[2021-06-17 10:53] lebosch commented on #7846
@dariomws Checked on my side. You are right. Seems to be a difference in how the MeetingPolicy is being created. The behavior on the global policy seems similar to policies created from the Admin Center.

[2021-06-17 12:24] get-itips commented on #7846
Just tested with `2.4.0-preview` and `2.3.1` and after creating a new TeamsMeetingPolicy the default in my case is EveryoneInCompany

I am trying to confirm with the team behind the module as based on your feedback I now think we could get different defaults in different tenants?

[2021-06-17 12:39] danmyhre opened #7952 "No details on which segment the users are in"
This cmdlet is missing a key piece of information and the docs don't say how to get this - the segment that a user is part of. This is different than the policy they are linked to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9cecf1a-7ec5-06ae-6e47-43d804e3a473
* Version Independent ID: af1b46d5-bf75-8588-6b45-11b1e

[2021-06-17 12:42] danmyhre opened #7953 "Users that are part of segment"
No details on how to get the users that are part of a segment. Please add specifics on how to accomplish this basic task.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a447d7aa-7227-75ae-6bb7-071af8f77012
* Version Independent ID: 7f10b8ff-4784-395d-872a-85b2c6522bda
* Content: [Get-OrganizationSegment (ExchangePowerS

[2021-06-17 13:21] dariomws commented on #7846
@get-itips very strange...

[2021-06-17 16:10] prlipscombe opened #7954 "Teams Powershell module unable to display account sign-in dialog"
In contract to all other MS powershell modules, the Teams Powershell module (version 2.3.1) is unable to dispay its sign-in account selection dialog should it be invoked after a windows system form is created.

I've distilled my code down to this to demonstrate
[code]

The -Verbose option when connecting to Teams shows me that its got that far and presumbaly has attempted to connect. However, noth

[2021-06-17 22:10] get-itips commented on #7846
More information, the default _seems_ to be inherited from the setting that is currently set in the Global policy. Trying to confirm and if that is true, will add a note to the parameter.

[2021-06-18 01:30] elpamyelhsa commented on #7897
Thanks get-itips, is there an official place to open a ticket for this fault. I had opened one on Microsoft 365 and was sent to this repo to report the issue, but if a better place exists it is getting urgent as the non-preview Teams Connector is also affected by this and this has broken things.

[2021-06-18 08:54] tos-kamiya commented on #7636
Hi,

I have several teams that I manage with sequential numbers, and I am trying to add members with a script such as:

Connect-MicrosoftTeams
foreach($u in $users){
    Get-Team -DisplayName $team_Name | Add-TeamUser -User $u -Role Member
}

I didn't know that Get-Teams does fuzzy matching, so when I ran the above script, I got surprising results.

Can you please provide an option for exact match

[2021-06-18 12:34] get-itips commented on #7897
Hello @elpamyelhsa ! Thanks for your reply.
I would recommend opening a support ticket directly from your tenant and notifying about this.

[2021-06-18 15:36] #7922 closed

[2021-06-18 15:53] #7899 closed

[2021-06-18 21:55] mark3grahams opened #7959 "Get-OwnerlessGroupPolicy and Set-OwnerlessGroupPolicy"
Get-OwnerlessGroupPolicy and Set-OwnerlessGroupPolicy are part of ExchangeOnlineManagement 2.0.5.

However, this does not appear to be documented or to actually work as far as I can test.

Is this supposed to be working?

[2021-06-19 06:49] tos-kamiya commented on #7636
Solution?

I changed the team names from Software Engineering-1, Software Engineering-2, Software Engineering-3, to something like Software Engineering-Bunny, Software Engineering-Pony, Software Engineering-Penguin.

[2021-06-21 09:51] andybrandt opened #7963 "No instruction how to apply a change to all identities"
I would expect a description here on how to change a parameter in all identities.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8fa7e55-c3b1-7b37-f395-736ec82868a0
* Version Independent ID: 4630697b-375e-85f2-25b1-b944bc6dad5f
* Content: [Set-CsTeamsCallingPolicy (SkypeForBusiness)](https://docs.microsoft.com/en-us/p

[2021-06-21 11:25] yogkumgit commented on #7897
@get-itips Thank you very much for the contribution and sharing this explanation. @elpamyelhsa Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.

We will be very happy if you can s

[2021-06-21 11:25] #7897 closed

[2021-06-21 11:41] yogkumgit commented on #7896
@ Thank you very much for the comment. @elpamyelhsa If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-21 11:41] #7896 closed

[2021-06-21 11:44] yogkumgit commented on #7906
@get-itips Thank you very much for sharing this explanation. @sarollins If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-21 11:53] #7906 closed

[2021-06-21 11:56] yogkumgit commented on #7924
@get-itips Thank you very much for the contribution and sharing this explanation. @ckssaas If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-21 11:57] #7924 closed

[2021-06-21 13:58] JeremyTBradshaw commented on #7946
@chrisda I guess my luck was just really bad and this seems to be related to certain mailboxes in Exchange Online which have archive mailboxes enabled.  This is the most official explanation I can find: https://docs.microsoft.com/en-us/archive/blogs/timmcmic/office-365-start-managedfolderassistant-in-office-365

But for me, the issue is there even for long-standing-archive-enabled mailboxes, not j

[2021-06-21 13:58] #7946 closed

[2021-06-21 15:55] TheMasterPrawn opened #7966 "Submit-PnPTeamsChannelMessage - ChannelMessage.ReadWrite.All no longer available"
ChannelMessage.ReadWrite.All is no longer available from the Azure AAD app permissions list. When I try and run

[code]
On my own tenant I get an error

[code]

I think MSFT might have removed this on purpose. Please advise ?

[2021-06-21 16:42] SnappyFPV opened #7967 "Teams 2.4.0 ApplicationId and CertificateThumbprint not available"
Want to test 2.4.0 preview to check if the cs command issues gone with CBA https://github.com/MicrosoftDocs/office-docs-powershell/issues/6737 but it looks like the parameters for certificate based authentication is completly gone?!?

[code]

How should i run unattended teams ps in a mfa enviroment? when also application authentication isn't available?

Thanks

[2021-06-21 16:59] chrisda commented on #7946
@JeremyTBradshaw, I added a note to the Identity parameter description based on your findings.

Thanks.

[2021-06-21 20:46] niharaobsec opened #7970 "HTTP 401 on Exchange Online cmdlets when running in app-only mode"
Receiving a 401 error on some EXO cmdlets when running in app-only mode.
The app that was authorized into the tenant consented to the Exchange.ManageAsApp scope and the service principal has been assigned to the Exchange Admin role. Are there additional scopes that are required?

[code]

[2021-06-22 15:56] #7378 closed

[2021-06-22 19:11] sritodi opened #7973 "2 new parameters have been added in 2019"
2 new parameters have been added in 2019

ExcludeMidDialogRequests
ExcludeTypingNotifications

[2021-06-23 17:29] niharaobsec commented on #7970
This appears to have been because the role that was assigned to the Service Principal was Security Administrator, which is a supported role per the official documentation https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps#step-5-assign-azure-ad-roles-to-the-application but errors with the following cmdlets:
`Get-RemoteDomain, Get-Mailbox, Get-Organiza

[2021-06-23 20:39] FoundryFounder opened #7976 "Document return value"
For me, New-AuthenticationPolicy returns the inserted object, which is invaluable for knowing results of the cmdlet as well as for subsequent commands.  It would be helpful to have that documented, avoiding experimentation to figure it out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 908e737b-0193-5dff-2845-17e8e02e

[2021-06-24 01:30] #7515 closed

[2021-06-24 01:32] trentcioran commented on #7718
Thank you! that made it. Sorry for letting this without response for so long.

[2021-06-24 01:32] #7718 closed

[2021-06-24 12:48] #7928 closed

[2021-06-24 13:14] TenkaiDoki opened #7977 "Get-MailboxExportRequest -BatchName AcceptWildCardCharacter false?"
Hello,

In the BatchName parameter description is stating "Accept wildcard characters: False"

But calling Get-MailboxExportRequest -Batchname "Batchnamestart*****" does work.

Maybe it is a misunderstanding of the "Accept Wildcard Character" from my part?

Cheers,

Aurélien

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-06-24 16:10] chrisda commented on #7977
@TenkaiDoki, as I understand it, that  "Accept Wildcard Character" property never seems to populate correctly, and is always False, even when the parameter accepts wildcard characters. In looking at the [relevant platyPS utility issue](https://github.com/PowerShell/platyPS/issues/202), this issue appears to have been fixed in January ,but that only works if the cmdlet code populates this property

[2021-06-24 16:13] SuperTekBoy opened #7979 "Parameter correction"
This first line is inaccurate. This works in Exchange Online as well.

-IncludeHidden
This parameter works only in on-premises Exchange.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89048c92-34d5-d96e-c982-515f319a304d
* Version Independent ID: 47a23a34-3ee2-1874-3ce7-03e3219e2e16
* Content: [Get-InboxRule (ExchangeP

[2021-06-24 20:45] LuisEmilioR opened #7981 "Provice the ability to use explicit remoting with v2 module"
Provide the ability to create powershell sessions for legacy commands without automatically importing it. This will give the option to use the newly created session on invoke-command for explicit remoting.
As managing multiple Exchange environments we have processes that need to create multiple simultaneous sessions to different environments and use explicit remoting to consume specific sessions a

[2021-06-25 10:05] VivekRYagnik opened #7982 "Please add 'hint'"
Hi Team,

I was using 'app only' authentication for unattended scripts with EXO V2 module - and encountered strange problem around connecting with Exchange Online - the issue was I was able to login into Exchange from my desktop machine but wasn't able to do the same from a machine deployed on cloud. I created Microsoft support ticket for the same ([Case #:25591918]) and they took more than a mont

[2021-06-25 14:30] get-itips commented on #7951
Hello @prlipscombe how are you?
Here, we are limited to documentation changes and improvements, for your request, I would suggest https://microsoftteams.uservoice.com/
Hope this information helps you,

[2021-06-25 14:32] get-itips commented on #7954
Hello @prlipscombe how are you?
Here, we are limited to documentation changes and improvements, for your request, I would suggest https://microsoftteams.uservoice.com/
Hope this information helps you,

[2021-06-25 14:38] get-itips commented on #7967
Hello @SnappyFPV how are you?
Here, we are limited to documentation changes and improvements, said that the scenario you described has already been reported and already passed this information on to the team behind the module.
Hope this information helps you,

[2021-06-25 14:39] get-itips commented on #7973
Hello @sritodi can you please detail what cmdlet you are referring to? Thanks

[2021-06-25 14:43] get-itips commented on #7963
Hello @andybrandt Andy, how are you?

Well, that depends on how is your tenant configured, but Global covers all users that do not have a policy explicitly assigned.
(and the example in the article configures a parameter for the Global policy)

Hope this information helps you

[2021-06-25 14:43] get-itips commented on #7966
Hello @TheMasterPrawn Rob,
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced

[2021-06-25 14:44] get-itips commented on #7936
Hello @GoranLindgrenGbgStad
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced

[2021-06-25 14:49] get-itips commented on #7933
Hello @ZeffyReport how are you?
Can you kindly detail what you see is missing/wrong from the page you opened the issue for?
Take into account that the documentation reflects the latest GA version of the module.
Thanks!

[2021-06-25 16:58] sritodi commented on #7973
https://docs.microsoft.com/en-us/powershell/module/skype/new-csdiagnosticsfilter?view=skype-ps

[2021-06-25 17:32] chrisda commented on #7982
@VivekRYagnik OK. Done.

Thanks for the feedback.

Closing

[2021-06-25 17:32] #7982 closed

[2021-06-26 03:32] ZeffyReport commented on #7933
https://docs.microsoft.com/en-us/powershell/module/teams/?view=teams-ps looks like it still refers to the 1.1.6 module commands and not the latest (2.3.1) module version.

[2021-06-26 14:49] dariomws commented on #7912
Hi @einue, thank you for your feedback.

Please check [Remove-UnifiedGroupLinks](https://docs.microsoft.com/powershell/module/exchange/remove-unifiedgrouplinks).

[2021-06-26 21:17] dariomws commented on #7925
Hi @nadcraker, thank you for your feedback.

I understand that there is no way with Get-EXOMailboxFolderStatistics, and you should use Get-MailboxFolderStatistics to get the parent folder.

If you want to provide product feedback to add features (parameters) you can use the following options:
- https://techcommunity.microsoft.com/t5/exchange-team-blog/bg-p/Exchange
- https://docs.microsoft.com/pow

[2021-06-26 22:19] andybrandt commented on #7963
I know that and I know about Global. What I was unable to do is change these parameters for other policies.

[2021-06-27 11:14] DEberhardt opened #7989 "Get-CsTenantNetworksite -Filter does not expect Odata syntax?"
Hello Team,

I am trying to create a script (`Find-TeamsEmergencyCallRoute`) that queries a Site or a Subnet, finds the ECRP and follows through with resolution until the Gateway (I have the same for the normal call route via OVP: `Find-TeamsUserVoiceRoute` already). However, I am struggling with Step 1: Lookup for the Site by Name:

I am working off of the (working) [CmdLets ](https://aka.ms/team

[2021-06-27 11:17] DEberhardt commented on #7989
ok. I think I should have waited for proper coffee propagation^^
I seem to have created the Site with a trailing space!

[code]

Issue 1 is not an issue - Issue 2 however still stands

[2021-06-27 14:59] DEberhardt opened #7990 "New-CsTenantNetworkSite allows Identity to have trailing spaces"
An Entity created with a String for Identity allows trailing spaces to be configured.
This may lead to issues with querying Sites later with Get-CsTenantNetworkSite (#7989)

Should a note be added to `-Identity` to state this or is this something that should be trimmed by this CmdLet upon entry?
One for the Devs?

Thanks,
David

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-06-28 08:26] dariomws commented on #7935
@rikisorsa - thank you for submitting feedback.

I think the best way forward is to open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted here

[2021-06-28 08:35] dariomws commented on #7945
Hi @nidelius, thank you for your feedback.

I cannot answer why but you can find more information here:
https://support.microsoft.com/topic/auto-mapping-doesn-t-work-as-expected-in-an-office-365-hybrid-environment-21eaea30-c19e-6b2f-ad25-e24e3b6f193d

Here we are limited to documentation issues and improvements.

[2021-06-28 09:12] dariomws commented on #7952
Hi @danmyhre, thank you for your feedback.

Once you get the policy's GUID with this cmdlet, you can use `Get-InformationBarrierPolicy -ExOPolicyId <GUID> | fl AssignedSegment` to verify the segment this user belongs to.

For more information, see [Define information barrier policies](https://docs.microsoft.com/microsoft-365/compliance/information-barriers-policies) and [Get-InformationBarrierPoli

[2021-06-28 09:24] dariomws commented on #7953
Hi @danmyhre, thank you for your feedback.

You cannot get that information with this cmdlet. As the segments are defined by Azure Active Directory properties, you can use AAD cmdlets to get that information.

For example, if you define the following segment:
New-OrganizationSegment -Name "HR" -UserGroupFilter "Department -eq 'HR'"

You can run the following command in AAD PowerShell module:
Get-A

[2021-06-28 09:47] baldieavenger commented on #7895
Hi Andrew,
Anything more you need from me to dig into this?
Thanks!
John

[2021-06-28 10:08] dariomws commented on #7970
Hi @niharaobsec, thank you for your feedback.

Security Administrator is supported, but it doesn't have the roles to run the cmdlets you need. For more information, see the following similar issue:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/6992

Please let me know if you need more help.

[2021-06-28 10:25] dariomws commented on #7976
Hi @FoundryFounder, thank you for your feedback.

Typically, we don't spend time documenting output properties for cmdlets because a) they change frequently and without warning, b) they often contain unmodifiable or datacenter-centric values (in other words, those properties don't correspond to parameters in the New-* or Set-* cmdlets), and c) that's a level of customization we have historically n

[2021-06-28 12:28] get-itips commented on #7963
Hello @andybrandt Andy, how are you?
Ok I understand better now, will propose adding another example.
Thanks

[2021-06-28 12:44] yogkumgit commented on #7951
@prlipscombe Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-06-28 12:45] #7951 closed

[2021-06-28 12:48] danmyhre commented on #7953
How do you actually verify / see the segment that is assigned to the user? This is critical for working with this solution. Running a query against AAD is not the same.

[2021-06-28 12:49] danmyhre commented on #7952
That is different. It is possible people are part of segments but not a policy.

[2021-06-28 12:50] yogkumgit commented on #7954
@prlipscombe  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-06-28 12:50] #7954 closed

[2021-06-28 12:53] yogkumgit commented on #7967
@get-itips Thank you very much for the contribution and sharing this explanation. @SnappyFPV Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-28 12:54] #7967 closed

[2021-06-28 13:03] yogkumgit commented on #7966
@get-itips Thank you very much for the contribution and sharing this explanation. @TheMasterPrawn Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-28 13:03] #7966 closed

[2021-06-28 13:05] yogkumgit commented on #7936
@get-itips Thank you very much for the contribution and sharing this explanation. @GoranLindgrenGbgStad Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-28 13:05] #7936 closed

[2021-06-28 13:07] yogkumgit commented on #7933
@get-itips Please review

[2021-06-28 13:18] yogkumgit commented on #7952
@dariomws

[2021-06-28 13:19] yogkumgit commented on #7953
@dariomws

[2021-06-28 13:34] michevnew opened #7992 "-Limit ALL doesn't validate"
[code]

Would be nice to also have the maximum allowed value specified.

[2021-06-28 14:14] s4vishwa opened #7993 "New-MailboxSearch -Name "Hold-tailspintoys" -SourceMailboxes bcollins -SearchQuery '"Patent" AND "Project tailspintoys"'"
-SearchQuery cmd not valid when running new-mailboxsearch

[2021-06-28 14:15] s4vishwa opened #7994 "New-MailboxSearch -Name "Hold-tailspintoys" -SearchQuery"
-SearchQuery is not recognized as a cmdlet when running new-mailboxsearch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f39864e-398c-ad3a-129a-e1ca0b7af51e
* Version Independent ID: 17a7cf02-08f6-5eea-2e4e-842902278904
* Content: [New-MailboxSearch (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/mod

[2021-06-28 14:16] #4186 closed

[2021-06-28 14:18] s4vishwa commented on #7994
![image](https://user-images.githubusercontent.com/42575304/123652218-19d33500-d7fa-11eb-803e-65f733bee07d.png)

[2021-06-28 14:20] dariomws commented on #7953
Hi @danmyhre, as an AD property defines the segments, you can look for the users with that property. They are actually in the segment.

If you want to request a new feature, I know the product teams are always looking for user feedback and how to make Exchange better. They keep a close tab on user feedback, and it would be awesome if you could add your feedback in the Exchange Team Blog: https://t

[2021-06-28 14:24] dariomws commented on #7952
Very similar to the other issue, you know what segment a user belong to verifying the AD property. If a segment is not assigned to a policy there is no information barrier applied to that segment and the users who belong to it.

For more information, see [Define information barrier policies](https://docs.microsoft.com/microsoft-365/compliance/information-barriers-policies).

If you want to request

[2021-06-28 14:25] #6737 closed

[2021-06-28 14:30] yogkumgit commented on #7028
@jonwbstr

[2021-06-28 14:32] FoundryFounder commented on #7976
Dario:  Thanks for your response.
Regarding not documenting output properties:  I have mixed feelings about the policy, but OK.  Certainly can be a bit of work to document everything.  Would it be better therefore if the "Outputs" heading was simply removed from the page?  Therefore, removing the implication that there is information missing from the page.
Thanks!
J

[2021-06-28 14:38] yogkumgit commented on #7333
Reminder @get-itips

[2021-06-28 14:42] #7452 closed

[2021-06-28 14:47] #7604 closed

[2021-06-28 14:50] #7785 closed

[2021-06-28 14:54] #7803 closed

[2021-06-28 14:55] #7807 closed

[2021-06-28 14:56] andybrandt commented on #7963
While you are at it you may consider adding that some policies visible when one does Get-CsTeamsCallingPolicy can not be changed (eg. "Tag:AllowCalling").

[2021-06-28 14:56] #7837 closed

[2021-06-28 14:58] #7839 closed

[2021-06-28 15:01] #7840 closed

[2021-06-28 15:05] get-itips commented on #7933
Hello @ZeffyReport
I have been analyzing this, the article you reference is automatically generated based on the cmdlet articles already present in the teams folder, currently there are also some Public Preview articles and also some deprecated ones (to inform users about this), and cmdlets from 2.3.1. Please also take into account that you will also find _SfB-module_ cmdlet articles [here](https:

[2021-06-28 15:10] dariomws commented on #7976
@FoundryFounder thank you for understanding. Something that I can add is that you can see some cmdlets with the following sentence in the output section:
"To see the return types, which are also known as output types, that this cmdlet accepts, see [Cmdlet Input and Output Types](https://go.microsoft.com/fwlink/p/?linkId=616387). If the Output Type field is blank, the cmdlet doesn't return data."
I

[2021-06-28 15:13] get-itips commented on #7333
Thanks @Didier-VR for your feedback, will test this and improve the article if needed.

[2021-06-28 15:18] yogkumgit commented on #7905
@tkmamedov We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2021-06-28 15:20] yogkumgit commented on #7921
@HenkPoley Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2021-06-28 15:20] #7921 closed

[2021-06-28 16:00] chrisda commented on #7959
@mark3grahams, the feature itself is in Private Preview (invite only).

So, because the cmdlets are in the EXO V2 module code, anyone who downloads the module has access to them. But, they won't work unless you're part of the Private Preview.

[2021-06-28 16:08] mark3grahams commented on #7959
Yeah, I have since found this out. I do not think the release note for 2.0.5 called this out as Preview only.

[2021-06-28 21:23] niharaobsec commented on #7970
@dariomws Thanks for your response!
Would be nice if the documentation called that out, especially as the questions appears to have come up more than once on here.

[2021-06-28 21:25] niharaobsec commented on #7970
@dariomws Are there a different set of roles that apply to these cmdlets:

[code]

[2021-06-28 22:05] danmyhre opened #7997 "Not available"
This cmdlet is not available in Exchange Online

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5afe8f19-b64e-354f-b363-e040db2a1e8c
* Version Independent ID: 0d5fde8a-2882-c935-1af4-e9c31c216fd4
* Content: [Get-GlobalAddressList (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/get-globa

[2021-06-28 22:32] chrisda commented on #7997
@danmyhre, are you sure? It's available to me in my tenant. From the topic:

Try running the following commands and see what you get:

[code]

[2021-06-28 22:43] danmyhre commented on #7997
good call, sorry, the tenant I was connected to didn't have this modification yet. I should have verified that. Tested on a different one and it is there.  Thanks!

[2021-06-28 22:43] #7997 closed

[2021-06-29 08:30] DevJonBirkett commented on #6343
Hi all,

From what I can tell the description this the ShareData cmdlet is still missing and is currently place holder text.
Screen shot attached.
**URL:** https://docs.microsoft.com/en-us/powershell/module/skype/set-csonlinevoicemailpolicy?view=skype-ps

**Current description:** {{ Fill ShareData Description }}

![29-06-2021 09-26-31](https://user-images.githubusercontent.com/61510952/123764110-6

[2021-06-29 17:59] chrisda commented on #7979
@SuperTekBoy, confirmed. It can be tricky with parameters as sometimes they're _available_, but they aren't supposed to be or they don't work properly. Not the case here, but it happens. And when it does, you'll get a statement like that in the description (the Applicable: value for the parameter only considers availability and not functionality for technical reasons). Typically, I'll use language

[2021-06-29 17:59] #7979 closed

[2021-06-29 18:03] chrisda commented on #7981
@LuisEmilioR, all we can do here is fix/update documentation.

I suggest that you either open a support request or send a message to this email address asking for the features that you want:

exocmdletpreview[at]service[dot]microsoft[dot]com

Email address obfuscated to help reduce spam.

Thanks for the feedback.

Closing

[2021-06-29 18:03] #7981 closed

[2021-06-29 18:09] chrisda commented on #7994
@s4vishwa, I'm closing this as a duplicate of #7993

[2021-06-29 18:09] #7994 closed

[2021-06-29 18:11] chrisda commented on #7993
@s4vishwa, it sounds like this the same problem as #7994, where the account you were using was not part of the discovery management group.

If this is wrong, feel free to reopen this issue.

Thanks for the feedback.

Closing

[2021-06-29 18:11] #7993 closed

[2021-06-29 18:15] chrisda commented on #7970
@niharaobsec, those cmdlets are 100% Exchange Online PowerShell related. Global administrator and Exchange administrator will definitely give you access to those cmdlets.

[2021-06-29 18:26] chrisda commented on #7970
@niharaobsec, I updated the topic with the following note:

Thanks for the feedback.

Closing

P.S. Feel free to reopen this Issue as necessary

[2021-06-29 18:26] #7970 closed

[2021-06-29 18:59] arcrosby opened #8001 "missing cmdlet"
When attempting to run this cmdlet (Get-OMEMessageStatus or Set-OMEMessageRevocation), the cmdlet is not recognized.  Attempted connecting to Connect-ExchangeOnline, Connect-EXOPSSession, Connect-IPPSSession, Connect-MsolService, Connect-AzureAD as global administrator, but still not recognized.  Ran command `Get-Command *OME*` and receive the following indicating this cmdlet is not available:

[c

[2021-06-29 19:50] rjbokleman opened #8002 "Since when does WinRM work on macOS and is a requirement for this module? More over the module only shows support for DESK, not CORE."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Content: [About the Exchange Online PowerShell V2 module](https://docs.microsoft.com/en-us/powershell/exchange/exchange-online-powershell-v2?view=exc

[2021-06-29 19:51] rjbokleman commented on #8002
The installation instructions say that WinRM is required.  It also says that this works on macOS.  Also the module only shows DESK being supported despite the article and doesn't show support for CORE on macOS.

[2021-06-29 20:26] chrisda commented on #8001
@arcrosby, those cmdlets are in [Exchange Online PowerShell](https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell). After you connect, RBAC controls what cmdlets you have or don't have access to. I ran the following commands per [Use PowerShell to find the permissions required to run a cmdlet](https://docs.microsoft.com/powershell/exchange/find-exchange-cmdlet-permi

[2021-06-29 20:27] chrisda commented on #8002
@rjbokleman, I'll take any suggested updates that you want to provide for MacOS installation instructions and requirements.

[2021-06-29 21:13] andschwa commented on #7895
Hey @yogkumgit, any chance you have looked at this? I haven't yet.

[2021-06-29 22:51] dappleby300 opened #8005 "Set-CsCallQueue -ChannelUserObjectId param documentation improvement"
Hi,

Can the documentation regarding the Set-CsCallQueue  -ChannelUserObjectId  parameter please be improved.
Currently it just states: "Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)." which is not very helpful.

Ideally it would be good if the description answered the following questions;

1. An example of how to obtain said GUID. Get-CsOnlineUser  (ObjectID?)

[2021-06-30 14:15] mcpsmith opened #8006 "Add-PnPNavigationNode - Provide an example of how to create a Label"
Please add documentation on how to create a Label in the navigation node (vs a Link).

I had to figure it out for myself. Use -url "http://linkless.header/" to create a Label instead of a Link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c007e403-dce1-34d8-b422-11ab4630305c
* Version Independent ID: eaf106fc-2d67-d98

[2021-06-30 16:57] Rick-415 opened #8007 "Typo in registry edit instructions"
The following instruction to permanently enable strong cryptography in the Microsoft .NET Framework version 4.x or later (x64)  has a typo:
_

There should be a backslash between "Microsoft" and ".NetFramework

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID:

[2021-06-30 21:04] #7333 closed

[2021-06-30 21:13] chrisda commented on #8007
@Rick-415, OK. Fixed.

For future reference, you too can make changes like this yourself. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2021-06-30 21:13] #8007 closed

[2021-06-30 21:45] #7963 closed

[2021-06-30 22:18] #7973 closed

[2021-07-01 09:06] dariomws commented on #7895
Hi @baldieavenger, thank you for your feedback.

I tested it and seems to be working with PowerShell ISE:
![image](https://user-images.githubusercontent.com/33589238/124085907-ca3a7680-da50-11eb-8ca1-181623902745.png)

Also with VS Code:
![image](https://user-images.githubusercontent.com/33589238/124097906-51d9b280-da5c-11eb-9326-af8512331d21.png)

[2021-07-01 09:11] dariomws commented on #7895
Hi @baldieavenger, thank you for your feedback.

I've tested it and it's working for me.

VS Code:
![image](https://user-images.githubusercontent.com/33589238/124098482-e0e6ca80-da5c-11eb-8aed-9c4b9fe8fec8.png)

ISE:
![image](https://user-images.githubusercontent.com/33589238/124098743-1f7c8500-da5d-11eb-8e79-905f3356a095.png)

[2021-07-01 15:14] sguitardude opened #8011 "How do we wait until the policy distribution is successful?"
The note in the third paragraph says, "wait until the policy distribution is successful."  How do we wait until the policy distribution is successful?  Are there commands we can run to see the current state of policy distribution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adaea894-fecc-16d3-0c4d-7971eda68b4b
* Ver

[2021-07-01 18:10] lluesing opened #8012 "Incorrect Usage Comments on CorruptionType parameter"
In the documentation for New-MailboxRepairRequest, only the CorruptionType parameter ReduceRedundantAI says it can be used only by itself:
ReduceRedundantAI: Exchange 2016 or later, and only by itself.

However, there are a number of parameters to which this applies, and the parameter value notes should be updated to reflect this fact.

[code]

---
#### Document Details

⚠ *Do not edit this sectio

[2021-07-01 21:26] Ofer-Gal opened #8013 "Saving Teams Channel Chats before removing the Team"
I was able to drill down to the Get-PnPTeamsChannelMessage and found out I can get the content.
I found out there are replies associated with each message but there is no ".Replies" in the intellisense. is this not done yet? or did I miss something?

Also do I really need to save the posts before removing the group? are they saved somewhere else I can get to if I am asked to get out of an archive.

[2021-07-02 00:23] chrisda commented on #8012
@lluesing, OK. Done.

Thanks for the feedback.

Closing

[2021-07-02 12:02] lluesing commented on #8012
Thanks, Chris! Take care!

From: Chris Davis ***@***.***>
Sent: Thursday, July 1, 2021 8:24 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Luesing, Landon ***@***.***>; Mention ***@***.***>
Subject: [External]Re: [MicrosoftDocs/office-docs-powershell] Incorrect Usage Comments on CorruptionType parameter (#8012)

@lluesing [github.com]<https://urldefense.proofpoint.com/v2/url?u=https-

[2021-07-02 15:56] #8012 closed

[2021-07-02 18:10] dickscheel opened #8016 "Missing description for -IncludeOrgContent"
The section of this page that documents the -IncludeOrgContent parameter has what appears to be a placeholder for the Description part. Currently, it just says "{{ Fill IncludeOrgContent Description }}".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f7f0a23-5b87-02f2-5bce-eddc3413f7f4
* Version Independent ID: 6694e7

[2021-07-02 18:34] chrisda commented on #8016
@dickscheel, known issue. See the discussion in #7429 . Do you use this parameter? Does it work as you expect?

[2021-07-02 18:48] jonwbstr commented on #7028
Hmm, thought I updated this last month. It was one of the typical we are still researching type updates. I'm going to escalate.

[2021-07-03 06:16] dickscheel commented on #8016
Thanks, Cris. I don't use this parameter. I was just browsing around Microsoft docs to see what kind of tools exist for Exchange Server admins, and I happened to run across this one.

From: Chris Davis ***@***.***>
Sent: Friday, July 02, 2021 11:35 AM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: dickscheel ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powe

[2021-07-04 15:33] baldieavenger commented on #7895
Looks like its due to "System.Windows.Forms"
https://github.com/PowerShell/vscode-powershell/issues/3394#issuecomment-872416633

[2021-07-04 19:47] swinster commented on #4727
@jcmmarq  - I think all you can do is vote at https://microsoftteams.uservoice.com/forums/555103-public/suggestions/41995432-grant-csteamsvideointeropservicepolicy-needs-to-be

[2021-07-05 04:49] Jedi2mk opened #8020 "Add-TeamChannelUser -Role Owner doesn't work"
Hello, there, Add-TeamChannelUser -Role Owner doesn't work. What's the correct command line, then?
[code]
user@ubisoft.com is listed with `Get-TeamChannelUser -GroupId **groupid** -DisplayName "Q and A".`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd91d571-ca88-5766-2666-d6a4d34cdbed
* Version Independent ID: 2481b2

[2021-07-05 04:59] hoang-phan opened #8021 "New-CsApplicationAccessPolicy returns 404"
I am trying to use the Microsoft Graph API to create OnlineMeetings here
https://docs.microsoft.com/en-us/graph/api/application-post-onlinemeetings?view=graph-rest-1.0&tabs=http

But when configuring application access policy as instructed here:

https://docs.microsoft.com/en-us/graph/cloud-communication-online-meeting-application-access-policy

We got a 404 error:

[code]

I am an admin of the wo

[2021-07-05 08:19] #4727 closed

[2021-07-05 08:20] yogkumgit commented on #7912
@dariomws Thank you very much for the contribution and sharing this explanation. @einue Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-05 08:20] #7912 closed

[2021-07-05 08:24] #7925 closed

[2021-07-05 08:26] dariomws commented on #7895
Thanks for sharing, @baldieavenger.

Do you think there is something to improve in the documentation for this module? It seems that it's a very specific issue. Here we are limited to documentation issues and improvements.

[2021-07-05 08:27] yogkumgit commented on #7935
@dariomws  Thank you very much for the contribution and sharing this explanation. @rikisorsa Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.

We will be very happy if you can sha

[2021-07-05 08:27] #7935 closed

[2021-07-05 08:28] yogkumgit commented on #7945
@dariomws Thank you very much for the contribution and sharing this explanation. @nidelius Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-05 08:29] #7945 closed

[2021-07-05 08:32] baldieavenger commented on #7895
HI Dario,

No, id think its not documentation related thnaks! Looks like you can close this!

Thanks,

John

[2021-07-05 08:35] yogkumgit commented on #7952
@dariomws Thank you very much for the contribution and sharing this explanation. @danmyhre Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-05 08:36] #7952 closed

[2021-07-05 08:39] yogkumgit commented on #7953
@dariomws Thank you very much for the contribution and sharing this explanation. @danmyhre Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-05 08:39] #7953 closed

[2021-07-05 08:42] yogkumgit commented on #7959
@mark3grahams Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-05 08:42] #7959 closed

[2021-07-05 08:45] yogkumgit commented on #7976
@dariomws Thank you very much for the contribution and sharing this explanation. @FoundryFounder Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-05 08:46] dariomws commented on #7895
@baldieavenger Thank you for your contribution to make the docs better! Much appreciated!

@yogkumgit could you kindly close this issue? Thanks!

[2021-07-05 08:46] #7976 closed

[2021-07-05 08:49] yogkumgit commented on #7895
@dariomws Thank you very much for the contribution and sharing this explanation. @baldieavenger Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-05 08:49] #7895 closed

[2021-07-05 10:51] yogkumgit commented on #7933
@get-itips Thank you very much for the contribution and sharing this explanation. @ZeffyReport Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-05 10:51] #7933 closed

[2021-07-05 11:03] yogkumgit commented on #7977
@TenkaiDoki Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-05 11:04] #7977 closed

[2021-07-05 11:13] yogkumgit commented on #8016
@dickscheel as suggested, it is a known issue. Closing. Thanks

[2021-07-05 11:13] #8016 closed

[2021-07-05 11:47] yogkumgit commented on #6343
@get-itips

[2021-07-06 12:58] pirminf opened #8023 "ShowConversationAsTree vs. ConversationSortOrder"
From the descriptions it seems that the these parameters have redundant functionality: Both have an impact on how messages are sorted in the reading pane:

- ShowConversationAsTree
- ConversationSortOrder

ConversationSortOrder seems to provide more options. However to me it is unclear if/how these two parameters interact.

thanks for clearification
Pirmin

---
#### Document Details

⚠ *Do not edi

[2021-07-06 17:28] get-itips commented on #7430
Thanks for your feedback @Petri-X

[2021-07-06 17:47] get-itips commented on #7989
Hello @DEberhardt David, how are you?

About "Issue 2"

When you say ODATA you mean _OPATH syntax_? if it is not mentioned, like for example in [Exchange's Get-Mailbox](https://docs.microsoft.com/en-us/powershell/module/exchange/get-mailbox?view=exchange-ps), it is not implemented that way.

I could not reproduce that:

[code]

[2021-07-06 17:54] get-itips commented on #7990
Hello @DEberhardt David,
I could verify that it accepts trailing spaces as you mention. However, as I verified in https://github.com/MicrosoftDocs/office-docs-powershell/issues/7989 I could successfully filter also with the trailing spaces, and without using *.
Please let me know if I understood you well.
Thanks

[2021-07-06 18:03] get-itips commented on #8021
Hello @hoang-phan how are you?

Please be aware that, here we are limited to documentation issues and improvements. Said that, tried to reproduce in case we needed to adjust any documentation.

Please be aware that currently, the recommended version to run Teams PowerShell is 5.1

Source https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-install

So instead of opening PowerShell 7, y

[2021-07-06 20:51] get-itips commented on #7992
Thanks for your feedback @michevnew

[2021-07-06 23:04] hoang-phan commented on #8021
Hi @get-itips ,

I have also tried this on Windows 10 Virtual machine, which runs Windows PowerShell 5.1, and ran `Connect-MicrosoftTeams` successfully before doing the command. But this issue still happened.

Thanks for letting me know that I might have posted this to the wrong place. Would you please advise the repo I should post this issue to get the right support?

[2021-07-07 00:18] get-itips commented on #8021
Hello @hoang-phan how are you?
I understand, as I could not reproduce, the best in this situation would be to open a support ticket from your tenant, they will be able to help you in your specific scenario.
Thank you

[2021-07-07 17:28] jonwbstr commented on #7028
I put @chrisda and our ASfP account manager in touch with each other today. They should be able to track down someone related to the support ticket and get this sorted out. I thought the answer was, "the switch is not supported" but instead got an "we will update the documentation" so I'm still not completely clear on what the correct answer is. :)

[2021-07-07 19:18] RyanSmith-00 opened #8026 "Get-User missing cmdlet"
Hi, after installing "Install-Module -Name ExchangeOnlineManagement -Force" the cmdlet Get-User is no longer available. How can we pull back the information needed with out Get-User?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c916371e-aef0-f91e-e04d-16110358a306
* Version Independent ID: bd073f8e-ba80-25ed-

[2021-07-07 20:27] get-itips commented on #7655
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that repo into this on

[2021-07-07 20:27] get-itips commented on #8006
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that repo into this on

[2021-07-07 20:31] mcpsmith commented on #8006
Thanks - I've added it to the repo you linked to.

[2021-07-07 20:31] #8006 closed

[2021-07-07 20:35] get-itips commented on #8005
Hello @dappleby300 I am looking into this.

[2021-07-07 20:37] get-itips commented on #8013
Hello @Ofer-Gal
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that r

[2021-07-07 21:52] get-itips commented on #8020
Hello @Jedi2mk how are you?
I checked to see if we needed to adjust the article, however, I could reproduce it, the cmdlet is still part of the preview module (not the General Availability), I will try to pass this information on.
Thanks for your feedback,

[2021-07-08 14:05] dsolodow opened #8028 "No release notes for ExchangeOnlineManagement 2.0.5"
Site doesn't have the release notes for 2.0.5, although it's in the module manifest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Content: [About the Exchange Online PowerShell V2 module](https://docs.microsoft.com/e

[2021-07-08 15:11] adagioajanes opened #8029 "Remove-CalendarEvents should also be able to decline meetings to which the user was invited"
We are retiring a conference room, but we still have many meetings scheduled for the room. I wanted to 'Remove-CalendarEvents' so the room would send declines to everyone who hasn't changed their conference room.

Remove-CalendarEvents should have a flag to also decline all meetings to which the user was invited.

[2021-07-08 15:16] david-tap opened #8030 "-DelegatedOrganization flag has never worked, it should be removed from the Docs"
Connect-IPPSSession has never worked with the "-DelegatedOrganization" flag, presumably since the Security and Compliance team felt delegated permissions are not secure enough. Regardless of the "why", since I haven't seen any recent communication from Microsoft indicating that Security and Compliance will support delegated auth, the flag is misleading and should be removed from the documentation.

[2021-07-08 15:58] ghrabawy opened #8031 "problem with new-team command"
Hello
i try to create a new team with the following command:
$disp_name = "Hello World1"
$Tgroup = New-Team -DisplayName $disp_name -Template EDU_Class

and i have this error

New-Team: Error occurred while executing
Code: BadGateway
Message: Failed to execute backend request.
InnerError:
RequestId: 46ed8c17-6ada-45ef-8418-80f3ad1aa3a0
DateTimeStamp: 2021-07-08T08:09:13
HttpStatusCode: BadGateway

[2021-07-08 16:28] #7992 closed

[2021-07-09 06:14] NotAdam opened #8033 "Incorrectly documented event types for phish/malware for Get-MailTrafficATPReport"
Trying to pull data about zapped emails with Get-MailTrafficATPReport, but passing `-EventType ZAP` or `-EventType "Phish ZAP"` doesn't work and results in the following:

[code]

Checking the real time detections report in M365 Defender does show zapped emails for this time period. Running the following to get all the event types returns only a subset of what is documented:

[code]

---
#### Docu

[2021-07-09 15:49] Ofer-Gal opened #8035 "Access is denied for connection with Certificate."
I followed the instructions in your [docs](https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2#step-5-assign-azure-ad-roles-to-the-application) To make my appID a "Exchange Administrator"
and also [Here](https://www.azure365pro.com/rename-office-365-unified-groups/)

Then Used the statement:

[code]

But I keep getting the error in

[code]

What else should I do to be

[2021-07-09 21:44] kch2001 opened #8037 "Example 4 : description is incorrect\misleading. It will change Global OVRP."
"Example 4 assigns the per-user online voice routing policy RedmondOnlineVoiceRoutingPolicy to all the users in the tenant, except any that have an explicit policy assignment"

The above is misleading/incorrect statement.
Get-CsOnlineUser | Grant-CsOnlineVoiceRoutingPolicy -PolicyName "RedmondOnlineVoiceRoutingPolicy"
This doesn't assign the per-user online voice routing policy(OVRP) to "RedmondOn

[2021-07-10 17:37] DEberhardt commented on #7990
Yes, it does work with trailing spaces, both creation and query.
I do think this should be trimmed as it is very prone to issues this way - white-space seems to be my windmill (especially when tired! 😉 )

[2021-07-10 17:42] DEberhardt commented on #7989
Hello, all well here in the UK :)

I seem to have filed this away as ODATA - like the Examples 4 and 5 as in:

[Get-AzureAdUser](https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaduser?view=azureadps-2.0) -Filter "UserPrincipalName eq 'John@domain.com'"

If it goes by another name, I am missing bits of information 😄

I will try again - this time without the trailing spaces...

[2021-07-10 18:00] DEberhardt commented on #7989
Tried `Get-CsTenantNetworkSite` again just now:
[code]

It looks as if `-Filter` doesn't filter with a string alone... only with a '*' (it does return something if it finds an exact match however...)

As there is no example for the Filter, I have to guess what works... what is the default for the -Filter parameter?

[2021-07-12 12:23] get-itips commented on #7989
@DEberhardt David, can you kindly detail me the version of Teams Ps are you using for those tests? Thank you

[2021-07-12 14:45] GJUNIOR74 opened #8038 "Parameter -IgnoreLegalHold"
-ignorelegalhold parameter doesn't exist on Exchange Online cmdlet, article must be reviewed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc998569-646c-cd20-c3cd-b5d07e6f62ee
* Version Independent ID: b7d7d129-9092-8e7d-5bc1-e49e24b54603
* Content: [Remove-MailUser (ExchangePowerShell)](https://docs.microsoft.com/en-

[2021-07-12 18:46] chrisda commented on #8030
@david-tap, I changed the description to "reserved for internal Microsoft use."

Thanks for the feedback.

Closing

[2021-07-12 18:46] #8030 closed

[2021-07-12 21:41] chrisda commented on #8026
@RyanSmith-00, a couple of different points/questions:

- The EXO V2 module is for Exchange Online, not Exchange Server. The EXO V2 module just connects you to Exchange Online PowerShell. After you install the module (which it sounds like you did), you connect to your tenant using Connect-ExchangeOnline as described in [Connect to Exchange Online PowerShell](https://docs.microsoft.com/powershell/e

[2021-07-12 21:53] chrisda commented on #8028
@dsolodow, fixed.

Thanks for the feedback.

Closing

[2021-07-12 21:53] #8028 closed

[2021-07-12 22:06] chrisda commented on #8023
@pirminf, this is likely the same as the View options in Outlook:

- _ShowConversationAsTree_ corresponds to **Show as Conversations**: The first message is farthest to the left, then replies are indented to the right below that first message:

  ![image](https://user-images.githubusercontent.com/33166947/125361108-b5e45c80-e321-11eb-97fc-1c9b1fb4b63a.png)

- _ConversationSortOrder_ likely control

[2021-07-12 22:16] chrisda commented on #8029
@adagioajanes, that sounds more like a feature request. Your best bet is to open a support case.

[Set-CalendarProcessing](https://docs.microsoft.com/powershell/module/exchange/set-calendarprocessing) can prevent people from reserving the room, but I don't think the change affects existing meetings. For example:

[code]

[2021-07-12 22:26] adagioajanes commented on #8029
@chrisda, I think then there may be an issue with the feedback links in the documentation. When viewing the page, at the bottom, there is an option for submitting and viewing feedback for 'This product' and 'This page'. Clicking 'This product' brought me here.
Because Microsoft announced they are changing how product feedback is gathered, I figured, since it is linked this way, that this is now wh

[2021-07-12 22:30] adagioajanes opened #8040 "Feedback for 'This product' and 'This page' both bring the user to github"
This is the channel for posting feedback about product documentation, and not the product itself. However, when clicking feedback for 'This product' at the bottom of the page, the destination is this GitHub issues page for the user to post feedback.

If this is not the channel for product feedback, then the links need to be updated to direct the user to the correct channel.

---
#### Document Deta

[2021-07-12 22:31] chrisda commented on #8038
@GJUNIOR74, the description of the parameter starts with:

And the `Applicable:` property in the YAML section says:

So, there's nothing to update.

Comments?

[2021-07-12 22:37] chrisda commented on #8035
@Ofer-Gal per the tip in the introduction in the topic:

![image](https://user-images.githubusercontent.com/33166947/125364167-e11d7a80-e326-11eb-8d99-24c8871714f9.png)

[2021-07-12 23:47] rwkt opened #8041 "Remove-TeamChannelUser - Failed to find the user on the channel roster"
The cmd `Remove-TeamChannelUser` returns the following error even though the user is a member of the **private** channel.

[code]
Version details
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87a158a7-c33c-f57c-4556-8a44de42abc9
* Version Independent ID: 383ea288-abe0-28d2-10b8-7683a7eb1541
* Content: [Remove-T

[2021-07-13 11:26] #8029 closed

[2021-07-13 13:51] Ofer-Gal commented on #8035
So have -CertificateFilePath and -CertificatePassword  options if it needs to be done another way?

[2021-07-13 15:59] chrisda commented on #8035
It's delegated access that doesn't work with certificate-based authentication. The various methods to identify the certificate work great, as long as the account is in the tenant that you're trying to manage. And, we've determined that you must use an .onmicrosoft.com account in the connect commands. The call-out for this has increased in prominence over the last several months as more people have

[2021-07-13 16:34] jreyes4949 opened #8044 "Adding multiple objects with set-retentioncompliancepolicy -addexchangelocation"
https://docs.microsoft.com/en-us/powershell/module/exchange/set-retentioncompliancepolicy?view=exchange-ps#parameters

I see in the documentation it shows to add multiple users with the following syntax: "Value1","Value2",..."ValueN".

my question is can an array variable or hash table be used instead? if not, is there a limit to the number of items that can be added in a single request or is the

[2021-07-13 16:48] Ofer-Gal commented on #8035
In my script I mostly use the PnP.Powershell. Any way I can use the token I get from Connect-PnPOnline to connect to ExchangeOnlineManagement?
All I need is to rename groups.
It would be great if EVERYTHING was possible with MS graph (Like promised) :-)

[2021-07-13 17:01] chrisda commented on #8035
I don't think so. Your best bet is to open a support case and present your scenario. Report back here if there's anything we can clarify in the documentation.

[2021-07-13 20:19] #8035 closed

[2021-07-13 20:31] LinkMJB commented on #4519
This should absolutely be addressed as its own issue, and goes much further than being a simple documentation issue. This is a huge problem. This creates a false sense of security, that a user was properly removed from accessing a Sharepoint site. @kenwith can this be escalated to appropriate teams?

[2021-07-13 23:13] stuartmaxwell opened #8045 "Set-SafeAttachmentPolicy Enable parameter"
The docs say that the `-Enable` parameter is not used: "This parameter isn't used. To enable or disable a safe attachment policy, use the Enabled parameter on the New-SafeAttachmentRule or Set-SafeAttachmentRule cmdlets."

But I found that unless this parameter was used, the policy showed as being turned off in the UI. When using `-Enable` with the `New-SafeAttachmentRule` or `Set-SafeAttachmentRu

[2021-07-14 07:23] yogkumgit commented on #8021
@get-itips Thank you very much for the contribution and sharing this explanation. @hoang-phan Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 07:23] #8021 closed

[2021-07-14 07:25] yogkumgit commented on #8020
@get-itips Thank you very much for the contribution and sharing this explanation. @Jedi2mk Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 07:26] #8020 closed

[2021-07-14 07:27] yogkumgit commented on #8013
@get-itips Thank you very much for the contribution and sharing this explanation. @Ofer-Gal Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 07:28] #8013 closed

[2021-07-14 07:30] yogkumgit commented on #7990
@get-itips  Thank you very much for the contribution and sharing this explanation. @DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 07:30] #7990 closed

[2021-07-14 07:32] yogkumgit commented on #7655
@get-itips Thank you very much for the contribution and sharing this explanation. @MelanieO365 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 07:32] #7655 closed

[2021-07-14 09:02] dariomws commented on #7339
@chrisda do you have any updates? Thanks!

[2021-07-14 10:20] EngineerHGH opened #8046 "Can't filter with a wildcard at the start of the search string - HOW DUMB IS THAT!"
THIS IS A COMPLAINT...

Dear Microsoft,

You've had 5 years to fix this, one of the most used filter/search requirements needed. We just want to filter something like this for Dynamic Distribution Lists "-like '*@mydomain.com'".

Please can you explain to the community why this is so hard for you to deliver? Don't just say because it's unsupported... It's just code behind the scenes and anything c

[2021-07-14 11:31] mark-tsc opened #8047 "NonEditingAuthor"
The persission DeleteOwnedItems ist missing at the role NonEditingAuthor.

Should be changed from:
_NonEditingAuthor: CreateItems, FolderVisible, ReadItems_
to:
_NonEditingAuthor: CreateItems, FolderVisible, ReadItems, DeleteOwnedItems_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1a893c8-66de-1f8a-f8d2-aa573379e778

[2021-07-14 12:44] schittli opened #8048 "Install-Module MicrosoftTeams: `cannot be installed … because it is not a properly-formed module`"
Hello

It is really a big shame: almost every time we want to install any PowerShell module from Microsoft (mostly related to Azure / O365), we get errors that are due to Microsoft not working properly.

It's especially bad when a Microsoft PowerShell module can't update itself and one has to ask Google and end up following some tutorial from a private blog to get the work done 😢

##### Today, we

[2021-07-14 15:22] #7430 closed

[2021-07-14 17:11] chrisda commented on #8047
@mark-tsc, confirmed.

![image](https://user-images.githubusercontent.com/33166947/125660616-7d9bdbe3-3a8a-42d8-a6f9-a4afb4d3c4f4.png)

Also affects the following topics, so I updated them, too:

- Set-MailboxFolderPermission
- Add-PublicFolderClientPermission
-  Remove-PublicFolderClientPermission

Thanks for the feedback.

Closing

[2021-07-14 17:11] #8047 closed

[2021-07-14 21:00] MikePlumleyMSFT commented on #4519
@LinkMJB, @tseward's comment is correct. Because SharePoint has it's own permission model outside the scope of Teams, it's possible for users to have SharePoint site or direct file permissions that aren't related to the site's relationship with a team. You can limit this by [changing who can share files, folders, and the site[(https://support.microsoft.com/office/94b26e0b-2822-49d4-929a-8455698654

[2021-07-14 22:07] chrisda commented on #8045
@stuartmaxwell, interesting.

In my tenant, which is nothing special, there is no Enable/Enabled/State/Disable/Disabled parameter on Set-SafeAttachmentRule, nor is there any evidence of that parameter in documentation or code. So, that description must have been a simple copy/paste error (ALL other policy/rule cmdlets behave that way).

But, testing returned weird results:

- I created a new Safe

[2021-07-14 22:16] MartinC-at-DS opened #8051 "Missing parameter InlineCredential"
The documentation offers this parameter:
* Connect-ExchangeOnline -InlineCredential

However this is not available:
Connect-ExchangeOnline : A parameter cannot be found that matches parameter name 'InlineCredential'.
At line:1 char:24
+ Connect-ExchangeOnline -InlineCredential

ExchangeOnlineManagement  was installed today

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-07-14 22:19] chrisda commented on #8051
@MartinC-at-DS, are you using PowerShell 7? That parameter is only available in the EXO V2 module in PowerShell 7.

[2021-07-14 22:53] chrisda commented on #8033
@NotAdam, I found a vast list of possible EventType values in code, and I script-o-matically threw them at the EventType parameter. I updated the topic with any value that didn't return an error.

This list is identical to the list of values that was already documented in  [Get-MailDetailATPReport](https://docs.microsoft.com/en-us/powershell/module/exchange/get-maildetailatpreport). Of course, my

[2021-07-14 22:53] #8033 closed

[2021-07-14 22:54] MartinC-at-DS commented on #8051
No I wasn't, that would explain the behaviour I was experiencing.
I can see it is well described in the docs, unfortunately I had jumped straight to using an example.
I'll read the docs more carefully in future :)

[2021-07-14 23:09] chrisda commented on #8051
OK. Thanks for the feedback.

Closing

[2021-07-14 23:09] #8051 closed

[2021-07-14 23:13] chrisda commented on #8046
@EngineerHGH, I remember ~ 10+ years ago when this behavior was taken away. As I recall, the leading \* was too resource intensive in the datacenters and was negatively affecting performance.

It doesn't ease the pain, but that's why you can't lead with an \* in filters in the cloud. It still works fine in on-premises Exchange environments.

[2021-07-14 23:19] chrisda commented on #7028
I'm updating the parameter description in the topic with standard boilerplate for "available in this environment but doesn't work":

If this isn't quite right, someone else can tweak as appropriate.

Thanks for the Feedback.

(Finally) Closing

[2021-07-14 23:19] #7028 closed

[2021-07-14 23:47] jreed5 opened #8053 "-whatif flag in the New-ApplicationAccessPolicy cmdlet"
If the -whatif flag isn't usable in the New-ApplicationAccessPolicy cmdlet, then this needs to be notated in big, bold fonts. It really needs to be removed from the cmdlet command options as well though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47ca7d5-2598-0c06-03fd-854f94cf6bbe
* Version Independent ID: a57408

[2021-07-15 01:42] stuartmaxwell commented on #8045
Hi @chrisda - try this:

`get-help set-safeattachmentpolicy`

You can see in the help text that there is definitely an `-Enable` parameter:

[code]

The problem is that the docs say that the parameter isn't used, but in my testing you **need** to use it to enable the policy from PowerShell.

[2021-07-15 12:57] farzadtehranian opened #8056 "Identity"
What is Identity, how to create those?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f193d2b-d756-e08c-1770-03820c9561c9
* Version Independent ID: fd69e6c8-f461-dd78-cfaa-2426d1112283
* Content: [New-CsTeamsNetworkRoamingPolicy (SkypeForBusiness)](https://docs.microsoft.com/en-us/powershell/modu

[2021-07-15 14:01] davidgarciaMontreal opened #8057 "Connect-ExchangeOnline Timeout when behind a firewall"
[Enter feedback here]
My team is accessing the Exchange Online with powershell in our corporate server which is behind a firewall. However there is one undocumented IP address being used: 10.140.134.14 and we'd like confirmation from Microsoft to confirm that this is indeed being used by powershell .

The following rules have been opened as per following documentation [0365 ref Link](https://docs.

[2021-07-15 15:29] bmkaiser opened #8058 "Unauthorized Error When Using Get-EXORecipientPermission"
After activating my **Exchange Administrator** Azure AD role in Privileged Identity Management, I cannot use `Get-EXORecipientPermission`. I get an error that I am not authorized. If I use the non-EXO version of the cmdlet, it functions correctly.

I'm using the most recent version of the Exchange Online Management module (version 2.0.5). The screenshot below is for Windows PowerShell 5.1, but the

[2021-07-15 16:03] chrisda commented on #6982
@N4v41, at this point, your best bet is to open a support case so the issue gets in front of engineers in the product team.  Sorry it took so long to respond.

Report any of your findings back here if there's anything we need to update in the documentation.

Thanks for the feedback.

Closing

[2021-07-15 16:03] #6982 closed

[2021-07-15 16:10] chrisda commented on #7478
Known issue that the parameter description is blank.

Thanks for the feedback.

Closing

[2021-07-15 16:10] #7478 closed

[2021-07-15 16:11] chrisda commented on #7541
Known issue that the parameter descriptions are blank.

Thanks for the feedback.

Closing

[2021-07-15 16:11] #7541 closed

[2021-07-15 16:17] chrisda commented on #7559
@agowa338, I'm sorry that the customer had a previous negative experience with Microsoft Support, but the best way forward is for them to open a support case to get to the bottom of what's going on AND to see if updates to the documentation are required.

Manually loading the snap-in is always available, but we HIGHLY do not recommend it as it completely bypasses role-based access control (RBAC),

[2021-07-15 16:17] #7559 closed

[2021-07-15 16:30] chrisda commented on #7666
Empty parameter descriptions are a known issue.

Thanks for the feedback.

Closing

[2021-07-15 16:30] #7666 closed

[2021-07-15 16:36] chrisda commented on #8001
I'm closing this issue due to lack of response. Feel free to re-open as necessary.

I suspect this is a basic RBAC issue or possibly the cmdlets haven't been rolled out 100% worldwide yet (Private Preview or Public Preview?).

Thanks for the feedback.

Closing

[2021-07-15 16:36] #8001 closed

[2021-07-15 17:25] chrisda commented on #8058
@bmkaiser, send email to exocmdletpreview[at]service[dot]microsoft[dot]com.

Be sure to include the log files in your email message. To generate the log files, replace <Path to store log file> with the output folder you want, and run the following command:

[code]

Or, you can open a support case (v2.0.5 of the module is in full mainstream support).

[2021-07-15 17:29] chrisda commented on #8057
@davidgarciaMontreal, anything in 10.0.0.0 to 10.255.255.255 is part of the Class A private IP range and unroutable on the internet.

So is 10.140.134.14 some kind of NAT translation of a public IP on your network?

[2021-07-15 17:41] bmkaiser commented on #8058
Thank you, @chrisda. I've just tried to replicate the issue and found it's no longer occurring. If it occurs again, I'll be sure to follow your advice for log capture and reporting.

[2021-07-15 17:41] #8058 closed

[2021-07-15 18:01] davidgarciaMontreal commented on #8057
Hello @chrisda ,
Yes, it is a private IP but I dont think is in our corporate network for the following reason:  I took a wireshark trace behind our corporate VPN and see this private IP 10.140.134.14 during the call to ```Connect-ExchangeOnline -Credential $UserCredential```. I also took another wireshark trace when I'm off the corporate VPN and the same private IP is shown in the traces only whe

[2021-07-15 18:12] davidgarciaMontreal commented on #8057
Hello again @chrisda,
I am not able to upload the wireshark trace to github. Please let me know if you have any ftp server where I could upload it.
BR David

[2021-07-15 18:23] chrisda commented on #8045
@stuartmaxwell, I see what's going on now.

You use the [Enable-SafeAttachmentRule](https://docs.microsoft.com/powershell/module/exchange/enable-safeattachmentrule) and [Disable-SafeAttachmentRule](https://docs.microsoft.com/powershell/module/exchange/disable-safeattachmentrule) cmdlets to enable/disable the policy in the UI (the **complete** policy, which is a combination of the policy and the ru

[2021-07-15 19:01] davidgarciaMontreal commented on #8057
hi @chrisda,
I see that o365 is hosted on the Azure services. Could it be that this module is created a VPN tunnel to the private IP within the Azure cloud?
BR David

[2021-07-15 19:04] chrisda commented on #8053
@jreed5, the topics on the web are also used for help on the command line, where all formatting goes away.

The only words in the description of WhatIf are:

WhatIf and Confirm area WindowsPowerShell thing, and are included on every type of cmdlet except Get\-.

[2021-07-15 19:41] gasperj opened #8062 "Delimiter to denote relative path to folder"
The examples use a back slash ( "\" ) as the path delimiter. Those result in "Set-PnPFolderPermission: File Note Found." error.
If is use a forward slash as the path delimiter ( "/" ) the command completes successfully.

PS R:\> Set-PnPFolderPermission -List $doclib -Identity "$doclib\$user" -Group 'MyGroup_Add' -AddRole 'Add-Only'
Set-PnPFolderPermission: File Not Found.
PS R:\> Set-PnPFolderPerm

[2021-07-16 00:30] 273Kelvin opened #8063 "Add-PublicFolderClientPermission"
On the Website Page, the documented permissions for the NonEditingAuthor Role for Add-PublicFolderClientPermission are: CreateItems, DeleteOwnedItems, FolderVisible, ReadItems.

However, in powershell if I connect a session to Exchange in the cloud and type  get-help Add-PublicFolderClientPermission -Detailed, then the documented permissions for the NonEditingAuthor Role for Add-PublicFolderClient

[2021-07-16 08:08] mibreazu opened #8064 "Update -SenderIpAddresses CIDR IP description"
“CIDR IP: Valid subnet mask values are /24 through /32. ”

The previous line needs to be added as subnets  /19 to /23 will not be accepted as valid subnets masks in the connectors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0730732-c585-4e29-a923-a1b5c9fb5bbb
* Version Independent ID: 66a7125a-149a-e485-e10d-a745ff

[2021-07-16 08:09] mibreazu opened #8065 "Update -SenderIpAddresses CIDR IP description"
“CIDR IP: Valid subnet mask values are /24 through /32. ”

The previous line needs to be added as subnets  /19 to /23 will not be accepted as valid subnets masks in the connectors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0730732-c585-4e29-a923-a1b5c9fb5bbb
* Version Independent ID: 66a7125a-149a-e485-e10d-a745ff

[2021-07-16 14:49] gpriest-github opened #8066 "Teams cmdlets not recognized as the name of a cmdlet"
[code]

**Desired Behaviour**

The command will complete as documented in the Cisco Documentation:

https://www.cisco.com/c/en/us/td/docs/voice_ip_comm/cloudCollaboration/spark/hybridservices/calendarservice/cmgt_b_deploy-spark-hybrid-calendar-service/cmgt_b_deploy-spark-hybrid-calendar-service_chapter_0111.html

**Actual Behaviour**

When running cmdlet's New-CsVideoInteropServiceProvider command

[2021-07-16 16:10] chrisda commented on #8063
@273Kelvin, the topics on the web are always going to be the most up-to-date. There's nothing we can do about that.

Those topics are used for help at the command line, but they need to be converted into XML, combined into the Help-* .dll.XML files, checked back into code, and then (for the cloud) distributed to all the datacenters.

There's really nothing we can do about the lag.

[2021-07-16 16:13] chrisda commented on #8057
@davidgarciaMontreal, I have no idea. Your best bet is to open a support case about this.

[2021-07-16 16:22] davidgarciaMontreal commented on #8057
@chrisda , the problem is with the powershell module ExchangeOnlineManagement. Would you please provide a link where I could open the support case?
BR David

Import-Module ExchangeOnlineManagement

[2021-07-16 16:32] chrisda commented on #8057
Two different and separate avenues:

- Send an email to exocmdletpreview[at]service[dot]microsoft[dot]com.

  Be sure to include the log files in your email message. To generate the log files, replace <Path to store log file> with the output folder you want, and run the following command:

[code]

  I'm not entirely convinced this is an EXO V2 module issue. Certainly nothing to do with EXO V2 modu

[2021-07-16 16:54] davidgarciaMontreal commented on #8057
@chrisda , The reason it seems to me this is relegated to documentation is that in order to use ExchangeOnlineManagement, there is no online references as to which FQDNs need to be opened when powershell is used behind the firewall.
I tried using to collect the logs but the call keeps hanging, see below.
[code]

[2021-07-16 18:09] DEberhardt commented on #7989
I should be on v2.3.1 - never updated since the TimeZone issue was fixed

[code]

[2021-07-16 19:31] jimbobmcgee opened #8068 "Verification of RawCanonicalName as filterable attribute"
Can someone clarify the documentation regarding the filterable property, `RawCanonicalName`?  The documentation suggests that wildcards are accepted here, but `canonicalName` is a *constructed attribute* within AD, which I assume means it is not stored or indexed within AD, but generated on the fly.

Consider...

[code]

Based on the documentation, the above *might* be considered valid syntax for

[2021-07-17 00:27] chrisda commented on #8065
@mibreazu, I'm closing this as a duplicate of #8064.

[2021-07-17 00:27] #8065 closed

[2021-07-17 00:31] chrisda commented on #8064
@mibreazu, I updated the parameter in New-InboundConnector and Set-OutboundConnector with the following information:

Thanks for the feedback.

Closing

[2021-07-17 00:31] #8064 closed

[2021-07-18 23:30] 273Kelvin commented on #8063
Thanks Chris.

On a related matter regarding Add-PublicFolderClientPermission, the webpage documentation for the – AccessRight Parameter says You can specify individual folder permissions or roles, which are combinations of permissions. You can specify multiple permissions and roles separated by commas.

When I use,
$Mypermissions = “CreateItems, FolderVisible”
Add-PublicFolderClientPermission -Id

[2021-07-19 02:31] stuartmaxwell commented on #8045
Hi again @chrisda

Thanks for pointing out the `Enable-SafeAttachmentRule` and `Disable-SafeAttachmentRule` cmdlets and updating the docs to reference them. But I think I confused the issues a bit and wanted to clarify a couple of points to show exactly why the docs are still incorrect after the change you have made.

The first point is the terminology. This is a bit confusing and it was only afte

[2021-07-19 20:05] cablechewer opened #8074 "Limits on Excluded domains and senders?"
Are there limits on the number of Excluded Senders or Excluded domains?  If so can we get them documented in the description of each of these parameters of the command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15695a77-5d00-89d9-fba9-74de36ffd4cf
* Version Independent ID: 0e0863e8-82e8-0709-4204-bb406266b2f9
* Co

[2021-07-19 20:50] sparkitect opened #8075 "Not working for Private Channel sites"
When using this cmdlet to apply a Site Design to a SharePoint site that was automatically created for a Private Channel in Teams, absolutely nothing happens :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f214cc0-a9b0-8a5a-9bb0-1ad59268a4ba
* Version Independent ID: 449d38c8-f0c8-e524-c4db-961e80fb80fc
* Content: [I

[2021-07-19 23:09] chrisda commented on #8045
@stuartmaxwell, everything you said is correct. Fundamentally, here's how it all breaks down:

- `-Enable $true` on New/Set-SafeAttachmentPolicy is required for recognition of the Action parameter value. If  `-Enable $false` (the default value), the value of Action is ignored.
- `Enable $false` on New/Set-SafeAttachmentPolicy corresponds to the **Off** value for **Safe Attachments unknown malware

[2021-07-19 23:35] stuartmaxwell commented on #8045
Thanks @chrisda  - this was a useful exercise!

[2021-07-20 00:09] chrisda commented on #8063
@273Kelvin, it looks like a simple formatting issue. Quotes around each value works:

[code]

Or, the parameter value without quotes also works: `-AccessRights ReadItems,CreateItems,FolderVisible`.

[2021-07-20 00:28] chrisda commented on #8074
@cablechewer, according to [regular content](https://docs.microsoft.com/microsoft-365/security/office-365-security/set-up-anti-phishing-policies#impersonation-settings-in-anti-phishing-policies-in-microsoft-defender-for-office-365), the limit is approx. 1000 entries per list.

I updated the parameter descriptions in New- and Set- accordingly.

Thanks for the feedback.

Closing

[2021-07-20 00:28] #8074 closed

[2021-07-20 07:47] andikrueger opened #8078 "Execute-AzureADLabelSync: Description is not entirely correct & clarification needed"
The documentation for Execute-AzureADLabelSync states:

[code]

Which is not entirely correct. I did some testing with newly created tenants and I'm not able to enable sensitivity labels for Groups and SharePoint Sites as long as I did not run the cmdLet.

Furthermore running `Execure-AzureAdLabelSync` is required per this [docs article "How to enable sensitivity labels for containers and synchron

[2021-07-20 09:28] LPopov17 opened #8079 "Set-SPOSite with -ConditionalAccessPolicy throws error AuthContextStrength does not exist"
Using Set-SPOSite with -ConditionalAccessPolicy throws an error: "**_Set-SPOSite : Field or property "AuthContextStrength" does not exist"_**

Examples

Set-SPOSite -Identity Sitename -ConditionalAccessPolicy AllowLimitedAccess

This used to work for the past years without any problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-07-20 19:09] PeteA52 opened #8082 "Improper apostrophe handling in Get-EXORecipient -Filter"
`Get-EXORecipient -Filter "displayName -eq 'O''Brien, Laurie L'"` fails with

Get-EXORecipient : The numbers of operators and operands don't match, please modify your filter.

Get-Recipient with the same filter works as expected.

[2021-07-20 22:14] chrisda commented on #8078
@andikrueger, I believe you. I'm told that if you need to use the Execute-AzureADLabelSync cmdlet and/or the label sync takes more than 24 hours, you should open a support case.

Adding @cabailey for visibility.

[2021-07-21 07:55] gpriest-github commented on #8066
I've had no feedback on this I would like to know at least what the next steps are. I've already logged an MS Support case, who simply pointed me at this article.

[2021-07-21 12:33] #8045 closed

[2021-07-21 12:36] yogkumgit commented on #8063
@273Kelvin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-21 12:36] #8063 closed

[2021-07-21 12:45] yogkumgit commented on #8005
@get-itips

[2021-07-21 18:15] crzelak opened #8085 "Examples use incorrect slash character for -Identity"
The examples on the docs page use the wrong slash character in the -Identity parameters. Should have forward slashes.

Currently: Set-PnPFolderPermission -List 'Shared Documents' -Identity 'Shared Documents\Folder' -User 'user@contoso.com' -AddRole 'Contribute'

Should be: Set-PnPFolderPermission -List 'Shared Documents' -Identity 'Shared Documents/Folder' -User 'user@contoso.com' -AddRole 'Contri

[2021-07-21 18:22] chrisda commented on #8082
@PeteA52 I recommend one or both of the following actions:
- Report an issue at `exocmdletpreview[at]service[dot]microsoft[dot]com`, be sure to include the log files in your email message. To generate the log files, replace \<Path to store log file\> with the output folder you want, and run the following command:

[code]

- Open a support case.

[2021-07-21 18:29] robinmalik opened #8086 "Get-Team unreliable / returning incomplete results"
Hi,

We have multiple issues with the Get-Team cmdlet in the MicrosoftTeams module (v2.3.0). Like many organisations, we're programmatically creating Teams based on organisational data (e.g. one Team to support one Dept/Module/some other business unit).

However, Get-Team often fails to return Teams that we have previously created (and do still exist in Microsoft-land). This makes the data untrust

[2021-07-21 18:34] chrisda commented on #8068
@jimbobmcgee, fundamentally, is your question about finding members of dynamic distribution groups? That is explained [here](https://docs.microsoft.com/exchange/recipients/dynamic-distribution-groups/view-dynamic-distribution-group-members):

[code]

A few years ago, testing revealed that the _RawCanonicalName_ property was accepted (that is, did not generate an error) by the  RecipientFilter para

[2021-07-21 18:35] chrisda commented on #8046
Closing due to lack of response and no actionable outcomes for documentation.

[2021-07-21 18:35] #8046 closed

[2021-07-21 18:43] chrisda commented on #8044
@jreyes4949, the parameter Type value is MultiValuedProperty. This means a lot of clear, specific things in Exchange Online PowerShell, but not so much in Security & Compliance Center PowerShell, other than the fact that you can enter multiple values separated by commas.

To try to answer your specific questions:

- I doubt you can use an array variable or hash table. I'm sure you can use a text f

[2021-07-21 18:44] chrisda commented on #8038
Closing due to lack of response.

Thanks for the feedback.

[2021-07-21 18:44] #8038 closed

[2021-07-21 18:45] chrisda commented on #8026
Closing due to lack of response.

Thanks for the feedback

[2021-07-21 18:45] #8026 closed

[2021-07-21 18:48] chrisda commented on #7078
#7208 was fixed and closed (the parameter is available in Exchange Online PowerShell, but it doesn't work, so the parameter is effectively on-premises Exchange only).

Thanks for the feedback.

Closing

[2021-07-21 18:48] #7078 closed

[2021-07-21 18:54] js-ware commented on #8086
It isn't just Teams powershell Get-Teams, I'm seeing this problem in the Exchange Online V2 powershell module with Get-UnifiedGroup.  Even running a simple (Get-UnifiedGroup -ResultSize unlimited).count command to get the total number of groups results in wildly different numbers, from a few hundred to a few thousand.  I'm also seeing my session token timing out very frequently, every few minutes,

[2021-07-21 19:02] chrisda commented on #6760
I removed the statement about wildcards being supported from the parameter description.

Thanks for the feedback.

Closing

[2021-07-21 19:02] #6760 closed

[2021-07-21 20:36] chrisda commented on #8023
Closing due to lack of response.

Thanks for the feedback.

[2021-07-21 20:36] #8023 closed

[2021-07-21 21:24] jimbobmcgee commented on #8068
Hi @chrisda; thanks for looking in...

No, my question is about building a dynamic distribution group comprising users/mailboxes in two (or more) separate OUs.  The *RawCanonicalName* property looked like the most likely approach.

So far, I've considered...

 1. *Passing a `string[]` to `Set-DynamicDistributionGroup -RecipientContainer`*
     This obviously fails because `-RecipientContainer` is

[2021-07-22 04:00] BenHagueNZ opened #8090 "Macros not filled in correctly"
Both -SiteExternalSharingControlType
{{ Fill SiteExternalSharingControlType Description }} and
 -SqlAssetCondition
{{ Fill SqlAssetCondition Description }}
look like they should be doing some sort of macro expansion that hasn't worked correctly.
![Screenshot 2021-07-22 155934](https://user-images.githubusercontent.com/82684093/126588359-fa188544-3f80-418d-8c73-30bfca9dc2d7.png)

[2021-07-22 05:45] yogkumgit commented on #8082
@PeteA52 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We

[2021-07-22 05:45] #8082 closed

[2021-07-22 05:50] yogkumgit commented on #8044
@jreyes4949 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-22 05:50] #8044 closed

[2021-07-22 07:06] yannara opened #8091 "cmdlet / module is not there anymore"
PS C:\Windows\system32> Import-Module ExchangeOnlineManagement
Import-Module : The specified module 'ExchangeOnlineManagement' was not loaded because no valid module file was found i
n any module directory.
At line:1 char:1
+ Import-Module ExchangeOnlineManagement
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ResourceUnavailable: (ExchangeOnlineManagement:String) [Import-M

[2021-07-22 12:53] Bart-Hoofd opened #8093 "-DisplayName and -MailNickName do not accept non-URL characters"
The -DisplayName and -MailNickname parameters for Get-team do not accept non-URL characters (such as &); instead they throw the below error:

_Get-Team -DisplayName 'String containing an & in it'_
will result in:
_Get-Team : Error occurred while executing
Code: BadRequest
Message: There is an unterminated string literal at position 35 in '"displayName:String containing an '._

When converting the

[2021-07-22 13:25] Surionneke opened #8094 "Wrong code example Get-PnPUnifiedAuditLog"
Shouldn't StartTime be smaller then EndTime?

Get-PnPUnifiedAuditLog -ContentType SharePoint -StartTime (Get-Date).AddDays(-2) -EndTime (Get-Date).AddDays(-1)

instead of

Get-PnPUnifiedAuditLog -ContentType SharePoint -StartTime (Get-Date).AddDays(-1) -EndTime (Get-Date).AddDays(-2)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-07-22 15:12] chrisda commented on #8091
@yannara, is the EXO V2 module installed per <https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#install-and-maintain-the-exo-v2-module>?

[2021-07-22 15:28] pagejustin opened #8095 "Description is inaccurate for SharePoint"
The User Profile Service in SharePoint dictates what photo is displayed in SharePoint.

While there may be options to sync the services, the SP UPS can become disconnected and using the set/remove commands in EXO doesn't propagate the changes to SharePoint.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-07-22 16:59] chrisda commented on #8068
@jimbobmcgee:

- As you can see from the linked pull request, I corrected/updated the topic <https://docs.microsoft.com/exchange/recipients/dynamic-distribution-groups/view-dynamic-distribution-group-members> with the information you provided.
- For the goal of creating a DDG with multiple OU's as filters, have you considered using a normal distribution group with multiple DDGs as members, each us

[2021-07-22 17:06] chrisda commented on #8095
@pagejustin, I presume this issue also affects Add-UserPhoto?

Do you have any specific guidance about what to say and where to say it within the topic?

[2021-07-22 17:10] get-itips commented on #8031
Hello @ghrabawy how are you? hope you are doing good.
Here, we are limited to documentation changes, improvements, and fixes.
Anyway, tried to reproduce but couldn't, please be sure to be running the last version of the Teams PowerShell module.
Thanks

[2021-07-22 17:23] get-itips commented on #8037
Hello @kch2001 how are you? Hope you are doing good 👍

In your description, you mentioned example 4, however, you included the cmdlet example from Example 3. The cmdlet in example 4 is

`Grant-CsOnlineVoiceRoutingPolicy -PolicyName "RedmondOnlineVoiceRoutingPolicy" -Global`

Please correct me if I misunderstood you in any way,

Thank you

[2021-07-22 17:48] get-itips commented on #8041
Hello @rwkt how are you?
I checked to see if we needed to adjust the article, however, I could reproduce it, **the cmdlet is still part of the preview module only** (not the General Availability), I will try to pass this information on.
Thanks for your feedback,

[2021-07-22 18:22] jimbobmcgee commented on #8068
Thanks @chrisda.

Yes, that looks fine.

Was hoping to avoid so as not to confuse my end-users with more lists than necessary, but yes, that is where I'll probably have to go.

Appreciated, but no-one's going to foot the bill for that, for me, which is why I was going the route of asking whether the documentation was known to be correct.

As it stands, there is simply no way for me to test without

[2021-07-22 19:44] dfsaqwe opened #8100 "New-MigrationBatch: A parameter cannot be found that matches parameter name 'AllowIncrementalSyncs'"
Attempting to run batch with this flag, get error:

A parameter cannot be found that matches parameter name 'AllowIncrementalSyncs'.
    + CategoryInfo          : InvalidArgument: (:) [New-MigrationBatch], ParameterBindingException
    + FullyQualifiedErrorId : NamedParameterNotFound,New-MigrationBatch
    + PSComputerName        : outlook.office365.com

Please remove if not valid.

---
#### Docum

[2021-07-23 08:17] kyokujitsu opened #8102 "CsTeamsMessagingPolicy -AllowVideoMessages"
I've spotted a new switch with no documentation in CsTeamsMessagingPolicy. I suspect it'll allow video messages, is there further information available?

BR

[2021-07-23 11:53] Bart-Hoofd opened #8103 "Preview notification of parameter -Template"
The -Template parameter is no longer in preview since at least PowerShell v1.1.6. Update of the documentation to reflect that would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fff5e98-436e-f79c-e176-767f8de772e5
* Version Independent ID: b3377099-854a-50d0-0fe1-bbdd7ddec332
* Content: [New-Team (Mic

[2021-07-23 12:34] get-itips commented on #8048
Hello @schittli Thomas, how are you? Hope you are doing good.
To check if we need to adjust any documentation, I tried to reproduce it but I could not. Both with GA and Public Preview versions. From the cmdlet you included I could guess the GA version was being installed, did you use Ps 7 or 5.1?
Thanks

[2021-07-23 12:43] pagejustin commented on #8095
Specifically, our tenant is having a conflict with the process documented here: https://support.microsoft.com/en-us/office/information-about-profile-picture-synchronization-in-microsoft-365-20594d76-d054-4af4-a660-401133e3d48a.

The SP UPS is not retrieving the photo from EXO so any images hosted through EXO are different from the photos hosted from the SP UPS. While they should be the same, we ha

[2021-07-23 12:54] get-itips commented on #8056
Hello @farzadtehranian how are you? Hope you are doing good.
The identity is the _Unique identifier of the policy_ (to be created), I'll make a correction to the documentation.
Let me know if I understood you well.
Thanks

[2021-07-23 12:58] get-itips commented on #8062
Hello @gasperj Joe,

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from t

[2021-07-23 13:47] get-itips commented on #8066
Hello @gpriest-github how are you?
I tried to reproduce to see if we needed to adjust any documentation but I could not, both with GA and Public Preview versions.
My recommendations would be: be sure to be running only one version of the Teams Ps module (also check you have not still SfBOnline module installed)
Hope this information helps you.

[2021-07-23 14:02] gpriest-github commented on #8066
I can confirm that the SkypeForBusiness module isn't installed. Are there any particular permissions required to run this module command - for example Global Admin?

[code]

[2021-07-23 14:17] get-itips commented on #8066
@gpriest-github Will make some tests to try to confirm, but I could guess Teams Administrator as a minimum, what role are you assigned to? Thanks

[2021-07-23 14:20] gpriest-github commented on #8066
This is the confusing thing. I have tried to do this in my test tenant and the command works successfully as Teams Admin, but in my production tenant as Teams Admin I receive the error. I've logged a call with MS Premier support and they are pushing me down the "Oh, it's because you're not a GA", which I don't believe because I have it working in the lab. I'm at an impasse with support until I rep

[2021-07-23 16:22] PsychoData opened #8106 "Unclear API Permissions needed"
The **AccessTokens** parameter section is unclear. Is this to authenticate as a user? as an App?

Depending on what kind of authentication - you could add some of the permissions requires as either Delegated or Application.

Additionally, at one point it says "add all of the listed permissions" which is again unclear if you are trying to setup an Application to do this, or you are not very familia

[2021-07-23 16:25] get-itips commented on #8066
@gpriest-github I made some tests, tried to use the cmdlet with a Teams Administrator but couldn't.

[2021-07-23 17:09] DEberhardt opened #8107 "Support for Announcement missing"
Hello,

Noticed that the configuration of a MenuOption for Announcement is not yet documented. Reverse-engineering from a configured AutoAttendant has led me to try creating one with New-CsAutoAttendantMenuOption and I found a path:
- Parameter Action, Value `Announcement` missing
- Example for Announcement missing
- Parameter Prompt (required when Parameter Action is Announcement)

Since it is fr

[2021-07-23 18:31] Bart-Hoofd commented on #7119
I had exactly the same issue, PowerShell 5.1 and Teams Cmdlets v2.3.1. After adding my own account as an owner to the Team, the error was resolved.

[2021-07-23 18:51] DEberhardt commented on #8107
PR is in: https://github.com/MicrosoftDocs/office-docs-powershell/pull/8108

[2021-07-23 19:40] akt2006 opened #8109 "Error in Connect-ExchangeOnline -AppId <%App_id%> -CertificateFilePath "C:\users\navin\Documents\TestCert.pfx" -Organization "contoso.onmicrosoft.com" command"
When try to run the Connect-ExchangeOnline -AppId <%App_id%> -CertificateFilePath "C:\users\navin\Documents\TestCert.pfx" -Organization "contoso.onmicrosoft.com" command getting following error.

New-ExoPSSession : Failed to load the Certificate, this can be because of any of the following reasons.
	1. Certificate file referred by CertificateFilePath is not a valid Certificate file.
	2. Missing or

[2021-07-23 20:30] get-itips commented on #8086
Hello @robinmalik Robin, how are you? Hope you are doing good. 👍
I read and analyzed your very detailed post, thanks, however, here, we are limited to documentation fixes and improvements, I will try to pass this on to the team behind the module.
Thanks

[2021-07-23 21:21] robinmalik commented on #8086
Hi, thanks for the reply. I had noticed that some technical support was still given in this repo, so decided to try my luck as I've not managed to get any help from other Microsoft support areas so far. Hopefully you can reach the right people, even if it's an acknowledgement that this is a known issue, or by design (to drop requests when under overloaded).

[2021-07-24 02:03] chrisda commented on #8109
@akt2006, when you use CertificateFilePath, you also need to use CertificatePassword.

See [App-only authentication for unattended scripts in the EXO V2 module](https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2).

[2021-07-24 12:23] tseward commented on #8075
This isn't supported for Private Channel sites.

In general, Private Channel sites should be kept "hands off". Any setting changes, permissions included, should be done via Teams only. The site only serves as a document storage location for that particular Private Channel.

[2021-07-24 21:15] kerstinshields opened #8110 "EVERYTIHNG MS BUILDS IS GENIUS. EVERYTHING THEY CREATE TO TRY AND TRAIN YOU TO USE IT IS APPPAAAAAUUUUUUULLLLLLLINNNNNNNGGGGGGGGG"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05b23d72-33ed-a6a1-a442-a5e5cf039f9f
* Version Independent ID: 4247cf37-3667-2007-7251-46ed80f58ef5
* Content: [Get started with the SharePoint Online Management Shell](https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-online/connect-s

[2021-07-25 16:35] farzadtehranian commented on #8056
  Hello, What? I didn’t understand what you mean. What are you talking about? Would you mind please explain to me?Best Regards,Farzad Tehranian From: Andres Mariano GorzelanySent: Friday, July 23, 2021 1:54 PMTo: MicrosoftDocs/office-docs-powershellCc: FarzadTR; MentionSubject: Re: [MicrosoftDocs/office-docs-powershell] Identity (#8056) Hello @farzadtehranian how are you? Hope you are doing good.T

[2021-07-26 06:23] Edgar81 commented on #8005
Any news on this?

Thank you!

[2021-07-26 08:52] gpriest-github commented on #8066
If this is a requirement of running the cmdlet, can the documentation for this be amended to include that GA permissions are required?

[2021-07-26 10:04] yogkumgit commented on #8110
@kerstinshields Please write your comment and let us know what kind of document update you are suggesting. Thanks

[2021-07-26 10:10] yogkumgit commented on #8031
@get-itips Thank you very much for the contribution and sharing this explanation. @ghrabawy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-26 10:10] #8031 closed

[2021-07-26 10:15] yogkumgit commented on #8062
@get-itips Thank you very much for the contribution and sharing this explanation. @gasperj Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-26 10:15] #8062 closed

[2021-07-26 13:27] get-itips commented on #8066
Hello @gpriest-github how are  you? Made further tests, and I could run the cmdlet if the user has both _Teams Administrator_ &
_Skype for Business Administrator_ roles assigned.

[2021-07-26 13:29] get-itips commented on #8056
Hello @farzadtehranian how are you? You asked what  is identity so I replied that identity is the Unique identifier of the policy (to be created).
Let me know if I understood you well, thank you

[2021-07-26 14:34] gpriest-github commented on #8066
I can confirm that that works. What will be the situation as of next Monday when SkyforBusiness is no longer GA?

[2021-07-26 14:51] joergrenn opened #8111 "Check if user is assigned to a policy or not?"
I can assign and unassign a policy to user with the Grant-CsApplicationAccessPolicy cmdlet.
But how can I check or verify if a policy is currently assigned to a user or not?
Can you please document how that works?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9aec3f1-ac1c-b913-559e-9960755c21de

[2021-07-26 16:44] Ofer-Gal opened #8113 "Microsoft.SharePoint.MigrationTool.PowerShell does not migrate files without major version"
I use Microsoft.SharePoint.MigrationTool.PowerShell to migrate 2013 Library to SPO folder in a library and found out that all the files that did not have a major version, did not migrate.
Is there a flag I should use to make it migrate?

Thank you

[2021-07-26 16:48] get-itips commented on #8085
Hello @crzelak
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that re

[2021-07-26 17:19] chrisda commented on #8100
@dfsaqwe, that parameter is identified as on-premises Exchange only.  I tested in Exchange 2013 CU23, Exchange 2016 CU21, and Exchange 2019 CU10, and it's available.

Are you trying to use it in Exchange Online PowerShell? If you're using Exchange Server, it might be an RBAC problem. See [Find the permissions required to run any Exchange cmdlet](https://docs.microsoft.com/powershell/exchange/find-

[2021-07-26 19:15] sparkitect commented on #8075
What about Columns and Content Types? These are **required** by many customers, for many reasons (e.g. Records Management, Process Automation, etc.) and I'm afraid this will make Private Channels unusable for quite a few of them...

[2021-07-26 20:20] sparkitect commented on #8075
Also, I'm sure it was considered, and is likely way too late, but:
If all that is needed is a 'document storage location' why not create and secure a Document Library in the original site, rather than creating a whole new SharePoint site?

[2021-07-26 20:20] #8075 closed

[2021-07-26 20:33] get-itips commented on #8090
Hello @BenHagueNZ how are you?
-SiteExternalSharingControlType update is on the way, and I am looking for the other parameter description.
Thank you

[2021-07-26 23:20] get-itips commented on #8079
Hello @LPopov17
I could reproduce, however, here, we are limited to documentation fixes and improvements. Will try to pass this on, thanks for the feedback!

[2021-07-27 03:58] iyerusad opened #8115 "Unattended EXO: Example uses local machine rather than current user certificate store"
https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps#step-3-generate-a-self-signed-certificate

I spent a bit amount of time wondering why couldn't get this basic tutorial to work - it was only when I exported the certificate and tested using pfx file that I realized the command wasn't seeing the certificate (that was located in my localmachine cert sto

[2021-07-27 05:38] mozilla0 opened #8116 "Error: Set-MalwareFilterPolicy doesn't have a parameter EnableFileFilter"
There's an error in the cmdlets (Version 2.0.5) for ExchangeOnlineManagement. In the description page of the cmdlets it's written, that **-EnableFileFilter** give you the chance to enable custom attachments file types filter, but **Set-MailwareFilterPolicy** doesn't recognize the parameter **-EnableFileFilter**

It's written as example 2:
`Set-MalwareFilterPolicy -Identity Default -EnableFileFilte

[2021-07-27 09:31] sloh-ms opened #8117 "The Overview and Introduction pages are nearly identical"
There appear to be two pages that are only slightly different from each other.  Was this an accidental duplication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa03f9b8-7a1f-81e7-e8c2-0286f0cd3ffb
* Version Independent ID: 931924d1-2be2-bc20-41a6-0b86fc65db07
* Content: [Microsoft Teams cmdlet reference](https://doc

[2021-07-27 14:42] aspnet4you commented on #8079
Facing same issue. Set-SPOSite is broken!!

[2021-07-27 16:15] cabailey commented on #8090
Not sure why this was assigned to me - I'm not the owner for PowerShell docs.

[2021-07-27 17:22] #8056 closed

[2021-07-27 17:40] ogagnon96 commented on #8116
It does exactly the same for ExchangeOnlineManagement version 2.0.4, and for the powershell command New-MalwareFilterPolicy for the same 2 versions

[2021-07-27 21:44] get-itips commented on #8090
Hello @BenHagueNZ
You can now see live the `SiteExternalSharingControlType` description both in `New-Label` and `Set-Label`.
About `SqlAssetCondition` I could get information that it will be removed soon from the cmdlet.
Thank you
@yogkumgit please close.

[2021-07-27 22:29] #7989 closed

[2021-07-27 23:25] chrisda commented on #8116
Investigating. The FileTypes parameter is still available, which leads me to believe that EnableFileFilter is now permanently turned on. But I'm attempting to confirm. The removal of EnableFileFilter must have happened rather recently (last confirmed sighting I have is 6/28).

[2021-07-28 05:34] anthonynz opened #8121 "Cannot set protection alert policy following these instructions"
The Set-ProtectionAlert commandlet throws an error no matter which identity format is used.

The documentation says to use GUID, ID or DN - but none of these work.

It always throws an error:
##### WARNING: An unexpected error has occurred and a Watson dump is being generated: There is no rule matching identity '2d161684-8def-403c-9df6-f20c66c64161'

This identity is the immutableID, GUID and Exch

[2021-07-28 08:42] yogkumgit commented on #8090
@get-itips Thank you very much for the contribution and sharing this explanation. @BenHagueNZ Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-28 08:42] #8090 closed

[2021-07-28 16:10] chrisda commented on #8116
@mozilla0, @ogagnon96, I confirmed that the disappearance of the EnableFileFilter parameter was accidental and temporary. It should come back within the next few days.

[2021-07-28 16:23] PM735 opened #8122 "Documentation issue - Supported protocol combinations"
Hello

Trying to create a rule below

**New-ClientAccessRule "test" -Priority 3 -Enabled $false -Action DenyAccess -AnyOfProtocols OutlookWebApp -ExceptAnyOfAuthenticationTypes BasicAuthentication**

Getting the error

**New-ClientAccessRule: Chosen authentication type and protocol combination is invalid. See 'https://go.microsoft.com/fwlink/p/?linkid=869219' for supported combinations.**

BasicAu

[2021-07-28 17:55] ogagnon96 commented on #8116
Thank you !

[2021-07-28 23:09] vellabati opened #8124 "Get-WhiteboardOwners keep returning same results with -ContinuationToken"
[Enter feedback here]
Unable to get the results, calls returning the same results even with ContinuationToken
          $wbo = Get-WhiteboardOwners -Geography Worldwide -ContinuationToken $CT
         $CT = $wbo.continuationToken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8175b620-52d8-8c18-d742-8b0c69437e55
* Vers

[2021-07-28 23:12] vellabati opened #8125 "Get-Whiteboard -UserId throws gateway error"
[Enter feedback here]
In an attempt to find out whiteboard usage in our tenant, i was getting whiteboard for all users and it errored out in the middle with gateway error. I wish there is a flag to return all whiteboards in the tenant and corresponding owners.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8a6935c-013

[2021-07-29 10:02] hyoshioka0128 opened #8126 "Typo "InformationBarrierPolicy"→"New-InformationBarrierPolicy""
![new-informationbarrierpolicy_j](https://user-images.githubusercontent.com/40815708/127472772-7bc46f34-3b51-445c-b984-acb68d367b7c.png)

Link to article:
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/powershell/module/exchange/policy-and-compliance/new-informationbarrierpolicy?view=exchange-ps"

Problem:
What's wrong with the article?
Typo "InformationBarrierPolicy"→"N

[2021-07-29 10:50] yogkumgit commented on #8116
@mozilla0 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-29 10:50] #8116 closed

[2021-07-29 10:52] yogkumgit commented on #8037
@get-itips Thank you very much for the contribution and sharing this explanation. @kch2001 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-29 10:55] yogkumgit commented on #8041
@get-itips Thank you very much for the contribution and sharing this explanation. @rwkt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-29 10:55] #8041 closed

[2021-07-29 10:57] yogkumgit commented on #8048
@get-itips Thank you very much for the contribution and sharing this explanation. @schittli Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-29 11:00] yogkumgit commented on #8066
@get-itips

[2021-07-29 11:02] yogkumgit commented on #8079
@get-itips Thank you very much for the contribution and sharing this explanation. @aspnet4you Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-29 11:02] #8079 closed

[2021-07-29 11:04] yogkumgit commented on #8085
@get-itips Thank you very much for the contribution and sharing this explanation. @crzelak Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2021-07-29 11:04] #8085 closed

[2021-07-29 11:06] yogkumgit commented on #8086
@get-itips Thank you very much for the contribution and sharing this explanation. @robinmalik Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-29 11:16] yogkumgit commented on #8110
@kerstinshields We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2021-07-29 11:18] #8110 closed

[2021-07-29 17:22] chrisda commented on #8121
@anthonynz, I did some testing:

[code]

No errors. It would be highly unusual if the Identity parameter for a cmdlet didn't accept the DN value.

I'm using PowerShell 5.1 on Windows 10 Enterprise V21H1 x64 with EXO V2 module version 2.0.5.

What is your environment?

[2021-07-29 17:55] chrisda commented on #8122
@PM735, checking. This **might** have something to do with the [planned retirement of Basic auth](https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-authentication-and-exchange-online-february-2021-update/ba-p/2111904) and/or [Security Defaults](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults).

That topic is the documentatio

[2021-07-30 13:40] get-itips commented on #8093
Hello @Bart-Hoofd how are you? Hope you are doing good.
Here, we are limited to documentation changes and fixes, is there any special fix you see in the Get-Team article? Otherwise, I would suggest opening your feedback here https://microsoftteams.uservoice.com/ where It can reach the team behind the module.
Thanks for your feedback.

[2021-07-30 13:55] get-itips commented on #8102
Hello @kyokujitsu how are you?
You are right, the parameter is there, however, in the Public Preview of the module, in the GA one it is not there yet.
The documentation will be updated when the parameter goes GA.
Thank you!

[2021-07-30 14:01] get-itips commented on #8103
Hello @Bart-Hoofd I am looking into this. Thanks

[2021-07-30 14:06] get-itips commented on #8107
Hello @DEberhardt David, I guess this will be resolved when your PR is merged ;)

[2021-07-30 17:32] chrisda commented on #8115
@iyerusad, I updated the topic as you described.

Thanks for the feedback.

Closing

[2021-07-30 17:32] #8115 closed

[2021-07-30 21:56] PM735 commented on #8122
Hello

I can confirm that the same issue occurs when I specify ADFSAuthentification instead of BasicAuthentication.
I get the same error that the combination of the protocol and authentication method is not supported.
I can also confirm that the command was tested on two different O365 tenants with default settings and we got the same error.

Is this an error in the documentation or in Exchange Po

[2021-07-31 06:05] PM735 opened #8131 "ActivityBasedAuthenticationTimeoutWithSingleSignOnEnabled - Supported for EXO or not?"
This article says that the parameter below is supported for Exchange Online.

**ActivityBasedAuthenticationTimeoutWithSingleSignOnEnabled**

However another Microsoft article says it is NOT supported for Exchange Online.

<https://support.microsoft.com/topic/description-of-the-activity-based-authentication-timeout-for-owa-in-office-365-0c101e1b-020e-69c1-a0b0-26532d60c0a4>

Which statement is true

[2021-07-31 06:10] PM735 opened #8132 "ActivityBasedAuthenticationTimeoutWithSingleSignOnEnabled - is it supported or not in Exchange Online?"
The articles says that the parameter below is supported for Exchange Online.

**ActivityBasedAuthenticationTimeoutWithSingleSignOnEnabled**

However another Microsoft article says it is NOT supported for Exchange Online.

[https://support.microsoft.com/en-us/topic/description-of-the-activity-based-authentication-timeout-for-owa-in-office-365-0c101e1b-020e-69c1-a0b0-26532d60c0a4](url)

Which statem

[2021-07-31 06:11] #8132 closed

[2021-07-31 06:11] PM735 commented on #8132
Duplicate

[2021-07-31 06:14] PM735 opened #8133 "ActivityBasedAuthenticationTimeoutWithSingleSignOnEnabled incorrect description?"
Quote: "_The ActivityBasedAuthenticationTimeoutWithSingleSignOnEnabled parameter specifies whether to keep single sign-on enabled._"

It seems the description is incorrect ant the parameter rather enables or disables timeout when single sign-on enabled.

Please confirm/correct

[2021-08-02 13:16] robinmalik commented on #8086
@js-ware I think this is throttling related, but the MicrosoftTeams PowerShell module just doesn't expose any of that information/feedback that's actionable.

I can essentially break my tenancy by running `Get-Team` twice within roughly 10 minutes; that is, run it twice and then try doing `Get-Team -DisplayName "xyz"`, nothing is returned even when the Team exists. Infact, if you sit at the comman

[2021-08-02 13:17] #8086 closed

[2021-08-02 13:17] kyokujitsu commented on #8102
Hi @get-itips,
I see, thank you.

[2021-08-02 13:18] #8102 closed

[2021-08-02 20:27] rbishop-etq opened #8135 "Allow filtering of the get- and Remove-PnPFileVersion command"
Currently the command to "Remove-PnPFileVersion" only provides two options: remove file versions one at a time, or remove ALL saved versions of a given file.
I have been able to find no functional method of using filtering inside powershell to only grab all file versions older than a certain date, or a RANGE of versions. Filtering methods such as piping it to "where-object" simply do not function

[2021-08-02 22:29] get-itips commented on #8117
Hello @sloh-ms thanks for your feedback, I am looking into this.

[2021-08-02 22:38] get-itips commented on #8125
Hello @vellabati how are you? Hope you are doing good.
Here, we are limited to documentation changes and fixes, is there any special fix you see to documentation?
Otherwise, and please corrent me if I am wrong, your inquiry looks more suitable to uservoice, please follow here for directions https://support.microsoft.com/en-us/topic/uservoice-pages-430e1a78-e016-472a-a10f-dc2a3df3450a and https://w

[2021-08-03 00:03] get-itips commented on #8124
Hello @vellabati how are you?
I tested this to see if we had to correct any documentation. However I could reproduce, as here we are limited to documentation fixes, will try to pass this on, however, opening a support ticket directly from your tenant would be good. Thanks!

[2021-08-03 12:42] vFrohn opened #8136 "AccessTokens paramters for Teams graph API"
Regarding the paramter "-AccessTokens" when you are asked to "11. Add all the listed permissions."

It would be helpful if it where to say if you need to choose "delegated permissions" or "Application permissions" after du select "Skype and Teams Tenant Admin API"

In my case I used "Delegated Permission" and selected the only one there was: "Access Microsoft Teams and Skype for Business data as t

[2021-08-04 07:36] Mohamad-Attar commented on #7617
Hello @yogkumgit , I can't find the comment, can you please post it again? Thanks in advance

[2021-08-04 10:12] joergrenn commented on #7469
Why has this ticket been closed, although the issue still persists?
I am having the same issue trying to access with a certificate Connect-MicrosoftTeams -TenantId <TenantId> -ApplicationId <ApplicationId> -CertificateThumbprint <CertificateThumbprint>

[2021-08-04 17:36] bijaykush opened #8142 "Microsoft Teams Powershell module 2.3.1 - Get-CSOnlineUser OR Get-CSOnlineApplicationInstance performance degraded after few days"
I have used Microsoft Teams Module 2.3.1 to get the application instances of a tenant in an application. I have built the application in .Net Core using Powershell.exe and deployed it in Azure Virtual Machine.
PS Command: Get-CSOnlineApplicationInstance executed through C# process in powershell.exe.

Issues:
The response time was only 16-17 seconds at the first of deployment. And after a week or 2

[2021-08-04 18:31] pagejustin commented on #8095
I found an article that describes when the photo does sync to SharePoint. A requirement is the affected user must browse to a SharePoint dependent resource. I have verified this with users in our environment.

https://threewill.com/user-photo-sync-behavior-in-office-365/

"The image will never show up until the user whose profile image was changed visits his/her My Site (or any page that shows the

[2021-08-04 19:01] DEberhardt commented on #8107
Closed as #8108  is merged :)

[2021-08-04 19:01] #8107 closed

[2021-08-04 22:39] chrisda commented on #8095
@pagejustin, great! I added the following text to the DESCRIPTION section of **Set-UserPhoto** and **remove-UserPhoto**:

Thanks for the feedback.

Closing (feel free to reopen as necessary).

[2021-08-04 22:39] #8095 closed

[2021-08-05 00:01] chrisda commented on #8133
@PM735 , I updated the descriptions for ActivityBasedAuthenticationTimeoutEnabled, ActivityBasedAuthenticationTimeoutInterval, and ActivityBasedAuthenticationTimeoutWithSingleSignOnEnabled.

Thanks for the feedback.

Closing (feel free to reopen as necessar).

If you want to modify the parameter descriptions yourself, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.

[2021-08-05 00:01] #8133 closed

[2021-08-05 00:04] chrisda commented on #8126
@hyoshioka0128, the fix was made in English. It's only a matter of time before the updated topic is localized into other languages.

 <https://docs.microsoft.com/en-us/powershell/module/exchange/new-informationbarrierpolicy>

[2021-08-05 00:11] chrisda commented on #8053
Nothing left to do.

Closing

[2021-08-05 00:11] #8053 closed

[2021-08-05 00:14] chrisda commented on #8091
Closing due to lack of response.

[2021-08-05 00:14] #8091 closed

[2021-08-05 00:14] chrisda commented on #8100
Closing due to lack of response.

[2021-08-05 00:14] #8100 closed

[2021-08-05 00:16] chrisda commented on #8078
@andikrueger, I'm closing the issue. If you file a support case and the result uncovers and update that we need to make to the documentation, feel free to comment here and/or reopen the issue.

Thanks for the feedback.

[2021-08-05 00:16] #8078 closed

[2021-08-05 00:22] chrisda commented on #8068
@jimbobmcgee, one part I forgot to comment on:

You can always hide the dynamic distribution groups from the GAL so users can see them, and therefore won't be confused by them.

I added the following comment to the RawCanonicalName entry:

I think we're done?

[2021-08-05 06:11] PekkaPek opened #8146 "What does the default language in inbound spam filter translate into?"
Hello

I wonder, what the outcome language is when you set parameter EndUserSpamNotificationLanguage to Default (Set-HostedContentFilterPolicy cmdlet).

[Set-HostedContentFilterPolicy cmdlet](https://docs.microsoft.com/en-us/powershell/module/exchange/set-hostedcontentfilterpolicy?view=exchange-ps) page says that

[Configure anti-spam policies in EOP](https://docs.microsoft.com/en-us/microsoft-365

[2021-08-05 07:55] darwincr opened #8147 "-ExcludeContent Switch doesn't work for Get-CsAutoAttendant"
Why -ExcludeContent Switch doesn't work?

**Get-CsAutoAttendant -Identity $aa.Identity -ExcludeContent**

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8eda0b1-3667-3124-946f-bbc581120725
* Version Independent ID: 450eaa1b-b14b-c248-790e-13eb583e434b
* Content: [Get-CsAutoAttendant (SkypeForBusiness)](https://

[2021-08-05 10:24] yogkumgit commented on #8126
@TinaMcN Please look into it. Thanks

[2021-08-05 10:35] yogkumgit commented on #8093
@Bart-Hoofd Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-08-05 10:35] #8093 closed

[2021-08-05 10:45] yogkumgit commented on #8124
@get-itips Thank you very much for the contribution and sharing this explanation. @vellabati Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2021-08-05 10:45] #8124 closed

[2021-08-05 10:49] yogkumgit commented on #8125
@vellabati  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-08-05 10:49] #8125 closed

[2021-08-05 12:44] Petri-X opened #8148 "You are not permitted to modify parameter: MeetingRecordingExpirationDays"
Hi,
When running the command:
**PS C:\> Set-CsTeamsMeetingPolicy -Identity "Test policy" -MeetingRecordingExpirationDays 2**
We are getting the error:
**You are not permitted to invoke Set-CsTeamsMeetingPolicy with the following parameters:
MeetingRecordingExpirationDays**

This is related to change where Teams meetings recordings are stored into OneDrive instead of Streams. Documentation says not

[2021-08-05 13:30] Petri-X commented on #7188
Would be nice to know how your team is planned to work with the documentation? Is it only when someone is complaining, the documentation is fixed? At the moment there following parameters without any comment for new-csteamsmeetingpolicy:

- AllowCarbonSummary
- AllowMeetingCoach
- AllowMeetingRegistration
- AllowTrackingInReport
- AllowUserToJoinExternalMeeting
- LiveStreamingMode
- MeetingInviteL

[2021-08-05 13:59] JeremyTBradshaw opened #8149 "When will Connect-IPPSSession get -Certificate* parameter support"
I'm hoping to find out if/when Microsoft will add support for app-only, certificate/client credential authentication for Connect-IPPSSession, like has already been added for Connect-ExchangeOnline.  Any ideas on ETA that can be shared here?

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebcb7e5d-c0a

[2021-08-05 16:11] chrisda commented on #8149
@JeremyTBradshaw, nothing to share. Your best bet is to open a support case about this.

[2021-08-05 16:56] chrisda commented on #8146
@PekkaPek, same question asked last year in the repo of that [Configure anti-spam policies](https://docs.microsoft.com/microsoft-365/security/office-365-security/configure-your-spam-filter-policies#configure-end-user-spam-notifications) topic:

 <https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2362>

I updated the _EndUserSpamNotificationLanguage_ parameter description in New-HostedCont

[2021-08-05 16:56] #8146 closed

[2021-08-05 17:01] weyCC81 commented on #3612
#please-open

Please add one of the Attributes, as the FolderId is changing form Mailbox to Mailbox... I am not able to search over multiple Mailbox in a specific Folder.
- FolderPath
- FolderType
- RecoverableItemsFolder

Supported Types:
https://docs.microsoft.com/en-us/microsoft-365/compliance/keyword-queries-and-search-conditions?view=o365-worldwide

[2021-08-05 17:08] chrisda commented on #3612
@weyCC81, all we can do here is fix documentation. I suggest that you open a support case.

[2021-08-05 18:04] jimbobmcgee commented on #8068
@chrisda; I think that's fair.  I'm still trying to get a test audience together to determine whether RawCanonicalName actually works as advertised.  The doc changes are reasonable, though.

Thanks for your time.

[2021-08-05 18:59] TinaMcN commented on #8126
Adding @Soran-M who manages localization of Exchange PowerShell content

[2021-08-05 23:13] hyoshioka0128 commented on #8126
@TinaMcN  - Thanks. It has changed to an untranslated page now..
"https://docs.microsoft.com/ja-jp/powershell/module/exchange/new-informationbarrierpolicy?view=exchange-ps"
![new-informationbarrierpolicy_j](https://user-images.githubusercontent.com/40815708/128432893-71f60ea1-ddc1-4ad7-b076-2815407ac360.png)

[2021-08-05 23:33] TinaMcN commented on #8126
@Soran-M, can you please investigate why the content is appearing in English on the live site.   It is the same for other Exchange powershell topics, and seems to be affecting all languages, not just Japanese.  @hyoshioka0128 thanks for alerting us to that.

[2021-08-06 02:53] PM735 commented on #8131
Hello again,
I had a separate ticket with O365 Support #26876407 and they affirmed that the parameter below is supported and functional in Exchange Online.

ActivityBasedAuthenticationTimeoutWithSingleSignOnEnabled

Thus the change would need to be reversed and rather applied to the article below.

https://support.microsoft.com/topic/description-of-the-activity-based-authentication-timeout-for-owa

[2021-08-06 07:39] LuckyLub opened #8153 "-Confirm switch does not work for Remove-SPOSite and Remove-SPODeletedSite"
In SharePointOnlinePowerShell for the commands `Remove-SPOSite` and `Remove-SPODeletedSite`, the -Confirm switch does not seem to work. When using them I still get prompted for confirmation, similair to not using the switch.

[code]

[2021-08-06 08:12] y5158 commented on #3131
Is issue resolved?

I am also getting the same error: "Set or Remove host tab instance is not allowed."

[2021-08-06 08:22] takagim opened #8154 "Connect-MicrosoftTeams error in Azure function (VS Code)"
I get an error when I run the Connect-MicrosoftTeams command when debugging with VSCode.
An error is output, but the process to O365 can be executed correctly.
Similarly, when the Connect-ExchangeOnline command is executed, no error occurs and the process to O365 can be executed correctly.

Code:
- run.ps1
#$credential = $env:SSF_Credential
#$passcode = $env:SSF_Passcode
$credential = "xxxx@aaaa.o

[2021-08-06 08:26] dariomws commented on #3131
@y5158 set or remove a default tag instance is not allowed yet. You can create a new one from the Teams Admin Center and then use this cmdlet to modify it.

[2021-08-06 08:31] y5158 commented on #3131
If we are not able to modify these default policies (tag:EduStudent, tag:EduFaculty, tag: Default) then why these default policies are shown in the response of cmdlets? Is it glitch?

[2021-08-06 08:39] dariomws commented on #3131
@y5158 my apologies but I don't have that information. Here we are limited to improve docs.microsoft.com.

[2021-08-06 10:07] yogkumgit commented on #8103
@get-itips Thank you very much for the contribution and updating the documentation with PR. @Bart-Hoofd Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-06 10:15] #8068 closed

[2021-08-06 10:20] yogkumgit commented on #8131
@chrisda

[2021-08-06 10:31] yogkumgit commented on #4612
@andikrueger Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team. We proceed here to close it. Thanks for taking out

[2021-08-06 10:34] #4612 closed

[2021-08-06 11:07] #8048 closed

[2021-08-06 11:08] Bart-Hoofd commented on #8103
Hi Yogesh,

Thanks for updating the documentation!

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Yogesh Kumar ***@***.***>
Sent: Friday, 6 August 2021, 12:07
To: MicrosoftDocs/office-docs-powershell
Cc: Bart-Hoofd; Mention
Subject: Re: [MicrosoftDocs/office-docs-powershell] Preview notification of parameter -Template (#8103)

@get-itips<https://emea01.saf

[2021-08-06 11:34] JeremyTBradshaw commented on #8149
Thanks, it was a shot in the dark.

[2021-08-06 15:07] sarollins opened #8156 "Error processing request - Getting members properties"
I'm getting the following error just trying to get the members of this cmdlet

Get-CsOnlineDialInConferencingUser | Get-Member

   TypeName: Deserialized.Microsoft.Rtc.Management.Hosted.Cbd.ConferencingUser

Name                  MemberType   Definition
----                  ----------   ----------
GetType               Method       type GetType()
ToString              Method       string ToString

[2021-08-09 10:21] davidkench opened #8158 "Clarification of Parameter Behaviour"
Following some very useful clarifications provided by Kwame Owusu I would suggest further information would be useful in determining the expected behaviours of a few parameters under the Set-CalendarProcessing cmdlet.  Kwame was able to locate and provide details from <https://techcommunity.microsoft.com/t5/exchange-team-blog/automatic-processing-of-recurring-meeting-requests-with/ba-p/587507>.

I

[2021-08-09 13:02] #8103 closed

[2021-08-09 16:07] get-itips commented on #8113
Hello @Ofer-Gal
I tried to reproduce to see if we need to adjust any doc, but couldn't, can you detail the options used in the Register-SPMTMigration? thanks

[2021-08-09 16:19] get-itips commented on #5238
@tomkau Tom, can you remove the cmdlet from documentation? it is not in the module anymore it seems. thanks

[2021-08-09 16:22] get-itips commented on #6084
Hello @pupara how are you? It seems _cs-CZ_ is still listed as _Turkish (Turkey)_ if you could inform the team @yogkumgit will proceed closing this issue as this is not doc related. Thank you! cc @tiburd

[2021-08-09 17:42] chrisda commented on #8158
@davidkench, sounds good to me. I added what you said with a little editorial license.

<https://github.com/MicrosoftDocs/office-docs-powershell/pull/8161/files>

In the future, you can make changes like this directly in the topic (no need to open a GitHub issue first). See <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2021-08-09 17:42] #8158 closed

[2021-08-09 19:20] Ofer-Gal commented on #8113
Register-SPMTMigration -SPOCredential $Global:SPOCredential -Force -PreserveUserPermissionsForSharePointSource $false
Is there a settings to force all the files? I did not find it
Thank you

[2021-08-09 20:24] get-itips commented on #8113
Is there any entry in the log file about those files not being migrated?
Also be sure to be running the latest version of the spmt module.

[2021-08-09 23:40] DaveClarkey opened #8165 "Get-Team -MailNickName does not return exact value as documented. Works as a filter."
See attached
![Screenshot 2021-08-10 093758](https://user-images.githubusercontent.com/48498285/128787601-34b386a5-36ce-4a49-89df-331a41743da8.jpg)
![Screenshot 2021-08-10 093949](https://user-images.githubusercontent.com/48498285/128787606-c14beaf9-41dc-4ac5-9cfe-65b41c7e2496.jpg)

Documentation: https://docs.microsoft.com/en-us/powershell/module/teams/get-team?view=teams-ps

![Screenshot 2021-08