[2021-01-18 18:13] #7103 closed

[2021-01-18 18:13] anwarmahmood1 commented on #7103
raised in error

[2021-01-18 18:43] get-itips commented on #7047
Hello @EricHindrichsen Eric, how are you? Currently working on adding those articles. Thanks for reporting.

[2021-01-18 20:21] get-itips commented on #5485
Thanks

[2021-01-18 20:50] tseward commented on #7090
@Petri-X documentation error. I submitted a PR for correction.

[2021-01-18 21:03] tseward commented on #7048
@RVAHaver01 OK, so you're asking for a doc improvement, but have you looked at https://docs.microsoft.com/en-us/sharepoint/administration/deploy-azure-sql-managed-instance-with-sharepoint-servers-2016-2019?

[2021-01-18 22:22] RVAHaver01 commented on #7048
Yes I have however that only takes care of the initial run of the PS Config.  If someone would walk thru the complete configuration of SP2019 you would quickly understand what I am talking about.  I think I have found a but with the new-spsite command because it errors if it is the root site but works just fine if it is any other site.  Mount-SPContentDatabase does not work and I have MS Support c

[2021-01-19 06:10] DEWallen opened #7105 "Incorrect documenation"
AccessRules seems to be documented incorrectly... it is simply a duplicate of the item below it

AccessRules: The host names or FQDNs in the certificate's Subject Alternative Name field.
CertificateDomains: The host names or FQDNs in the certificate's Subject Alternative Name field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-01-19 10:50] yogkumgit commented on #7040
@get-itips Thank you very much for the contribution and sharing this explanation. @happywino Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-19 10:50] #7040 closed

[2021-01-19 11:21] yogkumgit commented on #7022
@dariomws Thank you very much for the contribution and sharing this explanation. @ananimesh Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-19 11:21] #7022 closed

[2021-01-19 11:24] yogkumgit commented on #7025
@dariomws Thank you very much for the contribution and sharing this explanation. @exactmike Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-01-19 11:24] #7025 closed

[2021-01-19 11:29] yogkumgit commented on #7028
@dariomws  Thank you very much for the contribution and sharing this explanation. @jonwbstr Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-01-19 11:50] sushilmaurya13 commented on #7085
Hello, I am also getting same error message when run command:
$file = Export-TransportRuleCollection
Set-Content -Path "C:\scripts\Rules.xml" -Value $file.FileData -Encoding Byte

When MS will enable this for GA as per article.
https://docs.microsoft.com/en-us/powershell/module/exchange/import-transportrulecollection?view=exchange-ps

[2021-01-19 12:42] get-itips commented on #6997
@yogkumgit This issue can be closed now. Thanks

[2021-01-19 12:48] get-itips commented on #7058
Hello @DEberhardt David

I use the cmdlet a lot and I do not receive such error, I think the best, in that case, is opening a support ticket in your tenant and ask for help there.

Also, the document you recommend to create/improve is in another repository, so you will have to propose it here https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues

Thanks

[2021-01-19 12:57] DEberhardt commented on #7058
This only happens if you have an existing session to Azure, then try to connect to a different Skype online tenant.

It is a matter of cleanly closing existing sessions

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Tuesday, January 19, 2021 12:49:06 PM
To: MicrosoftDocs/office-docs-powershell <offic

[2021-01-19 13:34] jonwbstr commented on #7028
Okay, I will open a new issue when I have an update since you want to close
this before the ticket I opened 2 weeks ago is still researching this issue
And your in a hurry to close the issue with the documentation.

Maybe you could help move my ticket along instead of sweeping it under the
rug?

On Tue, Jan 19, 2021, 6:30 AM Yogesh Kumar <notifications@github.com> wrote:

[2021-01-19 13:43] jonwbstr commented on #7028
Case #:23544071

I have no trouble reproducing the issue. We have someone saying it works.
I've told you my scenario where it doesn't work.

Can you elaborate on the scenario where it works? So we can help your
colleagues in the support team with this issue. They seem to be having
trouble figuring out why it doesn't work in my scenario.

It's great for the doc to suggest this is helpful in hybrid

[2021-01-19 15:47] EricHindrichsen commented on #7047
That's great news, thank you!

Holen Sie sich Outlook für Android<https://aka.ms/ghei36>

________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Monday, January 18, 2021 7:43:22 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Eric Hindrichsen <eric.hindrichsen@outlook.de>; Mention <mention@noreply.github.com>
Sub

[2021-01-19 15:49] get-itips commented on #7058
Thanks for returning and sharing that feedback.

[2021-01-19 16:03] #7090 closed

[2021-01-19 16:54] dariomws commented on #7028
Hi @jonwbstr, thank you for your comment.

Here we can only update the article, and we cannot support you, my apologies. The article states that this parameter might be required in mailbox move and re-licensing scenarios between on-premises Exchange and Microsoft 365. And it provides an article with more information. The parameter was added more than 2 years ago with that in mind, so it's not inte

[2021-01-19 17:43] chrisda commented on #7105
@DEWallen, yes. It looks like a copy/paste error. I fixed it.

Thanks for the feedback.

Closing

[2021-01-19 17:43] #7105 closed

[2021-01-19 17:44] get-itips commented on #7036
Hello @thewrabbit I tested this and apparently as you say, it has no effect currently, however, I would like to have confirmation from @tomkau
Tom, can you help us here? Thanks

[2021-01-19 18:13] get-itips commented on #7048
Hello @RVAHaver01 how are you?

I was going to suggest opening a support ticket however, you already have an open support ticket, can you please kindly keep us posted here on the resolution, so if we identify that an improvement to [Mount-SPContentDatabase](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/mount-spcontentdatabase?view=sharepoint-ps) article, we can use that to f

[2021-01-19 18:22] get-itips commented on #7053
Hello @who8e1 Ethan, How are you? hope you are doing great.

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then synced from that

[2021-01-19 18:27] get-itips commented on #7059
Hello @DEberhardt David, I know that the team behind Teams/Skype cmdlets is constantly working on improving it, so probably the next versions will take care of reconnection, in case you want your idea to reach the team, please don't hesitate to create and submit it [here](https://microsoftteams.uservoice.com/).

[2021-01-19 18:30] get-itips commented on #7070
Hello @Mr-K07 how are you?
As here we are limited to documentation issues, the best thing to do in your scenario is to open a support ticket directly from your tenant.

Thank you!

[2021-01-19 19:04] get-itips commented on #7091
Hello @Petri-X
I was able to successfully use OverrideAdminDomain while trying to reproduce to see if any documentation change was needed

![image](https://user-images.githubusercontent.com/36666927/105080737-de685980-5a56-11eb-980d-72cd511aa781.png)

[2021-01-19 19:20] mrpaddy35 commented on #6954
oh thanks alot, we can close this now

[2021-01-19 19:47] gesbeckj opened #7109 "Connect-ExchangeOnline Erroring when using App-only auth and -DelegatedOrganization"
We are getting an error specifically when using app-only auth and specifying a delegated organization. Interactive auth works for both our tenancy and our delegated tenants. However, app-only auth only works for our tenancy. We are unable to use app-only auth to connect to our delegated clients.

There is nothing in this document about this scenario being un-supported but it looks like there is a

[2021-01-19 19:47] gesbeckj opened #7110 "Connect-ExchangeOnline Erroring when using App-only auth and -DelegatedOrganization"
We are getting an error specifically when using app-only auth and specifying a delegated organization. Interactive auth works for both our tenancy and our delegated tenants. However, app-only auth only works for our tenancy. We are unable to use app-only auth to connect to our delegated clients.

Anytime we try to specify a delegated organization we get the following error:
New-ExoPSSession : Conn

[2021-01-19 20:14] dg42xyz commented on #7068
Also having this issue, any workaround available?

[2021-01-19 21:59] DEberhardt commented on #7059
Hi, Think I have already done that^^
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/42287602-new-csonlinesession-does-not-adhere-to-sessionopti
😄

[2021-01-20 00:14] singhkamall opened #7113 "In Step 5, unable to select registered app from Roles and Admin Assignments"
On [App Only Authentication](https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps), I followed all 4 steps successfully however, I cannot add my newly created application as an assignment to **Roles and administrators** > **Exchange administrator** > **Add Assignment**.

My registered application:

![image](https://user-images.githubusercontent.com/3194

[2021-01-20 10:10] TGiersberg opened #7119 "Set-TeamArchivedState -SetSpoSiteReadOnlyForMembers:$true "Failed to execute MS Graph backend request GetGroupSiteDriveRequest""
[code]
gives error
[code]
MicrosoftTeams 1.1.4
Powershell 7

[code]
Is working fine for the same team. `-SetSpoSiteReadOnlyForMembers:$true` also works for SOME teams but not others - strange.

[2021-01-20 11:50] yogkumgit commented on #7058
@get-itips Thank you very much for the contribution and sharing this explanation. @DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-20 11:50] #7058 closed

[2021-01-20 12:06] yogkumgit commented on #7048
@get-itips Thank you very much for the contribution and sharing this explanation. @RVAHaver01 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update

[2021-01-20 12:11] yogkumgit commented on #7053
@get-itips Thank you very much for the contribution and sharing this explanation. @who8e1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-20 12:16] yogkumgit commented on #7059
@DEberhardt Thank you very much for your kind feedback. As per your comment, you have already raised a User Voice. Thank you.. Now, concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback

[2021-01-20 12:16] #7059 closed

[2021-01-20 12:19] yogkumgit commented on #7070
@get-itips Thank you very much for the contribution and sharing this explanation. @Mr-K07 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-01-20 12:19] #7070 closed

[2021-01-20 12:23] #6954 closed

[2021-01-20 13:19] gable44 opened #7120 "Workspace value for Type parameter"
The -Type parameter has **Workspace** value too but its probably limited to Exchange Online

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7f835af-5905-368a-df68-6646782ad807
* Version Independent ID: 153ce2d2-dab5-9c8f-c511-ee3bc8ee2dbc
* Content: [Set-Mailbox (ExchangePowerShell)](https://docs.microsoft.com/en-us/po

[2021-01-20 13:51] arodir opened #7121 "Wrong limitation "Cloud only" in description."
The following paragraph is quoted from the SourceFolder parameter description:
_"PurgedItems: (Cloud only) The Recoverable Items\Purges folder. This folder contains items that have been purged from the Recoverable Items folder (hard-deleted items)."_

The mentioned limitation "Cloud only" is incorrect as this also works in OnPremise Exchange 2019 environments.

---
#### Document Details

⚠ *Do not

[2021-01-20 14:40] jonwbstr commented on #7028
Dario,

Here's the thing. The article doesn't say it only works in hybrid scenarios. it says it can be used in hybrid scenarios. I don't know. I've reported doc bugs where the doc maintainer takes it upon themselves to get clarification from the PG and collogues and updates the article based on new information collected on their own. Other maintainers expect to the reporter who is saying the docum

[2021-01-20 15:49] Petri-X commented on #7091
Yes, it looks that the issue was on O365 site. Support team told that they did a "object synchronization on backend". And it looks that it solved the issue. Of course we have no clue about this, and if something can be done on the module site to be better to manage exceptions.

But my fire is over now ;)

[2021-01-20 15:49] #7091 closed

[2021-01-20 15:50] get-itips commented on #7091
Glad to hear that. Have a nice day!

[2021-01-20 19:00] chrisda commented on #7121
@arodir, confirmed. I updated Restore-RecoverableItems and also Get-RecoverableItems.

Thanks for the feedback.

Closing

[2021-01-20 19:00] #7121 closed

[2021-01-20 19:08] chrisda commented on #7120
@gable44, confirmed. And the Workspace value is cloud-only; not available in Exchange 2019 or Exchange 2016. I added the value to the topic.

Thanks for the feedback.

Closing.

[2021-01-20 19:08] #7120 closed

[2021-01-20 20:04] chrisda commented on #7110
Closing as duplicate of #7109

[2021-01-20 20:04] #7110 closed

[2021-01-20 20:05] chrisda commented on #7109
@gesbeckj, I confirmed that delegation is (still) not supported. I added a note to the topic.

Thanks for the feedback.

Closing

[2021-01-20 20:05] #7109 closed

[2021-01-20 21:42] chrisda commented on #7028
@jonwbstr, please do not question how much someone cares. I've worked with Dario for the last couple of years, and trust me, he cares. His very first response to your issue was the suggestion to file a support case, which you did, and which is 100% the best course of action for something like this. This puts the problem front and center in front of the product team and demands an answer. The probl

[2021-01-21 09:56] Petri-X opened #7127 "Add-TeamChannelUser not recognized (PS module version 1.1.6)"
Hi,

Still like to re-open this. Version 1.1.6 should be GA but that still have no Add-TeamChannelUser CMDLet.

[code]

[2021-01-21 11:41] tudorh commented on #4629
This is still an active issue and it should be handled.

[2021-01-21 11:42] tudorh opened #7128 "Get-EXOMailbox fails with pipe and Select"
When running the command:
Get-EXOMailbox -Resultsize Unlimited | Select-Object -First 3

The results are returned but a terminal error is presented:

Get-EXOMailbox : The pipeline has been stopped.
At C:\Users\mikeb\Documents\Untitled1.ps1:3 char:2
+ Get-EXOMailbox -Resultsize Unlimited | Select-Object -First 3
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo : ProtocolError: (:) [Get-EXOMail

[2021-01-21 13:21] RVAHaver01 commented on #7048
Yes I am but still getting an error stating it does not have permissions to the Master database.  This is an example where we need to update the documentation showing examples of when you are using SQL Managed Instances because trying to use the SQL Auth arguments don’t always work.

Regards
David Haver
Manager, Infrastructure Services – Digital
Cherry Bekaert LLP
(O) 804-794-3491 | (D) 804-673-57

[2021-01-21 14:26] get-itips commented on #7048
Hello @RVAHaver01
How are you?
I think, in that case, that the article that could be improved is the one that @tseward shared with you.
That article is in another documentation repository, can you open an issue there with your suggestion?

https://github.com/MicrosoftDocs/OfficeDocs-SharePoint/issues

I think we can also benefit from the result of the ticket you have opened, in case any improvemen

[2021-01-21 14:41] RVAHaver01 commented on #7048
I have opened the issue.

Regards
David Haver
Manager, Infrastructure Services – Digital
Cherry Bekaert LLP
(O) 804-794-3491 | (D) 804-673-5762 | (C) 804-690-7669  <= The best number to reach me during COVID-19 times

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Thursday, January 21, 2021 9:27 AM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com

[2021-01-21 19:38] #7047 closed

[2021-01-22 00:05] singhkamall commented on #7113
Looks like this doc is incomplete. I have solved my problem using this PowerShell command:

`Add-AzureADDirectoryRoleMember -ObjectId xxxxx -RefObjectId xxxxx`

After running it successfully, my app started appearing under Exchange Administrator assignments.

[2021-01-22 01:51] warwickofthegh opened #7142 "Graph or no Graph"
Are we going with Get-PnPGraphAccessToken or Get-PnPAccessToken? both seem to work currently

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ceca08-0508-204d-58bb-0dca368196a5
* Version Independent ID: 3135e575-fe8b-453d-0a70-2c32cc6e6044
* Content: [Get-PnPGraphAccessToken (SharePointPnPPowerShell)](https://docs.micr

[2021-01-22 07:32] OrtacDemirel opened #7143 "New-ComplianceSearchAction does not run -export swtich"
hi,

In this article
https://docs.microsoft.com/en-us/powershell/module/exchange/new-compliancesearchaction?view=exchange-ps
New-ComplianceSearchAction includes  Export  switch  for on-premises Exchange server 2016.

I get error
[PS] C:\Windows\system32>New-ComplianceSearchAction -SearchName "Project X" -Export
A parameter cannot be found that matches parameter name 'Export'.

I have mailbox impor

[2021-01-22 08:57] sgargel opened #7144 "Connect-ExchangeOnline: A parameter cannot be found that matches parameter name 'InlineCredential'."
This command is not working:
https://docs.microsoft.com/en-us/powershell/module/exchange/connect-exchangeonline?view=exchange-ps#example-7

[code]

I'm running powershell on linux

[code]
With these installed modules:

[code]

[2021-01-22 13:00] #7048 closed

[2021-01-22 17:06] BoBladm opened #7145 "NullReferenceException calling connect-microsoftTeams using certificate authentication"
When executing the lines below I  get a NullReferenceException.

I am using the 1.1.10-Preview version of the MicrosoftTeams powershell module, if I run Excactly the same using the 1.1.6 general release version it works fine.
I am trying the prerelease version to see if an other problem is solved in the prerelease version. (trying to to use new-csonlinesession in combination with the connect-micro

[2021-01-22 21:03] TorrenManson opened #7147 "Broken formatting"
-AllowAnonymousUsersToDialOut has broken formatting for the callout that the feature is temporarily disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919bf080-1e20-1411-0d9e-41f559b883d8
* Version Independent ID: 6a37be44-d957-2b7a-a563-53332cf59098
* Content: [Set-CsTeamsMeetingPolicy (SkypeForBusiness)](https:

[2021-01-22 21:41] TorrenManson opened #7150 "Type typo"
AllowBreakoutRooms is listed as type String at the top of the document, but in the details is listed as bool. When I try in PowerShell, it requires bool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919bf080-1e20-1411-0d9e-41f559b883d8
* Version Independent ID: 6a37be44-d957-2b7a-a563-53332cf59098
* Content: [Set-CsTe

[2021-01-22 22:49] soysoliscarlos opened #7152 "New-ComplianceSearchAction Not found parameters "Format" or "Export""
New-ComplianceSearchAction -SearchNames $EmailToExport -Format Fxstream -NotifyEmail  $NotifyEmail -Export
A parameter cannot be found that matches parameter name 'Format'.
    + CategoryInfo          : InvalidArgument: (:) [New-ComplianceSearchActi
   on], ParameterBindingException
    + FullyQualifiedErrorId : NamedParameterNotFound,New-ComplianceSearchAct
   ion
    + PSComputerName        : na

[2021-01-23 00:20] tinsheep commented on #6737
@heintonny did you get a resolution on this? why was this closed because it is not supported? thanks!

[2021-01-24 12:16] BoBladm opened #7154 "new-csonlinesession after connect-microsoftteams using certificate failing"
Hi

We are trying to do some automated scripting towards Teams, but as we have a mandatory MFA requirement we are looking towards defining an app in azure ad giving permissions and the connect using certificate. That approach is working fine as long as it only involves Teams powershell commands. We do however have the need to run get-csonlineuser and move-csuser in order to manipulate the teams mi

[2021-01-24 16:24] #7152 closed

[2021-01-25 06:31] hwkwicre opened #7155 "Is there a way to retrieve email invites stored in a site FROM a user?"
This retrieves email invites stored in the ContosoWeb1 site to the user with email address someone@example.com
But is there a way to retrieve email invites stored in the ContosoWeb1 site FROM the user with email address someone@example.com?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4661450e-0e7f-619b-e820-0ba6acce

[2021-01-25 09:35] badsector-82 opened #7156 "Missing command"
Enable-Mailbox command is not imported. Only Enable-RemoteMailbox.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36b57b66-2364-0e9d-e627-5eeb77238675
* Version Independent ID: 78fd7932-06f9-37c7-8928-250b3884d89e
* Content: [Connect to Exchange servers using remote PowerShell](https://docs.microsoft.com/en-us/powershe

[2021-01-25 17:48] chrisda commented on #7156
@badsector-82, the topic that's referenced in this issue doesn't mention either cmdlet.

The [Enable-Mailbox](https://docs.microsoft.com/powershell/module/exchange/enable-mailbox) topic describes the cmdlet as available in Exchange 2010 to Exchange 2019 and Exchange Online.

The [Enable-RemoteMailbox](https://docs.microsoft.com/powershell/module/exchange/enable-remotemailbox) topic describes the c

[2021-01-25 17:52] JeremyTBradshaw commented on #7027
@dariomws @yogkumgit and anyone else who comes along and sees this issue.  FYI I was mistaken, and in fact, in the examples, the private key is indeed included the exported PFX file.  The issue I was raising, it non-existing.

From the [New-SelfSignedCertificate page](https://docs.microsoft.com/en-us/powershell/module/pkiclient/new-selfsignedcertificate?view=win10-ps), it is confirmed that the def

[2021-01-25 19:04] #7027 closed

[2021-01-25 22:14] badsector-82 commented on #7156
The issue was that not all exchange commands were being imported. It turned out that are imported only commands that the account used for the connection has rights for. Which is logical and awesome but I found it the hard way. Also this could be used to test what commands each exchange role enables. In conjunction with Get-ManagementRole I was able to find the solution which requires least privile

[2021-01-26 08:14] dariomws commented on #7027
Thanks for coming back with us! Nice to know that it's actually not an issue.

[2021-01-26 17:12] JBines opened #7163 "Legacy Module"
Install-Module SharePointPnPPowerShellOnline

needs to be changed to:

Install-Module -Name PnP.PowerShell

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-57d53d313c6f
* Content: [PnP PowerShell Overview](https:

[2021-01-26 17:38] bmercernccer commented on #5377
Why is there nothing in the documentation explaining that it is not sufficient to merely use a new command, but that you must in fact completely change how you connect? This is important information, it should be placed in front of users who look for it rather than requiring google searches to uncover the meaning of an error.
Actual user experience:
![exchange powershell wtf](https://user-images.g

[2021-01-26 18:07] chrisda commented on #5377
@bmercernccer, I see what your saying. The error message should say:

I added the following note to the Synopsis section of each *-MailboxSearch cmdlet topic:

**Note**: As of October 2020, the \*-MailboxSearch cmdlets are retired in Exchange Online PowerShell. Use the \*-ComplianceSearch cmdlets in Security & Compliance Center PowerShell instead. For more information, see [Retirement of legacy eD

[2021-01-26 20:13] mwl-aotc opened #7166 "Get-Mailbox piped into Set-Mailbox or Set-CASMailbox does stupid things"
Running a simple command to increase message size limits for existing accounts in our tenant (names anonymized)

[code]

Sure enough, in our tenant there are two users with the same DisplayName "John Doe", but all of the name-based globally unique attributes that are the only things that would make sense to use as a key are, in fact, unique:
[code]

It appears even on a piped-in object, set-mailbo

[2021-01-26 21:52] chrisda commented on #7156
@badsector-82, interesting suggestion. I'm surprised that hasn't come up in all this time. I added a similar bullet to the What do you need to know before you begin? section of all Exchange-related PowerShell connection topics:

 - After you connect, the cmdlets and parameters that you have or don't have access to is controlled by role-based access control (RBAC). For more information, see [Exchan

[2021-01-27 09:57] pmaItelio opened #7169 "Exchange Online - PowerShellV2+Unattended: Get-PublicFolder fails"
Hi,
I try to implement a powershell script, that gathers EXO information like Mailboxes and PublicFolders.
First attempt was to connect via BasicAuth but as there are some downsides for unattended sessions, so we decided to use an App/Certificate combination.

Everything works fine, but the PublicFolders - incase the certificate is used.
If I use the "old" web based BasicAuth, everything works as

[2021-01-27 13:19] shivtorov opened #7170 "New-CsBatchPolicyAssignmentOperation missing parameters"
there are two issues with this article:

1. lots of parameters are missing in SYNTAX section.

it should be `New-CsBatchPolicyAssignmentOperation [-OperationName <String>] -Identity <String[]> -PolicyType <String> [-AdditionalParameters <Hashtable>] [-PolicyName <String>] [-Break] [-HttpPipelineAppend <SendAsyncStep[]>] [-HttpPipelinePrepend <SendAsyncStep[]>] [-Proxy <Uri>] [-ProxyCredential <PSC

[2021-01-27 13:44] #6997 closed

[2021-01-27 14:22] #7053 closed

[2021-01-27 17:09] chrisda commented on #7169
@pmaItelio, I encourage you to open a support case about this. Exchange.ManageAsApp should be the only permission you need.

[2021-01-27 19:24] joshfria commented on #6865
Any update here? We are looking to use Cert based auth very soon if possible.

[2021-01-27 19:31] chrisda commented on #6865
Closing in. I'm told the current UI is based on Azure AD Premium P1 licenses while the new Preview UI is based on Azure AD Premium P2 licenses. Can anyone confirm or deny?

Also, @ronnyholtmaat (or anyone) I need clarification on this statement:

Created a group: done. Gave the group permissions: done. But where/how do you add the app registration to the group?

[2021-01-27 19:38] joshfria commented on #6865
We have P2 across the board and I do not see Exchange in the UI. I'm pretty sure it was there 6 months ago though when I first looked into this.

[2021-01-27 19:53] chrisda commented on #6865
@joshfria, do the semi-recently updated steps in [Step 2](https://docs.microsoft.com/powershell/exchange/app-only-auth-powershell-v2#step-2-assign-api-permissions-to-the-application) help? Those steps (manually editing the manifest) should work.

It's [Step 5](https://docs.microsoft.com/powershell/exchange/app-only-auth-powershell-v2#step-5-assign-a-role-to-the-application) where the topic doesn't

[2021-01-27 23:13] JeremyTBradshaw commented on #6865
@chrisda @ronnyholtmaat I found that to add the app to the Exchange Administrator role group (only referred to as Role in AAD, I had to use PowerShell as of late because only groups are available to do so in the GUI anymore.  I used `Add-AzureADDirectoryRoleMember -ObjectId <Exchange Administrator ID> -RefObjectId <Enterprise Apps: registered app's ObjectId>`

[2021-01-27 23:53] robertoyms opened #7174 "Complete example of a policy"
Today the cmdlet outlines how to call this cmdlet but not necessarily how to create a policy as this requires both the policy & the rule. Would be great to make this easier for customers to follow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b83609af-4934-9137-7348-abbf61d279de
* Version Independent ID: 51a9a1b5-3b6

[2021-01-28 09:06] dariomws commented on #7068
Hi @yuri-wisestamp, thank you for your feedback.

Could you kindly put the link to the article you are referring? I couldn't find it. Thanks!

[2021-01-28 09:08] ZA-Ray commented on #7068
hi @dariomws , this is it:
[https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps](url)

[2021-01-28 09:24] yuri-wisestamp commented on #7068
@dariomws https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps

[2021-01-28 10:13] dariomws commented on #7068
@yuri-wisestamp @ZA-Ray @dg42xyz, this is how it looks now when you click on **Add assignments**. You need to click on **No member selected** and there you can select the app.
![image](https://user-images.githubusercontent.com/33589238/106122880-fcf5e100-6137-11eb-8be5-6ffdb1f87db1.png)
I'll update the article.

[2021-01-28 10:14] dariomws commented on #7113
@singhkamall, this is how it looks now when you click on **Add assignments**. You need to click on **No member selected** and there you can select the app.
![image](https://user-images.githubusercontent.com/33589238/106122880-fcf5e100-6137-11eb-8be5-6ffdb1f87db1.png)
I'll update the article.

[2021-01-28 11:22] dariomws commented on #7128
@tudorh - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted her

[2021-01-28 12:45] get-itips commented on #7036
Hello, @tomkau can you kindly help as get a confirmation here? Thank you!

[2021-01-28 14:17] get-itips commented on #7119
Hello @TGiersberg how are you?

I recommend updating the Teams module version to the most up to date version ([1.1.6](https://www.powershellgallery.com/packages/MicrosoftTeams/1.1.6)), I could run the exact same command without issues.

Thanks

[2021-01-28 14:20] get-itips commented on #7127
Hello @Petri-X how are you? Hope you are doing good.

Correct, Add-TeamChannelUser is still in the preview module version and is not in the GA version (yet).

Let me know if I understood your inquiry.

Thanks

[2021-01-28 14:26] get-itips commented on #7145
Hello @BoBladm how are you? Hope you are doing good.

Here, we are limited to documentation issues. The best, in this case, would be to either open a support request or raise an idea [here](https://microsoftteams.uservoice.com/) so it reaches the team behind the development of the Teams PowerShell module, new versions of the module are constantly being released and I am pretty sure the team will w

[2021-01-28 14:44] get-itips commented on #7170
Thanks @shivtorov for raising this, will add missing parameters, about 2.: I've been fixing a markdown formatting error that causes bad rendering of the article, will try to fix it on this pr. Thanks again

[2021-01-28 15:29] Petri-X commented on #7127
@get-itips
Oh !? What do you mean by that? When doing installation via PowerShell I'm getting 1.1.6

Also [PS callery ](https://www.powershellgallery.com/packages/MicrosoftTeams/1.1.8-preview)looks like this:
![image](https://user-images.githubusercontent.com/43988151/106160168-33f6e180-618e-11eb-90c8-19d927a798fb.png)
There is a clear differences between 1.1.6 and others. And see the amount of do

[2021-01-28 15:39] get-itips commented on #7127
Hello @Petri-X

Thanks for returning! I hope you have a great day.

In this article, you can see the difference between the modules and how to install a specific version.

https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-overview

General Availability (GA): Production-ready cmdlets, updated monthly.
Public Preview: Early access to features. May be updated more frequently than GA.

[2021-01-28 15:46] Petri-X commented on #7127
Aah, okay, so you are saying your team has remove that CMDLet from the GA module.

[CMDLet statuses](https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes#cmdlet-availability)

Sorry, perhaps I read this incorrectly :D

[2021-01-28 15:49] get-itips commented on #7127
Hello @Petri-X
The table that you shared says that Add-TeamChannelUser is not in the GA version of the module (currently the 1.1.6) and is available in the Public Preview version.

Thanks for returning and sharing your feedback!

[2021-01-28 16:20] TGiersberg commented on #7119
@get-itips my experience is not consistent, also with 1.1.6. For majority of teams it works but some fail with error above - didn't find a difference between these teams.

Ended up implementing a custom function with pnp, i.e. from my end no need to follow up.

[2021-01-28 16:20] #7119 closed

[2021-01-28 16:35] get-itips commented on #7119
Thanks for returning and sharing your feedback @TGiersberg

[2021-01-28 16:52] get-itips commented on #7155
Hello @hwkwicre how are you? Hope you are doing good.
AFAIK not that I am aware of, you can propose that to https://sharepoint.uservoice.com/
Thank you

[2021-01-28 16:53] get-itips commented on #7147
Thanks for reporting ! @TorrenManson

[2021-01-28 17:05] get-itips commented on #7150
Thanks for reporting !

[2021-01-28 17:10] ZA-Ray commented on #7068
Hi @dariomws, initially I thought I was using the wrong tool as I was in https://aad.portal.azure.com/ and your screenshot shows https://portal.azure.com/.  Navigating from https://aad.portal.azure.com/ I found i could search and add my app.  I then tried aad.portal.azure.com, and to my surprise again found that I could find my app.  This definitely wasn't working a few days ago when I first tried

[2021-01-28 17:29] get-itips commented on #7142
Hello @warwickofthegh

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from

[2021-01-28 18:17] #7068 closed

[2021-01-28 18:17] #7113 closed

[2021-01-28 20:14] get-itips commented on #7163
Hello @JBines Joshua, how are you? Hope you are doing good.

Thanks for your feedback!

I was going to propose thru a pull request an update to this article however I could get information from the PnP community team and they are already working on a complete overhaul of the PnP documentation, including this article, so we can expect an update in the next couple of weeks. In the meantime, and you

[2021-01-29 00:18] codegard1 commented on #6529
This seems to be an issue with Github/MSDocs (?) and the way it is parsing the code in those examples. The below text was copy/pasted from https://pnp.github.io/powershell/cmdlets/Get-PnPListItem.html, but on render it changes to the text seen on the page that is the subject of this comment thread.

[2021-01-29 07:53] shivtorov opened #7181 "Get-Team - missing parameter description NumberOfThreads"
Parameter `NumberOfThreads` is not listed in the article

MicrosoftTeams module version 1.1.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f38da792-01bc-28ad-7727-794075e150c9
* Version Independent ID: cb290aa5-ce28-10a4-f17c-cc5db6edc706
* Content: [Get-Team (MicrosoftTeamsPowerShell)](https://docs.microsoft.com/en-

[2021-01-29 07:57] shivtorov opened #7182 "Connect-MicrosoftTeams missing parameters"
Missing parameters:

- Identity
- ConfigAccessToken
- ManagedServiceHostName
- ManagedServicePort
- ManagedServiceSecret

MicrosoftTeams module version 1.1.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dce05-8bfd-0bfa-3753-0eb193852703
* Version Independent ID: 50e0366c-46b0-71da-b6f6-f422adaad785
* Content: [Con

[2021-01-29 08:02] shivtorov opened #7183 "Remove-CsGroupPolicyAssignment missing parameters"
Missing parameters:

- Break
- HttpPipelineAppend
- HttpPipelinePrepend
- Proxy
- ProxyCredential
- ProxyUseDefaultCredentials
- WhatIf
- Confirm
- PassThru

MicrosoftTeams module version 1.1.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 895fefaa-b36e-4e93-3d31-d728dd226957
* Version Independent ID: fe242340-e31d-1d

[2021-01-29 08:05] shivtorov opened #7184 "New-CsGroupPolicyAssignment missing parameters"
Missing parameters:

- Break
- HttpPipelineAppend
- HttpPipelinePrepend
- Proxy
- ProxyCredential
- ProxyUseDefaultCredentials
- WhatIf
- Confirm
- PassThru

MicrosoftTeams module version 1.1.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9ed10e-cc6a-67d3-cd50-6c537dbcdf42
* Version Independent ID: dabb388b-8614-4b

[2021-01-29 08:09] shivtorov opened #7185 "Get-CsUserPolicyAssignment missing parameters"
Missing parameters:

- InputObject
- Break
- HttpPipelineAppend
- HttpPipelinePrepend
- Proxy
- ProxyCredential
- ProxyUseDefaultCredentials

MicrosoftTeams module version 1.1.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3898f54-71f3-44c6-8412-c3eeee517aa7
* Version Independent ID: 8ea324f5-a833-f877-3888-a8a703be

[2021-01-29 08:11] shivtorov commented on #7170
@get-itips , thanks for looking into that.
Article `Get-CsBatchPolicyAssignmentOperation` missing the same parameters

[2021-01-29 08:23] dariomws commented on #7143
Hi @OrtacDemirel, thank you for your feedback.

In the description of the parameter you can find:
"This parameter is available only in the cloud-based service.

This parameter requires the Export role in the Security & Compliance Center. By default, the Export role is assigned only to the eDiscovery Manager role group."

[2021-01-29 08:53] dariomws commented on #7144
Hi @sgargel, thank you for your feedback.

I tested it and worked:
![image](https://user-images.githubusercontent.com/33589238/106252475-16a92e00-61f5-11eb-8d03-14cc8394d10a.png)
![image](https://user-images.githubusercontent.com/33589238/106252595-304a7580-61f5-11eb-9d9c-8e257eb40090.png)

For your inquiry, I need to kindly suggest leave a comment on the blog: https://techcommunity.microsoft.com/

[2021-01-29 08:54] OrtacDemirel commented on #7143
thank you.

But at the beginning of this article:
https://docs.microsoft.com/en-us/powershell/module/exchange/new-compliancesearchaction?view=exchange-ps

It says  "This cmdlet is available in on-premises Exchange "

[2021-01-29 08:57] dariomws commented on #7143
Thank you again for your comment @OrtacDemirel.

The whole sentence states:
"This cmdlet is available in on-premises Exchange and in the cloud-based service. Some parameters and settings may be exclusive to one environment or the other."

[2021-01-29 08:58] dariomws commented on #7143
As the description states, the -Export switch/parameter is exclusive to the cloud service.

[2021-01-29 09:00] dariomws commented on #7166
Hi @mwl-aotc, thank you for your feedback.

I test it on my lab, and it seems to be working:
![image](https://user-images.githubusercontent.com/33589238/106254257-4822f900-61f7-11eb-9a9e-75fe4806ddff.png)

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow t

[2021-01-29 09:38] shivtorov opened #7186 "Undocumented Skype/Teams cmdlets"
It looks like the following cmdlets are not documented.

- Get-CsCloudCallDataConnection
- Get-CsDefaultCatalogApp
- Get-CsGlobalCatalogApp
- Get-CsInboundExemptNumberPattern
- Get-CsOnlineAudioConferencingRoutingPolicy
- Get-CsTeamsAppPreset
- Get-CsTeamsMigrationConfiguration
- Get-CsTeamsNetworkRoamingPolicy
- Get-CsTeamsNotificationAndFeedsPolicy
- Get-CsTeamsPinnedApp
- Get-CsTeamsShiftsAppPo

[2021-01-29 11:26] #7127 closed

[2021-01-29 11:32] shivtorov opened #7187 "Set-CsTeamsCallingPolicy - missing params"
Missing description for parameters:

- AllowTranscriptionForCalling
- Description
- LiveCaptionsEnabledTypeForCalling
- SpamFilteringEnabledType

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8fa7e55-c3b1-7b37-f395-736ec82868a0
* Version Independent ID: 4630697b-375e-85f2-25b1-b944bc6dad5f
* Content: [Set-CsTeamsCalli

[2021-01-29 11:35] shivtorov opened #7188 "New/Set-CsTeamsMeetingPolicy params"
Missing description of parameters:

- AllowMeetingRegistration
- AllowRecordingStorageOutsideRegion
- AllowScreenContentDigitization
- AllowTrackingInReport
- LiveCaptionsEnabledType
- RecordingStorageMode
- RoomAttributeUserOverride
- SpeakerAttributionMode
- WhoCanRegister

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-01-29 11:39] shivtorov opened #7189 "Set-CsTeamsMeetingConfiguration params"
Missing description of parameter **DisableAppInteractionForAnonymousUsers**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2996298d-f48d-345e-6344-00c8c20a864c
* Version Independent ID: 6a2286fc-2924-8223-35c5-f16e6786ff45
* Content: [Set-CsTeamsMeetingConfiguration (SkypeForBusiness)](https://docs.microsoft.com/en-us/

[2021-01-29 14:19] arnauvc opened #7190 "Get-DlpComplianceRule - Weird condition group hierarchy"
Hi, I'm trying to script a sort of backup of the policies and rules for Endpoint DLP, but when I was trying to get information about the different condition groups and Sensitive Info Types inside the rules I got a weird behaviour.

If the condition group has a custom name, like this one:
![image](https://user-images.githubusercontent.com/5579758/106282944-9230cc80-6241-11eb-9b98-36992cd6cccd.png)

[2021-01-29 22:12] chrisda commented on #7068
I just completed a major overhaul of [the topic](https://docs.microsoft.com/powershell/exchange/app-only-auth-powershell-v2) with lots of screenshots to match the current UI. I, to agree that several weeks ago when I started, something was amiss; Step 5 didn't work at all as described. Whatever mojo the Azure AD team was working through seems to have cleared up.

At least for me in my tenant. Plea

[2021-01-29 22:13] chrisda commented on #7113
I just completed a major overhaul of [the topic](https://docs.microsoft.com/powershell/exchange/app-only-auth-powershell-v2) with lots of screenshots to match the current UI. I, to agree that several weeks ago when I started, something was amiss; Step 5 didn't work at all as described. Whatever mojo the Azure AD team was working through seems to have cleared up.

At least for me in my tenant. Plea

[2021-01-29 22:34] chrisda commented on #6865
I just completed a major overhaul of [the topic](https://docs.microsoft.com/powershell/exchange/app-only-auth-powershell-v2) with lots of screenshots to match the current UI. I agree that several weeks ago when I started, something was amiss; Step 5 didn't work at all as described, and I couldn't figure out how to proceed. Whatever mojo the Azure AD team was working through seems to have cleared u

[2021-01-29 22:44] decturau commented on #6865
@chrisda i think the intial request was open regarding API permissions rather than RBAC (Step 2, not step 5). The doc updated step 2 advising to edit the manifest (which works). However the concern is more around the Outlook v2.0 REST API will stop working on November 2022.

So yes, today we can configure it as per the doc and connect. But when that API stops working, i sense the apps will as well

[2021-01-30 10:23] BohrenAn opened #7196 "New-CsOnlineAudioFile returns empty ID"
Hi All,
When i try to Upload an Audiofile with New-CsOnlineAudioFile i get a return with an empty id. I think there is something wrong here.

PS C:\> Import-Module MicrosoftTeams
PS C:\> $sfbSession = New-CsOnlineSession -OverrideAdminDomain icewolfch.onmicrosoft.com
PS C:\> Import-PSSession $sfbSession

PS C:\> #Upload Audio File New-CsOnlineAudioFile
PS C:\> $content = Get-Content "E:\Temp\CallQ

[2021-02-01 07:49] DanielWahlgren opened #7197 "Retired and archived."
Please update this documentation to reflect the transfer from SharePointPnPPowerShellOnline to pnp.powershell.
https://github.com/pnp/PnP-PowerShell -> https://github.com/pnp/powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-

[2021-02-01 08:28] badsector-82 commented on #7156
Thank you and again sorry for the trouble!

[2021-02-01 08:28] #7156 closed

[2021-02-01 13:39] joshtransient opened #7198 "Opening line needs a spell check"
"Get's the built-in maping files" should be "Gets the built-in mapping files"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddaacf4a-8cc6-252c-03a8-b1c202522d99
* Version Independent ID: f3200d8c-d12c-84ec-f18a-7124618aea9a
* Content: [Export-PnPClientSidePageMapping (SharePointPnPPowerShell)](https://docs.microsoft.c

[2021-02-01 19:54] #7147 closed

[2021-02-01 19:54] #7150 closed

[2021-02-01 23:42] the-epoch opened #7200 "Can't authenticate with Microsoft365 and Powershell."
Constantly get an error that I'm using the wrong username and password trying to connect to Office 365 with Powershell.
e.g.
[code]
e.g.
[code]

e.g.
with Modern Authentication ([see pic here](https://imgur.com/a/hUhNOrL) )
[code]

However, If I login to Microsoft365 portal with the same (administrative) username and password it works fine.

---
#### Document Details

⚠ *Do not edit this section.

[2021-02-02 00:09] chrisda commented on #7200
@the-epoch, you followed the prerequisites information [here](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2) and then the connection instructions [here](https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell#connect-to-exchange-online-powershell-using-modern-authentication)?

It should work.

Beware about [disabling ExO PowerShell access

[2021-02-02 03:59] the-epoch commented on #7200
@chrisda Sorry for wasting your time, seems it was a weird pebkac (my fault) error with copying passwords and my lastpass sync.

[2021-02-02 03:59] #7200 closed

[2021-02-02 07:59] DEberhardt commented on #7016
Hello, FYI
UserVoice entry created - more general in phrasing, but no takers yet:
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/42449707-powershell-commands-for-contact-objects-common-ar

[2021-02-02 08:00] #7016 closed

[2021-02-02 08:15] DEberhardt commented on #7196
yep. I fell into that as well :)

`New-CsOnlineAudioFile` _creates_ a new file. If you want to upload one, you need to use `Import-CsOnlineAudioFile`
I never managed to get anything from `New`, but I have made [`Import-TeamsAudioFile`](https://github.com/DEberhardt/TeamsFunctions/blob/main/docs/Import-TeamsAudioFile.md) from it, simplifying its use :)

[2021-02-02 08:53] BohrenAn commented on #7196
As you look into this. The Maximum File Size that can be uploaded is less than 1 MB (around 850 KB) and via the GUI you can upload an Audio File with 5MB. That should be the same Size

Regards
Andres

[2021-02-02 12:35] JonatanK opened #7201 "Error when using the same e-mail in the -Owner parameter and Connect-PnPOnline"
Error when the user informed on the -Owner parameter its the same that is executing the script (used on the Connect-PnPOnline cmdlet).

This information its no clear in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1058a6f3-de39-6220-7c4b-447005ac8ded
* Version Independent ID: 2c961b64-5c27-6331-b70

[2021-02-02 13:37] admartini200 opened #7202 "excludeDumpster"
We wish to have explanation under the parameter -IncludeFolders that it will also include recoverable folder unless specified with -ExcludeDumpster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4e08e4f-0fe9-af32-49ff-de431c3ec4f4
* Version Independent ID: 17968567-deae-9f14-abc9-741f58a04bcc
* Content: [New-MailboxE

[2021-02-02 15:10] yogkumgit commented on #7142
@get-itips Thank you very much for the contribution and sharing this explanation. @warwickofthegh Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-02 15:10] #7142 closed

[2021-02-02 15:13] yogkumgit commented on #7145
@get-itips Thank you very much for the contribution and sharing this explanation. @BoBladm Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-02-02 15:13] #7145 closed

[2021-02-02 15:15] yogkumgit commented on #7154
closing via 7145

[2021-02-02 15:15] #7154 closed

[2021-02-02 15:18] yogkumgit commented on #7155
@hwkwicre Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-02-02 15:18] #7155 closed

[2021-02-02 15:22] yogkumgit commented on #7163
@get-itips Thank you very much for the contribution and sharing this explanation. @JBines Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-02 15:22] #7163 closed

[2021-02-02 15:25] #7170 closed

[2021-02-02 21:52] chrisda commented on #7034
@ArttuArstila, do the recent updates to the topic clarify anything? The topic as written should describe any/all permissions that are required.

[2021-02-03 05:16] UnaZheng15 opened #7205 "As the new Image column type release, how pnp powershell updates value for this column"
hi,

As the new Image column type release, but the pnp powershell seems not supports it, we have not found any way to add value for this column type. Could you help share the command or anyway to update it.
![image](https://user-images.githubusercontent.com/60872157/106701666-fc6eb600-6621-11eb-9ab0-e5f618231997.png)

Thanks in advance.
---
#### Document Details

⚠ *Do not edit this section. It is

[2021-02-03 06:19] ArttuArstila commented on #7034
Hi! Thanks for asking. I don't think it's not quite there yet, there is no comment about what to do for the  "Microsoft Graph / User.Read" permission that appears for the new app by default. It also affects how the JSON should be edited (where to add the comma) etc. Probably familiar stuff for those editing app registrations a lot, but this might be the first time for many EXO admins.

[2021-02-03 06:25] yahookevin opened #7206 "To update the Group logo from a file placed in SP Site"
I'm trying to update a Team site logo from a image file placed in the same site.
Is this possible via Set-PnPUnifiedGroup?
I've tried something like this-
Set-PnPUnifiedGroup -Identity $group -GroupLogoPath "https://***sharepoint.com/sites/ProjectSite/SiteAssets/GreenBlock.JPG"

[2021-02-03 17:12] chrisda commented on #7034
@ArttuArstila, I stepped through the procedures as written very recently, and I never even saw "Microsoft Graph / User.Read" permissions. I presume this is because the Step 2 instructions for manually editing the manifest *replace* whatever existing permissions are created by default for the new app?

I'm describing the situation correctly, then I'm not sure what documentation updates are required

[2021-02-03 17:20] spplante opened #7207 "LinkType "EventSubscribers" is not supported"
When specifying the linktype option **EventSubscribers** while running the **Get-UnifiedGroupLinks** command, the command returns "Invalid value for LinkType parameter."

This should be available in order to get members with the option "Receive only replies to you and group events" checked for a specific group, but now since the only supported linktype is **Subscribers** I can only get the members

[2021-02-03 17:48] chrisda commented on #7207
@spplante, I confirmed that the value EventSubscribers is shown as a valid value for the LinkType parameter in the error message when you enter an unsupported value:

[code]

Yet as you described, when you try to use the value EventSubscribers, you get the `Invalid value for LinkType parameter.` error.

I updated the topic (and the Add-UnifiedGroupLinks and Remove-UnifiedGroupLinks topics).

I hig

[2021-02-03 18:24] spplante commented on #7207
My question right now is how am I supposed to get members that are only subscribed to calendar events (not subscribers) if PowerShell does not support EventSubscribers and documentation just needs to be updated?

Is there any other way all at to get this? All I am trying to do is retrofit all Teams on my tenant with **AlwaysSubscribeMembersToCalendarEvents** set to **false**, but since that settin

[2021-02-03 19:20] chrisda commented on #7207
@spplante, seeking clarification. Meanwhile, your best course of action is to open a support case and ask that exact same question.

[2021-02-03 19:58] danmyhre opened #7208 "Filter support for "MailboxRegion" in Get-EXOMailbox"
Would be useful if this cmdlet supported filtering on the mailboxregion property

https://docs.microsoft.com/en-us/powershell/module/exchange/get-exomailbox?view=exchange-ps

[2021-02-04 05:33] ganesh-sanap opened #7209 "Set-SPODisableSpacesActivation - Documentation not available/Missing"
## Category

- [x] Additional article idea
- [x] Question

## Question

When the documentation for `Set-SPODisableSpacesActivation` cmdlet  would become available?

[2021-02-04 06:19] Pher0ah opened #7210 "Example syntax error"
[Enter feedback here]
Example shows -Identity; when the command actually takes -Identities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 453e99be-6c14-edf4-5710-f24aa696bfcc
* Version Independent ID: 14c7c972-0980-21ce-63e1-d928d8e25997
* Content: [Remove-CsOnlineApplicationInstanceAssociation (SkypeForBusiness)](http

[2021-02-04 06:25] ArttuArstila commented on #7034
Thanks for reply @chrisda! That sounds good, but I cannot yet see that clarification on the page:
https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps#step-2-assign-api-permissions-to-the-application

[2021-02-04 09:28] Alex-Catalin opened #7212 "Add "Recipients" and "AttachmentNames" properties as part of the output of the cmdlet in the Description area"
In the Description area https://docs.microsoft.com/en-us/powershell/module/exchange/get-dlpdetailreport?view=exchange-ps#description, we do not have the "Recipients" and "AttachmentNames" properties mentioned, although they have been added per https://o365exchange.visualstudio.com/IP%20Engineering/_workitems/edit/1359643.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-02-04 10:56] fbehrens opened #7213 "Documentation for -wait parameter is missing"
see title
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b815d4ba-337b-3edf-dbe5-85c373949dd4
* Version Independent ID: e85a164c-287a-a404-f798-e490ae802804
* Content: [New-PnPTenantSite (SharePointPnPPowerShell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/new-pnptenantsite?view=sharepoint-ps)
* C

[2021-02-04 13:37] yogkumgit commented on #7169
@chrisda  Thank you very much for the sharing this explanation. @pmaItelio Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wil

[2021-02-04 13:37] #7169 closed

[2021-02-04 13:44] yogkumgit commented on #7085
@chrisda  Thank you very much for sharing this explanation. @sinnamingrrl Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2021-02-04 13:44] #7085 closed

[2021-02-04 13:47] yogkumgit commented on #7069
@chrisda Thank you very much for sharing this explanation. @paul9955 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-04 13:47] #7069 closed

[2021-02-04 13:50] yogkumgit commented on #7062
@chrisda  Thank you very much for sharing this explanation. @KSib Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-04 13:50] #7062 closed

[2021-02-04 13:55] yogkumgit commented on #6992
@chrisda Thank you very much for sharing this explanation. @tsp4axl Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-04 13:55] #6992 closed

[2021-02-04 14:27] yogkumgit commented on #6913
@chrisda Thank you very much for sharing this explanation. @sachinoda Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-04 14:28] #6913 closed

[2021-02-04 14:29] yogkumgit commented on #6930
@chrisda Thank you very much for sharing this explanation. @cwidhelm Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-04 14:29] #6930 closed

[2021-02-04 17:15] FrankPlawetzki opened #7214 "Disable-RemoteMailbox does not delete the mailbox anymore"
This article states in various places, that using this command the mailbox will be removed in EXO. This is no longer true.
When you remove the license and run Disable-RemoteMailbox, the mailbox stays in EXO. Only logon for the user is disabled

[2021-02-04 19:54] chrisda commented on #7034
@ArttuArstila, that's because I didn't do it yet. But, I can tell from your response that you approve. So I did it.

Thanks for the feedback.

Closing

[2021-02-04 19:54] #7034 closed

[2021-02-05 10:28] sagigy commented on #7119
I get the same error for some teams. I use the 1.1.6 version ot the MicrosoftTeams powershell module.
If I omit the -SetSpoSiteReadOnlyForMembers:$true parameter it works ok.

[2021-02-05 11:00] Petri-X opened #7217 "Teams PowerShell module blocks client updates"
Hi,

Not sure if anybody has informed to you, but when running Teams PS module it have a log handle open to:
**%localappdata%\microsoft\teams\powerShell**

The same results using handle:
[code]

This problem appears especially when trying to run different client versions using the "Teams Windoes.exe" file:
1. Quite current Teams client
2. Start new Teams client using Teams WIndows.exe

This is blo

[2021-02-05 15:30] get-itips commented on #7181
Thanks @shivtorov , adding it.

[2021-02-05 15:46] get-itips commented on #7182
Thanks @shivtorov

[2021-02-05 15:50] get-itips commented on #7183
Thanks @shivtorov

[2021-02-05 16:11] get-itips commented on #7184
Thanks again @shivtorov

[2021-02-05 16:35] #7073 closed

[2021-02-05 16:43] get-itips commented on #7185
Thanks @shivtorov

[2021-02-05 19:18] tseward commented on #7217
@Petri-X since this is not a docs bug, I would suggest opening a [Teams Uservoice](https://microsoftteams.uservoice.com/) or open a support case with Microsoft via admin.microsoft.com.

[2021-02-05 20:25] BohrenAn commented on #7196
I propose to change the Example, so it's more clear what's its purpose

#Create AudioFile Object
$content = Get-Content ""C:\Media\Welcome.wav" -Encoding byte -ReadCount 0
$AudioFile = New-CsOnlineAudioFile -FileName "Welcome.wav" -Content $content

#Upload Audio File
$Upload = Import-CsOnlineAudioFile -ApplicationId "HuntGroup" -FileName $AudioFile.FileName -Content $AudioFile.Content

[2021-02-05 22:08] DEberhardt commented on #7196
This works just as well:
[code]
You don't necesarily need New-CsOnlineAudioFile

[2021-02-05 22:57] BohrenAn commented on #7196
@DEberhardt

Yes, NOW i know that you don't explicitly need New-CsOnlineAudioFile. But i have talked with several Collegues and they all didn't understand why "New-CsOnlineAudioFile" exists.
And i believe the Example in the Documentation for New-CsOnlineAudioFile is not very helpful.
IMHO: With my Proposal it would be much more understandable.

Regards
Andres

[2021-02-06 02:08] expta opened #7225 "New-Team : Error occurred while executing Code: Request_ResourceNotFound"
I created an App Registration in Azure AD which uses certificate-based auth so I can run a Teams script as a scheduled task. I've given the app the highest permissions to read directory data, create group and teams. I can Get-Team and Set-Team, but when I run New-Team I get the following error:

PS C:\> New-Team

cmdlet New-Team at command pipeline position 1
Supply values for the following parame

[2021-02-06 04:14] loftwah commented on #7089
Hi, I'm sorry I didn't get back to you sooner. I can't remember exactly what the details were but I do remember it feeling a little clunky to get going. I was able to persist and work around whatever it was I was doing. The best I can give you is that I believe I tried to use Powershell 7.x instead of the default Windows 10 version of Powershell. When I switched I was able to use the module the wa

[2021-02-06 09:08] DevJonBirkett opened #7226 "Cmdlet not respecting -WarningAction SilentlyContiune"
When Grant-CsTeamsUpgradePolicy finds settings that would be superceded by TeamsUpgradePolicy, the warning messages are not being supressed by the -WarningAction SilentlyContinue parameter on the cmdlet

So for example:
Grant-CsTeamsUpgradePolicy -identity $user -PolicyName UpgradeToTeams  -WarningAction SilentlyContinue
Is still reporting warning messages to the screen.

This could well be by des

[2021-02-07 09:25] briann5545 opened #7227 "Cleanup parameter list boxes, repeated information on page"
There are 8 boxes on this page that list all the parameters for the Set-Mailbox command, however these lists appears to be duplicates with only the 2nd parameter in each list as unique.  The page needs cleaned up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7f835af-5905-368a-df68-6646782ad807
* Version Independent

[2021-02-07 21:11] Petri-X commented on #7217
Ok, so to nowhere ? :)

I actually though as on Gallery site there is a link:
![image](https://user-images.githubusercontent.com/43988151/107159583-c327a480-6999-11eb-81d2-e805f0f1ce39.png)
That I could send feedback using this path. But lets see what UV could do.

Have a nice day.

[2021-02-08 12:18] dvickery opened #7229 "Minimal Use"
This page would be improved with sample output, e.g:

SourceDataLocation DestinationDataLocation CompatibilityStatus
------------------ ----------------------- -------------------
EUR                           GBR                                   Warning
EUR                           NAM                                 Warning
GBR                           EUR                                   In

[2021-02-08 14:47] get-itips commented on #7187
Hello @shivtorov thanks for reporting!

[2021-02-08 15:31] kingabnt commented on #7229
Issues

[2021-02-08 16:01] get-itips commented on #7186
Hello @shivtorov thanks for reporting, will look into this.

[2021-02-08 16:34] get-itips commented on #7188
Thanks for reporting!

[2021-02-08 17:19] get-itips commented on #7189
Thanks for reporting @shivtorov

[2021-02-08 17:26] get-itips commented on #7186
(Please ignore the related PR, made a typo)

[2021-02-08 17:37] chrisda commented on #7227
@briann5545, you touched on the reason for separate syntax blocks: each contains at least one parameter that can't be used together with others. Set-Mailbox is one of the largest cmdlets in the Exchange universe in terms of the total number of parameters. It's like playing "Where's Waldo" to try to find the unique parameters in each block. I spent some time right after the migration cleaning the s

[2021-02-08 19:29] jeff2work opened #7233 "the correct word would be Syntax, not sintax"
Multiple uses of sintax instead of syntax

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a552efca-0c18-3b2a-fa6e-af1ed276ea08
* Version Independent ID: 82f50727-a66f-4faa-1df5-0932ab8f1b7b
* Content: [Set-CsSlaConfiguration (SkypeForBusiness)](https://docs.microsoft.com/en-us/powershell/module/skype/set-csslaconfigurat

[2021-02-08 23:06] get-itips commented on #7196
Hello @BohrenAn Andres and @DEberhardt David, I hope you are doing good.

The description for `New-CsOnlineAudioFile` has the clue:

Organizational Auto Attendants were the first introduced generation of AA.

Not so long ago if you tried to use `-CsOrganizationalAutoAttendant` cmdlets, an error would be thrown with something like this

The cmdlets `-CsOrganizationalAutoAttendant` were removed rece

[2021-02-09 13:47] get-itips commented on #7209
Hello @ganesh-sanap Ganesh, thanks for reporting, will propose adding the article thru a pr.

[2021-02-09 14:11] get-itips commented on #7210
Thanks for reporting @Pher0ah

[2021-02-09 14:18] get-itips commented on #7197
Hello @DanielWahlgren Daniel, how are you?
Please, see https://github.com/MicrosoftDocs/office-docs-powershell/issues/7163#issuecomment-769354071
@yogkumgit please close, thanks

[2021-02-09 14:19] get-itips commented on #7198
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that repo into this on

[2021-02-09 14:20] get-itips commented on #7201
Hello @JonatanK  , How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from tha

[2021-02-09 14:20] get-itips commented on #7205
Hello @UnaZheng15
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that

[2021-02-09 14:21] get-itips commented on #7206
Hello @yahookevin Kevin, how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your issue with your feedback.

The documentation for PnP cmdlets is then synced

[2021-02-09 14:22] get-itips commented on #7213
Hello @fbehrens Frank, how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from

[2021-02-09 16:51] expta commented on #7225
I discovered that you must assign the owner at the time the Team is created when using certificate-based authentication. This is not a requirement when using interactive login to Connect-MicrosoftTeams.

Please add this to the documentation and/or update the error message.

[2021-02-09 20:36] flemingm opened #7240 "Missing documentation and example for Roles when adding users."
[Enter feedback here]
summary of option list Roles
but details section is missing them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9087cfbe-fb1f-97d4-051e-b066401c95d1
* Version Independent ID: aac162db-a9c0-fbfb-dd40-526e94d3bef8
* Content: [Add-TeamUser (MicrosoftTeamsPowerShell)](https://docs.microsoft.com/en-us

[2021-02-09 20:39] flemingm commented on #7240
ignore this -- it there now -- must of missed it.

[2021-02-09 20:39] #7240 closed

[2021-02-09 22:36] #7181 closed

[2021-02-09 23:24] #7182 closed

[2021-02-09 23:29] #7183 closed

[2021-02-09 23:30] #7184 closed

[2021-02-09 23:38] #7185 closed

[2021-02-09 23:47] thakkerjay commented on #7085
Hello @chrisda,

Thanks for your inputs. As suggested by you, I opened a MS Support case since manual creation of 30+ transport rules from on prem to O365 is not an ideal solution.

However, to my surprise, the MS Support Engineer just told me that import of transport rules to O365 is disabled by Microsoft and there is no alternative that he could offer.

Any thoughts/ suggestions would be much ap

[2021-02-10 02:15] kpinel commented on #5259
And, it appears to be back in the latest version

[code]

[2021-02-10 15:09] #7197 closed

[2021-02-10 15:13] yogkumgit commented on #7198
@get-itips Thank you very much for the contribution and sharing this explanation. @joshtransient Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-10 15:15] yogkumgit commented on #7201
@get-itips Thank you very much for the contribution and sharing this explanation. @JonatanK Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-10 15:15] #7201 closed

[2021-02-10 15:18] yogkumgit commented on #7205
@get-itips Thank you very much for the contribution and sharing this explanation. @UnaZheng15 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-10 15:18] #7205 closed

[2021-02-10 15:20] yogkumgit commented on #7206
@get-itips Thank you very much for the contribution and sharing this explanation. @yahookevin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-10 15:20] #7206 closed

[2021-02-10 15:22] yogkumgit commented on #7213
@get-itips Thank you very much for the contribution and sharing this explanation. @fbehrens Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-10 15:22] #7213 closed

[2021-02-10 16:33] martintownshendbgl commented on #5950
@get-itips  is there any idea when this will be fixed or any work around?

[2021-02-10 16:40] #7189 closed

[2021-02-10 16:54] #7187 closed

[2021-02-10 17:11] #7196 closed

[2021-02-10 20:04] joshtransient commented on #7198
Cool. As always, I pressed the "Submit and view feedback for this page" button, and this is the second or third time someone has posted this caveat. I'm gonna continue to submit fixes like this until that button doesn't exist, or until the button goes where it needs to.

[2021-02-10 20:05] #7198 closed

[2021-02-11 00:26] Lee-Myhre opened #7248 "Inaccurate information or incorrectly-configured ParameterSets on Start-SPOSiteContentMove cmdlet"
The Parameters section does not match the Examples. The Parameters shows DestinationUrl and DestinationDataLocation as
 mutually-exclusive and part of separate parameter sets; the Description underlines this by showing that the ParameterSets are each labeled with only one of these two parameters. Example 3 shows these two parameters being used together, which should be impossible given the informa

[2021-02-11 02:29] ishaisagi opened #7251 "install instructions need updating"
Install-Module -Name PnP.PowerShell

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-57d53d313c6f
* Content: [PnP PowerShell Overview](https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-pnp/sharepo

[2021-02-11 11:26] maettle opened #7252 "Set-MailboxRegionalConfiguration -DomainController"
-DomainController isn't aviable in Exchange 2016 on this command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 573e63b4-b27b-5b7b-9269-78d308fd64d3
* Version Independent ID: 57b35909-0381-1181-58bb-2262c33576d1
* Content: [Set-MailboxRegionalConfiguration (ExchangePowerShell)](https://docs.microsoft.com/en-us/powersh

[2021-02-11 15:16] #7209 closed

[2021-02-11 15:20] kilasuit opened #7257 "Add new markdown lint rule to fail when SharePoint is misspelled"
As title says because this would stop changes like in #7256 being needed in future

[2021-02-11 17:18] chrisda commented on #7252
@maettle, I tested on Exchange 2010 SP3 RU30, Exchange 2013 CU23, Exchange 2016 CU19, and Exchange 2019 CU8, and the DomainController parameter is available on the Set-MailboxRegionalConfiguration cmdlet.

Other than different CUs, we could be talking about an RBAC permissions issue. From [this topic](https://docs.microsoft.com/powershell/exchange/find-exchange-cmdlet-permissions), run the followi

[2021-02-11 17:19] #7210 closed

[2021-02-11 17:26] chrisda commented on #7085
@thakkerjay, I asked again, and it was confirmed to me again that the global lack of access to Import-TransportRuleCollection was temporary, and is in the process of being made available again globally. Try again next week (Feb 14 or later). Eventually, it should work.

[2021-02-11 17:56] ihntremmel opened #7260 "Use List of Multiple Users not working"
created a text file and followed the instructions, get back "Cannot bind argument to parameter 'Identity' because it is null."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d193a89-ffbc-90ab-990e-0e36b7845496
* Version Independent ID: 12a028e5-d1ce-12ab-2da8-c46d4815754c
* Content: [Enable or disable access to Exchan

[2021-02-11 21:49] kunitaka commented on #7119
I became the same problem. This occurred when the SharePoint site was not accessed.

[2021-02-12 07:16] maettle commented on #7252
@chrisda with your commands I was able to track down the problem to insufficient permissions. Thank you!

[2021-02-12 07:16] #7252 closed

[2021-02-12 09:33] JohanssonMarkus opened #7263 "Please update the doc site with new settings available"
Information is missing for the following settings, please update the page.
AllowScreenshotCollection
AllowEmailCollection
AllowLogCollection

thanks
/Markus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa66e57e-734d-a869-41c6-385331fc5dc7
* Version Independent ID: 99e0b26c-c256-7238-bef6-52c3e7db38cf
* Content: [Set-

[2021-02-12 10:49] DEberhardt commented on #7260
Hello, Could you give us an example to better verify where the problem might be?
I don't want to investigate in the wrong direction ;)

[2021-02-12 10:54] DEberhardt commented on #7257
Shouldn't VScode extensions like Spellchecker automatically pick this up?
I know PascalCase words like `SharePoint` are treated as `Share` and `Point` which both are in the dictionary. All other iterations would be flagged there anyway.

Don't know if there are additional lint rules available to add checking for specific words though (still learning on that topic so happy to add to my knowledge me

[2021-02-12 11:10] DEberhardt opened #7266 "Size issue - 1MB WAV should be under the limit of 5?"
Hello,

I am investigating why my script broke down when using Import-CsOnlineAudioFile:
[code]
The first part of this is my own Error Message, the second part is the Exception thrown by Import-CsOnlineAudioFile.
Running the command by hand with the following steps results in the same error:

[code]

I tried to find an issue with the length and compare to the 5MB limit, and all looks OK:
[code]
I

[2021-02-12 11:17] DEberhardt commented on #7217
If this holds true it would explain why my client is "stuck" all the time.
Now where is that spitting tea emoji? ;)

[2021-02-12 12:13] ihntremmel commented on #7260
David,

No problem.  In this section: [https://docs.microsoft.com/en-us/powershell/exchange/disable-access-to-exchange-online-powershell?view=exchange-ps#use-a-list-of-specific-users](https://docs.microsoft.com/en-us/powershell/exchange/disable-access-to-exchange-online-powershell?view=exchange-ps#use-a-list-of-specific-users) there is the code:
`$NPS = Get-Content "C:\My Documents\NoPowerShell.tx

[2021-02-12 12:38] DEberhardt commented on #7260
Hello,
I see. It looks like the TXT file does not have a Column header "MicrosoftOnlineServicesID" as the command would expect. This is common for CSV files (which result in PowerShell importing the content as an Object and the keys can be called by subsequent CmdLets. It references something here that doesn't exist, therefore it fails.

Two way around this:
[code]
alt
[code]

or

Edit your NoPowe

[2021-02-12 12:43] ihntremmel commented on #7260
Thanks @DEberhardt. I had brought it up in the hopes that the information would get clarified if necessary so people in the future would not run into the same issues.
Cheers

[2021-02-12 15:03] yogkumgit commented on #7128
@dariomws  Thank you very much for the contribution and sharing this explanation. @tudorh Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is r

[2021-02-12 15:03] #7128 closed

[2021-02-12 15:06] yogkumgit commented on #7143
@dariomws Thank you very much for the contribution and sharing this explanation. @OrtacDemirel Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-12 15:06] #7143 closed

[2021-02-12 15:08] yogkumgit commented on #7144
@dariomws Thank you very much for the contribution and sharing this explanation. @sgargel Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-12 15:08] #7144 closed

[2021-02-12 15:10] yogkumgit commented on #7166
@dariomws  Thank you very much for the contribution and sharing this explanation. @mwl-aotc Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-02-12 15:10] #7166 closed

[2021-02-12 20:14] kilasuit commented on #7257
Not everyone uses VSCode so you cannot enforce it via that mechanism just in case you get the hardcore notepad dev (which yes, they definitely still exist) but it should be added there too for those that do.

But markdown lint rules for this is a common & easy to add approach that ensures you get the error as part of the build which allows for it to be always caught, not just sometimes caught whic

[2021-02-12 22:27] miketheitguy opened #7283 "GCC High Connection"
Can we add a note on GCC High and -Region ITAR? Otherwise people get an OAuth error :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05b23d72-33ed-a6a1-a442-a5e5cf039f9f
* Version Independent ID: 4247cf37-3667-2007-7251-46ed80f58ef5
* Content: [Get started with the SharePoint Online Management Shell](https://docs.micr

[2021-02-15 13:10] dariomws commented on #7190
@arnauvc - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted he

[2021-02-16 00:11] shivtorov opened #7290 "Get-CsOnlineTelephoneNumber ResultSize defaults not documented"
The Get-CsOnlineTelephoneNumber article does not describe the default ResultSize limit.
Currently, if we run `Get-CsOnlineTelephoneNumber` without any parameters, the cmdlet returns first 500 objects only (and no warning indicating output truncated).

Please add a note that says about this 500 objects limit.

PS. sample code to get all results:

`Get-CsOnlineTelephoneNumber -ResultSize ([int]::Max

[2021-02-16 05:01] shivtorov opened #7291 "update New-CsOnlineSchedule article to replace legacy OAA with AA"
`New-CsOnlineSchedule` creates scheduled that can be used for:
- CsOrganizationalAutoAttendant
- CsAutoAttendant

CsAutoAttendant replaced legacy CsOrganizationalAutoAttendant

Suggested changes to the article:

1) in the "DESCRIPTION" and "RELATED LINKS" section replace all references to legacy CsOrganizationalAutoAttendant with new CsAutoAttendant

2) Example 5 - first two lines should be delete

[2021-02-16 06:14] sagar4u opened #7292 "Example 5 contains wrong CAML query"
[Enter feedback here]
Example 5 in the document contains just GUID and it is not actual CAML query.
Example 5 supposed to show valid CAML query

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b777fcfe-c7da-0165-d6ac-74fc2db07daf
* Version Independent ID: 12045879-94af-fd90-66a0-8f3db00a579f
* Content: [Get-PnPListItem (

[2021-02-16 09:37] lightupdifire opened #7293 "ConditionalAccessPolicy"
Hello,

Seems the "ConditionalAccessPolicy: ReadOnly" blocking .txt or .log files on unmanaged PC's if use Webmail,
While PDF or Word files displayed just fine... any explanation for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 022da80e-29cd-f6b5-aa00-48e2d16c4be8
* Version Independent ID: c3353c03-e416-f693-10

[2021-02-16 10:55] dariomws commented on #7208
@danmyhre - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Exchange better. They keep a close tab on user feedback, and it would be awesome if you could add your voice in User Voice https://office365.uservoice.com/.

You might find others have made a similar request that you can add to or open a new one. L

[2021-02-16 11:15] dariomws commented on #7212
Hi @Alex-Catalin, thank you for your feedback. I'll try to confirm this information as I don't have access to https://o365exchange.visualstudio.com/IP%20Engineering/_workitems/edit/1359643.

If you have a Microsoft alias, you can link your accounts in GitHub so that a blue "Microsoft submitter" label appears to any PR's or issue you submit. Guidance on it here: https://docs.opensource.microsoft.co

[2021-02-16 11:42] Alex-Catalin commented on #7212
Hi Dario,

My MS account should be linked to the github account. You gave me these steps before and I followed them to link the 2 accounts 😊.

Thank you,

Alexandru Cazacu
Sr. Support Escalation Engineer
Exchange Online
M365 EMEA Customer Service & Support
alexandru.cazacu@microsoft.com<mailto:alexandru.cazacu@microsoft.com>
9 AM - 6 PM (GMT+2)
[cid:image001.png@01D70469.8E289360]

From: Dario Woi

[2021-02-16 13:46] yogkumgit commented on #7190
@dariomws  Thank you very much for the contribution and sharing this explanation. @arnauvc Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-02-16 13:46] #7190 closed

[2021-02-16 13:50] yogkumgit commented on #7208
@danmyhre Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-02-16 14:29] get-itips commented on #7225
Hello @expta Jeff, how are you?
I could reproduce, I am adding a note to the documentation.
Thanks for reporting.

[2021-02-16 15:02] Petri-X commented on #7217
Yes I wrote it into VoicelessUser. But it looks pretty much like a black hole. I just could hope that someone sees that. Also, on the category for "bugs", Teams PS module is not even listed there.

So it is kind of useless to report the issues. But thank you for asking :)

[2021-02-16 15:04] get-itips commented on #7226
Hello @DevJonBirkett Jon, how are you?
I could reproduce, will propose adding a note to the article.
Thanks

[2021-02-16 16:50] #7174 closed

[2021-02-16 17:02] #7202 closed

[2021-02-16 17:08] dariomws commented on #7214
Hi @FrankPlawetzki, thank you for your feedback and help us to improve docs.microsoft.com.

I think it's still the right way to remove a mailbox in a hybrid environment:

1. Remove the license
2. Run Disable-RemoteMailbox

The mailbox will remain as soft-deleted for 30 days.

The following sentence appears in the article:
"Remove a cloud-based mailbox but keep the associated on-premises user accou

[2021-02-16 17:30] #7212 closed

[2021-02-16 18:39] get-itips commented on #7263
Thanks for reporting @JohanssonMarkus

[2021-02-17 07:18] yogkumgit commented on #7217
@Petri-X  Thank you very much for your kind feedback and following the advise of experts and reporting this to a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-02-17 07:18] #7217 closed

[2021-02-17 14:35] get-itips commented on #7248
Thanks for reporting @Lee-Myhre

[2021-02-17 14:43] get-itips commented on #7229
Hello @dvickery David, how are you?
Cmdlet documentation does not include sample output. Probably a place where some advice could be added would be [this other page](https://docs.microsoft.com/en-us/microsoft-365/enterprise/multi-geo-capabilities-in-onedrive-and-sharepoint-online-in-microsoft-365?view=o365-worldwide) or [this](https://docs.microsoft.com/en-us/microsoft-365/enterprise/move-sharepoi

[2021-02-17 14:47] get-itips commented on #7257
Hello @kilasuit Ryan, how are you? hope you are doing good.
We can only make changes to the text content in articles, not to the underlying spell check rules, however, I'll try to pass this recommendation to the team.
Thank you!

[2021-02-17 18:20] dariomws commented on #7260
@ihntremmel @DEberhardt thank you for your feedback and comments. It should be live in the next couple of days.

[2021-02-17 21:33] #7260 closed

[2021-02-18 02:53] danmyhre commented on #7208
@dariomws
https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/42725063-add-support-for-filtering-on-mailboxregion-propert

[2021-02-18 08:55] hwkwicre opened #7313 "Confusing sentence"
This example stops the ability to "moves the movement" of the objects?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e77d7e6-f1bb-0922-b149-7718fc99c6a7
* Version Independent ID: c0fcf89d-6a61-4ba6-e600-b18dae362716
* Content: [Stop-SPOUserAndContentMove (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/

[2021-02-18 08:57] WillemVerwijs opened #7314 "what command for all mailboxes"
a few examples were given. an example for all mailboxes would be great

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9a33ed-691e-83d5-41ed-606e3eb84e01
* Version Independent ID: f305f185-8ad2-1188-a448-5cfe52dadde6
* Content: [Get-MailboxFolderStatistics (ExchangePowerShell)](https://docs.microsoft.com/en-us/powersh

[2021-02-18 14:16] get-itips commented on #7283
Thanks, will propose it @miketheitguy

[2021-02-18 14:27] yogkumgit commented on #7229
@get-itips Thank you very much for the contribution and sharing this explanation. @dvickery Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-18 14:27] #7229 closed

[2021-02-18 14:29] yogkumgit commented on #7257
@get-itips Thank you very much for the contribution and sharing this explanation. @kilasuit Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-18 14:29] #7257 closed

[2021-02-18 14:32] yogkumgit commented on #7233
@DEberhardt Thank you very much for the contribution and updating the documentation with PR. @jeff2work Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-18 14:33] #7233 closed

[2021-02-18 15:02] get-itips commented on #7266
Hello @DEberhardt David, This appears not to be an issue with the cmdlet but with PS Remoting anyway as this is not a documentation issue I can handle, I'll try to pass this information on.
Thank you!

[2021-02-18 15:04] get-itips commented on #7266
Also, if you can, you can open a support ticket so this reaches the team :)

[2021-02-18 15:09] get-itips commented on #7251
Hello @ishaisagi document has been already updated (the whole PnP documentation too) :)

Thank you!

[2021-02-18 16:09] #7225 closed

[2021-02-18 16:36] #7226 closed

[2021-02-18 16:41] #7263 closed

[2021-02-18 18:26] JAK1047 opened #7318 "Inconsistent Examples"
The examples have the operator as -OperationId. The Parameters has it as -Identity. Using the latest pre-release of the module seems to have neither as accepted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44ec2119-d178-b9f8-3199-481ecd84eea3
* Version Independent ID: 6e814ba4-7680-12b5-10ee-f7c71865cd71
* Content:

[2021-02-18 19:39] Mike-Crowley opened #7319 "UTF 8 or 16?"
This article states we must use UTF 16: https://docs.microsoft.com/en-us/microsoft-365/compliance/create-a-keyword-dictionary?view=o365-worldwide#modifying-an-existing-keyword-dictionary

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2b0ab96-73c6-e6f6-562b-35ac3c9c2c0a
* Version Independent ID: 46f7615a-a8e0-4e24-64eb

[2021-02-18 19:44] Mike-Crowley opened #7320 "1MB or 100KB Dictionary size?"
This other article states the file size limit is 1MB, vs the 100KB listed here.

https://docs.microsoft.com/en-us/microsoft-365/compliance/create-a-keyword-dictionary?view=o365-worldwide#modifying-an-existing-keyword-dictionary

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2b0ab96-73c6-e6f6-562b-35ac3c9c2c0a
* Versio

[2021-02-18 21:18] nhadro opened #7321 "-Batch missing on Set-PnpListItem"
I installed "Install-Module -Name PnP.PowerShell -RequiredVersion 1.3.0" and when I try to use "Set-PnPListItem" there is no parameter for Batch.

Is this available on for the latest stable version?

[2021-02-19 03:45] kpinel opened #7322 "TerminatingError: "429 in /v1.0/teams/ endpoint""
Seeing the above error regularly since updating to 1.1.11

Error in its entirety in the transcript
[code]

It wasn't so common in 1.1.10 but we never had the first line

have reverted to 1.1.9 as it appears more stable.

We require the preview modules to create class teams as well as for managing Skype for Business but, currently only seeing this error when creating a new team

[2021-02-19 09:36] yogkumgit commented on #7251
@get-itips Thank you very much for the contribution and sharing this explanation. @ishaisagi Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-19 09:36] #7251 closed

[2021-02-19 17:17] chrisda commented on #7319
@Mike-Crowley, I updated New-DlpKeywordDictionary and Set-DlpKeywordDictionary from UTF-8 to UTF-16.

Thanks for the feedback.

Closing.

[2021-02-19 17:22] Mike-Crowley commented on #7319
Thanks - I see there are both code samples and paragraphs that still reference 8, but i guess its still working through the change process?

[2021-02-19 17:49] chrisda commented on #7319
Correct. There have been some publishing issues the last few days, but I made the change and it is coming.

[2021-02-19 17:49] #7319 closed

[2021-02-19 19:34] dehavenba opened #7326 "Exchange Online Management v2 Powershell - v2.0.4 Non-Stored Credential issue"
With the latest update/version of the Exchange Online powershell module a **major** behavior change was implemented that is not called out accurately in the documentation. When connecting to Exchange Online, the new module behavior relies upon the local authentication library (MSAL) for credential lookup even if you specify a credential to be used. For admins that login with one account to their m

[2021-02-21 00:25] kyanar opened #7327 "Unable to connect to Exchange Online using ExO 2.0.4 and PowerShell 7.1.2 on macOS 10.15.7"
Attempting to use the ExchangeOnlineManagement module in PS 7.1.2 on macOS Catalina results in Modern Auth prompt being followed immediately by the error

     | This parameter set requires WSMan, and no supported WSMan client library was found. WSMan is either
     | not installed or unavailable for this system.

Issue was first identified at https://github.com/PowerShell/PowerShell/issues/11188

[2021-02-21 07:32] slabber opened #7328 "MacOS support is broken - references should be removed."
[Enter feedback here]
MacOS support is broken.  It is widely reported in the community.  References to MacOS support should be removed until MacOS support is fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Conten

[2021-02-21 07:36] slabber commented on #7327
@kyanar I have just commented in https://github.com/PowerShell/PowerShell/issues/11188

There is a workaround here

[code]

Restart powershell

[2021-02-21 19:28] DEberhardt commented on #7266
Will do. Thanks. :)

[2021-02-22 02:02] kpinel commented on #7322
New development and not sure if it is related but a progress bar now appears for each thread. Pretty pointless if the script is part of an automated process.
The progress bar shows the 10 latest threads, I think and only appears this way with an ambiguous search
![image](https://user-images.githubusercontent.com/875143/108647868-6c77aa00-7505-11eb-9c6b-ed4e5f2b66e1.png)
Search was:
Get-Team | ?{$_

[2021-02-22 13:04] ygeorgiev-varna opened #7329 "Register-SPMTMigration missing functionality in the documentation"
Hello,

In the documentation for the SPMT PS module

https://docs.microsoft.com/en-us/powershell/module/spmt/register-spmtmigration?view=spmt-ps

is missing -MigrateWithoutRootFolder switch which is important for the group share migrations.

BR

[2021-02-22 16:39] navgupta1208 commented on #7328
Hi @slabber

Can you share more details about the MAC OS version which you are using ?

[2021-02-22 18:01] j0rt3g4 opened #7331 "ContentFilter Parameter it's doesn't exists for Exchange Online"
Trying this out:

[code]

Brings 10 Parameter Sets but in none of them, it's said or explicitly mentions that this parameter is only applicable for On-Premises and not for the Exchange Online Environment as mentioned.

Please double-check this and make corrections in order to fix this issue.
![242922](https://user-images.githubusercontent.com/5489996/108749621-a648b080-7505-11eb-8339-ae400a3216d0.

[2021-02-22 18:41] chrisda commented on #7331
@j0rt3g4, the help that's available at the command line is always going to lag behind what's available on the web. It's the same content; it just takes a while for the code check-in process to happen.

[2021-02-22 22:29] j0rt3g4 commented on #7331
Hello @chrisda  I'm glad to talk to you again!.

I've got some tickets regarding this and the issue is true. The customer is willing to use the contentFilter parameter and it's available on the web, and not even updating into the latest ExchangeOnlineManagement doesn't contain this filter.

So What else should I be thinking if the documentation for the cmdlet itself is not showing the parameter bu

[2021-02-23 00:12] chrisda commented on #7331
If the web version of the topic is incorrect, we can fix it. That fix will take a long time to get checked back into code, that code deployed to datacenter servers, etc.

Not helping in all of this is: it's been a really long time since we've checked help files back into code. I know that very recently (last week) a check-in was done.

[2021-02-23 07:19] slabber commented on #7328
Big Sur.  But this issue is present since Homebrew removed openssl 1.0.  Powershell core still ships with libmi.dylib from OMI that links to homebrew openssl 1.0.

Any fresh install of MacOS combined with following the instructions on this page to install Powershell will result in a broken installation.  EXO module will always error regarding missing WSMan due to the broken library above.

See htt

[2021-02-23 07:33] slabber commented on #7328
If you want a full explanation then try reading this excellent blog post.
https://www.bloggingforlogging.com/2020/08/21/wacky-wsman-on-linux/

Basically one arm of Microsoft (powershell) relies on another (OMI) and OMI has deprecated powershell support and they refuse to fix any issues.  If they continue to refuse and the powershell team do not find another implementation of WSMan then MacOS suppo

[2021-02-23 12:55] yogkumgit commented on #7266
@get-itips Thank you very much for the contribution and sharing this explanation. @DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-23 18:17] chrisda commented on #7328
Closing as duplicate of #7327

[2021-02-23 18:17] #7328 closed

[2021-02-23 18:20] chrisda commented on #7095
Nothing left to do, so closing.

[2021-02-23 18:20] #7095 closed

[2021-02-23 18:21] chrisda commented on #7227
Nothing to do, so closing

[2021-02-23 18:21] #7227 closed

[2021-02-23 18:23] chrisda commented on #7293
@lightupdifire, I would suggest opening a support case on this. If you find anything that requires a content update, report back here, and we'll make the update.

[2021-02-23 18:24] #7208 closed

[2021-02-23 18:25] chrisda commented on #7093
@Obenscripe, the 2.0.4 version of the module went public on 2/10, so the documentation is now correct.

Closing

[2021-02-23 18:28] chrisda commented on #7089
The 2.0.4 version of the module, which supports PowerShell 7 in Windows, macOS and Linux, went public on 2/10, so confusion over PowerShell 5.1 vs. PowerShell 7 should no longer be an issue. All things being equal, I think the current cross linking between the prerequisites topic and the how to connect topic are adequate, but I'm certainly willing to listen to feedback regarding what a where to cr

[2021-02-23 18:29] chrisda commented on #7028
@jonwbstr, anything new to report?

[2021-02-23 18:35] chrisda commented on #6945
@jmcadams-r7, the 2.0.4 version of the module, which supports PowerShell 7, went public on 2/10. Windows and Linux work fine; there appears to be an issue with macOS, and that's being tracked in  #7327.

Also, the subject of this issue is the older, now out of favor Basic auth connection instructions that you shouldn't use anymore. The current connection instructions that you need to use is [Conne

[2021-02-23 18:35] #6945 closed

[2021-02-23 18:37] chrisda commented on #6075
Closing this issue as there's nothing to do in documentation.

[2021-02-23 18:37] #6075 closed

[2021-02-23 18:38] chrisda commented on #7320
This is related to #6009.

[2021-02-23 19:19] jonwbstr commented on #7028
Support is still going around in circles. The texas power outage didn't
help. I asked for an escalation this morning

On Tue, Feb 23, 2021, 1:29 PM Chris Davis <notifications@github.com> wrote:

[2021-02-23 20:09] chrisda commented on #6865
This issue has been resolved. Nothing to report about what to do when the REST API stops working next year.

Thanks for the feedback.

Closing

[2021-02-23 20:09] #6865 closed

[2021-02-23 20:11] chrisda commented on #6882
@MSCM-GitHub, any comments?

[2021-02-23 20:26] chrfox commented on #7320
1MB is the most recent update, go with the 1 MB

[2021-02-23 21:49] chrisda commented on #7320
Topic updated to 1 MB limit.

Thanks for the feedback.

Closing

[2021-02-23 21:49] #7320 closed

[2021-02-23 21:49] chrisda commented on #6099
Limit updated to 1 MB max.

Thanks for the feedback.

Closing

[2021-02-23 21:49] #6099 closed

[2021-02-23 21:51] chrisda commented on #6878
Apparently, nothing can be done to narrow the columns or the table. The only option is to dismantle the table into a list, or use left and right arrow keys to scroll horizontally.

Thanks for the feedback.

Closing

[2021-02-23 21:51] #6878 closed

[2021-02-23 22:01] chrisda commented on #7207
Documentation as been updated to remove EventSubscribers. @spplante, feel free to report back here with the results of your support case if we need to further update documentation.

Thanks for the feedback.

Closing

[2021-02-23 22:01] #7207 closed

[2021-02-23 22:05] chrisda commented on #6934
@trudolf-msft, any/all available Bookings parameters are now in the topic, most of the new ones without descriptions. Whether or not these parameters are meant to be available and are useful for anything is a different story.

[2021-02-24 07:44] lightupdifire commented on #7293
@chrisda
I will open a Support ticket, but if it is a Real limitation, would be good to include in the document information about this limitation, you agree?

[2021-02-24 10:24] Didier-VR opened #7333 "New-team cmdlet error: property is missing a required prefix/suffix"
Hello, it seems to be impossible to create a new Microsoft Teams team using the New-Team cmdlet, when group naming policies are active in the O365 tenant.

I receive following error:
![image](https://user-images.githubusercontent.com/79573805/108984886-b5a83500-7690-11eb-822e-6a5d995c6d3e.png)

The naming policy enforces that group names are formatted as "GRP-[COMPANY]-[groupname]". Creating a tea

[2021-02-24 13:33] JAK1047 opened #7334 "EXO 2.0.4 Errors in Powershell Transcripts"
Since upgrading to 2.0.4 we're seeing constant Import-Module errors whenever we run Connect-ExchangeOnline. The errors appear to not be terminating though since the cmd itself still works.

A positional parameter cannot be found that accepts argument 'Files\WindowsPowerShell\Modules\ExchangeOnlineManagement\2.0.4\netFramework\ExchangeOnlineManagement.psm1'.

This is just from the Connect-ExchangeO

[2021-02-24 13:58] tig3r57 opened #7335 "Unable to have the pop-up when i try to connect through a powershell GUI"
Since beginning of this week, i'm no more able to use the command "connect-exchangeonline" if it's launch from a powershell GUI.
I don't have any issue with other command like connect-azuread

[2021-02-24 16:18] woolfep opened #7336 "teams 1.1.11 get-csbatchpolicyassignmentoperation missing parameters"
when trying this latest version of the teams module I noticed that get-csbatchpolicyassignmentoperation only now allows for  the status parameter, when i go digging into the module i see that there another function get-csbatchpolicyassignmentoperation1 which appears to hold the identity parameter.  Unfortunately when importing the module this function isn't imported. how can I use it?

[2021-02-24 16:39] loftwah commented on #7089
Cool, thanks for checking it out, it is very much appreciated.

[2021-02-24 17:10] chrisda commented on #7293
@lightupdifire, yes. Absolutely. The support case will confirm whether this is a known limitation that needs to be documented, or some type of bug that will get fixed (and will therefore not require documentation updates).

Report back here with their findings.

[2021-02-24 17:25] #7089 closed

[2021-02-24 22:20] ITMonkey78 commented on #7336
+1 same issue. The command has no parameters other than -status
Get-CsBatchPolicyAssignmentOperation -OperationId 908131e5-022d-4322-9852-73df363ac5fb
Get-CsBatchPolicyAssignmentOperation : A parameter cannot be found that matches parameter name 'OperationId'.
At line:1 char:38

[2021-02-24 22:43] woolfep commented on #7336
I found a workaround  that works umtil microsoft fix it (presented it to microsoft in a case)  in the Microsoft.teams.configapi.cmd let’s.psm1 files comment out line 48 and I comment line 43, when you import the module after this the secondary cmdlet get-csbatchpolicyassignmentoperation1 will be available and will give you the functionality you need. (P.s. make sure to do this in BOTH of the psm1

[2021-02-24 22:46] DEberhardt commented on #7266
Raised: https://microsoftteams.uservoice.com/forums/555103-public/suggestions/42773060-import-csonlineaudiofile-does-not-import-audio-fil

[2021-02-24 22:46] #7266 closed

[2021-02-25 08:56] mvanders opened #7337 "When group is created, there are no owners nor members in it, although I added them using as ArrayOfStrings?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff78b7f4-0927-27d0-0b1d-5bd00bb93d26
* Version Independent ID: 321cb4f2-43a1-1732-e429-3432af07a511
* Content: [New-PnPMicrosoft365Group (PnP.Powershell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/new-pnpmicrosoft365group?view=

[2021-02-25 10:56] webash opened #7339 "Most of the -Bookings* parameters are missing descriptions"
Please fill in the descriptions of the `-Bookings*` related parameters so that we can know what they do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23add0a6-bb9c-15d2-a6eb-351ae0564522
* Version Independent ID: 8056b3ee-4fab-3a5c-935b-a9d0e9ad82a4
* Content: [Set-OrganizationConfig (ExchangePowerShell)](https://doc

[2021-02-25 13:34] JosephJojo opened #7340 "batching not working in the stable release"
The example 5 mentioned in this article is not working in the stable build of PnP PowerShell. If batching feature is not available for the stable build then it is not mention it in this article so others won't be get confused. Otherwise it is better to mention the required version on PnP PowerShell Module.

As from the github issue https://github.com/pnp/powershell/issues/327 it specified that thi

[2021-02-25 16:20] inseu opened #7341 "ShowInTeamsSearchAndSuggestions is this parameter working?"
The documentation should be updated. The ShowInTeamsSearchAndSuggestions is not working.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5143fcd-9f3c-9f5d-2bdf-50b97f6a98ff
* Version Independent ID: 01f33478-352d-c7ae-0c49-784fa1c1fd67
* Content: [Set-Team (MicrosoftTeamsPowerShell)](https://docs.microsoft.com

[2021-02-25 18:41] JohnGGeo opened #7342 "Examples not showing properly"
On github, the query appears properly however in the doc site it appears not all the query is appearing. For example look at example 6. It references
Get-PnPListItem -List Tasks -Query "<View><ViewFields><FieldRef Name='Title'/><FieldRef Name='Modified'/></ViewFields><Query><Where><Geq><FieldRef Name='Modified'/><Value Type='DateTime'><Today/></Value></Eq></Where></Query></View>"
In github however

[2021-02-26 12:46] anthonielance opened #7343 "EXO 2.0.4 Transcripts being cluttered with import cmdlet message"
Transcript logs are being cluttered with useless `VERBOSE: Importing cmdlet 'Test-ActiveToken'` message. The cmdlet is constantly being logged and providing no diagnostic or troubleshooting help. It would be nice if this message can be suppressed or better yet importing the cmdlet only once instead of every time a exposed cmdlet such as `Add-DistributionGroupMember` is called.

Example Code

[code

[2021-02-26 13:08] PeteMitch99 opened #7344 "How do you suppress the 'disconnected successfully' message for the Powershell ExchangeOnlineMangement v2 disconnect-exchangeonline cmd?"
[Enter feedback here]

How do you suppress the 'disconnected successfully' message? It appears in the console window not matter what method i use to suppress it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3520ee8b-4c1b-5cf1-677e-9dcd14d88ea1
* Version Independent ID: 219014fd-5626-e1bf-aac4-b321bbdaa465
* Content:

[2021-02-26 15:04] angoo-atea opened #7345 "Instructions for installation AND uninstallation??"
Installation (https://pnp.github.io/powershell/articles/installation.html) and uninstallation (????) guidance should be referenced here.

From this site: https://pnp.github.io/powershell/articles/installation.html there are no instructions for uninstallation !?!?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4caea3e-

[2021-02-26 15:22] PeteMitch99 opened #7346 "EXOv2 2.0.4 Disconnect-ExchangeOnline - 'Disconnected successfully !' in console not stream - can't be redirected or suppressed?"
I can't suppress the 'Disconnected successfully !' message when using Disconnect-ExchangeOnline from a PowerShell window using any of the provided switches.

This pollutes my output stream for automation XML returns and is very frustrating.

This can be easily replicated by running the below line (you do not even need to be connected first):

`$Output_Detail = Disconnect-ExchangeOnline -confirm:$F

[2021-02-26 16:32] chrisda commented on #7344
@PeteMitch99, this should work:

[code]

[2021-02-26 16:43] PeteMitch99 commented on #7344
Hi Chris, thanks for the response.

This command does not suppress that message. Neither does anything else:

I can't suppress the 'Disconnected successfully !' message when using
Disconnect-ExchangeOnline from a PowerShell window using any of the
provided switches.

This pollutes my output stream for automation XML returns and is very
frustrating.

This can be easily replicated by running the bel

[2021-02-26 17:17] chrisda commented on #7344
Got it. Checking.

[2021-02-26 19:43] v-chilso opened #7347 "Link suggestion to troubleshoot why some Cmdlets are unavailable"
Suggest to link to https://docs.microsoft.com/en-us/powershell/exchange/find-exchange-cmdlet-permissions?view=exchange-ps for troubleshooting why certain Cmdlets are not available after connecting to Exchange Online in (Windows/Core) PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82f

[2021-02-28 17:24] jluce512 opened #7348 "-RemoveSharePointLocationException"
When you remove a site from the -removeSharePointLocationException it never goes back on retention.

[2021-03-01 01:37] Skatterbrainz opened #7349 "Query Example and CAML reference"
Please add a real example for using -Query (example 6).  The existing example is essentially useless.  Also, the parameter section references CAML but the related links section doesn't mention it at all.  Maybe link to https://docs.microsoft.com/en-us/sharepoint/dev/schema/query-schema

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-03-01 14:46] yogkumgit commented on #7214
@dariomws Thank you very much for the contribution and sharing this explanation. @FrankPlawetzki Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-01 14:51] get-itips commented on #7291
Thanks for reporting @shivtorov

[2021-03-01 14:58] get-itips commented on #7318
Hello @JAK1047 how are you? Hope you are doing ok

_OperationId_ is an **alias** of _Identity_, that is detailed in the parameter for -Identity

I could verify what you say that in 1.1.11-preview both parameters have been removed, however, the documentation will reflect the behavior of the General Availability module, once this change is merged into the GA version we will update the article.
Thank

[2021-03-01 15:05] get-itips commented on #7322
Hello @kpinel
How are you? Hope you are doing good.
Here we are limited to documentation issues, please be aware that Public Preview versions are development versions subject to changes.

Thank you

[2021-03-01 15:22] hamohsen opened #7351 "StartAfter or CompleteAfter are not available"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68325010-9605-22b4-4b6c-b61f332dc321
* Version Independent ID: 47ce5d33-5483-8c8e-2aa2-532178bf466a
* Content: [New-MigrationBatch (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/new-migrationbatch?view=exchange-ps&so

[2021-03-01 15:26] hamohsen commented on #7351
I've this parameter not working on (E2013 CU23 and E2019 CU2).. however they're available in below result:
Get-ManagementRoleEntry *\* -Parameters StartAfter | ft Name,Role
Please update the document on this parameter availability.

[2021-03-01 15:46] get-itips commented on #7333
Hello @Didier-VR Didier, how are you?
Here, we are limited to help with documentation changes and fixes, I am afraid I can not be of more help regarding issues encountered using the Teams PowerShell module. Also, please be aware that the Preview version of the module is the development version and is subject to changes.

For this:

The best way to reach the team would be https://microsoftteams.use

[2021-03-01 16:02] admartini200 opened #7352 "-CompleteAfter and -StartAfter are not available in Exchange 2019, Exchange 2016 and Exchange 2013"
[-CompleteAfter and -StartAfter are not available in Exchange 2019, Exchange 2016 and Exchange 2013 - please update article]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68325010-9605-22b4-4b6c-b61f332dc321
* Version Independent ID: 47ce5d33-5483-8c8e-2aa2-532178bf466a
* Content: [New-MigrationBatch (ExchangePowerShe

[2021-03-01 16:40] chrisda commented on #7352
@admartini200, I checked Exchange 2013 CU23, Exchange 2016 CU19, and Exchange 2019CU8, and they're available to me:

[code]

Can you confirm or deny?

 Whether those parameters are supposed to be available or whether they function is a different story.

[2021-03-01 17:08] chrisda commented on #7347
@v-chilso, OK, done. I added a sentence and link to the this existing statement in the What do you need to know before you begin? section:

Due to publishing problems on our end, you might not see the updated topic for a while.

Thanks for the feedback.

Closing

[2021-03-01 17:08] #7347 closed

[2021-03-01 18:42] chrisda commented on #7351
@hamohsen, normally, the older issue wins, but I accidentally started investigating in #7352, so I'm closing this issue as a duplicate of that. Let's continue the discussion there.

[2021-03-01 18:42] #7351 closed

[2021-03-01 18:47] chrisda commented on #7352
#7352 mentions that these parameters actually work in Exchange 2019 CU8. If that's the case I can add this text to the description:

Comments?

[2021-03-01 20:10] whatanatta opened #7355 "2.0.4-Preview9 Connection Issue"
Attempting use connect-exchangeonline command not working as intended, depending on the circumstance. Running the command by itself is fine. Running it in a script is not either A: not launching the credentials window or B: after credentials window it doesn't continue on with the rest of the script - depending on how it's being ran.

This issue started with 2.0.4. I figured out it was this version

[2021-03-01 20:25] get-itips commented on #7290
Thanks for reporting @shivtorov

[2021-03-01 20:37] whatanatta commented on #7355
Since I'm unable to recreate it outside of my script, I'll provide a sanitized version of the script. Before it gets thrown back into my face about "it's probably just your script", I emphasize that I uninstalled 2.0.4-preview9 and installed 2.0.3 and the script started working just fine again.

When script is ran, check the box "Disable - Check here if user is being disabled" and input whatever y

[2021-03-02 04:33] JAK1047 commented on #7318
Ok so the documentation is more for what it will reflect in final release rather than the current state?

[2021-03-02 06:48] kpinel commented on #7322
Thanks for that. Sadly this was the only place for for responding.
The reason for the public review is that we are a university and the only way to use the education templates is the preview version

[2021-03-02 12:21] get-itips commented on #7318
The GA module still uses Identity (and OperationId), the General availability module is the current production-ready module of Teams PowerShell, for more information on the difference see here https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-overview please.

[2021-03-02 12:33] #7318 closed

[2021-03-02 12:37] get-itips commented on #7322
I can understand that. I would keep an eye on the releases of new GA versions of the Teams PowerShell module to check again if the feature is included.

[2021-03-02 12:40] dariomws commented on #7326
@dehavenba - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted

[2021-03-02 12:50] dariomws commented on #7334
@JAK1047 - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted he

[2021-03-02 12:54] dariomws commented on #7335
Hi @tig3r57, thank you for your feedback.

I couldn't reproduce the issue but try to minimize the Windows PowerShell window to see if you have a credential pop-up below it.

Also, please check that you are using the latest version of the Exchange Online PowerShell V2 module:
https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2

[2021-03-02 13:19] FrankPlawetzki commented on #7214
Seems my statement was based on incorrect pieces of information I got. Sorry for that

[2021-03-02 13:20] FrankPlawetzki commented on #7214
see above comment

[2021-03-02 13:37] FrankPlawetzki commented on #7214
Seems my statement was based on incorrect pieces of information I got. Sorry for that

[2021-03-02 13:49] get-itips commented on #7349
Hello @Skatterbrainz How are you?
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

The documentation for PnP cmdlets is then synced from tha

[2021-03-02 13:50] get-itips commented on #7345
Hello @angoo-atea

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from tha

[2021-03-02 13:51] get-itips commented on #7342
Hello @JohnGGeo
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

The documentation for PnP cmdlets is then synced from that repo into this o

[2021-03-02 13:52] get-itips commented on #7340
Hello @JosephJojo
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your inquiry with your feedback.

The documentation for PnP cmdlets is then synced from

[2021-03-02 13:52] get-itips commented on #7337
Hello @mvanders
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your inquiry with your feedback.

The documentation for PnP cmdlets is then synced from t

[2021-03-02 13:53] get-itips commented on #7321
Hello @nhadro

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your inquiry with your feedback.

The documentation for PnP cmdlets is then synced from th

[2021-03-02 13:54] get-itips commented on #7292
Hello @sagar4u

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

The documentation for PnP cmdlets is then synced from that repo into this o

[2021-03-02 14:16] get-itips commented on #7348
Hello @jluce512 how are you?
Do you refer to which article? can you put the URL here? maybe the article for Set-DlpCompliancePolicy?
I created a test dlp policy, chose All SharePoint sites and excluded a site, and then successfully removed the site using the parameter removeSharePointLocationException, let me know if I understood you correctly.
Thanks

[2021-03-02 14:22] jluce512 commented on #7348
The article I was referring to is set-retentioncompliancepolicy I set one to addsharepointlocationexception did some maintenance on some file versions, then reran the script with a removesharepointlocationexception.  The site is removed, but when you check the site in SharePoint Admin Center you no longer see This Site has a compliance policy to block deletion:

The site below has never had any ex

[2021-03-02 14:39] #7292 closed

[2021-03-02 15:50] dariomws commented on #7214
Don't worry @FrankPlawetzki! We appreciate that you tried to help and encourage you to do the same in the future.

[2021-03-02 16:09] RichMath opened #7357 "Set "End meetings early or start late" on individual mailboxes"
It would seem that the "Set-MailboxCalendarConfiguration" would be a logical place to set up this option. It can be done from OWA and Outlook, and it looks like the setting (once made) effects the change for the mailbox no matter if the client uses OWA or Outlook, or if they access the mailbox from a client machine different to the one on which the change was made. That would imply that the option

[2021-03-02 20:22] webstaff opened #7359 "example 1 typo"
New-MailboxRestoreRequest -SourceMailbox "ExchangeGUID" -TargetMailbox "User Name" -AllLegacyDNMismatch
Should be
New-MailboxRestoreRequest -SourceMailbox "ExchangeGUID" -TargetMailbox "User Name" -AllowLegacyDNMismatch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b81df6c-c688-ffc2-25c3-775489a87db5
* Version Indepe

[2021-03-03 02:58] nalhemyariirexorg opened #7363 "PS module install command"
[Enter feedback here]
is missing from the page, will be useful to add it so we can start using the commands

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f98d029-8c45-af5e-1527-290690fa1283
* Version Independent ID: e7833ab4-d2b1-5840-4f2c-dda86599d3af
* Content: [MicrosoftWhiteboardAdmin Module](https://docs.microso

[2021-03-03 03:13] JAK1047 commented on #7334
Understood I went ahead and created a ticket. I'll keep this thread updated as I get a response.

[2021-03-03 05:28] terryclancy opened #7364 "This page would benefit from more detail on how to install pre-requisites and get started"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10052620-9909-c335-1913-fdf9db8ab16b
* Version Independent ID: e4be7843-4540-96fd-dcd8-09d6b91a4249
* Content: [Basic auth - Connect to Exchange Online PowerShell](https://docs.microsoft.com/en-us/powershell/exchange/basic-auth-connect-to-exo-powershe

[2021-03-03 09:39] Didier-VR commented on #7333
Thanks for your answer.

I have posted a message on User Voice (https://microsoftteams.uservoice.com/forums/908686-bug-reports/suggestions/42820038-not-possible-to-create-a-team-with-powershell-new), I'll see if this gets implemented.

[2021-03-03 11:03] MSCM-GitHub commented on #6882
Hi @chrisda,

I would instruct like this:

"
If you get an error when you trying to install the module, run the following commands:

1: Check security protocols> [Net.ServicePointManager]::SecurityProtocol
2: Change security protocol to Tls1.2> [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
3: Check security protocols> [Net.ServicePointManager]::SecurityProtocol
4:

[2021-03-03 11:20] dariomws commented on #7327
Hi @kyanar and @slabber, thank you for your feedback.

I asked internally, and the product team is aware and working on it. Sadly I cannot provide more information like when we would have some news about it.

If you haven't done it yet, you can also report this to exocmdletpreview[at]service[dot]microsoft[dot]com (The email address is purposefully obfuscated to avoid spam).

[2021-03-03 11:34] yogkumgit commented on #7349
@get-itips Thank you very much for the contribution and sharing this explanation. @Skatterbrainz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-03 11:34] #7349 closed

[2021-03-03 11:37] yogkumgit commented on #7345
@get-itips Thank you very much for the contribution and sharing this explanation. @angoo-atea Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-03 11:37] #7345 closed

[2021-03-03 11:39] yogkumgit commented on #7342
@get-itips Thank you very much for the contribution and sharing this explanation. @JohnGGeo Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-03 11:39] #7342 closed

[2021-03-03 11:40] yogkumgit commented on #7340
@get-itips Thank you very much for the contribution and sharing this explanation. @JosephJojo Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-03 11:40] #7340 closed

[2021-03-03 11:45] yogkumgit commented on #7337
@get-itips Thank you very much for the contribution and sharing this explanation. @mvanders Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-03 11:46] #7337 closed

[2021-03-03 11:48] yogkumgit commented on #7321
@get-itips Thank you very much for the contribution and sharing this explanation. @nhadro Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-03 11:48] #7321 closed

[2021-03-03 16:13] chrisda commented on #7364
@terryclancy, the connection method described in that topic is on the way out (Basic auth). The current method (and at some point, the only method when Basic auth connections are disabled) is described in [Connect to Exchange Online PowerShell](https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell) and it's ancillary topics:

[App-only authentication for unattended s

[2021-03-03 16:47] #7314 closed

[2021-03-03 17:38] pmhesse10p opened #7365 "Get-EXORecipientPermission does not work with Global Reader permission"
We have created a [Global Reader](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#global-reader) account in order to run some PowerShell scripts to help with maintenance and security reviews.

One of the tools we are running is the [CrowdStrike CRT](https://github.com/CrowdStrike/CRT), a reporting tool that examines Azure Active Directory and Exchange Online, an

[2021-03-03 17:50] andrePKI opened #7366 "Prequisites?"
"This cmdlet is available only in the cloud-based service." What does that mean? I.e. I am connecting to Exchange Online from an on-premises computer, but the cmdlet is not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75b757c9-b775-8294-91f7-870bead6a907
* Version Independent ID: 54ebab36-97bb-cd9f-6eb2-12

[2021-03-03 18:10] chrisda commented on #7366
@andrePKI, the cloud-based service typically means Exchange Online PowerShell; if a cmdlet is available in Security & Compliance Center PowerShell only, we'll call that out as such.

If you are well and truly connected to Exchange Online PowerShell, it comes down to permissions (role-based access control, a.k.a. RBAC). Taken from [this topic](https://docs.microsoft.com/powershell/exchange/find-exc

[2021-03-03 18:23] dariomws commented on #7339
Hi @webash, thank you for your feedback.

I'm trying to get more information about these parameters. Please give me some days.

[2021-03-03 19:43] andrePKI commented on #7366
Excellent information, thank you! Unfortanately I can't run Get-ManagementRoleAssignment due to lacking permissions as well - a kind of chicken-egg situation here. But at least I now have something I can ask from my Exchange admins ;-)
Would be nice though if the text "You need to be assigned permissions..." stood out a little more. We lazy people don't read that well but scan the page and pick ou

[2021-03-04 05:33] hwkwicre opened #7370 "Typo?"
This cmdlet allows **_a_** SharePoint administrator **_s_**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea34b55f-8b6e-ad2e-b82c-574db46614a2
* Version Independent ID: 8fa169c0-74f3-92b0-4bcf-cb31bf616c9c
* Content: [Get-SPOUserAndContentMoveState (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/powersh

[2021-03-04 11:27] TalismanM opened #7372 "Exchange Hybrid mode - Remote\Office 365 mailbox: Set-Mailbox cmdlet throws no error when updating only the primary SMTP address"
1. Create Remote\Office 365 mailbox.
2. Add second smtp address.
3. Wait for synchronization to complete.
4. Connect to Exchange Online via PowerShell.
5. Use cmdlet Set-Mailbox to set the second smtp address as Primary\Reply address.
**Result:** No error. The second smtp address is set as Primary\Reply address.
6. Run synchronization and wait till it completes.
**Result:** The changes made on ste

[2021-03-04 13:29] get-itips commented on #7341
Thanks for your feedback @inseu

[2021-03-04 16:16] SOM-SPeters opened #7374 "Connect-MicrosoftTeams Ignores AccountId"
After upgrading to MicrosoftTeams 2.0.0 `Connect-MicrosoftTeams -AccountId admin@mytenant.onmicrosoft.com` no longer obeys -AccountId. Testing with -Identity and -AccountId returns the correct users but gives `Get-Team : Unauthorized in /v1.0/groups/ endpoint`.

[2021-03-04 18:48] whatanatta commented on #7355
I just realized that 2.0.4 has been released for a month. That'd be the version I was on, not Preview9.

[2021-03-05 00:27] ChrisB9907 commented on #5377
I have the same issue after installing the management module. It almost seems like it doesn't want to import the commands. Tested this with the current version 2.0.4 and the preview 9 version of 2.0.4.

![image](https://user-images.githubusercontent.com/60661129/110049297-6f914800-7d06-11eb-8d9a-35828404c861.png)

[2021-03-05 00:34] ChrisB9907 opened #7376 "New-ComplianceSearch command not importing with ExchangeOnlineManagement module"
Installed the module on both PowerShell 5.1 and on PowerShell 7, that did not help. It almost seems like it doesn't want to import  some of the commands. Tested this with the current version 2.0.4 and the preview 9 version of 2.0.4. Screenshot shows a command that is found here https://docs.microsoft.com/en-us/powershell/exchange/connect-to-scc-powershell?view=exchange-ps#how-do-you-know-this-work

[2021-03-05 00:48] ChrisB9907 commented on #7376
Quick findings update, so it appears that the working command and all other commands imported by the Connect-IpPsSession command go to a temp directory.

![image](https://user-images.githubusercontent.com/60661129/110050742-66ee4100-7d09-11eb-801f-4eab0d738d68.png)

[2021-03-05 04:59] chrisda commented on #7376
@ChrisB9907, a couple of things:

If you connect successfully without connection errors, then it's most likely a role based access control (RBAC) issue. For the New-ComplianceSearch cmdlet, you need the Compliance Search role, which according to the [permissions topic](https://docs.microsoft.com/microsoft-365/security/office-365-security/permissions-in-the-security-and-compliance-center) is assign

[2021-03-05 12:30] dariomws commented on #5377
@ChrisB9907 - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted

[2021-03-05 12:49] yogkumgit commented on #7355
If you do not see any document update, please go ahead and close this one. Thanks

[2021-03-05 14:06] cloudgreen opened #7378 "ConfigurationOnly backup often needs "-Force""
I believe some information about the following should be added:

If the farm is medium sized or bigger, you usually have to use the **-Force** parameter when doing a **ConfigurationOnly** backup. This is because SharePoint miscalculates the size of the backup to include basically everything, even though the **ConfigurationOnly** parameter is specified. This took me ages to figure out.

I am using

[2021-03-05 15:19] TheITguy666 opened #7379 "MicrosoftTeams PSmodule 2.0"
I've updatet the MS teams module to 2.0 but when I try to import-module it it throws and error:

`Import-Module : Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral,
PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The system cannot find the file specified.
At C:\Program Files\WindowsPowerShell\Modules\microsoftteams\2.0.0\net472\Microsoft.Teams.ConfigAPI.Cm

[2021-03-05 15:35] TheITguy666 commented on #7379
It looks like it just something missing on the path.
Now even installing the previous version I got the same errors.

[2021-03-05 15:54] get-itips commented on #7313
Thanks for reporting @hwkwicre

[2021-03-05 15:56] TheITguy666 commented on #7379
Additional debug. I could load without errors if I ran from the directory where microsoftteams was installed.
But when using the modules like connect-microsoftteams it generates errors

[2021-03-05 16:22] PeteMitch99 commented on #7344
After debugging the MS code i'll answer this myself. Its a write-host. Since PS 5.1 this is output to the information stream - so just the console but not the output stream.

Fine unless you are writing automation for a product that scrapes the console output (like Service now).

So this works.

$Output_Detail += Disconnect-ExchangeOnline -confirm:$False -InformationAction Ignore

Would make more

[2021-03-05 16:22] PeteMitch99 commented on #7346
After debugging the MS code i'll answer this myself. Its a write-host. Since PS 5.1 this is output to the information stream - so just the console but not the output stream.

Fine unless you are writing automation for a product that scrapes the console output (like Service now).

So this works.

$Output_Detail += Disconnect-ExchangeOnline -confirm:$False -InformationAction Ignore

Would make more

[2021-03-05 16:26] #7290 closed

[2021-03-05 16:51] #7291 closed

[2021-03-05 16:51] TheITguy666 commented on #7379
problem solved!
- I had      .net v4.7.2053.0   (officially called 4.7)
- installed .net v4.7.3062.0 (officially called 4.7.2) and it all works now

[2021-03-05 16:52] #7379 closed

[2021-03-05 17:01] TheITguy666 commented on #4186
Hi all,
the teams psmodule need .net framework 4.7.2
4.7.02053 is actually just 4.7
https://github.com/MicrosoftDocs/office-docs-powershell/issues/7379

[2021-03-05 17:16] chrisda commented on #7344
@PeteMitch99, interesting. When I try to run that command directly, I get an error:

[code]

So do you need to use that syntax in a script along with the Write-Host cmdlet?

[2021-03-05 18:03] vitorbencini opened #7381 "ComplianceSearchAction deleted but not gone."
When you remove a compliance search action with **Remove-ComplianceSearchAction** cmd the job disappears from eDiscovery however I am unable to submit another search action. Best scenario would be if a deleted search actions is deleted from front-end and backend as well. I guess this has to do with the maximum concurrent exports per user of 3 reported here.
https://docs.microsoft.com/en-us/microso

[2021-03-05 18:15] vitorbencini opened #7382 "ComplianceSearchAction clear backend status/errors"
When you submit a New-ComplianceSearchAction it may take several hours to complete a export job and that is fine. However  when a Content Match Query syntax is correct but it conflicts with backend capabilities, it may not always be clear the problem is caused by a query or the parameter you have in your search, perhaps a more clear error would help that. Microsoft engineer instructed to separate

[2021-03-05 19:35] jwellnitz-schreineredu opened #7383 "Cmdlet not available"
It appears this cmdlet is not available yet despite the Message Center saying it is. Any timeline on when it will be available?

Receiving this:
Set-ExternalInOutlook: The term 'Set-ExternalInOutlook' is not recognized as a name of a cmdlet, function, script file, or executable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

---
#

[2021-03-05 19:36] #7383 closed

[2021-03-05 19:37] jwellnitz-schreineredu commented on #7383
Another resource for support is available.

[2021-03-05 20:25] PeteMitch99 commented on #7344
Ah maybe you are right and still needs fixing. It should work from what I
understand here:

https://adamtheautomator.com/powershell-write-host/

The command I was originally running was:
Disconnect-ExchangeOnline -InformationAction Ignore -WarningAction
SilentlyContinue -ErrorAction SilentlyContinue

But I think what I happening is the '-ErrorAction SilentlyContinue' is
killing the '-InformationAc

[2021-03-05 20:37] PeteMitch99 commented on #7346
On Fri, 5 Mar 2021 at 17:17, Chris Davis ***@***.***> wrote:
 @PeteMitch99 <https://github.com/PeteMitch99>, interesting. When I try to
 run that command directly, I get an error:

 PS C:\> Disconnect-ExchangeOnline -Confirm:$false -InformationAction IgnoreWrite-Host : The value Ignore is not supported for an ActionPreference variable. The provided value should be used
 only as a value for a prefe

[2021-03-05 20:44] PeteMitch99 commented on #7346
NOT FIXED but closed as a duplicate of https://github.com/MicrosoftDocs/office-docs-powershell/issues/7344

[2021-03-05 20:44] #7346 closed

[2021-03-05 21:03] get-itips commented on #7348
Hello @jluce512 how are you? Hope you are doing good, in that case, the best option would be to open a support ticket to understand why the site did not get the policy to block deletion again, as here we are limited to documentation changes and fixes.

[2021-03-05 21:40] PeteMitch99 commented on #7344
[code]
 This is what is happening.

[2021-03-05 21:57] PeteMitch99 commented on #7344
`Disconnect-ExchangeOnline -InformationAction Ignore -ErrorAction Continue -Confirm:$false`
Shows error
`Disconnect-ExchangeOnline -InformationAction Ignore -Confirm:$false -ErrorAction SilentlyContinue`
hides error
`
PS C:\Users\adm\Documents> Disconnect-ExchangeOnline -InformationAction SilentlyContinue -Confirm:$false -ErrorAction SilentlyContinue
Removed the PSSession ExchangeOnlineInternalSes

[2021-03-05 23:08] chrisda commented on #7344
I'm OK with updating documentation with `Disconnect-ExchangeOnline -InformationAction Ignore -Confirm:$false -ErrorAction SilentlyContinue` as an option to hide any/all response text, unless hiding this and other possible errors is somehow dangerous? An error disconnecting likely indicates that you're still connected.

[2021-03-05 23:33] chrisda commented on #7382
@vitorbencini, do you have a content update in mind that would help with this? If not, it sounds like you're asking for a feature update, which is best done at <https://office365.uservoice.com/>.

[2021-03-05 23:34] chrisda commented on #7381
@vitorbencini, do you have a content update in mind that would help with this? If not, it sounds like you're asking for a feature update, which is best done at <https://office365.uservoice.com/>.

[2021-03-06 00:35] PeteMitch99 commented on #7344
Hi @chrisda , thanks for the response.

First, before the documentation I think you or someone else in MS needs to prove the following:

When it fails on the write-host lines of the exchange-onlinemanagement module when it is connected, and gives the below error, is it ending the sessions correctly and just erroring on the write-host lines? Also is it then continuing to run the rest of the lines i

[2021-03-06 01:45] #7283 closed

[2021-03-06 01:53] #7248 closed

[2021-03-06 04:28] ChrisB9907 commented on #5377
Thanks for the link, I will look into submitting a support ticket for it and see if a DCR can be done or have a bug ticket put in. I would recommend that if submitting a support ticket for issues like this is (I would assume that it is either just my tenant having this issue or it an issue globally with the module itself) is the best course of action, the docs might have a place when clicking on t

[2021-03-06 04:38] ChrisB9907 commented on #7376
I have security administrator role on my account, which I thought covers it. Interesting enough, just tried the command and it is now showing up..... the other admin who tried it with me yesterday said it is showing up for him as well now. No changes to roles or anything else was made as far as we know.

[2021-03-08 08:50] atki-tb opened #7385 "Set-MailboxRegionalConfiguration error in example"
Example 3 will throw an error due to bad date format:

Set-MailboxRegionalConfiguration -Identity "Alice Jakobsen" -Language da-dk -DateFormat "dd-mm-yyyy" -LocalizeDefaultFolderName

Suggested fix:

Set-MailboxRegionalConfiguration -Identity "Alice Jakobsen" -Language da-dk -DateFormat "dd-MM-yyyy" -LocalizeDefaultFolderName

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-03-08 12:29] get-itips commented on #7329
Thanks for reporting @ygeorgiev-varna

[2021-03-08 14:48] PeteMitch99 commented on #7344
Or just use write-output instead of write-host so the output can be redirected\captured in 5.1....

[code]

`'disconnect-exchangeonline 6>&1'`

 to redirect the information stream doesn't work either btw.

[2021-03-08 16:30] NickDorak opened #7387 "This command isn't part of Exchange Modules"
Which version of the Exchange Module includes this function?

PS C:\> Get-ExternalInOutlook
Get-ExternalInOutlook : The term 'Get-ExternalInOutlook' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path
was included, verify that the path is correct and try again.
At line:1 char:1
+ Get-ExternalInOutlook
+ ~~~~~~~~~~~~~~~

[2021-03-08 16:51] dneto-ame commented on #7387
Same here.

[2021-03-08 17:29] chrisda commented on #7387
Know issue. Released very, very recently during the middle of a big publishing outage that we had. Availability of the Get/Set-ExternalInOutlook cmdlets is being worked on.

[2021-03-08 18:49] #7341 closed

[2021-03-08 18:53] #7313 closed

[2021-03-08 20:23] sarollins opened #7389 "Setting TransferTarget values"
When querying a user's online voicemail settings, the TransferTarget attribute is a System.Object.  Typically, in the Set cmdlet you also have to pass an object to set an object, but when I attempt this, I get an error

$o=Get-CsOnlineVoicemailUserSettings -Identity 'user@domain.com'

Set-CsOnlineVoicemailUserSettings -Identity 'user@domain.com' -TransferTarget $o.TransferTarget

A transfer target

[2021-03-09 13:29] sanketdpm opened #7393 "Connect-ExchangeOnline - ShowProgress:$false not behaving as intended"
Hi,

As per the documentation of Connect-ExchangeOnline cmdlet:

However, there is absolutely no difference between mentioning this parameter as false or skipping it (implicitly $true) Is this intentional or is there a disconnect between documentation and actual cmdlet?

Variations tried:
-ShowProgress:$false
-ShowProgress $false

cmdlet: Connect-ExchangeOnline
documentation: https://docs.microsof

[2021-03-09 20:19] expta opened #7394 "Which versions of Outlook are supported"
Please list the minimum version of Outlook that supports this new feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba41cae3-da51-0a3d-1652-bce98452d4dc
* Version Independent ID: a2d20c87-6277-a868-3c2e-e2fe225e6f17
* Content: [Set-ExternalInOutlook (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershel

[2021-03-09 20:53] indecline opened #7395 "Missing space in cmdlet"
Get-WebServicesVirtualDirectory -ServerMBX01

should be...

Get-WebServicesVirtualDirectory -Server MBX01

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ced6698e-073a-7757-e163-f5f3b63494e6
* Version Independent ID: 3e98bc95-2112-da86-8549-02db8b2fb110
* Content: [Get-WebServicesVirtualDirectory (ExchangePowerShell)](h

[2021-03-10 08:53] vlethiec opened #7397 "No documentation for cmdlets New-CsTeamsCallingPolicy and Remove-CsTeamsCallingPolicy"
Hi,

There is no documentation regarding the following cmdlets:
- New-CsTeamsCallingPolicy
- Remove-CsTeamsCallingPolicy

Is it an error or is it a choice?

Regards,

Vincent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8fa7e55-c3b1-7b37-f395-736ec82868a0
* Version Independent ID: 4630697b-375e-85f2-25b1-b944bc6dad5

[2021-03-10 11:13] geekpankaj1811 opened #7398 "Set-TeamPicture - Group Invalid Error"
Hello,

I am getting and error "Requested group is Invalid" while trying to set the Team Picture. I am passing the GroupID but in the error some additional guid is appended to the GroupID which is strange.

Regards,
Pankaj BAJPAI
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9785a323-0f76-2cc5-8c

[2021-03-10 12:38] jantoney opened #7399 "All Skype For Business modules removed in MicrosoftTeams module since v2.0.0"
Hi all,
(CC: @pupara as the most frequent editor)

I'm certainly not the first one to go crazy, but it seems since you pushed v2.0.0 around 6-7 days ago, none of the Skype For Business Online PowerShell commands work when you only have the MicrosoftTeams module installed because they've been removed... (?)

Looking back at the SFBO documentation, there is this line - [LINK TO PAGE](https://github.

[2021-03-10 14:01] duchaineo1 opened #7400 "Certificate generation documentation error"
Hi there,

In [https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps]( https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps) in the Appendix step 3 where the certificate is generated, if someone were to copy-paste the chunk of code the password of the .pfx would not be what the user intend since it's a string

[2021-03-10 15:02] jamiepassa opened #7401 "Not working"
This does not work for Exchange Online/Office 365.

Yes I am a Global Admin and Have the AddressLists role under Organization Management.

The term 'New-GlobalAddressList' is not recognized as the name of a cmdlet, function, script file,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 802f63aa-9fc7-087a-9b81-b604e1de396

[2021-03-10 15:22] thakkerjay commented on #7085
Thank you @chrisda for your inputs! The import of transport rules works now.

[2021-03-10 15:51] #7329 closed

[2021-03-10 16:42] chrisda commented on #7400
@duchaineo1, you described the problem accurately, but I would contend the point of those examples isn't to copy/paste and run directly; you're likely going to change the .pfx filename/path and use a password of your own choosing.

So, I modified the password to not contain a $.

Thanks for the feedback.

Closing

[2021-03-10 16:42] #7400 closed

[2021-03-10 17:08] chrisda commented on #7401
@jamiepassa, barring some type of transient problem, a connection problem (you are connected to Exchange Online PowerShell, yes?), or temporary disabling on our end due to a security/support issue (which happened recently with Import-TransportRuleCollection) it should work.

See [this topic](https://docs.microsoft.com/powershell/exchange/find-exchange-cmdlet-permissions) for troubleshooting.

Othe

[2021-03-10 17:59] chrisda commented on #7394
@expta, the currently supported versions are Outlook on the web and Outlook for iOS and Android. I updated the topic with this information.

Thanks for the feedback.

Closing

[2021-03-10 17:59] #7394 closed

[2021-03-10 20:47] jamiepassa commented on #7401
Hi Chris, thanks for the fast response. Yes I have a ticket open, however, its been open for a few days. They keep bouncing it around and cant figure out why, but they see the same issue on their side. Its not transient, however, as its been happening for the past 2 weeks. Yes I am using EXOP session due to MFA requirement.

[2021-03-10 22:40] kpinel opened #7404 "Occasional timeouts creating Teams from script"
This has improved since 1.1.11 where it happened all the time.

Received 2 automation errors yesterday morning. Both errors are the same time in different sessions. The next one created 1.5 hours later worked fine

False

The team is created and owner set but there appears to be a timeout responding back to the cmdlet so that it can continue.

Going to add some further debugging to the script to s

[2021-03-11 08:48] biphi opened #7407 "Microsoft TEAMS Powershell module 2.0.0 extreme slow"
I have installed the new MicrosoftTeams Powershell Module and a experience a extreme slowlyness with this new module.

The command get-csonlineuser took with the old module V1.1.6 around **~750 Milliseconds**

With Version 2.0.0 it takes about **~23 Seconds**

Please investigate as soon as possible...in larger environments this has a huge impact!

[2021-03-11 10:11] SergeTechnician commented on #7372
Facing the very same issue. Could anyone provide any insight on this point? Seems to be quite a major bug.

[2021-03-11 15:46] yogkumgit commented on #7326
@dariomws  Thank you very much for the contribution and sharing this explanation. @dehavenba Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation update

[2021-03-11 15:50] yogkumgit commented on #7327
@dariomws Thank you very much for the contribution and sharing this explanation. @kyanar Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-11 15:50] #7327 closed

[2021-03-11 15:52] yogkumgit commented on #7334
@dariomws  Thank you very much for the contribution and sharing this explanation. @JAK1047 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-03-11 15:52] #7334 closed

[2021-03-11 15:54] yogkumgit commented on #7335
@dariomws Thank you very much for the contribution and sharing this explanation. @tig3r57 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-11 15:54] #7335 closed

[2021-03-11 16:02] yogkumgit commented on #7322
@get-itips Thank you very much for the contribution and sharing this explanation. @kpinel Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-11 16:02] #7322 closed

[2021-03-11 16:05] yogkumgit commented on #7348
@get-itips Thank you very much for the contribution and sharing this explanation. @jluce512 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-03-11 16:05] #7348 closed

[2021-03-11 16:21] dan11990 opened #7408 "Add new Teams tabs"
Hi,

I am using MicrosoftTeams to create a new team in Teams. I can't find any way in MicrosoftTeams package to create a tab in the newly created team/channel? Is there any way to do it?

Thanks!

[2021-03-11 17:41] bhanuchintha opened #7409 "Custom SearchBox on O365 Suitebar - Base CSS class hiding this in responsive mode"
Hi Team,

We have hidden the Enterprise search box in our SP site collection and introduced the custom search box in the same position using SPFx extension & CSS. This is working perfectly fine in desktop mode. But, in responsive mode for screen resolutions below 1024px - Default SP css class ".s_b_beed2cf1" is hiding this with the style overflow:hidden. We can overide this style - But, as per the

[2021-03-11 18:03] dehavenba commented on #7326
This is not a tenant specific item/issue, this is new behavior built into
the tools by Microsoft. Thus why I submitted this feedback to have the
documentation updated to reflect the new behavior.
- Bruce D

On Thu, Mar 11, 2021 at 7:47 AM Yogesh Kumar ***@***.***>
wrote:

[2021-03-11 18:58] dariomws commented on #7326
@dehavenba thank you again for your comment.

Yes, the product team is aware of that. I redirected you to support because it's the best place to report issues like this one. Here we are limited to documentation issues and improvements.

[2021-03-12 02:43] hishikitetsuya opened #7411 "Description about UseDatabaseRetentionDefaults is inadequate"
Description about UseDatabaseRetentionDefaults is inadequate, or totally wrong.

[code]

AFAIK it contains some problems such as:

1. The parameter is for deleted **items**, NOT for deleted **mailboxes**. The corresponding GUI is below and highlighted by yellow. The image is copied from [this page.](https://docs.microsoft.com/en-us/exchange/recipients/user-mailboxes/deleted-item-retention-and-reco

[2021-03-12 12:31] vincentkurmi commented on #7186
My issue below is covered by this one.
https://github.com/MicrosoftDocs/office-docs-powershell/issues/7397

[2021-03-12 13:15] lexyart opened #7413 "Forgot Private Channel and Custom Apps Switch"
Hello,

on MicrosoftTeams Module V1.1.6 they forgot at new-team and set-team a switch for
AllowAddPrivateChannels and AllowUploadCustomApps.

Someone knows a trick or hiddenswitch?

Best regards

[2021-03-12 13:41] Lexy2 opened #7414 "Typo -ExchangeLocationLocation"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09fce2ba-cb1a-6148-6ee7-d246711b1e68
* Version Independent ID: aadb493c-9d19-9d76-769f-a336a394e3f7
* Content: [New-LabelPolicy (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/new-labelpolicy?view=exchange-ps)
* Conte

[2021-03-12 14:42] andy-rwalker opened #7416 "MailboxMovePublishedScopes error on New-OrganizationRelationship"
When trying to create new Organization Relationship with more than 1 MailboxMovePublishedScopes getting error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bdc5c8-91af-66ca-cc94-3127fea1b8c3
* Version Independent ID: 29ec4bea-aa01-8f74-f820-adb77c57aa4f
* Content: [New-OrganizationRelationship (ExchangePowe

[2021-03-12 15:35] Mangego opened #7417 "Do not return all delegates"
[Enter feedback here]
The cmd-let do not return all user only a maximum of four users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e2f0b48-664e-1fd9-b208-3892b2a87bc3
* Version Independent ID: 7a0f90ee-22e4-75c8-7043-584c232ceb4d
* Content: [Get-CsUserDelegates (SkypeForBusiness)](https://docs.microsoft.com/en-us/p

[2021-03-12 18:33] chrisda commented on #7414
@Lexy2, thanks for making the change in your own pull request.

Closing

[2021-03-12 19:32] drdenson opened #7418 "Missing description for the -DomainName parameter"
Hi Team - appears to be a missing parameter description in this article for parameter DomainName.  Can this be corrected?  Please reach out to my MS alias if you have any questions.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb1bcd1-e164-db1e-e45a-dd0accd8afa6
* Version Independent ID: e08ff564-4170-905c-

[2021-03-12 23:08] spainja opened #7419 "Get-CsOnlineUser Exception "Tenant Domain is empty""
With the MicrosoftTeams PowerShell module v2.0.0, New-CsOnlineSession is now deprecated and replaced by Connect-MicrosoftTeams. After a successful Connect-MicrosoftTeams, Get-CsOnlineUser returns the following error:

Exception calling "GetSteppablePipeline" with "1" argument(s): "Exception calling "GetRemoteNewCsOnlineSession" with
"1" argument(s): "Tenant Domain is empty""
At C:\Program Files\Wi

[2021-03-13 00:28] chrisda commented on #7411
@hishikitetsuya, interesting catch. From what I can tell, that parameter has been incorrectly described (reference to the  MailboxRetention property) since Exchange 2010 (at least). Any semi-recent edits (likely by me) simply expanded upon this error, which made the error even more obvious..

I updated the parameter description based on your recommendation to match the UI:

I also confirmed an iss

[2021-03-13 00:28] #7411 closed

[2021-03-15 00:29] VladimirGluten47 opened #7422 "Example section unfinished"
PowerShell example: "Insert example commands for example 1."
PowerShell description: "Insert descriptive text for example 1."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03316ed4-3574-15cd-3776-59ff6a363152
* Version Independent ID: b5a2130a-0443-ed77-e854-5c4039ebe93f
* Content: [Get-CsOnlineDialinConferencingPolic

[2021-03-15 00:30] VladimirGluten47 commented on #7422
On second look the topic introduction and descriptions are also unfinished.

[2021-03-15 03:18] jesc516 commented on #4186
Needed to upgrade to .net 4.8

[code]

[2021-03-15 08:53] biphi commented on #7407
It's getting more and more worse. I need to switch back to the old Version as this new Module is breaking all scripts with high amount of Users 60k+

[2021-03-15 10:10] yogkumgit commented on #7381
@vitorbencini Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-03-15 10:11] #7381 closed

[2021-03-15 10:16] yogkumgit commented on #7382
@vitorbencini Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-03-15 10:16] #7382 closed

[2021-03-15 10:22] yogkumgit commented on #7387
@chrisda Thank you very much for sharing this information. @NickDorak Kindly have patience, update will be available in near future.  We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-15 10:22] #7387 closed

[2021-03-15 10:26] yogkumgit commented on #7401
@chrisda  Thank you very much for sharing this explanation. @jamiepassa Hope this comment is helpful for you. Thanks for opening a service ticket in your tenant and please keep following with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this docume

[2021-03-15 10:26] #7401 closed

[2021-03-15 10:29] yogkumgit commented on #7416
@chrisda  Thank you very much for  sharing this explanation. @andy-rwalker Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wil

[2021-03-15 10:29] #7416 closed

[2021-03-15 10:33] yogkumgit commented on #7364
@chrisda Thank you very much for sharing this explanation. @terryclancy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-15 10:33] #7364 closed

[2021-03-15 10:36] yogkumgit commented on #7331
@chrisda Thank you very much for sharing this explanation. @j0rt3g4 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-15 10:36] #7331 closed

[2021-03-15 10:44] yogkumgit commented on #7293
@chrisda Thank you very much for sharing this explanation. @lightupdifire Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation w

[2021-03-15 10:44] #7293 closed

[2021-03-15 10:48] yogkumgit commented on #6934
@chrisda Thank you very much for sharing this information. @trudolf-msft Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-15 10:48] #6934 closed

[2021-03-15 10:51] yogkumgit commented on #6858
@ Thank you very much forsharing this explanation. @itpro-tips If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-15 10:51] #6858 closed

[2021-03-15 10:57] yogkumgit commented on #5239
@pupara Please update. cc @Kateyanne

[2021-03-15 10:57] yogkumgit commented on #5240
@pupara Please update. cc @Kateyanne

[2021-03-15 10:58] #5381 closed

[2021-03-15 10:59] yogkumgit commented on #6084
@pupara Please update. cc @Kateyanne

[2021-03-15 10:59] yogkumgit commented on #6097
@pupara Please update. cc @Kateyanne

[2021-03-15 11:01] #5610 closed

[2021-03-15 11:07] yogkumgit commented on #4186
@tseward

[2021-03-15 11:08] yogkumgit commented on #5485
@tseward

[2021-03-15 11:09] yogkumgit commented on #5886
@get-itips

[2021-03-15 11:09] shivtorov commented on #7422
duplicate for #5240

[2021-03-15 11:19] shivtorov commented on #7374
Version 2 of the module introduced breaking changes for connect experience.

As @SOM-SPeters said above, one of the popular login methods was to run `Connect-MicrosoftTeams -AccountId admin@mytenant.onmicrosoft.com` to allow for MFA verification but save manually typing login name. It is not working anymore since upgrade to v.2.

It would be great if the cmdlet article can be expanded and include

[2021-03-15 15:37] BohrenAn opened #7423 "What Permissions is needed for Get-TeamChannel"
What Role is needet to run Get-TeamChannel

Teams Admin Roles
https://docs.microsoft.com/en-us/microsoftteams/using-admin-roles

PS C:\> Get-TeamChannel -GroupId 30dae3d8-97bf-430b-8be6-7867a6a079b3
Get-TeamChannel : Error occurred while executing
Code: NotFound
Message: Failed to execute Skype backend request GetThreadS2SRequest.
InnerError:
  RequestId: 24f81e6c-fb62-4aba-8148-f94a604cbbdc
  Dat

[2021-03-15 18:53] chrisda commented on #7385
@atki-tb, fixed as you described. In the future, you too can make changes like this directly without opening a GitHub Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2021-03-15 18:53] #7385 closed

[2021-03-15 20:05] jonwbstr commented on #7028
Spoke with person assigned to my case today, and someone is working on updating the documentation. The switch is not supported in Exchange Online.

[2021-03-16 00:45] chrisda commented on #6882
@MSCM-GitHub, yes it does. I updated the topic to the degree that I'm comfortable.

Thanks for the feedback.

Closing

[2021-03-16 00:45] #6882 closed

[2021-03-16 02:04] mhunecke opened #7429 "No description for CompressFile parameter"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c38a9b3d-3c15-3a0f-dc38-4ee357e0c800
* Version Independent ID: 4e5c08ec-a2d4-63a4-27f0-e08445f64f8a
* Content: [Start-HistoricalSearch (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/start-historicalsearch?view=exchan

[2021-03-16 09:57] Petri-X opened #7430 "Missing parameter "-EnableCORS""
Hi,

I was not able to found any clarification to parameter:
-EnableCORS

How that could be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88845a18-3c61-4321-f35a-7bedbe81cdc2
* Version Independent ID: 971d3596-6073-727b-ae99-39880f6d921f
* Content: [Set-CsAutodiscoverConfiguration (SkypeForBusiness)](https://doc

[2021-03-16 11:26] get-itips commented on #7363
Hello, @nalhemyariirexorg thanks for reporting!

[2021-03-16 13:18] get-itips commented on #7374
Hello @SOM-SPeters and @shivtorov
Thanks for your feedback. I noticed that too in 2.0.0, however as here we are limited to documentation changes, I will add some more connection examples to the article, and I'll try to pass this to the Team behind the Ps module.
Thank you

[2021-03-16 13:51] get-itips commented on #7389
Hello @sarollins how are you?
I see that you are passing an object, -TransferTarget is expecting a String (like the other examples that you shared), what happens if you use a String to specify the CQ or AA?
Thanks

[2021-03-16 14:00] sarollins commented on #7389
This is what I get when setting to an Auto Attendant

Set-CsOnlineVoicemailUserSettings -Identity ***@***.***' -TransferTarget '24FCA582-2B31-435A-B68E-827358C246A3'
A transfer target with specified URI (24FCA582-2B31-435A-B68E-827358C246A3) was not found or does not belong to your
tenant.
    + CategoryInfo          : NotSpecified: (:) [Set-CsOnlineVoicemailUserSettings], OnlineVoicemailCmdletExc

[2021-03-16 14:01] get-itips commented on #7398
Hello @geekpankaj1811
I tested this to see if we need to correct the documentation however I could use and set a Team Picture successfully, please be sure to be running the General Availability version (currently 2.0.0).
Thanks

[2021-03-16 14:18] Sa3d94 opened #7434 "Using the Token generated by AAD using MSAL.js, with Connect-MicrosoftTeams -AadAccessToken cmdlet"
I'm trying to get the user's consent in the client side using MSAL.js to be able to configure their Microsoft Teams in PowerShell Core.

I get the token successfully, but when i use it inside PowerShell Core with the cmdlet Connect-MicrosoftTeams -Aadaccesstoken -AccountID, the PowerShell prints the Tenant ID as follows, as if i am connected to Microsoft Teams(It doesn't tell me whether i am conne

[2021-03-16 15:38] Sa3d94 commented on #7434
I gave my Application on Azure an API permission which is Directory.AccessAsUser.All, and i was able to login in PowerShell Core using the Connect-MicrosoftTeams -AadAccessToken cmdlets

I was able to run commands like Get-Team successfully, but i can't execute all cmdlets though. Is there any way that i can grant access to be able to execute cmdlet like Get-CsOnlinePSTNGateway  ?

[2021-03-16 16:16] chrisda commented on #7429
@mhunecke, which undocumented parameter are we talking about?

CompressFile
EncryptionTemplate
EncryptionType
NetworkMessgeID
Url

[2021-03-16 16:57] mhunecke commented on #7429
Sorry Chris, my previous description was not clear.
Here is the screen shot of the "documentation issue".
All the best.
Marcelo.

***@***.***D71A6C.3A6F6CD0]

From: Chris Davis ***@***.***>
Sent: Tuesday, March 16, 2021 1:17 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Marcelo Hunecke ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] There is no

[2021-03-16 17:02] get-itips commented on #7389
Hello @sarollins
When I specified the resource account identity associated with the CQ or AA I got a different error

Will try to confirm this and in any case adjust the article.

Thanks

[2021-03-16 17:08] get-itips commented on #7399
Hello @jantoney
How are you?

You do not need to run Import-PSSession to import SfB cmdlets anymore, you just need to run Connect-MicrosoftTeams [as the article](https://docs.microsoft.com/en-us/powershell/module/teams/connect-microsoftteams) for that cmdlet specifies.

Thank you,

[2021-03-16 17:16] get-itips commented on #7404
Hello @kpinel how are you? hope you are doing good.
Here, we are limited to documentation issues, is there an article that you see needs a correction? If not, I kindly recommend opening a support ticket.
Thank you

[2021-03-16 17:18] chrisda commented on #7429
@mhunecke; sorry; it's still not clear.

[2021-03-16 17:18] get-itips commented on #7407
Hello @biphi
how are you? Hope you are doing good.
Here, we are limited to documentation issues, improvements and fixes, for this I would recommend opening a support ticket directly from your tenant.
Thank you

[2021-03-16 17:23] get-itips commented on #7408
Hello @dan11990
How are you? Hope you are doing good.

Not in the MicrosoftTeams module, however, you can take a look at the PnP module, (please be aware I did not test it myself), there is a cmdlet that might do what you want https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/add-pnpteamstab?view=sharepoint-ps

@yogkumgit please kindly close this.

[2021-03-16 17:41] mhunecke commented on #7429
Did you  received my screen shot?

Go to Start-HistoricalSearch (ExchangePowerShell) | Microsoft Docs<https://docs.microsoft.com/en-us/powershell/module/exchange/start-historicalsearch?view=exchange-ps>
Scroll down to Parameters
Look for "-compress File".

There is no description for this attribute.

I see "{{ Fill CompressFile Description }}

All the best.

From: Chris Davis ***@***.***>
Sent: Tu

[2021-03-16 17:49] SABAHDEGU opened #7438 "Analste"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36b57b66-2364-0e9d-e627-5eeb77238675
* Version Independent ID: 78fd7932-06f9-37c7-8928-250b3884d89e
* Content: [Connect to Exchange servers using remote PowerShell](https://docs.microsoft.com/en-us/powershell/exchange/connect-to-exchange-servers-using

[2021-03-16 17:53] chrisda commented on #7438
@SABAHDEGU, what's the question or comment?

[2021-03-16 19:40] TheITguy666 commented on #4186
The teams psmodule 3.0 needs at least .net framework 4.7.2 or .net core 2.1

[2021-03-16 22:52] tseward commented on #7409
Are you manipulating the Suitebar? If so, that's unsupported.

[2021-03-17 07:05] biphi commented on #7407
Hi,

thanks anyway.
I have opened a support ticket.

[2021-03-17 10:26] OSuperfly opened #7442 "Command not available in Exchange Online"
Hi Team,

I'm currently in the process migrating OnPrem Exchange public folders to M365.
My problem is, that the provided PowerShell script "Sync-ModernMailPublicFolders.ps1" referres to the EXO Powershell command "Remove-EXOSyncMailPublicFolder" but this seems not to be available anymore?

So the execution of "Sync-ModernMailPublicFolders.ps1" results in:

(translated)
RemoveMailEnabledPublicFold

[2021-03-17 12:00] mvanders opened #7444 "Doesn't work if only one owner in the group!"
When trying to use this function when there is only 1 owner left in the group, it returns no error BUT ALSO DOESN'T REMOVE the owner from the group!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b326628d-0c5a-7c8f-b53d-44f0cec9cf09
* Version Independent ID: 70d36efc-45c3-db3f-8728-68e0f915f6d0
* Content: [Remove-PnPMi

[2021-03-17 17:17] JeroenDronkers opened #7445 "Get-messagetracedetail requires MessagetraceId"
Get-messagetracedetail requires MessagetraceId (it will fail if not specified) but how (where) is a customer supposed to find the MessagetraceId. This article should specify where to find the MessageTraceId in my opinion.
(We should actually be able to run Get-MessageTraceDetail in combination with only the message-Id)

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-03-17 17:20] OSuperfly commented on #7442
Hi chrisda,

thanks a lot for your hint and the explanation how the script handles the "Remove-SyncMailPublicFolder".
But...
unfortunately if I try to execute one of the cmdlets in the Exchange Online Powershell it is not found?!

Remove-SyncMailPublicFolder
![image](https://user-images.githubusercontent.com/80822304/111509851-70d26400-874d-11eb-98f3-01a39b4723ce.png)

Any ideas?

[2021-03-17 17:36] chrisda commented on #7442
No access to a cmdlet is typically a role based access control (RBAC) problem. If you're a member of the Organization Management role group in Exchange Online, you should have access to the cmdlet.

For more information, see <https://docs.microsoft.com/powershell/exchange/find-exchange-cmdlet-permissions>

[2021-03-17 17:49] chrisda commented on #7445
@JeroenDronkers, I added where to find the MessageTraceId value in the description of the MessageTraceId parameter.

The "We should actually be able to run Get-MessageTraceDetail in combination with only the message-Id" statement is more of a feature request, so you should do that at <https://office365.uservoice.com/>.

Thanks for the feedback.

Closing

[2021-03-17 17:49] #7445 closed

[2021-03-17 18:38] OSuperfly commented on #7442
thx a lot for directing me in the right direction
![image](https://user-images.githubusercontent.com/80822304/111520328-4934c900-8758-11eb-8f39-5e0f03f8d21d.png)

[2021-03-17 18:59] get-itips commented on #7422
Thanks for reporting, yes, it has been a long-standing issue however I could get some more information and I'll propose an update to the article.

[2021-03-17 21:01] #7363 closed

[2021-03-18 00:05] linlidialpad commented on #7434
@Sa3d94 What is the permission/scope you are using to display the following permission (Access MicrosoftTeams and and Skype for Business data as the signed in user)?
![Screen Shot 2021-03-17 at 5 02 38 PM](https://user-images.githubusercontent.com/57730092/111554071-dcfb9a80-8742-11eb-89d9-3cab45c14ff0.png)

[2021-03-18 00:30] linlidialpad commented on #7434
+1 for the question. I was able to run `Get-Team` but not commands like `Get-CsOnlineUser` and `Set-CsUser`. Getting the same error as described in the issue. I'm wondering what's the scope/permission needed to ask user's for consent in order to run these old SkypeForBusiness commands. If this approach is not supported yet, do you have a timeline when this will work?

[2021-03-18 04:35] bhanuchintha commented on #7409
Hello @tseward , We are not manipulating the suite bar, we have just created a custom search box using the Fabric control in the SPFX extension (header) and used CSS to position our own custom search box in the place of OTB Enterprise search box.

Now, All is working fine in desktop mode. But, in responsive mode for screen resolutions below 1024px - This custom search box getting hidden with the b

[2021-03-18 08:04] OSuperfly commented on #7442
Hi chrisda,

thanks again for your professional analysis and quick help to solve my problem!

I couldn't have come to a solution to the problem any faster!
I think that the M365 support would not have been able to help (I opened a case but was stuck at 1st level).

Thx
Oliver/Germany

[2021-03-18 08:04] #7442 closed

[2021-03-18 08:13] yogkumgit commented on #7409
@tseward

[2021-03-18 08:30] #7326 closed

[2021-03-18 08:30] #7214 closed

[2021-03-18 11:24] bakerm00 opened #7451 "Step 5 - Why do we need Azure AD roles?"
Can we include details on why the Azure AD roles are need?  Security teams are querying why API permissions assignment are not enough?  much like peopleAPI  access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c465a6d5
* Conten

[2021-03-18 11:28] mvanders opened #7452 "Adding a security group using email address doesn't work!"
When trying to execute the following, I got no error, but nothing gets added either:
Add-PnPGroupMember -Group "EG-TF-NCAP_P Visitors" -EmailAddress "_STAFF_EXTERNAL@acea.be"

It works for O365/M365 groups but not for security groups apparently?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2a33fa-0ed0-9ffd-bd58-6a7

[2021-03-18 12:46] mariosaelikeit opened #7453 "Set-ExternalInOutlook should have the option to add domains and all subdomains to the allowed list"
Example should be:
Set-ExternalInOutlook -AllowList @{Add="*contoso.com"}

We can't be expected to manually add all subdomains to this allowed list.

[2021-03-18 13:17] dariomws commented on #7343
@anthonielance - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make EXO PS module better. They keep a close tab on user feedback, and it would be awesome if you could add your voice in User Voice https://office365.uservoice.com/forums/273493-office-365-admin?category_id=96338 or [blog](https://techcommunity.mi

[2021-03-18 13:55] mr-spacecat commented on #7372
@yogkumgit Any updates? The same issue happens when manually updating proxy addresses of AADConnect-synced users in hybrid environments.
1. Add a new smtp address to a user mailbox in Exchange Online admin center.
2. Run AAD Ccnnect delta sync cycle.
3. The proxyAddresses attribute reverts to old value from on-premises. New smtp address is GONE!

Exchange should forbid changing proxyAddresses of s

[2021-03-18 14:26] joshtransient opened #7454 "No coverage for -SyncAadB2BManagementPolicy argument"
The [article](https://docs.microsoft.com/en-us/sharepoint/sharepoint-azureb2b-integration-preview) explaining how to replace SPO sharing with B2B sharing mentions running `Set-SPOTenant -SyncAadB2BManagementPolicy $true` in addition to `Set-SPOTenant -EnableAzureADB2BIntegration $true`; however, there is no mention of the SyncAadB2BManagementPolicy argument.

---
#### Document Details

⚠ *Do not e

[2021-03-18 14:55] hairyken opened #7455 "Parameter '-SkipImportSession' doesn't exist"
This page lists '-SkipImportSession' as a parameter from 2.0.4-Preview2, but this parameter isn't available in 2.0.4 (release version). Looks like the parameter has been removed from one of the previews...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13d88f18-3cc8-5f18-8d61-ff7f5fa4e314
* Version Independent ID: 60f9

[2021-03-18 16:22] chrisda commented on #7455
@hairyken, confirmed. The parameter was in Preview2 and Preview6, but not in Preview9 and not in the public release of 2.0.4. I removed it from the topic.

Thanks for the feedback.

Closing

[2021-03-18 16:22] #7455 closed

[2021-03-18 16:38] Didier-VR commented on #7333
Hi, I wanted to post an update about this issue, since I managed to create a Team with the New-Team cmdlet, and I think my issue was related to the documentation.

When a naming policy is active, the parameter MailNickName apparently is **mandatory**. It has to respect the naming policy, just like the DisplayName. Even when it's the same as the DisplayName, it has to be included when the cmdlet is

[2021-03-18 17:01] #7374 closed

[2021-03-18 18:43] rhymeswithmogul opened #7457 "Minor typo in New-MailboxImportRequest documentation"
In the documentation for the `New-MailboxImportRequest` cmdlet, you have the following snippet:

The code block says "User2", but in the description, the user's name is given as Kweku.  While the example is still understandable, hese two names should be the same for clarity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-03-18 18:48] IldAmourBonjamin opened #7458 "Connect-Exchangeonline -DelegatedOrganization not working"
I can connect to a delegated tenant using
[code]
This brings about it's own issues, it seems to me that this is the old way of doing it so I wanted to try using Connect-Exchange as it should support it according to the microsoft reference.

Reference: https://docs.microsoft.com/en-us/powershell/module/exchange/connect-exchangeonline?view=exchange-ps

Steps to recreate: `Connect-ExchangeOnline -Del

[2021-03-18 18:54] dariomws commented on #7355
@whatanatta, thank you for your feedback. Here we are limited to documentation issues and improvements.

In this case, if you are experiencing this issue outside the script using the latest version, I recommend opening a support ticket to report it.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

[2021-03-18 18:57] chrisda commented on #7457
@rhymeswithmogul, fixed. In the future, you too can make changes like this without the need to open an Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2021-03-18 18:57] #7457 closed

[2021-03-18 19:01] dariomws commented on #7357
@RichMath - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Microsoft 365 better. They keep a close tab on user feedback, and it would be awesome if you could add your voice in User Voice https://office365.uservoice.com/.

You might find others have made a similar request that you can add to or open a new o

[2021-03-18 19:02] gruering opened #7460 "Parameter StartMigrationAutomaticallyWhenNoScanIssue is ignored"
Setting the parameter StartMigrationAutomaticallyWhenNoScanIssue to $false has no effect. When I register a new session for analysis only by using the ScanOnly and StartMigrationAutomaticallyWhenNoScanIssue parameters the migration immediately starts after a successful scan.

The global SpmtSettings.txt contains  "StartMigrationIfNoScanIssue": false.
The local GlobalSettings.csv file list Start Mi

[2021-03-18 20:14] #7370 closed

[2021-03-18 23:03] webash commented on #7339
Hey @dariomws - any update? :)

[2021-03-19 08:37] dariomws commented on #7339
My apologies @webash. I still don't have any update. I´ll keep you posted once we have it.

[2021-03-19 10:15] KorZijl opened #7463 "Connect-ExchangeOnline does not work when called from a WPF form"
### Issue
Calling Connect-ExchangeOnline from within a Windows Presentation Foundation (WPF) form doesn’t open the separate ADAL sign-in form in a browser context and therefore keeps waiting for credentials forever:
![WaitingForever](https://user-images.githubusercontent.com/80952366/111763118-0d0d7f80-88a2-11eb-85ae-8842e97dd800.png)

### Versions
OSBuild: 18363.1379
PSVersion: 5.1.18362.1171
Exc

[2021-03-19 16:43] PeteMitch99 commented on #7344
[code]

[2021-03-19 17:46] erwanolivo opened #7464 "Some cmdlets from MicrosoftTeams v2.0.0 are not working in Azure Function context"
Using PowerShell v7 in an Azure Function v3 context, I am not able to run some cmdlet from the MicrosoftTeams v2.0.0 modules (related to the old skypeonlineconnector modules), raising an exception :

`Exception calling "GetSteppablePipeline" with "1" argument(s): "Object reference not set to an instance of an object."`

It does work in my own environment.

### Example
___
[code]

This issue is als

[2021-03-19 18:07] get-itips commented on #7419
Hello @spainja How are you? Hope you are doing good.
I've seen that error but when you use for example Connect-MicrosoftTeams using CBA, when you use interactive login the Skype cmdlets will work ok.
In any case, here, we are limited to documentation changes and fixes, will try to pass this feedback to the team behind the module.
Thank you

[2021-03-19 18:35] get-itips commented on #7413
Hello @lexyart how are you?
Is there any specific article in the documentation that you think needs a correction or a fix?
The team behind the Teams Ps module is adding new features with every release, in case you want your request to get to the team please open a suggestion here https://microsoftteams.uservoice.com/

[2021-03-19 22:30] get-itips commented on #7417
Hello @Mangego
How are you?
I tested this on my lab to see if we had to correct the article, the cmdlet returns correctly  more than four users, maybe you probably did not expand de property Delegates while getting the result?

`Get-CsUserDelegates -User meganb@contoso.com| select -ExpandProperty delegates`

Hope this helps you,

[2021-03-19 23:16] dariomws commented on #7365
Hi @pmhesse10p, thank you for your feedback.

I tested it and found that the Get-RecipientPermissions cmdlet is not available as Global Reader neither. Here we are limited to documentation issues and improvements. To request features updates or additions, I have to redirect you to another channel.

I know the product teams are always looking for user feedback and how to make Exchange Online better

[2021-03-19 23:19] dariomws commented on #7372
@TalismanM and @mr-spacecat - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Here we are limited to documentation issues and improvements.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us

[2021-03-19 23:46] chrisda commented on #7393
Topic updated per #7466.

Thanks for the feedback.

Closing

[2021-03-19 23:46] #7393 closed

[2021-03-20 00:10] #7359 closed

[2021-03-20 05:23] aspnet4you opened #7469 "Get-CsOnlineUser - Exception calling "GetSteppablePipeline" with "1" argument(s) .. Tenant Domain is empty"
I am running the powershell script in Azure Automation Runbook and using MicrosoftTeams module.

Call to Connect-MicrosoftTeams with -TenantId -CertificateThumbprint and -applicationid works fine. I am using Azure Service Principal with certificate authentication.

But, when I call Get-CsOnlineUser very next line I am awarded with an error - Exception calling "GetSteppablePipeline" with "1" argume