[2020-04-29 21:09] dariomws commented on #5350
Hi @NickDorak, thank you for your feedback.

I agree with you, I think this parameter is not useful here. I´m suggesting an update, let´s see if it gets approval.

[2020-04-29 22:51] JimAdkins commented on #5377
@dariomws Thanks for the response. Yes, the account that runs my automation is a member of that group.

Long Story:
This issue came up because I use automation to generate these content searches. I used the -ConnectionUri URL:
https://ps.compliance.protection.outlook.com/powershell-liveid/
and for over a year or two now, this has worked as expected.

About 2 weeks ago, it was brought to my attenti

[2020-04-29 23:18] gkens opened #5423 "Need a gui"
Please add a GUI option to enable and disable modern auth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Independent ID: 4d69ee5d-5a6d-a203-69fe-bf5441a8b5eb
* Content: [Connect to Exchange Online PowerShell](https://docs.microsoft.com/en-us/powershell/exchange/exchange-on

[2020-04-30 02:45] tameemansari commented on #5317
Investigating !

[2020-04-30 02:48] tameemansari commented on #5313
Sorry for the delay. Right now we have side effects and issues when partner delegated auth calls occur from our cmdlets. We should be looking to address this before Ignite'20.

[2020-04-30 05:26] Conan1989 opened #5424 "suggestion for changing install instructions"
Hi,
Current instructions are to install the module with elevated privileges. A better option might be to use the CurentUser scope, not requiring elevation

Install-Module -Name 'ExchangeOnlineManagement' -Scope CurrentUser

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Ind

[2020-04-30 07:00] gavsto commented on #5313
@tameemansari Are you suggesting that this is not going to be fixed until September 2020? I currently have absolutely no method to manage our clients teams programmatically at the moment and I know I'm not the only one in this boat.

Please consider attaching a higher priority to this.

[2020-04-30 07:23] magichappens89 opened #5425 "Missing Parameter for Set-OwaMailboxPolicy"
Hello,
according to this article about the new "Booking" feature: https://support.microsoft.com/en-us/office/get-access-to-microsoft-bookings-5382dc07-aaa5-45c9-8767-502333b214ce?ui=en-US&rs=en-US&ad=US there is a parameter -BookingsMailboxCreationEnabled but it doesn´t exist. Also couldn´t find it in the module documentation: https://docs.microsoft.com/en-us/powershell/module/exchange/client-acce

[2020-04-30 07:48] fowl2 opened #5426 "Move-SPSite: What does "-CopyEvents" parameter do?"
The current text: `Specifies if events need to be copied.`

1. This is move operation, why is anything being copied?
2. Which "events" are these? Are they user visible? (I assume not because this is off by default)

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d77b895-234c-9584-7806-2c39a7d607d0
* Version Ind

[2020-04-30 07:52] fowl2 opened #5427 "Move-SPSite: "An IIS reset is required for the site move to take effect.""
I just tested this on SharePoint 2013:
1. Open a site in a web browser- verify it is accessible.
2. Run `Move-SPSite` and wait for it to complete.
3. Open the site in a web browser again - verified it is still accessible.

Notice no `iisreset`. The site shows under its new content database in central administration.

Is this document saying that the site won't actually be moved until IIS is restar

[2020-04-30 10:35] yogkumgit commented on #5423
@officedocsbot assign @yogkumgit

[2020-04-30 10:36] yogkumgit commented on #5424
@officedocsbot assign @yogkumgit

[2020-04-30 10:36] yogkumgit commented on #5425
@officedocsbot assign @yogkumgit

[2020-04-30 10:36] yogkumgit commented on #5426
@officedocsbot assign @yogkumgit

[2020-04-30 10:37] yogkumgit commented on #5427
@officedocsbot assign @yogkumgit

[2020-04-30 10:50] yogkumgit commented on #3906
@get-itips  Thank you very much for the contribution and sharing this explanation. @Skempf94
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-30 10:50] #3906 closed

[2020-04-30 11:04] yogkumgit commented on #4845
@dariomws Thank you very much for the contribution. @NickDorak  Kindly check #4780 as PR is created and merged. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-30 11:26] yogkumgit commented on #3946
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Petri-X Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-30 11:26] #3946 closed

[2020-04-30 12:07] Petri-X opened #5428 "Microsoft Teams Powershell version"
Hi,
Could you please clarify what version you are asking us to use in production. The version which support private channels is in my mind version 1.0.18. But few days ago your team released 1.0.6.

If we are using these versions from PoshTestGallery, are we out of the support?

[2020-04-30 12:09] tonywoodruff opened #5429 "Documentation Incomplete - Sample Data"
cmdlet documentation incomplete. Contains sample data {{ Fill User Description }} {{ Fill in the Synopsis }}.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a27412b8-ee1c-f2f1-eaf9-3d86bf3f5dcc
* Version Independent ID: e6c9ea70-3774-8fcc-ed2a-bb42c49531f1
* Content: [Set-CsUserTeamMembers (skype)](https://docs.microsof

[2020-04-30 12:10] Petri-X opened #5430 "Microsoft Teams PowerShell: Release notes"
Hi,
Do you have any plans to release any release notes from these versions you are publishing? Would be super great to set some expectations, and also if some of the errors are fixed in which versions.

[2020-04-30 12:12] tonywoodruff opened #5431 "Documentation Incomplete - Sample Data"
cmdlet documentation incomplete. Contains sample data {{ Fill User Description }} {{ Fill in the Synopsis }}.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0534486e-dcf7-9eef-bd71-ccb7085f67c5
* Version Independent ID: da2bcea3-1a73-dea8-db08-891a99f94944
* Content: [Set-CsUserDelegates (skype)](https://docs.microsoft

[2020-04-30 12:42] dariomws commented on #5377
@csdunaway yes, ConnectionUri is https://ps.compliance.protection.outlook.com/powershell-liveid/ if you don´t have MFA enabled.
If it doesn´t work you can try with:
Connect-IPPSSession -UserPrincipalName <UPN>
https://docs.microsoft.com/powershell/exchange/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell

[2020-04-30 14:09] get-itips commented on #5379
Hello @terblas how are you?
I could not reproduce to see if we have to impact any documentation, as here we are limited to documentation issues, please kindly open a support ticket directly in your tenant.
Thank you

[2020-04-30 14:15] get-itips commented on #5404
Hello @asajrawat211993 How are you?
Here, we are limited to documentation issues, for cmdlet's behaviour, the resource is [UserVoice](https://office365.uservoice.com/). Please suggest your idea to add ErrorAction there, that way, it can reach the Product Team.
Hope this information helps you

[2020-04-30 14:35] get-itips commented on #5313
@tameemansari Thanks for sharing your feedback and confirming this is known by the product team.

[2020-04-30 14:37] get-itips commented on #5317
@tameemansari please tell me if the same answer for https://github.com/MicrosoftDocs/office-docs-powershell/issues/5313 applies here, which I think it does. Thank you

[2020-04-30 15:04] magichappens89 commented on #5425
Let me know if further information or error messages are required. Maybe there is even a different way to update the attribute, at least I couldn´t find a method for this. Would be definitely great to disable the feature in the default policy.

[2020-04-30 15:34] dariomws commented on #5375
Hi @stukey, thank you for your feedback.

I will check if it´s supported and give you feedback.

[2020-04-30 18:02] get-itips commented on #4930
Hello @andikrueger Andi, how are you? 👍
Talked with the team and we decided that, in this case, we will add a preview only notice for now, as these cmdlets are not yet ready to be used.
The documentation will be upgraded when they become ready and we have feedback from the product team.

[2020-04-30 18:11] KelvinTegelaar commented on #5313
I'm completely agreeing with @gavsto. I've made some other bug reports for the graph API for the teams endpoints. Its near impossible to do anything in a completely automated fashion right now.

[2020-04-30 18:42] Ofer-Gal opened #5433 "TypeError: undefined has no properties after Add-PnPClientSidePage"
I used Add-PnPClientSidePage -Name "newpage" -LayoutType "SingleWebPartAppPage"
It shows:
PageTitle            :
Sections             : {}
Controls             : {}
LayoutType           : SingleWebPartAppPage
ThumbnailUrl         :
KeepDefaultWebParts  : False
Context              : OfficeDevPnP.Core.PnPClientContext
PagesLibrary         : SitePages
PageListItem         : Microsoft.SharePoint.Clie

[2020-04-30 18:49] get-itips commented on #5390
Hello @giveitaGo Robert how are you ? 👍

PnP documentation is directly reflected from cmdlet's source code.
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues/questions. PnP cmdlets are maintained by the community, a member of it will pick it up there.

[2020-04-30 18:50] get-itips commented on #5382
Hello @ravick4u  how are you ? 👍

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues/questions. PnP cmdlets are maintained by the community, a member of it will pick it up there. Thank you!

[2020-04-30 19:40] TimAbmgf opened #5435 "Question about last note"
The last note in this article (at the time of my post) says:
We highly discourage using the PropertySets parameter with the value All because it slows down the cmdlet and reduces reliability. Always use the PropertySets and Properties parameters to retrieve only the required properties.

What does it mean by 'reduces reliability'.

If I am willing to wait for the results; does that statement mean

[2020-04-30 20:07] get-itips commented on #5313
Hello everyone
Now that we could reach someone from the product team and have confirmation that they are aware of this and they are working on it, as I do not identify any change is needed to current article, we need to proceed closing this for now.
Thank you

[2020-04-30 21:35] tameemansari commented on #5313
Thanks @gavsto and @KelvinTegelaar for sharing this feedback. If I had an earlier date which I can promise I would have done that. Will do my best to work with the team to push the priority.

[2020-05-01 00:01] mikewaretena opened #5438 "Anchor links by category?"
Hi there, would it be possible to update the page so that the Cmdlet groups (like Base, Branding, etc) show in the "In this article" section to make it easier to find?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-57d53d313c6f
* Con

[2020-05-01 00:05] mikewaretena opened #5439 "Related Link to SharePoint Pnp is broken"
Hi, just a quick one the link to SharePoint Developer Paterns and Practices is malformed and links to:
https://aka.ms/sppnp)[Encoding](https://msdn.microsoft.com/en-us/library/system.text.encoding_properties.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 451dc826-b072-5bcd-e98d-319ee82d73fe
* Version Independent I

[2020-05-01 02:38] NickDorak commented on #4845
That just shows that the problem was ignored and marked "cloud only", which is not entirely true.
The options partially work for on-prem synced objects. There is an issue with Exchange where it thinks (incorrectly) that some fields are managed on-prem, then they are not. There is no way to set the GeoCoordinates filed for example.
This should be escalated to the product team so they can correct th

[2020-05-01 03:57] chrisda commented on #4845
@NickDorak, you best option is to open a support case about this.

[2020-05-01 03:57] #4845 closed

[2020-05-01 10:52] uz-it opened #5440 "-Prefix "CC""
This parameter is only relevant for the Import-PSSession command.
While in the document it is placed under p.2. So it is probably should be mentioned in the p.3. instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebcb7e5d-c0aa-f4f3-e6d5-914219d16dff
* Version Independent ID: 36d9a36f-fbdf-e4a1-45d7-51cc1a65643b
*

[2020-05-01 11:11] yogkumgit commented on #5428
@officedocsbot assign @yogkumgit

[2020-05-01 11:12] yogkumgit commented on #5429
@officedocsbot assign @yogkumgit

[2020-05-01 11:12] yogkumgit commented on #5430
@officedocsbot assign @yogkumgit

[2020-05-01 11:13] yogkumgit commented on #5431
@officedocsbot assign @yogkumgit

[2020-05-01 11:13] yogkumgit commented on #5433
@officedocsbot assign @yogkumgit

[2020-05-01 11:14] yogkumgit commented on #5435
@officedocsbot assign @yogkumgit

[2020-05-01 11:14] yogkumgit commented on #5438
@officedocsbot assign @yogkumgit

[2020-05-01 11:29] yogkumgit commented on #5377
@dariomws  Thank you very much for the contribution and sharing this explanation. @csdunaway
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-01 11:29] #5377 closed

[2020-05-01 11:33] yogkumgit commented on #5379
@get-itips Thank you very much for the contribution and sharing this explanation. @terblas
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2020-05-01 11:33] #5379 closed

[2020-05-01 11:41] yogkumgit commented on #5404
@asajrawat211993  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2020-05-01 11:41] #5404 closed

[2020-05-01 11:45] yogkumgit commented on #5313
@get-itips  Thank you very much for the contribution and sharing this explanation. @gavsto
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-01 11:45] #5313 closed

[2020-05-01 11:59] mitchelljb commented on #5397
I can see that the "DesignatedPresenterRoleMode" is there when polling all settings of the Global policy. When using the "set-csteamsmeetingpolicy -identity global" it will also auto complete the "DesignatedPresenterRoleMode", but i get the message that i'm not permitted.

Love to see this being released quickly as i receive a lot of questions regarding this topic.

[2020-05-01 12:03] jcoolsen opened #5441 "Wrong parameter in example"
In this line in the example
$appPrincipal = Get-SPAppPrincipal -NameIdentifier $appIdentifier -Web $site.RootWeb
The 'Web' parameter should be 'Site' instead.
See https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/get-spappprincipal?view=sharepoint-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2da

[2020-05-01 12:06] get-itips commented on #5397
Yes, you are correct, the parameter is there, however it is not yet ready to be used, as you said, it currently output an error stating that we can not use it.
Thank you

[2020-05-01 12:08] yogkumgit commented on #5390
@get-itips  Thank you very much for the contribution and sharing this explanation. @giveitaGo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-01 12:08] #5390 closed

[2020-05-01 12:10] yogkumgit commented on #5382
@get-itips  Thank you very much for the contribution and sharing this explanation. @ravick4u
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-01 12:10] #5382 closed

[2020-05-01 12:23] yogkumgit commented on #5350
@tomkau Please merge this PR #5421

[2020-05-01 12:26] yogkumgit commented on #5378
@tomkau Please merge this PR #5420

[2020-05-01 12:28] yogkumgit commented on #5397
@get-itips  Thank you very much for the contribution and sharing this explanation. @ichkoj
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-01 12:28] #5397 closed

[2020-05-01 12:31] yogkumgit commented on #5439
@officedocsbot assign @yogkumgit

[2020-05-01 12:31] yogkumgit commented on #5440
@officedocsbot assign @yogkumgit

[2020-05-01 12:32] yogkumgit commented on #5441
@officedocsbot assign @yogkumgit

[2020-05-01 16:55] tomkau commented on #5181
I passed this along to the team that owns the cmdlet

[2020-05-01 18:18] tomkau commented on #5208
@islubin ping

[2020-05-01 18:40] tomkau commented on #5238
I reached out to the team that owns this cmdlet

[2020-05-01 18:41] tomkau commented on #5239
I reached out to the team that owns this cmdlet

[2020-05-01 18:45] tomkau commented on #5240
I've reached out to the owner of this cmdlet

[2020-05-01 18:57] blyw opened #5444 "Remove policy package"
How does one undo the changes made by Grant-CsUserPolicyPackage? Can one go back to the defaults i.e. global policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e65b667-c4ee-0580-2b7b-a63431d6f415
* Version Independent ID: 34cd470c-8783-ac88-c812-8daa762efe1b
* Content: [Grant-CsUserPolicyPackage (teams)](https://d

[2020-05-01 20:34] dariomws commented on #5435
Hi @TimAbmgf, thank you for your feedback.

It´s related to the performance of the cmdlet. If you´re willing to wait for the results, they will be accurate.

[2020-05-01 20:55] dariomws commented on #5424
Hi @Conan1989, thank you for your feedback.

I understand that it´s suggested that this module is installed to all users. Anyway:

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent

[2020-05-01 22:56] tomkau commented on #5181
Confirmed that this cmdlet is deprecated and will be removed from the module.

[2020-05-01 23:19] get-itips commented on #5181
Thanks @tomkau !

[2020-05-02 11:46] swinster opened #5451 "Issue running the command from PS"
Hi,

I'm trying to automatically set an externally generated certificate that exists in the Local Computer Personal Store to an SfB 2015 Edge server, however seemingly I cannot do this. I am guessing I am missing a step somewhere.

The certificate to be set is always fins and exists in the Local Machine personal store. Indeed I can import this use the `Import-CsCertificate`  with no issue. However

[2020-05-02 12:33] dariomws commented on #5412
Hi @natebarkei, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

[2020-05-02 12:37] sandunikeshala opened #5452 "Issue with Grant-CsGroupPolicyAssignment cmdlet in powershell"
I am practicing on tenant creation and configuration in teams for education. I need to assign a policy which is already created for a group in my teams using powershell. So i used this code down below but it gave me a not recognized message in powershell.

I searched internet but couldnt find a solution.  Only found that there is a difference between those batch policy cmdlets and group policy cmd

[2020-05-02 12:40] dariomws commented on #5423
Hi @gkens, thank you for your feedback.

Docs.microsoft.com feedback is available to help improve or update documentation. For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/
There, your suggestion will reach the product team.

[2020-05-02 13:18] dariomws commented on #5375
@stukey I have been thinking about this... and I think the description is ok.

You cannot or you won´t assign permissions to not valid security principals. In the case of a shared mailbox (for example support@domain.com), the account password is not known by anyone. So, you cannot or you won´t use this account to authenticate to services or applications.
If you run:
Get-Recipient -Identity support

[2020-05-02 13:22] djpbessems opened #5454 "Deprecation notice when successor is still in preview ánd not usable on Linux"
[Enter feedback here]
I'm receiving this warning:
WARNING: Using New-PSSession with Basic Authentication is going to be deprecated soon, checkout https://aka.ms/exops-docs for using Exchange Online V2 Module which uses Modern Authentication.

When reading the mentioned documentation, I see that the new module is still in preview *and* is not functional on Linux yet. To me that seems like a utterly

[2020-05-02 14:13] stukey commented on #5375
Thanks @dariomws. I totally understand your comments, and that shared mailboxes aren’t security principals so cannot be the target of the PolicyScopeGroupId parameter. I just wanted to make it clearer in the documentation that you can still scope an applications’s Graph API access to shared mailboxes by adding the mailboxes as members of a mail-enabled security group and then setting the security

[2020-05-02 15:36] djpbessems commented on #5454
To make matters worse, there doesn't seem to be *any* way to hide this horrid WARNING, which is breaking my script.
`$WarningPreference` has no effect
`[...] 3>$null` has no effect
`[...] | Out-Null` results in the $PSSession being empty *and **still** shows the damn warning*

I'm highly annoyed with this change, when there is no way to acknowledge it or there is no working alternative yet </angry

[2020-05-04 05:48] morktron commented on #5423
Yes, I feel like I'm back in the 1980's movie 'WarGames'! I'm sure Microsoft is capable of making a GUI for this, otherwise, give me a hola, I'd be happy to help

[2020-05-04 09:08] jrentenaar opened #5457 "Error after running scripts longer then 50min with connect-ExchangeOnline"
Hi,

I use `Connect-ExchangeOnline` to connect to Office 365 and extract some relevant logging, this process can take multiple hours. What happens (I think after 50min), the session expires and as result it cant find the cmdlets I am using for example the: `Search-UnifiedAuditLog`.
`The term 'Search-UnifiedAuditLog' is not recognized as the name of a cmdlet`

I never had this problem by using the

[2020-05-04 11:18] yogkumgit commented on #5444
@officedocsbot assign @yogkumgit

[2020-05-04 11:18] yogkumgit commented on #5451
@officedocsbot assign @yogkumgit

[2020-05-04 11:18] yogkumgit commented on #5452
@officedocsbot assign @yogkumgit

[2020-05-04 11:19] yogkumgit commented on #5454
@officedocsbot assign @yogkumgit

[2020-05-04 11:20] yogkumgit commented on #5457
@officedocsbot assign @yogkumgit

[2020-05-04 11:34] yogkumgit commented on #5181
@kenwith Please merge this PR #5450 . Thanks

[2020-05-04 11:55] yogkumgit commented on #5435
@dariomws  Thank you very much for the contribution and sharing this explanation. @TimAbmgf
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-04 11:55] #5435 closed

[2020-05-04 11:56] yogkumgit commented on #5424
@dariomws  Thank you very much for the contribution and sharing this explanation. @Conan1989
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-04 11:56] #5424 closed

[2020-05-04 11:57] yogkumgit commented on #5412
@dariomws  Thank you very much for the contribution and sharing this explanation. @natebarkei
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-04 11:58] #5412 closed

[2020-05-04 12:00] yogkumgit commented on #5423
@gkens  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-05-04 12:00] #5423 closed

[2020-05-04 12:07] yogkumgit commented on #5425
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @magichappens89 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-04 12:08] yogkumgit commented on #5440
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @uz-it Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-04 12:09] #5440 closed

[2020-05-04 12:34] KelvinTegelaar opened #5458 "Deprecation notice does not account for secure application model"
The Exov2 module currently does not support the secure application model for Microsoft Partners, MSPs and CSPs. The deprecation notice states that with the disablement of basic auth this access will also be lost.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent I

[2020-05-04 14:59] get-itips commented on #5409
Hello @panggio
How are you?
For cmdlet changes or suggestions, I need to kindly redirect you to [SharePoint UserVoice](https://sharepoint.uservoice.com)
Thank you

[2020-05-04 15:23] get-itips commented on #5414
Thanks for noticing @hwkwicre 👍 created a PR.

[2020-05-04 15:46] magichappens89 commented on #5425
Not sure what was done exactly? I saw that the documentation was updated but the parameter still doesn´t exist in the module acutally....

[2020-05-04 15:56] get-itips commented on #5427
Hello @fowl2 How are you?
As many operations in SharePoint Server, as SharePoint relies heavily on iis, the iisreset is a required step after issuing a cmdlet of big impact like that. I see that in your scenario, it wasn't needed, but we can not be sure it won't be needed the next time you run it or in another environment, when issuing an iisreset, we can be sure web applications are fully recycle

[2020-05-04 15:56] dariomws commented on #5425
Hi @magichappens89,

I have it with the same version:
![image](https://user-images.githubusercontent.com/33589238/80986158-8f19c480-8e06-11ea-82ba-019dafcc5a08.png)

It´s strange. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: ht

[2020-05-04 15:59] terrogin opened #5460 "Force Deletion"
The article doesn't discuss how to force a deletion when PowerShell returns "We cannot remove policy '&lt;policyname&gt;' since it is already in pending deletion state."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b41d5a-c85c-e5d9-90c8-90c1277a223f
* Version Independent ID: 8baa76bc-2f5b-fb0c-ba2b-2d8b5d491763
* C

[2020-05-04 16:00] terrogin opened #5461 "Article does not discuss how to force deletion"
The article doesn't discuss how to force a deletion when PowerShell returns "We cannot remove policy '&lt;policyname&gt;' since it is already in pending deletion state."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a78aa0ce-c818-1e95-2e37-8725c7b3cc90
* Version Independent ID: 3e14521e-ef75-4328-e753-31e7b59fd481
* C

[2020-05-04 16:01] get-itips commented on #5441
Thanks for noticing and reporting, created a pr

[2020-05-04 16:05] magichappens89 commented on #5425
Ok that is strange cause I can´t find such a parameter in that module. My first guess is that it´s because the feature is not available yet and the command-lets are loaded after connecting to the Exchange? Will definitely open a ticket and let you know about the outcome.

[2020-05-04 16:39] dariomws commented on #5375
@stukey, ok, I misunderstood it. Sorry about that. I agree with you now, I will add a note.

If you can, please check it.

Thanks!

[2020-05-04 17:00] stukey commented on #5375
@dariomws Thank you. Looks good to me. I think that will really help many other customers!

[2020-05-04 17:23] savusca opened #5465 "SendEmailFrom attributes deprecated"
Hi Team.
If we try to run:
Set-CsOnlineDialInConferencingTenantSettings -SendEmailFromOverride $true -SendEmailFromAddress DoNotReply@contoscom -SendEmailFromDisplayName "Contoso - Audio Conferencing Settings" -AutomaticallySendEmailsToUsers $false
We get:
WARNING: The property "SendEmailFromOverride" has been deprecated and may be removed in future versions.
WARNING: The property "SendEmailFromAd

[2020-05-04 18:46] tmunro55 opened #5470 "Are the SET commands unchanged?"
This more of a question than an issue:
I see the EXO V2 cmdlets are all GET verbs. Are the cmdlets for updating mailboxes still the same? Will they be updated in the future as part of this project?

Thank you.

[2020-05-04 21:23] kenwith commented on #5262
@Coldry - thank you for taking the time to provide feedback. The cmdlet's are all open source now and experts such as yourself providing feedback and contributions is what improves the quality and helps the community. I tried to add some content to help make this clearer in this PR here: https://github.com/MicrosoftDocs/office-docs-powershell/pull/5474  Let me know if you think this helps. There i

[2020-05-04 21:51] get-itips commented on #5426
Hello @fowl2 James, How are you ? 👍
Thanks for your feedback.
This refers to the events of the EventCache table in the source Content Database and it talks about copying them to the destination CDB.
You can find more information about this kind of events [here](https://docs.microsoft.com/en-us/previous-versions/office/developer/sharepoint-2010/bb861918(v%3doffice.14))
Will create a PR to improve t

[2020-05-04 22:39] get-itips commented on #5410
Hello @Zizzzzy how are you? Thanks for your feedback.
I tested and tried to use $null as a parameter for PolicyName and I couldn't, it was not accepted.
Which version of the Teams Ps module are you using?
Thanks

[2020-05-05 05:50] navgupta1208 commented on #4655
@sukh-ava @KirkMunro

CBA is in limited preview. Please reach out to the feedback alias mentioned when you do Connect-ExchangeOnline and we will add you to the preview.

[2020-05-05 11:59] yogkumgit commented on #5458
@officedocsbot assign @yogkumgit

[2020-05-05 12:00] yogkumgit commented on #5460
@officedocsbot assign @yogkumgit

[2020-05-05 12:00] yogkumgit commented on #5461
@officedocsbot assign @yogkumgit

[2020-05-05 12:00] yogkumgit commented on #5465
@officedocsbot assign @yogkumgit

[2020-05-05 12:02] yogkumgit commented on #5470
@officedocsbot assign @yogkumgit

[2020-05-05 12:18] #5425 closed

[2020-05-05 12:41] yogkumgit commented on #5409
@panggio  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-05-05 12:41] #5409 closed

[2020-05-05 12:47] get-itips commented on #5439
Hello @mikewaretena Miguel how are you?  👍

PnP documentation articles are directly reflected from source code.
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues/questions. PnP cmdlets are maintained by the community, a member of it will pick it up there. Thank you!

[2020-05-05 12:47] get-itips commented on #5438
Hello @mikewaretena Miguel how are you?  👍

PnP documentation articles are directly reflected from source code.
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues/questions. PnP cmdlets are maintained by the community, a member of it will pick it up there. Thank you!

[2020-05-05 12:48] get-itips commented on #5433
Hello @Ofer-Gal  Miguel how are you?  👍

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues/questions. PnP cmdlets are maintained by the community, a member of it will pick it up there. Thank you!

[2020-05-05 12:59] yogkumgit commented on #5427
@get-itips  Thank you very much for the contribution and sharing this explanation. @fowl2
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-05 13:34] daverickdunn commented on #5454
I'm facing the same issue. See open GitHub issue and SO question, below:

https://github.com/PowerShell/PowerShell/issues/12563

https://stackoverflow.com/questions/61549872/powershell-redirection-does-not-always-work

[2020-05-05 13:42] yogkumgit commented on #4930
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-05 13:42] #4930 closed

[2020-05-05 13:50] yogkumgit commented on #5350
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @NickDorak Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-05 13:50] #5350 closed

[2020-05-05 13:53] yogkumgit commented on #5351
@dariomws  Thank you very much for the contribution and sharing this explanation. @NickDorak
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-05 13:56] yogkumgit commented on #5378
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @vicslive Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-05 13:56] #5378 closed

[2020-05-05 15:18] kenwith commented on #5405
@obhayes - thank you for taking the time to login to GitHub and submit feedback. The cmdlet references are all open source and the quality is greatly improved by experts like you giving feedback and improving them. On this one I noticed a note that says the cmdlet is deprecated. However, you did hit on a major point which is the Applies To in the metadata. It is something that is a big source of c

[2020-05-05 15:18] #5405 closed

[2020-05-05 15:21] VesaJuvonen commented on #5433
This is by design as all app pages should have an web part associated to it. Process is documented in the following documentation together with the video demo - https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/single-part-app-pages

Not an issue in PnP PowerShell as such, so closing the issue.

[2020-05-05 15:21] #5433 closed

[2020-05-05 16:34] navgupta1208 commented on #5454
Hi

This message is going to be disabled soon. For now, please use an extra parameter in ConnectionUri to hide the message -

$Session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://outlook.office365.com/powershell-liveid/?HideBannermessage=true -Credential $UserCredential -Authentication Basic -AllowRedirection

[2020-05-05 17:06] daverickdunn commented on #5454
@navgupta1208 Thanks for the info.

Can you elaborate any more as to why this message is not controlled by [redirection](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_redirection?view=powershell-7)?

I am trying to understand the root cause for redirection not to work in this instance as it still impacts a [library I am developing](https://www.npmjs.com/p

[2020-05-05 17:11] navgupta1208 commented on #5454
@daverickdunn - We will investigate on why it is not controlled by redirection.

What does this Warning Message break for you ? Can you share more on the exact impact ?

[2020-05-05 17:33] daverickdunn commented on #5454
@navgupta1208 I'd really appreciate that, thank you.

I've built up a good deal of experience with wrapping PowerShell scripts for over a year now in both C# and NodeJS (It's a long story, but C# was not suitable for my use case, so I moved NodeJS instead).

I've found that NodeJS doesn't have any good libraries for wrapping PowerShell, there is one popular one but it has serious stability issues

[2020-05-05 18:43] loganaz opened #5479 "Microsoft Teams: Remove-TeamUser, 'Member' not valid Role value"
Microsoft Teams: Remove-TeamUser, 'Member' not valid Role value

MicrosoftTeams  1.0.6
On the Remove-TeamUser command 'Member' should be a valid value for the 'Role' parameter, but is not.
On the Add-TeamUser command 'Member' is a valid value for the 'Role' parameter.

Remove-TeamUser : Cannot validate argument on parameter 'Role'. The argument "Member" does not belong to the set
"Owner" specified

[2020-05-05 19:30] dariomws commented on #5470
Hi @tmunro55, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

[2020-05-05 19:39] dariomws commented on #5460
Hi @terrogin, thank you for your feedback.

Almost the same than https://github.com/MicrosoftDocs/office-docs-powershell/issues/5461. Please let´s follow it there.

[2020-05-05 19:40] dariomws commented on #5461
Hi @terrogin, thank you for your feedback.

Same as https://github.com/MicrosoftDocs/office-docs-powershell/issues/3283.

[2020-05-05 19:41] dariomws commented on #5458
Hi @KelvinTegelaar, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

[2020-05-05 19:48] dariomws commented on #5461
Please check this issue:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/3284

I have been working on it 1 year ago, it was deleted but I don´t have more information.

[2020-05-05 19:53] dariomws commented on #5457
Hi @jrentenaar, thank you for your feedback.

In [this article](https://docs.microsoft.com/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell) you can find the following sentence:
"When you use the Exchange Online Remote PowerShell Module, your session will end after one hour, which can be problematic for long-running scripts or proc

[2020-05-06 01:19] Shadoxity commented on #5458
This is also a big issue for us, we need to be able to use secure application model!
I have tried with the exchangeonline accesstoken but it fails to connect.
Sending an email to that address also.

[2020-05-06 02:42] navgupta1208 commented on #5120
This cmdlet is now available in April release.
Disconnect-ExchangeOnline

[2020-05-06 05:09] fowl2 commented on #5427
So if I understand correctly, an `iisreset` is 'sometimes' required, and it's been to decided not to document those conditions?

Also, could you detail the recommend procedure for multi-server farms - the most common deployment I would imagine. Should `iisreset` be executed on all front ends in the farm? All servers? Just those with the web application in the farm?

[2020-05-06 07:17] djpbessems commented on #5454
For me, it breaks a PHP script that is calling Powershell to interact with my mailboxes (allows my users to easily create email-aliases through a browser plugin).
For now I have bypassed the warning-message by splitting the std-out string on newlines and matching/checking all elements in the resulting array for valid JSON.

[2020-05-06 08:04] hwkwicre opened #5482 "May cause confusion"
"You must be a SharePoint Online global administrator to run the cmdlet."
Is that referring to a SharePoint administrator or a global administrator?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f494bf96-d8d8-4fff-b3dd-6a1ced1f2e1f
* Version Independent ID: eb9895b5-090d-7b07-ef3c-b90266aaf8e4
* Content: [Disco

[2020-05-06 11:08] yogkumgit commented on #5479
@officedocsbot assign @yogkumgit

[2020-05-06 11:09] yogkumgit commented on #5482
@officedocsbot assign @yogkumgit

[2020-05-06 11:13] yogkumgit commented on #5439
@get-itips  Thank you very much for the contribution and sharing this explanation. @mikewaretena
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-06 11:13] #5439 closed

[2020-05-06 11:16] yogkumgit commented on #5438
@get-itips  Thank you very much for the contribution and sharing this explanation. @mikewaretena
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-06 11:16] #5438 closed

[2020-05-06 11:24] yogkumgit commented on #5470
@dariomws  Thank you very much for the contribution and sharing this explanation. @tmunro55
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-06 11:24] #5470 closed

[2020-05-06 11:30] yogkumgit commented on #5458
@dariomws  Thank you very much for the contribution and sharing this explanation. @KelvinTegelaar Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-06 11:30] #5458 closed

[2020-05-06 11:33] yogkumgit commented on #5457
@dariomws  Thank you very much for the contribution and sharing this explanation. @jrentenaar
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-06 11:33] #5457 closed

[2020-05-06 11:38] yogkumgit commented on #5208
@islubin kindly help with these cmdlets query. Thanks

[2020-05-06 11:39] yogkumgit commented on #5375
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @stukey Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-06 11:40] #5375 closed

[2020-05-06 11:43] yogkumgit commented on #5441
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @jcoolsen Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-06 11:43] #5441 closed

[2020-05-06 11:46] yogkumgit commented on #5426
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @fowl2 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-06 11:46] #5426 closed

[2020-05-06 11:48] yogkumgit commented on #5414
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-06 11:49] #5414 closed

[2020-05-06 11:52] NickDorak commented on #5351
@dariomws
We noticed the scripts working when web had less than 100 users. Once more people were onboarded, the script didn't fall or produce warning, it just didn't run against any more.
I did try -Select with a large number, but if you specify more than you have it produces a warning message.
Seems there is no way to get a clean output of all users.

[2020-05-06 12:22] get-itips commented on #5427
Hello @fowl2 James how are you? Hope you are doing great.
I will answer your question now with my experience and also I invite the designated author of the article @Techwriter40 (Kirk) if he wants to add something or if he can get internal information from the product team.
In my experience, and based on this article, I always ran an `iisreset` on all servers in the farm, that way I could reduce t

[2020-05-06 12:42] dariomws commented on #5461
Hi @terrogin,

If you consider this parameter important, I need to kindly redirect you to this resource https://office365.uservoice.com/.
There, your suggestion will reach the product team.

[2020-05-06 12:42] dariomws commented on #5460
Hi @terrogin,

If you consider this parameter important, I need to kindly redirect you to this resource https://office365.uservoice.com/.
There, your suggestion will reach the product team.

[2020-05-06 12:43] dariomws commented on #5381
@tomkau could you kindly help? Thanks!

[2020-05-06 14:11] get-itips commented on #5429
Hello @tonywoodruff Thanks for noticing and reporting, created a pr to update the article with missing descriptions.

[2020-05-06 14:39] get-itips commented on #5431
Thanks for noticing and reporting @tonywoodruff created a pr to update the article.

[2020-05-06 15:23] dariomws commented on #5351
@NickDorak Did you try with "-First 1000"? The default value for his parameter is 100.

[2020-05-06 15:34] BLalanda opened #5485 "Remove-SPOUserInfo vs Remove-SPOUser"
Not clear when one or the other should be used.
Also, Remove-SPOUserInfo has an additional parameter - RedactName, that does not show up here and has no explanation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3aaa97d-31e1-e3bf-ee54-389491b2f103
* Version Independent ID: c0d774e4-de11-bcaf-612d-45154791f8b3
* Conte

[2020-05-06 16:06] BeaconMRat commented on #5454
navgupta1208, For me this warning breaks some of my monitoring.  As a MSP I have various scripts which retrieve data for all of our O365 tenants.  I run these scripts from our RMM tool and create tickets based on the results.  With this banner now showing up, scripts that would have otherwise returned no data and been considered in a "success" state, now return that warning banner which results in

[2020-05-06 16:12] BLalanda opened #5486 "Missing information regarding parameter"
Parameter UpdateUserTypeFromAzureAD is not referred here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c17eed23-057f-b4bf-6dcb-89cbee07f912
* Version Independent ID: a2573286-0817-7148-03b8-fbc0c3c8c5e2
* Content: [Set-SPOUser (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/s

[2020-05-06 16:16] BeaconMRat commented on #5454
What I would like to do is start using Exchange Online PS v2 Connect-ExchangeOnline with the option -DelegatedOrganization in my scripts however when I use this I receive the following message.

"New-ExoPSSession : AADSTS50079: Due to a configuration change made by your administrator, or because you moved to a new location, you must enroll in multi-factor authentication to access '00000002-0000-0f

[2020-05-06 16:22] BeaconMRat commented on #5454
navgupta1208, actually I was able to get this to work in combination with ?DelegatedOrg by doing the below.  Thanks for this tip.  This is a great work around until I can get the new Connect-ExchangeOnline with -DelegatedOrganization working in my scripts.

https://ps.outlook.com/powershell-liveid?HideBannermessage=true&?DelegatedOrg=contoso.com

[2020-05-06 17:23] DailenG opened #5487 "Inaccurate description for set-adminauditlogconfig example #1"
The text for Example #1 states the command logs for all cmdlets and all parameters except for Get cmdlets but the example does not appear to reflect that Get cmdlets are excluded

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a039162-b676-3085-db11-6a0c8933e69e
* Version Independent ID: 2a46468f-0af9-4b1a-3003-8a24cfa

[2020-05-06 20:31] yaegashi commented on #5454
I've just got the deprecation notice and it brought me to this thread.

I'm using PartnerCenter module to acquire and refresh OAuth2 tokens to connect EXO PowerShell with MFA enabled account: https://gitlab.com/yaegashi/exops1demo

It make a persistently automated EXO PowerShell remoting in CI on Linux possible.  I hope that the new EXO v2 cmdlets could also be capable of accepting user-supplied a

[2020-05-06 23:05] sparameswaran78 commented on #5259
all
it is not working and we have updated the module and it same issue. we have tried to increase quota and failed

[2020-05-07 00:04] nickiapalucci opened #5493 "Examples have incorrect syntax"
https://docs.microsoft.com/en-us/powershell/module/exchange/powershell-v2-module/get-exomailboxfolderpermission?view=exchange-ps#examples
Appears to be older related cmdlet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e94700a3-3834-fdb7-2acc-13eb22eec9b5
* Version Independent ID: 144b44d0-d97f-8afb-b9e1-c2c42a8d88b4

[2020-05-07 00:27] fowl2 commented on #5427
Hi, thanks for you quick responses, most appreciated.

It's not a common operation (so I'm relying on the documentation more than usual) but as `iisreset` is a fairly disruptive operation I'd like try to avoid it.

[2020-05-07 01:42] hwkwicre opened #5494 "Should there be more introduction to -WhatIf?"
Now it's only "PARAMVALUE: SwitchParameter"
I think it might be helpful to provide a little more information than that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d1c6b2b-5af6-acce-b7e8-bf784bb0973e
* Version Independent ID: 301586d3-ec04-c42d-4681-0bb59443d35c
* Content: [Set-SPOSite (sharepoint-online)](https://

[2020-05-07 01:49] hwkwicre opened #5495 "HYPERLINK?"
Example 2 returns one user or security group account whose user name is HYPERLINK "mailto:melissa.kerr@contoso.com" melissa.kerr@contoso.com from the site collection https://contoso.sharepoint.com/sites/finance.
Seems that this HYPERLINK thing is an error caused by copy paste.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-07 02:06] hwkwicre opened #5496 "EXAMPLE 1, 2 and 3 are the same."
I don't see any difference between the examples provided. Is that a copy paste error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7dce14c-6e51-1144-4fd8-3add9af60e18
* Version Independent ID: b0a631e9-6afa-228d-1c4a-1912ee180604
* Content: [Start-SPOUserAndContentMove (sharepoint-online)](https://docs.microsoft.com

[2020-05-07 02:15] hwkwicre opened #5497 "Should there be some explanations to the Parameters?"
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1b44e3-4af5-1458-d931-72a0f698732b
* Version Independent ID: 1751767f-1d8a-7750-35b9-725b5a3ad705
* Content: [Start-SPOSiteRename (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/start-spositerename?view=sharepoint-ps)
* C

[2020-05-07 08:21] djpbessems commented on #5454
@BeaconMRat You could probably get away with setting an AppPassword for the useraccount and use that.

[2020-05-07 10:43] yogkumgit commented on #5485
@officedocsbot assign @yogkumgit

[2020-05-07 10:43] yogkumgit commented on #5486
@officedocsbot assign @yogkumgit

[2020-05-07 10:43] yogkumgit commented on #5487
@officedocsbot assign @yogkumgit

[2020-05-07 10:43] yogkumgit commented on #5493
@officedocsbot assign @yogkumgit

[2020-05-07 10:43] yogkumgit commented on #5494
@officedocsbot assign @yogkumgit

[2020-05-07 10:44] yogkumgit commented on #5495
@officedocsbot assign @yogkumgit

[2020-05-07 10:44] yogkumgit commented on #5496
@officedocsbot assign @yogkumgit

[2020-05-07 10:44] yogkumgit commented on #5497
@officedocsbot assign @yogkumgit

[2020-05-07 10:56] yuval-a opened #5498 "The credentials for step 1 ARE ACTUALLY YOUR OFFICE365 credentials"
And NOT your Windows credentials. This was very unclear from the instructions!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Independent ID: 4d69ee5d-5a6d-a203-69fe-bf5441a8b5eb
* Content: [Connect to Exchange Online PowerShell](https://docs.microsoft.com/en-us/powershell

[2020-05-07 11:45] get-itips commented on #5259
Please kindly open a support ticket in your tenant, they will able to help you.

[2020-05-07 12:34] NickBorowitz opened #5500 "New-CsBatchPolicyAssignmentOperation fails every time."
` get-aduser -searchbase "ou=students,dc=district,dc=int" -filter "emailaddress -like '*'" -properties * | select emailaddress |
    Select-Object -Property $Properties |
    ConvertTo-Csv -NoTypeInformation | # Convert to CSV string data without the type metadata
    Select-Object -Skip 1 | # Trim header row, leaving only data columns
    Set-Content -Path "C:\users\admin\desktop\Students.csv"

$

[2020-05-07 14:31] dariomws commented on #5351
@NickDorak You should use the parameter -First to return more than 100 users. Please check:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/3745

[2020-05-07 14:39] NickDorak commented on #5351
@dariomws , sorry I reviewed my code, I was actually using the -Frist (not -Select), and it throws a warning if you specify more than there are existing users.

[2020-05-07 15:17] dariomws commented on #5351
@NickDorak don't worry. I think you should try with "-Select DialInConferencingOn". In this way, you will list all the users.

[2020-05-07 15:40] get-itips commented on #5444
Same as https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues/4463
AFAIK it seems there isn't a way right now unless you change every policy involved individually.
I created an user voice entrance and voted for it. Please [see](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/40369102-provide-a-way-to-remove-a-policy-package).

[2020-05-07 16:54] tseward commented on #5427
@TroyStarr any insight as to why `iisreset` is a requirement after issuing `Move-SPSite`? That one has never made sense to me, either.

[2020-05-07 18:01] TroyHostetter opened #5501 "Could not load file or assembly 'netstandard, Version=2.0.0.0"
We have a Server 2016 with the latest SharePointPnPPowerShellOnline, and when we attempt the transform we are receiving the following error.

ConvertTo-PnPClientSidePage : Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The system cannot find the file specified.
At D:\DXC-Migration-Factory\PowerShellPostMi

[2020-05-07 18:03] TroyHostetter commented on #5501
We also load the assemblies at run time

Import-Module (Get-ChildItem .\SharePointPnPPowerShellOnline\*.psd1 -Recurse).FullName -DisableNameChecking

Maybe we are missing something.

[2020-05-07 18:04] TroyHostetter commented on #5501
Please delete this issue .. I have logged it in the wrong place.

[2020-05-07 18:04] #5501 closed

[2020-05-07 19:03] get-itips commented on #5452
Hello @sandunikeshala

The -CsGroupPolicyAssignment cmdlets are currently in private preview only, as it says [here](https://docs.microsoft.com/en-us/microsoftteams/assign-policies).

Once they get to production, full cmdlet documentation should be available. Other than that, I do not see any documentation issue.

Thank you

[2020-05-07 19:12] get-itips commented on #5465
Thanks for your contribution @savusca Sabin 👍
I could verify and created a pr to update the article. Thank you!

[2020-05-07 20:51] get-itips commented on #5479
Hello @loganaz
Thanks for reporting this, I could verify, so I created a PR to update the article.
Thank you

[2020-05-07 21:48] get-itips commented on #5482
Thanks for noticing, created a pr to correct this article and others. Thank you @hwkwicre

[2020-05-08 01:30] hwkwicre opened #5509 "Typo?"
-DisabledWebPartIds
PARAMVALUE: [,,...]
What is [,,...]??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 428a5954-392c-f7ad-bac4-553adf74e08e
* Version Independent ID: 44fdecf2-1977-3171-9d04-02c0fefb16c9
* Content: [Set-SPOTenant (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online

[2020-05-08 10:36] yogkumgit commented on #5498
@officedocsbot assign @yogkumgit

[2020-05-08 10:36] yogkumgit commented on #5500
@officedocsbot assign @yogkumgit

[2020-05-08 10:37] yogkumgit commented on #5509
@officedocsbot assign @yogkumgit

[2020-05-08 10:59] yogkumgit commented on #5444
@get-itips  Thank you very much for the contribution and sharing this explanation. @blyw
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-08 10:59] #5444 closed

[2020-05-08 11:04] yogkumgit commented on #5452
@get-itips  Thank you very much for the contribution and sharing this explanation. @sandunikeshala Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-08 11:06] yogkumgit commented on #5465
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @savusca Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-08 11:06] #5465 closed

[2020-05-08 11:10] yogkumgit commented on #5479
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @loganaz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-08 11:10] #5479 closed

[2020-05-08 11:13] yogkumgit commented on #5429
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @tonywoodruff Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-08 11:13] #5429 closed

[2020-05-08 11:15] yogkumgit commented on #5431
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @tonywoodruff Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-08 11:15] #5431 closed

[2020-05-08 11:26] yogkumgit commented on #5410
@get-itips  Thank you very much for the contribution and digging deep into it.  @Zizzzzy We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documen

[2020-05-08 11:26] #5410 closed

[2020-05-08 11:33] sandunikeshala commented on #5452
Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Friday, May 8, 2020 12:34:05 AM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Sanduni Keshala <sanduni.k@sliit.lk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Issue wi

[2020-05-08 11:34] sandunikeshala commented on #5452
Hi thank you for the explanation. But i found those things when I search about these things.
I need to know how to work with this private preview cmd lets and is there any way of doing that.?
Found a document with codes which i can use to assign group policeis from powershell. How can i do them?

Thank you

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Yoges

[2020-05-08 12:05] yogkumgit commented on #5460
@terrogin  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-05-08 12:05] #5460 closed

[2020-05-08 12:07] yogkumgit commented on #5461
@terrogin  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-05-08 12:07] #5461 closed

[2020-05-08 12:16] get-itips commented on #5452
@sandunikeshala I understand, however, as those cmdlets are still under development and not for production use, there isn't official documentation other than what you found. Hope you understand.

[2020-05-08 12:35] sandunikeshala commented on #5452
Thank you so much for your reply.

Is that means I will not be able to assign group policies through powershell?

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Friday, May 8, 2020 5:46:46 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Sanduni Keshala <sandu

[2020-05-08 12:44] dariomws commented on #5351
@NickDorak, I think there is no document update required, so we are going to close this issue.

Thanks!

[2020-05-08 12:52] dariomws commented on #5454
Hello everyone,

I think @navgupta1208 and yourself answered your questions/concerns and there is nothing to update in the article at the moment.

Another suggestion that I want to make is that you use the email to provide the Exchange module V2 feedback to the product group, as indicated in the following article:
https://docs.microsoft.com/powershell/exchange/exchange-online/exchange-online-power

[2020-05-08 13:59] djpbessems commented on #5454
Email would not have made it visible to other people. But yes, I'm glad @navgupta1208 is looking into this.
Anyone have an idea which git-repo I should subscribe to to keep up to date on the actual releases of EXO PS V2?

[2020-05-08 14:14] dariomws commented on #5454
Hi @djpbessems,

This is the repo you should follow:
https://github.com/MicrosoftDocs/office-docs-powershell

And it´s also a good idea to follow this blog:
https://techcommunity.microsoft.com/t5/exchange-team-blog/bg-p/Exchange

[2020-05-08 15:44] get-itips commented on #5452
I recommend monitoring closely the [roadmap](https://www.microsoft.com/microsoft-365/roadmap?filters=&searchterms=61185) to see when it becomes available.

[2020-05-08 18:22] PeterWxin opened #5511 "How to "1. Confirm SAML 2.0 is being used.""
1. Confirm SAML 2.0 is being used.
May I know how to

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ee082c9-735d-3f8a-7bc4-b2d4f175c784
* Version Independent ID: 50e0366c-46b0-71da-b6f6-f422adaad785
* Content: [Connect-MicrosoftTeams (teams)](https://docs.microsoft.com/en-us/powershell/module/teams/Connect-MicrosoftTe

[2020-05-08 18:22] get-itips commented on #5428
Hello @Petri-X
How are you? Hope you are doing good.
I could get information from Brandon from the Product Team and he told me that:

Hope this information clarifies it to you.

Thanks

[2020-05-08 18:27] get-itips commented on #5430
@Petri-X How are you?
I could get information from the team and they confirmed me that indeed there are plans to start providing that information in Docs in the near future.
Hope that clarifies it to you.

[2020-05-08 18:49] NickDorak commented on #5351
Using -Select without -First, always only provided 100 results.

[2020-05-08 18:51] NickDorak commented on #5351
The warning message when using -First but more than the exact amount of users is:

[2020-05-08 19:09] dariomws commented on #5351
Yes, the default value for -First is 100. You need to specify it to get more results.

[2020-05-08 19:10] ewillman opened #5512 "Not in released Module"
This page does NOT indicate that this cmdlet (Get-TeamsAppInstallation) is only available in a beta- or pre-release, but this cmdlet does not exist in the current released version of the MicrosoftTeams PowerShell package.  This page should be updated to reflect its un-release status (or the package needs to be fixed to include this cmdlet).

---
#### Document Details

⚠ *Do not edit this section.

[2020-05-08 21:45] jakezatecky opened #5515 "Exchange Online PowerShell - Remoting must be enabled"
The included requirements fail to mention that PSRemoting must be enabled. Otherwise, the associated winrm commands fail with a message similar to the following:

[code]

To alleviate this, the guide should mention the PowerShell Remoting requirements:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c13

[2020-05-09 11:44] pear7777 opened #5516 "what do these "services"means"
what do these "services"means

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cdfbc9b-f49b-e466-1802-783902fbbfdd
* Version Independent ID: 2ba87135-37a5-8819-9450-be344535c3f7
* Content: [Get-ExchangeCertificate (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange/encryption-and-certificates/get-exc

[2020-05-09 11:46] #5516 closed

[2020-05-09 18:04] PeterWxin opened #5517 "Example 1 is not friendly to 1st-time/new users"
[Enter feedback here]
The user has to run:
Connect-MicrosoftTeams -Credential $credentials
and it prompts a Window to enter the credentials for signing in Office 365.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ee082c9-735d-3f8a-7bc4-b2d4f175c784
* Version Independent ID: 50e0366c-46b0-71da-b6f6-f422adaad785
* Cont

[2020-05-09 18:35] dinocaputo commented on #5214
Are there any kind of metrics on how much faster this operation is vs looping through users one after another?

I'm also finding that we issue the cmdlet and status stays in "Not Started"

How do we remove or stop these operations?

[2020-05-09 20:36] VNJoe opened #5518 "Hybrid Powershell Application Doesn't Work in Any Browser Except IE or Edge"
The Hybrid Powershell Doesn't Work in Any Browser Except IE or Edge.  Clicking Configure downloads the application code but that code doesn't run.  I couldn't even get it to run in IE.

PLATFORM VERSION INFO
	Windows 			: 6.3.9600.0 (Win32NT)
	Common Language Runtime 	: 4.0.30319.42000
	System.Deployment.dll 		: 4.8.3761.0 built by: NET48REL1
	clr.dll 			: 4.8.4069.0 built by: NET48REL1LAST_B
	dfd

[2020-05-09 23:16] Cdenby commented on #5214
I was finding that the "Not Started" was lasting for many hours a few weeks go, but lately, it's been really quick. My last set of 18 policy pushes took about 3 minutes to complete.

[2020-05-09 23:39] dinocaputo commented on #5214
Mine are running , complete after 1 hour and show all the users as failed.   Not sure why.  Any thoughts?

Sent from my iPhone

On May 9, 2020, at 7:16 PM, Cdenby <notifications@github.com> wrote:

﻿

I was finding that the "Not Started" was lasting for many hours a few weeks go, but lately, it's been really quick. My last set of 18 policy pushes took about 3 minutes to complete.

—
You are receiv

[2020-05-10 15:43] pear7777 opened #5519 "Not to understand syntax to remove -ExternalConnectionSettings"
Not to understand syntax to remove 	-ExternalConnectionSettings
Thsi just doesn't telle me how to dio ths. Is this Microosft??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82e2b003-51ed-8624-07d8-e30d6ebc6c8e
* Version Independent ID: 246383d8-41d0-1c15-0233-c10778e28dd5
* Content: [Set-ImapSettings (exchange)](https

[2020-05-10 19:21] BJGGut3 commented on #5214
Same issue with 'Not Started' and several 'In Progress'.  Started them 5/7/2020 @ 11:55pm UTC.  Checked 5/8 11am UTC and 8 Completed, 4 In Progress, 10 Not Started.  Here we are on 5/10/2020 @ 7:20pm UTC and there has been no status change since I last checked on 5/8...

[2020-05-10 19:58] dinocaputo commented on #5214
I have run 4 batches and they are taking anywhere from 40-90 mins per batches of approximately 6000 users.  All end up with ErrorCount = CompletedCount.  How can we get more details as to why they are failing?  I have validated users and they are NOT getting the policy specified.

[2020-05-11 00:31] NickBorowitz commented on #5500
anything?

[2020-05-11 01:32] hwkwicre opened #5520 "Missing Description"
-Identity
{{ Fill Identity Description }}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb1f8b6-40ad-de65-5d4e-a044e29b1824
* Version Independent ID: c889cc87-7459-d887-3b7e-886dafa9a025
* Content: [Remove-SPOTheme (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/remove-spothe

[2020-05-11 01:36] hwkwicre opened #5521 "Parameters"
Should there be descriptions of parameters here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1f56a10-dabe-a37e-9ccf-24fe58077d6a
* Version Independent ID: 86f1c91c-c475-fa6d-1708-b1093682caad
* Content: [Add-SPOGeoAdministrator (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-onlin

[2020-05-11 08:37] voutit opened #5522 "Is UCS supported for contacts and contact groups migration from SfBO to TeamsOnly?"
Is UCS supported for contacts and contact groups migration from SfBO to TeamsOnly or is it required to change this back to Skype for Business Server for the contacts to appear in Teams client?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88b7259a-0e0e-0794-eb93-62fe07cc3a6e
* Version Independent ID: c359bdc8-b9f3-8c0

[2020-05-11 10:19] sfarouk-MS opened #5523 "AllowSharedNotes Parameter description"
AllowSharedNotes Parameter description in this document is not clear. Is it related to Teams meeting notes, or OneNotes ?

I'd checked the description from other Policy https://docs.microsoft.com/en-us/powershell/module/skype/set-csconferencingpolicy?view=skype-ps and it seems related to OneNote.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-05-11 10:20] lightupdifire opened #5524 "ConditionalAccessPolicy"
Hello,
Seems "ConditionalAccessPolicy" with ReadOnly mode not blocking user to download/export contacts from OWA from non-compliant PC... how that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43ca7906-9f33-2991-9da9-a626e5e45c46
* Version Independent ID: 5f388b3c-fb47-f7a0-e648-07cb3e59cf72
* Content: [Set-OwaMailbo

[2020-05-11 11:01] yogkumgit commented on #5511
@officedocsbot assign @yogkumgit

[2020-05-11 11:02] yogkumgit commented on #5512
@officedocsbot assign @yogkumgit

[2020-05-11 11:02] yogkumgit commented on #5515
@officedocsbot assign @yogkumgit

[2020-05-11 11:02] yogkumgit commented on #5517
@officedocsbot assign @yogkumgit

[2020-05-11 11:03] yogkumgit commented on #5518
@officedocsbot assign @yogkumgit

[2020-05-11 11:03] yogkumgit commented on #5519
@officedocsbot assign @yogkumgit

[2020-05-11 11:03] yogkumgit commented on #5520
@officedocsbot assign @yogkumgit

[2020-05-11 11:03] yogkumgit commented on #5521
@officedocsbot assign @yogkumgit

[2020-05-11 11:04] yogkumgit commented on #5522
@officedocsbot assign @yogkumgit

[2020-05-11 11:05] yogkumgit commented on #5523
@officedocsbot assign @yogkumgit

[2020-05-11 11:05] yogkumgit commented on #5524
@officedocsbot assign @yogkumgit

[2020-05-11 11:12] #5452 closed

[2020-05-11 11:15] #5351 closed

[2020-05-11 11:15] Petri-X commented on #5430
@get-itips
That is would awesome if they can do that!
Big thanks to share this!

[2020-05-11 11:15] #5430 closed

[2020-05-11 11:18] yogkumgit commented on #5454
@dariomws  Thank you very much for the contribution and sharing this explanation. @djpbessems
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-11 11:18] #5454 closed

[2020-05-11 11:18] Petri-X commented on #5428
@get-itips
Thank you for sharing this also. So only what I can do is wait :)
Have a great day !

[2020-05-11 11:18] #5428 closed

[2020-05-11 12:16] yogkumgit commented on #5181
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @shivtorov Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-11 12:16] #5181 closed

[2020-05-11 13:11] get-itips commented on #5451
Hello @swinster How are you? Hope you are doing great. 👍

As this is intended to cover issues currently in documentation, I fired up my lab and I tried to reproduce what you are experiencing to see if any impact to the documentation should be made.

I can confirm you that after issuing an `Import-CsCertificate`, the certificate won't show as a result of running `Get-CsCertificate`, this is by desi

[2020-05-11 14:13] get-itips commented on #5485
@BLalanda
I think the use of `Remove-SPOUser` is clear, removes a SharePoint Online User from a SC or group.
I tried `Remove-SPOUserInfo` and I could not identify what was being removed, I could guess "user information", but after running it I could also run `Export-SPOUserInfo` and get the same information.
@trent-green Can you help us here understading the use cases of _-SPOUserInfo_ cmdlets? Th

[2020-05-11 15:45] get-itips commented on #5486
Hello @BLalanda Please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/5072#issuecomment-599257074
While we look for further information to update the article.
Thank you

[2020-05-11 16:54] get-itips commented on #5494
Hello @hwkwicre thanks for noticing and reporting.
Created PR to update the description.

[2020-05-11 17:33] get-itips commented on #5495
Hello @hwkwicre Thanks for noticing and reporting.
Created a PR to update the article.

[2020-05-11 18:10] get-itips commented on #5500
Please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/5214#issuecomment-610590404 and also take into account:

[2020-05-11 18:11] NickBorowitz commented on #5500
They finish running, it's just the all fail and nothing applies.

[2020-05-11 18:12] NickBorowitz commented on #5214
I'm having the same problem

[2020-05-11 19:09] get-itips commented on #5214
Hello everyone.
As already mentioned. We could get information from the team that they are aware of the current behavior of the cmdlet and they are working on it.
Also, even though the cmdlet is in the stable version of the module, **the cmdlet is still in preview**.
Thank you!

[2020-05-11 19:40] TroyStarr commented on #5427
Hi @tseward, I took a look at the spec for this feature (first checked in back in 2007).  It said this needed to be done on all front-ends after the site move is finished to prevent failures when users browse to the newly moved sites.  Presumably this would refresh stale site map caches on those front-ends.  I don't know if any changes have happened since then to make this step unnecessary, though

[2020-05-11 20:51] dariomws commented on #5519
Hi @pear7777, thank you for your feedback.

For example, if you want to remove the following values: "ServerName1:993:TLS" and "ServerName2:443:SSL", you should run the following command:
Set-ImapSettings -ExternalConnectionSettings @{Remove="ServerName1:993:TLS","ServerName2:443:SSL"}

More information:
https://docs.microsoft.com/exchange/modifying-multivalued-properties-exchange-2013-help

[2020-05-11 20:54] dariomws commented on #5518
Hi @VNJoe, thank you for your feedback.

In this article you can find the following sentence:
"The Exchange Online Remote PowerShell Module needs to be installed on your computer. You need to do the following steps in a browser that supports ClickOnce (for example, Internet Explorer or Edge):

Note: ClickOnce support is available in the Chromium-based version of Edge at edge://flags/#edge-click-on

[2020-05-11 20:59] dariomws commented on #5498
Hi @yuval-a, thank you for your feedback.

At the beginning of the article I can read:
"It's a simple three-step process where you enter your **Office 365 credentials**, provide the required connection settings, and then import the Exchange Online cmdlets into your local Windows PowerShell session so that you can use them."

In the step 1:
"In the Windows PowerShell Credential Request dialog box,

[2020-05-11 21:18] get-itips commented on #5427
Thanks @TroyStarr for sharing that information. @tseward @TroyStarr  Would you agree on updating the article stating that the `iisreset` is needed on all front-ends?

[2020-05-11 21:23] dariomws commented on #5515
Hi @jakezatecky, thank you for your feedback.

I think the author decided to not include id because WinRM is enabled by default and you should disable it with Disable-PSRemoting.

@chrisda could you kindly help here? Do you think we can add it? Thanks!

[2020-05-11 21:27] dariomws commented on #5524
Hi @lightupdifire, thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share

[2020-05-11 21:49] jakezatecky commented on #5515
Hello @dariomws, I do not believe Windows Remote Management is enabled by default. I ran the following command on a newer machine, and it failed with the same error as with the previous machine:

[code]

My anecdotal evidence suggests that Windows 10 does not enable this service by default. However, it may very well be that Windows Server instances (as opposed to client instances) have Remote Mana

[2020-05-12 00:00] TroyStarr commented on #5427
I just finished chatting with some members of the team and they say that they've made changes over time to address the stale site map caching issues.  So when they do a site move in SharePoint Online, they don't need to perform an iisreset on any servers.

It's likely that we no longer need the iisreset for SharePoint Server 2019, but it's unclear whether this would also apply to earlier versions

[2020-05-12 00:04] get-itips commented on #5427
Thanks @TroyStarr PR is on the way.
@fowl2 James I hope this explanation directly from the team clarifies it to you! 👍

[2020-05-12 01:12] hwkwicre opened #5535 "Link broken"
For more information about how to use parameter sets, see Cmdlet Parameter Sets (https://go.microsoft.com/fwlink/?LinkID=187810).
The link does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0662c036-4a3c-7e89-caaa-b2265d7a7199
* Version Independent ID: 1f117040-2424-bfc6-14ef-0ac033330107
* Content: [Remove-

[2020-05-12 01:16] hwkwicre opened #5536 "Typo"
Add-SPOSiteDesign `
  -Title "Contoso customer tracking" `
  -WebTemplate "64" `
  -SiteScripts "&lt;ID&gt;" `
  -Description "Tracks key customer data in a list" `
  -PreviewImageUrl "https://contoso.sharepoint.com/SiteAssets/site-preview.png" `
  -PreviewImageAltText "site preview"

There are a lot of `s in the text that doesn't seem necessary. This happens in many other documents as well.

---

[2020-05-12 01:27] hwkwicre opened #5537 "Parameters"
Should there be descriptions with parameters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a99ae6ea-f1ca-1d6f-bdda-abc8cf4082ae
* Version Independent ID: 066c87bc-6767-ae13-7f31-d9591f7e0536
* Content: [Add-SPOTheme (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/add-spotheme

[2020-05-12 01:31] hwkwicre opened #5538 "Link"
For permissions and the most current information about Windows PowerShell for SharePoint Online, see the online documentation at https://go.microsoft.com/fwlink/p/?LinkId=251832 (https://go.microsoft.com/fwlink/p/?LinkId=251832).
Why is the same link repeated (and the second one is broken too)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-05-12 03:48] yogkumgit commented on #5535
@officedocsbot assign @yogkumgit

[2020-05-12 03:48] yogkumgit commented on #5536
@officedocsbot assign @yogkumgit

[2020-05-12 03:48] yogkumgit commented on #5537
@officedocsbot assign @yogkumgit

[2020-05-12 03:48] yogkumgit commented on #5538
@officedocsbot assign @yogkumgit

[2020-05-12 03:53] yogkumgit commented on #5451
@get-itips  Thank you very much for the contribution and sharing this explanation. @swinster
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-12 03:57] yogkumgit commented on #5486
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @BLalanda Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-12 03:57] #5486 closed

[2020-05-12 04:01] yogkumgit commented on #5494
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-12 04:03] yogkumgit commented on #5495
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-12 04:03] #5495 closed

[2020-05-12 04:06] #5214 closed

[2020-05-12 04:10] yogkumgit commented on #5519
@dariomws  Thank you very much for the contribution and sharing this explanation. @pear7777
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-12 04:10] #5519 closed

[2020-05-12 04:12] yogkumgit commented on #5518
@dariomws  Thank you very much for the contribution and sharing this explanation. @VNJoe
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-12 04:19] yogkumgit commented on #5524
@dariomws  Thank you very much for the contribution and sharing this explanation. @lightupdifire
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-12 09:29] LindaSchaar opened #5540 "MS Teams: Get-TeamGuestSettings powershell version 5.1.17858"
Hi All,

I want to check with powershell if a specific team has allow external user turned on. How do i check this in powershell? If i use Get-Team I only see this info DisplayName/ Visibility / Archived/ MailNickName/ Description but no allow external users only on tenant level, but i want it on team level.

I hope to hear soon

[2020-05-12 09:48] hwkwicre commented on #5494
Thank you very much!
Wonder when do you typically update the part on docs.microsoft.com?

[2020-05-12 09:49] hwkwicre commented on #5494
@yogkumgit

[2020-05-12 10:31] yogkumgit commented on #5540
@officedocsbot assign @yogkumgit

[2020-05-12 10:36] yogkumgit commented on #5487
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @DailenG Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-12 10:37] #5487 closed

[2020-05-12 10:39] yogkumgit commented on #5493
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @nickiapalucci Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-12 10:39] #5493 closed

[2020-05-12 10:44] yogkumgit commented on #5494
:)

[2020-05-12 10:48] yogkumgit commented on #5494
@hwkwicre it is a team work. :) We proceed closing it here.

[2020-05-12 10:48] #5494 closed

[2020-05-12 10:50] lightupdifire commented on #5524
@dariomws
Support tells that Conditional Access not apply here, it is only "to attachments in the messages".
So UserVoice needed to add the solution in "Set-OwaMailboxPolicy" and already did that: https://outlook.uservoice.com/forums/907141-the-new-outlook-on-the-web-office-365/suggestions/40402531-security-owa-allow-to-disable-export-contact-v

[2020-05-12 10:58] #5524 closed

[2020-05-12 11:27] yogkumgit commented on #5262
@kenwith  Thank you very much for the contribution and sharing this explanation. @Coldry
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-12 11:27] #5262 closed

[2020-05-12 11:47] get-itips commented on #5317
@alexsoft-pl Please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/5313#issuecomment-621580808

[2020-05-12 11:48] yogkumgit commented on #5317
@get-itips  Thank you very much for the contribution and sharing this explanation. @alexsoft-pl
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-12 11:48] #5317 closed

[2020-05-12 11:56] jesper-ego opened #5541 "Link to SPRegionalSettings.TimeZones are dead"
The link in section about TimeZoneID seems dead... Should redirect to https://docs.microsoft.com/en-us/dotnet/api/microsoft.sharepoint.spregionalsettings.timezones

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5af79bd0-1525-b5d8-b65a-05f9b5a13267
* Version Independent ID: 1b98f96f-942b-679d-b43f-1dc74da1e547
* Content

[2020-05-12 12:12] raypnut commented on #4186
thanks for the fix @moegitree after installing .net 4.8, I was able to connect

[2020-05-12 12:56] get-itips commented on #4888
Finally we could get the description for the cmdlet, Pull Request referenced here. Once merged @yogkumgit please close.

[2020-05-12 13:22] get-itips commented on #5497
Hello @hwkwicre thanks for noticing and reporting. Created a PR to update the article.

[2020-05-12 13:35] get-itips commented on #5261
@tomkau Tom, can you help here? Thanks

[2020-05-12 13:51] get-itips commented on #5522
Hello @voutit
This is documented in a note [here](https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/move-users-from-on-premises-to-teams).

[2020-05-12 14:08] get-itips commented on #5523
Hello @sfarouk-MS How are you? Hope you are doing great.
This is related to Teams Meeting Notes. And this is the behavior when disabled.

![image](https://user-images.githubusercontent.com/36666927/81701749-cf99c380-9440-11ea-94cb-18c998221bd7.png)

Hope this information clarifies it to you.

[2020-05-12 14:25] dariomws commented on #5515
I have verified and it´s true, WinRM is not enabled by default on Windows client. I will add a note. Thanks!

[2020-05-12 14:50] sfarouk-MS commented on #5523
Thank you so much appreciate if we can update the document to make it more clear and differentiate between OneNote

[2020-05-12 15:14] VNJoe commented on #5518
Please reopen.  This is what happens in Internet Explorer.  It doesn't work in IE either.

Cannot convert argument "0", with value: "UserProfile", for "GetFolderPath" to type "System.Environment+SpecialFolder": "Cannot convert value "UserProfile" to type "System.Environment+SpecialFolder" due to invalid enumeration values. Specify one of the following enumeration values and try again. The possible

[2020-05-12 15:31] VNJoe commented on #5518
From here, I've had to install WMI5.1.  However, that installation in the download center has no installation instructions.  I click 'Install' and it says 'CLick here to view release notes'.  I do, and it's a 404 page.

This is getting very difficult when all I'm attemting to do is hide a group from the address book.  Literally hours to get nowhere.  If an option is only in Powershell and Powershe

[2020-05-12 15:35] dariomws commented on #5518
@VNJoe Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the outcome or resolution with us. We will certainly up

[2020-05-12 15:38] VNJoe commented on #5518
I have run the link inside the Office Portal for Hybrid Configure with this Powershell installer on multiple systems and none of them work.  It doesn't work on IE.  That's a reproducible event, not a support ticket.  I don't work for Microsoft.  I only let you know when the products don't work and the products don't work.  You can definitely reporduce this issue.

[2020-05-12 15:55] dariomws commented on #5518
Tried it in a Windows 10 machine with IE11 and it works:
![image](https://user-images.githubusercontent.com/33589238/81716478-cd8b3100-944f-11ea-8845-9ba5480e892f.png)

[2020-05-12 16:25] VNJoe commented on #5518
Windows 10 has Edge...  8.1, 2012... no go.

[2020-05-12 16:29] VNJoe commented on #5518
This command is the next stop with an error - Install-Module PowershellGet -Force

This is the instructions of installing V2 manually.

WARNING: Unable to download from URI 'https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409' to ''.
WARNING: Unable to download the list of available providers. Check your internet connection.
PackageManagement\Install-PackageProvider : No match was found for

[2020-05-12 16:38] dariomws commented on #5518
Edge is the default browser in Windows 10, but IE11 is included:
![image](https://user-images.githubusercontent.com/33589238/81721141-c9621200-9455-11ea-8fac-2916ef83d45a.png)

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email a

[2020-05-12 16:44] VNJoe commented on #5518
Here's a summary: Install-Module PowershellGet -Force doesn't work and neither does any install from NuGet no matter the Execution Policy.  The ONLY way I can get this to work is with a shortcut one of my tech's gave me.  Apparently HE got it from a support call previously but the problem is THE DOCUMENTATION DOESN'T WORK.

If you try this on anything other than Win10/2016, none of it works out of

[2020-05-12 17:44] kenwith commented on #5208
I will pass this information onto the product team and update documentation as necessary.

[2020-05-12 17:44] #5208 closed

[2020-05-12 18:34] VNJoe commented on #5518
I appreciate you trying to resolve this on your time. My request is simply that the ClickOnce usage or whatever the link is inside the Office Portal works on only a select number of systems, and that there is a different method of a shortcut that pulls the correct version down that we had to get from support.  THAT version works on everything, so make THAT the default instead of the current method

[2020-05-12 18:57] dariomws commented on #5518
Could you please detail the updates that you suggest on this specific article?

About V2, please use this information to contact the product group directly:
"The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionall

[2020-05-12 20:34] freshyogurt commented on #1709
When will it be supported in Mac OS?

[2020-05-13 01:41] hwkwicre opened #5551 "Link"
see the online documentation at https://go.microsoft.com/fwlink/p/?LinkId=251832 (https://go.microsoft.com/fwlink/p/?LinkId=251832).
Why is the link repeated (also the second one doesn't work for some reason)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3aaa97d-31e1-e3bf-ee54-389491b2f103
* Version Independent ID: c

[2020-05-13 05:39] fowl2 commented on #5427
It's definitely an improvement, thanks :) I'm upgrading a single server 2013 farm so nothing applies to my current situation yet though 😅😅. I'll probably just take my chances without the `iisreset` honestly, as it seems to work #yolo.

Back improving the article - The wording is still a little ambiguous to me about about what "for the site move to take effect" means.  Perhaps something like: "Prio

[2020-05-13 05:45] fowl2 commented on #5427
Update: just found [this doc](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/dd364067(v=ws.10)?redirectedfrom=MSDN) that states that `iisreset` is not supported?  (Emphasis mine.)

[2020-05-13 06:07] florinbarbu opened #5552 "Great!"
Finaly, I succeded to change my OnDrive Storage! Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85cea8f8-239d-1f73-f13a-a5a3148b66e5
* Version Independent ID: ca809b64-206c-4dfa-7c79-b0a45979e953
* Content: [Connect-SPOService (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-on

[2020-05-13 07:27] jdelforno opened #5553 "What are the includes?"
I've tried to read: https://github.com/pnp/PnP-PowerShell/tree/master/Commands/Web

But I feel like I'm missing part of the equation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd309d38-78a2-4bf4-7114-a02796d12663
* Version Independent ID: 163348ba-ba40-e8e3-76ad-f8741a213ee0
* Content: [Get-PnPWeb (sharepoint-pnp)

[2020-05-13 08:16] ahamin01 opened #5554 "Overview Link is broken"
Please, check the overview Link as it's invalid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f5227-2b47-3487-99bb-222d18d43552
* Version Independent ID: e7833ab4-d2b1-5840-4f2c-dda86599d3af
* Content: [Microsoft Whiteboard Admin](https://docs.microsoft.com/en-us/powershell/module/whiteboard/?view=whiteboard-ps)
*

[2020-05-13 08:19] ahamin01 opened #5555 "Missing parameter in the example"
This example command is not totally complete, as it's missing the Whiteboard Id. Hence, the command should be

Set-WhiteboardOwner -OldOwnerId 00000000-0000-0000-0000-000000000001 -NewOwnerId 00000000-0000-0000-0000-000000000002 -WhiteboardId 00000000-0000-0000-0000-000000000003

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-05-13 09:09] yogkumgit commented on #5541
@officedocsbot assign @yogkumgit

[2020-05-13 09:09] yogkumgit commented on #5551
@officedocsbot assign @yogkumgit

[2020-05-13 09:09] yogkumgit commented on #5552
@officedocsbot assign @yogkumgit

[2020-05-13 09:09] yogkumgit commented on #5553
@officedocsbot assign @yogkumgit

[2020-05-13 09:10] yogkumgit commented on #5554
@officedocsbot assign @yogkumgit

[2020-05-13 09:10] yogkumgit commented on #5555
@officedocsbot assign @yogkumgit

[2020-05-13 09:19] yogkumgit commented on #4888
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Petri-X Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.
.

[2020-05-13 09:19] #4888 closed

[2020-05-13 09:27] yogkumgit commented on #5497
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-13 09:27] #5497 closed

[2020-05-13 09:27] shawnharry opened #5556 "Missing Parameter - SafeTransferEnabled"
This page needs updating as there are a number of missing parameters

-AllowCalling (May be legacy)
-AllowWebPSTNCalling
-SafeTransferEnabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f1bf407-1ad6-77d9-4ef1-4bc821576912
* Version Independent ID: 4630697b-375e-85f2-25b1-b944bc6dad5f
* Content: [Set-CsTeamsCallingP

[2020-05-13 09:30] yogkumgit commented on #5522
@get-itips  Thank you very much for the contribution and sharing this explanation. @voutit
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-13 09:30] #5522 closed

[2020-05-13 09:33] yogkumgit commented on #5523
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @sfarouk-MS Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-13 09:33] #5523 closed

[2020-05-13 09:36] yogkumgit commented on #5515
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @jakezatecky Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-13 09:36] #5515 closed

[2020-05-13 09:47] yogkumgit commented on #5427
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @fowl2 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-13 09:52] yogkumgit commented on #5556
@officedocsbot assign @yogkumgit

[2020-05-13 09:59] yogkumgit commented on #5482
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-13 09:59] #5482 closed

[2020-05-13 10:03] yogkumgit commented on #5496
@get-itips Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-13 10:03] #5496 closed

[2020-05-13 11:20] WillemVerwijs opened #5557 "got error"
Install-Module PowershellGet -Force
error:
WARNING: Unable to resolve package source 'https://www.powershellgallery.com/api/v2/'.
PackageManagement\Install-Package : No match was found for the specified search criteria and module name 'Powershell
'. Try Get-PSRepository to see all available registered module repositories.

Can you please provide a fix or additional info for those who get this erro

[2020-05-13 11:25] yogkumgit commented on #5557
@officedocsbot assign @yogkumgit

[2020-05-13 12:45] VNJoe commented on #5518
I'll try again...  if you log into the Exchange Online Admin center, you get a blue bar that says Manage your organization using the new, fast and reliable Powershell cmdlets {something I NEVER want to have to do, but I'm forced to..} and a button that says 'Check it here'. That button is a link to https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/exchange-online-powershell-v2/e

[2020-05-13 13:47] toffitomek commented on #5259
after updating SP module to newest one my error went away :)

[2020-05-13 14:28] dariomws commented on #5518
Hi @VNJoe, I really appreciate that you want to help us to improve docs.microsoft.com.

I have tried (again) to run "Install-Module PowershellGet -Force" on a clean Win 10 vm:
![image](https://user-images.githubusercontent.com/33589238/81819165-56b06f80-9505-11ea-90f5-51012d9b50f0.png)
The same command in Win 8.1 fail, it´s true:
![image](https://user-images.githubusercontent.com/33589238/81823532

[2020-05-13 15:03] Bart2s4 opened #5558 "Set-SPOsite -DenyAddAndCustomizePages issue on team sites"
Since in need to upload an old doc  template. I always used the set-sposite -DenyCustomizePages 0  command, but a few weeks ago i always receive an error. I even donwloaded and installed the new sharepoint online management shell, still same issue. Wierd enough, is that in the documentation of Microsoft docs it still is a valid command.

[2020-05-13 17:38] get-itips commented on #5554
Hello @ahamin01 thanks for noticing and reporting, A PR is on the way to fix this.

[2020-05-13 17:39] jonwbstr opened #5561 "PSSessionOption example"
Hello, please share an example of how to use the PSSessionOption parameter.

Specifically, how can I pass the CommandName option with a value?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28f6554b-4d67-06d3-7926-1b958653872f
* Version Independent ID: 7a6a1737-afdf-dfd5-67f8-64aa6758ccc4
* Content: [Connect-Ex

[2020-05-13 17:41] jonwbstr commented on #5561
Just noticed the example talks about using New-PSSessionOption was hard to spot because of line wrapping. Sadly neither of the things I want to do are a PSSessionOption. :(

[2020-05-13 17:44] jonwbstr opened #5562 "Example 2 description missleading"
The example below implies that you need -UserPrincipalName and -ShowProgress to connect using an account with MFA enabled. ShowProgress is $true by default.

Perhaps a better example would be to use -ShowProgress:$False with an explanation of, "This command connects the current PowerShell session hiding the progress bar and using chris@contoso.com account, which is MFA enabled.
[code]

---
#### Do

[2020-05-13 17:48] jonwbstr commented on #5562
Actually, I don't know what showprogress does. Ran the command with the value of $true and $false and didn't notice a difference in experience...

[2020-05-13 17:56] get-itips commented on #5509
@hwkwicre  Thanks for noticing and reporting, created a pr to fix the parameter description.

[2020-05-13 18:10] get-itips commented on #5520
@hwkwicre
Thanks for noticing and reporting, a fix is on the way.

[2020-05-13 18:34] get-itips commented on #5521
Hello @hwkwicre again! 👍 thanks for noticing and reporting. A fix is on the way!
Thanks for making Docs better!

[2020-05-13 19:40] get-itips commented on #5511
@PeterWxin Peter how are you? Hope you're doing great 👍

That is usually information that _Identity Providers_ provide on their specification of supported features and also that information was needed when the external IDP was configured on the tenant, if any. (For example AD-FS)
I recommend checking with your IDP vendor in your specific scenario.

[2020-05-13 20:23] Paco2015 opened #5568 "Example 1 and 3 are incorrect"
Example 1 should be:
Get-Mailbox -ResultSize unlimited | Get-MailboxAutoReplyConfiguration

Example 3 should be removed as it seems to be duplicate to Example 1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 027c3a5d-02a5-d524-e46c-09b1f00685d1
* Version Independent ID: 3bab8ec5-6318-4bf8-4d0a-c340be25cf5e
* Content: [

[2020-05-14 02:28] hwkwicre commented on #5551
The same issue appears in other documents as well, such as https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/restore-spodeletedsite?view=sharepoint-ps

[2020-05-14 07:48] shawnharry commented on #5556
Also after enabling SafeTransferEnabled Safe Transfer doesn't work. Can you advise if/when SafeTransferEnabled will be functional and fully working.

[2020-05-14 09:29] yogkumgit commented on #5561
@officedocsbot assign @yogkumgit

[2020-05-14 09:30] yogkumgit commented on #5558
@officedocsbot assign @yogkumgit

[2020-05-14 09:30] yogkumgit commented on #5562
@officedocsbot assign @yogkumgit

[2020-05-14 09:30] yogkumgit commented on #5568
@officedocsbot assign @yogkumgit

[2020-05-14 09:48] yogkumgit commented on #5554
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @ahamin01 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-14 09:48] #5554 closed

[2020-05-14 09:53] yogkumgit commented on #5509
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-14 09:53] #5509 closed

[2020-05-14 09:59] yogkumgit commented on #5511
@get-itips  Thank you very much for the contribution and sharing this explanation. @PeterWxin
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-14 09:59] #5511 closed

[2020-05-14 11:23] fowl2 commented on #5427
@yogkumgit looks like you missed my [comment](https://github.com/MicrosoftDocs/office-docs-powershell/issues/5427#issuecomment-627757722), thanks =)

[2020-05-14 12:44] Michal-Ziemba opened #5571 "Connect-ExchangeOnline triggers >>The term 'Get-Runspace' is not recognized ...<<"
When executing Connect-ExchangeOnline command from Exchange Online PowerShell V2 module got the error:
CategoryInfo=ObjectNotFound:   (Get-Runspace:String) [] CommandNotFoundException

Module version I am using is 0.4578.0
PowerShell version: 4.0

[code]

[2020-05-14 13:53] RoyRK07 commented on #2783
Cmdlet will work below , please try

Should be run with single quote ''
winrm set winrm/config/client/auth '@{Basic="true"}'

[2020-05-14 14:30] get-itips commented on #5512
@ewillman  Thanks for noticing and reporting, a fix to the documentation is on the way.

[2020-05-14 14:37] get-itips commented on #5517
Hello @PeterWxin Thanks for reporting. Adding a simpler Example.

[2020-05-14 14:52] DEberhardt opened #5575 "How do I use a Direct Routing number with a Calling Line Identity Policy"
Hello,
Service Numbers are great to be used, but Customers are asking us for using TDR Numbers as well.
I explored adding Service Numbers but they are Microsoft Numbers.
How would I use a Direct Routing number with this Policy?

Thanks,
David

[2020-05-14 15:09] TheBluLion commented on #5557
I had errors on install-module exchangeonlinemanagement
Looks like the module has been moved from the nuget repository to the psgallery.
install-module exchangeonline -repository psgallery

You may not need to install and update powershellget anymore, although I was able to still do so by running install-module powershellget -repository psgallery

the document does need to be updated, though.

[2020-05-14 15:12] dariomws commented on #5557
Hi @WillemVerwijs, thank you for your feedback.

Please check the following article to install PowershellGet depending on the version of Windows/PowerShell:
https://docs.microsoft.com/powershell/scripting/gallery/installing-psget

If you are using Win 8.1 or 2012 R2:
https://github.com/MicrosoftDocs/PowerShell-Docs/issues/5725
This issue was reported and the articles will be updated soon.

[2020-05-14 15:14] get-itips commented on #5540
Hello @LindaSchaar How are you?

You have to leverage the use of another cmdlet and another module, as teams in Microsoft Teams are essentially Office 365 Groups.
For example [Get-UnifiedGroup](https://docs.microsoft.com/en-us/powershell/module/exchange/users-and-groups/get-unifiedgroup?view=exchange-ps) | Where-Object {$_.AllowAddGuests -eq $true}

Other than that, I don't recognize further issue

[2020-05-14 15:22] dariomws commented on #5561
Hi @jonwbstr, thank you for your feedback.

In the parameter description you can see how you can use it:
"The PSSessionOption parameter specifies the PowerShell session options to use in your connection to Exchange Online. You store the output of the New-PSSessionOption command in a variable (for example, $Options = New-PSSessionOption <Settings>), and you use the variable name as the value for th

[2020-05-14 15:50] dariomws commented on #5562
@jonwbstr, thank you for your feedback.

I tested it and you are right. Please, provide the feedback related to V2 module in the way this article state:
https://docs.microsoft.com/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2#report-bugs-and-issues

[2020-05-14 16:23] chrisda commented on #2783
@KevinTechExec, @andy2002a, @RoyRK07, the topic describes how to run the command in a Command Prompt (i.e., a DOS window), and I even recently added bold formatting to call out that fact. It works correctly as written. Extra quotes are required only if you try to run the command in Windows PowerShell.

[2020-05-14 17:28] DEberhardt opened #5577 "Get-CsOnlineVoiceApplicationInstance"
Hello,

the Set-Command exists, but there is currently no way to query an OnPremTelephoneNumber set for an Application Instance.

As this is vital to verify its application (outside the Web portal), can this one please be provided?

Thank you,
David

**EDIT**: Sorry, found that Get-CsOnlineApplicationInstance shows the PhoneNumber set with Set-CsOnlineVoiceApplicationInstance. I expected it to be

[2020-05-14 18:01] kaishuipinggai commented on #5261
Hi sorry for the late response I might have missed this one.
So for the length and mask, we don't specify them in this commandlet. This is kind of by design since we agreed within the team to only let the tenant admin input the subnet, that is good enough for the functionality. The Lis subnet is mapping with the location information, with the location ID, with the same purpose of finding the locat

[2020-05-14 18:13] get-itips commented on #5261
Thanks @kaishuipinggai Jundong for that explanation.
I hope @vnewbaker-bw it clarifies to you.

[2020-05-14 18:38] kaishuipinggai commented on #5261
Forget to add:
Let me give one example, assume the following is a valid input into our service to query for retrieving the LocationInfo:

{
    "tenantid": "ffffffff-ffff-ffff-ffff-ffff0000ffff",
    "publicIp": "100.100.100.200",
    "networkinformation": {
      "ipv4": "200.100.222.111",
      "subnetLengthIpv4": "24",
      "bssid": "02-15-03-49-CF-6D",
      "e911": [
        {
          "cha

[2020-05-14 18:51] jonwbstr commented on #5561
It's fine, the only improvement you might consider is putting the example
command on its own line to improve visibility a little. I did spot it after
the 3rd glance.

On Thu, May 14, 2020, 11:22 AM Dario Woitasen <notifications@github.com>
wrote:

[2020-05-14 19:26] dariomws commented on #5561
Like this?

The PSSessionOption parameter specifies the PowerShell session options to use in your connection to Exchange Online. You store the output of the New-PSSessionOption command in a variable, for example:
$Options = New-PSSessionOption <Settings>
And you use the variable name as the value for this parameter (for example, $Options).

[2020-05-14 19:28] vnewbaker-bw commented on #5261
Thanks for the clarification, that is what I wanted to know

[2020-05-14 20:38] jonwbstr commented on #5561
Yes, that was my thought exactly

On Thu, May 14, 2020, 3:27 PM Dario Woitasen <notifications@github.com>
wrote:

[2020-05-14 21:31] johnreece2019 opened #5579 "rescheduled"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c93a65-a404-6a2b-6e0b-c9142eade407
* Version Independent ID: 8fa169c0-74f3-92b0-4bcf-cb31bf616c9c
* Content: [Get-SPOUserAndContentMoveState (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-spouserandcont

[2020-05-15 09:39] yogkumgit commented on #5571
@officedocsbot assign @yogkumgit

[2020-05-15 09:40] yogkumgit commented on #5575
@officedocsbot assign @yogkumgit

[2020-05-15 09:41] yogkumgit commented on #5577
@officedocsbot assign @yogkumgit

[2020-05-15 09:42] yogkumgit commented on #5579
@officedocsbot assign @yogkumgit

[2020-05-15 09:47] yogkumgit commented on #5577
@DEberhardt Thank you very much for the contribution and sharing this explanation. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-15 09:47] #5577 closed

[2020-05-15 09:53] yogkumgit commented on #5512
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @ewillman Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-15 09:53] #5512 closed

[2020-05-15 09:56] yogkumgit commented on #5517
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @PeterWxin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-15 09:56] #5517 closed

[2020-05-15 09:59] yogkumgit commented on #5557
@dariomws  Thank you very much for the contribution and sharing this explanation. @WillemVerwijs Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-15 09:59] #5557 closed

[2020-05-15 10:08] yogkumgit commented on #5261
@get-itips and @kaishuipinggai  Thank you very much for the contribution and sharing this explanation. @vnewbaker-bw Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-15 10:08] #5261 closed

[2020-05-15 10:16] yogkumgit commented on #5568
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @Paco2015  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-15 10:16] #5568 closed

[2020-05-15 10:47] seb-sudo opened #5580 "Bulk change"
Is it possible to bulk change attributes for users?
All of my users have their prompt language by default set to en-US and I want to change them to en-GB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0146821-d9a4-35c0-7b68-e9b35521a0f3
* Version Independent ID: fa87b9ae-bea0-17cd-c5a7-9efaac8f7392
* Content: [Set-CsO

[2020-05-15 11:43] LindaSchaar commented on #5540
Hello @get-itips ,

Thank you for the help. Yes i am fine. I will try this command.

Linda

[2020-05-15 12:16] AJain2810 opened #5581 "How to prevent the banner message from getting printed"
PS C:\Windows\system32> Connect-ExchangeOnline -Credential $Credential | Out-Null

----------------------------------------------------------------------------
We have released new management cmdlets which are faster and more reliable.

|--------------------------------------------------------------------------|
|    Old Cmdlets                    |    New/Reliable/Faster Cmdlets       |
|--------

[2020-05-15 13:17] get-itips commented on #5555
Thanks for noticing and reporting @ahamin01 I could verify so I created a PR to improve the article based on your feedback. Thank you!

[2020-05-15 13:21] get-itips commented on #5535
Thanks for noticing and reporting! Created a PR to update the article. @hwkwicre

[2020-05-15 13:37] get-itips commented on #5536
Hello @hwkwicre How are you?

That is not really a typo, it is powershell backtick to add a new line, that way, you can make one-liner cmdlets to multi-line to make them more readable.

Hope this information clarifies it to you.

[2020-05-15 13:47] get-itips commented on #5537
Hello! Thanks for reporting, created a Pull Request to update the article. @hwkwicre

[2020-05-15 13:59] get-itips commented on #5538
Thanks for that @hwkwicre I am proposing thru a pr another link.

[2020-05-15 14:06] get-itips commented on #5541
Thanks @jesper-ego for noticing and reporting. A fix is on the way.

[2020-05-15 15:57] MikeDembek commented on #1894
Is this guidance still current?  This issue is reported as being resolved in Exchange 2016 CU14's release notes (https://support.microsoft.com/en-us/help/4515271/can-t-convert-a-migrated-remote-user-mailbox-to-shared-in-exchange-ser).

[2020-05-15 17:08] ravick4u opened #5588 "Upgrade"
I was able to upgrade module successfully with below command

Update-Module SharePointPnPPowerShell*

But after the upgrade now I see two versions of the module. Is that expected behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b6

[2020-05-15 20:22] lesjtay commented on #5588
Same problem and I get this error.
PS C:\Windows\System32> get-help Set-PnPListItem -online

Name                              Category  Module                    Synopsis
----                              --------  ------                    --------
Set-PnPListItem                   Cmdlet    SharePointPnPPowerShellO… Updates a list item
Set-PnPListItem                   Cmdlet    SharePointPnPPo

[2020-05-15 21:15] MIBadran opened #5591 "Applies to"
This Applies top Teams as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb9af8cd-c307-aff5-db34-b9c3864cc32a
* Version Independent ID: ed904d57-f5db-c145-58af-51959bb4c93c
* Content: [Set-CsOnlineDialInConferencingUserDefaultNumber (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/set-csonlinedial

[2020-05-16 16:46] br1310 commented on #5214
Hi  Guys,
Anyone is having issue with assignment status completed with error: _"Object is not in   valid state for this operation or there is a delay in propagation."?

I applied to 12000 users but only 50% completed. Rest of them failed with the error.

Thank you
BR

[2020-05-16 17:16] dinocaputo commented on #5214
Limit your batches to 5000 users.
Everything you are seeing is “expected” right now due to the preview nature of this Cmdlet.  I have similar issues with it.

Sent from my iPhone

On May 16, 2020, at 12:46 PM, br1310 <notifications@github.com> wrote:

﻿

Hi Guys,
Anyone is having issue with assignment status completed with error: _"Object is not in valid state for this operation or there is a dela

[2020-05-17 01:29] br1310 commented on #5214
Thank you  @dinocaputo

I limit the batches to 2000 users but still It gives me same error. It seems that status of those users are stored somewhere. Because when I ran second time, it was super quick (task was completed in few seconds)

[2020-05-17 17:29] swinster commented on #5451
Unfortunately the item passed it is extracted programmatically, so I'm not entire sure what I can do with validating the data. @get-itips when you typed in the information, exactly what format di you use?

[2020-05-18 01:13] hwkwicre opened #5594 "link issue"
https://go.microsoft.com/fwlink/p/?LinkId=251832
The link was repeated and the second one doesn't seem to work, the same thing happens with many other articles (same link).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b84392a-eba7-4b55-6da1-920a487e86ef
* Version Independent ID: 61bff715-8d49-ad01-d020-5e8e0b19e546

[2020-05-18 01:17] hwkwicre opened #5595 "Parameters"
Some parameters only have "PARAMVALUE", maybe more descriptions can be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1b44e3-4af5-1458-d931-72a0f698732b
* Version Independent ID: 1751767f-1d8a-7750-35b9-725b5a3ad705
* Content: [Start-SPOSiteRename (sharepoint-online)](https://docs.microsoft.com/en-us/powershel

[2020-05-18 01:20] hwkwicre opened #5596 "Description"
-Reserved
{{ Fill Reserved Description }}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d42a5636-1016-c816-a659-8e5b1a2a4087
* Version Independent ID: 0be56c12-346c-bc92-b2ad-36b48f8d2589
* Content: [Start-SPOUnifiedGroupMove (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/sta

[2020-05-18 05:52] #5581 closed

[2020-05-18 10:13] yogkumgit commented on #5580
@officedocsbot assign @yogkumgit

[2020-05-18 10:14] yogkumgit commented on #5588
@officedocsbot assign @yogkumgit

[2020-05-18 10:14] yogkumgit commented on #5591
@officedocsbot assign @yogkumgit

[2020-05-18 10:14] yogkumgit commented on #5594
@officedocsbot assign @yogkumgit

[2020-05-18 10:14] yogkumgit commented on #5595
@officedocsbot assign @yogkumgit

[2020-05-18 10:15] yogkumgit commented on #5596
@officedocsbot assign @yogkumgit

[2020-05-18 10:28] #5540 closed

[2020-05-18 10:30] yogkumgit commented on #5555
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @ahamin01 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-18 10:30] #5555 closed

[2020-05-18 10:37] yogkumgit commented on #5536
@get-itips  Thank you very much for the contribution and sharing this explanation. @hwkwicre
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-18 10:37] #5536 closed

[2020-05-18 10:41] yogkumgit commented on #5537
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-18 10:41] #5537 closed

[2020-05-18 10:43] yogkumgit commented on #5538
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-18 10:43] #5538 closed

[2020-05-18 10:46] yogkumgit commented on #5541
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @jesper-ego Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-18 10:46] #5541 closed

[2020-05-18 10:53] yogkumgit commented on #5561
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @jonwbstr Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-18 10:53] #5561 closed

[2020-05-18 11:20] get-itips commented on #5451
Hey @swinster How are you? I am not sure what you refer as typing format, but for example I used

`-Thumbprint 934367bf1c9703f877db0f15cb1b586957d3133`

If the issue persists, I recommend opening a support ticket, they will be able to help you further.

[2020-05-18 11:21] yogkumgit commented on #5451
@get-itips  Thank you very much for the contribution and sharing this explanation. @swinster
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-18 11:21] #5451 closed

[2020-05-18 12:01] yogkumgit commented on #5520
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-18 12:01] #5520 closed

[2020-05-18 12:02] yogkumgit commented on #5521
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-18 12:03] #5521 closed

[2020-05-18 12:04] yogkumgit commented on #5535
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-18 12:04] #5535 closed

[2020-05-18 12:20] get-itips commented on #5500
Hello as already mentioned, please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/5500#issuecomment-626865890 we will proceed closing this one for now. Thank you

[2020-05-18 12:51] get-itips commented on #5552
Thanks for your feedback.
@yogkumgit please close this issue.

[2020-05-18 12:52] get-itips commented on #5553
Hello @jdelforno How are you?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues/questions. PnP cmdlets are maintained by the community, a member of it will pick it up there. Thank you!

[2020-05-18 13:07] get-itips commented on #5551
Thanks for your feedback! @hwkwicre

[2020-05-18 13:43] get-itips commented on #5556
Hello @shawnharry
Thanks for your feedback, I will propose adding missing parameters thru a Pull Request.
And also I will ask the author to share further details to try to expand the proposed descriptions even more.
Thank you

[2020-05-18 13:57] dariomws commented on #5562
@jonwbstr,

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

When you report an issue, be sure to include the log files in your email message.

To generate the log files, r

[2020-05-18 15:41] freakynl opened #5599 "Smarthost that uses 587"
Hi,

any clues on how to set it to use port 587 on the smarthost? Don't see any parameters to specify a port and it doesn't like '-SmartHosts relay.fqdn.tld:587'

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 197a2ea2-b2a9-8d28-d724-1ec049eaa6b4
* Version Independent ID: e4a8d18c-7259-fc35-42a9-6adc

[2020-05-18 17:14] leifdavisson opened #5602 "ExternalMailExpiryInterval"
The new property is missing from this page. ExternalMailExpiryInterval

Get-omeconfiguration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86ae2cba-8c1d-ebd1-9834-f5a4881830cc
* Version Independent ID: 6134df0d-c336-4288-c704-63cf742c0c5e
* Content: [Get-OMEConfiguration (exchange)](https://docs.microsoft.com/en-us/po

[2020-05-18 17:14] chrisda commented on #5599
@freakynl, it's not possible. Inbound and Outbound connectors in the service are for standard server-to-server connections between SMTP servers/devices. No consideration for specifying ports.

[2020-05-18 17:14] leifdavisson opened #5603 "ExternalMailExpiryInterval"
Missing new property type and how to set the property.

ExternalMailExpiryInterval

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aabcc26e-242d-1342-24af-a419a129e91d
* Version Independent ID: 110aa234-6fb0-ff5c-fe5c-10b86147b9ce
* Content: [Set-OMEConfiguration (exchange)](https://docs.microsoft.com/en-us/powershell/m

[2020-05-18 20:32] balajigunasekaran opened #5606 "Doesn't Work"
Both these examples doesnt work and they dont match the command at the top.

New-SPClaimProvider -Name "MyClaimProvider" -Type "MyClaimProvider.Providers.CustomProvider" -AllWebApplications
New-SPClaimProvider -Name "MyClaimProvider" -Type "MyClaimProvider.Providers.CustomProvider" -Scope (Get-SPWebApplication https://test)
Error: A parameter cannot be found that matches parameter name Scope

---

[2020-05-18 23:36] jdelforno commented on #5553
@get-itips Good thanks, yourself?

That's interesting, so it's community driven but provided documentation is on the Microsoft Documentation website. Noted.

[2020-05-18 23:40] get-itips commented on #5553
Hello @jdelforno John, I am good thanks.
The experts and contributors of PnP that can answer your inquiry reside on the repository I referenced.
Also, the documentation for PnP cmdlets is directly referenced from cmdlet's source code, on that repository also.
Hope this information clarifies it to you! have a good day.

[2020-05-19 01:26] hwkwicre opened #5609 "link broken"
Cmdlet Parameter Sets (https://go.microsoft.com/fwlink/?LinkID=187810).
Link doesn't work

For permissions and the most current information about Windows PowerShell for SharePoint Products, see the online documentation at https://go.microsoft.com/fwlink/p/?LinkId=251831 (https://go.microsoft.com/fwlink/p/?LinkId=251831).
Repeated link, second one doesn't work

---
#### Document Details

⚠ *Do not

[2020-05-19 01:28] hwkwicre commented on #5609
Related Links
Get-SPODataConnectionSetting
this one also doesn't work

[2020-05-19 01:49] hwkwicre opened #5610 "Parameter"
-NoWait
PARAMVALUE: SwitchParameter
Maybe add some description?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af2a878-cf06-c990-d538-aebf00f2a35d
* Version Independent ID: b19b5db8-33da-1ac6-1348-28cc58aef08b
* Content: [Remove-SPODeletedSite (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sha

[2020-05-19 09:15] yogkumgit commented on #5599
@officedocsbot assign @yogkumgit

[2020-05-19 09:15] yogkumgit commented on #5602
@officedocsbot assign @yogkumgit

[2020-05-19 09:16] yogkumgit commented on #5603
@officedocsbot assign @yogkumgit

[2020-05-19 09:16] yogkumgit commented on #5606
@officedocsbot assign @yogkumgit

[2020-05-19 09:16] yogkumgit commented on #5609
@officedocsbot assign @yogkumgit

[2020-05-19 09:17] yogkumgit commented on #5610
@officedocsbot assign @yogkumgit

[2020-05-19 09:25] yogkumgit commented on #5500
@get-itips  Thank you very much for the contribution. @NickBorowitz  If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-19 09:25] #5500 closed

[2020-05-19 09:29] #5552 closed

[2020-05-19 09:30] trudolf-msft opened #5614 "Be more precise about parameter MAPIEnabled"
Can you be more precise what's the effect if you disable MAPIEnabled for an ExO mailbox please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9398dd25-94e7-a8f8-6d97-f150173bb4da
* Version Independent ID: 6f19f636-20d5-bc97-68be-30b313f107b8
* Content: [Set-CASMailbox (exchange)](https://docs.microsoft.com/en-us/power

[2020-05-19 09:36] yogkumgit commented on #5553
@get-itips  Thank you very much for the contribution and sharing this explanation. @jdelforno
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-19 09:36] #5553 closed

[2020-05-19 09:39] yogkumgit commented on #5551
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-19 09:39] #5551 closed

[2020-05-19 09:41] yogkumgit commented on #5556
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @shawnharry Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-19 09:41] #5556 closed

[2020-05-19 09:43] yogkumgit commented on #5614
@officedocsbot assign @yogkumgit

[2020-05-19 09:49] yogkumgit commented on #5562
@dariomws  Thank you very much for the contribution and sharing this explanation. @jonwbstr
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-19 09:49] #5562 closed

[2020-05-19 09:56] yogkumgit commented on #5498
@dariomws  Thank you very much for the contribution and sharing this explanation. @yuval-a
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-19 09:56] #5498 closed

[2020-05-19 14:15] kaiwessels opened #5615 "Parameter ActiveType"
When choosing under Parameters "-ActiveType" value "None" is not an option

New-CsAutoAttendantPrompt -ActiveType none

A prompt needs to have data for one type (Text-to-Speech or Audio File) set.
At C:\Users\kai.wessels\AppData\Local\Temp\tmp_14paw12f.iht\tmp_14paw12f.iht.psm1:21053 char:9
+         $steppablePipeline.End()
+         ~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpeci

[2020-05-19 14:47] freakynl commented on #5599
That's unfortunate.

Thanks for the re' :)

[2020-05-19 15:03] get-itips commented on #5575
Hello @DEberhardt David, how are you?
AFAIK using a number that isn't a service number isn't available yet.
The best resource to suggest that is UserVoice and I found an [uservoice suggestion](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/38223676-enable-the-ability-to-use-non-service-numbers-with) that matches your request and I voted for it.

Hope this helps you,

[2020-05-19 15:06] leifdavisson commented on #5602
Can you update the set-omeconfiguration page as well?  Also I wasn't able to set the expiry time to 30 days.

[2020-05-19 15:15] get-itips commented on #5580
Hello @seb-sudo How are you?
Not possible without creating, for example, a PowerShell script and using other cmdlet like [Get-CsOnlineUser](https://docs.microsoft.com/en-us/powershell/module/skype/get-csonlineuser?view=skype-ps) to obtain the identity parameter needed by Set-CsOnlineVoicemailUserSettings

Other than that I do not recognize any issue with documentation. I hope this information guid

[2020-05-19 15:19] get-itips commented on #5591
@MIBadran
Please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/5405#issuecomment-624118384

[2020-05-19 15:54] kumaranupam21 opened #5617 "Connect-SPOService with OAuth 2.0"
Can this command be used with bearer token received from AAD as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85cea8f8-239d-1f73-f13a-a5a3148b66e5
* Version Independent ID: ca809b64-206c-4dfa-7c79-b0a45979e953
* Content: [Connect-SPOService (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/

[2020-05-19 16:16] DEberhardt commented on #5575
Thank you. I also voted for it. :)

[2020-05-19 17:56] dariomws commented on #5518
Hi @VNJoe, the article was updated based on this information. Now you are redirected to an article to install PowerShellGet depending on the version of OS/PowerShell.

Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also with this or other articles.

[2020-05-19 18:13] ajacks88 commented on #147
Still running into this issue, anyone have a fix?

[2020-05-19 18:40] kk-sdsu opened #5621 "Address Target Site Limitations Earlier in this Documentation"
Please adjust the language at the top of this page, as the current language at the top: "Invokes a job to swap the location of a site with another site while archiving the original site" is really misleading. Most people won't read all the way down to the section on the target parameter to find out that it's only good for the root site or search site. If not at the top of the page, at least put it

[2020-05-19 18:42] kk-sdsu commented on #4955
Why hello there. I think you should have done this three months ago. I just submitted an issue for this exact same thing. Didn't see this existing issue before submitting mine. I sure hope you address this issue now, because it is an issue for your users.

[2020-05-19 18:47] kk-sdsu commented on #5621
I see that I am not the first developer to raise an issue regarding a usability issue of this documentation. I ask that you update the doc this time, as for us as users, having this information buried deep on the page obviously does not help us.

[2020-05-19 21:04] joergrenn opened #5622 "WhatIf switch not listing changes"
When I add the WhatIf switch to the Update-DistributionGroupMember command. It does not show how it would update the distribution group if applied.
I was expecting that with WhatIf it lists the changes that would occur.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de156666-501b-d45e-f755-70273f2a29de
* Version Indepe

[2020-05-20 01:15] hwkwicre opened #5628 "Parameters"
Re-write descriptions of some parameters maybe?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e4af03-e9bf-ffb3-18e2-749bbe483257
* Version Independent ID: e7c4d074-b297-4c9b-8e23-8c862949c80a
* Content: [Invoke-SPOMigrationEncryptUploadSubmit (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sh

[2020-05-20 03:12] hwkwicre commented on #5588
I have the same question as ravick4u

[2020-05-20 10:39] yogkumgit commented on #5615
@officedocsbot assign @yogkumgit

[2020-05-20 10:39] yogkumgit commented on #5617
@officedocsbot assign @yogkumgit

[2020-05-20 10:40] yogkumgit commented on #5621
@officedocsbot assign @yogkumgit

[2020-05-20 10:40] yogkumgit commented on #5622
@officedocsbot assign @yogkumgit

[2020-05-20 10:40] yogkumgit commented on #5628
@officedocsbot assign @yogkumgit

[2020-05-20 10:51] yogkumgit commented on #5518
@dariomws  Thank you very much for the contribution and sharing this explanation. @VNJoe
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it.

[2020-05-20 10:51] #5518 closed

[2020-05-20 11:00] yogkumgit commented on #5599
@chrisda  Thank you very much for sharing this explanation. @freakynl Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-20 11:00] #5599 closed

[2020-05-20 11:04] yogkumgit commented on #5575
@DEberhardt  Thank you very much for your kind feedback. Thanks for the vote. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-05-20 11:04] #5575 closed

[2020-05-20 11:09] yogkumgit commented on #5580
@get-itips  Thank you very much for the contribution and sharing this explanation. @seb-sudo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-20 11:09] #5580 closed

[2020-05-20 11:12] yogkumgit commented on #5591
@get-itips  Thank you very much for the contribution and guidance. @MIBadran Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-20 11:12] #5591 closed

[2020-05-20 13:32] sukh-ava opened #5630 "Ability for cert to be installed in Machine Store instead"
[Please allow cert to be installed and referenced in Local machine store. Installing it on user store ties it to a specific user which is less than ideal. If the user leaves the project  this will cause a problem.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent

[2020-05-20 15:27] get-itips commented on #5558
Hello @Bart2s4 How are you?
Tried to use that parameter to see if we need to change documentation and received no errors. Are you still facing errors?
Thanks

[2020-05-20 15:28] get-itips commented on #5579
Hello @johnreece2019
Can you please specify what is the issue with the article?
Thank you

[2020-05-20 17:47] get-itips commented on #5595
Hello @hwkwicre Thanks for your feedback.
I am creating a Pull Request to add a description for -Confirm and in parallel try to get information about -Reserved parameter, as that could take some time.

[2020-05-20 17:50] dprzybylo opened #5637 "Support for Azure Cloud Shell"
Hi. It appears the Security and Compliance center doesn't support Azure Cloud Shell access with MFA. The rest of Exchange Online already has this support. If this is supported, are you able to link the documentation?

[2020-05-20 17:57] CrazyCodeUK opened #5638 "Connect-ExchangeOnline not honouring proxy settings"
When trying to run connect-exchangeonline from a server that requires a proxy to access external sites with white-listing required. The following error is received:

New-ExoPSSession : Connecting to remote server outlook.office365.com failed with the following error message : The
client cannot connect to the destination specified in the request. Verify that the service on the destination is
runnin

[2020-05-20 18:13] dariomws commented on #5571
Hi @Michal-Ziemba, thank you for your feedback and help us to improve docs.

As this module is still in preview and it seems that it´s a particular issue in your environment I need to suggest you that follow these steps to report it:
https://docs.microsoft.com/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2#report-bugs-and-issues

[2020-05-20 18:39] dariomws commented on #5602
Hi @leifdavisson, thank you for your feedback and help us to improve docs.

ExternalMailExpiryInterval is not available in Get-OMEConfiguration. It´s documented in Set- and New-. Also, you cannot set it in the default OME configuration. I added a sentence about that.

[2020-05-20 19:11] dariomws commented on #5622
Hi @yogkumgit, thank you for your feedback and help us to improve docs.

I tested it and looks like it´s working as expected:
![image](https://user-images.githubusercontent.com/33589238/82487245-838bf600-9ab4-11ea-8199-a00537cc7394.png)

For more information: https://techcommunity.microsoft.com/t5/itops-talk-blog/powershell-basics-don-t-fear-hitting-enter-with-whatif/ba-p/353579#

If you want to s

[2020-05-20 20:06] ajacks88 opened #5642 "Get-Team runs forever"
We have 700+ teams in our tenant. We are attempting to automate some various things within teams, but when attempting to get a list of all teams and their associated properties the Get-Team cmdlet never finishes. I saw in the other issues posted here that it is expected for it to take awhile, but I've tested on three separate machines and each time i ended up having to kill the session after 3 hou

[2020-05-20 21:17] lciprianionut opened #5644 "-Properties parameter is not working"
Hello,

The -Properties parameter with * is not working, only for named properties are working.

PS C:\WINDOWS\System32&gt; Get-EXOCasMailbox -Properties *owa* -Identity ID
Get-EXOCasMailbox : Some of requested properties are not valid. InvalidProperties = *owa*

PS C:\WINDOWS\System32&gt; Get-EXOCasMailbox -Properties owa* -Identity ID
Get-EXOCasMailbox : Some of requested properties are not vali

[2020-05-21 01:18] hwkwicre opened #5646 "Grammar"
Specifies the login name of the user who's data is exported.
Should be "whose data"
Also link https://go.microsoft.com/fwlink/p/?LinkId=251832 (https://go.microsoft.com/fwlink/p/?LinkId=251832).
repeated and second one doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc0fd6e0-6ff6-a7b0-24ad-444ce88b59c6
* Ve

[2020-05-21 02:13] hwkwicre opened #5648 "Missing Description"
-ExtensionProvider
{{Fill ExtensionProvider Description}}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3690f5b7-2873-5969-73ab-ec2478681747
* Version Independent ID: a2f8ae1a-f299-c15f-d0b2-76afc1f5c0e8
* Content: [New-SPODataConnectionSetting (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sh

[2020-05-21 11:01] yogkumgit commented on #5630
@officedocsbot assign @yogkumgit

[2020-05-21 11:01] yogkumgit commented on #5637
@officedocsbot assign @yogkumgit

[2020-05-21 11:02] yogkumgit commented on #5638
@officedocsbot assign @yogkumgit

[2020-05-21 11:02] yogkumgit commented on #5642
@officedocsbot assign @yogkumgit

[2020-05-21 11:02] yogkumgit commented on #5644
@officedocsbot assign @yogkumgit

[2020-05-21 11:03] yogkumgit commented on #5646
@officedocsbot assign @yogkumgit

[2020-05-21 11:03] yogkumgit commented on #5648
@officedocsbot assign @yogkumgit

[2020-05-21 11:12] yogkumgit commented on #5571
@dariomws  Thank you very much for the contribution and sharing this explanation. @Michal-Ziemba Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-21 11:12] #5571 closed

[2020-05-21 11:17] yogkumgit commented on #5602
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @leifdavisson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-21 11:17] #5602 closed

[2020-05-21 11:20] yogkumgit commented on #5622
@dariomws I think you meant @joergrenn :)

[2020-05-21 11:21] yogkumgit commented on #5622
@dariomws  Thank you very much for the contribution and sharing this explanation. @joergrenn
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-21 11:21] #5622 closed

[2020-05-21 11:23] yogkumgit commented on #5614
@dariomws Thank you very much for the contribution and updating the documentation with PR. @trudolf-msft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-21 11:23] #5614 closed

[2020-05-21 12:32] get-itips commented on #5588
Hello everyone
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/) a member of the PnP community will handle your request there.
Thank you!

[2020-05-21 12:34] get-itips commented on #5596
@trent-green Can we get information about `-Reserved` parameter for `Start-SPOUnifiedGroupMove` cmdlet? I appreciate.

[2020-05-21 12:37] get-itips commented on #5594
Thanks for reporting @hwkwicre

[2020-05-21 12:46] bzyg7b opened #5652 "New Parameter AllowNDIStreaming"
There is a new parameter available for Set-CsTeamsMeetingPolicy of -AllowNDIStreaming but it is not documented, is this a WOP feature or is NDI in Teams live?

[2020-05-21 14:59] bobchauvin opened #5653 "-ErrorAction options need documentation"
-ErrorAction options need documentation please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8c4c313-d931-b106-36e7-ae44cfb2e238
* Version Independent ID: a1969a78-7325-8946-c27f-8320b7bbed75
* Content: [Add-PnPListItem (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/add-pnplistit

[2020-05-21 17:01] Air-Git opened #5655 "Default Values"
Most of the New-Team parameters are Boolean, and most have a default value of "None". What does that mean? I would expect it to be True or False. If it is literally none, then it would mean that the parameter is required, but has no default. But it clearly is not required, as they are not set in the example code. So, if it is not set, what is the real "default" value?

---
#### Document Details

⚠

[2020-05-21 19:31] bobchauvin opened #5657 "Need to add notes on getting custom fields via the FieldValues.customfieldname pattern"
Need to add notes on getting custom fields via the FieldValues.customfieldname pattern

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51027f4b-155d-58c3-a020-3e80629567ce
* Version Independent ID: 12045879-94af-fd90-66a0-8f3db00a579f
* Content: [Get-PnPListItem (sharepoint-pnp)](https://docs.microsoft.com/en-us/powersh

[2020-05-21 21:35] bobchauvin commented on #1903
The following works, without the added @ sign, so not sure this is a bug. But it would break my code if it was added as a requirement.
$yourTerms="aa3a6aec-1a56-4262-9d03-e2776045ebe9,61a2ca23-a851-42b4-8987-39d51f645b7c,Path|to|some|term"
-Values @{"yourmetadatafield"=($yourTerms -split ",")

[2020-05-21 23:02] JustinGrote opened #5658 "Should be more clear that the command is not present in Exchange Online if it is missing."
This command recently stopped appearing for me, I've tried both regular implicit remoting and the exchangeonlinemanagement preview module. Can this be confirmed?
![image](https://user-images.githubusercontent.com/15258962/82614370-8baf6880-9b7c-11ea-9b40-fda42037fccb.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-05-21 23:15] JustinGrote commented on #5658
Turns out this is a permissions issue, but the documentation is not clear enough to troubleshoot.

[2020-05-22 01:07] hwkwicre opened #5660 "Missing Descriptions"
{{Fill PolicyType Description}}
{{Fill PolicyValue Description}}
etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eec0b14a-d286-ba83-8bff-449a3543561f
* Version Independent ID: c5739b5f-55fe-b75f-3139-3326c10ad01e
* Content: [Set-SPOTenantCdnPolicy (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/mod

[2020-05-22 01:11] hwkwicre opened #5661 "Article not complete"
Lots of {{ Fill in the Description }}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02956d3d-520f-f9d9-11d4-e5cf60fcbead
* Version Independent ID: 5e586104-edeb-22ef-35fe-b266e8c5942c
* Content: [New-SPOTenantOrgRelation (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/new-spot

[2020-05-22 01:17] hwkwicre opened #5662 "Link broken"
https://go.microsoft.com/fwlink/?LinkID=187810

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dba6300f-db21-c689-c5ef-5cab8a02cdc4
* Version Independent ID: 87ffcb38-0d41-87b6-81e2-7846d4e85d46
* Content: [Get-SPOGeoAdministrator (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/

[2020-05-22 02:26] hwkwicre opened #5663 "Description"
-ReplicatedContentTypes
{{Fill ReplicatedContentTypes Description}}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb69c6bb-22c8-d975-d766-139e870fb9b3
* Version Independent ID: 93682b2f-5140-9db9-f0a3-24a05137b28d
* Content: [Set-SPOTenantContentTypeReplicationParameters (sharepoint-online)](https://docs.microsoft.com

[2020-05-22 03:37] hwkwicre opened #5664 "Broken link"
https://go.microsoft.com/fwlink/?LinkID=187810
This broken link appears in many articles, not just this one.
Please fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2685d81b-b18e-ff84-333d-623f86be27e5
* Version Independent ID: b3f45fb2-eb83-d601-0f7d-57df79ddfb59
* Content: [Get-SPProduct (sharepoint-server)](https:

[2020-05-22 03:53] bingoglossy opened #5665 "Need missing word added to PWSH CLI help file for Remove-Mailbox"
[Enter feedback here]
In the classic PowerShell interface "help Remove-Mailbox" the third paragraph in the DESCRIPTION field needs to be changed from "Or, you can immediately the disconnected mailbox by using..." to "Or, you can immediately purge the disconnected mailbox by using..."

Thank you.

P.S. Yes, I did run Update-Help and it's still there

---
#### Document Details

⚠ *Do not edit this s

[2020-05-22 04:21] desmondkung opened #5666 "Purpose of keeping -UsageLogMaxSpaceGB parameter when it's not used by all SharePoint versions this page is applicable to"
This article page applies to SharePoint Server 2010, 2013, 2016, and 2019.

-UsageLogMaxSpaceGB
The parameter is not used in SharePoint Server.
Applies to:
SharePoint Server 2010, SharePoint Server 2013, SharePoint Server 2016, SharePoint Server 2019

What's the point of keeping this parameter here when the parameter is totally inapplicable?

---
#### Document Details

⚠ *Do not edit this section.

[2020-05-22 10:10] Obleyer opened #5668 "RecordingStorageMode info missing"
I would appreciate to know which are the available values for RecordingStorageMode in addition to Stream.

Is it possible to store the data directly to the client hard disk ?

Thanks in advance

[2020-05-22 10:12] stmccartney opened #5669 "Missing details for parameter DeliverMessageAfterScan"
The current version of Exchange Online PowerShell includes a parameter called DeliverMessageAfterScan, which corresponds to the Safe Links policy option "Wait for URL scanning to complete before delivering the message" in the UI, but this is not documented on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 966

[2020-05-22 10:14] yogkumgit commented on #5652
@officedocsbot assign @yogkumgit

[2020-05-22 10:15] yogkumgit commented on #5653
@officedocsbot assign @yogkumgit

[2020-05-22 10:15] yogkumgit commented on #5655
@officedocsbot assign @yogkumgit

[2020-05-22 10:15] yogkumgit commented on #5657
@officedocsbot assign @yogkumgit

[2020-05-22 10:16] yogkumgit commented on #5658
@officedocsbot assign @yogkumgit

[2020-05-22 10:16] yogkumgit commented on #5658
@officedocsbot assign @yogkumgit

[2020-05-22 10:17] yogkumgit commented on #5660
@officedocsbot assign @yogkumgit

[2020-05-22 10:17] yogkumgit commented on #5661
@officedocsbot assign @yogkumgit

[2020-05-22 10:17] yogkumgit commented on #5662
@officedocsbot assign @yogkumgit

[2020-05-22 10:18] yogkumgit commented on #5663
@officedocsbot assign @yogkumgit

[2020-05-22 10:18] yogkumgit commented on #5664
@officedocsbot assign @yogkumgit

[2020-05-22 10:18] yogkumgit commented on #5665
@officedocsbot assign @yogkumgit

[2020-05-22 10:18] yogkumgit commented on #5666
@officedocsbot assign @yogkumgit

[2020-05-22 10:19] yogkumgit commented on #5668
@officedocsbot assign @yogkumgit

[2020-05-22 10:21] yogkumgit commented on #5668
@Obleyer Please provide the name of document you are referring to. Thanks

[2020-05-22 10:21] yogkumgit commented on #5669
@officedocsbot assign @yogkumgit

[2020-05-22 10:26] yogkumgit commented on #5588
@get-itips  Thank you very much for the contribution and sharing this explanation. @ravick4u
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-22 10:26] #5588 closed

[2020-05-22 10:32] yogkumgit commented on #5594
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-22 10:32] #5594 closed

[2020-05-22 10:36] yogkumgit commented on #5595
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-22 10:36] #5595 closed

[2020-05-22 11:21] yogkumgit commented on #5658
@chrisda Please merge the PR #5659 Thanks

[2020-05-22 13:01] dariomws commented on #5630
Hi @sukh-ava, thank you for your feedback.

Feedback in docs.microsoft.com is available to help us to improve it. As it seems to be more a feature request I have to suggest you that try with these channels:
https://office365.uservoice.com/
https://docs.microsoft.com/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2#report-bugs-and-issues

[2020-05-22 13:25] dariomws commented on #5637
Hi @dprzybylo, thank you for your feedback.

I think it´s true, Connect-EXOPSSession is supported on Azure Cloud Shell but not Connect-IPPSSession. Also, EXO V2 module is not supported in PowerShell Core but it will be supported soon, and then support for Azure Cloud Shell could be added.
I cannot help you here with features request because this section is available to improve docs.microsoft.com,

[2020-05-22 13:37] dariomws commented on #5638
Hi @CrazyCodeUK, thank you for your feedback. We are here to take feedback to help us to improve docs.microsoft.com. I cannot provide you with support or take feedback for product improvement.

Please, check the following links maybe they can help you:
https://docs.microsoft.com/office365/enterprise/urls-and-ip-address-ranges
https://docs.microsoft.com/microsoft-365/enterprise/networking-configure

[2020-05-22 14:21] chscott opened #5671 "Needs detail on expected behavior with Exchange Online"
"Note: In Exchange Online, this cmdlet doesn't activate/enable a mailbox the same way it does in on-premises Exchange. To add a mailbox for an existing Azure AD account, you can simply add a license to the account by using the Set-MsolUserLicense cmdlet."

It's good to say that the behavior is different, but what is the difference? The way it is written implies that it will work (differently), but

[2020-05-22 14:26] carvalhorui opened #5672 "Summarization"
Is it possible to summarize network subnets inside a network site?
As example, if I have 192.168.0.0/24 and 192.168.1.0/24 on the same site, can I just create one TenantNetworkSubnet with 192.168.0.0/23?
Does Microsoft identify if a user is inside a network with a different bitmask or should I add the actual bitmask for each network?
This information is really important when we are configuring lar

[2020-05-22 15:12] get-itips commented on #5610
Hello @trent-green Trent how are you? I could not get information about the use of the `-NoWait` parameter, can you help me here? Thank you

[2020-05-22 15:22] SteveAmico opened #5673 "Get-EXOMailboxPermission on Shared Mailbox where Identity contains ampersand"
It appears that when the Get-EXOMailboxPermission cmdlet is used on a Shared Mailbox where the Identity contains an ampersand, an error is thrown.  For example:

PS C:\ps-scripts> $mailbox.Identity
FP&A

PS C:\ps-scripts> Get-EXOMailboxPermission -Identity $mailbox.Identity
Get-EXOMailboxPermission : An error occurred while processing this request..
At line:1 char:1
+ Get-EXOMailboxPermission -Ide

[2020-05-22 16:18] chrisda commented on #5665
@bingoglossy, I'll admin that it's bee a while since we've checked cmdlet reference help back into code (that's what updates command line help). Unfortunately, Exchange can't use Update-Help.

The topic on the web doesn't have that typo, so whenever we check help back into code, and the code is 'delivered' (to servers in the datacenters or in the next CU for on-premises Exchange Server), then the

[2020-05-22 16:18] #5665 closed

[2020-05-22 17:22] chrisda commented on #5669
@stmccartney, quite coincidently, I made massive updates to that topic (and New-SafeLinksPolicy and Set-ATPPolicyForO365) yesterday to match currently UI/reality (#5656). I just haven't pulled them to live yet. I'll do that now.

Thanks for the feedback.

Closing

[2020-05-22 17:22] #5669 closed

[2020-05-22 17:49] get-itips commented on #5606
Hello @balajigunasekaran Thanks for noticing and reporting. Created a pull request against this article to correct it.

[2020-05-22 17:54] get-itips commented on #5617
Hello @kumaranupam21 How are you?

AFAIK you cannot, don't know your exact scenario, maybe you want to explore the PnP connect cmdlet https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/connect-pnponline?view=sharepoint-ps
If you want to propose an idea to the SharePoint product team, I suggest submitting it to https://sharepoint.uservoice.com/
Hope this information helps you.

[2020-05-22 18:08] get-itips commented on #5628
Hello @hwkwicre
How are you?
Parameter descriptions are already present, can you please give us an example on how do you see we could improve them?
Thanks

[2020-05-22 18:21] dh4099 opened #5675 "Wrong Description in Example 1 & 3"
The example states " If a file named company.aspx already exists, it won't perform the move." But the example code refers to company.docx.   Therefore I believe the example should state " If a file named company.doc already exists, it won't perform the move."

Example 3 has same type of issue....the code and description do not match.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-05-22 18:24] get-itips commented on #5621
Hello @kk-sdsu How are you? 👍 Thanks for your feedback.
I am proposing to add a note to the description thru a pull request against the article.
If it gets approval, it will be reflected online.
Thank you

[2020-05-22 18:35] get-itips commented on #5615
Hello @kaiwessels
How are you? Hope you are doing great.

Actually, as I saw that you ran `New-CsAutoAttendantPrompt -ActiveType none`

the error is telling you that you either need to use `-AudioFilePrompt` or `-TextToSpeechPrompt` parameters.

If you run, for example

`$ttsPrompt = New-CsAutoAttendantPrompt -TextToSpeechPrompt "Welcome to Contoso!" -ActiveType none`

You can specify none as a va

[2020-05-22 19:05] get-itips commented on #5610
@trent-green
Ok This is what I could get from `-NoWait` description for other parameters in SPO:

and

So the definition for this cmdlet probably is one of those.

[2020-05-22 19:39] waceylanier opened #5678 "Enabled property no longer presented"
Using `Get-AntiPhishPolicy | Format-Table Name,Enabled,IsDefault` or any other variation trying to `Select-Object Enabled`, the Enabled property no longer exists for any AntiPhishing policy (default or custom). Both show a status of On in the webUI. Is this property being phased out?

![image](https://user-images.githubusercontent.com/19218185/82703625-e3f87000-9c39-11ea-94c3-93a405bf6a04.png)

--

[2020-05-22 20:23] chrisda commented on #5671
@chscott, I reworded the note:

 Note: In Exchange Online, this cmdlet doesn't activate/enable mailboxes for existing users. To add a mailbox for an existing Azure AD account, you need to add a license to the account as described in [Assign licenses to user accounts](https://docs.microsoft.com/office365/enterprise/powershell/assign-licenses-to-user-accounts-with-office-365-powershell).

Basically,

[2020-05-22 20:23] #5671 closed

[2020-05-22 20:47] dariomws commented on #5652
Hi @bzyg7b, thank you for your feedback and help us to improve docs.microsoft.com.

This parameter is not available at this time. Maybe the product team is working on a new feature but I don´t have this information. Hope you understand.

[2020-05-22 21:01] chrisda commented on #5678
@waceylanier, it appears you are running the command in an E3 or other Exchange Online organization without ATP?

The UI and the cmdlets are tightly coupled, so if a setting is available in the UI for a feature, it's also available in the corresponding cmdlets in PowerShell. The reverse isn't necessarily true; there are many examples of settings that are only available on cmdlets and not in the UI

[2020-05-22 21:15] chscott opened #5681 "Disable-Mailbox -PermanentlyDisable doesn't seem match the documentation"
Steps:

1. Remove user's license
2. Run Disable-Mailbox -PermanentlyDisable
3. Add back user's license

My expectation is that, since -PermanentlyDisable was used, the user will get a new mailbox. Instead, the user gets the same mailbox that was "permanently" disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb3

[2020-05-23 12:56] dariomws commented on #5122
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 12:56] dariomws commented on #4349
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 12:56] dariomws commented on #4138
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 12:56] dariomws commented on #3175
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 12:57] dariomws commented on #3061
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 12:57] dariomws commented on #5159
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 12:57] dariomws commented on #3836
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 12:58] dariomws commented on #3620
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 12:58] dariomws commented on #1085
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 12:58] dariomws commented on #944
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 13:00] dariomws commented on #4875
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 13:00] dariomws commented on #4749
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 13:02] dariomws commented on #3385
The Exchange module link issue was fixed this week. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-23 13:59] dariomws commented on #5642
Hi @ajacks88, thank you for your feedback and help us to improve docs.microsoft.com.

You can find more information here, as he reported the same behaviour: https://github.com/MicrosoftDocs/office-docs-powershell/issues/5018. The product team is working on improvement. I will also send them this information.

Thanks again!

[2020-05-24 07:41] 1AdamG commented on #4749
Hi,
It's still the same issue.
Unified Communications Managed API 2.0, Core Runtime (64-bit)
<http://go.microsoft.com/fwlink/?LinkID=163815>
That is listed in the requirements for this tool doesn't exist and the link
to it doesn't work.

Regards,
Adam

Den lör 23 maj 2020 15:01Dario Woitasen <notifications@github.com> skrev:

[2020-05-24 18:19] dejanforo opened #5686 "Exchange Online V2 PowerShell module - Microsoft's code signing certificate expired"
Microsoft code singing certificate which is used to sign the Exchange Online V2 PowerShell module code has expired on May 2nd 2020

<img width="303" alt="Microsoft code signing certificate expired" src="https://user-images.githubusercontent.com/53783806/82761511-52386080-9dfb-11ea-8d5f-b615360d8d93.png">

[2020-05-24 18:21] dejanforo opened #5687 "Microsoft code singing certificate expired on Exchange online V2 PowerShell module"
Microsoft code singing certificate which is used to sign the Exchange Online V2 PowerShell module code has expired on May 2nd 2020

<img width="303" alt="Microsoft code signing certificate expired" src="https://user-images.githubusercontent.com/53783806/82761511-52386080-9dfb-11ea-8d5f-b615360d8d93.png">

[2020-05-24 18:30] bzyg7b commented on #5652
Thanks for the reply, I guess it must have been added in the admin settings ahead of the product team making a release.

[2020-05-24 18:30] #5652 closed

[2020-05-25 01:11] hwkwicre opened #5688 "Links"
(https://go.microsoft.com/fwlink/?LinkID=187810).
see the online documentation at https://go.microsoft.com/fwlink/p/?LinkId=251831 (https://go.microsoft.com/fwlink/p/?LinkId=251831).
Please fix these links.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ac87fde-0d91-d0cc-6c9e-444917652bec
* Version Independent ID: 10d

[2020-05-25 06:32] hwkwicre opened #5689 "Article not complete"
Lots of
{{Fill Description}}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99496f8-8869-aaf0-111e-65a6b6ba317b
* Version Independent ID: 11e16700-bb04-4b6a-fc82-fcd27e0f2a3a
* Content: [Set-CsOnlineNumberPortOutOrderPin (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/set-csonlinenumberportoutorderpi

[2020-05-25 06:36] 2ndcahl commented on #3620
Perfect, looks good now. Thank you for the fix.

[2020-05-25 06:36] #3620 closed

[2020-05-25 08:07] Bart2s4 commented on #5558
No the problem has been solved at the backend, all  customers can use the function again, even in team sites

[2020-05-25 10:30] yogkumgit commented on #5672
@officedocsbot assign @yogkumgit

[2020-05-25 10:31] yogkumgit commented on #5673
@officedocsbot assign @yogkumgit

[2020-05-25 10:31] yogkumgit commented on #5675
@officedocsbot assign @yogkumgit

[2020-05-25 10:31] yogkumgit commented on #5678
@officedocsbot assign @yogkumgit

[2020-05-25 10:31] yogkumgit commented on #5681
@officedocsbot assign @yogkumgit

[2020-05-25 10:32] yogkumgit commented on #5686
@officedocsbot assign @yogkumgit

[2020-05-25 10:32] yogkumgit commented on #5687
@officedocsbot assign @yogkumgit

[2020-05-25 10:32] yogkumgit commented on #5688
@officedocsbot assign @yogkumgit

[2020-05-25 10:33] yogkumgit commented on #5689
@officedocsbot assign @yogkumgit

[2020-05-25 10:45] yogkumgit commented on #5630
@sukh-ava  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-05-25 10:45] #5630 closed

[2020-05-25 10:48] yogkumgit commented on #5637
@dprzybylo  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-05-25 10:48] #5637 closed

[2020-05-25 10:52] yogkumgit commented on #5638
@dariomws Thank you very much for the contribution and sharing this explanation. @CrazyCodeUK
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-25 10:53] #5638 closed

[2020-05-25 11:07] yogkumgit commented on #5606
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @balajigunasekaran Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-25 11:15] yogkumgit commented on #5621
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @kk-sdsu Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-25 11:15] #5621 closed

[2020-05-25 11:17] yogkumgit commented on #5615
@get-itips  Thank you very much for the contribution and sharing this explanation. @kaiwessels
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-25 11:17] #5615 closed

[2020-05-25 11:36] yogkumgit commented on #5642
@dariomws  Thank you very much for the contribution and sharing this explanation. @ajacks88
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-25 11:36] #5642 closed

[2020-05-25 11:38] get-itips commented on #5558
Thanks for returning and sharing your feedback.
@yogkumgit You can close this now.

[2020-05-25 11:41] yogkumgit commented on #5558
@get-itips  Thank you very much for the contribution and sharing this explanation. @Bart2s4
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-25 11:41] #5558 closed

[2020-05-25 11:47] yogkumgit commented on #5579
@get-itips  Thank you very much for the contribution and digging deep into it.  @johnreece2019 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this d

[2020-05-25 11:47] #5579 closed

[2020-05-25 12:04] balajigunasekaran commented on #5606
Thanks to @get-itips and @yogkumgit. Good luck.

[2020-05-25 12:05] balajigunasekaran commented on #5606
Thanks to @get-itips and @yogkumgit. Good luck.

[2020-05-25 12:05] #5606 closed

[2020-05-25 12:21] yogkumgit commented on #5644
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @lciprianionut Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-25 12:21] #5644 closed

[2020-05-25 13:04] gregmilligan opened #5690 "Missing DesignatedPresenterRoleMode"
The new DesignatedPresenterRoleMode setting is documented here, despite it being described here:  https://docs.microsoft.com/en-us/microsoftteams/meeting-policies-in-teams#meeting-policy-settings---designated-presenter-role-mode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b9baa8-da13-a24f-af31-91d63de13f08
* Versi

[2020-05-25 13:16] yogkumgit commented on #5687
@dejanforo This issue is logged twice. So closing this one.

[2020-05-25 13:16] #5687 closed

[2020-05-25 13:19] yogkumgit commented on #5658
@chrisda  Thanks

[2020-05-25 13:19] #5658 closed

[2020-05-25 13:22] yogkumgit commented on #5690
@officedocsbot assign @yogkumgit

[2020-05-25 14:36] dariomws commented on #4749
Hi @1AdamG, sorry my mistake, we fixed the Exchange module link at the top of the page but it´s not related to this issue.

Related to this issue, I cannot find the link https://go.microsoft.com/fwlink/p/?linkId=182625 in the article.

Thanks!

[2020-05-25 14:45] 1AdamG commented on #4749
Hi,

See attached picture.
[image: image.png]
Regards, Adam

Den mån 25 maj 2020 kl 16:36 skrev Dario Woitasen <notifications@github.com

[2020-05-25 14:56] dariomws commented on #4749
I cannot see the image. But I think I understand now, you are talking about this link:
![image](https://user-images.githubusercontent.com/33589238/82823701-712c0680-9e7e-11ea-8b26-045f6683e808.png)

I cannot update content on https://www.microsoft.com/en-us/download/ but I think that content will be removed soon as mentioned by @chrisda.

[2020-05-25 15:35] 1AdamG commented on #4749
Yes, that's right!

Okay, but back to the original reason the link was removed.

1. The tool requires UC Managed API 2.0
2. UC Managed API 2.0 doesn't exist anymore
3. That means the tool is obsolete

Either update the tool so it can support newer versions of UC Managed API
or remove the tool completely.

Why keep a tool that no one can use?

Regards,
Adam

Den mån 25 maj 2020 16:56Dario Woitasen

[2020-05-25 15:43] dariomws commented on #4749
The link will be removed because on October 13, 2020, Exchange Server 2010 will reach end of support.

[2020-05-25 16:05] dariomws commented on #5672
Hi @carvalhorui, thank you for your feedback and help us to improve docs.microsoft.com.

Yes, you can summarize network subnets in this way. You need to add each internal network/subnet and trusted external IPs/subnets, but it also depends on the feature that you are configuring. For more information, please see:
https://docs.microsoft.com/microsoftteams/location-based-routing-plan
https://docs.mi

[2020-05-25 16:10] dariomws commented on #5673
Hi @SteveAmico, thank you for your feedback and help us to improve docs.microsoft.com.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

When you report an issue, be sure t

[2020-05-25 16:53] dariomws commented on #5686
Hi @dejanforo, thank you for your feedback.

I couldn't reproduce this behaviour.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

When you report an issue, be sure to inc

[2020-05-25 18:39] SteveAmico commented on #5673
Hi, Dario -

I was following the instructions on this page on how to provide feedback.
https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2?view=exchange-ps

I did that through GitHub as requested, but I will also send mail to the address that you provided.  Thanks!

Steve Amico | IT Systems / Business Analyst
Kodak Alaris

[2020-05-25 18:44] dariomws commented on #5673
Thanks again for taking out some time to help us. Appreciate and encourage you to do the same in future also.

[2020-05-25 19:24] dariomws commented on #5681
Hi @chscott, thank you for your feedback and help us to improve docs.microsoft.com.

I cannot reproduce this issue. If I remove the Exchange license (or all licenses) and then I try to run Disable-Mailbox I get:
![image](https://user-images.githubusercontent.com/33589238/82838233-eeb53e00-9ea1-11ea-83a0-5dd91fa13a67.png)

Looks like the mailbox is hard-deleted, not soft-deleted. There is more info

[2020-05-25 21:57] tseward commented on #5427
@fowl2 per https://techcommunity.microsoft.com/t5/iis-support-blog/iisreset-internals/ba-p/951578, you can use in a supported method `iisreset` given you use the `/noforce` switch.

[2020-05-26 01:17] hwkwicre opened #5693 "Incomplete Article"
Lots of
{{Fill Description}}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f623dc5-07a8-b14c-b2a3-cecc1b0fe444
* Version Independent ID: cab90d23-801c-a5c1-af55-3af7ebb81642
* Content: [Copy-SPAccessServicesDatabaseCredentials (sharepoint-server)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/c

[2020-05-26 01:25] hwkwicre commented on #5609
Related Links
Get-SPODataConnectionSetting
Also doesn't work

[2020-05-26 02:22] fowl2 commented on #5427
@tseward That's a great little extra piece of the puzzle, thanks!

I'm not sure where the official, live IIS docs live, but hopefully we can get all this info consolidated into docs.microsoft.com.

[2020-05-26 10:36] yogkumgit commented on #5693
@officedocsbot assign @yogkumgit

[2020-05-26 10:45] yogkumgit commented on #5672
@dariomws  Thank you very much for the contribution and sharing this explanation. @carvalhorui
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-26 10:48] yogkumgit commented on #5673
@dariomws  Thank you very much for the contribution and sharing this explanation. @SteveAmico
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-26 10:48] #5673 closed

[2020-05-26 10:50] yogkumgit commented on #5681
@dariomws  Thank you very much for the contribution and sharing this explanation. @chscott
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-26 10:51] #5681 closed

[2020-05-26 10:54] yogkumgit commented on #5686
@dariomws  Thank you very much for the contribution and sharing this explanation. @dejanforo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-26 10:54] #5686 closed

[2020-05-26 11:40] mnegrinho opened #5694 "Get-FailedContentIndexDocuments Documentation not clear"
[Enter feedback here]
The existing documentation is not clear regarding the support of the cmdlet Get-FailedContentIndexDocuments in Exchange Online. While is says that the document applies to Exchange Online, it also wrongly states that the cmdlet is only available in on-premises environment.
![image](https://user-images.githubusercontent.com/20125463/82896091-3fce3c00-9f4d-11ea-8218-8a5ba446f9cc

[2020-05-26 12:18] get-itips commented on #5427
Great find @tseward
Given the information we could gather inside this thread and that the questions has been answered, I think we can proceed closing this thread.
This thread will remain at the bottom of the article in case any other user has the same questions.
Thank you @tseward @TroyStarr @fowl2

[2020-05-26 13:13] carvalhorui commented on #5672
Hello @dariomws! Thank you for your reply and sorry for the delay on mine.
I just think that when you say "You need to add each internal network/subnet", it conflicts with the possibility of summarization. The goal is to configure Local Media Optimization and the scenario is a site where a costumer has several internal networks like 10.1.1.0/24, 10.1.2.0/24, 10.1.3/24, 10.1.X.0/24... The Trusted I

[2020-05-26 13:55] dariomws commented on #5672
Hi @carvalhorui, don´t worry.

Yes, I think you can just add 10.1.0.0/16. My apologies but I cannot provide you with this kind of support in more detail.
Docs feedback is available to improve documentation, we cannot provide any kind of support here. If you need more help, I think a better way is contact support, Microsoft Consulting Services or Fast Track.
If you wish to know how to open the serv

[2020-05-26 15:59] chrisda commented on #4749
The original issue was that the download link for the UCM API 2.0 wasn't available in the Test-ExchangeUMCallFlow topic. That topic is now gone, so there's nothing left to do on our end. We have no control or insight into what's available or not available in the Download Center. The suggestion would be to open a support ticket.

Thanks for the feedback.

Closing

[2020-05-26 15:59] #4749 closed

[2020-05-26 16:41] chrisda commented on #5694
@mnegrinho, this appears to be a case where the cmdlet is available in the cloud, but it doesn't work. Also, I get the same error in Exchange 2019, but it runs without error in Exchange 2010 to Exchange 2016. I updated the introduction sentence accordingly.

Thanks for the feedback.

Closing

[2020-05-26 16:41] #5694 closed

[2020-05-26 18:00] Air-Git opened #5697 "Boolean default value: None"
I am unable to understand what a boolean default value of "None" can mean. I can understand that, if you use the parameter, you need to supply a value: $true or $false. But what is the value of the attribute of a team if you don't use the (optional) parameter? How could anyone know, except by trial and error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-05-26 20:56] waceylanier commented on #5678
@chrisda Thank you for your reply.

Please let me know if I am understanding you correctly + additional assumptions:

1. In the case of the Anti-Phishing Policy (E3-!ATP), an anti-phishing policy is enabled or disabled by the <Enable | Disable>-Anti-PhishRule, not necessarily by what the value of the Enabled property of Get-AntiPhishPolicy is?

2. Does this also apply to the Default Policy? _My ma

[2020-05-26 21:51] chrisda commented on #5678
1. Yes, for custom policies that have been manually created. I would recommend creating a test policy in the UI (which creates the required policy and rule in PowerShell), disable it in the UI, and then check the property values in PowerShell. I'm certain that the State property in Get-AntiPhishRule will be Disabled, but I'm unsure of the Enabled property value in Get-AntiPhishPolicy and if/how it

[2020-05-26 22:42] waceylanier commented on #5678
@chrisda I really appreciate you helping me out.

[2020-05-27 00:55] tseward commented on #5427
Agree. @fowl2 you'll note in that TC article states that the 'unsupported' factor comes from cutting off the IISADMIN service. We're attempting to find out if this is _important_ or not as it relates to SharePoint -- it may not be, which means a plain `iisreset` would be OK.

[2020-05-27 01:10] hwkwicre opened #5701 "broken link appears in many articles"
https://go.microsoft.com/fwlink/?LinkID=187810
is a broken link and appears in many articles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a0a17e0-a215-62a6-0a13-66b187dda502
* Version Independent ID: 2059a880-3689-67f0-ec01-3d7f717ae4ef
* Content: [Get-SPWorkflowConfig (sharepoint-server)](https://docs.microsoft.co

[2020-05-27 09:10] DEberhardt opened #5702 "What exactly is ConferenceMode?"
Please clarify wht ConferenceMode is, how it differes to "normal".
The Product page does not mention this feature at all.

And please don't tell me to raise a ticket from within my tenant, this is a generic functionality which is documented, yet not understandable. Please clarify :)

Thanks,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-05-27 10:00] yogkumgit commented on #5697
@officedocsbot assign @yogkumgit

[2020-05-27 10:01] yogkumgit commented on #5701
@officedocsbot assign @yogkumgit

[2020-05-27 10:01] yogkumgit commented on #5702
@officedocsbot assign @yogkumgit

[2020-05-27 10:06] #5427 closed

[2020-05-27 10:10] yogkumgit commented on #5672
@dariomws  Thank you very much for the contribution and sharing this explanation. @carvalhorui
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-27 10:10] #5672 closed

[2020-05-27 10:21] yogkumgit commented on #5655
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @Air-Git Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-27 10:24] yogkumgit commented on #5628
@hwkwicre Please reply. Thanks

[2020-05-27 14:21] schittli opened #5703 "Why is the no Set-TeamTag command to set Tags (to use @mention)"
Hello
it's sad that Microsoft calls the @mention feature in Teams 'Tags', because all the world uses 'Tags' to tag content.

Anyway:
why is there no PowerShell command to define / modify Teams Tags?
This would help a lot because this "Tags" usually defines Sub-Teams like e.g. the Marketing Team - which is the same on many projects. And each Team must manually define the same Tag.

[2020-05-27 14:43] yogkumgit commented on #5703
@officedocsbot assign @yogkumgit

[2020-05-27 14:53] yogkumgit commented on #5689
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-27 14:53] #5689 closed

[2020-05-27 14:54] yogkumgit commented on #5690
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @gregmilligan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-27 14:56] #5690 closed

[2020-05-27 15:38] BohrenAn opened #5705 "Syncronized Accounts / CountryInfo"
Hi,

Your statement is incorrect.
"Note that this cmdlet works only on room mailboxes that were created in the cloud (not on synchronized room mailboxes)."

The commandlet works also on synced AD Accounts. Except for these Parameters  "Street","PostalCode", "City", "State", "CountryOrRegion", "GeoCoordinates" and "Phone".

What parameter has to go in here. An Example would be very helpful.
 [-Coun