[2021-03-20 14:46] spainja commented on #7419
Thanks. I'd be happy to submit feedback to the developers as well. Would you please let me know where to do that? Jeff.

[2021-03-20 18:05] tseward commented on #7409
@bhanuchintha I would recommend opening this feedback up via a support case on admin.microsoft.com since this isn't a doc-related issue but rather a product one. That being said, using CSS overrides like you are do fall under the unsupported category.

I would look into the OOTB controls/options you have with the enterprise search (i.e. using the PnP Search v4 webparts, creating a custom search re

[2021-03-22 05:24] linlidialpad commented on #7434
@yogkumgit Any update on this or should I ask the question somewhere else? Would really appreciate your help on this.

[2021-03-22 08:34] runely opened #7470 "Exception calling Skype for Business cmdlets from MicrosoftTeams 2.0.0 module"
After installing MicrosoftTeams 2.0.0 most of CsTeams-cmdlets throws an exception:

`Exception calling "GetRemoteNewCsOnlineSession" with "1" argument(s): "The underlying connection was closed: Could not establish trust
relationship for the SSL/TLS secure channel.`

So far this happens to:
- Grant-CsTeamsAppSetupPolicy
- Get-CsTeamsEducationAssignmentsAppPolicy
- Get-CsUserPolicyAssignment
- And p

[2021-03-22 08:39] chenxizhang commented on #5018
Same error here
![image](https://user-images.githubusercontent.com/1996954/111962279-152d1f80-8b2d-11eb-90fc-d0428f946340.png)

[2021-03-22 09:54] gruering commented on #7460
The problem only occurs when I am adding multiple tasks to the migration session. With a single task the migration does not start automatically.

[2021-03-22 10:05] Mangego commented on #7417
Hello Andres
Thanks for your answer, I did try all commands I could think of but didn't get all members. But ended at last with this command: (Get-CSPersistentChatRoom -identity "name of chatroom" | select -expandproperty members) and that worked to.

/Magnus

[2021-03-22 10:14] Sa3d94 commented on #7434
@linlidialpad The Permission that i'm using is Skype and Teams Tenant Admin API and the Scope is user_impersonation.

[2021-03-22 10:14] Sa3d94 commented on #7434
+1

[2021-03-22 10:21] PrashanthReddy7 opened #7471 "Not mentioned about maximum allowed filter parameters."
Hi Team,

What is the limit for filter parameters ?
We are having issues with the filter parameter for Get-user, untill last week it was able to filter with 59 Guids.
Now we are getting the below attached error, about maximum limit.

What could be the maximum limit for Get-user filter with GUID?

![GetUser Filter Error](https://user-images.githubusercontent.com/63856494/111975230-a33ee100-8b00-11e

[2021-03-22 10:45] yogkumgit commented on #7365
@pmhesse10p Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-03-22 10:52] yogkumgit commented on #7343
@anthonielance  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-03-22 10:52] #7343 closed

[2021-03-22 10:57] yogkumgit commented on #7372
@dariomws  Thank you very much for the contribution and sharing this explanation. @TalismanM Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update i

[2021-03-22 10:57] #7372 closed

[2021-03-22 11:01] yogkumgit commented on #7333
@get-itips

[2021-03-22 11:05] yogkumgit commented on #7355
@dariomws  Thank you very much for the contribution and sharing this explanation. @whatanatta Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update

[2021-03-22 11:05] #7355 closed

[2021-03-22 11:10] yogkumgit commented on #7357
@RichMath Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-03-22 11:10] #7357 closed

[2021-03-22 11:18] yogkumgit commented on #5886
@get-itips Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-22 11:19] #5886 closed

[2021-03-22 11:22] yogkumgit commented on #7417
@get-itips Thank you very much for the contribution and sharing this explanation. @Mangego If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-22 11:22] #7417 closed

[2021-03-22 11:29] yogkumgit commented on #7413
@lexyart  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-03-22 11:29] #7413 closed

[2021-03-22 11:32] yogkumgit commented on #7409
@tseward  Thank you very much for the contribution and sharing this explanation. @bhanuchintha Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update

[2021-03-22 11:32] #7409 closed

[2021-03-22 11:47] yogkumgit commented on #7398
@get-itips Thank you very much for the contribution and sharing this explanation. @geekpankaj1811 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-22 11:47] #7398 closed

[2021-03-22 11:48] yogkumgit commented on #7399
@get-itips Thank you very much for the contribution and sharing this explanation. @jantoney Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-22 11:48] #7399 closed

[2021-03-22 11:51] yogkumgit commented on #7404
@get-itips Thank you very much for the contribution and sharing this explanation. @kpinel Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is r

[2021-03-22 11:51] #7404 closed

[2021-03-22 11:53] #7407 closed

[2021-03-22 11:55] #7408 closed

[2021-03-22 12:07] get-itips commented on #7419
Please submit your inquiry here https://microsoftteams.uservoice.com/

[2021-03-22 12:24] spainja commented on #7419
Thanks. User Voice feedback submitted. You might consider adding a banner to the documentation that the MicrosoftTeams module v2.0.0 doesn't work properly with certain Skype for Business Online cmdlets when connecting with certificate authentication.

[2021-03-22 16:09] prossum opened #7474 "Set-PnPMicrosoft365Group : Deserialization of reference types without parameterless constructor is not supported"
I use pnp.powershell in Azure Automation runbooks.
pnp.powershell - version 1.4.0

 ----------------
[code]
-----------------
The Get-PnPMicrosoft365Group succeeds, as I see the output including the site Url.
With the next line I get this error:

[code]
Is this a bug or am I doing something wrong?

[2021-03-22 17:31] linlidialpad commented on #7434
@Sa3d94 It's odd that I could find the `Skype and Teams Tenant Admin API` in the app's API permission page. Does it fall under `Microsoft Graph`  or `Skype for Business`? What's the uri for this scope? Thanks.

[2021-03-23 00:25] shivtorov commented on #7389
looks like it is the documentation issue.
we need to know the correct format for TransferTarget parameter.

When I set transfer destination using GUI, the values for `CallAnswerRule` and `TransferTarget` are as follows:

[code]

Currently, documentation says "Value of this parameter should be a SIP URI of another user, an auto attendant, or a hunt group (call queue) in your organization" and there

[2021-03-23 13:06] arodir opened #7478 "Placeholder for Description is shown for two parameters"
The following parameters' descriptions show a placeholder instead of the actual description:

-ShowOnlineArchiveEnabled
This parameter is available only in the cloud-based service.

**{{ Fill ShowOnlineArchiveEnabled Description }}**

-MessagePreviewsDisabled
This parameter is available only in the cloud-based service.

**{{ Fill MessagePreviewsDisabled Description }}**

---
#### Document Details

[2021-03-23 14:30] get-itips commented on #7389
thanks @shivtorov
@tomkau Tom, can you help me confirm the correct (if supported) way of setting a AA & CQ as TransferTarget?
Thank you!

[2021-03-23 15:07] Petri-X opened #7479 "Microsoft Teams PS module 2.0.0 - Where is move-csuser?"
Hi,

Have I missed some information, but earlier it was possible to use "move-csuser" to move users to SfBO and Teams. Now, such a CMDLet is not available on Teams' PS module ver. 2.0.0.

[2021-03-23 15:49] jhventer opened #7480 "Example 2"
Explanation reads "_Sets the SharePoint Online Storage Quota on the NORTH CENTRAL US location to 1 TeraBytes (1Tb)._" but should be 1 [Gigabyte.]
![image](https://user-images.githubusercontent.com/5450299/112175699-21ce7800-8c00-11eb-8f94-0bf395bd1b8c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0453dac7-2ba8-7e

[2021-03-23 17:17] ddexter26 opened #7481 "Correct Sytax for the second Identity placeholder in Add-MailboxFolderPermission"
While running the below Command, we kept on getting an Error:
Add-MailboxFolderPermission -Identity User1@somedomain.com:\Contacts -AccessRights Editor -User User2@somedomain.com

Error: `**The Sharing policy doesn't allow you to grant certain permissions to users on ContactsFolder folder**`

The below change in the command fixed the issue:
Add-MailboxFolderPermission -Identity User1@somedomain.co

[2021-03-23 17:29] pmhesse10p commented on #7365
Unfortunately that uservoice site seems to be shut down. Any other places to raise this request?

[2021-03-23 17:48] dariomws commented on #7365
In addition to the suggested channels you have already seen, you can use the [product team's blog](https://techcommunity.microsoft.com/t5/exchange-team-blog/bg-p/Exchange).

[2021-03-23 22:11] vinayramegowda commented on #7434
Hi @linlidialpad you can find the end point under all api's
![image](https://user-images.githubusercontent.com/53648006/112225425-e1fba500-8c80-11eb-9444-612570ea4007.png)

[2021-03-24 10:53] arehmani opened #7485 "Connect -SPOService link is broken"
Hi Pam,

The Connect -SPOService link on this page:
https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-online/connect-sharepoint-online?view=sharepoint-ps

in this paragraph is broken:
If you need to specify the region of your SharePoint Online environment, use the -Region parameter, for more information refer to Connect-SPOService documentation.

The correct link should point to:
h

[2021-03-24 13:20] TOWA-GitHub commented on #1709
Still not working. Would be nice.

[2021-03-24 14:43] #7365 closed

[2021-03-24 15:15] #5485 closed

[2021-03-24 15:22] #5240 closed

[2021-03-24 15:22] #7422 closed

[2021-03-24 15:32] myfope opened #7486 "Wildcard for InternetWebProxyBypassList not accepted"
Hi,

the article states that the parameter InternetWebProxyBypassList accepts Wildcards. Within my tests I've found out that Wildcards are not available - the parameter does not accept it:

![image](https://user-images.githubusercontent.com/23408264/112338855-6ec55380-8cbf-11eb-8175-25b932d66554.png)

Can you verify if this should really work?

---
#### Document Details

⚠ *Do not edit this sectio

[2021-03-24 16:47] Petri-X opened #7487 "Can we get a bit more clarification what does the NumberOfThreads does for get-team"
Hi,

Currently you have wrote
"_Specifies the number of threads to use. The accepted values range from 1 to 20._"
for Get-Team
But what does that really mean? What threads? Local or on Cloud side? When shall I use 1 or 20?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f38da792-01bc-28ad-7727-794075e150c9
* Ver

[2021-03-24 17:58] chrisda commented on #7486
@myfope, I see that you're talking about the Accept wildcard characters attribute. That attribute value is read/calculated from code. From what I can tell over the last 3 years, that value was (in retrospect, incorrectly) "True" only until very recently. So, I changed it to "False".

Generally speaking, I would say trust the actual parameter text description more that that specific attribute when

[2021-03-24 17:58] #7486 closed

[2021-03-24 20:52] chrisda commented on #7481
@ddexter26, I tried it in an Exchange Online tenant and it worked:

[code]

In your case, for the value of the User parameter, is that email address the user's PrimarySMTPAddress and is that email address unique in your org?

[2021-03-24 21:17] chrisda commented on #7478
@arodir, known issue. The availability of a parameter doesn't necessarily mean the parameter is supposed to be available or that it works correctly.

So do those parameters work correctly for you?

[2021-03-25 08:01] runely commented on #7470
This was caused by network issues at our end. Sorry about that

[2021-03-25 08:01] #7470 closed

[2021-03-25 09:49] PeteMitch99 commented on #7344
Update: MS Premier support have accepted this is an issue and will fix it in upcoming EXO v2 module release. They can helpfully give me no ETA.

[2021-03-25 10:20] PrashanthReddy7 commented on #7471
@yogkumgit Could you please let me know if any feedback.

[2021-03-25 14:16] Petri-X opened #7491 "Feature Request to Teams PowerShell module - decrease the amount of traffic returned from servers"
Hi there,
Has anybody of you proposed to limiting number of attributes what different "get-" CMDlets are returned from servers? For example when run:
**get-csonlineuser john.doe@company.com**
That gives 199 attributes back. With single users searches this is not big issue. But how about 20k users or even more?

The solution could be having a "properties" parameter added. And with that admins could

[2021-03-25 23:11] jdvuyk commented on #4684
This indeed works on windows.  but seems like a pretty insane requirement.

[2021-03-26 03:38] cablechewer opened #7496 "SiteIDs description needs more detail"
If you are searching for Sites where the names include the dash/minus character you will get no hits.  You have to double the characters.

For example my lab tenant contains the site:
"https://contoso.sharepoint.com/sites/cats-are-cool"

If you run:
search-unifiedauditlog -startdate 3/3/2021 -enddate 4/4/2021 -siteids "https://contoso.sharepoint.com/sites/cats-are-cool"
you will get zero hits.

If

[2021-03-26 09:24] prossum commented on #7474
Should I also post this to https://github.com/pnp/powershell/issues ?

[2021-03-26 12:48] oksanaMS opened #7498 "SFB and Teams PS modules have been merged - doc referenced two separate modules"
SFB and Teams PS modules have been merged, this article https://docs.microsoft.com/en-us/powershell/teams/?view=teams-ps suggests there are two separate modules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82bf8ef2-fd7a-6f93-b6da-85a3ceb31ead
* Version Independent ID: 5f42884e-b6e3-a568-a5b0-a573f699b12b
* Content:

[2021-03-26 13:26] DeyvLauzon opened #7499 "MicrosoftTeams PS 2.0 takes 3 min to load"
The new version of the Teams module takes 3 minutes to import with import-module. This is impacting all of our automation scripts. Am I the only one that expericences this?

[2021-03-26 14:39] TeamsTechBear opened #7500 "Update the Disable-CsOnlineSipDomain page to include Teams."
I would like to see the Disable-CsOnlineSipDomain page updated to include all the things that disabling the SIP domain that users are using for Skype for Business Online and Teams will affect for Teams. Customers seem to move towards the idea that it's ok to disable all SIP domains because the documentation only says that users won't be able to federate with Teams and everything else is for Skype

[2021-03-26 21:21] chrisda commented on #7496
@cablechewer, I added information to the SiteIds parameter description as you described.

Thanks for the feedback.

Closing

[2021-03-26 21:21] #7496 closed

[2021-03-26 21:27] chrisda commented on #7458
@IldAmourBonjamin, this is a shot in the dark, but try using the -UserPrincipalName parameter with Connect-ExchangeOnline:

[code]

[2021-03-26 21:30] chrisda commented on #7463
@KorZijl, have you tried PowerShell 7, including any of the [new sign-in options](https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell?view=exchange-ps#powershell-7-log-in-experiences)?

[2021-03-26 22:04] chrisda commented on #7453
@mariosaelikeit, keep in mind that the maximum number of allow list entries is 30, so the number of domains that you need to enter isn't that bad.

You can add each domain like this:

[code]

or store each domain on a separate line in a text file:

[code]

and then run these commands:

[code]

[2021-03-26 22:11] chrisda commented on #7438
Nothing to do.

Closing

[2021-03-26 22:11] #7438 closed

[2021-03-26 22:36] chrisda commented on #7429
@mhunecke, I get it. As of right now, there are 207 parameters in 78 Exchange cmdlet reference topics in that undocumented {{Fill <ParameterName> Description}} state. There are also an additional 27 parameters in 5 cmdlet reference topics where the description is "PARAMVALUE: <ParameterType>" (pre 2018). So the grand total is 234 undocumented parameters in 83 cmdlets.

But those are just the param

[2021-03-26 22:40] chrisda commented on #7418
Dean, per our email conversation, if you don't have any input about this parameter, I'm closing the issue. It's a known fact that this (and many other parameters) are not documented. See the end of <https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429> about available vs. undocumented vs. missing.

Thanks for the feedback.

Closing

[2021-03-26 22:40] #7418 closed

[2021-03-26 22:46] #7429 closed

[2021-03-26 22:48] chrisda commented on #7376
@ChrisB9907, I'm glad it worked out. Back in my admin days, when something suddenly started working again, my explanation was "unusual sunspot activity". It sounds like there was some kind of backend issue that was corrected.

Thanks for the feedback.

Closing

[2021-03-26 22:48] #7376 closed

[2021-03-26 22:51] chrisda commented on #7366
@andrePKI, I'll take that under advisement. As you can imagine, that's a lot of work across ~1300 cmdlet reference topics...

 Thanks for the feedback.

Closing

[2021-03-26 22:51] #7366 closed

[2021-03-26 22:53] chrisda commented on #7352
@admartini200, I assume silence is golden, so I'm going to close the issue.

If you have more information, feel free to reopen this issue.

Thanks for the feedback.

Closing

[2021-03-26 22:53] #7352 closed

[2021-03-26 22:55] chrisda commented on #7339
Seeking clarification from the product team. Responsible party identified, and I'm waiting for more information.

[2021-03-26 23:06] chrisda commented on #6843
Still thinking about it, but closing the issue for now.

Thanks for the feedback.

[2021-03-26 23:06] #6843 closed

[2021-03-26 23:54] chrisda commented on #7344
@PeteMitch99 cool. For the last several versions of the module, there are typically 2 to 3 Preview versions before that version is released publicly, and the whole process typically takes several months. It's likely that your fix will be in the next Preview version of the 2.0.5 version of the module, which will then follow through to the public 2.0.5 version.

Since there will be no documentation

[2021-03-26 23:54] #7344 closed

[2021-03-27 00:44] chrisda commented on #7052
@GLComputing, done.

Thanks for the feedback.

Closing

[2021-03-27 00:44] #7052 closed

[2021-03-27 09:24] IldAmourBonjamin commented on #7458
That works! And while connected with connect-exchangeonline commands like get-mailboxfolderstatistics also work as my hunch said! Quite a good shot in the dark, i've seen no reference of it needing that paramter to connect, any idea as to why it works?

[2021-03-27 12:32] get-itips commented on #7419
@spainja Jeffry, thanks for your feedback!

[2021-03-27 12:39] get-itips commented on #7336
Hello @woolfep how are you?
Remember that 2.0.0 is the current General Availability version and 1.1.11-preview is a Public Preview version of the Teams PowerShell module.
Said that, in 2.0.0 `Get-CsBatchPolicyAssignmentOperation` accepts `Identity` and `Status` as parameters, as the documentation states currently.
Hope this information helps you.

[2021-03-27 15:14] ingepepe opened #7509 "Get-PnPProperty get all properties"
Is there a way to get all properties using this command?, either by using * or -all

[2021-03-27 15:53] ingepepe commented on #7509
never mind, I guess piping get-member is the way

[2021-03-27 15:53] #7509 closed

[2021-03-29 06:01] mariosaelikeit commented on #7453
@chrisda, unfortunately 30 entries is not enough for my organisation. In any case, I understand your response. I was hoping that the wildcard scenario was forgotten in the documentation.

I will open a support case for this.

[2021-03-29 06:01] #7453 closed

[2021-03-29 08:48] trudolf-msft opened #7511 "Max Resultsize"
I don't understand why in first paragraph limit is 100000 but the maximum pagesize is 5000.
Further I am receiving an error (throttling) when specifying the parameter to high.
I suggest to reduce the max value to 10.000

![image](https://user-images.githubusercontent.com/43539433/112811310-38e7ec80-907c-11eb-93da-38519ea82260.png)

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-03-29 11:51] yogkumgit commented on #7419
@spainja Thank you very much for your kind feedback and logging this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-03-29 11:51] #7419 closed

[2021-03-29 11:54] yogkumgit commented on #7336
@get-itips  Thank you very much for the contribution and sharing this explanation. @woolfep  Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-29 11:54] #7336 closed

[2021-03-29 13:23] danielmeridew-mto commented on #7469
Having the same issue.

[2021-03-29 14:36] adagioajanes opened #7514 "Restore-RecoverableItems can only target original mailbox"
We are attempting to recover a user's emails with Restore-RecoverableItems. We are using this as opposed to using the 'Search-Mailbox' cmdlet.

We do not want to restore the items to the original user's mailbox, but there is no option to target another mailbox and folder.

Can we re-implement that functionality in Restore-RecoverableItems?

[2021-03-29 18:03] NicholasBurkhammer opened #7515 "Set-CsMediaConfiguration parameters missing description and documentation."
Skype for Business Server 2019 has the following parameters which are not present in the documentation for the Set-CsMediaConfiguration cmdlet.  Please add documentation on ability and expected/intended usage scenario.

EnableRtx
EnableAVBundling
EnableReceiveAgc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98c3d6f0-

[2021-03-29 21:27] get-itips commented on #7423
Hello @BohrenAn
How are you? Hope you are doing good.
I tested this in my lab, I was able to run successfully the `Get-TeamChannel` cmdlet using a "Teams Communications Administrator". Please be sure to be running the most up-to-date General Availability version of the Teams PowerShell module (2.0.0).
Hope this information helps you,

[2021-03-30 09:28] KorZijl commented on #7463
@chrisda
I've tried the same minimal code example in Powershell 7.1.3 (and tested with parameter UserPrincipalName).
A browser window asking for credentials pops up and after approving the MFA request on this user account nothing seems to happen and the last verbose line is "Importing cmdlet 'Test-ActiveToken'" (same screenshot as first post).

The WPF form is also able to call other Microsoft mod

[2021-03-30 13:17] pmatthews05 opened #7518 "Connect-MicrosoftTeams new version 2.0.0"
I have recently downloaded the latest version of MicrosoftTeams and I'm still having difficulties trying to connect to my tenant.

Using PowerShell 7.1 I'm able to connect just calling `Connect-MicrosoftTeams` that uses MFA. However I'm unable to connect using  AppID and CertificateThumbprint.

`Connect-MicrosoftTeams -TenantId $TenantId -ApplicationId $AppId -CertificateThumbprint:$Thumbprint`

o

[2021-03-30 14:40] barclayadam opened #7519 "Exchange Online Remote Powershell: Enable-OrganizationCustomization failing"
I'm really not sure where best to ask this question. This GitHub repo was the closest to anything related to Exchange Online Remote Powershell, but I do not know if this is a documentation issue (in that I'm missing something I need to be doing) or a product issue of sorts.

I am connecting to Exchange Online to configure email flows (outbound connectors etc.), and as part of that I need to run th

[2021-03-30 15:54] qqii opened #7522 "RecommendedPolicyType flag is not documented."
Instances can be found here: https://github.com/MicrosoftDocs/office-docs-powershell/search?q=RecommendedPolicyType

Also sometimes the accepted values are listed and sometimes they are not.

[2021-03-30 16:23] chrisda commented on #7458
@IldAmourBonjamin, the EXO V2 module only connects using Modern authentication, but the password storage experience varies based on whether you use the UserPrincipalName parameter vs. Credential. Perhaps that has something to do with it.

[2021-03-30 16:50] chrisda commented on #7511
@trudolf-msft, there's nothing we can do from a documentation perspective for your request. To get action on a feature update request, I would suggest opening a support case.

[2021-03-30 21:08] JRVcr opened #7525 "Document needs to be updated to reflect Modern Auth"
[Enter feedback here]
This command in the article--

Connect-SPOService -Url https://contoso-admin.sharepoint.com -Credential admin@contoso.com

--should become--

Connect-SPOService -Url https://contoso-admin.sharepoint.com

SPOService will no longer (by default) allow pre-Modern Auth.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-03-30 21:40] get-itips commented on #7434
Hello @Sa3d94
How are you? hope you are doing good.
I could reproduce, and this was also reported in the past, although here we are limited to documentation changes, I will try to pass this information to the team behind the Ps module.
Thanks

[2021-03-30 23:26] get-itips commented on #7487
Hello @Petri-X I'll work on a better description for the parameter. Thanks

[2021-03-31 14:29] Petri-X commented on #7479
Ooh !! My bad !

Can you see my red face to there ? :)

[2021-03-31 16:53] get-itips commented on #7464
Hello @erwanolivo
How are you? hope you are doing good.
I could reproduce, and this was also reported in the past, although here we are limited to documentation changes, I will try to pass this information to the team behind the Ps module.
Thanks

[2021-03-31 16:54] get-itips commented on #7469
Hello @aspnet4you
https://github.com/MicrosoftDocs/office-docs-powershell/issues/7464#issuecomment-811248583

[2021-03-31 17:14] get-itips commented on #7454
Thanks for reporting @joshtransient

[2021-03-31 17:21] get-itips commented on #7480
Thanks for reporting! @jhventer

[2021-03-31 17:25] get-itips commented on #7485
Thanks for reporting! @arehmani

[2021-03-31 17:30] aspnet4you commented on #7469
I am not seeing any tangible response from Microsoft on this issue! It's impacting many people after merging Skype  for Business with Teams powershell module. Don't understand why they didn't think of backward compatibility!

Problem with the use of credential is, it conflicts with Conditional Access policy. I can't trust Azure regional IP as trusted location.

[2021-03-31 17:42] danielmeridew-mto commented on #7469
I’ll do the same – thanks.

From: Andres Mariano Gorzelany ***@***.***>
Sent: 31 March 2021 18:34
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Daniel J. Meridew ***@***.***>; Comment ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Get-CsOnlineUser - Exception calling "GetSteppablePipeline" with "1" argument(s) .. Tenant Domain is empty (#7469)

@aspnet4you<https://git

[2021-03-31 20:07] get-itips commented on #7471
Hello @PrashanthReddy7 how are you?
As here we are limited to documentation changes, I tried to reproduce to check if we needed to adjust [Get-User](https://docs.microsoft.com/en-us/powershell/module/exchange/get-user?view=exchange-ps) article, you did not specify if you are running the cmdlet against an Exchange Server or Exchange Online,  specifically against Exchange Online and Exchange Server

[2021-03-31 20:20] get-itips commented on #7460
Hello @gruering
How are you? Hope you are doing good.
Here, we are limited to documentation fixes and improvements, for your inquiry I would need to kindly ask you to open a support ticket directly from your tenant to report this.
Also please be sure to be running the latest general availability version of [SPMT](https://docs.microsoft.com/sharepointmigration/new-and-improved-features-in-the-share

[2021-03-31 20:27] get-itips commented on #7474
Hello @prossum
How are you? to open PnP issues I need to kindly redirect you to [this other repo](https://github.com/pnp/powershell)
Thank you.

[2021-03-31 20:27] get-itips commented on #7444
Hello @mvanders Marc,
How are you? to open PnP issues I need to kindly redirect you to [this other repo](https://github.com/pnp/powershell)
Thank you.

[2021-03-31 20:28] get-itips commented on #7452
Hello @mvanders
How are you? to open PnP issues I need to kindly redirect you to [this other repo](https://github.com/pnp/powershell)
Thank you.

[2021-04-01 07:06] Petri-X opened #7533 "What is expected results from get-teamsapp?"
Hi team,

When running the cmdlet get-teamsapp and comparing the results to the output what GUI (Teams Admin center) is offering. I have the following findings:
F1) get-teamsapp seems to be not returning the application which are blocked, is that correct?
F2) Even I'm comparing the allowed apps there is differences, some apps are:
  - visible only on GUI: Bulletins, Milestones, PowerApps, etc...

[2021-04-01 07:44] prossum commented on #7474
The issue is now posted here: https://github.com/pnp/powershell/issues/530

[2021-04-01 13:06] yogkumgit commented on #7474
@get-itips Thank you very much for the contribution and sharing this explanation. @prossum Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-01 13:06] #7474 closed

[2021-04-01 13:10] yogkumgit commented on #7444
@get-itips Thank you very much for the contribution and sharing this explanation. @mvanders Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-01 13:10] #7444 closed

[2021-04-01 13:11] yogkumgit commented on #7452
@get-itips Thank you very much for the contribution and sharing this explanation. @mvanders Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-01 13:25] yogkumgit commented on #7423
@get-itips Thank you very much for the contribution and sharing this explanation. @BohrenAn Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-01 13:25] #7423 closed

[2021-04-01 13:41] #7479 closed

[2021-04-01 14:14] PrashanthReddy7 commented on #7471
Hi @get-itips ,
I am good, thank you, Hope you are also doing good !!

I am having this issue in Exchange Online.
Even with 59 guids it was worked for me untill last week, now we are getting exceeds maximum allowed number limits,  then I have reduced it 40, then it worked.
So, there is no documentation, how the maximum limit can be calculated, characters or input parameters ?
I feel that, it’s not

[2021-04-01 15:34] gruering commented on #7460
Actually the documentation is wrong because the parameter does not what it is supposed to do.
I have implemented a workaround using reflection which allows me the override the wrong parameter.
Hopefully it gets fixed for another release.

[2021-04-01 15:34] #7460 closed

[2021-04-01 15:57] mvanders commented on #7452
Dear @yogkumgit
Thx, I posted it here: https://github.com/pnp/powershell/issues/538 following your recommendation.

[2021-04-01 17:38] gabrieljtaylor opened #7534 "Get-TeamChannelUser is not a valid cmdlet (yet?)"
This documentation seems great, however the cmdlet it is documenting, Get-TeamChannelUser, is not present in the latest version (v2.0.0) of the MicrosoftTeams PowerShell Module available on the PowerShell Gallery at the time I make this post.

As you can see in the following image, I have v2.0.0 of the MicrosoftTeams PowerShell module, and this command doesn't exist:

![image](https://user-images.

[2021-04-01 17:57] get-itips commented on #7471
Hello @PrashanthReddy7
Thanks for asking, doing good.
As I could not reproduce, the best thing in this scenario in my opinion would be to open a support ticket directly from your tenant, so your inquiry can reach the team behind the module and a support engineer can help in the matter to determine the limits.
Thank you

[2021-04-02 11:44] orandev commented on #7469
Hello,
For those of you with the issue and who don't need a proxy to access O365 URLs, could you test like that please?

Connect-MicrosoftTeams -TenantId 'yourdomain.com' -ApplicationId xxx -CertificateThumbprint xxx

(instead of your tenant GUID)

[2021-04-02 11:46] danielmeridew-mto commented on #7469
If by "yourdomain.com" you are talking about the initial O365 domain, I have tried this and it doesn't work, albeit a different error.

I haven't got access to machine for testing this now, will reply back with error next week.

From: orandev ***@***.***>
Sent: 02 April 2021 12:45
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Daniel J. Meridew ***@***.***>; Comment ***@***.***>
Subject

[2021-04-02 23:18] vayinapurapu opened #7538 "getting 403 when using Add-PnPSiteCollectionAdmin"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba2dc727-d438-3510-19c1-f4c05580afcb
* Version Independent ID: 8ea210be-0cb9-99a2-fd56-edd14a861d00
* Content: [Add-PnPSiteCollectionAdmin (PnP.Powershell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/add-pnpsitecollectionadmin?v

[2021-04-02 23:20] vayin commented on #7538
PS C:\WINDOWS\system32> Add-PnPSiteCollectionAdmin -Owners "vayinapurapu@pepsico.com"
Add-PnPSiteCollectionAdmin : The remote server returned an error: (403) Forbidden.
At line:1 char:1
+ Add-PnPSiteCollectionAdmin -Owners "vayinapurapu@pepsico.com"
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : WriteError: (:) [Add-PnPSiteCollectionAdmin], WebExcepti

[2021-04-05 02:51] xieming95 opened #7539 "wrong link for Connect-IPPssession"
[Enter feedback here]

**For detailed syntax and parameter information, see Connect-IPPSSession**

The link for Connect-IPPSSession will navigate to page of Connect-ExchangeOnline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebcb7e5d-c0aa-f4f3-e6d5-914219d16dff
* Version Independent ID: 36d9a36f-fbdf-e4a1-45d7-51cc1

[2021-04-05 05:36] aspnet4you commented on #7469
@danielmeridew-mto,
Thanks for the suggestion on using tenant initial domain. I tried but it didn't work. Got different error message though. I have not spent time to analyze what the error means! Any help would be appreciated.

This is the line of code that error out-
$Users = Get-CsOnlineUser -Filter {TenantId -eq "aspnet4you2.onmicrosoft.com"}

Error message:
Exception calling "GetSteppablePipe

[2021-04-05 12:37] BSiefferman opened #7540 "-OneDriveSharedByMemberOf parameter missing"
I am missing the -OneDriveSharedByMemberOf parameter and a few others even after being on the latest version 2.0.4 of the Exchange Online PowerShell V2 module. How would I get this cmdlet to be displayed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cee91383-5198-3793-28c3-f79c233556c2
* Version Independent ID: 01fc8

[2021-04-05 14:52] jmmowrer opened #7541 "Missing descriptions for 3 parameters"
Missing descriptions for 3 parameters:

-UseTranslatedNotificationText
{{ Fill UseTranslatedNotificationText Description }}
-UseTranslatedNotificationText
{{ Fill UseTranslatedNotificationText Description }}
-CustomNotificationText
{{ Fill CustomNotificationText Description }}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-04-05 16:14] chrisda commented on #7539
@xieming95, fixed. In the future, you too can make fixes like this without opening a GitHub Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2021-04-05 16:14] #7539 closed

[2021-04-05 16:33] chrisda commented on #7540
@BSiefferman, the version of the EXO V2 module only affects the cmdlets that are actually in the module (see [here]<https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#how-the-exo-v2-module-works>. The vast majority of cmdlets in the Exchange Online PowerShell or Security & Compliance Center PowerShell universe are only available after you connect to your organization via

[2021-04-05 16:38] chrisda commented on #7541
@jmmowrer, see the end of this issue: <https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429>. I did a big sweep recently to find all available but undocumented parameters.

So do you have any input as to what those parameters are for and if they are or are not available to you?

[2021-04-06 08:23] ykuijs opened #7548 "Parameters MaxTotalSizeInBytes and UsageDatabaseEnabled have no or incorrect description"
In the parameter explanations of this cmdlet parameter descriptions are missing or incorrect (placeholder):

- MaxTotalSizeInBytes has no description
- UsageDatabaseEnabled has a placeholder text as description instead of the actual description: "{{Fill UsageDatabaseEnabled Description}}"

The Get-Help for this cmdlet has the same info:

[code]

---
#### Document Details

⚠ *Do not edit this secti

[2021-04-06 08:26] Markus-Hanisch opened #7549 "No Property MembershipType in Cmdlet Get-TeamChannel"
The PS Cmdlet Get-TeamChannel illustrates an example to retrieve all private Teams channels of a Team (see [Example 2](https://docs.microsoft.com/en-us/powershell/module/teams/get-teamchannel?view=teams-ps#example-2))
However, there is no such property `MembershipType`
[code]
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-04-06 10:46] danielmeridew-mto commented on #7469
I have tested and receive the same error when using tenant initial domain value rather than tenant ID value:

Exception calling "GetSteppablePipeline" with "1" argument(s): "Exception calling "GetRemoteNewCsOnlineSession" with "1" argument(s): "Connecting to remote server
api.interfaces.records.teams.microsoft.com failed with the following error message : The WinRM client cannot process the reques

[2021-04-06 14:24] Markus-Hanisch commented on #7534
@gabrieljtaylor
I currently struggle with the same issue ...
Seriously, running different Teams module versions side by side shall be better documented because this issue was opened several times in the past:
- #7127
- #6723
- #6549

Lessons learned:
The availability of Cmdlets differs from module version to version. The link below shows if a Cmdlet is available in Public Preview or in GA:
https:/

[2021-04-06 16:39] yogkumgit commented on #7471
@get-itips Thank you very much for the contribution and sharing this explanation. @PrashanthReddy7 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation up

[2021-04-06 16:39] #7471 closed

[2021-04-06 16:46] yogkumgit commented on #7434
@get-itips Thank you very much for the contribution and sharing this explanation. @Sa3d94 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-06 16:46] #7434 closed

[2021-04-06 18:10] #7480 closed

[2021-04-06 18:18] #7487 closed

[2021-04-06 18:24] #7485 closed

[2021-04-07 07:55] icelava opened #7551 "Installation - No valid module file was found"
Does not detail how to handle inconsistent module directory list when trying to install the ExchangeOnlineManagement module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Content: [About the Exchange Online PowerShell

[2021-04-07 08:12] icelava commented on #7551
Scratch this; I previously had installed EXO module and used it ok, but now it appears to be _gone_ from my system. Tried to install the module again but hitting more fundamental errors with PowerShellGet. Need to work that out first.

[2021-04-07 08:50] icelava commented on #7551
For posterity sake, it appears the "mis-location" of PackageManagement 1.4.7 module causes PowerShell package management system to mess up really bad.

https://stackoverflow.com/questions/65482945/corrupt-packagemanager-unable-to-find-module-providers-powershellget

[2021-04-07 14:10] petercarson opened #7552 "PnP App Only Permissions for creating TeamSites"
Working on getting my Teams Provisioning open source project working with the App Only certificate based authentication. I had been doing all my early work with Communication Sites as they are quick and easy to provision. Started doing some testing and realized it isn’t working with Team Sites. Looking for some help or guidance.

I have a simple test script that I'm working with that authenticates

[2021-04-07 15:24] chrisda commented on #7551
@icelava, I'm glad you were able to figure it out.

Closing

[2021-04-07 15:24] #7551 closed

[2021-04-07 17:47] tkudya opened #7555 "Issue with Get-CS, Enable-CS modules on Microsoft Teams module"
I having problems running Microsoft Teams/ SFB powershell commands for example
if i connect using the following
$con = New-CsOnlineSession
Import-PSSession $con

If i try Get-CSMeetingRoom or enable-CSMeetinRoom, i get the following message as below
![image](https://user-images.githubusercontent.com/78653328/113910993-5da53800-97d1-11eb-9fc1-8272ddf77a66.png)

then i try and connect to Connect-Mic

[2021-04-07 20:10] chrisda commented on #7522
@qqii, RecommededPolicyType parameter documented in the following cmdlets:

-  New-AntiPhishPolicy
- New-HostedContentFilterPolicy
- New-HostedOutboundSpamFilterPolicy
- New-MalwareFilterPolicy
- New-SafeAttachmentPolicy
- New-SafeLinksPolicy

Thanks for the feedback.

Closing

[2021-04-07 20:10] #7522 closed

[2021-04-07 20:52] chrisda commented on #7519
@barclayadam, I'm not sure how connecting/authentication works with C#, but the connection method that you're using is the old [Basic auth method](https://docs.microsoft.com/powershell/exchange/basic-auth-connect-to-exo-powershell), which is eventually going away next year. It was supposed to go away this year, but COVID happened. See [this announcement](https://techcommunity.microsoft.com/t5/exch

[2021-04-07 21:58] nsksaisaravana commented on #3954
I am also having the same issue, but no solution found.

[2021-04-08 01:29] agowa338 opened #7559 "Doesn't work if current global catalog is unavailable"
This command doesn't work if exchange already reports "Could not find any available Global Catalog in forest <forestNameHere>"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8133b060-7aea-fa78-f4ac-5523792682fc
* Version Independent ID: 84313c38-ef18-a1e7-40b9-a092915e2b11
* Content: [Set-ADServerSettings (ExchangePowe

[2021-04-08 02:27] dappleby300 opened #7560 "Performance issues between SFBO and Teams powershell modules"
Hi,

There seems to be a sizable reduction in performance when switching to the new Teams Powershell module from the SFBO one.

[code]

Compared with the SFBO module

[code]

This seems to occur consistently when using the Grant-cs* and set-cs* cmdlets. I have seen the Teams module take up to 2 minutes to execute commands the older Skype for Business Online Module would do in 3 seconds or less.

P

[2021-04-08 05:43] wobba commented on #3954
@nsksaisaravana What have you tried? I can get crawl log entries with my tenant.

[2021-04-08 05:48] arunpandianj commented on #66
Check your email Ids are valid and the user is exist or not

[2021-04-08 06:13] nsksaisaravana commented on #3954
@wobba I am taking care of few clients, error is happening for one client where they got around one million documents. It is working fine for clients having less number of documents. Please check the screenshot for the command and error.

![image](https://user-images.githubusercontent.com/17681573/113977011-46c01d80-9885-11eb-89a5-c44187fc3079.png)

[2021-04-08 07:23] wobba commented on #3954
@nsksaisaravana how are you connecting using `Connect-PnPOnline`? And you have ensured your user is added to the allowed people on the crawl log permission page?

[2021-04-08 11:17] biphi commented on #7560
Hi,
i have also raised this already in another post:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/7407

[2021-04-08 11:19] biphi commented on #7560
i had to switch back to the old module accelerate my scripts again.

[2021-04-08 11:51] nsksaisaravana commented on #3954
@wobba  Connect-PnPOnline -Url https://xxx.sharepoint.com/Sites/TEST-Data -UseWebLogin - I have used this command to connect. Except this command, all other pnp commands are working fine. Already I added the user in the crawl permission page.

[2021-04-08 12:36] wobba commented on #3954
@nsksaisaravana If you add start and end date does that help? That said, crawl log is for debugging purposes, so my question is what issue are you investigating?

[2021-04-08 13:13] et01267 opened #7562 "Incorrect word in second paragraph"
The word "complimentary" used in this document (e.g., in the second paragraph) should be "complementary".  Completely different meaning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47ca7d5-2598-0c06-03fd-854f94cf6bbe
* Version Independent ID: a57408f6-16ca-3fcb-0c04-48a7a5f9942d
* Content: [New-ApplicationAccessPol

[2021-04-08 13:41] wimvanhouts opened #7563 "Connect-MicrosoftTeams for a delegated admin requires MFA even though it is on the MFA whitelist"
As a delegated admin of my customer, I want to configure his Teams installation using powershell for some automated tasks. The customer's tenant has MFA enabled and conditional access as well, but, my IP address is on the MFA whitelist. When I use the powershell cmdlet Connect-MicrosoftTeams, it still requires a login via MFA. The cmdlet returns "Due to a configuration change made by your administ

[2021-04-08 15:09] chrisda commented on #7559
@agowa338, I believe it. From [Exchange Server 2019 system requirements](https://docs.microsoft.com/Exchange/plan-and-deploy/system-requirements?view=exchserver-2019#network-and-directory-server-requirements-for-exchange-2019) and [Exchange Server 2016 system requirements](https://docs.microsoft.com/Exchange/plan-and-deploy/system-requirements?view=exchserver-2016#network-and-directory-server-requ

[2021-04-08 16:59] chrisda commented on #7562
@et01267 , fixed. In the future, you too can make simple fixes like this yourself without opening a GitHub issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2021-04-08 16:59] #7562 closed

[2021-04-08 17:14] chrisda commented on #7481
Closing due to the fact that the topic works as described. Based on my brief research, similar strange issues are explained by duplicate values of unique user properties that aren't supposed to allow duplicates. @ddexter26, if you ever find out what the problem is, feel free to report back here.

[2021-04-08 17:14] #7481 closed

[2021-04-08 17:18] chrisda commented on #7471
@dariomws for visibility.

[2021-04-08 18:25] eric-lavalley commented on #2776
@chrisda @cammurray More than 2 years out here and the documentation is still wrong/the Operation parameter does not accept multiple values. Any updates?

[2021-04-08 18:41] chrisda commented on #2776
@AlMargoi, @eric-lavalley, Yikes!. It looks like I mistakenly updated the Operation (singular) parameter in the wrong topic (New-ActivityAlert). Strange how no one complained about how _that_ description was now wrong, nor did it match the corresponding Operation parameter description on Set-ActivityAlert. Anyway, I fixed New-ActivityAlert back to how it was, and I replaced the 'multiple values' l

[2021-04-08 21:12] petercarson commented on #7552
Strange, switched my development machine for other reasons, installed the latest PnP.PowerShell, and its working fine now. Not sure what changed, but not looking like an issue now. I do want to dig into the permissions needed and scale those back to the required, so I'll update and close when I get a chance to do that.

[2021-04-09 00:28] nsksaisaravana commented on #3954
@wobba Start date end date not working, I am trying to investigate whether a specific file is crawled or not. Below is the query for this.

`Get-PnPSearchCrawlLog -Filter "https://xxxx.sharepoint.com/sites/xxx/TeamsDocuments/Draft/Test to be deleted.docx"`

[2021-04-09 04:47] awill4457 commented on #7464
Hi Team, I would like to provide some assistance here in providing the information so we can get this resolved.
### Certificate based authentication
Generated a new enterprise application in Azure, following this guide https://learntechfuture.com/2020/08/17/connect-exchange-online-v2-via-certificate-auth-for-automation/ - for API permissions, assigned "Skype and Teams Tenant Admin API" - "applicat

[2021-04-09 05:14] crshovrd41 opened #7569 "2.0.4 broken with PS 7.1.3 on Big Sur"
Connect-ExchangeOnline throws the errors seen in the screen shot. Can no longer use ExchangeOnlineManagement.
<img width="1119" alt="Screen Shot 2021-04-08 at 10 12 49 PM" src="https://user-images.githubusercontent.com/35728378/114131610-bfd86880-98b7-11eb-9adb-1ff693d53d95.png">

[2021-04-09 06:59] dariomws commented on #7471
Thank you @chrisda!

[2021-04-09 12:56] wobba commented on #3954
Got it... I would file a support ticket if it's not coming back in search once you have verified:

* Are access control set as expected?
* Do you get other results from the folder?
* Is the library set to not be indexed?
* Is the document in draft mode, v0.1 (not published)?
* Is approval activated, and is the doc approved?

[2021-04-09 15:00] yogkumgit commented on #7464
@get-itips

[2021-04-09 18:07] YuriySamorodov opened #7575 "Help Files for *PnPAzureAD* Cmdlets Missing"
Hi,

There are help files for *PnPAAD* cmdlets, however those are considered outdated:
![image](https://user-images.githubusercontent.com/5260172/114222464-4a33d180-9977-11eb-8b89-786ccb9a327d.png)

When running Get-Help against any PnPAzureAD cmdlet, it looks like there is not much details:
![image](https://user-images.githubusercontent.com/5260172/114222605-78b1ac80-9977-11eb-8411-3c3a25eabcca.p

[2021-04-09 18:20] YuriySamorodov commented on #7575
#7576

[2021-04-09 20:48] quidan opened #7579 "Calling Import-Module with the Prefix commands prevents Skype commands from utilized"
While we're migrating users fully to Teams, we still have to deal with our on-premises Skype for Business environment. Previously we could get around command collision by importing a module with the -Prefix command. When doing this with new MicrosoftTeams 2.0 module, no Skype specific commands are available. When importing without the -Prefix, all commands are available.

For example:
[code]
When

[2021-04-09 21:36] ingepepe opened #7580 "Copy-PnPFile fails when copying across sites with MFA"
User that is owner and site collection administrator on both the sending and receiving sites, gets the following error:

`Copy-PnPFile -SourceUrl "Shared Documents/File.xlsx" -TargetUrl "sites/test01/Shared Documents" -NoWait`
`Copy-PnPFile : Access denied. You do not have permission to perform this action or access this resource.`

User uses MFA

_Could it be that the context of the target folder

[2021-04-09 22:05] ingepepe commented on #7580
Never mind,

I realized that target needs a slash at the beginning `"/sites/test01/Shared Documents"` in order for it to be recognized as a different site.

[2021-04-09 22:05] #7580 closed

[2021-04-09 22:11] nsksaisaravana commented on #3954
I have checked all the steps and still it is not working.

For testing purpose, I have created a new site collection and created few documents in the shared document library, even for the few documents it is not working. Below are the steps I followed.

Please check the screenshots, search a document is not working and using powershell command to check the issue and it is also not working.

I went

[2021-04-10 09:39] wobba commented on #3954
If nothing works, that seems like a weird service issue and you should open a support case. Only way to figure out what is happening.

[2021-04-10 11:44] agowa338 commented on #7559
Well, we have an exchange server where just the management shell refuses to accept any command as it says that there is no global catalog server. But the ECP and connecting locally (using the snapin) works just fine.
Just the implicit remoting powershell (exchange management shell) is failing because it says that there is no global catalog.

But we have a global catalog in place. Commandlets like

[2021-04-12 00:06] nsksaisaravana commented on #3954
@wobba Thanks a lot for your support. Already opened a support case and last one week still they are checking the issue.

[2021-04-12 08:25] trudolf-msft opened #7584 "Modify default value of AutomaticServiceUpdateEnabled"
Default value for existing tenants
AutomaticServiceUpdateEnabled: false

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ebaffb3-b4a1-9ba1-d6cb-cea3befecc89
* Version Independent ID: 8b7b857e-4090-d865-79dc-5e14f6fa7748
* Content: [Set-IRMConfiguration (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/mo

[2021-04-12 09:25] cowlinb6 commented on #7518
I'm getting the same issue, is there any update on this?

[2021-04-12 10:09] hanspettermalme opened #7585 "Geo-coordinates"
Be aware that geo-coordinatres do not sync in an Exchange hybrid environment ! You will not be able to set this on-prem and sync this to Exchange Online! At least that's what we have been told by Microsoft support. We would love to use this functionalty, hopefully that will soon be fixed ?

Regards
Hans Petter Malme

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-04-12 11:56] uz-it opened #7586 "Different output in the "Results" property"
Please compare output in the "Results" property:

1.

[code]

and this:

2.

[code]

[2021-04-12 12:14] trudolf-msft commented on #7584
It seems the value is just for newer tenants (enabled by default) but not for older/existing ones.

[2021-04-12 15:05] BrooksV opened #7588 "Remove-PnPFile -WhatIf parameter not found"
Remove-PnPFile : A parameter cannot be found that matches parameter name 'WhatIf'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df0e97dd-5d7a-a7c4-4032-cd54aff66b24
* Version Independent ID: 78ced12f-e034-d3a5-0a49-a2bc3e4d0e50
* Content: [Remove-PnPFile (PnP.Powershell)](https://docs.microsoft.com/en-us/powershell/m

[2021-04-12 16:37] chrisda commented on #7584
@trudolf-msft, I removed the statement about which value is the default. If we're going to talk about "new" and "existing" tenants, we need a date (month/year is fine).

Thanks for the feedback.

Closing

[2021-04-12 16:37] #7584 closed

[2021-04-12 17:22] chrisda commented on #7586
@uz-it, here's what I can see:

- Results line: Identity contains values for the following properties; Case contains 0/blank values for the same properties:
  -  ItemCount 26
  - Total size 1371699
  - Details: {Location: user1@domain.dk; Item count: 1; Total size: 55477; Failed count: 0; ,
- Location: These 14 lines are present in the Identity output but not in the Case output:

  Location: user2

[2021-04-12 17:33] chrisda commented on #7585
@hanspettermalme, how does your statement conflict or agree with the existing note at the top of the Set-Place topic:

So, you should be able to use the Set-User cmdlet with the GeoCoordinates parameter in on-premises Exchange PowerShell to set the coordinates.

Does this make sense?

[2021-04-12 18:47] chrisda commented on #7559
@agiwa338, if you're saying that the Exchange Management Shell or remotely connecting to the Exchange Server doesn't work, and the only way you can do anything is by manually loading the snap-in using Add-PSSnapIn, I highly suggest that you open a support case. Something is dreadfully wrong.

[2021-04-13 05:47] hanspettermalme commented on #7585
Hi Chris

Thanks for your reply. As you mention in your statement , use the set-user cmd in a hybrid/on-prem environment yes, I totally agree. Only that set-user on a meeting room with the -Geocoordinates those attributes will not sync via. Azure AD Connect and therefore not be able to show in Outlook! My dialogue with Microsoft support have confirmed this ☹ unfortunately. This looks like a nice f

[2021-04-13 07:03] shivtorov commented on #7491
Hey @Petri-X
It would be nice to have a modern version of the module that will allow such things as filtering.
But I would be surprise if Microsoft will do any time soon (coming years).

In the meantime, you can do this today by explicitly using PS Remoting. I know it's ugly and limited in many aspects, but at least it is something that is available today and it works.

Try the following example t

[2021-04-13 07:28] darwincr commented on #7560
Also experiencing issues with this
in my case it takes more than 30 seconds to run a get-csonlineuser for a single user

This problem becomes painful when you have Powershell scripts that take hours to complete

I noticed SFBO powershell even tough it still works is no longer available for download
Is it going to stop working?

[2021-04-13 09:51] IldAmourBonjamin commented on #7458
Works properly when adding the -UserPrincipalName parameter

[2021-04-13 09:51] #7458 closed

[2021-04-13 10:06] agowa338 commented on #7559
Well, opening a MS support case is not my decision. Esp. After the last MS support cases we had together with that customer didn't end that well. That was partly Microsofts and partly the customers fault.

But this is outside of the scope of this issue.
For this issue I'd just like to request to add a hint that this command doesn't work if the above error is thrown as many websites link  to this c

[2021-04-13 12:50] uz-it commented on #7586
@chrisda
I have no expectations, just can see the difference in the output. If it is by design, so it just need to be documented.

Nice to have addition to the command:
add: -SearchName property to be able to filter Actions by search name.

[2021-04-13 16:47] DEberhardt opened #7593 "Forward to Channel | Parameter ChannelId and ChannelUserObjectId missing"
Hello,

I know the feature is not yet released, but the Parameters are already present on the Command.

- Documentation of Forwarding to Channel in general

Parameters in Particular are missing.

- ChannelId
- ChannelUserObjectId

I presume this will be the same for Set-CsCallQueue

Thanks,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-04-14 11:34] dariomws commented on #7451
Hi @bakerm00, thank you for your feedback.

I think this is the explanation you are looking for:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/6992

Please let me know if you need more help.

[2021-04-14 12:24] dariomws commented on #7514
@adagioajanes - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Exchange Online PowerShell module better. They keep a close tab on user feedback, and it would be awesome if you could add your voice in the following channels:
https://support.microsoft.com/en-us/topic/uservoice-pages-430e1a78-e016-472a-a10f-d

[2021-04-14 14:22] get-itips commented on #7491
Hello @Petri-X how are you? Hope you are doing good.
We appreciate the feedback, however, as you might know, we are limited here to documentation issues and improvements.
I also appreciate your contribution @shivtorov for Petri and everyone that might be on the same page.
Thanks

[2021-04-14 14:35] kristjan-halldorsson opened #7600 "This command (Add-TeamChannelUser) has not been implemented in version 2.0.0 of the package. Is there a plan to implement it? If not, wouldn't it be a good idea to say that in the documentation?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd91d571-ca88-5766-2666-d6a4d34cdbed
* Version Independent ID: 2481b258-b593-e323-90f0-e9ca6e7797bf
* Content: [Add-TeamChannelUser (MicrosoftTeamsPowerShell)](https://docs.microsoft.com/en-us/powershell/module/teams/add-teamchanneluser?view=teams-ps)

[2021-04-14 14:46] jasonhsewell opened #7601 "Erroneous example"
The Get-DlpSiDetectionsReport [documentation](https://docs.microsoft.com/en-us/powershell/module/exchange/get-dlpsidetectionsreport?view=exchange-ps) contains the following erroneous example. This example generates an error because StartDate is not a valid parameter for the Get-DlpSiDetectionsReport commandlet.

    Get-DLPSiDetectionsReport -SensitiveType 0e9b3178-9678-47dd-a509-37222ca96b42 -Sta

[2021-04-14 15:58] get-itips commented on #7498
Thanks for your feedback @oksanaMS

[2021-04-14 16:08] get-itips commented on #7499
@DeyvLauzon Hello, how are you? hope you are doing good.
We are limited here to documentation changes and improvements, I'll try to pass this message on.
Thanks

[2021-04-14 17:50] coproyer opened #7604 "get-safelinksdetailreport case sensitivity"
I've always been led to believe that PowerShell is case insensitive however, the documentation at https://docs.microsoft.com/en-us/powershell/module/exchange/get-safelinksdetailreport?view=exchange-ps does not state that case sensitivity for parameter values is a pre-requisite.  For example,

returns no results whereas

returns expected results.

The documentation, including examples at the page a

[2021-04-14 17:55] chrisda commented on #7601
@jasonhsewell, fixed.

Thanks for the feedback.

Closing

[2021-04-14 17:55] #7601 closed

[2021-04-14 17:59] chrisda commented on #7604
@coproyer, that value should not be case sensitive. I suggest that you open a support case and see what they say. Report back here and we'll update the topic as necessary.

[2021-04-14 18:06] chrisda commented on #7586
@uz-it, the description for the Case parameter says "reserved for  internal Microsoft use", which means you aren't supposed to use it. Out of curiosity, do you get the same information with the Identity command if you also use the Details switch?

[2021-04-14 18:24] get-itips commented on #7500
Thanks, will propose an improvement to the note.

[2021-04-14 18:49] get-itips commented on #7518
Hello @pmatthews05 Paul, please see here https://github.com/MicrosoftDocs/office-docs-powershell/issues/7464#issuecomment-811248583 and https://github.com/MicrosoftDocs/office-docs-powershell/issues/7469

[2021-04-14 18:53] coproyer commented on #7604
As expected, having access only to the O365 Support from the adminportal, that route returned totally anticipated results: "we'll notify the Exchange product team of the issue and in the meantime ask to have the documentation updated to note the case sensitivity issue."

Michael Royer
IT Security Officer
Department of Information Technology * City of Pasadena<http://www.cityofpasadena.net/>
+1 (62

[2021-04-14 18:57] chrisda commented on #7604
Yikes. I don't want to update the documentation for a bug that they're going to fix, only to modify the topic again after they fix it. I'd rather wait a bit until we find out what's going on.

[2021-04-14 22:49] Mattheww65 opened #7614 "Remove-MailboxPermissions Manual Errors"
Some switch descriptions not showing, for example:

{{ Fill BypassMasterAccountSid Description }}
{{ Fill GroupMailbox Description }}
{{ Fill SoftDeletedMailbox Description }}

Browsers tested: Firefox 87.0, Edge 89.0.774.76

Also, a clearer description for AccessRights would be appreciated. Its not really the rights required to perform the operation, but the rights that will be removed.

---
####

[2021-04-14 22:52] Mattheww65 commented on #7614
![image](https://user-images.githubusercontent.com/73503344/114790265-afa20c80-9d41-11eb-8835-5fd14e7efaaf.png)
![image](https://user-images.githubusercontent.com/73503344/114790282-b892de00-9d41-11eb-8266-63d62947ce09.png)
![image](https://user-images.githubusercontent.com/73503344/114790304-c6486380-9d41-11eb-8d1b-e149a60d0bdf.png)

[2021-04-15 00:39] chrisda commented on #7614
@Mattheww65, let's break it down:

- **Empty parameter descriptions**: I believe you. See the end of <https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429>. Are these parameters available to you? Do they work as you expect?

- **Clearer description for AccessRights parameter**: Agreed and done. Updates will publish tomorrow Th 4/15 mid morning latest.

[2021-04-15 07:55] Petri-X commented on #7491
@shivtorov
Sorry to say, but module 1.1.6 is history already, and we have started to use module version 2.0.0. "New-csOnlineSession" is not available anymore.

@get-itips
I believe that is a bit problematic. There has been no clear clarification into where the GitHub should be used, when sometimes this is helping errors on the documentation, but sometime PS module issues are listed on GitHub. Are

[2021-04-15 09:27] DEberhardt opened #7617 "PowerShell help not available in MicrosoftTeams v2.x"
Hello,

don't know where to best put this, but since upgrading to MicrosoftTeams v2.0.0, the builtin help system does not work anymore.

I have a valid and open connection to MicrosoftTeams (and have run a SkypeOnline CmdLet to establish the PSSession), but the below doesn't tell me what is broken.

[code]

Help is appreciated to fix (if client issue) or forward to correct team (if Module issue).

[2021-04-15 11:31] Markus-Hanisch commented on #7549
I had some issues uninstalling the MicrosoftTeams module. I installed the module in different $PSModulePath's.
With the current user, it always imported v1.1.4 instead of the also installed prerelease version.

After uninstalling all versions of MicrosoftTeams PowerShell module and reinstalling the latest Prerelease version v2.2.0-preview it works.
Sorry for confusion.
[code]

[2021-04-15 11:48] Markus-Hanisch commented on #7600
@kristjan-halldorsson
The availability of Cmdlets differs from module version to version.
There used to be a Cmdlet availability table on the Release notes documentation page, illustrating which Cmdlet is available in Public Preview or in GA:
https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes#cmdlet-availability
However, within the last couple of days it has been remove

[2021-04-15 11:56] Markus-Hanisch commented on #7534
@gabrieljtaylor
FYI: The cmdlet availability table on the release notes documentation page has been removed by one of the recent commits:
https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/124051613c1eb00b0908f0909fab6c6c7aae0df8#commitcomment-49553187

[2021-04-15 12:16] get-itips commented on #7491
@Petri-X Sure Petri, I'll try to do my best to give you the requested information: You can have more information [here](https://github.com/MicrosoftDocs/office-docs-powershell)  and [here](https://docs.microsoft.com/en-us/contribute/).
Also a [bit of history](https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs) 👍

[2021-04-15 14:02] kristjan-halldorsson commented on #7600
Thank you, excellent.
I'll try it out.

[2021-04-15 14:38] bholzmmc opened #7618 "LocaleSettings for Visual Marking text"
How can the text for Visual Markings (headers, footer and watermark) be provided in alternate languages ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf754e37-7113-f7d1-ad1e-ef0c3eb5b5e7
* Version Independent ID: 1b20db7d-a508-8523-2309-a3d9f5d08dd7
* Content: [Set-Label (ExchangePowerShell)](https://docs.microsoft.

[2021-04-15 14:47] Mattheww65 commented on #7614
Morning @chrisda

We need to use -SoftDeletedMailbox switch to remove permissions when a mailbox is soft deleted. Just done some basic testing and without that switch, the command cannot find the soft-deleted mailbox. See screenshot below.

![image](https://user-images.githubusercontent.com/73503344/114889085-0867b880-9dc7-11eb-8a60-86db534d7be5.png)

[2021-04-15 16:55] chrisda commented on #7618
@bholzmmc, it appears the LocaleSettings parameter only affects the label name and Tooltip.

In the Security & Compliance Center, can you configure locale-specific values for the header, footer, and watermark? If not, then you probably can't do it using the cmdlet, either.

If you would like to see such functionality added, I would suggest opening a support case and asking for it.

[2021-04-15 17:07] chrisda commented on #7614
@Mattheww65, excellent. I added descriptions for SoftDeletedMailbox and GroupMailbox.

[2021-04-15 17:25] chrisda commented on #7614
Of course you used Bing to find this, right ;-)? I added a parameter description.

Now that all items have been fixed, I'm closing this issue.

Thanks for the feedback.

[2021-04-15 17:25] #7614 closed

[2021-04-15 19:45] sarollins opened #7621 "Single user not found"
[Enter feedback here]
Attempting to add/remove users (call answering users) using the PowerShell cmdlet Set-CsCallQueue

To add a new user, this works

$o = Get-CsCallQueue -Identity "d2187857-4011-41b2-b44a-2019ee167526" | Select Users
$o.Users.Add("A111DDA8-DCFC-4905-B26B-7E5EC44E9C7F")
Set-CsCallQueue -Identity "d2187857-4011-41b2-b44a-2019ee167526" -Users $o.Users

Subsequently, to remove a us

[2021-04-15 19:59] kileyohl opened #7622 "Gives 'file not found error'"
When copying the example given for this command, it gives file not found error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22dfcdde-5b81-6fb7-fa78-b3d1acf6ae87
* Version Independent ID: b6176424-5594-a1de-5e55-a3c8868beec1
* Content: [Get-SPOSiteScriptFromWeb (SharePointOnlinePowerShell)](https://docs.microsoft.com

[2021-04-15 20:49] sarollins commented on #7621
The error is valid.  At some point, that user's Enterprise voice enabled status changed, thus, they are not eligible to be a call answer user

[2021-04-15 20:55] awill4457 commented on #7518
@get-itips I'm not sure why you keep pointing people to other issues where people are pointing out the exact same issue, and there is no resolution. This keeps going around in circles, and what is MEANT to be a working solution is not working at all for the CS side of the commands

Can we please get an actual update on what is happening with the teams powershell module? First I'd suggest starting

[2021-04-15 21:00] get-itips commented on #7518
Hello @awill4457 Alex how are you? I can understand, however here we are limited to deal with documentation issues/feedback, not product ones, besides that, I am already trying to pass this message on to the product team behind the module. Thank you

[2021-04-15 21:03] ingepepe opened #7623 "Wrong syntax in Example 5"
Entering:

[code]

Gives out the following two errors:

[code]

The variable **$result** should be changed to **$job**
The operator **==** should be changed to **-eq**

[code]

This example seems to be copied verbatim to Copy-PnPFile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf06f8a6-0d6c-9c53-f015-57a5aebc59c9
*

[2021-04-16 04:30] Mr-K07 opened #7626 "Why is this cmdlet not present in the new versions of MicrosoftTeams powershell module? We can find it in older versions only 1.1.3?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd91d571-ca88-5766-2666-d6a4d34cdbed
* Version Independent ID: 2481b258-b593-e323-90f0-e9ca6e7797bf
* Content: [Add-TeamChannelUser (MicrosoftTeamsPowerShell)](https://docs.microsoft.com/en-us/powershell/module/teams/add-teamchanneluser?view=teams-ps)

[2021-04-16 07:56] pmatthews05 commented on #7518
@get-itips fair enough that you deal only with the documentation, however perhaps the documentation should contain a link to where to raise an issue about the product as well as issue with the documentation.

It appears from the links you have put there is definitely a problem with the product connecting with Service Principal, which is a problem with the product.

The issue I have with the docume

[2021-04-16 10:16] shivtorov commented on #7491
@Petri-X

Congratulations with upgrading to v.2.0.0!!!

[code]

🤦‍♂️

[2021-04-16 12:49] get-itips commented on #7525
Hello @JRVcr how are you? The

section already uses the method you are proposing.

Thanks!!

[2021-04-16 13:05] get-itips commented on #7548
Thanks for your feedback @ykuijs

[2021-04-16 13:34] fabonilla opened #7628 "Connect to Exchange Online PowerShell"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Independent ID: 4d69ee5d-5a6d-a203-69fe-bf5441a8b5eb
* Content: [Connect to Exchange Online PowerShell](https://docs.microsoft.com/en-us/powershell/exchange/connect-to-exchange-online-powershell?view=exch

[2021-04-16 16:22] chrisda commented on #7628
@fabonilla, what is your question?

[2021-04-16 16:26] fabonilla commented on #7628
Chris

       My apologies.  I am new to github. I am intentind to keep this portal as storage, and zi was saving needed url. My apologies. Thanks for your quick reply

Fabian

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Chris Davis ***@***.***>
Sent: Friday, April 16, 2021 12:23:07 PM
To: MicrosoftDocs/off

[2021-04-16 16:33] chrisda commented on #7628
No problem.

Closing

[2021-04-16 16:33] #7628 closed

[2021-04-16 17:08] chrisda commented on #7586
@uz-it, I updated the Identity parameter description to say that more details are returned in the results, and I updated the Case parameter description.

For your nice to have suggestion, I can't do anything about that here in documentation. I would suggest that you open a support  case.

Thanks for the feedback.

Closing

[2021-04-16 17:08] #7586 closed

[2021-04-16 18:13] goyoshid opened #7631 "Need to update EventType parameter's definition for Get-MailDetailATPReport command."
**Summary**
`EventType` parameter's definition for Get-MailDetailATPReport command is not up to date even though valid values for the parameter has changed recently.
Please update valid values and descriptions for updated EventType paramter.

**Details**
Current document says the valid values for EventType are below:
[code]

However, we get following error when using almost all of the parameters l

[2021-04-16 19:45] chrisda commented on #7631
@goyoshid, thanks for the legwork. Topic updated as you described.

Closing

[2021-04-16 20:35] goyoshid commented on #7631
@chrisda
Thank you for your quick work.

[2021-04-16 20:37] #7631 closed

[2021-04-17 12:06] get-itips commented on #7518
Hello Paul, I sent this feedback to the team behind Docs.

Paul, I could get some information from the team behind the module, they are aware of this and are working on it. Hope this information helps you.

[2021-04-17 12:08] get-itips commented on #7464
I could get some information from the team behind the module, they are aware of this and are working on it. Hope this information helps everyone here.
@yogkumgit please close this issue as it is not documentation-related. Thanks

[2021-04-17 12:08] get-itips commented on #7469
I could get some information from the team behind the module, they are aware of this and are working on it. Hope this information helps everyone here.
@yogkumgit please close this issue as it is not documentation-related. Thanks

[2021-04-17 13:21] get-itips commented on #7533
Hello @Petri-X
How are you? tested on my tenant:

I could return blocked apps using Get-TeamsApp

I could get those apps using either the GUI or the Ps module.

It seems that for now there isn't a way to block by Ps.

What I saw were differences in the total number of apps returned by GUI vs Ps, there were more results in the Get-TeamsApp output, will try to pass this information along to the team

[2021-04-17 21:32] nikki-c opened #7634 "Syntax is incorrect for URL string"
The syntax is incorrect for the URL string as it is missing the double quotes

it needs to be in the following format or does not work

Get-PnPFile -Url "/sites/Automation/Shared Documents/test.csv"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1494ac7-090d-db80-ba26-5cdcc10d9eac
* Version Inde

[2021-04-18 16:39] IldAmourBonjamin opened #7635 "Connect-ExchangeOnline -Device device code not being outputted to any stream"
I'm trying to build a GUI for powershell office 365. For that I want to use the device switch so the user can login from a different browser. However I can't seem to subscribe to any stream that outputs the device code needed. Even when outputting ALL stream nothing shows up.

`Connect-ExchangeOnline -Device *> log.txt`

Expected output in log.txt

`To sign in, use a web browser to open the page h

[2021-04-18 21:09] rjohanneson opened #7636 "Get-Team -DisplayName returns partial matches"
Using the get-team -displayName "Team Name" returns teams that do not exactly match the supplied team name.

Example:
Get-Team -displayname "Art 4MS" -archived $false | select GroupID, DisplayName

GroupId                              DisplayName
-------                              -----------
deleted English Language Arts 4MS
deleted Art 4MS

Based on the documentation the command above should n

[2021-04-19 05:55] JohanssonMarkus opened #7637 "Update with StreamingModeEnabled"
There is no documentation about
property: StreamingModeEnabled

And in the headline it mention this policy is for Skype for business but it also affect Teams right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919bf080-1e20-1411-0d9e-41f559b883d8
* Version Independent ID: 6a37be44-d957-2b7a-a563-53332cf59098
* Conten

[2021-04-19 11:02] dariomws commented on #7569
@crshovrd41 - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted

[2021-04-19 15:17] mikhailrykov opened #7638 "what is the difference between suspendwhenreadytocomplete and preventcompletion switches"
[Enter feedback here]
explanation is required
what is the difference between suspendwhenreadytocomplete and preventcompletion switches
there are no details on preventcompletion  switch details compare to suspendwhenreadytocomplete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1ed5858-7a65-760f-95ef-4b6758b5f04e
* Ver

[2021-04-19 15:25] yogkumgit commented on #7525
@get-itips Thank you very much for the contribution and sharing this explanation. @JRVcr Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-19 15:25] #7525 closed

[2021-04-19 15:39] yogkumgit commented on #7464
@get-itips Thank you very much for the contribution and sharing this explanation. @erwanolivo Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-19 15:39] #7464 closed

[2021-04-19 15:41] yogkumgit commented on #7469
@get-itips Thank you very much for the contribution and sharing this explanation. @aspnet4you Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-19 15:41] #7469 closed

[2021-04-19 15:51] yogkumgit commented on #7569
@dariomws  Thank you very much for the contribution and sharing this explanation. @crshovrd41 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update

[2021-04-19 15:55] yogkumgit commented on #7451
@dariomws Thank you very much for the contribution and sharing this explanation. @bakerm00 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-19 15:55] #7451 closed

[2021-04-19 16:00] yogkumgit commented on #7514
@adagioajanes Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-04-19 16:00] #7514 closed

[2021-04-19 16:09] yogkumgit commented on #7499
@get-itips Thank you very much for the contribution and sharing this explanation. @DeyvLauzon Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-19 16:09] #7499 closed

[2021-04-19 17:01] get-itips commented on #7538
Hello @vayinapurapu
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from th

[2021-04-19 17:01] get-itips commented on #7552
Hello @petercarson
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from tha

[2021-04-19 17:01] get-itips commented on #7575
Hello @YuriySamorodov
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from

[2021-04-19 17:02] get-itips commented on #7588
Hello @BrooksV
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that re

[2021-04-19 17:07] get-itips commented on #7491
I passed this information along, @yogkumgit please close this as it is not documentation-related. Thanks

[2021-04-19 17:07] crshovrd41 commented on #7569
Hi, sorry, but I'm confused. How is this an issue with my tenant? You can blatantly see it's an issue with the module from the posted screen shot.

If I am really going to open a ticket, what should the ticket be about? What category? I need more information.

[2021-04-19 17:13] get-itips commented on #7533
@Petri-X I could get some more information, It seems that TAC only shows the one that can be blocked.

[2021-04-19 17:28] get-itips commented on #7549
@Markus-Hanisch Markus, thanks for returning and sharing that you found the property.
@yogkumgit please close this

[2021-04-19 17:44] get-itips commented on #7555
Hello @tkudya
Please read this article https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-install on how to connect with latest version of the Microsoft Teams PowerShell module, as the New-CsOnlineSession cmdlet is gone and the SfB module is now integrated into the Teams Ps module.
Thanks

[2021-04-19 17:47] get-itips commented on #7560
Hello @dappleby300 I'll try to pass this information on to the team behind the module, as here we are limited to documentation issues, also if you want you can open a support ticket from your tenant.
Hope this information helps you,

[2021-04-19 17:50] get-itips commented on #7579
Hello @quidan how are you?
As here we are limited to documentation issues, I'll try to pass this information on.
Thank you

[2021-04-19 17:53] get-itips commented on #7563
Hello @wimvanhouts how are you? Hope you are doing good.
Analyzed your inquiry, and I think the best would be to open a support ticket from the tenant, to understand why is it not taking into account the whitelist settings, as here we are limited to documentation fixes and improvements.
Thank you

[2021-04-19 18:05] YuriySamorodov commented on #7575
Thanks @get-itips!
Will do. Was not aware of the current workflow.

[2021-04-19 21:21] #7534 closed

[2021-04-20 00:06] #7044 closed

[2021-04-20 01:53] #7036 closed

[2021-04-20 07:13] dariomws commented on #7569
Hi @crshovrd41, thank you again for your comment.

I redirected you to support because it's the best place to report issues like this one. Here we are limited to documentation issues and improvements.

[2021-04-20 09:29] TomekPi opened #7643 "Change Site Collection URL from C#"
Is there an equivalent for Start-SPOSiteRename command in CSOM C#?
Or is there any other way to change SPO Site Collection URL from code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 833251ee-5a0c-fb40-7424-eb6ad7a25444
* Version Independent ID: 1751767f-1d8a-7750-35b9-725b5a3ad705
* Content: [Start-SPOSiteRename (Sh

[2021-04-20 10:42] yogkumgit commented on #7538
@get-itips Thank you very much for the contribution and sharing this explanation. @vayinapurapu Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-20 10:42] #7538 closed

[2021-04-20 10:45] yogkumgit commented on #7552
@get-itips Thank you very much for the contribution and sharing this explanation. @petercarson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-20 10:45] #7552 closed

[2021-04-20 10:47] yogkumgit commented on #7575
@get-itips Thank you very much for the contribution and sharing this explanation. @YuriySamorodov Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-20 10:48] #7575 closed

[2021-04-20 10:49] yogkumgit commented on #7588
@get-itips Thank you very much for the contribution and sharing this explanation. @BrooksV Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-20 10:49] #7588 closed

[2021-04-20 10:51] yogkumgit commented on #7491
@get-itips Thank you very much for the contribution and sharing this explanation. @Petri-X Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-20 10:58] #7549 closed

[2021-04-20 12:56] klishb opened #7647 "-UpdateType has no default"
Maybe it's just me, but it seems like -UpdateType parameter should have a default value.  It doesn't look like it's a required parameter, but if I don't specify it then what UpdateType is it using by default?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc3efa2d-f7d5-d9d0-d306-7707e4906065
* Version Independent ID: f

[2021-04-20 12:56] Petri-X commented on #7491
@shivtorov
Sorry to say, but you need to clarify that a bit more  :D
As when I'm running:

[code]

At least I'm getting nothing for PS Session. So I'm not sure if the "connect-MicrosoftTeams" is a PSSession(?). But as you also referring, it would be ten times better to have this into PS module directly. AD team has made like following:
`Get-ADUser -Identity UserA -Properties *`
or the -properties

[2021-04-20 13:37] crshovrd41 commented on #7569
This makes a lot more sense. I thought you supported the powershell module.
Thanks!

On Tue, Apr 20, 2021 at 00:13 Dario Woitasen ***@***.***>
wrote:

--
~bFox

[2021-04-20 14:06] hootmartin commented on #7518
Hello @get-itips ,
hope you're doing well!

I am facing the same issue. Can you get any info from the team behind the module about when a fix could be available? A rough indicator if we are talking about days, weeks or months would be very valuable!

Thank you!

[2021-04-20 14:34] get-itips commented on #7518
I am sorry, I am afraid I have no more information than that.
@yogkumgit please close this issue.

[2021-04-20 16:49] #7548 closed

[2021-04-20 17:01] #7498 closed

[2021-04-20 17:35] YuriySamorodov commented on #7518
@get-itips And me! And me! Same issue =( Looks like the whole MicrosoftTeams module is screwed...

[2021-04-21 07:24] MelanieO365 opened #7655 "Unable to set a logo of a site collection"
I'm trying to set the site logo with this command:
"Set-PnPSite -LogoFilePath c:\images\mylogo.png"

I'm not getting any errors when executing this but the logo is not updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a453f6db-c1b0-3769-9972-d948616982df
* Version Independent ID: d9e27a2c-8408-95ba-6d88-46e63fe87

[2021-04-21 09:46] JustinBarker77 opened #7656 "Missing Link - Learn more about team templates here."
No link attached to the first sentence "Learn more about team templates here."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d993c0f5-3b0d-4f42-8e78-cba9753f2586
* Version Independent ID: e89f71ce-b1f6-8016-3128-d6550a2d14bc
* Content: [New-CsTeamTemplate (MicrosoftTeamsPowerShell)](https://docs.microsoft.com/en-us/po

[2021-04-21 11:30] TsuMakoto opened #7657 "How can I filter by MailboxPermission?"
I'm using `Get-EXOMailbox -RecipientTypeDetails SharedMailbox -ResultSize Unlimited`.
However, it takes too long to retrieve and times out.
So I would like to filter by mailbox members.
How can I narrow down the number of retrievals using `Get-EXOMailboxPermission` or other methods?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-04-21 11:53] #7569 closed

[2021-04-21 16:23] thesauce98 opened #7658 "Issue using Connect-IPPSSession with DelegatedOrganization parameter for some (not all) tenants"
Using new EXOv2 module, with my own MFA enabled partner admin account.  Trying to connect to Security and Compliance center via powershell for all of my tenants I have delegated admin permissions to.  Out of 60 tenants, 16 connect successfully while the rest give me the message "Access Denied" as seen below.
`Connect-IPPSSession -UserPrincipalName myself@mydomain.com -DelegatedOrganization mytenan

[2021-04-21 16:28] TheBluLion opened #7659 "Update teamsenvironmentname parameter"
[Enter feedback here]

-TeamsEnvironmentName is no longer available in v 2.0 of this powershell module.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dce05-8bfd-0bfa-3753-0eb193852703
* Version Independent ID: 50e0366c-46b0-71da-b6f6-f422adaad785
* Content: [Connect-MicrosoftTeams (MicrosoftTeamsPowerShell)](https:/

[2021-04-21 18:40] levdavid commented on #7656
Thank you for pointing it out! will update the link to point to https://docs.microsoft.com/en-us/MicrosoftTeams/get-started-with-teams-templates-in-the-admin-console

[2021-04-21 18:41] levdavid commented on #7656
https://github.com/MicrosoftDocs/office-docs-powershell/pull/7664

[2021-04-21 21:16] zaaj opened #7665 "Conflicting information in the description of the -Alias option"
the stanza describing the -Alias option states that if you create a recipient and do not specify an email address, the Alias value will be used to generate the primary email address.  The last sentence of the stanza states that the Alias value never updates or generates the primary email address.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-04-21 22:00] chrisda commented on #7665
@zaaj , the last line of the Alias parameter descriptions says this, which is accurate:

For mailboxes, the Alias parameter is able to generate the primary email address.

[2021-04-22 09:21] MilutinPP commented on #7600
Hi I am fresh PS user trying to use PS with MS Teams. I can not program myself.  My problem is that I can't install certain previews. At the moment I am using 2.0.0 version, but fail with 2.2.0-preview (current version). And exactly this version I need because of certain cdmlets.

PS version I use is 5.1.18362.1171, MS Teams cdmlet 2.0.0.

To upgrade to 2.2.0-preview I enter this here: Install-Mod

[2021-04-22 14:07] mnadvornik opened #7666 "Missing parameter documentation in Set-MailboxRegionalConfiguration"
The description for the ``-Archive`` Parameter ist missing in the Documentation for the PowerShell Command ``Set-MailboxRegionalConfiguration``
Since the documentation shows the Placeholder ``{{ Fill Archive Description }}`` it seems like this is a mistake.

Would be great if this can be corrected

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-04-22 15:22] ingepepe opened #7667 "Filename or not?"
Example 5 states that:

[code]

However, the definition of the -TargetUrl parameter says:

[code]

Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85cba281-56e9-dfba-0ed8-df9a22029eaa
* Version Independent ID: 47c94158-6136-04ee-5fc0-712abcb1827a
* Content: [Copy-PnPFile (PnP.Powershell)](https://d

[2021-04-22 16:05] chrisda commented on #7666
@mnadvornik, see the discussion in <https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429>. Do you use this parameter? Does it work as you expect?

[2021-04-22 17:13] thesauce98 commented on #7658
Tried both, no luck.

First command did not work because "get-credential" is for basic authentication, and does not prompt for modern authentication.  My account is MFA enabled - as per Microsoft's terms for partners - all accounts with delegated admin permissions must use MFA.

Second command also did not work and resulted in same exact response - "Access is denied".  Additionally, this command a

[2021-04-22 17:23] chrisda commented on #7658
@thesauce98, the next step is to open a support case.

[2021-04-22 17:26] ingepepe opened #7670 "Need to specify Library"
In EXAMPLE 1, you can read:

[code]

If entered like this, I get the following error:

[code]

When entering the path WITH the library on it:

`Resolve-PnPFolder -SiteRelativePath "Shared Documents/demofolder/subfolder"`

It works:

[code]

Please update the example and the parameter description to reflect the need to include the library name in the path

---
#### Document Details

⚠ *Do not edit

[2021-04-22 17:27] thesauce98 commented on #7658
@chrisda I was afraid it would come to that.  What would be the best method to do that?  I wasn't sure if I should open a case through the Partner Center portal, or some other way that would get to the correct department/person who could assist with this.

[2021-04-22 17:30] chrisda commented on #7658
Partner Center portal sounds OK.

[2021-04-22 18:31] lqjliu opened #7672 "Get-CsOnlinePSTNGateway with error: Exception calling | "GetRemoteNewCsOnlineSession" with "1" argument(s):"
While connect MSTeams through this CMD:
Connect-MicrosoftTeams -AadAccessToken <String> -MsAccessToken <String> -AccountId <String>

I could access Teams CMD like Get-Team  Get-TeamUser, but when I tried to access the CMD of SkypeForBusiness like Get-CsOnlinePSTNGateway, New-CsOnlinePSTNGateway, I always got this error:

ParentContainsErrorRecordException: C:\Users\Administrator\Documents\PowerShe

[2021-04-22 21:18] robertcaretta opened #7673 "Azure App Permissions Documentation"
Can you document what Azure App permissions are required to run this command "Get-PnPFlowEnvironment"? Our environment requires us to start with the base minimal set of permissions. From a security perspective we need this documented for each cmdlet.

This is what we have to start...
![image](https://user-images.githubusercontent.com/1613085/115786286-32e8e100-a386-11eb-8237-4f1424fe8d39.png)

Thi

[2021-04-23 08:36] mwilens opened #7675 "Export-CsAutoAttendantHolidays only saves dates, not actions"
In Module MicrosoftTeams 2.0 it would be convenient that Export-CsAutoAttendantHolidays could also be saving the action and greeting (even if only TTS)

[2021-04-23 13:42] yogkumgit commented on #7500
@get-itips Thank you very much for the contribution and updating the documentation with PR. @TeamsTechBear Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-23 13:50] yogkumgit commented on #7533
@get-itips Thank you very much for the contribution and sharing this explanation. @Petri-X Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-23 13:50] #7533 closed

[2021-04-23 13:58] yogkumgit commented on #7560
@get-itips Thank you very much for the contribution and sharing this explanation. @dappleby300 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-23 13:58] #7560 closed

[2021-04-23 14:04] yogkumgit commented on #7563
@get-itips Thank you very much for the contribution and sharing this explanation. @wimvanhouts Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update

[2021-04-23 14:04] #7563 closed

[2021-04-23 14:11] yogkumgit commented on #7579
@get-itips Thank you very much for the contribution and sharing this explanation. @quidan Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2021-04-23 14:12] #7579 closed

[2021-04-23 14:46] TeamsTechBear commented on #7500
Thanks!

Sincerely,
Nicholas Bear
FastTrack Engineer
Microsoft FastTrack Center                                        Office: (469) 775-1056
http://fasttrack.microsoft.com<http://fasttrack.microsoft.com/>                                   nickbear@Microsoft.com<mailto:nickbear@Microsoft.com>
***@***.***D73825.9269ED80]

FastTrack Center Service Description<http://technet.microsoft.com/en-us/libra

[2021-04-23 16:52] Nestorfish opened #7679 "MicrosoftTeams 2.2.0-preview import failure - MacOS"
Module MicrosoftTeams 2.2.0-preview fails to import:

<pre>
PowerShell 7.2.0-preview.5
Copyright (c) Microsoft Corporation.

https://aka.ms/powershell
Type 'help' to get help.

PS /Users/me> Get-InstalledModule -AllVersions MicrosoftTeams

Version              Name                                Repository           Description
-------              ----                                ----------

[2021-04-23 20:48] aandrew129 opened #7680 "GCC High/DoD MetaDataUrl value incorrect"
Recently confirmed with MS support that Example 3 value of ..."-MetadataUrl https://login.microsoftonline.us/FederationMetadata/2006-12/FederationMetadata.xml" is incorrect.

GCC High and DoD environments should use the commercial endpoint of "https://nexus.microsoftonline-p.com/federationmetadata/2006-12/federationmetadata.xml"

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-04-23 20:59] chrisda commented on #7680
@aandrew129, OK. Done.

Thanks for the feedback.

Closing

[2021-04-23 20:59] #7680 closed

[2021-04-23 23:32] RowanAdvisors commented on #7419
I mean this is the repo linked to on the Powershell Gallery.  So either include someone from the product team on this repo.  UserVoice or submitting a ticket to MS Support is useless.  I have at least 3 open tickets with support that have been open for > month.

[2021-04-24 14:45] SetTrend opened #7683 "Archive parameter description missing"
This page - and related pages - lack a description of the `Archive` parameter:

![No description](https://user-images.githubusercontent.com/9283914/115962569-547bd100-a51c-11eb-8ead-2a392e4390a3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 573e63b4-b27b-5b7b-9269-78d308fd64d3
* Version Independent ID: 57b35909-0

[2021-04-26 11:32] hs-uol opened #7685 "Setting External Email Flag"
Please can you advise if this can be applied to a subset of a tenancy (a group of users) rather than tenancy wide, to allow testing.

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba41cae3-da51-0a3d-1652-bce98452d4dc
* Version Independent ID: a2d20c87-6277-a868-3c2e-e2fe225e6f17
* Content: [Set-ExternalInOutlook

[2021-04-26 14:47] #7500 closed

[2021-04-26 16:21] chrisda commented on #7683
@SetTrend, see the discussion in <https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429> about empty parameter descriptions. Do you use this parameter? Does it work as you expect?

[2021-04-26 16:42] SetTrend commented on #7683
Good question ...

The issue is: I don't know. If there'd be a description, then I could tell whether it's important or not, yet without, I'm lost.

At this stage I can't tell wether omitting it will demolish my Active Directory settings due to incorrect parameters set. This is particularly true for Exchange Online.

Once settings are demolished, this could seriously jeopardize the company. And th

[2021-04-26 17:28] chrisda commented on #7683
@SetTrend, in looking at Get-MailboxRegionalConfiguration and Set-MailboxRegionalConfiguration, Archive is a switch parameter (no values).

Judging by how the Archive switch is described in the 21 other cmdlets that have it (listed below), it appears to be a simple identifier, as in: don't return/modify the specified mailbox; return/modify the archive mailbox that's associated with the mailbox ins

[2021-04-26 17:55] chrisda commented on #7685
@hs-uol, judging by the lack of a specific mailbox identifier in the cmdlet, the setting appears to be organization-wide, not selective.

[2021-04-26 20:28] SetTrend commented on #7683
Thank you for taking the time, @chrisda, and dealing with the matter.

OK, archive mailboxes may become a necessity to consider later then, when someone in our company starts to be using it.

I wonder: don't they use a linter in the ExchangePowerShell module build pipeline that's validating parameters for missing descriptions? ... My particular case reported here may be harmless, but I'm pretty su

[2021-04-26 23:44] chrisda commented on #7683
@SetTrend, as I proposed in the link earlier in the issue, is it better to have an available parameter present but undocumented in a topic, or to have an available parameter not present in the topic at all? Pros and cons either way; I'm not sure there's a definitive answer.

[2021-04-27 00:04] larspassic opened #7687 "LinkType "EventSubscribers" is not documented"
When running Get-Help -Name Add-UnifiedGroupLinks, there is a value for the LinkType parameter called "EventSubscribers" please add documentation for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1061fe5-43fc-5677-49fe-1cee4163659a
* Version Independent ID: 08387a45-1c88-9803-8168-fb9079130b9d
* Content: [Add-U

[2021-04-27 00:57] SharePointOz opened #7688 "Example 3 is invalid"
The example 3 on this document is not valid since -FromRecycleBin is no longer a parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1478cc6-1cef-7ebc-1bc8-4f2c88996c5d
* Version Independent ID: b28c262d-dc7f-e7bf-5d6c-3bea6f2aa473
* Content: [Remove-PnPTenantSite (PnP.Powershell)](https://docs.microsoft.com/en-u

[2021-04-27 01:09] larspassic opened #7689 "LinkType "EventSubscribers" is not documented"
I have a situation where I need to perform a management task on all of the EventSubscribers of a UnifiedGroup. When I use Get-Help -Name Get-UnifiedGroupLinks, there is a value called "EventSubscribers" however when I try to use this value with Get-UnifiedGroupLinks -LinkType, I receive an error message: _"Invalid value for LinkType parameter."_

---
#### Document Details

⚠ *Do not edit this sect

[2021-04-27 05:38] cm-jclementi opened #7690 "Thread blocked in Connect-ExchangeOnline when WinForm dialog shown"
I'm trying to update an old powershell script to support the Exchange Online PowerShell V2 module that starts the command from a winform.  This appears to result in some deadlock / blocked thread. I took it a step further and broke it down in the example below to see where it is failing and appears to be in New-ExoPSSession

`Add-Type -AssemblyName System.Windows.Forms
$form = New-Object 'System.W

[2021-04-27 06:40] EricHindrichsen opened #7691 "Explanation for error message "Access to the requested resource is forbidden." is missing"
Hi,

When running Get-MyAnalyticsFeatureConfig I'm getting the error message "Access to the requested resource is forbidden." for some of my users. Now, I'm running it as a global admin, and I can get (and set) the config for most of my users, so I'm guessing that this error message means something else other than missing permissions (e.g. user never initialized MyAnalytics, user doesn't have the

[2021-04-27 10:18] SetTrend commented on #7683
Yes, I agree. Though, I would claim that an undocumented parameter is just like an non-existing parameter, as it cannot be applied wisely and deliberately (except by the single one person who implemented it).

[2021-04-27 10:18] #7683 closed

[2021-04-27 13:00] get-itips commented on #7600
Hello @kristjan-halldorsson how are you? hope you are doing good.
As @Markus-Hanisch Markus kindly explained the availability of cmdlets differs from version to version and it is right that there was a table describing which cmdlet was included in which version. Personally, I maintain two environments, one with GA version and one with Public Preview, but, that is my personal choice.
@MilutinPP See

[2021-04-27 13:02] get-itips commented on #7617
Hello @DEberhardt David, **thanks**, will try to pass this on, as here we are limited to documentation fixes.

[2021-04-27 13:10] get-itips commented on #7621
Hello @sarollins How are you? Before I try this, if I understood well based on your last message, you found out the cause of the error being the user is not EV enabled? Thank you for your clarification.

[2021-04-27 13:12] sarollins commented on #7621
Correct.  Not an issue with the PowerShell cmdlet

Thank you

Sent from my iPhone

On Apr 27, 2021, at 8:10 AM, Andres Mariano Gorzelany ***@***.***> wrote:

﻿

Hello @sarollins<https://github.com/sarollins> How are you? Before I try this, if I understood well based on your last message, you found out the cause of the error being the user is not EV enabled? Thank you for your clarification.

—
You

[2021-04-27 13:14] get-itips commented on #7621
Thanks for returning and clarifying that.
@yogkumgit please kindly close.

[2021-04-27 13:15] get-itips commented on #7626
Hello @Mr-K07 how are you? Hope you are doing good.
I can not say why it is not present in the latest General Availability version, probably the team pulled it to improve it in the -preview version, but I do not know exactly.

[2021-04-27 13:21] get-itips commented on #7636
Hello @rjohanneson thanks for your feedback, I could reproduce so I will propose a different wording for the Get-Team article.
Thanks again

[2021-04-27 13:49] yogkumgit commented on #7621
@get-itips Thank you very much for the contribution and sharing this explanation. @sarollins Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-27 13:49] #7621 closed

[2021-04-27 13:55] get-itips commented on #7659
Hello @TheBluLion I checked both in GA version (Currently 2.0) and Public Preview (2.2.0-Preview) and the parameter is still there.
Thanks

[2021-04-27 14:01] get-itips commented on #7518
@yogkumgit please close this issue.

[2021-04-27 14:01] get-itips commented on #7672
Hello @lqjliu how are you?
This has been reported in the past, please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/7518 and https://github.com/MicrosoftDocs/office-docs-powershell/issues/7469#issuecomment-821812987

[2021-04-27 14:06] get-itips commented on #7675
Hello @mwilens how are you?
Here, we are limited to documentation fixes and improvements, hope I could help you.
Thanks

[2021-04-27 16:15] kilasuit opened #7693 "Please provide Example that uses the Identity Parameter"
As Title - Please provide Example that uses the Identity Parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dce05-8bfd-0bfa-3753-0eb193852703
* Version Independent ID: 50e0366c-46b0-71da-b6f6-f422adaad785
* Content: [Connect-MicrosoftTeams (MicrosoftTeamsPowerShell)](https://docs.microsoft.com/en-us/powershell

[2021-04-27 17:08] chrisda commented on #7689
@larspassic, see related Issue [7207](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7207). The content on the web has been updated to remove EventSubscribers as a possible value for the LinkType parameter. Although this same content is used for help at the command line (`Get-Help <Cmdlet>`), there's always a lag. The content on the web is always more up-to-date than the help at th

[2021-04-27 18:15] hs-uol commented on #7685
Thanks @chrisda. I also managed to confirm directly with Microsoft Support today.

[2021-04-27 20:33] lqjliu commented on #7672
thanks @get-itips

[2021-04-27 21:54] JohanssonMarkus commented on #7637
Hey, @get-itips
I noticed the parameter is available when running Get-CsTeamsMeetingPolicy

PS C:\> Get-CsTeamsMeetingPolicy -Identity global |select id*, AllowMeetingRegistration,WhoCanRegister,AllowEngagementReport,StreamingModeEnabled

Identity                 : Global
AllowMeetingRegistration : True
WhoCanRegister           : EveryoneInCompany
AllowEngagementReport    : Enabled
StreamingModeEn

[2021-04-28 00:09] get-itips commented on #7637
Hello @JohanssonMarkus
Markus, thanks for your clarification, what you saw in the output for `Get-CsTeamsMeetingPolicy` is a property, not necessarily a parameter that should be available in the `Set-`, usually when this happens, maybe the property is not generally available to be settable.
Hope this information helps you,
Andrés

[2021-04-28 02:38] cm-jclementi commented on #7690
Closing issue, this is a bug in the command itself and not a documentation issue

[2021-04-28 02:38] #7690 closed

[2021-04-28 14:00] kbils opened #7697 "ExchangeLocationExclusion Documentation"
Under the "ExchangeLocationExclusion" param it says: "This parameter is available or functional only in on-premises Exchange" but then in the "Applies to" section it lists "Security & Compliance Center" but I don't see the option to exclude mailboxes in the Security & Compliance Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-04-28 14:32] get-itips commented on #7622
Hello @kileyohl how are you? Can you kindly specify, do you copy and use the exact example?  when are you receiving that error? Thanks

[2021-04-28 17:06] chrisda commented on #7697
@kbils, for the most part, availability of a parameter in a particular environment (Exchange Server PowerShell, Exchange Online PowerShell, or Security & Compliance Center PowerShell) means that parameter will work in that environment, but that's not an absolute hard and fast rule. There are a small percentage of cmdlets and parameters on cmdlets that are available in a particular environment, but

[2021-04-28 20:44] rickzeleznik commented on #6323
This drove me nuts a while back.  Ended up having to do a lot of comparisons between the different module versions, but ultimately found the following for the "-template" parameter:

1.0.5: Does not have it
1.0.6: Does not have it
1.0.7: Does not have it
1.1.3: Has it!!
1.1.4: Does not have it
1.1.5: Does not have it
1.1.6 - 1.1.10:  Has it!

Havent checked beyond that, but my suspicion was that i

[2021-04-28 22:00] get-itips commented on #7643
Hello @TomekPi how are you? Hope you are doing good!
Here, we are limited to documentation changes and improvements for PowerShell content.
Maybe a good start to find out what you are looking for could be this [another resource](https://github.com/SharePoint/sp-dev-docs)
Hope this helps you.

[2021-04-28 22:01] get-itips commented on #7623
Hello @ingepepe
How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that r

[2021-04-28 22:02] get-itips commented on #7634
Hello @nikki-c
How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that re

[2021-04-28 22:02] get-itips commented on #7647
Hello @klishb

How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that re

[2021-04-28 22:02] get-itips commented on #7667
Hello @ingepepe

How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that

[2021-04-28 22:02] get-itips commented on #7670
Hello @ingepepe
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that r

[2021-04-28 22:03] get-itips commented on #7673
Hello @robertcaretta
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from t

[2021-04-29 05:40] stuart-drysdale opened #7698 "List of permission in PNP Management Powershell"
Hi
there seems to be way more permission than we would like to apply in our tenant when all we are trying to achieve is grant permissions to a user to use SP credentials to connect to a site collection and perform functions with file, folders, lists,  permissions etc. They don't need all the rest.

How do we restrict this?

Thanks

Stuart

[2021-04-29 20:49] #7636 closed

[2021-04-30 03:30] sulbig commented on #7679
I was having a similar issue on Windows just now. Had to open the 'Modules/MicrosoftTeams/2.2.0/MicrosoftTeams.psd1' file and replace all instances of "netcoreapp2.1" with "netcoreapp3.1". Perhaps the issue is similar on macOS?

[2021-04-30 03:35] sulbig commented on #7679
I can confirm the same issue exists in the same file on macOS.

[2021-04-30 07:32] mwilens commented on #7675
thanks for informing me, I created an uservoice at:
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/43321176-export-and-import-autoattendantholidays-actions-an

[2021-04-30 07:32] #7675 closed

[2021-04-30 10:32] Nestorfish commented on #7679
Fixed in 2.3.0

[2021-04-30 10:32] #7679 closed

[2021-04-30 14:05] barclayadam commented on #7519
Hi @chrisda

Sorry for delay in getting back to you.

Further to the above, we have been able to replicate this without connecting via. C# and instead only using plain Powershell (Windows 10, PowerShell v5.1), and the Exchange Management module v2.0.4 (and v0.4578.0).

We would only run two commands:

[code]

That is to say, that the way we connect was *not* responsible for the problem. I'm not re

[2021-04-30 14:42] yogkumgit commented on #7643
@get-itips Thank you very much for the contribution and sharing this explanation. @TomekPi Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 14:42] #7643 closed

[2021-04-30 14:44] yogkumgit commented on #7623
@get-itips Thank you very much for the contribution and sharing this explanation. @ingepepe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 14:46] yogkumgit commented on #7634
@get-itips Thank you very much for the contribution and sharing this explanation. @nikki-c Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 14:46] #7634 closed

[2021-04-30 14:48] yogkumgit commented on #7647
@get-itips Thank you very much for the contribution and sharing this explanation. @klishb Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 14:48] #7647 closed

[2021-04-30 14:49] yogkumgit commented on #7667
@get-itips Thank you very much for the contribution and sharing this explanation. @ingepepe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 14:51] yogkumgit commented on #7670
@get-itips Thank you very much for the contribution and sharing this explanation. @ingepepe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 14:52] #7670 closed

[2021-04-30 14:58] yogkumgit commented on #7593
@DEberhardt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 14:58] #7593 closed

[2021-04-30 16:29] #7673 closed

[2021-04-30 16:34] #7659 closed

[2021-04-30 16:36] chrisda commented on #7519
@barclayadam, your best way forward is to open a support case.

[2021-04-30 16:37] yogkumgit commented on #7637
@get-itips Thank you very much for the contribution and sharing this explanation. @JohanssonMarkus Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 16:37] #7637 closed

[2021-04-30 16:39] #7626 closed

[2021-04-30 16:41] yogkumgit commented on #7617
@get-itips Thank you very much for the contribution and sharing this explanation. @DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 16:41] #7617 closed

[2021-04-30 16:44] yogkumgit commented on #7600
@get-itips Thank you very much for the contribution and sharing this explanation. @kristjan-halldorsson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 16:44] #7600 closed

[2021-04-30 16:52] Kateyanne commented on #7188
Reopened per Michelle Nappa 'SpeakerAttributionMode parameter is still missing a description. It just lists the possible values'

[2021-05-02 00:18] JAK1047 opened #7705 "Error Reporting"
The document states how to generate error logs for error reporting via email, but not where to actually report it. Contacting Owners via the Powershell Gallery link gets you no response and after opening a ticket I was told they were unsure who the owners were. Is there a correct address to use for error reporting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-05-02 14:55] sasi8819 commented on #5379
I'm also facing issue.

PS C:\windows\system32> Set-CsUser -Identity user@domain.com  -OnPremLineURI tel:+44XXXXXXX -EnterpriseVoiceEnabled $true -HostedVoiceMail $true
Set-CsUser : A parameter cannot be found that matches parameter name 'Identity'.
At line:1 char:12
+ Set-CsUser -Identity user@domain.com -OnPremLineURI tel:+44XXXXX ...
+            ~~~~~~~~~
    + CategoryInfo          : InvalidA

[2021-05-03 09:57] adpe commented on #6737
Hi @get-itips

I'm facing the same problem. Can we please re-open this issue?

[2021-05-03 13:31] Philipp-Zumdohme opened #7706 "Set-CsUser not working in Microsofteams PowerShell Module Version 2.3.0"
Hello,

today I wanted to use the updated module to enable the enterprise voice features for new colleagues.
When I am trying to use the commands:

Import-Module MicrosoftTeams
Connect-MicrosoftTeams
Set-CsUser -Identity $upn -EnterpriseVoiceEnabled $true -HostedVoiceMailbox $true

It is not working:
It does not accept the parameter "-Identity".
When I use autocomplete it only tells me there is a

[2021-05-03 16:35] chrisda commented on #7705
@JAK1047, try the following email address:

The email address is purposefully obfuscated to avoid spam.

[2021-05-03 16:42] JAK1047 commented on #7705
Is the correct method to ask via a GitHub Issue to receive that like I did then? Some guidance on proper next steps when encountering an error may be best added if there is a section on error reporting via email on that doc.

[2021-05-03 16:52] JAK1047 commented on #7705
Ahh thank you. Would it make sense to update the doc to include that part under the error reporting section as well? I didn't think to look specifically under Linux considering it was unrelated to what I was looking to report.

[2021-05-03 17:49] chrisda commented on #7705
@JAK1047, I added the email address in that Report bugs section.

Thanks for the feedback.

Closing

[2021-05-03 17:49] #7705 closed

[2021-05-03 17:57] jcmmarq commented on #4727
did anyone come up with a good solution for assign CVI policy to security group

[2021-05-04 14:33] ParaGlideRocks commented on #7188
Hi Team,
please add a brief description to parameters that are not intended for internal purposes and not just which values they can assume.

[2021-05-04 14:48] jasperbaes opened #7713 "Get-CsTeams* issue with application connection on 2.3.0"
Hello,

These following commands work perfectly:
[code]

But, when I connect to MicrosoftTeams with a multi-tenant Azure application, and run any Get-CsTeams* cmdlets, I get the following output:
[code]
This method did work a few weeks and months ago. Connecting to other PS modules with the azure application is not a problem (ExchangeOnline, AzureAd etc.).

I've tried the following things, but the

[2021-05-04 16:35] lansalot commented on #7706
Same here - access denied. The grief we're having trying to do what should be a simple thing, it's just unreal. Tried different versions, tried to find a working New-CSOnlineSession, nothing appears to be as it should.

You'd think you could just download the module, Connect-MicrosoftTeams and change it. Nope !

[2021-05-05 05:26] boerspeter commented on #7706
came here to tell this, had to revert to 2.0.0 because we're not able to enable Enterprise Voice for Teams users in latest release

[2021-05-05 06:04] VRADDB commented on #7706
Same issue, install-MicrosoftTeams installs version 2.3.0 by default there are no release notes of this version as of yes.
Set-CsUser cmdlet (and maybe others) are not working properly or documentation is missing if the parameters have changed.

Uninstalling this version and installing v2.0.0 did work for me.

[2021-05-05 07:41] FooBarr1868 commented on #7706
Same issue exactly as described by OP and resolved by the same method. Thanks.

[2021-05-05 10:26] FrankCarius opened #7715 "Missing Parameter "-DomainController""
The current Version does not document the parameter "-DomainController".  This parameter is required, if you move Users in a Single-Forest/Multi-Domain  topology  to Skype for Business Online or Teams. and cannot start the commandlet in the user-domain.
Move-CSUser searches for users only in the current domain. there is no parameter to set the scope to "forest". Exchange has such an option with "S

[2021-05-05 11:07] ruudvanstrijp commented on #5379
@sasi8819 Do you happen to just have upgraded the MicrosoftTeams module to 2.3?
I have the same issue since upgrading from 1.1.6 to 2.3 this morning. The new Set-CsUser command somehow has '-id' instead of '-identity', and it has no access to my Teams tenant: "Set-CsUser : Access Denied.".

I have installed a new VM, where I did the following tests:
- Set-CsUser in Powershell: Command not found
-

[2021-05-05 11:09] ruudvanstrijp commented on #7706
I have the same issue since upgrading from 1.1.6 to 2.3 this morning. The new Set-CsUser command somehow has '-id' instead of '-identity', and it has no access to my Teams tenant: "Set-CsUser : Access Denied.".

I have installed a new VM, where I did the following tests:
- Set-CsUser in Powershell: Command not found
- Install-Module -Name MicrosoftTeams -Force -Scope AllUsers
- Set-CsUser is now f

[2021-05-05 11:49] Larryngolog opened #7716 "Time range boundries/duration"
It looks like the Time range can be provided in any boundaries but trying to use the boundaries not aligned with the 15 minute range will return error when using such Time range in New-CsOnlineSchedule.

Please clarify the following:
- A time range must be aligned with 30/60-minutes boundaries. - shouldn't this be 15/30/45/60 minute boundaries?
- A time range can span from one minute to 24 hours.

[2021-05-05 14:34] #7519 closed

[2021-05-05 14:39] yogkumgit commented on #7188
@get-itips

[2021-05-05 14:43] yogkumgit commented on #6737
@get-itips

[2021-05-05 14:48] trentcioran opened #7718 "Permissions no longer available"
In **Step 2** Office 365 Exchange Online is no longer provided as an option and consequently Exchange.ManageAsApp can not be selected/added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c465a6d5
* Content: [App-only authenticat

[2021-05-05 15:05] yogkumgit commented on #7511
@trudolf-msft Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable info

[2021-05-05 15:05] #7511 closed

[2021-05-05 15:06] yogkumgit commented on #7540
@BSiefferman Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-05 15:06] #7540 closed

[2021-05-05 15:09] yogkumgit commented on #7618
@bholzmmc Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable informat

[2021-05-05 15:09] #7618 closed

[2021-05-05 15:10] yogkumgit commented on #7665
@zaaj Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-05 15:11] #7665 closed

[2021-05-05 15:12] yogkumgit commented on #7685
@hs-uol Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-05 15:12] #7685 closed

[2021-05-05 15:13] yogkumgit commented on #7689
@larspassic Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-05 15:13] #7689 closed

[2021-05-05 15:43] Jeremy919 opened #7719 "In Exchange Online, the Identity parameter does not accept GUID"
In Exchange Online, the Identity parameter does not accept GUID.  Please update the documentation accordingly.  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80741fad-e384-0205-6827-8cb83ea8fdf1
* Version Independent ID: 76fb7d41-3729-dd2b-f483-b9dc87a29a38
* Content: [Remove-MobileDevice (ExchangePowerShel

[2021-05-05 15:43] get-itips commented on #6737
Hello everyone, as this is not a documentation issue (here we are limited to documentation fixes, improvements, typos, etc) I suggest opening a support ticket directly from your tenant. Thank you all

[2021-05-05 16:46] chrisda commented on #7719
@Jeremy919, if the Identity parameter in Remove- doesn't accept a GUID value, then Identity in Get- should also not accept GUIDs.

Can you confirm?

Also, the output of the following Get-MobileDevice command should show a GUID value and an ExchangeGUID value. Does one work but not the other?

[code]

[2021-05-05 16:58] Jeremy919 commented on #7719
@chrisda - I stand corrected.  Both Get- and Remove- do work with the GUID.  Thank you very much for your prompt reply and guidance!  This issue can be closed.

[2021-05-05 17:12] chrisda commented on #7719
Great! Closing.

[2021-05-05 17:12] #7719 closed

[2021-05-05 18:01] chrisda commented on #7718
@trentcioran, are you saying that step 2 in Step 2 where you enter the GUID value on the Manifest page no longer works?

[code]

[2021-05-05 18:06] trentcioran commented on #7718
Hi @chrisda ,

No, what I was pointing out is that when adding permissions you are indicated to select Office 365 Online and then add the permission Exchange.ManageAsApp, but Office 365 Online is no longer an option available in the Request API permissions selection APIs, not even shown in the legacy APIs so either it is no longer possible (making this document invalid) or the name of the API chan

[2021-05-05 18:37] chrisda commented on #7718
@trentcioran, the topic was rewritten to account for the fact that you can't select Exchange.ManageAsApp in the UI anymore. Known issue.

Are you talking about the reference in step 2 in the [Set up app-only authentication](https://docs.microsoft.com/powershell/exchange/app-only-auth-powershell-v2#set-up-app-only-authentication) section?

The title and link of that step is: [Assign Exchange Online

[2021-05-05 19:26] gautam0107 opened #7721 "-GenerateRingingWhileLocatingUser attribute is decommissioned"
[Enter feedback here]

-**GenerateRingingWhileLocatingUser** (Ringback Bot) attribute is decommissioned but still, it is mentioned in our documents which need to be modified. It is creating confusion between our customers. Please check the below article:

https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/commit/352acb5a91ecf769d2b7a3bea482873c06da3e33

---
#### Document Details

⚠ *Do n

[2021-05-06 02:31] LFChrisM opened #7724 "Set-CsAutoAttendant Missing Parameter"
In the latest MicrosoftTeams 2.3.0 power shell module it appears the Set-CsAutoAttendant -instance parameter is missing.

as outlined in https://docs.microsoft.com/en-us/powershell/module/skype/set-csautoattendant

![image](https://user-images.githubusercontent.com/83740239/117233875-4bb5c400-ae67-11eb-8c72-4560f0d8ec81.png)

[2021-05-06 05:59] seb07-cloud opened #7725 "Set-CsCallQueue -Identity xxxxx -User >> Bad Request"
![image](https://user-images.githubusercontent.com/16953863/117249119-59585300-ae41-11eb-9af6-2f616c7aad28.png)

Set-CsCallQueue doesnt accept ObjectID for -User

![image](https://user-images.githubusercontent.com/16953863/117249206-7ee55c80-ae41-11eb-9618-6d57a9dfed6b.png)
![image](https://user-images.githubusercontent.com/16953863/117249240-8b69b500-ae41-11eb-9cad-6f7d76b99294.png)

![image](htt

[2021-05-06 11:54] aslan-im opened #7727 "Get-UnifiedGroup issue."
I have ran Get-UnifiedGroup 3 times, and have got 3 different results. How it is possible?
![image](https://user-images.githubusercontent.com/7303058/117294092-e8359180-ae7a-11eb-86c5-bd847b70dc7e.png)

[2021-05-06 11:55] #7727 closed

[2021-05-06 11:55] aslan-im commented on #7727
wrong branch

[2021-05-06 20:06] gregg79 opened #7733 "Get-CsUserPolicyAssignment performance degradation"
On the same machine this function takes 2-2.5 seconds to run with version 1.1.6, 14.5-15.5 seconds with version 2.0.0, and 4-4.5 seconds with version 2.3.0.

Since there is not currently a way to get group-based policy assignment data for multiple users using a single command, I am forced to query user by user. With 19,000 active users the speeds in 1.1.6 were barely fast enough to query all users

[2021-05-07 06:24] JohanssonMarkus opened #7735 "AllowMeetingRegistration"
There is no description on the NoteProperty AllowMeetingRegistration
Would be good to have a description about this and not only which values to choose from...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919bf080-1e20-1411-0d9e-41f559b883d8
* Version Independent ID: 6a37be44-d957-2b7a-a563-53332cf59098
* Content: [S

[2021-05-07 06:26] JohanssonMarkus commented on #7735
Seems to also be another request
7188
Closing this

[2021-05-07 06:26] #7735 closed

[2021-05-07 06:27] JohanssonMarkus commented on #7188
Come on, it can't take several month to update this :(

[2021-05-07 08:42] JohanssonMarkus commented on #7188
Another thing is for the AllowMeetingRegistration it mention values to set are Everyone/EveryoneInCompany
![image](https://user-images.githubusercontent.com/32453241/117423265-d3abd480-af20-11eb-86b2-3fb0ac7a3ac4.png)

But I think it should be True/False? Please correct and add a description as well what this controll?
![image](https://user-images.githubusercontent.com/32453241/117423375-f3db9380-

[2021-05-07 08:56] tkitsupport opened #7736 "Typo in example"
First Example has a typo in
-FileName"  should be -FileName " (space is incorrectly after the speechmarks instead of before

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b138fd60-8659-108a-2770-0b7beceafd48
* Version Independent ID: cd079e2f-a3b3-c81b-163b-5cba8d2e8c9c
* Content: [Import-ExchangeCertificate (ExchangeP

[2021-05-07 16:31] chrisda commented on #7736
@tkitsupport, fixed. In the future, you too can directly fix issues like this without opening a GitHub Issue first.  For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2021-05-07 16:31] #7736 closed

[2021-05-07 16:42] niharaobsec opened #7738 "`MI_RESULT_FAILED` Error with `Connect-ExchangeOnline` running in app only mode"
Is there a way to get to the root cause of the `MI_RESULT_FAILED` error I'm seeing?

**Environment:**
Running in a Docker container: mcr.microsoft.com/azure-powershell:5.9.0-ubuntu-18.04

$PSVersionTable
[code]

**Error:**
[code]

**Error Log:**

[code]

[2021-05-07 16:48] SGurjitsk opened #7739 "Set-CsOnlineLisLocation not working"
We need to amend the numbers for our ELIN field but the below commands are not working at all.
We have also tried the phone number with " "
Can someone help please we have already validated the address etc.

ValidationStatus         : Validated
NumberOfVoiceUsers       : 0
NumberOfTelephoneNumbers : 0
===================================

Command used :
Set-CsOnlineLisLocation -CivicAddressId 3e8c8

[2021-05-07 20:33] ChrisFullerAstro commented on #7738
Upvote

[2021-05-07 20:42] jarvann opened #7740 "Required Authorization/Connection Type to utilize this function"
When I try to access the Add-PnPTeamsTeam function through an Azure Function using:

`Connect-PnPOnline -Tenant [tenant].onmicrosoft.com -ClientId [appid] -Thumbprint [thumbprint] -Url https://[tenant].sharepoint.com`

I get the following error:
![image](https://user-images.githubusercontent.com/14030665/117507065-92cdb300-af54-11eb-9e22-902bdd39889d.png)

I am wondering if the Doc needs updating

[2021-05-07 20:51] jarvann commented on #7740
Actually... it seems like it doesn't work regardless of how I generate the connection. using 1.5.35 version of PnP.PowerShell

![image](https://user-images.githubusercontent.com/14030665/117506970-72055d80-af54-11eb-9bbb-0f0d515ecba6.png)

[2021-05-08 03:23] aakash-shah opened #7742 "Provide Details About AllowLimitedAccess Value"
Under the `-ConditionalAccessPolicy` parameter, one of the values is `AllowLimitedAccess`. However, this Set-SPOSite page does not contain details or an explanation of what specifically `AllowLimitedAccess` restricts or allows.

The Set-SPOSite page references back to [Control access from unmanaged devices](https://docs.microsoft.com/en-us/sharepoint/control-access-from-unmanaged-devices). However

[2021-05-10 14:27] cimares opened #7744 "MoveState "ReadyToTrigger" not shown in this document"
When executing the Get-SPOUserAndContentMoveState in our environment, we get a number of responses with a MoveState of ReadyToTrigger.

I'm assuming this means that the system has detected that the users PDL does not match their current GEO and that the system expects the user to have a migration performed at some point, but this is not made clear in this document.

![MoveState](https://user-image

[2021-05-10 18:31] sarollins opened #7746 "Grant change does not stick"
I issue a Grant-CsTenantDialPlan

PS D:\> Grant-CsTenantDialPlan -Identity 'dsmith@abc.com' -PolicyName 'Calgary'

No error is indicated, but when I issue a Get command, the TenantDialPlan is not updated

PS D:\> Get-CsOnlineUser -Identity 'dsmith@abc.com' | select TenantDialPlan

TenantDialPlan
    -   -   -   -  -

This is very hit/miss and there seems to be no rhyme or reason as to when it does

[2021-05-10 19:23] ingepepe opened #7747 "Teams or Skype"
This parameters reads as:

**It claims that you can specify whether Teams or Skype but it doesn't show how**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9153892d-ff85-6117-7566-3ce55fff57c9
* Version Independent ID: 463efb5b-6bb0-97eb-bd51-f2e12cefc703
* Content: [Set-MailboxCalendarConfiguration (ExchangePowerShell

[2021-05-11 04:57] JakeMoe opened #7749 "Broken link"
Important link in blue at the top of the page goes to a 404 page:

https://www.poshtestgallery.com/packages/MicrosoftTeams

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b49821e2-bc94-5125-03e0-a31c650f48ca
* Version Independent ID: 2c52cc4e-47a1-be0d-8860-1011adf061fd
* Content: [New-TeamChannel (MicrosoftTeamsPowerSh

[2021-05-11 09:40] jay1927 opened #7750 "New-CsTeamsComplianceRecordingPolicy, Get-CsTeamsComplianceRecordingPolicy is not recognized as the name of a cmdlet"
I have installed MicrosoftTeams module 2.3.1 and login as tenant admin. ' Also New-CsTeamsComplianceRecordingPolicy' command showing in the module "MicrosoftTeams" but when executing getting following message. Please assist.

The term 'New-CsTeamsComplianceRecordingPolicy' is not recognized as the name of a cmdlet, function, script file, or
operable program. Check the spelling of the name, or if a

[2021-05-11 11:38] EricHindrichsen commented on #7691
Hi @chrisda, do you need any more input from my side?

[2021-05-11 15:51] jonwbstr opened #7751 "Is there a list of all the commands not supported for delegated admins?"
This command doesn't support delegated admins.

I have come across a few different commands, managing Dynamic Groups is still not supported for delegated admins, I think converting mailboxes was fixed recently...

Here's two suggestions if there are no plans to change the behavior:

Repro:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-05-11 17:11] chrisda commented on #7691
@EricHindrichsen, if you have the required permissions as described in the topic and you still get the error, then your best course of action is to open a support case for the users where the action is failing.

[2021-05-11 17:19] chrisda commented on #7751
@jonwbstr, send email to the support alias as described below and ask your question about why Get-EXOMailboxFolderStatistics (or any of the other Get-EXO cmdlets?) don't work in delegated environments. Out of curiosity, does Get-MailboxFolderStatistics work?

When you report an issue at `exocmdletpreview[at]service[dot]microsoft[dot]com`, be sure to include the log files in your email message. To

[2021-05-11 23:18] jonwbstr commented on #7751
Hmm, interesting. I just tried to repro in a new window and it decided to work as intended.

The first time I tried using the v1 module got the error below with the legacy command, so I connected with v2 module and tried the new command and got the same error from the same window.

No error in new window and only connecting with v2 module
Created a new window and tried command with v1 module like

[2021-05-12 07:47] danielbecker commented on #7469
Just in case anyone else stumbles upon this issue: There's a new version of the package (2.3.1) that fixed the issue for me. https://www.powershellgallery.com/packages/MicrosoftTeams/2.3.1

[2021-05-12 08:32] danielbecker commented on #7464
Just in case anyone else stumbles upon this issue: There's a new version of the package (2.3.1) that fixed the issue for me. https://www.powershellgallery.com/packages/MicrosoftTeams/2.3.1

[2021-05-12 13:15] ingepepe opened #7755 "Add clarification for site columns"
For this parameter:

Please add to the description: "If omitted, the column would be created as a site column"
or something like that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f90faed1-3492-037c-115c-aa0b69ec56b6
* Version Independent ID: e114139d-1dad-eecd-fe0e-29f834096d7c
* Content: [Add-PnPField (PnP.Powershe

[2021-05-12 15:10] NickElniff opened #7756 "-AllowMeetingRegistration parameter incorrect values"
The options for -AllowMeetingRegistration are incorrect. Everyone and EveryoneInCompany are not valid settings.
This parameter should be either True or False

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919bf080-1e20-1411-0d9e-41f559b883d8
* Version Independent ID: 6a37be44-d957-2b7a-a563-53332cf59098
* Content: [Set

[2021-05-12 15:51] blue-ken opened #7757 "AllowMeetingRegistration Values incorrect"
AllowMeetingRegistration Values incorrect it should either be true or false

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919bf080-1e20-1411-0d9e-41f559b883d8
* Version Independent ID: 6a37be44-d957-2b7a-a563-53332cf59098
* Content: [Set-CsTeamsMeetingPolicy (SkypeForBusiness)](https://docs.microsoft.com/en-us/powersh

[2021-05-12 17:44] chrisda commented on #7028
@jonwbstr, it would appear no one is working to update the documentation, or it would have been done by now. So, I take it that the solution is to say that parameter doesn't work in Exchange Online?

[2021-05-12 17:52] chrisda commented on #7738
@niharaobsec, follow the instruction below to generate log files and send them to the support email address:

When you report an issue at `exocmdletpreview[at]service[dot]microsoft[dot]com`, be sure to include the log files in your email message. To generate the log files, replace \<Path to store log file\> with the output folder you want, and run the following command:

[code]

[2021-05-12 21:00] nikki-c opened #7758 "Formatting change needed"
You have the following two attributes displayed on the same line. They need to be on separate lines

[-AllowOrganizersToOverrideLobbySettings <Boolean>][-AllowUserToJoinExternalMeeting <String>]
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919bf080-1e20-1411-0d9e-41f559b883d8
* Version Independe

[2021-05-12 22:02] jonwbstr commented on #7028
I've got an email from 3/15 where one of the case owners asked for the docbug issue # and nobody replied. I don't see any signs the case was closed so l pinged everyone in the ticket asking for an update. It might take a few days to run this up the flag pole so to speak.

[2021-05-12 23:03] WillemVerwijs opened #7759 "what is ayla?"
What is ayla\ in example 1? please make the text in the example more clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 898a7767-d713-4b9a-de97-0c7d787aaa07
* Version Independent ID: fe68ba74-2819-98d3-5e23-960e2501050e
* Content: [Get-MailboxRestoreRequest (ExchangePowerShell)](https://docs.microsoft.com/en-us/powe

[2021-05-13 01:03] chrisda commented on #7759
@WillemVerwijs. it's a person's first name. I updated the text to clarify.

Thanks, for the feedback.

Closing

[2021-05-13 01:03] #7759 closed

[2021-05-13 12:30] get-itips commented on #7688
Hello! @SharePointOz Neville 👍

How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

The documentation for PnP cmdlets is then synced from that

[2021-05-13 13:17] VelinGeorgiev opened #7763 "Incomplete page for the Set-CsTeamsAppSetupPolicy"
[Enter feedback here]

This article seems incomplete.

`[-PinnedAppBarApps <>]` - type is missing. What I am support to enter as input?
While reading it I see this example:
![image](https://user-images.githubusercontent.com/1049476/118130632-7e2a6880-b3f5-11eb-8fb2-496e256adb34.png)

You could provide at least why is intentionally not provided.

What does "Do Not use" mean it the below context?
![

[2021-05-13 13:27] get-itips commented on #7706
Hello everyone here
I can confirm that version 2.3.1 of the Teams PowerShell module reverts back to `-Identity` in `Set-CsUser` as the current documentation for the article details.
Hope this information helps you.

[2021-05-13 13:37] get-itips commented on #7713
Hello @jasperbaes Jasper, how are you?
Here, we are limited to documentation changes, this has been reported in the past and I could confirm that the team behind the module is aware of this.
Hope this information helps you.

[2021-05-13 13:49] get-itips commented on #7715
Thanks @FrankCarius Frank for reporting.

[2021-05-13 14:05] get-itips commented on #7716
Hello @Larryngolog Paweł how are you? Hope you are doing great.

Those statements were probably aligned to OAAs, I could verify what you said while trying to use those time ranges with `New-CsOnlineSchedule`, will update the article accordingly.

Thanks for the feedback that improves the docs.

[2021-05-13 14:12] get-itips commented on #7721
Hello @gautam0107 thanks for reporting, this has been already removed in https://github.com/MicrosoftDocs/office-docs-powershell/pull/7729
@yogkumgit please close

[2021-05-13 14:45] iaragon76 opened #7766 "I can't run Get-CsTeamsCallingPolicy in MicrosoftTeams Module 2.3.1"
Dear all,

While trying to run this command I get:

I can see that this cmdlet is within the module:

And of coursem I have installed the MSTeams module 2.3.1:

PS C:\Users\ia> Get-InstalledModule -Name MicrosoftTeams

Version              Name                                Repository           Description
-------              ----                                ----------           -----------
2

[2021-05-13 15:46] get-itips commented on #7725
Hello @seb07-cloud how are you?
Looks like it changed in `2.3.1`:

Hope this information helps you,

[2021-05-13 15:58] VelinGeorgiev opened #7767 "Set-CsTeamsAppSetupPolicy -PinnedAppBarApps , add new pin does not work"
[Enter feedback here]
Can please someone give me a clear explanation how to use this with -PinnedAppBarApps? The commandlet throws error no matter what I try.

How to reproduce?
[code]

Expected:
- Adds new pinned app to the Global app setup policy

Actual:
[code]

### Tell me please how to cast to your internal object in my script?!. Thanks!

---
#### Document Details

⚠ *Do not edit this section

[2021-05-13 16:14] miguelisidoro opened #7768 "Please correct the documentation on AllowAnonymousAccess"
Please check the correct syntax at:

https://social.technet.microsoft.com/Forums/sharepoint/en-US/55cc1134-6f15-4fc4-9cf7-677ad053aec6/setspwebapplication-allowanonymousaccess?forum=sharepointadminprevious

$ap = New-SPAuthenticationProvider -AllowAnonymous
Set-SPWebApplication http://sharepoint -Zone Default -AuthenticationProvider $ap

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-05-13 16:57] niharaobsec commented on #7738
@chrisda the Error log section in my post has all the contents of the error log. I've also sent included them in my email to exocmdletpreview@.

[2021-05-13 22:59] LFChrisM commented on #7724
Thanks that’s good news,

Will update and see how I go.

Kind regards,
Chris Muir

Chris Muir
System Administrator
Tel:
***@***.***
Web:www.lifeflight.org.au
Postal Address:     PO Box 15166, City East, QLD 4002
This communication including any file attachments is intended solely for the use of the individual or entity to whom it is addressed. If you are not the intended recipient, or the person r

[2021-05-14 07:40] harshdamaniahd opened #7773 "MicrosoftTeams powershell 2.3.1 getting error"
When trying to setup policy , I am getting error
Get-CsOnlineSession : Connecting to remote server api.interfaces.records.teams.microsoft.com failed with the following error message : The WinRM client cannot process the request. Basic
authentication is currently disabled in the client configuration. Change the client configuration and try the request again. For more information, see the about_Remo

[2021-05-14 12:08] #7518 closed

[2021-05-14 12:12] yogkumgit commented on #7691
@EricHindrichsen Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-14 12:12] #7691 closed

[2021-05-14 12:21] yogkumgit commented on #7738
@niharaobsec Thanks for following the advise of Chris.Hope this comment is helpful for you. Considering the nature of the issue, as advised, please follow with support for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable in

[2021-05-14 12:21] #7738 closed

[2021-05-14 12:23] yogkumgit commented on #7688
@get-itips Thank you very much for the contribution and sharing this explanation. @SharePointOz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-14 12:28] yogkumgit commented on #7706
@get-itips Thank you very much for the contribution and sharing this explanation. @Philipp-Zumdohme Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-14 12:28] #7706 closed

[2021-05-14 12:34] yogkumgit commented on #7713
@get-itips Thank you very much for the contribution and sharing this explanation. @jasperbaes Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-14 12:34] #7713 closed

[2021-05-14 12:39] yogkumgit commented on #7721
@get-itips Thank you very much for the contribution and sharing this explanation. @gautam0107 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-14 12:39] #7721 closed

[2021-05-14 12:41] yogkumgit commented on #7724
@get-itips Thank you very much for the contribution and sharing this explanation. @LFChrisM Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-14 12:41] #7724 closed

[2021-05-14 12:44] yogkumgit commented on #7725
@get-itips Thank you very much for the contribution and sharing this explanation. @seb07-cloud Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-14 12:44] #7725 closed

[2021-05-14 13:47] get-itips commented on #7746
Hello @sarollins
I tried to reproduce to see if we need to edit any article but could not, as here we are limited to documentation changes and fixes, the best in your scenario is to open a support ticket directly form your tenant.
Hope this information helps you

[2021-05-14 14:36] get-itips commented on #7698
Hello @stuart-drysdale  how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced fro

[2021-05-14 14:38] get-itips commented on #7733
Hello @gregg79 how are you? Hope you are doing good 👍
Here, we are limited to documentation fixes and improvements, for your particular inquiry the best would be to open a support ticket directly from your tenant.
Thank you

[2021-05-14 14:42] get-itips commented on #7739
Hello @SGurjitsk how are you? hope you are doing good 👍
Is there any specific article that you see needs correction? as here we are limited to documentation fixes and improvements.
Maybe the best in your scenario would be to open a support ticket directly from your tenant.
Thank you,

[2021-05-14 14:43] get-itips commented on #7740
Hello @jarvann Cory, how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from t

[2021-05-14 14:51] get-itips commented on #7742
Hello @aakash-shah how are you? Hope you are doing good!
The meaning of `AllowLimitedAccess` is indeed in the linked page:

Hope this information helps you

[2021-05-14 15:01] get-itips commented on #7744
Hello @cimares Paul, how are you? Hope you are doing good.
Did you have chance to see [this other article?](https://docs.microsoft.com/en-us/microsoft-365/enterprise/move-sharepoint-between-geo-locations?view=o365-worldwide#determining-the-status-of-a-sharepoint-site-geo-move) with a description of the different values including Ready to trigger.
To my understanding the next move status should be

[2021-05-14 15:06] cimares commented on #7744
Just to be clear, we haven't issued the command to move any OneDrive sites yet. These are showing up as "Ready to Trigger" without us telling the Tenant to move the user.

If the system pre-preps OneDrives that have an incorrect PDL, this needs to be documented in the OneDrive move document (not the SharePoint site one) and the status should also be shown in this document.

[2021-05-14 15:28] rachoksh opened #7774 "Missing documentation for StopNew2010Workflows"
[Enter feedback here]

Can we add details about this command to disable NEW SharePoint 2010 workflows in an SPO tenant and this does not impact existing workflows for customers that have received an extension.

Set-SPOTenant -StopNew2010Workflows $true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 294a6dfa-d407-edc6-d

[2021-05-14 21:50] jarvann commented on #7740
I will do that. Thank you for responding!

[2021-05-14 21:50] #7740 closed

[2021-05-15 19:24] iaragon76 commented on #7766
Additional Information: I uninstalled the version 2.3.1 and installed the preview 2.2.0, and is having the same issue

I can see the command is in there:

While trying to run the command:

[2021-05-16 09:37] aakash-shah commented on #7742
Hello! Thanks for the reply and for the information! You are correct that this is included on the page. However, the issue I found is when I was at Set-SPOSite, I then linked to "Control access from unmanaged devices" and did a search for "AllowLimitedAccess", and the section that had this information did not help clarify what specifically this did. Perhaps a table that includes a comparison of wh

[2021-05-16 13:46] iaragon76 commented on #7766
Hej, I think I have found the issue. Is access related. with 'Global Reader' role the command works.

In the times of the S4B online connector, this command was working with **Teams Communications Support Engineer** role.

Can you review this? In principle, 'Get-*' commands should be ok to be read by these Teams comm support role, as provides tools to do troubleshooting.

[2021-05-16 23:44] stuart-drysdale commented on #7698
@get-itips,

Thanks for that, I will post there

[2021-05-16 23:44] #7698 closed

[2021-05-16 23:44] stuart-drysdale commented on #7698
@get-itips,

Thanks for that, I will post there

[2021-05-17 11:07] yogkumgit commented on #7746
@get-itips Thank you very much for the contribution and sharing this explanation. @sarollins Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update i

[2021-05-17 11:08] #7746 closed

[2021-05-17 11:11] yogkumgit commented on #7733
@get-itips Thank you very much for the contribution and sharing this explanation. @gregg79 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-05-17 11:11] #7733 closed

[2021-05-17 11:15] yogkumgit commented on #7739
@get-itips Thank you very much for the contribution and sharing this explanation. @SGurjitsk Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update i

[2021-05-17 11:15] #7739 closed

[2021-05-17 13:57] get-itips commented on #7693
Hello @kilasuit Ryan, how are you? hope you are doing good 👍
I have been digging into this, it seems that currently, the `-Identity` parameter is not ready, the team behind the module is working on this and, as soon as it is, I'll update the article including an example using the `-Identity` parameter.
Thank you

[2021-05-17 14:10] get-itips commented on #7750
Hello @jay1927 how are you? Hope you are doing good.
I also have 2.3.1 version and I can run that cmdlet, please be sure to be running only one version of the Teams PowerShell module as that could be your issue.
![image](https://user-images.githubusercontent.com/36666927/118502859-54b85800-b6e7-11eb-93b4-511b68108872.png)

Hope this information helps you.

[2021-05-17 14:12] get-itips commented on #7749
Thanks for reporting @JakeMoe

[2021-05-17 14:35] get-itips commented on #7744
I understand better now @cimares Paul, thanks for the extra information.

Maybe these users already had an ODB site before setting their PDL?

https://docs.microsoft.com/en-us/microsoft-365/enterprise/multi-geo-tenant-configuration?view=o365-worldwide#onedrive-provisioning-and-the-effect-of-pdl

[2021-05-17 14:49] get-itips commented on #7742
Hello @aakash-shah I understand, will propose an improvement to this article, let's see if it gets approval. Thank you

[2021-05-17 14:52] cimares commented on #7744
Sorry I think you're misunderstanding why I raised this issue. I know why the users have their OneDrives in the wrong region as we've just added a new Geo to the environment, We're getting ready to migrate these users into their final Geo.

This issue is specifically about the Documentation for this command not showing the status of "Ready to Trigger" as an available option (it doesn't exist in th

[2021-05-17 16:14] dariomws commented on #7638
Hi @mikhailrykov, thank you for your feedback.

I understand that essentially both produce the same effect (prevent completion). There is no difference between them to add to the article.

[2021-05-17 16:16] dariomws commented on #7635
Hi @IldAmourBonjamin, thank you for your feedback.

Here we are limited to documentation issues and improvements.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/ad

[2021-05-17 16:20] chrisda commented on #7638
@mikhailrykov, adding on to what @dariomws said, the description of the _PreventCompletion_ parameter says this:

So really, we're comparing the _CompleteAfter_ and _SuspendWhenReadyToComplete_ parameters, which are very different from each other.

[2021-05-17 17:25] VincentCheng-Hatch commented on #5379
The issue is caused by version 2.3.
The command does not take -identity parameter. Instead is uses -id parameter.

I reverted to version 2.0.0 of the teams module and all is good now.

#check module version installed
Get-InstalledModule MicrosoftTeams

#uninstall ver 2.3
Uninstall-Module MicrosoftTeams

#install version 2.0.0
Install-Module -Name MicrosoftTeams -RequiredVersion 2.0.0

------------

[2021-05-17 21:59] ingepepe opened #7780 "Move-PnPFile error FindFirstCharacterToEncodeUtf8"
When trying to execute the command

`Move-PnPFile -SourceUrl "/sites/Leadership-365/Shared Documents/Regional Managers" -TargetUrl "/sites/operations.leaders/Shared Documents" -AllowSchemaMismatch`

I get the following error:

`Move-PnPFile : Method not found: 'Int32 System.Text.Encodings.Web.TextEncoder.FindFirstCharacterToEncodeUtf8(System.ReadOnlySpan`1<Byte>)'.`

What is this error about?

[2021-05-18 08:16] dariomws commented on #7657
Hi @TsuMakoto, thank you for your feedback.

How many shared mailboxes do you have? Exchange Online PowerShell V2 module has a much better performance compared to V1. For more information, please see:
https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#properties-and-property-sets-in-the-exo-v2-module
https://techcommunity.microsoft.com/t5/exchange-team-blog/faster-and-mor

[2021-05-18 08:47] wiseleaf23 opened #7785 "EnableSafeLinksForTeams parameter is not working anymore"
The EnableSafeLinksForTeams parameter is not working anymore:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06a1f9fa-7dd6-ebf1-3e64-ef47bd3962b2
* Version Independent ID: 5ea9bde3-9fe9-8ae1-0992-b12223c4d7c4
* Content: [New-SafeLinksPolicy (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/modul

[2021-05-18 09:26] thewrabbit opened #7786 "set-CSExternalAccessPolicy - effect on Teams users"
https://support.microsoft.com/en-us/topic/keeping-students-safe-while-using-teams-for-distance-learning-f00fa399-0473-4d31-ab72-644c137e11c8#:~:text=To%20maintain%20student%20safety%2C%20you,to%20keep%20the%20environment%20safe.

as per the page above the section - How to prevent external access (federation) of students the csexternalaccesspolicy with the parameter of EnableFederationAccess set to

[2021-05-18 11:12] anwarmahmood1 opened #7787 "limited to 10,000 members"
I tried to use this command, but it failed;

The change that you're trying to make contains 13975 distinguished name values. This exceeds the limit of 10000 DN
values.
    + CategoryInfo          : NotSpecified: (:) [Update-DistributionGroupMember], ADOperationException
    + FullyQualifiedErrorId : [Server=DB3PR0302MB3388,RequestId=c9fc8033-97d4-43d6-95aa-5be5e2072fa8,TimeStamp=18/05/2
   021 11:

[2021-05-18 13:32] yogkumgit commented on #7750
@get-itips Thank you very much for the contribution and sharing this explanation. @jay1927 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-18 13:32] #7750 closed

[2021-05-18 15:04] tsf89 commented on #7464
@danielbecker Can you shed a little more information about this? How are you connecting? And are Cs commands working?
I am doing exactly as @awill4457 is describing for a unattended powershell script. But even with version 2.3.1 of the Teams module, it is not working.

I can run for example Get-Team with no problems. But not for example Get-CsAutoattendant.
I am getting the following error:

`Get-

[2021-05-18 15:31] DEberhardt opened #7788 "OverflowAction & TimeoutAction "Voicemail" still available?"
Hello,

Voicemail cannot be configured in the Admin Center any longer.  UPN are not accepted anymore - only Group Names/Mail Nicks.
The Option "Voicemail" there purely references "SharedVoicemail".

[code]

Can this be clarified please?

Thanks,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86ade68d-5dc0-c598-a6

[2021-05-18 16:23] DEberhardt opened #7789 "CsTeamsFeedbackPolicy - Pages could use more description"
Hello,

NEW has:
[code]
Others don't even have that much.
Compared to Compliance Recording Policy and others, this is missing some detail for GET/SET/GRANT

Thanks,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95e9c02c-2fa2-52b2-2898-71ddda3eaf21
* Version Independent ID: f5fbed81-ebc2-9dfa-d180-3704696cb3aa
*

[2021-05-18 16:25] DEberhardt opened #7790 "Pages missing: CsTeamsShiftsPolicy, CsTeamsVDIPolicy, etc."
Hello,

Pages for the following Functions are missing:

[code]

Thanks,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95e9c02c-2fa2-52b2-2898-71ddda3eaf21
* Version Independent ID: f5fbed81-ebc2-9dfa-d180-3704696cb3aa
* Content: [New-CsTeamsFeedbackPolicy (SkypeForBusiness)](https://docs.microsoft.com/en-us/powe

[2021-05-18 16:46] chrisda commented on #7787
@anwarmahmood1, OK. Done.

Thanks for the feedback.

Closing

[2021-05-18 16:46] #7787 closed

[2021-05-18 16:53] chrisda commented on #7687
@larspassic, the Add-UnifiedGroupLinks cmdlet has been updated on the web to remove that value. The same topic is also used for help at the command line, but there's always a lag.

Thanks for the feedback.

Closing

[2021-05-18 16:53] #7687 closed

[2021-05-18 20:30] nakkeerann opened #7794 "PnP-Site DisableFlow doesn't work on communication site"
The flow disabling script doesn't work for the communication site. I have executed the following commands and the execution was successful without any issues (no errors).

Connecting to site via the command `Connect-PnPOnline -Url https://tenant.sharepoint.com/sites/sitename -UseWebLogin`
Then executed the script `Set-PnPSite -DisableFlows:$true` for hiding flow button.

But the button is not hidi

[2021-05-18 20:55] YuriySamorodov opened #7795 "Connect-MicrosoftTeams No Parameters"
When running `Connect-Microsoft` with no parameters specified it opens up a browser requesting authentication. URL is like the following:
[code]
Once credentials are entered it throws an error:
![image](https://user-images.githubusercontent.com/5260172/118722079-61969200-b834-11eb-933f-dc47f151ff16.png)
![image](https://user-images.githubusercontent.com/5260172/118722152-796e1600-b834-11eb-8da5-ec

[2021-05-18 22:05] ingepepe commented on #7747
Yes. After this explanation it makes sense.
Thank you!

[2021-05-18 22:05] #7747 closed

[2021-05-18 22:43] DEberhardt commented on #7790
apologies, didn't cross-reference the Teams Module - the CsTeamsShiftsPolicy is documented in https://docs.microsoft.com/en-us/powershell/module/teams/?view=teams-ps - which reminds me, are the Documents now moving from Skype to Teams, now that they are exposed there?

[2021-05-19 03:12] pyoungberg opened #7798 "Does this only work for site collections, or can it target subsites too?"
I successfully ran this command on my root site (https://contoso.sharepoint.com) ; however, I cannot seem to specify any of its subsites (https://contoso.sharepoint.com/hr ; https://contoso.sharepoint.com/ops ; https://contoso.sharepoint.com/field) and only news articles originating in the root site are getting the bolded tag (news posts from subsites of the root site are being ignored). Is this e

[2021-05-19 12:22] danielbecker commented on #7464
The only cmdlets I'm using are `Connect-MicrosoftTeams`, `New-CsOnlineVoiceRoute`, and `New-CsOnlineVoiceRoutingPolicy` for now.

[2021-05-19 12:25] tsf89 commented on #7464
@danielbecker Could i get you to test if Get-CsAutoAttendant is returning any results for you or if you get the above error aswell?
If you get results, which API permissions have you given the Azure App you are using for the Powershell authentication?

[2021-05-19 18:45] #7749 closed

[2021-05-19 20:23] jesslyn-omm opened #7800 "Teams AC Pin"
The info is masked in PowerShell. The PIN should display or be removed from results

[2021-05-19 20:59] YuriySamorodov commented on #7795
It appears the problem was related to PowerShell 7.1.1. Once updated to PowerShell 7.1.3 an issue went away.

[2021-05-19 20:59] #7795 closed

[2021-05-19 21:08] sarollins commented on #7469
After installing the 2.3.1 module, I no longer get the GetSteppablePipeline error when trying to execute a Skype for Business cmdlet, I now get

Get-CsOnlineSession : Tenant Domain is empty
At C:\Program Files\WindowsPowerShell\Modules\MicrosoftTeams\2.3.1\net472\SfBORemotePowershellModule.psm1:63 char:22
+     $remoteSession = & (Get-CsOnlineSessionCommand)
+                      ~~~~~~~~~~~~~~~~

[2021-05-19 21:47] Skatterbrainz opened #7801 "Example 1 needs a little adjustment"
If you run example 1 in most mid-sized (or larger) environments, there is a high probably that the default -Identity will throw errors on the second half due to ambiguous names.  Best to specify the DistinguishedName property for the input of Get-MailboxAutoReplyConfiguration when possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-05-19 21:51] #7715 closed

[2021-05-19 22:40] #7716 closed

[2021-05-20 07:28] Sebalbers commented on #7469
I am experiencing the same issue as this.

[2021-05-20 07:39] stoff75 opened #7803 "EnableOutlookEvents"
No documentation for what "_EnableOutlookEvents_" does?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23add0a6-bb9c-15d2-a6eb-351ae0564522
* Version Independent ID: 8056b3ee-4fab-3a5c-935b-a9d0e9ad82a4
* Content: [Set-OrganizationConfig (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/

[2021-05-20 11:12] yogkumgit commented on #7800
@jesslyn-omm Please indicate which document you are referring to. Thanks

[2021-05-20 11:43] stoff75 commented on #7803
![image](https://user-images.githubusercontent.com/6229114/118972840-4aa98a00-b971-11eb-9f69-ab4180a1d4bb.png)

[2021-05-20 11:48] danielbecker commented on #7464
As far as I know, I was provided with a new and clean account by our it team.

[2021-05-20 12:20] yogkumgit commented on #7656
@levdavid Thank you very much for the contribution and updating the documentation with PR. @JustinBarker77 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-20 12:26] yogkumgit commented on #7622
@get-itips Thank you very much for the contribution and digging deep into it.  @kileyohl We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documen

[2021-05-20 12:34] yogkumgit commented on #7635
@dariomws  Thank you very much for the contribution and sharing this explanation. @IldAmourBonjamin
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation u

[2021-05-20 12:37] yogkumgit commented on #7638
@dariomws Thank you very much for the contribution and sharing this explanation. @mikhailrykov Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-20 12:39] #7657 closed

[2021-05-20 12:43] yogkumgit commented on #7658
@thesauce98 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-20 12:43] #7658 closed

[2021-05-20 14:25] jesslyn-omm commented on #7800
Get-CsOnlineDialInConferencingUser
https://docs.microsoft.com/en-us/powershell/module/skype/get-csonlinedialinconferencinguser?view=skype-ps

[2021-05-20 16:02] W0GER opened #7807 "Please provide alternative method instead of leaving the user at a dead-end"
At the top of the article it states "This cmdlet is available only in on-premises Exchange." Which is great, but please offer a solution to Exchange Online users who need to export an Archive database. The way your documentation is today, this leaves me at a dead-end; there is no alternative for me to follow. There has to be a way to export a mailbox from Exchange Online without having to setup on

[2021-05-20 16:36] chrisda commented on #7807
@W0GER, your best option is to open a support case.

[2021-05-20 17:53] #7744 closed

[2021-05-20 17:58] #7742 closed

[2021-05-20 20:41] chrisda commented on #7785
@wiseleaf23, Safe Links for Teams is only available to Technology Adoption Partner (TAP) customers. The disappearance of the parameter was likely a correction. And the parameter description currently says this:

[2021-05-21 04:31] stoff75 commented on #7803
Thank you @chrisda . The reason I'm asking about this is the newly introduced ability to shorten events/meetings in Outlook/Exchange Online. The official blog post about this on https://techcommunity.microsoft.com/t5/outlook-blog/new-settings-in-outlook-give-everyone-a-break-between-meetings/ba-p/2276514 specifies the commands needed to enable it and also the cmdlet to check it, "Get-OrganizationC

[2021-05-21 05:00] Drenam1 opened #7811 "Azure Function '... module could not be loaded'"
I am trying to run the MS Teams PowerShell module in an Azure Function environment, but I am getting the below issue (the error message is absurdly long so I'm keeping it to just the parts I think are relevant.
For context, I have another function app that is set up in the same way and the Microsoft Teams module works (IE I can use 'Connect-MicrosoftTeams' as normal).

Happy to provide more info i

[2021-05-21 14:49] bijaykush opened #7813 "Connecting to remote server api.interfaces.records.teams.microsoft.com failed with the following error message"
I am using this command to connect Microsoft Teams through PowerShell 7.1.3 **OR** PowerShell  5.1.

Step 1
Connect to first domain (bijay@abc.com)
[code]
Result: Connected Successfully:
![image](https://user-images.githubusercontent.com/11793622/119152839-65165d00-ba70-11eb-8b1f-66076095750f.png)

Step 2
Hit the command to get online application instance of the tenant:
`Get-CsOnlineApplicationIns

[2021-05-21 16:46] chrisda commented on #7803
@stoff75, if the feature isn't working for you, I would highly recommend opening a support case. Report back here if there are any updates required in the parameter descriptions for Set-OrganizationConfig.

[2021-05-21 20:22] ThePangy opened #7815 "EXO v2 Powershell cmdlets error with insufficient access rights"
After following everything documented on this page to configure the app/service principal required to authenticate my unattended Powershell scripts using modern auth certificate based authentication, I can successfully connect to Exchange Online v2. I am able to run simple Get- cmdlets to view information. However, when trying to run a Set-User cmdlet to change the value of the RemotePowerShellEna

[2021-05-21 20:31] ThePangy commented on #7815
Isn't it always the case that after posting you find the problem? Disregard this. @AlexJPawlak already posted about this same issue and I missed it in the documentation connection info.
https://github.com/MicrosoftDocs/office-docs-powershell/issues/6935

[2021-05-21 20:31] #7815 closed

[2021-05-24 14:06] get-itips commented on #7755
Hello @ingepepe Pepe, How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from

[2021-05-24 14:07] get-itips commented on #7756
Hello @NickElniff how are you? Thanks for reporting, the article has already been corrected.

[2021-05-24 14:07] get-itips commented on #7757
Duplicate of https://github.com/MicrosoftDocs/office-docs-powershell/issues/7756
Thanks!

[2021-05-24 14:18] get-itips commented on #7758
Hello @nikki-c how are you? In the markdown both parameters are in different lines, it's the rendered article that puts them together, will try to split them in a PR but not sure if it will correct the published version.
Thank you!

[2021-05-24 14:22] get-itips commented on #7763
Hello @VelinGeorgiev how are you? Hope you are doing good.
Please see this note at the beginning of the article:

Hope this clarifies it to you.

Thank you!

[2021-05-24 18:12] get-itips commented on #7766
Hello @iaragon76 how are you? Hope you are doing good 👍
I tested this and I could experience the same, [here is the article](https://docs.microsoft.com/en-us/microsoftteams/using-admin-roles) that details what can be done with each role, there,  you will see that the only roles that can read/manage policies are _Teams Communications Administrator_ and _Teams Administrator_.

Hope this information

[2021-05-24 19:00] get-itips commented on #7768
Thanks for reporting! @miguelisidoro

[2021-05-24 19:44] iaragon76 commented on #7766
Thank you -- indeed seems not to be an issue per se.

BUT, in S4B powershell toolset, I was able to read that config using the Support engineer role.

Anyhow, now is clear where the problem is.

Thanks

[2021-05-24 21:14] mark3grahams opened #7824 "Skype commands (CS) do not work when using an ApplicationId"
Connection works fine like:
Connect-MicrosoftTeams -TenantId c3eac90d-eb4b-48ef-ac86-7acac472d3cd -CertificateThumbprint 9b6ac64bfb8b48dbb53cca75fb33ce2d -applicationid daaaf729-aaff-45ba-8055-a39dd618fe24

Teams cmdlets work fine.

Any CS cmdlets fail as follows.

Get-CsOnlineSession : Connecting to remote server api.interfaces.records.teams.microsoft.com failed with the following error message :

[2021-05-25 02:20] SharePointOz commented on #7688
Thanks @yogkumgit & @get-itips

[2021-05-25 06:18] yogkumgit commented on #7755
@get-itips Thank you very much for the contribution and sharing this explanation. @ingepepe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-25 06:18] #7755 closed

[2021-05-25 06:21] yogkumgit commented on #7756
@get-itips Thank you very much for the contribution and sharing this explanation. @NickElniff Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-25 06:21] #7756 closed

[2021-05-25 06:26] #7757 closed

[2021-05-25 06:32] yogkumgit commented on #7766
@get-itips Thank you very much for the contribution and sharing this explanation. @iaragon76 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-25 06:32] #7766 closed

[2021-05-25 06:36] #7688 closed

[2021-05-25 08:17] VelinGeorgiev commented on #7767
Anyone?

[2021-05-25 10:55] DaveFSP opened #7825 "Cannot set templateid when creating a teams template using -templateid or -body"
I am creating a teams template and have a json template that looks like this
[code]
I have set the template name in and i run it using `New-CsTeamTemplate -Locale en-GB -Body (Get-Content $templateLocation | Out-String)` the template gets created successfully however a different id to the one i have given it gets set.
Is there anyway to set the id so when deploying to different environments the sa

[2021-05-25 14:34] get-itips commented on #7800
Hello @jesslyn-omm how are you? I could see that you refer to the output of the cmdlet, however, we are limited here to documentation issues and improvements, I could redirect you to [this resource](https://support.microsoft.com/en-us/topic/uservoice-pages-430e1a78-e016-472a-a10f-dc2a3df3450a) to submit that kind of feedback.
Thank you!

[2021-05-25 15:06] get-itips commented on #7798
Hello @pyoungberg Paul, how are you?

Do you refer to this tag?
![image](https://user-images.githubusercontent.com/36666927/119521307-3df1b100-bd38-11eb-8ab1-62626d27eaff.png)

Tested this in my tenant, added a subsite with an URL like this:

`set-SPOOrgNewsSite -OrgNewsSiteUrl https://m365x31200.sharepoint.com/sites/sc/TestC`

the confirmation message told me that the actual site added was the SC

[2021-05-25 15:08] get-itips commented on #7794
Hello @nakkeerann
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that

[2021-05-25 16:40] get-itips commented on #7788
Hello @DEberhardt
Noticed that in the portal, the Voicemail option description changed from "Search for a voicemail" to "Search for an Office 365 Group" (for reference https://github.com/MicrosoftDocs/office-docs-powershell/issues/6160#issuecomment-660352622)

Tested then in `2.3.1` and SharedVoiceMail is accepted when specifying a group id, Voicemail is also still accepted but could not find a va

[2021-05-25 18:13] get-itips commented on #7780
Hello @ingepepe
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that r

[2021-05-25 18:17] bijaykush commented on #7813
@yogkumgit Hi Do you have any update on this?

[2021-05-25 18:29] bijaykush commented on #7813
Hi @DEberhardt
I saw that you have similar issue as posted on this issue [7058](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7058). You mentioned to cleanly closing existing sessions. And I think the issue I mentioned here is somewhat similar to yours.
Could you please have a look at this issue and let me know what is the way to cleanly close the existing sessions?

[2021-05-25 19:01] get-itips commented on #7786
Thanks for reporting @thewrabbit

[2021-05-25 19:03] ColBrubaker commented on #7469
@sarollins @Sebalbers Once upgraded to the 2.3.1 module, I received this error as well. Reconnecting to Teams with the TenantId switch fixed that:

`Connect-MicrosoftTeams -TenantId <TenantId>`

I can now run Get-CsOnlineSipDomain, etc. commands successfully.

Cheers

[2021-05-26 05:47] #7811 closed

[2021-05-26 05:49] yogkumgit commented on #7800
@get-itips Thank you very much for the contribution and sharing this explanation. @jesslyn-omm Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-26 05:49] #7800 closed

[2021-05-26 05:52] yogkumgit commented on #7794
@get-itips Thank you very much for the contribution and sharing this explanation. @nakkeerann Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-26 05:52] #7794 closed

[2021-05-26 05:55] yogkumgit commented on #7788
@get-itips Thank you very much for the contribution and sharing this explanation. @DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-26 05:57] yogkumgit commented on #7780
@get-itips Thank you very much for the contribution and sharing this explanation. @ingepepe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-26 05:57] #7780 closed

[2021-05-26 12:08] projectsbydan opened #7830 "Description is wrong"
Description is wrong, it says "export", should be "remove".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e358d3b9-8433-cbbb-3ac2-54697c01805d
* Version Independent ID: 77885e40-40fb-762a-5bfb-523854f8a750
* Content: [Remove-PnPUserInfo (PnP.Powershell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pn