[2022-02-21 15:08] JensTrier commented on #8989
@DMoenks thanks for the feedback. Please send me the actual failing cmdlet with the user and the parameters offline at jens.trier AT microsoft.com and I'll have a look.

[2022-02-21 15:40] DMoenks commented on #8989
@JensTrier
Details were provided by email, in addition to results from running _Get-CsOnlineVoiceUser_ for the same user account for comparison

[2022-02-22 06:50] isrumnon commented on #8960
@Fimlore we made some changes from our end. Can you check now and confirm?

[2022-02-22 08:32] DMoenks commented on #8989
The source of the error was identified in system traces after providing additional details and is currently being investigated. As this error message only occurs semi-sporadically, the issue is closed.

[2022-02-22 08:32] #8989 closed

[2022-02-22 08:41] donlassini opened #8990 "Teams PS: Get-CsOnlineUser does not show the Online Dialout Policy"
First I run this using Teams Online PS 3.1.1:
[code]

The I run
[code]
For Teams Online PS 3.1.1 and 3.2.0, I get
[code]
If I run the command in Teams Online PS 2.3.1, I get a result:
[code]
So the OnlineDialOutPolicy is not shown in Teams PS 3.1.1 and later.
I have not tested 3.0 releases prior to 3.1.1.

(Never mind that the WhenChanged attribute is UTC for the newer modules.)
Also, it's not e.g

[2022-02-22 09:03] donlassini commented on #8990
Closed; it's the same as #8935

[2022-02-22 09:03] #8990 closed

[2022-02-22 09:24] donlassini commented on #8935
Workaround that also returns the policy but where you still retrieve only one user:
[code]

[2022-02-22 10:37] richardh-ncp opened #8991 "Get-CsOnlineUser in 3.1.1 seems to return a different set of properties compared with earlier versions"
I have previously used Get-CsOnlineUser in MicrosoftTeams 2.3.1 and 3.0.1.

I have now used it in 3.1.1 and the property set returned seems different.

For example in 3.1.1 'ObjectID' doesn't seem to exist anyomre
FirstName and LastName dont seem to exist anymore. 'GivenName' is present, but no last name

'Identity' returns a different value.

[2022-02-22 10:55] olanga commented on #8990
Just a remark.
Also OnPremLineURI value returns empty  with Get-CsOnlineUser $UPN
Workaround: Get-CsOnlineUser -filter "UserPrincipalName -eq '$UPN'"

[2022-02-22 13:17] olanga opened #8992 "Set-CsPhoneNumberAssignment - BadRequest Service is unavailable. Please try again"
We are running PS MicrosoftTeams 3.1.1 and recently started using Set-CsPhoneNumberAssignment.
Very often we face error  "Service is unavailable". Any idea where is it coming from?

[code]

[2022-02-22 17:55] chrisda commented on #8987
@j-ky7, availability vs. functionality are two different things. I just checked on my Exchange 2019 CU11 and 2016 CU22 test servers (Exchange 2013 CU23 server wasn't working), and the CompleteAfter parameter is 100% available on Set-MigrationBatch. Whether it's supposed to be, or whether it actually works is a different story.

The "Applicable:" values for the parameter show availability without a

[2022-02-22 17:58] ckarawani commented on #8991
Maybe related @richardh-ncp, but if you get the user using `-Filter` instead,

ex. `Get-CsOnlineUser -Filter {UserPrincipalName -eq 'jsmith@contoso.com'}`

It will return many of the missing/deprecated properties > 3.

[2022-02-22 18:01] ckarawani opened #8994 "Sporadic Timeouts/Errors when getting running Cmdlets (Sometimes returning MI_RESULT_FAILED)"
Something as simple as running:

`Get-CsOnlineUser -ResultSize 1 | Select Identity` will sometimes hang or eventually fail with the message:

`Processing data for a remote command failed with the following error message: MI_RESULT_FAILED For more information, see the about_Remote_Troubleshooting Help topic.`

This happens more often with `2.3.1` but happens a lot with the use of filters in 3.x

[2022-02-22 18:03] ckarawani commented on #8992
Seeing similar performance issues with `3.1.1` with performing queries using filters.

[2022-02-22 18:39] isrumnon commented on #8960
Hi @pmisley we currently do not have a good solution to this issue - you can expect consistent results in point and bulk queries by the end of March. An immediate solution is to reset the phone number through Set-CsUser and re-run the cmdlet. Hope this helps

[2022-02-22 18:45] gable44 opened #8995 "How to set "Notes"?"
How to set notes with Set-DistributionGroup?

With the New-DistributionGroup cmd you can set notes.

https://docs.microsoft.com/powershell/module/exchange/new-distributiongroup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42e2373d-198f-dba7-285c-66a2a5f384c4
* Version Independent ID: 3329c2f3-bf2d-111a-02dc-ce6d52d81

[2022-02-22 19:49] Fimlore commented on #8960
I do not see any changes in the queries.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Isaiah Rumnong ***@***.***>
Sent: Tuesday, February 22, 2022 7:50:27 AM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Fimlore ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Difference in output Get-CSonlineUser in versi

[2022-02-22 21:08] amonzerol commented on #8974
Same thing is happening on my side.

[2022-02-22 22:12] chrisda commented on #8995
@gable44, have you tried using the Set-Group cmdlet? That has a Notes parameter. Just be sure to use a non-email property to identify the group with Set-Group (for example, don't use Alias or EmailAddress; use Name or UserPrincipalName).

[2022-02-23 04:45] isrumnon commented on #8960
@Fimlore I'm following up with my team to investigate further

[2022-02-23 06:38] #8932 closed

[2022-02-23 07:56] richardh-ncp commented on #8991
I have tried this with 3.1.1 and it does indeed seem to be the case.

Not very logical :(
Particularly when the same property (Identity) can return different values

Is this behaviour documented?
Is Get-CsOnlineUser being deprecated?

[2022-02-23 08:18] vincentkurmi commented on #8991
Hi @richardh-ncp , I also reported the same problem, here https://github.com/MicrosoftDocs/office-docs-powershell/issues/8973.
There are a few opened issues describing the same behaviors. It looks like many people complain about that.

[2022-02-23 08:53] olanga commented on #8992
After many more tests it looks like "Service is unavailable" problem is user specific.
I have now 2 users where Set-CsPhoneNumberAssignment always fails. These users are on Teams for months, had phone numbers assigned before and have phone license assigned.
Also "Remove-CsPhoneNumberAssignment -Identity $UPN -RemoveAll" fails for these users.

[2022-02-23 09:04] vincentkurmi commented on #8973
Hi @isrumnon,

Can you help me to understand this comment?
![image](https://user-images.githubusercontent.com/52075388/155288077-c4456c44-752f-40b7-adc1-3a904d860d60.png)
Source: https://github.com/MicrosoftDocs/office-docs-powershell/issues/8960

It means the differences between a single query and bulk queries, as described below, is targeted  to be fixed for end of march?
![image](https://user-i

[2022-02-23 10:36] dariomws commented on #8935
Hi @rhrotman, thank you for your feedback.

This issue is well known and we are expecting a fix by end of March. Please follow up on the linked issues for more information.

[2022-02-23 10:56] dariomws commented on #8944
Hi @heintonny, thank you for your feedback.

The only error I found in example 3 is executing New-CsAutoAttendantMenu cmdlet:
<img width="1254" alt="image" src="https://user-images.githubusercontent.com/33589238/155305830-5e4dbf6c-2416-466a-a10c-7caec3298cf0.png">

I had to add the last parameter:
$dcfMenu = New-CsAutoAttendantMenu -Name "Default menu" -Prompts @($dcfMenuPrompt) -EnableDialByName

[2022-02-23 11:00] JensTrier commented on #8992
@olanga thanks for the feedback. Please send me the details offline at jens.trier AT microsoft.com and I'll have a look what's going on with these users.

[2022-02-23 13:27] dariomws commented on #8664
Hi everyone,

Could you please leave a comment here to summarize the limitations that you think the cmdlet has? I understand that -AccessTokens parameter is working. There is also a new example provided by the community in the article.

Thanks.

[2022-02-23 14:24] isrumnon commented on #8973
Hi @vincentkurmi yes that is correct - while we have modernized the point queries, the bulk queries are slightly lagging behind and is targeted to be completed by the end of March by which the results should be consistent across both point and bulk queries

[2022-02-23 15:46] SjoerdV commented on #3433
This is terrible... Who in their right mind would go altering 47 default rules te change the NotifyUsers *by hand*. Exactly...

Were is the place to send feedback now since:
- no more uservoice
- feedback portal is for End Users, they do not care about PowerShell
- Tenant 'first line support' experience is something you wouldn't wish on your worst enemy
- this github is actually for Documentation

[2022-02-23 18:43] CATgwalker opened #9002 "Confusing Verbiage for Recent Unified Group Notice"
This verbiage is confusing and unclear for people that are not familiar with 'contexts'. I suggest clarifying the messaging to refer to "service principal authentication", "certificate based authentication", or "App-only authentication for unattended scripts"  as it is referenced in the Exchange Online release notes for 2.0.3.

There also doesn't seem to be a correlating way to remove users from g

[2022-02-23 19:51] chrisda commented on #9002
@CATgwalker, OK. Fixed. If you don't like the topic links that I used, feel free to add/remove/modify directly. Instructions are [here](https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md).

Thanks for the feedback.

Closing

[2022-02-23 19:51] #9002 closed

[2022-02-23 20:07] mrkeiths opened #9007 "Conflicting details about oldest start date in detailed ETR report"
At the top of the web page we see the following: "...by any transport rules for the last **10** days."

The _-StartDate_ parameter description concludes with "This parameter can´t be older than **30** days from the current day."

I recently ran this cmdlet to get details about an ETR but only received **8** day's worth of results (a defect or documentation issue?)

Requesting that the documentatio

[2022-02-23 21:45] dariomws commented on #8947
Hi @donlassini, thank you for your feedback.

Here we are limited to documentation issues and improvements. For this kind of feedback, I suggest you use the new portal (Microsoft feedback):
https://feedbackportal.microsoft.com/feedback/forum/ad198462-1c1c-ec11-b6e7-0022481f8472

[2022-02-23 21:48] dariomws commented on #8952
Hi @blggmitch, thank you for your feedback.

I think you may find the following article useful:
https://docs.microsoft.com/microsoftteams/reset-the-audio-conferencing-pin-in-teams

[2022-02-23 21:50] dariomws commented on #8955
@sarollins, thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted he

[2022-02-23 22:08] chrisda commented on #9007
Checking

[2022-02-23 23:18] lazedo commented on #8664
@dariomws unattended doesn't work (access token with service account). tenant `A` creates application and publishes, tenant `B`  installs the application, `B` admin consents on permissions. tenant `A` cannot get authorized to work on tenant `B`

[2022-02-24 00:30] aakash-shah commented on #5746
Just to close the loop on this since it is linked in web searches, we can specify `-Properties LastUserActionTime` to get the LastUserActionTime. So in your example, you can use this to retrieve this property:
`Get-EXOMailboxStatistics -Identity 'USER-UPN' -Properties LastUserActionTime | Select LastUserActionTime`

[2022-02-24 03:54] j-ky7 commented on #8987
@chrisda , thank you for your comment.
I totally agree with the below suggestion. The issue is also applied to New-MigrationBatch cmdlet.

-----
So, it sounds like I need to add the following note to the parameter description:

And I presume this issue also affects the CompleteAfter parameter on New-MigrationBatch?

[2022-02-24 08:31] olanga commented on #8992
Additional information. "Old" command still work for 2 users where Set-CsPhoneNumberAssignment fails
Set-CsUser -Identity $UPN -OnPremLineURI tel:+49123456789
Set-CsUser -Identity $UPN -LineURI tel:+49123456789

[2022-02-24 11:42] yogkumgit commented on #8947
@DEberhardt Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised as here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-02-24 11:43] #8947 closed

[2022-02-24 11:44] yogkumgit commented on #8952
@dariomws Thank you very much for the contribution and sharing this explanation. @blggmitch Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-24 11:45] yogkumgit commented on #8955
@dariomws Thank you very much for the contribution and sharing this explanation. @sarollins Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-02-24 11:46] #8955 closed

[2022-02-24 11:53] yogkumgit commented on #8991
@isrumnon

[2022-02-24 12:16] rafaelborter commented on #8902
@chrisda
Thanks for the feedback. If I use the decimal value instead of the binary value, I still get the wrong configuration.

I want to set the following configuration:
`EndUserQuarantinePermissions : [PermissionToBlockSender: True
                               PermissionToDelete: True
                               PermissionToDownload: True
                               PermissionToPreview:

[2022-02-24 17:26] #8987 closed

[2022-02-24 18:24] chrisda commented on #8902
@rafaelborter, we are in agreement about the default values for EndUserQuarantinePermissionsValue:

|Permission|Binary|Decimal|
|:---|:---:|:---:|
PermissionToBlockSender: True|1|16|
PermissionToDelete: True|1|1|
PermissionToDownload: False|0|0|
PermissionToPreview: True|1|2|
PermissionToRelease: False|0|0|
PermissionToRequestRelease: True|1|8|
PermissionToViewHeader: False|0|0|
|**Total**|0001101

[2022-02-24 19:54] chrisda commented on #9007
@mrkeiths, I'm told the cmdlet should return data for a maximum of 10 days old. The StartDate parameter will accept a 30 day old date value, but only a maximum of 10 days worth of data is returned.

So, is your output really capped at 8 days, not 10?

[2022-02-24 23:33] tbakrf commented on #8989
I am having this issue now as well - this was working just 2 weeks ago.
Microsoft.Teams.ConfigAPI.Cmdlets.internal\Set-CsPhoneNumberAssignment : The server responded with a Request Error,
Status: NotFound
At C:\Program
Files\WindowsPowerShell\Modules\MicrosoftTeams\3.1.1\net472\custom\PsExt\Set-CsPhoneNumberAssignment.ps1:41 char:9
+         Microsoft.Teams.ConfigAPI.Cmdlets.internal\Set-CsPhoneNu

[2022-02-25 09:36] jackbob2020110 commented on #8927
ok, thanks!

[2022-02-25 09:39] felixfafard opened #9014 "Linux Pwsh 7.X.X / MS 2.6.0 Import-CsOnlineAudioFile freezes"
Since 18-02-2022, the "Import-CsOnlineAudioFile" command with Powershell on Linux and MicrosofTeams Module version 2.6.0 does not work.

It freezes indefinitely after Import-CsOnlineAudioFile. It does work on Windows with the same Powershell and module version  (7.2.1 & 2.6.0).

This was tested on different machines and different Microsoft 365 tenants.

Is anyone else experiencing this issue? I co

[2022-02-25 11:44] #8927 closed

[2022-02-25 12:47] blggmitch commented on #8952
I was aware of that MS article. I was trying to make it so we could manually assign/create our own pin and not have it auto generated.
Thanks

[2022-02-25 12:54] dariomws commented on #8952
Hi @blggmitch,

I understand there is no way to assign your custom PIN. Here we are limited to documentation issues and improvements.

I know the product teams are always looking for user feedback and how to make Microsoft Teams better. They keep a close tab on user feedback and it would be awesome if you could add your voice in the Microsoft Feedback Portal: https://feedbackportal.microsoft.com/f

[2022-02-25 17:20] mrkeiths commented on #9007
@chrisda , I re-tested the Get-MailDetailTransportRuleReport cmdlet against multiple ETRs that I know are triggered daily and am seeing **ten** days' worth of data, so think we are good.

Seems odd that the -StartDate param is not aligned to what the output will support but _thank you_ for adding a clarifying remark to the param's description.

Thanks again,
Keith

[2022-02-25 20:30] JeremyTBradshaw commented on #8149
@chrisda are you familiar with Message Center message MC316448?  It is completely lacking any information about HOW Microsoft plans to rollout app-only certificate authentication for the Security and Compliance Center.  It simply links to these two pages which show nothing of what you shared with me:

Learn more:

[Connect to Security & Compliance PowerShell](https://docs.microsoft.com/powershell/

[2022-02-25 20:58] chrisda commented on #8149
@JeremyTBradshaw, due to the upcoming demise of Basic auth and the MC post, it only makes sense that Connect-IPPSSession will be updated to support CBA.

You'll note that this issue (and others) are tagged with the "CBA SCC" label, so it's easy for me to come back and add any new information.

[2022-02-25 21:25] JeremyTBradshaw commented on #8149
Thank you.  I will try to be patient and wait for the updates to come.  The MC post says to Act by Feb 20th, but no info for what that means.

[2022-02-25 21:33] #8149 closed

[2022-02-26 07:02] yogkumgit commented on #8952
@dariomws Thank you very much for the contribution and sharing this explanation. @blggmitch Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-26 07:02] #8952 closed

[2022-02-26 07:04] yogkumgit commented on #9007
@mrkeiths  We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-27 10:32] ElazarOhayon commented on #8992
Teams module 3.1.1 new Resource account + virtual user the same issue.

BadRequest Update failed for user.....

[2022-02-28 09:04] JensTrier commented on #8992
@ElazarOhayon feel free to send me the details offline, but if it is a new resource account you might need to wait a bit before trying to assign the phone number

[2022-02-28 11:16] joibarr opened #9020 "character "&" in "Alias" attribute is not supported via AAD Connect."
This document states that "&" character is supported in the "Alias" attribute to be synced from AAD Connect to EXO. However, in a current scenario with a customer, the "&" is being changed for an underscore character. After discussing this topic with Nuno Alexandre MSODS Beta Engineer, our AdminWebService via Proxy Calc will always change this unsupported characters for an underscore .
This public

[2022-02-28 14:24] Cristina-Cajal opened #9021 "FeatureTypes attribute"
Hello,

I'm checking a Microsoft Teams user with Office 365 E3 and Standard Microsoft Teams Phone System licenses assigned but unable to dial phone numbers (he gets a license issue message), whose FeatureTypes attribute is null.
I see other users whose Feature Types attribute is {PhoneSystem, Teams}, and they are able to dial phone numbers.

Can FeatureTypes attribute be modified directly through

[2022-02-28 15:07] jcbartle opened #9023 "Get-CsOnlineDialInConferencingUser - Example Code Typos"
Small issue, but there are two separate typos in the example command which might throw someone off who is copying / pasting. Original:

Get-CsOnlineDailinConferncingUser -Identity Ken.Myer@contoso.com

That should be corrected to:

Get-CsOnlineDialInConferencingUser -Identity Ken.Myer@contoso.com

If there's a better way to make these suggestions / corrections, please let me know.

Best,
J.C.

---

[2022-02-28 19:10] #8944 closed

[2022-03-01 00:50] chrisda commented on #9020
Discussed via email and updated Alias parameter accordingly. The & character is supported in the Alias value as described, but bad things happen in Azure AD Connect synchronization if the Alias value contains an &.

Thanks for the feedback.

Closing

[2022-03-01 00:50] #9020 closed

[2022-03-01 03:12] Richard-Tang opened #9028 "-AllowedFileTypes Parameter has no effect"
I set up a test Exchange server that, when receiving an email with an outreach image, would say "something in this email has been blocked to protect your privacy. To re-enable blocking, click here."

<img width="1239" alt="image" src="https://user-images.githubusercontent.com/30547741/156097236-208428b0-6dc1-45a1-a295-acdfe4fbf691.png">

I found the relevant problem document in Microsoft Documenta

[2022-03-01 13:29] JohnLBevan opened #9029 "ExchangePowershell in PowerShell Gallery"
There's a module called ExchangePowershell in the PS Gallery: https://www.powershellgallery.com/packages/ExchangePowerShell
That module is a non-MS solution, but happens to use the same name.
I suspect a lot of people download that by mistake when trying to work with the module documented here; especially as the MS version of this module is often referred to by a different name (Exchange Managemen

[2022-03-01 14:10] gable44 commented on #8995
@chrisda Yes, thank you but I taught its a workaround :)

[2022-03-01 17:34] chrisda commented on #8995
@gable44, well, if it works, it works. It could be that the Exchange admin center calls that Set-Group cmdlet to do its thing. Often, multiple different cmdlet calls are used to do what appears to be a seamless, single operation in the UI.

[2022-03-01 18:43] NHawk257 opened #9031 "Preview Flag Removed"
The _-Preview_ flag has been removed from this command. It is removed in some spots in the document but not all and still shows up in an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fad8adee-7f9d-757b-2069-95ecab232747
* Version Independent ID: c71194df-8f65-15aa-3ed2-b370b8c3f629
* Content: [New-ComplianceS

[2022-03-01 18:56] CATgwalker commented on #8664
Hello,

In short, the connection is a mess using certificate based authentication/service principal/application registration. The behavior of Connect-MicrosoftTeams using AccessTokens is not consistent with the certificate based authentication for Exchange & SharePoint Online modules for unattended access. Additionally, the VOIP cmdlets do not support application-only context of  certificate based

[2022-03-01 20:28] chrisda commented on #9031
@NHawk257, I just tested in my stock E5 tenant, and the Preview switch was available to me on Get-ComplianceSearchAction and New-ComplianceSearchAction. Does this statement from New-ComplianceSearchAction explain what's going on?

[2022-03-01 20:58] chrisda commented on #9029
@JohnLBevan, that sounds reasonable to me. I added a call-outs in:

- <https://docs.microsoft.com/powershell/module/exchange/>
- <https://docs.microsoft.com/powershell/exchange/exchange-management-shell>

Thanks for the feedback.

Closing

[2022-03-01 20:58] #9029 closed

[2022-03-01 20:59] #9031 closed

[2022-03-01 21:44] RABurnettMCSE opened #9033 "What does this do when Teams Only?"
-AllowCalling fails when in Teams only

[2022-03-02 00:27] marmstrong94 opened #9035 "ProvisionedPlan Attribute"
Get-CsOnlineUser no longer returns the ID of the plans that are provisioned (ProvisionedPlan Attribute). It will only return the following sub-attributes in the ProvisionedPlan attribute of the user:
- CapabilityStatus
- ProvisioningStatus
- Service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7008ec10-a056-d8bb-bb4e

[2022-03-02 05:36] gcouper commented on #8975
I am getting a similar thing with Set-csuser

[2022-03-02 08:02] DMoenks opened #9037 "Set-CsUser doesn't throw catchable exceptions in Teams PowerShell module 3.1.1"
As phone number assignment with Set-CsPhoneNumberAssignment still fails in some cases (#8989), we stayed with version 3.1.1 of the module, while still using Set-CsUser. We're receiving "interesting" results when trying to handle exceptions though, e.g. when duplicate or incorrect phone numbers are provided for the cmdlet parameters:

Example 1, partly expected:
[code]

Example 2, not expected:
[co

[2022-03-02 12:09] yogkumgit commented on #9033
@RABurnettMCSE Please indicate which document you are referring to and what is your feedback. Thanks

[2022-03-02 12:55] vlethiec commented on #8973
Can be closed with the latest version of the page.

[2022-03-02 12:55] #8973 closed

[2022-03-02 16:53] Pam-SP opened #9040 "What to use instead of depreciated"
I noticed this parameter is now depreciated in set-team
-ShowInTeamsSearchAndSuggestions
The parameter has been deprecated.

What should be used instead?  I'm noticing really unpredictable behavior in how Teams displays a public Team in the Suggested Teams (under Join or Create a Team).  It is my understanding this is returned by Graph.  I've had some success in the past by PowerShelling a public

[2022-03-03 13:42] yogkumgit commented on #8962
@dariomws

[2022-03-03 13:43] yogkumgit commented on #8935
@dariomws Thank you very much for the contribution and sharing this explanation. @rhrotman Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-03 13:44] #8935 closed

[2022-03-03 14:16] tycoon66 commented on #8583
Where are this status updated?
We are now in march and I am still not able to set the EnableTeamsConsumerInbound on a CsExternalAccessPolicy.
I can see that this ticket was closed due to the similarity with 8581 and 8582. But 8581 and 8582 was related to the variable not showing up, it is showing up but we cannot use it to switch it to false. Is this just me?
I have tested with version 3.1.1 and 3

[2022-03-03 15:52] dannydpa commented on #8583
Microsoft did fix it for us in the backend. I don't have the permissions to make this change using PS. If you want to change the setting you must open a ticket.

[2022-03-03 16:12] sarollins opened #9043 "Filter does not work with Identity attribute as specified"
In anticipation of the -LdapFilter being deprecated, I'm attempting to re-write some of our queries to get a large subset of users, by using the -Filter parameter instead

When I attempt to use Identity in the Filter (Get-CsOnlineUser -Filter {Identity -eq d3c4b4e1-b747-4372-ac51-c9d7f2d13620}), I get the error

Get-CsOnlineUser : Cannot bind parameter 'Filter' to the target. Exception setting "Fi

[2022-03-03 18:22] Briggidy commented on #9037
I'm also not able to catch the exception with Get-CsOnlineUser either.  please let me know if I need to open a new issue.

Microsoft.Teams.ConfigAPI.Cmdlets.internal\Get-CsUser : userId was not found
At C:\Program Files\WindowsPowerShell\Modules\MicrosoftTeams\3.1.1\net472\custom\PsExt\Get-CsUserList.ps1:39 char:13
+             Microsoft.Teams.ConfigAPI.Cmdlets.internal\Get-CsUser -Id ...
+

[2022-03-03 19:00] sarollins opened #9045 "Get-CsHostedVoicemailPolicy is not recognized as the name of a cmdlet"
When I log into O365, using a user that has the TeamsAdministrator role, if I attempt to call this cmdlet I get the error

Get-CsHostedVoicemailPolicy : The term 'Get-CsHostedVoicemailPolicy' is not recognized as the name of a cmdlet,
function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the
path is correct and try again.

Even though it

[2022-03-03 22:04] dariomws commented on #8962
@isrumnon, could you deploy the fix for this issue? Thanks!

[2022-03-03 22:51] dariomws commented on #9014
Hi @felixfafard, thank you for your feedback.

Here we are limited to documentation issues and improvements. Anyway, I can recommend you to try the latest version of the Teams PowerShell module:
https://www.powershellgallery.com/packages/MicrosoftTeams/3.1.1

[2022-03-03 22:53] dariomws commented on #9021
Hi @Cristina-Cajal, thank you for your feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted

[2022-03-03 22:59] dariomws commented on #9033
Hi @RABurnettMCSE, thank you for your feedback.

I think you are talking about Set-CsTeamsCallingPolicy. In the article the description of this parameter is:
"Controls interop calling capabilities. Turning this on will allow Skype for Business users to have one-on-one calls with Teams users and vice-versa.

Note: This parameter is disabled."

[2022-03-04 00:00] markisback opened #9049 "Example shows EnableSafeLinksForClients but that parameter is not shown."
I assume it's legacy and replaced with EnableSafeLinksForO365Clients.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74c9eaef-98d2-8659-662a-91d0db5cb7bd
* Version Independent ID: 5c52e976-3cd2-b176-008f-37d0c628834e
* Content: [Set-AtpPolicyForO365 (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/modu

[2022-03-04 01:14] chrisda commented on #9049
@markisback, fixed. You're right about the wrong parameter being used in the example. The description of the example doesn't talk about Office apps, and the default value EnableSafeLinksForO365Clients is $true, so I just removed the offending parameter from the example. It's now just:

[code]

Thanks for the feedback.

Closing

[2022-03-04 01:14] #9049 closed

[2022-03-04 10:47] yogkumgit commented on #9014
@dariomws Thank you very much for the contribution and sharing this explanation. @felixfafard Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-04 10:47] #9014 closed

[2022-03-04 10:49] yogkumgit commented on #9021
@dariomws Thank you very much for the contribution and sharing this explanation. @Cristina-Cajal Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share

[2022-03-04 10:49] #9021 closed

[2022-03-04 10:52] yogkumgit commented on #9033
@dariomws Thank you very much for the contribution and sharing this explanation. @RABurnettMCSE Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-04 10:52] #9033 closed

[2022-03-04 18:45] chrisda commented on #8768
@cablechewer, OK. I added the link to the topic that you identified.

Thanks for the feedback.

Closing

[2022-03-04 18:45] #8768 closed

[2022-03-04 19:07] chrisda commented on #8995
Solution achieved.

Thanks for the feedback.

Closing

[2022-03-04 19:07] #8995 closed

[2022-03-04 19:13] chrisda commented on #8933
@baartch, after looking closely at this, I would say the behavior that you're describing is expected. The Exchange Online PowerShell and Security & Compliance Center PowerShell environments are fundamentally different: different endpoints to connect, located in different AD forests in the datacenters, no mailbox objects available at all in SCC PowerShell, etc. You're welcome to open a support case

[2022-03-04 19:13] #8933 closed

[2022-03-04 19:15] chrisda commented on #8902
@yogkumgit, this one should be OK to close.

[2022-03-04 19:21] Korbyn72 opened #9053 "EnableScheduleOwnerPermissions"
Missing details about -EnableScheduleOwnerPermissions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d110c7ad-29fb-d612-eaf3-5fec070035f5
* Version Independent ID: e39e22b3-0070-ad6e-df9f-5c7ead508359
* Content: [Set-CsTeamsShiftsPolicy (MicrosoftTeamsPowerShell)](https://docs.microsoft.com/en-us/powershell/module/team

[2022-03-05 07:34] #8902 closed

[2022-03-06 17:04] olanga commented on #8932
It is so frustrating... We run Teams PS Module 3.1.1 and today we have been hit by the same issue with ressource accounts:
Grant-CsTenantDialPlan -Identity $UPN -PolicyName "Policy"
Grant-CsUserPolicy : User does not exist
FullyQualifiedErrorId : ClientError,Microsoft.Teams.ConfigAPI.Cmdlets.Generated.Cmdlets.GrantCsUserPolicy_GrantExpanded

[2022-03-07 05:23] isrumnon commented on #8962
Hi @GarmanK @dariomws this fix has been rolled out. Please do confirm.

[2022-03-07 06:37] dariomws commented on #8962
Thanks, @isrumnon. If the user has an apostrophe in UPN, it's working for me now. But I cannot use the Display Name yet.

[2022-03-07 06:47] isrumnon commented on #8962
@dariomws Using the "-identity" parameter now only allows Guid/SIP address/UPN. Alias and Display Name have been dropped.

[2022-03-07 06:51] dariomws commented on #8962
@isrumnon, I'll update the article.

[2022-03-07 06:53] dariomws commented on #8962
@isrumnon, I see it's updated. Thanks!

[2022-03-07 12:23] JoukevanRossum commented on #8960
Any updates on this matter?
I've been experiencing same issues.

LineURI format is different in v2.3.1 vs v3.1.1

[2022-03-07 12:45] isrumnon commented on #8960
@JoukevanRossum we are working towards reintroducing the old format. Will update you when my team finalizes on a decision

[2022-03-07 13:21] JoukevanRossum commented on #8960
Thank you very much.

[2022-03-07 18:41] #9023 closed

[2022-03-08 02:53] yogkumgit commented on #8962
@dariomws Thank you very much for the contribution. @GarmanK Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-08 02:53] #8962 closed

[2022-03-08 02:57] yogkumgit commented on #8974
@dariomws

[2022-03-08 02:58] yogkumgit commented on #8975
@dariomws

[2022-03-08 02:58] yogkumgit commented on #8981
@dariomws

[2022-03-08 02:59] yogkumgit commented on #8994
@dariomws

[2022-03-08 02:59] yogkumgit commented on #9035
@dariomws

[2022-03-08 03:00] yogkumgit commented on #9037
@dariomws

[2022-03-08 03:00] yogkumgit commented on #9040
@dariomws

[2022-03-08 08:24] frpanza opened #9062 "Wrong example 2"
[Enter feedback here]
Please review the example 2 because the parameter "AllowedList"  is wrong.
I suppose that the correct cmdlet shoud be "Get-CsTenantFederationConfiguration | Select-Object -ExpandProperty Alloweddomains"

Regards,
F
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b929fe13-9ac8-ce73-f331-5c4ce1d08640

[2022-03-08 11:37] hewei-msft opened #9064 "IsInternal parameter is not related to the Antispam agents."
IsInternal parameter description has the mention about the antispam agents.  However this is not the case.  The Antispam agent does not use this parameter for their logic.   Therefore the "antispam agents" should be removed from the IsInternal parameter description

[2022-03-08 13:28] JeremyTBradshaw opened #9066 "EXO module "Version 2.0.6 Preview5 or later" doesn't exist publicly yet."
While it's nice to see something at all actually updated, the purple note at the top that states:

Is a little misleading at present.  There is no such "preview5" in existence on PowerShell Gallery.  The Message Center post MC316448 says that everyone had to act by February 20th, yet that has come and gone and nothing has happened from Microsoft's end yet.

What gives?

---
#### Document Details

[2022-03-08 16:03] stevecharon opened #9067 "Typo on page"
folder is incorrectly spelled as "forder" in Example 4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 573e63b4-b27b-5b7b-9269-78d308fd64d3
* Version Independent ID: 57b35909-0381-1181-58bb-2262c33576d1
* Content: [Set-MailboxRegionalConfiguration (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/

[2022-03-08 16:30] dkotars opened #9068 "May want to change context"
You may want to change this statement :

The owner you specify for this parameter must be a mailbox, mail user or mail-enabled security group (a mail-enabled security principal that can have permissions assigned). You can use any value that uniquely identifies the owner. For example:

CSS has elevated to PG and they have stated that owner must be mailbox or mail users. MESG not supported.

---
###

[2022-03-08 18:29] chrisda commented on #9067
@stevecharon, fixed. In the future, you too can make fixes like this without opening an Issue first. Instructions are [here](https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md).

Thanks for the feedback.

Closing

[2022-03-08 18:29] #9067 closed

[2022-03-08 18:40] Skatterbrainz commented on #8664
I agree with CATgwalker's comment above. Consistency would be very helpful.

[2022-03-08 19:58] chrisda commented on #9068
@dkotars, I tried the following steps in Exchange 2010, 2013, 2016, 2019 and Exchange Online (E5 tenant):

- Verified that there was an existing distribution group (DG) and a mail-enabled security group (MESG).
- Created a new MESG with myself as the only member.
- Used Set-DistributionGroup to change the value of ManagedBy on the existing DG and MESG to the new MSEG.
  - The only environment wher

[2022-03-08 20:12] dariomws commented on #8974
Hi @andreprakash and @amonzerol, thank you for your feeback.

Could you kindly test it again with the 4.0 module version?

[2022-03-08 21:58] rmichalskinw opened #9070 "Get-CsTenantBlockedCallingNumbers replacement for 3.1.1?"
I recently updated to 3.1.1 and found that we cannot find/use the CSTenantBlockingCallingNumbers commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881abf2b-1a4f-9c79-0804-d0d8877ae2a7
* Version Independent ID: 705e3888-5a5d-588a-d0f1-31b152260976
* Content: [Set-CsTenantBlockedCallingNumbers (SkypeForBusiness)](

[2022-03-09 03:51] yogkumgit commented on #8664
@dariomws

[2022-03-09 07:45] JensTrier commented on #9070
@rmichalskinw thanks for the feedback. I tried running both Get/Set-CsTenantBlockedCallingNumbers in my test tenant on TPM 3.1.1 and newly released TPM 4.0.0 and it works for me. If it continues to fail for you, my recommendation is that you open a Microsoft support case and work with them to solve it.

[2022-03-09 10:02] caspChristian opened #9073 "Set-MailboxMessageConfiguration SignatureHTML has no effect in UI"
Using `Set-MailboxMessageConfiguration` to set `SignatureHTML` does not have any effect in UI.

This might be the same as #8537
But that issue was closed without any change. (and no explanation, which is just unacceptable)

If it is really true that "Multi signatures" MC305463 broke functionality in `Set-MailboxMessageConfiguration` then There should be documentation that explains when it does not

[2022-03-09 10:05] caspChristian commented on #8537
@yogkumgit why is this issue closed when there has been no update to the documentation?
Also no explanation on why it is closed without being addressed. 🤬

@chrisda Feel free to reopen again. ;)

[2022-03-09 10:07] leewisestamp commented on #8537
Agree 100%

[2022-03-09 13:19] dkotars commented on #9068
I this particular case, we had MESG with MESG as an owner and tested with member of owning MESG - in Exchange Online. For this particular case, end user was using Outlook to manage MESG group membership.  In that list they only saw themselves as a group member and not an owner, despite being a member of the owning MESG group.  If you explicitly made the mail user an owner, they would show as owner

[2022-03-09 15:20] RoelVB commented on #6236
@AmaniSakr Did you ever figure this out?
I'm experiencing the same with app authentication, but is works fine as user.

I'm pretty sure Microsoft blocks this call when you're authenticated as app, but cannot find any information about this anywhere.

[2022-03-09 17:20] AspenForester commented on #4684
And here we are a year later, PowerShell at version 7.2.1, with the module updated to version 16.0.22208.12000, and it *still* doesn't work with PowerShell because it still depends on 'System.Security.Cryptography.SHA256Cng'.  I know this isn't a documentation problem, but the dev team kinda boned the documentation team by setting the "project home" attribute on PowerShell Gallery to this github r

[2022-03-09 17:25] sunishissac commented on #4684
It worked in 7.2 only after -UseWindowsPowerShell

[2022-03-09 18:12] chrisda commented on #9073
@caspChristian, it's exactly the same issue as #8537, so I'm closing this issue as a duplicate. Check back on that other issue for progress.

[2022-03-09 18:57] caspChristian commented on #9073
@chrisda Yeah, totally fine, as long as you don't close that issue again without actually documenting or fixing the actual issue ;)

(please note that at the time #8537 was closed)

[2022-03-09 18:57] #9073 closed

[2022-03-09 19:06] chrisda commented on #9068
@dkotars, now that's very interesting and definitely worth clarifying! I added the following note to the ManagedBy parameter description in New/Set-DistributionGroup:

Thanks for the feedback.

Closing

[2022-03-09 19:06] #9068 closed

[2022-03-09 20:47] amonzerol commented on #8974
It works on my end, thank you !

[2022-03-09 21:30] dariomws commented on #8981
Hi @eleighty, thank you for your feedback.

I confirm this error. I want to check if this cmdlet is still in preview, please check the note in the description. I'll try to confirm it.

[2022-03-09 21:52] eleighty commented on #8981
Afternoon Dario!

Thank you for looking into this, yes, it is a part of the Public Preview for Microsoft Teams.

From: Dario Woitasen ***@***.***>
Sent: Wednesday, March 9, 2022 1:31 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Emma Leighty ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Possible bug when using Get-TeamChannelUser with a -Disp

[2022-03-10 00:43] anthonynz opened #9079 "Get-AdvancedThreatProtectionDocumentReport deprecated?"
Hi folks,

Can you please confirm if this commandlet is deprecated?

There is no mention of it becoming deprecated in the docs, and the commandlet has not provided any warning that the command will become deprecated in the future (as has been the precedence with other deprecated commandlets).

At the moment the command does not run and results in an error from outlook.office365.com:
`We cannot cur

[2022-03-10 02:13] chrisda commented on #9079
@anthonynz, checking.

[2022-03-10 02:25] anthonynz commented on #9079
Thanks Chris,

I should also clarify...
- this error has persisted for the past couple of weeks.
- O365 support suggested the command is deprecated.
- I'm sure it was working in December.

[2022-03-10 02:46] yogkumgit commented on #9070
@rmichalskinw Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-10 02:46] #9070 closed

[2022-03-10 07:16] jianhsieh opened #9081 "Set-MailboxPlan parameter description is confusing"
Hi Team,

I've just came across this PowerShell command, and the parameter "-RetentionPolicy" seems a bit misleading. I've tested in lab:
- Neither Set-MailboxPlan nor Set-RetentionPolicy updates existing mailboxes’ retention policy
- MailboxPlan’s default retention policy has a higher priority than setting policy to default via Set-RetentionPolicy
- By default, MailboxPlan’s default should be Def

[2022-03-10 15:54] JohnGGeo commented on #8883
Along the same lines is enterprisevoiceenabled also set to true? As I guess if you set a number wouldn't you also want that set to true by default, the docs show the default as none.

[2022-03-10 15:57] JensTrier commented on #8883
@JohnGGeo it is. Please see https://docs.microsoft.com/en-us/powershell/module/teams/set-csphonenumberassignment?view=teams-ps#description

[2022-03-10 16:19] Briggidy opened #9082 "Grant-CsTenantDialPlan fails with UPN"
### Unable to apply Dial Plan to users using UPN.

Using the following cmdlet:
<code>
Grant-CsTenantDialPlan -PolicyName US -Identity first.last@contoso.com
</code>

**Error:**

<code>Microsoft.Teams.ConfigAPI.Cmdlets.internal\Grant-CsUserPolicy : User does not exist</code>
<code> At C:\Program Files\WindowsPowerShell\Modules\MicrosoftTeams\3.1.1\net472\custom\PsExt\Grant-CsUserOrTenantPolicy.ps1:

[2022-03-10 19:08] olanga commented on #9082
We have the same issue since last Saturday.  We have been  using 3.1.1 for weeks without issue.
Unfortunately none of your workarounds works for me.
1- "User does not exist" 2. "Grant-CsTenantDialPlan : One or more errors occurred"

Here is the answer we have got from Microsoft:
"Assessment/Analysis:
This scenario matches a known issue related to version 3.1.1 that we are currently investigating.

[2022-03-10 19:42] chrisda commented on #9079
@chrisda, wouldn't you know it, I had changes stating that this cmdlet was being deprecated (and other related updates) that were parked in a branch waiting to be published. I published them (PR will be referenced in this issue).

Thanks for the feedback.

Closing

[2022-03-10 19:54] chrisda commented on #9079
Yes:

- Get-AdvancedThreatProtectionDocumentDetail: This cmdlet will be deprecated. Use the [Get-ContentMalwareMdoDetailReport](https://docs.microsoft.com/powershell/module/exchange/get-contentmalwaremdodetailreport) cmdlet instead.
- Get-AdvancedThreatProtectionDocumentReport: This cmdlet will be deprecated. Use the [Get-ContentMalwareMdoAggregateReport](https://docs.microsoft.com/powershell/modu

[2022-03-10 20:15] dariomws commented on #8975
Hi @eblingus and @gcouper, thank you for your feedback.

Are you talking about disabled accounts synchronized via Azure AD Connect or inactive mailboxes?

[2022-03-10 20:21] dariomws commented on #9037
Hi @DMoenks and @Briggidy, thank you for your feedback.

Could you kindly try again with the 4.0 version module?

@DMoenks, please use Set-CsPhoneNumberAssignment instead of Set-CsUser.

Thanks!

[2022-03-10 20:30] dariomws commented on #8664
@lazedo @CATgwalker @Skatterbrainz, thank you for your feedback.

I'll try again to get more clarity about this feature as it was not included yet in 4.0 as far as I can see.

[2022-03-10 20:43] dariomws commented on #8994
Hi @ckarawani, thank you for your feedback.

If you are still experiencing this issue with version 4.0 of the Teams PowerShell Module, I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microso

[2022-03-10 21:15] dariomws commented on #9040
Hi @Pam-SP, thank you for your feedback.

The private Team Discoverability feature was dropped 2 years ago. Public Channels are always discoverable and Private Channels are the opposite.

For different reasons, it's not possible to change from public to private and vice-versa. You can provide your feedback to request this feature here:
https://feedbackportal.microsoft.com/feedback/idea/bba11aa7-a5

[2022-03-10 22:59] JeremyTBradshaw commented on #9066
Sorry, I'm back tracking here but I'm sure it will be available soon, so I'm OK to not pursue this issue.

[2022-03-10 22:59] #9066 closed

[2022-03-11 02:02] anthonynz commented on #9079
Brilliant thanks, you have been more informative than Office 365 support.

I look forward to seeing the two new commands released to production, is there an ETA on them going live?

I can see they're physically present in the ExchangeOnlineManagement V2 module, but currently do not function.

Get-ContentMalwareMdoAggregateReport
Get-ContentMalwareMdoDetailReport

From: Chris Davis ***@***.***>
Sen

[2022-03-11 02:04] #9079 closed

[2022-03-11 02:26] chrisda commented on #9079
The new ContentMalwareMdo cmdlets are likely in the process of being rolled out. I see them in my stock PROD E5 tenant (no flighting or Preview), so if you don't see them yet, I presume you'll see them shortly.

[2022-03-11 02:41] yogkumgit commented on #8994
@dariomws Thank you very much for the contribution and sharing this explanation. @ckarawani Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-03-11 02:43] yogkumgit commented on #9040
@dariomws Thank you very much for the contribution and sharing this explanation. @Pam-SP Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-11 02:49] ckarawani commented on #8994
thanks @yogkumgit and @dariomws for your feedback. The folks who support 365 don't really provide much support / response times for Powershell Modules. So far this issue has been quite transient, so I'll keep an eye out for it.

As it stands it no longer occurs on any version. So you may close and I can reference this if it happens in the future and perhaps we can add a note to the doc.

[2022-03-11 02:49] #8994 closed

[2022-03-11 07:34] dtavb opened #9087 "MicrosoftTeams 4.0.0 - created resource accounts without applicationid for call queue or autoattendant"
screnario:

using powershell 5.1
permissions: skype for business and teams administrator

[...]
	$appID = "11cd3e2e-fccb-42ad-ad00-878b93575e07"
	$upn= "ra-cq-1@contoso.com"
	$name= "ra-cq-1"

New-CsOnlineApplicationInstance -UserPrincipalName $upn -DisplayName "$name" -ApplicationId $appID
[...]

script runs without error message.

output of:  Get-CsOnlineApplicationInstance  | Where-Object { $_.

[2022-03-11 09:48] JosefStrasserACP opened #9088 "Get-EXOMailbox -UserPrincipalName returns wrong mailbox, seems to also look in EmailAddresses attribute"
The Get-EXOMailbox cmdlet with the UserPrincipalName parameter seems to also search in the EmailAddresses attribute of mailboxes.

I'm having a customer with an AzureAD user, whos UPN is added to another users mailbox emailaddresses (for whatever reason ^^). In this constellation, the behaviour of the Get-EXOMailbox cmdlet leads to a lot of trouble, when using the UPN as an identical identifier an

[2022-03-11 09:50] JensTrier commented on #9087
@dtavb Thanks for the feedback. I can repro the issue with missing ApplicationId on Get-CsOnlineApplicationInstance in TPM 4.0.0. I have reported it internally. If you do Get-CsOnlineApplicationInstance -Identities <ObjectId> you will see the ApplicationId

In TAC when you Edit the resource account, the resource account type is not shown, unless you have associated the resource account to a Call Q

[2022-03-11 11:45] stukey opened #9089 "Get-MailboxPermission cmdlet no longer returns unresolved permissions by default"
We’ve noticed that the Get-MailboxPermission cmdlet no longer returns unresolved permissions by default. Therefore, if you want to check a mailbox for unresolved permissions, you now have to specify a new parameter **-IncludeUnresolvedPermissions** when running Get-MailboxPermission. For example:

[code]

The fact unresolved permissions are not returned by default needs to be mentioned in the docu

[2022-03-11 12:36] dtavb commented on #9087
Hey JensTrier, thank you for your hint with the TAC.

Maybe I have taken the wrong way to get the ApplicationId, but the output of both code-snippets is the same without ApplicationId, but the resource account has never been assigned to an callqueue or autoattendant.

1) calling via ObjectId
$ai = Get-CsOnlineApplicationInstance  | Where-Object { $_.UserPrincipalName -eq $upn }
Get-CsOnlineApplica

[2022-03-11 12:41] Niehweune opened #9090 "LocationId parameter not mandatory + typo in example"
- In the first parameterset (syntax), parameter LocationId isn't mandatory, so should be enclosed in square brackets
- Example 4 has "null" instead of "$null" for the LocationId parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b911670-8e3f-f86a-90ac-bde691d49e8c
* Version Independent ID: 4b1d9835-8e81-d04b-57e

[2022-03-11 13:52] JensTrier commented on #9090
@Niehweune Thanks for the feedback!

I'll change the syntax section. For your second point, it is actually null you need to set it to to remove the location

[2022-03-11 14:16] dtavb commented on #9087
Hey JensTrier, thank you alot for your explanation. I am using this in the same way, with some bug fixing my azure automation runbooks are running with TPM 4.0.0 again.

[2022-03-11 14:16] #9087 closed

[2022-03-11 14:31] Pam-SP commented on #9040
Thank you for your answer but I find this to not answer my question.  I don't want to make a Private Team discoverable.  I am changing a Team from private to Public which you can do either through Edit Team in Teams or by Set-Team - <Team Name> -Visibility Public.  I have changed a Team from private to public many times.

My issue is that once the team is set to Public,  while you can search for t

[2022-03-11 15:09] DMoenks commented on #9037
I can't recognize any difference with version 4.0.0 of the module, the examples provided above still apply.

Even though _Set-CsPhoneNumberAssignment_ would be the cmdlet to use in the very near future, our production scripts aren't yet able to handle its "exceptions", as they're technically no _Exception_ objects, but rather _SkypeTelephoneNumberMgmtErrorResponse_ objects. This is fine by itself,

[2022-03-11 16:34] Briggidy commented on #9037
@dariomws it's still not working in 4.0.0. for me either.

I had to downgrade another machine to 2.6.0 to get something else working and can confirm it's working as expected in 2.6.0

Here is the error:

<code>Microsoft.Teams.ConfigAPI.Cmdlets.internal\Get-CsUser : userId was not found</code>
<code>At C:\Program Files\WindowsPowerShell\Modules\MicrosoftTeams\4.0.0\net472\custom\PsExt\Merged_custom

[2022-03-11 16:56] Briggidy commented on #9082
@olanga  sorry the workarounds don't help.  Thanks for the info.  Seems like a lot of issues lately with Teams modules.

[2022-03-11 19:14] dariomws commented on #9037
Thanks for your feedback guys.

To be honest, I'm trying to help here, but we are limited to documentation improvements. If there is something that I can do for you in docs let me know.
If you need more support, you should use standard support channels.

My apologies and I hope you understand.

[2022-03-11 21:16] southwick7320 opened #9093 "Does not honor error handling with Try Catch"
After updating scripts to this cmdlet Try/Catch is no longer honored for a failed number assignment.

PS C:\Users> Try{Set-CsPhoneNumberAssignment -identity '<testaccount>' -PhoneNumber +'<duplicatenumber>' -PhoneNumberType directrouting -ErrorAction stop }Catch{Write-output 'Error Response'}

Code       Message
----       -------
BadRequest Telephone Number '+<duplicatenumber>' has already been a

[2022-03-11 21:38] dariomws commented on #9040
@Pam-SP, my apologies but I'm not understanding your request.

Here we are limited to documentation issues and improvements. If there is an article where we can help please let me know.

If you are requesting a feature, you could add your voice in the Microsoft Feedback Portal: https://feedbackportal.microsoft.com/feedback/forum/ad198462-1c1c-ec11-b6e7-0022481f8472.

[2022-03-11 21:46] Niehweune commented on #9090
Oh right, it's supposed to be an acual **string** 'null'. Maybe add quotes then, to avoid confusion with a $null value.

Come to think of it, pwsh evaluates +12065551224 as an Int64, so when cast to string this would drop the '+' (which has the same net effect here, though).

[2022-03-12 03:10] yogkumgit commented on #9037
@dariomws Thank you very much for the contribution and sharing this explanation. @DMoenks Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the out

[2022-03-12 03:33] yogkumgit commented on #9064
@hewei-msft Thank you very much for the contribution and updating the documentation with PR. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-12 03:33] #9064 closed

[2022-03-12 03:49] yogkumgit commented on #9082
@olanga Thank you very much for the contribution and sharing this explanation. @Briggidy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-12 03:49] #9082 closed

[2022-03-12 08:24] DMoenks commented on #9037
@yogkumgit, @dariomws
Thanks for the hint, I honestly didn't even consider that when I followed a _Submit feedback for this product_ link in the documentation. In my mind, the "product" referred to by the link was the Teams PowerShell module, not the documentation itself.
I will turn to standard Microsoft support channels for issue resolution, as advised. Therefore, I consider this GitHub issue as

[2022-03-12 08:25] DMoenks commented on #9037
Closed after unintended reopening

[2022-03-12 08:25] #9037 closed

[2022-03-14 10:27] JensTrier commented on #9090
Change is in this PR https://github.com/MicrosoftDocs/office-docs-powershell/pull/9096

Feel free to close this issue

[2022-03-14 11:29] uclnj opened #9097 "Can't pipe into Set-UserBriefingConfig?"
Attempting to disable briefing email for all users but cannot pipe identities into this command.  Is there a reason Account pipeline input was set to false other than forcing admins to disable each account individually?

[2022-03-14 11:37] JensTrier commented on #9093
@southwick7320 Thanks for the feedback! I've forwarded your feedback to the team responsible for the cmdlets.

Feel free to close this issue.

[2022-03-14 20:33] madshaun1984 opened #9100 "Azure Automation - Unable to load "ieframe.dll""
I've deployed the 4.0.0 MicrosoftTeams powershell module to Azure Automation, and have written a RunBook to assign a policy to a teams user to be used as part of our onboarding process. However, when running the playbook on Azure I'm getting the following error,

`Connect-MicrosoftTeams : Unable to load DLL 'IEFRAME.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E

[2022-03-15 10:05] stefs987 opened #9102 "EXO module "Version 2.0.6 Preview5 or later" not available to install/download"
Just over a week ago this page was updated to reference version 2.0.6 preview 5 to support connecting to the Security and Compliance Center using an application/certificate.

However this version doesn't appear to be available; the latest version in the PowerShell gallery is still 2.0.6 preview 4.

We are desperately awaiting this change due to internal policies around using service accounts, so w

[2022-03-15 13:00] donlassini opened #9103 "Get-CsOnlineUser and Set-CsUser does not handle exceptions correctly in some cases"
Using Teams Online PowerShell module, version 4.0.0 in Windows PowerShell 5.1:

Try running this **in a new PowerShell session** - and write it literally (i.e. do not substitute "x" with anything else, and do not connect prior to running the command):
[code]
The error will be thrown as an exception that you catch.

Then try this:
[code]
You will get error data back, even if you asked for errors to

[2022-03-15 14:24] JoukevanRossum commented on #8960
Another strange addition: is that when I fetch a user from MS Teams using version 2.3.1 the user does not have a lineuri assigned but when using version 4.0.0 all of a sudden it returns a lineuri...

[2022-03-15 14:46] JeremyTBradshaw commented on #9102
@stefs987 thanks for carrying the torch 🔥.

[2022-03-15 15:52] brownt63 commented on #8583
I was able to update this accordingly today finally via PS:

Set-CsExternalAccessPolicy -Identity Global -EnableTeamsConsumerInbound $False

[2022-03-15 15:58] dannydpa commented on #8583
Yes, I can change it myself as well now. They have fixed it!

[2022-03-15 16:17] rcrum003 opened #9105 "Disconnect-ExchangeOnline uses Write-Host"
If you use Disconnect-ExchangeOnline in a script, there isn't an easy way to hide the output because Write-Host is used instead of Write-Output.

Need to either use Write-Output, or support -Showbanner:$false or a quiet mode when disconnecting.

[2022-03-15 17:11] isrumnon commented on #8960
Hi @poshdude , to your queries:

1. LineURI is missing 'tel:+' - Can you please check now? This fix just got deployed today
2. ObjectId is being returned as the Identity property and the ObjectId field is empty - ObjectID has been renamed to Identity, the script you are running causes the ObjectID field to show up empty because it no longer exists
3. OnPremLineURIManuallySet flag is empty - This h

[2022-03-15 18:25] poshdude commented on #8960
Hi, thanks for the update and good to know about those changes in properties.   I'm afraid LineURI is still missing 'tel:+', have attempted on a couple of our customer tenants and still no show, I shall try again tomorrow and share an update.

Also, can I confirm that with Get-AzureADUser, ObjectId field has not been renamed but with Get-CsOnlineUser it is now renamed to Identity?

Finally, I have

[2022-03-15 21:51] fsilvestre opened #9107 "Import failure of module MicrosoftTeams 4.0.0 after import MSOnline"
Transcript01 start a new session importing MSOnline before MicrosoftTeams [https://pastebin.com/hbXeeD28](url)

Transcript02 start a new session importing only MicrosoftTeams [https://pastebin.com/Q0NacXS2](url)

[2022-03-16 05:40] #9090 closed

[2022-03-16 11:34] poshdude commented on #8960
Hi,

Some inconsistent behaviour to report with 4.0.0 based on today's look (Get-CsOnlineUser -ResultSize 1 is not hanging today).

1. Running Get-CsOnlineUser against a target UPN still doesn't show LineURI with 'tel:+' (NOTE: this UPN **does** have a dirsynced LineURI so we expect a value for OnPremLineUri)
[code]
2. If I use a filter, the LineURI in the result does show a 'tel:+'  (I thought th

[2022-03-16 14:55] Volker1211 commented on #8992
I'm currently experiencing this issue in Module 4.0.0, too. Is there any news on this?

[2022-03-16 15:45] JensTrier commented on #8992
@Volker1211 Thanks for the feedback. The recommended approach is to open a Microsoft support case and they will work with you to root cause what is going on.

[2022-03-17 08:48] anwarmahmood1 opened #9117 "provide an example for the userids filter"
It isn't apparent how you would identify a user; their Exchange Distinguished Name, a GUID? Email?  Please specify UserPrincipalName and use an example;

`eg -UserIds MeganB@contoso.onmicrosoft.com`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75b757c9-b775-8294-91f7-870bead6a907
* Version Independent ID: 54ebab36-97

[2022-03-17 09:07] michevnew commented on #9102
It's out now

[2022-03-17 09:10] stefs987 commented on #9102
Just spotted it! Great :)

[2022-03-17 09:10] #9102 closed

[2022-03-17 13:09] JohnGGeo opened #9118 "Number Length in Examples"
Examples has the incorrect length of E164 number and the example description doesn't match.

Set-CsPhoneNumberAssignment -Identity user4@contoso.com -PhoneNumber "+1425551000;ext=100" -PhoneNumberType DirectRouting
This example assigns the Direct Routing phone number +1 (425) 555-1000;ext=100 to the user user4@contoso.com

$pn=Set-CsPhoneNumberAssignment -Identity user5@contoso.com -PhoneNumber "+

[2022-03-17 13:28] czendler opened #9119 "Some Teams PS Cmdlets are not working from Azure Cloud Shell (token or 404 error)"
Hello,

We are experiencing issues while running SOME Teams PS commands from Azure Cloud Shell

Affected commands (one we already identified):
<img width="1122" alt="TeamsPSError" src="https://user-images.githubusercontent.com/16116173/158818243-07917bd4-19f2-4540-a3d8-4aac97ba2872.png">
As you can see, commands like Get-Team works fine.

Previously for above commands we received 404 error, its pr

[2022-03-17 13:30] JensTrier commented on #9118
@JohnGGeo Thanks for the feedback. Fixed it in https://github.com/MicrosoftDocs/office-docs-powershell/pull/9120

Feel free to close the issue

[2022-03-17 13:35] #9118 closed

[2022-03-17 14:51] DEberhardt commented on #9103
As far as I could determine, this is a back-end issue. the error is thrown by an internal function:

[code]

I belive there is a typo in the Name of the `f__AnonymousType` variable and the apostrophe is breaking that comparison. The Cmdlet `Get-csUser_Get` does not adhere to the `ErrorAction` at all. Have noticed this across multiple cmdlets that now throw errors and had opened a ticket a few week

[2022-03-17 15:16] isrumnon commented on #9103
@DEberhardt not yet, we'll look into this. Thanks for bringing this up

[2022-03-17 17:23] chrisda commented on #6716
Version 2.0.6-Preview5 of the EXO V2 Module is now available, so the various Credential parameters are now available on Connect-IPPSSession, so certibicate-based/app-oly authentication is now fully available in Security & Compliance Center PowerShell.

[2022-03-17 17:24] chrisda commented on #8149
Version 2.0.6-Preview5 of the EXO V2 Module is now available, so the various Credential parameters are now available on Connect-IPPSSession, so certibicate-based/app-oly authentication is now fully available in Security & Compliance Center PowerShell.

[2022-03-17 17:24] chrisda commented on #8798
Version 2.0.6-Preview5 of the EXO V2 Module is now available, so the various Credential parameters are now available on Connect-IPPSSession, so certibicate-based/app-oly authentication is now fully available in Security & Compliance Center PowerShell.

[2022-03-17 17:24] chrisda commented on #9066
Version 2.0.6-Preview5 of the EXO V2 Module is now available, so the various Credential parameters are now available on Connect-IPPSSession, so certibicate-based/app-oly authentication is now fully available in Security & Compliance Center PowerShell.

[2022-03-17 19:13] YuriySamorodov opened #9123 "Set-UserPhoto not availablle in ExchangeOnlineManagent 2.0.6"
Hi,

It looks like ```Set-UserPhoto``` cmdlet became unavailable in the PowerShell module ```ExchangeOnlineManagement 2.0.6```
![image](https://user-images.githubusercontent.com/5260172/158878272-3245aadd-359d-4e5f-93d0-4012528b220b.png)

However. it **does**  appear in ```ExchangeOnlineManagement 2.0.5```

![image](https://user-images.githubusercontent.com/5260172/158878227-23237e54-81cc-4db3-9cb

[2022-03-17 19:17] YuriySamorodov opened #9124 "Get-UserPhoto not available in ExchangeOnlineManagement 2.0.6"
Hi,

It looks like ```Get-UserPhoto``` cmdlet became unavailable in the PowerShell module ```ExchangeOnlineManagement 2.0.6```
![image](https://user-images.githubusercontent.com/5260172/158878865-571dc20c-f666-4b87-b77c-41c154705da8.png)

However. it **does**  appear in ```ExchangeOnlineManagement 2.0.5```
![image](https://user-images.githubusercontent.com/5260172/158878680-6afee2d7-4187-449e-9a58

[2022-03-17 19:26] chrisda commented on #9117
@anwarmahmood1, I updated the description to say:

In the future, you too can make changes like this directly without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md>.

Thanks for the feedback.

Closing

[2022-03-17 19:26] #9117 closed

[2022-03-18 10:46] poshdude commented on #8960
@isrumnon - any thoughts on the above please?

[2022-03-18 11:42] DEberhardt commented on #9103
found a few more examples:
[code]

[2022-03-18 13:23] sarollins opened #9128 "Different results based on authentication used"
When calling Get-CsTenant, we get different results based on the type of authentication used to connect to Teams

When using basic authentication, we see this

Get-CsTenant | Select City, CountryAbbreviation, DisplayName, PostalCode, StateOrProvince, Street, VerifiedDomains

City                       :
CountryAbbreviation        : US
DisplayName                : **** Systems Corporation
PostalCod

[2022-03-18 13:42] olanga commented on #8992
The issue has been resolved by Microsoft support.
Apparently it was due to duplicate BVD values for our users.

[2022-03-18 13:44] ckarawani commented on #8992
hello @olanga what does BVD stand for?

[2022-03-18 13:45] JensTrier commented on #8992
@olanga thanks for update. Please feel free to close the issue

[2022-03-18 13:46] olanga commented on #8992
Business Voice Directory
The only information I found was below article in German:
https://www.msxfaq.de/teams/pbx/bvd_business_voice_directory.htm

[2022-03-18 13:47] olanga commented on #8992
closing...

[2022-03-18 13:47] #8992 closed

[2022-03-18 14:49] deividfoggi opened #9130 "Description missing for parameter RejectIfRecipientHasNoRights"
The parameter RejectIfRecipientHasNoRights has no description making difficult to understand the implications of changing it.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ebaffb3-b4a1-9ba1-d6cb-cea3befecc89
* Version Independent ID: 8b7b857e-4090-d865-79dc-5e14f6fa7748
* Content: [Set-IRMConfiguration (Exch

[2022-03-18 16:42] chrisda commented on #9130
@deividfoggi, empty parameter descriptions are a known issue. See [this issue and my response](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for more background.

If you know that this parameter is supposed to be available and how it works, I encourage you to add a description for it directly. Painfully easy instructions are [here](https://github.com/M

[2022-03-18 18:55] deividfoggi commented on #9130
Hi Chris, unfortunetly I know nothing about this one so this is why I opened this issue instead of creating a PR. Hope you can ask PG about the description.

Thanks.

[2022-03-19 00:18] chrisda commented on #9130
As described in that link I provided, it's an availability vs. functionality issue. I know 100% that the parameter is available. Whether or not it's supposed to be is another story (accidental release, Private Preview, too early release, etc.).

If the issue is simply that the description is empty, my response is, "thanks, known issue". If they are actually trying to use the thing, perhaps because

[2022-03-19 02:55] yogkumgit commented on #8974
@dariomws Thank you very much for the contribution and sharing this explanation. @amonzerol Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-19 02:55] #8974 closed

[2022-03-19 02:56] yogkumgit commented on #8975
@dariomws Thank you very much for the contribution and digging deep into it.  @eblingus We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this document

[2022-03-19 02:57] #8975 closed

[2022-03-19 02:57] yogkumgit commented on #8981
@dariomws

[2022-03-19 03:00] yogkumgit commented on #8986
PR #9036

[2022-03-19 03:00] yogkumgit commented on #8986
@DEberhardt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-19 03:01] #8986 closed

[2022-03-19 03:02] yogkumgit commented on #8991
@isrumnon Please comment.

[2022-03-19 03:05] yogkumgit commented on #9035
@dariomws Please comment

[2022-03-19 03:05] #9040 closed

[2022-03-19 03:11] yogkumgit commented on #9093
@southwick7320 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-19 03:11] #9093 closed

[2022-03-21 07:59] Fimlore opened #9136 "Get-CSOnlineUser missing filters for Phone and Enabled"
Version 4.0 does no longer contain filters for Phone and Enabled. these used to be present but now throw an error.

[code]

[2022-03-21 08:13] Fimlore commented on #9136
it seems the ```Enabled``` is replaced with ```AccountEnabled```
is there a similair replacement for Phone?

[2022-03-21 09:13] isrumnon commented on #8991
Hi @richardh-ncp @vlethiec these changes are by design and have been documented here https://docs.microsoft.com/en-us/powershell/module/skype/get-csonlineuser?view=skype-ps

[2022-03-21 10:17] Petri-X opened #9138 "Get-CsOnlineUser and -filter"
Hi,
I was reading your documentation [MS Docs: Get-CsOnlineUser](https://docs.microsoft.com/en-us/powershell/module/skype/get-csonlineuser?view=skype-ps) and especially the "-filter" section.

Text says, that "-NOT" and "-LIKE" are not anymore available and yes, that is true "The method or operation is not implemented" :D But just before that the document is saying e.g.:
_All users with an Assigne

[2022-03-21 10:26] Petri-X opened #9139 "Get-CsOnlineUser, what is the correct way to find users based on policies (PS 3.1.1)"
Hi,
I tried to found our users based on the meeting policies, using the following PS commands:
[code]
But both of them returns empty results.

When I run the following command:
[code]
I'm getting a list of users and their Teams Meeting Policy is marked as:
[code]

Anybody have an idea what is the correct filter to find users based on their policies?

[2022-03-21 11:40] DEberhardt commented on #9103
Found another one when running the following commands:
[code]

This is on v4 btw.

Filter works for `"Userprincipalname -eq '...'"` but not for `"LineUri -like..."`

Does MicrosoftTeams now require a connection to AADGraph or is this message misleading me?

[2022-03-21 12:05] DEberhardt commented on #9103
It looks like the * at the beginning is creating issues here:
[code]

[2022-03-21 12:11] DEberhardt commented on #9103
I just tried this now and indeed the search behaves differently.

[code]

[2022-03-21 13:27] donlassini commented on #9103
@DEberhardt , this issue is not about the filter not working as expected, it's about the cmdlet not throwing exceptions properly and adhering to the -erroraction parameter.
So regarding this issue, I don't think that any of your comments are relevant. Yes, they are relevant but for a totally different bug.

[2022-03-21 19:42] chrisda commented on #9028
@Richard-Tang, you should open a support case.

[2022-03-22 06:24] poshdude commented on #9103
Have noticed this too for other commands with 4.0.0
e.g.
[code]
The exception is seen on screen and not caught
[code]
But it is in the error stream
[code]
And also not sent to an error variable, e.g. this doesn't work either
[code]

The workaround posted by @donlassini works so possibly something related to the auto-loading of the MicrosoftTeams module rather than explicitly loading it?

[2022-03-22 06:28] poshdude commented on #9103
Small update to above...

Reloading the MT modules works for Try Catch but sending to an error variable results in a new exception

[code]

[2022-03-22 07:06] donlassini commented on #9103
@poshdude, I just tested, and it's not related to autoimporting the module FYI.
Your observations around the error variables are great! I can produce the same results.

[2022-03-22 07:47] poshdude commented on #9103
@donlassini  - thanks for that.  Do you notice that re-importing the module as you suggested reverts back to (now) legacy PSRemoting session for MicrosoftTeams?

e.g. if you run Get-PSSession

[code]

and you start seeing legacy properties i.e. as I noted above about the Identity property....

[2022-03-22 08:08] landang-tyme opened #9146 "Set-place cmdlet not available"
I already install the latest version Exchange Online Management but the cmdlet Set-Place not available

ModuleType Version    PreRelease Name                                ExportedCommands
Script     2.0.6      Preview3   ExchangeOnlineManagement            {Get-EXOCasMailbox, Get-EXOMailbox, Get-EXOMailbo…

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-03-22 09:00] donlassini commented on #9103
@poshdude - another great observation :-)
I examined it, and noticed that that session is not shown until after you run a command, e.g. Get-CsOnlineUser. If you just reimport the module and do nothing, Get-PsSession will give you nothing. I tried waiting for 2 minutes just in case.

[2022-03-22 09:26] t-deman commented on #7352
Exchange 2019 CU11.  -startAfter is not proposed/not recognized on the command "set-migrationbatch".

But it's present in the Help.

[2022-03-22 10:16] poshdude commented on #9103
@donlassini  - no worries.  I guess just be aware that the connection changes to legacy and the properties returned by commands may not match the properties we are now expecting in the modern v.4.x module.  Incidentally, this seems to work for me without the need to remove and reload the module, so perhaps a better option here for now?

[code]

[2022-03-22 11:09] DEberhardt commented on #9103
This is tangential, but many CmdLets have been migrated to the AutoRest API now - these do not create a session when called. AFAIK there is no (published) documentation on which CmdLets are behaving a certain way.
From what I could ascertain, the PSSession is now created silently and in the background. It is also cycled automatically.

I am using `Get-CsTenant` to validate at the moment, as the Co

[2022-03-22 11:12] TheITguy666 opened #9147 "Export-CsOnlineAudioFile is not usable for uploading?"
I have successfully uploaded an audio file using the Import-CsOnlineAudioFile.
But exporting the file back seems to get a different format unusable to Import again:
$content=Export-CsOnlineAudioFile -Identity <> -ApplicationId huntgroup
[System.IO.File]::WriteAllBytes("test.wav", $content)

Either options give me the same error "Audio file content is not supported"
(directly from the export)
Impor

[2022-03-22 13:49] JensTrier commented on #9147
@TheITguy666 Thanks for the feedback. Please open a Microsoft support case and they will work with you to get to the bottom of this.

[2022-03-22 13:56] TheITguy666 opened #9148 "Set-CsCallQueue "SharedVoiceMail" behaviour"
This PS command seems to have different behaviors that trigger error messages

**ISSUE #1**. After running  this
Set-CsCallQueue -Identity <id> -TimeoutThreshold 30 -TimeoutAction 0
If you ran this command you get an error:
Set-CsCallQueue -Identity <id> -TimeoutThreshold 30 -TimeoutAction SharedVoicemail -TimeoutActionTarget <teamID> -TimeoutSharedVoicemailAudioFilePrompt <audiofile> -TimeoutShar

[2022-03-22 14:31] poshdude commented on #9103
IMHO, the PS Remoting  appears to be central to the issue.   We see above that commands that utilise PS Remoting work as expected for exception handling (Try, Catch).  By utilising the Verbose switch as above we can see this behaviour.

[code]
Re-importing the module seems to globally set all commands to not use AutoRest,  great for exception handling, but does affect the property values being ret

[2022-03-22 14:42] #9028 closed

[2022-03-22 14:45] #9130 closed

[2022-03-22 15:06] isrumnon commented on #9139
Hi @Petri-X we have fixed this issue in TPM 4.0.1

[2022-03-22 15:33] #9139 closed

[2022-03-22 16:56] chrisda commented on #9146
@landang-tyme, there are a few cmdlet baked into the module itself, but even those do cmdlets absolutely nothing for you until you connect to Exchange Online PowerShell as described here:

<https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell>

If you're connected but you're still having problems accessing the cmdlet, it could be an RBAC (permissions issue).

[2022-03-22 17:06] chrisda commented on #7352
@t-deman, I have an Exchange 2019 CU11 Mar22SU test server, and they're definitely available. Per the previous discussion, whether they're supposed to be available or whether they work is another story.

[2022-03-22 21:02] dariomws commented on #9043
Hi @sarollins, thank you for your feedback.

It works on my side:
<img width="449" alt="image" src="https://user-images.githubusercontent.com/33589238/159575135-8c4b5ff4-78d5-47f6-b6b5-09fc3df991f3.png">
<img width="880" alt="image" src="https://user-images.githubusercontent.com/33589238/159575185-16b36337-19cb-435a-b8dc-6dd7ef78c827.png">

Please try the latest version (4.0.0) of the Teams PowerS

[2022-03-22 21:08] dariomws commented on #8981
@eleighty @yogkumgit, I'm waiting for confirmation here. Sorry for the delay.

[2022-03-22 21:16] sarollins commented on #9043
Yes, 4.0.0 does work, if a single identity is specified

***@***.***

But my ultimate goal of getting large chunks of users using the like command does not work

***@***.***

From: Dario Woitasen ***@***.***>
Sent: Tuesday, March 22, 2022 4:03 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Scott Rollins ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powers

[2022-03-22 21:29] dariomws commented on #9043
@isrumnon, could you kindly help here?

It seems that the Filter parameter is not working as expected for Identity:
<img width="1266" alt="image" src="https://user-images.githubusercontent.com/33589238/159579293-f9000f12-7329-4992-adfc-2e1c8cfc9c94.png">

[2022-03-23 02:20] landang-tyme commented on #9146
Hi Chris,

I have tried after connect Exchange Online PowerShell. I also have Global Administrator permission on my tenant.

From: Chris Davis ***@***.***>
Sent: Tuesday, March 22, 2022 11:56 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Lan Dang ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Set-place cmdlet not available (Issue #9146)

@land

[2022-03-23 08:05] poshdude commented on #9103
Hi,

Looks good from policies perspective.

[code]

**4.0.1**
[code]
**4.0.0**
[code]

Error variable checks out too

[code]

[2022-03-23 08:06] robinpoulose1 opened #9158 "Powershell command to Journal All messages | Recipient $null"
Please update the Article for creating Journal rule for all messages in office 365, where we have to make recipient null.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8eb41f05-13aa-f810-2ade-c6d471488132
* Version Independent ID: d98cedc5-ee51-58ef-4809-73d7b348918f
* Content: [New-JournalRule (ExchangePowerS

[2022-03-23 10:06] LarsDEu opened #9160 "Examples using old parameters"
Hi there

We found some mistakes in the examples (specific 2, 4 and 5) on this page. The example are still using the old parameters like -PstnUsages instead of -OnlinePstnUsages &  -Instance.

Regards
Lars

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0060de4-7fb0-b86a-d85f-33544226595e
* Version Independent ID: 0d2a

[2022-03-23 12:49] yogkumgit commented on #9035
@marmstrong94 Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-03-23 12:49] #9035 closed

[2022-03-23 17:18] isrumnon commented on #9043
Hi @dariomws I'm looking into this and will update you shortly

[2022-03-23 20:46] MPSTechDir opened #9162 "Get-ExternalInOutlook"
Would like to have a viewable parameter in the Get-ExternalInOutlook command "AllowList". This way, all entries are viewable and not the first 4 entered.

[2022-03-23 21:50] dariomws commented on #9088
@JosefStrasserACP - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us p

[2022-03-23 22:25] acitatorq opened #9164 "Connect-IPPSSession from ExchangeOnlineManagement v2.0.5 won't accept -CertificateFilePath or -Certificate as valid parameters"
In spite of the contents of the office Microsoft Documention, such as:

- https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps
- https://docs.microsoft.com/en-us/powershell/module/exchange/connect-ippssession?view=exchange-ps

Connect-IPSSession from EXO v2.0.5 module doesn't accept the parameters to set up certificate base authentication, and therefore

[2022-03-23 22:29] chrisda commented on #9164
@acitatorq, indeed it won't. You need v2.0.6-Preview5 or later for that to work. From the [App-only authentication for unattended scripts in the EXO V2 module](https://docs.microsoft.com/powershell/exchange/app-only-auth-powershell-v2) topic (big note at the very top):

[2022-03-23 23:46] acitatorq commented on #9164
Thanks @chrisda,
My bad... I missed that, I'm sorry.
I just updated and recheck... the error message for the same command now is different:

PS > Connect-IPPSSession **-CertificateFilePath** "/Users/alberto.cita/CA/pwsh.pfx" -CertificatePassword (ConvertTo-SecureString -String "mypasswd" -AsPlainText -Force) -AppID "myappid" -Organization "myorg.onmicrosoft.com"
**Connect-ExchangeOnline: A paramet

[2022-03-24 01:24] landang-tyme commented on #9146
Hi Chris, I have run this script to check permission but still not see the cmdlet in there
![image](https://user-images.githubusercontent.com/102142322/159823331-7d4804ed-e53d-4b62-b0c9-07a0fb97ca7e.png)

[2022-03-24 01:50] chrisda commented on #9146
Strange. If you're in Organization Management or Recipient Management, you should see it. And to be clear, we are talking about 100% cloud, right? No on-prem or hybrid? And not delegated management?

[2022-03-24 01:52] landang-tyme commented on #9146
Yes, it's totally in cloud.

[2022-03-24 02:34] ansred commented on #9158
@chrisda you are correct, when using "`New-JournalRule`" it's not required to enter "`-Recipient`"

However, if you created a journal rule with -Recipient, and then you wish to update that for all users, you will need to use "Set-JournalRule" with -Recipient $null

[2022-03-24 06:36] poshdude commented on #9103
One last behaviour to query... the commands are now throwing terminating errors i.e. the error can be trapped without specifying -ErrorAction Stop

[code]
Is this correct? I would expect to use -ErrorAction Stop if I wanted to catch the error or be able to show the error on console and continue running my script. Thanks.
Is this correct?

[2022-03-24 07:56] donlassini commented on #9103
It does not work for Set-CsPhoneNumberAssignment. I will report that as a new bug since it behaves differently.
But for the curious people, here's my result:

[code]

@poshdude , I'd say the normal thing to do is for the cmdlet itself to decide if the error is critical enough to be thrown as an exception, or if it's enough to write it to the error stream. I do not know exactly what the developers

[2022-03-24 08:08] donlassini opened #9165 "Set-CsPhoneNumberAssignment does not throw exceptions or write to the error stream for all errors"
In some scenarios when errors occur, Set-CsPhoneNumberAssignment does not throw an exception or write to the error stream.
Instead an object of type "SkypeTelephoneNumberMgmtErrorResponse" with 2 properties is returned:

[code]

This was tested in Teams Online PS v4.0.1 and 4.0.0; I have not tested earlier versions.

[2022-03-24 08:09] poshdude commented on #9103
@donlassini - Set-CsPhoneNumberAssigment command does behave differently by design, its not a bug is my understanding - see Description here [https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/teams/teams-ps/teams/Set-CsPhoneNumberAssignment.md](url).

Agreed on the exception front, just wanting confirmation that it is indeed by design and not an oversight so that I know how to mana

[2022-03-24 08:24] donlassini commented on #9165
Hmm, I've been made aware that this is by design and intention. I'll close this ticket.

[2022-03-24 08:24] #9165 closed

[2022-03-24 08:25] donlassini commented on #9103
@poshdude , thank you for that. I've closed my ticket then :-)
Not a consistent way of doing it but at least it's documented.

[2022-03-24 11:08] Fimlore opened #9166 "get-csonlineuser only returning 168 users (expect 25.000!)"
When running Get-CSonlineuser without filters, and with a resultset (also when run whitout) does not return all expected users.  In fact, it just returns 168 our of our 25.621 users

When Querying with Teams module 2.6.1, the correct amount is returned. Teams Module 4.0 is returning just a (very small) subset.
even with -resultset set to 999999, it is not returnin all users

[2022-03-24 11:10] pheeling commented on #8798
thanks @chrisda amazing work

[2022-03-24 13:33] zcmott opened #9167 "Duplicate attributes listed and resultsize unlimited"
Under the -filter section there are duplicate attributes listed that could be removed to shorten the section.
Under the -resulstsize section unlimited doesn't work anymore on the powershell module 4.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7008ec10-a056-d8bb-bb4e-b4690a84adfd
* Version Independent ID: 2dcb78d9-

[2022-03-24 16:24] chrisda commented on #9146
It should be available. I would suggest creating a new, temporary admin account with no permissions customizations and try using that account.

Otherwise, I would suggest opening a support ticket.

[2022-03-24 16:39] chrisda commented on #9158
@ansred, got it. Thanks.

I added the following lines to the descriptions of the Recipient parameter:

**New-JournalRule**:

**Set-JournalRule**:

Thanks for the feedback.

Closing.

[2022-03-24 16:40] #8798 closed

[2022-03-24 17:01] acitatorq commented on #9164
Thank you very much for the advice.
I will do so.

[2022-03-24 17:01] #9164 closed

[2022-03-24 18:54] #9045 closed

[2022-03-24 20:06] henrynr opened #9170 "Expected Reason Codes"
We have a need to act on some users with specific Reason codes returned by this cmdlet and ignore others.  Is there a list somewhere of the expected reason codes that could be returned by the Get-BlockedSenderAddress cmdlet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 809fd21b-8bdf-aefc-8009-d9c4454d34ff
* Version I

[2022-03-24 21:01] dariomws commented on #9097
Hi @uclnj, thank you for your feedback.

This is because this cmdlet does not accept a PowerShell object as input. You should specify a string with the following pattern:
"[a-zA-Z0-9!#$%*+\-/?^_`.{|}~]+@([a-zA-Z0-9\-]+\.)+[a-zA-Z]{2,4}"

It should be the UPN or PrimarySmtpAddress.

[2022-03-24 21:13] chrisda commented on #9089
@stukey, thanks to your description, I added a description for the IncludeUnresolvedPermissions parameter. I also came up with a description for IncludeSoftDeletedUserPermissions.

[2022-03-24 21:18] dariomws commented on #9100
@madshaun1984 - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us poste

[2022-03-24 21:20] dariomws commented on #9089
@chrisda, thank you!

[2022-03-24 21:48] eleighty commented on #8981
@dariomws thanks for the update!

[2022-03-24 22:46] stukey commented on #9089
Thank you both!

[2022-03-25 01:48] landang-tyme commented on #9146
Hi Chris,

Thank you for your advise, I will try and feedback later.

From: Chris Davis ***@***.***>
Sent: Thursday, March 24, 2022 11:25 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Lan Dang ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Set-place cmdlet not available (Issue #9146)

It should be available. I would suggest creating a new, tem

[2022-03-25 03:38] horsi3 opened #9173 "Grant-CsOnlineVoiceRoutingPolicy fails when being run by a guest user with Teams Administrator role"
MSP managing MSTeams for a client in their tenant. Previously we were using admin accounts local to their tenant but are now using B2B guest accounts which are assigned the Teams Administrator role.

Now when we provision Teams users for the client one command is failing "Grant-CsOnlineVoiceRoutingPolicy".
It returns the error attached.

![image](https://user-images.githubusercontent.com/102339348

[2022-03-25 05:09] Kylex0407 opened #9174 "Cannot use "Get-ATPPolicyForO365" when connect to Exchange online with ExchangeOnlineManagement 2.0.5"
When connecting to Exchange Online with Basic auth, I could run the "Get-ATPPolicyForO365" command successfully.

When using  ExchangeOnlineManagement 2.0.5, I cannot use the "Get-ATPPolicyForO365" command:

Get-ATPPolicyForO365 : The term 'Get-ATPPolicyForO365' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was i

[2022-03-25 06:53] JensTrier commented on #9173
@horsi3 thanks for the feedback. Please open a Microsoft support case and they will work with you to get this root caused.

[2022-03-25 08:10] dariomws commented on #9107
Hi @fsilvestre, thank you for your feedback.

I cannot see the links you are sharing, but I cannot reproduce your issue:
<img width="1083" alt="image" src="https://user-images.githubusercontent.com/33589238/160080738-80f87e3f-dec8-4a57-b057-6361c962ac16.png">

[2022-03-25 08:11] dariomws commented on #9107
@fsilvestre, I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted here on the resolution to feed whatev

[2022-03-25 08:46] isrumnon commented on #9166
Hi @Fimlore we'll look into this issue. Can you share you tenant id? (you can dm me that detail here isrumnon@microsoft.com)

[2022-03-25 09:01] isrumnon commented on #9128
Hi @sarollins fix for this issue is in the pipeline and should be fixed soon - expected by next week

[2022-03-25 10:18] haneef95 opened #9175 "`Set-CsTeamsMeetingPolicy` `-LiveStreamingMode` parameter not in the doc"
Hi,

Could this RTMP broadcast feature be documented here please?

Additionally, some information on whether this feature uses Microsoft's servers to stream or the user's local machine to stream to the RTMP destination would be good. (if not on this page, on another page)

Kind regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-03-25 10:41] Fimlore commented on #9166
ran the commands again today, now it seems to return the correct amount again.

[2022-03-25 12:24] yogkumgit commented on #9173
@horsi3 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will ce

[2022-03-25 13:01] #9103 closed

[2022-03-25 13:02] #9146 closed

[2022-03-25 13:05] yogkumgit commented on #9088
@dariomws Thank you very much for the contribution and sharing this explanation. @JosefStrasserACP Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can shar

[2022-03-25 13:05] #9088 closed

[2022-03-25 13:16] technonath opened #9177 "Remove-ManagementRoleEntry does not accept pipeline in Exchange online"
Remove-ManagementRoleEntry does not accept pipelines in remote Exchange online powershells
so you should add a note to warn this before example 2

for verification read more here:

https://blog.rmilne.ca/2015/02/05/remove-multiple-management-role-entries-in-office-365/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d76

[2022-03-25 13:24] yogkumgit commented on #9089
@stukey Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-25 13:27] yogkumgit commented on #9107
@dariomws Thank you very much for the contribution and sharing this explanation. @fsilvestre Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-03-25 13:27] #9107 closed

[2022-03-25 13:28] yogkumgit commented on #9100
@dariomws Thank you very much for the contribution and sharing this explanation. @madshaun1984 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share th

[2022-03-25 13:29] #9100 closed

[2022-03-25 15:09] stukey commented on #9089
@yogkumgit Yes, thank you. Exactly the update I was looking for. This can be closed now.

[2022-03-25 15:09] #9089 closed

[2022-03-25 16:03] #9062 closed

[2022-03-25 16:35] chrisda commented on #9174
@Kylex0407, the lack of that cmdlet shouldn't have anything to do with the EXO V2 Module, as long as you're sure that you're running v2.0.5 and not one of the Preview versions of v2.0.6 (in which case you should add the -UseRPSSession switch to the command).

It's possible there might be some kind of temporary problem that can only be solved by a support ticket.

If you can see and access the **Gl

[2022-03-25 16:37] NAWABDERA1 opened #9179 "https://github.com/GoogleChrome/web.dev/issues/7578"
https://github.com/GoogleChrome/web.dev/issues/7578

[2022-03-25 16:37] NAWABDERA1 commented on #9179
http://nawabdera.Wordpress.com
https://social.microsoft.com/Profile/nawabdera

[2022-03-25 17:12] chrisda commented on #9177
@technonath, what I did was add the following note after the example:

Thanks for the feedback.

Closing

[2022-03-25 17:12] #9177 closed

[2022-03-25 17:31] robinpoulose1 commented on #9158
Thank you all for your effort and input ! !

[2022-03-25 17:58] #9158 closed

[2022-03-25 17:58] robinpoulose1 commented on #9158
Resolved!

[2022-03-26 05:51] Kylex0407 commented on #9174
Ok, thanks for your reply.

[2022-03-26 05:51] #9174 closed

[2022-03-27 02:18] #9179 closed

[2022-03-27 06:47] poshdude opened #9182 "MicrosoftTeams PowerShell delivering inconsistent values after/using Start-ThreadJob"
Hi.  I have a requirement to run TPM commands e.g. Get-CsOnlineUser as background (thread) jobs (with Start-ThreadJob).  I am finding that the MTP module is switching between Autorest and Remote PS methods and this is then delivering the legacy values for properties.  For example we are told in the new world that the ObjectId has been re-mapped to Identity and that the OnPremLineURIManuallySet fla

[2022-03-28 02:45] horsi3 commented on #9173
We found the problem here. The affected users were logged into desktops with their desktop AD account. This account does not have local administrator privileges. When they open powershell, they were elevating to run as admin, using their other AD account which is for administrator use. This is required when installing modules from the gallery but obviously not required to actually run the commands

[2022-03-28 11:14] yogkumgit commented on #9173
@horsi3 Here, we are limited to documentation fixes and improvements. We proceed here to close it. Please keep contributing with your suggestions to improve the documentation. Thanks

[2022-03-28 11:15] #9173 closed

[2022-03-28 12:02] TheITguy666 commented on #9147
@yogkumgit
MS support confirmed today: The file that you get from the command export-csonlineaudiofile is not a supported format to be able to upload using the import-csonlineaudiofile.

[2022-03-28 12:06] TheITguy666 opened #9183 "Disclaimer regarding exported file format"
Details on issue #9147
Better write some disclaimer that the exported audio file has a little difference from the support audio files by call queues.
You can not use the content on[ import-csonlineaudiofile](https://docs.microsoft.com/en-us/powershell/module/skype/import-csonlineaudiofile?view=skype-ps) as is and needs to be converted by the MS supported audio formats

---
#### Document Details

⚠

[2022-03-28 12:57] JensTrier commented on #9183
@TheITguy666 Please provide the Microsoft support case/reference number, so I can follow-up on this

[2022-03-28 13:04] TheITguy666 commented on #9183
[Case #:30310338]

[2022-03-28 17:31] chrisda commented on #9124
Closing as duplicate of #9123

[2022-03-28 17:31] #9124 closed

[2022-03-28 17:33] chrisda commented on #9123
@YuriySamorodov, if you use v2.0.6 to connect without using the -UseRPSSession switch, they you are using the short list of ~250 REST API backed cmdlets as described here:

<https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#updates-for-version-206>

It would appear that Get/Set-UserPhoto is not supported in REST API only mode (yet).

If your Connect-ExchangeOnline comman

[2022-03-28 18:09] M0rfic opened #9185 "Get-CsOnlineUser erroneous docs and inconsistent results with filter"
Hi

 1. The `-Filter` attribute section seems to have suffered a _copy-paste error_ having attributes listed multiple times and somewhat intertwined (possibly starting with the section highlighted in red but I'm not 100% sure):

![image](https://user-images.githubusercontent.com/909971/160456536-5ffbef38-e1ce-47f7-8fc7-f1626a160498.png)

 2. `Get-CsOnlineUser` returning inconsistent data with `-Fi

[2022-03-28 20:19] weyCC81 commented on #8664
We have a Change Request with the Microsoft 365 Support which has been accepted, waiting for details...
We requested the following features:
- Ability to Disable Basic Auth. not just in the Tenant but also on the Client
- Ability to use Certificate as a new Authentication Method with Modern Auth.

[2022-03-28 21:04] dariomws commented on #8664
Hi everyone,

All of these features are under consideration and you should expect the product team to release them in the coming weeks. Sadly I cannot provide an ETA but some of them should arrive soon.

[2022-03-28 23:25] sjackson0109 opened #9188 "Connect-MicrosoftTeams using -AccessTokens fails (MicrosoftTeams PS Module v3.1.1 and v4.0.0)"
When trying to Connect to Microsoft Teams, we should be able to use a delegated APPID and ClientSecret to gain both a graphToken, and a teamsToken. The token retrieval works.. Unfortunately the Connect-MicrosoftTeams -AccessTokens switch fails to use those tokens to successfully instigate a PS Session.

Microsoft's documentation: https://docs.microsoft.com/en-us/powershell/module/teams/connect-mic

[2022-03-28 23:29] sjackson0109 commented on #9188
I'm not the only person with this issue,
https://techcommunity.microsoft.com/t5/teams-developer/authenticating-with-an-access-token-connect-microsoftteams/m-p/2233794
Someone even blogged about it:
https://get-itips.capazero.net/posts/teams-powershell-token-auth

This issue has also been raised here and been closed with a planned resolution suggested in Sept 2021, but still not available 6x months

[2022-03-28 23:42] sjackson0109 commented on #9188
Same problem after updating MS Teams PS Module...
[code]

[2022-03-29 00:27] youcefnb opened #9191 "Get-CsOnlineLisLocation no longer accepts "unlimited" as a value for the parameter -ResultSize."
MicrosoftTeams Module 4.0

Get-CsOnlineLisLocation no longer accepts "unlimited" as a value for the parameter -ResultSize.  Error message indicates that it should accept it:

"Get-CsOnlineLisLocation : The specified ResultSize value 0 is invalid. Please provide a positive number or 'Unlimited'."

PS C:\bin\e911prov> Get-CsOnlineLisLocation -ResultSize 'Unlimited' -Force
Get-CsOnlineLisLocation : C

[2022-03-29 03:56] yogkumgit commented on #9147
Closing this as #9183 is linked. thanks

[2022-03-29 03:56] #9147 closed

[2022-03-29 04:01] yogkumgit commented on #8664
@dariomws Thank you very much for the contribution and sharing this explanation. @weyCC81 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-29 04:01] #8664 closed

[2022-03-29 04:08] yogkumgit commented on #9053
@dariomws

[2022-03-29 04:09] yogkumgit commented on #9081
@dariomws

[2022-03-29 04:10] yogkumgit commented on #9097
@dariomws Thank you very much for the contribution and sharing this explanation. @uclnj Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-29 04:10] #9097 closed

[2022-03-29 06:27] JensTrier commented on #9183
I'll investigate and update as necessary

[2022-03-29 06:37] TheITguy666 commented on #9183
@JensTrier
Final answer from MS support case:
[code]
I asked to close the ticket. The command has little use for my case as I wanted to use to generate a new call queue from an existing one :(

[2022-03-29 06:38] isrumnon commented on #9185
Hi @M0rfic on the documentation bits - thanks for pointing this out. We'll have it corrected.
On Get-CsOnlineUser returning inconsistent data we'll look into it and update you

[2022-03-29 09:28] sjackson0109 commented on #9188
Same problem with the 4.0.1-preview module.

[2022-03-29 13:28] joergrenn commented on #9185
I am also seeing issues with the -Filter attribute in the 4.0.0 module.
I want to filter for "ApplicationAccessPolicy".
Is this not supported anymore?

[2022-03-29 14:32] JensTrier commented on #9191
@youcefnb Thanks for the feedback. I'll follow-up internally and change the PS documentation as needed.

Feel free to close this issue.

[2022-03-29 19:39] dariomws commented on #9081
Hi @jianhsieh, thank you for your feedback.

If you have a Microsoft alias, you can link your accounts in GitHub so that a blue "Microsoft submitter" label appears to any PR's or issue you submit. Guidance on it here: https://docs.opensource.microsoft.com/tools/github/index.html

Here is the site you can use to see the mappings between GitHub and Microsoft aliases: https://repos.opensource.microso

[2022-03-29 19:39] dariomws commented on #9081
@jianhsieh, what specific update are you suggesting to the description of this parameter?

Thanks.

[2022-03-29 20:32] get-itips commented on #8951
Hello @GarthMartin
The current methods of authentication are the ones described in the article https://docs.microsoft.com/en-us/powershell/module/spmt/register-spmtmigration

The credentials are used to connect the SharePoint Online tenant. If no credentials are passed in, use ADAL OAuth2. Important: If you are using multifactor authentication on your tenant, do not use the -SPOCredential paramete

[2022-03-30 08:34] Petri-X commented on #9138
Hi @isrumnon
The reason to asking this, was just to get understood of the background of this. I'm not sure, but in my mind I have not seen any communication of fundamental changes (in my mind) like this.

When you read these:
[code]
In my mind those wildcard versions has been the same what **-like** has done earlier?

And yes, I was incorrect with "**-like**" that seems to be still available. But

[2022-03-30 12:24] tberta opened #9196 "Get-QuarantineMessage has an undocumented default date criteria"
Hello,
When listing the Quarantined messages matching some criterion, I see that by default, this cmdlet retrieve only the messages from the 14 last days (according to what I have observed). To retrieve older messages, I need to specify a date parameter like `-StartReceivedDate (Get-Date).AddDays(-30)`
Could you please document this limit / default value?

Thanks in advance 👍

---
#### Détails du

[2022-03-30 15:25] LycheeYum commented on #8106
Of the four (4) permissions available in the Skype and Teams Tenant Admin API, which are required?

[2022-03-30 16:23] yogkumgit commented on #8106
@get-itips

[2022-03-30 16:41] #9053 closed

[2022-03-30 19:27] youcefnb commented on #9191
I don't think this is just a documentation problem. The actual module's error asks users to uses "unlimited" as a value, so that needs to be resolved too.

[2022-03-31 08:59] donlassini opened #9199 "Grant-CsTeamsCallingPolicy does not work if used from pipe with contents from Get-CsOnlineUser"
Grant-CsTeamsPolicy does not work correctly if you run it inside a scope that has piped data from Get-CsOnlineUser.

First make a variable setting a user's UPN:
[code]

Do a single test where you clear the policy from the user:
[code]

Do 10 repeated tests:
[code]

Do it for a user retrieved through Get-CsOnlineUser:
[code]

Do it without using any data from the Get-CsOnlineUser just to prove the

[2022-03-31 09:20] UMLPEH opened #9200 "Get-UnifiedGroup -ResultSize unlimited randomly returning not all items"
### Description
Fetching all groups via Get-UnifiedGroup -ResultSize unlimited  - **randomly** this does not return all groups and does not produce an error!

Unfortunately since we are not able to reproduce it in a MS Call session (fetching all 5000+ groups takes 6 minutes everytime, since it just happens randomly and seldomly, we only can present a logfile of our PS-script fetching the informati

[2022-03-31 10:32] poshdude commented on #8960
I believe I have identified the reason for the difference in the Teams property values being returned, which appears to be related to whether the data is being returned via AutoRest or a Remoting PSSession.  I have showcased this here [https://github.com/MicrosoftDocs/office-docs-powershell/issues/9182](url) and this issue, where error trapping was not working with AutoRest, here [https://github.c

[2022-03-31 16:11] chrisda commented on #9200
@UMLPEH, you should open a support ticketabout this.

[2022-03-31 17:00] chrisda commented on #9200
Apologies for that earlier comment. Obviously, you already tried to open a support ticket.

When you attempt to retrieve thousands of objects in PowerShell, you could be dealing with any number of transient internet issues, PowerShell connection issues, etc.

Try using version 2.0.6-Preview5 of the module. That version is able to use REST API backed versions of some cmdlets (a few hundred). I conf

[2022-03-31 18:15] pbafna03 commented on #9182
Hi @poshdude - Can you please try this with the version 4.1.0 just released. Thanks!

[2022-04-01 00:48] f0oster commented on #9188
Also having this issue.

[2022-04-01 05:00] ruchiagrawal9221 commented on #9199
Hi Dan,
upon investigation, we found that the user is "PureOnlineTeamsOnlyUserNotLicensedForService"
Could you please check if user has been provisioned with license?

[2022-04-01 05:03] ruchiagrawal9221 commented on #9199
Hello,
upon investigation, we found that the user is "PureOnlineTeamsOnlyUserNotLicensedForService"
Could you please check if user has been provisioned with license?

[2022-04-01 07:33] donlassini commented on #9199
This actual user is a service account for a workflow; the user has been given a license Virtual Phone System license, and that should be sufficient.
But no matter how the user is configured, the Grant-CsTeamsCallingPolicy cmdlet still behaves differently - which is what I am reporting in.

[2022-04-01 08:12] donlassini commented on #9199
Hmm, I have just tested this again, and now it works as expected. I will investigate further but will close the ticket.
Thank you for your time.

[2022-04-01 08:12] #9199 closed

[2022-04-01 09:17] ExSkip commented on #9138
Hi Guys,

Let me also problems we've faced in our hybrid environments related to -filter in new Teams powershell module.

1. According to the doc it's no longer possible to filter by OnPremLineURI attribute. And it makes some problems for admin. Why is it important? Well, in hybrid env you sync LineURI from AD <> AAD <> Teams. And there is always a chance that the same number is specified for mult

[2022-04-01 10:39] poshdude commented on #8960
Re-tried with 4.1.0 just released.  Appears to be better consistency for a number of properties. The LineURI/OnPremLineURI properties are still not aligned when using a filter - this is especially important as we are now reliant on the OnPremLine property to indicate whether the user has a telephone number set in the on-premises Active Directory, instead of the now legacy OnPremLineURIManuallySet

[2022-04-01 11:10] HiighQ opened #9206 "How to Disable "Edit in grid view" PnP Provisining"
Greetings,

i habe got the assgnment to build a list where the "Edit in grid view" is hidden.
Now i know how to do it using the PnP Module:
`$List = Get-PnPList -Identity $ListName $list.DisableGridEditing = $True $List.Update() Invoke-PnPQuery`

But my colleague want me to do that directly in the XML Site Template but i cant seem to find a Atribute for this cause.

Greatfull for any help!
For mor

[2022-04-01 11:29] #9182 closed

[2022-04-01 13:29] ekreddy opened #9207 "Support for edit Manifest before migration in SPMT file server to SPO migration"
Team,

IS there any way to edit Manifest.XML file before SPMT task upload files to SPO . I try to but I could see **Start-SPMTMigration** is creating XML file and immediatly uploading to SPO.

Is anthing I am misssing or can any help to edit the XML file.

SO I can attach some columns to xml before upload.

[2022-04-01 14:05] jgriff500 opened #9208 "Wrong description of StartDate and EndDate"
This page indicates StartDate and EndDate are the dates of meeting.  However, when running the Powershell command, it is the modify date of the meeting:

[PS] >Get-CalendarDiagnosticObjects -Identity $h.Name -StartDate 03/20/2022 -EndDate 4/1/2022 | Where-Object {$_.ParentDisplayName -eq "Calendar"}

WARNING: Using filter 'StartDate and EndDate'. Items with **OriginalLastModifiedTime** between Sta

[2022-04-01 14:34] olanga commented on #8960
Looks like OnPremLineUri is not even on the list of properties while using:
Get-CsOnlineUser -filter "UserPrincipalName -eq '$UPN'"

[2022-04-01 17:12] chrisda commented on #9208
@jgriff500, fixed. If you want to modify the fixes or clarify anything, see the edit instructions here:

<https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md>

Thanks for the feedback.

Closing

[2022-04-01 17:12] #9208 closed

[2022-04-03 09:38] ansred opened #9213 "Issue - Exchange Online Connector Validation via PowerShell"
Greetings,

**Subject:**
Issue - Exchange Online Connector Validation via PowerShell

**Component:**
Exchange Online - Connector - PowerShell

**KB:**
- https://docs.microsoft.com/en-us/powershell/module/exchange/validate-outboundconnector

**Details:**
The issue only happens when using "Validate-OutboundConnector" via PowerShell.

For example, when validating a connector from the GUI, it works fi

[2022-04-03 09:41] ansred commented on #9213
ID: efefe237-2a27-5d47-ceb0-7337a7e297b9
Version Independent ID: 369d414e-8d22-f665-8afe-326ae338b448
Content: [Validate-OutboundConnector (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/validate-outboundconnector?view=exchange-ps)
Content Source: [exchange/exchange-ps/exchange/Validate-OutboundConnector.md](https://github.com/MicrosoftDocs/office-docs-powershell/

[2022-04-03 12:36] StevieBleeds commented on #6236
I've been encountering the same issue. It's documented in the article below.

https://docs.microsoft.com/en-us/powershell/module/exchange/set-unifiedgroup?view=exchange-ps

[2022-04-04 09:05] slueders-bag opened #9214 "'Get-MailTrafficTopReport' is not recognized"
**Error with ExchangeOnlineManagement 2.05:**
_Get-MailTrafficTopReport : The term 'Get-MailTrafficTopReport' is not recognized as the name of a cmdlet, function,
script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is
correct and try again._

Is the command replaced by another one?

---
#### Document Details

⚠ *Do not edit this section

[2022-04-04 09:23] slueders-bag opened #9215 "Configuring the global quarantine policy with PowerShell"
**Error in ExchangeOnlineManagement 2.0.5:**

Configuring the global quarantine policy is not possible anymore:

[code]

This cmdlet has worked in the past but now an error is thrown:

[code]

Regarding example 2 of the reference <https://docs.microsoft.com/powershell/module/exchange/set-quarantinepolicy#example-2> also does not work any longer

[2022-04-04 09:57] fgrueninger opened #9216 "Get-CsOnlineUser: different results since March 25th, 2022"
Hi,

so before March 25th 2022, 07:10 CET, the following used to work flawlessly:

[code]

Since March 25th 2022, 07:10 CET (without upgrading my PS module), I was getting this error:

[code]

Okay, so apparently Microsoft deployed something. I changed my command to this - however, now the **`WhenChanged`** parameter is empty:

[code]
In the meantime I upgraded to MicrosoftTeams 4.1.0 , and the be

[2022-04-04 12:40] asdcristi opened #9217 "EnableLitigationHoldForMigration - missing parameter description"
{{ Fill EnableLitigationHoldForMigration Description }}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3957794-72d5-b97d-7154-42a0ad6da89d
* Version Independent ID: 8fdfada5-0dca-43ca-3f00-d4293d585f5e
* Content: [Set-MailUser (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/set-mailus

[2022-04-04 13:10] poshdude opened #9218 "Get-CsOnlineUser -ResultSize is not working as its supposed to be - TPM 4.1.0"
Hi,

With 4.1.0, the -ResultSize parameter appears to be caching the entire tenant before returning the number of items passed to the parameter.

[code]

[2022-04-04 13:34] sjackson0109 commented on #9188
There is clearly a large history behind this particular set of commands:
- https://github.com/MicrosoftDocs/office-docs-powershell/issues/7866
- https://github.com/MicrosoftDocs/office-docs-powershell/issues/7897
- https://github.com/MicrosoftDocs/office-docs-powershell/issues/147 (not exactly the same, but closely related)
- https://github.com/MicrosoftDocs/office-docs-powershell/issues/8623
- ht

[2022-04-04 14:17] sjackson0109 commented on #9188
Using the following command, I retrieved a tiny bit more log data:
Connect-MicrosoftTeams -LogLevel Verbose -LogFilePath **%temp%\Connect-MSTeams.log** -AccessTokens @($GraphAccessToken,$TeamsAccessToken) -Verbose

Opening the log file:
[code]

[2022-04-04 16:18] carpewil opened #9219 "Connect-IPPSSession -CertificateThumbprint error"
If Im reading the documentation correctly, in order to use ExchangePowershell cmdlets that are related to Security & Compliance Center and to connect via unattended app I have to use the Connect-IPPSSession cmdlet. However, it throws the error "Connect-IPPSSession : A parameter cannot be found that matches parameter name 'CertificateThumbprint'."

[2022-04-04 16:23] ansred commented on #9213
@chrisda I agree.

I created a support ticket and replicated the issue with the support person, he's checking with engineering and product.

For ref # Ticket #30470906

I will keep you posted once I hear back.

[2022-04-04 16:45] carpewil commented on #9219
I manually killed ExchangeOnlineManagement 2.0.5 module and manually installed v2.0.6-Preview5. Im now getting a new error, "New-ExoPSSession : Create Powershell Session is failed using OAuth" in "ExchangeOnlineManagement\2.0.6\netFramework\ExchangeOnlineManagement.psm1:578 char:30". The command Im using is "Connect-IPPSSession -CertificateThumbprint $thumb -AppID $appId -Organization "mycompany.o

[2022-04-04 16:58] chrisda commented on #6236
I added a similar note at the top of the [CBA topic](https://docs.microsoft.com/en-us/powershell/exchange/connect-to-exchange-online-powershell):

[2022-04-04 17:08] chrisda commented on #9214
@slueders-bag, yes. Get-MailTrafficTopReport has been replaced by [Get-MailTrafficATPReport](https://docs.microsoft.com/powershell/module/exchange/get-mailtrafficatpreport) and [Get-MailDetailATPReport](https://docs.microsoft.com/powershell/module/exchange/get-maildetailatpreport).

For more information, see the last entry in the big table here:

[Email security report changes in the Microsoft 365

[2022-04-04 17:47] chrisda commented on #9217
@asdcristi, are you bringing this up because you're trying to use the parameter and expect it to work? Or are you just pointing out that the description is empty?

For an explanation of why there are empty parameters, see [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486).

[2022-04-04 18:24] carpewil commented on #9219
I found that this latest error can be caused by Basic Authentication being disabled for WinRM. While it is concerning that Microsoft recommends disabling Basic Auth for WinRM in their server hardening policies and then turns around and requires it to connect to online services, at least Im able to connect now.

[2022-04-04 18:24] #9219 closed

[2022-04-04 19:34] asdcristi commented on #9217
@chrisda only pointing out that the description is empty. Thank you

[2022-04-04 20:39] chrisda commented on #9215
@slueders-bag, I just tried your command in my E5 tenant, and it worked fine. In particular, the first part of the command by itself also worked fine:

[code]

Perhaps something else is going on? What version of PowerShell are you using and on what platform?

I used PowerShell 5.1 and also 7.2.2 (not ISE) on a Windows 11 computer. I'm using the ExO Module v2.0.6-Preview5 (with the _-UseRPSSession_

[2022-04-04 22:34] technonath opened #9224 "recent changes to the -phone parameter"
-Phone
The Phone parameter specifies the user's office telephone number.

Note: In Exchange Online, you can't use this parameter. Instead, use the TelephoneNumber parameter on the Set-AzureAdUser cmdlet in Azure AD PowerShell.

It would be helpful to
a)  put a purple background panel on the note to bring in line with other documentation style
b)  Please explain the reason for this recent change -

[2022-04-04 22:35] chrisda commented on #9217
@asdcristi, in that case, I'll say, "Thanks for pointing that out" and close the issue.

[2022-04-04 22:47] chrisda commented on #9224
@technonath, I did the update to the Phone and MobilePhone parameter descriptions in [May, 2021](https://github.com/MicrosoftDocs/office-docs-powershell/commit/f537f11b12e6857c8b0833dcb21469b8c3ec1626). Discussion about this is also available [here](https://techcommunity.microsoft.com/t5/exchange/update-modify-users-phone-information-on-exchange-online/m-p/2339697).

Regarding why it isn't alert f

[2022-04-04 22:56] technonath commented on #9224
Thank you for explaining the alert formatting decision.  on the main point I still find it very annoying and unacceptable though that if this is the official documentation for the product - why there is no explanation for the reason behind this change or recommendations on how to delegate this role now that it has been changed. It just smacks of MS can't be bothered and just change things with no

[2022-04-04 23:03] chrisda commented on #9224
Yeah, sorry; I have no explanation for that. Typically, 'significant' changes are always preceded by a Message Center post. I'm not sure why that didn't happen in this case, other than describing the problem gave attackers a roadmap that they could try on other properties?

[2022-04-05 03:02] isrumnon commented on #9138
Hi @ExSkip, for:
1.1 We're looking into support for filtering based on OnPremLineURI in the modernized TPM. We'll update you soon on when we can reintroduce this in the short term (2-3 months)
1.1 We've created a bug and are looking into this
2. This is a bug on our end and will introduce this Filtering capability in FeatureTypes in the long term (4-5 months from now)
3. This was a design choice f

[2022-04-05 03:09] isrumnon commented on #8960
Hi @poshdude @olanga apologies for the delayed response. OnPremLineURI is currently only available when using Get-CsOnlineUser with the "-Identity" parameter and now indicative of the OnPremLineURIManuallySet Flag. We are looking into how we can reintroduce the OnPremLineURI attribute when using -Filter

[2022-04-05 04:03] isrumnon commented on #9185
@joergrenn can you please try on the latest version of TPM? this works for us.

[2022-04-05 06:45] slueders-bag commented on #9214
@chrisda thank you very much for letting me know this so quickly. Of course the issue can be closed now. Thanks again for the quick clarification. 👍🏼

[2022-04-05 06:58] dariomws commented on #9119
Hi @czendler, thank you for your feedback.

Did you follow these instructions?

"If you want to use Cs* cmdlets, you first need to connect to Teams by using the Connect-MicrosoftTeams -UseDeviceAuthentication command."

[2022-04-05 07:03] dariomws commented on #9136
Hi @Fimlore, thank you for your feedback.

The information is included in the article, please check the description of the parameter Filter:
https://docs.microsoft.com/powershell/module/skype/get-csonlineuser

Instead of phone, you should try LineURI or OnPremLineURI depending on the service you are using (Direct Routing, Operator Connect or Calling Plans).

[2022-04-05 07:18] czendler commented on #9119
Works!!, my bad
Thanks

[2022-04-05 07:18] #9119 closed

[2022-04-05 07:22] poshdude commented on #8960
@isrumnon thanks for the response.  Good to know it's being looked at as it doesn't make sense for the same command to return different property sets.  I'm sure there is a use case for wanting to retrieve a batch of users with a filter and identify those who have an OnPrem synced phone number. Cheers.

[2022-04-05 08:28] JoukevanRossum commented on #8960
@isrumnon do you know what will happen with the current commandlets of version 2.3.1 once they are deprecated?
As of now, the new commandlets are still not working properly.. Is the deprecation postponed?

[2022-04-05 08:39] isrumnon commented on #8960
@JoukevanRossum  these OnPrem attributes are available with -Identity scenario currently. In non -Identity scenario Onprem attributes will also be added soon. Older versions will go away starting 15 June

[2022-04-05 10:15] asdcristi commented on #9217
Hey Chris, I think the best thing to do would be to include the description is used parameters. This one is an actively used one, as detailed below:
"Non-hybrid target tenants can modify the quota on the Recoverable Items folder for the MailUsers prior to migration by running the following command to enable Litigation Hold on the MailUser object and increasing the quota to 100 GB: Set-MailUser -En

[2022-04-05 11:58] RoelVB commented on #6236
@chrisda Through the Graph it's also impossible to update the EmailAddresses

[2022-04-05 13:12] petersonal2 opened #9228 "Enable-OrganizationCustomization command gives the same error in multiple tenants"
Enable-OrganizationCustomization command gives the same error in multiple tenants. There is a misstype or some error in the underlying powershell command.
The following error was generated when

[code]

was run:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 466381e5-1636-1123-8934-8724b9d5610a
* Version Indepe

[2022-04-05 13:30] joergrenn commented on #9185
@isrumnon

I just tried with Version 4.1.0 of the Teams Powershell module.
Does not work for me:
I look up the available Application Access policies in the tenant:
`Get-CsApplicationAccessPolicy`
Identity    : Tag:Test-CsAppPolicy
AppIds      : {a8257864-7045f-4854-845e-82eb545454523}
Description : App Policy Test
Then I want to figure out which users it is assigned to:
`Get-CsOnlineUser -Filter "

[2022-04-05 14:18] #9214 closed

[2022-04-05 14:52] poshdude opened #9229 "Teams PowerShell Module Grant Policy Commands have suddenly started throwing exceptions - TPM 4.1.0"
Hi,

All of a sudden today, TPM policy assignment commands have started throwing exceptions for valid policy assignments.

[code]
Teams Emergency Calling and Call Routing Policy assignments are also behaving as above with the same exception about Invalid input parameters forest.  Haven't looked at all Teams policy assignment commands but I suspect the situation is the same.   Grant-CsOnlineVoiceRo

[2022-04-05 15:48] StevieBleeds commented on #6236
I too have tried using Graph to do it and encountered the same challenge. The mail prop is read-only.

[2022-04-05 15:49] yogkumgit commented on #9136
@dariomws Thank you very much for the contribution and sharing this explanation. @Fimlore Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-05 16:19] vlethiec commented on #8960
@JoukevanRossum, for info here is the official communication.
![image](https://user-images.githubusercontent.com/52075388/161799877-178d559b-493c-4669-a2c7-08525852bda2.png)

[2022-04-05 17:07] chrisda commented on #9217
@asdcristi, bingo. You're absolutely right. The whole point of exposing those new but unknown parameters is to force a discussion like this.

Description added:

[2022-04-05 17:08] #9217 closed

[2022-04-05 17:22] chrisda commented on #9228
@petersonal2, it was my understanding that the indicator of whether or not a tenant has been hydrated (the Enable-OrganizationCustomization cmdlet has already been used) is the IsDehydrated property from Get-OrganizationConfig.

I didn't see that anywhere in your script?

[2022-04-05 17:26] ckarawani commented on #9229
👍🏽 We have noticed exactly the same error about 1 our ago as well on the `Grant-CsTenantDialPlan` with the "Invalid input parameters forest" error

[2022-04-05 17:27] amonzerol commented on #9229
Same thing happening on my end. I tested this both on Pwsh Linux and Windows, using Teams module 4.0.0 and 4.1.0

![image](https://user-images.githubusercontent.com/39344707/161814996-103c30df-a58a-4f9c-ad0c-ff2578c409ff.png)

[2022-04-05 17:42] CATgwalker commented on #9188
Adding #8664.

[2022-04-05 19:45] wrcollette opened #9234 "Get-TenantAllowBlockListItems fails, citing invalid format in objectId parameter"
Currently getting the below error message when running Get-TenantAllowBlockListItems. This error occurs with all 3 list types (Sender, FileHash, URL). Tested in Powershell 5 and 7, same error in both environments.

"Get-TenantAllowBlockListItems -ListType Sender" outputs:

The format of the value you specified in the objectId parameter isn't valid. Check the value, and then try again.
Parameter na

[2022-04-05 19:53] #9234 closed

[2022-04-05 20:17] ckarawani commented on #9229
Looks like the issue is resolved.

[2022-04-05 22:45] markdmac opened #9237 "Cmdlets not in latest Module release"
Why is Microsoft going to retire module versions older than 4.x.x when the version 2.3.1 has more cmdlets in it?  Specifically the Get-TeamChannel and Get-TeamChannnelUser? How are we supposed to manage the channels and their membership if the latest module is incomplete?

The support page for Get-TeamChannel does not indicate this is a pre-release cmdlet only and probably should if the commands w

[2022-04-06 05:56] poshdude commented on #9229
Things do look improved.  Not seeing exceptions now when assigning valid policies. Thanks! 👍🏼

[2022-04-06 05:56] #9229 closed

[2022-04-06 05:57] Rash-598 commented on #9237
Hey @markdmac

We verified the latest version 4.1.0 and these cmdlets are present. Please check the below screenshot
![image](https://user-images.githubusercontent.com/34190894/161905166-dea86d48-2690-4dda-b386-e6ee3dbbd06a.png)
Can you please share the issue details ?

[2022-04-06 06:04] websta911 opened #9239 "Get-CsOnlineuser -Filter "userPrincipalName -like '*@somedomain.at'" does not work anymore"
Hi,
since I got the "loveletter" forcing me  to change to the Teams Module  greater 4.x in June I need help fixing that issue.

 Get-CsOnlineUser : Specified method is not supported.

I am currently using 2.3.1 and it is working without issues.
We are using a Powershell managementagent  in MIM for the Teams Policies so that call is made quite often.

we have 30 000 accounts in the tenant from  2 d

[2022-04-06 06:47] petersonal2 commented on #9228
Our company gives IT solutions, and I am turning (trying...) audit log on in Exchange online in multiple copanys. First I do a command (Get-OrganizationConfig).IsDehydrated IF need I do turn on org. customization using Enable-OrganizationCustomization -Confirm:$false . This is all I do. Nothing else. That's when I getting the error. All the error, all the script not mine. I am getting this as a re

[2022-04-06 07:00] dtavb opened #9241 "Strange Error-Message - System.Exception: [ClientError] : Invalid input parameters forest"
We are actually staging a lot of users day for day.

Yesterday, early evening (17:00 Zurich Time) these cmdlets are ended with this message:
Exception             : System.Exception: [ClientError] : Invalid input parameters forest
TargetObject          : { Identity = abc@contoso.com, PolicyType = TeamsCallHoldPolicy, body =
                        Microsoft.Teams.ConfigAPI.Cmdlets.Generated.Models

[2022-04-06 07:38] muringclub opened #9242 ".ObjectId parameter not working for TeamPowerShell Module 4.0.0"
When executing the line below as given in the examples.
**$RAObjectId = (Get-CsOnlineApplicationInstance -Identity aa@contoso.com).ObjectId**

An error has been thrown with a message
"New CsTeamsUnassignedNumberTreatment : Empty Target is not allowed."

This error is occurring when the example is executed using the TeamPowerShell Module 4.0.0

To overcome the error we switch the .ObjectId into .Id

[2022-04-06 08:12] vlethiec commented on #9241
Hi @dtavb,
We discussed this point here.
"Teams PowerShell Module Grant Policy Commands have suddenly started throwing exceptions - TPM 4.1.0" #9229

No answer from Microsoft, but the issue looks solved now.

[2022-04-06 08:41] JensTrier commented on #9242
@muringclub Thanks for the feedback! I'm not able to repro this issue using either TPM 4.0.0 or 4.1.0 on PS 7.2.2. On both systems I see the resource account ObjectId in the $RAObjectId variable. My recommendation is that you open a Microsoft support case to get to the bottom of what's going on.

[2022-04-06 10:51] dtavb commented on #9241
hey, thanks for sharing the information.

[2022-04-06 10:51] #9241 closed

[2022-04-06 11:30] slueders-bag commented on #9215
I used 7.2.2 on Windows 10 with EXO v2.0.5.
The first part also works fine, but then the set cmdlet throws an error that the policy couldn`t be found. I will give it a try with the preview version now.

[2022-04-06 12:10] Edgar81 commented on #8991
@isrumnon I do understand that this is by design, but what's the logic behind removing the LastName field?

[2022-04-06 16:16] gvnwht opened #9244 "Set-CsPhoneNumberAssignment gives incorrect error output when user not licensed"
Output from failed Set-CsPhoneNumberAssignment doesnt give exception - I note there is another case for that problem, but I also see that the output is not clear - the Messagesays - "The user already has a telephone number set in the on-premises Active Directory and synchronized to the cloud" that is not correct, in fact the user does not have adequate licensing - the MCOEV AssignedPlan Capability

[2022-04-07 06:58] sagius-pingco opened #9246 "Set-CsTenantDialPlan fails when trying to work with NormalizationRules"
## Issue
Error thrown when attempting to run cmdlet Set-CsTenantDialPlan to CRUD Normalization Rules on Version 4.0.0 and 4.1.0 of the MicrosoftTeams module. Error Message below:

## PowerShell Output
[code]

I don't believe the issue is the actual object created by New-CsVoiceNormalizationRule, but more how the Set-CsTenantDialPlan cmdlet handles the call. To make this more interesting, this does

[2022-04-07 07:10] sagius-pingco commented on #9242
I have seen this as well; it is dependent on tenancy, which is a pain. My workaround for this has been to create an ObjectId NoteProperty when it does not exist on the CsOnlineUser object and regex the ObjectId from the Identity field.

The issue became apparent as of v4.0.0.

[2022-04-07 07:26] jformacek commented on #9218
This is exactly what I observe as well - causes large RAM consumption on bigger tenants

[2022-04-07 07:30] JensTrier commented on #9244
@gvnwht Thanks for the feedback. Please open a Microsoft support case so they can work with you to get to the bottom of this.

[2022-04-07 07:50] JensTrier commented on #9246
@sagius-pingco Thanks for the feedback! I tried below on TPM 4.1.0 on both PS 5.1.22000.282 and 7.2.2 and it worked for me.

`# Create Dummy Arrays for CRUD Operation
$existingRules = @()
$newRules = @()

# Create Rule and add to $newRules Array
$rule1 = New-CsVoiceNormalizationRule -Identity 'Test1/1' -Pattern '^(\d+)$' -Priority 10 -Translation '+$1' -InMemory
$newRules += $rule1

# Attempt Set-

[2022-04-07 08:56] Akadelvo opened #9247 "Set-Team | No paramter to set allow member upload of custom apps"
In Teams GUI there is an option to set allow member **upload** custom apps.
For all other options there is an powershell paramter to set that option, why not for the option discribed above?

Best regards.

![Teams-AllowUploadCustomAppsGitHub](https://user-images.githubusercontent.com/1497063/162161272-5db4439a-c1c6-44de-9401-24ef1c8d0387.png)

---
#### Document Details

⚠ *Do not edit this section

[2022-04-07 10:48] mdurini-swisscom opened #9248 "Get-MailboxImportRequestStatistics throwing exception since yesterday"
Hi, since yesterday the command Get-MailboxImportRequestStatistics is throwing the following exception

`WARNING: An unexpected error has occurred and a Watson dump is being generated: The type initializer for 'Microsoft.Exchange.MailboxReplicationService.RequestJobBase' threw an exception.
The type initializer for 'Microsoft.Exchange.MailboxReplicationService.RequestJobBase' threw an exception.

[2022-04-07 11:11] JensTrier commented on #9244
@gvnwht Thanks for the feedback! I can repro this. Will notify the correct team. Feel free to close this issue.

[2022-04-07 11:15] mdurini-swisscom commented on #9248
I tried to install manually the 2.0.6 preview 5 version of the module and it's working.....Any idea why a command is only working with a preview version?

[2022-04-07 12:27] kdkendall opened #9249 "Tenant Roles need to run the command"
Hi

What tenant roles are needed to run the command? It does not seem to be documented.
My account has the Teams Administrator and User Administrator role, but when I run the command it says "You are not authorized to perform this action".
If i run it will a Global Admin account it works fine.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-04-07 14:59] sagius-pingco commented on #8991
Completely agree with this @Edgar81. Especially considering AzureAD Module is being deprecated shortly... Why force users to use Microsoft.Graph.Users in addition to MicrosoftTeams just to pull a LastName? To that extent, there is a bucket load of attributes that are not relevant to Teams that are in the output of Get-CsOnlineUser at present.

If there is a way to upvote reintroduction of basic us

[2022-04-07 15:10] MilanGajicBuva opened #9250 "no "SkipDomainValidation" switch??!"
I can not believe that one would remove this.
I understand this does not affect most of the client base, but removing this for a large company mid migration (2-year just to synch the data) is almost sabotage !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905b56a4-91c2-700a-4faf-a1cb66bda24a
* Version Independent ID:

[2022-04-07 16:00] chrisda commented on #9250
@MilanGajicBuva, I suggest you open a support ticket. All we do here is fix documentation.

[2022-04-07 20:21] ansred commented on #9213
Update:

We found the issue.

We have set manually via PowerShell the values for (`-IsValidated`) + (`-LastValidationTimestamp`)
https://docs.microsoft.com/en-us/powershell/module/exchange/set-outboundconnector

That wasn't mentioned in the Validate command page, as it should be related or referenced.

I would recommend to add a note in the
https://docs.microsoft.com/en-us/powershell/module/exchan

[2022-04-07 21:04] NEJ-OC commented on #9248
Getting the same error, any luck?

[2022-04-07 21:39] craigwb opened #9257 "New-Mailbox, errors out saying UserPrincipalName is required, when the command syntax is actually missing MicrosoftOnlineServicesID."
New-Mailbox, errors out saying UserPrincipalName is required, when the command syntax is actually missing MicrosoftOnlineServicesID.

![image](https://user-images.githubusercontent.com/7943431/162324344-b5527d41-300c-46d5-a086-151c6358b0f2.png)

[2022-04-07 21:44] chrisda commented on #9213
@ansred, thanks very much.

I added your note to the SYNOPSIS section of Validate-OutboundConnector and added some text to the descriptions of the IsValidated and LastValidationTimeStamp parameters in Set-OutboundConnector.

Thanks for the feedback.

Closing

[2022-04-07 21:44] #9213 closed

[2022-04-07 22:05] dstrome opened #9259 "test issue"
testy test

[2022-04-07 22:35] dstrome commented on #9259
test

[2022-04-07 22:36] #9259 closed

[2022-04-07 22:54] sagius-pingco commented on #9246
Hi @pbafna03,

Thanks for the update. Will test today and advise. Most appreciated.

[2022-04-08 04:17] yogkumgit commented on #9138
@Petri-X Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-08 04:19] yogkumgit commented on #9148
@dariomws

[2022-04-08 04:20] yogkumgit commented on #9160
@dariomws

[2022-04-08 04:21] yogkumgit commented on #9162
@dariomws

[2022-04-08 04:21] yogkumgit commented on #9167
@dariomws

[2022-04-08 04:22] yogkumgit commented on #9175
@dariomws

[2022-04-08 04:27] yogkumgit commented on #8881
@isrumnon Kindly update and help us in closing this issue. Thanks

[2022-04-08 04:29] #8904 closed

[2022-04-08 04:32] #8951 closed

[2022-04-08 04:40] yogkumgit commented on #8960
@Fimlore Hope this helps, kindly close this issue.

[2022-04-08 04:41] yogkumgit commented on #8981
@dariomws

[2022-04-08 04:46] yogkumgit commented on #8991
@richardh-ncp Hope the comment by @isrumnon is helpful. We proceed here to close this issue. Thanks

[2022-04-08 04:46] yogkumgit commented on #9043
@isrumnon Please update and help us in resolving this issue. Thanks

[2022-04-08 04:47] yogkumgit commented on #9081
@dariomws

[2022-04-08 04:48] #9123 closed

[2022-04-08 04:48] sagius-pingco commented on #8991
Hello @yogkumgit,

Can you please help answer my question? This is not ideal...

Regards,
Sean

[2022-04-08 04:49] yogkumgit commented on #9128
@isrumnon Please update and help us in resolving this issue. Thanks

[2022-04-08 04:50] #9166 closed

[2022-04-08 04:51] yogkumgit commented on #9183
@JensTrier Please update and help us in resolving this issue. Thanks

[2022-04-08 04:52] yogkumgit commented on #9185
@isrumnon Please update and help us in resolving this issue. Thanks

[2022-04-08 04:57] yogkumgit commented on #9191
@youcefnb Thanks.

[2022-04-08 04:57] #9191 closed

[2022-04-08 04:58] yogkumgit commented on #9200
@UMLPEH Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-08 05:36] yogkumgit commented on #9224
@technonath Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-08 05:36] #9224 closed

[2022-04-08 05:38] yogkumgit commented on #9228
@petersonal2 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wi

[2022-04-08 05:38] #9228 closed

[2022-04-08 05:46] yogkumgit commented on #9242
@muringclub Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wil

[2022-04-08 05:46] #9242 closed

[2022-04-08 05:50] yogkumgit commented on #9250
@MilanGajicBuva Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentat

[2022-04-08 05:51] #9250 closed

[2022-04-08 06:24] 7amitsingh7 commented on #9248
First check if you didnt get the latest bad updates and you have the disks available.

[2022-04-08 06:49] JensTrier commented on #9183
We do support importing exported audio files. The catch is that an exported audio file is always in WAV format, so should be saved as such. I have a PR out to update the documentation to reflect this

[2022-04-08 07:31] zenewian commented on #9248
Same here,

Since yesterday we cant use new-moverequest nor get-moverequeststatistics. It dumps same mistake as above. Can someone confirm whats the issue and have Microsoft responded on the issue?

[2022-04-08 07:47] mdurini-swisscom commented on #9248
as said before, the problem disappeared once I started using the 2.0.6 preview 5 version of the module. it was tricky to install it because the AllowPrerelease is not accepted by the built-in version of Install-Module in Windows 10 and 11.

I used these commands first of all
`
[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
Install-Module -Name PackageManagement -Re

[2022-04-08 07:48] mdurini-swisscom commented on #9248
I don't get what you mean

[2022-04-08 09:09] donlassini opened #9261 "Online documentation is wrong for Get-CsOnlineUser"
The documentation for Get-CsOnlineUser is not updated in the official site (possibly also the case for other cmdlets).

This page https://docs.microsoft.com/en-us/powershell/teams/?view=teams-ps
tells you to go to this page https://docs.microsoft.com/powershell/module/skype
and that page seems to contain the documentation for the original Skype Online version of the PowerShell module.

The documen

[2022-04-08 09:26] zenewian commented on #9248
2.0.6 preview 5 version didnt solve my issue, still having same problem.

[2022-04-08 09:44] talkingoldfish commented on #9248
Same here, although I'm getting the error when trying to use the **New-MailboxRestoreRequest** cmdlet. I've logged a case with Microsoft.

[2022-04-08 11:57] sarollins commented on #9128
It looks like version 4.1.0 fixes this issue

[2022-04-08 11:57] #9128 closed

[2022-04-08 12:05] sarollins commented on #9043
I still see issues even running version 4.1.0 of the MicrosoftTeams module

[2022-04-08 12:34] talkingoldfish commented on #9248
Just found out Microsoft had logged this as an issue yesterday. These commands are not working due to a recent update and they should be deploying a fix shortly.

[2022-04-08 13:07] Petri-X commented on #9138
Actually not so much.. for example. is it so that "-EQ" start taking role from "-LIKE" and is this change for Teams PS module only, or is this wider change in PS world? Also would like to understand the reason why -NOT has been removed.

[2022-04-08 13:34] GregoryWBryant commented on #6990
After spending an hour Google searching I decided to view all comments on this page. I completely agree that this is helpful information. Much thanks to @hbwheat

[2022-04-08 17:02] isrumnon commented on #9138
@Petri-X "-EQ" will not take over the "-LIKE" role. It will continue to function as is. The "-LIKE" operator is not available right now and we are looking into how to re-introduce it, it is the same case for the "-NOT" operator.

[2022-04-08 17:03] isrumnon commented on #9043
Can you please check again now and see if the command works?
@sarollins can you summarize the issues you are facing?

[2022-04-08 17:11] sarollins commented on #9043
Some great strides have been made, but as you see, Enabled is a deprecated attribute and should not have a value, whereas the opposite is true for IsSipEnabled

PS D:\docs\ps\sfbo> Get-CsOnlineUser -Filter {Identity -eq 'd3c4b4e1-b747-4372-ac51-c9d7f2d13620'} | Select AccountEnabled,Enabled,IsSipEnabled

AccountEnabled Enabled IsSipEnabled
-------------- ------- ------------
          True

[2022-04-08 17:12] isrumnon commented on #9185
@joergrenn
PolicyProperty comparison works only when "Authority" is provided in the value. For ex: -Filter "TeamsMessagingPolicy -eq '<Authority>:<Value>'" "Authority" can contain any of these two values: Host or Tenant for a policy type (PreCanned/Default configurations provided by feature team are referred to as Host configurations while Admin-created configurations are considered Tenant configu

[2022-04-08 17:38] get-itips commented on #9206
Hello @HiighQ

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that re

[2022-04-08 17:42] get-itips commented on #9207
Hello @ekreddy Koti,

Here, we are limited to documentation fixes.
It seems your inquiry might need to add that feature to SPMT, so the best is to send your feedback here https://feedbackportal.microsoft.com/feedback/forum/06735c62-321c-ec11-b6e7-0022481f8472

That way, it can reach the product team.

Thank you!

[2022-04-08 17:54] get-itips commented on #9218
Hello @poshdude Jam, how are you?
Here, we are limited to **documentation/articles** fixes. The best for your inquiry would be to open a support ticket from your tenant, that way, it can reach the team for resolution.
Thank you

[2022-04-08 18:08] isrumnon commented on #8881
We've made documentation changes for more clarity, hope that helps. Do let us know if something is still unclear.

[2022-04-08 21:29] chrisda commented on #6990
Dario is correct in that adding this information to the parameter description isn't a good idea (too long/complex for a parameter description). However, I added the information as a second example so the information/capability is at least captured.

Be advised that the ContentContainsSensitiveInformation parameter is available in the following cmdlets:

- New/Set-AppRetentionComplianceRule
- New/S

[2022-04-08 22:12] get-itips commented on #9239
Hello @websta911 I am looking into this

[2022-04-09 03:54] yogkumgit commented on #8991
Here, we are limited to documentation fixes and improvements only. Expert has already shared his comment. Kindly approach support. Thanks.

[2022-04-09 04:02] yogkumgit commented on #9183
@TheITguy666 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-09 04:06] #9138 closed

[2022-04-09 04:18] #8881 closed

[2022-04-09 06:23] TheITguy666 commented on #9183
@yogkumgit
I have open an incident at MS  Ticket #30310338 that was closed with the opposite statement:
"Hello Luis,
Thank you for the response.

The cmdlet import-csonlineaudiofile is not designed to be reused. I sincerely apologize for the inconveniences you must have experienced, and I understand it would have eased the business process if you are able to reuse the cmdlet import-csonlineaudiofi

[2022-04-09 06:41] TheITguy666 commented on #9183
But you are right.
It was a bit misleading since the file is stored with the original name (example: music.wma or music.mp3) I assumed that the export-csonline audiofile would get the same.
It works if you define the filename as .wav when uploading

Thanks for clarifying. It was more efficient than the 3 weeks with MS Support

Maybe a statement informing that the exported content is always WAV cou

[2022-04-09 06:55] poshdude commented on #9218
Hi @get-itips Andres.  I'm seeing this has started working now for some tenants but not others so hopefully something is being rolled out in the background.  From experience, the support ticket route does not yield great results when reporting issues with TPM commands .  Can you advise if there is a better thread on GitHub for raising TPM issues with the developers? Thanks.

[2022-04-09 07:18] JensTrier commented on #9183
Yes, that statement is in this PR https://github.com/MicrosoftDocs/office-docs-powershell/pull/9243

[2022-04-10 12:49] M0rfic commented on #9185
@isrumnon & @yogkumgit thanks for taking the time to reply and the updates. @yogkumgit it's helpful for the first part which was addressed, while for the second I still don't know if it's something I'm doing wrong or a bug with the module. Still getting the same behaviour with 4.1.0, and if at all possible, I'd be grateful for any suggestions/hints/etc.

Kind regards

[2022-04-11 11:30] joergrenn commented on #9185
@isrumnon thanks.
I wasn't aware of the "autority" information.  It works now when providing the "authority" information.
But I could swear in the past it worked also without. :)

[2022-04-11 13:41] get-itips commented on #9218
Hello @poshdude Jam,
I also tested this to check but could not repro, I obtained almost the same performance.
Said that, other good resource to reach the product team is the Teams feedback portal https://feedbackportal.microsoft.com/feedback/forum/ad198462-1c1c-ec11-b6e7-0022481f8472

Hope this information helps you

[2022-04-11 14:39] #9185 closed

[2022-04-11 15:01] poshdude commented on #9218
Hi @get-itips Andres,

I still see this happening for some of the larger tenants that we manage.  Thanks for sharing the link - I'll try posting on there.

Regards,
Jam

[2022-04-11 15:01] #9218 closed

[2022-04-11 15:27] rhrotman opened #9265 "CsCallingLineIdentity cmdlets throw error when used for resource account"
Since a few days (as of version 4.x of the Microsoft Teams PowerShell module?), I get an error message when I try to create or update a CallingLineIdentity.

**Error message:**
[code]

**Commands executed:**
[code]

The error message doesn't occur when I omit the **CallingIDSubstitute** parameter, so this parameter seems to be the culprit, but this parameter is required in our scenario. We use Dir

[2022-04-11 16:25] npherson opened #9266 ""BposSAllModality" needs to be documented"
This cmdlet refers to the Global (org-wide default) policy as "BposSAllModality". This needs to be documented. The admin UI and all the other cmdlets use the actual name, not "BposSAllModality" so it's pretty confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3898f54-71f3-44c6-8412-c3eeee517aa7
* Version Indepe

[2022-04-11 18:11] Benzmann88 commented on #9265
i had the same exact problem today
i tryed it with Teams Module 4.0.0 and 4.1.0, but no luck.

i then tried to run it on a different PC, that had Teams Module 2.6.0 and it worked !
i was able to run it without an error.

[2022-04-11 18:32] pbafna03 commented on #9265
Hi @rhrotman  & @Benzmann88,

Can you please try this again with versions 4.x.x, it will be good to do a fresh Connect-MicrosoftTeams before trying it out. This was due to a feature being flighted which ran into this issue and has been de-flighted now.

Thanks,

[2022-04-11 19:28] rhrotman commented on #9265
Yes, I can confirm this works again now in version 4.x.x. Thank you for the fast response!

[2022-04-12 11:45] websta911 commented on #9239
Hello @pbafna03

I assume that Filtering on "Company" could be a possibility to filter between users from different domains.
But, it is not as reliable because I am not filtering for a domain but for a property which can be set on both domains.
So carefully used it is a possibility but not nearly reliable as filtering for the domain.

If that is something that can be made available quicker than th

[2022-04-12 11:45] UMLPEH commented on #9200
Thank you very much, I'll give it a try, but it can take some time.

[2022-04-12 11:58] ValeSayfa opened #9270 "Connect-IPPSSession: A parameter cannot be found that matches parameter name 'CertificateThumbprint'"
The following command is not working:
https://docs.microsoft.com/powershell/module/exchange/connect-ippssession

[code]

I'm running powershell on linux (I have also tested it under Ubuntu):

[code]

The following modules are installed:

[code]

[2022-04-12 13:59] lgaudreau commented on #8919
Is this post still valid to comment in?  My tenant uses the 'tel:+1xxxxxxxxxx;ext=xxxx' format and I have no way to filter by number using the 4.1.0 module.
[code]
This is the same result if I try running the original style filter:

[code]

Is there another format I can try?

[2022-04-12 15:06] dsolodow opened #9272 "Sometimes have to run Disconnect-MicrosoftTeams before connection "works""
It seems like a connection times out or gets "broken" after a period.
Calling Teams cmdlets throws a "You must call the Connect-MicrosoftTeams cmdlet before calling any other cmdlets."
If you then call
[code]
It appears to complete successfully, but other Teams cmdlets continue to throw the "You must call the Connect-MicrosoftTeams...." error.
If I then run:
[code]
Everything seems normal

Teams v

[2022-04-12 15:52] JohnGGeo opened #9273 "Unspecified parameter EnhancedEmergencyServiceDisclaimer"
Seeing a unspecified parameter present in set-csteamsemergencycallingpolicy, new-csteamsemergencycallingpolicy.
This is also visible in get-csteamsemergencycallingpolicy.
It doesn't seem to show a disclaimer in the client but looking for documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 600b453c-8a25-4c1d-3

[2022-04-12 15:55] Petri-X opened #9274 "Get-TeamChannel and channel's email address"
Hi,
Does anybody knows if coming versions from the Teams PS module could save our time, and give the email address from the channel, if that is mail enabled? Currently we are getting only:
**Id
DisplayName
Description
MembershipType**
Which is not too much :D

[2022-04-12 20:10] get-itips commented on #9207
@yogkumgit

[2022-04-12 20:10] #9207 closed

[2022-04-12 20:10] #9206 closed

[2022-04-13 04:08] #9265 closed

[2022-04-13 06:11] pbafna03 commented on #9239
@yogkumgit  - pls assign this to @isrumnon

[2022-04-13 06:18] pbafna03 commented on #9188
Hi @sjackson0109 - currently the Access tokens work only with the user context and not with the App context.

[2022-04-13 06:20] MiBurtan opened #9276 "SpokenName feature deprecated"
SpokenName feature has been deprecated also in Outlook WIN32
internal reference: 2689663

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a057e0e5-e897-e015-11ed-22cdbb6f7c43
* Version Independent ID: ee3ec571-bf8c-7623-92a8-538851427d54
* Content: [Import-RecipientDataProperty (ExchangePowerShell)](https://docs.microsof

[2022-04-13 10:40] sjackson0109 commented on #9188
Can you please clarify with an explaination?

[2022-04-13 11:08] trudolf-msft opened #9277 "Component values"
Please double-check all values for component parameter.

Example:

Export-MailboxDiagnosticLogs: |Microsoft.Exchange.Data.StoreObjects.ObjectNotFoundException|Logs for component 'OOFRules' weren't found in mailbox
Identity:'Gert Rudolf'. Available logs: 'MFN, CalendarActiveSharees, ReplicateAttendees, CalendarReplication,
AcceptCalendarSharingInvite, VisibleMeetingMessageProcessing, CalendarSharin

[2022-04-13 17:31] rmichalskinw commented on #9244
Also having this issue - need the error updated to show that the user is not licensed appropriately. The error should be the same as 2.6.1:

![image](https://user-images.githubusercontent.com/79276399/163237417-0d137010-1fe0-4e28-b198-95226092fdde.png)

[2022-04-13 17:36] rmichalskinw commented on #9244
Any update?

[2022-04-13 17:53] chrisda commented on #9196
@tberta, I finally got a response.

As you pointed out, the max value is 30 days. Apparently, you can enter values larger/older than that, but they're ignored and only 30 day's worth of data is returned.

The retention period also comes into play: some items are kept for 30 days, some for only 15 days as described [here](https://docs.microsoft.com/microsoft-365/security/office-365-security/quarant

[2022-04-13 18:45] rmichalskinw opened #9281 "PowerShell 4.2.0 Displaying Wrong Error - Set-CsPhoneNumberAssignment"
We upgraded to PowerShell 4.2.0 in the hopes that the Set-CsPhoneNumberAssignment errors were fixed, but they are not. Users who are missing the Phone System license are displaying the following:

FAILED | BadRequest The user 'd2960676-bad7-4d7b-96e5-a5ec9066b82b' already has a telephone number set in the on-premises Active Directory and synchronized to the cloud. To manage this user's telephone n

[2022-04-13 20:20] chrisda commented on #9277
@trudolf-msft, here's what I've come up with so far:

- In my E5 test tenant (100% PROD; no flighing, no SDF), only the following values work (don't return errors):
  -  ActionProcessingAgent
  - BirthdayAssistant
  - CalendarPermissions
  - CalendarSharingLocalFolder
  - DefaultViewIndexer
  - FreeBusyPublishingAssistantQuickLog
  - HoldTracking
  - InternetCalendar
  - MRM
  - OnlineMeetings
  -

[2022-04-13 20:53] chrisda commented on #9277
It's also worth noting that the list of available values (which is worded to indicate the values listed aren't exhaustive) only differs from my recent test by one "bad" value: InternetCalendarSharingMigration.

[2022-04-13 21:10] tberta commented on #9196
Thank you for the follow up and added explanation 👍🏻

[2022-04-13 21:13] #9196 closed

[2022-04-13 22:28] coyvelano commented on #8919
Hi @lgaudreau

I'm having the same issue on my end - shall we try 2.6.0?

[2022-04-13 22:34] chrisda commented on #9276
@MiBurtan, fair point, but the Import-RecipientDataProperty and Export-RecipientDataProperty cmdlets are still available.

I removed the second sentence from the introduction:

So now I guess the topic is accurate?

[2022-04-13 23:41] alex-marrero opened #9284 "Parameter MTREnabled missing from Docs page"
Set-Place documentation page is missing parameters that are in the latest release of the EchangeOnlineManagement module

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af332a3-efc1-49aa-24c2-64b5031a2420
* Version Independent ID: f47bc209-aa9e-f337-1cfa-b8a727a9f780
* Content: [Set-Place (ExchangePowerShell)](https://d

[2022-04-14 00:29] chrisda commented on #9284
@alex-marrero, the Set-Place cmdlet isn't baked into the module itself, so it's more about which version you're using and how you're connecting:

- v2.0.6-Preview5

  Are you using the UseRPSSession switch in the Connect-ExchangeOnline command? That lets you see all cmdlets and parameters as normal.

  If you'e not using the UseRPSSession switch, then you would only have access to the ~250+ cmdlet

[2022-04-14 05:00] f0oster commented on #9188
Can you please go into more detail here on how to actually deploy and use access tokens given the above statement, what benefit do they bring?

Please correct me if I am wrong, but as far as I can tell I need to have a *user* account enabled, configured with Teams RBAC roles, with no MFA configured for any unattended automation in the Teams area.

I think, instead, I should be able to use a servic

[2022-04-14 06:20] pbafna03 commented on #9188
Yes, that's correct, the Service Principal support is in works and will be available soon.

[2022-04-14 06:48] MiBurtan commented on #9276
thank you, Chris! it sure is better now :D
so, if the cmdlet parameter is still available, but the feature itself is deprecated, the doc should still contain the info on the parameter, right?

I guess it would come down to the cmdlet owners to announce this, namely that the parameter will not take any affect.

[2022-04-14 07:11] MicheleBomello opened #9285 "Get-CsOnlineSchedule result limit of 100 since 4.x.x"
since module version 4.x.x, the Get-CsOnlineSchedule will only return the first 100 results.

also tested with 4.2.0

with module 4.x.x
[code]

with module 3.1.1
[code]

[2022-04-14 07:43] dariomws commented on #9148
Hi @TheITguy666,

A few comments about your examples:
- The TimeoutActionTarget represents the target of the timeout action. If the TimeoutAction is set to Forward, this parameter must be set to a Guid or a telephone number with a mandatory ‘tel:’ prefix. If the TimeoutAction is set to SharedVoicemail, this parameter must be set to an Office 365 Group ID.
- The TimeoutSharedVoicemailAudioFilePromp

[2022-04-14 08:54] pbafna03 commented on #9272
Hi @dsolodow - which cmdlets are you seeing this with? And what's the time gap between Connect- & the cmdlet run which gives the error?

[2022-04-14 11:13] lgaudreau commented on #8919
@coyvelano, 2.6.0 works fine for the filter, but is going to be deprecated.  Not sure what the solution is when that happens if the filtering isn't fixed in 4.1.0 or the next module.

[2022-04-14 11:16] lgaudreau opened #9286 "LineURI filters failing when there are non-numerical characters for Get-CSOnlineUser in 4.1.0"
My tenant uses the 'tel:+1xxxxxxxxxx;ext=xxxx' format with direct routing, and I have no way to filter by phone number using the 4.1.0 module.

I've tried these formats so far:
[code]

Result:

`Get-CsOnlineUser: Phone number has non digit chars. tel:+1xxxxxxxxx;ext=xxxx`

This filter works fine in the MicrosoftTeams 2.6.0 module, but fails in 4.1.0:

[code]
Result:
[code]
If I remove the "tel:+"

[2022-04-14 13:18] dsolodow commented on #9272
I see this with pretty much any cmdlets from the module I use. I'll have to do some further testing to get time gaps, but here's an example from just now:
![image](https://user-images.githubusercontent.com/7574074/163398964-6f8ce796-4038-4ba8-b8b2-4654b9162eac.png)

[2022-04-14 13:21] get-itips commented on #9272
Hello @dsolodow Damien, how are you?
As here, we are limited to documentation fixes, I tried to reproduce with those exact cmdlets in that order to understand if any change to documentation under this repository is needed however I couldn't.
Also using 4.1.0 (but yesterday 4.2.0 came out)

Be sure to have only one version of the module installed at any time.

Other than that, I do not identify a d

[2022-04-14 13:23] get-itips commented on #9274
Hello @Petri-X how are you?
It's true, that cmdlet does not return that information. Sounds like a great feedback, I'll try to pass this on however I recommend adding a feedback item here https://feedbackportal.microsoft.com/feedback/forum/ad198462-1c1c-ec11-b6e7-0022481f8472
Thank you!

[2022-04-14 13:39] dsolodow commented on #9272
Is there a different repo for issues for the MicrosoftTeams module itself? Everything I see points me here. :(

[2022-04-14 14:35] JohnGGeo commented on #9273
Update: It does show a prompt at the top of the calls page if the parameter is set to a string,
<img width="782" alt="image" src="https://user-images.githubusercontent.com/7240495/163412853-b9cad97a-dd79-4d40-b6a5-119d634c8497.png">
So the message there was set via powershell, however it'd be nice to note when it shows etc as I already had a location set so is it a message that would appear each f

[2022-04-14 15:16] #9183 closed

[2022-04-14 15:21] yogkumgit commented on #9244
@JensTrier

[2022-04-14 15:25] get-itips commented on #9273
Hello @JohnGGeo John, thanks for adding the screenshot, yes working on adding the description for this parameter

[2022-04-14 15:51] sjackson0109 commented on #9188
Why has this been closed???

[2022-04-14 16:14] get-itips commented on #9266
Hello @npherson Nash, how are you?

Actually, "MeetingPolicy" are the ones returned by `Get-CsConferencingPolicy` if you look at the output of that cmdlet you can see **there is a Global** and all of the rest, start with BposS

[code]

These were back from the days [of SFBO](https://docs.microsoft.com/en-us/skypeforbusiness/set-up-policies-in-your-organization/set-up-conferencing-policies-for-your

[2022-04-14 16:45] chrisda commented on #9276
If the only change is lack of availability of the user's spoken name in Outlook, then I wouldn't say the feature is deprecated. The user can still have a spoken name value on their account/mailbox, no? And Exchange admins can still use Import-RecipientDataProperty to add a spoken name, and Export-RecipientDataProperty download an existing spoken name?

Or perhaps I'm misunderstanding.

What would

[2022-04-14 22:47] yinzh798 commented on #9285
Can you please try this again with version 4.x.x? It will be good to do a fresh Connect-MicrosoftTeams before trying it out. This was due to a feature being flighted which ran into this issue and has been de-flighted now.

[2022-04-15 06:13] pbafna03 commented on #9281
Hi @rmichalskinw,

Can you please try this with 4.2.0 again once, there were few improvements done around this.

Thanks,

[2022-04-15 07:43] JensTrier commented on #9244
@gvnwht @rmichalskinw Thanks for the patience. The cmdlet has been fixed to report the correct error message, when the user is not licensed. Feel free to close the issue(s) when you have confirmed the fixed behavior.

[2022-04-15 11:52] MicheleBomello commented on #9285
I tested it again. It works now. Thank you very much.

[2022-04-15 11:52] #9285 closed

[2022-04-15 12:38] yogkumgit commented on #9188
@sjackson0109 Here, we are limited to documentation fixes and improvements only. Thanks

[2022-04-15 13:24] yogkumgit commented on #9244
@gvnwht Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-15 13:24] #9244 closed

[2022-04-15 13:40] yogkumgit commented on #9274
@Petri-X  Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-15 13:40] #9274 closed

[2022-04-15 13:45] yogkumgit commented on #9272
@get-itips Thank you very much for the contribution and sharing this explanation. @dsolodow Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-15 13:46] #9272 closed

[2022-04-15 14:26] rmichalskinw commented on #9281
@pbafna03 - this has been confirmed:

![image](https://user-images.githubusercontent.com/79276399/163582795-05caa95e-a0e3-4438-bea7-f192c7fd9073.png)

[2022-04-15 14:27] #9281 closed

[2022-04-15 16:50] sjackson0109 commented on #9188
Why did Microsoft open the code repo to public to raise issues against; if development support staff just close tickets with no comments or justification? This is shocking behaviour.
As a bare minimum, explain why you can’t progress with the ticket. This is just basic human decency. Put yourself in the shoes of the person raising the ticket; and manage your own expectations as you reply.

Despite

[2022-04-15 16:55] get-itips commented on #9188
Hello @sjackson0109 Simon, how are you?

What @yogkumgit is trying to explain, is that github issues under this repository are to handle issues **in markdown files** (**documentation**) inside this repository (for example a missing parameter description, a cmdlet that is not documented), not code or module files whatsoever, those kind of issues have different paths to be resolved (like opening a s

[2022-04-15 17:56] get-itips commented on #9249
Hello @kdkendall
You can see in this article that Teams Administrator has required permissions https://docs.microsoft.com/en-us/microsoftteams/using-admin-roles

I also have just checked and, with a user member of Teams Administrator role (only role that this user has) I could use this cmdlet.
Be sure to be running latest GA version of the module.

Hope this information helps you,

[2022-04-15 18:20] sjackson0109 commented on #9188
As several of the linked tickets all suggest, and about 12 pages of another forum; everyone has been raising this with the formal support channels. And nobody is getting any traction.

I personally raised this the exact same day as I started this thread. After several screen sharing sessions; the engineer ultimately gave up stating ‘we are a break fix organisation, so can only support configuratio

[2022-04-15 18:23] sjackson0109 commented on #9188
For GitHub developers to look at:

Microsoft’s documentation does not clearly state to ‘use a USER based JWT token (not an App/certificate/secret) to connect to MS Teams with the -AccessTokens switch’.

[2022-04-15 18:32] CATgwalker commented on #9188
Hi Simon @sjackson0109,

I've been following this thread since I have same concerns and have had lengthy discussion of same in the previous issue #8664  I linked. However, the documentation does clearly state that you need to use the "Delegated" context API permission instead of the "Application" context - which ultimately makes the usage of AccessTokens for any Teams administrator managing Teams

[2022-04-15 18:45] get-itips commented on #9261
Hello @donlassini

The SfBO cmdlets has its own path in the documentation repository, however, SfBO cmdlets were incorporated some time in the past into the Teams PowerShell module, and most of them, are also used for Teams, in this repository, they will remain for the moment, in the current path.

also, in https://docs.microsoft.com/en-us/powershell/teams/?view=teams-ps there is a link to the [Mi

[2022-04-15 18:50] get-itips commented on #9247
Hello @Akadelvo
How are you?
Here, we are limited to documentation changes, fixes and improvements.
For feature requests and feedback, the best would be to submit an idea in the feedback for Teams

https://feedbackportal.microsoft.com/feedback/forum/ad198462-1c1c-ec11-b6e7-0022481f8472

Hope this information helps you

[2022-04-15 23:44] CATgwalker commented on #9188
I have added a feedback item to hopefully get a formal commitment to fixing this. Please vote, socialize and share my Teams Powershell feedback item.

https://feedbackportal.microsoft.com/feedback/idea/92b47808-15bd-ec11-a81b-000d3a00c008

[2022-04-16 03:22] yogkumgit commented on #9247
@Akadelvo Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-16 03:22] #9247 closed

[2022-04-17 19:20] tdherring commented on #8537
Are there any updates on this or progress towards a Graph API alternative? We have been needing to use this cmdlet for months and there's seemingly no movement from Microsoft's end! When I contacted support I was told there would be a solution soon, so it wouldn't be necessary to disable roaming signatures (this was a couple of months ago).

[2022-04-17 20:46] grryf commented on #8537
Support just disabled roaming signatures for our tenant some time ago. It
works since.

On Sun, Apr 17, 2022, 21:20 Tom Herring ***@***.***> wrote:

[2022-04-18 05:45] andreaci commented on #8537
Support can disable the roaming signatures function.
They told me last week that it will be completed (and hopefully working) in July 2022.
They have no info on PowerShell api

[2022-04-18 13:44] get-itips commented on #9266
@yogkumgit

[2022-04-18 13:44] #9266 closed

[2022-04-18 13:44] get-itips commented on #9249
@yogkumgit

[2022-04-18 13:44] #9249 closed

[2022-04-18 14:46] tiburd commented on #6382
The cmdlet owner has been notified of this issue, but we don't have any updates at this time.
Thanks!

[2022-04-18 14:46] #6382 closed

[2022-04-18 14:46] tiburd commented on #6382
@yogkumgit @get-itips

[2022-04-18 21:07] caspChristian commented on #8537
The main issue here is still that there is no documentation about this cmdlet not working (in some cases?), and explanation as to why. MS claims this is not in a public release, and that disabling roaming signatures "resolves" the issue, totally ignoring the fact that any existing signatures seems to be lost in the process.

Real fix should be out when roaming signatures is GA, which I think it al

[2022-04-19 04:07] Saki-Yufu opened #9305 "PQMT: [Exchange] When send an email online, "FromIP" field should be blank, but it is not blank"
![20220418_1](https://user-images.githubusercontent.com/103729056/163918089-6821a5e8-6947-4494-b4ae-dd64b456c529.png)
[Document URL]
https://docs.microsoft.com/powershell/module/exchange/get-messagetrace

[Description]
When send an email online, "FromIP" field should be blank, but it is not blank.
The document says "For outgoing messages from Exchange Online, the value is blank" about "-FromIP".
H

[2022-04-19 06:11] JensTrier commented on #9246
@sagius-pingco was this fixed for you?

[2022-04-19 06:25] isrumnon commented on #9286
Hi @lgaudreau this is a know issue which we are working on fixing soon

[2022-04-19 07:06] isrumnon commented on #9239
@websta911 we're working on re-introducing filtering based on Company and will have it ready soon. Will keep you updated

[2022-04-19 12:12] lgaudreau commented on #9286
Thank you, @isrumnon.  From my own testing and via a support ticket for a non-related Teams issue, I found the following:

For some reason this filter works:
`Get-CSOnlineUser -Filter {lineUri -like 'tel:+1xxxxxxxxxx*'}`

But this one does not:
`Get-CSOnlineUser -Filter {lineUri -like '*xxxxxxxxxx*'}`

[2022-04-19 17:11] chrisda commented on #9305
@Saki-Yufu, thank you for the detailed explanation. I removed the offending sentence as you described.

Thanks for the feedback.

Closing

[2022-04-19 17:11] #9305 closed

[2022-04-19 17:22] chrisda commented on #9257
@craigwb, the UserPrincipalName parameter is marked as on-prem only, AND it says to use MicrosoftOnlineServicesID in the cloud instead:

So, if you try to use UserPrincipalName in the cloud, you're getting the standard 'parameter not found' error, which is to be expected.

So, from a documentation perspective, what is there to do?

[2022-04-19 17:58] chrisda commented on #9270
@ValeSayfa, the Connect-IPPSSession cmdlet is baked into the v2.0.6-Preview5 version of the module itself, and is definitely present, at least in Windows PowerShell v7.2.2.

Common parameters removed:

[code]

Your best way forward is to send email to the EXO V2 Module support alias at: exocmdletpreview[at]service[dot]microsoft[dot]com.

Regular support channels won't be able to help because the m

[2022-04-20 01:42] sagius-pingco commented on #9246
Hi @JensTrier, the issue has not reoccurred, so I would say it has been resolved. Thank you!

[2022-04-20 01:42] #9246 closed

[2022-04-20 04:39] yogkumgit commented on #9270
@ValeSayfa Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-04-20 04:39] #9270 closed

[2022-04-20 09:00] ITMonkey78 commented on #9237
Found an issue with the latest modules ONLY loading the 24 available cmdlets when the module is first imported - the CS functions are not being made available.
removing and re-importing the module appears to resolve the issue and export all 583 cmdlets and functions

This can be replicated but does not appear to occur every time

![Teams module](https://user-images.githubusercontent.com/18490295/1

[2022-04-20 10:09] bhushangholave opened #9317 "New-TeamsApp Forbidden issue"
Trying to upload new teams app through our AD user.
Its working from UI but from PowerShell its throwing forbidden issue.
I checked the permission for this user in AD but its still not working.
Below are the details.
[code]

[2022-04-20 14:39] #9261 closed

[2022-04-20 17:03] DimaRazb commented on #8905
Why this new commandlet works so poor?
![Untitled](https://user-images.githubusercontent.com/29647985/164284539-3f08167f-a993-4daf-b427-9808b69afebf.png)

[2022-04-20 20:35] dariomws commented on #9148
Hi @TheITguy666,

Now I understand your point. I'll report this to the product team.

Thanks!

[2022-04-21 05:56] pbafna03 commented on #9237
@ITMonkey78 - which PowerShell version are you seeing this with?

[2022-04-21 06:21] JensTrier commented on #8905
@DimaRazb Thanks for the feedback. What is the specific issue you want to bring up?

[2022-04-21 07:03] dariomws commented on #9162
@MPSTechDir - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Microsoft products better. They keep a close tab on user feedback and it would be awesome if you could add your voice to the Microsoft Feedback Portal: https://feedbackportal.microsoft.com/feedback/.

You might find others have made a similar req

[2022-04-21 12:03] ITMonkey78 commented on #9237
Name                           Value
----                           -----
PSVersion                      5.1.22000.282
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.22000.282
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion

[2022-04-21 13:26] ITMonkey78 commented on #9237
this might be related, as I also occasionally get this error when importing the module.

[code]

Not getting this error isnt an indication that the module has loaded correctly though, as i can import the module without getting this error and still only have 24 cmdlets available without the functions

[2022-04-21 14:40] #9273 closed

[2022-04-21 20:37] zcmott commented on #9167
@dariomws thanks, looks like the article has been updated and corrected since i have posted the feedback.

[2022-04-21 20:37] #9167 closed

[2022-04-22 06:30] pbafna03 commented on #9237
Hi @ITMonkey78

These look like some dependency conflict, could you maybe get a support request initiated with details of Get-Module when the error is coming. With that the team would be able to check/suggest more.

[2022-04-22 09:56] yogkumgit commented on #9237
@markdmac Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-04-22 09:56] #9237 closed

[2022-04-22 10:00] yogkumgit commented on #9162
@MPSTechDir Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-22 10:00] #9162 closed

[2022-04-22 12:43] JB-1 commented on #8905
Can we get a success code back when the commadlet assigns a number.  Something like this:
Code: Success
Message: Telephone Number 'xxxxxxxxxxx' has been assigned to user UserName@domain.ext
Also, any luck on getting that list of error codes?

[2022-04-22 13:11] yogkumgit commented on #9081
@dariomws Gentle reminder

[2022-04-22 13:15] yogkumgit commented on #9188
@get-itips

[2022-04-22 13:16] DimaRazb commented on #8905
Hello @JensTrier,
It should work from the first time, what if I'm doing scripting and assigning the numbers in a bulk? The previous commandlet we used didn't have such a thing and was **reliable**.

[2022-04-22 13:20] get-itips commented on #9188
Also voted. Thanks

@yogkumgit as this is not a documentation issue (on markdown files) we can close it.

[2022-04-22 16:08] mevaibhav83 opened #9331 "Get-DlpDetailReport Not Returning correct value of 'SensitiveInformationCount'"
Powershell command Get-DlpDetailReport generating incorrect count at “SensitiveInformationCount”, SensitiveInformationCount from powershell does not match with count display at ‘Activity Explorer’.

Issue has observed with almost all sensitivity type especially when there is high count of match but pattern is not clear.

$filedate = (Get-Date -Format "ddMMyyyy")
Get-DlpDetailReport -StartDate 04/1

[2022-04-23 08:33] #9188 closed

[2022-04-23 10:08] poshdude opened #9335 "TPM 4.x.x - Get-CsOnlineUser does not return any results when using Filter and OnlineVoiceRoutingPolicy"
Hi,

The documentation [https://docs.microsoft.com/en-us/powershell/module/skype/get-csonlineuser?view=skype-ps](url) lists OnlineVoiceRoutingPolicy as an attribute which supports Filter.  I am not seeing this to be the case.

Running the commands below does not return any results.
[code]

This seems to work, although its of limited usefulness

[code]

Thanks.

[2022-04-23 12:13] isrumnon commented on #9335
Hi @poshdude there has been some slight modifications to Filtering based on Policy attributes:

PolicyProperty comparison works only when "Authority" is provided in the value.
For ex: -Filter "TeamsMessagingPolicy -eq '<Authority>:<Value>'" "Authority" can contain any of these two values: Host or Tenant for a policy type (configurations that are provided by default are referred to as Host configur

[2022-04-23 14:20] poshdude commented on #9335
Hi @isrumnon Isaiah,  thanks for the response , good to and this does work for me.  I guess the documentation is a little out of date?

BR

[2022-04-23 14:20] #9335 closed

[2022-04-25 06:27] JensTrier commented on #8905
@JB-1 Success is implicit in the sense that no error message is returned. We are not planning to change that. However we are planning to generate an exception, when an error occurs. Please stay tuned.

@DimaRazb I understand the issue now. I looked at our telemetry and you are hitting a known issue that we are in the process of fixing. In your tenant you have a hybrid/on-premises phone number with

[2022-04-25 12:12] vlethiec opened #9338 "How to know, in PowerShell, whether an OnlineSipDomain value can be associated to an OnlineVoiceRoute"
Hi,

The documentation regarding the "OnlinePstnGatewayList" attribute should contain more information regarding the accepted values.
Two types of values are accepted: OnlinePSTNGateway and OnlineSipDomain.

All the "OnlinePSTNGateway" values are authorized, but it is not the case for "OnlineSipDomain" values.
Can you add some information to help us to identify accepted "OnlineSipDomain" values.

[2022-04-25 13:45] mevaibhav83 commented on #9331
Below is my finding from investigation:

'SensitiveInformationCount' from Get-DlpDetailReport is not unique match count vs. count from 'activity explorer' is unique match count so Get-DlpDetailReport need fixing to return unique match count (same as 'activity explorer' report) to align with 'activity explorer' report.

[2022-04-25 15:48] TheSecAtlas opened #9339 "Can you make -StatusMailRecipients available?"
Good morning,

I am trying to get some sort of email feedback for the Powershell Content Search modules. Whether its from the content search creation or the purge section. `-StatusMailRecipients` looks like it would work for my use case.

If this can not be done, can you point me in the direction of a way to receive notifications from the content search from powershell module?

[2022-04-25 17:55] #9160 closed

[2022-04-26 08:19] tushdeore opened #9346 "Teams Module - Get-Cs* commands throws instead of silently returning $null (prior to 2.6.0) when the queried resource doesn't exist"
Get-Cs* command is broken with the recent Teams module (4.0.0, 4.1.0).
The Get-Cs* commands throw an exception instead of silently returning $null (prior to 2.6.0) when the queried resource doesn't exist, and we were relying on this to check whether to create the resource or not.
So, we handled it differently now with Teams module 4.0.0, where we are checking a particular text in the error message

[2022-04-26 08:55] Petri-X opened #9347 "Is [Set/Remove]-CsPhoneNumberAssignment CMDLets really for hybrid setups? (PS mod 4.2)"
Hi,
Just tested the new number assignment on Teams PS module 4.2:
`PS C:\> remove-CsPhoneNumberAssignment -Identity jane.doe@company.com -PhoneNumber +3581234567
 -PhoneNumberType DirectRouting`

But I'm getting output from that:
[code]

This outcome support the documentations as well:
[Microsoft Docs: Set-CsPhoneNumberAssignment](https://docs.microsoft.com/en-us/powershell/module/teams/set-csphon

[2022-04-26 11:38] JensTrier commented on #9347
@Petri-X Thanks for the feedback. I can see you raised this feedback via the admin portal also. I'll reply there.

[2022-04-26 11:43] Petri-X commented on #9347
I see, I cannot hide?? :D
LOL

[2022-04-26 11:52] JensTrier commented on #9347
No :-)

[2022-04-26 12:58] #9175 closed

[2022-04-27 06:42] JensTrier commented on #9347
We connected offline. Feel free to close this issue.

[2022-04-27 07:02] poshdude opened #9353 "TPM 4.2.0 still delivering legacy values for some Tenants"
Hi,

For some of the tenants I manage, Get-CsOnlineUser command in TPM 4.2.0 is still delivering legacy value for some properties.

[code]

Please advise as I have uplifted scripts to now expect the ObjectId value in Identity.

Thanks.

[2022-04-27 07:59] pbafna03 commented on #9353
Hi @poshdude,

Can you please raise a support request with the tenant information (Tenant id etc.) This could be if the tenant is or have been enabled for Regionally Hosted Meetings for Skype for Business Online.

Thanks,

[2022-04-27 08:12] tushdeore commented on #9346
Hi @pbafna03,
I tried version 4.2.0, getting the exception if the policy does not exist, earlier it was returning $null silently.

`PS C:\Users\Administrator> $recordingPolicy = Get-CsTeamsComplianceRecordingPolicy -Identity "DummyPolicyName"`
`Get-CsTeamsComplianceRecordingPolicy : "DummyPolicyName" not found`
`At line:1 char:1`
`$recordingPolicy = Get-CsTeamsComplianceRecordingPolicy -Identity "

[2022-04-27 08:22] pbafna03 commented on #9346
@tushdeore - Something like Get-CsTeamsComplianceRecordingPolicy -Filter "DummyPolicyName" can be used to check existence.

[2022-04-27 08:25] tushdeore commented on #9346
@pbafna03 Yes it worked, this is exactly what I was looking for.
Thank you so much :)

[2022-04-27 08:28] poshdude commented on #9353
Hi,

Thanks for the response.  Is that something that should not be switched on any more?  What is it that I need to be asking for when I raise the support request?

Thanks,

[2022-04-27 08:56] Petri-X commented on #9347
Big thanks @JensTrier !

If others gets lost, on hybrid setup you should control EnterpriseVoiceEnabled $True/$False only on Teams PS module for PSTN. Rest of the work use still Skype's own PS module on-premises.

[2022-04-27 08:56] #9347 closed

[2022-04-27 11:39] JAmler opened #9355 "Most Parameters aren't working anymore"
Hello,
the cmdlet worked normaly before, but now it says most paramters can't be found.

For example these are not working:
    -EnableMailboxIntelligence $true `
    -EnableMailboxIntelligenceProtection $true
    -EnableOrganizationDomainsProtection $true
    -EnableSimilarDomainsSafetyTips $true
    -EnableSimilarUsersSafetyTips $true
    -EnableSpoofIntelligence $true

One example failure for E

[2022-04-27 11:46] Edgar81 opened #9356 "Get-CsOnlineUser: LastName not available"
Based on the docs, the LastName field is available in Teams PowerShell Module 4.2.0 and later. However, when I run the code below, the output doesn't contain the LastName field.

Import-Module MicrosoftTeams -RequiredVersion 4.2.0;

Connect-MicrosoftTeams;

try
{
   Get-CsOnlineUser -Identity upn_goes_here;
}
finally
{
   Disconnect-MicrosoftTeams;
}

[2022-04-27 12:50] pbafna03 commented on #9353
@poshdude - you can raise the support request with the above issue described & the tenant information. Team would be able to suggest next steps based on the tenant details.

[2022-04-27 15:40] yogkumgit commented on #9346
@tushdeore If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-27 15:40] #9346 closed

[2022-04-27 15:42] yogkumgit commented on #9353
@poshdude Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation wi

[2022-04-27 15:42] #9353 closed

[2022-04-27 16:41] chrisda commented on #9355
@JAmler, are you using v2.0.6-Preview3 or later of the EXO V2 module?

If so, be sure to use the -UseRPSSession switch in your Connect-ExchangeOnline command. If you don't, then you're only getting the REST-API backed cmdlets/parameters that are currently available. For more information see: [Updates for version 2.0.6](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#up