[2020-05-27 15:50] jrandRTCC opened #5706 "Disconnect-ExchangeOnline always prompts for confirmation"
The command Disconnect-ExchangeOnline will always prompt for confirmation. The -confirm switch appears to do nothing. This is an issue for scripting.

[2020-05-27 16:50] DEberhardt opened #5709 "AgentAlertTime diverges between NEW and SET commands"
Buenas dias!

https://docs.microsoft.com/en-us/powershell/module/skype/new-cscallqueue?view=skype-ps
states 30-180s for the AgentAlertTime parameter

https://docs.microsoft.com/en-us/powershell/module/skype/set-cscallqueue?view=skype-ps
states 15-180s for the same

I know 15s is a valid setting, as I can see it on live CallQueues, so I am going to assume that New-CsCallQueue requries an update.
Co

[2020-05-27 17:07] Markus-Hanisch opened #5710 "Add parameter DefaultLinkToExistingAccess"
The PowerShell cmdlet [Set-SPOSite](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/set-pnptenant?view=sharepoint-ps) offers to set the default Sharing link to "Existing Access" by means of the `DefaultLinkToExistingAccess` switch, e.g.
[code]

Is there any chance that is parameter will be added on Tenant level as well?
For example in the [Set-PnPTenant](https://docs.microsoft.co

[2020-05-27 17:20] DEberhardt opened #5711 "Parameters missing?"
Hello,

Get-Help Set-CsCallQueue reveals a few more parameters which are not listed:

- EnableOverflowSharedVoicemailTranscription
- EnableTimeoutSharedVoicemailTranscription
- LanguageId
- LineUri
- OverflowSharedVoicemailAudioFilePrompt
- OverflowSharedVoicemailTextToSpeechPrompt
- TimeoutSharedVoicemailAudioFilePrompt
- TimeoutSharedVoicemailTextToSpeechPrompt

New features to be released soon?

[2020-05-27 17:28] evlo opened #5712 "Publish item/file without approval"
Set-PnPFileCheckedIn can't produce major version if library does not have content approval, just drafts, it does not work for items.

Would be nice to have option to use pnp to publish items

[2020-05-27 18:56] moditpro365 opened #5714 "Not supported by PST Import team"
This should be noted that it is not supported by the PST Upload team to do PST imports into Exchange Online and should instead use the documented method [here](https://docs.microsoft.com/en-us/microsoft-365/compliance/use-network-upload-to-import-pst-files?view=o365-worldwide).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-05-27 19:40] Air-Git commented on #5655
Excellent, thanks. That's the solution. The default values are now clear.

[2020-05-28 01:06] hwkwicre opened #5717 "Incomplete"
-AsJob
{{Fill AsJob Description}}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41a216e9-0cb7-476d-8e0a-cce28974dd7b
* Version Independent ID: 2dcb78d9-7f36-208e-0989-184905d73011
* Content: [Get-CsOnlineUser (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/get-csonlineuser?view=skype-ps)
* Content So

[2020-05-28 03:48] anwarmahmood1 opened #5718 "is 'limited to three open remote PowerShell connections' per tenancy, or per user?"
Is each user permitted up to three open remote PowerShell connections, or is it three per tenancy, no matter how different users authenticate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34fa66b0d268
* Content: [Connect to Exchang

[2020-05-28 05:49] Air-Git opened #5719 "Clarification on Alias and PrimarySmtpAddress"
In the document it says "When you create an Office 365 Group without using the EmailAddresses parameter, the Alias value _you specify_ (my italics) is used to generate the primary email address". But in the next paragraph it says that, if you don't specify an alias, then one is created. In that case, is the primary smtp address generated, or not?
If you swapped the two paragraphs around, would it

[2020-05-28 06:48] hwkwicre opened #5720 "A few questions"
1."This Feature is part of the Admin Center Preview."
I wonder if it's better to put a link to introduce what Admin Center Preview is?
2.-Reserved
PARAMVALUE: String
Should there be some more descriptions?
3."Simulation of what would happened if you run the script without modifying anything."
Should be " what would happen"?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-05-28 08:17] Forket opened #5721 "Permissions needed to use CmdLet"
It would be nice to mention which permission needed to use this function.
As from practice, I can connect to site using Azure App having Sites.Read.All permission but getting "Access denied" error when sending email

![image](https://user-images.githubusercontent.com/6735288/83116649-5b138580-a0cc-11ea-872a-c15ec4d7ae90.png)

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-05-28 10:36] JFPHC opened #5724 "Unable to Filter AddressBookPolicy on Get-Mailbox or Get-EXOMailbox"
Unable to use the -filter to filter by AddressBookPolicy on either the Get-Mailbox or Get-EXOMailbox command, I can get all then filter with a Where-Object but this makes the script take considerably longer

[2020-05-28 10:39] yogkumgit commented on #5705
@officedocsbot assign @yogkumgit

[2020-05-28 10:39] yogkumgit commented on #5706
@officedocsbot assign @yogkumgit

[2020-05-28 10:40] yogkumgit commented on #5709
@officedocsbot assign @yogkumgit

[2020-05-28 10:40] yogkumgit commented on #5710
@officedocsbot assign @yogkumgit

[2020-05-28 10:40] yogkumgit commented on #5711
@officedocsbot assign @yogkumgit

[2020-05-28 10:40] yogkumgit commented on #5712
@officedocsbot assign @yogkumgit

[2020-05-28 10:41] yogkumgit commented on #5714
@officedocsbot assign @yogkumgit

[2020-05-28 10:41] yogkumgit commented on #5717
@officedocsbot assign @yogkumgit

[2020-05-28 10:41] yogkumgit commented on #5718
@officedocsbot assign @yogkumgit

[2020-05-28 10:41] yogkumgit commented on #5719
@officedocsbot assign @yogkumgit

[2020-05-28 10:42] yogkumgit commented on #5720
@officedocsbot assign @yogkumgit

[2020-05-28 10:42] yogkumgit commented on #5721
@officedocsbot assign @yogkumgit

[2020-05-28 10:42] yogkumgit commented on #5724
@officedocsbot assign @yogkumgit

[2020-05-28 10:46] #5655 closed

[2020-05-28 15:53] terrogin opened #5725 "Default StartDate?"
[Enter feedback here]

The article doesn't mention how far back this cmdlet looks by default, or that the startdate cannot be older than 30 days from the current date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 143f2a00-fe2c-cbdb-0378-6da3bddcd04a
* Version Independent ID: adbde313-92e0-aef0-ab45-3d68078db792
* Con

[2020-05-28 16:08] chrisda commented on #5718
Per user. It's definitely not 3 connections for the whole organization.

[2020-05-28 16:45] chrisda commented on #5719
@Air-Git, yeah there's a lot going on in there. Both of your numbered statements are true. And now that I look at it, it's actually more clear if you reverse the order (and remove the "you specify" text):

- If you don't use the Alias parameter when you create an Office 365 Group, the value of the DisplayName parameter is used for the Alias value. Spaces are removed, unsupported characters are con

[2020-05-28 17:04] waceylanier commented on #5678
@chrisda what if you delete the "Office365 AntiPhish Default"? (E5-Dev)

![image](https://user-images.githubusercontent.com/19218185/83170414-1b539a80-a0da-11ea-8873-a81005aa477e.png)

![image](https://user-images.githubusercontent.com/19218185/83170382-0e36ab80-a0da-11ea-8ee2-0079e4fd9eea.png)

[2020-05-28 17:32] Air-Git opened #5727 "Inaccuracy in Alias"
In the document it says "When you create an Office 365 Group without using the EmailAddresses parameter, the Alias value you specify is used to generate the primary email address". But in the next paragraph it says that, if you don't specify an alias, then one is created. In that case, is the primary smtp address generated, or not?
If you swapped the two paragraphs around, would it be correct to s

[2020-05-28 17:33] chrisda commented on #5678
@waceylanier, in most cases, you can't delete the default policy (any type of policy). Whether or not the policy is actually the default policy is displayed by the IsDefault property on the policy. You can turn a custom policy into the default policy by using the MakeDefault switch on the Set- cmdlet, which then decouples the corresponding rule from the policy so the policy applies to everyone. Th

[2020-05-28 17:36] Air-Git opened #5728 "Alias values not respected by GUI"
I don't know the right place to record this, but the special characters allowed in an Alias are not allowed if you create a group in one of the Office 365 portals. These only allow underscore, dash, period and single quote.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82e8ec16-da68-43b4-0cc0-32a450245747
* Version In

[2020-05-28 17:38] chrisda commented on #5727
@Air-Git, this appears to be the exact same question about the same cmdlet in #5719, which I answered and fixed, so I'm closing this one.

[2020-05-28 17:40] Air-Git commented on #5727
Sorry about that. In my Github, the issue showed as not submitted.

[2020-05-28 17:42] chrisda commented on #5728
@Air-Git, the important question is: if you create the O365 group in PowerShell using a character that's not available in the portal, what happens? Does the O365 become unmanageable in the portal? If so, that's definitely worth calling out in the cmdlet reference topic.

[2020-05-28 17:43] #5727 closed

[2020-05-28 18:06] waceylanier commented on #5678
@chrisda it is not that I would want to, but since it is possible I am trying to understand what happens when it is removed when there are no custom policies defined.

I would **assume** that if there are custom policies (regardless of user\domain scope), that $customPolicy's configured protections \ actions would still work.

Context: I break things to better understand them - from the PoV of an

[2020-05-28 18:08] #5678 closed

[2020-05-28 18:37] dariomws commented on #5697
Hi @Air-Git, thank you for your feedback and help us to improve docs.microsoft.com.

The default value of each parameter in this article was updated this week. Please, check it and let me know if there is something else missing.

Thank you again!

[2020-05-28 18:40] dariomws commented on #5702
Hi @DEberhardt, thank you for your feedback and help us to improve docs.microsoft.com.

@tomkau could you kindly help here to provide more information about this parameter? Thanks!

[2020-05-28 18:46] dariomws commented on #5703
Hello @schittli, thank you for your feedback and help us to improve docs.microsoft.com.

For feature requests, I need to kindly redirect you to this resource https://microsoftteams.uservoice.com/. There, your suggestion will reach the product team.

[2020-05-28 18:52] dariomws commented on #5705
Hi @BohrenAn, thank you for your feedback and help us to improve docs.microsoft.com.

A similar issue was opened some time ago. Please, check it for more information:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/4780

[2020-05-28 19:45] schittli commented on #5703
Thank you very much, @dariomws for your answer,
but as we all know, 'uservoice' just has a nice name - in reality, it only serves to shut customers up: "Write it down and start to hope", is the message. The last time I had checked the statistics, only 1-2% of all items were reviewed at all. This is a shame for M$$!

So, please, if you (Microsoft) has no inner motivation to correct obvious bugs, th

[2020-05-28 20:37] dariomws commented on #5703
Hi @schittli,

If the item in uservoice get enough votes, it will be probably reviewed. If the item has only one vote it won´t be probably reviewed. There are thousands of items in uservoice with one vote, and a small number are popular and have hundreds or thousands of votes, that's why you see that only a few of them are reviewed.
A very good example:
https://microsoftteams.uservoice.com/forums/

[2020-05-28 20:39] dariomws commented on #5706
Hi @jrandRTCC, thank you for your feedback and help us to improve docs.microsoft.com.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

When you report an issue, be sure to

[2020-05-28 20:56] dariomws commented on #5709
Hola David, muchas gracias por tu comentario y por ayudarnos a mejorar docs.microsoft.com.

Hi David, thank you for your feedback and help us to improve docs.microsoft.com.

You´re right, 15 seconds is the start value, I´m updating the New-CsCallQueue article. Sorry, but I don´t have any information about if it will be updated to 10 seconds.

[2020-05-28 21:47] schittli commented on #5703
Hello @dariomws

Do you really want this discussion? It's very easy to prove that I'm right.

But yes, you're right: there are actually a few very few (compared to all issues) good examples.
But there are many examples which are ignored even if there are many UserVoices.

Btw: Your 'great' example was ignored for about 3 years. Doesn't M$$ has Product Owners who understand that the requested featu

[2020-05-28 22:42] get-itips commented on #5609
Thanks for reporting @hwkwicre

[2020-05-28 22:43] dariomws commented on #5703
My apologies, you are totally right. I sent this information to the product group. This resource is specifically to improve docs.microsoft.com, it's all I can do.

Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-29 02:35] hwkwicre opened #5735 "Incomplete"
{{Fill in the Synopsis}}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3fcee46-c430-0e9d-25a5-5020313a5e98
* Version Independent ID: 315379f1-45a4-b0fe-f40d-abeb927df059
* Content: [Remove-SPAccessServicesDatabaseServer (sharepoint-server)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/remove-s

[2020-05-29 03:29] BohrenAn commented on #5705
Hi @dariomws

Thank's for mentioning the  #4780 Issue.
I updated the topic to say that the cmdlet only works on room mailboxes created in the cloud (not synchronized room mailboxes).

That is not true. Since you can use the Set-Place commandlet also on syncronized Accounts. Except for a frew Parameters. That is why i opened up this Issue

[2020-05-29 04:45] pkothare opened #5736 "Incorrect example in Remove-ComplianceTag"
Example 1 for [`Remove-ComplianceTag`](https://docs.microsoft.com/en-us/powershell/module/exchange/remove-compliancetag?view=exchange-ps) has the incorrect command reference:

[code]
It should be:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b35332a-710e-625a-16b1-630918916181
* Version Independent ID: d15fb0

[2020-05-29 08:22] matzhoog opened #5738 "Last example - wrong parameter"
The last example has parameter "-RowFilter", but I think it should be "-RowLimit" instead.

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till GitHub-problem.*

* ID: e8b96547-c659-bdf3-a6b6-69a2c94689fc
* Version Independent ID: b9aa6d28-19b9-ab4e-1b45-2f1f9629a2c8
* Content: [Get-PnPSearchCrawlLog (sharepoint-pnp)](https://docs.micr

[2020-05-29 10:17] yogkumgit commented on #5725
@officedocsbot assign @yogkumgit

[2020-05-29 10:18] yogkumgit commented on #5728
@officedocsbot assign @yogkumgit

[2020-05-29 10:18] yogkumgit commented on #5735
@officedocsbot assign @yogkumgit

[2020-05-29 10:18] yogkumgit commented on #5736
@officedocsbot assign @yogkumgit

[2020-05-29 10:19] yogkumgit commented on #5738
@officedocsbot assign @yogkumgit

[2020-05-29 10:35] yogkumgit commented on #5719
@chrisda  Thank you very much for updating the documentation with PR. @Air-Git
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-29 10:35] #5719 closed

[2020-05-29 10:37] yogkumgit commented on #5697
@dariomws  Thank you very much for the contribution and sharing this explanation. @Air-Git
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-29 10:37] #5697 closed

[2020-05-29 10:50] yogkumgit commented on #5706
@dariomws  Thank you very much for the contribution and sharing this explanation. @jrandRTCC
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-29 10:50] #5706 closed

[2020-05-29 12:29] VishnuMohan259 opened #5739 "Site Name is not renaming"
Hi ,
I tried to rename Modern sharepoint site with o365 groups

Start-SPOSiteRename -Identity https://{tenant}/sites/ABCD -NewSiteUrl https://{tenant}/sites/ABCDRenamed  -NewSiteTitle  ABCDRenamed

It renamed my url successfully but the office group related to the site not renaming. I tried to rename manually from admin center which is working perfectly. I'm using sharepoint online management shel

[2020-05-29 14:23] DEberhardt commented on #5709
Hola y gracias! I am learning still :)
No worries about the roadmap, if someone has it though, or even already considered it I'd be happy to know, but not a main criteria at the moment.
More important is that there is consistency now :)

[2020-05-29 14:27] get-itips commented on #5666
Thanks for noticing and reporting @desmondkung

[2020-05-29 15:06] desmondkung commented on #5666
You're welcome!

[2020-05-29 15:07] dariomws commented on #5705
Hi @BohrenAn,

Thank you again for your feedback. "Note that this cmdlet works only on room mailboxes that were created in the cloud (not on synchronized room mailboxes)." was added to the article because using this cmdlet on synchronized accounts is not fully supported.
If it works with some parameters you can use it but again, it´s not fully supported.

[2020-05-29 15:07] ryanwalker726 opened #5742 "Workload Property Inaccurate"
Whenever querying the Workload property, it always lists all workloads (except for Teams), regardless of which workload the retention policy is actually applied.

PS C:\WINDOWS\system32> Get-sccRetentionCompliancePolicy

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90b171a4-fec4-ce7c-6b09-9b1225a6306f
* Versio

[2020-05-29 15:33] get-itips commented on #5660
Thanks for noticing and reporting

[2020-05-29 16:37] TheBigBear opened #5746 "LastUserAction property has been dropped"
[Enter feedback here]
the older Get-MailboxStatistics cmdlet used to support the LastUserActionTime property. the only way to now surface that I am aware of is to use Export-MailboxDiagnosticsLog that is badly documented and I believe it should have been kept as a selectable property in this new EXO cmdlet.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-05-29 16:45] TheBigBear commented on #5746
And the whole consistency across ps cmdlets of related properties LastUserInteractionTime or LastUserActionTime reporting really needs improving. As it is quite inconsistent. And the meaning of the various Last.... terms could really also do with documentation that explains and actually says what they mean and what they do not indicate as well. So that articles like these 3 do not all come to diff

[2020-05-29 17:57] VishnuMohan259 opened #5748 "Sitename not renaming"
Hi ,
I tried to rename Modern sharepoint site with o365 groups

Start-SPOSiteRename -Identity https://{tenant}/sites/ABCD -NewSiteUrl https://{tenant}/sites/ABCDRenamed -NewSiteTitle ABCDRenamed

It renamed my url successfully but the office group related to the site not renaming. I tried to rename manually from admin center which is working perfectly. I'm using sharepoint online management shell

[2020-05-29 17:58] #5748 closed

[2020-05-29 18:01] VishnuMohan259 opened #5749 "Site title not renaming"
Hi ,
I tried to rename Modern sharepoint site with o365 groups

Start-SPOSiteRename -Identity https://{tenant}/sites/ABCD -NewSiteUrl https://{tenant}/sites/ABCDRenamed -NewSiteTitle ABCDRenamed

It renamed my url successfully but the office group related to the site not renaming. I tried to rename manually from admin center which is working perfectly. I'm using sharepoint online management shell

[2020-05-29 18:02] #5739 closed

[2020-05-29 18:04] #5736 closed

[2020-05-29 19:36] dariomws commented on #5714
Hi @moditpro365, thank you for your feedback and help us to improve docs.microsoft.com.

Are you from Microsoft?

@chrisda could you kindly help to confirm this information? I understand that if you upload the PST files to an Azure Storage you can use this cmdlet with -AzureBlobStorageAccountUri and -AzureSharedAccessSignatureToken parameters.

[2020-05-29 19:49] dariomws commented on #5724
Hi @JFPHC, thank you for your feedback and help us to improve docs.microsoft.com.

I tested it in my lab and it´s working:
![image](https://user-images.githubusercontent.com/33589238/83299305-4dddc000-a1cc-11ea-8885-946913d161ac.png)

In the following article:
https://docs.microsoft.com/powershell/exchange/exchange-server/recipient-filters/filter-properties
You can find this information:
"This fil

[2020-05-29 20:14] moditpro365 commented on #5714
I wrote an entire process to migrate enterprise wide PSTs to Online Archive. When I opened a support request to Microsoft about errors or issues I was seeing I was told it wasn’t a supported method for importing PSTs and to use the documented process in the link I provided initially. Considering the time spent developing the process with the use of the PowerShell cmdlet, it seems right it should b

[2020-05-29 20:17] get-itips commented on #5661
Hello @hwkwicre Thanks for your report, the article will be completed it comes out of preview.

[2020-05-29 20:55] dariomws commented on #5714
@moditpro365 thank you so much for all this very detailed information. I´m applying an update to the article, and I´m waiting now for approval.

Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-05-29 21:00] Air-Git opened #5759 "GroupId"
We can create a team from an existing Office 365 ("Unified") group, by specifying the "GroupId".
But what is a "GroupId"? GroupId does not seem to be a property of a Unified Group, at least not when using Get-UnifiedGroup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549c7d86-87b3-5c82-d2b3-a0cc0b4faa11
* Version Ind

[2020-05-29 21:01] moditpro365 commented on #5714
Sounds good!

From: Dario Woitasen <notifications@github.com>
Sent: Friday, May 29, 2020 1:56 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Stephen Morgan <stephen@blackbearlab.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Not supported by PST Import team (#5714)

@moditpro365<https://github.com/moditpro

[2020-05-29 22:01] markdmac opened #5761 "Need a CmdLet to create Contact Groups"
My company just forced us to switch from Skype to Teams.  Skype allowed Distribution Lists in chat, but Teams does not.  We need cmdlets for:
New-ContactGroup
New-ContactGroupMember
Remove-ContactGroup
Remove-ContactGroupMember

This will at least allow us to get the members of a DL and pipe that to be added to a contact group.  There are hundreds of upvotes for this topic in UserVoice.

---
####

[2020-05-30 11:46] Air-Git commented on #5759
GroupId is a property of a team, at least it is the id of the parent group. But it is not a property of a Unified group, which has id, identity, alias, GUID but not GroupId. It seems illogical to create a team from a Unified group by asking for something that is not a property of the group.
It seems to make more sense either to ask for one of the properties of the Unified Group, when creating a te

[2020-05-30 12:09] Air-Git opened #5763 "Create team from group"
The MS-recommended way to create a team is to create a unified group first, then create a team from it. I think this is just because of the sync delay between AAD and Teams Service.
Currently this means we need to authenticate twice when creating the team: once to Exchange Online or Azure AD to find the Id of the group with the display name we intend to use; and once to Teams to create the new tea

[2020-05-30 14:28] patrickabel opened #5764 "Connect-MicrosoftTeams not working in GCC High when using -AadAccessToken"
In the process of building out a SPO Site/Teams provisioning solution for a client, I have stumbled upon a but with the **Connect-MicrosoftTeams** cmdlet and am hoping to get some assistance.

For context, my solution uses an AAD app (running with app-only permissions) to extend SharePoint Site Designs through an Automation Runbook in Azure (running PowerShell). However, the issue reported below w

[2020-05-30 14:31] Backspaze opened #5765 "Clarification regarding WinRM"
According to [this section](https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2?view=exchange-ps#what-do-you-need-to-know-before-you-begin) WinRM needs to be enabled, but according to [this paragraph](https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powersh

[2020-05-31 10:23] Air-Git opened #5766 "Meaning of "Identity""
I am puzzled by the use of "Identity" in Get-UnifiedGroup and Set-UnifiedGroup. The text says: "You can use any value that uniquely identifies the Office 365 Group" and gives examples. "DisplayName" is not among the examples, and is not unique, but it is the obvious property to use, and it works. The examples given in Get-UnifiedGroup use DisplayName as the identity.
The Identity, Id and ExternalD

[2020-06-01 01:11] hwkwicre opened #5767 "Article Incomplete"
Contents such as {{Fill in the Description}} and parameters with descriptions only PARAMVALUE: String

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b368db-141a-a5ac-1823-c0b31dc4cdd1
* Version Independent ID: 54531cfa-2f4b-590e-0b74-4227849d95ae
* Content: [Set-CsOnlineLisCivicAddress (skype)](https://docs.microsoft

[2020-06-01 03:29] hwkwicre opened #5768 "Many links broken"
For some reason there's error when I click on many of the links, such as:
see the online documentation at https://go.microsoft.com/fwlink/p/?LinkId=251832.
For more information, see Locale IDs Assigned by Microsoft (https://go.microsoft.com/fwlink/p/?LinkId=242911).
For more information, see Resource Usage Limits on Sandboxed Solutions in SharePoint (https://msdn.microsoft.com/en-us/library/gg6154

[2020-06-01 06:45] vsetiawan-bittitan opened #5770 "Get-MailTrafficReport StartDate cannot be older than 92 days from today"
As the title says, I'm trying to run Get-MailTrafficReport to retrieve data from more than 92 days ago but I'm getting this error:

The cmdlet page says that you can view details about message traffic in your organization for the last 180 days. In that case, why am I receiving the error above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-06-01 06:58] yogkumgit commented on #5742
@officedocsbot assign @yogkumgit

[2020-06-01 06:58] yogkumgit commented on #5746
@officedocsbot assign @yogkumgit

[2020-06-01 06:58] yogkumgit commented on #5749
@officedocsbot assign @yogkumgit

[2020-06-01 06:59] yogkumgit commented on #5759
@officedocsbot assign @yogkumgit

[2020-06-01 06:59] yogkumgit commented on #5761
@officedocsbot assign @yogkumgit

[2020-06-01 07:00] yogkumgit commented on #5763
@officedocsbot assign @yogkumgit

[2020-06-01 07:00] yogkumgit commented on #5764
@officedocsbot assign @yogkumgit

[2020-06-01 07:00] yogkumgit commented on #5765
@officedocsbot assign @yogkumgit

[2020-06-01 07:01] yogkumgit commented on #5766
@officedocsbot assign @yogkumgit

[2020-06-01 07:01] yogkumgit commented on #5767
@officedocsbot assign @yogkumgit

[2020-06-01 07:02] yogkumgit commented on #5768
@officedocsbot assign @yogkumgit

[2020-06-01 07:02] yogkumgit commented on #5770
@officedocsbot assign @yogkumgit

[2020-06-01 07:40] yogkumgit commented on #5705
@dariomws  Thank you very much for the contribution and sharing this explanation. @BohrenAn
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-01 07:45] BohrenAn commented on #5705
Could you then please clarify what is supported and what is not. As far as i can see, today only a few Attributes are not writeable, because they are synced from On-Prem.

Also i would like to know more about my second Question

What parameter has to go in here. An Example would be very helpful.
[-CountryOrRegion ]

Thank's and Regards
Andres

[2020-06-01 07:49] yogkumgit commented on #5714
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @moditpro365 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-01 07:49] #5714 closed

[2020-06-01 08:10] yogkumgit commented on #5724
@dariomws Thank you very much for the contribution and sharing this explanation. @JFPHC
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-01 08:10] #5724 closed

[2020-06-01 08:14] yogkumgit commented on #5661
@get-itips  Thank you very much for the contribution and sharing this explanation. @hwkwicre
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-01 08:14] #5661 closed

[2020-06-01 13:20] dariomws commented on #5705
Hi Andres,

Not sure about your question, I think it´s related to the possible values you can use on this parameter. You can find them searching for "ISO 3166-1 two-letter country code".

Also, I changed the word "works" by "is supported", and added one example including -CountryOrRegion. Hope it´s what you need.

Thanks again, for taking out some time to open the issue. Appreciate and encourage y

[2020-06-01 15:21] bzyg7b opened #5773 "Direct routing call ID"
Direct routing call ID is apparently possible according to this [UserVoice ](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/35022145-allow-service-numbers-from-a-sip-trunk-via-teams-d)post but assigning it with `New-CsCallingLineIdentity -Identity "UKOrgAA" -CallingIdSubstitute "Service" -ServiceNumber "<direct routing number>" -EnableUserOverride $false -Verbose` fails, is

[2020-06-01 15:22] BohrenAn commented on #5705
Hi Dario,

I am not very happy to just change the wording :)
1) If it is not supported - then somehow the new Roomfinder Feature in Outlook on the Web seems to be incomplete. Only supporting CloudOnly Szenarios would limit its use dramatically. As i see in my daily life, that most of the Enterprises uses AAD Connect to syncronize theyr Active Directory.

2) If it is only partly supportet - or only

[2020-06-01 15:46] yogkumgit commented on #5773
@officedocsbot assign @yogkumgit

[2020-06-01 17:00] get-itips commented on #5721
Hello @Forket
How are you?
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/) a member of the PnP community will handle your request there.
Thank you!

[2020-06-01 17:01] get-itips commented on #5712
Hello @evlo
How are you ?

I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/) a member of the PnP community will handle your request there.
Thank you!

[2020-06-01 17:02] get-itips commented on #5675
Hello @dh4099
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/) a member of the PnP community will handle your request there.
Thank you!

[2020-06-01 17:02] get-itips commented on #5657
Hello @bobchauvin
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/) a member of the PnP community will handle your request there.
Thank you!

[2020-06-01 17:03] get-itips commented on #5653
Hello @bobchauvin
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/) a member of the PnP community will handle your request there.
Thank you!

[2020-06-01 17:33] get-itips commented on #5648
Hello @hwkwicre thanks for reporting

[2020-06-01 17:39] get-itips commented on #5663
Thanks for reporting @hwkwicre

[2020-06-01 17:51] get-itips commented on #5710
Hello @Markus-Hanisch
Markus, how are you?
Sorry if I misunderstood your message, if I do, please let me know, however I think that your inquiries will be better suited for [SharePoint UserVoice](https://sharepoint.uservoice.com/). As here we are limited  to documentation fixes.

[2020-06-01 18:49] dariomws commented on #5742
Hi @ryanwalker726, thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share

[2020-06-01 19:05] dariomws commented on #5746
Hi @TheBigBear, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

When you report an issue, be sure to include the log files in your email mess

[2020-06-01 19:29] dariomws commented on #5766
Hi @Air-Git, thank you for your feedback and help us to improve docs.microsoft.com.

I have to recommend that you use the values listed in the article, but you can use Display Name and it will produce the same output for Get-UnifiedGroup -Identity <"displayname"> and Get-UnifiedGroup | Where-Object DisplayName -eq <"displayname">.

[2020-06-01 20:05] Markus-Hanisch commented on #5710
@get-itips
Well, maybe you are right. Can you tell me where I can find the Code for the existing Cmdlet `Set-SPOSite` cmdlet.
Maybe I can figure out how to adjust the PnPSite cmdlet accordingly to provide the same parameter(?)

[2020-06-01 20:16] dariomws commented on #5705
Hi @BohrenAn, the article was updated based on new information from the product group. You will see it live in some hours.

Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-01 20:23] get-itips commented on #5710
@Markus-Hanisch
Markus, thanks for getting back.
SharePoint Online cmdlets are not open-sourced (Set-SPOSite),  so you have the option to suggest changes and additions using a resource like user voice, however SharePoint PnP cmdlets are open sourced and they are community-driven. I recommend visiting [this resource](https://github.com/pnp/PnP-PowerShell) and also you can find the code for Set-PnPS

[2020-06-01 20:52] Air-Git commented on #5766
The problem is: if I search on a unique Id, I expect to get back one object. If I search on a non-unique Id, I expect to get back an array of objects, even if the array contains only one.
So, if I then want a property of the object e.g $group.ExternalDirectoryObjectId, I will get it from the unique object, but I won't get it from the array of one object.
Identity is supposed to be unique, and so s

[2020-06-01 21:03] ryanwalker726 commented on #5742
Thank you, Dario...  I have opened a ticket in my tenant and can also
reproduce in a trial tenant that I created.  Our case rep. indicated that
the property is working as designed and suggested that I submit a change
request for the documentation to be updated (hence this thread).

Either the property is broken or the documentation is wrong, but contacting
support for both has pointed me to the ot

[2020-06-01 23:39] fahrulmustari6 opened #5784 "Update contributing.md"
Follow

[2020-06-02 01:46] hwkwicre opened #5791 "Broken link"
https://go.microsoft.com/fwlink/?LinkID=187810

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c22ac3-8dae-8a10-39b0-afd87d765b00
* Version Independent ID: 3e5ead12-b087-95d5-74b8-cabd2d357910
* Content: [New-SPAuthenticationProvider (sharepoint-server)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-se

[2020-06-02 05:55] vsetiawan-bittitan commented on #5770
So is it confirmed that the issue is with the documentation?

[2020-06-02 09:57] yogkumgit commented on #5784
@officedocsbot assign @yogkumgit

[2020-06-02 09:58] yogkumgit commented on #5791
@officedocsbot assign @yogkumgit

[2020-06-02 10:03] yogkumgit commented on #5784
@fahrulmustari6 Please describe what to update. Thanks.

[2020-06-02 10:09] #5705 closed

[2020-06-02 10:14] yogkumgit commented on #5721
@get-itips  Thank you very much for the contribution and sharing this explanation. @Forket
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:14] #5721 closed

[2020-06-02 10:17] yogkumgit commented on #5712
@get-itips  Thank you very much for the contribution and sharing this explanation. @evlo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:17] #5712 closed

[2020-06-02 10:19] yogkumgit commented on #5675
@get-itips  Thank you very much for the contribution and sharing this explanation. @dh4099
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:19] #5675 closed

[2020-06-02 10:22] yogkumgit commented on #5657
@get-itips  Thank you very much for the contribution and sharing this explanation. @bobchauvin
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:22] #5657 closed

[2020-06-02 10:24] yogkumgit commented on #5653
@get-itips  Thank you very much for the contribution and sharing this explanation. @bobchauvin
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:24] #5653 closed

[2020-06-02 10:26] yogkumgit commented on #5648
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:27] #5648 closed

[2020-06-02 10:31] yogkumgit commented on #5710
@get-itips  Thank you very much for the contribution and sharing this explanation. @Markus-Hanisch Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:31] #5710 closed

[2020-06-02 10:35] yogkumgit commented on #5746
@dariomws  Thank you very much for the contribution and sharing this explanation. @TheBigBear
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:35] #5746 closed

[2020-06-02 10:40] yogkumgit commented on #5770
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @vsetiawan-bittitan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:40] #5770 closed

[2020-06-02 10:42] yogkumgit commented on #5765
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @Backspaze Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:43] #5765 closed

[2020-06-02 10:45] yogkumgit commented on #5725
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @terrogin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:45] #5725 closed

[2020-06-02 10:49] yogkumgit commented on #5718
@chrisda  Thank you very much for sharing this explanation. @anwarmahmood1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:49] #5718 closed

[2020-06-02 10:56] yogkumgit commented on #5711
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @DEberhardt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:56] #5711 closed

[2020-06-02 10:59] yogkumgit commented on #5709
@dariomws dar Thank you very much for the contribution and updating the documentation with PR. @DEberhardt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 10:59] #5709 closed

[2020-06-02 11:03] yogkumgit commented on #5609
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 11:03] #5609 closed

[2020-06-02 11:06] yogkumgit commented on #5660
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 11:08] yogkumgit commented on #5666
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @desmondkung Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 11:09] #5666 closed

[2020-06-02 11:14] yogkumgit commented on #5701
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 11:14] #5701 closed

[2020-06-02 11:17] yogkumgit commented on #5720
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 11:17] #5720 closed

[2020-06-02 12:43] yogkumgit commented on #5646
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 12:44] #5646 closed

[2020-06-02 12:59] DEberhardt commented on #5773
following, as I am interested in the outcome of this as well :)

[2020-06-02 13:54] get-itips commented on #5628
Hello @hwkwicre
Some days passed since we contacted you asking how we could improve the documentation but no answer from you. We will proceed closing this one, feel free to re-open in case you think it is still necessary and you can tell us how can we improve current descriptions.

[2020-06-02 14:13] LarsAdesso opened #5792 "Private Channel with no Membership"
In the past we have problems with notification in Teams in combination with planner. So a Microsoft support engineer recommend that we remove the person from the team and renew the membership.

Allocations and authorizations were retained and did not have to be made again.

But: The Person had create a private channel an when they come back, the private channel have no menbership. Also the cmd add

[2020-06-02 14:27] stephent122 opened #5793 "Suggestion"
[Enter feedback here]
In the remove-inboxrule cmdlet I would like to see the ability to clean out all rules including hidden rules rather than have to instruct users to use outlook.exe /cleanrules.

Suggestion

remove-inboxrule -mailbox jo@contoso.com -cleanrules

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 619045f2-

[2020-06-02 15:04] mattmckinstry opened #5794 "Connect-EXOPSSession - OAuth or Certificate based authentication"
As part of our product we need to do automated, non-human driven EXO PowerShell remote calls on behalf of our customers.

Can Connect-EXOPSSession be extended to accept OAuth tokens or a Certificate in order to authenticate?

[2020-06-02 15:07] Bart-Hoofd opened #5795 "Does not remove immediately"
This command does not remove the label, instead places it in Mode "PendingRemoval". In my opinion the documentation should properly reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7118491-42f7-17eb-9707-026b3265ccb7
* Version Independent ID: ad50092c-4dda-e377-42df-55188d7ac5aa
* Content: [Remove-Label (e

[2020-06-02 17:33] chrisda commented on #5603
@leifdavisson, same issue and resolution as #5602, so closing.

[2020-06-02 17:33] #5603 closed

[2020-06-02 18:02] get-itips commented on #5735
Thanks for reporting!

[2020-06-02 18:12] get-itips commented on #5767
@kaishuipinggai Jundong, can you kindly enlighten us with the missing descriptions on the referenced article?

- ValidationStatus
- CompanyTaxId
- CityAlias

Thanks

[2020-06-02 18:19] get-itips commented on #5749
Hello @VishnuMohan259 How are you?
The feature is still in preview, as the article says.
And also, AFAIK this cmdlet will not rename the related group, I recommend this resource to add that suggestion https://sharepoint.uservoice.com/

Hope this info helps you.

[2020-06-02 18:43] VishnuMohan259 commented on #5749
Hi,

Thanks for the replay.

 I mean I can rename site URL but can't change site name. Intially it renaming but when I try to refresh the url site name going back to old name.  I tried to check group at that time then found that sitename and group name are related. So my question is simple is it possible to change sitename ? If yes then i'm not able to update with this command. Is there any other

[2020-06-02 19:06] get-itips commented on #5749
Try with https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/set-sposite using the -Title parameter

[2020-06-02 19:07] dariomws commented on #5742
@ryanwalker726, ok I agree. I´m applying an update to the article until the cmdlet is updated and show actual workload in the policy.

Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-02 19:15] get-itips commented on #5688
duplicate of https://github.com/MicrosoftDocs/office-docs-powershell/issues/5609

[2020-06-03 01:14] hwkwicre opened #5801 "Applies to?"
The article says it
Applies to:
SharePoint Server 2013, SharePoint Server 2016
But since it's SPO I thought it applies to SharePoint Online?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ac87fde-0d91-d0cc-6c9e-444917652bec
* Version Independent ID: 10d9bf8c-a1ab-1cfe-c831-127d9d924fd2
* Content: [Remove-SPODataConnec

[2020-06-03 04:20] VishnuMohan259 commented on #5749
Hi ,

Thanks for the quick response. I tried to execute the command but returning error that site collection is group site collection

![Error](https://user-images.githubusercontent.com/53042453/83595453-aec81800-a57f-11ea-9a25-0d5d5d5cfcfe.PNG)

[2020-06-03 10:32] yogkumgit commented on #5793
@officedocsbot assign @yogkumgit

[2020-06-03 10:32] yogkumgit commented on #5794
@officedocsbot assign @yogkumgit

[2020-06-03 10:33] yogkumgit commented on #5795
@officedocsbot assign @yogkumgit

[2020-06-03 10:33] yogkumgit commented on #5801
@officedocsbot assign @yogkumgit

[2020-06-03 10:33] yogkumgit commented on #5792
@officedocsbot assign @yogkumgit

[2020-06-03 10:44] yogkumgit commented on #5742
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @ryanwalker726 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-03 10:49] yogkumgit commented on #5628
@get-itips  Thank you very much for the contribution and digging deep into it.  @hwkwicre We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docume

[2020-06-03 10:49] #5628 closed

[2020-06-03 11:04] #5688 closed

[2020-06-03 11:06] yogkumgit commented on #5662
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-03 11:08] yogkumgit commented on #5664
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-03 11:09] #5664 closed

[2020-06-03 13:14] jreed5 opened #5802 "Missing module installation instructions"
Only as FYI. Overview hyperlink is invalid or inaccessible publicly. The URL it points to is:
https://docs.microsoft.com/en-us/powershell/docs-conceptual/overview?view=whiteboard-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f5227-2b47-3487-99bb-222d18d43552
* Version Independent ID: e7833ab4-d2b1-5840-4f2c-dda8

[2020-06-03 17:20] kaishuipinggai commented on #5767
Sorry for the late response
ValidationStatus - Specifies the carrier partner validation status. in some countries, we validate against partner if the addresses are valid. This should not be exposed to the TA, I don't know why it's showing. We can just mentioned this is for Microsoft internal use only.
CompanyTaxId  - This is used for Calling plans, it is an optional field where Companies/Tenants c

[2020-06-03 21:27] chrisda commented on #1894
@MikeDembek, from what I was able to gather, the `remoteMailbox.RemoteRecipientType must include ProvisionMailbox`  issue was fixed in E16CU14 and E19CU3, but not in Exchange 2013.

If you have a "formerly user mailbox, now shared mailbox" in Exchange Online,  and a directory sync suddenly changes the shared mailbox back into a user mailbox, then the already mentioned Step 3 in [KB2710029](https:/

[2020-06-04 01:12] hwkwicre opened #5812 "Incomplete"
lots of {{Fill Description}}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10fc4c49-c81d-3afc-731a-e978ea007193
* Version Independent ID: d50977e6-1fa2-b2cb-6288-bc4584e6f937
* Content: [Import-SPMetadataWebServicePartitionData (sharepoint-server)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/i

[2020-06-04 06:32] Rupalikothawade opened #5813 "Regarding - remove folder with sub-folders and files"
the documentation does not make it clear, if remove folder will delete folder along with subfolders and files within the folder.
Or if there is any specific parameter to be used to do it recursively.
Or its mandatory to clear the content of the folder prior to this script.

Thanks and regards,
Rupali Kothawade

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-06-04 06:46] Rupalikothawade opened #5814 "Move folders with content"
Documentation is not clearing about if the this command will move all the subfolders and files will be moved or only the content from specific listed will be moved?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e5cdf1f-03a1-32fb-40c0-6c34dc342279
* Version Independent ID: a8bccd70-dec4-2de0-332a-fb2e8a2d7fa0
* Conten

[2020-06-04 10:10] lciprianionut opened #5815 "Get-EXOMailbox"
Hello,

Regarding the PropertySets parameter, please update documentation for below issues.

1) **All** is missing from valid values in the PropertySets parameter for Get-EXOMailbox.
This is working: Get-EXOMailbox -PropertySets All -Id alias

2) Although is stated that "Wildcards ( * ) are supported." for PropertySets parameter, this is not working, only for named properties is working.

PS C:\WI

[2020-06-04 10:24] yogkumgit commented on #5802
@officedocsbot assign @yogkumgit

[2020-06-04 10:25] yogkumgit commented on #5812
@officedocsbot assign @yogkumgit

[2020-06-04 10:25] yogkumgit commented on #5813
@officedocsbot assign @yogkumgit

[2020-06-04 10:25] yogkumgit commented on #5814
@officedocsbot assign @yogkumgit

[2020-06-04 10:26] yogkumgit commented on #5815
@officedocsbot assign @yogkumgit

[2020-06-04 10:34] yogkumgit commented on #5784
@fahrulmustari6 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2020-06-04 10:34] #5784 closed

[2020-06-04 10:59] yogkumgit commented on #5717
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-04 10:59] #5717 closed

[2020-06-04 11:18] yogkumgit commented on #5735
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-04 11:18] #5735 closed

[2020-06-04 11:21] yogkumgit commented on #5767
@kenwith Please merge the PR #5810 Thanks

[2020-06-04 11:33] KelvinTegelaar opened #5817 "new oauth functionality not working"
When following instructions on https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/exchange/docs-conceptual/exchange-online/exchange-online-powershell-v2/app-only-auth-powershell-v2.md and connecting using an existing service principal and client-secret we're getting an error that the password is too long:

New-ExoPSSession : AADSTS50052: The password entered exceeds the maximum le

[2020-06-04 11:48] yogkumgit commented on #5817
@officedocsbot assign @yogkumgit

[2020-06-04 12:01] micamend opened #5818 "Add-PnpListItem threshold error when using -Folder"
Try to upload data with Add-PnPListItem -List $myList -Values $val -Folder $myfolder, which works fine for a few month a throws a threshold error  since a few days. Possible that 5000 limit of folders were reached. Is there a get in  command, that force that error?

[2020-06-04 12:16] get-itips commented on #5749
@VishnuMohan259
How are you ? Forgot about the fact that you were trying to change **the title** for a group connected site collection, right?
I think that, for now, you will have to change the site title thru the admin panel or Settings - Site Information. I found the suggestion in [uservoice](https://sharepoint.uservoice.com/forums/330318-sharepoint-administration/suggestions/39796861-changing-t

[2020-06-04 12:18] get-itips commented on #5738
Hello @matzhoog
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/) a member of the PnP community will handle your request there.
Thank you!

[2020-06-04 12:47] get-itips commented on #5759
Hello @Air-Git
In my tests, I used the _ExternalDirectoryObjectId_ UnifiedGroup property

![image](https://user-images.githubusercontent.com/36666927/83757728-4f353f80-a647-11ea-9a60-3538fdd3f29d.png)

![image](https://user-images.githubusercontent.com/36666927/83757826-75f37600-a647-11ea-89a1-67efb7f0909f.png)

I can understand that the "GroupId" name can be misleading, for that, I kindly ask you

[2020-06-04 14:16] get-itips commented on #5761
Hello @markdmac ! how are you?
We are limited to documentation changes and fixes here, and exactly as you said, UserVoice is the place to suggest that kind of idea for it to reach the product team. Can you share the suggestion url so I can vote for it? Thanks

[2020-06-04 14:55] ryanwalker726 commented on #5742
Thank you very much, Dario and Yogesh.

I've sent a follow-up to my case rep. to encourage them to forward it to
the product team to be addressed at a technical level, but at least now the
public documentation reflects the actual behavior of the property.

I appreciate your assistance.

Thanks,
Ryan

On Wed, Jun 3, 2020 at 6:44 AM Yogesh Kumar <notifications@github.com>
wrote:

[2020-06-04 15:48] get-itips commented on #5763
Hello @Air-Git

I know the team is constantly trying to improve the PowerShell module, and they listen to suggestions in [Teams UserVoice](https://microsoftteams.uservoice.com/), if you want to suggest that. As here we are limited to documentation changes, said that, can you kindly share the article that states this

Maybe I can check if that is still the recommendation.

Thank you

[2020-06-04 16:01] get-itips commented on #5764
Hello @patrickabel How are you?
Yes, they are in different parameter sets so currently you won't be able to use them at the same time.
I know this information could be useful as feedback for @tameemansari

[2020-06-04 16:51] Katydude opened #5820 "Details needed regarding DateTime values and time zone"
[Enter feedback here]
When submitting values for a list item, the example given for DateTime is a simple string, e.g. "5/15/2020 14:22". What timezone would the server use for 14:22? Is it possible to supply the timezone with the value or will the server always interpret the timezone according to server settings, i.e. the timezone assigned to the site collection?

---
#### Document Details

⚠ *Do

[2020-06-04 17:31] DEberhardt opened #5821 "Pipeline for Get to Set-CsOnlineApplicationInstance not working?"
Hello,

Piping Get-CsOnlineApplicationInstance to Set-CsOnlineApplicationInstance prompts for $Identity.
This should come through though...
Get-CsOnlineApplicationInstance on its own (with the UPN) works
Set-CsOnlineApplicationInstance on its own (with the UPN) works
Piping doesn't.

PS C:\Users\David> Set-CsOnlineApplicationInstance -Identity $UPN8 -DisplayName "My TestAA Account8 - NEW"

Runspac

[2020-06-04 20:13] CTFlorian opened #5825 "Installing PNP from local files"
My work environment is very locked down.  When running PowerShell as a local admin, I don't have internet access.  Therefore, I need to get PNP setup using the MSI downloaded files.
I followed the instructions on the PNP Page:

**Setup files**
You can download setup files from the releases section of the PnP PowerShell repository. These files will up be updated on a monthly basis. Run the install

[2020-06-04 20:23] dariomws commented on #5773
Hi @bzyg7b, thank you for the great feedback.

You can also assign it from the Admin Center:
https://docs.microsoft.com/microsoftteams/caller-id-policies
Please, check if you have the option available as they are rolling out this feature and maybe it´s not yet available in your tenant.

More information about New-CsCallingLineIdentity:
https://docs.microsoft.com/microsoftteams/set-the-caller-id-fo

[2020-06-04 20:46] dariomws commented on #5792
@LarsAdesso Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please follow this issue with support.
We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the sa

[2020-06-04 20:56] dariomws commented on #5793
Hello @stephent122, thanks for your feedback.

For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/.
There, your suggestion will reach the product team.

[2020-06-04 21:07] dariomws commented on #5794
Hi @mattmckinstry, thank you for your feedback.

Certificate-Based Authentication will be added to the Exchange PowerShell Module version 2. For more information, please check:
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623

[2020-06-04 21:13] DEberhardt commented on #5773
I have read the article too and scratched my head what "valid" means.
A Direct Routing number is not accepted by the command, so I guess it isn't valid.

Is there a plan to extend the ServiceNumber to also allow Direct Routing Numbers?

[2020-06-04 21:23] dariomws commented on #5773
You need a cloud phone number, Direct Routing numbers doesn´t work:
https://docs.microsoft.com/microsoftteams/getting-service-phone-numbers

I don´t have information about if it´s in the roadmap, but you can vote this feature and follow it for some update here:
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/38223676-enable-the-ability-to-use-non-service-numbers-with

[2020-06-05 01:20] hwkwicre opened #5827 "link"
For permissions and the most current information about Windows PowerShell for SharePoint Online, see the online documentation at https://go.microsoft.com/fwlink/p/?LinkId=251832 (https://go.microsoft.com/fwlink/p/?LinkId=251832).
The link is repeated and second one doesn't work
This appears in many many articles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-06-05 01:29] hwkwicre opened #5828 "Link broken"
Please read https://docs.microsoft.com/sharepoint/information-barriers documentation to understand Information barriers in SharePoint Online.
The link doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fbda735-74ec-2f4e-9c75-dd133e87320e
* Version Independent ID: 599c8c2e-6e02-f27f-1009-2640296d5d10
* Content

[2020-06-05 05:44] Shadoxity commented on #5458
Why has this been closed without resolution? We still cannot use this module!

[2020-06-05 05:54] Shadoxity opened #5829 "Secure Application model access fails"
You cannot access exchangeonlinev2 via secure application model as a partner.

New-ExoPSSession : Federated service at https://autologon.microsoftazuread-sso.com/inspiredtechs.com.au/winauth/trust/2005/usernamemixed?client-request-id=01443f01-db5e-493e-8cb5-585790b39b79 returned error: Authentication Failure.
At C:\Program Files\WindowsPowerShell\Modules\ExchangeOnlineManagement\1.0.1\ExchangeOnli

[2020-06-05 10:27] yogkumgit commented on #5818
@officedocsbot assign

[2020-06-05 10:27] yogkumgit commented on #5820
@officedocsbot assign

[2020-06-05 10:29] yogkumgit commented on #5818
@officedocsbot assign @yogkumgit

[2020-06-05 10:29] yogkumgit commented on #5820
@officedocsbot assign @yogkumgit

[2020-06-05 10:29] yogkumgit commented on #5821
@officedocsbot assign @yogkumgit

[2020-06-05 10:30] yogkumgit commented on #5825
@officedocsbot assign @yogkumgit

[2020-06-05 10:30] yogkumgit commented on #5827
@officedocsbot assign @yogkumgit

[2020-06-05 10:30] yogkumgit commented on #5828
@officedocsbot assign @yogkumgit

[2020-06-05 10:31] yogkumgit commented on #5829
@officedocsbot assign @yogkumgit

[2020-06-05 10:34] yogkumgit commented on #5749
@get-itips  Thank you very much for the contribution and sharing this explanation. @VishnuMohan259 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-05 10:34] #5749 closed

[2020-06-05 10:38] yogkumgit commented on #5738
@get-itips  Thank you very much for the contribution and sharing this explanation. @matzhoog
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-05 10:38] #5738 closed

[2020-06-05 10:38] bzyg7b commented on #5773
@dariomws thanks for the reply, in that case can user voice
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/35022145-allow-service-numbers-from-a-sip-trunk-via-teams-d
be re-opened as that is what it is asking for and had 380 votes vs the new one with 33
Would I need to speak to the user voice team in order to raise this?

[2020-06-05 10:41] yogkumgit commented on #5759
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Air-Git Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-05 10:43] yogkumgit commented on #5761
@get-itips  Thank you very much for the contribution and sharing this explanation. @markdmac
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-05 10:43] #5761 closed

[2020-06-05 10:45] #5742 closed

[2020-06-05 10:48] yogkumgit commented on #5767
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-05 10:51] #5792 closed

[2020-06-05 10:56] yogkumgit commented on #5793
@stephent122  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-06-05 10:56] #5793 closed

[2020-06-05 11:00] yogkumgit commented on #5794
@dariomws  Thank you very much for the contribution and sharing this explanation. @mattmckinstry Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-05 11:01] #5794 closed

[2020-06-05 11:08] yogkumgit commented on #5768
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-05 11:08] #5768 closed

[2020-06-05 11:55] dariomws commented on #5773
@bzyg7b the user voice case you are talking is related to Call Queues and Auto Attendant, it's not related to Caller ID configuration.
And I don't have permissions to manage user voice cases, I can only apply updates to docs.microsoft.com.

Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-05 12:01] dariomws commented on #5458
Hi @Shadoxity, thanks for your comment.

Docs feedback is available to improve documentation. This issue was closed because there is nothing to update in the referenced article.

Exchange Online PowerShell V2 general availability was announced last Wednesday. They're currently working on Service Principal and Certificate Based Auth support to provide a solution to those wanting non-interactive sce

[2020-06-05 12:25] bzyg7b commented on #5773
@dariomws my bad, I didn't spot that it was only related to call queues and auto attendants.
Thanks for your help, much appreciated.

[2020-06-05 12:25] #5773 closed

[2020-06-05 13:14] get-itips commented on #5791
Hello @hwkwicre thanks for reporting, this was fixed in a recent pr.

[2020-06-05 13:21] get-itips commented on #5801
Hello @hwkwicre
It's SPO because of "ODATA", it is just a coincidence, there is a clarification note on the article.

[2020-06-05 13:28] get-itips commented on #5812
@Techwriter40 Kirk, can you kindly help us with the missing descriptions?

[code]

I appreciate

[2020-06-05 13:38] get-itips commented on #5813
Hello @Rupalikothawade How are you ?
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/) a member of the PnP community will handle your request there.
Thank you!

[2020-06-05 13:39] get-itips commented on #5814
Please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/5813#issuecomment-639485649

[2020-06-05 16:05] dariomws commented on #5795
Hi @Bart-Hoofd, thank you for your feedback and help us to improve docs.microsoft.com.

It could remain in the "PendingRemoval" state for several hours after it's finally deleted. Also, you can try to force deletion with -ForceDeletion parameter. I realized that it´s not in the article, I´m adding it.

[2020-06-05 18:23] mltytskr opened #5833 "Basic Authentication"
While I understand the Exchange PowerShell Module doesn't pass the username and password using basic authentication, company policies, and government security requirements prevent us from enabling WinRM basic authentication. Is there another method to connect to Exchange PowerShell such as the Azure CLI? What other workarounds are available? I did not have this issue with the previous version and

[2020-06-05 22:10] Air-Git commented on #5759
I think all it needs in the documentation is to say that GroupId refers to the ExternalDirectoryObjectId of the parent group.
I think the misunderstanding in the cmdlet arises because GroupId is a property of the team, but obviously the team with that property does not exist before you create it from a unified group, which does NOT have that property.

[2020-06-05 22:21] Air-Git commented on #5763
It's the recommendation in the Graph documentation. [Creating Teams](https://docs.microsoft.com/en-us/graph/teams-create-group-and-team). But I think this is simply a pointer to the fact that groups take time to be available, You need to set properties of the group e.g. to disable welcome notifications, so you need to use Exchange Online anyway, and may as well use it to create the group first.

[2020-06-05 22:58] get-itips commented on #5763
@Air-Git I agree with you, Exchange Online Ps allows you to better customize a group, so probably you will start with it.
If you still want to suggest any idea to the Product Team, remember  you can use the UserVoice I referenced.

[2020-06-05 22:58] get-itips commented on #5759
@Air-Git a clarifying note it's on the way to be published on the live version of the article. Thank you

[2020-06-05 23:03] Air-Git commented on #5763
I'm afraid I have no expectation that User Voice will result in any changes. My only aim is to help make the documentation accurate and helpful for an engineer trying to implement it.

[2020-06-05 23:13] get-itips commented on #5763
I appreciate you coming here to leave feedback, maybe this feedback is useful for you or can pass it along @tameemansari ? I appreciate.

[2020-06-06 08:44] paulwittle opened #5836 "Show/Hide Channels"
I can see why this cmdlet was deprecated but can you not create a cmdlet that really is about updating the settings for a particular team member?

I want to be able to set a channel to show for a particular member whilst leaving the default setting of the team to be hide. This doesn't appear to be possible by design but it would be really useful and the user can always hide it again later if they

[2020-06-06 17:08] urbantom commented on #4780
Hi, I think, the opinion "cmdlet only works on room mailboxes created in the cloud (not synchronized room mailboxes)" is incorrect. I have a cloud-only environment and it is affected by this issue.

[2020-06-07 11:01] bartvermeersch opened #5837 "Output missing"
It would be very helpful to include sample output as well: what kind of object is returned?

It is difficult to simulate blocked users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e610245-c4d5-2fed-a4c3-c798bdfe48d9
* Version Independent ID: 15c13ed0-ee87-ddba-34e3-fead3acdb532
* Content: [Get-BlockedSenderAddress

[2020-06-08 01:13] hwkwicre commented on #5801
Thanks for the answer.
Then why does it show
Module:
sharepoint-online
And the article is under SharePoint online?

[2020-06-08 01:19] hwkwicre opened #5838 "Link"
https://docs.microsoft.com/sharepoint/information-barriers

The link doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d1c6b2b-5af6-acce-b7e8-bf784bb0973e
* Version Independent ID: 301586d3-ec04-c42d-4681-0bb59443d35c
* Content: [Set-SPOSite (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/mo

[2020-06-08 01:27] get-itips commented on #5801
Thanks, that was already reported recently and the team is working on it.

[2020-06-08 05:39] PJNield opened #5839 "UserList parameter details is incomplete"
[Enter feedback here]
The details for the UserList parameter should state that the parameter is the full path to the file that contains the list of users to be migrated, with the list of users in the file formated as a comma separated list of SIP addresses, as shown in the example.

And example of using the parameter needs to be supplied.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-06-08 09:14] Bart-Hoofd commented on #5795
Hi Dario,

Thanks; in my case the labels didn't disappear for at least 72 hours, but removing them using the -ForceDeletion parameter worked perfectly.

Greetz,
Bart
________________________________
Van: Dario Woitasen <notifications@github.com>
Verzonden: vrijdag 5 juni 2020 18:06
Aan: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
CC: Bart-Hoofd <bart.hoofd@outl

[2020-06-08 10:21] yogkumgit commented on #5833
@officedocsbot assign @yogkumgit

[2020-06-08 10:21] yogkumgit commented on #5836
@officedocsbot assign @yogkumgit

[2020-06-08 10:21] yogkumgit commented on #5837
@officedocsbot assign @yogkumgit

[2020-06-08 10:21] yogkumgit commented on #5838
@officedocsbot assign @yogkumgit

[2020-06-08 10:21] yogkumgit commented on #5839
@officedocsbot assign @yogkumgit

[2020-06-08 10:34] yogkumgit commented on #5801
@get-itips  Thank you very much for the contribution and sharing this explanation. @hwkwicre
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-08 10:34] #5801 closed

[2020-06-08 10:38] yogkumgit commented on #5812
@MikePlumleyMSFT Please reply and oblige. Thanks

[2020-06-08 10:40] yogkumgit commented on #5693
@MikeBazMSFT Pleas reply and oblige. Thanks

[2020-06-08 10:43] yogkumgit commented on #5813
@get-itips  Thank you very much for the contribution and sharing this explanation. @Rupalikothawade Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-08 10:43] #5813 closed

[2020-06-08 10:44] #5814 closed

[2020-06-08 10:50] yogkumgit commented on #5795
@dariomws  Thank you very much for the contribution and sharing this explanation. @Bart-Hoofd
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2020-06-08 10:50] #5795 closed

[2020-06-08 10:52] yogkumgit commented on #5759
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Air-Git Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-08 10:52] #5759 closed

[2020-06-08 10:56] yogkumgit commented on #5763
@get-itips  Thank you very much for the contribution and sharing this explanation. @Air-Git
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2020-06-08 10:56] #5763 closed

[2020-06-08 11:05] yogkumgit commented on #5815
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @lciprianionut Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-08 11:05] #5815 closed

[2020-06-08 11:07] yogkumgit commented on #5766
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @Air-Git Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-08 11:07] #5766 closed

[2020-06-08 11:10] yogkumgit commented on #5703
@dariomws  Thank you very much for the contribution and sharing this explanation. @schittli
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-08 11:10] #5703 closed

[2020-06-08 12:35] MikeBazMSFT commented on #5693
@yogkumgit You apparently tagged the wrong person. I don't see a reason for me to be tagged here.

[2020-06-08 13:46] JThornley opened #5840 "Example code missing"
https://docs.microsoft.com/en-us/powershell/module/skype/set-csusercallforwardingsettings?view=skype-ps#examples

Example code section is left with placeholder information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abffe3a5-060b-4e67-ce60-4ace8689053b
* Version Independent ID: 38e763e5-1ed2-a9e5-8eca-32daf8dd3050
*

[2020-06-08 16:42] SaschaSeipp opened #5841 "Documentation for parameter 'AllowPSTNUsersToBypassLobby' missing"
It seems the new parameter `-AllowPSTNUsersToBypassLobby` is in the Powershell cmdlet, and it's working, but unfortunately it is not yet documented here. It is already documented in the page for `Set-CsTeamsMeetingPolicy`, though.
Just stumbled upon that when creating a new meetings policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-06-08 16:42] DEberhardt opened #5842 "FileSize clarification"
Hello,

I was troubleshooting why my 2.3MB MP3 file generates the following error when importing with Get-Content:
`The current deserialized object size of the data received from the remote client computer exceeded the allowed maximum object size. The current deserialized object size is 10572800. The allowed maximum object size is 10485760`

First, tough luck that I went over by a few bytes... you

[2020-06-08 17:30] dariomws commented on #4780
Hi @urbantom, thank you for your comment.

Set-Place cmdlet article was updated and you can see this note now:
"Note: In hybrid environments, this cmdlet doesn't work on the following properties on synchronized room mailboxes: City, CountryOrRegion, GeoCoordinates, Phone, PostalCode, State, and Street. To modify these properties on synchronized room mailboxes, use the Set-User or Set-Mailbox cmdle

[2020-06-08 17:58] devO365 opened #5844 "Contradiction on Get-InboxRule Page"
In parameters section it says:

Correct me if I'm wrong, but Exchange Online can not be on-premises.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84aac716-f03b-5e8f-f83c-090babb1d6c1
* Version Independent ID: 47a23a34-3ee2-1874-3ce7-03e3219e2e16
* Content: [Get-InboxRule (exchange)](https://docs.microsoft.com/en-us/p

[2020-06-08 18:22] NavishkarSadheo opened #5845 "This doesn't make sense"
"Remove-OwaVirtualDirectory **permanently removes an Outlook on the web virtual directory or directories.** When you use this cmdlet, **make sure that you don't accidentally delete the default Outlook on the web virtual directory**."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41643880-7ef3-07fb-0030-42f31e2a4ffb
*

[2020-06-08 18:38] chrisda commented on #5844
@devO365, this is likely the case where the parameter is AVAILBLE in Exchange Server and Exchange Online, but it only WORKS in Exchange Server. Typically, we don't use language like, "This parameter only works in..." unless there's some weird issue like this going on.

Accurate tagging is important for help at the command line, so sometimes we need to make compromises like this.

[2020-06-09 01:16] hwkwicre opened #5855 "First line"
Why is there a . in the first line of the article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12d2ab3d-0471-0ab3-4575-ed084b325b67
* Version Independent ID: f0109b72-f41e-220c-0737-740cf97364ed
* Content: [Get-SPOBrowserIdleSignOut (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-on

[2020-06-09 10:16] stylishworker opened #5856 "BadGateway Error while executing Add-TeamChannelUser"
Hi this cmdlet was working just fine a month ago now it seems to be broken kindly look into it.

Add-TeamChannelUser : Error occurred while executing Add-TeamChannelUser
Code: BadGateway
Message: Failed to execute backend request.
InnerError:
  RequestId: f6b9acbf-ebf9-46f4-8fe3-4a8de8k5e715b
  DateTimeStamp: 2020-06-09T10:07:33
HttpStatusCode: BadGateway
At line:1 char:1
+ Add-TeamChannelUser -Gr

[2020-06-09 10:42] yogkumgit commented on #5840
@officedocsbot assign @yogkumgit

[2020-06-09 10:43] yogkumgit commented on #5841
@officedocsbot assign @yogkumgit

[2020-06-09 10:43] yogkumgit commented on #5842
@officedocsbot assign @yogkumgit

[2020-06-09 10:44] yogkumgit commented on #5844
@officedocsbot assign @yogkumgit

[2020-06-09 10:44] yogkumgit commented on #5845
@officedocsbot assign @yogkumgit

[2020-06-09 10:44] yogkumgit commented on #5855
@officedocsbot assign @yogkumgit

[2020-06-09 10:44] yogkumgit commented on #5856
@officedocsbot assign @yogkumgit

[2020-06-09 10:50] yogkumgit commented on #5693
Apologies.

[2020-06-09 10:50] yogkumgit commented on #5693
@MikePlumleyMSFT Pleas reply and oblige. Thanks

[2020-06-09 10:54] yogkumgit commented on #5791
@get-itips  Thank you very much for the contribution and sharing this explanation. @hwkwicre
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-09 10:55] #5791 closed

[2020-06-09 10:58] yogkumgit commented on #5764
@get-itips  Thank you very much for the contribution and sharing this explanation. @patrickabel
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-09 10:58] #5764 closed

[2020-06-09 15:30] tseward commented on #5693
@yogkumgit assign to me. This cmdlet does exist in 2019/2016 and likely exist in 2013 -- I'll spin up my VM later to verify.

[2020-06-09 16:40] spikedfuel commented on #1363
get/Set-OMEConfiguration has an imageurl attribute that isn't referenced in the documentation.

[2020-06-09 18:05] get-itips commented on #5856
Hello @stylishworker How are you? Hope you are doing good.
Here we are limited to documentation fixes or changes, besides that, let me tell you that the cmdlet is still in preview as it is only included in the PS INT gallery (beta), the article includes a note about that.
Hope this is helpful for you.

[2020-06-09 18:08] get-itips commented on #5836
Hello @paulwittle Paul, how are you?
Here, we are limited to documentation fixes or changes.
I think that your inquiry will be best suited for [Microsoft Teams UserVoice](https://microsoftteams.uservoice.com/).

[2020-06-09 18:56] dariomws commented on #5817
Hi @KelvinTegelaar, thank you for your feedback and help us to improve docs.microsoft.com.

This article is not available yet on docs.microsoft.com. More information here:
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623
"We're hard at work on Service Principal and Certificate Based Auth support to provide a solution to t

[2020-06-09 19:23] get-itips commented on #5838
Thanks for reporting @hwkwicre

[2020-06-09 19:23] get-itips commented on #5855
Thanks for reporting @hwkwicre

[2020-06-09 19:26] get-itips commented on #5828
Thanks for reporting @hwkwicre

[2020-06-09 19:31] get-itips commented on #5827
Thanks for reporting @hwkwicre

[2020-06-09 19:32] get-itips commented on #5818
Hello @micamend How are you?

Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/) a member of the PnP community will handle your request there.
Thank you!

[2020-06-09 19:32] get-itips commented on #5820
Hello @Katydude how are you ?

Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/) a member of the PnP community will handle your request there.
Thank you!

[2020-06-09 19:33] dariomws commented on #5821
Hi @DEberhardt, thank you for your feedback.

I´m not sure if I understand the problem here. It´s true that these cmdlets doesn´t support pipelines. Most PowerShell cmdlets are designed to support pipelines, but not these.

[2020-06-09 19:33] get-itips commented on #5825
Hello @CTFlorian How are you?

Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/) a member of the PnP community will handle your request there.
Thank you!

[2020-06-09 19:52] dariomws commented on #5829
Hi @Shadoxity, thank you for your feedback.

Sorry but we cannot provide support here, docs feedback is available to improve documentation. The information that I can give you is that it´s still not supported, I think it will be released soon:
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623

"We're hard at work on Servic

[2020-06-09 19:57] CTFlorian commented on #5825
Thanks. I will do so!

    	Thanks.-----------------------Christopher Florian

On Tue, Jun 9, 2020 at 2:33 PM -0500, "Andres Mariano Gorzelany" <notifications@github.com> wrote:

Hello @CTFlorian How are you?

Thanks for your feedback.

I need to kindly redirect you to open PnP cmdlets issues here a member of the PnP community will handle your request there.

Thank you!

—
You are receiving this b

[2020-06-09 20:51] DEberhardt commented on #5821
If it is intentional not to pipe here, it is fine :)
I just thought to do that...

[2020-06-09 21:05] dariomws commented on #5833
Hi @mltytskr, thank you for your feedback.

I understand there is no way at the moment. You can see similar threads:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/4504
https://github.com/MicrosoftDocs/office-docs-powershell/issues/4306

You can provide this feedback either on the [Exchange Team´s blog](https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-av

[2020-06-09 21:07] dariomws commented on #5821
I think these cmdlets have a special way to handle them, that´s why pipe doesn´t work, I think it´s by design.

Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-09 21:34] mprentice22153 opened #5861 "Get-ExoCasMailbox Parameter Sets missing SmtpClientAuthenticationDisabled"
Please add SmtpClientAuthenticationDisabled to the Minimum parameter set for Get-ExoCasMailbox.  Since the Minimum includes the *Enabled it makes sense to also include the SmtpClientAuthenticationDisabled value.  We can use this option instead if it is not added to the minimum:
get-exocasmailbox -PropertySets minimum -Properties SmtpClientAuthenticationDisabled

Thank you.

Matthew

[2020-06-09 21:39] mprentice22153 opened #5862 "Difference in quantity of items returned between Get-CasMailbox and Get-ExoCasMailbox"
It appears Get-ExoCasMailbox returns all mailboxes that existed, rather than the active mailboxes.  In a customer environment, all the users originally were licensed with E3 and the mailboxes were created.  The mailbox service was removed from each license and the mailboxes are no longer active.  We even used the set-user -PermanentlyClearPreviousMailboxInfo.  We properly see 4 mailboxes with Get-

[2020-06-09 21:54] DEberhardt commented on #5821
will do, cheers! :)

[2020-06-09 21:54] #5821 closed

[2020-06-10 02:14] hwkwicre opened #5865 "Suggestion"
The wording of the description part reads kind of redundant and confusing to me.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d805b7c7-3edf-e3ee-08ee-5cb4d695f1d8
* Version Independent ID: 805ba310-0d2e-1528-66c4-4b78fbf8da7c
* Content: [Get-SPOTenantSyncClientRestriction (sharepoint-online)](https://docs.microsoft.co

[2020-06-10 04:56] sachindekate opened #5866 "setting values for Location type field"
How to set value for Location type field?

Trying to set value as `{ 'DisplayName': 'full address', 'Address':{ 'State':'state value', 'City':'city value', 'PostalCode':'zip value', 'Street':'street value'}}` . It is setting the value however I am getting error _format-default : The collection has not been initialized. It has not been requested or the request has not been executed. It may need to

[2020-06-10 11:10] yogkumgit commented on #5861
@officedocsbot assign @yogkumgit

[2020-06-10 11:10] yogkumgit commented on #5865
@officedocsbot assign @yogkumgit

[2020-06-10 11:11] yogkumgit commented on #5866
@officedocsbot assign @yogkumgit

[2020-06-10 11:29] yogkumgit commented on #5856
@get-itips  Thank you very much for the contribution and sharing this explanation. @stylishworker
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-10 11:29] #5856 closed

[2020-06-10 11:32] yogkumgit commented on #5836
@paulwittle  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-06-10 11:32] #5836 closed

[2020-06-10 11:36] yogkumgit commented on #5817
@dariomws  Thank you very much for the contribution and sharing this explanation. @KelvinTegelaar Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-10 11:36] #5817 closed

[2020-06-10 11:49] yogkumgit commented on #5818
@get-itips  Thank you very much for the contribution and sharing this explanation. @micamend
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-10 11:49] #5818 closed

[2020-06-10 11:51] yogkumgit commented on #5820
@get-itips  Thank you very much for the contribution and sharing this explanation. @Katydude
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-10 11:51] #5820 closed

[2020-06-10 11:55] yogkumgit commented on #5825
@get-itips  Thank you very much for the contribution and sharing this explanation. @CTFlorian
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-10 11:55] #5825 closed

[2020-06-10 14:02] matthieumartineau opened #5867 "Invalid value for -AuditDelegate parameter"
The document states that UpdateCalendarDelegation is a valid value for -AuditDelegate paramater on Exchange Online.

Based on my tests, this value is not accepted and generate an error. I've talk with the FastTrack team and they confirm to me that it is an error inside this documentation.

Can you take this point and correct the Set-Mailbox documentation page please?

Best Regards,

---
#### Docum

[2020-06-10 18:20] tylercockrum opened #5871 "Incorrect syntax on command."
winrm set winrm/config/client/auth @{Basic="true"}

Should look like this...

winrm set winrm/config/client/auth ‘@{Basic="true"}’

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Independent ID: 4d69ee5d-5a6d-a203-69fe-bf5441a8b5eb
* Content: [Connect

[2020-06-11 01:22] hwkwicre opened #5875 "An issue with many articles"
For permissions and the most current information about Windows PowerShell for SharePoint Online, see the online documentation at https://go.microsoft.com/fwlink/p/?LinkId=251832 (https://go.microsoft.com/fwlink/p/?LinkId=251832).
The link is repeated and second one is broken

The exact same issue happens with many articles in SharePoint Online Powershell
---
#### Document Details

⚠ *Do not edit t

[2020-06-11 01:50] hwkwicre opened #5876 "A few link issues"
For more information, see Locale IDs Assigned by Microsoft (https://go.microsoft.com/fwlink/p/?LinkId=242911).
This link is broken

Please read (https://<kaarin to provide the link ) documentation to understand Information barriers with SharePoint Online.
https://<kaarin ??

For additional information about how to restrict a domain sharing, see Restricted Domains Sharing in Office 365 SharePoint O

[2020-06-11 05:47] sachindekate commented on #5866
Hi,
I could resolve format-default error, however still struggling to find proper way add/edit values to Location Type field so that it loads correctly in Edit form

[2020-06-11 11:14] yogkumgit commented on #5867
@officedocsbot assign @yogkumgit

[2020-06-11 11:14] yogkumgit commented on #5871
@officedocsbot assign @yogkumgit

[2020-06-11 11:14] yogkumgit commented on #5875
@officedocsbot assign @yogkumgit

[2020-06-11 11:15] yogkumgit commented on #5876
@officedocsbot assign @yogkumgit

[2020-06-11 11:29] yogkumgit commented on #5827
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-11 11:29] #5827 closed

[2020-06-11 11:31] yogkumgit commented on #5828
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-11 11:31] #5828 closed

[2020-06-11 11:33] yogkumgit commented on #5838
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-11 11:35] yogkumgit commented on #5855
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-11 11:35] #5855 closed

[2020-06-11 11:39] yogkumgit commented on #5728
@chrisda  Thank you very much for the contribution and digging deep into it.  @Air-Git We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documenta

[2020-06-11 11:39] #5728 closed

[2020-06-11 14:42] dariomws commented on #5837
Hi @bartvermeersch, thank you for your feedback and help us to improve docs.microsoft.com.

With this cmdlet, you will get a list of users. I´m adding some information about the input and output.

[2020-06-11 17:01] dariomws commented on #5842
Hi @DEberhardt, thank you for your feedback and help us to improve docs.microsoft.com.

I think that the cmdlet you´re looking for is:
[Import-CsOnlineAudioFile](https://docs.microsoft.com/powershell/module/skype/import-csonlineaudiofile)
From the article:
"The Content parameter represents the content of the audio file. Supported formats are WAV (uncompressed, linear PCM with 8/16/32-bit depth in

[2020-06-11 17:03] dariomws commented on #5845
Hi @NavishkarSadheo, thank you for your feedback.

You can use this cmdlet to remove OWA virtual directories created using New-OwaVirtualDirectory. Please, be careful and don´t remove the default virtual directory.

[2020-06-11 18:38] bartvermeersch commented on #5837
Thanks!

[2020-06-11 18:38] #5837 closed

[2020-06-11 21:12] Ofer-Gal opened #5883 "Other Labels are not included in Export-PnPTaxonomy"
I have many "Oter Lables" for each term and I need to export them and import to the production SPO.
How can I include them?

[2020-06-11 22:13] DEberhardt commented on #5842
Yes, I did notice that I was using the wrong cmdlet^^.
Was wondering why the Id was never populated :)

So, is this one different in terms of file sizes?

[2020-06-12 01:25] hwkwicre opened #5886 "Parameters"
I was wondering if it would be more helpful to add more descriptions to some of the parameters.. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab43a7d9-79d4-5f40-f49f-1f90c2af1583
* Version Independent ID: a54c713c-4995-30d6-c500-bd13152e8190
* Content: [Start-SPOSiteContentMove (sharepoint-online)](https://do

[2020-06-12 09:57] yogkumgit commented on #5883
@officedocsbot assign @yogkumgit

[2020-06-12 09:57] yogkumgit commented on #5886
@officedocsbot assign @yogkumgit

[2020-06-12 10:07] yogkumgit commented on #5845
@dariomws  Thank you very much for the contribution and sharing this explanation. @NavishkarSadheo Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-12 10:07] #5845 closed

[2020-06-12 10:11] yogkumgit commented on #5839
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @PJNield Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-12 10:11] #5839 closed

[2020-06-12 10:14] yogkumgit commented on #5840
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @JThornley Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-12 10:15] #5840 closed

[2020-06-12 10:17] yogkumgit commented on #5841
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @SaschaSeipp Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-12 10:17] #5841 closed

[2020-06-12 10:22] yogkumgit commented on #5802
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @jreed5 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-12 10:22] #5802 closed

[2020-06-12 10:29] yogkumgit commented on #5663
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-12 10:29] #5663 closed

[2020-06-12 10:31] yogkumgit commented on #5668
@Obleyer We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to

[2020-06-12 10:31] #5668 closed

[2020-06-12 10:36] yogkumgit commented on #5844
@chrisda  Thank you very much for sharing this explanation. @devO365 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-12 10:36] #5844 closed

[2020-06-12 13:06] get-itips commented on #5865
Thanks for your feedback @hwkwicre

[2020-06-12 13:14] get-itips commented on #5866
Hello @sachindekate Sachin, how are you ?

Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/) a member of the PnP community will handle your request there.
Thank you!

[2020-06-12 14:23] dariomws commented on #5861
Hi @mprentice22153, thank you for your feedback.

Docs feedback is available to help us to improve docs.microsoft.com. If you want to provide feedback for a Exchange Online PowerShell v2 Cmdlet feature request or change, please use the following resources:
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623
https://office365

[2020-06-12 14:24] bvdinesh opened #5889 "Add-SPOSiteDesignTask - Operation is not valid due to the current state of the object"
We have large site with more than 30 list and library. So we have split into 4 site scripts due to limit of 100000 characters. After we have added 4 site scripts into site using below code

Add-SPOSiteDesign -Title "My customer tracking" -WebTemplate "64" -SiteScripts script1.id,script2.id,script3.id,script4.id -Description "Tracks key customer data in a list" -PreviewImageUrl "https://contoso.sha

[2020-06-12 14:27] dariomws commented on #5862
Hi @mprentice22153, thank you for your feedback.

Docs feedback is available to help us to improve docs.microsoft.com. If you want to provide feedback for an Exchange Online PowerShell v2 Cmdlet feature request or change, please use the following resources:
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623
https://office36

[2020-06-12 14:51] dariomws commented on #5842
Same file size restriction apply here:
"The audio file content cannot be more 5MB."

[2020-06-12 17:03] J-Fedor opened #5891 "The prefix adds the prefix to the commands, but the prefixed commands aren't functional"
Connect-ExchangeOnline -UserPrincipalName xxx  -Prefix Legacy

Once connected, I can do Get-Legacy[tab] and cycle through the various commands.  Looks fine.
But when I run one:

PS C:\> Get-LegacyAcceptedDomain
Get-Command : The term 'Get-LegacyAcceptedDomain' is not recognized as the name of a cmdlet, function, script file, or
operable program. Check the spelling of the name, or if a path was inc

[2020-06-12 17:41] #5842 closed

[2020-06-12 17:56] MSIH opened #5892 "Example uses wrong parameter name for database"
The example on the page is:
`Migrate-SPProjectDatabase -Name ProjectDB1 -SiteCollection "https://contoso1/sites/PWA"`

"Name" is not a valid parameter. The correct parameter is "DatabaseName"

Corrected example:

`Migrate-SPProjectDatabase -DatabaseName ProjectDB1 -SiteCollection "https://contoso1/sites/PWA"`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-06-12 18:33] get-itips commented on #5876
Thanks @hwkwicre

[2020-06-12 20:25] sachindekate commented on #5866
This [blog post](https://powerusers.microsoft.com/t5/News-Announcements/How-to-update-a-SharePoint-location-field-from-PowerApps-using/ba-p/211377) helped me to form JSON in right format to add/update Location type field.

[2020-06-12 20:25] #5866 closed

[2020-06-12 20:53] J-Fedor opened #5894 "Need faster failure when no archive"
Obviously we should check to see if an archive exists or not before trying pull the stats, but it takes a full minute for the new command to fail trying to pull non-existent stats on an archive vs the old command.   Details below.

PS C:\> $t1 = Get-date
PS C:\> Get-MailboxStatistics -identity user@domain.com -archive
The Archive Mailbox is not enabled for user@domain.com.
    + CategoryInfo

[2020-06-12 23:21] #5812 closed

[2020-06-15 01:17] hwkwicre opened #5899 "Description"
-HideDefaultThemes
{{ Fill HideDefaultThemes Description }}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad190894-c814-d07b-9477-bd866a4d9516
* Version Independent ID: 19fb8638-dc5f-c6c8-f0a7-142a79c7d0af
* Content: [Set-SPOHideDefaultThemes (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/shar

[2020-06-15 01:56] dy-nz opened #5900 "Windows Compatability"
import-module ExchangeOnlineManagement -UseWindowsPowershell
allows only the new EXO cmdlets to work correctly for a Powershell 7 user.
All the legacy V1 cmdlets error with the message "not recognized".

[2020-06-15 05:00] hirenshah1 commented on #4151
Update on this. The -tenant attribute is removed intentionally as -tenant attribute was applicable for SFB online. However Cloud voicemail is enabled for SFBO instead of Exchange UM. I will update the documentation to remove this -tenant attribute

[2020-06-15 10:10] jacobrastad opened #5902 "Where is the "no restriction" option for GiphyContentRating when using Set-Team?"
In the section for setting the GiphyContentRating it only states the values for "strict" and "moderate". Where is the option for the "no restriction"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd6bccff-1bef-c88c-ff70-2ccdfb48ecc0
* Version Independent ID: 01f33478-352d-c7ae-0c49-784fa1c1fd67
* Content: [Set-Team (

[2020-06-15 10:48] yogkumgit commented on #5889
@officedocsbot assign @yogkumgit

[2020-06-15 10:48] yogkumgit commented on #5891
@officedocsbot assign @yogkumgit

[2020-06-15 10:49] yogkumgit commented on #5892
@officedocsbot assign @yogkumgit

[2020-06-15 10:49] yogkumgit commented on #5894
@officedocsbot assign @yogkumgit

[2020-06-15 10:50] yogkumgit commented on #5899
@officedocsbot assign @yogkumgit

[2020-06-15 10:50] yogkumgit commented on #5900
@officedocsbot assign @yogkumgit

[2020-06-15 10:50] yogkumgit commented on #5902
@officedocsbot assign @yogkumgit

[2020-06-15 10:57] yogkumgit commented on #5865
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-15 10:57] #5865 closed

[2020-06-15 11:03] yogkumgit commented on #5861
@dariomws  Thank you very much for the contribution and sharing this explanation. @mprentice22153 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-15 11:03] #5861 closed

[2020-06-15 11:08] yogkumgit commented on #5876
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-15 11:08] #5876 closed

[2020-06-15 11:18] yogkumgit commented on #5862
@dariomws  Thank you very much for the contribution and sharing this explanation. @mprentice22153 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-15 11:18] #5862 closed

[2020-06-15 11:21] yogkumgit commented on #5867
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @matthieumartineau Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-15 11:21] #5867 closed

[2020-06-15 12:32] get-itips commented on #5875
Thanks @hwkwicre did a mass replace on several articles.

[2020-06-15 12:34] get-itips commented on #5693
@tseward Trevor, any updates from your lab? did you find the cmdlets I couldn't in my lab version? Thanks

[2020-06-15 14:21] yogkumgit commented on #5892
@tseward  Thank you very much for the contribution and updating the documentation with PR. @MSIH Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-15 14:21] #5892 closed

[2020-06-15 16:40] sysadmin-scs opened #5904 "Issues installing the module"
Just wanted to share my feedback in case it should be included in the documentation. When I first attempted to run the installation, I ran into this error on one of my servers:

WARNING: Unable to resolve package source 'https://www.powershellgallery.com/api/v2'.
PackageManagement\Install-Package : No match was found for the specified search criteria and module name 'ExchangeOnlineManagement'. Try

[2020-06-15 18:54] dariomws commented on #5891
@J-Fedor, Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the outc

[2020-06-15 18:55] dariomws commented on #5894
@J-Fedor, Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the outc

[2020-06-15 18:58] dariomws commented on #5900
Hi @dy-nz, thank you for your feedback.

PowerShell Core is not supported yet on the Exchange Online PowerShell v2 module. For more information:
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623
For news about when PS Core support gets GA please follow the Exchange Team blog.

[2020-06-15 19:19] dariomws commented on #5902
Hi @jacobrastad, thank you for your feedback and help us to improve docs.microsoft.com.

The only two options that are available in Team settings until now are "Strict" and "Moderate". You can set "No restriction" on a messaging policy.
If you want to suggest more options, I need to kindly redirect you to this resource https://microsoftteams.uservoice.com/. There, your suggestion will reach the pr

[2020-06-15 19:32] jacobrastad commented on #5902
Hi @dariomws
Thank you for replying.

Perhaps I've misunderstood, but when I check the team-settings in the GUI in the windows desktop client I can set "Strict", "Moderate" and "No restriction". Therefore I assumed that I would be able to set that via Powershell aswell.

Attached is a printscreen of the settings via the windows client (in Swedish). The options shown are

- Strikt - en: strict
- Må

[2020-06-15 20:12] dariomws commented on #5902
Thanks for this information @jacobrastad. I verified in a demo tenant and I only had Strict and Moderate.

Now I have verified in another tenant and I see the 3 options there, but "Allow all content" instead of "No restrictions":
![image](https://user-images.githubusercontent.com/33589238/84700985-84d10700-af2a-11ea-97d0-1455c76db726.png)

Looks like it´s the same behavior we can see here:
https:/

[2020-06-15 20:24] get-itips commented on #5899
Thanks for reporting @hwkwicre

[2020-06-15 20:37] get-itips commented on #5889
Hello @bvdinesh Dinesh, how are you?
For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.
Thank you!

[2020-06-15 21:03] get-itips commented on #5886
Thanks for reporting @hwkwicre

[2020-06-15 21:04] get-itips commented on #5883
Hello @Ofer-Gal How are you?

Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-06-15 22:44] uskiranj opened #5909 "I am unable to launch ms teams/sign out"
I would like to launch teams via PS.
Daily I have to manually logout and login, enter credential and sign in.  I want to automate these steps and no way I can do these.

[2020-06-16 01:27] hwkwicre commented on #5875
Thank you!

https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-spoappinfo?view=sharepoint-ps
Just to let you know some other articles such as this one have the same issue but was missed.

[2020-06-16 02:09] nashuatek opened #5912 "Incorrect Example"
This page is about the cmdlet get-messagetracedetail yet the example provided is for the get-messagetrace cmdlet.

This example uses the Get-MessageTrace cmdlet to retrieve message trace information for messages with the Exchange Network Message ID value 2bbad36aa4674c7ba82f4b307fff549f send by john@contoso.com between June 13, 2018 and June 15, 2018, and pipelines the results to the Get-MessageTr

[2020-06-16 03:37] damianscoles opened #5913 "One paragraph has a few misspelled words"
The description on this page has some misspellings that should be fixed.

Original Text:
'Use the Execute-AzureADLabelSync cmdlet to start the synchronization of sensitivity labels into Azure Active Directory. This allows the applicaton of sensitivty labels to Microsoft Teams sites, Office 365 groups, and SharePoint sites. This cmdlet is required if you were using senstivity labels before Septembe

[2020-06-16 10:03] TrixM opened #5914 "Incorrect information in first example"
Example 1 for `Enable-RemoteMailbox` states:

This is incorrect. **`New`**`-RemoteMailbox` is only used to create a *new user* in the Active Directory domain and an associated mailbox.

For mail-enabling an *existing* user, `Enable-RemoteMailbox` is the correct command.

The incorrect line should be omitted in the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-06-16 10:34] yogkumgit commented on #5904
@officedocsbot assign @yogkumgit

[2020-06-16 10:34] yogkumgit commented on #5909
@officedocsbot assign @yogkumgit

[2020-06-16 10:35] yogkumgit commented on #5912
@officedocsbot assign @yogkumgit

[2020-06-16 10:35] yogkumgit commented on #5913
@officedocsbot assign @yogkumgit

[2020-06-16 10:35] yogkumgit commented on #5914
@officedocsbot assign @yogkumgit

[2020-06-16 10:44] yogkumgit commented on #5875
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-16 10:53] #5894 closed

[2020-06-16 10:55] yogkumgit commented on #5900
@dariomws  Thank you very much for the contribution and sharing this explanation. @dy-nz
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-16 10:56] #5900 closed

[2020-06-16 11:02] yogkumgit commented on #5889
@get-itips Thank you very much for the contribution and sharing this explanation. @bvdinesh
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation update i

[2020-06-16 11:02] #5889 closed

[2020-06-16 11:08] yogkumgit commented on #5883
@get-itips  Thank you very much for the contribution and sharing this explanation. @Ofer-Gal
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-16 11:08] #5883 closed

[2020-06-16 11:12] yogkumgit commented on #5871
@chrisda Thank you very much for sharing this explanation. @tylercockrum Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-16 11:12] #5871 closed

[2020-06-16 11:52] DEberhardt opened #5915 "Using Distribution Lists, what is the intervall in which they get expanded?"
Hello,
when adding Users, they are instantly parsed for their requirements (EV/License).
When adding Groups, they are expanded on a regular intervall. For SFB on-prem this was 8hrs.
What is the intervall for DLs in Teams please?

Thanks,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4128d55a-2a26-47be-04e7-6a71e

[2020-06-16 12:08] get-itips commented on #5875
Yes, you can still find some other articles, we will continue scanning for cases like this, as text changes slightly the search can be inaccurate at times. Please continue raising an issue if you find an article that I didn't detect. Thank you

[2020-06-16 16:19] chrisda commented on #5913
@damianscoles, fixed. In the future, you, too can make fixes like this yourself without the need to open a GitHub issue first. For more information, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2020-06-16 16:19] #5913 closed

[2020-06-16 17:49] chrisda commented on #5914
@TrixM, I removed the offending sentence. In the future, you, too, can make changes like this without opening a GitHub Issue first. For more information, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing.

[2020-06-16 17:49] #5914 closed

[2020-06-16 20:41] dariomws commented on #5904
Hi @sysadmin-scs, thank you for your feedback and help us to improve docs.microsoft.com.

This issue was reported before:
https://github.com/MicrosoftDocs/PowerShell-Docs/issues/5725
https://github.com/MicrosoftDocs/PowerShell-Docs/issues/5743
https://github.com/MicrosoftDocs/PowerShell-Docs/issues/5915
https://github.com/MicrosoftDocs/PowerShell-Docs/issues/5978
https://github.com/MicrosoftDocs/P

[2020-06-16 20:47] dariomws commented on #5912
Hi @nashuatek, thank you for your feedback and help us to improve docs.microsoft.com.

In the example, Get-MessageTrace pipes to Get-MessageTraceDetail, so both are using and it´s explained in the example description.
You can use it in this way, or you can use the same parameters directly on Get-MessageTraceDetail.

[2020-06-16 21:02] J-Fedor commented on #5891
MS fixed it.

“I am running back-end diagnostics for help fix the issue, this diagnostics will fix any object failure, backend glitches, validate configuration, upgrade scripting in the backend.”

Had to wait 12 hours before testing, but whatever voodoo they did appears to have fixed it.

John Fedor
Principal Architect
Direct:
Support Desk
630.592.6240
630.592.6260
visit peters.com today!
​Stay up

[2020-06-16 21:15] JLambEJG opened #5921 "Connect with Service Principal?"
Is it possible to connect to Exchange Online using a service principal, similar to connecting to AzureAD with this command?

Connect-AzureAD -TenantId $tenantID -ApplicationId  $Application -CertificateThumbprint $thumb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d3f5e8b-3af1-22e4-6b11-8a3e159d3987
* Version Indepe

[2020-06-16 21:16] pchatelle opened #5922 "Is it super hard to include return fields, or how to enumerate them?"
The reference material on most powershell is really bad, don't know what is available as output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b7b09af-a0bd-d40f-a5f8-4acff3d49d2f
* Version Independent ID: 84ae7637-076e-891a-37c4-a9630e6d5c47
* Content: [Get-TeamUser (teams)](https://docs.microsoft.com/en-us/powershel

[2020-06-17 04:45] hwkwicre commented on #5838
Umm, I apologize, but I think you replaced a correct link again with a 404 link...

[2020-06-17 05:15] AbhishekGarg opened #5926 "Requirement of connecting to -admin url should be mentioned"
`Add-PnPSiteCollectionAppCatalog` does not work by usual method of connecting to target site via `Connect-PnPOnline` and executing the "Add" cmdlet.
It needs connection to the tenant `-admin` url, a fact noted in the [PnP-PowerShell issue](https://github.com/pnp/PnP-PowerShell/issues/2149#issuecomment-511433618).

As this is a departure from the usual method, and not something which is obvious, it

[2020-06-17 11:02] roderick-cloudlife opened #5927 "SCC remove-label -forcedeletion"
Looks like the parameter -forcedeletion is no longer recognized. Can this be confirmed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7118491-42f7-17eb-9707-026b3265ccb7
* Version Independent ID: ad50092c-4dda-e377-42df-55188d7ac5aa
* Content: [Remove-Label (exchange)](https://docs.microsoft.com/en-us/powershell/modu

[2020-06-17 11:19] yogkumgit commented on #5915
@officedocsbot assign @yogkumgit

[2020-06-17 11:19] yogkumgit commented on #5921
@officedocsbot assign @yogkumgit

[2020-06-17 11:20] yogkumgit commented on #5922
@officedocsbot assign @yogkumgit

[2020-06-17 11:20] yogkumgit commented on #5926
@officedocsbot assign @yogkumgit

[2020-06-17 11:20] yogkumgit commented on #5927
@officedocsbot assign @yogkumgit

[2020-06-17 11:41] yogkumgit commented on #5904
@dariomws  Thank you very much for the contribution and sharing this explanation. @sysadmin-scs
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-17 11:41] #5904 closed

[2020-06-17 11:46] yogkumgit commented on #5912
@dariomws  Thank you very much for the contribution and sharing this explanation. @nashuatek
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-17 11:46] #5912 closed

[2020-06-17 11:52] get-itips commented on #5838
The link is about to be brought online in a couple of days, already checked this information with the product team behind it, currently it will return a 404 and that is expected. Thank you.

[2020-06-17 13:12] get-itips commented on #5909
Hello @uskiranj How are you?
For your inquiry I need to kindly suggest [Microsoft Teams User Voice](https://microsoftteams.uservoice.com/) as here we are limited to documentation fixes and improvements.
Thank you

[2020-06-17 13:32] dariomws commented on #5891
Thanks @J-Fedor, thanks for this comment, it is good to know that this has been fixed.

Thanks again, for taking out some time to open the issue. I appreciate and encourage you to do the same in the future also.

[2020-06-17 13:36] dariomws commented on #5902
Hi @jacobrastad, I have more information from the product group. They created an internal task to add this value to the GiphyContentRating parameter. It should be available in the coming weeks.

Thanks again, for taking out some time to open the issue. I appreciate and encourage you to do the same in the future also.

[2020-06-17 13:51] jacobrastad commented on #5902
Hi @dariomws
Thank you for the update and great that you will add the possibility to set it via PS.

[2020-06-17 13:51] #5902 closed

[2020-06-17 14:01] get-itips commented on #5922
Hello @pchatelle How are you? Thanks for your feedback.
I will propose to extend the description of the article to include what is actually outputting.
If it gets approval, you will be able to see it on the online version. Thanks

[2020-06-17 17:30] amortsell opened #5932 "Only applicable to rather indicates where it's not applicable"
I noticed a minor error in the documentation regarding the -SystemUpdate parameter. The documentation says it's only applicable to: SharePoint Online, while actually it's not applicable to SharePoint Online, but to all On Premises versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59ea3ece-81f8-2ec4-2435-00f96d0f

[2020-06-17 22:47] rktiwari14 opened #5933 "publish date not available for this article"
HI Team,

Publish date is not mentioned in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3242437-7b78-ac6b-d0ef-e5c9116a5b1d
* Version Independent ID: 8ea324f5-a833-f877-3888-a8a703bebd97
* Content: [Get-CsUserPolicyAssignment (teams)](https://docs.microsoft.com/en-us/powershell/module/teams/get-csuserp

[2020-06-18 01:06] hwkwicre opened #5935 "Incomplete article"
This article is not complete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ea6ebeb-dcc0-8e76-9e61-224f57db3a5f
* Version Independent ID: 30fad058-46e5-acb0-bb9f-1d87d6f349d5
* Content: [Get-SPOSiteUserInvitations (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-spositeuser

[2020-06-18 01:22] hwkwicre commented on #5767
Actually, there's still {{Fill in the Description}} in the article. 😮

[2020-06-18 01:41] get-itips commented on #5767
Fixed in a new PR. Thanks

[2020-06-18 08:43] hwkwicre opened #5939 "Typos"
"are not supported.)."
There's an extra . I believe

Also, "You must be a SharePoint Online global Administrator to run this cmdlet." I guess it actually means you must be a SharePoint Online admin, or a global admin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1f56a10-dabe-a37e-9ccf-24fe58077d6a
* Version Independ

[2020-06-18 09:29] meven3000 opened #5940 "Adding owners to teams adds as members"
Hi, when attempting to add multiple owners 3+ to a new team, subsequent owners appear to be added as owners in the team under PowerShell, Groups. However, when visiting the team via the Teams App or Website, only the first owner which was added is in fact the owner. All other "owners" are listed as members, and access permission is as members.

The user who creates the group is added as an owner [

[2020-06-18 09:42] hwkwicre commented on #5875
https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-spotenantlogentry?view=sharepoint-ps
https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-spowebtemplate?view=sharepoint-ps
https://docs.microsoft.com/ja-jp/powershell/module/sharepoint-online/remove-spouser?view=sharepoint-ps

Here's some more

[2020-06-18 11:20] Alex-Catalin opened #5941 "Activity Alerts of type ElevationOfPrivilege are being retired."
Please work with Engineering and update this article as it seems that the Activity Alerts of type ElevationOfPrivilege are being retired.

I tried creating one in the portal and it will not show up after that, then I created one with Powershell (which also doesn't show up in the portal) that I can see it only if I specify it's Identity, otherwise running only the Get-ActivityAlert cmdlet is not re

[2020-06-18 12:13] get-itips commented on #5875
Thanks @hwkwicre from those, only one needed update, the others are already fixed on a soon to be merged pull request, usually it takes some days for everyone to see the impact of the fixes. I appreciate your report and please open another issue if, after some days, you found others. Thank you

[2020-06-18 12:54] yogkumgit commented on #5932
@officedocsbot assign @yogkumgit

[2020-06-18 12:54] yogkumgit commented on #5933
@officedocsbot assign @yogkumgit

[2020-06-18 12:55] yogkumgit commented on #5935
@officedocsbot assign @yogkumgit

[2020-06-18 12:55] yogkumgit commented on #5939
@officedocsbot assign @yogkumgit

[2020-06-18 12:56] yogkumgit commented on #5940
@officedocsbot assign @yogkumgit

[2020-06-18 12:56] yogkumgit commented on #5941
@officedocsbot assign @yogkumgit

[2020-06-18 14:24] yogkumgit commented on #5909
@uskiranj  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-06-18 14:24] #5909 closed

[2020-06-18 14:31] yogkumgit commented on #5891
@dariomws  Thank you very much for the contribution and sharing this explanation. @J-Fedor
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-18 14:31] #5891 closed

[2020-06-18 14:41] yogkumgit commented on #5899
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-18 14:41] #5899 closed

[2020-06-18 14:42] yogkumgit commented on #5886
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-18 17:31] get-itips commented on #5926
Hello @AbhishekGarg How are you?

Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-06-18 18:04] rufioIK708 opened #5943 "Broken link"
[Enter feedback here]

In the LocaleID section the link to Assigned Locale IDs by Microsoft (https://go.microsoft.com/fwlink/p/?LinkId=242911) is correct but the ')' and '.' are included in the link and so the link does not work.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d1c6b2b-5af6-acce-b7e8-bf784bb0973e
* Versi

[2020-06-18 18:29] AbhishekGarg commented on #5926
Hello @get-itips, I am fine, thank you :)
Hope you are good as well!

Thank you for pointing me in the right direction. I'll raise an issue there.
I am not 100% sure if this issue can be solved only once the PnP docs are updated, or if this will remain as such. Please close if this should be closed.

[2020-06-19 01:12] hwkwicre opened #5949 "An issue with many articles"
You must be a SharePoint Online global administrator to run the cmdlet.
I believe "a SharePoint Online global administrator" should be "a SharePoint Online admin or a global admin"
The same issue happens with many articles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dfb2fc5-1b39-0527-db76-10ca00c0666c
* Version In

[2020-06-19 01:44] azureDev20 opened #5950 "Connect-MicrosoftTeams error in Azure function"
Getting the error below when using the MicrosoftTeams PowerShell module v1.0.22 in an Azure function and trying to call the connect-microsoftteams commandlet and passing in the credential object.

[Error]   ERROR: Connect-MicrosoftTeams : password_required_for_managed_user: Password is required for managed user

Version 1.0.22 of the module is required to take advantage of the CsGroupPolicyAssignm

[2020-06-19 01:44] hwkwicre opened #5951 "Needs update"
Many cmdlets that are listed on the left navigation, are not in this list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 721e76e8-c853-05fd-b23b-eb4809ef2df6
* Version Independent ID: 858766e1-3dc3-b00d-217f-adbab5b63867
* Content: [SharePoint PnP PowerShell](https://docs.microsoft.com/en-us/powershell/module/sharepoi

[2020-06-19 04:44] mumukichi commented on #4238
Hello @get-itips, @yogkumgit.
I'm sorry. I completely forgot to comment here after it was resolved.

I contacted Microsoft and resolved it so I'll share the solution.

I only specified the owner explicitly with the Owner parameter when using the command.

ex)
`new-team -GroupId "8dc9e01e-0e55-45a1-84b4-0a06dd4391a" -Owner exampleOwner@ex.contoso.com`

[2020-06-19 06:16] azureDev20 commented on #5950
I notice that the connect-microsoftteams contains an identity parameter which although there is no documentation related to the parameter presumably it infers the ability to use a managed identity? Is anyone able to elaborate if its possible to use a managed identity when using the the connect-microsoftteams commandlet and if assigning the identity to a built-in role like teams service admin will

[2020-06-19 10:05] msftfdbk opened #5952 "Please document the -ShareData parameter"
Please document the -ShareData parameter for this cmdlet (as well as Set-CsOnlineVoicemailPolicy).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51ca829d-c578-00f9-5adf-7b490a7696d7
* Version Independent ID: 2d102e7f-cdea-b94a-43cf-b1d806cde3af
* Content: [New-CsOnlineVoicemailPolicy (skype)](https://docs.microsoft.co

[2020-06-19 10:25] yogkumgit commented on #5943
@officedocsbot assign @yogkumgit

[2020-06-19 10:25] yogkumgit commented on #5949
@officedocsbot assign @yogkumgit

[2020-06-19 10:26] yogkumgit commented on #5950
@officedocsbot assign @yogkumgit

[2020-06-19 10:26] yogkumgit commented on #5951
@officedocsbot assign @yogkumgit

[2020-06-19 10:27] yogkumgit commented on #5952
@officedocsbot assign @yogkumgit

[2020-06-19 10:35] yogkumgit commented on #5926
@get-itips  Thank you very much for the contribution and sharing this explanation. @AbhishekGarg
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-19 10:35] #5926 closed

[2020-06-19 10:43] #5838 closed

[2020-06-19 12:35] get-itips commented on #4238
@mumukichi Thanks for getting back and share your feedback to the community.

[2020-06-19 16:43] #5922 closed

[2020-06-20 21:08] get-itips commented on #5950
Hello @azureDev20
Please see the following https://github.com/MicrosoftDocs/office-docs-powershell/issues/5177#issuecomment-611114041
where someone from the team confirmed that they are currently working with -Identity parameter for future releases, the documentation does not reflect it because it is not ready to be used yet. (and also, module 1.0.22 is from the beta channel)

Hope this informatio

[2020-06-21 23:30] azureDev20 commented on #5950
Thanks @get-itips I expected as much but thought I would ask so thanks for clarifying. Any information on how to use the connect-microsoftteams commandlet in an Azure function to successfully authenticate would be greatly appreciated.

[2020-06-22 01:21] hwkwicre opened #5960 "Clarify"
Tenant administrator permissions.
Is it referring to global admin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e4ea598-827b-f445-0904-34715521e9cd
* Version Independent ID: 45c5b70d-a4c3-d134-95a8-415ff2365f01
* Content: [Get-SPOTenantCdnOrigins (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/modul

[2020-06-22 11:44] get-itips commented on #5932
Hello @amortsell How are you?

Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-06-22 11:45] get-itips commented on #5949
Hello @hwkwicre

Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-06-22 11:45] get-itips commented on #5951
Hello @hwkwicre
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-06-22 11:54] get-itips commented on #5933
Hello @rktiwari14 How are you?
Do you mean _for example_ this?

![image](https://user-images.githubusercontent.com/36666927/85284590-d9faa480-b465-11ea-997c-48f8ae3e8648.png)

That field is not present in cmdlet's articles, you can look up the git history of the article [here](https://github.com/MicrosoftDocs/office-docs-powershell/commits/master/teams/teams-ps/teams/Get-CsUserPolicyAssignment.md)

[2020-06-22 12:11] get-itips commented on #5950
@azureDev20
Are you using the cmdlet as described in the documentation? for example, passing a credential object to the credential parameter.

[2020-06-22 12:20] amortsell commented on #5932
Thanks @get-itips,

If I'm not mistaken this repository contains the documentation about the PnP cmdlets. Hence I think this is the right place for this issue, since it's regarding the documentation about the PnP cmdlet and not about the cmdlet itself, but maybe I was a bit unclear in my description.

I can submit a PR myself with the corrections I find necessary, with a reference to this issue.

[2020-06-22 12:25] get-itips commented on #5932
@amortsell
You are right, however, the documentation for PnP cmdlets is directly reflected from PnP source code, from the link I referenced, if you want to submit a pull request to impact the documentation in this repo, you need to submit it against the source code in the dev branch of the repo I referenced, for example
https://github.com/pnp/PnP-PowerShell/blob/dev/Commands/Lists/SetListItemPermi

[2020-06-22 12:30] get-itips commented on #5939
Thanks for noticing @hwkwicre

[2020-06-22 12:31] get-itips commented on #5943
Thanks for your report @rufioIK708

[2020-06-22 12:35] get-itips commented on #5940
Hello @meven3000
Are you using the latest stable release Teams PowerShell module (1.0.7) ?
Thanks

[2020-06-22 13:29] get-itips commented on #5935
@trent-green Hello Trent, can you kindly help us get missing information about this cmdlet? I appreciate.

[2020-06-22 13:49] shivtorov opened #5964 "Broken formatting in the Description section"
Broken formatting in the Description section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 943ec445-d796-f169-7b20-521b1009869b
* Version Independent ID: f817f9ea-1d3c-a900-1fe4-63450f43a40e
* Content: [Get-CsOnlineDirectoryTenant (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/get-csonlinedirectoryt

[2020-06-22 14:21] yogkumgit commented on #5960
@officedocsbot assign @yogkumgit

[2020-06-22 14:21] yogkumgit commented on #5964
@officedocsbot assign @yogkumgit

[2020-06-22 14:26] shivtorov opened #5965 "Missing content in SYNOPSIS section"
Missing content in SYNOPSIS section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5d3d5db-bd8f-911e-c1da-53bc0bc2574f
* Version Independent ID: d27f7976-d180-9254-0cbb-a7133bc08c97
* Content: [Get-CsTeamsMessagingPolicy (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/Get-CsTeamsMessagingPolicy?view=

[2020-06-22 14:26] #4238 closed

[2020-06-22 14:37] yogkumgit commented on #5949
@get-itips  Thank you very much for the contribution and sharing this explanation. @hwkwicre
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-22 14:37] #5949 closed

[2020-06-22 14:39] yogkumgit commented on #5951
@get-itips  Thank you very much for the contribution and sharing this explanation. @hwkwicre
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-22 14:39] #5951 closed

[2020-06-22 14:42] yogkumgit commented on #5933
@get-itips  Thank you very much for the contribution and sharing this explanation. @rktiwari14
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-22 14:42] #5933 closed

[2020-06-22 14:52] mikeburns7 opened #5966 "Get-EXOMailbox Not Showing MailItemAccessed Enabled Mailboxes"
When attempting to retreive which mailboxes have the new MailItemAccessed logging enabled, using the Get-EXOMailBox command does not retrieve expected results

Running the same command using the legacy Get-Mailbox command produces the expected results

![image](https://user-images.githubusercontent.com/57635375/85301770-3cf43780-b476-11ea-9723-cb89143dd5f3.png)

[2020-06-22 15:02] andrePKI opened #5967 "Where is documentation of the cmdlets?"
This only describes how to connect to the service. Where can I find the documentation of the cmdlets and more (training) material on how to use these?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54add98f-f5f7-74fe-7043-f55fc3699115
* Version Independent ID: c020556e-75d3-8d8b-00f2-5c1008b09c6e
* Content: [Security &

[2020-06-22 15:04] yogkumgit commented on #5965
@officedocsbot assign @yogkumgit

[2020-06-22 15:05] yogkumgit commented on #5966
@officedocsbot assign @yogkumgit

[2020-06-22 15:05] yogkumgit commented on #5967
@officedocsbot assign @yogkumgit

[2020-06-22 15:36] andrePKI opened #5968 "Get-RetentionCompliancePolicy not in the PoSh module?"
Connecting as described yields the download of the PoSh module with a tmp random name.
But it does not have a Get-RetentionCompliancePolicy cmdlet (others like get-label and many more are present - so I assume everything went well - also no errors, just a warning about redirection)
So maybe this test cmdlet is not present anymore, or has a different name? Maybe use a different one to test the conn

[2020-06-22 15:54] chrisda commented on #5967
@andrePKI, you can click on the **References** link or start typing any part of the cmdlet name in the search box.

![image](https://user-images.githubusercontent.com/33166947/85308359-fb5b9080-b465-11ea-911e-f440d1c6842c.png)

[2020-06-22 15:54] get-itips commented on #5915
Hello @tomkau Tom, is there a way we can get that information from the team? Thanks

[2020-06-22 17:51] andrePKI commented on #5967
Well, you need to know the name of any of the cmdlets, right? It's about
getting started,  just connecting is not enough ... Especially because you
can't do Get-Command -Module ... because the name of the module is random.

Op ma 22 jun. 2020 17:54 schreef Chris Davis <notifications@github.com>:

[2020-06-22 19:05] ajhosek opened #5969 "UserSharedWith Property blank from Search-UnifiedAuditLog"
According to the Docs on the detailed properties of audit logs, the property "UserSharedWith" should have the value of the user that the resource was shared with if the operation was "SharingSet".

I have specifically filtered out the operations to be "SharingSet" and there is still not a value for the property "UserSharedWith"

[2020-06-22 20:23] dariomws commented on #5921
Hi @JLambEJG, thank you for your feedback and help us to improve docs.microsoft.com.

This option is not available yet. More information here:
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623
"We're hard at work on Service Principal and Certificate Based Auth support to provide a solution to those wanting non-interactive

[2020-06-22 20:35] dariomws commented on #5927
Hi @roderick-cloudlife, thank you for your feedback and help us to improve docs.microsoft.com.

I confirmed that this parameter was removed and I´m updating the article.

[2020-06-22 20:52] dariomws commented on #5967
Hi @andrePKI, thanks for your feedback.

You can run Get-Module to get the module name and then use Get-Command if you want to list all the available cmdlets.

[2020-06-22 20:59] dariomws commented on #5966
Hi @mikeburns7, thank you for your feedback and help us to improve docs.microsoft.com.

Get-EXOMailbox only returns a minimal set of properties:
Alias
DisplayName
DistinguishedName
EmailAddresses
ExchangeVersion
ExternalDirectoryObjectId
Guid
Id
Name
OrganizationId
PrimarySmtpAddress
RecipientType
RecipientTypeDetails
UserPrincipalName

Please, try with:
Get-EXOMailbox -Properties AuditOwner -Resu

[2020-06-22 21:37] andrePKI commented on #5967
One could also add a reference on this page to point at the docs for the
cmdets. Please? I found that Sec & Compl cmdlets are intermixed with
Exchange Online cmdlets. In other words: needle in a haystack.

Op ma 22 jun. 2020 22:52 schreef Dario Woitasen <notifications@github.com>:

[2020-06-22 21:39] mikeburns7 commented on #5966
Both
Get-EXOMailbox -Properties AuditOwner -ResultSize Unlimited | Where-Object {$_.AuditOwner -like 'MoveToDeletedItems'}
and
Get-EXOMailbox -Properties AuditAdmin -ResultSize Unlimited | Where-Object {$_.AuditAdmin -like 'MoveToDeletedItems'}

Return Expected Results

When trying the same command, but using "-like 'MailItemsAccessed'" , results are not returned correctly.

Please see the screens

[2020-06-22 21:45] meven3000 commented on #5940
Yep 1.0.7

On Mon, 22 Jun 2020, 10:36 pm Andres Mariano Gorzelany, <
notifications@github.com> wrote:

[2020-06-22 21:46] chrisda commented on #5967
@andrePKI, hundreds of Exchange cmdlet reference topics are shared between environments (versions of Exchange Server, ExO PowerShell, SCC PowerShell and standalone EOP PowerShell), so we made the decision to single-source them .

We've also been working on a way to select and filter the list of cmdlets by PowerShell environment. No ETA, but we are working on it.

[2020-06-23 01:21] azureDev20 commented on #5950
@get-itips see below script which is executed on the PowerShell runspace of an Azure function to access ms teams instance

$Username = $ENV:SvcAcctUsername
$P = $ENV:SvcAcctPwd
$Password = $P | ConvertTo-SecureString -AsPlainText -Force
$Credential = New-Object System.Management.Automation.PSCredential($Username, $Password)

Connect-MicrosoftTeams Connect-MicrosoftTeams -Credential $Credential

Er

[2020-06-23 01:35] guptarajesh001 opened #5972 "How can we move more than 3TB of one drive data to SharePoint online by SPMT?"
Hi All, I have used SPMT to move more than 3TB of one drive data to SharePoint online by Powershell :
[code]
Add-SPMTTask -FileShareSource $Global:FileshareSource -TargetSiteUrl $Global:SPOUrl -TargetList $Global:TargetListName
Start-SPMTMigration -Verbose -ErrorAction SilentlyContinue .
[code]

But I am getting below error:

Can we use one drive Url as source site Url instead on onpremises site U

[2020-06-23 08:36] rsparnaaij opened #5973 "EnableAuthAdminReadSession is missing"
[KB4559435](https://support.microsoft.com/en-us/help/4559435/) describes that EnableAuthAdminReadSession has been added and links for more info to the [Set-OrganizationConfig](https://docs.microsoft.com/en-us/powershell/module/exchange/set-organizationconfig) page. However, this parameter isn't discussed on this page.

A bit more clarification regarding this parameter would be nice as well (also o

[2020-06-23 12:19] get-itips commented on #5940
Hello @meven3000 How are you?
Correct me if I misunderstood any of the steps taken by you, however, I could not reproduce what happened to you:

![image](https://user-images.githubusercontent.com/36666927/85402497-2d3a2900-b532-11ea-99a2-a9f8c383c599.png)

![image](https://user-images.githubusercontent.com/36666927/85402533-3a571800-b532-11ea-8cee-772bfe9cd187.png)

All members added as owners wer

[2020-06-23 12:35] get-itips commented on #5950
@azureDev20 I am not an expert in Azure Functions, however, I received the same error trying to run the cmdlet under PowerShell Core, and Microsoft Teams PowerShell module is currently only compatible with Windows PowerShell, can you confirm you are using Windows PowerShell?

[2020-06-23 13:46] yogkumgit commented on #5968
@officedocsbot assign @yogkumgit

[2020-06-23 13:47] yogkumgit commented on #5972
Get-RetentionCompliancePolicy

[2020-06-23 13:48] yogkumgit commented on #5973
Get-RetentionCompliancePolicy

[2020-06-23 13:49] yogkumgit commented on #5973
@officedocsbot assign @yogkumgit

[2020-06-23 13:50] yogkumgit commented on #5972
@officedocsbot assign @yogkumgit

[2020-06-23 13:54] #5875 closed

[2020-06-23 13:59] #5767 closed

[2020-06-23 14:01] yogkumgit commented on #5921
@dariomws  Thank you very much for the contribution and sharing this explanation. @JLambEJG
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-23 14:01] #5921 closed

[2020-06-23 14:04] yogkumgit commented on #5927
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @roderick-cloudlife Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-23 14:04] #5927 closed

[2020-06-23 14:47] mark3grahams opened #5974 "Loading EXO and SCC in the same session"
Is it possible to load Connect-ExchangeOnline and Connect-IPPSSession with in the same Powershell session?

Seems like they use the same PSSession.

[2020-06-23 15:57] #5939 closed

[2020-06-23 16:29] #5943 closed

[2020-06-23 19:00] MikeDembek opened #5977 "Deprecation of Basic auth for EXO PowerShell?"
The current SCT templates disable Basic auth; are there any plans to migrate EXO PowerShell to use another authentication mechanism?

[2020-06-23 19:01] dariomws commented on #5966
@mikeburns7 For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.
https://docs.microsoft.com/office365/admin/contact-support-for-business-products

Also, you can report this in the following article:
https://techcommunity.microsoft.com/t5/exchange-

[2020-06-23 23:31] mikeburns7 commented on #5966
Ahh. Thanks for the clarification. I am looking to submit this issue to the team that programs the module. Thanks You!

[2020-06-23 23:31] #5966 closed

[2020-06-23 23:47] azureDev20 commented on #5950
thanks @get-itips, at this time the only PowerShell runtime stack available in an Azure function is PowerShell core so that would explain the issue. Thanks for your continued assistance.

[2020-06-24 00:00] get-itips commented on #5950
Thanks for returning and sharing that feedback!

[2020-06-24 00:31] azureDev20 commented on #5950
No worries, I just checked the PowerShell Gallery website and it states that the MS Teams module is for both Windows PowerShell and PowerShell core, see URL below. Can you send me the URL which states that the module is only available to Windows PowerShell?

https://www.powershellgallery.com/packages/MicrosoftTeams/1.0.7

[2020-06-24 00:39] get-itips commented on #5950
I see that information was added recently, will try to cross check with the product team.

[2020-06-24 01:45] get-itips commented on #5950
@azureDev20 Managed to report this behavior in Ps Core to the product team, they are aware and can work on it. Thanks!

[2020-06-24 01:54] azureDev20 commented on #5950
Excellent, thanks @get-itips looking forward to a good outcome.

[2020-06-24 06:50] Damien-GH opened #5982 "Add multiple owners"
Hello,

On the "New-TeamChannel" -Teams- page, i saw a new parameter "-Owner".

So it's fully functionnal, thats fine. But i would like to add multiple owners (2,3....)

However i can't get how to do that, would you help me please?

`-Owner (available in private preview)
UPN of owner that can be specified while creating a private channel.`

Thanks you a lot :)

---
#### Document Details

⚠ *Do not

[2020-06-24 10:19] yogkumgit commented on #5974
@officedocsbot assign @yogkumgit

[2020-06-24 10:19] yogkumgit commented on #5977
@officedocsbot assign @yogkumgit

[2020-06-24 10:20] yogkumgit commented on #5982
@officedocsbot assign @yogkumgit

[2020-06-24 10:31] yogkumgit commented on #5950
@get-itips  Thank you very much for the contribution and sharing this explanation. @azureDev20 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-24 10:36] yogkumgit commented on #5940
@get-itips  Thank you very much for the contribution and sharing this explanation. @meven3000 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-24 10:36] #5940 closed

[2020-06-24 10:42] yogkumgit commented on #5967
@dariomws  and @chrisda Thank you very much for the contribution and sharing this explanation. @andrePKI  Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-24 10:42] #5967 closed

[2020-06-24 16:40] mrkeiths opened #5983 "QuarantineTypes missing 'Malware'"
Documentation is missing "Malware" as one of the supported QuarantineTypes.

I was surprised that "Malware" wasn't a supported value so I purposefully passed an unsupported value, so I could read the full list:

Specify one of the following enumerator names and try again:
Cannot process argument transformation on parameter 'QuarantineTypes'. Cannot convert value "Malwarekeith" to type
"Microsoft.E

[2020-06-24 18:40] swinster opened #5984 "What permissions are required to run New-CsVideoInteropServiceProvider?"
Once you have imported the SFB online module, connected to the remote MS 365 sub/tenant, and imported that remote session, what privalages do you actually need that allow the
`CsVideoInteropServiceProvider` CmdLets to be imported?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da78125-3d7d-227d-d1ad-fa215b1a86

[2020-06-24 18:48] andrePKI opened #5985 "Reference to cmdlets documentation"
Please make a note how to find (more) information about the cmdlets.
E.g. a hint to look at the references in the left column of the page.
Especially because this is not clear to all of us, and also because the module has a random name, so finding out what is available is difficult. Next, the help for many commands is not completed yet - it is just a template with phrases like “put explanation of

[2020-06-24 20:32] Zyxian opened #5993 "How to start Exchange Powershell on a Core installation."
The document was updated on 6/9/20 but doesn't include Exchange 2019 installed on a Core version of Windows Server 2019.
I got to this page searching for the command to start Exchange Powershell from the command line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 357c64fe-47a0-f804-5f09-f73ad1ac3e58
* Version Independ

[2020-06-24 21:16] chrisda commented on #5993
@Zyxian, added.

Thanks for the feedback.

Closing

[2020-06-24 21:16] #5993 closed

[2020-06-25 01:20] azureDev20 commented on #5950
@get-itips Is there any timeline from the product team on when this will be fixed?

[2020-06-25 01:25] get-itips commented on #5950
How are you? I am afraid not, I will reply to this thread (will remain closed as this is not a documentation issue) once I get an update.

[2020-06-25 03:17] azureDev20 commented on #5950
Good thank you, it seems a pretty huge bug for it not to be worked on as a matter of priority as this exists on all the Microsoft PowerShell modules I have tested including the modules in GA. Is there another area in Github I can report this bug on?

[2020-06-25 09:59] yogkumgit commented on #5983
@officedocsbot assign @yogkumgit

[2020-06-25 09:59] yogkumgit commented on #5984
@officedocsbot assign @yogkumgit

[2020-06-25 10:00] yogkumgit commented on #5985
@officedocsbot assign @yogkumgit

[2020-06-25 10:05] yogkumgit commented on #5941
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @Alex-Catalin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-25 10:05] #5941 closed

[2020-06-25 10:11] yogkumgit commented on #5932
@get-itips  Thank you very much for the contribution and sharing this explanation. @amortsell Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-25 10:11] #5932 closed

[2020-06-25 11:32] get-itips commented on #5950
There isn't, however, I have confirmation is already filed and triaged internally. Thanks

[2020-06-25 12:32] MIBadran opened #5997 "IsAgendaMailEnabled"
IsAgendaMailEnabled says its reserved for Microsoft internal use, while its a feature that can be turned on or off

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03895b30-2bb7-9e96-28db-def76ae59029
* Version Independent ID: 8056b3ee-4fab-3a5c-935b-a9d0e9ad82a4
* Content: [Set-OrganizationConfig (exchange)](https://doc

[2020-06-25 16:01] dariomws commented on #5968
Hi @andrePKI, thank you for your feedback.

I think the cmdlet is still available:
![image](https://user-images.githubusercontent.com/33589238/85754933-e12ee600-b6e3-11ea-86d1-22f0fd64ade5.png)

[2020-06-25 19:28] dariomws commented on #5974
Hi @mark3grahams, thank you for your feedback.

I think it´s not possible at the moment. I should suggest that you post this question in the following article:
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623
We are limited to documentation issues and improvements.

[2020-06-25 19:51] dariomws commented on #5977
Hi @MikeDembek, thank you for your feedback.

You can use modern authentication to connect to Exchange Online PowerShell since the release of the V1 module:
https://docs.microsoft.com/en-us/powershell/exchange/mfa-connect-to-exchange-online-powershell

Now, we should use V2 as it was released in June 3rd:
https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2

[2020-06-25 19:54] MikeDembek commented on #5977
Hi Dario, I understand that Modern Auth is used to connect to O365, but basic auth is required to be enabled on the local WinRM client (see https://docs.microsoft.com/en-us/powershell/exchange/mfa-connect-to-exchange-online-powershell?view=exchange-ps).  That is not the case for the V2 module.  Is that slated for a fix?  Alternatively, when will the v2 module have feature parity?

[2020-06-25 20:06] dariomws commented on #5985
Hi @andrePKI, thank you for your feedback.

This is very similar to the following issue also created by you:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/5967

Please, if you see cmdlets article with incomplete information list the articles or cmdlets here so I can take care of them. Or you can open new feedback when you find each of them.

Thanks!

[2020-06-25 20:19] dariomws commented on #5977
Basic or legacy authentication it's still there until the second half of 2021:
https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-authentication-and-exchange-online-april-2020-update/ba-p/1275508

But it's recommended that you block it and only use Modern Authentication. Exchange PowerShell Module v2 requires that WinRM has Basic Auth enabled but it connects to EXO using Modern Auth.

[2020-06-25 20:29] MikeDembek commented on #5977
Hi Dario, that exchange team article addresses client access; I don't see how that relates to auth requirement for EXO administration.  This issue specifically pertains to local WinRM settings and the requirement for WinRM basic auth to be enabled in the local settings; legacy auth is already disabled for my user account in O365 and I understand that modern auth is used, but I'm trying to understa

[2020-06-25 22:01] Jim-Kay opened #6005 "CertificateThumbprint parameter not present in Connect-ExchangeOnline"
I currently have v1.0.1 of ExchangeOnlineManagement, but when I try to use 'Connect-ExchangeOnline' with the '-CertificateThumbprint' parameter, PowerShell complains with the error:

Is this functionality something that has not been released yet?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ff

[2020-06-26 00:55] get-itips commented on #5972
@guptarajesh001 Rajesh, how are you?

Are you defining a OneDrive for Business location as source? So that would be like a SharePoint Online to SharePoint Online migration. AFAIK you can not perform that with SPMT as is intended from On-Premises.

Thanks

[2020-06-26 01:14] get-itips commented on #5964
Thanks for reporting @shivtorov

[2020-06-26 01:16] #5973 closed

[2020-06-26 05:19] cablechewer opened #6008 "Article missed a restriction on the new-compliancesearch cmdlet"
The Verb-complianceSearch cmdlets do not function with Advanced eDiscovery cases.  They only function properly with Core eDiscovery cases.  This should be called out in the text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1243572b-d36d-a15c-3d5f-e4bf971cd9ee
* Version Independent ID: 6694e76a-b1e0-9cc6-08ab-beb0cf3

[2020-06-26 05:27] koxo opened #6009 "Set-TeamPicture doesn't work if you are not owner of the team"
I have try the new cmdlet Set-TeamPicture, but it doesn't work if you are not the owner of the teams.

Is it normal ?

I don't see the owner of the team entering PowerShell command line to modify the picture team !

Best regards

Yannick

[2020-06-26 07:45] andrePKI commented on #5985
Allright, previous issue was closed with remark to open a new one if etc.
That’s this one :-) I’ll have a look and be more specific about the help for some cmdlets.
In the mean time, I would add a line or two pointing people at the links in the left column, References, so we all know to look under Policies & Compliance when looking for sensitivity labels/policies.

Met vriendelijke groet,
André Ho

[2020-06-26 09:24] yogkumgit commented on #5997
@officedocsbot assign @yogkumgit

[2020-06-26 09:25] yogkumgit commented on #6005
@officedocsbot assign @yogkumgit

[2020-06-26 09:25] yogkumgit commented on #6008
@officedocsbot assign @yogkumgit

[2020-06-26 09:25] yogkumgit commented on #6009
@officedocsbot assign @yogkumgit

[2020-06-26 09:29] #5950 closed

[2020-06-26 09:32] yogkumgit commented on #5968
@dariomws  Thank you very much for the contribution and sharing this explanation. @andrePKI Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-26 09:37] yogkumgit commented on #5974
@dariomws  Thank you very much for the contribution and sharing this explanation. @mark3grahams Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-26 09:37] #5974 closed

[2020-06-26 09:49] yogkumgit commented on #5972
@get-itips  Thank you very much for the contribution and sharing this explanation. @guptarajesh001 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-26 09:49] #5972 closed

[2020-06-26 12:19] HeSteIT commented on #6005
Hi, same problem here.
v1.0.1 does not have the parameters in Connect-ExchangeOnline that are described in the article.

[2020-06-26 12:37] get-itips commented on #5984
Hello @swinster
I used a Skype For Business admin and a Global Administrator and the cmdlets for -CsVideoInteropServiceProvider were imported and I could use them.
Hope this clarifies it to you

[2020-06-26 12:49] get-itips commented on #5982
Hello @Damien-GH
Owner parameter is part of the private preview so it is currently under development and currently only accepts the UPN of one owner.
If you want to propose another behavior I need to kindly suggest to look for/open an entry in [Microsoft Teams UserVoice](https://microsoftteams.uservoice.com/), that way, it can reach the Product Team developing this feature.
Thanks

[2020-06-26 13:57] get-itips commented on #5960
Thanks for your feedback, clarifying thru a pr. @hwkwicre

[2020-06-26 16:53] dariomws commented on #5985
I found these for Exchange:
Connect-ExchangeOnline.md
Get-DlpComplianceRule.md
Get-MailboxFolderStatistics.md (completed)
Get-MailboxStatistics.md (completed)
New-ComplianceTag.md
New-RetentionCompliancePolicy.md
Remove-RecordLabel.md
Set-MailUser.md

I'll try to get more information to complete all of them. If you found more, please open a new issue.

Thanks!

[2020-06-26 17:29] dariomws commented on #5977
Hi @MikeDembek, the article states that basic auth will be retired in Exchange Online in the second half of 2021. Anyway, it´s recommended that you use EXO PS V2 and it will connect using modern auth.

I don't have detailed information about why WinRM basic auth is required, sorry about that. But V1 requires it because it establishes a remote PowerShell session according to my understanding.
I thi

[2020-06-26 19:19] swinster commented on #5984
@get-itips so the question is "What permissions are required"

Are we saying that the "Global Administrator" is the _lowest_ role that can be used to run these CmdLets?

[2020-06-26 19:30] get-itips commented on #5984
no, Skype for Business admin as my previous message says.
Thanks!

[2020-06-28 17:04] lovyjain opened #6034 "Issue with the Command"
[Enter feedback here]
Remove-PnPUserFromGroup -LoginName user@company.com -GroupName 'Marketing Site Members'

Instead of GroupName "Identity" is to be useed.
---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 808c5ea9-a4cd-bb36-34ec-b126c78923f3
* Version Independent ID: 13478896-b5a7-d8f1-19aa-b653a91bcaf5
* Content: [Re

[2020-06-28 18:06] andrePKI commented on #5985
Hi Dario,

why not look the output of Get-Command -Module "..." |  %{ get-help $_.name
-Examples } and then search for the word "Insert" .
This way I found many more like
Get-DlpSiDetectionsReport
Get-Label
Get-LabelPolicy
New-Label
New-LabelPolicy
New-ProtectionAlert
Remove-Label
Remove-LabelPolicy
Set-DlpSensitiveInformationTypeConfig
Set-Label
Set-LabelPolicy
Set-ProtectionAlert
These cmdlet he

[2020-06-28 18:12] andrePKI commented on #5968
Mmm, beats me.
[image: image.png]
[image: image.png]
[image: image.png]

Op do 25 jun. 2020 om 18:02 schreef Dario Woitasen <notifications@github.com

--
Met vriendelijke groet,
André Hoekstra

[2020-06-29 08:21] IngeHP opened #6035 "Get-CsOnlineUser Filter issue"
According to the docs:  _"The Filter parameter uses the same filtering syntax that is used by the Where-Object cmdlet"_. However, this doesn't seem to be the case for all situations.

Example 1:
`Get-CsOnlineUser -Filter { TeamsMeetingPolicy -eq "MyPolicy"} `
This returns all users who have been granted the given policy.

Example 2:
`$Policy = "MyPolicy"`
`Get-CsOnlineUser -Filter { TeamsMeetingPo

[2020-06-29 11:41] yogkumgit commented on #6034
@officedocsbot assign @yogkumgit

[2020-06-29 11:41] yogkumgit commented on #6035
@officedocsbot assign @yogkumgit

[2020-06-29 12:02] yogkumgit commented on #5984
@get-itips  Thank you very much for the contribution and sharing this explanation. @swinster Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-29 12:06] yogkumgit commented on #5982
@get-itips  Thank you very much for the contribution and sharing this explanation. @Damien-GH Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-29 12:06] #5982 closed

[2020-06-29 12:12] yogkumgit commented on #5983
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @mrkeiths Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-29 12:12] #5983 closed

[2020-06-29 12:16] yogkumgit commented on #5977
@dariomws Thank you very much for the contribution and sharing this explanation. @MikeDembek Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-06-29 12:17] #5977 closed

[2020-06-29 12:17] dariomws commented on #5968
@andrePKI I cannot see your images but I tested it in another tenant and the cmdlet is there.

For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/en-us/microsoft-365/admin/contact-support-for-business-pro

[2020-06-29 12:20] yogkumgit commented on #5968
@dariomws  Thank you very much for the contribution and sharing this explanation. @andrePKI Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

[2020-06-29 12:20] #5968 closed

[2020-06-29 12:35] dariomws commented on #5985
Thank you for your help @andrePKI. We'll be completing all the information once we get more detail from the product group. It could take some days, so we'll be closing this issue. In the following days, if you still see incomplete information please leave feedback for each cmdlet/article you found.

Thank you again!

[2020-06-29 16:46] #5960 closed

[2020-06-29 16:48] gminer485 opened #6036 "Invalid parameters"
These are not valid parameters. Connect-ExchangeOnline currently does not support either -CertificateFilePath or -CertificateThumbprint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c465a6d5
* Content: [App-only authentication](

[2020-06-29 16:51] gminer485 commented on #6036
This is a duplicate issue.

[2020-06-29 16:52] #6036 closed

[2020-06-29 18:49] #5964 closed

[2020-06-29 19:10] #5965 closed

[2020-06-29 22:40] shivtorov commented on #6035
@IngeHP
The syntax of "Filter" as such is the same as "Where-Object".
The difference is that Where-Object executes the condition scriptblock locally, but Get-CsOnlineUser is sending it to remote server for execution. Thus the difference with access to local variables.

You can use the following approach to resolve all variables locally before sending the condition to the server.

[code]

[2020-06-30 01:28] hwkwicre opened #6038 "Repeated?"
"Displays information about existing site scripts. When no parameter is provided, this cmdlet returns the Id , Title , Description , and Version of each site script. When a site script ID is provided, this cmdlet also returns the Content , which is the JSON of the site script."

**Why is this paragraph repeated in this article?**

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-06-30 06:46] yogkumgit commented on #6038
@officedocsbot assign @yogkumgit

[2020-06-30 06:49] hwkwicre opened #6039 "Missing something?"
why is there a . in the first line?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0c31fb5-6109-2669-a774-9f8872dcb85a
* Version Independent ID: 0b44b31b-b4ab-7334-c4a1-3fa61af31633
* Content: [Get-SPOMultiGeoExperience (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-spomu

[2020-06-30 07:38] yogkumgit commented on #6039
@officedocsbot assign @yogkumgit

[2020-06-30 08:07] yogkumgit commented on #5985
@dariomws  Thank you very much for following up with product group,  and sharing this explanation. @andrePKI Appreciate your follow up and contribution towards improving the documentation. Please give PG some time to evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-06-30 08:07] #5985 closed

[2020-06-30 08:11] #5984 closed

[2020-06-30 16:06] get-itips commented on #6009
Hello @koxo How are you?
I could verify what you said. For feature requests, I need to kindly suggest [Microsoft Teams User Voice](https://microsoftteams.uservoice.com/) that way, your idea can reach the product team to change the current behavior of the cmdlet.
Thanks

[2020-06-30 17:03] koxo commented on #6009
Hi Andres !

I’m going to ask MS Teams to modify the cmdlet.

Best regards

Yannick

Yannick LANCHEC
Developpement & I.T.
Infrastructure & Directories

infos@koxo.net<mailto:infos@koxo.net?subject=Demande%20d'informations>

GSM : +33 (0)6 43 25 20 80

KoXo Développement
2 rue de Pen Ar C’hleuz
29000 Brest

[Logo-KoXo-Dev-PHPBB]

[msregisteredpartner]

De : Andres Mariano Gorzelany <notifications@g

[2020-06-30 19:57] get-itips commented on #6035
@shivtorov Thanks for sharing that example and explanation of the behavior.
@IngeHP I will propose adding an example to the article based on @shivtorov example, I could test it with TeamsMeetingPolicy as your scenario.

[2020-06-30 20:16] get-itips commented on #6038
Hello @hwkwicre
Those are the Synopsis and the Description, generally, they include very similar information but the Synopsis is usually shorter.
Will propose thru a pr to make it shorter.
Thanks

[2020-06-30 20:20] get-itips commented on #6039
Thanks for noticing.

[2020-06-30 20:21] get-itips commented on #6034
Hello @lovyjain
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-06-30 21:36] dariomws commented on #6005
Hi @Jim-Kay and @HeSteIT, thank you for your feedback.

This feature was released today:
https://techcommunity.microsoft.com/t5/exchange-team-blog/modern-auth-and-unattended-scripts-in-exchange-online-powershell/ba-p/1497387
You need to install version 2.0.3-Preview.

[2020-06-30 21:43] danmyhre opened #6049 "More details needed"
Show better example of hashtable for property matching and include what permissions are required in order to run this cmdlet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d731745-680b-fe7d-78fc-6757460f67b3
* Version Independent ID: 17045452-597a-b77e-897d-8af47dfae727
* Content: [New-PnPUPABulkImportJob (sharepoint-

[2020-06-30 21:50] danmyhre opened #6050 "New-PnPUPABulkImportJob"
This cmdlet returns a 403 error unless you connect to the central admin site.  It doesn't work if you connect to the site that you want to house the import file and logs on.

Get-PnPUPABulkImportStatus : The remote server returned an error: (403) Forbidden.
At line:1 char:1
+ Get-PnPUPABulkImportStatus
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Get-PnPUPABulkImpo

[2020-06-30 22:39] chrislehr opened #6051 "RulesQuota default"
Rulesquota defaults to 64kb on premises, but cloud provisioned mailboxes seem to default to 256kb now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e79e0e9-786b-dbfa-df44-9436545f00aa
* Version Independent ID: 153ce2d2-dab5-9c8f-c511-ee3bc8ee2dbc
* Content: [Set-Mailbox (exchange)](https://docs.microsoft.com/en-us/p

[2020-07-01 00:12] chrisda commented on #6008
@cablechewer, done.

Thanks for the feedback.

Closing

[2020-07-01 00:12] #6008 closed

[2020-07-01 00:22] chrisda commented on #6051
@chrislehr, I've determined that 64 KB is the default value in Exchange 2010 SP3RU30. 2013 CU23, 2016 CU17, 2019 CU6 and Exchange Online have default values of 256 KB. I updated the topic accordingly .

Thanks for the feedback.

Closing

[2020-07-01 00:22] #6051 closed

[2020-07-01 02:06] hwkwicre opened #6054 "Parameters"
Some descriptions of parameters are quite confusing, such as
"Makes a SPO notification that the user is being move", "This parameter will force the cmdlet to execute only validation", "This parameter will only check for reserved users to be moved near to their sites"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7dce

[2020-07-01 06:20] IngeHP commented on #6035
@shivtorov That explains it nicely. Thank you.
@get-itips Feel free to use this as an example.

[2020-07-01 07:46] quickclix75 opened #6058 "Need to use the AppID GUID not displayname..."
When attempting to use Connect-ExchangeOnline and cert based auth to the registered application, the AppID needs to be the GUID of the application not its displayname. When attempting to use the Displayname, as suggested in the Example, the command fails to locate the app in the target tenant. Changing to the AppID of the registered app works first time

Please can you confirm and update according

[2020-07-01 08:53] yogkumgit commented on #6049
@officedocsbot assign @yogkumgit

[2020-07-01 08:53] yogkumgit commented on #6050
@officedocsbot assign @yogkumgit

[2020-07-01 08:53] yogkumgit commented on #6054
@officedocsbot assign @yogkumgit

[2020-07-01 08:54] yogkumgit commented on #6058
@officedocsbot assign @yogkumgit

[2020-07-01 09:33] peterruzicska opened #6059 "Connect-ExchangeOnline, Connect-AzAccount PS7 SHA256Cng error"
Applies to both: Connect-ExchangeOnline and Connect-AzAccount (exactly the same error)

In PS7 I cannot connect, only if I import the module with -UseWindowsPowerShell parameter.
LOG:

Version,Organization,ScriptName,ScriptExecutionGuid,CommandName,CommandParams,RecordCount,SentBytesCount,TotalLatencyMs,ErrorLog
v2,,,,Connect-ExchangeOnline,EnableErrorReporting;LogDirectoryPath;LogLevel,0,0,0,Full

[2020-07-01 09:52] HeSteIT commented on #6005
Hi @dariomws, thank you for notifying.
Could you put that information into the docs? Because as I see it, there is no hint to the preview version of the module - that's why I tried with the 1.0.1 version last week :-)

[2020-07-01 11:35] shivtorov commented on #6059
@peterruzicska
"Exchange Online PowerShell" and "Exchange Online PowerShell V2" modules support only **Windows** PowerShell.

Refer to the following support statement:
https://docs.microsoft.com/en-us/powershell/exchange/exchange-online-powershell-v2?view=exchange-ps#install-and-maintain-the-exchange-online-powershell-v2-module

[2020-07-01 11:56] Oegl opened #6060 "Access denied. You do not have permission to perform this action or access this resource."
I execute the following command for a modern teamsite site collection where I'm site collection admin and site owner.

_Get-PnPProvisioningTemplate -out SharingListTemplateFromSTG.xml -Handlers Lists -ListsToExtract "Site Assets"_

The list has no custom columns, inherits permission,... => nothing special, only oob DocumentLibrary, but I receive the following exception:

Get-PnPProvisioningTemplat

[2020-07-01 13:54] yogkumgit commented on #6059
@officedocsbot assign @yogkumgit

[2020-07-01 13:55] yogkumgit commented on #6060
@officedocsbot assign @yogkumgit

[2020-07-01 14:02] yogkumgit commented on #6009
@koxo  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-07-01 14:02] #6009 closed

[2020-07-01 14:08] yogkumgit commented on #6034
@get-itips  Thank you very much for the contribution and sharing this explanation. @lovyjain Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-01 14:08] #6034 closed

[2020-07-01 16:55] chrisda commented on #6005
@Jim-Kay, @dariomws, this issue is being resolved in #6056

Thanks for the feedback.

Closing

[2020-07-01 16:55] #6005 closed

[2020-07-02 00:32] JLambEJG opened #6064 "Grant ServicePrincipal rights to a SharePoint document library?"
I am successfully connecting to SharePoint online using the function below, but the service principal doesn't have rights to write to a SharePoint online document library, even though the application/ClientID has the "SharePoint Administrator" role in the tenant. How can I provide read/write permissions to the serviceprincipal, as the site owner/admin?

[code]

[2020-07-02 07:06] yogkumgit commented on #6064
@officedocsbot assign @yogkumgit

[2020-07-02 08:56] ogouret opened #6065 "Problem in Hybrid environment with "Exchange Online PowerShell V2""
We have a lot of scripts in an hybrid environment, i try to migrate a first script to "Exchange Online PowerShell V2", and i have a strange behaviour, here is an extract in pseudo code we have :

Connect-ExchangeOnPrem
Connect-ExchangeOnline (using a prefix -> "o365")
Get-ExoCasMailbox ......
Disconnect-ExchangeOnline
Get-UMMailbox -> i should get "um mailbox" from on prem environment as i'm alway

[2020-07-02 10:04] yogkumgit commented on #6065
@officedocsbot assign @yogkumgit

[2020-07-02 15:16] gable44 opened #6067 "How to set time zone?"
Is there any parameter to set the time zone?

When creating a classic site there is an argument for that.
New-PnPTenantSite -Title $siteTitle -Url $newSiteUrl -Lcid $lcid -Owner $ownerEmail -TimeZone $timeZone

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5e3530-a63e-71ce-97c8-c904619aafa8
* Version Independent ID:

[2020-07-02 17:55] #6038 closed

[2020-07-02 18:20] #6039 closed

[2020-07-02 18:46] #6035 closed

[2020-07-02 20:15] get-itips commented on #6049
Hello @danmyhre Dan, How are you?
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-07-02 20:16] get-itips commented on #6050
Hello @danmyhre How are you?
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-07-02 20:16] get-itips commented on #6060
Hello @Oegl How are you?
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-07-02 20:17] get-itips commented on #6064
Hello @JLambEJG How are you?
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-07-02 23:23] jordanmills opened #6071 "The examples don't work."
The examples don't work.  Running example 2 against exchange online returns an error, "Parameter set cannot be resolved using the specified named parameters."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c0b982-c393-9d32-0464-816e2d92cc51
* Version Independent ID: 1e4625c2-9d18-6dd2-78c3-a05b26657395
* Content: [Ne

[2020-07-02 23:52] chrisda commented on #6071
@jordanmills, the introduction of the topic says:

And both Example 1 and Example 2 start with:

So it appears these are the only interesting parameters that work in Exchange Online:

- Name
- EnabledEmailAddressTemplates
- EnabledPrimarySMTPAddressTemplate
- IncludeUnifiedGroupRecipients
- ManagedByFilter
- Priority

[2020-07-03 00:52] jordanmills commented on #6071
Well... i missed that part.  I just checked at the top to see where it applied to exchange online.  Thanks.

[2020-07-03 04:53] yogkumgit commented on #6067
@officedocsbot assign @yogkumgit

[2020-07-03 04:54] yogkumgit commented on #6071
@officedocsbot assign @yogkumgit

[2020-07-03 04:56] yogkumgit commented on #6071
@chrisda  Thank you very much for sharing this explanation. @jordanmills Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-03 04:56] #6071 closed

[2020-07-03 05:19] yogkumgit commented on #6049
@get-itips Thank you very much for the contribution and sharing this explanation. @danmyhre Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-03 05:22] yogkumgit commented on #6050
@get-itips Thank you very much for the contribution and sharing this explanation. @danmyhre Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-03 05:22] #6050 closed

[2020-07-03 05:24] yogkumgit commented on #6060
@get-itips Thank you very much for the contribution and sharing this explanation. @Oegl Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-03 05:24] #6060 closed

[2020-07-03 05:28] yogkumgit commented on #6064
@get-itips  Thank you very much for the contribution and sharing this explanation. @JLambEJG Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-03 05:28] #6064 closed

[2020-07-03 05:39] yogkumgit commented on #6054
@trent-green Please help us in updating the PR #6070 . Thanks

[2020-07-03 07:31] maps05 opened #6072 "Usage in OneDrive for Business sites without being site collection admin"
The documentation states the following:

_You must be a SharePoint Online administrator or Global Administrator and be a site collection administrator to run the Get-SPOUser cmdlet._

This is true for regular SPO sites but I've verified that for personal sites, i.e. OneDrive for Business, you can invoke this command **without** being a site collection admin.

Additionally, I do verify also that wh

[2020-07-03 09:03] TheGhetts opened #6074 "Command need fix"
Command on site not work:
winrm set winrm/config/client/auth @{Basic="true"}

Should be:
winrm set winrm/config/client/auth '@{Basic="true"}'

I tested that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Independent ID: 4d69ee5d-5a6d-a203-69fe-bf5441a8b5eb
* Content: [Conn

[2020-07-03 14:29] trudolf-msft opened #6075 "Why this cmdlet is not available in the service?"
Customer wants to convert an Azure AD user to an Exchange MailUser without re-creation (dependencies to Sharepoint).
Any explaination why this cmdlet is blocked?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 570ded68-5ff6-4160-ee40-7a5aff1a7e7e
* Version Independent ID: 50bcc128-c408-c907-d121-d3fb7909cff4
* Content:

[2020-07-03 15:45] dariomws commented on #6065
Hello @ogouret, how are you? For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/en-us/microsoft-365/admin/contact-support-for-business-products

Thank you!

[2020-07-03 19:18] vagdevi17259 opened #6077 "The password entered exceeds the maximum length of '256'. Please reach out to your admin to reset the password"
_**Tried the method mentioned in the Connect using an existing service principal and client-secret @ https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps**_

**But unable to connect to Exchange Online Powershell Error:**
New-ExoPSSession : AADSTS50052: The password entered exceeds the maximum length of '256'. Please reach out to your admin to reset the

[2020-07-04 05:49] nphtrung opened #6078 "Get Move History from Get-EXOMailboxStatistics"
Hi All,

This is probably a dumb question. Anyone knows how to get Move History using Exchange Online PowerShell V2 module?

Thanks in advance