[2020-10-28 20:53] Craig-Humphrey opened #6761 "Provisioning for users that already have personal sites?"
What happens if you request provisioning for a user that already has a personal site provisioned?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b3eac96-c242-c8fb-f9d6-4e3fe42f45ff
* Version Independent ID: 8173ce51-c1ef-50be-2069-1ccd3d0ab5b3
* Content: [Request-SPOPersonalSite (SharePointOnlin

[2020-10-28 23:29] chrisda commented on #6760
@webash, in virtually any cloud-based filter, a leading \* is not allowed; trailing \* or \* between text values should always be OK. I don't think it was ever meant to support \* by itself.

Test it out and let me know what you find.

[2020-10-29 01:11] dtblodgett opened #6763 "Import-RecipientDataProperty -SpokenName supported file formats"
The following command is used to import a recording of the spoken name for a user.

`Import-RecipientDataProperty -Identity "Tony Smith" -SpokenName -FileData ([Byte[]]$(Get-Content -Path "M:\AudioFiles\TonySmith.wma" -Encoding Byte -ReadCount 0))`

The command supports .WMA and .PCM file formats. The Windows "Voice Recorder" app used to record in .WMA, but now records in .M4A format. It would be

[2020-10-29 01:42] johanburati opened #6764 "Get-TeamChannelUser : Channel not found"
I have installed the **MicrosoftTeams** module, version **1.1.5-preview**

When using the **Get-Team** function it returns the expected results.

However when I use the **Get-TeamChannelUser** function with the <ins>exact same parameters</ins> as for the **Get-Team** function,
it returns the following error:

`Get-TeamChannelUser : Channel not found`

[2020-10-29 01:50] johanburati commented on #6764
I have tried with Channel s with Visibility set to either Public or Private, but none worked.

[2020-10-29 05:27] Murdos-AU opened #6765 "Format of ParentContentType parameter"
Please clarify the format for the -ParentContentType parameter.  Content Type ID or Name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: add70215-5402-6795-3552-871a444415ad
* Version Independent ID: 74db5b97-e2f5-dd07-ed22-00b2bd687847
* Content: [Add-PnPContentType (SharePointPnPPowerShell)](https://docs.microsoft.co

[2020-10-29 06:37] GalRabin commented on #6716
@dariomws  @yogkumgit
Thanks for the answer, Assuming Microsoft planning to drop Basic Auth support in mid-2021, What is the ETA for releasing such a version which supports Search and Compliance? (As partners we need time to adapt our content in accordance with Microsoft requirements)

Thanks appreciate your answer

[2020-10-29 11:06] gtimread opened #6766 "Get-MessageTraceDetail can only search back 10 days, not 30"
The cmdlet description states that it can be used to search message data for the past 30 days. However when specifying a start date that is older than 10 days from today, an error is generated. It appears that the cmdlet can only search message data for the past 10 days, per the same time limit that applies to the Get-MessageTrace cmdlet.

example error message:
Invalid StartDate value. The StartD

[2020-10-29 11:36] mikedixson opened #6767 "Page needs updating, missing some arguments such as SpaceType"
Page needs updating, missing some arguments such as SpaceType

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af332a3-efc1-49aa-24c2-64b5031a2420
* Version Independent ID: f47bc209-aa9e-f337-1cfa-b8a727a9f780
* Content: [Set-Place (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/set-pla

[2020-10-29 12:52] dariomws commented on #6727
Hi @thuld, thank you for your feedback.

I didn't experience the same behaviour:
![image](https://user-images.githubusercontent.com/33589238/97575949-46fde800-19cc-11eb-87fb-a91fb893ad61.png)
![image](https://user-images.githubusercontent.com/33589238/97575960-4c5b3280-19cc-11eb-8684-1565b3743154.png)

For your inquiry, I need to kindly suggest opening a support ticket directly from your tenant's

[2020-10-29 12:59] dariomws commented on #6734
Hi @sebfil, thank you for your feedback and help us to improve docs.microsoft.com.

I have tried to connect to 3 different tenants, and I didn't get this exception. Maybe you can provide more detail so I can reproduce this behaviour.

[2020-10-29 14:29] dariomws commented on #6757
Hi @fernandoferrini, thank you for your feedback and help us to improve docs.microsoft.com.

I think the support to connect with a certificate object was added on September with the release of 2.0.3 version in General Availability, and you should be able to put the certificate in Azure Key Vault.

@navgupta1208 could you kindly help me to confirm this information? Thanks!

[2020-10-29 16:19] jordonthreadgill opened #6768 "Installed the newest Skype and Teams PowerShell Modules, but the TeamsEnvironmentName switch isnt recognized"
Hello,
I have recently installed the Skype PowerShell module and am trying to make a connection to a GCC-High tenant, but when I try using the switch for TeamsEnvironmentName, I get an error that a parameter cannot be found that matches the name.

I'm familiar with this switch in the Microsoft Teams module, but not (yet) the Skype related modules.  Current documentation shows that this is associat

[2020-10-29 16:57] gfournier04 opened #6769 "New-CsBatchPolicyPackageAssignmentOperation not Working anymore"
Hi,

I have this problem for two weeks now, I can't assign any package through the Teams Module to any users of my tenant, I tried to reinstall the module on an other computer, I tried with the full mail @, I tried with the user ID but none of it is working.

The other commands works fine and I'm using the latest version (1.1.6)

I wonder if I'm the only one having this issue...

PS C:\WINDOWS\sys

[2020-10-29 18:50] BrianMcNeese opened #6771 "Teams PowerShell Preview Notes"
Please consider adding notes on each of these cmdlets indicating if they are currently only in the preview module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6804423b-8e08-5916-9355-6bebe8bb08b0
* Version Independent ID: aa669763-6470-cc61-ea8d-52aee886f986
* Content: [MicrosoftTeamsPowerShell Module](https://docs.

[2020-10-29 19:34] dollar3010 commented on #5214
Thanks, guy for the info, is it possible to clear all the completed batch, there is a lot of completed job in my batch but I want them to clear?

[2020-10-29 20:10] get-itips commented on #6735
Hello @Bertug how are you?

Please see that the article currently says

Thanks for your feedback.

[2020-10-29 20:31] get-itips commented on #6690
Hello @xuegao0112 returning to understand if you could see my comment.
Thanks

[2020-10-30 08:58] jasonwbaxter commented on #6736
Seems this has now stopped working in the GUI as well since the update.

[2020-10-30 10:42] ricmik opened #6773 "Not possible to install preview version of ExchangeOnlineManagement following the documentation"
Installing a preview module following this documentation does not work.

1. -RequiredVersion does not allow "-Preview" to be a part of the version number
[code]

2. -AllowPrerelase is not a valid switch
[code]

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independe

[2020-10-30 12:03] get-itips commented on #6737
Hello @bsj17
What parameters are you exactly using with New-CsOnlineSession? are you using one of the examples found [here](https://docs.microsoft.com/en-us/powershell/module/skype/new-csonlinesession?view=skype-ps) ?
Thanks

[2020-10-30 12:51] bsj17 commented on #6737
Using following
$sfbSession = New-CsOnlineSession
Import-PSSession $sfbSession

[2020-10-30 14:09] dariomws commented on #6763
Hello @dtblodgett, thanks for your feedback.

For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/. There, your suggestion will reach the product team.

[2020-10-30 14:25] dtblodgett commented on #6763
I've submitted this feature request here:
[Import-RecipientDataProperty -SpokenName add support for M4A file format](https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/41794348-import-recipientdataproperty-spokenname-add-suppo)

[2020-10-30 16:33] chrisda commented on #6773
@ricmik, something else is going on. The _AllowPrerelease_ switch is definitely available in PowerShell 5.1 and 7.x, at least if the help for [Install-Module](https://docs.microsoft.com/en-us/powershell/module/powershellget/install-module) is to be believed.

[2020-10-30 18:51] get-itips commented on #6737
Ok so you are providing Credentials to SfB's New-CsOnlineSession?

[2020-10-30 18:57] get-itips commented on #6742
Thanks for your feedback. @nikki-c

[2020-10-30 19:04] bsj17 commented on #6737
No.  New-CsOnlineSession should pick-up token generated by Connect-MicrosoftTeams -CertificateThumbprint <certTumbp> -ApplicationId <AppID>-TenantId <TenantID>.

If I login interactivly with Connect-MicrosoftTeams then New-CsOnlineSession does pick token. Issue is when using AppID as security principal

[2020-10-30 20:18] dariomws commented on #6757
Looking to this in more detail, I think you're trying to use/get the certificate in a wrong way. You need to use a X509Certificate2 Object with the -Certificate parameter. For example:
[code]

See example 2: https://docs.microsoft.com/powershell/module/az.keyvault/get-azkeyvaultcertificate#example-2--get-cert-and-save-it-as-pfx.

[2020-10-30 21:28] get-itips commented on #6737
Ok, i am not sure if that you are trying to do, is supposed to work, as the method described [here](https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-install#sign-in) is using interactive logon.

Will try to do my own tests to verify if we need to adjust the documentation.
@tameemansari can you help on this one? I appreciate.

[2020-10-30 22:46] bsj17 commented on #6737
The goal is to use this with unattended script. How are we going to automate script if this will not work? :-)

[2020-10-31 13:19] dariomws commented on #6757
It works:
![image](https://user-images.githubusercontent.com/33589238/97780287-7c3c3e80-1b62-11eb-8662-ebc6c5610186.png)

[2020-10-31 15:36] get-itips commented on #6737
Branko, how are you? what I am saying is that maybe it is not yet released the use of CertificateThumbprint + ApplicationId in combination with New-CsOnlineSession, that is what I will try to confirm.

I could reproduce the scenario.

Thanks

[2020-10-31 20:06] DEberhardt commented on #6084
I know this is a minor (Displayname only) bug in a very specific niche of Office365 and the devs have probably other priorities, but I thought I follow up on all my open issues before the month is over and had a look at the output again:
[code]

No pressure, just wanted to see if it is still open 😺

[2020-11-01 07:26] GalRabin commented on #6716
@dariomws
Hi,
I left a comment in the article, I will update here also if any news from there.

[2020-11-01 18:38] jakubZylak opened #6777 "Missing parameters Set-CsTeamsMeetingPolicy"
Hi,
where i can find descriptions of these parameters Set-CsTeamsMeetingPolicy:

AllowIPAudio
AllowRecordingStorageOutsideRegion
AllowOrganizersToOverrideLobbySettings
AllowUserToJoinExternalMeeting
EnrollUserOverride
StreamingAttendeeMode
AllowBreakoutRooms
TeamsCameraFarEndPTZMode
AllowMeetingReactions

![Screenshot_1](https://user-images.githubusercontent.com/37347446/97811274-b8ae8e00-1c79-11e

[2020-11-02 06:11] yogkumgit commented on #6727
@dariomws  Thank you very much for the contribution and sharing this explanation. @thuld Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is re

[2020-11-02 06:20] yogkumgit commented on #6763
@dariomws Thank you very much for the contribution and sharing this explanation. @dtblodgett Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-02 06:20] #6763 closed

[2020-11-02 06:26] yogkumgit commented on #6735
@get-itips Thank you very much for the contribution and sharing this explanation. @Bertug Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-02 06:26] #6735 closed

[2020-11-02 07:39] thuld commented on #6727
@yogkumgit @dariomws You missed the point of this bug. You need to test this with a user where property `RemotePowerShellEnabled` is set to FALSE.

@dariomws In you tests returns the code in both cases TRUE.

[2020-11-02 07:47] thuld commented on #6727
@yogkumgit @dariomws This problem is confirmed by multiple users in our tenant

[2020-11-02 07:51] ricmik commented on #6773
Both issues were solved by updating the PowershellGet module.

[2020-11-02 07:51] #6773 closed

[2020-11-02 08:45] PBuskermolen opened #6778 "New-PnPTeamsTeam wrong examples"
Hello,

I just want to point out that the examples are wrong. They are about Get-PnPTeamsTeam but should be about New-PnPTeamsTeam.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f19f9ba-40cc-011b-5975-d3d6059769e3
* Version Independent ID: 0094ebb4-ca9a-147f-7f3f-fd63994397f3
* Content: [New-PnPTeamsTeam (SharePointP

[2020-11-02 08:50] AlanPS1 opened #6779 "Get-MailDetailATPReport - Issues with Startdate & Endate"
The docs linked below mention: "Use the short date format that's defined in the Regional Options settings on the computer where you're running the command. For example, if the computer is configured to use the short date format mm/dd/yyyy, enter 09/01/2018 to specify September 1, 2018. You can enter the date only, or you can enter the date and time of day. If you enter the date and time of day, en

[2020-11-02 09:23] bsj17 commented on #6737
Thanks @get-itips for looking into this.

[2020-11-02 12:31] dariomws commented on #6727
@thuld I thought the problem here is that when you connect to EXO and SCC PowerShell, you see different values for the same user. At least this is what I understand based on the title.

I tried again with an account with this value set to FALSE and I cannot connect to EXO PowerShell but can connect to SCC PowerShell. RemotePowerShellEnabled description in the Set-User article does not mention SCC,

[2020-11-02 12:49] dariomws commented on #6727
@thuld Also tried to connect with an account and then check the value RemotePowerShellEnabled for a different account with this set to FALSE, and here I can see that we see wrong value in SCC PS:
![image](https://user-images.githubusercontent.com/33589238/97869646-960b8c00-1cf0-11eb-9c33-20e87dac140c.png)
![image](https://user-images.githubusercontent.com/33589238/97869664-9c016d00-1cf0-11eb-88ba-

[2020-11-02 12:53] dariomws commented on #6716
@GalRabin thank you so much! I think it's a great idea to leave a comment here with the new information.

[2020-11-02 16:15] #6759 closed

[2020-11-02 16:28] markus-lassfolk opened #6781 "Add-TeamChannelUser Role Member is invalid"
In this page; https://docs.microsoft.com/en-us/powershell/module/teams/add-teamchanneluser?view=teams-ps

`Add-TeamChannelUser
   -GroupId <String>
   -DisplayName <String>
   -User <String>
   [-Role <String>]
   [<CommonParameters>]`

The Role Parameter only specify and accept, Owner;
`
Type: | String
Position: | Named
Default value: | None
Accept pipeline input: | True
Accept wildcard character

[2020-11-02 16:45] #6766 closed

[2020-11-02 18:11] get-itips commented on #6751
Hello @ioamnesia thanks for your feedback, will try to pass this along to the team, as here, we are limited to documentation issues. Thanks again.

[2020-11-02 18:16] get-itips commented on #6754
Thanks for reporting!

[2020-11-02 18:27] get-itips commented on #6764
Hello @johanburati
When asked by the cmdlet for the -DisplayName parameter, did you input the name of the **channel** ? Because if you put the name of the Team, you receive the error that you described.
Hope this information helps you.

[2020-11-02 20:46] get-itips commented on #6765
Hello @Murdos-AU
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

[2020-11-02 21:09] hollandjg commented on #6781
Might this be a problem with the underlying Graph-API? Has something there been changed which broke the PowerShell script?

[2020-11-03 00:42] gerane commented on #6781
I am impacted by this as well.

[2020-11-03 00:44] gerane commented on #6781
I am using the same version of the module that has been working. I am guessing something has changed on the graph api.

[2020-11-03 00:50] gerane commented on #6781
I'm not sure how this module is using the api, but this page shows roles should be empty unless the user is an owner or guest.

https://docs.microsoft.com/en-us/graph/api/conversationmember-update?view=graph-rest-beta&tabs=http

[2020-11-03 05:02] yogkumgit commented on #6765
@get-itips Thank you very much for the contribution and sharing this explanation. @Murdos-AU Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-03 05:02] #6765 closed

[2020-11-03 10:18] Zunade commented on #6781
impacted by this as well. More than one tenant in South Africa
Unable to add members to private channel via PowerShell and Teams Admin center
![TeamChannleUser](https://user-images.githubusercontent.com/73882158/97973325-9417fa80-1dce-11eb-8f08-8438e8940240.png)

[2020-11-03 10:37] Bora-bora-boot commented on #6781
Same here in New Zealand, exactly the same issue, first script stopped working ('member' is invalid error), now can't add members to a channel in Teams admin Center.

[2020-11-03 10:51] Eyadbaukhiran commented on #6781
We have just realized that we're facing the same issue. We are using Graph API though but I'm sure it's the same when using PowerShell. What worked for us is to remove the roles parameter when waning to add a "member". You only need to specify this parameter when adding an "Owner" or a "Guest". We believe that our script broke around a week ago. It was working till then. I hope this helps some of

[2020-11-03 12:39] get-itips commented on #6761
Hello @Craig-Humphrey Craig, how are you?
I tried that for you in my demo tenant, the cmdlet returned with no output as usual, I waited 24h and the site for the user did not appear to change.
Does that answers your question?
Thanks

[2020-11-03 13:50] tmills1073 commented on #6781
This is affecting me as well - just last week I was able to add members to private channels via powershell, but as of this am, the same scripts now return that error above.

[2020-11-03 15:53] suoko commented on #5139
Is PSGallery repo enough to enable this commandlet ?
I really need to add users to channels, can anyone write detailed instructions on how to proceed ?
Thanks

[2020-11-03 16:19] #6742 closed

[2020-11-03 16:21] BHollowell-LCI commented on #6781
+1 for impacted users. This is super important since it's the only way to bulk add users currently.

[2020-11-03 17:49] get-itips commented on #6736
Hello @jasonwbaxter Jason, how are you?
I am checking this if we need to update some article, is it giving you some of the known and documented [error codes](https://docs.microsoft.com/sharepointmigration/troubleshooting-common-spmt-issues#spmt-error-codes)?
Thanks

[2020-11-03 20:23] Craig-Humphrey commented on #6761
Thanks @get-itips. Yeah, I tried the same thing - but just because visually nothing appeared to change on the users personal site, doesn't mean something hasn't changed in the background.

I just want to make sure it's OK to run this against all the users in my tenant and not worry about the ones that already have a personal site.

[2020-11-03 20:25] get-itips commented on #6761
Will try to reach the Team.

[2020-11-04 00:46] simonjmccash commented on #6781
I just received the following info from Microsoft on a case I had raised for this issue yesterday:

In the meantime you can use Graph API add users to channels:

You'll need to give graph explorer or another service principal channelmember.read.all and channelmember.readwrite permissions and consent them as an Admin.

In this example Graph Explorer is used:

We need firstly add the user to the tea

[2020-11-04 00:48] sprider commented on #6648
@get-itips I am doing good and hope the same from you. Sure, I will check in user voice. Let us close this.

[2020-11-04 04:47] beckettc opened #6793 "The term 'Connect-ExchangeOnline' is not recognized as the name of a cmdlet,"
Is this article out of date?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Independent ID: 4d69ee5d-5a6d-a203-69fe-bf5441a8b5eb
* Content: [Connect to Exchange Online PowerShell](https://docs.microsoft.com/en-us/powershell/exchange/connect-to-exchang

[2020-11-04 08:57] mrzyko opened #6794 "New-CsGroupPolicyAssignment - Not applying anything"
Is New-CsGroupPolicyAssignment released to early or is it me that is missing any steps.
I just cannot get New-CsGroupPolicyAssignment to work.
I have a security group "Group1" and I want the members of that group to have a TeamsAppSetupPolicy "Policy1" applied.
I am creating the policyassignment using the New-CsGroupPolicyAssignment

New-CsGroupPolicyAssignment -GroupId [groupid] -PolicyType Teams

[2020-11-04 12:46] #6648 closed

[2020-11-04 14:13] suoko commented on #6781
Confirm.
This addteamschanneluser commandlet is very useful to add members to private channels by reflecting the members of dynamic groups which are based on some AD field.
This way I could have a private channel which contains members with some AD field in common like dept, city, etc

[2020-11-04 16:23] chrisda commented on #6793
@beckettc, did you load the module first (step 1)?

[code]

If you've [installed the module](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2?view=exchange-ps#install-and-maintain-the-exo-v2-module) and you load it, the Connect-ExchangeOnline command will work.

[2020-11-04 16:24] #6754 closed

[2020-11-04 16:30] #6744 closed

[2020-11-04 17:18] jordonthreadgill commented on #6768
I believe I was impacted by last Friday's PSGallery outage.  I was finally able to re-install the modules on Monday, and things worked as expected.

Thanks,

[2020-11-04 17:18] #6768 closed

[2020-11-04 17:25] phild2015 commented on #5139
Same issue, I accidentally removed myself as owner of a private channel in Teams and could not add myself back.  Here is what worked for me:

Deleted the current module for Teams (I had 1.1.6 installed) at C:\Program Files\WindowsPowerShell\Modules\MicrosoftTeams

Installed version 1.1.3 with PS C:\WINDOWS\system32> Install-Module -Name MicrosoftTeams -RequiredVersion 1.1.3-preview -AllowPrereleas

[2020-11-05 09:50] Weishaupt opened #6799 "-EnforceCapacity not documented"
When I execute `Get-CalendarProcessing | Select *` I can see the property `EnforceCapacity` This is currently undocumented. `Set-CalendarProcessing` also allows to pass the parameter `-EnforceCapacity $true` or `-EnforceCapacity $false` to the respective mailbox which again is missing any documentation here. I guess this is a new feature?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-11-05 16:00] preavy opened #6800 "Clarify use of cmdlet"
The cmdlet documentation does not mention which site you must have as your PnPConnection in order to add an app.

A casual user might try to connect to the tenant admin site for instance.

You must be specifically connected to the site which contains the app catalog.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8096

[2020-11-05 19:35] #6725 closed

[2020-11-05 19:42] #6724 closed

[2020-11-05 21:22] fernandoferrini commented on #6757
Thanks Darío, it worked. You can close the issue.

Regards,

[2020-11-05 21:22] #6757 closed

[2020-11-05 23:25] qaehtesh opened #6804 "Document Update Request for the default value of parameter PublishEnabled"
Document Update Request for the default value of parameter PublishEnabled.

The value of parameter PublishEnabled is false by default and I confirmed this with engineering as oppose to what the documentation is saying as below and needs to be updated.

https://docs.microsoft.com/powershell/module/exchange/set-mailboxcalendarfolder

PublishEnabled
The PublishEnabled parameter specifies whether the

[2020-11-05 23:57] FeliciaC-1 opened #6806 "Get-SPOSite Cannot do multiple filters"
I am trying to do multiple filters on Get-SPOSite, e.g. -Filter "{Url -notlike '-my.sharepoint.com' -and Template -eq 'SITEPAGEPUBLISHING#0'}"  But this does not seem to work.

There is no information on MS docs page about this so I'm not sure if this is possible or not.  Microsoft needs to update this page to inform user if it is possible or not: https://docs.microsoft.com/en-us/powershell/module

[2020-11-06 00:13] chrisda commented on #6804
@qaehtesh, I fixed it. But in the future, you too can make simple fixes like this yourself without the need to open an Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell>.

Thanks for the feedback.

Closing.

[2020-11-06 00:15] qaehtesh commented on #6804
Awesome, thank you Chris, i will take care of it onwards following above url

[2020-11-06 00:16] #6804 closed

[2020-11-06 13:36] suoko commented on #5139
Having Owner as the only role possible is not that practical.
Do we have a solution to add a user as a member ? What about using graph api to do this, would it be possible ?

[2020-11-06 13:39] get-itips commented on #5139
If you do not specify -Role parameter, it will be added as regular user.

[2020-11-06 13:53] suoko commented on #5139
Unfortunately no, it's not added at all.
I also noted another problem (minor in this case) with Public teams. You can't add a user to a channel if the user is not a member, I should add it as member first.

[2020-11-06 14:20] get-itips commented on #5139
Sorry, I misread your original inquiry, as the cmdlet is still part of the **public preview**, it is subject to changes and testing, so in this case I would recommend to wait for the command to be available in the GA version of the module for the final version of it and also if you want to suggest changes to the cmdlet I would suggest [uservoice](https://microsoftteams.uservoice.com/), that way, i

[2020-11-08 01:13] Lady-MCSE opened #6812 "Suggest adding link to resume command"
Document is pretty good.  However there is a companion command to this one, which is to resume the service after it's been suspended. Suggest adding a link to that somewhere in this article.

https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/resume-spenterprisesearchserviceapplication?view=sharepoint-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-11-09 13:53] yogkumgit commented on #6734
@dariomws Thank you very much for the contribution and digging deep into it.  @sebfil We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentat

[2020-11-09 13:53] #6734 closed

[2020-11-09 13:59] #6716 closed

[2020-11-09 14:07] yogkumgit commented on #6764
@get-itips Thank you very much for the contribution and sharing this explanation. @johanburati Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-09 14:07] #6764 closed

[2020-11-09 14:29] #6743 closed

[2020-11-09 14:32] yogkumgit commented on #6737
@get-itips Thank you very much for the contribution and sharing this explanation. @bsj17 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-09 14:35] #6702 closed

[2020-11-09 14:37] #6690 closed

[2020-11-09 14:41] yogkumgit commented on #6659
Closing here, will be addressed in #6343

[2020-11-09 14:44] #6432 closed

[2020-11-09 15:10] yogkumgit commented on #6632
@dariomws Thank you very much for the contribution and digging deep into it.  @jebalert We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this document

[2020-11-09 15:10] #6632 closed

[2020-11-09 15:11] get-itips commented on #6574
Thanks for your feedback @hwkwicre

[2020-11-09 15:23] get-itips commented on #6284
I've just ran the 2nd example and worked without issues.

[2020-11-09 16:51] WayneEwington commented on #6761
Just confirming that a User can only have one OneDrive. As such we will "silently" ignore the request to provision another OneDrive if it already exists.

[2020-11-09 17:43] get-itips commented on #6761
Many thanks on the confirmation.

@yogkumgit please close

[2020-11-09 17:47] dataCollegechurch opened #6814 "Link not clickable"
The link to this video isn't clickable [!Video https://www.youtube.com/embed/TMzHAWEQjlk]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05b23d72-33ed-a6a1-a442-a5e5cf039f9f
* Version Independent ID: 4247cf37-3667-2007-7251-46ed80f58ef5
* Content: [Get started with the SharePoint Online Management Shell](https://docs.m

[2020-11-09 17:52] dataCollegechurch commented on #6814
submitted pull request

[2020-11-09 21:40] #6574 closed

[2020-11-10 01:15] JoanneHendrickson commented on #6736
Hi Andres -- i am contacting the product team to help will ping you on email.

[2020-11-10 04:08] Craig-Humphrey commented on #6761
Awesome! Thanks @WayneEwington This time last year Damon and I were visiting you!

[2020-11-10 04:14] #6284 closed

[2020-11-10 04:16] yogkumgit commented on #6761
@get-itips Thank you very much for the contribution and sharing this explanation. @Craig-Humphrey Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-10 10:43] qosobrin opened #6820 "RecordType entries should be further explained"
Maybe you think RecordType entries are self explanatory but I do not feel like that 😄 .  Some times I have serious doubts of which one I should use. A couple of examples:

- is `SharePointFileOperation` also useful for folder activities?
- for searching who deleted a file in a Microsoft 365 group, which RecordType should I use? `OneDrive` or `SharePoint`?

Of course I do not mean for you to answer

[2020-11-10 13:33] get-itips commented on #6736
Many thanks Joanne.

[2020-11-10 16:28] scottclarke1 opened #6821 "-TargetSharingEpr Missing"
-TargetSharingEpr as a parameter is missing from the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffdead14-eab9-1f0e-4cf4-0036e9631b93
* Version Independent ID: 4b5f8e6a-4f93-859c-9360-708420f070dd
* Content: [Set-IntraOrganizationConnector (ExchangePowerShell)](https://docs.microsoft.com/en-us/powersh

[2020-11-10 16:45] philrice commented on #6794
I have similar issues , also in a EDU tenant, were by a policy assignment we set back in July to our main staff groups  has stopped working. It was working without issues until late 2nd Nov or 3rd of Nov and now the a group assigned policy simply does not apply anymore. We have it assigned to 2 groups and both have stopped working without any changes being made to the configuration or related serv

[2020-11-10 16:53] AlanPS1 commented on #6779
Hi @yogkumgit . How are you getting on. Are you finding any potential solutions here or am I missing anything?

Thanks in advance for taking the time to have a look.

Alan

[2020-11-10 17:59] chrisda commented on #6821
@scottclarke1, added to New/Set-IntraOrganizationConnector. I copied and modified the existing description from New/Set-OrganizationRelationship, so [feel free to update the description](https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md) if it's wrong.

Thanks for the feedback.

Closing

[2020-11-10 17:59] #6821 closed

[2020-11-10 18:29] chrisda commented on #6820
@qosobrin, I replaced the static list of values in the RecordType or RecordTypes parameter description with:

For details about the available values, see the RecordType property description in [Detailed properties in the audit log](https://docs.microsoft.com/microsoft-365/compliance/detailed-properties-in-the-office-365-audit-log).

In the following cmdlet reference topics:

- New-ActivityAlert
-

[2020-11-10 20:01] theguru0 opened #6826 "Error in command"
This:  Remove-SPClaimMapping "Email" | Get-SPIdentityProvider "LiveIDSTS"

Should be this I think:  Remove-SPClaimTypeMapping "Email" | Get-SPTrustedIdentityTokenIssuer "LiveIDSTS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed910c3d-f022-8661-8efe-82ecf69b18d1
* Version Independent ID: cdc26b7

[2020-11-10 20:35] qosobrin commented on #6820
Sorry to insist after closing the issue. With these changes now we do not have a reference of the available RecordTypes anywhere. I agree with your removing of the static list from the commandLet reference page but I think that data should be moved to the linked page, not completely removed.

Thank you very much.
Best regards.

[2020-11-10 21:15] MushyMiddle opened #6827 "Please update the release notes to include changes in 2.0.4, as we're tracking a number of issues in 2.0.3"
Please add change information for 2.0.4, or publish them as comments to this or other issues opened.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Content: [About the Exchange Online PowerShell V2 module](https://docs

[2020-11-10 21:40] chrisda commented on #6820
@qosobrin, believe it or not, those numbers in that topic are values for the RecordType parameter (you can use a numerical value or the text value). Coincidentally, I was speaking to the owner of that topic, and he suggested an even better target, which I used instead: <https://docs.microsoft.com/office/office-365-management-api/office-365-management-activity-api-schema#auditlogrecordtype>.

I was

[2020-11-11 02:17] theguru0 opened #6829 "Error on page"
[Enter feedback here]
-name doesn't seem to be a valid argument.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f874348e-9bde-381a-8736-e46233d88eea
* Version Independent ID: 10042bea-1a21-f423-db60-4c2f0703ff96
* Content: [Remove-SPTrustedRootAuthority (SharePointServer)](https://docs.microsoft.com/en-us/powershell/mo

[2020-11-11 07:04] qosobrin commented on #6820
Thank you very much. It is much better now.

[2020-11-11 23:39] paul9955 opened #6832 "cmdlet replacements not correct"
Hi, I submitted feedback a couple of weeks ago about two retiring cmdlets and you responded quickly -- thank you! It appears that the correction in the topic is not correct; I might have given you bad info. The edits are in this section:
https://docs.microsoft.com/en-us/powershell/exchange/exchange-online-powershell-v2?view=exchange-ps#how-the-exo-v2-module-works in this table:

![image](https://u

[2020-11-12 00:25] chrisda commented on #6832
@paul9955, OK. Updated as you described.

Thanks for the feedback.

Closing

[2020-11-12 00:25] #6832 closed

[2020-11-12 10:42] gfournier04 commented on #6769
Hello, is there any news concerning this issue ? Is it only me or is this a general problem ?

[2020-11-12 12:52] get-itips commented on #6769
Hello @gfournier04
I tested the cmdlet to see if we need to impact any documentation based on your feedback, I am using module version 1.1.6, and had no issues at all.
I recommend opening a support ticket as here we are limited to documentation issues.
Hope this information helps you.
Thanks

[2020-11-12 12:55] get-itips commented on #6771
Hello @BrianMcNeese Brian, how are you?

That information was added here [Microsoft Teams PowerShell Release Notes - Cmdlet availability](https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes#cmdlet-availability) recently.

Thanks for your feedback.

[2020-11-12 13:58] gfournier04 commented on #6769
Thanks a lot :) now I know the problem comes from me or my tenant.
I will try to fix my issue then
Best regards.

[2020-11-12 13:58] #6769 closed

[2020-11-12 14:42] davidtrevor23 commented on #6760
I have the same problem with Exchange Online. Wildcard does not work at all

[code]

[2020-11-12 15:06] get-itips commented on #6769
Thanks for returning and sharing your feedback.

[2020-11-12 16:56] get-itips commented on #6777
Hello @jakubZylak

How are you? AllowRecordingStorageOutsideRegion is already present in the [Set-CsTeamsMeetingPolicy](https://docs.microsoft.com/en-us/powershell/module/skype/set-csteamsmeetingpolicy?view=skype-ps) article but not the others, adding them now, it can take some time for the article to be updated. Many thanks for your feedback.

[2020-11-12 17:24] get-itips commented on #6781
Hello everyone on this thread.

As the cmdlet is [still part of the public preview](https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes), it is subject to changes and testing, so in this case I would recommend to wait for the command to be available in the GA version of the module for the final version of it and also if you want to suggest changes to the cmdlet I would s

[2020-11-12 17:34] get-itips commented on #6794
Hello @mrzyko how are you?
I tested the cmdlet and had no issues to assign a policy to a group.
As here we are limited to documentation fixes, I suggest open a support ticket, they will be able to help you with your specific scenario.
Thanks

[2020-11-12 18:33] andrePKI opened #6836 "Disconnect after Connect-IPPSSession ?"
Like `Connect-ExchangeOnline` / `Disconnect-ExchangeOnline` is there also a **Disconnect-...** counterpart to `Connect-IPPSession`?
In other words is there a way to disconnect or terminate the session?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 945ab2ea-22ae-814f-8898-fe84b7f29870
* Version Independent ID: 5383d152

[2020-11-12 19:10] Mike19130 opened #6837 "What's the module name which has all these awesome commands?"
Didn't see it on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2648ec32-2716-4f6e-20f1-1a989aa8cc45
* Version Independent ID: 53e81f24-1e27-9c50-439b-7916e7d1045d
* Content: [SkypeForBusiness Module](https://docs.microsoft.com/en-us/powershell/module/skype/?view=skype-ps)
* Content Source: [skype/skype-ps/sk

[2020-11-12 20:56] chrisda commented on #6836
@andrePKI, no. But, Disconnect-ExchangeOnline works on sessions created with Connect-IPPSSession. See <https://docs.microsoft.com/powershell/exchange/connect-to-scc-powershell>.

[2020-11-13 01:38] damianscoles opened #6841 "Get-ExOMailboxFolderStatistics does not have a switch for 'IncludeAnalysis' - Update Example2"
When you attempt to use the 'IncludeAnalysis' Switch, an error is thrown by the cmdlet:

_Get-ExOMailboxFolderStatistics : IncludeAnalysis is not a supported parameter.​
At line:1 char:1
+ Get-ExOMailboxFolderStatistics -Identity damian@practicalpowershell.c ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ProtocolError: (:) [Get-EXOMailboxF

[2020-11-13 10:38] duracellkonijn22 opened #6842 "-ZapEnabled option not found?"
Hello

We are using Powershell to implement quick SPAM filter setting inside Office365, but recently we encountered the problem that the "-ZapEnabled" option is not found.

Is this option replaced with another option? On the document page here, the option is still available, but inside the command not anymore.

Thanks for feedback about this case.
---
#### Document Details

⚠ *Do not edit this sec

[2020-11-13 11:17] Eric2XU opened #6843 "Not enough information to be successful"
Due to a bug in the GUI I was not able to add a member to the case. I was relived to see a powershell cmdlet as a backup. That however was short lived. All this page says is to use Exchange Online Module. Note it doesnt say which one (the new v2 one or the old) nor does it bother to mention even after connecting using connect-exchangeonline you still must also use the following:

Connect-IPPSSessi

[2020-11-13 11:39] webash commented on #6760
Understood @chrisda ; but ultimately the documentation is being a bit too vague, then.

[2020-11-13 13:14] yogkumgit commented on #6771
@get-itips Thank you very much for the contribution and sharing this explanation. @BrianMcNeese Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-13 13:14] #6771 closed

[2020-11-13 13:19] yogkumgit commented on #6781
@get-itips Thank you very much for the contribution and sharing this explanation. @markus-lassfolk Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-13 13:19] #6781 closed

[2020-11-13 13:21] yogkumgit commented on #6794
@get-itips Thank you very much for the contribution and sharing this explanation. @mrzyko Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-13 13:21] #6794 closed

[2020-11-13 13:32] yogkumgit commented on #6321
@hirenshah1 awaiting your response, please help. Thanks

[2020-11-13 14:36] get-itips commented on #6778
Hello @PBuskermolen
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one

[2020-11-13 14:43] get-itips commented on #6800
Hello @preavy Peter

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this on

[2020-11-13 14:51] get-itips commented on #6806
Hello @FeliciaC-1 how are you?
I tested this to see if we need to impact the documentation.
I was able to successfully filter multiple properties:
![image](https://user-images.githubusercontent.com/36666927/99084974-3c774d00-258d-11eb-9645-7f5597a492cd.png)

However, Template isn't allowed to be used as filter:

![image](https://user-images.githubusercontent.com/36666927/99085037-544ed100-258d-11e

[2020-11-13 14:53] get-itips commented on #6806
On further testing, I was able to use Template as filter but only if it is the only filtered property, will propose an edit to the article. Thanks

[2020-11-13 18:39] duracellkonijn22 commented on #6842
Hello

Thanks for the answer. The parameter is indeed completely gone. I've used it inside a powershell command but then i know now i can replace them with the two other parameters.

Kind regards

Hendrik
________________________________
From: Chris Davis <notifications@github.com>
Sent: Friday, November 13, 2020 7:34:02 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.g

[2020-11-13 18:42] chrisda commented on #6843
@Eric2XU, the first line of that topic (and every other Security & Compliance Center PowerShell only cmdlet reference topic) says:

That brief topic contains everything you need to know, including a link to the [Connect to Security & Compliance Center PowerShell](connect-to-scc-powershell.md), which contains everything you need to know about how to connect.

[2020-11-13 19:32] dariomws commented on #6779
Hi @AlanPS1, thank you for your feedback and help us to improve docs.microsoft.com.

Unfortunately, I don't have a tenant where I can test the functionality of this cmdlet. So for this inquiry, I need to kindly suggest opening a support ticket directly from your tenant's administration. They will be able to help better. Then, if there is some update to apply to the article I can do it.

Support UR

[2020-11-13 19:38] dariomws commented on #6827
Hi @MushyMiddle, thank you for your feedback and help us to improve docs.microsoft.com.

Version 2.0.4 is still in preview and the latest current (stable) release is 2.0.3. More information:
https://www.powershellgallery.com/packages/ExchangeOnlineManagement

[2020-11-13 20:23] get-itips commented on #6814
can you link to it? thanks

[2020-11-13 20:27] get-itips commented on #6812
Thanks for your feedback @Lady-MCSE

[2020-11-13 21:36] get-itips commented on #6826
Thanks for your feedback @theguru0

[2020-11-13 21:39] get-itips commented on #6829
Many thanks for your feedback @theguru0

[2020-11-14 00:56] chrisda commented on #6841
@damianscoles, done. The IncludeAnalysis parameter is available, but it returns the error you mentioned, so I included the parameter in the topic with the "reserved for internal Microsoft use" description. After a healthy investigation, there are ~16  of these "available, but don't work" parameters across ~5 of these Get-EXO cmdlets. I added and noted them accordingly.

Thanks for the feedback.

C

[2020-11-14 00:56] #6841 closed

[2020-11-14 02:01] #6767 closed

[2020-11-14 02:20] AlanPS1 commented on #6779
Hi @dariomws . I actually have one open already on this. They suggest updating the docs to reflect that the time cannot be evaluated. My concern is that without filtering using -EventType then the results are constrained to 10,000 results. This would be more manageable if there were an easy way to get an accurate list of all event types but I'm not sure that is available. I compared the event type

[2020-11-14 12:12] Ricasti opened #6852 "There isn't any command in "run this command in a Command Prompt:""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 020cb24c-1561-e16b-7652-88c9c40f5b11
* Version Independent ID: 8aeac288-74f9-36ea-3bbc-6e16399f7a34
* Content: [V1 module - Connect to Exchange Online PowerShell using MFA](https://docs.microsoft.com/en-us/powershell/exchange/v1-module-mfa-connect-to-

[2020-11-15 07:22] AbdallahmGalal opened #6856 "[-PreferenceMoveFrequency <TimeSpan>] | upper limit"
[Enter feedback here]

From a recent case opened with MS support, it was found that setting this value higher than 49.7 days is causing the MSExchangeRepl.exe to crash on all the DAG members.

Upon investigation, it was found that the TimerConstructor when passed a value higher than 2^32-2 causes the service to crash with ArgumentOutOfRangeException

\\
[12:53:39] Exception: E0434F4D.System.Argume

[2020-11-15 12:37] Eric2XU commented on #6843
I still think you should make a note about it, the page saying it uses exchange module to someone who uses the exchange module would not realize to bother clicking the page that talks about how to connect to it. I mean these pages are to help people right? Here is a customer telling you this page failed to highlight an important fact. No only did this page fail me, it generated a call to support w

[2020-11-16 06:47] yogkumgit commented on #6778
@get-itips Thank you very much for the contribution and sharing this explanation. @PBuskermolen Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 06:47] #6778 closed

[2020-11-16 06:50] yogkumgit commented on #6800
@get-itips Thank you very much for the contribution and sharing this explanation. @preavy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 06:50] #6800 closed

[2020-11-16 06:54] yogkumgit commented on #6842
@chrisda Thank you very much for sharing this explanation. @duracellkonijn22 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 06:54] #6842 closed

[2020-11-16 06:59] yogkumgit commented on #6827
@dariomws Thank you very much for the contribution and sharing this explanation. @MushyMiddle Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 06:59] #6827 closed

[2020-11-16 07:05] hirenshah1 commented on #6321
@stoff75 you have mentioned that admin is cloud only user. So it is not clear if the user has required admin rights for on premise also. Can you please check if all the required admin rights are enabled as per -

https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/move-users-between-on-premises-and-cloud#prerequisites

Required administrative credentials
To move users between on premises and

[2020-11-16 07:14] yogkumgit commented on #6793
@chrisda Thank you very much sharing this explanation. @beckettc Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 07:14] #6793 closed

[2020-11-16 07:16] #6799 closed

[2020-11-16 07:20] yogkumgit commented on #6321
@hirenshah1 Thank you very much for sharing this explanation. @stoff75 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 07:20] #6321 closed

[2020-11-16 11:41] itpro-tips opened #6858 "Remove-ManagementRoleEntry doesn't accept value from pipeline in Exchange Online"
The parameter _Identity_ is indicated as _Accept pipeline input:_
In Exchange Online, this is not true:
`Cannot process argument transformation on parameter 'Identity'. Cannot convert value "Contacts-Creation" to type "Microsoft.Exchange.Configuration.Tasks.RoleEntryIdParameter"`

Another blog says the same: https://blog.rmilne.ca/2015/02/05/remove-multiple-management-role-entries-in-office-365/

[2020-11-16 17:17] chrisda commented on #6852
@Ricasti, I presume you are referring to the third instance in the "Install the Exchange Online Remote PowerShell Module". That appeared to be a leftover reference that's no longer needed (all of that is already explained in the "What do you need to know before you begin?" section), so I removed it.

Thanks for the feedback.

Closing

[2020-11-16 17:17] #6852 closed

[2020-11-16 17:23] chrisda commented on #6856
@AbdallahmGalal, based on what you are saying, is the existing statement in the parameter description valid or invalid?

To disable this feature, specify the value `([System.Threading.Timeout]::InfiniteTimeSpan)`.

[2020-11-16 17:37] chrisda commented on #6799
@Weishaupt, thanks for the feedback. That new parameter (and another one) was waiting for approval to publish. Based on your feedback, I published the updates.

[2020-11-16 18:25] nExoRek opened #6859 "get-mailboxfolder doesn't work in EXO"
examples show usage: get-MailboxFolder -identity Tony and get-MailboxFolder -identity Tony: to get the list of the folders.
i tired all combination - alias,primarySMTP,sam,upn with colon, without it, with colon and slash :\, only slash...
it always returns:
Cannot convert value to type "Microsoft.Exchange.Configuration.Tasks.MailboxFolderIdParameter"

when running get-MailboxFolderStatistics i rec

[2020-11-16 18:36] chrisda commented on #6858
@itpro-tips, you're right, but I'm unsure of what to do about it.

It turns out this is a remote PowerShell problem; using the Exchange Management Shell in an on-prem Exchange server works fine.

[code]

Running that same command while connected to the same server using remote PowerShell results in an error.

[2020-11-16 19:04] AbdallahmGalal commented on #6856
Hi Chris,

I ‘ve not tested that personally but I assume yes, this parameter turns off the feature completely.

If you want to keep it running, then the admin should provide a value,  and this is left open in this doc. with no cap however in reality the value can’t be higher than 49.7 days as the max value for 32bit timespan object, otherwise the MSExchangeRepl service will start crashing with and

[2020-11-16 19:42] chrisda commented on #6859
@nExoRek, I can see the confusion. From the topic:

I updated the examples to not specify the MailboxID. The way the examples were previously written, they would only work if you were the user 'Tony'. Since you're always operating on your own mailbox, you don't need to (or can't) specify the mailbox.

Thanks for the feedback.

Closing

[2020-11-16 19:42] #6859 closed

[2020-11-16 19:48] chrisda commented on #6856
Thanks, I'll leave that line in there.

I updated the topic as you described.

Thanks for the feedback.

Closing

[2020-11-16 19:48] #6856 closed

[2020-11-16 21:09] dariomws commented on #6779
Hi @AlanPS1, thank you again for your feedback.

I think the best place to get help with this cmdlet is support, as I'm not able to check it together with you. I think you should work with them to report this feedback because I think -StartDate and -EndDate should work as it's documented.
Also, if you want to suggest new features, the best place is user voice:
https://office365.uservoice.com/forum

[2020-11-16 21:35] chrisda commented on #6843
Essentially, what you're suggesting is replacing the existing "What is Security & Compliance Center PowerShell" link with a "How to connect to Security & Compliance Center PowerShell" link. Interesting idea. I'll think about it.

[2020-11-16 22:37] chrisda commented on #6760
Looking into it. Asking knowledgeable parties about intent and how it works.

[2020-11-17 06:28] AbdallahmGalal commented on #6856
When this will reflect in the online version?

From: Chris Davis <notifications@github.com>
Sent: Monday, November 16, 2020 9:49 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Abdallah Galal <Abdallah.Galal@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] [-PreferenceMoveFrequency <TimeSpan>] | upp

[2020-11-17 07:08] yogkumgit commented on #6779
@dariomws  Thank you very much for the contribution and sharing this explanation. @AlanPS1 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2020-11-17 15:51] AlanPS1 commented on #6779
Hi @yogkumgit . Did you manage to test it at all? I have a service ticket open but no further forward yet I'm afraid.

[2020-11-17 16:11] #6806 closed

[2020-11-17 16:24] #6814 closed

[2020-11-17 16:52] dariomws commented on #6779
Hi @AlanPS1,

My apologies but we cannot test it and help you here. The best way to work on this issue is by working together with support, as I cannot support you or work together in a shared session.

We'll proceed to close this issue. After the support ticket is closed if there is something to update in the article share the outcome or resolution and the ticket number.

Thank you again!

[2020-11-17 16:57] AlanPS1 commented on #6779
No problem @dariomws. I chased it up earlier so I will definitely feed back any outcomes. Thanks again for your assistance and input.

Thanks, Alan

[2020-11-17 17:12] #6812 closed

[2020-11-17 17:28] chrisda commented on #6856
Sorry, I forgot to merge Master to Live. It should be visible within a few minutes.

[2020-11-17 17:33] chrisda commented on #6746
@damianscoles, fixed. In the future, you too can make correction like this yourself without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2020-11-17 17:33] #6746 closed

[2020-11-17 17:35] chrisda commented on #6820
Thanks for the feedback.

Closing

[2020-11-17 17:35] #6820 closed

[2020-11-17 19:51] cclayton18 opened #6865 "Exchange isn't a selectable API permission"
In Step 2 we are told to select Exchange (shown in the screenshot under legacy APIs) and select Exchange.ManageAsApp, but no such card or permission is available to select.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c465a6d5

[2020-11-17 20:37] #6826 closed

[2020-11-17 20:46] #6829 closed

[2020-11-17 20:58] #6777 closed

[2020-11-17 21:25] chrisda commented on #6865
Confirmed. Looking into it.

[2020-11-18 08:31] #6779 closed

[2020-11-18 09:08] #6659 closed

[2020-11-18 13:29] srekkas opened #6866 "Connection status"
How to get  Connect-ExchangeOnline status, so I can add some logic if application already connected or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Content: [About the Exchange Online PowerShell V2 module](https

[2020-11-18 13:46] dariomws commented on #5381
@yogkumgit it was fixed on the following PR:
https://github.com/MicrosoftDocs/office-docs-powershell/pull/6775

Please close it. Thanks!

[2020-11-18 13:51] Smiliman commented on #6865
@chrisda Thanks for your investigation - same confusion about missing Exchange.ManageAsApp here.

[2020-11-18 14:59] Wardo99 opened #6867 "On this page the -filter switch takes about an example and then doesn't list an example. No examples anywhere on the article"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d30e4426-1f64-e5aa-4e40-f844ec04163e
* Version Independent ID: b2b90bad-0215-4569-72c3-5de4fed16a35
* Content: [Get-CsTeamsMeetingBroadcastPolicy (SkypeForBusiness)](https://docs.microsoft.com/en-us/powershell/module/skype/get-csteamsmeetingbroadcastp

[2020-11-18 16:29] chrisda commented on #6866
@srekkas, you can use Get-PSSession to find the connection status:

[code]

[2020-11-19 02:41] Craig-Humphrey opened #6870 "Set-PnPListItem not working for Created, Modified or Editor"
Not entirely sure if this is the right place (it seems to have sent me to the documentation GitHub, instead of the Uservoice...) but I'll log it here first (I know MS watch this and act on it) and then see if I can find something on Uservoice.

Back in the day, if you were using traditional SharePoint PowerShell to create new items in a list/library, you had to put Created, Author, Editor and Modi

[2020-11-19 06:17] srekkas commented on #6866
Ok, thanks

[2020-11-19 06:17] #6866 closed

[2020-11-19 14:48] simon-scym opened #6872 "Obsolete info"
Hi there, the document suggest to use the Legacy Apps for the API Rights, unfortunately Exchange is no longer listed in the Legacy apps.  Can you update with the new way to do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c4

[2020-11-19 15:57] borismilincic opened #6873 "API permissions - "Exchange" under "Supported legacy APIs" missing"
The screenshot in step 2 is wrong. There is no "Exchange" under "Supported legacy APIs" anymore (it was there a couple of weeks ago). I found the Exchange API when I changed to the tab "APIs my organization uses" and searched for the API ID (00000002-0000-0ff1-ce00-000000000000 in this case). This should be reflected in the article.

Other question: As this was listed in the "Supported legacy APIs

[2020-11-19 15:58] #6873 closed

[2020-11-19 15:58] borismilincic commented on #6865
I found the Exchange API when I changed to the tab "APIs my organization uses" and searched for the API ID (00000002-0000-0ff1-ce00-000000000000 in this case). This should be reflected in the article.

Other question: As this was listed in the "Supported legacy APIs" section before, is there a date when this will stop working? If so, where is it documented? Is there a way to use other APIs when us

[2020-11-19 16:12] chrisda commented on #6872
@simon-scym, this is a known issue, and is already being tracked in #6865.

Thanks for the feedback.

Closing

[2020-11-19 16:12] #6872 closed

[2020-11-19 16:21] chrisda commented on #6873
Duplicate of #6865

[2020-11-19 16:28] ronnyholtmaat opened #6874 "Can't select 'Legacy Exchange API permissions' and / or Exchange.ManageAsApp"
Hi,

When configuring in my AAD P1 tenant, following Step 2, Task number 5.

In the process of selecting API permissions, I can't select **Exchange** in the  **Supported legacy APIs** (no longer supported?)
Or _"In the Select permissions section that appears on the page, expand Exchange and select **Exchange.ManageAsApp**"_

Is there a Microsoft Graph API Alternative for App-only authentication fo

[2020-11-19 16:29] #6874 closed

[2020-11-19 16:40] ronnyholtmaat commented on #6865
That's probably only the case when you already are using the Legacy API. When you are **not using the Legacy Exchange API,** - in myt case - then it is **not** possible to select it. (also not under API's my organization uses).

Is there a Microsoft Graph API Alternative for App-only authentication for unattended scripts in the EXO V2 module?
Or Microsoft Graph API Alternative for Exchange.ManageA

[2020-11-19 16:43] chrisda commented on #6874
Duplicate of #6865

[2020-11-19 19:51] jrdgitter opened #6875 "New-CSCallQueue missing ability to add groups"

[2020-11-19 19:54] #6875 closed

[2020-11-19 19:54] jrdgitter commented on #6875
Sorry - It's DistributionLists

[2020-11-19 20:30] psrarey opened #6876 "Missing Cmdlet: Get-CsUnassignedNumber"
Modules:
  MicrosoftTeams v1.1.6
I've dug around some and don't find the subject cmdlet. Not even in the crumbs downloaded after session connect.
I'm using other cmdlets in the SkypeForBusiness set that is no part of the Teams module, and they're working fine.
Just the Get-CsUnassignedNumber cmdlet is missing.

[2020-11-20 05:29] ickthwart opened #6878 "This page is unusable"
The table is much wider than the page width making it almost impossible to navigate as the horizontal scroll bar for the table is right at the bottom of the screen.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce35226-b40b-3c9f-a37f-585b84aa129e
* Version Independent ID: ac9953e2-769a-c115-b1c6-e6f6fc940db2

[2020-11-20 13:35] beliaev-maksim opened #6879 "missed file size limit documentation"
No file size limit is mentioned in official docs. However this method does not allow to download large files
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1494ac7-090d-db80-ba26-5cdcc10d9eac
* Version Independent ID: e3837ec6-d90c-35c4-a563-4313ffb11fb6
* Content: [Get-PnPFile (SharePointPnPPowerShell)](https://docs.m

[2020-11-20 18:14] chrisda commented on #6878
@ickthwart, I hear you. The RecipientFilter topic has the same problem:

<https://docs.microsoft.com/powershell/exchange/recipientfilter-properties>

If you click anywhere in the table, you can use the Left and Right arrow keys to scroll horizontally.

I think the problem is amplified by the 'column' on the right that narrows the page to hold the **Is this page helpful?** and **In this article** e

[2020-11-20 19:54] rvahaver opened #6881 "I am running SP2019 on an Azure SQL Managed Instance and the Example code that you provide on this page errors with this error: Remove : The term 'Remove' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af7eded9-6781-5917-4c8b-26b7fc29798e
* Version Independent ID: f791183e-71ea-e450-4137-5833d4d9161a
* Content: [Remove-SPSecureStoreApplication (SharePointServer)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/remove-spsecuresto

[2020-11-20 20:50] MSCM-GitHub opened #6882 "Strong cryptography required before installing module"
To install the module, I had to set strong cryptography. I used the help from this MS forum:
https://answers.microsoft.com/en-us/windows/forum/windows_7-performance/trying-to-install-program-using-powershell-and/4c3ac2b2-ebd4-4b2a-a673-e283827da143

Quote:

1. Open Powershell and check for supported protocols by using[Net.ServicePointManager]::SecurityProtocol
2. Run the following 2 cmdlets to set

[2020-11-20 21:52] chrisda commented on #6882
@MSCM-GitHub, can you please describe your environment (Windows and PowerShell versions) and any error messages you received? The module has been available for a while, and yours is the first description of this problem. Thanks.

[2020-11-20 22:40] itishnitsa opened #6883 "Quaratine lifetime default"
The documentation states that default value of -QuarantineRetentionPeriod is 30 days. I just created a new policy, and Quarantine retention was 15 days.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 164c3337-1862-be67-7e1d-ea8055b88791
* Version Independent ID: 3cb06add-3cb6-7cb8-779b-a681e03ab4fb
* Content: [Set-Host

[2020-11-21 12:11] get-itips commented on #5485
@tseward Trevor, do you maybe have the missing information here? Thanks

[2020-11-21 12:15] get-itips commented on #5238
Tom, how are you? Reaching out to you again to understand if you could confirm we can remove the article from Docs as the cmdlet is not present anymore in the last Teams/SfB module. Thanks

[2020-11-21 12:22] get-itips commented on #5240
@tomkau Tom, reaching out to you again to see if you could get more info about this cmdlet, it is still present in the module, thanks

[2020-11-21 12:23] get-itips commented on #5596
@yogkumgit please close.

[2020-11-21 12:26] get-itips commented on #6084
@pupara Can you confirm the team is aware of this?
As this is not a documentation issue, I just need to confirm that and we will proceed closing this. Thank you

[2020-11-21 13:36] get-itips commented on #6097
@pupara @tomkau can you please help us confirm if this cmdlet is only intended for Calling Plans? AFAIK it is not used on DR scenarios. Thank you

[2020-11-21 13:47] get-itips commented on #6382
@trent-green Can you please confirm the _recoveryEnabled_ attribute is related to the soft-delete feature of Azure KeyVault?

https://docs.microsoft.com/en-us/azure/key-vault/general/soft-delete-overview

Thanks

[2020-11-21 13:48] get-itips commented on #6431
@trent-green Can you kindly confirm so we can close this issue? Thank you

[2020-11-21 13:52] get-itips commented on #6747
@tseward Trevor, do you happen to know the missing info here? Thanks!

[2020-11-21 19:40] michevnew commented on #6865
@chrisda @yogkumgit apparently this is because of the deprecation announcement for the Outlook REST APIs. The steps @borismilincic outlined above will be the way to add permissions going forward it seems.

P.s. Please dont forget to also update any document detailing app creation for OAuth authentication.

[2020-11-21 20:45] tseward commented on #6747
This is a license key for the eSDN provider you've picked. For example, here are Hive Streaming's Microsoft 365 Video integration steps:

https://hivestreaming.atlassian.net/wiki/spaces/HKB/pages/810156809/How+do+I+enable+HIVE+for+Office+365+Video
https://hivestreaming.atlassian.net/wiki/spaces/HKB/pages/810254562/What+is+HIVE+for+Microsoft+365

Microsoft 365 Video will be retired over the next 2

[2020-11-23 02:50] ickthwart commented on #6878
Thanks Chris.
Even if just the 'Comments' column could be made narrower, that would help. As it stands, that column alone is wider than the display area (on my 1920 screen) so scrolling left and right to read that is just painful. I bet the page author had a super hi-res screen......
Thanks
Paul

[2020-11-23 07:42] YuriySamorodov opened #6886 "Remove-CalendarEvents Without Cancellation"
Hi,

It looks like as of now `Remove-CalendarEvents` works the same way as if a real user cancels a meeting. Attendees get cancellation when a meeting gets removed with `Remove-CalendarEvents`.
It would be great if `Remove-CalendarEvents` operates silently and does not generate cancellation.

Kind regards,
Yuriy

[2020-11-23 08:23] ronnyholtmaat commented on #6865
I can confirm that the steps @borismilincic described work. In addition to that, step 5 also needs an update.

App Role permissions (for example, Exchange Administrator) can only be bound to Groups, not to the App Registration directly (anymore?). So i created a new group, gave it permissions and added the app registration. This feature is in 'preview' it says...

[2020-11-23 11:36] yogkumgit commented on #5596
@get-itips Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-23 11:36] #5596 closed

[2020-11-23 12:14] get-itips commented on #6747
Many thanks for that @tseward

[2020-11-23 15:42] svajda opened #6887 "The AllowRMSSupportForUnenlightenedApps switch is not applicable to on-premises Exchange."
The **AllowRMSSupportForUnenlightenedApps** switch of Set-ActiveSyncOrganizationSettings is not applicable to on-premises Exchange 2016/2019. Even if AllowRMSSupportForUnenlightenedApps is set to $true, the setting does not take effect in on-premises Exchange. This has been checked and validated on the source code level - feel free to contact me for details.

Please change the article so that the

[2020-11-23 17:13] D-Jeffrey opened #6888 "Basic authentication still required for WinRM"
Modern authentication still requires Basic Authentication in the WinRM module.  This feels a lot like WINS service that Microsoft told us we could turn off... unless we used Exchange (which was every enterprise customer, who had WINS on).  How about the Server/Exchange team catch up and with this **core** functionality.

This is a very confusing documentation when SecureScore tell use to turn off

[2020-11-24 02:03] hwkwicre opened #6889 "Why is there an empty "PowerShell""
As title says.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79aa5ead-5aef-c9f9-4802-944b32c9642e
* Version Independent ID: dfe8195a-d7ad-478d-dafd-574c6bb9e3e1
* Content: [Get-SPOGeoMoveCrossCompatibilityStatus (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-spog

[2020-11-24 06:00] hwkwicre opened #6890 "Add descriptions"
-Direction
PARAMVALUE: String

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebb91ef8-0495-479c-3094-2bd47b6f5851
* Version Independent ID: 7823c1d6-2a09-3d1c-bcd6-d25e9e7beca1
* Content: [Get-SPOCrossGeoMovedUsers (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-sp

[2020-11-24 09:50] ashah7 opened #6891 "Any Support for Azure Shell?"
There does not seem to be a Connect-IPPSession on the cloud shell?

[2020-11-24 11:14] Nathaniel-Clark opened #6892 "The "User" parameter for Get-EXOMailboxPermission is case sensitive"
`Get-EXOMailboxPermission "mailbox_owner@contoso.com" -User "Mailbox_Delegate@contoso.com"` returns the delegate user object along with their permissions:

Identity: Mailbox Owner
User: Mailbox_Delegate@contoso.com
AccessRights: {FullAccess}
IsInherited: False
Deny: False
InheritanceType: All

In this case, we can see that the delegate object has capital letters in their SMTP Address. If we use on

[2020-11-24 11:46] rakova17 opened #6893 "Example 1 incorrect"
Example 1 on this page is incorrect.

This:

Get-PnPRecycleBinItem | ? **FileLeafName** -like "*.docx" | Clear-PnpRecycleBinItem

Should be:

Get-PnPRecycleBinItem | ? **LeafName** -like "*.docx" | Clear-PnpRecycleBinItem

This was previously closed as an issue almost a year ago and I don't really get why: https://github.com/MicrosoftDocs/office-docs-powershell/issues/2770

Thanks!

---
#### Docum

[2020-11-24 19:51] MSCM-GitHub commented on #6882
I am using Windows Server 2016 Standard v1607. And PS Version: 5.1.14393.3866.
To return to the original situation, I exported and deleted the keys I added.
Then in PS (as Administrator) (note, I added a quote mark (') at the start of each PS line to prevent detected formatting):
'>[Net.ServicePointManager]::SecurityProtocol
'Ssl3,Tls
'>Install-Module -Name ExchangeOnlineManagement -RequiredVersio

[2020-11-25 05:49] yogkumgit commented on #6891
@ashah7 Please give the detail of the document you are referring to. Thanks.

[2020-11-25 06:38] ssandu opened #6894 "Set-SPOSite parameter DisableFlows is invalid"
DisableFlows param is invalid in cmdlet Set-SPOSite when running on Group and OneDrive site collections. According to error message
Set-SPOSite : https://my.shell.com/personal/sanil_paul_shell_com is a OneDrive for Business site collection. The
only valid parameters for this type of site collection are '-Identity', '-AllowDownloadingNonWebViewableFiles',
'-AllowEditing', '-ConditionalAccessPolicy'

[2020-11-25 11:03] mariussm commented on #6602
In PowerShell 7 you can do the following:

Import-Module "$($PSScriptRoot)\Microsoft.Online.SharePoint.PowerShell\16.0.20616.12000\Microsoft.Online.SharePoint.PowerShell.dll" -DisableNameChecking -UseWindowsPowerShell

[2020-11-25 12:11] rufioIK708 opened #6896 "Parameters"
Is -TelephoneNumber a supported parameter for this cmdlet?  I saw it being used with varying success in various forums and didn't want to test it because it was undocumented here.  I finally used it and it worked fine, but I would have used it first thing if it had been documented here as a valid parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-11-25 12:18] rufioIK708 commented on #6896
My apologies - its Set-CsOnlineVoiceApplication I am thinking about

[2020-11-25 12:18] #6896 closed

[2020-11-25 13:17] get-itips commented on #6751
Hello @ioamnesia
I could get some information from the team.
`AADAccessToken` parameter will be dropped and `-AccessToken` and `-AccountId` are going to be used, this change is now available in the preview version of the Teams module (1.1.9-preview) and the documentation will reflect it once it becomes GA.

[2020-11-25 13:20] get-itips commented on #6461
Hello @RemzoozmeR
I managed to get some info from the team.
Using 1.1.9-preview, the `-MailNickName` parameter was honored and I could change the mail nickname, probably it will be in the next GA version of the module.
Hope this info helps you.

[2020-11-25 23:34] JuicyDragon opened #6897 "Connect-ExchangeOnline: parameter cannot be found that matches parameter name 'ExchangeEnvironmentName'"
Hello, I have an automation piece I have written in Java that uses [PowerShellLib](https://github.com/Tuupertunut/PowerShellLibJava) to connect to Exchange Online and Security & Compliance via the [ExchangeOnlineManagement v2.0.3](https://www.powershellgallery.com/packages/ExchangeOnlineManagement/2.0.3) PowerShell Module.

When invoking `Connect-ExchangeOnline` I am receiving the following error

[2020-11-26 00:58] nikki-c opened #6898 "The allowable values are missing for the following parameters -BroadcastAttendeeVisibilityMode and -BroadcastRecordingMode"
The allowable values are missing for the following parameters -BroadcastAttendeeVisibilityMode and -BroadcastRecordingMode
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88452508-477e-525e-f957-3130a918faa9
* Version Independent ID: acc5d34f-84ec-5dbf-99b7-736034433393
* Content: [Set-CsTeamsMeetingBroadcastPolicy (Skyp

[2020-11-26 09:01] yogkumgit commented on #6751
@get-itips Thank you very much for the contribution and sharing this explanation. @ioamnesia Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-26 09:01] #6751 closed

[2020-11-26 09:04] yogkumgit commented on #6461
@get-itips Thank you very much for the contribution and sharing this explanation. @RemzoozmeR Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-26 09:04] #6461 closed

[2020-11-26 12:58] nikki-c opened #6904 "-AllowImmersiveReader is missing"
the -AllowImmersiveReader is missing from CsTeamsGuestMessagingConfiguration
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11552ca9-2004-45a6-d9fb-c7a0334028f2
* Version Independent ID: 06f9ced8-acf3-3ec6-0df9-a121eb4f49b5
* Content: [Set-CsTeamsGuestMessagingConfiguration (SkypeForBusiness)](htt

[2020-11-26 18:43] chwilfing opened #6905 "Cmdlet accepts displayname as identity value which is NOT UNIQUE!"
The comdlet does not accept an useridvalue as parameter for the identity, it accepts exactly the displayname of a user which is - not unique! this means -

first of all - it's just stupid to not take userprincipalname or an object id which would be unique
second - the documentation is just wrong

it would be really great if somebody could fix the cmdlet, but it would be also very cool if somebody

[2020-11-26 23:31] get-itips commented on #6736
Hello @jasonwbaxter according to the team, nothing changed about folders between versions so apparently no documentation change will be needed. As we opened an internal channel, please continue through it to get help about this.
Thank you
@yogkumgit please close.

[2020-11-27 07:06] yogkumgit commented on #6736
@get-itips Thank you very much for the contribution and sharing this explanation. @JoanneHendrickson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-27 07:06] #6736 closed

[2020-11-27 14:55] get-itips commented on #6837
Hello @Mike19130
You can find information on how to run these cmdlets in the introduction of the article:

Hope this information helps you.

[2020-11-27 15:12] get-itips commented on #6867
Thanks for the feedback @Wardo99

[2020-11-27 17:32] get-itips commented on #6876
Hello @psrarey Paul

The cmdlet corresponds to SfB On-Premises

https://docs.microsoft.com/en-us/powershell/module/skype/get-csunassignednumber?view=skype-ps

Lync Server 2010, Lync Server 2013, Skype for Business Server 2015, Skype for Business Server 2019

[2020-11-27 17:41] get-itips commented on #6898
Thanks for your feedback @nikki-c

[2020-11-27 18:40] get-itips commented on #6881
Thanks for your feedback, the example has a typo, fixing thru a pull request.

[2020-11-27 19:01] get-itips commented on #6889
Thanks for your report @hwkwicre

[2020-11-28 13:33] get-itips commented on #6894
Thanks for your feedback, will propose that adding to the documentation.

[2020-11-29 04:14] yogkumgit commented on #6837
@get-itips Thank you very much for the contribution and sharing this explanation. @Mike19130 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-29 04:14] #6837 closed

[2020-11-29 04:18] yogkumgit commented on #6876
@get-itips Thank you very much for the contribution and sharing this explanation. @psrarey Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-29 04:18] #6876 closed

[2020-11-29 08:00] yobougaz opened #6912 "Outlook add-ins: Is there a limit for the the user list?"
How many users can we have in the **-UserList** since we cannot add distribution groups?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c23be67f-a704-0f14-40df-6c174c8914e8
* Version Independent ID: ac2fc769-a7db-01e0-2590-68af5cfbbadd
* Content: [New-App (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell

[2020-11-30 06:15] sachinoda opened #6913 "deny user permission to modify distribution group in outlook web app"
Hi -I want limit /to restrict users to modify the distribution in the outlook web app group please help me with the power shell command

[2020-11-30 11:33] mariussm opened #6915 "Feature request - ForceOAuth parameter for Connect-SPOService"
Currently it is not possible to run an Azure Function that loads the SharePoint module and use a user account to connect using Connect-SPOService. This is because the ForceOAuth parameter must be set in registry, and the registry is read only in Azure Functions.

There is no workaround other than patching the Microsoft.Online.SharePoint.PowerShell.dll, changing an if in InstantiateSPOService.

A v

[2020-11-30 17:54] chrisda commented on #6887
@svajda, I checked on an Exchange 2016 CU18 server and an Exchange 2019 CU7 server, and the _AllowRMSSupportForUnenlightenedApps_ parameter is available, whether it works or not, or whether it's supposed to be available or not.

I'll decorate the description accordingly; something like, "This parameter is available or functional only in the cloud-based service."

If/when the parameter is no longer

[2020-11-30 18:07] chrisda commented on #6888
@D-Jeffrey, you're right; it is confusing. But, we try to explain the situation in the [Prerequisites](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#prerequisites-for-the-exo-v2-module) section:

So, it's really more of a Windows PowerShell/WinRM thing than Exchange. It's unclear to me if eventual support for PowerShell 7 (currently in the Preview versions of the mod

[2020-11-30 18:20] LuisEmilioR opened #6918 "MailboxRegion parameter is not dedicated to MS"
-mailboxregion is not dedicated to Microsoft.

This parameter is key to create cloud mailbox on specific Geos, without it there is no other way to do it specially for Room, Equipment and other type of non human mailboxes.

Furthermore this parameter is available to users today.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-11-30 22:25] chrisda commented on #6918
@LuisEmilioR, I updated the _MailboxRegion_ parameter description in New-Mailbox and Set-Mailbox. For reference, the _MailboxRegion_ parameter is also available on the following cmdlets, but I don't think it applies/works:

- New/Set-MailUser
- New/Set-UnifiedGroup (Microsoft 365 Groups)

Thanks for the feedback.

Closing

[2020-11-30 22:26] #6918 closed

[2020-12-01 01:33] hwkwicre commented on #5886
-Reserved
PARAMVALUE: String

Should some description be added to this too? Thanks.

[2020-12-01 01:38] hwkwicre opened #6922 "Add descriptions"
Some only has PARAMVALUE for example:

-DisableAppViews
PARAMVALUE: Unknown | Disabled | NotDisabled

I think it would be helpful to add (at least links to) explanations on what App Views is,
And other parameters that only has PARAMVALUE needs more explanations too.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-12-01 03:29] TonyLi2013 opened #6923 "Set-UnifiedGroup -Identity -PrimarySmtpAddress permission issue"
Hi Team,

By Get-ManagementRole command, we found the Set-UnifiedGroup need **Mail Recipients Role**:

$Perms = Get-ManagementRole -Cmdlet Set-UnifiedGroup -CmdletParameters PrimarySmtpAddress
$Perms | foreach {Get-ManagementRoleAssignment -Role $_.Name -Delegating $false | Format-Table -Auto Role,RoleAssigneeType,RoleAssigneeName}

But one user who have Mail Recipients Role failed to execute the

[2020-12-01 04:51] ananimesh opened #6924 "Issue with releasing memory after using Connect-ExchangeOnline - Disconnect-ExchangeOnline not releasing resources"
We are trying to migrate to Exchange Online V2 module(EXO V2) from EXO V1. However, when we connect using the Connect-ExchangeOnline cmdlet, we observe the memory utilization goes to around ~200MB for the process.

We do this from C# code. However, doing the same from powershell.exe also gives us similar observation.

Post connect, we call the Disconnect-ExchangeOnline. We were under the impressio

[2020-12-01 12:03] get-itips commented on #6886
Hello @YuriySamorodov how are you?
The [cmdlet help](https://docs.microsoft.com/en-us/powershell/module/exchange/remove-calendarevents?view=exchange-ps) describes that meeting cancellations must be sent, if you want to propose another behavior I would suggest to submit the idea to [365 uservoice](https://office365.uservoice.com/).

Thanks

[2020-12-01 12:06] get-itips commented on #6893
How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

Thank you!

[2020-12-01 12:07] get-itips commented on #6870
How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

Thank you!

[2020-12-01 12:07] get-itips commented on #6879
How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

Thank you!

[2020-12-01 12:08] yogkumgit commented on #6747
@tseward  and @get-itips Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-01 12:08] #6747 closed

[2020-12-01 12:25] rakova17 commented on #6893
Done, thank you: https://github.com/pnp/PnP-PowerShell/issues/3015

[2020-12-01 12:26] yogkumgit commented on #6836
@chrisda Thank you very much for sharing this explanation. @andrePKI Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-01 13:28] beliaev-maksim commented on #6879
@get-itips ,
sure, will do, I reached current page from official MS site by clicking "Submit and view feedback for this page"

[2020-12-01 16:11] ymihir opened #6925 "What are the limitations when compare with Apply-PnPProvisioningTemplate command"
- [x] Question

`Get-SPOSiteScriptFromWeb` command will work as same as [Apply-PnPProvisioningTemplate](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/apply-pnpprovisioningtemplate?view=sharepoint-ps) command? Or any limitations are there with this command?

[2020-12-01 18:05] SuperTekBoy opened #6927 "Applies To: and first paragraph contradiction"
The top of the article says "This cmdlet is available only in on-premises Exchange."

However, the applies to lists "Exchange Online"

It looks like this command might be available in Exchange Online.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a057e0e5-e897-e015-11ed-22cdbb6f7c43
* Version Independent ID: ee3ec571-

[2020-12-01 18:25] andrePKI commented on #6836
Yes, this is helpful for me. It just doesn’t seem symmetrical, that’s why I asked. @chrisda and @yogkumgit thank you both.

[2020-12-01 19:26] jbros1 opened #6929 "Incorrect info on documentation"
The arguments for the PrivacyMode parameter show as OptIn and OptOut on this page. However, the command requires they have a hyphen. So the arguments should be Opt-In and Opt-Out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523841fc-6df4-2d1a-ac10-4007855324d9
* Version Independent ID: 2dbcb7b6-bdb9-741e-e1f6-005b62

[2020-12-01 21:06] #6894 closed

[2020-12-01 21:11] #6889 closed

[2020-12-01 21:16] #6881 closed

[2020-12-01 21:20] #6898 closed

[2020-12-01 21:50] #6867 closed

[2020-12-01 22:43] chrisda commented on #6929
@jbros1, it looks like the parameter description for PrivacyMode was corrected, but the example was not,. It is now.

Thanks for the feedback.

Closing

P.S. In the future, you too can make updates to topics without opening an Issue first. See >https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

[2020-12-01 22:43] #6929 closed

[2020-12-01 22:44] #6836 closed

[2020-12-01 22:54] chrisda commented on #6927
@SuperTekBoy, fixed.

Thanks for the feedback.

Closing

[2020-12-01 22:54] #6927 closed

[2020-12-01 23:23] chrisda commented on #6923
@TonyLi2013, I confirmed your results by creating a custom role group that only has the Mail Recipients role assigned to it, and I added a random user to the role group.

Trying to change the values of the PrimarySmtpAddress, EmailAddresses, or DisplayName parameters results in that error. Changing CustomAttribute1 is successful.

A global admin (Organization Management role group in Exchange) is

[2020-12-02 00:32] cwidhelm opened #6930 "Note is not noticeable"
This should be in a note block.  I was trying to submit a pull request but the preview of the markdown was not working.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1ed5858-7a65-760f-95ef-4b6758b5f04e
* Version Independent ID: 9056b915-fe5d-d56b-ccdd-0d7c61f53293
* Content: [New-MoveRequest (E

[2020-12-02 00:51] TonyLi2013 commented on #6923
@chrisda , Thanks for your reply, the answer is acceptable, we will use Exchange admin account to execute the Set-UnifiedGroup command.

I will close this issue now, and have a good day!
Tony

[2020-12-02 00:51] #6923 closed

[2020-12-02 01:12] chrisda commented on #6930
@cwidhelm, Alerts don't work correctly in cmdlet reference topics. This is a known issue. For now, what I did is the best we can do.

[2020-12-02 01:58] Craig-Humphrey commented on #6870
Thanks @get-itips

I found a an old report of this issue [HERE ](https://github.com/pnp/PnP-PowerShell/issues/2016)and a more recent one [HERE](https://github.com/pnp/PnP-PowerShell/issues/2916).  So sounds like it's a problem that's been around for a while and hasn't been addressed.

Perhaps the documentation could be updated, in the mean time, to reflect the short-coming?

Thanks
Craig

[2020-12-02 02:02] Craig-Humphrey commented on #6761
Thanks @yogkumgit
It would be nice if the documentation reflected @WayneEwington 's comment, so that other people looking to do the same thing don't have to hunt through the issues list to find the answer.

Thanks!
Craig

[2020-12-02 02:48] decturau commented on #6865
I agree that editing the manifest works but interested to know what to use moving forward as the API has been deprecated?

[2020-12-02 05:55] yogkumgit commented on #6886
@YuriySamorodov  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-12-02 05:55] #6886 closed

[2020-12-02 06:00] yogkumgit commented on #6893
@get-itips Thank you very much for the contribution and sharing this explanation. @rakova17 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-02 06:00] #6893 closed

[2020-12-02 06:13] yogkumgit commented on #6870
@get-itips Thank you very much for the contribution and sharing this explanation. @Craig-Humphrey  as directed kindly open PnP cmdlets issues in that repository,  We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-02 06:13] #6870 closed

[2020-12-02 06:16] yogkumgit commented on #6879
@get-itips Thank you very much for the contribution and sharing this explanation. @beliaev-maksim Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-02 06:16] #6879 closed

[2020-12-02 13:09] get-itips commented on #6761
Will propose that thru a PR and we will see if it gets approval. Thank you

[2020-12-02 13:46] trudolf-msft opened #6934 "Information regarding Bookings incomplete"
First Booking is enabled by default (currently documentation disabled by default -> incorrect)
Second several new parameters are available but not yet documented.

PS C:\Users\trudolf> Get-OrganizationConfig | fl *bookings*
BookingsEnabled                             : True
BookingsEnabledLastUpdateTime               : 01.01.0001 00:00:00
BookingsPaymentsEnabled                     : False
Booking

[2020-12-02 16:04] AlexJPawlak opened #6935 "Default domain .onmicrosoft.com is required"
Hello! While your examples show clearly that "Connect-ExchangeOnline" is used with 'onmicrosoft.com' domain, can you stress or underline somehow that it is mandatory to use .onmicrosoft.com domain when accessing Exchange Online as application identity?

Your "example" domains like contoso or others might drive people into thinking that any valid UPN would work in their example, like their main dom

[2020-12-02 19:50] chrisda commented on #6935
@AlexJPawlak, sure. Do you have any suggestions about where it should go, and what exactly you want to say?

[2020-12-03 12:00] YuriySamorodov opened #6940 "Connect-ExchangeOnline Prefix Requirments"
It looks like since ExchangeOnlineManagement 2.0.3 Microsoft have introduced a new check against prefix:
`if ($Prefix -notmatch '^[a-z0-9]+$')
{
    throw "Use of any special characters in the Prefix string is not supported."
}`

That prevents from using underscores in prefix like ```o365_```:
![image](https://user-images.githubusercontent.com/5260172/101014918-a6c15300-3577-11eb-9554-b4eb46c4f094

[2020-12-03 14:42] AlexJPawlak commented on #6935
I think a "Tip" baloon that you often use in docs would do. Right after examples showing "Certificate" and "CertificateThumbprint", a Tip saying

"When connecting to Exchange Online with Connect-ExchangeOnline module make sure you are using .onmicrosoft.com domain as Organization parameter value. Not doing so might introduce permission or access issues when accessing commands"

This tip, and also,

[2020-12-03 22:41] andypituch opened #6944 "Example 5 is incorrect"
Example 5 needs to use the identity of the migration endpoint and not the remote server name. I suppose if the identity and the remote server name are the same, it will work BUT if they aren't, it doesn't.

This:
$MRSEndpoints = (Get-MigrationEndpoint).RemoteServer; Foreach ($MEP in $MRSEndpoints) {Test-MigrationServerAvailability -Endpoint $MEP}

Should be:
$MRSEndpoints = (Get-MigrationEndpoint)

[2020-12-03 23:57] AlexJPawlak commented on #6935
@chrisda  uhm did I break docs pipeline with my pull request? I see quite a few errors there, hope it's OK - it's my first contribution to docs I hope I didn't mess it up!

[2020-12-04 01:27] chrisda commented on #6935
Nah, nothing like that. There's a repo-wide problem that has affected every pull request today (12/3); even very simple ones (and yours was pretty simple).

I've escalated, so I hope the problem gets fixed soon.

[2020-12-04 14:37] jmcadams-r7 opened #6945 "How do you connect to EXO with OSX?"
[Enter feedback here]

With Basic Authentication being depreciated, how can we connect to EXO services with PowerShell on a non-windows device? That hasn't been made clear in any of the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10052620-9909-c335-1913-fdf9db8ab16b
* Version Independent ID: e4be7843-

[2020-12-04 17:21] chrisda commented on #6945
@jmcadams-r7, the 2.0.4-PreviewX (X=2 or later) versions of the EXO V2 Module support PowerShell Core on non-Windows devices. For more information, see <https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#powershell-core-support-in-the-exo-v2-module>.

It's likely that the 2.0.4 version of the module will be officially released in time for the Basic auth deprecation in the

[2020-12-04 17:44] jmcadams-r7 commented on #6945
I just tried 2.0.4-Preview6 and it still has a dependency on WSMan. WSMan, as far as I know isn't supported anymore because it has a dependency on OpenSSH 1.0.x.

[2020-12-04 19:14] chrisda commented on #6944
@andypituch, I fixed it. In the future, you can too without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2020-12-04 19:14] #6944 closed

[2020-12-04 19:38] chrisda commented on #6935
Problem has been fixed. #6941 merged.

Thanks for the feedback.

Closing

[2020-12-04 19:38] #6935 closed

[2020-12-04 19:42] chrisda commented on #6940
It looks like this was addressed in #6943, so closing. Thanks for the feedback.

[2020-12-04 19:42] chrisda commented on #6934
This is being investigated in email.

[2020-12-04 19:48] chrisda commented on #6924
@ananimesh, I think your best chance for success is to open a support case.

[2020-12-04 20:03] chrisda commented on #6897
@JuicyDragon, ExchangeEnvironmentName only works with Connect-ExchangeOnline (ExO PowerShell), not Connect-IPPSSession (SCC PowerShel). You should be using Connect-IPPSSession to connect to SCC PowerShell (even though Connect-ExchangeOnline might also work).

So, I would suggesting using _ConnectionUri_ and _AzureADAuthorizationEndPointUrl_ instead. Both of those parameters are available on Connec

[2020-12-04 20:04] YuriySamorodov commented on #6940
Hi! This issue is quite different. I am wondering why this check has been implemented? Just wondering what might be wrong with underscores and hyphens in the Prefix. This is probably a question to Product Engineering Team...

[2020-12-04 20:08] chrisda commented on #6913
@sachinoda, any sort of 'allow' or 'deny' in Exchange or Exchange Online always involves role-based access control (RBAC).

Does this topic help?

[How to prevent users from creating and managing distribution groups in Office 365](https://docs.microsoft.com/exchange/troubleshoot/groups-and-distribution-lists/prevent-users-create-manage-dg)

[2020-12-04 20:12] chrisda commented on #6892
Checking

[2020-12-04 20:19] chrisda commented on #6888
Confirmed that the Basic auth dependency in WinRM is not going away. I'm asking the Secure Score folks if they can add some kind of explanation text to the results when Secure Score finds Basic auth enabled in WinRM. Not much more that I can do on my end or from a documentation perspective.

[2020-12-04 20:21] chrisda commented on #6887
Topic has been updated.

Thanks for the feedback.

Closing

[2020-12-04 20:21] #6887 closed

[2020-12-04 21:08] JuicyDragon commented on #6897
Thanks @chrisda.  After I tested a bit more in my test environment and with the customer I learned a few things:
- The error seems to be specifically thrown by line 426 of [ExchangeOnlineManagement.psm1](https://www.powershellgallery.com/packages/ExchangeOnlineManagement/2.0.3/Content/ExchangeOnlineManagement.psm1)
- The error seems to be symptomatic of connectivity errors on this line:
    - Bad

[2020-12-04 21:08] #6897 closed

[2020-12-04 21:21] chrisda commented on #6940
The topic has been updated to say "no funky characters". From a documentation perspective, that's all we can do. If you have questions about why the change was implemented or comments about the inefficiency of the RegEx that's used, I would suggest opening a support case.

[2020-12-04 21:21] #6940 closed

[2020-12-04 21:34] chrisda commented on #6882
@MSCM-GitHub, so would you say that some type of note that says the following would be sufficient?

If you  get an error when you try to installing the module, run the following command:

[code]

[2020-12-05 06:20] D-Jeffrey commented on #6888
Excellent, thanks for clearing up the opposing and confusing statements.

We will call this good and closed.

From: Chris Davis <notifications@github.com>
Sent: Friday, December 4, 2020 1:20 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: D-Jeffrey <darrenjeffrey@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-p

[2020-12-07 06:25] yogkumgit commented on #6924
@ananimesh Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable information. Thanks again, for taking out som

[2020-12-07 06:25] #6924 closed

[2020-12-07 06:29] hwkwicre opened #6949 "Descriptions"
-AllLocations
PARAMVALUE: SwitchParameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b582feac-4455-2457-8015-3a4259e05878
* Version Independent ID: 69c9947a-6e6a-d0b7-bad7-1c3bf48c5b25
* Content: [Get-SPOGeoStorageQuota (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-onli

[2020-12-07 06:35] yogkumgit commented on #6888
@D-Jeffrey Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-07 06:35] #6888 closed

[2020-12-07 16:29] #6890 closed

[2020-12-07 16:36] chrisda commented on #6892
@Nathaniel-Clark, I'm told this is a known bug. But, I still added a note in the User parameter description.

Thanks for the feedback.

Closing

[2020-12-07 16:36] #6892 closed

[2020-12-08 05:20] hwkwicre opened #6953 "A couple questions"
-CompatibilityLevel
The values for this parameter can be SharePoint Server.
What does that mean?
Also:
For more information, see Resource Usage Limits on Sandboxed Solutions in SharePoint (https://msdn.microsoft.com/en-us/library/gg615462.aspx).
The link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9b6d2b

[2020-12-08 05:29] hwkwicre commented on #5610
It should be "its" instead of "it's"

[2020-12-08 11:12] mrpaddy35 opened #6954 "Command not working mentioned in the Page"
Here is what output i am getting for the command specified,

PS C:\WINDOWS\system32> $Session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://smtp.office365.com/powershell-liveid/ -Credential $UserCredential -Authentication Basic -AllowRedirection
New-PSSession : [smtp.office365.com] Connecting to remote server smtp.office365.com failed with the following error
message

[2020-12-08 13:39] harp365 opened #6955 "Example 4 is incorrect"
example 4 should be:

Get-PnPList | Where-Object {$_.RootFolder.ServerRelativeUrl -like "*/lists/*"}

It was missing the leading wildcard *

Thanks

Henry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f48dcd7-1a3c-e8f1-309e-8f65b0ac0450
* Version Independent ID: baf42f0a-9e63-ec81-fefb-b1c8dde5672e
* Content: [Get-Pn

[2020-12-08 13:40] harp365 commented on #6955
Not sure why but the example correction does not show until I go to edit my post, so just for clarity it should be:

Get-PnPList | Where-Object {$_.RootFolder.ServerRelativeUrl -like "*/lists/*"}

[2020-12-08 13:41] harp365 commented on #6955
In fact it keeps stripping wildcards out but there should be one at the beginning and end of the string after the like operator.

[2020-12-08 15:17] miguelisidoro opened #6957 "Critical problem with Apply-PnPProvisioningTemplate cmdlet: personal view is created as public view in the destination site"
[Issue_Apply-PnPProvisioningTemplate.zip](https://github.com/MicrosoftDocs/office-docs-powershell/files/5662098/Issue_Apply-PnPProvisioningTemplate.zip)
Title: Critical problem with Apply-PnPProvisioningTemplate cmdlet: personal view is created as public view in the destination site

Hello,

I recently used SharePoint PnP PowerShell provisioning cmdlets to backup a production SharePoint Online sit

[2020-12-08 15:28] chrisda commented on #6954
@mrpaddy35, most of the time, that error indicates an incorrect password. See the [troubleshooting](https://docs.microsoft.com/powershell/exchange/basic-auth-connect-to-exo-powershell#how-do-you-know-this-worked) section for more things to check.

Also, you'll want to get familiar with connecting to Exchange Online PowerShell using the [EXO V2 Module](https://docs.microsoft.com/powershell/exchange

[2020-12-08 19:29] chrisda commented on #6954
@mrpaddy35 it's more simple than that: your _ConnectionUril_ value is wrong. It should be <https://outlook.office365.com/powershell-liveid/>, not <https://smtp.office365.com/powershell-liveid/> as shown in the error.

[2020-12-08 20:31] suhood opened #6960 "-SingleWorkflowEpisodeTimeout {{Fill SingleWorkflowEpisodeTimeout Description}}"
The description for -singleworkflowepisodetimeout is not complete.  It needs to say something such as the number of seconds (the code multiplies it by 1000 to create milliseconds) a single workflow thread is allowed to execute in the scope of the owstimer workflow process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-12-09 00:49] frankchen76 opened #6961 "-OverwriteOdb parameter doesn't work"
When my custom was trying this cmdlet with -OverwriteOdb, they error message to say this parameter isn't available. when I run get-help Start-SPOUserAndContentMove, I don't see -OverwriteOdb parameter list there.

PS C:\WINDOWS\system32> get-help Start-SPOUserAndContentMove

NAME
    Start-SPOUserAndContentMove

SYNTAX
    Start-SPOUserAndContentMove [-UserPrincipalName] <string> [-DestinationData

[2020-12-09 11:15] yogkumgit commented on #6891
@ashah7 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to

[2020-12-09 11:15] #6891 closed

[2020-12-09 13:20] lindseylanier opened #6962 "MicrosoftTeams Powershell Library - applicationaccesspolicy cmdlets do not exist"
Need to allow applications to access online meetings on behalf of a user. Attempting to follow the guidance as per this doc - https://docs.microsoft.com/en-us/graph/cloud-communication-online-meeting-application-access-policy, however am unable to locate the necessary commands in any of the PS library versions for MicrosoftTeams (as a global administrator).

New-CsApplicationAccessPolicy
Grant-CsA

[2020-12-09 13:24] joelfmrodrigues opened #6963 "Wrong command in examples for Get-PnPMicrosoft365Group"
Command in examples is missing the "PnP" prefix
Get-Microsoft365Group should be Get-PnPMicrosoft365Group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af3e6955-1125-e2cb-8655-6e09a8daa277
* Version Independent ID: 708b2e85-d65d-58f2-4c33-d168c45035cb
* Content: [Get-PnPMicrosoft365Group (SharePointPnPPowerShell)](http

[2020-12-09 23:58] get-itips commented on #6904
Thanks for your feedback! @nikki-c

[2020-12-10 00:02] get-itips commented on #6905
Hello @chwilfing Christoph, how are you?
Here, we are limited to documentation changes, for your feedback, I need to ask you to visit and please create a [uservoice entry here](https://microsoftteams.uservoice.com/), that way, it can reach the product team behind the cmdlet.
Thank you

[2020-12-10 00:04] get-itips commented on #6915
Hello @mariussm Marius, how are you?
Here, we are limited to documentation issues, if you want your request to reach the product team, please visit [SharePoint Online uservoice](https://sharepoint.uservoice.com/) that way, it can reach the product team behind the module.
Thanks

[2020-12-10 14:06] JeremyTBradshaw opened #6969 "@{Add='EmailAddress@domain.com'} doesn't work with -NotificationEmails"
(referring to ExchangeOnlineManagement module version 1.0.1)
FYI, just as the subject says, it doesn't work.  You have to enter all intended email addresses (i.e. -NotificationEmails 'email1', 'email2', etc.

When you use the @{Add='email'} you get:

...and when you check to confirm, indeed no settings will have been modified.

I'm going to insta-close this issue, only adding it here in case anyon

[2020-12-10 14:06] #6969 closed

[2020-12-10 14:37] get-itips commented on #6949
Thanks @hwkwicre

[2020-12-10 14:43] get-itips commented on #6953
Thanks @hwkwicre (The link is working at the time I tested)

[2020-12-10 22:27] get-itips commented on #6922
Thanks @hwkwicre

[2020-12-11 18:14] lindseylanier commented on #6962
Any updates on this?

[2020-12-11 20:32] get-itips commented on #6925
How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/questions [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

Thank y

[2020-12-11 20:33] get-itips commented on #6955
Hello @harp365  How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

T

[2020-12-11 20:33] get-itips commented on #6957
Hello @miguelisidoro
How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this on

[2020-12-11 23:46] miguelisidoro commented on #6957
Thanks, issue submitted in the other repo,

[2020-12-12 18:19] BerndKroon opened #6975 "Connect-SPOService: Could not load type 'System.Security.Cryptography.SHA256Cng'"
There has been another post on this issue in the period jan-march 2020. The issue was not resolved. I ran into this error when  tried to follow textbooks to learn PowerShell and/or when I followed instruction how to upload a new theme design to a sharepoint site.

When I use this command on Windows PowerShell (from Windows 10), all works well. When I use it on Powershell 7 (from Windows 10), you g

[2020-12-12 18:44] tseward commented on #6975
The production SPO cmdlets are not compatible with PowerShell Core as they use the .NET Framework. While there is not yet a replacement for the SPO cmdlets, depending on what your goal is, there are the pre-release PnP cmdlets that allow you manage SPO but targeting the site level:

https://www.powershellgallery.com/packages/PnP.PowerShell/

For a more analgous equivilent to SPO cmdlets, you can u

[2020-12-14 05:35] yogkumgit commented on #6925
@get-itips Thank you very much for the contribution and sharing this explanation. @ymihir Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-14 05:35] #6925 closed

[2020-12-14 05:38] yogkumgit commented on #6955
@get-itips Thank you very much for the contribution and sharing this explanation. @harp365 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-14 05:38] #6955 closed

[2020-12-14 05:41] yogkumgit commented on #6957
@get-itips Thank you very much for the contribution and sharing this explanation. @miguelisidoro Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-14 05:41] #6957 closed

[2020-12-14 06:35] hwkwicre commented on #6953
I believe the reason it doesn't work is because when you click the link it includes ). after aspx

[2020-12-14 14:18] get-itips commented on #6953
yep, on the published version only, i was testing thru gh. fixing. thanks

[2020-12-14 15:05] syedjahangirpeeran opened #6977 "Can you please provide examples how to use this cmdlet?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cbf9e01-3daf-0a8c-f78c-5c9ba6dac01f
* Version Independent ID: 91f0f246-e6c5-c2e2-1569-7f27afb28c04
* Content: [Set-CsTeamsAppSetupPolicy (SkypeForBusiness)](https://docs.microsoft.com/en-us/powershell/module/skype/set-csteamsappsetuppolicy?view=skype

[2020-12-14 16:23] #6904 closed

[2020-12-14 16:30] #6922 closed

[2020-12-14 16:35] #6949 closed

[2020-12-15 05:18] VShrubowich opened #6980 "Get-EXOMailboxPermission - Error when piping all mailboxes from Get-EXOMailbox"
When I first read about the new Get-EXO* cmdlets being optimized for bulk data retrieval scenarios, one of the first things I thought of is being able to see which mailboxes a user has access to.  However, when I try the following using version 2.0.3 of EXO V2, I get error after error:

[code]

However, when using the following:
`Get-EXOMailbox -ResultSize Unlimited | Get-MailboxPermission -User U

[2020-12-15 09:28] thuld commented on #6727
Ok, based on the feedback provided by Microsoft 365 support is this by design:

[2020-12-15 11:59] #6727 closed

[2020-12-15 21:53] AnkitSDesai opened #6981 "This functionality seems Broken."
I have followed this step and sounds like its not functioning.
It gives 401- Unauthorized even after successfully login using connect-pnp Online.
I have opened similar issue for PNP community as well.
https://github.com/pnp/PnP-PowerShell/issues/3028

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34a78fe1-1c93

[2020-12-15 23:54] N4v41 opened #6982 "Different number of messages in Quarantine from powershell(Get-QuarantineMessage) and Protection portal"
Hi, I've noted that the amount of messages that i get from the quarantine from powershell and the web interface are very different.
running this simple script below in powershell i get about 4489 messages in quarantine:
[code]
when i go to the web interface and roll i get the final count of 5576 messages
![image](https://user-images.githubusercontent.com/45365461/102286657-84381e00-3f17-11eb-9c60-

[2020-12-16 17:34] mhunecke opened #6983 "-Confirm:$false parameter is not working."
The -Confirm:$false is not working for the cmdlet New-InformationBarrierPolicy.
It still asking for confirmation. Please fix it.
Thanks.

![image](https://user-images.githubusercontent.com/33945695/102384710-c9a62b00-3fab-11eb-9d7e-005fed89d87e.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-12-16 17:53] chrisda commented on #6983
@mhunecke, I would recommend opening a support case about this.

[2020-12-16 17:55] mhunecke commented on #6983
Chris,

I'm Microsoft FTE.
I do not have a "Premier contract" to open a ticket.

Thanks.

From: Chris Davis <notifications@github.com>
Sent: Wednesday, December 16, 2020 2:53 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Marcelo Hunecke <mhunecke@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] -C

[2020-12-16 18:17] chrisda commented on #6983
@mhunecke, from a documentation perspective, the best I can do is change the description of the Confirm parameter to say that it doesn't work on this cmdlet. Which I did.

[2020-12-16 19:04] mhunecke commented on #6983
Thank you !!!

From: Chris Davis <notifications@github.com>
Sent: Wednesday, December 16, 2020 3:18 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Marcelo Hunecke <mhunecke@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] -Confirm:$false parameter is not working. (#6983)

@mhunecke<https://nam06.sa

[2020-12-16 22:37] hbwheat opened #6986 "Get-DlpComplianceRule Common Parameter Support?"
Hello,
I'm having issues with with the Get-DlpComplianceRule common parameter "-PipelineVariable" being null on the other side of the pipe. I'm curious as to any other troubleshooting or that I can perform to determine if it's an issues or my specific instance for some reason.

[2020-12-16 22:39] hbwheat opened #6987 "{{ Fill IncludeExecutionRuleGuids Description }}"
Hey,
Just curious if there is the non-templated block available for this section description of parameter: "-IncludeExecutionRuleGuids"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d675f875-88fa-470c-ac3c-65ef056ab747
* Version Independent ID: 57cfdddf-6fd7-07c6-144d-5bafa9690bd5
* Content: [Get-DlpComplianceRule (Ex

[2020-12-16 22:45] hbwheat commented on #6986
The following command below returns nothing as unexpected while using the PipelineVariable common parameter.

[code]

 I've been doing a workaround with using a foreach and variable assignment but it's not an ideal flow for powershell.

[2020-12-17 00:56] hbwheat commented on #6986
After more testing, I can achieve the similar result by piping to Select-Object and using the -pv parameter there.

[2020-12-17 03:11] chrisda commented on #6987
@hbwheat, that {{ Fill \<parameter\> Description }} indicates the parameter is available, the syntax/operation is not easily discoverable, and my requests for help/further information have fallen on deaf ears.

If you're interested in getting an actual description, I would suggest opening a support ticket.

[2020-12-17 13:59] hbwheat commented on #6987
@chrisda , thank you for the info! Sounds good, it is not crucial, but I might do that just to learn more.

Attempting to flesh out the tooling is harder without knowing what some params are capable of /do.

[2020-12-17 13:59] #6987 closed

[2020-12-17 16:16] hbwheat opened #6990 "-ContentContainsSensitiveInformation Param "Advanced" Syntax"
Hello,

I wanted post with an issue this time that might be a contribution...

The -ContentContainsSensitiveInformation param current description is as follows:

The "basic" syntax is helpful for assigned a sensitive type to the rule for content contains. The "advanced" syntax is also possible with "and" and "or" for sub groups of sensitive types.

Formatting needs to be a hashtable but more compl

[2020-12-17 17:04] tmalo627 commented on #6980
I'm experiencing same issue.

[2020-12-17 23:03] tsp4axl opened #6992 "How do AAD Roles map to Exchange Online Roles?"
I am trying to write a function app to apply permissions to a Shared Mailbox. I can connect to exchange online using an Managed Identity just fine after giving it Exchange.ManageAsApp and Global Reader, but I do not have the Add-RecipientPermission and Add-MailboxPermission commands available to me. I believe its because I only have Global Reader role assigned, which is not the equivalent of a Rec

[2020-12-18 00:40] chrisda commented on #6992
@tsp4axl, before I start, realize that conceptually, Azure AD role is equivalent to a role group in Exchange Online; Azure AD permission is equivalent to a role in Exchange Online (confusing, I know).

Using the information in [this topic](https://docs.microsoft.com/powershell/exchange/find-exchange-cmdlet-permissions). the following role and role groups in Exchange Online give access to the **Add

[2020-12-18 16:23] sheidl opened #6995 "New-CsVoiceNormalizationRule cannot be used directly to assign Normalization Rules to DialPlans"
Although this list and these rules can be created directly by using this cmdlet, we recommend that you create the normalization rules by the New-CsVoiceNormalizationRule (https://technet.microsoft.com/en-us/library/gg398240.aspx) cmdlet, which creates the rule and **assigns it to the specified tenant dial plan.**

New-CsVoiceNormalizationRule cannot be used directly to assign Normalization Rules t

[2020-12-18 21:42] majorwitteman opened #6996 "New-MoveRequest note may be inaccurate"
The note below for the New-MoveRequest may not be accurate. My team is currently working on a troubleshooting case with an Office 365 Ambassador support representative who instructed us to run this command for our client and found that it does indeed work to initiate a move request within Exchange Online.

The command `New-MoveRequest useremail@domain.com` worked to initiate the move. It would see

[2020-12-19 12:06] DEberhardt opened #6997 "Passing Username to New-CsOnlineSession when authenticating with MFA?"
Hello,
with the Command `New-CsOnlineSession` now moving into MicrosoftTeams, the Username Parameter was removed.
In order to establish a Connection with MFA, I must not use the Credential parameter.

Calling New-CsOnlineSession without parameters provides a path to do that, though I cannot "pre-fill" the Username anymore.

Is there any way to pass a Username to the command (like `Connect-Microsof

[2020-12-19 20:27] DEberhardt opened #6998 "Page and entry for New-CsOnlineSession missing"
Hello,

wanted to raise an issue/question for `New-CsOnlineSession` as it was now added to MicrosoftTeams.
It is not linked in this page, nor is available as a separate page:
https://docs.microsoft.com/en-us/powershell/module/teams/new-csonlinesession?view=teams-ps

My question has been added to the Skype variant, which may not be the best thing, my apologies:
https://github.com/MicrosoftDocs/offi

[2020-12-19 20:48] DEberhardt opened #6999 "Import-Module MicrosoftTeams - No error received, yet no Module imported"
Hello,

running `Import-Module MicrosoftTeams` sometimes results in the command completing without error, yet the Module is not imported at all.

Previously I could help myself with the `-Force` switch, though throughout testing today, this was not successful either!

My current workaround is as follows:
`Import-Module MicrosoftTeams -Force -Global`

Why is that?

PowerShell v7.2.0-preview.2 does

[2020-12-19 20:57] DEberhardt opened #7000 "Unexpected Session timeouts occur with New-CsOnlineSession - SessionOptions/IdleTimeout not adhereed to"
Hello,

I just remembered that it irked me in the Skype variant, though since that one is deprecated, I thought I raise it here:

I create a $SessionOption with the following command:
[code]
$IdleTimeout is provided with the Command (value between 1 and 8 - representing the number of hours)

When calling `New-CsOnlineSession -SessionOption $SessionOption` the timeout is applied, however the Sessio

[2020-12-21 07:51] yogkumgit commented on #6983
@chrisda Thank you very much for updating the documentation with PR. @mhunecke Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-21 07:51] #6983 closed

[2020-12-21 10:48] yogkumgit commented on #6915
@mariussm Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-12-21 10:48] #6915 closed

[2020-12-21 10:51] yogkumgit commented on #6905
@chwilfing Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-12-21 10:52] #6905 closed

[2020-12-21 10:59] yogkumgit commented on #6975
@tseward Thank you very much for the contribution and sharing this explanation. @BerndKroon Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-21 10:59] #6975 closed

[2020-12-21 13:19] dariomws commented on #6980
Hi @VShrubowich and @tmalo627, thank you for your feedback and help us to improve docs.microsoft.com.

The best places to provide feedback about the EXO PS V2 are:
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623
https://office365.uservoice.com/forums/273493-office-365-admin?category_id=96338
https://docs.microsoft.com/of

[2020-12-21 16:07] #6960 closed

[2020-12-21 18:02] dariomws commented on #6986
@hbwheat - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please

[2020-12-21 19:53] dariomws commented on #6996
Hi @majorwitteman, thank you for your feedback.

This operation is not supported but may work. It's there to let the reader know that they cannot use the cmdlet to perform a move within Exchange Online. If you have problems with a mailbox right now, you have to call support.

[2020-12-21 19:57] dariomws commented on #6996
More information here: https://techcommunity.microsoft.com/t5/exchange-team-blog/disabling-new-moverequest-for-local-mailbox-moves/ba-p/1214776

And there is an important wording in the sentence: "After April 15, 2020". So you can expect that the cmdlet works for internal moves now, but it can stop working anytime.

[2020-12-21 20:10] dariomws commented on #6990
Hi @hbwheat, thank you for your feedback and help us to improve docs.microsoft.com.

I am not convinced to add this information to the article, as I think we can achieve the same result using basic syntax. I'm not convinced that adding this information to the parameter description or as an example can add value to the article.

[2020-12-21 20:36] #6986 closed

[2020-12-21 20:36] #6990 closed

[2020-12-22 12:27] get-itips commented on #6961
Hello @frankchen76 Frank, how are you?
I tested using the latest module version (16.0.20616) and the parameter is not there, will remove from the article.
Thank you

[2020-12-22 16:41] #6953 closed

[2020-12-22 23:17] get-itips commented on #6962
Hello @lindseylanier

How are you? Hope you are doing great.
Those cmdlets belong to the Skype for Business Online Connector, now part of the Microsoft Teams module, you have to load it as explained here https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-install#install-the-skype-for-business-online-connector

Hope this information helps you.

[2020-12-22 23:19] get-itips commented on #6977
Hello @syedjahangirpeeran Syed, how are you?

Currently, the article for this cmdlet states

Thanks

[2020-12-23 02:36] hwkwicre opened #7004 "Descriptions"
-EncryptionParameters
PARAMVALUE: EncryptionParameters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d28384eb-d10f-0aa4-6b31-e78827299301
* Version Independent ID: 03b99b02-a572-49c8-49e9-d6a2bc168483
* Content: [Get-SPOMigrationJobProgress (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/powershell/modu

[2020-12-23 12:09] get-itips commented on #7000
Hello @DEberhardt David, how are you?
We are limited here to documentation issues, for your inquiry to reach the team, I need to suggest https://microsoftteams.uservoice.com/
Thanks!

[2020-12-23 12:14] get-itips commented on #6999
Hello @DEberhardt David, how are you?
Tested to see if we needed to maybe correct any article..
I also have 5.1.19041.610 PSVersion, I tested and could successfully import the module every time.
Hope this information helps you,
Thanks!

[2020-12-23 12:27] get-itips commented on #6998
Hello @DEberhardt David,
How are you?
I will propose adding the cmdlet to this index article, and if it gets approval, it will be reflected on the published version of the article.

Thanks for your feedback.

[2020-12-23 13:38] get-itips commented on #6997
Hello @DEberhardt David, how are you?

I tested this on my lab, enabled MFA, connected to teams using `Connect-MicrosoftTeams -AccountId teamsadmin@tenant.com`, approved on the authenticator app and then issued `$sfbSession = New-CsOnlineSession` and `Import-PSSession $sfbSession`

I didn't need to specify an Account for New-CsOnlineSession, it took the already validated token of the Connect-Micro

[2020-12-23 14:01] get-itips commented on #6963
How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/pnp/powershell), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

Thank you!

[2020-12-23 14:01] get-itips commented on #6981
How are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/pnp/powershell), in that repository, where a member of the PnP community will be able to correct the article with your feedback.
The documentation for PnP cmdlets is then sync from that repo into this one.

Thank you!

[2020-12-23 15:09] DEberhardt commented on #6997
Ah! - This is interesting. I have found out that creating a session with New-CsOnlineSession from the MicrosoftTeams module will create a connection to Teams as well as for SkypeOnline...
Never tried it the other way round!
I shall go back to my Code and re-order its execution then.
Can probably confirm within the next two days as I have some time to tinker 👍
Cheers!

[2020-12-23 15:19] DEberhardt commented on #6997
Follow-up question. OverrideAdmin domain is then also not needed anymore, I wager?
I mean, I could read it once connected to AzureAd anyways 😄

[2020-12-24 11:55] DEberhardt commented on #7000
Done: https://microsoftteams.uservoice.com/forums/555103-public/suggestions/42287602-new-csonlinesession-does-not-adhere-to-sessionopti

[2020-12-24 12:34] get-itips commented on #6995
Hello @sheidl
Just to clarify, do you refer to the fact that after issuing a `New-CsVoiceNormalizationRule` you have to run `Set-CsTenantDialPlan -NormalizationRules` to actually associate a rule to a dial plan ?
Thanks

[2020-12-24 12:36] get-itips commented on #7000
Great @DEberhardt David.

[2020-12-24 13:26] #7000 closed

[2020-12-25 14:01] DEberhardt commented on #6997
Ok. More testing has commenced. OverrideAdminDomain is able to be read after AzureAdConnection, not a problem.
The Single Sign On however only works if there is only one sign-in available.
I get a popup where I have to select the right account. No Authentication required (already signed-in) though in my request this list is already 10 Tenants long (and growing).

To really ensure connecting to the

[2020-12-26 13:28] shivtorov opened #7007 "Set-CsTenantDialPlan description"
Some issues with the article for this cmdlet:

- Example 2 does not make much sense with tenant dial plans due to Get-CsVoiceNormalizationRule reads non-tenant rules thus such identity could not exist
- Parameter "-Description". Explanation says `Maximum characters is 512`, but it should be `Description must have a length of at most 1040`
- Parameter "-ExternalAccessPrefix". Explanation says `The

[2020-12-26 14:01] shivtorov commented on #7007
The same updates needed in article for New-CsTenantDialPlan cmdlet.

sample code to verify limits for the parameters:
[code]

[2020-12-26 15:51] DEberhardt commented on #6997
Hello again,
I see a few PRs have been introduced already, thank you! 👍

Recently I found a Sku I could not remove with my script as it was spelled slightly differently than advertised (Domestic Calling Plan 120 Minutes). I think there are two products out there: MCOPSTN5 and MCOPSTN_5 - This might not be intentional...

[2020-12-28 06:01] hwkwicre opened #7008 "Parameters"
-ValidDataLocation
PARAMVALUE: $true | $false

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4e8491c-d645-d53c-42ba-bac39daa624d
* Version Independent ID: d5d8b31d-e5f8-40c0-e8ed-6b4d9b4aa2f0
* Content: [Get-SPOCrossGeoUsers (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-on

[2020-12-28 20:24] #6961 closed

[2020-12-28 21:10] #6761 closed

[2020-12-28 23:36] DEberhardt commented on #6998
Thank you :)

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Kateyanne <notifications@github.com>
Sent: Monday, December 28, 2020 9:06:53 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: David Eberhardt <david.eberhardt@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powers

[2020-12-28 23:45] DEberhardt commented on #6998
No, bit, this can stay closed^^

[2020-12-28 23:45] #6998 closed

[2020-12-29 07:19] yogkumgit commented on #6962
@get-itips Thank you very much for the contribution and sharing this explanation. @lindseylanier Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-29 07:19] #6962 closed

[2020-12-29 07:20] yogkumgit commented on #6963
@get-itips Thank you very much for the contribution and sharing this explanation. @joelfmrodrigues Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-29 07:20] #6963 closed

[2020-12-29 07:22] yogkumgit commented on #6977
@get-itips Thank you very much for the contribution and sharing this explanation. @syedjahangirpeeran Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-29 07:22] #6977 closed

[2020-12-29 07:25] yogkumgit commented on #6981
@get-itips Thank you very much for the contribution and sharing this explanation. @AnkitSDesai Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-29 07:25] #6981 closed

[2020-12-29 07:28] yogkumgit commented on #6995
@sheidl

[2020-12-29 07:29] yogkumgit commented on #6999
@get-itips Thank you very much for the contribution and sharing this explanation. @DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-29 07:29] #6999 closed

[2020-12-29 07:34] yogkumgit commented on #6980
@VShrubowich Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-12-29 07:34] #6980 closed

[2020-12-29 07:40] yogkumgit commented on #6996
@dariomws Thank you very much for the contribution and sharing this explanation. @majorwitteman Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-29 07:40] #6996 closed

[2020-12-29 19:07] CarlWilliams254 opened #7011 "Get-SPOTheme"
Get-SPOTheme doesn't do anything, just returns to prompt. It doesn't list anything as the document indicates
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ce4c41c-bd93-2314-b58d-195208a91f7b
* Version Independent ID: 1cb8f93c-284b-eb89-69b9-cfd0cdae82a8
* Content: [Get-SPOTheme (SharePointOnline

[2020-12-30 19:04] DEberhardt commented on #7007
Also have observed the "limit of 50" which looked to be quite arbitrary to me.
Following to see the conclusion on this as we have a requirement for more than 50 rules ourselves.

Use-case:
Non-consecutive or severely fragmented number of Extensions/Number ranges. (Sometimes even 1:1 assignments).

[2020-12-31 09:12] SebastienGu opened #7013 "Get-ManagementRoleAssignment limit"
Our O365 Exchange setup has 46 Management Scopes for local branches with a few roles assigned to each.
My issue is when I run:
`Get-ManagementRoleAssignment -GetEffectiveUsers | select identity,user | Out-GridView`
It returns 1522 lines but some entries are missing, with some users showing only some scopes or not all roles.

To confirm, I did:
`Get-ManagementRoleAssignment -GetEffectiveUsers -Role

[2020-12-31 18:07] tseward commented on #7011
Until you add a custom theme, there will be no output.

Try adding the example as shown in [Add-SPOTheme](https://docs.microsoft.com/powershell/module/sharepoint-online/add-spotheme?view=sharepoint-ps), then run `Get-SPOTheme` again.

[2020-12-31 18:12] tseward commented on #6431
Using the latest module version, I was able to successfully run this.

[code]

[2020-12-31 19:50] CarlWilliams254 commented on #7011
Thanks for following up Trevor.

I found the issue. It’s because I didn’t start Shell as Admin. Why? Because it doesn’t work. I can start it as a regular user but when I right-click the icon and choose “run as administrator”, just a black, empty command screen opens. No prompt, no interactivity.

I can’t even uninstall it and readd it. It just hangs.

Isn’t that the most excellent thing ever? I’m

[2020-12-31 20:54] tseward commented on #7011
You don't need to (and shouldn't, unless you have a purpose to do so) launch as admin. The SPO cmdlets do not require local administrator rights.

But this is likely unrelated to the cmdlets themselves and more related to MSI installer issues.

[2020-12-31 20:59] CarlWilliams254 commented on #7011
Thanks Trevor. But don’t you need to run as admin to perform theme changes etc.? However, I am the admin on my own machine so never really got why I need to run anything as admin.

This all being the case, do you know who can assist with this misbehaving app?

Tx

CW

From: Trevor Seward <notifications@github.com>
Sent: December 31, 2020 3:55 PM
To: MicrosoftDocs/office-docs-powershell <office-doc

[2020-12-31 21:06] tseward commented on #7011
No *-SPO* cmdlet requires local admin on the machine it is being run on. It requires the user connecting via `Connect-SPOService` to have the SharePoint Admin or Global Admin role, but again you don't need local admin on the machine.

You do need local admin if you're going to install it via the MSI (again, I don't recommend using it) or if you don't pass `-Scope CurrentUser` to `Install-Module`.

[2020-12-31 21:12] CarlWilliams254 commented on #7011
Thanks for the tip!!!!!! All these years I thought one always had to “Run as administrator”.

I just started it up, ran the connect then  Get-SPOHubSite and it actually returned a list of my hubs.

Merry Christmas to me. 😊

Cheers

Stay safe.

CW

From: Trevor Seward <notifications@github.com>
Sent: December 31, 2020 4:07 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.

[2021-01-01 23:35] nashiooka opened #7014 "Not all Exchange versions support the same Conflict Resolution Options."
Demonstrated in an Exchange 2013 environment (ESM) run the command:

`[Enum]::GetValues( [Microsoft.Exchange.MailboxReplicationService.ConflictResolutionOption] )`

Output is:

KeepSourceItem
KeepLatestItem
KeepAll

The document has several additional options. Including KeepTargetItem which I was trying to use and hence discovered the issue.  It seems reasonable and desirable to clarify difference

[2021-01-01 23:42] get-itips commented on #6431
Hello @tseward
Did you try with an onwer username that contains "eq", "le" or "gt" ?

[2021-01-02 05:01] ansred opened #7015 "Error - Exchange 2019 - Exchange Shell - he term 'Get-MessageTrackingLog' is not recognized as the name of a cmdlet"
Subject:
Error - Exchange 2019 - Exchange Shell

Getting this error when running

`Get-MessageTrackingLog -Sender "anas@domain.com"`
https://docs.microsoft.com/en-us/powershell/module/exchange/get-messagetrackinglog?view=exchange-ps

[code]

and Exchange Tools having the same issue:

![image](https://user-images.githubusercontent.com/5244872/103451002-719a4480-4c8c-11eb-9ffc-1b7f8682d2c1.png)

Not

[2021-01-02 05:19] ansred commented on #7015
No worries, I found the issue

First, you always need to run the following command in Exchange Shell:

`Add-PSSnapin Microsoft.Exchange.Management.PowerShell.SnapIn`

[2021-01-02 05:19] #7015 closed

[2021-01-02 14:16] DEberhardt opened #7016 "Command missing: New-Contact, Set-Contact"
Hello,

the following commands are missing:
* New-AzureAdContact (AzureAd)
* Set-AzureAdAccount (AzureAd)
* New-Contact (ExchangeOnlineManagement)
* Remove-Contact (ExchangeOnlineManagement)

[code]

If someone could tell me how I can create Contact objects (for use in Teams!) in AzureAd or in a specific Global Address List, I would appreciate it. I need to cover the full lifecycle: New/Get/Set/Re

[2021-01-02 14:17] DEberhardt commented on #7016
Cross-promoted in **azure-docs-powershell-azuread** as well: https://github.com/Azure/azure-docs-powershell-azuread/issues/552

[2021-01-02 15:13] DEberhardt opened #7017 "Command missing? Get-TeamsIPPhone, Set-TeamsIPPhone, New-TeamsIPPhone, Remove-TeamsIPPhone"
Hello,

browsing through the Admin Center I found that there is a section for IP Phones now:
![image](https://user-images.githubusercontent.com/44290340/103459761-3be77100-4d09-11eb-8bb6-3482eb7a85a3.png)
NOTE: The linked "learn more" article does not answer the below

How would I query these via PowerShell (Module Skype has Get-CsCommonAreaPhone, but that is for an OnPrem object). In Teams this i

[2021-01-02 21:12] tseward commented on #6431
@get-itips thanks, broken reading comprehension.

I opened a case with Microsoft on this and passed the issue to a PG contact, as well. This appears to be a service side issue as the XML passed by the cmdlet to the service is valid. It looks like the parser on the backend (i.e. SharePoint code) is not able to interpret the query properly.

[2021-01-04 08:34] SebastienGu opened #7018 "Get-AzureADDirectoryRoleMember - to update"
Since it's now possible to assign Security Groups to an Azure Role It would be good to update **Get-AzureADDirectoryRoleMember**
https://docs.microsoft.com/en-us/azure/active-directory/roles/groups-concept

We are testing the Security Group based roles but reporting is difficult both with the UI (I raised a separate ticket with MS) and with PowerShell.
It would make sense to have the same paramete

[2021-01-04 09:30] sheidl commented on #6995
@get-itips: Yes, exactly what I meant. Not a big issue but some feedback from one of my picky customers which I promised to try to get improved,

@yogkumgit

[2021-01-04 13:52] SearchForTheCode commented on #5817
How can this be closed? It is still unfixed to date ( have the newest  PowerShell Modules).
Still getting the same password length error when using the Access token from a client id/secret based oauth authentification.

[2021-01-04 13:58] yogkumgit commented on #6431
@MessagingAdmin Thank you for reporting this feedback here. This list is focused on content issues and we want to make sure your immediate product issue does not get lost in this list. As Trevor has opened a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team. We proceed here to close it. Thanks for taking out

[2021-01-04 13:59] #6431 closed

[2021-01-04 13:59] get-itips commented on #6431
@tseward Trevor, that is just great. Thanks for reporting to the internal team.

[2021-01-04 14:08] yogkumgit commented on #6997
@get-itips

[2021-01-04 14:10] get-itips commented on #6997
Thanks for the feedback @DEberhardt David.

[2021-01-04 17:29] chrisda commented on #6912
@yobougaz @dariomws, in looking at the _UserList_ parameter description in [Set-App](https://docs.microsoft.com/powershell/module/exchange/new-app), the limit is 1000 users.

I'll add this information to the _UserList_ parameter description in New-App.

Thanks for the feedback.

Closing

[2021-01-04 17:29] #6912 closed

[2021-01-04 18:38] #6883 closed

[2021-01-04 20:10] dariomws commented on #5817
Hi @SearchForTheCode, thank you for your comment.

An access token is not yet supported for Connect-ExchangeOnline. The following articles do not mention it:
https://docs.microsoft.com/powershell/exchange/app-only-auth-powershell-v2
https://docs.microsoft.com/powershell/module/exchange/connect-exchangeonline

From the last one:
"The Credential parameter specifies the username and password that's u

[2021-01-05 01:21] chrisda commented on #7018
@SebastienGu, sorry; wrong location for this issue. Azure AD cmdlets are documented here:

<https://github.com/Azure/azure-docs-powershell-azuread/blob/live/azureadps-2.0/AzureAD/Get-AzureADDirectoryRoleMember.md>

[2021-01-05 07:08] SearchForTheCode commented on #5817
Okay thank you for that update. As we implement scripts for our customers, the certificate way ( which we are currently using for testing) is not the suitable way for long term, as this means to much effort for the customer. An easy to create client id / secret is way more easier to handle for the casual customer. Thats why we rely on that.

The reason we dont use user based authentication is beca

[2021-01-05 09:03] ananimesh opened #7022 "New-JournalRule cmdlet not available in ExchangeOnline V2"
It appears the New-JournalRule cmdlet is not available in ExchangeOnline V2. When trying to use this cmdlet I get the error,
'**The term 'New-JournalRule' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the
path is correct and try again.**'

I get the error after importing the V2 module an

[2021-01-05 11:39] yogkumgit commented on #7018
@chrisda Thank you very much for sharing this explanation. @SebastienGu Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-05 11:39] #7018 closed

[2021-01-05 11:46] yogkumgit commented on #7011
@tseward  Thank you very much for the contribution and sharing this explanation. @CarlWilliams254 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

[2021-01-05 11:46] #7011 closed

[2021-01-05 13:40] Matthew-Kent opened #7024 "Multiple copies of Syntax section"
There appear to be multiple copies of the syntax section of the new-mailbox command for no (as far as I can see) reason.

Thanks
Matt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1aa38f7-88eb-7d2e-0ed6-efc3186eb96b
* Version Independent ID: 0dcef152-ab12-c711-742d-5d4e570ea075
* Content: [New-Mailbox (ExchangePowerS

[2021-01-05 13:41] #7024 closed

[2021-01-05 15:12] ananimesh commented on #7022
Actually I found out I was able to see the cmdlet when I connected using the UPN - '**Connect-ExchangeOnline -UserPrincipalName**'. However, when trying to connect using the app, it was not showing up.

I thought I had to do something with my app configured. The app role in AD was '**Global Reader**'. I changed it to '**Exchange Administrator**' and it worked.

I did not know the EXO V2 had the ca

[2021-01-05 15:13] ananimesh commented on #7022
I will be nice to have some documentation explaining what roles bring in which cmdlets.

[2021-01-05 18:11] exactmike opened #7025 "Get-EXORecipient Anr Parameter Unexpected Results"
![image](https://user-images.githubusercontent.com/6854516/103681281-439b5580-4f55-11eb-803d-6e26cedcd5d4.png)

The "-Anr" parameter  in Get-EXORecipient does not seem to work as expected.  Instead of returning matching recipient objects it seems to always return all objects (subject to the normal limit of only returning 1000 objects when -ResultSize is not specified).  This is in contrast to the

[2021-01-05 18:20] Tammychmarney commented on #7022
ACCOUNT ADMINISTRATOR SETTINGS SANDRA E CHMARNEY sechmarney@outlook.com single account users in CANADA using ENGLISH LANGUAGE ON ALL SERVICES INCLUDING APPLE CANADA

[2021-01-05 18:22] Tammychmarney commented on #7022
Go to GITHUB CANADA REGION ROGERS YAHOO MAIL

[2021-01-05 19:34] stephenc01 opened #7026 "Command not valid for teams"
This command does not work for teams; you have to use the undocumented command New-TeamsRetentionComplianceRule

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e8e582d-6b99-0a36-59e4-954e622154ce
* Version Independent ID: bb512026-47d0-a419-d56a-1aa3ca57b255
* Content: [New-RetentionComplianceRule (ExchangePowerShell)]

[2021-01-05 19:43] dariomws commented on #5817
@SearchForTheCode  I think there is no ETA for this. From the Exchange Team Blog:
"We're hard at work on Service Principal and Certificate Based Auth support to provide a solution to those wanting non-interactive scenarios (we will blog about this separately)."
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623
The Exchange

[2021-01-05 19:48] JeremyTBradshaw commented on #6865
@decturau has a perfect point/question that deserves an answer.

[2021-01-05 20:00] chrisda commented on #6865
Still seeking answers. When I know, I'll update the topic.

[2021-01-05 20:10] JeremyTBradshaw opened #7027 "How is -CertificateFilePath/CertificatePassword working without private key?"
I'm unsure how it works that we don't need the private key included in the PFX file.  I've tested and confirmed that yes it does work exactly as described in the example, but I'm scratching my head as to how.  If we were doing client assertion, my understanding is that we'd be signing the JWT which would require the private key.  That obviously isn't what's happening here.  So now then, I'm confus

[2021-01-05 20:40] jonwbstr opened #7028 "PermanentlyClearPreviousMailboxInfo switch not working?"
Hello,

This article says that using the "PermanentlyClearPreviousMailboxInfo" switch should remove info from the mailbox that will let us reset the mailbox. I have removed license from mailbox, ran the command and reassigned a license. The previously detached mailbox with items was reattached to the user, when the goal is to get a NEW, empty mailbox.

https://techcommunity.microsoft.com/t5/exchan

[2021-01-05 22:02] get-itips commented on #7004
Thanks for your feedback @hwkwicre

[2021-01-06 07:25] SearchForTheCode commented on #5817
Yeah thank you, so it means further waiting .

[2021-01-06 10:54] shivtorov commented on #7017
sidenote:
Jeff's blog is my goto source of info about all Lync-...-Teams phones.
http://blog.schertz.name/2020/04/common-area-phones-in-microsoft-teams/

[2021-01-06 12:56] get-itips commented on #7008
Thanks for reporting! @hwkwicre

[2021-01-06 13:11] get-itips commented on #7016
Hello @DEberhardt David.

Have you tried with [New-MailContact](https://docs.microsoft.com/en-us/powershell/module/exchange/new-mailcontact?view=exchange-ps) and [Remove-MailContact](https://docs.microsoft.com/en-us/powershell/module/exchange/remove-mailcontact?view=exchange-ps) ?

[2021-01-06 13:33] get-itips commented on #7017
Hello @DEberhardt David, how are you?
Have you already seen [this article](https://docs.microsoft.com/en-us/microsoftteams/set-up-common-area-phones) ? Does that helps answer your questions?
AFAIK currently there aren't cmdlets to handle -IPPhones using the MicrosoftTeams PowerShell, please use https://microsoftteams.uservoice.com/ to propose to the team to work on them.
Thank you

[2021-01-06 16:22] #6995 closed

[2021-01-06 17:08] jmmowrer opened #7032 "Need a "Please Notenote for"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06a1f9fa-7dd6-ebf1-3e64-ef47bd3962b2
* Version Independent ID: 5ea9bde3-9fe9-8ae1-0992-b12223c4d7c4
* Content: [New-SafeLinksPolicy (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/new-safelinkspolicy?view=exchange-ps)

[2021-01-06 17:09] jmmowrer opened #7033 "Need a "Please Note" for DeliverMessageAfterScan setting"
Need a "Please Note" for DeliverMessageAfterScan setting that if the URL is bad the entire message will not be delivered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06a1f9fa-7dd6-ebf1-3e64-ef47bd3962b2
* Version Independent ID: 5ea9bde3-9fe9-8ae1-0992-b12223c4d7c4
* Content: [New-SafeLinksPolicy (ExchangePowerShell

[2021-01-06 17:29] chrisda commented on #7032
Closing. Basically, unfinished dupe of #7033

[2021-01-06 17:29] #7032 closed

[2021-01-06 17:56] chrisda commented on #7033
@jmmowrer, done. In the future, you too can make changes like this directly without opening an Issue first. See <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Also the _DeliveryMessageAfterScan_ parameter is available on New-SafeLinksPolicy and Set-SafeLinksPolicy, so I made the same  update in both topics.

Thanks for the feedback.

Closing

[2021-01-06 17:56] #7033 closed

[2021-01-06 19:47] DEberhardt commented on #7016
I have managed to creating a Contact with `New-MailContact`, then using `Set-Contact` to add the Phone Number.
My use-case is to add Contact Objects (for Analog Devices) for use in the Teams Global Address list and finding Objects by Name and Extensions.

However, I feel, the whole procedure is not well documented:
- An Example Page would be good to demonstrate the whole process for Contact object

[2021-01-06 20:01] DEberhardt commented on #7017
Jeffs blog is a must-read indeed :) (and a have-read already...)
Same goes for the Common Area Phone article.

However, it doesn't go into that much detail on how to identify these special users via PowerShell.
For Example, Resource Accounts are able to be queried with Get-CsOnlineApplicationInstance as well as with Get-AzureAdUser and Get-CsOnlineUser. Going by the AzureAdUser Object I can read t

[2021-01-06 20:18] DEberhardt commented on #7017
Uservoice created: https://microsoftteams.uservoice.com/forums/555103-public/suggestions/42369073-teams-ip-phones-query-distinction-and-powershel

[2021-01-07 09:34] ArttuArstila opened #7034 "Step 2 clarifications"
Regarding "Step 2: Assign API permissions to the application": it would be helpful to clarify that is default "Microsoft Graph / User.Read" permission required, or can it it be safely removed? If it needs to stay, please instruct on the Manifest syntax - need to have comma between multiple requiredResourceAccess elements.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-01-07 09:35] ArttuArstila opened #7035 "More RBAC roles to be added?"
Current list of supported RBAC roles is quite short. They do not support a proper least privilege model of using only pure Exchange RBAC instead of these too powerful AADroles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c465a

[2021-01-07 12:04] get-itips commented on #7016
Hello @DEberhardt David. How are you?

This in particular I think would fit in another repo (https://docs.microsoft.com/en-us/MicrosoftTeams/), you can always propose an improvement to documentation.

I know the team behind the Teams PowerShell module is constantly working on adding new features, as I always say, the best thing to do in this case is create a [uservoice](https://microsoftteams.user

[2021-01-07 12:26] get-itips commented on #7017
Voted. ;)

Unfortunately, I do not have a CAP/CAP License to test this, probably checking the `AssignedPlan` attribute outputted by `Get-CsOnlineUser`.

Thanks

[2021-01-07 13:06] DEberhardt commented on #7017
The license alone can be an indicator for a CAP, yes, but Conference Phones and Meeting Room phones have to have an E1/E3/E5 license due to the requirement of a mailbox. The only distinction I currently found is the SignInMode between all three, but I cannot query all the Effective SignInMode for each CsOnlineUser with a Script that performs like the Admin Center does (it would have to run through

[2021-01-07 13:34] get-itips commented on #7017
Hello @DEberhardt David.

I understand what you mean, that is maybe the need for some specific cmdlets to manage CAP devices on Teams will be welcomed.

**Thanks**

[2021-01-07 13:37] thewrabbit opened #7036 "Confirm behaviour of parameter -AllowOrganizersToOverrideLobbySettings"
I believe this parameter -AllowOrganizersToOverrideLobbySettings has no effect.  It's legacy from previous lobby controls.  Can this be confirmed and updated.  The lobby options are in full control of the meeting organizer and they cannot be prevented from altering them.

So the text entry of "Set this parameter to true to enable Organizers to override lobby settings" is incorrect.

---
#### Docum

[2021-01-07 13:38] GIT-RDonker opened #7037 "Small typo in webpage?"
Hi There,

First of all : This piece of documentation has helped me a lot to find the right accesgroups for my collegues. Thank you very much!

However, under the Troubleshooting paragraph (first entry under **These possible causes have the same solution**)I found a small puzzle :
The line states
You might have entered a cmdlet or parameters that are defined in a role that isn't assigned to anyone

[2021-01-07 17:24] chrisda commented on #7035
@ArttuArstila, interesting point, but nothing that can be fixed by documentation updates.

Your best bet is to create a suggestion at <https://office365.uservoice.com/> or open a support case.

[2021-01-07 17:41] ArttuArstila commented on #7035
Thanks, you are correct.

[2021-01-07 17:41] #7035 closed

[2021-01-07 19:06] chrisda commented on #7037
@GIT-RDonker, I see what you're saying, but it isn't a typo; it's more of a subtlety (I used the word 'anyone' in similar contexts in the topic).

Of course, role group membership is used to assign RBAC roles to users in the vast majority of cases. But there's nothing to stop an admin from directly assigning an RBAC role to a user. Then, if that admin leaves the company, their successor is left to

[2021-01-07 19:06] #7037 closed

[2021-01-07 23:21] happywino opened #7040 "New-CsOnlineSession no longer supports the documented -OAuthAccessToken parameter"
Using the MicrosoftTeams module 1.1.6 and 1.1.10 preview New-CsOnlineSession doesn't have the -OathAccessToken parameter, without this parameter we are unable to authenticate to SFBO using a Service Principal token.

[2021-01-08 07:24] hwkwicre opened #7044 "Parameters"
Many parameters only have "PARAMVALUE:" for description, or even no description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1eb0f9d-7bfa-3b92-8945-973d2ddfe570
* Version Independent ID: d024daec-3c32-8ed5-be3d-02e3539a08cb
* Content: [Set-SPOMigrationPackageAzureSource (SharePointOnlinePowerShell)](https://docs.mi

[2021-01-08 14:00] EricHindrichsen opened #7047 "Documentation pages for Get-/Set-/Grant-/Remove-CsTeamsFeedbackPolicy are missing"
Hi,

As the title suggests, from all the *-CsTeamsFeedbackPolicy cmdlets only New-CsTeamsFeedbackPolicy seems to have a documentation page. Where are the others?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95e9c02c-2fa2-52b2-2898-71ddda3eaf21
* Version Independent ID: f5fbed81-ebc2-9dfa-d180-3704696cb3aa
* Content:

[2021-01-08 15:06] #7008 closed

[2021-01-08 15:12] RVAHaver01 opened #7048 "SharePoint PowerShell Documentation"
None of the SharePoint PowerShell documentation has been updated to include the commands for when you are using an Azure Managed SQL instance.  Please update the documentation or share with me what that documentation is.

[2021-01-08 20:17] get-itips commented on #7007
Thanks for your feedback @shivtorov

[2021-01-10 18:55] GLComputing opened #7052 "Correct way for IPv6"
I have a rule to disable EAC and PS from outside the network, as recommended.
This worked until we upgraded the routers to IPv6.
What's the correct way to include the v4 and v6 subnets in a cmd like this:
`New-ClientAccessRule -Name "Restrict EAC Access" -Action DenyAccess -AnyOfProtocols ExchangeAdminCenter -ExceptAnyOfClientIPAddressesOrRanges 192.168.10.1/24`

Thanks

---
#### Document Details

[2021-01-10 18:57] GLComputing commented on #7052
Should also be added to this doc:
https://docs.microsoft.com/en-us/exchange/clients/client-access-rules/procedures-for-client-access-rules?view=exchserver-2019&source=docs

[2021-01-11 02:04] who8e1 opened #7053 "Code Example two has a missing Quotation Mark"
The code Example 2 is missing a quotation mark at the end of the -ServerRelativeUrl Parameter
`PS:>Move-PnPFile -ServerRelativeUrl "/sites/project/Shared Documents/Document.docx` **Here** `-TargetUrl "/sites/project/Archive/Document.docx" -OverwriteIfAlreadyExists`

This causes the code formatting to not display correctly
---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-01-11 15:33] dariomws commented on #7013
@SebastienGu - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us poste

[2021-01-12 07:41] DEberhardt opened #7058 "HTTP 403 Error when creating a session with New-CsOnlineSession (MicrosoftTeams)"
Hello,

recently, when creating a session with New-CsOnlineSession, I get - intermittently - this:

`Session creation failed: Connecting to remote server api.interfaces.records.teams.microsoft.com failed with the following error message : The WinRM clien t received an HTTP status code of 403 from the remote WS-Management service. For more information, s ee the about_Remote_Troubleshooting Help top

[2021-01-12 07:55] DEberhardt opened #7059 "Reconnect to a Session created with New-CsOnlineSession"
Hello,

recently, when creating a session with New-CsOnlineSession in MicrosoftTeams, `Enable-CsOnlineSessionForReconnection` is not available anymore. Has the functionality been captured in the new Command? (It doesn't look like it has...)

The behaviour is as follows.
After 60mins (when using Session options set to 4hrs, this drops to 15 or sometimes 5 minutes...)
Putting the SessionOption to th

[2021-01-12 09:53] jolscr commented on #4292
EDU_Staff is now supported in PowerShell? Because in Graph it is... https://docs.microsoft.com/en-us/MicrosoftTeams/get-started-with-teams-templates

[2021-01-12 12:43] yogkumgit commented on #7013
@dariomws  Thank you very much for the contribution and sharing this explanation. @SebastienGu Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation updat

[2021-01-12 12:43] #7013 closed

[2021-01-12 13:11] get-itips commented on #4292
Tested with 1.1.10-preview and it is not yet available to use. Hope this info helps you. Thanks

[2021-01-12 14:00] dariomws commented on #7022
Hi @Tammychmarney, thank you for your feedback.

For more information about how permissions work in Exchange Online, please see the following article:
https://docs.microsoft.com/en-us/exchange/permissions-exo/permissions-exo

[2021-01-12 14:17] ammicule opened #7060 "RetentionDuration not up to date"
Hi!
The -RetentionDuration information is out of date, as the only options are <=twelve months:
![image](https://user-images.githubusercontent.com/77338046/104325484-5c75af00-54f1-11eb-8804-93a7affb018b.png)
and currently, in a tenant, we can see the following:
![image](https://user-images.githubusercontent.com/77338046/104325550-6c8d8e80-54f1-11eb-8078-99c90e3a98e3.png)
Which is a lot more than j

[2021-01-12 16:49] #7014 closed

[2021-01-12 17:10] KSib commented on #6507
I also tried the same command as @ahamin01  and it definitely doesn't work as written. I'm trying it on Powershell x64 windows 7.1.0 and I see this:

[code]

If it does work for you, that's great, but the documentation should be updated in a way that helps people it doesn't work for.

If I run the following command then it does work:

[code]

[2021-01-12 17:12] KSib opened #7062 "Running Install-Module -Name ExchangeOnlineManagement no valid module"
Referencing this issue since it's the same as mine, but it's closed and will probably get overlooked https://github.com/MicrosoftDocs/office-docs-powershell/issues/6507

I also tried the same command as @ahamin01  and it definitely doesn't work as written. I'm trying it on Powershell x64 windows 7.1.0 and I see this:

[code]

If it does work for you, that's great, but the documentation should be u

[2021-01-12 17:17] #7004 closed

[2021-01-12 17:20] KSib commented on #7062
Also, something to note to others if they see this: don't use Powershell 7 as it's incompatible with the following command which was certainly interesting to learn. I figured it was an upgrade on the existing powershell, but I was apparently wrong:

`Connect-ExchangeOnline -UserPrincipalName <UPN> -ShowProgress $true`

You'll eventually get an error around a Cryptography DLL.
https://github.com/Po

[2021-01-12 18:12] dariomws commented on #7062
Hi @KSib, thank you for your feedback.

PowerShell 7 is not supported yet. From [](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#prerequisites-for-the-exo-v2-module):
"Windows PowerShell 5.1 is the latest version of PowerShell that's publicly supported by the EXO V2 module. Support for later versions of PowerShell (and by definition, support for Linux or Mac) is a wo

[2021-01-12 18:22] dariomws commented on #7025
Hi @exactmike, thank you for submitting your feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

You can also wr

[2021-01-12 18:31] dariomws commented on #7027
Hi @JeremyTBradshaw, thank you for your feedback.

I think the best place to reach the product team and get this information is the blog:
https://techcommunity.microsoft.com/t5/exchange-team-blog/modern-auth-and-unattended-scripts-in-exchange-online-powershell/ba-p/1497387
I see that you left several comments there.

[2021-01-12 18:44] chrisda commented on #7060
@ammicule, confirmed that the TenYears value was missing, so I added it. This also affects the New-UnifiedAuditLogRetentionPolicy cmdlet, so I also added it there.

Thanks for the feedback.

Closing

[2021-01-12 18:44] #7060 closed

[2021-01-12 18:46] dariomws commented on #7028
@jonwbstr - thank you for submitting feedback.

It seems that the parameter still works. In this case, I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-

[2021-01-12 19:06] chrisda commented on #7062
@KSib, @ahamin01, the intent of the [Connect to Exchange Online PowerShell](https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell) topic is to show the steps that you use to connect to Exchange Online PowerShell. The very important prerequisite steps to install the module are covered in the [What do you need to know before you begin?](https://docs.microsoft.com/power

[2021-01-12 19:12] KSib commented on #7062
Thanks this makes sense. I definitely overlooked that part!

When I was looking at the previous reply, I followed the link that closed that topic and it still didn't work so I didn't consider I overlooked something else as I expected it would have been in the reply.

This is what was linked:

which I tried

but what I needed was right above it. It came off as dismissive when it was basically a "co

[2021-01-12 19:46] JeremyTBradshaw commented on #7027
@dariomws I will do that, but I don't necessarily think my issue is misplaced here whereas the example in the article is relevant to the question.  I guess it doesn't matter since it's not up to me anyway and clearly I'm just expressing frustration through a few different channels.  So maybe I'll step away and defuse then reassess.

[2021-01-12 20:01] chrisda commented on #7026
@stephenc01, I'm told that the \*TeamsChatLocation\* and \*TeamsChannelLocation\* parameters in the *-RententionCompliancePolicy cmdlets are the backend components of the current UI M365 Compliance center and/or Security & Compliance Center.

The \*-TeamsRetentionCompliancePolicy/Rule cmdlets were deprecated some time ago, but appear to still linger.

So are you saying that New/Set-RetentionCompli

[2021-01-12 20:19] dariomws commented on #7027
Thank you for your reply @JeremyTBradshaw!

[2021-01-12 20:41] stephenc01 commented on #7026
Hey, @chrisda. This was part of MSCase 23287620. *RetentionCompliancePolicy does not work for teams location.

`Description: This code produces the error below. $name = "Default XX Year Retention Teams [XX2]" $pol = New-RetentionCompliancePolicy -Name $name -TeamsChatLocation "XXXXXX" New-RetentionComplianceRule -Name $name -RetentionDuration 1825 -Policy $pol.Guid.Guid -RetentionDurationDisplayHi

[2021-01-12 22:53] chrisda commented on #7026
@stephenc01, could the cause of this error be the RetentionDurationDisplayHint and ExpirationDateOption parameters don't apply to Teams retention? That's the vibe I'm getting...

[2021-01-12 23:10] jonwbstr commented on #7028
Really? I've had 3 people from ms support reproduce the issue, what version
of the module did you use?

On Tue, Jan 12, 2021, 1:47 PM Dario Woitasen <notifications@github.com>
wrote:

[2021-01-12 23:10] jonwbstr commented on #7028
Sorry 2 people, I'm the 3rd 😁

On Tue, Jan 12, 2021, 6:10 PM Jon Webster <jon.wbstr@gmail.com> wrote:

[2021-01-13 09:02] yogkumgit commented on #7026
@stephenc01 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-13 09:02] #7026 closed

[2021-01-13 09:05] yogkumgit commented on #7027
@dariomws Thank you very much for the contribution and sharing this explanation. @JeremyTBradshaw If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-13 09:20] yogkumgit commented on #7016
@get-itips Thank you very much for the contribution and sharing this explanation. @DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-13 09:25] yogkumgit commented on #7017
@DEberhardt  Thank you very much for your kind feedback and logging this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-01-13 09:25] #7017 closed

[2021-01-13 10:36] JeremyTBradshaw commented on #7027
@yogkumgit to be clear, no explanation was provided whatsoever. I was simply diverted elsewhere, by someone who isn't internal to Microsoft.  It's fine that this is closed, I don't even care anymore, but I'm not in agreement that any explanation or solution was provided.

[2021-01-13 13:10] dariomws commented on #7028
If you have a Microsoft alias, you can link your accounts in GitHub so that a blue "Microsoft submitter" label appears to any PR's or issue you submit. Guidance on it here: https://docs.opensource.microsoft.com/tools/github/index.html

Here is the site you can use to see the mappings between GitHub and Microsoft aliases: https://repos.opensource.microsoft.com/people?q=jonwbstr

Could you kindly co

[2021-01-13 13:55] dariomws commented on #7028
@jonwbstr I don't have a hybrid Exchange lab to test it properly, but I used it in November 2020. Are you trying with the EXO PS V2 2.0.3, right? I'm trying to confirm it on my own, but I would also appreciate it if you can try it.

Thanks!

[2021-01-13 14:05] jonwbstr commented on #7028
Both v2 and the basic auth method are  giving the same unexpected behavior.
I'm not a Microsoft employee, but I did sleep at a Holiday Inn last night.
And I'm a CSP partner.

I've never tried this but could probably spin up a demo and test there if
needed.
https://cdx.transform.microsoft.com/

Support has tech leads looking into the report at the moment

-jon

On Wed, Jan 13, 2021, 8:55 AM Dario W

[2021-01-13 14:10] dariomws commented on #7028
Please keep us posted here on the resolution to feed whatever information you discover into the content.

[2021-01-13 15:12] yuri-wisestamp opened #7068 "Step 5 UI changed. Can't find app in users list"
The UI looks different today:
![image](https://user-images.githubusercontent.com/5073294/104470151-10466f80-55c2-11eb-815c-f80549689bc4.png)

When clicking _here_, searching for Exchange Admin and clicking, we're getting to a screen similar to what the docs show:
![image](https://user-images.githubusercontent.com/5073294/104470474-6b786200-55c2-11eb-9f6b-bd739585064d.png)

 but cant find the regis

[2021-01-13 17:15] paul9955 opened #7069 "Get-UserBriefingConfig not being replaced"
Hello, I'm a writer for the Workplace Analytics & MyAnalytics products. I've received word from one of my PMs that there is an error on this page (https://docs.microsoft.com/en-us/powershell/module/exchange/get-userbriefingconfig?view=exchange-ps). He said that we need to remove the Note near the top of the page that states "This cmdlet is being replaced by the Get-MyAnalyticsFeatureConfig cmdlet.

[2021-01-13 22:29] chrisda commented on #7069
@paul9955, if you have a GitHub account (which you do, because you submitted this issue), then you can remove the offending text. Editing directly on the web is super simple (click the Edit pencil on the topic on docs, then click the Edit pencil again on the topic on GitHub). This is all explained here: <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md#quickly-update-a

[2021-01-13 22:49] Mr-K07 opened #7070 "Get-SPOuser cmdlet get throtled if you have more than 3000 users in a site"
Issue: Get-spouser does not retrieve all the users in a site collection even after using the -limit all parameter
Expected behavior : retrieve all users from the site collection

Details: when I run the get-spouser ... I get no result. If I get a Fiddler I can see that after about 3000+ events I get 429. I have to mention that we are a mid / large company and in some site collections we have over

[2021-01-13 23:00] #7007 closed

[2021-01-13 23:48] philipzloh opened #7072 "OutlookGifPickerDisabled should not just be in Preview"
OutlookGifPickerDisabled should have saturated fully for all tenants as of last year.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23add0a6-bb9c-15d2-a6eb-351ae0564522
* Version Independent ID: 8056b3ee-4fab-3a5c-935b-a9d0e9ad82a4
* Content: [Set-OrganizationConfig (ExchangePowerShell)](https://docs.microsoft.com/en-

[2021-01-14 05:22] Rickage90 commented on #6996
disappointed that this was removed it was very handy having the ability to fix issues with mailboxes without the need to rely on support :(

[2021-01-14 05:40] hwkwicre opened #7073 "Typos?"
--SharingCapability --returns the effective access level (the site policy and the tenant policy combined.

) is missing, and also "--returns" is confusing. I almost thought you can input --returns in PowerShell.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97274311-02e3-436c-10b7-a0a428220098
* Version Independent ID:

[2021-01-14 09:04] arnauvc opened #7075 "Type AppleSensitivityLabel"
In the -ApplySensitivityLabel parameter, there's a typo:

The Appl**e**SensitivityLabel parameter specifies which label to use for the autolabel policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3248996-72e7-6206-484c-d6e778ed8918
* Version Independent ID: da9bd1a9-5632-1cb9-334f-a6db781f62ff
* Content: [New-Auto

[2021-01-14 09:16] thepill opened #7076 "Using Parameter ActiveSync does only return EAS devices and not includes them"
The parameter description for `ActiveSync` ([here](https://docs.microsoft.com/en-us/powershell/module/exchange/get-mobiledevice?view=exchange-ps#parameters)) says,

 that mobile devices using active-sync will be **included** in the result, but actually using `ActiveSync` (exchange online) only returns active-sync devices.

![image](https://user-images.githubusercontent.com/8901210/104569077-26e7d7

[2021-01-14 16:12] chrisda commented on #7072
@philipzloh, I fixed it. In the future, you too can make updates like this directly in the topic without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2021-01-14 16:12] #7072 closed

[2021-01-14 16:16] paul9955 commented on #7069
Thank you Chris, I'll give that a try!

[2021-01-14 16:32] JBines opened #7078 "PermanentlyClearPreviousMailboxInfo Discontinued?"
-PermanentlyClearPreviousMailboxInfo
I could be having a noob day but I think this switch has been discontinued and moved to the Disable-Mailbox testmbx -PermanentlyDisable. If so the documentation needs updating. Seems there is some confusion out there with this failing cmdlet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-01-14 16:39] chrisda commented on #7075
@arnauvc, I fixed it. In the future, you too can make updates like this yourself without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2021-01-14 16:45] arnauvc commented on #7075
Hi Chris,

Thank you very much, I was not aware of that and I'm not used to doing
this. I'll take it into account :)

Best regards,

Arnau

Missatge de Chris Davis <notifications@github.com> del dia dj., 14 de gen.
2021 a les 17:39:

[2021-01-14 16:49] #7075 closed

[2021-01-14 16:53] chrisda commented on #7076
@thepill, I fixed it is as you described.

It's interesting that the same ActiveSync switch exists in the Get-MobileDeviceStatistics and Get-EXOMobileDeviceStatistics cmdlet topics, and both of those descriptions match what you're describing.

Thanks for the feedback.

Closing

[2021-01-14 16:53] #7076 closed

[2021-01-14 19:04] sinnamingrrl opened #7085 ""Import of transport rules is not supported""
I used

to export my transport rules from an O365 Tenant.  I then connected to a new O365 tenant and ran the following:

I recieved the following error:

Import of transport rules is not supported
    + CategoryInfo          : InvalidOperation: (Import of trans...s not supported:String) [Import-TransportRuleCollec
   tion], InvalidOperationException
    + FullyQualifiedErrorId : [Server=PH0PR05MB7

[2021-01-14 22:35] JBines commented on #7078
Confirmed: noob day

[2021-01-15 03:45] loftwah opened #7089 "Module installation and setup guide link should be in this doc"
[Enter feedback here]

I love the docs you guys have put a tonne of work into recently but I've had an issue with finding information about installing, configuring and actually getting going with Powershell first. I want to connect to 365 using the exchange online v2 module, which I had to do a tonne of digging and work to actually get working before I could use the document. A link to somewhere t

[2021-01-15 05:58] victorguo commented on #6924
@ananimesh I encountered the memory issue as well. Could you please let me know how you resolved the issue?

[2021-01-15 07:52] Petri-X opened #7090 "-Credential does not allow admin account anymore"
Hi
On Teams module (1.1.6) I'm trying to open the session using the command:
New-CsOnlineSession -Verbose -Credential firstname.lastname@company.com

That unfortunately fail with error:
**New-CsOnlineSession : Cannot bind parameter 'Credential'. Cannot convert the "firstname.lastname@company.com" value of type "System.String" to type "System.Management.Automation.PSCredential".**

But this page sa

[2021-01-15 08:04] Petri-X opened #7091 "Processing data from remote server api.interfaces.records.teams.microsoft.com failed"
Hi,

When opening new session to Skype online using Teams PS module (ver. 1.1.6) and following command;
**$s = New-CsOnlineSession -OverrideAdminDomain  company.onmicrosoft.com -Verbose**

But that fails with following error:

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
VERBOSE: Performing t

[2021-01-15 10:55] Obenscripe opened #7093 "Connect-ExchangeOnline Support page switches incorrect?"
Unless I am mistaken [this support page](https://docs.microsoft.com/en-us/powershell/module/exchange/connect-exchangeonline?view=exchange-ps) states the the -prefix switch is a positional switch rather than a named switch. in fact there are  positional switches 0 to 7 of which Prefix is 4. The examples do not show this however and use Prefix as a named switch. If indeed I try to connect with all p

[2021-01-15 13:26] ZA-Ray commented on #7068
I'm also battling to get this step working - glad I'm not the only one.  I was wondering if Azure AD Premium licensing is needed, but there is no mention of this on the page.

[2021-01-15 17:03] jonwbstr commented on #7078
How do you disable mailbox on a user with a license?
You can't

How do you disable mailbox on a user without a license?
You can't?

Seems like a catch 22

To reset previous mailbox info, we CAN
1. Move user out of AADConnect scope
2. Initiate AADConnect sync (Delete the user from o365)
3. permanently delete the user
4. Move user back into AADConnect scope
5. Initiate AADConnect sync (recreate user

[2021-01-15 17:04] jonwbstr commented on #7078
Related to #7028

[2021-01-15 17:05] jonwbstr commented on #7028
Waiting on PG to review the case

[2021-01-15 17:09] jonwbstr commented on #7028
you mention hybrid exchange. So I wonder if the switch is not clearing the properties the docs say it is clearing.
Article says (ps, the CAUTION tag is broken)

I am not trying to use this switch in a hybrid environment, as written this command should work on a cloud only mailbox. I don't want to delete the user and reconfigure everything just to reset the user's mailbox and archive. They have gro

[2021-01-15 17:17] jonwbstr opened #7095 "ZapEnabled not found"
Hello,

I notice issue #6842 reported the documentation talks about ZapEnabled switch. The related issue says, that switch has been replaced. I can confirm the parameter is not available when using Exchange Basic auth and the newer Exchange Online powershell module.

However, this page reports this switch exists with no indication it has been replaced, and I do not see any pending pull requests to

[2021-01-15 17:23] jonwbstr commented on #7095
Derp moment, the page says it's deprecated. Friday brain. ignore me.

[2021-01-15 17:38] chrisda commented on #7089
@loftwah, I'm sorry to hear you were having trouble. The [Connect to Exchange Online PowerShell](https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell) is the first result in Bing and Google when searching for the phrase "Connect to Exchange Online PowerShell". I recently refactored that topic to use the EXO V2 module, since the old Basic auth instructions will event

[2021-01-15 18:06] chrisda commented on #7085
@sinnamingrrl, I'm told import of transport rules has been temporarily disabled. Please open a support case. They should be able to enable specifically for your organization.

[2021-01-15 18:36] chrisda commented on #7095
@jonwbstr, as you've discovered, it's a balancing act when a parameter is removed or replaced. I typically don't remove a deprecated parameter until it's truly gone (unavailable to me on a standard, stock tenant). If it's available, regardless of whether it works or it's fallen out of favor, I'll leave the parameter and description in the topic, typically with the language that you saw ("available

[2021-01-15 19:45] chrisda commented on #7093
@Obenscripe, you caught me. Several months ago, I was updating the topic, yet I was using the Preview version of the module.

In the current 2.0.3 version of the module, the following parameters are positional:

 [[-ConnectionUri] <String>] (position 1)
 [[-AzureADAuthorizationEndpointUri] <String>] (position 2)
 [[-ExchangeEnvironmentName] <ExchangeEnvironment>] (position 3)
 [[-PSSessionOption]

[2021-01-15 23:07] sinnamingrrl commented on #7085
Hey Chris, if that is the case, then the article should still be updated to reflect the fact that Import-tranportrulecollection is not currently supported for Exchange online and EOP

[2021-01-15 23:47] jonwbstr commented on #7028
To verify,

You confirmed it works, and we still don't know why it's not working as
intended for me in this non hybrid scenario.

Is that accurate?

On Fri, Jan 15, 2021, 3:59 PM Dario Woitasen <notifications@github.com>
wrote:

[2021-01-15 23:53] jonwbstr commented on #7095
I appreciate that approach.

I should have checked the paramer notes. In the past parameters have been
deprecated and the descript changed to say it no longer works, but left in
to prevent automations from breaking.

Old stuff has to be removed eventually!

I am not against leave it as is for a bit, so someone trying to figure out
where the parameter went, has something to find like I should have

[2021-01-16 11:21] dariomws commented on #7028
@jonwbstr,

Yes, I confirmed it works.

The best way forward in your scenario is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted

[2021-01-17 17:20] tseward commented on #7090
You need to pass a credential object. I.e.

[code]

You can also do:

    New-CsOnlineSession -Credential (Get-Credential)

Passing a string value to `New-CsOnlineSession -Credential` would never be valid since it is expecting a `Credential` object.

[2021-01-17 17:23] tseward commented on #7048
Can you expand upon what you're asking for? How does your Azure Managed SQL instance relate to SharePoint PowerShell?

And is this for SharePoint Server? I would assume so given you're talking about a SQL MI. Again, not sure how that would alter SharePoint Server cmdlet usage since you don't "sign in" to the module.

[2021-01-17 17:26] tseward commented on #5485
@get-itips this is being looked into.

[2021-01-17 20:28] heintonny commented on #6737
**Hi @yogkumgit: Do you have any update on this requirement?**

I also need to use the New-CsOnlineSession comandlet in PowerShell module MicrosoftTeams from Azure Automation, and I can't get the authentication to work when I use ApplicationId to authenticate the Connect-MicrosoftTeams session.

The Azure Automation account have a managed Identity which I granted "Teams Service Administrator" role

[2021-01-18 08:37] Petri-X commented on #7090
That is true @tseward. But as I stated on my comment, the documentation tells I should be able to use also the admin account on that parameter.

So is there an error on document after the CMDLet has been moved into Teams PS Module?

[2021-01-18 11:10] JBines commented on #7078
@jonwbstr I believe that if you have the mailbox on-hold even if you remove the license the mailbox will remain and the disable-mailbox cmdlet could work. I found that -PermanentlyClearPreviousMailboxInfo switch would work once no retention polices were applied to the mailbox.  See my comment here https://techcommunity.microsoft.com/t5/exchange-team-blog/permanently-clear-previous-mailbox-info/ba-

[2021-01-18 14:39] RVAHaver01 commented on #7048
SharePoint 2016 and 2019 now support running on a SQL MI in stead of using a SQL Server.  I have these two environments running in Azure against SQL MI and they are running just fine.  However, the SharePoint Server PowerShell command documentation has not been updated to include the arguments or examples required to do this.  In order for me to setup these environments I had to query the actual P

[2021-01-18 16:25] get-itips commented on #7040
Hello @happywino how are you?
The parameter has been removed from documentation [in a recent update.](https://github.com/MicrosoftDocs/office-docs-powershell/pull/7012) as the parameter has been, as you said, removed from the cmdlet.
Thanks

[2021-01-18 17:56] get-itips commented on #7036
Hello @thewrabbit how are you?
I am looking into this... Thanks

[2021-01-18 18:12] anwarmahmood1 opened #7103 "missing the '-RecordingStorageMode' parameter"
see https://docs.microsoft.com/en-us/microsoftteams/tmr-meeting-recording-change

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01163bb5-1bea-54e9-4592-bf19256f2101
* Version Independent ID: 7a7a44a1-e01e-da96-d1a0-a876487dcb4c
* Content: [New-CsTeamsMeetingPolicy (SkypeForBusiness)](https://docs