[2020-03-23 22:20] chrisda commented on #5142
It's my understanding that you should only modify and use the default connection filter policy named Default, so (in theory) only Get-HostedConnectionFilterPolicy and Set-HostedConnectionFilterPolicy are meant to be used. Under that model, New-HostedConnectionFilterPolicy and Remove-HostedConnectionFilterPolicy aren't necessary.

[2020-03-23 22:25] chrisda commented on #5143
@RamkarUmmo, so are you saying that the steps already described in the topic didn't work for you? Bypass seems like a really bad security risk; worse than Unrestricted, if that's even possible.

  - Windows PowerShell needs to be configured to run scripts, and by default, it isn't. You'll get the following error when you try to connect:

    To require all scripts that you download from the intern

[2020-03-23 23:11] mrkeiths commented on #5142
@chrisda: I completely agree.  Only the Get/Set cmdlets are needed for maintaining the Default policy if new filter policies are no longer supported.

[2020-03-24 03:16] RamkarUmmo commented on #5143
That is correct, running Set-ExecutionPolicy RemoteSignedit did not work
for me even in elevated mode. That is why I focused on the registry
permissions. If you prefer to set any other suitable execution policy
setting then you can do it.

On Mon, Mar 23, 2020 at 4:26 PM Chris Davis <notifications@github.com>
wrote:

[2020-03-24 07:15] matambanadzo commented on #5056
Same here. Access denied. Need to know steps on getting our tenant whitelisted.

[2020-03-24 08:55] Anvariel opened #5144 "only fetches 100 members"
Seems to only fetch 100 members from private channel.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec48e6b6-c93b-a0f1-0144-978ea434b3f0
* Version Independent ID: 28ecb86c-661d-c0ee-6b2c-956c97d02352
* Content: [Get-TeamChannelUser (teams)](https://docs.microsoft.com/en-au/powershell/module/teams/get-teamchanneluser?v

[2020-03-24 12:25] yogkumgit commented on #5132
@officedocsbot assign @yogkumgit

[2020-03-24 12:26] yogkumgit commented on #5139
@officedocsbot assign @yogkumgit

[2020-03-24 12:26] yogkumgit commented on #5142
@officedocsbot assign @yogkumgit

[2020-03-24 12:27] yogkumgit commented on #5143
@officedocsbot assign @yogkumgit

[2020-03-24 12:27] yogkumgit commented on #5144
@officedocsbot assign @yogkumgit

[2020-03-24 12:30] yogkumgit commented on #5121
@get-itips  Thank you very much for the contribution and sharing this explanation. @fabtopia
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-24 12:30] #5121 closed

[2020-03-24 12:55] yogkumgit commented on #5120
@dariomws  Thank you very much for the contribution and sharing this explanation. @mprentice22153 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-24 12:55] #5120 closed

[2020-03-24 12:59] yogkumgit commented on #5124
@get-itips  Thank you very much for the contribution and sharing this explanation. @Tweekism
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-24 12:59] #5124 closed

[2020-03-24 13:02] yogkumgit commented on #5126
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @aprmike Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-24 13:02] #5126 closed

[2020-03-24 13:05] yogkumgit commented on #5131
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @WilliamHCPowell Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-24 13:06] #5131 closed

[2020-03-24 13:08] yogkumgit commented on #5118
@get-itips  Thank you very much for the contribution and sharing this explanation. @msnaveen
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-24 13:08] #5118 closed

[2020-03-24 13:18] yogkumgit commented on #5104
@dariomws Thank you very much for the contribution and updating the documentation with PR. @JeremyTBradshaw Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-24 13:18] #5104 closed

[2020-03-24 13:21] yogkumgit commented on #5107
@dariomws Thank you very much for the contribution and updating the documentation with PR. @trudolf-msft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-24 13:21] #5107 closed

[2020-03-24 13:41] SRSLY-AU commented on #5056
I'm also have the same issue. Would desperately like to know the fix, or whatever steps are required to get our tennant whitelisted also.

[2020-03-24 16:22] msbeane443 opened #5146 "-WhatIf switch not correctly implemented"
The Remove-ApplicationAccessPolicy cmdlet removes the policy object when the parameter is specified.  Apologies if this is not the proper venue to report this behaviour.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f40f0a0-5461-7821-c921-b0449ab229c1
* Version Independent ID: 5570e041-9b84-3c69-98e9-9ff414bb4a44
* C

[2020-03-24 18:43] get-itips commented on #5082
@yogkumgit Yogesh, no further response from the user to the question raised by @tseward so I think we can close this issue now. If the user comes back, he can re-open the thread.

[2020-03-25 09:34] Bart-Hoofd commented on #5139
This command is not included in the current version 1.0.5 of the MicrosoftTeams module. The 1.0.5 version is currently limited to these commands:
Add-TeamUser
Connect-MicrosoftTeams
Disconnect-MicrosoftTeams
Get-CsPolicyPackage
Get-CsUserPolicyPackage
Get-CsUserPolicyPackageRecommendation
Get-Team
Get-TeamChannel
Get-TeamHelp
Get-TeamsApp
Get-TeamUser
Grant-CsUserPolicyPackage
New-Team
New-TeamCha

[2020-03-25 12:27] yogkumgit commented on #5146
@officedocsbot assign @yogkumgit

[2020-03-25 12:32] yogkumgit commented on #5082
@get-itips  and @tseward  Thank you very much for the contribution and digging deep into it.  @ceejey01 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly upda

[2020-03-25 12:32] #5082 closed

[2020-03-25 14:29] JLambEJG commented on #5139
This command is listed in this document, which also links to this very same version (see the overview page). If the command is not contained within the version that you are documenting, then remove the command from the documentation. Otherwise, please provide a link to the module where this command is contained.

[2020-03-25 14:34] lordmafi opened #5150 "Example 4 not working"
Hi all,

trying Example 4 is bringing following error:
PS C:\Users\...&gt; $test = New-CsEdgeDomainPattern -Domain "test.com"
PS C:\Users\...&gt; Set-CsTenantFederationConfiguration -AllowedDomains @{Add=$test}
Cannot bind parameter 'AllowedDomains'. Cannot convert the "System.Collections.Hashtable" value of type
"System.Collections.Hashtable" to type "Microsoft.Rtc.Management.WritableConfig.Setti

[2020-03-25 14:44] lordmafi commented on #5150
It has to be -AllowedDomainsAsAList @{Add=xxx} then it is working

[2020-03-25 15:45] kzu opened #5151 "Add Note on how to import SPO module into regular powershell"
There is a missing step for those installing the SPO module directly from PowerShell. You need to run the following before issuing SPO commands:

[code]

There doesn't seem to be any reason to use the "sharepoint shell" other than that line?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05b23d72-33ed-a6a1-a442-a5e5cf0

[2020-03-25 16:57] TerryMoore-dev commented on #4735
Just for information  if you use Set-SPOUser -Site Https;//contoso.sharepoint.com -LoginName user@contoso.onmicrosoft.com  -IsSiteCollectionAdmin  $true It will add the user or group to  vice replace Site Collection Owners.

[2020-03-25 17:16] get-itips commented on #4981
@tomkau Tom, can you please review my comment? Thank you! 👍

[2020-03-25 17:17] get-itips commented on #4983
@yogkumgit Yogesh, no further response from the issue creator, I think we can close this for now. Thanks

[2020-03-25 17:19] peterholdridge commented on #4983
Yes you can close this. I got my answer

[2020-03-25 17:22] get-itips commented on #5108
@rickleye any further comments?

[2020-03-25 17:39] Markus-Hanisch opened #5153 "Set SharePoint profile properties groups "c:0t.c|tenant|<group id>""
I was wondering if there is a way to set the "About me" of mail-enabled security groups in the user information list as well? When I view one of the MESG, used for granting access to a site, I can see the blank "About me" info property. When I try to edit the properties for any group "c:0t.c|tenant|&lt;group id&gt;", the "about me" property is not shown on the EditForm.
Or at least to inherit thes

[2020-03-25 18:32] rickleye commented on #5108
I sent an email yesterday

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Wednesday, March 25, 2020 1:22:57 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Richard Ojeleye <richard@voltronlions.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDoc

[2020-03-25 18:45] Aysan-kore commented on #5139
I have the same issue MicrosoftTeams Module version installed is 1.0.5, but the Add-TeamChannelUser' is not recognized as the name of a cmdlet

[2020-03-25 20:33] tseward commented on #5151
With modern versions of PoSh, this isn't necessary given the module is in the default paths (user or machine).

[2020-03-25 22:00] serafing opened #5155 "Example 7 is just wrong..."
This whole example should be modified to be simpler because it does not work.

Here is where things start to break down:
Add-DistributionGroupMember -Identity $group -Members $members -BypassSecurityGroupManagerCheck:$true
There is no -Members in Add-DistributionGroupMember.  There is -Member, but it only allows individual items and does not seem to allow arrays.

Cannot process argument transform

[2020-03-25 22:21] isty1974 commented on #5139
Same issue for me, but channel doesn't have Group ID, it has own ID.
GroupId like this: 31f1ff6c-d48c-4f8a-b2e1-abca7fd399df
ID like this: 19:2db7620785442c5d46387eb8a117264a@thread.tacv2
So, the paramater was incorrect.

[2020-03-26 06:28] yogkumgit commented on #5150
@officedocsbot assign @yogkumgit

[2020-03-26 06:28] yogkumgit commented on #5151
@officedocsbot assign @yogkumgit

[2020-03-26 06:29] yogkumgit commented on #5153
@officedocsbot assign @yogkumgit

[2020-03-26 06:29] yogkumgit commented on #5155
@officedocsbot assign @yogkumgit

[2020-03-26 06:43] yogkumgit commented on #4983
@get-itips  Thank you very much for the contribution and sharing this explanation. @peterholdridge
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-26 06:43] #4983 closed

[2020-03-26 08:22] genicus commented on #4254
I would like to reopen this issue. We have installed the March 2020 CU yesterday and the problem still occurs.

[2020-03-26 09:23] rlodev67 commented on #5139
This command is integrated in the preview module, not this one.
You have to install the one from "https://www.poshtestgallery.com/packages/MicrosoftTeams/1.0.21"
if you run the powershell command, be sure to add the repository before.

[2020-03-26 10:39] seafordcode commented on #5056
I am having the same issue. The full is:

Get-CsGroupPolicyAssignment : Access Denied.
At C:\monedrive\SetPolicyEnviroment.ps1:13 char:1
+ Get-CsGroupPolicyAssignment -GroupId ce4192cf-9d63-4651-960b-461c0e37 ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: ({ GroupId = ce4...-461c0e371895 }:<>f__AnonymousType4`1) [Get-CsGr

[2020-03-26 12:06] dariomws commented on #5056
@tomkau could you kindly help with this issue?

[2020-03-26 12:20] swinster opened #5158 "Is there any way to check to see if this has been enabled rather than just run the command and wait for it to error"
I suppose something like

[code]

Would swallow the error, but wondered it there was something more elegent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50344cac-af28-c270-ea24-f7c698aee084
* Version Independent ID: 1023728c-6ba1-893a-6cac-a32bccf09ec0
* Content: [Enable-OrganizationCustomization (exchange)](https://

[2020-03-26 12:42] get-itips commented on #5108
Sorry Rick, I didn't quite understand. did you see my last question? :

[2020-03-26 13:01] rickleye commented on #5108
So this is the command that I run.
Overflow action voicemail
Overflowaction Target = DL distribution list.
Set-CsCallQueue -Identity a0916354-8251-4e29-88ff-5af68f5702b4 -DistributionLists 90bcdc1d-0824-4dff-a030-b3acfe16482c -OverflowAction Voicemail -OverflowActionTarget 90bcdc1d-0824-4dff-a030-b3acfe16482c

[cid:image001.jpg@01D6034D.220079F0]

However, when I use a user as an OverflowActiontar

[2020-03-26 13:06] get-itips commented on #5108
Ok @rickleye I appreciate the information, from my understanding, that doesn't seems like an issue in documentation but rather an issue with maybe the tenant or the cmdlet, please kindly, open a support ticket on your tenant, they will be able to help you with your issue. Thank you

[2020-03-26 13:58] FSGHWA opened #5159 "404 on link to the module"
The link where it says "**Module: exchange**" seems to be a dead link pointing to [https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/get-mailbox?view=exchange-ps](https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/get-mailbox?view=exchange-ps). This should be corrected.

[2020-03-26 15:17] vboyev-MSFT opened #5160 "New-CSONLINESESSION is not documented anywhere"
Specifically looking for proxy connection options. In any case, there does not seem to be any documentation regarding New-CSONLINESESSION

[2020-03-26 15:18] alohaninja opened #5161 "Get-Team requires an input param or it never returns / hangs"
Imagine lots of people will struggle with this command. For Teams tenants with large domains - we should callout a note that you need to specify an input parameter or `Get-Team` command will run forever.

Having never used this cmdlet - I assumed it would default to the logged in user for filtering. `Get-Team` would only return results if I passed in my user e.g. `Get-Team -user me@domain.com`.  T

[2020-03-26 15:30] tameemansari commented on #5056
This is a preview feature and is available only to whitelisted tenants. @tomkau can confirm if the error message received is for tenants who are not part of the preview.

[2020-03-26 16:29] geddyleefan opened #5162 "Get-EXOMailbox help examples wrong"
Getting help for Get-EXOMailbox returns examples using get-mailbox.

-------------------------- Example 1 --------------------------

    Get-Mailbox -ResultSize unlimited

[2020-03-26 16:57] chrisda commented on #5158
The IsDehydrated property from Get-OrganizationConfig tells the story: False ($false) = the command has already been run; True ($true) = the command has never been run.

[2020-03-26 18:10] rickleye commented on #5108
Okay, I will open a ticket and get back 2 you.

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Thursday, March 26, 2020 9:07 AM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Richard Ojeleye <richard@voltronlions.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Pls Validate the OverflowAction (

[2020-03-26 18:56] pemile commented on #5139
even in 10.0.21 Add-TeamChannelUser is not existing
CommandType     Name                                               Version    Source
-----------     ----                                               -------    ------
Function        Get-CsBatchPolicyAssignmentOperation               1.0.21     MicrosoftTeams
Function        Get-CsGroupPolicyAssignment                        1.0.21     Microso

[2020-03-26 20:24] FoxMic0 opened #5163 "QueryWindowInDays parameter appears to be mandatory"
The article text states:
If you don't use this parameter, all future meetings on or after the specified start date will be cancelled.

But if you do not specify the parameter (as in Example 1), you are prompted to provide a value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae873e5c-9f55-966b-1519-04bd3cb7dce4
* Ver

[2020-03-27 02:53] bucketspodge commented on #5056
Seen this update on the message center.
Updated March 4, 2020: To ensure the best experience we are adjusting the roll-out timeframe for this feature. We apologize for the inconvenience.
Teams administrators will soon be able to assign policies to a batch of users or to a group. We’ll be releasing this in late May (previously March).

This message is associated with Microsoft 365 Roadmap ID 61185.

[2020-03-27 05:51] yogkumgit commented on #5158
@officedocsbot assign @yogkumgit

[2020-03-27 05:51] yogkumgit commented on #5159
@officedocsbot assign @yogkumgit

[2020-03-27 05:51] yogkumgit commented on #5160
@officedocsbot assign @yogkumgit

[2020-03-27 05:52] yogkumgit commented on #5162
@officedocsbot assign @yogkumgit

[2020-03-27 05:53] yogkumgit commented on #5163
@officedocsbot assign @yogkumgit

[2020-03-27 05:54] yogkumgit commented on #5161
@officedocsbot assign @yogkumgit

[2020-03-27 07:41] yogkumgit commented on #5108
@get-itips Thank you very much for the contribution and sharing this explanation. @rickleye
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation update i

[2020-03-27 07:41] #5108 closed

[2020-03-27 08:21] yogkumgit commented on #5142
@chrisda  Thank you very much for the contribution and sharing this explanation. @mrkeiths
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-27 08:21] #5142 closed

[2020-03-27 08:24] yogkumgit commented on #5143
@chrisda  Thank you very much for the contribution and sharing this explanation. @RamkarUmmo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-27 08:25] #5143 closed

[2020-03-27 08:29] yogkumgit commented on #5158
@chrisda  Thank you very much for the contribution and sharing this explanation. @swinster
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-27 11:24] aavdberg opened #5164 "How to set Organisation default Rule with PowerShell?"
Can only set User policies with powershell, and can't set Organisation default policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 923dc552-f943-e043-165d-9ed5fb734c6c
* Version Independent ID: fe62e834-2cb1-0a15-0d93-14194ca0e33a
* Content: [Set-SafeLinksPolicy (exchange)](https://docs.microsoft.com/en-us/powershell

[2020-03-27 11:54] dariomws commented on #5132
Hi @msozcelik, thank you for your feedback.

I understand there isn't a cmdlet to achieve this. You should try with foreach and/or import-csv together with Add-MailboxPermission.

[2020-03-27 12:03] danmyhre opened #5165 "PromoteAs Values are wrong"
These are the correct possible values
None, HomePage, NewsArticle, Template

It currently shows HomePage, NewsPage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9cbd838-1888-5be7-348b-c8862d7caedb
* Version Independent ID: 80961074-993c-c395-64d2-2b18bd048e31
* Content: [Set-PnPClientSidePage (sharepoint-pnp)](https:

[2020-03-27 12:12] dariomws commented on #5146
Hi @msbeane443, thank you for your feedback. It's the right place to report documentation issues.

I'm updating these articles so that the reader knows that -Whatif is not available in these cmdlets.

[2020-03-27 12:16] Bart-Hoofd opened #5167 "Preview or not?"
This command is included in the 1.0.5 general no-preview version of the Microsoft Teams; confusing, since it is now labeled as public preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d149ca60-bfb7-5077-2643-1a08ad926cca
* Version Independent ID: 24754aee-bff2-fa16-e7e6-af45362fd916
* Content: [New-CsBatchPolicyA

[2020-03-27 12:51] Chewbee opened #5168 "Limits ?"
I have a script which add users
I have 35 users and only 27 are added
If I rerun of course some of them already exists ...
But the the are never added ...

Any clues welcome, here is the script

Try {
    Import-Csv -Path "EYTC.csv" | foreach {
        Add-TeamUser -GroupId 3337d494-dde7-4496-ba18-1bc392203ef7 -user $_.Name
        Write-Output $_.Name
    }
}
#
Catch {}
#
Finally {
    Get-TeamUS

[2020-03-27 13:36] dariomws commented on #5159
Hi @FSGHWA, thank you for your feedback.

An internal ‘work item’ is open so we are working on it. Hope it's fixed soon.

[2020-03-27 13:41] get-itips commented on #5139
Hello everyone

Exactly, as the article says, the cmdlet is part of the PS INT gallery (beta module).

I can confirm that, installing the 1.0.21 version of the beta module, the cmdlet IS available:

![image](https://user-images.githubusercontent.com/36666927/77761760-499ff580-7017-11ea-9979-e665d1165503.png)

Please also review [this article](https://docs.microsoft.com/en-us/microsoftteams/private

[2020-03-27 13:47] get-itips commented on #5144
Hello @Anvariel
How are you?

The cmdlet is still part of the beta module so it is under development and subject to changes.
Once it becomes part of the stable module, we can verify if a note stating that in documentation is needed.

Thank you

[2020-03-27 13:53] get-itips commented on #5161
Hello @alohaninja Aaron 👍
How are you ? The article already states that:

And also, the two examples given use parameters to shorten the number of results.

[2020-03-27 14:19] get-itips commented on #5150
@lordmafi Martin how are you?

Exactly, Example 4 details how to specify Blocked Domains, not _AllowedDomains_, as you later said, you can use _AllowedDomainsAsAList_ or you can use _New-CsEdgeAllowList_ to create an object acceptable for the _AllowedDomains_ parameter.

Thank you

[2020-03-27 14:25] get-itips commented on #5151
Hello @kzu Daniel how are you ? 👍
As @tseward Trevor said, it is not necessary anymore to import the module.
Thanks

[2020-03-27 15:12] dinoinyourhead opened #5170 "Names of Cmdlets (PnP) should not be translated"
I'm sorry if this isn't the correct place to comment on the automatic article translation.

The issue is that names of certain cmdlets get automatically translated, tested for German language.

Examples:

Set-PnPSite for German -> Gruppe-PnPSite
Set-PnPTaxonomyFieldValue -> Gruppe-PnPTaxonomyFieldValue

![image](https://user-images.githubusercontent.com/62758238/77770460-94d0fd00-7045-11ea-9a4b-6f

[2020-03-27 15:16] wiseleaf23 opened #5171 "Example will fail on the OnPremPhoneNumber format"
If we use the number format in the example stated on this page "Set-CsOnlineApplicationInstance -Identity appinstance01@contoso.com -OnpremPhoneNumber tel:+14250000000 -ApplicationId ce933385-9390-45d1-9512-c8d228074e07 -DisplayName "AppInstance01"" - We will get an error stating:

The input of parameter "tel:+31851324567" is not in a valid format. Please provide an input with an acceptable format

[2020-03-27 15:50] pemile commented on #5139
Hi, After installing 1.0.21 AND disconnect / reconnect Add-TeamChannelUser is available.
Thank's a lot

[2020-03-27 17:44] dariomws commented on #5162
Hi @geddyleefan, thank you for your feedback.

Please refer to the online help:
https://docs.microsoft.com/powershell/module/exchange/powershell-v2-module/get-exomailbox

Get-Help information for this cmdlet will be updated soon.

[2020-03-27 17:52] Chewbee opened #5172 "-DisplayName just fails !!"
I cannot say any better the doc is not correct
Here is the proof:

PS Microsoft.PowerShell.Core\FileSystem::\\Mac\Home\dev\PS&gt; Get-Team -DisplayName Customer
Get-Team : Impossible de trouver un paramètre correspondant au nom « DisplayName ».
Au caractère Ligne:1 : 10
+ Get-Team -DisplayName Customer
+          ~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument : (:) [Get-Team], Paramete

[2020-03-27 18:55] get-itips commented on #5160
Hello @vboyev-MSFT
Thanks for reporting.
I created a PR including the article documentation, a review will be made, if accepted, it will be published online.
Thank you

[2020-03-27 19:00] alohaninja commented on #5161
@get-itips - this was great info, just needs emphasis added to keep consistent with other docs pages - I  missed this note entirely because it doesn't look like a note!

https://github.com/MicrosoftDocs/office-docs-powershell/pull/5175

[2020-03-27 19:02] get-itips commented on #5161
@alohaninja Aaron, it is great that you are proposing thru a PR to change it to a formal note, that's the power of open sourced documentation.
Thanks for getting back to give feedback.

[2020-03-27 19:03] get-itips commented on #5153
Hello @Markus-Hanisch  👍
how are you?
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-27 20:40] dsolodow opened #5176 "MFA supporting "Security & Compliance Center" module"
Currently the only way to connect to Security & Compliance Center via PowerShell without Legacy Authentication is to install the click-to-run shell from the Exchange Admin Center.
This limits support to Windows PowerShell only, as well as making it hard to integrate with other scripts.

Would be ideal if there was an appropriate module in the Gallery (perhaps the ExchangeOnlineManagement module)?

[2020-03-27 21:56] get-itips commented on #5139
Thanks for getting back to give that information!
@yogkumgit please close this one now.

[2020-03-28 14:12] Agazoth opened #5177 "-Identity is not documented"
When running Connect-MicrosoftTeams the -Identity switch is available. This is not documented here. It is not documented in the help in the cmdlet either. But tab-completion reveals it and running the cmdlet with that parameter seems to kinda work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ee082c9-735d-3f8a-7bc4-

[2020-03-28 14:12] swinster commented on #5158
Perfect, thanks @chrisda - just what i was looking for :)

[2020-03-30 07:08] yogkumgit commented on #5164
@officedocsbot assign @yogkumgit

[2020-03-30 07:08] yogkumgit commented on #5165
@officedocsbot assign @yogkumgit

[2020-03-30 07:09] yogkumgit commented on #5167
@officedocsbot assign @yogkumgit

[2020-03-30 07:09] yogkumgit commented on #5168
@officedocsbot assign @yogkumgit

[2020-03-30 07:09] yogkumgit commented on #5170
@officedocsbot assign @yogkumgit

[2020-03-30 07:09] yogkumgit commented on #5171
@officedocsbot assign @yogkumgit

[2020-03-30 07:10] yogkumgit commented on #5172
@officedocsbot assign @yogkumgit

[2020-03-30 07:10] yogkumgit commented on #5176
@officedocsbot assign @yogkumgit

[2020-03-30 07:10] yogkumgit commented on #5177
@officedocsbot assign @yogkumgit

[2020-03-30 07:17] yogkumgit commented on #5132
@dariomws  Thank you very much for the contribution and sharing this explanation. @msozcelik
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-30 07:21] yogkumgit commented on #5146
@chrisda Please merge the PR #5166 Thanks

[2020-03-30 07:22] yogkumgit commented on #5159
@dariomws  Thank you very much for the contribution and sharing this explanation. @FSGHWA
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-30 07:22] #5159 closed

[2020-03-30 07:25] yogkumgit commented on #5139
@get-itips  Thank you very much for the contribution and sharing this explanation. @JLambEJG
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-30 07:25] #5139 closed

[2020-03-30 07:28] yogkumgit commented on #5144
@get-itips  Thank you very much for the contribution and sharing this explanation. @Anvariel
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-30 07:28] #5144 closed

[2020-03-30 07:33] yogkumgit commented on #5161
@get-itips  Thank you very much for the contribution and @alohaninja updating the documentation with PR. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-30 07:33] #5161 closed

[2020-03-30 07:36] yogkumgit commented on #5150
@get-itips  Thank you very much for the contribution and sharing this explanation. @lordmafi
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-30 07:36] #5150 closed

[2020-03-30 07:38] yogkumgit commented on #5151
@get-itips  Thank you very much for the contribution and sharing this explanation. @kzu
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-30 07:38] #5151 closed

[2020-03-30 07:40] yogkumgit commented on #5162
@dariomws  Thank you very much for the contribution and sharing this explanation. @geddyleefan
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-30 07:41] #5162 closed

[2020-03-30 07:48] yogkumgit commented on #5153
@get-itips Thank you very much for the contribution and sharing this explanation. @Markus-Hanisch Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-30 07:48] #5153 closed

[2020-03-30 07:58] yogkumgit commented on #5155
@chrisda Please merge the PR #5169 Thanks

[2020-03-30 08:00] yogkumgit commented on #5163
@chrisda Please merge this PR #5173 Thanks

[2020-03-30 08:03] yogkumgit commented on #5009
@chrisda Please reply to this query. Thanks

[2020-03-30 11:12] Markus-Hanisch opened #5178 "EXAMPLE 6 uses "PersistComposedLookFiles" switch not documented in the Cmdlet Syntax"
EXAMPLE 6 uses "PersistComposedLookFiles" switch not documented in the Cmdlet Syntax.
The Cmdlet syntax refers to "PersistBrandingFiles" switch.
Please check.
------------------EXAMPLE 6------------------
Get-PnPProvisioningTemplate -Out template.pnp -PersistComposedLookFiles

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-03-30 12:53] Jachim208 opened #5179 "Set-Place projector and display attribute and ability to overwrite once set attributes."
Hello,

- I think, that -DisplayDeviceName should be split in to display (such as tv), and projector. Many conference rooms contain both of them.
- I'm in need of overwrite option in Set-Place, once I assigned attributes to the conference room, I can't overwrite them with different one. Is it not implemented, or am I missing something?

Thanks

[2020-03-30 15:14] shivtorov opened #5180 "WhatIf parameter does not work for this cmdlet"
-WhatIf parameter is ignored by this cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe400cff-c226-6a30-50bc-43f3a44e7eca
* Version Independent ID: fee47d08-63ff-edfe-e845-c8928f5d2acd
* Content: [Set-CsOnlineVoiceUser (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/set-csonlinevoiceuser?view=s

[2020-03-30 15:16] shivtorov commented on #5180
example code to reproduce the issue:
`Set-CsOnlineVoiceUser -Identity user@contoso.com -TelephoneNumber 123456789 -WhatIf`

[2020-03-30 15:27] shivtorov opened #5181 "Set-CsOnlineVoiceUserBulk not documented"
The help article for Set-CsOnlineVoiceUserBulk is empty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d833f2e0-13f3-9855-6bbe-05c02223d216
* Version Independent ID: 750b544e-66ca-3a01-0a88-77ad880e51b7
* Content: [Set-CsOnlineVoiceUserBulk (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/set-csonline

[2020-03-30 16:34] chrisda commented on #5158
@swinster, I didn't add an example, but I added the information to the Description Section.

[2020-03-30 16:34] #5158 closed

[2020-03-30 17:57] chrisda commented on #4880
Now in my test tenant, the EnableAuthenticationSafeTip and EnableAuthenticationSoftPassSafetyTip parameters are no longer available, so I've removed them from the New-AntiPhishPolicy and Set-AntiPhishPolicy cmdlet topics.

Closing.

[2020-03-30 17:57] #4880 closed

[2020-03-30 18:09] chrisda commented on #4920
No ETA. The advice is to use the bulk enable method as described here: <https://docs.microsoft.com/microsoft-365/compliance/enable-archive-mailboxes#enable-archive-mailboxes>

Closing

[2020-03-30 18:09] #4920 closed

[2020-03-30 18:13] chrisda commented on #5009
Topic updated. Thanks for the feedback.

Closing

[2020-03-30 18:13] #5009 closed

[2020-03-30 18:23] chrisda commented on #5061
Note added to topic.

Thanks for the feedback.

Closing

[2020-03-30 18:23] #5061 closed

[2020-03-30 18:23] chrisda commented on #5122
Closing

[2020-03-30 18:23] #5122 closed

[2020-03-30 19:50] kenwith commented on #5160
@yogkumgit - I merged the associated PR a few days ago. :)   Let me know if there is something else you needed with assigning me this one.

[2020-03-31 07:58] yogkumgit commented on #5178
@officedocsbot assign @yogkumgit

[2020-03-31 07:58] yogkumgit commented on #5179
@officedocsbot assign @yogkumgit

[2020-03-31 07:58] yogkumgit commented on #5180
@officedocsbot assign @yogkumgit

[2020-03-31 07:58] yogkumgit commented on #5181
@officedocsbot assign @yogkumgit

[2020-03-31 08:26] yogkumgit commented on #5146
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @msbeane443 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-31 08:27] #5146 closed

[2020-03-31 08:29] yogkumgit commented on #5155
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @serafing Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-31 08:29] #5155 closed

[2020-03-31 08:31] yogkumgit commented on #5163
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @FoxMic0  hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-31 08:31] #5163 closed

[2020-03-31 08:35] yogkumgit commented on #5160
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @vboyev-MSFT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-31 08:35] #5160 closed

[2020-03-31 11:37] Oweeboi011 opened #5190 "PowerShell/GraphAPI: Get all linked SharePoint Libraries (via Add Cloud Storage) in MS Teams"
Is there a way to get all "linked SharePoint Libraries" in a Team via powershell?

We are curretly using **https://graph.microsoft.com/beta/groups/$groupid/drives/root/children** and **https://graph.microsoft.com/beta/groups/$groupid/drives/** but these endpoints only pull out the libraries from the current team. Please advise if I'm missing something here. Thanks in advance.

[2020-03-31 11:40] get-itips commented on #5165
Hello @danmyhre Dan 👍
how are you?
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-31 11:41] danmyhre commented on #5165
This issue was about the documentation, not the cmdlets

[2020-03-31 11:43] get-itips commented on #5165
Dan, The documentation of PnP cmdlets is on every cmdlet's source code and it is directly reflected from there.

[2020-03-31 11:54] get-itips commented on #5170
Thanks @dinoinyourhead I reported this and should be fixed shortly.

[2020-03-31 12:05] kongsted opened #5191 "Not for public usage?"
From comments on GitHub, it seems like this command is only for internal usage? If that's the case, then I think it at least should be mentioned on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09da7b62-1030-7e2e-03c3-388925add9c9
* Version Independent ID: 83480c70-9a33-06a8-d9a8-a4189ad7af5d
* Content: [Ge

[2020-03-31 12:17] get-itips commented on #5167
Hello @Bart-Hoofd thanks, I will take a look at this.

[2020-03-31 12:17] Rutger-Knijnenburg commented on #5172
Have you tried putting the parameter (Customer) in "" double quotes? Works for me perfectly:
Get-Team -DisplayName "NameofTeam"

[2020-03-31 12:38] get-itips commented on #5168
Hello @Chewbee how are you? 👍

Here, we can handle issues that impact changes in documentation.
If the cmdlet, ran outside your script, works as the documentation says, I can not identify any change needed to the documentation.
Did you try running the Add-TeamUser individually for those users that you see aren't being added?

[2020-03-31 12:53] get-itips commented on #5172
Hello @Chewbee thanks for your report, I am proposing adding another example to the documentation that specifies using "" as @Rutger-Knijnenburg kindly says.
Thanks

[2020-03-31 14:09] get-itips commented on #5177
Hello @Agazoth Axel, thanks for reporting, I will dig into this and get back.

[2020-03-31 15:05] msozcelik commented on #5132
Thanks for the reply!
As @dariomws suggested, I could be able to add rights for multiple users in a single cmdlet by using ForEach statement.

Example for assigning users full access rights for a resource:

$users = 'adam@contoso.com', 'terry@contoso.com', 'tony@contoso.com'
ForEach ($user in $users)
{
    Add-MailboxPermission `
        -Identity guestroom@contoso.com `
        -User $user `

[2020-03-31 15:12] dariomws commented on #5132
@msozcelik I'm glad that this helped you. Thank you for this new information.

[2020-03-31 16:30] akvadlamani opened #5194 "Connect-ExchangeOnline doesnt work."
Installed EXO V2.  See the error below (i masked username and domain). It feels like error messages are misleading or providing partial information

PS /home/chris&gt; $UserCredential

UserName                                           Password
--------                                           --------
xxxxxxx@xxxxxx.onmicrosoft.com System.Security.SecureString

PS /home/chris&gt; Connect-Exchang

[2020-03-31 18:05] #5132 closed

[2020-03-31 20:32] get-itips commented on #5171
Hello @wiseleaf23 👍 how are you?
Thanks for reporting. I could verify, so I created a pull request to correct the format in the documentation. Thank you

[2020-04-01 07:07] deejerydoo opened #5199 "Incomplete instruction in this document..."
"To require all PowerShell scripts that you download from the internet are signed by a trusted publisher, run the following command in an elevated Windows PowerShell window (a Windows PowerShell window you open by selecting Run as administrator):
Set-ExecutionPolicy RemoteSigned"

We are then presented with"
"[Y] Yes  [A] Yes to All  [N] No  [L] No to All  [S] Suspend  [?] Help (default is "N"):"

[2020-04-01 07:15] deejerydoo opened #5200 "Prerequisite missing from this document..."
"Windows Remote Management (WinRM) on your computer needs to allow Basic authentication (it's enabled by default). To verify that Basic authentication is enabled, run this command in a Command Prompt:
winrm get winrm/config/client/auth"

Prerequisite: Windows Remote Management (WS-Management) must be running on the local machine for this to work.

---
#### Document details

⚠ *Do not edit this sec

[2020-04-01 08:15] ChrisParrBIE opened #5201 "URL https://go.microsoft.com/fwlink/p/?LinkId=251832 links to Microsoft home page, not documentation"
The url linked as the location of the admin documentation throughout this set of pages links to the Microsoft home page. I end up at https://www.microsoft.com/en-gb/?ref=go rather than at any documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fbda735-74ec-2f4e-9c75-dd133e87320e
* Version Independent ID: 599

[2020-04-01 12:25] yogkumgit commented on #5190
@officedocsbot assign @yogkumgit

[2020-04-01 12:25] yogkumgit commented on #5191
@officedocsbot assign @yogkumgit

[2020-04-01 12:25] yogkumgit commented on #5194
@officedocsbot assign @yogkumgit

[2020-04-01 12:26] yogkumgit commented on #5199
@officedocsbot assign @yogkumgit

[2020-04-01 12:26] yogkumgit commented on #5200
@officedocsbot assign @yogkumgit

[2020-04-01 12:26] yogkumgit commented on #5201
@officedocsbot assign @yogkumgit

[2020-04-01 12:39] yogkumgit commented on #5165
@get-itips  Thank you very much for the contribution and sharing this explanation. @danmyhre
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-01 12:45] yogkumgit commented on #5172
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Chewbee Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-01 12:45] #5172 closed

[2020-04-01 12:45] trudolf-msft opened #5203 "Some parameters are ExO-only"
Parameters like CompleteAfter or StartAfter are not visible in OnPrem! Please modify the documentation accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf2e681a-0bba-7d71-e367-44266ea40a4a
* Version Independent ID: 8fbe3c52-c74a-1e09-1318-177643594bd0
* Content: [New-MigrationBatch (exchange)](https://docs.m

[2020-04-01 12:56] yogkumgit commented on #5171
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @wiseleaf23 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-01 12:58] danmyhre commented on #5165
I created a pull request for the doc update I am referring to
https://github.com/MicrosoftDocs/office-docs-powershell/pull/5204

[2020-04-01 13:12] get-itips commented on #5165
Dan, as said, the documentation for PnP is inside the PnP source code, so you have to target a pull request against this file on the referenced repo
 https://github.com/pnp/PnP-PowerShell/blob/dev/Commands/ClientSidePages/SetClientSidePage.cs

Thanks for your contribution

[2020-04-01 13:21] danmyhre commented on #5165
I think I found what you are referring to:
https://github.com/pnp/PnP-PowerShell/pull/2599

The page doc had its own editable source, so I didn't realize it was automatically generated.

[2020-04-01 13:27] antman2001 opened #5205 "From vs RURI/To , it is not clear"
hi, can you please make this doc more clear as to which parameters effect the actual SIP headers: RURI/To and From. Also please an example where only the From is translated and one where only the RURI/To is translated, not only all(RURI/To,From) in same examples please

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d7

[2020-04-01 13:52] DEberhardt opened #5206 "The Value for the Parameter OnlinePstnGatewayList does not accept here string or "OnlinePstnGateway:""
Tried this just now and it doesn't like the notation as outlined in Example 2:
New-CsOnlineVoiceRoute -Identity Route1 -OnlinePstnUsages @{add="Long Distance"} -OnlinePstnGatewayList @{add="OnlinePstnGateway:sbc1.litwareinc.com"}

Working command:
New-CsOnlineVoiceRoute -Identity Route1 -OnlinePstnUsages @{add="Long Distance"} -OnlinePstnGatewayList "sbc1.litwareinc.com"

The Parameter OnlinePstnG

[2020-04-01 13:59] SeaGT opened #5207 "-Archive parameter throws an error with Exchange Online"
Please provide an example of using -Archive to get info on an In-Place Archive mailbox.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 560849f0-488f-4ee7-2e91-64ab4598eb70
* Version Independent ID: 8fdde992-e4d8-1238-06ab-eb11857fddaa
* Content: [Export-MailboxDiagnosticLogs (exchange)](https://docs.microsoft.com/en-us

[2020-04-01 14:38] DanStevensonMSFT opened #5208 "what gives?"
Why would we document a PowerShell cmdlet that is not allowed to be used? Do we hate our admins /that/ much?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b8d6f4e-0db4-6038-df71-95d22c3b8e09
* Version Independent ID: 12c6accc-f355-33e0-0479-418e141efb74
* Content: [Set-CsTeamsAppPermissionPolicy (skype)](https://docs

[2020-04-01 14:43] MSTejas opened #5209 "-Users parameter missing"
-Users switch is missing in the document, which is present when we use this command. May I request document to be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7364cece-00a4-7e29-4fa9-190db5f9e3dd
* Version Independent ID: 67efa086-edb0-2828-cc14-4c245290e4f3
* Content: [Set-CsCallQueue (skype)](https://docs.

[2020-04-01 14:58] DEberhardt commented on #5206
Here is the Command and the Output

New-CsOnlineVoiceRoute -Identity "Route-1" -Priority "1" -OnlinePSTNGatewayList @{add="OnlinePstnGateway:Gateway1.sbc.domain.com"} -NumberPattern '.*' -Description "Route 1 from Teams via Gateway1";

Cannot create item "Route-1": "Invalid value for TrunkFqdn: Value is not a valid FQDN."
    + CategoryInfo          : InvalidArgument: (Route-1:String) [New-CsOnlin

[2020-04-01 15:10] ravick4u opened #5210 "Azure PowerShell Function"
Hello,
I am following the below articles to create Azure PowerShell function and when I use this command(Set-PnPTraceLog -On -Level Debug) nothing being shown on the screen or in logs.

https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/site-design-pnp-provisioning https://www.youtube.com/watch?v=plS_1BsQAto&t=925s

Is this functionality is still being worked on with Azure F

[2020-04-01 15:23] dariomws commented on #5200
Hi @deejerydoo, thank you for your feedback.

WinRM is part of the operating system and needs to allow Basic authentication (it's enabled by default).

[2020-04-01 15:26] dariomws commented on #5199
Hi @deejerydoo, thank you for your feedback.

"[Y] Yes" or  "[A] Yes to All". Both works.

[2020-04-01 15:29] dariomws commented on #5194
Hi @akvadlamani, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

[2020-04-01 15:33] dariomws commented on #5179
Hi @Jachim208, thank you for your feedback.

- For feature request please go to:
https://office365.uservoice.com/

- You should be able to update/overwrite attributes using this cmdlet. Please, show us a screenshot if you experience issues doing that.

[2020-04-01 15:48] dariomws commented on #5176
Hi @dsolodow, thank you for your feedback.

This is the official way to connect using MFA yet. I think that it will be moving in the same way of Exchange to Exchange Online PowerShell V2 in the next couple of months:
https://docs.microsoft.com/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2

[2020-04-01 16:13] dariomws commented on #5164
Hi @aavdberg, thank you for your feedback.

I think this is what you are looking for:
https://docs.microsoft.com/powershell/module/exchange/advanced-threat-protection/set-atppolicyforo365

[2020-04-01 20:57] get-itips commented on #5165
Exactly, it is automatically generated from the cmdlet's source code, so, if you create a PR against the markdown file, and someone merges it, it will be overwritten anyway.
Thank you for your contribution!

[2020-04-01 23:52] Cdenby opened #5214 "All Jobs "NotStarted""
I've run this a few times and then try to run Get-CsBatchPolicyAssignmentOperation and all job ssit with "NotStarted" as the OverallStatus.

Any hints on that particular message? I didn't receive an error at all:
New-CsBatchPolicyAssignmentOperation -PolicyType TeamsMessagingPolicy -PolicyName Teachers -identity "GUIDofauser"

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-04-02 00:36] SleepyBandit opened #5215 "Get-RetentionCompliancePolicy not available in Azure Automation Runbook"
It doesn't seem that the [security and compliance center PowerShell cmdlets](https://docs.microsoft.com/en-us/powershell/exchange/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell?view=exchange-ps) work in an Azure Automation Runbook. The Runbook jobStream logs that the session is connected and imported but when I call  **Get-RetentionCompliancePolicy** or **Set-RetentionComplianc

[2020-04-02 02:30] dsolodow commented on #5176
I was guessing it was on the roadmap, but wanted to poke people about it. :)

[2020-04-02 04:31] shivtorov opened #5216 "Missing Type = SharedVoicemail"
In the 1st paragraph "SharedVoicemail" is not listed as a valid value for -Type parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b10b3afe-6425-f0b7-3eb0-a17c6a9d6fef
* Version Independent ID: 9dec1f94-908b-0992-c986-084449965df0
* Content: [New-CsAutoAttendantCallableEntity (skype)](https://docs.microsoft.com/e

[2020-04-02 05:17] matambanadzo opened #5218 "Incorrect command"
The command is incorrect in Example 1. Should be Grant-CsTeamsMobilityPolicy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb79bedc-145d-7f61-8973-7e9d0aeaf553
* Version Independent ID: f7f4f158-fe61-ccfe-34fb-2e2628b982e2
* Content: [Grant-CsTeamsMobilityPolicy (skype)](https://docs.microsoft.com/en-us/powershell/mod

[2020-04-02 10:36] yogkumgit commented on #5203
@officedocsbot assign @yogkumgit

[2020-04-02 10:36] yogkumgit commented on #5205
@officedocsbot assign @yogkumgit

[2020-04-02 10:36] yogkumgit commented on #5206
@officedocsbot assign @yogkumgit

[2020-04-02 10:37] yogkumgit commented on #5207
@officedocsbot assign @yogkumgit

[2020-04-02 10:37] yogkumgit commented on #5208
@officedocsbot assign @yogkumgit

[2020-04-02 10:37] yogkumgit commented on #5209
@officedocsbot assign @yogkumgit

[2020-04-02 10:37] yogkumgit commented on #5210
@officedocsbot assign @yogkumgit

[2020-04-02 10:38] yogkumgit commented on #5214
@officedocsbot assign @yogkumgit

[2020-04-02 10:38] yogkumgit commented on #5215
@officedocsbot assign @yogkumgit

[2020-04-02 10:39] yogkumgit commented on #5216
@officedocsbot assign @yogkumgit

[2020-04-02 10:39] yogkumgit commented on #5218
@officedocsbot assign @yogkumgit

[2020-04-02 10:39] Jachim208 commented on #5179
Hi @dariomws
Thank you for your reply.
I think it might have been false alarm. I'm sorry for that.
It took a few days, but new attributes are visible. Is such delay normal?

[2020-04-02 11:00] #5165 closed

[2020-04-02 11:01] yogkumgit commented on #5200
@dariomws  Thank you very much for the contribution and sharing this explanation. @deejerydoo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-02 11:01] #5200 closed

[2020-04-02 11:04] yogkumgit commented on #5199
@dariomws  Thank you very much for the contribution and sharing this explanation. @deejerydoo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-02 11:04] #5199 closed

[2020-04-02 11:06] yogkumgit commented on #5194
@dariomws  Thank you very much for the contribution and sharing this explanation. @akvadlamani
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-02 11:06] #5194 closed

[2020-04-02 11:08] yogkumgit commented on #5179
@dariomws  Thank you very much for the contribution and sharing this explanation. @Jachim208
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-02 11:10] yogkumgit commented on #5176
@dariomws  Thank you very much for the contribution and sharing this explanation. @dsolodow
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-02 11:10] #5176 closed

[2020-04-02 11:13] yogkumgit commented on #5164
@dariomws  Thank you very much for the contribution and sharing this explanation. @aavdberg
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-02 11:13] #5164 closed

[2020-04-02 12:58] get-itips commented on #5180
Hello @shivtorov thanks for reporting, created a pull request to describe this.
Thank you

[2020-04-02 13:17] get-itips commented on #5181
@tomkau Tom, can we get more specifics about this cmdlet ? is this cmdlet being retired soon? Thanks

[2020-04-02 13:23] dariomws commented on #5179
@Jachim208, it should take just a couple of minutes, a few days it's not normal.

[2020-04-02 15:00] dariomws commented on #5205
Hi @antman2001, thank you for your feedback.

In the following article you can find some information and examples:
https://docs.microsoft.com/en-us/microsoftteams/direct-routing-translate-numbers

[2020-04-02 15:20] jhdavoli opened #5222 "Irritating Typo"
"If you main OS is Windows 10..."

Should be:
"If your main OS is Windows 10..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-57d53d313c6f
* Content: [PnP PowerShell overview](https://docs.microsoft.com/en-us/powershell/sharepoint/

[2020-04-02 16:00] get-itips commented on #5190
Hello @Oweeboi011 Owee how are you ? 👍

The issue section of this repo is intended to address issues currently in documentation, for example typos or missing information.
Is there any specific article that you feel needs to be corrected?
It seems that your inquiry would be more suitable for resources like
https://techcommunity.microsoft.com/
Hope this information helps you

[2020-04-02 17:10] dariomws commented on #5208
Hi @DanStevensonMSFT, thank you for your feedback.

@tomkau @islubin could you kindly help with these cmdlets? Do we have more information about when they will be updated?

[2020-04-02 17:43] dariomws commented on #5215
@SleepyBandit Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the

[2020-04-02 19:58] get-itips commented on #5191
Hello @kongsted I am adding this thru a pull request. Thank you

[2020-04-03 09:02] bament-hun commented on #4254
we are planning to include this into CU4, which will be released around summer 2020

[2020-04-03 09:05] DennisGaida opened #5229 "Translation errors - Set-PnPListItem is translated to Gruppe-PnPListItem in German"
Set-PnPListItem is translated to Gruppe-PnPListItem in German.

The [German (automatic) translation](https://docs.microsoft.com/de-de/powershell/module/sharepoint-pnp/set-pnplistitem?view=sharepoint-ps) has several errors:

- `Set-PnPListItem` is translated in the title as well as the first code snippet
- The parameter explanations are not translated (e.g. "Accept pipeline input:" or "Accept wildc

[2020-04-03 11:23] pemile opened #5230 "Error code : Bad Gateway, Forbidden, Request_ResourceNotFound"
hello,
I m using this method, i experienced many many errors, it does not looks this method is very reliable. Very often i have this error, nobody know's why :
Add-TeamChannelUser : Error occurred while executing
Code: Request_ResourceNotFound
Message: Resource &lt;xxxxxxxxx&gt;  does not exist or one of its queried reference-property objects are not
present.
InnerError:
  RequestId: 6fa7e2c3-5bde

[2020-04-03 11:44] yogkumgit commented on #5222
@officedocsbot assign @yogkumgit

[2020-04-03 11:45] yogkumgit commented on #5229
@officedocsbot assign @yogkumgit

[2020-04-03 11:45] yogkumgit commented on #5230
@officedocsbot assign @yogkumgit

[2020-04-03 11:51] yogkumgit commented on #5180
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @shivtorov Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-03 11:51] #5180 closed

[2020-04-03 11:54] yogkumgit commented on #5205
@dariomws  Thank you very much for the contribution and sharing this explanation. @antman2001
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-03 11:54] #5205 closed

[2020-04-03 12:00] get-itips commented on #5201
Thanks @ChrisParrBIE created a pr.

[2020-04-03 12:01] yogkumgit commented on #5190
@get-itips  Thank you very much for the contribution and sharing this explanation. @Oweeboi011
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-03 12:01] #5190 closed

[2020-04-03 12:08] yogkumgit commented on #5215
@dariomws  Thank you very much for the contribution and sharing this explanation. @SleepyBandit
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

[2020-04-03 12:08] #5215 closed

[2020-04-03 12:12] yogkumgit commented on #5191
@get-itips  Thank you very much for the contribution and sharing this explanation. @kongsted
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-03 12:13] yogkumgit commented on #5191
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @kongsted Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-03 12:13] #5191 closed

[2020-04-03 12:18] get-itips commented on #5178
Hello @Markus-Hanisch Markus 👍

how are you?

The documentation for PnP cmdlets is directly reflected from the cmdlet's source code, that lives in the linked repository.
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.

Thanks

[2020-04-03 12:25] yogkumgit commented on #5203
@chrisda Please mere the PR #5221 Thanks

[2020-04-03 12:27] yogkumgit commented on #5206
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @DEberhardt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-03 12:27] #5206 closed

[2020-04-03 12:30] yogkumgit commented on #5207
@chrisda Please merge this PR #5224 Thanks

[2020-04-03 12:37] yogkumgit commented on #5218
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @matambanadzo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-03 12:37] #5218 closed

[2020-04-03 12:41] yogkumgit commented on #5178
@get-itips  Thank you very much for the contribution and sharing this explanation. @Markus-Hanisch Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-03 12:41] #5178 closed

[2020-04-03 12:49] AdamJParker commented on #5214
Having same issue, 2 jobs created more than a week ago, stay as NotStarted. Is there a way to delete or remove them?

[2020-04-03 13:18] Cdenby commented on #5214
End result here is that they are just incredibly slow.
My first policy assignment batches took 5 hours to complete. A few I started later that day took over 8 hours to complete. At the moment, I have a bunch listed as In Progress and it's been more than 24 hours.
I've not yet seen a week, however.

This borders on just being unusable with this kind of performance.

[2020-04-03 16:42] MSTejas opened #5232 "Example is blank"
Hi, Example field in this article is blank. Can you please update it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc910c40-6577-8d7b-476c-1234e836706c
* Version Independent ID: ab8f028f-d0f6-25c0-98d0-7f24806744dc
* Content: [Unregister-CsOnlineDialInConferencingServiceNumber (skype)](https://docs.microsoft.com/en-u

[2020-04-03 17:36] tumtum73 opened #5233 "Problem installing MicrosoftTeams powershell module"
PS C:\Users> Install-Module -Name MicrosoftTeams
WARNING: Source Location 'https://www.powershellgallery.com/api/v2/package/MicrosoftTeams/1.0.5' is not valid.
PackageManagement\Install-Package : Package 'MicrosoftTeams' failed to download.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1\PSModule.psm1:1772 char:21
+ ...          $null = PackageManagement\Install-Package @PSBoun

[2020-04-04 11:47] shivtorov opened #5238 "Complete-CsCceApplianceRegistration not documented"
empty help article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 458d6654-afed-acdc-3213-d957bf531a7a
* Version Independent ID: 5935e46d-2f6e-445b-319e-cf0bf6cd347c
* Content: [Complete-CsCceApplianceRegistration (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/complete-cscceapplianceregistration?view

[2020-04-04 11:47] shivtorov opened #5239 "Complete-CsCceApplianceUnregistration not documented"
Empty help article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 868c7781-9bef-1cea-d0ea-9359e37c258c
* Version Independent ID: c548835b-c922-e60a-2759-c44e3bb8bf28
* Content: [Complete-CsCceApplianceUnregistration (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/complete-cscceapplianceunregistration?

[2020-04-04 11:50] shivtorov opened #5240 "Get-CsOnlineDialinConferencingPolicy not documented"
Empty help article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f98e0612-3883-ed72-675f-152a0be06f8d
* Version Independent ID: b5a2130a-0443-ed77-e854-5c4039ebe93f
* Content: [Get-CsOnlineDialinConferencingPolicy (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/get-csonlinedialinconferencingpolicy?vi

[2020-04-04 11:51] shivtorov opened #5241 "Get-CsOnlineDialInConferencingUserState not documented"
Empty help article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56234fd4-baa8-c376-7804-5e27e326a8c3
* Version Independent ID: 751d9ee5-ccee-bd18-4ce3-687a8c2769d2
* Content: [Get-CsOnlineDialInConferencingUserState (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/get-csonlinedialinconferencinguserst

[2020-04-06 03:19] erictechtips commented on #5230
I am also having issues using this command.  I get the following error:

Add-TeamChannelUser : Error occurred while executing
Code: BadGateway
Message: Failed to execute backend request.
InnerError:
  RequestId: 0b6ffc7c-e352-401e-a027-8be592bda1a4
  DateTimeStamp: 2020-04-06T03:17:26
HttpStatusCode: BadGateway
At line:1 char:1
+ Add-TeamChannelUser -GroupId 60913a38-7edb-41a7-a119-d770609c1b3d -D

[2020-04-06 11:46] yogkumgit commented on #5232
@officedocsbot assign @yogkumgit

[2020-04-06 11:46] yogkumgit commented on #5233
@officedocsbot assign @yogkumgit

[2020-04-06 11:47] yogkumgit commented on #5238
@officedocsbot assign @yogkumgit

[2020-04-06 11:48] yogkumgit commented on #5239
@officedocsbot assign @yogkumgit

[2020-04-06 11:49] yogkumgit commented on #5240
@officedocsbot assign @yogkumgit

[2020-04-06 11:49] yogkumgit commented on #5241
@officedocsbot assign @yogkumgit

[2020-04-06 11:55] yogkumgit commented on #5201
@get-itips  Thank you very much for the contribution. @ChrisParrBIE Thanks for updating the documentation with PR. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-06 11:55] #5201 closed

[2020-04-06 12:03] yogkumgit commented on #5168
@get-itips Thank you very much for the contribution and sharing this explanation. @Chewbee
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-06 12:03] #5168 closed

[2020-04-06 12:09] yogkumgit commented on #5203
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @trudolf-msft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-06 12:09] #5203 closed

[2020-04-06 12:11] yogkumgit commented on #5207
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @SeaGT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-06 12:11] #5207 closed

[2020-04-06 14:47] O365scripts opened #5247 "Extra space in example #3"
Example #3 should be adjusted given there is an extra space.
Add-PnPClientSideWebPart -Page "MyPage" -Component "HelloWorld" -Section 1 -Column 2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f213768f-9bc2-36e3-fe0a-d1c3b7f33b08
* Version Independent ID: 3481fdb9-51ed-da91-2aa2-fd3745512f45
* Content: [Add-PnPClientSi

[2020-04-06 16:36] #5216 closed

[2020-04-06 19:46] manasrrp opened #5252 "To block ActiveSync access for a generic mailbox."
Scenario: In a organization there is a generic email ID used by Employee_1 who has ActiveSync enabled on his mobile. After he left from that organization ActiveSync to be enabled to new employee Employee_2. Now how to block previous employee Employee_1 and allow new employee Employee_2 only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-04-06 19:50] manasrrp commented on #1083
**Scenario**: In a organization there is a generic email ID used by **Employee_1** who has ActiveSync enabled on his mobile. After he left from that organization ActiveSync to be enabled to new employee **Employee_2**. Now how to **block** previous employee **Employee_1** and allow to new employee **Employee_2** only.

[2020-04-06 22:10] NoMoreFood opened #5253 "Connect-MicrosoftTeams Limitation With -TeamsEnvironmentName And -CertificateThumbprint"
When `Connect-MicrosoftTeams` is used with `-CertificateThumbprint` and `-ApplicationId`, the parameter set restrictions do not allow use of `-TeamsEnvironmentName`.  This is a problem because if `-TeamsEnvironmentName TeamsGCCH` is not specified when connecting to a TeamsGCCH tennant, some cmdlets such as `Get-Team` will fail with the following error:

![image](https://user-images.githubuserconte

[2020-04-07 00:21] NoMoreFood commented on #5253
Alright, I developed a workaround for this by replacing the default environment ('AzureCloud') properties with the parameters of the government environment.  However, this would be easily fixed by adjusting the cmdlet parameter set properties so hopefully somebody can adjust it on the Microsoft side for the next version of the cmdlet.

[code]

[2020-04-07 04:00] anthonynz opened #5256 "Not all commands function as expected in remote powershell"
For example: Get-ExchangeCertificate will not return the services assigned to the certificates, or any detailed information about the certificate.

In comparison, running the same command in the Exchange Management Shell will return the services.

The documentation should be updated to reflect which commandlets are not supported, or have limited support in a remote powershell session as this affec

[2020-04-07 07:31] Jaguar83 opened #5257 "No cmtlets"
This page does not list any cmdlets that are available, nor does it provide any useful links to such a reference. Useless Page

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceeb00d4-65da-0ea5-8089-f16a2f348eb7
* Version Independent ID: 0f4286f0-13dc-0f83-3943-4c51fd715f94
* Content: [Exchange Online PowerShell](https:

[2020-04-07 07:32] Jaguar83 commented on #818
Links come straight back here. NOT FIXED!!!

[2020-04-07 07:38] Jaguar83 commented on #5257
This link should be on this page:
https://docs.microsoft.com/en-us/powershell/module/exchange/?view=exchange-ps

[2020-04-07 07:54] Jachim208 commented on #5179
@dariomws
To be honest, it doesn't throw any erros. just executes. But now I have tested it, and it actually takes more than 4 days to update. Though I'm checking it in Outlook Online, not directly on the rooms attributes, so maybe this is the reason.
After all, it seems to work, and replaces previous attributes, so I think we can close the issue.
Tjank you for your help :)

[2020-04-07 07:54] #5179 closed

[2020-04-07 10:18] NoMoreFood commented on #5253
Alright, I developed a workaround for this by replacing the default environment ('AzureCloud') properties with the parameters of the government environment.  However, this would be easily fixed by adjusting the cmdlet parameter set properties so hopefully somebody can adjust it on the Microsoft side for the next version of the cmdlet.

[code]

[2020-04-07 10:29] akasparas opened #5258 "Option to authorize Group"
Without Group authorization it is difficult to administer public folders where all/most tenant users should have access. Whenever users change administrator should go through all such public folders and change rights there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85dfe02b-4a29-e5af-0ff9-7fff5de69045
* Version In

[2020-04-07 10:54] yogkumgit commented on #5247
@officedocsbot assign @yogkumgit

[2020-04-07 10:54] yogkumgit commented on #5252
@officedocsbot assign @yogkumgit

[2020-04-07 10:54] yogkumgit commented on #5253
@officedocsbot assign @yogkumgit

[2020-04-07 10:55] yogkumgit commented on #5256
@officedocsbot assign @yogkumgit

[2020-04-07 10:55] yogkumgit commented on #5257
@officedocsbot assign @yogkumgit

[2020-04-07 10:55] yogkumgit commented on #5258
@officedocsbot assign @yogkumgit

[2020-04-07 11:07] yogkumgit commented on #5209
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @MSTejas Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-07 13:44] MSTejas commented on #5209
Great! Thank you so much for updating this, Yogesh.

Regards,
Tejas Haria

From: Yogesh Kumar <notifications@github.com>
Sent: April 7, 2020 4:37 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Tejas Haria (TEJAH) <Tejas.Haria@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] -Users parameter missing

[2020-04-07 14:53] #5209 closed

[2020-04-07 14:59] Oweeboi011 opened #5259 "Set-SPO not working as expected"
We tried on executing the '`Set-SPOSite -Identity $_siteUrl -LockState Readonly`' but we keep on having the issue below. Was there anything changed since? It was working before as we executed it yesterday.

Hope you can help us with our issue or guide us if we missed something on our end.

[2020-04-07 15:21] brandber commented on #5253
Thank you for raising this issue and sharing your workaround! I'm presently following-up with our team on next steps.

[2020-04-07 15:44] dariomws commented on #5076
Hi @Bart-Hoofd, I have additional information about this cmdlet.

Even though the cmdlet is in the stable version of the module, I have confirmation from the product team that it is still in preview so we will maintain the sentence at the top of the article, at least, for now. And that the Product Team is aware of this and working the matter.

[2020-04-07 17:53] vnewbaker-bw opened #5261 "Subnet length"
There is no mask defined for this command, how is the client subnet determined accurately without that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6825b30-7029-3e2f-90d5-7451242132d9
* Version Independent ID: e7df1f32-cdfc-718c-bc7d-c47b0fa4def0
* Content: [Get-CsOnlineLisSubnet (skype)](https://docs.microsoft.com

[2020-04-07 18:28] get-itips commented on #5167
Hello @Bart-Hoofd
I could get some confirmation, although the cmdlet is included now in the stable version of the module, the product team confirmed that it is still in _preview_ so we will maintain the note at the top of the article, at least, for now.
Hope this information helps you

[2020-04-07 19:31] get-itips commented on #5253
Thanks @brandber Brandon for your feedback here!
@NoMoreFood As the documentation currently shows that behavior in the parameter set, I do not see a need for a change in documentation. If the cmdlet is updated with your valuable feedback, we will proceed updating the cmdlet's article.
Thanks

[2020-04-07 19:40] NoMoreFood commented on #5253
@get-itips I agree that no documentation needs to be changed.  The only reason for even mentioning it here (which I recognize is a repository for documentation), is because the the MicrosoftTeams module's "Project Site" link points here, and simple changes on uservoice seem to be obfuscated by functionality requests that obviously get many more votes.

[2020-04-07 19:46] get-itips commented on #5253
No issues at all, I just need to explain the reason I can not take any action on the documentation -for now- ;)

Thank you!

[2020-04-07 19:58] get-itips commented on #5214
Hello @Cdenby how are you? 👍 hope you are doing great.
I could get some information from the team, they are aware of this and they are working on it for when the feature comes out of preview.
I do not identify need to impact documentation for now.
Thank you

[2020-04-07 20:03] get-itips commented on #5230
Hello @pemile how are you?

The cmdlet `Add-TeamChannelUser` is still part of the beta module, I could also confirm that the team is aware of this and is working on it.

I did not identify a need to change any documentation for now.

Thank you

[2020-04-08 04:13] Coldry opened #5262 "Please include the differences between this and the Teams Only tenants or at least link to the page."
This page states the following:
    Module: skype
    Applies to: Skype for Business Online

So where's the page that explains the details of this command for Teams? Ah... I hear you say, S4B online is Teams Telephony or is being migrated to Teams Telephone. Still, if the command works in a Teams only tenant then it should be included in the Applies to: pointing out the differences.
OK having said

[2020-04-08 10:23] yogkumgit commented on #5259
@officedocsbot assign @yogkumgit

[2020-04-08 10:24] yogkumgit commented on #5261
@officedocsbot assign @yogkumgit

[2020-04-08 10:24] yogkumgit commented on #5262
@officedocsbot assign @yogkumgit

[2020-04-08 10:30] yogkumgit commented on #5253
@get-itips Thank you very much for the contribution and sharing this explanation. @NoMoreFood
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-08 10:30] #5253 closed

[2020-04-08 10:36] Bart-Hoofd commented on #5076
Hi Dario,

Thanks!

________________________________
Van: Dario Woitasen <notifications@github.com>
Verzonden: dinsdag 7 april 2020 17:44
Aan: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
CC: Bart-Hoofd <bart.hoofd@outlook.com>; Mention <mention@noreply.github.com>
Onderwerp: Re: [MicrosoftDocs/office-docs-powershell] Unable to assign custom policy (#5076)

Hi @

[2020-04-08 10:37] yogkumgit commented on #5167
@get-itips  Thank you very much for the contribution and sharing this explanation. @Bart-Hoofd
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-08 10:37] #5167 closed

[2020-04-08 10:41] yogkumgit commented on #5214
@get-itips  Thank you very much for the contribution and sharing this explanation. @Cdenby
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-08 10:43] yogkumgit commented on #5230
@get-itips Thank you very much for the contribution and sharing this explanation. @pemile
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-08 10:43] #5230 closed

[2020-04-08 14:03] get-itips commented on #5210
Hello @ravick4u Ravi 👍
How are you?

The documentation for PnP cmdlets is directly reflected from the cmdlet's source code, that lives in the linked repository.
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.

Thanks

[2020-04-08 14:05] get-itips commented on #5222
Hello @jhdavoli 👍 how are you? Thanks for your contribution.

The documentation for PnP cmdlets is directly reflected from the cmdlet's source code, that lives in the linked repository.
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.

Thanks

[2020-04-08 14:11] get-itips commented on #5229
Hello @DennisGaida Dennis
I reported this to the translation team, it should be fixed soon. Thanks for reporting

[2020-04-08 14:12] get-itips commented on #5247
Hello @O365scripts 👍 How are you?

The documentation for PnP cmdlets is directly reflected from the cmdlet's source code, that lives in the linked repository.
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.

Thanks

[2020-04-08 14:16] get-itips commented on #5233
Hello @tumtum73 Stephen 👍 how are you? Hope you are doing great.
Here, we are limited to documentation issues, said that, I tried to reproduce to see if we need to impact any documentation and I had no issues installing Microsoft Teams Ps Module and the location in the error you shared is valid.
I would recommend checking for filtering issues or, if you still can not fix it, please open a support

[2020-04-08 14:52] get-itips commented on #5238
cmdlet appears to be removed from the module @tomkau Tom, can you confirm?

[2020-04-08 14:53] get-itips commented on #5239
Same as https://github.com/MicrosoftDocs/office-docs-powershell/issues/5238

[2020-04-08 16:00] RomanNG opened #5263 "GroupCreationEnabled also apply for Outlook Desktop"
Hi, from my testing, the GroupCreationEnabled parameter when set to false will also make the "create group" button in outlook desktop (Office 365 Pro Plus Click To Run) hidden. This parameter does not only impact Outlook On The Web.
Can you confirm it's a normal behavior and update the online documentation accordingly ?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-04-08 18:08] tameemansari commented on #5233
@tumtum73 Please run $PSVersionTable and paste the output so we can take an additional look.

I also anticipate that there are issues with your PowerShellGet package provider. Can you follow instructions [here](https://docs.microsoft.com/en-us/powershell/scripting/gallery/installing-psget?view=powershell-7) to resolve the install-module problem.

Please report back so that we can resolve this issu

[2020-04-08 18:19] tameemansari commented on #5177
Thanks for reporting @Agazoth. The connect cmdlet has some issues with the -Identity parameter. This is supposed to allow users to use an Azure Managed Identity to execute subsequently. I am surprised that it worked for you. Can you share details on how you configured your managed identity.

We should be fixing these issues in the command cmdlet in future releases when the documentation will also

[2020-04-08 18:22] get-itips commented on #5241
Hello @shivtorov I am proposing thru a PR to add missing info. Thanks

[2020-04-08 18:34] get-itips commented on #5240
@tomkau Tom, can we get detailed information about the scenarios where this cmdlet could be used by Administrators? Other than the palpable information based on the cmdlets name and output (_Global, ServiceAllowed, ServiceNotAllowed_) I appreciate.

[2020-04-08 20:35] eclay1819 commented on #4677
@chrisda @yogkumgit I submitted a support ticket, and this behavior was confirmed to be working as designed. Ticket #18585233

Relevant excerpt:

I would highly recommend updating the documentation to reflect this.

[2020-04-09 09:17] yogkumgit commented on #5263
@officedocsbot assign @yogkumgit

[2020-04-09 09:21] #5076 closed

[2020-04-09 09:24] yogkumgit commented on #5210
@get-itips  Thank you very much for the contribution and sharing this explanation. @ravick4u
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-09 09:24] #5210 closed

[2020-04-09 09:26] yogkumgit commented on #5222
@ Thank you very much for the contribution and sharing this explanation. @
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-09 09:27] #5222 closed

[2020-04-09 09:30] yogkumgit commented on #5247
@get-itips  Thank you very much for the contribution and sharing this explanation. @O365scripts
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-09 09:30] #5247 closed

[2020-04-09 09:38] waelschakaki opened #5267 "Example 2 - Confusing!"
Hello,
I think example 2 is a little bit confusing
New-CsTenantTrustedIPAddress -IPAddress "192.168.0.2" -MaskBits "24"
it should be 192.168.2.0\24 right? or what is the use case of defining one IP "not subnet" with bitmask 24?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3cd4baa-83d8-44f5-7b9e-f2cf23469173
* Versio

[2020-04-09 09:45] yogkumgit commented on #5239
@tomkau Please reply to our query as mentioned in the #5238

[2020-04-09 09:49] yogkumgit commented on #5241
@tomkau Please merge the PR #5266 Thanks

[2020-04-09 09:54] yogkumgit commented on #5267
@officedocsbot assign @yogkumgit

[2020-04-09 10:01] yogkumgit commented on #5056
@dariomws  and @tameemansari  Thank you very much for the contribution and sharing this explanation. @aidancopps Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-09 10:01] #5056 closed

[2020-04-09 10:06] yogkumgit commented on #4981
Closing, As per comment added in #5056

[2020-04-09 10:06] #4981 closed

[2020-04-09 11:27] get-itips commented on #4677
@eclay1819 Evan, I will propose adding a note to the article, if @chrisda Chris decides to accept it, it will be reflected.

[2020-04-09 18:46] CaseyRoot opened #5269 "Send welcome email"
When I use this Add-SPOUser command, it does not sent out the email notifying the user they have been added to the site.  Is there a parameter I can add to send this email out?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369ac4a3-96b9-7d17-eaf1-5b7bb2f12928
* Version Independent ID: cd322085-07d6-64f4-4aaa-d9200e319

[2020-04-10 05:32] yogkumgit commented on #5269
@officedocsbot assign @yogkumgit

[2020-04-10 05:59] kefujino commented on #5259
@Oweeboi011
Hello,

This issue may have been fixed with the latest version of the module.

I recently experienced a similar error when changing the StorageWarningLevel for a Group site.

The version was 16.0.19814.12000.

After updating to the latest version (16.0.19927.12000),  the same command works.

For my tenant using the latest version, -LockState ReadOnly also works.

Would you please check

[2020-04-10 11:13] yogkumgit commented on #4677
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @eclay1819 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-10 11:13] #4677 closed

[2020-04-10 11:20] yogkumgit commented on #5232
@tomkau Please merge the PR #5268 Thanks

[2020-04-10 11:26] yogkumgit commented on #5241
@islubin Please give your inputs in PR #5266 Thanks

[2020-04-10 14:43] sjlarkin opened #5271 "How to add SharePoint PS cmdlet to PowerShell without Admin permissions"
This article does not cover how I should add the PS cmdlet for SharePoint without a SP admin console or rights.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 102a89dc-8bb7-e76e-f570-3d6bde7e8308
* Version Independent ID: 3eb619c5-db95-9a42-4c83-9778572f00fc
* Content: [SharePoint Server Cmdlets](https://docs.microsoft

[2020-04-10 22:47] flowt-au commented on #5233
FWIW: with the help of Microsoft Support I solved this by updating my .NET framework to the latest version (4.8)
[https://dotnet.microsoft.com/download/dotnet-framework](https://dotnet.microsoft.com/download/dotnet-framework)

[2020-04-11 12:14] ddbardsley opened #5273 "Get-PnPProvisioningTemplate -IncludeAllClientSidePages does not return all pages"
The IncludeAllClientSidePages parameter for Get-PnPProvisioningTemplate does not return all pages within a site. It only returns the default home site page. Here is what I am using:

Get-PnPProvisioningTemplate -Out $siteTemplateFile -IncludeAllClientSidePages

I have the following PnP-PowerShell version installed on my system.

PS C:\WINDOWS\system32> Get-Module SharePointPnPPowerShell* -ListAvai

[2020-04-11 20:13] lammy82 opened #5274 "Functionality such as external sharing and application interfaces are dependent on the policies and permissions defined at the root site"
Referring to preparation activity 2 listed when swapping a site to the root site of the tenant:

What does the above mean? Is it implying that whatever sharing settings are defined at the root site, these will apply to all sites within the tenant? That's not how it works. I want the site I am swapping to the root to retain the policies I have defined for it, which are different from the policies a

[2020-04-12 13:57] umair-iscs commented on #4983
Hi, any solution for this Get-CsGroupPolicyAssignment : Access Denied. how can we avoid this, we need to assign the policy to student group as from team admin portal is not applying to all students.
Please help.

[2020-04-13 01:39] kefujino commented on #5259
If you use SharePoint Online Management Shell, you can get latest version here.
https://www.microsoft.com/en-us/download/details.aspx?id=35588

[2020-04-13 09:41] yogkumgit commented on #5271
@officedocsbot assign @yogkumgit

[2020-04-13 09:42] yogkumgit commented on #5273
@officedocsbot assign @yogkumgit

[2020-04-13 09:42] yogkumgit commented on #5274
@officedocsbot assign @yogkumgit

[2020-04-13 09:48] yogkumgit commented on #5233
@get-itips  Thank you very much for the contribution and sharing this explanation. @tumtum73
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-13 09:48] #5233 closed

[2020-04-13 12:38] ddbardsley opened #5277 "Apply-PnPProvisioningTemplate does not provision the site Navigation"
I use the following command to acquire the site information which contains the pnp:Navigation tags within the XML template.

Get-PnPProvisioningTemplate -IncludeAllClientSidePages -Out $siteTemplateFile

I then use the following command to apply the acquired XML template (please note that the required site pages, used by the navigation, are already provisioned on the site).

Apply-PnPProvisioningT

[2020-04-13 14:03] dariomws commented on #5252
Hi @manasrrp, thank you for your feedback.

I think you should revoke/remove permissions for user Employee_1:
https://docs.microsoft.com/exchange/collaboration-exo/shared-mailboxes

Also, you can remove or disable the account, change password, block sign-in, force sign-out. More information:
https://docs.microsoft.com/microsoft-365/admin/add-users/remove-former-employee

[2020-04-13 19:52] dariomws commented on #5257
Hi @Jaguar83, thank you for your feedback.

Exchange Online cmdlet reference topics are located in the Reference section of this document. Please, check the left pane.

[2020-04-13 19:53] dariomws commented on #5257
More information:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/818

[2020-04-13 20:06] dariomws commented on #5258
Hi @akasparas, thank you for your feedback.

You can also add a Universal Distribution Group to public folder permissions. You should use the UPN or alias with the -User parameter.

[2020-04-14 05:33] kevinzhang999 opened #5287 "This is not working in Exchange Online."
Applies to:
Exchange Server 2010, Exchange Server 2013, Exchange Server 2016, Exchange Server 2019, Exchange Online
This cmdlet is available only in on-premises Exchange.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f56d9d31-7fec-d066-253d-13ef24cf9b31
* Version Independent ID: ae1640b8-26b0-eddc-8abb-d9309f44c125
*

[2020-04-14 11:10] yogkumgit commented on #5277
@officedocsbot assign @yogkumgit

[2020-04-14 11:10] yogkumgit commented on #5287
@officedocsbot assign @yogkumgit

[2020-04-14 11:14] yogkumgit commented on #5252
@dariomws  Thank you very much for the contribution and sharing this explanation. @manasrrp
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-14 11:14] #5252 closed

[2020-04-14 11:17] yogkumgit commented on #5257
@dariomws  Thank you very much for the contribution and sharing this explanation. @Jaguar83
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-14 11:17] #5257 closed

[2020-04-14 11:19] yogkumgit commented on #5258
@dariomws  Thank you very much for the contribution and sharing this explanation. @akasparas
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-14 11:19] #5258 closed

[2020-04-14 11:27] yogkumgit commented on #5256
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @anthonynz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-14 11:27] #5256 closed

[2020-04-14 11:45] yogkumgit commented on #5177
@get-itips  Thank you very much for the contribution and sharing this explanation. @Agazoth
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-14 11:45] #5177 closed

[2020-04-14 11:48] yogkumgit commented on #5263
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @RomanNG Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-14 11:48] #5263 closed

[2020-04-14 11:50] joshtransient opened #5288 ""Revoke-SPObjectSecurity" link goes nowhere"
Doesn't look like it is part of the most recent Management Shell cmdlet set, either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65bf2c0b-b0ec-2748-e47e-af66011efe30
* Version Independent ID: be3968f4-d766-0b45-384b-c51c47328a86
* Content: [SharePoint Online PowerShell](https://docs.microsoft.com/en-us/powershell/mo

[2020-04-14 12:41] hishikitetsuya opened #5289 "This command does not return last access time even if on-premise environment for Modern Public Folder"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c6b7c43-b67e-7356-d44f-e5ababd8c61c
* Version Independent ID: 5ac3ac6c-5bbd-1c2e-fb1d-42e0112b7b6c
* Content: [Get-PublicFolderItemStatistics (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange/sharing-and-collaboration/get-public

[2020-04-14 12:45] CedgeTheLedge opened #5290 "Variable not used"
In your example 3, $menuPrompt is declared but never used. Is this normal ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0637a09-b222-08c8-c379-ddf503c42ae6
* Version Independent ID: ba49f51d-6c7b-be1e-098c-8e8bf3fe2ba0
* Content: [New-CsAutoAttendantCallHandlingAssociation (skype)](https://docs.microsoft.com/en-us/

[2020-04-14 12:50] hishikitetsuya commented on #5289
I created the issue by mistake and close this for now. Sorry for the confusing.

[2020-04-14 12:50] #5289 closed

[2020-04-14 13:11] hishikitetsuya opened #5291 "The command never return last access time"
## Problem

This page includes the following statement:

However, the command never returns last access time info even if on-premises Exchange. Here is an example.

[code]

As you can see, the results never show last access time and only include LastModificationTime when we filter the result with `*last*` regardless of the Exchange version.

## Proposal

Description about last access time should b

[2020-04-14 15:14] alohaninja opened #5293 "MacOS Support"
[Installed PS on MacOS using guidance here](https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-core-on-macos?view=powershell-7), but these [MS Teams CLI commands ](https://docs.microsoft.com/en-us/powershell/module/teams/?view=teams-ps)only seem to support WinOS - we should add a note / disclaimer on platforms supported for the CLI. I can[ install the PS module](ht

[2020-04-14 20:52] Danesh89 opened #5294 "Exchange online doesn't support enable-um command"
Need to remove exchange online from enable-um as um online is completely decommissioned

[2020-04-15 05:52] yogkumgit commented on #5288
@officedocsbot assign @yogkumgit

[2020-04-15 05:52] yogkumgit commented on #5290
@officedocsbot assign @yogkumgit

[2020-04-15 05:52] yogkumgit commented on #5291
@officedocsbot assign @yogkumgit

[2020-04-15 05:53] yogkumgit commented on #5293
@officedocsbot assign @yogkumgit

[2020-04-15 05:53] yogkumgit commented on #5294
@officedocsbot assign @yogkumgit

[2020-04-15 05:59] winderickxeli opened #5295 "What about guests?"
Hi!

Due to a collaboration of two schools, we would like to add several guest users to a team. Is this possible with this powershell module?  Do I need something else? This documentation doesn't explain this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da0c53f2-1c62-14f6-6371-f54bf86b0c24
* Version Independent ID:

[2020-04-15 07:55] 2MuchLag4you opened #5296 "Whatif not working disable-inboxrule"
I just used the Powershell module for exchangeonline ( with 2fa )
I haven't had the time to switch to the v2 module but I just had the following issue.

When requesting an inboxrule with get-inboxrule and piping it to disable-inboxrule with the whatif statement does not work.
It will do the following:

[code]

[2020-04-15 09:41] hyoshioka0128 opened #5297 "[LOC] Back-Translation "設定-ラベル"→"Set-Label""
🛑 IMPORTANT: You can get your feedback addressed faster if you use the comment section for the article in which you encountered a problem (if available).
![set-label_j](https://user-images.githubusercontent.com/40815708/79323069-b0df0480-7f48-11ea-82da-a6fd2371956d.png)

Link to article:
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/powershell/module/exchange/policy-and

[2020-04-15 10:01] AlexPan0310 opened #5298 "Parameter CommentsOnSitePagesDisabled doesn't work for group site collection"
-CommentsOnSitePagesDisabled doesn't work for group site collection, the error shows as below

Set-SPOSite : h****** is a Groups site collection. The valid parameters for this
type of site collection are '-Identity', '-AllowSelfServiceUpgrade', '-DefaultLinkPermission',
'-DefaultSharingLinkType', '-DenyAddAndCustomizePages', '-DisableCompanyWideSharingLinks',
'-DisableSharingForNonOwners', '-LockS

[2020-04-15 10:27] pc222 commented on #5171
I think the error in the cmdlet is back. I tried it with our without "tel:" but I get always the message that the format is wrong.

`Set-CsOnlineApplicationInstance -Identity "srv_test_byot_cq_02@tenant.onmicrosoft.com" -OnpremPhoneNumber "tel:+‪49123456789" -Verbose -ApplicationId "11cd3e2e-fccb-42ad-ad00-878b93575e07"`

or

`Set-CsOnlineApplicationInstance -Identity "srv_test_byot_cq_02@tenant.o

[2020-04-15 10:44] yogkumgit commented on #5295
@officedocsbot assign @yogkumgit

[2020-04-15 10:45] yogkumgit commented on #5296
@officedocsbot assign @yogkumgit

[2020-04-15 10:45] yogkumgit commented on #5298
@officedocsbot assign @yogkumgit

[2020-04-15 11:27] yogkumgit commented on #5297
@OfficeGlobal could you kindly help with this translation issue? Thanks!

[2020-04-15 12:08] get-itips commented on #4572
Hello @sir-wally Reviewing old open issues I just realized that you ran Set-csOnlineApplicationInstance but the article you opened the issue is Set-CsOnlineVoiceApplicationInstance and that is the cmdlet I made the successful test.

Set-CsOnlineApplicationInstance **does not have** a TelephoneNumber parameter

[2020-04-15 12:18] get-itips commented on #4796
Hello @weyCC81 How're you?
Reviewing open issues, I could see that this statement, present in the article, is still valid

So this is the requirement for now.

There is a uservoice for this [here](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/38223676-enable-the-ability-to-use-non-service-numbers-with), I voted.

Hope this info helps you.

[2020-04-15 12:45] OfficeGlobal commented on #5297
Working on a fix

[2020-04-15 12:45] get-itips commented on #5259
Hello @Oweeboi011 how are you? I could verify in my lab what @kefujino kindly shared here, using the latest version of the module, it worked without issues.
Hope this info helps you.

[2020-04-15 13:41] wiseleaf23 commented on #5171
@pc222 Could you try without the quotes around the phone number? I know it should not matter, but you can try. Also, you can try using the number in my example, +31851324567

[2020-04-15 13:41] weyCC81 commented on #4796
Hi @get-itips

Thanks for the Answer, even if it is more or less nice 👍
#please-close

[2020-04-15 16:23] Danesh89 opened #5299 "Exchange online should be removed as um online is decommissioned"
Please remove exchange online from this page in enable-ummailbox and disable-ummailbox as exchange online um is decommissioned

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7e92104-ab9d-d186-95bf-ce95b1b1cd68
* Version Independent ID: d0098c54-1c5c-85c4-f264-8214ba814a92
* Content: [Enable-UMMailbox (exchange)](https

[2020-04-15 16:37] chrisda commented on #5299
@Danesh89, 100% agree that Exchange UM in the cloud is going aware or gone, but the cmdlets are still available. I'm hesitant to remove Exchange Online info until the cmdlets are actually no longer available. It could be a matter of timing (if we wait a bit longer, the cmdlets might go away).

The announcement is here:
https://techcommunity.microsoft.com/t5/exchange-team-blog/retiring-unified-mess

[2020-04-15 16:58] jonwbstr opened #5300 "Exchange Online PowerShell V2 note is not formatted correctly"
This page:
[code]

Correct Syntax:
[code]

I believe the intent was for the note to look like the page below. Unfortunately, it looks like 99% of the pages this note was added to are not using the correct markdown syntax.

https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/exchange/docs-conceptual/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online

[2020-04-15 17:18] get-itips commented on #5261
Hello @kaishuipinggai Jundong, can you please shed some light here on the way the cmdlet determines the mask? I appreciate
Also, I see that the GitHub login metadata for you on this and other cmdlets is not correct.

[2020-04-15 17:20] 3031539 opened #5302 "Get-PNPUnifiedGroup -ErrorActions not working"
When trying to use the -ErrorActions SilentlyContinue no matter it continues on error.

SharePointPnPPowerShellOnline 3.20.2004.0

Get-PnPUnifiedGroup : Code: Request_ResourceNotFound
Message: Resource '1cb8f064-164d-4b76-8f44-012c5491362b' does not exist or one of its queried reference-property objects are not
present.
Inner error
Au caractère Ligne:1 : 1
+ Get-PnPUnifiedGroup -ErrorAction Silent

[2020-04-15 17:47] get-itips commented on #5267
Hello @waelschakaki how are you? Will propose changing that in the article. Thanks

[2020-04-15 20:27] chrisda commented on #5300
@jonwbstr, this is a known issue we are working on.

Thanks for the feedback.

[2020-04-15 20:27] #5300 closed

[2020-04-15 21:14] dariomws commented on #5296
Hi @2MuchLag4you, thank you for your feedback.

It's documented that -WhatIf parameter does not work with [Disable-InboxRule](https://docs.microsoft.com/powershell/module/exchange/mailboxes/disable-inboxrule). Please check the article and let me know if I can provide more help.

[2020-04-15 21:21] dariomws commented on #5295
Hi @winderickxeli, thank you for your feedback.

You cannot add guest users using this cmdlet or any other, sorry about that. If you consider it an important feature please put your vote here:
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/38186131-add-team-guest-user
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/18625588-mass-add-users-to-a-channel-o

[2020-04-15 21:27] dariomws commented on #5294
Hi @Danesh89, thank you for your feedback.

Same as https://github.com/MicrosoftDocs/office-docs-powershell/issues/5299:

"100% agree that Exchange UM in the cloud is going aware or gone, but the cmdlets are still available. I'm hesitant to remove Exchange Online info until the cmdlets are actually no longer available. It could be a matter of timing (if we wait a bit longer, the cmdlets might go a

[2020-04-16 10:59] yogkumgit commented on #5299
@officedocsbot assign @yogkumgit

[2020-04-16 10:59] yogkumgit commented on #5302
@officedocsbot assign @yogkumgit

[2020-04-16 11:09] yogkumgit commented on #4572
@get-itips  Thank you very much for the contribution and sharing this explanation. @sir-wally
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-16 11:09] #4572 closed

[2020-04-16 11:14] yogkumgit commented on #4796
@get-itips  Thank you very much for the contribution and sharing this explanation. @weyCC81
Thanks for your reply, we proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-16 11:16] #4796 closed

[2020-04-16 11:19] yogkumgit commented on #5259
@get-itips  Thank you very much for the contribution and sharing this explanation. @Oweeboi011
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-16 11:19] #5259 closed

[2020-04-16 11:31] yogkumgit commented on #5267
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @waelschakaki Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-16 11:31] #5267 closed

[2020-04-16 11:35] yogkumgit commented on #5296
@dariomws  Thank you very much for the contribution and sharing this explanation. @2MuchLag4you Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-16 11:35] #5296 closed

[2020-04-16 11:38] yogkumgit commented on #5295
@dariomws  Thank you very much for the contribution and sharing this explanation. @winderickxeli
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-16 11:38] #5295 closed

[2020-04-16 11:47] yogkumgit commented on #5294
@dariomws  Thank you very much for the contribution and sharing this explanation. @Danesh89
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-16 11:47] #5294 closed

[2020-04-16 11:51] yogkumgit commented on #5299
@chrisda  Thank you very much for sharing this explanation. @Danesh89 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-16 11:51] #5299 closed

[2020-04-16 11:53] cbotsikas opened #5309 "Get-PnPFolder Related Links are broken"
The link link is broken. I can only see SharePoint Developer Patterns and Practices but the href is wrong: https://aka.ms/sppnp)[Ensure-PnPFolder](https://github.com/OfficeDev/PnP-PowerShell/blob/master/Documentation/EnsureSPOFolder.md

I suppose the 'Ensure-PnPFolder' should be 'Resolve-PnPFolder' and link to https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/resolve-pnpfolder as n

[2020-04-16 12:03] yogkumgit commented on #5287
@chrisda Please merge this PR #5307 Thanks

[2020-04-16 12:07] yogkumgit commented on #5290
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @CedgeTheLedge Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-16 12:07] #5290 closed

[2020-04-16 12:12] yogkumgit commented on #5170
@OfficeGlobal could you kindly help with this translation issue? Thanks!

[2020-04-16 12:12] yogkumgit commented on #5229
@OfficeGlobal could you kindly help with this translation issue? Thanks!

[2020-04-16 12:16] yogkumgit commented on #5309
@officedocsbot assign @yogkumgit

[2020-04-16 12:32] get-itips commented on #5171
Hello, tested this again, and it worked with or without the quotes around the OnPremPhoneNumber parameter. Hope this info helps you

[2020-04-16 12:34] #5171 closed

[2020-04-16 14:01] get-itips commented on #5269
Hello @CaseyRoot how are you?
This cmdlet currently has no option to do that, I suggest adding the idea to [SharePoint UserVoice](https://sharepoint.uservoice.com/).

[2020-04-16 14:18] get-itips commented on #5274
Hello @lammy82 how are you?
In my lab, I defined the following external sharing for the current root

_"This site can't be shared externally"_

Created a new Communication Site Collection and defined the external sharing as

_"Files and folders on this site can be shared with anyone"_

I ran the cmdlet to swap the newly created sc to be the new root site collection, it retained the external sharin

[2020-04-16 14:31] pc222 commented on #5171
We still have the issue. We're opened a primer support ticket, but still no solution for more than 3 weeks.

[2020-04-16 14:51] get-itips commented on #5271
Hello @sjlarkin how are you? 👍

The article says that you have to be granted SP Shell admin thru Add-SPShellAdmin to be able to run SharePoint cmdlets.

Hope this clarifies it to you.

[2020-04-16 14:52] get-itips commented on #5273
Hello @ddbardsley David 👍 how are you?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.

Thanks

[2020-04-16 14:52] lammy82 commented on #5274
Hi, thanks - yes, that is the same behaviour I observed when using the command.
Therefore, I don't understand why point 2 exists in the document. The behaviour when swapping to the root site is no different than the behaviour when swapping to any other location. The sharing policies from the source site are maintained at the new location.

What should be listed, is that if you swap a site to the r

[2020-04-16 14:54] get-itips commented on #5274
Thanks for your feedback. Let's see if @WayneEwington can shed some light here

[2020-04-16 16:23] dariomws commented on #5293
Hi @alohaninja, thank you for your feedback.

Microsoft Teams PowerShell is supported on Windows PowerShell, not yet in PowerShell Core. Probably next quarter support will be added.

[2020-04-16 16:58] sjlarkin commented on #5271
Thank you. I went back and reread the article, and saw that I need admin privs which I’ll never get. Submitted a request to our SP support team.

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Thursday, April 16, 2020 9:52 AM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Larkin, Sara <SLarkin@bokf.com>; Mention <mention@noreply.github.com

[2020-04-16 18:33] chrisda commented on #5287
Merged. Closing.

[2020-04-16 18:33] #5287 closed

[2020-04-16 18:41] WayneEwington commented on #5274
The key point is to ensure that the permissions (including any sharing configuration settings) on the source site match those on the target site (if required). For example, by default the root site collection allows all users in the organization to access it. If a source site that is restricted to a subset of users is moved to the root, then some users will no longer have access which could impact

[2020-04-16 18:43] get-itips commented on #5274
Thanks @WayneEwington for clarifying!

[2020-04-16 21:54] ddbardsley commented on #5273
Hi, Thank you. I opened this within the other repo. David.

[2020-04-16 21:54] #5273 closed

[2020-04-16 21:55] ddbardsley commented on #5277
I opened this issue in the pnp/PnP-PowerShell repo. Sorry about the confusion. David

[2020-04-16 21:55] #5277 closed

[2020-04-17 09:06] gavsto opened #5313 "Connect-MicrosoftTeams doesn't work with delegated permissions via Secure App Model"
We're an MSP that uses delegated partner permissions to connect to all the 365 environments we support. The methods available in this cmdlet don't seem to work:

Example:

Connect-MicrosoftTeams -TenantId "OurClientsTenantID" -AadAccessToken $aadGraphToken -MsAccessToken $graphToken -AccountID "UPN"

Does not generate an error when I run it. If I then run Get-Team:

Get-Team : Error occurred while

[2020-04-17 09:27] yogkumgit commented on #5313
@officedocsbot assign @yogkumgit

[2020-04-17 09:32] yogkumgit commented on #5269
@CaseyRoot  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2020-04-17 09:32] #5269 closed

[2020-04-17 09:37] yogkumgit commented on #5274
@get-itips  and @WayneEwington  Thank you very much for sharing this explanation. @lammy82
Hope these comments are helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-17 09:37] #5274 closed

[2020-04-17 09:40] yogkumgit commented on #5271
@get-itips  Thank you very much for the contribution and sharing this explanation. @sjlarkin
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-17 09:40] #5271 closed

[2020-04-17 09:45] yogkumgit commented on #5293
@dariomws  Thank you very much for the contribution and sharing this explanation. @alohaninja
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-17 09:45] #5293 closed

[2020-04-17 09:57] yogkumgit commented on #5241
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @shivtorov Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-17 09:57] #5241 closed

[2020-04-17 10:01] yogkumgit commented on #5232
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @MSTejas Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-17 10:01] #5232 closed

[2020-04-17 16:01] henryed07 opened #5316 "Set-SPOSite on Group Sites is now giving an error."
I've got an Azure Runbook running the following to update a Teams Site to turn of External Sharing. It's been working fine up until a week ago.
 Connect-SPOService -Url $adminSiteUrl -Credential $myCred
    Get-SPOSite -Identity  $SiteUrl | select sharingcapability
    Set-SPOSite -Identity $SiteUrl -SharingCapability Disabled

**Error:**

Unexpected error: [Site Address] is a Groups site collecti

[2020-04-17 16:20] alexsoft-pl opened #5317 "set-teampicture for team which i am not owner"
I need to set pictures for teams, which i am not owner.
i try to get token (i want use application with delegated rights:
$ReqTokenBody = @{
    Grant_Type    = "Password"
    client_Id     = $clientID
    Client_Secret = $clientSecret
    Username      = $Username
    Password      = $Password
    Scope         = "Group.ReadWrite.All"
}
$TokenResponse = Invoke-RestMethod -Uri "https://login.micro

[2020-04-17 16:46] ChrisAtMAF opened #5318 "Microsoft.Exchange.Data.DataValidationException: DateFormat "M/d/yyyy" isn't valid for current language setting "en-GB". Valid formats include "dd/MM/yyyy, dd/MM/yy, d/M/yy, d.M.yy, yyyy-MM-dd"."
I received the following error when trying to switch Language from 'en-GB' to 'en-US':
Microsoft.Exchange.Data.DataValidationException: DateFormat "M/d/yyyy" isn't valid for current language setting "en-GB". Valid formats include "dd/MM/yyyy, dd/MM/yy, d/M/yy, d.M.yy, yyyy-MM-dd".

I found this could be resolved by adding -DateFormat $null and -TimeFormat $null, which appeared to allow the default

[2020-04-17 17:46] taIConX opened #5319 "EXAMPLE 7"
Parameter -RowFilter is incorrect, should be corrected to -RowLimit in example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b96547-c659-bdf3-a6b6-69a2c94689fc
* Version Independent ID: b9aa6d28-19b9-ab4e-1b45-2f1f9629a2c8
* Content: [Get-PnPSearchCrawlLog (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershel

[2020-04-17 18:38] danielbigras opened #5321 "Unacceptable delays"
When will Add-TeamUser/Add-TeamChannelUser update Teams in real time? One of the main reason to use PowerShell is to save time. And if we can't update Teams in real time, with Add-TeamUser, Add-TeamChannelUser, it's pointless. Is there a plan to make them update Teams in real time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-04-17 20:01] ganlbarone opened #5322 "Basic auth disable"
So the end date has been extended which is good.

My question here is I heard exo ps sessions are in scope. Will we expect them to break when this change does come through? We have a lot of automation that revolves around using these cmdlets. We also are an Okta customer and disabled legacy Auth long ago so trying to figure out if we are going to have any issue when this does come to pass.

Using

[2020-04-17 22:37] jensmarshall commented on #5056
How do you get added to the whitelist? How do you get on the preview list?

[2020-04-18 07:45] anwarmahmood1 opened #5324 "whenMailboxCreated has a minimum value"
in my PowerShell script, I tried something like
[System.DateTime]$after = 0
$filter = "whenMailboxCreated -gt '$after'"
get-mailbox -filter $filter

This didn't return results.  When I set the year to 2000, then it *did* set results.

Can you add to the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce3

[2020-04-18 10:05] jklappdev opened #5325 "Error executing new-team"
new-team  was working until about mid-day 4/17/2020.
Around 3pm it stopped working. Not sure if its something in my tenant.
Here is the error:
PS C:\WINDOWS\system32> new-team -DisplayName zzzJKLteamstester1                                                        new-team : Error occurred while executing
Code: BadGateway
Message: Failed to execute backend request.
InnerError:
  RequestId: 0fc85517-

[2020-04-18 12:43] dariomws commented on #5056
Hi @jensmarshall, please check this:
https://docs.microsoft.com/microsoftteams/private-channels-life-cycle-management#install-the-latest-teams-powershell-module-from-the-powershell-test-gallery

[2020-04-18 12:45] jdamsgaa opened #5326 "Getting errors on Get-Team, Get-TeamChannel, ver 1.0.5 + 1.0.3"
The only command I have managed to get working is Get-TeamUser -GroupId ...... the others fail. What am I doing wrong? Have tried it on a Windows 10 system as well as a Windows Server 2016 Standard. Both runnning Powershell 5.1

Get-TeamChannel -GroupId (same GroupId that's working in Get_TeamUser) :
Code: BadRequest
Message: Failed to execute Skype backend request GetThreadS2SRequest.

Get-Team:

[2020-04-19 08:48] jdamsgaa commented on #5326
Suddenly started working by itself - no idea why it didn't work before

[2020-04-19 08:48] #5326 closed

[2020-04-19 11:49] reuvygroovy opened #5327 "SharePointPnPPowerShell2019"
There is a also a dedicated module for SharePoint 2019, called "SharePointPnPPowerShell2019" which my colleague pointed out to me. This should also appear on the above page under the SharePoint version 2013/6 as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independ

[2020-04-19 15:31] shivtorov opened #5328 "incorrect examples"
Issues with this article:
1) HTML-header is "Get-CsOnlineUser" instead of expected "New-CsOnlineVoiceRoutingPolicy"
2) Both examples use parameter "Name", but it is not listed a valid parameter for this cmdlet
3) Punctuation can be better in the description of "OnlinePstnUsages" parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-04-19 15:56] shivtorov opened #5329 "unclear "Global" parameter"
Issues with this article:
1) HTML-header is "Get-CsOnlineUser" instead of expected "Grant-CsOnlineVoiceRoutingPolicy"
2) All examples are for 1st parameter set. There are no examples for the 2nd parameter set. An example for "-Global" parameter is desirable
3) Description of "Global" parameter is not clear. For example, does it mean it applies to all current users, or also covers all future users

[2020-04-19 16:37] connordoner opened #5330 "Broken note syntax"
The note-type blockquote at the top of the page is broken.

---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b039edde-abde-fc2a-b388-c6a74b3e7e1a
* Version Independent ID: 62f38668-1c72-a555-18f9-b4520863db07
* Content: [New-SafeAttachmentPolicy (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange/adva

[2020-04-19 17:56] AndrewCi commented on #147
Why is this closed? I am still having this issue. I haven't figured out a way to connect to Teams using the credential object. In my particular case I am trying to authenticate using Azure PowerAutomate.

[2020-04-19 18:12] AndrewCi opened #5331 "Connect-MicrosoftTeams from Microsoft Teams PowerShell does not work on Azure Automation"
I am attempting to connect to Microsoft Teams using Azure Automation. I am using the following code in Azure Automation PowerShell Runbook.

[code]

I receive the following error:

[code]

When I run a simple 'Connect-MicrosoftTeams' locally it works fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ee082c9-735d-3f

[2020-04-20 00:21] zlDev opened #5332 "DisableFacebook:$false"
I have successfully disabled Facebook integration with DisableFacebook however I'm not able to roll back the change with DisableFacebook:$false.

I'm getting WARNING: The command completed successfully but no settings of 'OwaMailboxPolicy-Default' have been modified. Nothing happens and I'm not able to change the value to true.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-04-20 04:24] teylyn opened #5333 "Owners parameter syntax is wrong"
The syntax for the Owners parameter is given as "user@domain.com","anotheruser@domain.com" but this does not work. It triggers the error: New-PnPSite : {"error":{"code":"-1,
System.Data.Services.Client.DataServiceClientException","message":"{\"odata.error\":{\"code\":\"Request_BadRequest\",\"message\":{\"lang\":\"en\",\"value\":\"One or more added object
references already exist for the following

[2020-04-20 10:56] yogkumgit commented on #5316
@officedocsbot assign @yogkumgit

[2020-04-20 10:57] yogkumgit commented on #5317
@officedocsbot assign @yogkumgit

[2020-04-20 10:57] yogkumgit commented on #5318
@officedocsbot assign @yogkumgit

[2020-04-20 10:57] yogkumgit commented on #5319
@officedocsbot assign @yogkumgit

[2020-04-20 10:58] yogkumgit commented on #5321
@officedocsbot assign @yogkumgit

[2020-04-20 10:58] yogkumgit commented on #5322
@officedocsbot assign @yogkumgit

[2020-04-20 10:58] yogkumgit commented on #5324
@officedocsbot assign @yogkumgit

[2020-04-20 10:58] yogkumgit commented on #5325
@officedocsbot assign @yogkumgit

[2020-04-20 10:59] yogkumgit commented on #5327
@officedocsbot assign @yogkumgit

[2020-04-20 10:59] yogkumgit commented on #5328
@officedocsbot assign @yogkumgit

[2020-04-20 10:59] yogkumgit commented on #5329
@officedocsbot assign @yogkumgit

[2020-04-20 10:59] yogkumgit commented on #5330
@officedocsbot assign @yogkumgit

[2020-04-20 10:59] yogkumgit commented on #5331
@officedocsbot assign @yogkumgit

[2020-04-20 11:00] yogkumgit commented on #5332
@officedocsbot assign @yogkumgit

[2020-04-20 11:00] yogkumgit commented on #5333
@officedocsbot assign @yogkumgit

[2020-04-20 11:18] yogkumgit commented on #5291
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @hishikitetsuya Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-20 11:18] #5291 closed

[2020-04-20 13:40] get-itips commented on #5288
Hello @joshtransient
How are you?
Thanks for noticing.
The cmdlet belongs to SharePoint Server cmdlets, it was moved by this [PR](https://github.com/MicrosoftDocs/office-docs-powershell/pull/2946/)

However, it was, incorrectly listed on the SharePoint Online TOC as you could identify. Created a PR to correct. Thanks again.

[2020-04-20 14:16] jensmarshall commented on #5056
I have installed the the PSGalleryInt repository, and have version 1.0.22 on one machine & 1.0.21 on the other.  When I run the commands from the page you linked, I receive the Access Denied error message.

[2020-04-20 14:44] get-itips commented on #5333
Hello @teylyn  👍 how are you?

Documentation for PnP cmdlets is directly reflected from the cmdlet's source code.
So, I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.

Thanks

[2020-04-20 15:45] dariomws commented on #5056
Hi @jensmarshall, thank you for your feedback.

Sorry, my mistake. It's not yet available in the preview module. It will be available on May:
https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=61185

I think you should contact support to WhiteList your tenant.

[2020-04-20 15:58] get-itips commented on #5298
@AlexPan0310 How are you?
Thanks for noticing and reporting.
I created a pull request to update the article stating this.
Thank you!

[2020-04-20 16:02] get-itips commented on #5316
@henryed07 How are you? Are you still facing this error?
Tried to reproduce to verify if we need to impact the documentation however I could set SharingCapability to Disabled on a Groups sc without issues.

[2020-04-20 16:41] Jens-Lorenz opened #5339 "PrivacyStatementURL not accepted?"
When setting the parameter for -PrivacyStatementURL I get an error:
"A parameter cannot be found that matches parameter name 'PrivacyStatementUrl'"
I can see the parameter exists with Get-OMEConfiguration (and is empty). Can this not be configured yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aabcc26e-242d-1342-2

[2020-04-20 17:03] chrisda commented on #5330
Known issue. Looking into it.

Thanks for the feedback.

Closing.

[2020-04-20 17:03] #5330 closed

[2020-04-20 17:11] henryed07 commented on #5316
Hi,
Yes still getting the issue - looked at the Runbook and it's all failed - so its still not working. Should I log this with Microsoft Support too?

[2020-04-20 17:13] get-itips commented on #5316
Thanks for getting back and share your update.
Yes please, I kindly suggest opening a support ticket, as I could not reproduce and here, we are limited to documentation issues.
If, for any reason, I detect that the cmdlet behavior has changed, I'll impact the article.
Thank you

[2020-04-20 17:48] jklappdev commented on #5325
This is working now. Not sure if it was an issue at MS or with the
command.  Did you do anything to fix it?

On Mon, Apr 20, 2020 at 6:59 AM Yogesh Kumar <notifications@github.com>
wrote:

[2020-04-20 17:49] JeremyTBradshaw opened #5341 "Release notes - is this the place to read them?"
Hello,

I am using version 0.4578.0 but the release notes here only go up to 0.4368.1.  Just wondering if this is the place I should be coming to for these?  I'm following a few issues/features and am always eager to see what was just done in the latest release.

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-04-20 18:31] get-itips commented on #5325
Hello @jklappdev How are you?
As here we are limited to documentation changes, I tried to reproduce to see if we had to impact any documentation but could not, it was probably a transient error.
If this issue appears again for you, I kindly suggest to open a support ticket in your tenant.
Thank you

[2020-04-20 18:43] JeremyTBradshaw commented on #5341
Just realized that I can see the release notes at the [package page PowerShellGallery.com ](https://www.powershellgallery.com/packages/ExchangeOnlineManagement) under "Package Details".

Thanks and closing issue now.

[2020-04-20 18:43] #5341 closed

[2020-04-20 19:11] get-itips commented on #5321
Hello @danielbigras Daniel 👍 How are you?
Here, we are limited to address issues with documentation, said that, I was able to get in contact with the team and they told me that they need more detail to understand the issue you are facing, so they ask if you can kindly share more details sending an email to teamscmdlets at microsoft.com
Thank you

[2020-04-20 19:21] danielbigras commented on #5321
Thank you Andres. Wow, didn't expect a reply so soon. Will do. But it's a known issue, and the documentation claims that these commands have very long delays.

[2020-04-20 19:31] get-itips commented on #5321
Indeed, however, please do not hesitate in sharing your details in spite of it being a current known issue.

[2020-04-20 19:32] danielbigras commented on #5321
Yes, will do, I'm not closing this ticket. If I can help them fix that problem, it will be important to share.

[2020-04-20 20:21] get-itips commented on #5321
@danielbigras
Daniel,
Agree with you, I invite you to reply to this exact issue if you get further info from the team that could change documentation, as the issues can always be re-opened.
Thank you

PS: You probably know it and the email I shared with you should be better in this case however I didn't want to miss mentioning [UserVoice](https://microsoftteams.uservoice.com/search?filter=ideas&qu

[2020-04-20 20:49] kasperbolarsen opened #5344 "What is a Knowledge Hub Site?"
I haven't been able to find a definition for a Knowledge Hub Site so perhaps it would be a good idea to add a link to a page that defines this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d419245e-4684-fd57-8353-a4303adb0c05
* Version Independent ID: 28ab402e-1cac-83a0-f512-d4cadfe40987
* Content: [Get-PnPKnowledge

[2020-04-21 09:00] henryed07 commented on #5316
Hi,
I've logged a ticket this morning.
Henry

[2020-04-21 09:04] OfficeGlobal commented on #5229
@yogkumgit the articles were HumanTranslated and published live

[2020-04-21 11:23] yogkumgit commented on #5339
@officedocsbot assign @yogkumgit

[2020-04-21 11:23] yogkumgit commented on #5344
@officedocsbot assign @yogkumgit

[2020-04-21 11:38] yogkumgit commented on #5288
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @joshtransient Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-21 11:38] #5288 closed

[2020-04-21 11:42] JeremyTBradshaw opened #5347 "-ImmutableId description has a double-up paragraph."
Just FYI.  Looks like the paragraph was copy/pasted and reworded slightly but the original paragraph was left in place too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb103c0b-9021-3a77-0bf6-601df9a0fe38
* Version Independent ID: 561d8c53-5019-4a31-efa1-c2b635818f5a
* Content: [New-RemoteMailbox (exchange)](https:/

[2020-04-21 11:48] yogkumgit commented on #5333
@get-itips  Thank you very much for the contribution and sharing this explanation. @teylyn
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-21 11:48] #5333 closed

[2020-04-21 11:51] yogkumgit commented on #5298
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @AlexPan0310 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-21 11:56] yogkumgit commented on #5316
@get-itips Thank you very much for the contribution and sharing this explanation. @henryed07
Hope this comment is helpful for you and thanks for opening a service ticket. We proceed here to close this issue.

We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable informatio

[2020-04-21 11:56] #5316 closed

[2020-04-21 12:02] yogkumgit commented on #5325
@get-itips  Thank you very much for the contribution and sharing this explanation. @jklappdev
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-21 12:02] #5325 closed

[2020-04-21 12:05] DennisGaida commented on #5229
The main error is gone, but there is still some untranslated text. Compare to e.g. https://docs.microsoft.com/de-de/sql/tools/sql-server-profiler/sql-server-profiler?view=sql-server-ver15 where **everything** is translated.

- "Applies to" on top is not translated.
- All parameter descriptions e.g. "Accept pipeline input" are not translated

[2020-04-21 12:13] yogkumgit commented on #5321
@get-itips  Thank you very much for the contribution and sharing this explanation. @danielbigras
Hope this comment is helpful for you. As suggested, when documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-21 12:15] yogkumgit commented on #5347
@officedocsbot assign @yogkumgit

[2020-04-21 12:20] yogkumgit commented on #5297
@OfficeGlobal any update please

[2020-04-21 12:25] get-itips commented on #5229
Hello @OfficeGlobal are sentences like _Applies to_ and _Accept Pipeline input_ also included in the automatic translation engine?

[2020-04-21 12:25] yogkumgit commented on #5170
@OfficeGlobal any update please.

[2020-04-21 12:32] JBines opened #5348 "Error in the Markup"
Error in the Markup guessing you want a note box instead &gt; [!NOTE] &gt; We recommend that you use the Exchange Online PowerShell V2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5d47105-b32e-f0f8-3e71-db411c6abe7c
* Version Independent ID: 338beb1b-1f13-0a77-9ac3-1c4fe542b612
* Content: [Search-UnifiedAuditLog (ex

[2020-04-21 12:39] OfficeGlobal commented on #5170
@yogkumgit working on fix, ETA 4/22/2020

[2020-04-21 12:40] get-itips commented on #5170
Thanks for the update.

[2020-04-21 12:44] OfficeGlobal commented on #5229
@get-itips strings like "Applies to","Accept pipeline input" are not in files we receive for localization
e.g. _Accept pipeline input_ is in code block and it's excluded from loc. in general

[2020-04-21 12:45] dinoinyourhead commented on #5170
one small remark: this seems to be a "general" problem. By chance I also noticed the translation problems on Exchange PowerShell Docs
https://docs.microsoft.com/de-de/powershell/module/exchange/mailbox-databases-and-servers/set-mailboxserver?view=exchange-ps

![image](https://user-images.githubusercontent.com/62758238/79867482-b2904880-83de-11ea-8e82-719243879e6c.png)

[2020-04-21 12:46] get-itips commented on #5229
Understood, so we wouldn't expect those to be translated. Thanks

[2020-04-21 12:46] danielbigras commented on #5321
Why close the ticket? I didn't even have time to discuss with the dev team.

[2020-04-21 13:01] OfficeGlobal commented on #5297
@hyoshioka0128 , @yogkumgit article is HumanTranslated and published live

[2020-04-21 13:07] vibharathi commented on #5321
@danielbigras  - is this something that u experience always with your tenant? How long does a user added with Add-TeamUser typically take to show up on your UX?

[2020-04-21 14:07] danielbigras commented on #5321
@vibharathi Hello. In your documentation for Add-TeamUser, the description mentions "up to several hours", therefore I presume it's a known issue. And when we search online, it's a common problem.

[2020-04-21 15:09] sysadmin-scs commented on #4532
+1

can the article be updated?

[2020-04-21 15:43] kenwith commented on #5321
I don't see any issue for the documentation here. If I am misunderstanding please let me know.

Any response here automatically opens the issue again so it will get back on my radar to make a doc update if I am wrong in closing it.

For product problems the best mechanism is support since there is an official path to validate and open bugs for the product team. In this case, someone from the produ

[2020-04-21 16:09] danielbigras commented on #5321
Hello, it's in your documentation for the Add-TeamUser command:

https://docs.microsoft.com/en-us/powershell/module/teams/add-teamuser?view=teams-ps

"The command will return immediately, but the Teams application will not reflect the update immediately. The Teams application may need to be open for up to several hours before changes are reflected."

I'm not sure it's a bug, I think it's a known l

[2020-04-21 16:28] chrisda commented on #5348
Known issue. Looking into it.

Thanks for the feedback.

Closing

[2020-04-21 16:28] #5348 closed

[2020-04-21 16:42] chrisda commented on #4532
The update was made, but it didn't take for some reason. I'm reapplying #5349.

[2020-04-21 17:23] NickDorak opened #5350 "What does -Force do?"
I have not seen "Force" used in a "Get-" command before. Can you add an example of when we should use this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4504ef6f-28cd-bf4e-bf26-02a0acf292b8
* Version Independent ID: 7a12f628-6004-f100-4112-a95f4d4df8ff
* Content: [Get-CsOnlineDialInConferencingUserInfo (skype)](https

[2020-04-21 17:27] NickDorak opened #5351 "Is there a -ResultSize option like other O365 PS commands?"
How do I specify to return all results?
Other O365 PS commands use the "-ResultSize Unlimited" or "-All".
The only option above is the "-First", however it generates an warning if you specify more than are available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4504ef6f-28cd-bf4e-bf26-02a0acf292b8
* Version Independe

[2020-04-21 18:38] sysadmin-scs commented on #4532
Thanks for the quick response! There's one sentence that still needs updating:

"To search for message data that's between 10 and 90 days old, use the Start-HistoricalSearch and Get-HistoricalSearch cmdlets."

[2020-04-22 03:10] hyoshioka0128 commented on #5297
@OfficeGlobal - Fixed.
Closed #5297.
Thanks.

[2020-04-22 03:10] #5297 closed

[2020-04-22 04:23] SultanRayes opened #5360 "The example 1 is not correct ."
Hello ,
Please review the example above. I have tried it the LAB and I got error.
While the below syntax workd:
New-EcpVirtualDirectory -WebSiteName 'Default Web Site' -Role ClientAccess -Server SERVERNAME

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cd25dbd-9d0a-cba4-6e1d-4856c2d59c0b
* Version Independent ID: 6d2d

[2020-04-22 07:57] golubenkoff opened #5361 "Set-DlpSensitiveInformationType - Example 3 - command not working"
Hi, Trying to add new fingerprint template files to existing SensitiveInformationType - it is not working - shows no error and not adding
it is only working when  replacing existing with new data but not when adding new to existing - here is my code:
( scc - is my prefix for commands in Session)
[code]
when creating empty array without existing data - it is working but replacing everything - i nee

[2020-04-22 10:22] yogkumgit commented on #5350
@officedocsbot assign @yogkumgit

[2020-04-22 10:22] yogkumgit commented on #5351
@officedocsbot assign @yogkumgit

[2020-04-22 10:22] yogkumgit commented on #5360
@officedocsbot assign @yogkumgit

[2020-04-22 10:22] yogkumgit commented on #5361
@officedocsbot assign @yogkumgit

[2020-04-22 11:14] #5229 closed

[2020-04-22 11:20] yogkumgit commented on #5170
@dinoinyourhead Noted. Will share your remark with team. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-22 11:20] #5170 closed

[2020-04-22 12:49] MrDTeach opened #5362 "False error message with false "SPOSiteSwap -sourceURL""
False error message with false "SPOSiteSwap -sourceURL"

I have the following false error message:

I tried to Swap the main site of my SharePoint Online.
This was the command:
“Invoke-SPOSiteSwap -SourceUrl https://xyz.sharepoint.com/site/NewRootSite -TargetUrl https://xyz.sharepoint.com/search -ArchiveUrl https://xyz.sharepoint.com/sites/OldRootSite -Force”

The Mistake was in the -SourceURL par

[2020-04-22 14:17] istavnit opened #5363 "Set-PNPList lacks -ExcludeFromOfflineClient option"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbab5a2d-0c37-bb2c-f2d9-989bc2a59d05
* Version Independent ID: 2f512ab6-be40-1fb2-9f8a-d1bc692537ce
* Content: [Set-PnPList (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/set-pnplist?view=sharepoint-ps)
* Content S

[2020-04-22 14:32] get-itips commented on #5313
Hi @gavsto Gavin, just wanted you to know that I am testing this and I will get back to you.

[2020-04-22 14:59] get-itips commented on #5331
Hello @AndrewCi Andrew, how are you?
As here we are limited to documentation fixes, I tested your scenario in my lab to verify if we need to maybe add a note in the article. I successfully connected and ran Get-Team from an azure runbook.
Hope this info helps you.

[2020-04-22 15:13] arifC opened #5364 "New-CsTeamsFeedbackPolicy not documented"
Please extend the SfBO PowerShell documentation by adding the Cmdlets around Teams feedback policies as described here: https://docs.microsoft.com/en-us/microsoftteams/manage-feedback-policies-in-teams

[2020-04-22 15:36] get-itips commented on #5331
Forgot to recommend to open a support ticket directly in your tenant in case you still face issues.

[2020-04-22 16:15] KirkMunro commented on #3515
@get-itips This is actually a documentation issue. The Microsoft.Online.SharePoint.Module will not load in PowerShell if [SharePoint Client Components](https://www.microsoft.com/en-ca/download/details.aspx?id=42038) are installed. The documentation describing how to install this module must identify this incompatibility, because this is the root cause of the error reported above.

[2020-04-22 16:48] dariomws commented on #5361
Hi @golubenkoff, thank you for your feedback.

I tested it and this example works for me:
![image](https://user-images.githubusercontent.com/33589238/80009645-bb951e80-849f-11ea-8590-bd0194f37684.png)

Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, pleas

[2020-04-22 19:39] golubenkoff commented on #5361
Hi, yes command working without errors but it is not adding new template to existing....  trying to get-.. after all - and no changes at all. Ticket opened today - but may be here it will be more productive:)

[2020-04-22 19:50] dariomws commented on #5361
We are here to help improve docs.microsoft.com. I think the example works according to my testing, the "piece of code" you wrote above is a little different. This is why I think you need to contact support.

Hope you understand. Thanks!

[2020-04-22 20:25] golubenkoff commented on #5361
Ok. Docs is ok :) thanks for help :)

[2020-04-22 20:25] #5361 closed

[2020-04-22 20:40] lovecmd opened #5368 "Unable to install the latest MicrosoftTeams Powershell Version 1.0.21"
Description: Unable to install the latest MicrosoftTeams version 1.0.21 using powershell 5.1

https://www.poshtestgallery.com/packages/MicrosoftTeams/1.0.21

Install-Module -Name MicrosoftTeams -RequiredVersion 1.0.21-> does not work
![UnableToInstallTeamPS1 0 21](https://user-images.githubusercontent.com/64166871/80031152-4c2b2900-84b7-11ea-8d97-d3512d3351c2.JPG)

Install-Module -Name MicrosoftTe

[2020-04-22 20:44] dariomws commented on #5360
Hi @SultanRayes, thank you for your feedback.

In my lab, I have tried removing the ECP virtual directory and then, I ran this command. It works for me, I could recreate the ECP virtual directory.

[2020-04-22 20:56] dariomws commented on #5339
Hi @Jens-Lorenz, thank you for your feedback.

This parameter is working on my lab tenant:
![image](https://user-images.githubusercontent.com/33589238/80032890-3707c780-84c2-11ea-80b1-db8a42bfa73d.png)

Have in mind that you need Global Admin, Exchange Organization Management, or Exchange Compliance Management roles to run this cmdlet.

[2020-04-22 21:01] dariomws commented on #5332
Hi @zlDev, thank you for your feedback.

Please, check this support KB:
https://support.microsoft.com/help/2898124/you-can-t-disable-facebook-contact-sync-for-your-office-365-organizati

[2020-04-23 06:14] Jens-Lorenz commented on #5339
Hi! I have tried this setting in my test-tenant and in our production tenant and I get the same error in both. I have use an account with global admin permissions.

Test-tenant:
<img width="1110" alt="test-tenant" src="https://user-images.githubusercontent.com/39763894/80065401-593d2c00-853a-11ea-8a93-2d8dcb6f2314.png">

Prod-tenant:
<img width="1111" alt="prod-tenant" src="https://user-images.git

[2020-04-23 06:37] philipdac opened #5373 "Error: Cannot find resource for the request SiteRenameJobs"
I run the command "Start-SPOSiteRename -Identity $url -NewSiteUrl $NewSiteUrl -NewSiteTitle $NewSiteTitle -SuppressMarketplaceAppCheck -SuppressWorkflow2013Check" and got the below error. Please suggest if you have any experiences on this error. Thanks.

-------------------------------
CorrelationId: 7d7e4b9f-f049-0000-534a-f33b42d20cbc
Start-SPOSiteRename : Error Code: -1, Microsoft.SharePoint.Cl

[2020-04-23 08:58] AlexPan0310 commented on #5298
Thank you @yogkumgit and @get-itips . This should be clear for our customer now. Great work as one Microsoft!

[2020-04-23 09:35] npigit commented on #5081
@yogkumgit Thank you for the clarification

[2020-04-23 10:51] dariomws commented on #5339
Hi!

What happen if you try to complete the parameter using tab? Both Identity and PrivacyStatementUrl.

Also, try with "Get-Command Set-OMEConfiguration".

[2020-04-23 11:43] yogkumgit commented on #5362
@officedocsbot assign @yogkumgit

[2020-04-23 11:44] yogkumgit commented on #5363
@officedocsbot assign @yogkumgit

[2020-04-23 11:44] yogkumgit commented on #5364
@officedocsbot assign @yogkumgit

[2020-04-23 11:44] yogkumgit commented on #5368
@officedocsbot assign @yogkumgit

[2020-04-23 11:45] yogkumgit commented on #5373
@officedocsbot assign @yogkumgit

[2020-04-23 11:53] yogkumgit commented on #5331
@get-itips  Thank you very much for the contribution and sharing this explanation. @AndrewCi
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-23 12:18] dariomws commented on #5322
Hi @ganlbarone, thank you for your feedback.

If you have Basic Authentication disabled, you are using a connection method (Connect-EXOPSSession or Connect-ExchangeOnline) that uses Modern Authentication on your scripts. In this case, you should not have any issue.

I think you have read this article:
https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-auth-and-exchange-online-february

[2020-04-23 12:24] dariomws commented on #5324
Hi @anwarmahmood1, thank you for your feedback.

I think this doesn't make sense. If you want to return all your mailboxes regardless of creation date, just avoid using the whenMailboxCreated filter.

I think adding this comment does not add value to the article.

[2020-04-23 12:37] yogkumgit commented on #5360
@dariomws Thank you very much for the contribution and sharing this explanation. @SultanRayes
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-23 12:37] #5360 closed

[2020-04-23 12:43] yogkumgit commented on #5332
@dariomws  Thank you very much for the contribution and sharing this explanation. @zlDev
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-23 12:43] #5332 closed

[2020-04-23 12:46] #5298 closed

[2020-04-23 12:48] #5081 closed

[2020-04-23 12:51] yogkumgit commented on #5328
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @shivtorov Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-23 12:52] #5328 closed

[2020-04-23 12:54] yogkumgit commented on #5322
@dariomws  Thank you very much for the contribution and sharing this explanation. @ganlbarone
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-23 12:54] #5322 closed

[2020-04-23 12:55] anwarmahmood1 commented on #5324
Thanks Dario.  It was just an example
`PS C:\Users\amahmood5> [System.DateTime]$after = 0
PS C:\Users\amahmood5> $after

01 January 0001 00:00:00`

So $after is a valid date, and so my PowerShell...

`$filter = "whenMailboxCreated -gt '$after'"
get-mailbox -filter $filter`

...should have returned every mailbox created since 01 January 0001.  It did not.

IF I do...
`[System.DateTime]$after = get-

[2020-04-23 13:47] get-itips commented on #3515
Hello @KirkMunro Kirk, how are you? 👍 Thanks for your feedback.
I installed the SharePoint Client Components on my lab and I can import, connect and run cmdlets of the Microsoft.Online.SharePoint.Module without issues

![image](https://user-images.githubusercontent.com/36666927/80104308-26506380-854d-11ea-9327-01943053a2bd.png)

[2020-04-23 13:53] JeremyTBradshaw commented on #1894
@chrisda @ncronin1 - are you guys aware why DeprovisionArchive is needed (or if it actually isn't needed)?  I don't want to deprovision the archive for every mailbox that I convert to Shared.  I'm hoping that is not going to happen, I will try to test as well, thought I'd still ask in case there is some explanation you're aware of.

[2020-04-23 14:12] get-itips commented on #5327
Hello @reuvygroovy how are you?

Documentation for PnP cmdlets is directly reflected from the cmdlet's source code.
So, I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there. Thanks

[2020-04-23 14:13] get-itips commented on #5319
Hello @taIConX 👍 how are you?

Documentation for PnP cmdlets is directly reflected from the cmdlet's source code.
So, I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there. Thanks

[2020-04-23 14:13] get-itips commented on #5309
Hello @cbotsikas 👍 how are you?

Documentation for PnP cmdlets is directly reflected from the cmdlet's source code.
So, I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.

Thanks

[2020-04-23 14:13] get-itips commented on #5302
Hello @3031539 how are you?
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.

Thanks

[2020-04-23 14:17] dariomws commented on #5318
Hi @ChrisAtMAF, thank you for your feedback.

DateFormat parameter description includes the following sentence: "The DateFormat parameter specifies the date format based on the current or specified language for the mailbox.". TimeFormat has a very similar description.
Each language has its corresponding valid values for DateFormat and TimeFormat as the description states.

The description includes

[2020-04-23 14:48] stukey opened #5375 "Clarify the documentation for the -PolicyScopeGroupID parameter and whether Shared Mailboxes can be scoped"
Please clarify the documentation for the -PolicyScopeGroupID parameter. The documentation implies that it is not possible to scope access to non-user mailboxes (e.g. Shared Mailboxes, Resource Mailboxes, etc.) because the -PolicyScopeGroupID parameter only accepts recipients that are security principals (it states “The following types of recipients are not security principals, so you can't use the

[2020-04-23 17:10] ChrisAtMAF commented on #5318
Hi @dariomws. I'm not sure I explained it properly. When running this command to switch *language* between en-gb and en-us

Set-MailboxRegionalConfiguration -Identity "Marcelo Teixeira" -Language en-us

the error occurs. This is because the *default* value for DateFormat under en-us (M/d/yyyy) is not supported under en-gb (which only supports dates with the day first like dd/MM/yyyy or similar)

A

[2020-04-23 17:18] dariomws commented on #5318
I have added the word valid to the description of these parameters, and also an example to set new language with default values for Date, Time and Folders.

[2020-04-23 18:40] csdunaway opened #5377 "New-ComplianceSearch does not work"
I have tried for days to get this search to work. All i get is this:
new-ComplianceSearch : The term 'new-ComplianceSearch' is not recognized as the
name of a cmdlet, function, script file, or operable program.

I have connected my pssesson to:https://ps.compliance.protection.outlook.com/powershell-liveid/, but that command is not there.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-04-23 19:07] get-itips commented on #5313
Hello @gavsto Gavin, I tested this and the only way it worked for me was when using application type permissions and not delegated ones.
@tameemansari can you kindly shed some light here? I appreciate.

[2020-04-23 19:45] vicslive opened #5378 "Info on Throttling if issuing this Grant command on thousands of users"
I see some misspelling on the page, instead of teamsupgrade.csv says teasupgrade.csv , small things, anyway, where can we find info about throttling if issuing these to thousands of users at once ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0dd44c-bfc9-5f82-68c4-7b469129e8a5
* Version Independent ID: ea015ee3-54e

[2020-04-23 21:09] terblas opened #5379 "Configure telephony to Microsoft Teams"
Hello, I want to configure the Teams tenant to assign a phone number to my users but when I run the Set-CsUser i get an error saying the OnPremLineURI cannot be found, The user has the phone system license and the office 365 F3 license, I tested in other tenants and I dont get the same error. Does anybody know why I am getting the error?

PS C:\Users\Administrator> Set-CsUser -Identity user@domain

[2020-04-24 00:21] tameemansari commented on #5313
Give us a bit of time and we will repro this to identify and report back here.

[2020-04-24 10:52] yogkumgit commented on #5375
@officedocsbot assign @yogkumgit

[2020-04-24 10:53] yogkumgit commented on #5377
@officedocsbot assign @yogkumgit

[2020-04-24 10:53] yogkumgit commented on #5378
@officedocsbot assign @yogkumgit

[2020-04-24 10:53] yogkumgit commented on #5379
@officedocsbot assign @yogkumgit

[2020-04-24 11:07] ChrisAtMAF commented on #5318
@dariomws Thanks. Can't see the updates yet but maybe takes some time to appear?

[2020-04-24 11:13] yogkumgit commented on #5324
@dariomws Thank you very much for the contribution and sharing this explanation. @anwarmahmood1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-24 11:16] yogkumgit commented on #5327
@get-itips  Thank you very much for the contribution and sharing this explanation. @reuvygroovy
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-24 11:16] #5327 closed

[2020-04-24 11:19] yogkumgit commented on #5319
@get-itips  Thank you very much for the contribution and sharing this explanation. @taIConX
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-24 11:19] #5319 closed

[2020-04-24 11:21] yogkumgit commented on #5309
@ Thank you very much for the contribution and sharing this explanation. @
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-24 11:25] yogkumgit commented on #5302
@get-itips  Thank you very much for the contribution and sharing this explanation. @3031539
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-24 11:25] #5302 closed

[2020-04-24 11:32] yogkumgit commented on #5329
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @shivtorov Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-24 11:32] #5329 closed

[2020-04-24 11:35] yogkumgit commented on #5339
@dariomws  Thank you very much for the contribution and sharing this explanation. @Jens-Lorenz
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-24 11:39] cbotsikas commented on #5309
@get-itips thanks for letting me know.

Well, actually the linked command was fixed 7 days ago by @erwinvanhunen on [this commit](https://github.com/MicrosoftDocs/office-docs-powershell/commit/de8b2eb8670b24b426b4c20b4c90f2d496bbaa0a#diff-73c0513e0f82876939d34c47e4b9919d), but the broken link issue still exists and I've now noticed that **the related links are broken in all articles with more than

[2020-04-24 11:54] Everade commented on #4543
Still missing some.
Like **Owner**, and a few others.

[2020-04-24 11:55] Jens-Lorenz commented on #5339
Hi! Just as the last comment: when I use tab, it does not complete and the same error happens with the Get-Command | Set-OME Command. I guess I'd better open a support ticket, as this is not a documentation issue but a technical one. Cheers

[2020-04-24 12:05] anwarmahmood1 commented on #5324
Yogesh, *I* provided the explanation, not Dario.

Why have you closed this? Have you updated the documentation?
________________________________
From: Yogesh Kumar <notifications@github.com>
Sent: Friday, April 24, 2020 12:13:25 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Anwar Mahmood <LIS IT Service Delivery> <AMahmood5@uclan.ac.uk>; Mention <menti

[2020-04-24 12:10] #5339 closed

[2020-04-24 12:29] get-itips commented on #5309
Hello @cbotsikas how are you? The commit that added Related Links to those articles was authored by @erwinvanhunen himself so probably he knows best the engine that is used to generate it, I recommend opening an issue in the repo I referenced before. Thank you

[2020-04-24 12:33] get-itips commented on #3946
Hello @hirenshah1 or @bjwhalen can you help us here? Thanks

[2020-04-24 12:44] rramdoyal opened #5381 "Update description"
Update description for the parameter
-ChannelsInChatListEnabledType

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c1fc1a-c9b4-a9bc-47c4-7cd3488fece7
* Version Independent ID: 8102a7bb-e0ef-0f8b-b9b8-67a45ecf076f
* Content: [New-CsTeamsMessagingPolicy (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/

[2020-04-24 13:46] dariomws commented on #5318
Hi @ChrisAtMAF, it could take some days. Once the Pull Request gets approval, it should be 24hs.

[2020-04-24 14:07] dariomws commented on #5324
Hi @anwarmahmood1,

As you said, in real life, we would use a recent date. I think the minimal value here doesn´t have a sense as you won´t use it, instead you won´t use the filter.

But if you disagree, you insist that we have to add it to the document, and it won't let us close the issue, I can create a pull request because it needs approval and we can see another opinion.

Please let me know if

[2020-04-24 14:13] anwarmahmood1 commented on #5324
I would still add it.
From: Dario Woitasen <notifications@github.com>
Sent: 24 April 2020 15:08
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Anwar Mahmood <LIS IT Service Delivery> <AMahmood5@uclan.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] whenMailboxCreated has a minimum value (#5324)

Hi @anwarmahm

[2020-04-24 14:33] get-itips commented on #5313
Thanks @tameemansari

[2020-04-24 14:39] dariomws commented on #5324
Hi @get-itips,

Could you kindly help me here? Do you think adding the minimum value could help? In this case, we have to check it, because I tried it, and if you use 1500 for the year, it doesn't return results, if you use 1600, it returns. So, I think the minimum value is between 1500 and 1600.

Thanks!

[2020-04-24 15:08] anwarmahmood1 commented on #5324
Not sure why 1600 worked for you; it doesn’t work for me.

A quick PowerShell script identified…

1 January 1601

According to…

https://support.microsoft.com/en-gb/help/188768/info-working-with-the-filetime-structure

This is the lowest value of the FILETIME structure.

From: Dario Woitasen <notifications@github.com>
Sent: 24 April 2020 15:39
To: MicrosoftDocs/office-docs-powershell <office-docs-

[2020-04-24 15:15] get-itips commented on #5324
Hello @anwarmahmood1 How are you ? 👍 @dariomws Dario thanks for letting me share my thoughts on this.
Made a script to quickly test the initial datetime where the filter will get results and it is 01/01/1601
I honestly do not see any value adding this information to the article, like we did in the past, if there is anyone that stumbles upon this in the future they will be able to find the informat

[2020-04-24 15:21] anwarmahmood1 commented on #5324
Andres,

Not everyone looks at the issues list.

They shouldn’t have to look at the issues list!

When you buy a can of soda, do you check with the FDA to see if there has been a recall notice on that brand of soda because of a safety issue?  Do you do it for all your shopping? Course you don’t!

I recommend…

  1.  Add it in for now.
  2.  Escalate this to the Exchange PowerShell team.  A far bet

[2020-04-24 15:48] dariomws commented on #5324
Well, I think as a conclusion we can say that it´s not a limitation of whenMailboxCreated. It´s a limitation of DateTime object. Please check the following article:
https://docs.microsoft.com/dotnet/api/system.datetime.tofiletime

"The value of the current DateTime object expressed as a Windows file time"

"A Windows file time is a 64-bit value that represents the number of 100-nanosecond interval

[2020-04-24 15:54] dariomws commented on #5324
More information:
ttps://docs.microsoft.com/windows/win32/api/minwinbase/ns-minwinbase-filetime

[2020-04-24 16:04] anwarmahmood1 commented on #5324
OK, let's follow the trail;

Get-Mailbox
https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/get-mailbox?view=exchange-ps

tell me I'll get...

Exchange Management Shell cmdlet input and output types | Microsoft Docs
https://docs.microsoft.com/en-us/exchange/client-developer/management/exchange-management-shell-cmdlet-input-and-output-types

...which tells me I'll get...

Mailbox

[2020-04-24 17:06] dariomws commented on #5324
There is a limitation of 64 bits in the Active Directory object/Windows File System, this is why DateTime properties "represent the number of 100-nanosecond intervals that have elapsed since 12:00 midnight, January 1, 1601 A.D. (C.E.) Coordinated Universal Time (UTC)".
More examples:
https://docs.microsoft.com/windows/win32/adschema/a-pwdlastset
https://docs.microsoft.com/windows/win32/adschema/a-

[2020-04-24 17:15] chrisda commented on #5324
@anwarmahmood1, there seems to be a mixture of issues here:

- If you want to see a change in how the product actually works, the best course of action is to open a support case.

- From a documentation perspective (which is what this forum is about and what we can control), specifically what would you like changed in the topic? The fact that whenMailboxCreated doesn't work with values before the

[2020-04-24 17:27] anwarmahmood1 commented on #5324
Yes please. All I asked for at the beginning. I've determined it's actually 1 January 1601. I would recommend that.

[2020-04-24 17:27] bjonesvcccd commented on #5377
Not sure if it's related, but I'm also not able to populate new compliance search objects from the Security and Compliance center.  Searches will complete in the O365 admin center UI, but no object is created to target for compliance search actions.

[2020-04-24 17:53] ravick4u opened #5382 "Can we associate Remote Event Receiver to document Library"
I have multiple document libraries and would like to associate event receiver to each libraries. Is this supported by PnP template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8b1360-5133-03ea-c4de-97d7280ef82c
* Version Independent ID: f7354bf2-01b5-c097-3590-326761cc7f20
* Content: [Apply-PnPProvisioningTemplate

[2020-04-24 17:56] ravick4u opened #5383 "Passing array of Visitors/Members/Owners"
Is there a way I can pass array of Visitors/Members/Owners to the template?

Currently I can pass individual users like below but with real time scenario its dynamic.

      &lt;pnp:Security AssociatedOwnerGroup="{sitetitle} Owners" AssociatedMemberGroup="{sitetitle} Members" AssociatedVisitorGroup="{sitetitle} Visitors"&gt;
        &lt;pnp:AdditionalOwners&gt;
          &lt;pnp:User Name="{parame

[2020-04-24 20:54] get-itips commented on #5317
Related to https://github.com/MicrosoftDocs/office-docs-powershell/issues/5313

[2020-04-24 21:03] get-itips commented on #5368
@lovecmd
How are you?
The version you are trying to install is the Teams _Beta_ module and has a different procedure to install, you can follow the steps [here](https://docs.microsoft.com/en-us/microsoftteams/private-channels-life-cycle-management#teams-powershell-module).

[2020-04-24 21:24] JimAdkins commented on #5377
+1. I also run the standard PS commands, and the "New-ComplianceSearch" command is not avialable. Any updates?

`$session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://ps.protection.outlook.com/powershell-liveid/ -Credential $creds -Authentication Basic -AllowRedirection
Import-PSSession $session -AllowClobber`

`New-ComplianceSearch : The term 'New-ComplianceSearch'

[2020-04-24 22:04] get-itips commented on #5364
Hello @arifC  thanks for noticing and reporting, created a PR including the missing article.

[2020-04-25 01:13] bwhittaker69 commented on #5321
very heavy delays, over 30+ hours now for team member assignments via powershell

[2020-04-25 15:56] danielbigras commented on #5321
30 hours, that's really bad. When are they going to fix this? We can't use that.

[2020-04-25 20:01] AndrewCi commented on #5331
can you share your connection code? it's still not working for me

[2020-04-25 20:01] AndrewCi commented on #5331
can you please re-open this issue? it's not resolved.

[2020-04-27 11:00] yogkumgit commented on #5381
@officedocsbot assign @yogkumgit

[2020-04-27 11:01] yogkumgit commented on #5382
@officedocsbot assign @yogkumgit

[2020-04-27 11:01] yogkumgit commented on #5383
@officedocsbot assign @yogkumgit

[2020-04-27 11:07] yogkumgit commented on #5318
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @ChrisAtMAF Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-27 11:07] #5318 closed

[2020-04-27 11:10] #5309 closed

[2020-04-27 11:16] get-itips commented on #5331
Hello, it is no different from what you are doing I think.

[code]

If you still face issues, I would recommend reinstalling the module into the automation account and/or opening a support ticket directly in your tenant.

Hope this info helps you.

[2020-04-27 11:26] yogkumgit commented on #5368
@get-itips  Thank you very much for the contribution and sharing this explanation. @lovecmd
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-27 12:09] yogkumgit commented on #4624
@tseward  and @get-itips Thank you very much for the contribution and updating the documentation with PR. @Gideon122 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-27 12:09] #4624 closed

[2020-04-27 12:16] yogkumgit commented on #5347
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @JeremyTBradshaw Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-27 12:16] #5347 closed

[2020-04-27 12:36] get-itips commented on #5344
Hello Kasper @kasperbolarsen How are you?

PnP documentation is directly reflected from cmdlet's source code.
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues/questions. PnP cmdlets are maintained by the community, a member of it will pick it up there.

[2020-04-27 13:08] get-itips commented on #5362
Hello @MrDTeach how are you? Hope you are doing great.
Thanks for your feedback, however, here, we can only make changes or fixes to documentation, for suggested changes to cmdlets behavior or error messages I need to kindly suggest visit [SharePoint UserVoice](https://sharepoint.uservoice.com/).
Hope this information helps you.

[2020-04-27 13:56] yogkumgit commented on #2410
@dariomws   Thank you very much for the contribution and digging deep into it.  @terrogin  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docum

[2020-04-27 13:56] #2410 closed

[2020-04-27 14:01] yogkumgit commented on #4611
@tseward  Thank you very much for the contribution and sharing this explanation. @andikrueger
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-27 14:01] #4611 closed

[2020-04-27 16:07] giveitaGo opened #5390 "Example description"
1. The description for the second example is wrong. It says that it adds the site to the hub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a34e81-3375-ae68-0675-b8a680362e6f
* Version Independent ID: 5485c39d-f5fa-bf3f-c860-bdc5759bb997
* Content: [Remove-PnPHubSiteAssociation (sharepoint-pnp)](https://docs.microso

[2020-04-27 16:19] kenwith commented on #5321
I have checked with the product team and this level of delay is not expected behavior. Please open a service support request in your tenant so that they can track down what might be causing the delay. The support engineers also have an official mechanism to open a bug with the product team when they validate with you the problem. Please go ahead and loop me in with the support engineer if you want

[2020-04-27 16:34] chrisda commented on #4949
Topic updated.

Thanks for the feedback.

Closing

[2020-04-27 16:34] #4949 closed

[2020-04-27 18:20] danielbigras commented on #5321
Isn't it your product? You document the Add-TeamUser command that there are major delays. Not sure why I should be contacting Microsoft. It's a problem for everyone, not just me.

[2020-04-27 21:52] ichkoj opened #5397 "-DesignatedPresenterRoleMode"
I'm unable to find -DesignatedPresenterRoleMode parameter please advise!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b9baa8-da13-a24f-af31-91d63de13f08
* Version Independent ID: 6a37be44-d957-2b7a-a563-53332cf59098
* Content: [Set-CsTeamsMeetingPolicy (skype)](https://docs.microsoft.com/en-us/powershell/module/sky

[2020-04-27 22:38] get-itips commented on #4898
The cmdlet now outputs a different error message stating that this is not yet implemented

`Add-SPOHubToHubAssociation : The method or operation is not implemented.`

Will also update the article thru a PR. Thanks

[2020-04-27 22:46] kenwith commented on #5321
I confirmed with product team that the delay can be between 24 and 48 hours. Updated the documentation with this information here: https://github.com/MicrosoftDocs/office-docs-powershell/pull/5395

[2020-04-27 22:48] kenwith commented on #5321
Also, more information about the delay is documented here: https://docs.microsoft.com/en-us/graph/teams-create-group-and-team

[2020-04-27 22:53] kenwith commented on #5321
Also, just wanted to add to this thread that the product team is aware of the delay and do not find it acceptable either and they are working on a resolution. I will update documentation when delay changes. For now I want to make sure the documentation matches the behavior people will experience.

[2020-04-27 23:04] tseward commented on #5383
No, but you could build your XML injecting the AdditionalOwners element as needed.

[2020-04-27 23:20] get-itips commented on #5364
PR has been merged, we can close this now @yogkumgit

[2020-04-27 23:23] get-itips commented on #5363
Hello @istavnit  How are you?

PnP documentation is directly reflected from cmdlet's source code.
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues/questions. PnP cmdlets are maintained by the community, a member of it will pick it up there.

[2020-04-27 23:26] get-itips commented on #5373
Hello @philipdac Philip, how are you? AFAIK that is still a preview feature, besides that, I would suggest opening a support ticket directly in your tenant as here we are limited to documentation fixes.
Thank you

[2020-04-28 06:59] asajrawat211993 commented on #1691
Why is it closed? I don't see this resolved yet.

[2020-04-28 07:09] asajrawat211993 opened #5404 "ErrorAction Stop is still not available for New-UnifiedGroup"
The -ErrorAction argument is missing among the supported arguments. Most commands (if not all) support this argument so the user can create PS scripts that automate tasks, and they can catch any exceptions by forcing the cmdlet to break on an error, by using -ErrorAction Stop. This cmdlet fails when the -ErrorAction argument is added, which makes it difficult to catch errors in scripts...
I see sa

[2020-04-28 07:49] obhayes opened #5405 "Applies to"
Should the "Applies to" bit at the top of the page also include MS Teams as the policy is for MS teams aswell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0dcf829-c8b6-7fc5-9f77-2b9c34584dda
* Version Independent ID: a6cd191e-2926-8ba6-5503-fa99c5c21561
* Content: [Set-CsTeamsMobilityPolicy (skype)](https://docs.mi

[2020-04-28 08:33] obhayes opened #5406 "deprecated?"
Also the related Get-CsTeamsMobilityPolicy  is deprecated, so is this set one thesame? In which case a note should be added to the article like the Get one e.g.. NOTE: Please note that this cmdlet was deprecated and then removed from this PowerShell module. This reference will continue to be listed here for legacy purposes.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-04-28 10:37] yogkumgit commented on #5390
@officedocsbot assign @yogkumgit

[2020-04-28 10:38] yogkumgit commented on #5397
@officedocsbot assign @yogkumgit

[2020-04-28 10:38] yogkumgit commented on #5404
@officedocsbot assign @yogkumgit

[2020-04-28 10:39] yogkumgit commented on #5405
@officedocsbot assign @yogkumgit

[2020-04-28 10:39] yogkumgit commented on #5406
@officedocsbot assign @yogkumgit

[2020-04-28 10:49] #5331 closed

[2020-04-28 10:51] yogkumgit commented on #5344
@get-itips  Thank you very much for the contribution and sharing this explanation. @kasperbolarsen Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-28 10:51] #5344 closed

[2020-04-28 10:55] yogkumgit commented on #5362
@MrDTeach  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2020-04-28 10:55] #5362 closed

[2020-04-28 11:05] philipdac commented on #5373
@get-itips Thank you for your response. I was able to rename the site via SharePoint admin center so that you can close the issue now.
Btw, please let me know how to raise a ticket in my tenant, if it is within your spaces.

[2020-04-28 11:05] #5373 closed

[2020-04-28 11:07] yogkumgit commented on #4898
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @ITGeekBrian Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-28 11:07] #4898 closed

[2020-04-28 11:10] yogkumgit commented on #5383
@tseward  Thank you very much for the contribution and sharing this explanation. @ravick4u
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-28 11:10] #5383 closed

[2020-04-28 11:13] yogkumgit commented on #5364
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @arifC Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-28 11:13] #5364 closed

[2020-04-28 11:16] yogkumgit commented on #5363
@get-itips  Thank you very much for the contribution and sharing this explanation. @istavnit
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-28 11:16] #5363 closed

[2020-04-28 12:01] get-itips commented on #5406
Thanks for noticing, adding the missing note thru a PR.

[2020-04-28 12:33] dariomws commented on #1691
Hi @m00nd and @asajrawat211993,

Here we can help to update/fix the article. As -ErrorAction Stop is not added to the code we cannot add it.
Please, vote in the following link as it´s the better way to reach the product group to request a feature:
https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/34912696-adding-error-actions-parameters-available-in-remot

Thanks!

[2020-04-28 12:50] danielbigras commented on #5321
Mr Withee. I feel we did a full circle. We all know it takes many hours. It's documented in the Add-TeamUser command. And we all feel that it makes this module pretty much useless. We use PowerShell to save time. That's what is unacceptable.

[2020-04-28 15:41] panggio opened #5409 "There's no way to force of disable the prompt for Set-SPOHomeSite"
I was trying to include it in a DevOps release but it keeps asking for confirmation and doesn't accept Confirm nor Force parameters thus I can't automate the process.

[2020-04-28 16:01] #5321 closed

[2020-04-28 16:04] kenwith commented on #5321
The documentation is correct now. Thank you for pushing on this. When I said "several hours" I did not mean such a long delay. I was wrong and found out yesterday that the delay was 24 to 48 hours. Which is technically "several hours" but feels misleading. I want the documentation to reflect what is experienced which is why I updated it. I will update again when timing is updated in product.

[2020-04-28 17:05] lovecmd commented on #5368
Hi All,

Thank you that worked.

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Friday, April 24, 2020 5:04 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Tasian Berryman <Tasian.Berryman@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Unable to install the latest MicrosoftTeams P

[2020-04-28 17:06] lovecmd commented on #5368
Thank you all. Those instructions have succesfully helped me.

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Friday, April 24, 2020 5:04 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Tasian Berryman <Tasian.Berryman@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Unable to insta

[2020-04-28 17:39] get-itips commented on #5368
@lovecmd Glad to hear!
@yogkumgit Please close

[2020-04-28 17:44] Zizzzzy opened #5410 "Remove an assignment"
Should mention using -PolicyName $null to fall back to Global Policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d149ca60-bfb7-5077-2643-1a08ad926cca
* Version Independent ID: 24754aee-bff2-fa16-e7e6-af45362fd916
* Content: [New-CsBatchPolicyAssignmentOperation (teams)](https://docs.microsoft.com/en-us/powershell/m

[2020-04-28 21:28] GauravES commented on #4453
Where is the "conference admission policy" being set?  It is not in this powershell command..

@howardzhangmsft

[2020-04-28 21:36] GauravES commented on #4453
Sorry, I meant if this can be set as a Policy rather than when creating the meeting.
Also is this applicable to SfB On-premise as well as Online?

[2020-04-28 21:51] natebarkei opened #5412 "Using EXO2 to access multiple o365 tenants from same powershell session."
In the old way of connecting to exchange online you could  just create the remote sessions without importing the PSSession. That allowed you to connect to more than one o365 tenant at the same time. How do I accomplish this with the EXO2 version? The connect-ExchangeOnline function automatically imports them into the current user session?

[2020-04-29 01:59] hwkwicre opened #5414 "Missing Description"
-BlockDownloadOfNonViewableFiles
{{Fill BlockDownloadOfNonViewableFiles Description}}

and

-AllowLimitedAccess
{{Fill AllowLimitedAccess Description}}

Are these two descriptions supposed to be filled here?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d1c6b2b-5af6-acce-b7e8-bf784bb0973e
* Version Independent

[2020-04-29 11:00] yogkumgit commented on #5409
@officedocsbot assign @yogkumgit

[2020-04-29 11:01] yogkumgit commented on #5410
@officedocsbot assign @yogkumgit

[2020-04-29 11:01] yogkumgit commented on #5412
@officedocsbot assign @yogkumgit

[2020-04-29 11:01] yogkumgit commented on #5414
@officedocsbot assign @yogkumgit

[2020-04-29 11:19] yogkumgit commented on #5406
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @obhayes Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-29 11:19] #5406 closed

[2020-04-29 11:26] #5368 closed

[2020-04-29 13:55] yogkumgit commented on #5324
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @anwarmahmood1 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-04-29 13:55] #5324 closed

[2020-04-29 14:51] get-itips commented on #3906
Hello,
I could confirm that the current and only parameter available to set using this cmdlet is _EnableP2PFileTransfer_
For the others, the current statement in the description _This parameter is reserved for internal Microsoft use._ remains, so we will proceed closing this issue.

Thank you

[2020-04-29 15:02] get-itips commented on #4888
Hello @hirenshah1 Can you help us getting the description for it ?

[2020-04-29 15:15] get-itips commented on #5261
@kaishuipinggai Jundong, Can you kindly reply to my inquiry? Thank you

[2020-04-29 15:16] sukh-ava commented on #4655
Any update on this. If there is preview release will be happy to test pilot this. We cant use the V2 module in our automations unless we get CBA.

[2020-04-29 15:27] dariomws commented on #4655
Hi @sukh-ava,

I don´t have more information but can suggest that you follow the Exchange blog to stay up to date about this feature:
https://techcommunity.microsoft.com/t5/exchange-team-blog/bg-p/Exchange

[2020-04-29 15:33] get-itips commented on #5313
@tameemansari Can you kindly tell me if you have any updates on the repro? Thank you

[2020-04-29 15:34] get-itips commented on #5317
What do u think @tameemansari ? I appreciate

[2020-04-29 17:42] chrisda commented on #4780
I updated the topic to say that the cmdlet only works on room mailboxes created in the cloud (not synchronized room mailboxes).

Thanks for the feedback.

Closing.

[2020-04-29 17:42] #4780 closed

[2020-04-29 20:34] dariomws commented on #5381
Hi @rramdoyal, thank you for your feedback.

I´m going to try to get more information about this parameter. @tomkau could you kindly help? Thanks!

[2020-04-29 20:46] dariomws commented on #5378
Hi @vicslive, thank you for your feedback. Small or big things, we are always happy to receive feedback to improve docs.microsoft.com.

I´m not sure if I understood the question but I think you are looking for something like:
https://docs.microsoft.com/powershell/module/teams/new-csbatchpolicyassignmentoperation

Please, have in mind that this cmdlet is currently in public preview. Test it careful

[2020-04-29 20:50] dariomws commented on #5377
Hi @csdunaway/@bjonesvcccd/@JimAdkins, thank you for your feedback.

Are you a member of the Discovery Management role group?

"This cmdlet is available in the Mailbox Search role. By default, this role is assigned only to the Discovery Management role group, and not to the Organization Management role group".

[2020-04-29 20:58] dariomws commented on #5351
Hi @NickDorak, thank you for your feedback.

Yes, as you noticed, there is no -ResultSize or -All in this cmdlet. Did you experience a limitation to list all your users that have been enabled for audio conferencing?

Besides -First, with -Skip, -SearchQuery, -Select and -Filter you can filter the cmdlet result.