[2020-07-05 01:38] mramnet opened #6079 ""Exchange Service administrator""
For RBAC role assignment, there is no "Exchange Service administrator" only "Exchange administrator"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c465a6d5
* Content: [App-only authentication](https://docs.microsoft.com/en-us/po

[2020-07-05 14:56] TobiasAT opened #6080 "How to remove a language?"
How is it possible to remove a language with LocaleSettings afterwards? I'm able to add and change languages, but not to remove a language. Also if completely rebuild the arraylist to just have the default language all other languages are still there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0b60455-890d-a34f-48

[2020-07-06 01:43] chrisda commented on #6074
@TheGhetts, the command works as written in a **Command Prompt** and running it in a Command Prompt is called out. It never occurred to me to run a regular executable in PowerShell, which is where quotes are required.

This isn't the first issue about this. I'm wondering if I should have both PowerShell and a Command Prompt instructions.

[2020-07-06 05:59] kefujino opened #6082 "The -MajorVersions argument contains an out-of-scope value of 20."
[Enter feedback here]
![image](https://user-images.githubusercontent.com/13634805/86560458-3f3bb300-bf99-11ea-961d-d7a5a751a92a.png)

The sample is in scope in SharePoint Server, but out of range in SharePoint Online. To avoid confusion, I think we should add a note that this sample is for SharePoint Server and SPO users must use greater than 100.

- ref
`Major versions   SharePoint Library Settin

[2020-07-06 07:33] ogouret commented on #6065
ok ,  i will do that, sorry for my mistake

[2020-07-06 07:33] #6065 closed

[2020-07-06 07:52] fpetereins opened #6083 "Please return $PSSession from connect-exchangeonline"
Enhancement: Please return $PSSession from connect-exchangeonline to further allow reuse of the session.

[2020-07-06 10:11] yogkumgit commented on #6072
@officedocsbot assign @yogkumgit

[2020-07-06 10:13] yogkumgit commented on #6074
@officedocsbot assign @yogkumgit

[2020-07-06 10:14] yogkumgit commented on #6075
@officedocsbot assign @yogkumgit

[2020-07-06 10:15] yogkumgit commented on #6077
@officedocsbot assign @yogkumgit

[2020-07-06 10:15] yogkumgit commented on #6078
@officedocsbot assign @yogkumgit

[2020-07-06 10:16] yogkumgit commented on #6079
@officedocsbot assign @yogkumgit

[2020-07-06 10:16] yogkumgit commented on #6080
@officedocsbot assign @yogkumgit

[2020-07-06 10:17] yogkumgit commented on #6082
@officedocsbot assign @yogkumgit

[2020-07-06 10:18] yogkumgit commented on #6083
@officedocsbot assign @yogkumgit

[2020-07-06 10:38] yogkumgit commented on #6059
@shivtorov Thank you very much for the contribution and sharing this explanation. @peterruzicska Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-06 10:38] #6059 closed

[2020-07-06 11:04] DEberhardt opened #6084 "Czech is listed as Turkish"
Hello,

don't know where to field this, but the DisplayName for cs-CZ (Czech) is "Turkish (Turkey" (which is the previous entry).

Here the output:

[code]

Thanks,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22fb169a-d0d6-8739-1a38-844fe3f3ec03
* Version Independent ID: c64dea3b-2813-67ec-fe19-608d5adc1eca
*

[2020-07-06 11:06] yogkumgit commented on #6084
@officedocsbot assign @yogkumgit

[2020-07-06 13:41] dariomws commented on #5997
Hi @MIBadran, thank you for your feedback and help us to improve docs.microsoft.com.

I think this parameter is not really available. You can enable or disable it, but you won´t see any impact on your tenant. Daily agenda emails are only available in Outlook.com.

[2020-07-06 13:56] MIBadran commented on #5997
Hi Dario

So if this setting in Office.com is not controlled by this parameter, then which one is?

[cid:image004.jpg@01D6537B.AB505620]

[Image]
[cid:image006.jpg@01D6537B.AB505620]

Mahmoud Badran

Consultant
MCS Canada
Office: +1 (289) 305-9099
Mobile: +1 (416) 258-2732
Fax: +1 (905) 568-1527
mbadran@microsoft.com<mailto:mbadran@microsoft.com>

From: Dario Woitasen <notifications@github.com>
Se

[2020-07-06 13:58] dariomws commented on #5997
Hi @MIBadran,

I cannot see the pictures. Please, attach them to GitHub not replying to the mail. Thanks!

[2020-07-06 14:00] MIBadran commented on #5997
![emCapture](https://user-images.githubusercontent.com/29442211/86601493-65e4f400-bf6f-11ea-8be3-dd3a2416e0c4.JPG)

Hi Dario

attached here, i think it may be related to a mailbox parameter tho

[2020-07-06 14:23] dariomws commented on #5997
Interesting... I cannot see it in my demo tenant and one productive tenant. Both have IsAgendaMailEnabled:$true. In which tenant can you see this?

Also, please check this: https://outlook.uservoice.com/forums/313228--outlook-on-the-web-office-365/suggestions/10448178-emailed-alerts-for-calendar-events-or-daily-agenda.

I think you are a Microsoft employee, if you have a Microsoft alias you can li

[2020-07-06 14:30] MIBadran commented on #5997
Thanks Dario!
just linked the accounts together now :)

so i could see the Agenda option in my Microsoft prod tenant, actually the feature is enabled in my mailbox since 2017 , so i assume it would be released long time ago, are you saying that this feature isn't available to the production tenants in Office 365??

![eCapture](https://user-images.githubusercontent.com/29442211/86604698-b5c5ba00-bf

[2020-07-06 14:34] get-itips commented on #6084
Hello @DEberhardt David, we will try to pass this information to the team. Thanks

[2020-07-06 14:36] get-itips commented on #6084
@tomkau

[2020-07-06 14:46] dariomws commented on #5997
Yes... I think so. Seems that it´s not available in Microsoft 365, I cannot see it in two different tenants and you can check the outlook.uservoice.com link to see that there are a lot of people requesting this feature.

[2020-07-06 19:55] get-itips commented on #6072
Hello @maps05 How are you?
First of all, thanks for your feedback.

Tried different user roles based on your feedback to see if we have to impact the documentation and this is what I have observed:

With **both** a Global Administrator user and a SharePoint Online administrator only user

I could invoke `Get-SPOUser -Site 'PERSONAL_SITE_URL' | Select DislayName,IsSiteAdmin`

I experienced the same

[2020-07-06 20:05] get-itips commented on #6067
Hello @gable44
How are you?
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-07-06 20:05] get-itips commented on #6082
Hello @kefujino
How are you?
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-07-06 21:04] dariomws commented on #6077
Hello @vagdevi17259, how are you? For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/en-us/microsoft-365/admin/contact-support-for-business-products.

Thank you!

[2020-07-06 21:10] dariomws commented on #6078
Hi @nphtrung, thank you for your feedback.

Are you asking about the -IncludeMoveHistory parameter? I think it´s not available in Get-EXOMailboxStatistics. To request it and more information, please provide your feedback/comment here:
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623
https://office365.uservoice.com/forums/

[2020-07-06 21:13] dariomws commented on #6079
Hi @mramnet, thank you for your feedback and help us to improve docs.microsoft.com.

In the Microsoft Graph API and Azure AD PowerShell, this role is identified as "Exchange Service Administrator." It is "Exchange Administrator" in the Azure portal. It is "Exchange Online administrator" in the Exchange admin center.

Anyway, I'll update the article because the steps are performed in the Azure Port

[2020-07-06 21:17] dariomws commented on #6083
Hi @fpetereins, thank you for your feedback.

For feature requests related to Exchange Online PowerShell v2, I need to kindly redirect you to this resource https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623
Or
https://office365.uservoice.com/forums/273493-office-365-admin?category_id=96338

There, your suggestion will reach

[2020-07-07 00:12] JustinGrote opened #6092 "CNG Certificates Do Not Work"
This page should have a massive note that CNG certificates cannot be used with the appid only method. I wasted several hours.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c465a6d5
* Content: [App-only authentication](https://do

[2020-07-07 08:05] yogkumgit commented on #6092
@officedocsbot assign @yogkumgit

[2020-07-07 08:20] yogkumgit commented on #5997
@MIBadran  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-07-07 08:20] #5997 closed

[2020-07-07 08:27] yogkumgit commented on #6084
@tomkau Please help us here.

[2020-07-07 08:32] yogkumgit commented on #6067
@get-itips Thank you very much for the contribution and sharing this explanation. @gable44 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-07 08:32] #6067 closed

[2020-07-07 08:35] yogkumgit commented on #6082
@get-itips Thank you very much for the contribution and sharing this explanation. @kefujino Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-07 08:35] #6082 closed

[2020-07-07 08:41] yogkumgit commented on #6077
@dariomws  Thank you very much for the contribution and sharing this explanation. @vagdevi17259 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

[2020-07-07 08:41] #6077 closed

[2020-07-07 08:47] yogkumgit commented on #6078
@dariomws Thank you very much for the contribution and sharing this explanation. @nphtrung Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-07 08:48] #6078 closed

[2020-07-07 08:54] yogkumgit commented on #6083
@dariomws Thank you very much for the contribution and sharing this explanation. @fpetereins Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-07 08:54] #6083 closed

[2020-07-07 09:36] kefujino opened #6095 "The hyperlink of SharePoint Management Shell is in the wrong position in a Japanese article."
The link is in the light blue marker currently.
Based on the original article, I think it is better to replace to the yellow part.

https://docs.microsoft.com/ja-jp/powershell/sharepoint/sharepoint-online/connect-sharepoint-online?view=sharepoint-ps
![image](https://user-images.githubusercontent.com/13634805/86758840-168de900-c07f-11ea-972e-8b647c00b362.png)

[Enter feedback here]

Thank you!
---

[2020-07-07 12:01] NeedsCoffee opened #6096 "Missing the permissions required to run command"
Please could I ask that the permissions needed to run this command are added to the document. Would an account require full Global Admin? Or would Teams Service Admin be sufficient, or maybe less? And would it perhaps also require permissions in Skype for Business Online since this is a Cs cmdlet?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-07-07 13:03] DEberhardt opened #6097 "Scope for DialOutPolicy"
Hello,

could I get clarification on the desired scope for the DialOutPolicies please?

For Skype we could apply matching patterns on voice routes that would work for us for Call Restrictions.
For Teams we are doing the same thing (for TDR, as we have the same mechanics available).

Are the CsDialOutPolicy intended to provide this functionality for Microsoft Calling Plans or can/should they be use

[2020-07-07 13:15] wowYann opened #6098 "Please provide CAML examples and specify that PnP PowerShell do not accept RowLimit parameter"
Same here https://github.com/pnp/PnP-PowerShell/issues/879

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d9f0311-903f-01a2-478d-28e0a196b5c5
* Version Independent ID: 3adca24b-cf2a-63d1-7eb5-631c6448daca
* Content: [Add-PnPView (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/add-pn

[2020-07-07 15:37] wintech147 opened #6099 "limit misleading?"
The parameter for -FileData mentions there is a max file size of 100kb however this should show or warn that this is a tenant wide limit. If you try to upload multiple keyword dictionary lists that all together go over the 100kb size limit you can no longer upload dictionary lists to your tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-07-07 15:54] TimAbmgf opened #6100 "New-InboxRule example"
The example doesn't show where to put the actual mailbox to apply the new rule. So, does this mean you'd run a get-mailbox and pipe that mailbox to the new-inboxrule?

I just tried New-InboxRule by itself. I was prompted for **Name:**

So I just tried this:
New-InboxRule -name junk@**_domain.com_** -MarkAsRead $true

That worked for me. I suggest that the online article show the -Name in the examp

[2020-07-07 16:11] TimAbmgf commented on #6100
I take that back. When I tried to remove the rule I was running into problems

PS C:\Users\User> Remove-InboxRule -name junk@_domain.com_
A parameter cannot be found that matches parameter name 'name'.
    + CategoryInfo          : InvalidArgument: (:) [Remove-InboxRule], ParameterBindingException
    + FullyQualifiedErrorId : NamedParameterNotFound,Remove-InboxRule
    + PSComputerName        : o

[2020-07-07 16:17] dariomws commented on #6080
Hi @TobiasAT, thank you for your feedback and help us to improve docs.microsoft.com.

I have been tested it and I can add values, but not remove or change them. Let me try to get more information.

[2020-07-07 16:46] #6058 closed

[2020-07-07 17:24] TobiasAT commented on #6080
Thanks @dariomws. To change an existing language just add the same language again with other values. The system will not add the same language a second time. The system replaces the existing values.

Also a remark for the doc and the examples. I think you should add a remark for LocaleSettings the DisplayName AND Tooltip are required together. In your examples it seems you can set first the Displa

[2020-07-07 17:26] mrkeiths opened #6102 "DomainPairsCountInCategory definition"
The cmdlet's -Detailed switch mentions DomainPairsCountInCategory but does not provide any explanation about what this information means.

Could someone please review this concern and step up efforts to avoid making similar references in documentation?  I'm sure you will happily fix this issue and I realize it was an accident but it's time consuming to investigate then open a request to update; an

[2020-07-07 17:29] ckssaas opened #6103 "Non-boolean switch parameters are more difficult to work with; please stop coding these"
Non-boolean switch parameters like HiddenFromExchangeClientsEnabled and UnifiedGroupWelcomeMessageEnabled are more difficult to work with than boolean value parameters when dealing with migrations or working from CSV's or working programmatically. Its the simple concept of how data works. Instead of working from one unified data set, these types of parameters require separate data sets be broken o

[2020-07-07 18:30] dariomws commented on #6080
@TobiasAT I tried that and couldn't edit the existing values.

I'm updating the example, I also saw that DisplayName and Tooltip should be used together. Check the pictures in the pull request.

I'm trying to get more information.

[2020-07-07 19:38] TimAbmgf commented on #6100
I found it.
it's the -mailbox

New-InboxRule **_-mailbox_** junkmail@_domain.com_ -name 'markasread' -MarkAsRead $true

[2020-07-07 20:38] #6079 closed

[2020-07-08 02:47] kpinel opened #6106 "Template parameter still not working"
We have an EDU license but am still unable to use the -Template parameter.
The result when attempting to create a new team is:
New-Team : A parameter cannot be found that matches parameter name 'Template'.
At line:1 char:30
+ New-Team -DisplayName LaDeDa -Template EDU_Class -Description "Test T ...

This still works in version 0.9.6
We are ramping up our class Team creation and am expecting to cre

[2020-07-08 05:18] JustinGrote opened #6107 "Add Section on Configuring for Azure Automation"
I wrote an article for how to do this in Azure Automation, the info should be adapted here
https://git.io/AAExchangeAppOnly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c465a6d5
* Content: [App-only authentication](https://docs

[2020-07-08 08:04] yogkumgit commented on #6095
@officedocsbot assign @yogkumgit

[2020-07-08 08:05] yogkumgit commented on #6096
@officedocsbot assign @yogkumgit

[2020-07-08 08:05] yogkumgit commented on #6097
@officedocsbot assign @yogkumgit

[2020-07-08 08:05] yogkumgit commented on #6098
@officedocsbot assign @yogkumgit

[2020-07-08 08:06] yogkumgit commented on #6099
@officedocsbot assign @yogkumgit

[2020-07-08 08:06] yogkumgit commented on #6100
@officedocsbot assign @yogkumgit

[2020-07-08 08:07] yogkumgit commented on #6102
@officedocsbot assign @yogkumgit

[2020-07-08 08:08] yogkumgit commented on #6103
@officedocsbot assign @yogkumgit

[2020-07-08 08:08] yogkumgit commented on #6106
@officedocsbot assign @yogkumgit

[2020-07-08 08:09] yogkumgit commented on #6107
@officedocsbot assign @yogkumgit

[2020-07-08 08:49] yogkumgit commented on #6080
@dariomws Thank you very much for the contribution and updating the documentation with PR. @TobiasAT
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-08 10:04] akhtarmughal-9 opened #6108 "Description of Get-MailboxAuditBypassAssociation is misleading"
Get-MailboxAuditBypassAssociation actually returns all objects ( those with Audit bypass Enabled and Disabled )

you will need to run something like this to get a list of bypass

Get-MailboxAuditBypassAssociation  -ResultSize unlimited | ? {$_.auditbypassenabled -eq $true}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-07-08 13:41] JSHooper opened #6109 "Get-RecoverableItems - Incorrect syntax in Example 1"
Example 1 of the Get-RecoverableItems has the incorrect syntax of:

`Get-RecoverableItems -Identity laura@contoso.com -Subject -SubjectContains "FY17 Accounting" -FilterItemType IPM.Note -FilterStartTime "2/1/2018 12:00:00 AM" -FilterEndTime "2/5/2018 11:59:59 PM"`

I believe it should read:

`Get-RecoverableItems -Identity laura@contoso.com -SubjectContains "FY17 Accounting" -FilterItemType IPM.N

[2020-07-08 13:43] dariomws commented on #6092
Hi @JustinGrote, thank you for your feedback and help us to improve docs.microsoft.com.

You must create the self-signed certificate using one of the following methods:
https://docs.microsoft.com/powershell/exchange/app-only-auth-powershell-v2#step-3-generate-a-self-signed-certificate
I think you cannot create a CNG certificate using these methods.

[2020-07-08 14:33] bmoskal88 commented on #4920
I still can't find any official mention of what the parameter should be, but I came across those with trial and error.
It worked for me. Hope it helps

To enable:  Set-OrganizationConfig -AutoEnableArchiveMailbox 1
To Disable:  Set-OrganizationConfig -AutoEnableArchiveMailbox 0

[2020-07-08 15:51] JustinGrote commented on #6092
@dariomws while true, it's not obvious that using a CNG cert (which is the default since Windows 2008) will not work, so adding a small banner right at that section saying that CNG certificates are not supported with the MSExchangeOnline module wouldn't hurt but make this aspect clear.

[2020-07-08 15:59] MrHinsh commented on #5668
https://docs.microsoft.com/en-us/powershell/module/skype/set-csteamsmeetingpolicy?view=skype-ps

[2020-07-08 15:59] dariomws commented on #6092
Thank you @JustinGrote again for your feedback. We will take it into consideration, if we get more feedback about the CNG certificates we'll add a note to the article.

[2020-07-08 16:01] MrHinsh opened #6114 "RecordingStorageMode Is not listed in documentation"
https://docs.microsoft.com/en-us/powershell/module/skype/set-csteamsmeetingpolicy?view=skype-ps

There is no documentation for "RecordingStorageMode" that is listed in the output. How do I set this value and what can I set it to?

![image](https://user-images.githubusercontent.com/5205575/86942030-929a3680-c13c-11ea-9875-5c4db59f3581.png)

#5668

[2020-07-08 17:31] TobiasAT commented on #6080
@yogkumgit Wait! Why is the issue closed? What is with the initial question "How to remove a language?" Did I miss something?

[2020-07-08 18:48] #6092 closed

[2020-07-08 21:35] chrisda commented on #6108
@akhtarmughal-9, confirmed. I updated the topic.

Thanks for the feedback.

Closing

[2020-07-08 21:35] #6108 closed

[2020-07-08 22:28] philrice opened #6119 "Clarify if group policy assignment results in inherited policy setting for any new users added in the future to the group"
Documentation is not clear as to if when you use  New-CsGroupPolicyAssignment to apply a policy to a group that it applies the Teams policies to each user in the group by propagating it down to each member as a one time operation (therefore requiring reapplication if the group membership changes)  or if the policy is then tied to that security group and members added in the future inherit that pol

[2020-07-08 22:33] dawander opened #6120 "Connect-ExchangeOnline Fails To Work on SOME tenants"
This is very strange and we have been unable to figure out whats different between tenants.  We have tried connecting to tenants with modern auth enabled/legacy auth disabled as well as both enabled.  There doesnt seem to be a connection but when it fails, we receive the following error message:  Import-PSSession : Data returned by the remote Get-FormatData command is not in the expected format.

[2020-07-09 01:00] hwkwicre commented on #5660
actually there's still a {{Fill Description}} in this article..

[2020-07-09 01:08] hwkwicre opened #6122 "Missing descriptions"
There are several {{Fill Description}} in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9dec50f-c0fd-2ae2-e8c6-2b7d2b35c3b8
* Version Independent ID: 48d543a5-18c5-e0dd-bcd9-86237b283189
* Content: [Clear-SPMetadataWebServicePartitionData (sharepoint-server)](https://docs.microsoft.com/en-us/powershell/

[2020-07-09 03:17] dawander commented on #6120
After further testing, I've been able to work around the issue.  Perhaps this is by design but it's not clear in the docs if that's the case.  And what's also strange is that it is not consistent across tenants.  When I use Connect-ExchangeOnline using a *.onmicrosoft.com global admin account, the cmdlet fails as per previous post.  However, if I run Connect-ExchangeOnline with a global admin with

[2020-07-09 11:15] yogkumgit commented on #6109
@officedocsbot assign @yogkumgit

[2020-07-09 11:17] yogkumgit commented on #6114
@officedocsbot assign @yogkumgit

[2020-07-09 11:18] yogkumgit commented on #6119
@officedocsbot assign @yogkumgit

[2020-07-09 11:18] yogkumgit commented on #6120
@officedocsbot assign @yogkumgit

[2020-07-09 11:18] yogkumgit commented on #6122
@officedocsbot assign @yogkumgit

[2020-07-09 14:55] dariomws commented on #6100
Hi @TimAbmgf, thank you for your feedback and help us to improve docs.microsoft.com.

I think you answered your own question. If you think there is something to update or improve in the article, please let us know.

Thanks again, for taking out some time to open the issue.

[2020-07-09 15:13] dawander commented on #6120
This appears to be resolved within the last 8 hours.  Thanks to the team for giving it attention.

[2020-07-09 15:26] dariomws commented on #6099
Hi @wintech147, thank you for your feedback and help us to improve docs.microsoft.com.

Could you kindly help me to understand how you get to this conclusion? I'm testing it and get the following error only when the keywords list is big enough:
"Sending data to a remote command failed with the following error message: The current deserialized object size of the data
received from the remote client

[2020-07-09 15:51] wintech147 commented on #6099
Hi @dariomws thanks for reaching out. Hopefully I can explain clearly :) My customer has multiple custom keyword dictionary lists they want to leverage for DLP. Some of them are fairly large (over 100kb limit) which they saw via the GUI and via PowerShell when trying to do their initial upload. They then split them up so they each were under the 100kb limit per file.

My customer then started uplo

[2020-07-09 15:55] dariomws commented on #6103
Hi @ckssaas, thank you for your feedback and help us to improve docs.microsoft.com.

For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/forums/273493-office-365-admin.
There, your suggestion will reach the product team.

[2020-07-09 15:59] dariomws commented on #6107
Hi @JustinGrote, thank you for your feedback and help us to improve docs.microsoft.com.

I'll check if we can add the information from the link to this article.

[2020-07-09 16:43] dariomws commented on #6099
@wintech147 thank you so much for your explanation.

Unfortunately, I cannot reproduce this behavior. I can upload two text files of almost 100 KB. I think it takes into account the size of the encoded keywords using:
$EncodedKeywords = $Keywords | ForEach-Object{[System.Text.Encoding]::UTF8.GetBytes($_+"`r`n")};

Even in this way, I could upload a file of 121 KB. I'll try to get more information.

[2020-07-09 16:48] TimAbmgf commented on #6100
Yes, I got the answer. I also see that yogkumgit assigned the item; so it's my impression the online doc will get updated :)

Thanks all.

[2020-07-09 16:48] #6100 closed

[2020-07-09 16:57] wintech147 commented on #6099
Hi @dariomws ah my mistake I forgot to mention one thing! :) We were able to ultimately upload roughly 221kb of data as well before hitting a point where we were no longer able to upload. According to the support engineer there is compression done on the tenant side so that even though we saw 221kb of data the actual size was within a few kb's of the tenant limit (100kb give or take).

In my demo

[2020-07-09 17:37] #6072 closed

[2020-07-09 18:23] CLYVR commented on #5915
Interval for DL expansion in Teams is same as SfB - 8 hours.  It will typically average less that this but that's the commitment.
Force a refresh by removing and then re-adding the DL to the CQ.

[2020-07-09 18:45] TorrenManson opened #6127 "Maximum of Ten? What? where?"
Hi,

I'm unsure what "The Maximum limitation is 10" means in the description.

I was able to create 11 CsTeamEmergencyNumber objects with New-CsTeamsEmergencyObject.
I was able to add 11 numbers to the -EmergencyDialMask parameter when creating a New-CsTeamsEmergencyObject.

Can you clarify please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-07-09 22:09] markjjo commented on #5969
@ajhosek I would suggest that you determine if there are other audit records that are generate by the same SharingSet event and see if those records identify the UserSharedWith. Sharing operations often generate multiple records. Otherwise, you could open a ticket with Microsoft Support to investigate.

[2020-07-09 22:09] #5969 closed

[2020-07-09 22:26] mrkeiths commented on #6102
Hello,

I saw this request was just closed so I took a look at the cmdlet's documentation.

I don't see any additional info that describes what DomainPairsCountInCategory means.  I did I check too soon?

[2020-07-09 22:51] chrisda commented on #6102
@mrkeiths, yes; too soon. I merged the #6124 pull request that fixes the issue as you described, but I did not come here and close the issue. This must be a new thing where the Issue and the PR are somehow intelligent?

There were some other PRs that came in that I was trying to approve before I merged Master to Live (published). In this repo, everything takes way too long.

[2020-07-09 22:51] #6102 closed

[2020-07-09 23:16] markjjo commented on #6109
@JSHooper Thanks for the heads up. I have fixed and the updated version will be published by tomorrow. Next time, feel free to make this type of change yourself and then submit a pull request. Please see https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md

[2020-07-09 23:16] #6109 closed

[2020-07-09 23:28] njmathews8 opened #6130 "Unable to connect to SPO via Powershell"
I am trying to connect to our SharePoint Tenant to provision OneDrive4Business but every attempt to connect receives the following error:

[2020-07-10 01:02] hwkwicre opened #6132 "404 links"
There are 404 links on the page, such as Get-SPODataConnectionSetting and Get-SPODataConnectionSettingMetadata

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65bf2c0b-b0ec-2748-e47e-af66011efe30
* Version Independent ID: be3968f4-d766-0b45-384b-c51c47328a86
* Content: [SharePoint Online PowerShell](https://docs.microso

[2020-07-10 04:35] danny-levin commented on #6127
+@Chen Chen (BUSINESS VOICE ROUTING)<mailto:chenc@microsoft.com> @Roy Kuntz<mailto:roykuntz@exchange.microsoft.com> to comment

(I just published this cmdlet on behalf of @Chen Chen (BUSINESS VOICE ROUTING)<mailto:chenc@microsoft.com>)

From: TorrenManson <notifications@github.com>
Sent: Thursday, July 9, 2020 9:46 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.

[2020-07-10 05:41] yogkumgit commented on #6127
@officedocsbot assign @yogkumgit

[2020-07-10 05:41] yogkumgit commented on #6130
@officedocsbot assign @yogkumgit

[2020-07-10 05:42] yogkumgit commented on #6132
@officedocsbot assign @yogkumgit

[2020-07-10 05:49] yogkumgit commented on #6120
@dawander  Thank you very much for the contribution and sharing this explanation. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-10 05:49] #6120 closed

[2020-07-10 05:54] yogkumgit commented on #6103
@ckssaas  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-07-10 05:54] #6103 closed

[2020-07-10 09:27] ksgopal4 opened #6134 "Link leads to 404"
Hi,

The link at the top 'https://docs.microsoft.com/powershell/exchange/office-365-scc-powershell' leads to a 404.

Regards
Gopal
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2bb1433-09f3-644a-e1e1-76d4790e73c4
* Version Independent ID: 26b634b4-7bbf-8a6f-383a-4aa86f433a11
* Content: [New-Label (exchange)](https://d

[2020-07-10 10:18] ksgopal4 opened #6135 "Incorrect description"
Hi,

The text 'Use the New-LabelPolicy cmdlet to view sensitivity label policies in your organization.'. Seems wrong, perhaps cut and paste from Get-LabelPolicy?

Regards
Gopal
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2bb1433-09f3-644a-e1e1-76d4790e73c4
* Version Independent ID: 26b634b4-7bbf-8a6f-383a-4aa86f433a

[2020-07-10 10:35] lordmafi opened #6136 "Question for Explaination for this Feature"
Dear all,

I just wonder about two things. First of all, if I set the -EnableTranscriptionProfanityMasking to $true on Global it does not work by default as I check that the users do not have Global assigned by default. There is another CSOnlineVoicemailPolicy that is tagged "default" which is not editable. Now in an environment with >100k users how do I can enable TranscriptionProfanityMasking fo

[2020-07-10 11:17] yogkumgit commented on #6134
@officedocsbot assign @yogkumgit

[2020-07-10 11:17] yogkumgit commented on #6135
@officedocsbot assign @yogkumgit

[2020-07-10 11:18] yogkumgit commented on #6136
@officedocsbot assign @yogkumgit

[2020-07-10 13:33] dariomws commented on #6099
Hi @wintech147, thank you so much for all this valuable information. We are checking this internally, I'll let you know when I have more information.

[2020-07-10 15:05] danny-levin commented on #6127
Chen is no longer at Microsoft so adding Sudheer and Jundong to comment on this limit as I don’t remember.

From: Danny Levin <dannyle@microsoft.com>
Sent: Thursday, July 9, 2020 9:36 PM
To: MicrosoftDocs/office-docs-powershell <reply@reply.github.com>; MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>; chenc@microsoft.com; Roy Kuntz <roykuntz@exchange.microsoft.com>

[2020-07-10 17:37] chrisda commented on #6134
@ksgopal4, fixed.

Thanks for the feedback.

Closing

[2020-07-10 17:37] #6134 closed

[2020-07-10 17:47] chrisda commented on #6135
@ksgopal4, I fixed it But in the future, you, too, can make fixes like this directly without opening an Issue first. See <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2020-07-10 17:47] #6135 closed

[2020-07-10 18:19] #5660 closed

[2020-07-10 19:26] CLYVR commented on #5702
Conference Mode Disabled:  CQ call is presented to agent.  Agent answers.  Media streams are setup.  Depending on geographic location of the CQ call and agent there can be a delay in setting up the media streams which may result in some dead air and/or the first part of the conversation being cut off.

Conference Mode Enabled: CQ call is put into conference.  Agent answers and is brought into conf

[2020-07-11 16:02] oshihirii opened #6143 "Teams cmdlets not recognized as the name of a cmdlet, function, script file..."
**Environment:**

Windows 10
[code]
**Desired Behaviour**

Run cmdlet's listed at:

https://docs.microsoft.com/en-us/powershell/module/teams

**Actual Behaviour**
[code]
**What I've Tried**

Hello,

I am new to PowerShell and installed Teams module with:

    Install-Module MicrosoftTeams

Then ran:

    $credentials=Get-Credential

And:

    Connect-MicrosoftTeams -Credential $credentials

I get

[2020-07-11 19:29] cypheredout opened #6144 "Example 2 typo"
Set-CsOnlineVoiceRoute -Identity Route1 -PstnUsages @{add="Long Distance"}

Needs to be Set-CsOnlineVoiceRoute -Identity Route1 -OnlinePstnUsages @{add="Long Distance"}

Typo on -OnlinePstnUsages
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8261de86-df2a-c957-dc21-f519d11bd745
* Version Independent ID: 0d2ac31e-fb2f-2

[2020-07-11 19:41] #6144 closed

[2020-07-11 19:42] cypheredout commented on #6144
NVM I see why its not working.

[2020-07-12 00:52] danmyhre commented on #6049
The docs page shouldn't allow comments then

[2020-07-12 01:18] get-itips commented on #6049
The Documentation for PnP cmdlets is inside the PnP cmdlets source code, on the repo I referenced, that is the reason I am redirecting you there, once a suggestion is added to the cmdlets source code (also documentation) a process later syncs it in this repo.
Hope this clarifies it to you, thank you!

[2020-07-12 11:28] mramnet opened #6145 "CompleteAfter parameter issue"
In all examples of the CompleteAfter in Exchange Online, it always uses local time to the running administrator.

Reference to this section from the parameter description:
_"In Exchange Online PowerShell, if you specify a date/time value without a time zone, the value is in Coordinated Universal Time (UTC)."_
This doesn't appear to be true at all.  It uses local time.

For example, (abbreviated)
*

[2020-07-13 03:30] yogkumgit commented on #6145
@officedocsbot assign @yogkumgit

[2020-07-13 04:19] #6049 closed

[2020-07-13 05:21] yogkumgit commented on #5238
@officedocsbot assign @pupara

[2020-07-13 13:41] get-itips commented on #6119
Hello @philrice Phil, How are you ? 👍

As the article says
 _This is used **to assign** a policy to a security group or distribution list._

From my point of view the policy is tied to the group so any new user added to the group will inherit the policy, besides that, decided to test to verify in my lab tenant:

Added a user to a group that was already assigned a policy thru this cmdlet, the assig

[2020-07-13 13:50] mvaneijken opened #6147 "RequiredVersion 2.0.3-Preview does not work in PowerShell 5.1"
Command `Install-Module -Name ExchangeOnlineManagement -RequiredVersion 2.0.3-Preview -AllowPrerelease` cannot be executed in Powershell 5.1. It gives the following error:

[code]

PSVersionTable:

[code]

It works in PowerShell 7.1.0-preview.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc

[2020-07-13 14:28] get-itips commented on #6136
Hello @lordmafi Martin, how are you? :)

Did some tests in my lab and this is what I got:

Users by default show no value for OnlineVoicemailPolicy:

[code]

But, is this the Global or the Default predefined Voice Mail policies?

I could assign this demo user the Default one:

[code]

So that lead me to think that all users by default receive the global one, If I remove the assignment:

`Grant-CsO

[2020-07-13 14:36] JSHooper commented on #6143
Answer 1:
`Get-TeamChannelUser -GroupId ******** -DisplayName "CHANNELNAME"` is part of the Teams preview module currently.
`Get-TeamHelp` Although referenced in the documentation does not seem to be part of either the GA module or the preview module.

Answer 2:
`Get-Team -GroupId ****** | FL` will give you the full details of the team like:
![image](https://user-images.githubusercontent.com/66498

[2020-07-13 14:47] get-itips commented on #6095
@officeglobal Can you kindly handle this intl issue? thank you

[2020-07-13 16:26] dariomws commented on #6080
Hi @TobiasAT,

To remove the current values you need to provide empty values:
![image](https://user-images.githubusercontent.com/33589238/87328807-6e5ba280-c50c-11ea-9bd1-ae8ae93ac9f0.png)

I'll add an example to the article.

[2020-07-13 17:32] get-itips commented on #6096
Hello @NeedsCoffee how are you?
Tested this, and adding the minimum required roles to run this cmdlet thru a pull request.
Thank you

[2020-07-13 18:57] pupara commented on #5702
@dariomws , thanks for submitting the edit. I would like to propose the following text. let me know if you are ok editing your submission.
Conference Mode is Disabled: CQ call is presented to agent. Agent answers and media streams are setup. Based on geographic location of the CQ call and agent, there may be a slight delay in setting up the media streams which may result in some dead air and the f

[2020-07-13 19:30] dariomws commented on #5702
@pupara done! Thanks!

[2020-07-13 19:38] philrice commented on #6119
Hi

Yes I did my tests after wards also and found that new group members do indeed inherit the policy which would be the desired setting, but better if the documentation is made it clear as if it is left unspecified then it is feasible that the behaviour could have been that the policy is assigned to the group, the group membership expanded and then the policy applied to the users individually.

F

[2020-07-13 19:55] get-itips commented on #6119
Hello @philrice Phil, how are you?

I understand what you say here, however this is different from what happened for example with SfB on-premises policies, where they were actually "applied", imho, in this case "assign" is clear, **but as that can be clear to me maybe it is not clear for others**, so I will propose clarifying this thru a PR, if it gets approval, it will be shown on the published v

[2020-07-13 20:18] DDog80sRocked opened #6154 "Unable to reliably to use Connect-IPPSSession behind SNAT"
Hello wonderful GitHub community!  Our company just switched over to Active/Active firewalls and now our automated scripts to connect to Security and compliance powershell fail with error: "_The request for the Windows Remote Shell with ShellId <ID> failed because the shell was not found on the server. Possible causes are: the specified ShellId is incorrect or the shell no longer exists on the ser

[2020-07-13 21:22] DEberhardt commented on #5702
Thank you very much! This is very helpful :)

[2020-07-13 21:22] #5702 closed

[2020-07-13 22:42] get-itips commented on #6106
Hello @kpinel
-Template parameter is part of the Preview Module as the article for [New-Team](https://docs.microsoft.com/en-us/powershell/module/teams/new-team?view=teams-ps) says:

You can find more information here https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-overview

[2020-07-13 22:52] get-itips commented on #6098
Hello @wowYann how are you?

Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-07-13 23:28] kai-h opened #6157 "Unable to connect to MS365 with Modern Authentication on any platform that is not Windows"
New tenancies on MS365 now have modern authentication enabled by default for all users.
I am unable to connect to these tenancies from PowerShell on macOS as there is no way to configure modern authentication.

[2020-07-14 03:31] kpinel commented on #6106
Thank you for that and apologies. Clearly I missed that somewhat important
line.

Kind regards,
Kevin
-------------------------------
If you're going to be passionate about something, be passionate about
learning

On Tue, 14 Jul 2020 at 08:42, Andres Mariano Gorzelany <
notifications@github.com> wrote:

[2020-07-14 10:14] JelleBroekhuijsen opened #6158 "Output does not match documention"
The cmdlet does not seem to return an in-memory PnP Site Template but rather update the input file specified in $Path. Futhermore the cmdlet only seems to work when using an .xml template as input rather than a .pnp.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4993195-5f25-b71d-6de7-69533fb63569
* Version Independe

[2020-07-14 11:40] crass00 opened #6159 "Inconsistancy in 2FA setups"
When using the Exchange Online V2 powershell modules they do not behave the same on different machines.

On a non domained machine I can run connect-exchangeonline -userprincipalname myadminaccount@somewhere.com and it authenticates correctly

On a domained machine where I have a normal account and an admin account if I run the same command I get this output

New-ExoPSSession : User 'normalaccount

[2020-07-14 12:47] yogkumgit commented on #6147
@officedocsbot assign @yogkumgit

[2020-07-14 12:47] yogkumgit commented on #6154
@officedocsbot assign @yogkumgit

[2020-07-14 12:48] yogkumgit commented on #6157
@officedocsbot assign @yogkumgit

[2020-07-14 12:49] yogkumgit commented on #6158
@officedocsbot assign @yogkumgit

[2020-07-14 12:49] yogkumgit commented on #6159
@officedocsbot assign @yogkumgit

[2020-07-14 12:52] DEberhardt opened #6160 "OverflowAction and TimeoutAction not aligning to UI"
Hello,

the Overflow Action and TimoutAction have parameters that I cannot line up with what the Admin Center offers.
Could you clarify please?

-OverflowAction:
PARAMVALUE: DisconnectWithBusy | Forward | Voicemail | SharedVoicemail

-TimeoutAction
PARAMVALUE: Disconnect | Forward | Voicemail | SharedVoicemail

UI (same for both):
Disconnect (OA: DisconnectWithBusy / TA: Disconnect)
OR
Person in O

[2020-07-14 12:54] oshihirii commented on #6143
Thank you, I installed public preview [per the docs](https://docs.microsoft.com/en-gb/MicrosoftTeams/teams-powershell-install) with:

    Uninstall-Module MicrosoftTeams
    Install-Module PowerShellGet -Force -AllowClobber
    # restart powershell module
    Install-Module MicrosoftTeams -AllowPrerelease

And I still get:

or operable program. Check the spelling of the name, or if a path was incl

[2020-07-14 13:17] yogkumgit commented on #6106
@get-itips Thank you very much for the contribution and sharing this explanation. @kpinel Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-14 13:17] #6106 closed

[2020-07-14 13:20] yogkumgit commented on #6098
@get-itips Thank you very much for the contribution and sharing this explanation. @wowYann Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-14 13:20] #6098 closed

[2020-07-14 13:53] yogkumgit commented on #6160
@officedocsbot assign @yogkumgit

[2020-07-14 14:08] get-itips commented on #6114
Hello @MrHinsh Martin, how are you?

I am looking into this, so far I could get the two possible values that are Stream and OneDriveForBusiness, once I get the description for the parameter, I will update the article.

Thank you

[2020-07-14 14:48] get-itips commented on #6122
Thanks for reporting @hwkwicre

[2020-07-14 15:13] get-itips commented on #6130
Hello @njmathews8 how are you?
Here we are limited to documentation changes and fixes, for your requests I would recommend
- Checking the permissions of the user you are providing to the cmdlet, there is an access denied in the error you shared.
- If that does not work please open a support ticket directly from your tenant,

Hope this helps you in the right direction,
Thanks

[2020-07-14 16:16] JSHooper commented on #6143
Apologies I should have been more specific in my last answer, The MicrosoftTeams Module needs to be installed from the Powershell Gallery Test [here](https://www.poshtestgallery.com/packages/MicrosoftTeams/1.0.25). This uses the beta version of Microsoft Graph as per the documentation [here](https://docs.microsoft.com/en-us/powershell/module/teams/get-teamchanneluser?view=teams-ps)
![image](https:

[2020-07-14 16:57] randyhammond opened #6163 "Provide more information about running the Page Diagnostic Tool."
When I run Invoke-SPOSiteSwap I am getting an error message stating that I need to run the Page Diagnostic Tool. I have run it (without any errors) numerous times using different accounts on different systems and I am still getting the message that I need to run it. I have engaged Microsoft Support for over a month and the problem still has not been resolved.

Are there specific steps that need to

[2020-07-14 18:39] andrew951 opened #6164 "Set-ProtectionAlert -NotifyUser Does Not Work as Expected"
When attempting to set the -NotifyUser, I get the following error message. $notifyuser is an array
`Get-ProtectionAlert -Identity "Suspicious email sending patterns detected" | Set-ProtectionAlert -NotifyUser $notifyuser`
[code]

[2020-07-14 18:57] joergrenn opened #6165 "Missing Parameter description"
I am missing a description of the parameter -MacOutlookEnabled
If I do a get-casmailbox  the parameter is listed, but there is not description anywhere.
there is the -ewsallowmacoutlook but this seems to be a different paramter.
Please add a description for this missing parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-07-14 19:19] dariomws commented on #6147
Hi @mvaneijken, thank you for your feedback and help us to improve docs.microsoft.com.

Exchange Online PowerShell v2 is only supported on PowerShell 5.1. It works for me:
![image](https://user-images.githubusercontent.com/33589238/87466846-5f005600-c5ed-11ea-8e9d-d8bb9e23349e.png)
Support for PowerShell Core will be added. More information here:
https://techcommunity.microsoft.com/t5/exchange-tea

[2020-07-14 19:46] dariomws commented on #6154
Hello @DDog80sRocked, how are you? For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products.

Thank you!

[2020-07-14 20:02] dariomws commented on #6157
Hi @kai-h, thank you for your feedback.

We are limited to documentation issues and improvements.

But I can tell you that Exchange Online team is working on support for PowerShell core (PS6 and PS7) for their PowerShell module:
https://techcommunity.microsoft.com/t5/exchange-team-blog/announcing-general-availability-of-the-exchange-online/ba-p/1436623

Teams PowerShell is supported on PS core:
ht

[2020-07-14 20:11] dariomws commented on #6159
Hello @crass00, how are you? For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products.

Thank you!

[2020-07-15 00:02] gh05ted opened #6167 "ConditionalAccessPolicy Requires Interactive Session"
It's not possible to run the following in a non-interactive PowerShell session:
`Set-SPOTenant -ConditionalAccessPolicy BlockAccess`
It instead provides an error:
`Set-SPOTenant : Windows PowerShell is in NonInteractive mode. Read and Prompt functionality is not available.`
When running interactively, it returns a confirmation prompt as follows, which cannot be bypassed with a -Force prompt (param

[2020-07-15 01:55] Eric-ITaaS opened #6168 "process to connect to exchange online doesn't work"
[Enter feedback here]

PS H:\> Connect-ExchangeOnline -Credential $UserCredential -ShowProgress $true

----------------------------------------------------------------------------
The module allows access to all existing remote PowerShell (V1) cmdlets in addition to the 9 new, faster, and more reliable cmdlets.

|--------------------------------------------------------------------------|
|    Old

[2020-07-15 07:48] Zankur-me opened #6169 "Remove-CalendarEvents should include option to select one calendar entry for cancellation."

[2020-07-15 11:43] yogkumgit commented on #6130
@get-itips Thank you very much for the contribution and sharing this explanation. @njmathews8 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-15 11:43] #6130 closed

[2020-07-15 11:50] yogkumgit commented on #6147
@dariomws  Thank you very much for the contribution and sharing this explanation. @mvaneijken Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-15 11:50] #6147 closed

[2020-07-15 11:55] yogkumgit commented on #6154
@dariomws  Thank you very much for the contribution and sharing this explanation. @DDog80sRocked Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation upd

[2020-07-15 11:55] #6154 closed

[2020-07-15 11:57] yogkumgit commented on #6157
@dariomws Thank you very much for the contribution and sharing this explanation. @kai-h Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-15 11:57] #6157 closed

[2020-07-15 12:10] yogkumgit commented on #6159
@dariomws  Thank you very much for the contribution and sharing this explanation. @crass00 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2020-07-15 12:10] #6159 closed

[2020-07-15 13:24] get-itips commented on #6136
@lordmafi Martin, have you seen my comment? Otherwise we will need to close this one, thanks!

[2020-07-15 14:52] dariomws commented on #6075
Hi @trudolf-msft, thank you for your feedback and help us to improve docs.microsoft.com.

I don't have this information but for example, Enable-Mailbox is not available because you have to enable the Exchange Online license in Microsoft 365 to enable a mailbox.

For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/.
There, your suggestion will reach

[2020-07-15 15:43] dariomws commented on #6145
Hi @mramnet, thank you for your feedback and help us to improve docs.microsoft.com.

It's working for me as it's documented, at least with StartAfter:
![image](https://user-images.githubusercontent.com/33589238/87565901-a394fb80-c698-11ea-9cef-e377c233a98c.png)

I'm waiting now for the synchronization to finish, to test CompleterAfter using Set-MigrationBatch.

[2020-07-15 17:53] mramnet commented on #6145
If you provide the “CompleteAfter” as part of the New-MigrationBatch you can see the results right away, and one shouldn’t have to wait.  I can reproduce this at will.

From: Dario Woitasen <notifications@github.com>
Sent: Wednesday, July 15, 2020 9:06 AM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Malcolm Ramsay <mram@mram.net>; Mention <mention@norepl

[2020-07-15 18:34] trudolf-msft commented on #6075
Hi Dario,

Thanks for your answer.
The cmdlet I meant is Enable-MailUser not Enable-Mailbox. So just convert an Azure AD user to an Exchange mail-enabled object.
And it works in Torus client but not for public admins. Can you raise this question to PG please?

[MultiTenant\DB6PR03MB3064] PS C:\Users > get-user mailuser2 | Enable-MailUser -DisplayName mailuser2 -Alias mailuser2 -PrimarySmtpAddress

[2020-07-15 18:52] dariomws commented on #6145
Tested it and -CompleteAfter works as it's documented:
![image](https://user-images.githubusercontent.com/33589238/87583455-5a51a580-c6b2-11ea-94e1-9279f6c93437.png)
![image](https://user-images.githubusercontent.com/33589238/87583597-997ff680-c6b2-11ea-8bdf-bd80a287b304.png)
![image](https://user-images.githubusercontent.com/33589238/87583761-d5b35700-c6b2-11ea-9799-18f050c16893.png)

The value i

[2020-07-15 19:00] dariomws commented on #6075
@trudolf-msft Yes, I understood that you meant Enable-MailUser, just wanted to provide you some information. In the following link:
https://office365.uservoice.com/forums/264636-general/suggestions/19392346-exchange-hybrid-allow-enable-mailbox-disable-m
He is requesting the same for Enable-Mailbox, but you can see a comment requesting the same for Enable-MailUser.

I tried to get more information

[2020-07-15 19:09] mramnet commented on #6145
Actually you proved my issue.  The CompleteAfter and CompleteAfter UTC are the same.
So if you’re setting it to complete at 16:36, why is the UTC the same?  That’s an incorrect value.

From: Dario Woitasen <notifications@github.com>
Sent: Wednesday, July 15, 2020 11:53 AM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Malcolm Ramsay <mram@mram.net>; Mentio

[2020-07-15 19:17] mramnet commented on #6145
If I didn’t make my point clear before the issue is that when you’re presenting a command for a value to the system, both the UTC and the local time are the exact same in ALL your screenshots, which is 100% incorrect, unless you live in UTC.  I was just reporting on the CompleteAfter/CompleteAfterUTC as listed below but in all your screenshots, you can see that all the UTC values are incorrect.  T

[2020-07-15 19:26] dariomws commented on #6145
StartAfter, StartAfterUTC, CompleteAfter, CompleterAfter values are all UTC. In my example, I provided the value in UTC and works as expected, so this looks good for me:
-------------------------------------------------------------------------------------------------------------------------------------------
Use the short date format that's defined in the Regional Options settings on the computer

[2020-07-15 19:37] mramnet commented on #6145
My ultimate point is that you're putting in a time for CompletAfter.  Are you on UTC?  What are your Powershell regional settings?  My Get-TimeZone shows a -08:00:00 offset.  So when I perform a -CompleteAfter via powershell it shouild show an appropriate different timezone like this:

CompleteAfter              : 7/15/2020 9:00:00 PM
CompleteAfterUTC           : **7/16/2020 4:00:00 AM**

But when

[2020-07-15 19:59] dariomws commented on #6145
Get-TimeZone shows a -03:00:00 offset here. In Exchange Online PowerShell, if you specify a date/time value without a time zone, the value is in UTC. In my examples, I add 3 hours after look at my local time, to provide it as UTC.

I agree that CompleteAfter and StartAfter could show us the local time, but it's not related to this article.

"The question and issue I'm asking here is -- why does th

[2020-07-15 20:19] mramnet commented on #6145
It's ambiguous wording and process, that's why it's both documentation and service related.

If I follow the prescriptive guidance of the article and convert to UTC, the local time becomes the same as UTC, and therefore the actual batch will not complete at the EXPECTED time.  In my case it will run 8 hours late/early, because while the "CompleteAfterUTC" might be a correct time, it doesn't set th

[2020-07-15 20:37] TobiasAT commented on #6080
Thanks @dariomws for the tip, that worked 👍 Just empty values, good to know.

[2020-07-15 20:37] #6080 closed

[2020-07-15 20:41] dariomws commented on #6145
@mramnet sorry but I tried it and works as expected.

I wanted that my batch starts at 12:40, I need to provide the value on UTC, that's why I provide 15:40 to the -StartAfter parameter. It's what it's explained in the article.

[2020-07-15 20:46] dariomws commented on #6145
The only issue that I can see is that when you run Get-MigrationBatch, CompleteAfter and CompleteAfterUTC are both on UTC.

[2020-07-15 21:32] frenchap opened #6171 "Connect-ExchangeOnline using an existing service principal and client-secret example doesn't work"
Good afternoon.

I'm working through connecting to Exchange Online using a service principal and client secret according to the documentation here:

https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps#setup-app-only-authentication

In powershell, here's a snippet:

`$secureAccessToken = ConvertTo-SecureString -String $accessToken -AsPlainText -Force`
`

[2020-07-16 05:07] ananimesh commented on #6171
We are facing the same issue when trying to connect. Can someone please help.

[2020-07-16 08:17] mramnet commented on #6145
Look, I get what you’re saying but there’s clearly a disparity.  I'll demonstrate all three possibilities here.

CHOICE 1 – using the GUI :: If I set a batch to complete at 9pm local in the GUI, it looks like this in powershell using "Get-MigrationBatch", and completes at 9pm as expected.

This option has a doubly-verified date/time for completion since both the UTC and local time are equivalent.

[2020-07-16 09:39] aravindmunna opened #6172 "Get-TeamChannel command is unable to return Membership Type property value for channels"
(Get-TeamChannel -GroupId $SrcGroupID) | Format-Table Id, DisplayName, Description, MembershipType

![image](https://user-images.githubusercontent.com/4700718/87655756-efa77500-c758-11ea-8a20-7385c158ca8d.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6b48c32-ad79-4249-638b-f53f9d76397f
* V

[2020-07-16 10:31] dariomws commented on #6145
Thank you very much for your feedback, @mramnet. I'll pass it to the product team so they are aware of your ask.

[2020-07-16 10:58] yogkumgit commented on #6136
@get-itips Thank you very much for the contribution and digging deep into it.  @lordmafi We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documen

[2020-07-16 11:20] lordmafi commented on #6136
I am just wondering does the Profanity Masking only works with Exchange Online? We have Hybrid in place and activated it for on-prem mailboxes which is not working after waiting even a week for replication/activation.

[2020-07-16 11:21] lordmafi commented on #6136
It would be nice to have more clearity on this if there are any requirements to the mailbox.

[2020-07-16 11:22] lordmafi commented on #6136
The issue stays also how to assign it in huge enviroments as a default other than going through a script everytime someone onboards

[2020-07-16 12:45] get-itips commented on #6136
Hello @lordmafi Martin, how are you?
According to this, the transcription is also applied on an hybrid scenario:

![diagram](https://docs.microsoft.com/en-us/skypeforbusiness/sfbserver2019/media/plan-cloud-voice-mail-server1.png)

The service processes the voicemail, including transcription.
The service then deposits the voicemail in the Exchange mailbox of the user, whether the mailbox is on-prem

[2020-07-16 12:54] lordmafi commented on #6136
Hi @get-itips Andres,
thanks for quick response, that was what I thought also. I did assign two user-based policies (Tag: TranscriptionProfanityMaskingEnabled) to me and another user and we did some testing, even after days it was still using bad words in the transcription. So I was wondering why it does not work if applied, only explanation I could think of, is that it is not working with on-prem

[2020-07-16 14:00] get-itips commented on #6136
Ok looking forward to the results of that test, and also what are the software versions you have on-premises for sfb and Exchange ?

[2020-07-16 14:05] lordmafi commented on #6136
Exchange 2016 latest CU and sfb is online only. The user-based policies are not working I think we will create a ticket for it. Just will test the global setting.

[2020-07-16 14:31] get-itips commented on #6136
Martin, yes, I think it will be the best in this case, I will be very happy if you can share the outcome or resolution with us. I'll update the documentation with that valuable information if it is needed.
Thanks for taking out some time to open the issue.

[2020-07-16 15:52] dariomws commented on #6145
Hi @mramnet,

- CHOICE 1: I tested it and I agree, all seems to be good when you create the batch using the Admin Center, CompleterAfter and CompleterAfterUTC seems to have correct values.

- CHOICE 2: In my case, when I created the batch using New-MigrationBatch, it works as it's documented. But when I ran Get-, both StartAfter and StartAfterUTC were in UTC. The batch started and completed in UTC

[2020-07-16 16:05] get-itips commented on #6143
Hello @oshihirii how are you?

Get-TeamChannelUser is part of the preview module, as @JSHooper James kindly let you know.

Both modules are **now in the same PowerShell Gallery**. https://www.powershellgallery.com/packages/MicrosoftTeams/

I could succesfully use the 1.1.3-preview module (which is the current preview module) to connect to both Teams and SfB Online, no need to install from the prev

[2020-07-16 16:20] dariomws commented on #6164
Hi @andrew951, thank you for your feedback and help us to improve docs.microsoft.com. I'll report this to the product team.

[2020-07-16 19:51] get-itips commented on #6172
Hello @aravindmunna
How are you?
I see that, using the preview version of the module (1.1.3-preview) that is working so it is probably going to be fixed by the next stable version of the module.
![image](https://user-images.githubusercontent.com/36666927/87715954-7a519980-c784-11ea-9ff0-2055b5d1bc0f.png)

Hope this information helps you,

[2020-07-16 20:03] dariomws commented on #6168
Hello @Eric-ITaaS, how are you? For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products.

Thank you!

[2020-07-16 20:06] dariomws commented on #6169
Hello @Zankur-me, thanks for your feedback.

For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/.
There, your suggestion will reach the product team.

[2020-07-16 20:12] aravindmunna commented on #6172
@get-itips Hi , I'm doing good. Thank you very much for your response on this regard.

I was working on some automation script, while testing i was trying to differentiate public channels and private channels and tried using this property but unable to achieve so thought posting this issue..

Many Thanks..

[2020-07-16 20:14] dariomws commented on #6171
Hi @frenchap and @ananimesh, thank you for your feedback and help us to improve docs.microsoft.com.

How are you getting the OAuth access token? Are you using the [Active Directory Authentication Library (ADAL) PowerShell](https://www.powershellgallery.com/packages/Microsoft.ADAL.PowerShell/1.12)? (step 1)

[2020-07-16 21:01] mramnet commented on #6145
I never claimed to have an issue with StartAfter, so _why are you testing that_?

And for Choice 2 and 3, specifically what commands did you run?  I gave you **specific** commands to enable reproduction of the issue.  Also, to be clear, I'm **not** claiming an issue with StartAfter.    If you're claiming that you tested it, I'd like to know specifically what you ran to test it, since I claim probl

[2020-07-16 21:17] dariomws commented on #6145
The same should apply to StartAfter, this is why I'm testing both parameters.

I tested it also using "(Get-Date "5/6/2016 9:30 AM").ToUniversalTime()" but I didn´t add the screenshots here.

[2020-07-16 21:50] mramnet commented on #6145
So if as you say you are using "(Get-Date "5/6/2016 9:30 AM").ToUniversalTime()"  _of course that would run immediately when that date is 4 years in the past and you've passed that time_.  The fundamental reason why I am focusing on CompleteAfter is that this is the point where end-users are affected and _there must be absolute precision on the parameter's execution time_.  I can accept the synerg

[2020-07-16 22:31] andrew951 commented on #6164
Hi @dariomws, I noticed that the pull request will change the -NotifyUser to an internal Microsoft command use only. Does that mean there is currently no way to modify who would be notified for an alert via Powershell?

[2020-07-16 22:57] gh05ted commented on #6167
Small addition: it also doesn't respect `-Confirm:$false`. Again, 'a parameter cannot be found that matches parameter name 'Confirm'.

[2020-07-16 23:01] frenchap commented on #6171
That's correct:

I'm issuing a post to this endpoint using powershell as below

`https://login.microsoftonline.com/$($customerId)/oauth2/v2.0/token`

Using [this article](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow) as guidance

`$Url = "https://login.microsoftonline.com/$($customerId)/oauth2/v2.0/token"`
`$headers = @{`
`'Content-Type' = 'appl

[2020-07-17 02:33] ptyx507 opened #6177 "[!Note] not being correctly displayed"
The [!Note] syntax doesn't appear to be rendering correctly. Might be a syntax issue on the md file itself for line 20.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4c7fa70-28da-2cbe-b7bb-7ae0b64414d0
* Version Independent ID: 94efecca-5f32-fbb4-f479-cac6683d081a
* Content: [Get-MailboxStatistics (exchange)](https:/

[2020-07-17 12:27] dariomws commented on #6145
I sent this information to the product team so they are aware of it. We´ll close this issue but they added this task to their list.

Thank you so much for your feedback.

[2020-07-17 12:44] dariomws commented on #6164
Hi @andrew951, thank for your comment.

I tested it and got the same message, so I decided to put this message (let's see if it's approved) because this parameter is not available at this moment, and send the information to the product group so they can check it.

[2020-07-17 13:11] yogkumgit commented on #6143
@get-itips Thank you very much for the contribution and sharing this explanation. @oshihirii Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-17 13:12] get-itips commented on #6163
Hello @randyhammond how are you?
For PDT I can provide this link https://docs.microsoft.com/en-us/office365/enterprise/page-diagnostics-for-spo but probably you already visited it.
There are no specifics steps in the PDT that I am aware of, I think in this case the best would be to continue with support services so they can determine the cause of the error preventing you from running the invoke on

[2020-07-17 13:16] yogkumgit commented on #6172
@get-itips Thank you very much for the contribution and sharing this explanation. @aravindmunna Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-17 13:16] #6172 closed

[2020-07-17 13:20] yogkumgit commented on #6168
@dariomws  Thank you very much for the contribution and sharing this explanation. @Eric-ITaaS Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation update

[2020-07-17 13:24] yogkumgit commented on #6169
@Zankur-me  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-07-17 13:24] #6169 closed

[2020-07-17 13:53] dariomws commented on #6171
Thank you so much @frenchap!

For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products.

We will be very happy if you can share the outcome or resolutio

[2020-07-17 13:58] dariomws commented on #6171
Also, if you can please try to create the OAuth access token with this module:
https://www.powershellgallery.com/packages/PSServicePrincipal/1.0.11
https://github.com/dgoldman-msft/PSServicePrincipal/blob/master/README.md

You can also leave some feedback here:
https://techcommunity.microsoft.com/t5/exchange-team-blog/modern-auth-and-unattended-scripts-in-exchange-online-powershell/ba-p/1497387

[2020-07-17 14:30] Apoc70 opened #6178 "Information on PowerShell v7 requirement missing"
The document should contain information about the requirement for PowerShell V7.

The examples to install the preview version of EXO V2 module contain parameters that are not available in default Windows Server PS.

Install-Module -Name ExchangeOnlineManagement -RequiredVersion 2.0.3-Preview -AllowPrerelease

As clients tend to install the ExchangeOnlineManagement module on Exchange Servers, there

[2020-07-17 16:45] pupara commented on #6084
Thanks @yogkumgit and @DEberhardt. I am reaching out to team get this fixed.

[2020-07-17 16:53] pupara commented on #5381
Thanks @dariomws and @yogkumgit. I will find the description and get it updated on the page.

[2020-07-17 19:52] MSTejas opened #6179 "Applies to says "Skype for Business Online", but this is Teams meeting policy, hence applies to should say :"Microsoft Teams""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b9baa8-da13-a24f-af31-91d63de13f08
* Version Independent ID: 6a37be44-d957-2b7a-a563-53332cf59098
* Content: [Set-CsTeamsMeetingPolicy (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/set-csteamsmeetingpolicy?view=skype-ps&source=do

[2020-07-17 19:52] MSTejas commented on #6179
Applies to says "Skype for Business Online", but this is Teams meeting policy, hence applies to should say :"Microsoft Teams"

[2020-07-17 21:52] get-itips commented on #6160
Hello @DEberhardt David, how are you?

Did some tests in my demo tenant and I do have the Voicemail option:

![image](https://user-images.githubusercontent.com/36666927/87831962-3b424780-c85b-11ea-878e-830a44a2ba80.png)

I configured the Queue using PowerShell, both forwarding to VoiceMail or SharedVoiceMail, the option "Voicemail" in the GUI persisted, so it seems that in the UI, the Voicemail op

[2020-07-18 10:28] DEberhardt commented on #6160
Thank you. The Voicemail does now show for me too (in CallQueues).
This wasn't the case when I checked my demo tenant when writing the post though.

I guess, some of the confusion comes up because you have 1 PS parameter for 3 UI options as well as 2 PS parameters for 1 UI option...
It would have been easier to either just call it "Forward" or to call it "ForwardToUser", "ForwardToApp", "ForwardTo

[2020-07-18 11:05] oshihirii commented on #6143
Thank you all.

Sorry for late reply, I needed some time to digest and understand the information.

@get-itips - based on your comments, i *didn't* install the `PsTestGallery ` and wanted to see what version module I had.

So I ran [Get-InstalledModule](https://docs.microsoft.com/en-us/powershell/module/powershellget/get-installedmodule):

    Get-InstalledModule

For me, this returned:
[code]
I t

[2020-07-18 11:28] get-itips commented on #6143
Hello @oshihirii
How are you ?
According to the output that you share, you have installed the 1.1.4 version, the GA version of the module and not the preview, follow here if you want to give the preview version a try https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-install currently, when outputting the version, you should see 1.1.3-preview for the Preview version
About sfb command

[2020-07-18 11:32] get-itips commented on #6160
@DEberhardt David, how are you? Thanks for returning and sharing your last feedback. I can understand your pain when building one liners PS commands using Excel, we can conclude that what we see today is a combination of two parameters and not only one.
Probably you know the resource but you could suggest an improvement in https://microsoftteams.uservoice.com/

[2020-07-18 11:34] DEberhardt commented on #6160
Hello,
yeah, I will live with that :)
Just need to add one more element to the Spreadsheet.

Are there any verifications I can do against Voicemail and SharedVoicemail to ensure I am linking the right resource?

Thanks,
David

[2020-07-18 12:24] oshihirii commented on #6143
Thank you.

For reference, I needed to install the preview version specifically, as following the instructions here (for public preview) installs `1.1.4`:

https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-install

    Get-InstalledModule
[code]
    Install-Module MicrosoftTeams -AllowPrerelease
[code]
    Get-InstalledModule
[code]

So I looked at this link to see how to install a

[2020-07-20 07:51] yogkumgit commented on #6163
@get-itips Thank you very much for the contribution and sharing this explanation. @randyhammond Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation updat

[2020-07-20 07:51] #6163 closed

[2020-07-20 07:56] yogkumgit commented on #6171
@dariomws  Thank you very much for the contribution and sharing this explanation. @frenchap Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation update i

[2020-07-20 08:16] yogkumgit commented on #6136
@lordmafi Thanks for your conversation, please share your findings that can help improving this documentation. We are waiting to resolve this issues.

[2020-07-20 09:39] Markus-Hanisch opened #6180 "Set-SPOOrgAssetsLibrary parameter OrgAssetType"
Hello,

I wanted to set a document library as OrgAssetsLibrary of OrgAssetType "OfficeTemplateLibrary" as described in **[Example 3](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/set-spoorgassetslibrary?view=sharepoint-ps#examples)**:

However, the PS Cmdlet does not offer to set this parameter.
I have updated to the latest available version of the PowerShell module:

[code]

[2020-07-20 13:21] dkotars opened #6181 "DMARC"
I notice that there is now a DMARC event when running this command, this is not referenced in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d563add-ef66-7a84-8181-8bfe6c12525d
* Version Independent ID: 02171fa8-5e5c-0ce9-36d0-c057961ba86f
* Content: [Get-MailTrafficATPReport (exchange)](https://docs.micr

[2020-07-20 13:36] get-itips commented on #6143
Hello @oshihirii how are  you?
Will review the article to see if I can improve it based on your feedback.
About the 404 you are receiving trying to import the SfB cmdlets... did you connect first to Teams Ps ?
Thank you

[2020-07-20 14:50] oshihirii commented on #6143
Do you mean with:
[code]
If so, yes, and to see that command in the context it was run, see previous post.

[2020-07-20 16:56] get-itips commented on #6143
Tried but I can not reproduce the 404 you are receiving. Probably you checked the permissions already. For that specific error the best now will be to open a ticket in your tenant.
Will review the article if we can improve it. Thanks for your feedback!

[2020-07-20 17:31] get-itips commented on #6167
Hello @gh05ted how are you? Hope you are doing great.
I checked and as you say, this cmdlet does not supports -Force parameter. So for that inquiry I need to kindly suggest https://sharepoint.uservoice.com/ that way, your request can reach the product team so they add support for it.
Thank you

[2020-07-20 17:46] get-itips commented on #6158
Hello @JelleBroekhuijsen Jelle, how are you?

Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-07-20 21:04] Maralesfahanpoor commented on #6180
Hello Markus,

I am not exactly sure that what is the issue here,
Is it that the PowerShell doesn't recognize the Set-SPOOrgAssetsLibrary cmdlet or it doesn't recognize the OrgAssetType parameter?
The Set-SPOOrgAssetsLibrary is for changing the existing document libraries properties like thumbnail and OrgAssetstype, Which means you should already have the OrgAssets document libraries and with this

[2020-07-20 21:06] chrisda commented on #6177
@ptyx507, known issue. We're working to fix it (a publishing platform issue) Until then, I modified the formatting.

Thanks for the feedback.

Closing

[2020-07-20 21:06] #6177 closed

[2020-07-20 21:25] #6096 closed

[2020-07-20 22:21] gh05ted commented on #6167
Thanks @get-itips. Raised: https://sharepoint.uservoice.com/forums/330318-sharepoint-administration/suggestions/40953460-enable-setting-conditionalaccesspolicy-without-int

[2020-07-20 22:23] get-itips commented on #6167
Great! will vote for it.

[2020-07-20 22:41] #6119 closed

[2020-07-20 23:00] #6122 closed

[2020-07-21 01:24] #6132 closed

[2020-07-21 01:51] andrew951 commented on #6164
Can we reopen the issue to keep track on the missing functionality of NotifyUser?

[2020-07-21 02:08] #6165 closed

[2020-07-21 03:08] #6143 closed

[2020-07-21 03:14] yogkumgit commented on #6167
@gh05ted  Thank you very much for your kind feedback also thanks for logging this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-07-21 03:14] #6167 closed

[2020-07-21 03:18] yogkumgit commented on #6158
@get-itips  Thank you very much for the contribution and sharing this explanation. @JelleBroekhuijsen Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-21 03:18] #6158 closed

[2020-07-21 07:33] joergrenn opened #6185 "More Details MacOutlook parameters"
Hi,
the Set-CasMailbox has two paramaters namend -EwsAllowMacOutlook and -MacOutlookEnabled.
Where is the difference between those two commands? Could you give more details or refer to other documentation?
Basically both parameters just say "Outlook for Mac"
How do I know which Outlook for Mac uses EWS?
One says:

The other:

I have an O365 plan and use Outlook for Mac 16.39.  Does it use EWS or n

[2020-07-21 08:02] tofkamp opened #6187 "Remove-dkimsigningconfig domain.com"
I can create a new dkim signing config with powershell, get and set it to enabled. But how to remove it ?
If I run get-dkimsigningconfig, I get some dkim's configs for email domains which are gone.
There is no command to remove it. The domain is already removed from accepted-domains in the Exchange Admin Console.
Why is there a difference between accepted domains in EAC and the dkimsingningconfig

[2020-07-21 10:01] leewisestamp commented on #6171
I'm not sure why this and its related issues have been closed without resolution. This is clearly a documentation flaw. The section on "[connecting] using an existing service principal and client-secret" should be removed until the module supports it.

[2020-07-21 11:40] dariomws commented on #6164
Hi @andrew951, thank you again for your help.

There is no ETA for this functionality, sorry about that. This is why we cannot keep this issue open until it's available.

[2020-07-21 11:53] KirkMunro opened #6188 "MicrosoftTeams version 1.1.4 is incorrectly versioned and breaks backward compatibility"
I've tried reaching out other ways, but this issue has not been acknowledged yet, so I'm hoping that someone here can pass it on to the right folks.

On July 1st, the Microsoft Teams team released version 1.1.3-preview of their MicrosoftTeams module. This preview version contains functionality not available in the current release/stable version, including management of private groups, among other

[2020-07-21 12:19] ZB-BT opened #6189 "Get-CSOnlineTelephoneNumber -ExpandLocation"
Hello!

I'm doing some work with number assignment and am attempting to use the Get-CSOnlineTelephoneNumber with the ExpandLocation switch.

The CmdLet by itself runs fine however when I use -ExpandLocation I get a NullReferenceException.

`PS C:\WINDOWS\system32> Get-CsOnlineTelephoneNumber -ExpandLocation

Object reference not set to an instance of an object.
    + CategoryInfo          : NotSpe

[2020-07-21 12:32] Markus-Hanisch commented on #6180
@Maralesfahanpoor
The cmdlet does not recognize the parameter OrgAssetType.
When I try to add a document library as OfficeTemplateLibrary, I receive an error.
The following PS cmdlet:
[code]
..results in:
[code]

[2020-07-21 15:58] joshtransient opened #6190 "Submit-PnPSearchQuery documentation page should be updated to reflect Invoke-PnPSearchQuery"
The header and navigation link for this article show Submit-PnPSearchQuery as the name of this cmdlet. This naming convention is deprecated, and the new cmdlet name is Invoke-PnPSearchQuery.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd988f0-5cde-1e9e-a88e-21cc1fccfa5c
* Version Independent ID: 8c1f6c2d-c7d8-6762-

[2020-07-21 16:11] frenchap commented on #6171
@dariomws, I don't see anywhere in the PSServicePrincipal library a function for creating the access token.  Can you elaborate?

[2020-07-21 16:15] frenchap commented on #6171
@yogkumgit, I don't understand why I need to open a ticket with my tenant; this is an issue with either Microsoft's public documentation for Connect-ExchangeOnline, or a bug in the module.  Please advise; can I connect to Exchange Online using a service principal and client secret, or not?

[2020-07-21 16:35] chrisda commented on #6185
@joergrenn, both of those statements are semi-correct. EWS is used in Outlook for Mac 2011 or later. Apparently, only the [New Outlook for Mac](https://techcommunity.microsoft.com/t5/outlook-blog/introducing-the-new-outlook-for-mac/ba-p/936884) that's currently in Preview doesn't use EWS; it uses the newer 'Microsoft Sync technology' that's used in the Windows 8 and 10 mail app, and also [Outlook

[2020-07-21 17:21] danmyhre opened #6191 "MailNickname Parameter"
The param is called "Alias", not MailNickname

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549c7d86-87b3-5c82-d2b3-a0cc0b4faa11
* Version Independent ID: b3377099-854a-50d0-0fe1-bbdd7ddec332
* Content: [New-Team (teams)](https://docs.microsoft.com/en-us/powershell/module/teams/new-team?view=teams-ps)
* Content Source

[2020-07-21 17:26] danmyhre commented on #6191
Module was out of date, looks like it was a breaking change.

[2020-07-21 17:26] #6191 closed

[2020-07-21 18:03] Ovyone opened #6193 "Shouldn't this also apply to Microsoft Teams?"
Shouldn't this also apply to Microsoft Teams?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eefa80b-840f-d693-9876-7f20e641285d
* Version Independent ID: f8be06d4-86ff-ecda-e4b3-1f42e85f4909
* Content: [Get-CsExternalAccessPolicy (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/get-csexternalaccesspo

[2020-07-21 22:01] sparkitect opened #6196 "CdnType Private NotImplemented in GCC?"
I get a 'NotImplemented' exception when attempting to use this cmdlet with the CdnType of Private:\

[code]

The tenant is in GCC so that might be a clue (or distraction).

Things I've tried: Bing
Thing I'll try next: Looking at the code...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fbc7344-3d65-6cf0-1a1a-7a7488cc

[2020-07-22 03:54] cjklouda opened #6197 "Clarification on IncludeUnifiedGroupRecipients and ManagedByFilter"
Based on the documentation and the validation sets that allow the switch parameter IncludeUnifiedGroupRecipients, it indicates that this switch makes the policy exclusive to M365 groups.  It might be good to just note that explicitly.

Additionally, the doc for ManagedByFilter states this:
You **_need to use_** this parameter with the IncludeUnifiedGroupRecipients switch.

It makes it appear that

[2020-07-22 05:56] yogkumgit commented on #6136
@get-itips  Thank you very much for the contribution and digging deep into it.  @lordmafi We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docume

[2020-07-22 05:56] #6136 closed

[2020-07-22 06:04] yogkumgit commented on #6097
@pupara Please help us in resolving this issue. Thanks.

[2020-07-22 06:08] yogkumgit commented on #6095
@OfficeGlobal Please update the status.

[2020-07-22 06:18] #6164 closed

[2020-07-22 15:49] dariomws commented on #6145
@mramnet I have important information.

I didn't realize that there is a -TimeZone parameter. Each migration batch have their own time zone, the Admin Center set it but if you run New-MigrationBatch without -TimeZone the date/time parameters (CompleteAfter, CompleteAfterUTC, StartAfter, StartAfterUTC) will be UTC.

Also, is better to use “[DateTime]"7/30/2020 9:00PM Z"” or “[DateTime]"7/30/2020 9:

[2020-07-22 16:42] mramnet commented on #6145
Putting in the -Timezone parameter solely appears to change the local time references, which also appears to have no bearing on the actual resultant effect.

[code]

Also I don't follow the "its better to use" reply.  In all cases, we must put in a UTC time, but it's logically backward to have to convert a local time to UTC and then be even more precise.  I understand that the code requires a UTC

[2020-07-22 17:33] dariomws commented on #6145
Yes, -Timezone change the local time reference: StartAfter and CompleteAfter. StartAfterUTC and CompleteAfterUTC are UTC. It's clearly shown in your example. I'll apply some updates to the cmdlet articles to try to provide move detail about it.

About the UTC value requirement for the -CompleteAfter parameter, I cannot change it, and the product group has this feedback. Anyway, for this kind of fe

[2020-07-22 17:41] dkotars opened #6201 "Example 4 Produces an error in Exchange Online"
Running

New-ManagementScope -Name "Protected Exec Users" -RecipientRestrictionFilter "Title -like '*VP*'" -Exclusive; New-ManagementRoleAssignment -SecurityGroup "Executive Administrators" -Role "Mail Recipients" -CustomRecipientWriteScope "Protected Exec Users"

In Exchange Online will generate the error: "The management scope object Protected Exec Users is an exclusive scope, and it can't be sp

[2020-07-22 18:51] Canis-Lupis opened #6202 "How do you remove ALL permissions from a mailbox?"
Remove-MailboxPermission works great if you only want to remove one person's permission or have a csv file to pump in a list of users to remove but what if you just want to remove everyone who has permission?  I tried

`Get-MailboxPermission -Identity "user@Contoso.com" | Remove-MailboxPermission`

and that does not work.  Also, the `-User` parameter doesn't accept wildcards or piped input.  Seems

[2020-07-22 19:04] wedataintelligence opened #6203 "office-docs-powershell"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69ae1495-235b-5e1d-0c73-932f3c28e5b7
* Version Independent ID: 52543c9c-2c4b-52bd-88a5-ebe2fafe62ce
* Content: [Get-ComplianceCase (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange/get-compliancecase?view=exchange-ps&source=docs)

[2020-07-23 06:50] yogkumgit commented on #6145
@dariomws  Thank you very much for the contribution and sharing this explanation. @mramnet Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-23 06:50] #6145 closed

[2020-07-23 11:38] OfficeGlobal commented on #6095
@kefujino , @yogkumgit the article was HumanTransalted and published live

[2020-07-23 12:48] get-itips commented on #6095
Hello @OfficeGlobal
Do you refer to this https://docs.microsoft.com/ja-jp/powershell/sharepoint/sharepoint-online/connect-sharepoint-online?view=sharepoint-ps ?
I am not finding a ja-jp version of the article on the repo, did you find it? it looks like engine translated. Thank you

[2020-07-23 13:11] TheHailender opened #6205 "Get-PnPHubSiteChild : The attempted operation is prohibited because it exceeds the list view threshold enforced by the administrator."
It seems that this command does not work if there are more than 5000 sites in the tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ec75a87-ea5a-c9c6-b15f-facb7c816760
* Version Independent ID: 002d95a1-c08e-9208-426f-9ca908079be1
* Content: [Get-PnPHubSiteChild (sharepoint-pnp)](https://docs.microsoft.com/en-us/

[2020-07-23 13:56] get-itips commented on #6179
Hello @MSTejas How are you?
Thanks for your feedback, please see [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/5405#issuecomment-624118384)
Thanks

[2020-07-23 14:02] get-itips commented on #6188
Hello @KirkMunro Kirk, how are you? Hope you are doing good.
Also noted this. We will need to close this for now as it is not a documentation issue, however, will try to forward this to the team as that was your intention.
Thanks for your feedback.

[2020-07-23 14:27] get-itips commented on #6193
Hello @Ovyone
How are you?
Thanks for your feedback, please see [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/5405#issuecomment-624118384)
Thanks

[2020-07-23 14:39] get-itips commented on #6180
@Markus-Hanisch
I am using this version

`Version : 16.0.20212.12000`

Which is higher than the one you report and I can use the OrgAssetsType param

[code]

Hope this info helps you.

[2020-07-23 14:42] get-itips commented on #6196
Hello @sparkitect Jim,
how are you?
Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there.
Thank you!

[2020-07-23 14:42] get-itips commented on #6190
Hello @joshtransient How are you?
how are you?

Thanks for your feedback.
I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), a member of the PnP community will handle your request there. The documentation for PnP cmdlets is directly reflected from cmdlet's source code and then impacted on this repo.

Thank you!

[2020-07-23 14:57] joergrenn opened #6206 "A lot of parameters missing in description"
Compared to Set-CASMailbox this Set-CASMailboxplan documentation is missing a lot of parameters.
It only lists
 [-ActiveSyncEnabled <Boolean>]
 [-ImapEnabled <Boolean>]
 [-PopEnabled <Boolean>]
when I do a get-casmailboxplan I get a lot more parameters that also correspond to the parameters available on set-CASMailbox:
MAPIEnabled
MapiHttpEnabled
EwsEnabled                              :
EwsAllowO

[2020-07-23 15:10] Markus-Hanisch commented on #6180
@get-itips
Okay, sounds promising :)
I will update to the latest version and try again. :)

[2020-07-23 15:42] joergrenn opened #6207 "What about "'Microsoft Sync technology" protocol"
To my knowledge the  "'Microsoft Sync technology" is a new protcol used in newer versions of "outlook for ios or android" and the "new outlook for macOS".
Can this protocol also be blocked by client access rules?
Could you give some information about that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a161a14-001a-3b

[2020-07-23 17:38] get-itips commented on #6189
Hello @ZB-BT How are you?
Tried and received the same error, however, tried specifying a `-TelephoneNumber` and did not receive an error.
In case you still receive an error I recommend opening a support ticket directly from your tenant.
Thank you

[2020-07-23 17:49] joshtransient commented on #6190
This is a documentation issue, and I was linked here from the docs.microsoft.com page. If the button on docs.microsoft.com sends to the wrong place, then it needs to be updated.

[2020-07-23 17:53] get-itips commented on #6190
You are 100% right, but for now I need to kindly redirect you and all the other users that open PnP issues to the right resource so you/they can have answers from the PnP maintainers.
Hope this clarifies it to you. Thank you!

[2020-07-23 20:02] desmay opened #6208 "Set-Label"
Set-Label documentation seems outdated to all the new parameters added recently

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0b60455-890d-a34f-4801-8a48463094f4
* Version Independent ID: 1b20db7d-a508-8523-2309-a3d9f5d08dd7
* Content: [Set-Label (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange

[2020-07-23 20:33] 50monkeys commented on #6168
@Eric-ITaaS  This is a known issue going on right now. You can see details and Microsoft provided workarounds in this community post, which is monitored and updated by Microsoft: https://answers.microsoft.com/en-us/msoffice/forum/all/cannot-connect-to-exchange-online-via-powershell/25ca1cc2-e23a-470e-9c73-e6c56c4fbb46?page=1

[2020-07-23 21:15] dariomws commented on #6178
Hi @Apoc70, thank you for your feedback and help us to improve docs.microsoft.com.

I'm not sure if I understand it. I think there is no mention in this article about the preview version of the module, and there is a note about the supported PS version:
"Currently, the latest version of PowerShell that's supported for the EXO V2 module is PowerShell 5.1. Support for later versions of PowerShell (a

[2020-07-23 21:37] chrisda commented on #6207
@joergrenn, I don't know. Your best bet is to open a support ticket and ask.

[2020-07-24 06:10] Apoc70 commented on #6178
Hi @dariomws,

The current release of the EXOv2 module is 1.0.1. That version does not require PowerShell 7, as far as I am aware now.

In the measure for disabling Basic Authentication in Exchange Online, the Exchange PG published a blog post describing the steps required to run automated PowerShell scripts using Modern Authentication. That post refers to https://docs.microsoft.com/powershell/exc

[2020-07-24 06:59] OfficeGlobal commented on #6095
Hello @get-itips , yes the article https://docs.microsoft.com/ja-jp/powershell/sharepoint/sharepoint-online/connect-sharepoint-online?view=sharepoint-ps was HumanTranslated and published live.

**JPN repository:** https://github.com/MicrosoftDocs/office-docs-powershell.ja-JP/blob/live/sharepoint/docs-conceptual/sharepoint-online/connect-sharepoint-online.md

![image](https://user-images.githubuser

[2020-07-24 07:09] joergrenn commented on #6207
@chrisda, sure I can do that. But shouldn't the documentation also say something about that? If there are protocols that the commands cannot block this would be good to know for administrators.

[2020-07-24 11:26] toffitomek opened #6213 "Overview link doesn't work"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f5227-2b47-3487-99bb-222d18d43552
* Version Independent ID: e7833ab4-d2b1-5840-4f2c-dda86599d3af
* Content: [Microsoft Whiteboard Admin](https://docs.microsoft.com/en-us/powershell/module/whiteboard/?view=whiteboard-ps)
* Content Source: [whiteboar

[2020-07-24 12:23] get-itips commented on #6095
@OfficeGlobal
Thanks for the information, did not know about that metadata value, it will be useful for future reference.
It seems that repo is private. cc @yogkumgit

[2020-07-24 12:25] dkotars commented on #6181
Awesome. Thanks all!

[2020-07-24 12:25] #6181 closed

[2020-07-24 14:16] yogkumgit commented on #6179
@get-itips  Thank you very much for the contribution and sharing this explanation. @MSTejas Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-24 14:16] #6179 closed

[2020-07-24 14:19] yogkumgit commented on #6188
@get-itips  Thank you very much for the contribution and sharing this explanation. @KirkMunro Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-24 14:19] #6188 closed

[2020-07-24 14:22] yogkumgit commented on #6193
@get-itips  Thank you very much for the contribution and sharing this explanation. @Ovyone Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-24 14:23] #6193 closed

[2020-07-24 14:25] yogkumgit commented on #6180
@get-itips  Thank you very much for the contribution and sharing this explanation. @Markus-Hanisch Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-24 14:27] yogkumgit commented on #6196
@get-itips  Thank you very much for the contribution and sharing this explanation. @sparkitect Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-24 14:30] yogkumgit commented on #6190
@get-itips  Thank you very much for the contribution and sharing this explanation. @joshtransient Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-24 14:30] #6190 closed

[2020-07-24 14:32] yogkumgit commented on #6189
@get-itips  Thank you very much for the contribution and sharing this explanation. @ZB-BT Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-24 14:32] #6189 closed

[2020-07-24 16:34] chrisda commented on #6207
@joergrenn, maybe. But let's see what they say when you open your support case and ask, "I want to use Client Access Rules to block the Microsoft Sync protocol (New Outlook for Mac and Outlook for IOS and Android)". That is a much more specific question and will get much more attention from the product team.

[2020-07-24 16:49] robert5150 opened #6214 "Validate-RetentionRuleQuery - fails to do anything"
If i run:

PS C:\Users\robert> Validate-RetentionRuleQuery 'from:"Ann Beebe" AND subject:northwind'

I get the below output:

WARNING: The query string contains workload-specific properties. So, it should only be applied to workload which can understand these properties.

So while the command runs, it doesnt work in terms of validating the rule.

Robert

[2020-07-24 16:52] Markus-Hanisch commented on #6180
@get-itips
Hmm strange... I have updated to the latest version.
_Side note:
I have installed several versions of this module on that machine. (dependencies of the Microsoft365DSC module)_
I imported the latest version by `Import-Module` cmdlet. The parameter `OrgAssetsType` does not show up.

So I used another machine, updated to the latest version of the module and the parameter showed up as expe

[2020-07-24 16:56] dariomws commented on #6168
Thank you @Eric-ITaaS and @50monkeys,

I cannot reproduce the error:
![image](https://user-images.githubusercontent.com/33589238/88415550-0e3ee900-cdb5-11ea-9e64-a9626e1864aa.png)

Did you try with "Connect-ExchangeOnline -UserPrincipalName <UPN> -ShowProgress $true"?

I want to make sure you get the proper assistance for this issue. Let's get you over to support who has the resources to find a re

[2020-07-24 17:11] dariomws commented on #6178
@Apoc70 thank you for your comment and kindly provide more detail.

Yes, EXOv2 module 1.0.1 is supported on PS 5.1. About the preview module, I didn't test it on PS 7 but I think it's not a requirement, it works on 5.1:
![image](https://user-images.githubusercontent.com/33589238/88416621-e2246780-cdb6-11ea-87b4-ed163683992e.png)

I understand that the preview module was announced to support unatte

[2020-07-24 17:14] get-itips commented on #6180
Thanks for getting back and sharing that feedback. Glad that you finally obtained access to the parameter.

[2020-07-24 17:34] breakpoint7 opened #6215 "Isolating why Connect-PnPOnline fails for some accounts?"
We've run into a scenario where Connect-PnPOnline fails for *some* accounts that are configured (as best we can tell) identically.  Using PnP version - SharePointPnPCoreOnline.3.23.2007

All these accounts succeed with -UseWebLogin and other variations of auth, but we're finding that the same call to pass creds will fail on *some* of the accounts.  All of them are setup the same in terms of AD ena

[2020-07-24 17:43] chrisda commented on #6178
@dariomws, I tend to agree with you. The current production module only supports PowerShell v5.1 (not v6 or v7). It wouldn't surprise me that the v2.0.3 Preview module **adds** some level of support for later versions of PowerShell, but I would be shocked if the v2.0.3 module **removes** support for PowerShell v5.1.

@Apoc70, installing standalone (typically updated) versions of PowerShell (the Wi

[2020-07-24 19:40] dariomws commented on #6187
Hi @tofkamp, thank you for your feedback and help us to improve docs.microsoft.com.

If we have not enabled DKIM, Office 365 automatically creates a 1024-bit DKIM public key for all the custom domains and the associated private key which are stored internally in Microsoft datacenters. By default, Office 365 uses a default signing configuration for all domains that do not have a policy in place. Th

[2020-07-24 21:19] sparkitect commented on #6196
According to https://docs.microsoft.com/en-us/office365/enterprise/content-delivery-networks:
[code]

Perhaps the documentation here should note that as well; the Applies To tag indicates only "SharePoint Online" which doesn't really distinguish between 'clouds'...

[2020-07-24 21:27] get-itips commented on #6196
@sparkitect Jim, here is the document you have to create the issue against to

https://github.com/pnp/PnP-PowerShell/blob/master/Commands/Admin/SetTenantCdnEnabled.cs

https://github.com/pnp/PnP-PowerShell/issues

Thanks

[2020-07-24 23:29] sparkitect commented on #6196
@get-itips I humbly disagree: The command is working exactly as it is supposed to, given that it is _not supported_ in SharePoint Online **GCC**.

However, the _documentation_ for the command fails to mention that it is not supported in SharePoint Online **GCC**.

[2020-07-24 23:32] get-itips commented on #6196
Jim, I understand that, the thing is that *any* PnP related issue/feedback/comment has to be handled in that other repo I referenced.
Documentation for PnP cmdlets is then reflected here.
Please let me know if that clarifies it to you. Thank you.

[2020-07-24 23:37] get-itips commented on #6196
@sparkitect Jim, if you feel this other doc that you referenced needs a fix https://docs.microsoft.com/en-us/office365/enterprise/content-delivery-networks please, kindly open an issue against it (because it lives in another repository) Thank you!

[2020-07-24 23:47] #6197 closed

[2020-07-25 00:06] sparkitect commented on #6196
No, that doc is correct in that is **does** mention that the Office 365 CDN is not supported in SharePoint Online **GCC** whereas this doc does not.

[2020-07-25 13:34] DEberhardt commented on #3797
I have not found a UserVoice for this request, so I created a new one:
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/40995259-more-powershell-commands-for-csonlineaudiofile-ge

Is there any news from the Product team in the last 11 months?

Thanks,
David

[2020-07-26 05:36] #6180 closed

[2020-07-26 05:38] yogkumgit commented on #6168
@dariomws  Thank you very much for the contribution and sharing this explanation. @Eric-ITaaS Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update

[2020-07-26 05:38] #6168 closed

[2020-07-26 05:42] yogkumgit commented on #6178
@dariomws  and @chrisda  Thank you very much for the contribution and sharing this explanation. @Apoc70 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-26 05:57] yogkumgit commented on #6187
@dariomws  Thank you very much for the contribution and sharing this explanation. @tofkamp Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-26 05:57] #6187 closed

[2020-07-26 08:08] RoMi67 opened #6221 "Lincolns or Cadilacs as in Apples or Androids Argument"
Apples are for EDUCATION And ANDROIDS are for R&D; Case closed; Hr. Robert Hamid Reza Bakhtiari-Mizani Jr. TTEE; RM 7.26

[2020-07-26 22:38] sheykh-sleky opened #6222 "Get-PnPProvisioningTemplateFromWeb not centering text"
So, user error.  Right?  But when I issue "get-pnpprovisioningtemplate -out siteContent.xml" it runs and seems ok.  There is a webpart that has red, 'strong' and centered text.  When I apply that xml the text is red and strong just left justified.

What am I doing wrong?  What info can I provide?

PS G:\> Get-Module -Name Microsoft.Online.SharePoint.PowerShell -ListAvailable | Select Name,Version

[2020-07-27 05:49] #6221 closed

[2020-07-27 09:11] andrePKI opened #6223 "Get-InboundConnector and Get-AdminAuditLogConfig not found?"
Running ORCA gives a nice report, but the PowerShell console shows two error messages "The term '...' is not recognized as the name of a ..." for these 2 CmdLets.
I have
[code]
and no clue how to solve this.
Or is is not an issue, as the report seems to be generated fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-07-27 15:12] get-itips commented on #6213
Thanks for reporting @toffitomek

[2020-07-27 15:18] get-itips commented on #6205
Hello @TheHailender Jens

how are you?
Thanks for your feedback.
Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, a member of the PnP community will handle your request.

Thank you!

[2020-07-27 15:18] get-itips commented on #6215
Hello @breakpoint7
how are you?
Thanks for your feedback.
Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, a member of the PnP community will handle your request.

Thank you!

[2020-07-27 15:18] get-itips commented on #6222
Hello @sheykh-sleky
how are you?
Thanks for your feedback.
Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, a member of the PnP community will handle your request.

Thank you!

[2020-07-27 15:20] VeloGeek opened #6225 "Wondering ETA on Powershell 7 compatibility?"
Greetings,

I was wondering what the roadmap is to having the Exchange Online v2 available for use with PowerShell 7?  I'm specifically looking into adding some EXO scripts to my Azure Shell environment but at the time of writing this it appears that is not possible.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-07-27 17:33] chrisda commented on #6178
@Apoc70, @dariomws, I received official confirmation that the v2.0.3 version of the module does not require or even support PowerShell Core (v6 or v7).

[2020-07-27 18:24] ankitjoshi8518 opened #6230 "winrm set does not work on Powershell 5"
winrm set winrm/config/client/auth @{Basic="true"}
 THe above command does not workin Powershell v5

Details of my powershell version is as below:

Name                           Value
----                           -----
PSVersion                      5.1.19041.1
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.19041

[2020-07-27 19:15] yllekz opened #6232 "Example 3 has incorrect syntax"
Incorrect quote wrapping in example 3. The correct syntax is:

`New-MailboxSearch -Name "Hold-tailspintoys" -SourceMailboxes DG-Research -SearchQuery '"Patent" AND "Project tailspintoys"' -InPlaceHoldEnabled $true`

Please feel free to test, confirm, and update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f98dd9f5-8

[2020-07-27 19:32] philrice commented on #147
Im having this issue also - Azure PowerAutomate + connect-microsoftteams with a runas account or any other service account

Is there a special way to do this or can it be confirmed that it doesnt work and isnt going to at least

[2020-07-27 21:13] dariomws commented on #6202
Hi @Canis-Lupis, thank you for your feedback.

-ResetDefault parameter is what you are looking for I think.

[2020-07-27 21:16] dariomws commented on #6203
Hi @wedataintelligence, thank you for your feedback but I think you missed the detail about what you think we need to improve in this article.

We'll proceed to close this issue, if you want to provide us with more detail just came back here with another comment and we can open the issue again.

[2020-07-27 21:24] dariomws commented on #6206
Hi @joergrenn, thank you for your feedback.

I confirm that the parameters you listed are the only ones available for this cmdlet:
![image](https://user-images.githubusercontent.com/33589238/88593591-2cffe280-d036-11ea-96da-6c1b99949729.png)

They are not available because you cannot use them. If you think some of them should be available,  I need to kindly redirect you to this resource https://of

[2020-07-27 21:37] dariomws commented on #6201
Hi @dkotars, thank you for your feedback and help us to improve docs.microsoft.com.

I tested it on my lab tenant and it works:
![image](https://user-images.githubusercontent.com/33589238/88594744-270b0100-d038-11ea-995b-898ddf4f99c3.png)

For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limi

[2020-07-27 22:58] evmc02 opened #6235 "Get-Team -User $null"
When running Get-Team, the -user parameter seems to take $null as a value without erroring...not sure if this is by design or not?

[2020-07-28 05:20] yogkumgit commented on #6205
@get-itips  Thank you very much for the contribution and sharing this explanation. @TheHailender Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 05:20] #6205 closed

[2020-07-28 05:22] yogkumgit commented on #6215
@get-itips  Thank you very much for the contribution and sharing this explanation. @breakpoint7 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 05:22] #6215 closed

[2020-07-28 05:25] yogkumgit commented on #6222
@get-itips Thank you very much for the contribution and sharing this explanation. @sheykh-sleky Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 05:25] #6222 closed

[2020-07-28 06:44] Apoc70 commented on #6178
@chrisda The primary issue, at this point, is not that the module itself needs PS v6/7.
The currently documented steps for installing that ExchangeOnlineManagement module using Install-Module use parameters that are not available in PS v5 on Windows Server 2019 or Windows 10.
The parameter **AllowPrerelease** is unknown, and a string as the version number is not supported.

Example on PowerShell G

[2020-07-28 06:48] yogkumgit commented on #6202
@dariomws Thank you very much for the contribution and sharing this explanation. @Canis-Lupis Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 06:48] #6202 closed

[2020-07-28 06:57] yogkumgit commented on #6203
@ Thank you very much for the contribution. @wedataintelligence  If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 06:57] #6203 closed

[2020-07-28 07:01] yogkumgit commented on #6206
@dariomws Thank you very much for the contribution and sharing this explanation. @joergrenn Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 07:04] yogkumgit commented on #6201
@dariomws  Thank you very much for the contribution and sharing this explanation. @dkotars Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2020-07-28 07:04] #6201 closed

[2020-07-28 07:47] joergrenn commented on #6206
A suggestion for this exists in the uservoice already for two years and nothing happens.
Very sad.

[2020-07-28 08:03] yogkumgit commented on #6206
@joergrenn  Thank you very much for your kind feedback. I agree with you and can understand your feelings. Uservoice requests follow certain norms. We have to wait for concerning team to evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-07-28 08:03] #6206 closed

[2020-07-28 08:48] AmaniSakr opened #6236 "Issue while setting the "EmailAddresses" value for an O365 group while authenticating with App only"
I have an issue when i try to set the EmailAddresses value for a unified group while authenticating with app Id and certificate it throughs the following error

We failed to update the unified group. Please try again later.
    + CategoryInfo          : NotSpecified: (:) [Set-UnifiedGroup], TaskException
    + FullyQualifiedErrorId : [Server=DBAPR05MB7045,RequestId=766c42f5-10c0-49d6-8c03-92e9e01a

[2020-07-28 09:36] joergrenn commented on #6207
@chrisda my experience with the MS support has been mediocre at best. Most of the time the don't even understand the implications of a question. They are not connected to the product teams.
I opened a ticket regarding this anyway and after some back and forth the answer was, you cannot block the microsoft sync protocol currently with client access rules.
And then there is always the suggestion tha

[2020-07-28 10:56] trudolf-msft opened #6238 "Parameter CertificatePassword missing"
I ran into an issue when connecting because Parameter CertificatePassword is missing!
You need to have a SecureString and pass this variable to cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c465a6d5
* Content: [App-only

[2020-07-28 11:00] trudolf-msft commented on #6238
![image](https://user-images.githubusercontent.com/43539433/88657472-46ef0300-d0d2-11ea-85b8-620cf8ba868c.png)

[2020-07-28 12:19] get-itips commented on #6095
Hello @kefujino
I can confirm this was internally handled and fixed, you should see the change soon when the page gets published.
Thanks

[2020-07-28 13:34] get-itips commented on #6196
Hello @sparkitect
Jim, how are you?
Returning to this thread to summarize:

Essentially, the documentation for PnP cmdlets is synchronized into the _office-docs-powershell_ repo, that's why the feedback about it lands here, however, collaborators that handle PnP cmdlets (**including documentation**) work in this repo https://github.com/SharePoint/PnP-PowerShell/ that is the reason I redirected you

[2020-07-28 13:36] get-itips commented on #6160
Can you please detail what would be "right" resource here? Thanks

[2020-07-28 13:38] get-itips commented on #6127
Hello @danny-levin Danny, can you kindly confirm if you had any update ? Thanks

[2020-07-28 13:54] dariomws commented on #6178
@Apoc70 Good find, thanks!

@chrisda What I see is that we don't have the -AllowPrerelease parameter before updating PowerShellGet. I tested it in a new Azure VM with Windows 10 and another one with Windows 2019. I think we should also add this line:
"Install or update the PowerShellGet module as described in Installing [PowerShellGet](https://docs.microsoft.com/en-us/powershell/scripting/gallery/

[2020-07-28 16:17] chrisda commented on #6178
@dariomws, yes, that sounds fine.

[2020-07-28 16:58] sparkitect commented on #6196
Thanks for the clarification, Andres.

I think the confusion comes form the fact that the page includes a button to ‘Submit and view feedback for this page’. If in fact the feedback for this page should be submitted elsewhere, perhaps that button should lead elsewhere as well.

I will try to find time to submit my feedback to the other repro, but perhaps something can be done so that this doesn’t

[2020-07-28 17:03] get-itips commented on #6196
@sparkitect Jim, I agree with you, I already reported that in the past and I understand is being taken care of. Thanks for your understanding and time expended.

[2020-07-28 17:50] kaishuipinggai commented on #6127
Let me sync with my team and then we should either apply this restriction as a fix or update the doc here.

[2020-07-28 17:51] get-itips commented on #6127
Thank you

[2020-07-28 23:24] DEberhardt commented on #6160
A Unified Group in this case. Get-UnifiedGroup is what I have found, though I would also need a connection to ExchangeOnline. Is there any other way to verify my target reliably?

[2020-07-28 23:51] ATXstables opened #6243 "* Recommended update to Teams PowerShell. Documentation is lacking."
regarding the link https://docs.microsoft.com/en-us/MicrosoftTeams/teams-powershell-release-notes

After reviewing and implementing the Set-TeamArchivedState it was unclear the documents were read only. However, there is another parameter with read only.

#1) The documentation attempts to address the readonly for site members, but is not clear what happens when a site is archived and if it is visi

[2020-07-29 01:54] dariomws commented on #6214
Hi @robert5150, thank you for your feedback and help us to improve docs.microsoft.com.

I have this comment from the product manager:
"The warning is actually exactly what the validation is supposed to do, it says this is not a KQL which will work for all workloads so it needs to only be used in the appropriate workload (EXO in this case)"

[2020-07-29 02:23] hidekit1 opened #6245 "Missing event types"
When running Get-MailDetailATPReport, following event types may return, but the document doesn't describe those.

ATP-Generated File Reputation
ATP-Generated URL Reputation
EOP URL Reputation
File Detonation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef2614e5-79ab-6493-16b4-dc094d538c06
* Version Independent ID: bd

[2020-07-29 02:24] hidekit1 opened #6246 "Missing event types"
When running Get-MailTrfficATPReport, below events may be returned, but the documentation doesn't describe those.

File Detonation
Malware ZAP
URLList

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d563add-ef66-7a84-8181-8bfe6c12525d
* Version Independent ID: 02171fa8-5e5c-0ce9-36d0-c057961ba86f
* Content: [Get-MailTr

[2020-07-29 10:54] yogkumgit commented on #6196
@sparkitect Thanks for understanding the situation. I am formally closing it here. Have a great day.

[2020-07-29 10:54] #6196 closed

[2020-07-29 12:21] yogkumgit commented on #6214
@dariomws  Thank you very much for the contribution and sharing this explanation. @robert5150 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-29 12:21] #6214 closed

[2020-07-29 12:33] get-itips commented on #6160
Hello David, that appears to be the current way we have, also, it seems the cmdlet will perform a basic validation

    + CategoryInfo          : NotSpecified: (:) [Set-CsCallQueue], OnlineCmdletException
    + FullyQualifiedErrorId : Unspecified,Microsoft.Rtc.Management.Hosted.CallQueue.SetCsCallQueueCmdlet
    + PSComputerName        : admined6.online.lync.com

[2020-07-29 17:08] #6178 closed

[2020-07-29 20:54] #6208 closed

[2020-07-29 21:14] chrisda commented on #6207
Instead of adding a note here, I felt it was more appropriate to add it to the main [Client Access Rules topic](https://docs.microsoft.com/Exchange/clients-and-mobile-in-exchange-online/client-access-rules/client-access-rules).

If and when support for that protocol is added, I'll add to the Set-ClientAccessRule cmdlet reference topic.

Thanks for the feedback.

Closing

[2020-07-29 21:14] #6207 closed

[2020-07-29 21:15] dariomws commented on #6223
Hi @andrePKI, thank you for your feedback.

I cannot help you with ORCA here, we are limited to documentation issues and improvements but I can confirm that Get-InboundConnector and Get-AdminAuditLogConfig cmdlets are available in the Exchange Online PowerShell Module.
Please, check your configuration and permissions.

[2020-07-29 22:43] hrn111 opened #6249 "Parameter in Example 1 incorrect?"
I believe Example 1 on this support page is using an incorrect parameter.
Example 1:  Get-MessageTrace **-MessageTraceId** 2bbad36aa4674c7ba82f4b307fff549f -SenderAddress john@contoso.com -StartDate 06/13/2018 -EndDate 06/15/2018 | Get-MessageTraceDetail

I believe it should be:  Get-MessageTrace **-MessageId** 2bbad36aa4674c7ba82f4b307fff549f -SenderAddress john@contoso.com -StartDate 06/13/2018

[2020-07-30 03:30] dariomws commented on #6238
Hi @trudolf-msft, thank you for your feedback.

-CertificatePassword parameter must be used if you are using a local certificate and it's documented in the article:
[code]

[2020-07-30 03:32] dariomws commented on #6238
@trudolf-msft I verified and the -CertificatePassword parameter was added yesterday to the article.

[2020-07-30 03:34] dariomws commented on #6236
Hi @AmaniSakr, thank you for your feedback.

For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products.

Thank you!

[2020-07-30 03:49] dariomws commented on #6225
Hi @VeloGeek, thank you for your feedback.

We don't have this information here, but you can follow the Exchange Teams blog to news about the EXO V2 module:
https://techcommunity.microsoft.com/t5/exchange-team-blog/bg-p/Exchange
You can see in the blog that they're currently working on support for PowerShell Core, but there is no ETA.

[2020-07-30 07:51] yogkumgit commented on #6223
@dariomws  Thank you very much for the contribution and sharing this explanation. @andrePKI Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2020-07-30 07:51] #6223 closed

[2020-07-30 08:09] yogkumgit commented on #6238
@dariomws  Thank you very much for the contribution and sharing this explanation. @trudolf-msft Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2020-07-30 08:09] #6238 closed

[2020-07-30 08:12] yogkumgit commented on #6236
@dariomws  Thank you very much for the contribution and sharing this explanation. @AmaniSakr Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update i

[2020-07-30 08:12] #6236 closed

[2020-07-30 08:15] yogkumgit commented on #6225
@dariomws  Thank you very much for the contribution and sharing this explanation. @VeloGeek Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-30 08:16] #6225 closed

[2020-07-30 08:27] arkayenro opened #6251 "Syntax error [winrm : Error: Invalid use of command line. Type "winrm -?" for help.]"
same issue as #4884 just on a different page

winrm set winrm/config/client/auth @{Basic="true"}
should be...
winrm set winrm/config/client/auth '@{Basic="true"}'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34fa66b0d268
* Content:

[2020-07-30 15:06] #6232 closed

[2020-07-30 15:08] chrisda commented on #6251
@arkayenro, are you running the command from a Command Prompt (i.e., a DOS window) as described in the topic or from Windows PowerShell? PowerShell requires the quotes; a Command Prompt does not.

[2020-07-30 16:15] #6213 closed

[2020-07-30 20:05] YuriySamorodov opened #6253 "Connect-ExchangeOnline VisualStudio"
Running a command `Connect-ExchangeOnline -UserPrincipalName ( whoami /upn )` results in the error below:

![image](https://user-images.githubusercontent.com/5260172/88968953-cd653980-d2b8-11ea-8268-17231d9dc277.png)

`$Error[0] | select -ExpandProperty Exception`

Module works just fine in the regular PowerShell

[2020-07-31 05:11] sparkf1 opened #6254 "The example area for this command is empty"
The example area for this command is empty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34c44e10-c678-ca4a-2a37-25d733c7c103
* Version Independent ID: 5e931844-2def-11a9-fc57-eddb2216605b
* Content: [Test-CsInboundBlockedNumberPattern (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/test-csinboundbl

[2020-07-31 05:47] jadesolis opened #6255 "Declaring the policy types"
Would be helpful if the policy type values could be shown, how they relate to the Teams Admin Center settings.
For example _TeamsChannelsPolicy_ relate to the  "Teams policy" in TAC;  while _TeamsMeetingBroadcastPolicy_ is the "Teams live events policy"(?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f8afd4c-7828-e7

[2020-07-31 06:55] prasadkpatil opened #6257 "Not able to connect to O365 server using cmdlet 'Connect-ExchangeOnline' with proxy settings"
Hello Team,
I am trying to connect o365 server using Exchange EX0 V2 module below code -

[code]

I am getting following error -

[code]

**I am able to connect with O365 using `New-PSSession`** using same credentails and same proxy settings. Here is code -
[code]

And let me know if you required more information.

[2020-07-31 13:06] MushyMiddle opened #6258 "Get-MessageTraceDetail documentation does not show required parameters or useful examples"
Get-MessageTraceDetail has required parameters, however the docs show all parameters as optional.  Minimally, it seems to require MessageTraceId, however it appears other fields are also required.

Further, the sole example isn't for Get-MessageTraceDetail, but rather for Get-MessageTrace.  While it does pipe the output to Get-MessageTraceDetail, that hardly helps explain how to use Get-MessageTra

[2020-07-31 17:01] dariomws commented on #6249
Hi @hrn111, thank you for your feedback and help us to improve docs.microsoft.com.

If you are using also -SenderAddress I think the -MessageTraceId parameter is fine. Parameter description:
"The MessageTraceId parameter can be used with the recipient address to uniquely identify a message trace and obtain more details. A message trace ID is generated for every message that's processed by the syst

[2020-07-31 23:42] #6245 closed

[2020-07-31 23:42] #6246 closed

[2020-08-02 00:07] tseward commented on #6253
@YuriySamorodov Did you verify you're running PowerShell 3/4/5 and not Core?

https://code.visualstudio.com/docs/languages/powershell#_multiversion-support

[2020-08-02 00:23] YuriySamorodov commented on #6253
@tseward , indeed I was running PowerShell Core. Once I witched to PowerShell 5.1 I was able to connect.
Lots of thanks!
Feel free to close this case.

P.S. On a side note, do you happen to know if PowerShell Core support is going to be implemented anytime soon?

[2020-08-02 00:54] tseward commented on #6253
I don't know the timeline, but it is being worked on https://docs.microsoft.com/en-us/powershell/exchange/exchange-online-powershell-v2?view=exchange-ps#install-and-maintain-the-exchange-online-powershell-v2-module.

[2020-08-02 20:37] Coldry opened #6263 "Isn't it time this page mentioned Teams?"
The introduction of Teams and the steady migration of Skype service into Teams has been in play for some time now. The Set-CSUser command and others in it's set work for Teams as well as Skype but this page still only mentions Skype. That leaves us Teams Telephony adinistrators a little in the dark as to whether we're meant to be using these commands to administer Teams.

Or am I looking in the wr

[2020-08-03 04:08] yogkumgit commented on #6249
@dariomws  Thank you very much for the contribution and sharing this explanation. @hrn111 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-03 04:08] #6249 closed

[2020-08-03 12:12] get-itips commented on #6230
Hello @ankitjoshi8518 Ankit, how are you?
Can you kindly share here the URL of the docs article you are talking about?
Thank you!

[2020-08-03 12:22] get-itips commented on #6235
Hello @evmc02 how are  you?
I could check that, when using $null as input for -User parameter, that behaves the same way as not using the -User parameter at all, this is probably intended by the Product Group, in case you want to propose another behavior, I need to kindly suggest sharing that idea to https://microsoftteams.uservoice.com/ where it can reach the team developing the module.
Many than

[2020-08-03 12:59] prasadkpatil commented on #6257
I set the proxy in Settings. Then imported proxy in PS script.  I am able to connect with O365 server.

[code]
In our current environment, we don't want to configure proxy at System level.
Waiting for your reply.

[2020-08-03 15:12] get-itips commented on #6254
Thanks for noticing and reporting @sparkf1

[2020-08-03 15:43] TimAbmgf opened #6266 "Example fails in Exchange Online"
I have tried to use the #1 example

new-managementrole -Name "Company - Distribution Groups - No Dynamic" -Parent "Distribution Groups" Get-ManagementRoleEntry "Company - Distribution Groups - No Dynamic\*" | Where { $_.Name **-Like** "*DynamicDistributionGroup*" } | Remove-ManagementRoleEntry **_### -WhatIf_**

1st off, I don't believe the example will complete with only the WHATIF command at the

[2020-08-03 21:01] get-itips commented on #6263
Hello @Coldry
How are you?
Thanks for your feedback, please see [this comment](https://github.com/MicrosoftDocs/office-docs-powershell/issues/5405#issuecomment-624118384)
Thanks

[2020-08-03 22:14] KerryWilliamsMS opened #6270 "Powershell examples incorrect"
The page is for the cmdlet Get-PnPMicrosoft365Group but the examples show Get-Microsoft365Group
https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpmicrosoft365group?view=sharepoint-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edc6a450-2594-9b37-5b28-968a71eeb9d9
* Version Independent ID: 708b

[2020-08-03 22:15] get-itips commented on #6243
Hello @ATXstables How are you?
I tested this to see if we need to change the documentation, first I ran

`Set-TeamArchivedState -GroupId 6ac9b942-b495-47d8-b963-89636cee56df -Archived:$true -SetSpoSiteReadOnlyForMembers:$true`

This, archived the Team and set the SharePoint site to Read Only only for members, for example the New and Upload buttons were not anymore present. IMHO the current descrip

[2020-08-04 05:10] yogkumgit commented on #6235
@get-itips  Thank you very much for the contribution and sharing this explanation. @evmc02 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 05:10] #6235 closed

[2020-08-04 06:39] yogkumgit commented on #6263
@get-itips Thank you very much for the contribution and sharing this explanation. @Coldry Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 06:39] #6263 closed

[2020-08-04 09:46] Staffanb88 opened #6271 "Problem with Delegated Access Permissions (DAP) partners"
I try to follow this guide and connect to tenent. https://docs.microsoft.com/en-us/office365/enterprise/powershell/connect-to-exchange-online-tenants-with-remote-windows-powershell-for-delegated?source=docs

Connection works good, but I can´t change anything because I got this error

The user "************.onmicrosoft.com\"***My UPN address***" isn't assigned to any management roles.

[2020-08-04 10:38] 3novsan opened #6272 "DisableFacebook"
In -DisableFacebook parameter, It is mentioned that Facebook integration is enabled by default. My understanding is this switch/parameter is not used anymore and like linkedinenabled switch this too cannot be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa72d71c-a016-bb90-9f2a-dee61e2fba90
* Version Independent

[2020-08-04 11:18] yogkumgit commented on #6253
@tseward  Thank you very much for the contribution and sharing this explanation. @YuriySamorodov Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 11:18] #6253 closed

[2020-08-04 13:27] dariomws commented on #6257
Hi @prasadkpatil, thank you for your feedback.

For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products.

To give you some help in advance, the first e

[2020-08-04 15:53] ankitjoshi8518 commented on #6230
https://docs.microsoft.com/en-us/powershell/exchange/exchange-online-powershell-v2?view=exchange-ps

[2020-08-04 16:19] klawrawkz opened #6275 "New-AuditConfigurationRule "Workload Value" Documentation Incorrect"
In PowerShell using the _Exchange Module | Security & Compliance Center PowerShell_ command
[code]
or (really anything _Intune_ or _OneDriveForBusiness_ but stick with _Intune_ example here)
[code]

Results in an error:

According to the "Documentation" the command accepts other **-Workload** values:

This is not correct. Please update the documentation to reflect the **_actual valid values_** tha

[2020-08-04 16:24] #6272 closed

[2020-08-04 18:11] get-itips commented on #6230
You have to run that command in a command prompt shell

![image](https://user-images.githubusercontent.com/36666927/89328997-969a7500-d664-11ea-907e-dc4633503983.png)

Look at the formatting in the article

![image](https://user-images.githubusercontent.com/36666927/89329119-c3e72300-d664-11ea-99a9-7d6cf09ef60c.png)

Hope this helps you.

[2020-08-04 18:28] #6258 closed

[2020-08-04 21:41] bnp-nz opened #6279 "Possible error with date parameters?"
Hi,

I was trying to get details on a bunch of messages where MessageIDs were contained in a file. This didn't work (returned no results):

foreach($line in Get-Content .\MessageIDs.txt) {
Get-MessageTrace -MessageId $line }

this, however, worked:

foreach($line in Get-Content .\MessageIDs.txt) {

does this mean that this piece of documentation:

"You can use this cmdlet to search message data fo

[2020-08-04 23:06] KFlipDev opened #6280 "Token Information"
Hello, the documentation says to get token via ADAL PowerShell. After reviewing the ADAL Module from here: https://www.powershellgallery.com/packages/ADAL.PS/5.2.7.2/Content/Get-AdalToken.ps1

We are unsure of how to retrieve a token as we do not know which Exchange endpoint to use for the scope.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-08-04 23:07] TorrenManson commented on #6127
Hi,

Are you suggesting that you would apply a limit to Teams to match the documentation? If I’m reading that correctly, I feel strongly that this isn’t the right approach. Ideally there wouldn’t be any restrictions on the number of items that can be configured, as far as emergency calling is concerned.

Thanks,
Torren

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Tuesday, July

[2020-08-05 06:01] KFlipDev commented on #6171
Yeah I'm curious the same. Can we get official steps on how to properly get the access token and if it's properly working with the Exchange Online Management Module?

[2020-08-05 11:26] yogkumgit commented on #6257
@dariomws  Thank you very much for the contribution and sharing this explanation. @prasadkpatil Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-05 11:26] #6257 closed

[2020-08-05 12:22] dariomws commented on #6171
I'm trying to get official information from the PM. Please be patient, once I have some information I'll put a comment here.

[2020-08-05 16:24] chrisda commented on #6271
@Staffanb88, although the procedures for DAP partners are not documented yet, you can use the [EXO V2 module](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2), with the addition (I think) of adding the _DelegatedOrganization_ parameter and value.

Another thing to consider: the error might be describing the problem. Is your account a member of any Exchange Online [role

[2020-08-05 17:59] #6266 closed

[2020-08-05 18:35] kaishuipinggai commented on #6127
We had a discussion with the team and we decided to remove "The Maximum limitation is 10"

I will create a new pull request for deleting this line.

[2020-08-05 19:08] dariomws commented on #6171
Connect using an existing service principal and client-secret is not supported yet. I'm removing this section from the article, my apologies for any inconvenience.

[2020-08-05 19:19] leewisestamp commented on #6171
@dariomws Thanks for the due diligence. Looking forward to that capability.

[2020-08-05 20:15] #6054 closed

[2020-08-05 21:42] #6171 closed

[2020-08-05 22:10] #6114 closed

[2020-08-05 23:16] #5693 closed

[2020-08-06 07:46] yogkumgit commented on #6251
@dariomws Thank you very much for the contribution and updating the documentation with PR. @arkayenro Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-06 07:46] #6251 closed

[2020-08-06 07:50] yogkumgit commented on #5952
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @msftfdbk Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-06 07:57] yogkumgit commented on #6095
@get-itips  Thank you very much for the contribution and sharing this explanation. @kefujino Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-06 07:57] #6095 closed

[2020-08-06 08:01] yogkumgit commented on #6230
@get-itips  Thank you very much for the contribution and sharing this explanation. @ankitjoshi8518 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-06 08:01] #6230 closed

[2020-08-06 08:04] yogkumgit commented on #6243
@get-itips  Thank you very much for the contribution and sharing this explanation. @ATXstables Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-06 08:04] #6243 closed

[2020-08-06 12:58] blindzero opened #6283 "TeamChannelUser CmdLets not available in 1.1.4"
Hi,
starting MicrosoftTeams version 1.0.18 or better should support TeamChannelUser cmdlets.
I have 1.1.4 installed and CmdLets are not available.

[code]

[code]

Anything special to get those?

Best & Thanks,
M.

[2020-08-06 15:42] ParaGlideRocks opened #6284 "Example 2 not working"
Example 2 is not working:

New-CsOnlineLisLocation -Location "Office 202, 2nd Floor" -CompanyName "Contoso" -HouseNumber 3910 -StreetName 163rd -StreetSuffix St -City Bellevue -StateOrProvince WA -CountryOrRegion US -PostalCode 98004 -Description "New civic address location" -Elin TEST_ELIN
**Object reference not set to an instance of an object.**
    + CategoryInfo          : NotSpecified: (:) [N

[2020-08-06 20:22] dbird03 opened #6287 "Unable to use Get-TeamsAppInstallation cmdlet"
I followed the [Install Teams PowerShell public preview](https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-install#install-teams-powershell-public-preview) documentation to install the public preview, and Get-InstalledModule is showing I have version 1.1.4 of the MicrosoftTeams module installed on my workstation, but Get-TeamsAppInstallation is not recognized as a cmdlet. What am I

[2020-08-06 20:37] dbird03 commented on #6287
Thanks to @oshihirii in Issue #6143, I was able to resolve this. The resolution was uninstalling version 1.1.4 and installing version 1.1.3-preview. I ran into a couple errors and had to reload my VS Code a few times (close and re-open PowerShell if not using VS Code), but I basically followed the commands below and eventually got it working.

[code]

[2020-08-06 20:37] #6287 closed

[2020-08-07 10:25] anomepani opened #6289 "How can we disable sharing entirely (for internal and external user) on OneDrive for business?"
we want to implement in my organization like disable internal/external sharing completely so that user can only use onedrive as data storage container without sharing feature at all.
microsoft's one drive team could work on this to make sharing disable option for INTERNAL and EXTERNAL.

For a bank and we need to manage any sharing. This is not a 'feature' that we can have for all our users
For hea

[2020-08-07 15:03] #6254 closed

[2020-08-07 23:41] AndrewJoncas opened #6292 "TlsDomainCapabilities parameter"
For those looking to perform TLS authentication of inbound servers based on their client certificates and assign specific capabilities, it would helpful if the Set-ReceiveConnector's TLSDomainCapabilities parameter could be further documented.

While the following values are listed as valid, it's never fully explained what they do:

- AcceptCloudServicesMail (Exchange 2013 or later)
- AcceptOorgPr

[2020-08-08 06:52] cuicheng11165 opened #6293 "Can not excute Set-UnifiedGroup with App-only authentication"
PS C:\windows\system32> Connect-ExchangeOnline -CertificateThumbPrint "" -AppID "" -Organization ""

PS C:\windows\system32> Set-UnifiedGroup -Identity group2221@baron.space -AutoSubscribeNewMembers:$false
Active Directory operation failed on DM6PR01A05DC005.NAMPR01A005.prod.outlook.com. This error is not retriable.
Additional information: Insufficient access rights to perform the operation.
Activ

[2020-08-08 17:38] LoungeFlyZ opened #6295 ""The password entered exceeds the maximum length of '256'" error when using token authentication"
When using an OAuth token for authentication i get the following error:

`An exception of type 'System.Management.Automation.RuntimeException' occurred in System.Management.Automation.dll but was not handled in user code: 'AADSTS50052: The password entered exceeds the maximum length of '256'. Please reach out to your admin to reset the password.`

**Repro**
_Note: you will need to register an AAD

[2020-08-08 17:56] LoungeFlyZ opened #6296 "Could not load type 'System.Security.Cryptography.SHA256Cng' when calling Connect-ExchangeOnline from netcore 3.1"
When calling the Connect-ExchangeOnline command from a dotnet core 3.1 project the following error occurs:

`'Could not load type 'System.Security.Cryptography.SHA256Cng' from assembly 'System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.. '`

**Repro**
_Note: You need to follow setting up an AAD App per https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth

[2020-08-08 18:02] LoungeFlyZ commented on #6296
Possibly related:  https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1258

[2020-08-09 12:25] abenzim opened #6298 "OrganizerOnly option is missing from AutoAdmittedUsers"
AutoAdmittedUsers should has the option to choose OrganizerOnly but it missing in the documantation.
Already available in SFBO PS session.
![image](https://user-images.githubusercontent.com/56136413/89732043-90d1d480-da54-11ea-8be1-caf7db7f3516.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b9baa8-da13-a24f-af31

[2020-08-09 14:10] Ofer-Gal opened #6299 "Import-PnPTermGroupFromXml : Access denied. You do not have permission to perform this action or access this resource."
Using XML file created with "Export-PnPTermGroupToXml" and xmlns:pnp="http://schemas.dev.office.com/PnP/2020/02/ProvisioningSchema
I am a global admin and a Term Store Administrator but I keep getting error:
Import-PnPTermGroupFromXml : Access denied. You do not have permission to perform this action or access this resource.

Is there some extra instruction I did not see?
Thanks for the help

---

[2020-08-10 13:50] get-itips commented on #6283
Hello @blindzero how are you?
You can see here that [those cmdlets](https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes) belong to the Preview version of the module. (Currently, it is named 1.1.3-preview)
Hope this information helps you,

[2020-08-10 15:48] dariomws commented on #6279
Hi @bnp-nz, thank you for your feedback.

That sentence is correct, you can run this cmdlet without any parameter, and all the messages from the last 48 hours will be returned. (max. of 1000000 results)

[2020-08-10 15:55] dariomws commented on #6280
Hi @KFlipDev, thank you for your feedback and help us to improve docs.microsoft.com.

"Connect using an existing service principal" section was removed 5 days ago. More information:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/6171
https://github.com/MicrosoftDocs/office-docs-powershell/pull/6281

I think you're talking about that section. Not supported yet.

[2020-08-10 16:06] dariomws commented on #6293
Hello @cuicheng11165, thank you for your feedback.

For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products.

Thank you!

[2020-08-10 16:06] get-itips commented on #6284
Hello @kaishuipinggai Jundong how are you? I could verify that the 2nd example throws that error as @ParaGlideRocks says could this be due to the validation status?
This can be overcome by first creating the civic address using New-CsOnlineLisCivicAddress as the first example implies.

[2020-08-10 16:08] ParaGlideRocks commented on #6284
3w222e2222eesw22www2www22ezs

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Monday, August 10, 2020 6:07:05 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Michele Nappa <michele.nappa@live.it>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDoc

[2020-08-10 16:26] blindzero commented on #6283
@get-itips Thanks for that Link. Can somebody update this documentation https://docs.microsoft.com/en-us/powershell/module/teams/add-teamchanneluser?view=teams-ps? It doesnt tell anything about this

[2020-08-10 16:27] #6283 closed

[2020-08-10 16:39] dariomws commented on #6295
Hi @LoungeFlyZ, thank you for your feedback.

Same issue:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/6171

Connect using an existing service principal and client-secret is not supported yet. It was removed from the article 5 days ago. My apologies for any inconvenience.

[2020-08-10 16:45] LoungeFlyZ commented on #6295
@dariomws thanks for the heads up.  That is disappointing. We are currently blocked as there is no way to authenticate using the v2 commands from .net core.  Using the certificate method of authentication is also failing, see: https://github.com/MicrosoftDocs/office-docs-powershell/issues/6296

[2020-08-10 17:31] get-itips commented on #6283
Hello @blindzero how are you? There is a _Important note_ in that article that refers to the beta module, however I will try to improve it to make it clearer. Thanks

[2020-08-10 18:29] dariomws commented on #6296
Hi @LoungeFlyZ, thank you for your feedback.

For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products.

You can also provide feedback about this module

[2020-08-10 18:29] dariomws commented on #6295
For your inquiry I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to help you as here we are limited to documentation issues and improvements.

Support URL: https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products.

You can also provide feedback about this module either on the [blog](https://techcommunity.mi

[2020-08-10 18:36] LoungeFlyZ commented on #6296
@dariomws i'm not sure opening a support ticket will have any impact in this case. The v2 commands are in preview and likely not supported by the support team.  It would be a lot of work and back and forth for little to no progress i suspect.

It seems odd that there isn't a place to report bugs, issues to the team who are building these modules.  This repo seems like a great place to do that.

Pe

[2020-08-10 18:45] LoungeFlyZ commented on #6295
@dariomws like i mentioned in the other issue.  Support will likely be a deadend and not worth the investment.

i'll post links to these issues in the blog post.

[2020-08-10 18:54] dariomws commented on #6296
@LoungeFlyZ It's true, my mistake, to report issues about the EXO V2 module the best place would be a support ticket. In this case, because it's related to the preview version, I think the best place to report this kind of feedback is:
https://techcommunity.microsoft.com/t5/exchange-team-blog/modern-auth-and-unattended-scripts-in-exchange-online-powershell/ba-p/1497387

I'll forward this informati

[2020-08-10 18:55] dariomws commented on #6296
Oh, I see that you left a comment on the blog some minutes ago. Thanks!

[2020-08-10 18:56] dariomws commented on #6295
I replied to you in the other issue. Thanks!

[2020-08-10 22:35] #6275 closed

[2020-08-10 23:12] get-itips commented on #6298
Thanks for reporting @abenzim

[2020-08-11 06:09] yogkumgit commented on #6279
@dariomws Thank you very much for the contribution and sharing this explanation. @bnp-nz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-11 06:13] yogkumgit commented on #6280
@dariomws Thank you very much for the contribution and sharing this explanation. @KFlipDev Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-11 06:13] #6280 closed

[2020-08-11 06:20] yogkumgit commented on #6293
@dariomws  Thank you very much for the contribution and sharing this explanation. @cuicheng11165 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation upda

[2020-08-11 06:20] #6293 closed

[2020-08-11 08:10] limcysam commented on #6299
I am getting a similar issue too. Is there a resolution for this issue?

[2020-08-11 09:10] sayertherebel opened #6307 "Get-MailDetailAtpReport - Limited to 10,000 results"
Hello - It seems that Get-MailDetailAtpReport command of the Exchange Online V2 PowerShell module is limited to returning 10,000 results - Or perhaps the underlying webservice is? I cannot find any reference to this limitation in the docs or anywhere else online.

Regardless of the result page size set, attempting to go beyond 10,000 results in the message 'We cannot currently process your request

[2020-08-11 09:18] bnp-nz commented on #6279
OK, thanks guys. Scratching my head as to why my initial command didn't work and why date parameters were required given that it was within 10 days (so therefore Get-HistoricalSearch wasn't required). I was also querying for specific MessageId so the query couldn't have returned a large number of results. I guess I'll play around with this and see if I can replicate the behaviour or come up with s

[2020-08-11 09:23] #6279 closed

[2020-08-11 12:10] get-itips commented on #6289
Hello @anomepani how are you?
The sharing settings available are the ones that appear here https://admin.onedrive.com/?v=SharingSettings
I do not think you can disable internal sharing completely for example, as that is one of the uses of OneDrive, however you can suggest your idea here https://onedrive.uservoice.com/ where it will reach the product group.
Hope this information helps you,

[2020-08-11 12:15] get-itips commented on #6270
Hello @KerryWilliamsMS how are you?
Thanks for reporting.

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

Thank you!

[2020-08-11 12:15] get-itips commented on #6299
Hello @Ofer-Gal How are you?

Thanks for your feedback.
Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, a member of the PnP community will handle your request.

Thank you!

[2020-08-11 12:25] anomepani commented on #6289
Thanks for your reply. I will suggest the idea in the user voice.

[2020-08-11 14:15] alex15977 opened #6308 "Create-SelfSignedCertificate.ps1 is still generating SHA1 certificates"
The script you are using in this documentation for generating a selfsigned certificate is from 2015 and therefore still generating SHA1 certificates and not SHA2.
Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c465

[2020-08-11 23:29] #6292 closed

[2020-08-12 05:24] thiagobeier opened #6314 "Set-PnPFolderPermission not applying the permissions on"
**ERROR 01:**
Set-PnPFolderPermission not applying the permissions on a sharepoint online site with Portuguese (Brazil) language

ENG: Get-PnPFolder -Url 'Shared Documents/ROOT-Folder/SUB-folder01' | Set-PnPFolderPermission -List 'Documents' -User SEC_Group -AddRole edit

PT-BR: Get-PnPFolder -Url 'Documentos Compartilhados/ROOT-Folder/SUB-folder01' | Set-PnPFolderPermission -List 'Documents' -Use

[2020-08-12 14:17] yogkumgit commented on #6289
@anomepani  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-08-12 14:17] #6289 closed

[2020-08-12 14:20] yogkumgit commented on #6270
@get-itips  Thank you very much for the contribution and sharing this explanation. @KerryWilliamsMS Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-12 14:20] #6270 closed

[2020-08-12 14:22] yogkumgit commented on #6299
@get-itips Thank you very much for the contribution and sharing this explanation. @Ofer-Gal Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-12 14:22] #6299 closed

[2020-08-12 14:38] SanguptaMSFT opened #6316 "Link is not working in the article."
https://www.poshtestgallery.com/packages/MicrosoftTeams.
the link which is mentioned in the article is not working and needs to be reviewed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6b48c32-ad79-4249-638b-f53f9d76397f
* Version Independent ID: 36d9cfe0-cf60-2fa1-41b4-6c6971042394
* Content: [Get-TeamChannel (tea

[2020-08-12 15:00] igor-shubin opened #6317 "New-Mailbox -UserPrincipalName confmbx@contoso.com - A parameter cannot be found that matches parameter name '–UserPrincipalName'."
When I try to run **New-Mailbox** command for **Exchange Online**, I get an error:
`A parameter cannot be found that matches parameter name '–UserPrincipalName'`

Is the parameter `UserPrincipalName `not longer valid? If so, should it be removed from the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaa

[2020-08-12 15:39] yogkumgit commented on #6296
@dariomws Thank you very much for the contribution and sharing this explanation. @LoungeFlyZ Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-12 15:39] #6296 closed

[2020-08-12 15:40] yogkumgit commented on #6295
@dariomws  Thank you very much for the contribution and sharing this explanation. @LoungeFlyZ Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-12 16:37] chrisda commented on #6317
@igor-shubin, the error that's presented when you try to create a new mailbox in Exchange Online by just typing `New-Mailbox` and stepping through the prompts mentions UserPrincipalName, but that's incorrect; the UserPrincipalName parameter is on-premises only (and is described as on-prem only in the topic).

[code]

The equivalent parameter to use in Exchange Online PowerShell is **MicrosoftOnlin

[2020-08-12 22:31] LoungeFlyZ commented on #6295
@yogkumgit honestly, its not that helpful.  having a place to report bugs and issues about the powershell commands themselves would be helpful.  Just having this repo being about docs is good, but i am sure others are also looking for a place to report issues.  Doing that on a blog post is pretty bad IMHO.

[2020-08-12 23:16] kaishuipinggai commented on #6284
It needs to add the "CivicAddressId" parameter to pass the civic address id. I will update in the doc.

[2020-08-13 02:16] JustineNicole2020 opened #6319 "Import-PSSession $Session -DisableNameChecking"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Independent ID: 4d69ee5d-5a6d-a203-69fe-bf5441a8b5eb
* Content: [Connect to Exchange Online PowerShell with Basic authentication](https://docs.microsoft.com/en-us/powershell/exchange/connect-to-exchange-o

[2020-08-13 06:27] Muxxx opened #6320 "Still no support for Private Channels with New-TeamChannel cmdlet"
Can we please get an update on this, as it's now August 2020 and the last update was from January for PowerShell public support. The current version (1.1.4) still doesn't include this support. Any updates would be great.

[2020-08-13 07:26] stoff75 opened #6321 "Support for MFA?"
This cmdlet doesn't appear to have support for MFA? No matter which Skype module I use I can't get the credential to work when I have MFA enabled. So the only way for me to move my users from on-prem to online is by disabling MFA - **on an admin account** ? Regards // Kristoffer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-08-13 07:45] igor-shubin commented on #6317
@chrisda I'm sorry for my inattention . Thank you for the explanation.

[2020-08-13 07:45] #6317 closed

[2020-08-13 11:22] get-itips commented on #6284
Thanks @kaishuipinggai Jundong, please link to this issue when creating the PR. Appreciate.

[2020-08-13 13:49] robertcaretta opened #6322 "Get-ComplianceSearchAction - Inputs & Outputs"
Could you please complete the documentation for Inputs and Outputs? Thank you.
https://docs.microsoft.com/en-us/powershell/module/exchange/get-compliancesearchaction?view=exchange-ps#outputs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c88089d-82e3-9d16-780a-51411ed2a095
* Version Independent ID: b74df581-0143-996a-

[2020-08-13 14:01] yogkumgit commented on #6295
@LoungeFlyZ I agree with you. Currently, here we are helping only documentation update. Apologies, proceed to close it.

[2020-08-13 14:01] #6295 closed

[2020-08-13 14:29] MikaelBSB opened #6323 "Can't create teams with Template EDU_Class"
[Enter feedback here]
When i want to create team with this command nothing happens :
       New-Team -DisplayName "Tech Reads"  -Template EDU_Class

but when i do this command it's OK :
       New-Team -DisplayName "Tech Reads"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 549c7d86-87b3-5c82-d2b3-a0cc0b4faa11
* Versio

[2020-08-13 16:37] dariomws commented on #6295
@LoungeFlyZ When the Exchange Online PowerShell V2 module was in Preview, if you have any feedback, concerns, or are facing any issues, you could contact PG at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).
It's another option for you.

[2020-08-13 16:42] chrisda commented on #6322
@robertcaretta, the results of the platyPS utility that we use to dump cmdlets to topics only shows this:

## OUTPUTS

### System.Object

Typically, we don't spend time documenting output properties for cmdlets because a) they change frequently and without warning, b) they often contain unmodifiable or datacenter-centric values (in other words, those properties don't correspond to parameters in th

[2020-08-13 16:44] #6160 closed

[2020-08-13 16:57] robertcaretta commented on #6322
HI Chris,

I figured as much, but thought I would inquire. I totally understand. We
are running a fairly large batch of eDiscovery searches and exports. We ran
into a 3 exports per user limit, and also a 10 per tenant limit. Was
curious if there was a way to poll the compliance center for the number of
active exports currently running for each of those limits. So I started
researching other cmdlet

[2020-08-13 17:44] kaishuipinggai commented on #6284
@get-itips Sure will do. Thanks!

[2020-08-13 18:03] pschaeflein opened #6325 "The Configuration parameter is not optional"
This cmdlet will fail unless the Configuration parameter is specified. The syntax diagram has the parameter in brackets ('[') which usually indicates an optional parameter.

In addition, the Configuration parameter is not shown in any examples.

Reference: https://github.com/pnp/PnP-PowerShell/issues/2587

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-08-13 18:26] shrikantbhere opened #6326 "Update the ConnectionURI"
[Enter feedback here]
Please update the below ConnectionURI to this page, as it allows the global users to connect.
https://ps.compliance.protection.outlook.com/powershell-liveid/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b188049-5302-25da-5bd2-89401be1db96
* Version Independent ID: a1d18859-a50d-acd2-1ef1-372992

[2020-08-13 19:31] dariomws commented on #6107
Hi @JustinGrote, sorry for the delay.

I didn't get the approval to add this information to the article. Anyway, your article is public so anyone can access and take advantage of it.

Thanks again, for taking out some time to open the issue. I appreciate and encourage you to do the same in the future also.

[2020-08-13 20:29] chrisda commented on #6326
@shrikantbhere, are you saying that the ConnectionUri value is required to connect? The way the topic is currently written, you don't need to specify a ConnectionUri value for 'regular' O365/M365 Security & Compliance Center PowerShell.

And if the ConnectionUri value is required, is an AzureADAuthorizationEndPointUri parameter value also required?

[2020-08-13 21:52] Kaliyani commented on #6323
I am also getting the same error.

`New-Team -DisplayName $teamName -Description $teamDescription -Visibility $teamVisibility -Template EDU_Class`

![image](https://user-images.githubusercontent.com/38673860/90190111-05ea3480-dddc-11ea-870f-f83c78bc5fbd.png)

I have installed below Microsoft Teams Powershell module

![image](https://user-images.githubusercontent.com/38673860/90190674-16e77580-dddd

[2020-08-13 23:17] dundir opened #6327 "Delegated Mailbox Permission Module [Powershell] idiosyncracies are not well documented"
For Powershell using the Exchange Online V2 module:

https://docs.microsoft.com/en-us/powershell/module/exchange/set-mailboxfolderpermission?view=exchange-ps

For either module:
Add-MailboxFolderPermission -identity "<user>:\calendar"
Set-MailboxFolderPermission -identity "<user>:\calendar"

Using flags other than -AccessRights {Editor,FullControl} with -SharingPermissionFlags "{Delegate,None}" wi

[2020-08-14 04:49] chrios opened #6328 "-ExchangeArchiveFormat - Default value is IndividualMessage not PerUserPst"
I ran

New-ComplianceSearchAction -SearchName 'Staff Online Mailbox Search' -Export

And it generated an export action with the exchange format being 'IndividualMessage'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f942bcc6-be95-befc-a96b-08ca21dbf4ab
* Version Independent ID: c71194df-8f65-15aa-3ed2-b370b8c3f629
*

[2020-08-14 07:33] MikaelBSB commented on #6323
I have the same version for the module MicrosoftTeams (1.1.4) and  my version for Powershell is 5.1.19041.1

[2020-08-14 08:30] Bart-Hoofd commented on #6323
Regretfully, at this moment only the 0.9.6 module supports the -Template parameter; see https://docs.microsoft.com/en-us/powershell/module/teams/new-team?view=teams-ps:

_IMPORTANT: Using this cmdlet to create a new team using a template is still in preview. You can install and use the preview module from the PowerShell test gallery. For instructions on installing and using the Teams PowerShell pr

[2020-08-14 16:02] yogkumgit commented on #6107
@dariomws  Thank you very much for the contribution and sharing this explanation. @JustinGrote We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-14 16:02] #6107 closed

[2020-08-14 16:21] mailgut opened #6330 "I want to use Powershell - what ist the Redirect Uri for?"
[Enter feedback here]

You write:
Redirect URI, select Web for the type of application you want to create. Enter the URI where the access token is sent to

I want to use Powershell v2 to script Exchange Online and was advised to follow a link to this website. You asks to fill up a Redirect uri for the token. But what server or cloud service i should use for this. Is there an example?

Is it outloo

[2020-08-14 16:45] shrikantbhere commented on #6326
Hello Chris,

Yes, the Connection URI and AzureADAuthorizationEndPointURI parameter are required for regular O365/M365 users to connect.

The Exchange Online PowerShell Module does not allow you to connect without those parameter.

Regards,
Shrikant Bhere
________________________________
From: Chris Davis <notifications@github.com>
Sent: Friday, August 14, 2020 1:59 AM
To: MicrosoftDocs/office-doc

[2020-08-14 18:50] dariomws commented on #6307
Hi @sayertherebel, thank you for your feedback and help us to improve docs.microsoft.com.

I think that maybe you are misinterpreting Pagesize and Page parameters. If all of your messages fit on one page (due to a specific PageSize value, or the default value of 1000), the Page parameter is rather useless (there will be only one page). The smaller the PageSize value, the more likely you are to hav

[2020-08-14 18:51] dariomws commented on #6307
More information:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/918
https://docs.microsoft.com/powershell/module/exchange/get-quarantinemessage#examples

[2020-08-14 19:05] chrisda commented on #6326
@shrikantbhere, the topic has claimed that no ConnectionUri or AzureADAuthorizationEndPointUri for 'normal'/WW O365 tenants since its creation (3+ years ago), and this is the first I've heard about any problems.

I just tested the procedures in a normal E5 tenant, and they worked fine without either of those values with an MFA account.

What is the nature of your subscription/SKU? What errors do y

[2020-08-14 20:08] dariomws commented on #6319
Hi @JustineNicole2020, thank you for your feedback.

Please provide more detail about the issue, here we are limited to documentation issues and improvements. If you find something to improve in this article please let us know.

Also, I recommend that you use the new Exchange Online PowerShell module to connecto Exchange Online:
https://docs.microsoft.com/powershell/exchange/exchange-online-powers

[2020-08-15 00:43] #6328 closed

[2020-08-15 03:33] ryu-sirius opened #6337 "Create Normilization Rule with New-CsVoiceNormalizationRule"
Although normalization rules of a tenant dial plan can be added by using this cmdlet, it is recommended that you use the New-CsVoiceNormalizationRule (https://technet.microsoft.com/en-us/library/gg398240.aspx) cmdlet instead.

When I use the Get-CsVoiceNormalizationRule cmdlet, it does not return my existing Teams Voice Normalization Rules.  I am apprehensive to add normalization rules using the N

[2020-08-15 22:25] adamcball opened #6338 "Article not up to date"
This cmdlet has -EmergencyCallRoutingPolicy and -EmergencyCallingPolicy as options but they are not documented here. In addition, -OnlineVoiceRoutingPolicy is documented here but not a valid option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 634ddbad-5f50-fed2-a334-9fed921b7394
* Version Independent ID: 749077d4-5b

[2020-08-16 13:47] sangitsdhar opened #6339 "Microsoft teams beta module not available in PS test gallery and thus Add-TeamChannelUser not available"
HI,
I tried to install the microsoft teams beta module from the PS test gallery but it says that the module is not present. I need to use the Add-TeamChannelUser command to bulk add team members but am unable to use it in the official version and unable to find the beta module.

[2020-08-16 14:27] sangitsdhar opened #6340 "microsoft teams beta version not available in PS INT gallery"
[Enter feedback here]

The beta version of microsoft Teams is not available in PS INT gallery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74381d05-2e95-4751-4285-752a46eb025f
* Version Independent ID: 2481b258-b593-e323-90f0-e9ca6e7797bf
* Content: [Add-TeamChannelUser (teams)](https://docs.microsoft.com/en-us/power

[2020-08-16 22:36] get-itips commented on #6316
Hello @SanguptaMSFT Thanks for noticing, I will remove the note including the link as [now the cmdlet is GA](https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes), so it is not needed. Thanks

[2020-08-16 22:43] get-itips commented on #6320
Hello @Muxxx Stefano, how are you?
Here we handle documentation issues only, I could verify that `MembershipType` _parameter_ is present in the Public Preview version of the module (currently 1.1.3-preview) and not in the GA, maybe you want to explore it.
More information

https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes

https://docs.microsoft.com/en-us/microsoftteam

[2020-08-16 23:02] get-itips commented on #6321
Hello @stoff75 Kristoffer how are you?

Have you already tried this?

Source: https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/move-users-from-on-premises-to-skype-for-business-online

Does it work for you that way?

[2020-08-16 23:09] get-itips commented on #6323
Hello @MikaelBSB and @Kaliyani as @Bart-Hoofd kindly says here, the -Template parameter is part of the Public Preview module, which current version is 1.1.3-preview

Hope this information helps you

[2020-08-16 23:10] get-itips commented on #6325
Hello @pschaeflein Paul,

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

Thank you!

[2020-08-16 23:11] get-itips commented on #6314
Hello @thiagobeier

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/SharePoint/PnP-PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

Thank you!

[2020-08-17 02:11] msftfdbk commented on #5952
@yogkumgit  I’m sorry, but the new page [doesn’t provide any information](https://github.com/get-itips/office-docs-powershell/commit/5bdeff#diff-e47af804c951019d6d476690574d7c5bR155) about this parameter, just a stub with a description to be filled.

[2020-08-17 07:12] stoff75 commented on #6321
Hello @get-itips ,
I have tried that, without specifying credentials (even when establishing a ps-session with Skype Online Connector beforehand) I get the error "_Move-CsUser : Unable to locate Windows Live ID token from the provided credentials, or from Active Directory Federation Services (AD FS) credentials cache._", so that's not working either :( And this admin user is a Cloud only user.

[2020-08-17 08:25] miha-alithya opened #6342 "problem with powershell command Stop-SPOUserAndContentMove : Failed to stop move in progress"
Hi Everyone !

I used the command Start-SPOUserAndContentMove -UserPrincipalName user@xxx.com -DestinationDataLocation CAN to move an user to another geo location but it still " In progess 4/4 " since more than 24 hours. The OnDrive's is empty.

I tried to use the command Stop-SPOUserAndContentMove but I have an error : " Error Code: -50,Failed to stop the geo move for 'user@xxx.com'. The move is

[2020-08-17 10:25] DevJonBirkett opened #6343 "Description for the "ShareData" parameter is missing."
[Enter feedback here]
Description for the "ShareData" parameter is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d50f632e-418b-b715-80d1-13af57332435
* Version Independent ID: dbea5fd4-8b55-dd74-dec9-62402d35aaf8
* Content: [Set-CsOnlineVoicemailPolicy (skype)](https://docs.microsoft.com/en-us/powershell/modu

[2020-08-17 11:26] get-itips commented on #5952
We are waiting for internal information to fill the description of the parameter, as that it is taking some time the PR was merged but I'll create a new one once I get the missing description. Thanks.

[2020-08-17 11:28] get-itips commented on #6321
I see, thanks for the feedback, will try to get information from the team in case we need to adjust the documentation to state this.

[2020-08-17 13:36] yogkumgit commented on #6307
@dariomws  Thank you very much for the contribution and sharing this explanation. @sayertherebel Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-17 14:17] yogkumgit commented on #6320
@get-itips  Thank you very much for the contribution and sharing this explanation. @Muxxx Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-17 14:17] #6320 closed

[2020-08-17 14:23] yogkumgit commented on #6323
@get-itips  Thank you very much for the contribution and sharing this explanation. @MikaelBSB Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-17 14:37] yogkumgit commented on #6325
@get-itips  Thank you very much for the contribution and sharing this explanation. @pschaeflein Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-17 14:37] #6325 closed

[2020-08-17 14:40] yogkumgit commented on #6314
@get-itips  Thank you very much for the contribution and sharing this explanation. @thiagobeier Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-17 15:00] thiagobeier commented on #6314
much appreciated that'll be done.

[2020-08-17 15:05] #6314 closed

[2020-08-17 15:13] dariomws commented on #6327
Hi @dundir, thank you for your feedback and help us to improve docs.microsoft.com.

There is too much information here and it is difficult to differentiate each of them, I will do my best.

_Online information is authoritative therefore the command-line version of this cmdlet will be updated soon._

_For feature requests, I need to kindly redirect you to this resource: https://office365.uservoice.

[2020-08-17 16:32] sayertherebel commented on #6307
Thanks for the feedback, but I understand the relationship between page and pagesize -  As I indicated I have performed tests that show the page size is not the issue and I was just using 5000 as the quickest example to recreate what I'm seeing - there seems to be a hard limit on results returned at 10,000 being enforced, probably by the underlying web service, that is undocumented as far as I can

[2020-08-17 16:35] dariomws commented on #6307
Thanks for this information @sayertherebel, I'll try to get more information to check if this limit actually exists.

[2020-08-17 16:42] dariomws commented on #6327
I could update permissions from Editor/Delegate to Reviewer, and the meeting message rule was updated:
![image](https://user-images.githubusercontent.com/33589238/90421287-8dab9980-e08f-11ea-99ac-0d840cb81290.png)

[2020-08-17 17:12] dariomws commented on #6327
Maybe I don't understand but if there are missing options in the cmdlet article please let me know so I can update it. Check the following article for more information about delegate options in Outlook:
https://support.microsoft.com/en-us/office/allow-someone-else-to-manage-your-mail-and-calendar-41c40c04-3bd1-4d22-963a-28eafec25926
If you are suggesting to create a new article to compare/detail t

[2020-08-17 17:25] #6298 closed

[2020-08-17 17:42] dundir commented on #6327
Hi Dario,

Thank you for reviewing this.

I just retested this and can confirm the Set-MailboxFolderPermissions module is now working properly without causing a Watson dump. When I initially posted, the Set-MailboxFolderPermission with -AccessRights Reviewer when modifying any rule with the SharingPermissionFlags set would throw a watson dump. It now appears to be silently clearing the SharingPerm

[2020-08-17 17:46] Cryptolaemus commented on #6323
So am I correct in understanding that the only way to get this to work is install version 0.9.6 until Microsoft finally gets these all integrated together in the latest release? It is baffling how things are in preview for longer than new features are released and published in the GA.

[2020-08-17 18:49] get-itips commented on #6337
Hello @ryu-sirius
How are you? Hope you are doing good.

I can see that the sentence you copied from the article can be confusing as this article applies both to on-premises to online so I will try to come up with an improvement to it.

Please confirm me if you tried [this instructions](https://docs.microsoft.com/en-us/microsoftteams/create-and-manage-dial-plans#using-a-powershell-script) to list

[2020-08-17 19:15] ryu-sirius commented on #6337
I found the answer to my question in another document, shortly after posting this thread.

Use the -InMemory parameter to build the array item and add it via the New-CsTenantDialPlan command.

There is an example of this at:  https://docs.microsoft.com/en-us/microsoftteams/create-and-manage-dial-plans#using-a-powershell-script

Thank you for the response, @get-itips .

[2020-08-17 19:16] get-itips commented on #6338
Thanks for noticing @adamcball

[2020-08-17 19:17] get-itips commented on #6337
Yes, that is exactly the same article I referenced, thanks for returning and sharing your feedback!

[2020-08-17 19:24] dariomws commented on #6327
_@dundir good to know that it's working now. If you had the latest module version I'm not sure how it was fixed. Maybe temporary network/connection problem, not sure._

I'll elevate this request to see if this article can be created.

I'll test and/or try to get more information about it.

Thanks!

[2020-08-17 20:17] get-itips commented on #6339
Hello @sangitsdhar
How are you?
The process to use the now called Public Preview module has changed, please see this articles

https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-install

and

https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-release-notes

[2020-08-17 20:18] get-itips commented on #6340
Hello @sangitsdhar please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/6339#issuecomment-675091350

[2020-08-17 20:21] get-itips commented on #6343
Hello @DevJonBirkett Jon, thanks for reporting, the missing description has been already reported and a request for the information is currently on the way. thank you

[2020-08-17 20:21] dariomws commented on #6327
I opened a mailbox (MeganB) in Outlook with Cached Mode configured, removed the only delegate (AlexW) with PS, and sent a meeting to MeganB:
- MeganB received the meeting, not AlexW

Added AlexW again as delegate using PS, sent a meeting to MeganB:
- AlexW received the meeting, not MeganB

Based on this testing, when I update delegates using PS it's impacted immediately in Outlook client. Maybe I'

[2020-08-17 20:23] get-itips commented on #6342
Hello @miha-alithya
how are you? I think your inquiry will be better handled opening a support ticket, as here we are limited to documentation issues or improvements. So please open a support ticket directly from Office/Microsoft 365 Admin.
Thank you

[2020-08-17 21:45] dundir commented on #6327
I had run two tests, the first was similar to yours the only difference was the account contained an additional delegate as a placeholder to test the meeting rule functionality. There are typically only problems with the edge-case of updating the meeting rules when they are not completely removed. Removing the only delegate normally removes all meeting rules. In the case of multiple delegates it h

[2020-08-18 00:31] gristy58 opened #6350 "Invoke-SPOSiteSwap -Force does not exist"
Tried on two tenants that are both TR and -Force does not work.

The PowerShell is incorrectly not allowing the siteswap to proceed despite all errors being fixed with the page diagnostic tool.

Was -Force removed for some other reason?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeb8f8e8-1242-363c-be77-038142b4efb9

[2020-08-18 01:01] #6350 closed

[2020-08-18 02:08] qaehtesh opened #6351 "Document Update Request | Extended Message trace or Historical Search may not return all the result when filtered with Distribution group"
[Enter feedback here]

This is a document update request for scenario where when a report is pulled specifying the the DL email address in the UI or using start-historicalsearch, certain messages may be not returned in the report, however if the report is pulled by specifying DL group member, they appears in the report.
Currently this is by design because we did not log the recipient if it is a Di

[2020-08-18 03:21] jeffreyxrh opened #6354 "skype cmdlets missing Syntax section"
There are various cmdlets in skype that are missing Syntax information, which will cause build errors.
Here is the build report:
![Capture](https://user-images.githubusercontent.com/22847442/90466599-c2c5f380-e144-11ea-8245-a4a1dc785c05.PNG)
The issue is not limited to only these files. Is this behavior expected?

[2020-08-18 07:15] MikaelBSB commented on #6323
i have uninstall the module MicrosoftTeams 1.1.4 and install the version 1.1.3-preview. It works perfect for -Template parameter

[2020-08-18 07:41] gristy58 commented on #6163
i think this should be reopen, i have expierenced it today as well after removing all errors, it is still no good!

[2020-08-18 08:46] miha-alithya commented on #6342
Hi @get-itips
Thanks for your comment.
My bad, I tought it was for technical problem too.
I close this ticket.