[2022-04-27 17:41] dariomws commented on #9081
Sorry to bother you @chrisda, but I'm a bit lost here. Do you think you can help?

[2022-04-27 18:56] Saratoga6 opened #9358 "does not work WITH MAC Thick client v16"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba41cae3-da51-0a3d-1652-bce98452d4dc
* Version Independent ID: a2d20c87-6277-a868-3c2e-e2fe225e6f17
* Content: [Set-ExternalInOutlook (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/set-externalinoutlook?view=exchange

[2022-04-27 20:59] chrisda commented on #9358
@Saratoga6, you should send your issue to the EXO V2 module support alias:

## Report bugs and issues for the EXO V2 module

When you report an issue at `exocmdletpreview[at]service[dot]microsoft[dot]com`, be sure to include the log files in your email message. To generate the log files, replace \<Path to store log file\> with the output folder you want, and run the following command:

[code]

[2022-04-28 00:30] chrisda commented on #9081
@jianhsieh, I did some testing of my own:

- IsDefault does, in fact, work in New/Set-RetentionPolicy as you described.
- Without touching the retention policy that's specified in the mailbox plans ("Default MRM Policy" for me), using IsDefault in Set-RetentionPolicy on a new policy that I created  changed had the following immediate effects:
  - Changed the retention policy of 65/75 of user mailb

[2022-04-28 01:04] jianhsieh commented on #9081
Thank you, Chris,

Extremely detailed explanation! I have no further comments to add.

Regards,
Andy

From: Chris Davis ***@***.***>
Sent: Thursday, April 28, 2022 8:30 AM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Andy Hsieh ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Set-MailboxPlan parameter description is confusing (Issue #9081)

@jianh

[2022-04-28 01:25] #9081 closed

[2022-04-28 04:16] yogkumgit commented on #9355
@JAmler Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-04-28 04:16] #9355 closed

[2022-04-28 06:34] dariomws commented on #9081
@chrisda thank you!

[2022-04-28 18:02] ckarawani opened #9366 "cmdlets are not persisted when executed in sequence too quickly"
Hello, is there any documentation around what the delay should be when performing back to back cmdlets with TPM?

We are noticing that when perform grant commands in sequence (say Granting different policies to a user). If we execute them too quickly in sequence, the changes are sometimes not persisted.

[2022-04-29 05:52] pbafna03 commented on #9366
Hi @ckarawani,

Would suggest raising a support request with details on the Teams PowerShell Module version used, Specific cmdlets & the user(s) this persistence issue happened with. Team can check and suggest accordingly.

[2022-04-29 09:41] yogkumgit commented on #9366
@ckarawani Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation w

[2022-04-29 10:42] ckarawani commented on #9366
@yogkumgit this behaviour is consistent across  multiple tenants and is been noticed since I can remember (since 2.3.1 at least).

I think it needs to be documented if the cmdlets do not support chaining or should not be run sequentially without some form of delay.

[2022-04-29 11:28] yogkumgit commented on #9239
@isrumnon

[2022-04-29 14:50] thewrabbit opened #9371 "Filtering for Global Policy Use"
Again we're impacted by the migration to 4.x.x Teams PowerShell

We have been unable to successfully filter with get-csonlineuser for users who have a no policy applied i.e. are using the Global policy.  This displays in the full output get-csonlineuser as blank entry against this policy.

Previously there were a number of different methods to return this using PowerShell 2.x.x.

However we've bee

[2022-04-29 15:58] isrumnon commented on #9239
Hi @websta911 we'll have this change implemented by mid May. Hope this information helps

[2022-04-29 18:23] chrisda commented on #9284
MTREnabled parameter added and described in PR #9373 .

Thanks for the feedback.

Closing

[2022-04-29 18:23] #9284 closed

[2022-04-29 22:46] chrisda commented on #9276
I'm going to close this issue. The topic has been updated to remove reference to spoken name and Outlook, so now the topic is technically accurate.

[2022-04-29 22:46] #9276 closed

[2022-04-29 22:47] chrisda commented on #9331
@mevaibhav83, your best way forward is to open a support case about this.

[2022-04-29 22:49] chrisda commented on #9257
Closing issue.

Thanks for the feedback.

[2022-04-29 22:49] #9257 closed

[2022-04-30 06:53] HSteindl commented on #9284
Thanks for adding this. However the hedescription is not helpful at all, since it does not explain what this parameter actually does? Is it just for providing additional information in Outlook's roomfinder, does it change anything within the room mailbox, etc.
In other words: What is the difference between setting this to $true vs $false.

[2022-04-30 10:55] yogkumgit commented on #9239
@websta911 We appreciate any feedback and hope this information is helpful. We proceed to close this issue for now. Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to open the issue. Appreciate and encourage you

[2022-04-30 11:03] yogkumgit commented on #9331
@mevaibhav83 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wi

[2022-04-30 11:03] #9331 closed

[2022-05-01 13:18] f0oster commented on #9366
Just to point out, I have a noticed the same behaviour in my tenant.

[2022-05-02 00:11] aspnet4you commented on #8236
This issue has been resolved, I can use set-sposite command with Microsoft 365 E5 Developer (without Windows and Audio Conferencing) license. This issue can be closed.

Just to share the info, I have stayed away from using authentication context as it impacted other processes and  Microsoft is yet to catch up with the impacted resources.

[2022-05-02 00:11] #8236 closed

[2022-05-02 09:44] NAWABDERA1 opened #9377 "INSHA ALLAH Nawab IkramUllah Khan"
http://nawabdera.onmicrosoft.com
http://nawabdera.Wordpress.com
Check out Allah Nawaz Castle on Google! https://g.page/r/CfC5o5bpmeYREAo
Nawabdera.Wordpress.com/nawabdera
Check out Allah Nawaz Castle of the Nawab of Dera Ismail Khan , Bahria Enclave ,Islamabad on Google! https://g.page/r/Cef5O3G3Zt1DEAo
Allah Nawaz Castle of the Nawab of Dera ا للّٰہ نو از کیسل آف نواب آف ڈیرہ اسماعیل خان     Alla

[2022-05-02 17:27] #9377 closed

[2022-05-02 22:09] DontNeedNoGit opened #9380 "Incorrect Information"
Your site says "All email addresses in the global address list (GAL) are automatically considered as trusted senders, so you don't need to add them to the list."
Unfortunately, this is not completely true. If an email address is spoofed, then this is inaccurate. There are legitimate cases for address spoofing. In our case, we use a 3rd party email service to send a newsletter to staff and consulta

[2022-05-02 22:27] chrisda commented on #9380
@DontNeedNoGit, so what would you update that statement to say?

[2022-05-02 22:45] DontNeedNoGit commented on #9380
Ideally, there would be a solution to this situation! Why prevent this in the first place?

In the meantime, it should probably be put into one of the colored boxes to say "**Please note:** we do not currently have a way to add email addresses from the same domain as the recipient's mailbox to the Safe Sender's List. It is usually unnecessary to do this for any addresses in the Global Address List

[2022-05-02 22:54] chrisda commented on #9380
Does adding the spoofed sender in the Tenant Allow/Block List achieve what you're looking for?

https://docs.microsoft.com/microsoft-365/security/office-365-security/manage-tenant-allows#create-spoofed-sender-allow-entries-using-microsoft-365-defender

[2022-05-02 23:29] DontNeedNoGit commented on #9380
No. That only prevents it from going to the Junk Email folder. It does not have any impact on the loading of images in Outlook ("Don't download pictures automatically in standard HTML email messages" in the Outlook Trust Center > Automatic Download settings).

[2022-05-03 04:50] DMoenks commented on #9380
The section in question should probably read "All **mailboxes** in the global address list (GAL) are automatically considered as trusted senders, so you don't need to add them to the list", as there's a difference between an email sent by an internal mailbox with email address X and an external sender with address X, spoofing is spoofing after all.

The probably suggested, way cleaner solution to

[2022-05-03 12:19] #8960 closed

[2022-05-03 12:20] #8991 closed

[2022-05-03 12:21] yogkumgit commented on #9043
@isrumnon

[2022-05-03 12:22] yogkumgit commented on #9170
@henrynr If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-05-03 12:23] #9170 closed

[2022-05-03 12:24] yogkumgit commented on #9215
@slueders-bag Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-05-03 12:24] #9215 closed

[2022-05-03 12:24] yogkumgit commented on #9216
@isrumnon

[2022-05-03 12:28] yogkumgit commented on #9277
@trudolf-msft Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-05-03 12:28] #9277 closed

[2022-05-03 12:28] yogkumgit commented on #9286
@isrumnon

[2022-05-03 12:30] yogkumgit commented on #9358
@Saratoga6 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-05-03 12:30] #9358 closed

[2022-05-03 12:35] sarollins commented on #9043
Running 4.2.0 of the MicrosoftTeams module, I still get the same error

[2022-05-03 13:35] dariomws commented on #9148
@yogkumgit, this issue was reported to the product team.

[2022-05-03 17:02] chrisda commented on #9380
Thanks @DMoenks. My next suggestion was going to be SPF, since it sounds like the third-party service is sending email as if from your own domain.

<https://docs.microsoft.com/microsoft-365/security/office-365-security/how-office-365-uses-spf-to-prevent-spoofing>

<https://docs.microsoft.com/microsoft-365/security/office-365-security/set-up-spf-in-office-365-to-help-prevent-spoofing>

If you still

[2022-05-04 00:49] ealmonte32 opened #9384 "Get-SPOSite -Filtering variables issue"
I've tried so many different ways and thought this was related to and maybe fixed with the PR from this issue: https://github.com/MicrosoftDocs/office-docs-powershell/issues/6431

But seems to still be an issue or this might be a new issue with the filtering..

I am writing a script that as it goes through some active directory users from a list I feed it, it needs to find their SPOSite personal U

[2022-05-04 06:20] LubomirHozak opened #9385 "validate-outboundconnector"
While using the validate-outboundconnector commandlet I found out, that it would be much easier if I could also specify the senders email address, because the default O365ConnectorValidation@tenantName.onmicrosoft.com is using the tenant default domain and not the custom domain which I need to test. Please think about introducing additional parameter to be able to use one of the custom domains.

-

[2022-05-04 10:04] grahammw opened #9387 "What is MTREnabled?"
There is no information on this cmdlet as to what it does? Pleasef can you explain this in more detail about this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af332a3-efc1-49aa-24c2-64b5031a2420
* Version Independent ID: f47bc209-aa9e-f337-1cfa-b8a727a9f780
* Content: [Set-Place (ExchangePowerShell)](https:

[2022-05-04 11:03] isrumnon commented on #9371
Hi @thewrabbit we're looking into this issue and will get back to you soon

[2022-05-04 12:57] kumaarrahul opened #9388 "-SignatureHtml swicth no longer works."
[Enter feedback here]

Hi Team,

The -SignatureHtml switch no longer works. Can the documentation be updated stating the same as this is leading to unnecessary confusion.

The current workaround is to disable 'Roaming signature' feature on the tenant for which a support request needs to be raised.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-05-04 17:44] chrisda commented on #9387
Closing as duplicate of [9284](https://github.com/MicrosoftDocs/office-docs-powershell/issues/9284).

[2022-05-04 17:44] #9387 closed

[2022-05-04 17:46] chrisda commented on #9388
Closing as duplicate of #8537

[2022-05-04 17:46] #9388 closed

[2022-05-04 17:55] chrisda commented on #8537
I added the following note to the top of the SignatureHtml parameter description:

If/when there's ever a way to disable Outlook roaming signatures yourself (or any other fix), I'll updated the note.

OK to close this issue now?

[2022-05-04 18:04] jhosefer opened #9391 "Problems running Compliance Center commands through ExchangeOnlineManagement 2.0.6-Preview6 module"
First, I would like to inform you that the problems reported here only happen when the connection with the IPPSSession is established in the context of an Azure application with authentication via certificate.

How to reproduce:
1) Create an application in Azure AD as per the documentation:  https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps

2) conne

[2022-05-04 19:00] DontNeedNoGit commented on #9380
Spoofed or not, it's still a mailbox in the GAL. So, only changing to that doesn't really clarify anything.

I appreciate the other ideas, but you can't auth a shared mailbox. It's irrelevant anyway because 3rd party email marketing services don't allow you to change how they send. So, I couldn't use the auth or the rest api and use their service.

We've already updated our SPF record. Messages ar

[2022-05-04 19:50] caspChristian commented on #8537
Thank you @chrisda for the update, good to finally have this documented, but what took so long? ;)
Still tho, why is roaming profiles even deployed when there is no cmdlets to manage them? When contacting support they just refer to the roadmap that roaming profiles will be deployed later in 2022 and that it at that time will be cmdlets available to manager signatures. but as we can see here, roami

[2022-05-04 19:50] leewisestamp commented on #8537
Thanks, @chrisda. I think your comment suffices for this issue. Frustrating that it took over six months to get resolved and that we were left without a real fix to the original functionality. But, at least the documentation now accurately reflects what to expect. Cheers.

[2022-05-04 21:29] chrisda commented on #9391
@jhosefer, because that version of the module is still in Preview, you can't open a regular support case about it (you can, but they won't be able to help you). Instead, you should send your information to the module support alias:

## Report bugs and issues for the EXO V2 module

When you report an issue at `exocmdletpreview[at]service[dot]microsoft[dot]com`, be sure to include the log files in y

[2022-05-04 21:33] chrisda commented on #9385
@LubomirHozak, we can't handle feature requests here, just updates to documentation.

Your bet way forward is to open a support ticket.

[2022-05-04 21:38] chrisda commented on #9339
@TheSecAtlas, anything related to content search should be explained here:

<https://docs.microsoft.com/microsoft-365/compliance/content-search>

I would say: don't put too much hope in unavailable parameters. If you can find answers for what you're trying to do, the next step would be to open a support ticket. All we do here is fix documentation.

[2022-05-05 04:45] #7397 closed

[2022-05-05 04:49] isrumnon commented on #9043
HI @sarollins

- Enabled is now renamed to IsSipEnabled hence you might be seeing this error

[2022-05-05 04:52] isrumnon commented on #9286
Hi @lgaudreau the wild card operator is now only supported when used for filtering at the end of the value (i.e., Starts With) with the only exception being filtering on AssignedPlans

[2022-05-05 05:05] #9385 closed

[2022-05-05 05:06] #9339 closed

[2022-05-05 10:07] yogkumgit commented on #9286
@lgaudreau Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-05 11:33] isrumnon commented on #9371
Hi @thewrabbit just to clarify what you mean by no policy applied/global policy - you mean when the input value is null correct?
e.g., Get-CsOnlineUser -Filter "TeamsMeetingPolicy -eq ''"

[2022-05-05 12:12] isrumnon commented on #9239
Hi @websta911 this change is now implemented and should be working

[2022-05-05 12:14] isrumnon commented on #9286
Hi @lgaudreau Filtering on lineuri with ext based numbers should now be working

[2022-05-05 12:18] isrumnon commented on #9138
Hi @Petri-X @ExSkip we've changed the format for filtering based on assigned plans to accommodate older formats (using -like operator)
e.g., AssignedPlan that starts with MCO: -Filter "AssignedPlan -like 'MCO*'"

Also, Filtering on lineuri with ext based numbers is now supported

[2022-05-05 13:23] lgaudreau commented on #9286
Excellent, thank you @isrumnon.  I'm out of office this week but will be able to test when I return on Monday.  Cheers!

[2022-05-05 16:59] pbafna03 commented on #9366
Hi @ckarawani & @f0oster,

Can you please try this scenario now with the latest Teams PowerShell Version and confirm? There have been improvements recently on this.

Also, this behavior is not expected with the latest versions, so if you still see any issues - would suggest raising a support request with the details around the tenant and the cmdlets used etc. for the team to check.

@yogkumgit - N

[2022-05-05 19:03] ckarawani commented on #9366
hey @pbafna03, are there specific resources I can send pwsh transcripts to?
365 Support has communicated multiple times to us that they do not support TPM for Pwsh and they can only really support uses cases revolving web administration via browser.

From what I can tell, it's still present on the older commands that are still recycling the older Sfb commands such as the "Grant" commands for polic

[2022-05-05 19:15] pbafna03 commented on #9366
Hi @ckarawani ,

Grant commands for policies have also gone through modernization in the latest versions.

If you still notice this with the latest versions, best is to report via Support only - https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-support?view=o365-worldwide. Can reference that the issue is being faced with the Teams PowerShell Module latest version #, so that it reaches

[2022-05-06 03:55] #9286 closed

[2022-05-06 03:59] #9366 closed

[2022-05-06 05:26] VishwaA2000 opened #9403 "Session Timeout for MSOnline"
Hi,
     How long a session established with Connect-MsolService will last?. Is there any official docs regarding this. Does it inherit the timeout configuration of PSSessionSessionOption?

[2022-05-06 07:13] websta911 commented on #9239
Hi, thank you very much, it seems to work.  It still is considerably slower than the old query 30.2 Seconds vs 197.1692169  Seconds, but it is alright.
OLD
measure-command {$csuser = Get-CsOnlineUser -Filter {Userprincipalname -like "*@domain.com"} -ResultSize 10000} : 30.2 Seconds
vs.
NEW
Measure-Command {$csu1 = get-csonlineuser -Filter {Company -eq 'My-Company'}}  : 197.1692169 Seconds

I do no

[2022-05-06 07:14] #9239 closed

[2022-05-06 07:18] ivanfioravanti opened #9404 "IsDirSynced missing"
IsDirSynced is missing from Get-EXORecipient, it was present in old Get-Recipient. Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9145396-cc72-6e54-4204-6867397e67ea
* Version Independent ID: ca86d515-e4d3-ce0f-11e3-87ddfda38b75
* Content: [Property sets in Exchange Online PowerShell V2 cmdlets](https://docs.micr

[2022-05-06 11:54] christianellwood opened #9405 "Private items still visible in OWA after removing access."
In Example 3, the command does not remove access to Private items on Outlook on the web. It does work in client however.

Example 3
Set-MailboxFolderPermission -Identity ayla@contoso.com:\Calendar -User ed@contoso.com -AccessRights Editor -SharingPermissionFlags Delegate
In Exchange Online, this example removes access to private items for an existing delegate.

---
#### Document Details

⚠ *Do not

[2022-05-06 12:21] pbafna03 commented on #9356
Hi @Edgar81,

Can you please check this with the latest Teams PowerShell Module version 4.3.0?

Thanks,

[2022-05-06 12:48] Edgar81 commented on #9356
Hi @pbafna03 It works with 4.3.0. Could you please also update the docs? I see it's been changed from 4.2.0 to 4.2.1, but there's still 4.2.0 for LastName in the second part of the page.

Thank you!

[2022-05-06 15:41] avellanedgar opened #9407 "Add Grant-CsOnlineVoiceRoutingPolicy and Grant-CsTenantDialPlan to cmdlet references for Microsoft Teams"
Customers are getting confused about the **Grant-CsOnlineVoiceRoutingPolicy** and **Grant-CsTenantDialPlan** as they are referenced in Direct Routing docs for Teams, but are not being referenced in the Teams Powershell commands.

Suggestion would be to add these 2 commands to the cmdlet references for Microsoft Teams, https://docs.microsoft.com/en-us/powershell/module/teams/?view=teams-ps

---
###

[2022-05-06 16:51] chrisda commented on #9404
@ivanfioravanti, there is no IsDirSynced (or similar) parameter on Get-Recipient, so you must be talking about a property that's displayed in the output of Get-Recipient.

If you're using v2.0.5 of the EXO V2 module, you should open a support ticket and tell them that IsDirSynced is missing from the Get-ExORecipient output.

If you're using v2.0.6-PreviewX, regular support can't help you because t

[2022-05-06 20:41] sarollins commented on #9043
I'm not sure what the IsSipEnabled attribute has to do with this not working

Get-CsOnlineUser -Filter {Identity -like 'd3*'}

Get-CsOnlineUser : AADGraph Request failed with BadRequest. AAD Code  Message .
Parameter name: https://graph.windows.net/a5c32d43-5d6f-41a1-a3da-1390153869b6/users?api-version=1.61-internal&$select=
assignedPlans,cloudMSRtcIsSipEnabled,preferredLanguage,shadowProxyAddress

[2022-05-06 21:34] chrisda commented on #9405
@christianellwood, you should open a support ticket about this. Folder permissions are folder permissions and it should work in both places.

[2022-05-07 10:11] yogkumgit commented on #9403
@VishwaA2000 Please indicate which document you are referring to. Thanks

[2022-05-07 14:34] DEberhardt opened #9410 "Please improve wildcard searches on Filter for LineURI (this was useful finding extensions and partial numbers)"
Hello,

thank you for taking care of the filtering issues in v3, much appreciated!
Adopting my scripts on those, I am now testing the filtering on `Get-CsOnlineUser` with v4.3.0.

Reading the comments on #9286 I recognize that there is only one exception for Wildcard searches at the beginning, namely for the `AssignedPlans` parameter. Should this be stated properly in the description:

### Descrip

[2022-05-07 14:39] DEberhardt commented on #9410
Additional limitations:
[code]
works

[code]
does not

[2022-05-09 01:56] shivtorov opened #9411 "Outdated description for CsGroupPolicyAssignment"
Hi team.

I believe the following part of the description text is outdated:

`
Group policy assignment support is available only for the following policy types: TeamsAppSetupPolicy (App Setup policies), TeamsCallingPolicy (Calling policies), TeamsCallParkPolicy (Call park policies), TeamsChannelsPolicy, TeamsComplianceRecordingPolicy, TenantDialPlan, TeamsEducationAssignmentsAppPolicy, TeamsMeetin

[2022-05-09 01:59] #9411 closed

[2022-05-10 06:58] ykuijs commented on #7186
Any update on this issue?

[2022-05-10 07:54] VishwaA2000 commented on #9403
Hi, I was working on msoniline recently but there's no document/discussion regarding session msonline session like this (https://docs.microsoft.com/en-us/answers/questions/195338/extend-idle-timeout-for-exchange-online-powershell.html) for exchange online. I am just wondering Is there session timeout for msonline? Is there a way to extend idle timeout for it like specified for exchange?

[2022-05-10 11:38] isrumnon commented on #9410
Hi @DEberhardt we're looking into this issue and will get back to you soon

[2022-05-11 05:16] yogkumgit commented on #9356
@pbafna03

[2022-05-11 05:16] yogkumgit commented on #9371
@isrumnon

[2022-05-11 05:17] yogkumgit commented on #9380
@DMoenks Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-11 05:17] #9380 closed

[2022-05-11 05:18] yogkumgit commented on #9391
@jhosefer Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-11 05:18] #9391 closed

[2022-05-11 05:20] yogkumgit commented on #9404
@ivanfioravanti Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We

[2022-05-11 05:20] #9404 closed

[2022-05-11 05:21] yogkumgit commented on #9405
@christianellwood Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this document

[2022-05-11 05:21] #9405 closed

[2022-05-11 05:30] isrumnon commented on #9371
HI @thewrabbit can you please retry now?

[2022-05-11 06:30] pbafna03 commented on #9356
@yogkumgit  - this is already updated in the relevant page, please go ahead with closing this.

[2022-05-11 07:59] thewrabbit commented on #9371
Hi @isrumnon

Just upgraded to 4.3.0

Tried

Get-CSonlineUser -Filter "TeamsMeetingPolicy -ne 'Staff'"
Only named policies returned (this is actually our preferred command (simplified)

Get-CSOnlineUser -Filter "TeamsMeetingPolicy -eq '""
No results returned.

Get-CSOnlineUser -Filter "TeamsMeetingPolicy -eq 'Global'"
No results returned

So it still seems not to be working - is there a syntax I s

[2022-05-11 08:59] isrumnon commented on #9371
@thewrabbit apologies there was a small fix that we had to make while using the -eq operator. You can expect this to be enabled by the same time next week

[2022-05-11 09:11] thewrabbit commented on #9371
Thanks @isrumnon

Will the -ne operator work too.

We're a little concerned by the timeline here as we need to rework our user creation scripts before the retiral.

[2022-05-11 10:04] isrumnon commented on #9371
on the -ne operator: this should be working now, did you try this recently?

[2022-05-11 10:42] thewrabbit commented on #9371
@isrumnon yes tried it after you sent the update today.  Upgraded PS to 4.3.0 and tried

Get-CSonlineUser -Filter "TeamsMeetingPolicy -ne 'Staff'"

This returned users with other named policies, not including users with the global policy.  We're using the policy filter with other filters so if using -ne as an operator we need it to return named and global users.

[2022-05-11 11:02] sewaroo commented on #1709
Still not working :(

[2022-05-11 13:48] rezabj opened #9420 "4.3.0 failed install"
Hello. I have problem with installation of last version (4.3.0).

[code]

[2022-05-11 14:52] pbafna03 commented on #9420
Hi @rezabj,

Could you please share which version of PowerrShellGet are you facing this issue with?

Get-Module -ListAvailable PowerShellGet

[2022-05-11 14:54] rezabj commented on #9420
Hi @pbafna03 .

[2022-05-11 14:55] rezabj commented on #9420
Hi @pbafna03 .

[code]

[2022-05-11 16:26] #5238 closed

[2022-05-11 16:33] pbafna03 commented on #5239
@get-itips / @yogkumgit - please go ahead to remove this also, checked with the relevant team - this is not supported anymore.

[2022-05-11 16:42] #5239 closed

[2022-05-11 17:45] pbafna03 commented on #9420
@rezabj - this does not seem to be reproducing, can you please also share the below to check which particular case this is happening:

(a) $psversiontable output
(b) get-executionpolicy -list

Also in the meanwhile, as a temporary workaround you can try to install with the -SkipPublisherCheck parameter with Install-Module

[2022-05-11 19:06] 3017mark opened #9422 "Please remove direct reference to pronouns"
We should not be using pronouns in our documentation that reference "he" "she".

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd06ced8-f66e-0c1a-6fc9-5b519ba6decc
* Version Independent ID: d302ed04-ad62-2020-43bc-716da6178e9d
* Content: [Set-CsEnhancedEmergencyServiceDisclaimer (SkypeForBusiness

[2022-05-11 21:38] chrisda commented on #9403
@VishwaA2000, it will likely work, but long-running scripts are best handled by certificate-based authentication (also known as CBA or app-only authentication), which is available for both Exchange Online PowerShell and Security & Compliance Center PowerShell:

<https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2>

[2022-05-12 03:34] yogkumgit commented on #9420
@pbafna03 Thank you very much for the contribution and sharing this explanation. @rezabj Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-12 04:14] yogkumgit commented on #9356
@Edgar81 If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-12 04:14] #9356 closed

[2022-05-12 04:39] yogkumgit commented on #9403
@VishwaA2000 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-12 04:39] #9403 closed

[2022-05-12 09:50] thewrabbit commented on #9371
@isrumnon  - retested today with -ne operator and still no Global policy users returned.  Only named policies.

[2022-05-12 18:25] isrumnon commented on #9043
Hi @sarollins filtering based on Identity in conjunction with the -Like operator is currently not supported.
You can try possible alternatives like filtering based on alias or upn?

[2022-05-12 18:27] isrumnon commented on #9371
Unfortunately our changes has to be rolled back - can you try again by Friday EOD or latest next Tuesday EOD?

[2022-05-12 18:41] sarollins commented on #9043
Microsoft is putting us (and our customers) in a bind

As per the documentation for Get-CsOnlineUser, the -LdapFilter parameter “has been deprecated from the Teams Powershell Modules version 3.0 or later as it is no longer relevant to Microsoft Teams.”

First off, I’m running 4.3.0 and this parameter is still valid (thank goodness)

We deal with clients who have a lot of users (some over 200K).  D

[2022-05-13 09:31] alexl-2397 opened #9425 "Get-TeamsAppInstallation"
I'm trying to run the Get-TeamsAppInstallation (and eventually Remove-TeamsAppInstallation) however I'm getting the error

[code]
For background info I've accidentally deployed the Company Communicator App org-wide (https://github.com/OfficeDev/microsoft-teams-apps-company-communicator/wiki/Deployment-guide)
I used the ARM template to deploy this, however mistakenly kept the value for proactively

[2022-05-13 10:52] MrDmig opened #9426 "Incorrect signature for MicrosoftTeams.psd1 in v4.3.0"
Not possible to update the module by using Update-Module cmdlet cause of a signature mismatch. Workaround - Install-Module cmdlet with -SkipPublisherCheck parameter just to bypass signature tests.

It's easy to check the signature:

Get-AuthenticodeSignature .\MicrosoftTeams.psd1

    Directory: C:\Program Files\WindowsPowerShell\Modules\MicrosoftTeams\4.3.0

SignerCertificate

[2022-05-13 10:53] bbteam17 opened #9427 "Get-CsOnlineUser issue"
Hi everyone,

my env:

![envInfo](https://user-images.githubusercontent.com/32478068/168264472-4321dd21-12c8-4105-af80-0c8865a592d1.png)

try to Search all Assigned Number via Get-CsOnlineUser , but result  could not contain all number

a user  assigned with  ...3516 but the number   is not   in  the  full list .

![result](https://user-images.githubusercontent.com/32478068/168268881-d3da3a1d-7e5b

[2022-05-13 11:56] arkayenro opened #9428 "get-recipientpermission requires the mail recipients admin role to see it"
get-recipientpermission requires the mail recipients admin role to see/use it, not the reader type roles, so global reader and view-only users cannot see these (send-as) permissions without us giving them significantly more access than they should have.

they can see full-access, send on behalf, and folder permissions, with global reader, just not send-as because of this

is there a reason you nee

[2022-05-13 15:53] isrumnon commented on #9427
@bbteam17 my team will look into it and get back to you on this

[2022-05-13 16:21] chrisda commented on #9428
@arkayenro, it is a bit odd that Get-RecipientPermission isn't available in a read/view only role (like View-Only Organization Management).

But, all we do here is fix documentation. You should open a support ticket and explain the problem. That will get the issue in front of the people who can fix it.

[2022-05-14 00:55] arkayenro commented on #9428
sorry about that, will use the support channel.

[2022-05-14 00:55] #9428 closed

[2022-05-15 05:21] darwincr opened #9432 "Cant Assign Number BadRequest Telephone Number '+xxx55502600' has already been assigned to another user"
Cant assign a phone number, no matter what i do i get this error

**Set-CsPhoneNumberAssignment -Identity $Object.ObjectId -PhoneNumber +xxx55502600 -PhoneNumberType DirectRouting**

BadRequest Telephone Number '+xxx55502600' has already been assigned to another user

if i do a **Get-CsPhoneNumberAssignment -PhoneNumber +xxx55502600** i get this

TelephoneNumber         : +xxx55502600
NumberType

[2022-05-16 06:46] JensTrier commented on #9432
@darwincr I think the best approach is for you to open a Microsoft support case and they will work with you to sort out what's going on here.

[2022-05-16 08:25] thewrabbit commented on #9371
Thanks for the updates - checked today and the -ne operator is returning blank entries i.e. global policy users as part of the results now.

Great work - will check on the -eq operator at the end of the week.

Thanks for all your help on this.

[2022-05-16 15:08] #8166 closed

[2022-05-16 17:48] pbafna03 commented on #9426
Hi @MrDmig,

Can you please try with the 4.3.1-preview release?

Also, what's the locale set in the machine giving this error?

Thanks,

[2022-05-16 18:11] pbafna03 commented on #9420
@rezabj - could you please try this with the 4.3.1-preview version just released?

[2022-05-16 19:10] MrDmig commented on #9426
Hi @pbafna03,

4.3.1-preview works well for me. I've successfully updated the module by the "Update-Module" cmdlet with "-AllowPrerelease" parameter. I double checked the MicrosoftTeams.psd1 file with the Get-AuthenticodeSignature cmdlet and there was a valid signature.
I don't think that locale settings affect that behavior. Anyway, there is "ru-Ru" locale.

Best regards.

[2022-05-16 21:03] tmongiello opened #9435 "Teams Powershell Module 4.3.0 - error with get-csonlineuser function"
Hope this is the right place to post this:
Powershell 7.2.3 installed. Windows 10 Enterprise 21H2, OS Build 19044.1706
Using MicrosoftTeams powershell module 4.3.0:
Connect-MicrosoftTeams
I am able to connect and authenticate. I DO see a few errors during the connection but this seemed "normal" as everything was working last week.
When I run get-csonlineuser user@domain.com I am getting this error

[2022-05-17 02:54] yogkumgit commented on #9432
@darwincr Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation wi

[2022-05-17 03:25] yogkumgit commented on #8166
@get-itips Thank you very much for the contribution and updating the documentation with PR. @JesperGSimonsen Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-17 03:37] yogkumgit commented on #9426
@MrDmig Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-17 03:37] #9426 closed

[2022-05-17 08:21] bbteam17 commented on #9427
Hi @isrumnon   I cant find your  name in Teams or anywhere  please sent to me  a mail then I will share all information with you .
thx . bbteam17@gmail.com

[2022-05-17 09:16] bbteam17 commented on #9427
@isrumnon  I wrote in  Teams    tenantId and user identity .
thx

[2022-05-17 10:29] rezabj commented on #9420
@pbafna03 - yes, 4.3.1-preview installation works fine. Thanks

[2022-05-17 12:13] pbafna03 commented on #9435
Hi @tmongiello,

Do you have any special characters like single quote (') etc. in the folder path?

[2022-05-17 12:17] tmongiello commented on #9435
As a matter of fact I do. It's in the OneDrive portion as it's part of my
company name:
C:\Users\tony\OneDrive - Harrell's
LLC\Documents\PowerShell\Modules\MicrosoftTeams\4.3.0

Is this the issue? It worked before and I JUST remembered, I DID install
7.2.3 (upgraded from 7.2.2) just late last week.

Let me try and switch directories that the Modules are stored in and test.

Thank you for the fast

[2022-05-17 14:49] get-itips commented on #9338
Hello @vlethiec Vincent, how are you?
Can you help me understand how did you conclude that OnlinePstnGatewayList accepts OnlineSipDomain?
Thank you!

[2022-05-17 15:16] tmongiello commented on #9435
Looks like I am unable to change the Module install path as Powershell defaults automatically to %HOME%\Documents\Powershell\Modules and since I ahve my MyDocuments folder inside my OneDrive folder, this is impossible unless I move my MyDocuments folder. :(

I see there was an issue raised last year regarding this.  (https://github.com/PowerShell/PowerShell/issues/15552)
If you have a worksround f

[2022-05-17 15:31] pbafna03 commented on #9435
Hi @tmongiello,

Checking on a proper fix.  In the meanwhile, a temporary workaround can be to copy the module folder to some other path and importing it from there.

[2022-05-17 15:37] tmongiello commented on #9435
Oh great!  Thank you! I will give that a try and report back.

T

[2022-05-17 18:15] get-itips commented on #9384
Hello,

You can construct the filter like this

`get-sposite -filter "Owner -like '$($userUPN)'"`

Hope this information helps you,

[2022-05-17 18:18] get-itips commented on #9407
Hello @avellanedgar
how are you?
The index is auto-generated from the cmdlets that are under the Teams/ path, the cmdlets you mention are under a different path because they belonged to the Skype For Business Online module, currently, they will stay there but I understand that in the future this could change.
Hope this information helps you,

[2022-05-17 18:22] get-itips commented on #9425
Hello @alexl-2397
Here, we are limited to documentation changes and improvements, I checked to see if we needed to adjust any article however, I could not reproduce, I recommend checking permissions and also try to run interactively (if you are not)
Hope this information helps you

[2022-05-17 22:33] ealmonte32 commented on #9384
@get-itips
Andres,
Thanks, this worked.
I think this should be documented at https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-sposite?view=sharepoint-ps

[2022-05-18 02:33] ckarawani commented on #9366
hey @f0oster, just wanted to circle back on this. I cannot reproduce this problem anymore using latest TPM 4.3.0 as I
have successfully chained a bunch of Grant commands which were correctly persisted immediately.  Thank you @pbafna03 for the follow up on this and sorry it took a while to get back to you.

[2022-05-18 04:09] #9420 closed

[2022-05-18 04:20] yogkumgit commented on #9317
@get-itips Thank you very much for the contribution and sharing this explanation. @bhushangholave this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-05-18 04:20] #9317 closed

[2022-05-18 05:47] yogkumgit commented on #9384
@get-itips

[2022-05-18 06:37] f0oster commented on #9366
Thanks for the info. I'll be sure to test also.

[2022-05-18 07:53] vlethiec commented on #9338
Hi @get-itips Andres,

The voice route can be associated to two different types of SBC. Classic hardware SBCs, which are defined as OnlinePSTNGateway in Teams PowerShell, and hosted SBCs, which are SBC hosted by techno vendors (or carrier), like Ribbon, Oracle or Audiocodes. These hosted SBCs are not defined as OnlinePSTNGateway in Teams PowerShell, but as OnlineSipDomain.
You can find some explan

[2022-05-18 11:50] get-itips commented on #9338
Hello @vlethiec Vincent, thanks, I understand better now that you are talking about SBCs for multi tenant scenario and you are sitting from the customer side.

I'll check if an update is required to the article, thanks

[2022-05-20 04:42] arkayenro opened #9452 "identity value"
for exchange online

the biggest issue with using alias\name as the Identity is that it will fail (matches multiple entries) if a soft deleted object with that same alias exists in your tenant - the name part will not matter.

eg a soft deleted mailbox from and old user who had an alias of fred.smith will double up with an active mailbox for new user who now has the alias fred.smith

if you use th

[2022-05-20 07:40] paulsysadmin opened #9453 "Teams 4.3.1 Get-CSOnlineUser incorrect InterpretedUserType"
Checking the user on older versions of the Teams Module produces AADConnectEnabledOnlineTeamsOnlyUser

Same user on 4.3.1 now showing as DirSyncEnabledOnlineTeamsOnlyUser

[2022-05-20 10:31] isrumnon commented on #9453
@paulsysadmin I'll get back to you on this by Monday eod

[2022-05-20 11:38] Arne-RFA opened #9454 "Simpler Examples"
[Enter feedback here]

https://docs.microsoft.com/en-us/powershell/module/exchange/remove-mailboxrepairrequest?view=exchange-ps#example-1
Get-MailboxDatabase -Identity "EXCH-MBX-01" | Get-MailboxRepairRequest | Remove-MailboxRepairRequest
A simpler form would be
Get-MailboxRepairRequest -Database "EXCH-MBX-01"  | Remove-MailboxRepairRequest"

https://docs.microsoft.com/en-us/powershell/module/exch

[2022-05-20 17:26] chrisda commented on #9452
OK. I added this:

**Note**: In Exchange Online, the alias of a soft-deleted mailbox might match the alias of an active mailbox. To ensure uniqueness, use the RequestGuid value from the output of the Get-MailboxImportRequest cmdlet for the value of this parameter.

If you want to improve it, you can do it directly after it publishes (after you see it in the topic). For instructions, see [here](htt

[2022-05-20 17:26] #9452 closed

[2022-05-20 17:32] chrisda commented on #9454
@Arne-RFA, fixed as you described.

In the future, you too can make updates like this yourself without opening a GitHub issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md>.

Thanks for the feedback.

Closing

[2022-05-20 17:32] #9454 closed

[2022-05-20 18:02] jaganpt opened #9458 "Error while creating a new compliance case using Security & Compliance Center PowerShell (Connect-IPPSSession)"
Hi Team,

Unable to create a new compliance case using Security & Compliance Center PowerShell (Connect-IPPSSession).
Please find the error details below.

**Error details:**
WARNING: An unexpected error has occurred and a Watson dump is being generated: Object reference not set to an instance of an object.
Object reference not set to an instance of an object.
+ CategoryInfo : NotSpecified: (:) [N

[2022-05-20 18:22] chrisda commented on #9458
Version of the ExO module that you're using? Command with PII removed?

[2022-05-20 21:35] jaganpt commented on #9458
2.0.6 preview5
Yes.

[2022-05-20 22:00] ckarawani opened #9459 "Which Module version to run against GCCH Environment"
There is missing specific documentation around which versions of TPM are supported for GCCH environments.

For example, seems we cannot use 4.0.0 or up on GCCH yet?

[code]

Returns the following Error:

[code]

Is there somewhere documenting the max version that can be used for GCCH Environments?

[2022-05-20 22:03] chrisda commented on #9458
Sorry, for the second thing, I meant "provide an example command with PII removed".

Because v2.0.6-Preivew5 is still in Preview, you won't be successful opening a support ticket (they will defer, saying they don't support Preview features). You'll need to use the module alias exocmdletpreview[at]service[dot]microsoft[dot]com.

Report back here if we need to update the documentation for anything:

[2022-05-20 23:15] nikki-c opened #9461 "-Settings parameter not reserved for Microsoft"
This feedback applies to both New-LabelPolicy and Set-LabelPolicy cmdlets

It mentions that -Settings parameter is reserved for Microsoft. This is incorrect this is used to configure the mandatory, default and justification settings for the label policy

Full details
- Mandatory label required
- Mandatory label Power Bi
- Mandatory label with groups and site labels
- Disable mandatory label in Out

[2022-05-20 23:15] nikki-c opened #9462 "-Settings parameter not reserved for Microsoft"
This feedback applies to both New-LabelPolicy and Set-LabelPolicy cmdlets

It mentions that -Settings parameter is reserved for Microsoft. This is incorrect this is used to configure the mandatory, default and justification settings for the label policy

Full details
- Mandatory label required
- Mandatory label Power Bi
- Mandatory label with groups and site labels
- Disable mandatory label in Out

[2022-05-20 23:59] chrisda commented on #9462
Closing as duplicate of #9461

[2022-05-20 23:59] #9462 closed

[2022-05-21 10:25] pbafna03 commented on #9459
Hi @ckarawani,

Will get the error checked, however irrespective of that are you able to run the cmdlets (which are not migration related)?

[2022-05-22 13:59] lyncjp opened #9464 ""ProxyPool" option in "Move-CsUser" is not properly described."
The "ProxyPool" option is described as follows, which makes it seem as if it is no longer necessary to use it.

This parameter has been deprecated and should not be used.

In practice, however, it is necessary if there are multiple Edge Servers with federation enabled. Moving online without the "ProxyPool" option will fail with the following error.

parameter to indicate which Registrar pool shoul

[2022-05-23 01:06] lyncjp commented on #9464
I closed this question because it was posted in the wrong place.

[2022-05-23 01:06] #9464 closed

[2022-05-23 01:07] lyncjp opened #9465 ""ProxyPool" option in "Move-CsUser" is not properly described."
The "ProxyPool" option is described as follows, which makes it seem as if it is no longer necessary to use it.

This parameter has been deprecated and should not be used.

In practice, however, it is necessary if there are multiple Edge Servers with federation enabled. Moving online without the "ProxyPool" option will fail with the following error.

parameter to indicate which Registrar pool shoul

[2022-05-23 10:26] anwarmahmood1 opened #9466 "MicrosoftTeams PowerShell module version 4.2.0 - get-csonlineuser and grant-csteamsmeetingbroadcastpolicy cmdlets in PowerShell ISE do not autocomplete "-erroraction", but it does seem to work"
previous versions supported erroraction parameter [didn't record which version]

In PowerShell ISE, try
`try {$TeamsUser = Get-CsOnlineUser -Identity doesnotexist@contoso.onmicrosoft.com -erroraction stop}catch{"not found"}`

The command appears to work - it only enters the "catch" statements when it should - but PowerShell ISE does not offer autocomplete for the erroraction parameter.

[2022-05-23 11:35] isrumnon commented on #9410
Hi @DEberhardt instead of filtering on SIPAddress would SipProxyAddress work for you? We are asking because we would be able to enable the latter earlier than the former.

[2022-05-23 14:21] ckarawani commented on #9459
hello @pbafna03, yes the session still initializes and cmdlets are returning correctly as you suspected.
I wasn't sure if GCCH is supported or not on later TPM versions given it works despite this error being thrown.

[2022-05-23 16:07] #9384 closed

[2022-05-23 18:03] anwarmahmood1 opened #9467 "get-csonline user - filter "users who have not been assigned a specific voice policy" - how? Please provide an example"
The text states you can filter for "users who have not been assigned a specific voice policy".  But there's no example, and I can't get it to work.

MicrosofTeams version 4.2.0

These don't work;

`get-csonlineuser -filter "TeamsMeetingBroadcastPolicy -eq ''"`
`get-csonlineuser -filter "TeamsMeetingBroadcastPolicy -eq $null"`
`get-csonlineuser -filter "TeamsMeetingBroadcastPolicy -eq 'global'"`
`g

[2022-05-23 20:43] chrisda commented on #9461
Checking. I changed the Setting and Settings parameter descriptions to "reserved for internal Microsoft use" back at the end of March per product team feedback (they were previously empty).

[2022-05-24 05:11] yogkumgit commented on #6343
@JensTrier and @get-itips Kindly address this issue. Thanks

[2022-05-24 05:12] yogkumgit commented on #7186
@JensTrier and @get-itips Kindly address this issue. Thanks

[2022-05-24 05:17] yogkumgit commented on #7693
@pbafna03 @get-itips Kindly address this issue. Thanks

[2022-05-24 05:19] yogkumgit commented on #8106
@pbafna03 @get-itips Kindly address this issue. Thanks

[2022-05-24 05:20] yogkumgit commented on #8117
@JensTrier @get-itips Kindly address this issue. Thanks

[2022-05-24 05:41] yogkumgit commented on #8609
@JensTrier Kindly comment. Thanks

[2022-05-24 05:43] yogkumgit commented on #8981
@pbafna03 @dariomws Kindly address this issue. Thanks

[2022-05-24 05:45] yogkumgit commented on #9043
@isrumnon

[2022-05-24 05:48] yogkumgit commented on #9148
@pbafna03 @dariomws Kindly comment. Thanks

[2022-05-24 05:49] yogkumgit commented on #9371
@isrumnon

[2022-05-24 05:50] yogkumgit commented on #9407
@get-itips Thank you very much for the contribution and sharing this explanation. @avellanedgar Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-24 05:50] #9407 closed

[2022-05-24 05:51] yogkumgit commented on #9425
@get-itips Thank you very much for the contribution and sharing this explanation. @alexl-2397 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-24 05:52] #9425 closed

[2022-05-24 05:53] yogkumgit commented on #9338
@get-itips

[2022-05-24 05:54] yogkumgit commented on #9427
@isrumnon

[2022-05-24 05:54] yogkumgit commented on #9458
@jaganpt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-24 06:14] pbafna03 commented on #9148
Looping in @CLYVR

[2022-05-24 06:29] JensTrier commented on #8117
@yogkumgit Sorry, not my area.

[2022-05-24 06:31] JensTrier commented on #6343
This has already been fixed, please close this issue

[2022-05-24 06:44] JensTrier commented on #7186
This more than a year old and TPM is now at 4.3.0. Spot-checking I can see that some of these cmdlets have been documented. Someone needs to do the exercise again against current situation and see what is left.

[2022-05-24 07:04] JensTrier commented on #8609
This is not my area, but I've pinged the person I believe owns this cmdlet

[2022-05-24 13:15] shivtorov commented on #7186
@JensTrier, I'm the person who opened this GitHub issue initially a year ago.

As of 2022-05-24 (24 May 2022), the following Microsoft Teams 4.3.0 articles are missing:

| CommandType | Name                                          | Version | Source         |
| ----------- | --------------------------------------------- | ------- | -------------- |
| Function    | Get-CsCloudCallDataConnection

[2022-05-24 13:31] PsychoData commented on #8106
@LycheeYum This is not the place for this add-on question, friend. If you want to ask about Connect-MicrosoftTeams and those API Permissions, you should be able to follow [this link](https://github.com/MicrosoftDocs/office-docs-powershell/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do%20not%20edit%20this%20section.%20

[2022-05-24 13:45] pbafna03 commented on #7186
Hi @shivtorov,

Thanks for the updated list, I don't think we need separate issues to be created. Just probably need to refine it more.

I believe a bunch of these are either deprecated or not supported and will be removed from Teams PowerShell Module as well soon. So those we can ignore. The recent list of those at https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-supported-version

[2022-05-24 14:09] shivtorov commented on #7186
Hi @pbafna03,

Thanks for pointing out that according to https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-supported-versions#deprecated-cmdlets the following cmdlets are deprecated (see the table below).

However, I would like to highlight that none of the "deprecated" cmdlets are listed in the above message.
Thus, the whole list above should be considered as "leftovers" that "need

[2022-05-24 14:10] pbafna03 commented on #7186
@shivtorov - thanks, we can remove the non-supported ones as well. They are also going away for e.g. Get-CsTenantCatalogApp

[2022-05-24 17:34] sarollins opened #9468 "Need solution for clients with large user base"
We have a client that has approximately 180K users.  When issuing this command, sometimes it takes 3 1/2 hours to complete, for only 33K corresponding users.  Is there a plan to implement the -Skip -Top parameters for this cmdlet also?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a78c07b-1a7e-b36c-e3c1-8e610638ff79

[2022-05-24 17:56] JeremyTBradshaw commented on #8820
@chrisda @yogkumgit FYI, I just ran into this issue with Windows PowerShell 5.1 x64 and module version 2.0.5 and 2.0.6preview5.

[code]

I may open a case as this definitely does seem to be an issue with the service, not my PowerShell.

[2022-05-25 05:27] #8106 closed

[2022-05-25 07:44] samrajcse opened #9469 "Descrption missing for -ShareRootPath Paramter"
I am trying to export the PST via Compliance Powershell command. I am looking for help and don't see any documentation. Please update  [-ShareRootPath <String>] Parameter description.
If I am using this command,
New-ComplianceSearchAction -SearchName "Sam-Test1" -ShareRootPath \\172.31.102.55\share

Error message:
A parameter cannot be found that matches parameter name 'ShareRootPath'.
    + Categ

[2022-05-25 09:34] bbteam17 opened #9470 "Set-CsCallQueue could not truncate channelId"
Hi All ,
Env:
![c1](https://user-images.githubusercontent.com/32478068/170229005-e1486c2a-9097-4400-ad98-b8b8f65c3b98.png)
trying get callQueue channelId
![c2](https://user-images.githubusercontent.com/32478068/170229315-c6f3a2f7-4406-4eda-9541-f0a58ea538e6.png)
then  try to truncate  this channel from the callQueue throw an exception  as below
![c3](https://user-images.githubusercontent.com/32478

[2022-05-25 16:01] isrumnon commented on #9467
@anwarmahmood1 can you please retry again with the same commands and check at the end of day?  We deployed a fix for the same today

[2022-05-26 04:39] samrajcse commented on #9469
Hi @chrisda ,
I am running against the 2019 Exchange Onprem server and I am getting this error. I have provided Exchange Subsystem Permission to share as well.

[2022-05-26 13:29] SeanTGeoghegan opened #9472 "Confirmation on Get-EXO... cmdlets"
Hello,

In reviewing the output of some of the Get-EXO... cmdlets, they do not retrieve the same amount of data as the original cmdlets - like "Get-Mailbox" or "Get-Recipient".

Is there a plan to add parity for each of the new cmdlets to provide the correct configuration/values?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-05-26 16:16] chrisda commented on #9469
@samrajcse, I checked on my Exchange 2019 CU12 May22SU  build, and that parameter is available to me. Using the procedures in [this topic](https://docs.microsoft.com/powershell/exchange/find-exchange-cmdlet-permissions#use-powershell-to-find-the-permissions-required-to-run-a-cmdlet):

[code]

It appears the Mailbox Search role gives access to that parameter, and the **Discovery Management** and **

[2022-05-26 16:20] chrisda commented on #9469
Correction: The Mailbox Search role is NOT assigned to Organization Management by default; it's ONLY assigned to Discovery Management. That's likely why you can't use the parameter. Add yourself to Discovery Management or add the Mailbox Search role to Organization Management, then logoff and log back on.

[2022-05-26 16:38] chrisda commented on #9472
@SeanTGeoghegan, I suggest you ask your question at the EXO V2 module support alias:

exocmdletpreview[at]service[dot]microsoft[dot]com

Get-Mailbox probably has 200+ properties in its output, many of which have no corresponding configuration parameter in New-Mailbox or Set-Mailbox.

[2022-05-26 17:53] isrumnon commented on #9216
@fgrueninger WhenChanged when used for Filtering or when viewed in the bulk output (without using -Identity parameter) is now available in preview, you can raise a support request with your tenant information to get this enabled this for your tenant

[2022-05-26 17:53] isrumnon commented on #9216
@yogkumgit we can go ahead and close this ticket

[2022-05-27 02:29] ckarawani opened #9476 "Policy Authority Not Returned in GCCH Environment when performing Get-CsOnlineUser"
There seems to be missing documentation around the different response structure when performing a `Get-CsOnlineUser` on Commercial vs GCCH Environment.

These changes look like they were introduced in TPM 4 and up.

In a Commercial Environment, getting a user's policies returns the policy as an object that contains both the `name` and `Authority`

`Get-CsOnlineUser -Identity 'ckarawani@contoso.com

[2022-05-27 08:33] RG9900 commented on #9139
This command used to work for me in Feb 2022 and not working any longer. I never understand why Microsoft makes things harder?   Can anyone advise how can I make this command working?

#List of all @mydomain.gov.au domain users who do NOT have FederationAndPICDefault policy

Get-CsOnlineUser -Filter {UserPrincipalName -like "*@mydomain.gov.au" -and Enabled -eq $True -and ExternalAccessPolicy -ne "

[2022-05-27 08:39] RG9900 opened #9478 "Get-CsOnlineUser -Filter command doesn't work in MS Teams PowerShell"
Below commands used to work for me in MS Teams PowerShell in Feb 2022 and it's not working any longer. I never understand why Microsoft makes things harder rathan than making it easy? I've updated MS Teams module to 4.3.0 and trying to run the same command but throws me error. Can anyone advise how can I make these commands working?

# Get List of all active users in my domain who do NOT have Fede

[2022-05-27 10:38] isrumnon commented on #9478
Hi @RG9900 we currently do not support 'ends with' with UserPrincipalName i.e., Get-CsOnlineUser -Filter UserPrincipalName -like "*@mydomain.gov.sg"
Instead, can you consider using one of the below approaches:
1. Use Company filter: Get-CsOnlineUser -Filter Company -like "*abcCompany"
2. Alternative query to the one you were using:
$users = Get-CsOnlineUser -Filter {AccountEnabled -eq $True -and E

[2022-05-27 10:41] ChrisG42 commented on #4893
I've found out what you need to do here - use Remove-SPOUser with the -LoginName given as the "siteSecurityGroupLoginName" attribute. You can find this by browsing the site permissions in SharePoint and checking the User/Group properties e.g.

![image](https://user-images.githubusercontent.com/70650815/170684057-5e5b2d22-dbe7-47a2-ad74-1dd10663c2d8.png)

You need that whole string in quotes "c:0t.

[2022-05-27 11:16] isrumnon commented on #9139
Replied on the other ticket. Thanks

[2022-05-27 11:20] bbteam17 commented on #9470
Another issue about Set-CsCallQueue when  remove call answering  user relation via powershell  MicrosoftTeams.

when I try remove user via Admin.teams.microsoft.com    I can see   api request in fiddler.

![c1](https://user-images.githubusercontent.com/32478068/170688379-48d113d1-d779-4037-b5e3-9f3300319285.png)

then
![c2](https://user-images.githubusercontent.com/32478068/170688443-648cbb6b-adb1

[2022-05-27 11:29] yogkumgit commented on #9410
@DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-27 11:31] yogkumgit commented on #9467
@anwarmahmood1 Please reply.

[2022-05-27 11:34] DEberhardt commented on #9410
Hello,

SipProxyAddress can work, provided it carries the same information, though personally, I would like to see it being available for both primary attributes (UPN and SIP).

The missing ends-with and contains-searches do put a constraint on things though.

[2022-05-27 11:43] anwarmahmood1 commented on #9467
thanks @yogkumgit

Can confirm

get-csonlineuser -filter "TeamsMeetingBroadcastPolicy -eq ''"

now returns expected results. May I suggest you add that as an example?

Feel free to close.

[2022-05-27 12:41] ssteiner opened #9479 "Get-CsOnlineUser -LdapFilter swallowing LineUri"
I'm using `Get-CsOnlineUser` commandlet with the `-LdapFilter` parameter.
And I noted that all of a sudden (I could've sworn this wasn't the case last week), not all my users that have a `LineUri` have it returned.

If I extract the users that have an empty `LineUri` when I use `-LdapFilter` one by one (so `Get-CsOnlineUser -Identity upn-of-user`), they do have the LineUri filled out.

So why is t

[2022-05-27 13:25] RG9900 commented on #9478
Let me clarify and be more specific.

We have two domains. Domain1 has 200K users. Domain2 has 800K users. Both domains fall under same Tenant.

All domain1 users are SfB On-Prem users, they are in Island mode and they do have Teams account. All domains2 users are Teams-Only mode users, no SfB On-Prem accounts. So we are in a Hybrid environment.

Most users in Domain1 are having 'FederationAndPICD

[2022-05-27 13:27] RG9900 commented on #9478
Let me clarify and be more specific.

We have two domains. Domain1 has 200K users. Domain2 has 800K users. Both domains fall under same Tenant.

All domain1 users are SfB On-Prem users, they are in Island mode and they do have Teams account. All domains2 users are Teams-Only mode users, no SfB On-Prem accounts. So we are in a Hybrid environment.

Most users in Domain1 are having 'FederationAndPICD

[2022-05-27 15:25] yogkumgit commented on #9410
@isrumnon

[2022-05-27 17:59] clamb123 opened #9481 "Missing semi-colon in Example 2"
Missing a ; in example 2, should be

Set-ResourceConfig -ResourcePropertySchema @{Add="Room/TV"**;**Remove="Equipment/Laptop"}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79e6173e-1c0a-6877-91f6-c99b099f5c0b
* Version Independent ID: ec6499aa-971b-f252-afda-2561496b80da
* Content: [Set-ResourceConfig (ExchangePowerS

[2022-05-30 18:29] isrumnon commented on #9453
Hi @paulsysadmin the pre-fix "AADConnectEnabledOnline" in the IUT value has now been renamed to "DirSyncEnabledOnline"
We're updating documentation to reflect the same

[2022-05-30 18:52] isrumnon commented on #9478
Hi @RG9900 thanks for the explanation and helping understand your issue better. Unfortunately filtering based on UserPrincipalName using the wildcard operator (*) at the beginning of the value (this is what I meant by 'ends with') is currently not supported in TPM versions 3 and above.
Can you please contact me on email or Teams so we can walk you through some of our mitigation options?

[2022-05-31 06:36] paulsysadmin commented on #9453
Thanks @isrumnon . Did I miss something ?  I thought DirSync was deprecated and long since replaced by AADConnect ?

[2022-05-31 08:24] mababode commented on #7186
seeing the following documented soon is appreciated:
Get-/Set-/New-/Grant-CsTeamsUpdateManagementPolicy

[2022-05-31 08:38] yogkumgit commented on #9453
@isrumnon

[2022-05-31 08:57] RG9900 commented on #9478
Hi Isaiah,

I received your comments in my email from notifications@github.com, not from you. Could you please provide me your email ID where I can reply to you directly. I don't want to reply from my email to notifications@github.com or mention@noreply.github.com

Thanks

[2022-05-31 12:49] Jonny-P-W commented on #8930
I have the same issue using MicrosoftTeams module 4.3.0.  Does anyone know how to fix? @kpinel @dariomws @DEberhardt @DanScottExpo

[2022-05-31 12:57] DEberhardt commented on #8930
I usually pipe the Object into the grant command: `Get-CsOnlineUser "$UPN" | Grant-CsOnlineVoiceRoutingPolicy -PolicyName x`

We haven't had any issues with this approach with V4.x

Hope this helps

[2022-05-31 15:17] Jonny-P-W commented on #8930
@DEberhardt using the pipe worked. thanks

[2022-05-31 17:25] chrisda commented on #9481
@clamb123, fixed.

In the future, you too can make updates like this directly in the topic. No need to open a GitHub Issue first. Instructions are [here](https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md).

Thanks for the feedback.

Closing

[2022-05-31 17:25] #9481 closed

[2022-05-31 17:39] bbteam17 commented on #9470
I test  on 4.4.1 with pwsh 7.2.4    both of them  worked   I  made  reset  channel with  -ChannelId ''    and  -Users @()  .
It is working .
Thanks.

[2022-06-01 06:03] dariomws commented on #8932
@olanga, please try the latest version of the module (4.4.1).

[2022-06-01 07:44] DEberhardt commented on #9410
Thank you :)

[2022-06-01 10:10] thewrabbit commented on #9371
@isrumnon @yogkumgit

We're now really concerned that we will be left with an unusable PowerShell module for policy application as of June 15th.

We are a very large tenancy.

- 4.x.x is considerably slower to carry out operations that previous versions - this has a significant operational impact
- We have 7 business days left before we have to use 4.x.x
- 4.x.x is still being worked on by MS to a

[2022-06-01 10:14] isrumnon commented on #9371
Hi @thewrabbit can you please DM me on Teams or mail me so we can go over possible mitigation paths for your tenant?
My email - isrumnon@microsoft.com
I'll be deleting this post (for security reasons) assuming you have received an email for the same

[2022-06-01 12:29] thewrabbit commented on #9371
Alternative workaround identified.

[2022-06-01 16:32] juniorccs opened #9494 "Sync-CsOnlineApplicationInstance cmdlet is currently returning an issue "An item with the same key has already been added.""
[Enter feedback here]
When executing this command, now we see a message "An item with the same key has already been added."
I am not if it's related to the Teams Module version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e18f62f-cdb9-a279-146a-ccd65f879799
* Version Independent ID: 4b3dd955-71e5-c849-ab94-1f8a8f46d

[2022-06-01 19:05] dr-raypc opened #9497 "Documentation not filled out for some parameters."
Set-Mailbox -messagecopyforsmtpclientsubmissionenabled documentation is not completed...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7f835af-5905-368a-df68-6646782ad807
* Version Independent ID: 153ce2d2-dab5-9c8f-c511-ee3bc8ee2dbc
* Content: [Set-Mailbox (ExchangePowerShell)](https://docs.microsoft.com/en-us/power

[2022-06-01 20:35] sarollins opened #9498 "LdapFilter / Attributes Not Yet Supported"
I just downloaded version 4.4.1 of the MicrosoftTeams module and during testing, I notice I get an error when I attempt to use the LdapFilter parameter (knowing that Microsoft has plans on deprecating it).  I also notice if I execute

(Get-Command Get-CsOnlineUser).Parameters

LdapFilter shows up as a parameter

Is this a glitch or is this the start of the deprecation of this parameter?

Also, we

[2022-06-02 05:13] ruudvanstrijp opened #9500 "Teams module 4.4.1: Get-CsAutoAttendantHolidays shows DateTimeRanges as empty"
I am using MicrosoftTeams module 4.4.1 and I notice Get-CsAutoAttendantHolidays always seems to return the 'DateTimeRanges' as empty. I have tried it with three types of date ranges:
- 1 day holiday without specific times (12.00AM 2/6/2022 - 12.00AM 3/6/2022)
- 2 day holiday without specific times (12.00AM 2/6/2022 - 12.00AM 4/6/2022)
- 1 day holiday with specific times (2.00AM 2/6/2022 - 9.00PM 2

[2022-06-02 07:38] JensTrier commented on #9500
@ruudvanstrijp They are there, but you need to explicitly look at them like in the 2 examples below

`PS 02-06-2022 09:36:20 C:\> (Get-CsAutoAttendantHolidays -Identity a780e9b0-dc93-4977-83a0-418d312c9e03).DateTimeRanges
WARNING: All date-time range bounds are listed in 'dd/MM/yyyy HH:mm' format.

Start : 03-06-2022 00:00
End   : 07-06-2022 00:00

PS 02-06-2022 09:36:35 C:\> $holiday=Get-CsAutoAt

[2022-06-02 09:11] ruudvanstrijp commented on #9500
Thanks for your fast response! I'm happy to see this isn't a bug, but it's working by design.
Would it be possible to update the documentation at https://docs.microsoft.com/en-us/powershell/module/skype/get-csautoattendantholidays?view=skype-ps explaining this behavior?

[2022-06-02 12:06] yogkumgit commented on #9500
@JensTrier

[2022-06-02 13:46] JensTrier commented on #9500
@ruudvanstrijp thanks for the suggestion.

@yogkumgit not my area, but I've made the change in one of my upcoming PR's.

[2022-06-02 19:43] BalajiNJL commented on #8919
I want to re-open this bug. Today I installed MicrosoftTeam PS module v 4.4.1 and I am having exactly the same issue. I am not able to run -Filter command. Follow command fails with error below

**Get-CsOnlineUser -Filter {Enabled -eq $True -and EnterpriseVoiceEnabled -eq $true}**

_[DBG]: PS C:\Users\Administrator> Get-CsOnlineUser -Filter {Enabled -eq $True -and EnterpriseVoiceEnabled -eq $true}

[2022-06-02 21:12] coyvelano commented on #8919
@BalajiNJL  I rolled back to 2.6.0

[2022-06-03 07:00] isrumnon commented on #8919
Hi @BalajiNJL @coyvelano "Enabled" has been renamed to "IsSipEnabled", query should work once you've made this change
Reference - https://docs.microsoft.com/en-us/powershell/module/skype/get-csonlineuser?view=skype-ps

@lgaudreau your original query should be working now in latest TPM modules

[2022-06-03 07:35] RG9900 commented on #9478
We are in agreement on a short and longer term solution.

[2022-06-03 07:35] #9478 closed

[2022-06-03 13:25] DEberhardt opened #9504 "Output of CsOnlineSchedule-Object not showing anything for WeeklyRecurrentSchedule"
Hello,

I know this forum is more interested in Documentation issues and for one, I haven't encountered one on this page, so I wanted to thank you for a well documented Cmdlet that has allowed me to write a neat little script on top of it 😄

Before you close this one though, may I please feed back the following:

[code]
Now here I would have expected output as in "08:00:00-17:00:00" for Monday Hou

[2022-06-03 15:58] yogkumgit commented on #9148
@CLYVR Please update

[2022-06-03 16:00] yogkumgit commented on #9427
@isrumnon Kindly update. Thanks

[2022-06-03 16:03] yogkumgit commented on #9461
@chrisda Kindly update, thanks.

[2022-06-03 16:05] yogkumgit commented on #9469
@samrajcse Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-03 16:06] #9469 closed

[2022-06-03 16:07] yogkumgit commented on #9472
@SeanTGeoghegan Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We

[2022-06-03 16:07] #9472 closed

[2022-06-03 16:09] yogkumgit commented on #9476
@isrumnon Kindly update. Thanks

[2022-06-03 16:10] yogkumgit commented on #9479
@ssteiner Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-06-03 16:10] #9479 closed

[2022-06-03 16:21] chrisda commented on #9461
Nothing to report.

[2022-06-03 16:38] CLYVR commented on #9148
@yogkumgit @pbafna03 @dariomws @TheITguy666 - Thanks for the info.

I have opened a bug with the team and they will investigate.

2881639 -  Set-CsCallQueue - can't change from TTS/Prompt or Prompt/TTS without changing routing action to something else first

[2022-06-03 19:19] BalajiNJL commented on #8919
Thanks @isrumnon - changing to IsSipEnabled worked.

[2022-06-06 05:12] yogkumgit commented on #9148
@CLYVR  Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-06-06 05:12] #9148 closed

[2022-06-06 11:37] isrumnon commented on #9453
Hi @paulsysadmin DirSync is deprecated only for TeamsOnly organizations but still remains for Tenants that are Hybrid (have an OpPremise deployment)

[2022-06-06 11:38] isrumnon commented on #9427
@bbteam17 we've created a bug for this and will look into it in the near furure

[2022-06-06 15:32] sarollins commented on #9498
The OnPrem attributes are not fully supported yet.  If I pipe the results to a filter, they are not available, which makes no sense as the Get-CsOnlineUser will just be sending all the data as is and the Where clause shouldn’t be manipulating any data.

Get-CsOnlineUser | Where {$_.Identity -like '0*'} | Select Identity,OnPrem*

Identity                     : 06a7064b-0976-4edf-b7ca-f85b11cd85dc
O

[2022-06-06 17:22] paulsysadmin commented on #9453
Hi @isrumnon I am aware of that as we are still a hybrid and we use AAD Connect to synchronise objects to Azure. My question is why in all previous versions of the module are the InterpretedUserTypes using AADConnect and now in 4.3.1 they have been switched to DirSync ?

Dirsync was replaced by AADConnect several years ago. Am I missing something ?

[2022-06-06 19:59] get-itips commented on #9498
I understand that is the current behavior when filtering, correct me if I am wrong @isrumnon

[2022-06-06 20:09] get-itips commented on #9494
Hello @juniorccs how are you?
The best in your scenario would be to open a support ticket from your tenant, as here we are limited to documentation fixes.
Thank you!

[2022-06-06 20:12] get-itips commented on #9468
Hello @sarollins
Thanks for your feedback, here, we are limited to documentation fixes and improvements, I'll try to pass this feedback on.
Thanks again,

[2022-06-06 20:16] get-itips commented on #9466
Hello @anwarmahmood1 I could autocomplete ErrorAction if I type "-Er" for example, hope this information helps you, as here we are limited to documentation fixes.

[2022-06-06 20:16] #9466 closed

[2022-06-06 20:28] get-itips commented on #9465
Hello @lyncjp how are you?

Please note that

Source https://docs.microsoft.com/en-us/skypeforbusiness/migration/configure-federation-routes-and-media-traffic

[2022-06-06 21:44] ChrisNic817 opened #9509 "New-ComplianceSearch - just the hard way of doing work"
Searching a single mailbox using this PowerShell command is convoluted and ridiculous.
The Compliance methods are not designed around actually searching individual mailboxes or working with small data sets like searching mailboxes.

The split should be reinitialized and put Search-Mailbox back into the environment so one mailbox can be searched and use Compliance Searches for true and real data se

[2022-06-07 01:22] yogkumgit commented on #9476
@ckarawani Hope this is helpful for you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-07 01:23] #9476 closed

[2022-06-07 01:28] yogkumgit commented on #9427
@bbteam17 Thank you very much for your kind feedback. Considering your valuable feedback, as mentioned it is listed as future work item. Concerning team will evaluate and take the appropriate action, as per their schedule. Here we are limited to documentation fixes and improvements only. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-06-07 01:28] #9427 closed

[2022-06-07 01:36] yogkumgit commented on #9500
@ruudvanstrijp Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-07 01:36] #9500 closed

[2022-06-07 01:41] yogkumgit commented on #9494
@get-itips Thank you very much for the contribution and sharing this explanation. @juniorccs Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-06-07 01:41] #9494 closed

[2022-06-07 01:44] yogkumgit commented on #9468
@sarollins Thank you very much for your kind feedback. As mentioned issue is reported to PG.  Concerning team will evaluate and take the appropriate action, as per their schedule. Here we are limited to documentation fixes and improvements only. We proceed here to close it. Thanks again for taking out some time and sharing your feedback

[2022-06-07 01:44] #9468 closed

[2022-06-07 01:47] yogkumgit commented on #9465
@get-itips Thank you very much for the contribution and sharing this explanation. @lyncjp Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-07 01:49] yogkumgit commented on #9497
@dr-raypc Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-07 01:50] #9497 closed

[2022-06-07 05:06] isrumnon commented on #9498
Hi @sarollins can you please share your tenant ID with me so I can check from my end whether your org is enabled for these attributes? my ID - isrumnon@microsoft.com
Hi @get-itips it was expected behavior but we've deployed a change to enable them

Note: I will delete this post assuming you have received a mail for this comment due to privacy reasons (on sharing my mail ID)

[2022-06-08 10:49] isrumnon commented on #9498
@yogkumgit I have responded to this in a separate thread. @sarollins let us know if we are good to close this ticket

[2022-06-08 12:23] ThomasPerezBlanco commented on #9229
Hello,

The problem is still relevant, I am using version '4.4.1' of the module.
Do you have a solution ?

Thanks.

Cordially,

Thomas PEREZ.

[2022-06-08 12:33] nicuberger opened #9518 "Set-CsOnlineSchedule : Internal server error occurred. Please try again after sometime."
We are getting alot of errors when we try to set Holiday-Schedules with Set-CsOnlineSchedule

Sometimes it works but mostly we get that internal server error.

Set-CsOnlineSchedule : Internal server error occurred. Please try again after sometime.
In Zeile:52 Zeichen:5
+     $null = Set-CsOnlineSchedule -Instance $scheduleObject
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + Ca

[2022-06-08 12:42] ThomasPerezBlanco opened #9519 "Grant-TeamsRecorderPolicy error Invalid input parameters forest"
Hello,

I still have the same problem as incident  #9229 .
We use European servers, the correction has been deployed on our servers?
Additional Info: I'm using module version 4.4.1.

Thanks.

Cordially,

Thomas PEREZ.

[2022-06-08 13:10] AllStarzes commented on #9519
Same here! After Update the module of version 4.4.1 `New-CsTeamsMeetingPolicy : Invalid input parameters missing X-MS-Forest header`

[2022-06-08 13:19] CldEng-DT opened #9520 "Teams PowerShell Module (4.4.1) Grant Policy Commands - Grant-CsTeamsVideoInteropServicePolicy: Invalid input parameters forest"
My team is currently doing testing on the PexipCVI and they have a new team member to add and when I went to grant access to the policy like I did the others(using GA), I had issues with the cmdlets.  saw on issue 9229 very similar issues and as I was running an older version of the Teams PS module (4.0.0), I updated to 4.4.1.  cmdlets seems to work, but when I go to add the user in question (and

[2022-06-08 13:20] Nightwars82 commented on #9229
Hello, i have the same problem with `Grant-CsOnlineVoiceRoutingPolicy`

[2022-06-08 13:28] j-hinks commented on #9519
having similar issues on this side with New-CsTenantDialPlan, Grant-CsTeamsComplianceRecordingPolicy and Get-CsOnlineSipDomain

[2022-06-08 13:31] CldEng-DT commented on #9229
#9520

[2022-06-08 13:42] JEVNINO commented on #9519
Same issue here using 4.1.0 and my colleague is using 4.2.0 & tested with 4.4.1 and same issue with Grant-CsTeamsUpgradePolicy, GrantCsOnlineVoiceRoutingPolicy & Grant-CsTenantDialPlan.

Invalid input parameters forest

[2022-06-08 13:45] sbusst commented on #9519
I have the same issue with:
Grant-CsTeamsComplianceRecordingPolicy
New-CsTenantDialPlan
Get-CsOnlineSipDomain
It's becoming urgent

[2022-06-08 14:34] ckarawani commented on #9229
Same here, issues is back and affecting many clients / tenants

[2022-06-08 14:36] prysmcorp commented on #9229
We're also experiencing this problem. Hoping for a resolution ASAP

[2022-06-08 14:40] justokin commented on #9520
Having the exact same issue in 4.2

[2022-06-08 14:48] sys-adm90 commented on #9229
same issue here with powershell module 4.4.1. Hope it will be fixed soon. We will tomorow migrate from a Mitel PBX to Teams and need the PowerShell Commands to provision the configuration.

[2022-06-08 15:01] orion3311 commented on #9229
+1 as well, can't assign voice routing policies

[2022-06-08 15:23] rmichalskinw commented on #9520
My tenant and customers are also facing this issue. I opened a Sev-A ticket and was told that the work around was to manually assign policies via the TAC. They reduced my ticket severity despite the fact that manually assigning policies to hundreds of users is not workable in the TAC.

[2022-06-08 15:29] vlethiec opened #9521 "Get-CSOnlinePSTNGateway, Get-CsOnlineSipDomain and Get-CsMeetingRoom don't work anymore on 4.0.0 and more"
Hi,

We have a lot of issues on customer tenants with the following cmdlets (not exhaustive).

- Get-CSOnlinePSTNGateway
- Get-CsOnlineSipDomain
- Get-CsMeetingRoom

This issue appeared some hours ago and only on module 4.0.0 and more.

Regards,

Vincent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 572daa95-a813-8e96

[2022-06-08 16:00] bauclair-altigen commented on #9229
Confirmed that this is not happening when using versions of MicrosoftTeams PowerShell module before 4.x.  Use this as a workaround, at least until 6/15.

[2022-06-08 16:04] et01267 commented on #9520
Yes - no workaround in our case since we are managing voice routes for 1000s of users in 100s of tenants via delegated credentials on our servers.   Also opened Sev A case and Microsoft have acknowledged that others have done the same.

[2022-06-08 16:30] bauclair-altigen commented on #9229
Looks like MS is responding to this issue.  Reference Microsoft Teams service alert TM390234.

[2022-06-08 17:01] rmichalskinw commented on #9520
Issue appears to be resolved me and my customers.

[2022-06-08 17:11] #9521 closed

[2022-06-08 17:22] JEVNINO commented on #9520
Confirmed I closed out of my PowerShell session re-launched and confirmed all is working as directed.

[2022-06-08 17:48] #9520 closed

[2022-06-08 18:07] maximonstre commented on #9521
Magic

[2022-06-09 02:12] ckarawani commented on #9229
Looks like problem has been addressed (again) via TM390234 as they have reverted the offending change:
<img width="549" alt="image" src="https://user-images.githubusercontent.com/2483804/172749450-5b742199-9783-42ee-9bf5-0505c98dc748.png">

[2022-06-09 02:17] ckarawani commented on #9520
just curious, has anyone ever gotten any traction with 365 Support on these types of pwsh issues? I opened a ticket with them, and despite an advisory being eventually opened AND finally closed, they still never got back to me and the ticket is still open.

[2022-06-09 05:43] ranukher opened #9525 "Filtering a user based on phone number wildcard"
Hi,
Previously we had the ability to search a user based on phone number wildcard using filter request with like operator. It seems now with the new module they dont like us searching with like. is there a possibility we can have this feature back in upcoming releases?

Get-CsOnlineUser -Filter {lineuri -like "*45717*"} | fl userprincipalname

![image](https://user-images.githubusercontent.com/107

[2022-06-09 07:41] ivassallo19 opened #9526 "Current Exchange Online PowerShell module not completely Signed"
Page: https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell

Product: Exchange Online PowerShell

I'm not sure I have a way to exactly prove this.

We are operating an environment with AppLocker, and our admin accounts with an Execution Policy of AllSigned.
When using the latest ExchangeOnlineManagement module, 2.0.5, and get to running Connect-ExchangeOnline, it com

[2022-06-09 08:01] pbafna03 commented on #9519
@yogkumgit - you can close this one, this was resolved yesterday.

[2022-06-09 09:03] #9519 closed

[2022-06-09 11:45] miklak101 commented on #9432
I'm having this exact same issue, has Microsoft resolved your issue yet?

[2022-06-09 11:59] JensTrier commented on #9432
@miklak101 please open a Microsoft support case and they will work with you to solve this.

[2022-06-09 12:33] miklak101 commented on #9432
we opened our case two days ago, I was just checking here to see if there was a known fix yet so that the Microsoft engineer working on our case might have something to refer to.

[2022-06-09 13:41] libach81 opened #9527 "IsMemberAllowedToEditContent missing information"
The command IsMemberAllowedToEditContent is missing information on what it does. Currently says {{ Fill IsMemberAllowedToEditContent Description }}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80326e44-6beb-8983-57ab-8333608c504b
* Version Independent ID: 8962c0dc-72a3-208a-33de-6a89cd56b6fc
* Content: [Set-UnifiedGr

[2022-06-09 13:59] rmichalskinw commented on #9520
Thankfully my company has Premier Support who have been far and away better than the typical O365 support. I got a call within 20 minutes of my ticket and then email updates ever ~30 minutes or so.

[2022-06-09 14:05] JensTrier commented on #9432
Sorry to hear it is taking so long time. Please tell the support engineer to escalate the case, if not already done.

[2022-06-09 14:07] et01267 commented on #9520
Yes, Premier Support lets you bypass 2 or 3 layers of drones, and you get constant (24x7) unctuous solicitations from various support engineers, case managers, and the like.   However, your problem will take just as long to get fixed, and you almost never get to talk to anyone who actually knows anything from first-hand experience with the issue (either code or devops).

[2022-06-09 16:38] chrisda commented on #9527
@libach81, empty parameter descriptions are a known issue. See [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for an explanation.

So, are you just pointing out that the description is empty, or do you have other information (content, blog posts, etc.) that this parameter is alive and working?

[2022-06-09 16:57] chrisda commented on #9526
@ivassallo19, I'm not sure it's the module itself or the remote PowerShell connection element that's the culprit. It might be the remote PowerShell connection.

Even back in the 'no module' connection days (`2009 until now), you needed to do `Set-ExecutionPolicy RemoteSigned` to connect to Exchange Online PowerShell (see (here)[https://docs.microsoft.com/powershell/exchange/basic-auth-connect-to-e

[2022-06-09 17:17] yinzh798 commented on #9518
We are from Microsoft Teams. Could you help to post the TenantId for us? It will help us to identity the logs from server side to see why there is an Internal server error. You can find the TenantId after you run Connect-MicrosoftTeams cmdlet. Thank you!

[2022-06-09 18:02] ckarawani commented on #9520
thanks @rmichalskinw and @et01267 for the feedback!

[2022-06-09 19:24] sarollins opened #9529 "Where Filter does not always work"
My back is against the wall after downloading 4.4.1 and discovering that the deprecation of the LdapFilter parameter seems imminent.  With no traction on getting the -Filter to support wildcards for Identity (-Filter "Identity -like '00*'"), I'm resorting to using the PowerShell "Where" command to do my filtering, knowing that scripts are going to run 4 times slower.  Unfortunately, when testing t

[2022-06-10 02:16] sarollins commented on #9529
I've even tried variations of converting the Identity to a string, thinking a guid compare may have some issues, but to no avail

Get-CsOnlineUser | Where {($_.Identity).ToString() -like 'b3*'} | Select Identity,DisplayName

[2022-06-10 06:06] nicuberger commented on #9518
Account                          Environment Tenant                               TenantId
-------                          ----------- ------                               --------
***@***.******@***.***> AzureCloud  49068363-8361-4607-9549-62b6b55794aa 49068363-8361-4607-9549-62b6b55794aa

Von: yinzh798 ***@***.***>
Gesendet: Donnerstag, 9. Juni 2022 19:18
An: MicrosoftDocs/office-docs-powershel

[2022-06-10 07:03] JensTrier commented on #9518
@nicuberger I can repro this in my test tenant, but so far only on TPM 4.4.1 using Windows PS 7.4.0 running on Windows 11. What versions are you using?

@yinzh798 please reach out to me internally.

[2022-06-10 07:54] isrumnon commented on #9525
Hi @ranukher this feature is in our plans and we will re-introduce it in a few months time

[2022-06-10 08:23] isrumnon commented on #9529
@sarollins we're looking into this issue but just need some additional information from you - Is the desired user/s appearing in the output when you just run Get-CsOnlineUser?

[2022-06-10 09:44] nicuberger commented on #9518
On Azure Automation Runbook Runtime version 5.1 and on a Windows 11 client with Powershell 5.1.22000.653

[2022-06-10 09:53] yogkumgit commented on #9525
@ranukher Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:58] ranukher commented on #9525
Thanks for insight, good to know that this feature will come back soon

[2022-06-10 09:59] ranukher commented on #9525
Thank you for the help, please archive this request.

[2022-06-10 10:51] sarollins commented on #9529
Oddly enough, I discovered this answer late last night and it does not.  Why would that be?

[2022-06-10 15:01] keithmweaver opened #9530 "Teams PowerShell Set-CsPhoneNumberAssignment no -WhatIf switch"
The Teams PowerShell command Set-CsPhoneNumberAssignment does not have a -WhatIf switch. This should be added so scripts can be tested first before committing changes.

[2022-06-10 17:54] sarollins commented on #9529
I'm seeing a lot of attributes not getting returned if I use the Where statement

Get-CsOnlineUser | Where {$_.Identity -like '68*'} | Select DisplayName, TeamsUpgradePolicy, Identity

DisplayName     TeamsUpgradePolicy Identity
-----------     ------------------ --------
AA Test                            687592fc-585a-4d93-b7cb-f88bb370d0bf

Get-CsOnlineUser -Identity '687592fc-585a-4d93-b7cb-f8

[2022-06-10 20:40] yinzh798 commented on #9518
There is one server machine with transient DNS issue. We reboot the machine and the issue is resolved. @nicuberger could you try again and see if the issue is resolved?

[2022-06-11 11:24] DEberhardt commented on #9504
Here is the output:
[code]

After connecting I have the following Modules imported:
[code]

For repo, this will do:
[code]

[2022-06-13 06:43] isrumnon commented on #9504
@pbafna03 can you have a look at this?

[2022-06-13 07:27] isrumnon commented on #9529
Hi @sarollins we'll look into this, thanks for brining this to our attention. Can you help us with a few more details?
We'll need fiddler traces for the scenarios that you are facing problems with to help us with our investigation
P.S.: I'm sharing my mail ID separately

FYI: @pbafna03 on the client side filtering issue

[2022-06-13 07:28] isrumnon commented on #9529
@sarollins my email ID is isrumnon@microsoft.com, you can share the fiddler traces here. I will be deleting this post due to privacy reasons

I’ve included the steps below to capture a Fiddler trace from a PowerShell session below just in case

1.	Start Fiddler.

2.	Hit F12, or go to file, and uncheck capture traffic

3.	Clear session if unwanted traffic is captured using Ctrl + A, then Ctrl + X

[2022-06-13 08:46] nicuberger commented on #9518
It is resolved thanks for the reboot!

Von: yinzh798 ***@***.***>
Gesendet: Freitag, 10. Juni 2022 22:41
An: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Nicu Berger ***@***.***>; Mention ***@***.***>
Betreff: Re: [MicrosoftDocs/office-docs-powershell] Set-CsOnlineSchedule : Internal server error occurred. Please try again after sometime. (Issue #9518)

Externe E-Mail. Vorsicht mit Links

[2022-06-13 14:17] lyncjp commented on #9465
But in this description, multiple Edges are allowed.

Source https://docs.microsoft.com/en-us/skypeforbusiness/migration/configure-federation-routes-and-media-traffic

[2022-06-13 14:59] get-itips commented on #9465
@lyncjp Hello how are you? That is referring to multiple edge **servers** versus multiple edge **pools**

[2022-06-13 15:32] Maymne opened #9534 "Teams PowerShell Get-CsCallQueue fails on 4.x.x but works on 3.1.1"
We have a less privileged account which we are using to query our call center's Teams call queue, so that they have an easily visible dashboard and are more aware of when to panic. This works great with the 3.1.1 version of the module, but fails with 3.2.0-preview or any version of 4.x.x through the currently released 4.4.1. As this works fine with 3.1.1, we'd rather not grant the account more per

[2022-06-13 17:04] vlethiec opened #9535 "Password is still required to generate token?"
Hi all,

I have two questions/remarks regarding the connection with access token.

1. Password still required
According to the chapter "Example 4: Connect to MicrosoftTeams using Accesstokens"
The login and password are still required for the token generation. It means our clients still need to give us the credential of the service account. Is it really relevant? Did I miss something?

2. No way t

[2022-06-14 01:12] lyncjp commented on #9465
Federate settings are per pool. The actual case where this warning appears is when federate is enabled for multiple edge pools. A single edge pool configuration containing multiple edge servers will not be warned. I thought the description was about multiple edge pools, although it describes multiple edge servers.
If each site uses a different SIP domain, I don't see a problem with having a federa

[2022-06-14 01:21] ivassallo19 commented on #9526
@chrisda Thanks for the reply.
Yes it seems you are correct. Whenever Import-PSSession is invoked it displays this error.
So the problem is not with the Exchange module but with PowerShell itself.
I probably need to find another area to raise this.

But to answer your points. Although setting the policy to RemoteSigned isn't a good security practice, given the documentation states it is required,

[2022-06-14 08:46] yogkumgit commented on #9453
@isrumnon

[2022-06-14 08:50] yogkumgit commented on #9527
@libach81 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-14 08:50] #9527 closed

[2022-06-14 08:54] fpiecka opened #9538 "HTTP proxy not used on PowerShell Core/Linux"
HTTP proxy in Linux is set using environment variables `http_proxy`, `https_proxy` and `no_proxy`.

Exchange Online PowerShell modules don't recognize the settings and don't use proxy at all. Connect-ExchangeOnline cannot be used in a network which uses a proxy server to access the internet.

The modules work using the same proxy server in Windows PowerShell when the proxy is configured in Windows

[2022-06-14 08:57] yogkumgit commented on #8609
@JensTrier kindly let us know, whom to approach for this issue. Thanks
CC : @tiburd

[2022-06-14 09:00] yogkumgit commented on #9338
@FilippSe Gentle reminder. Email sent.

[2022-06-14 09:31] JensTrier commented on #8609
I'm told that the cmdlet will continue to have this status. Nothing more to add.

[2022-06-14 15:51] chrisda commented on #9526
@ivassallo19, yeah, the remote PowerShell session will create temporary files, and I don't think there's anything we can do about that.

Version 2.0.6-Preview6 of the module has ALL cmdlets available as REST API backed. That means you don't need to have Basic auth enabled in WinRM. All of this is explained [here](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2?view=exc

[2022-06-15 01:10] drdenson opened #9542 "Timeframe for policy deployment is worded in a confusing way"
Hi, working with the PG on this feature, it was relayed that the time it takes for graph to see the changes take effect is incorrect.  It currently states it could take longer than 1 hour.  It should read, it could take UP TO 1 hour.  Affected line from the doc below.

https://docs.microsoft.com/graph/auth-limit-mailbox-access
Note: Changes to application access policies **can take longer than 1 h

[2022-06-15 11:04] yogkumgit commented on #9526
@ivassallo19 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-15 11:04] #9526 closed

[2022-06-15 15:57] Maymne commented on #9534
Checked this against 4.4.3-preview and still access denied. Slightly different error, as it gives the line and doesn't note EFF/ARCI anymore.

Get-CsCallQueue -Verbose
Get-CsCallQueue_Get: USERPROFILE\Documents\PowerShell\Modules\MicrosoftTeams\4.4.3\custom\PsExt\Merged_custom_PsExt.ps1:842
Line |
 842 |          $result = Microsoft.Teams.ConfigAPI.Cmdlets.internal\Get-CsCa …
     |          ~~~~~

[2022-06-15 18:35] JensTrier commented on #9530
We have added it to our backlog, but currently no ETA.

Feel free to close this issue.

[2022-06-15 19:58] yinzh798 commented on #9534
Thanks for reporting this issue. We are from Microsoft Teams. Could you please go to Office 365 Admin Center portal->Users->Active Users, and see which Role is assigned to the "less privileged account"? (eg. Global Reader, Global Administrator, etc)

[2022-06-15 20:49] chrisda commented on #9542
@drdenson, I find no matches to the word "hour" anywhere in the New-ApplicationAccessPolicy topic (or any of the other \*-ApplicationAccessPolicy topics), so there's nothing to correct.

If you're asking for updates to <https://docs.microsoft.com/graph/auth-limit-mailbox-access>, you're in the wrong place.

Comments?

[2022-06-15 22:08] Maymne commented on #9534
The account is currently in the roles of Helpdesk Administrator and Teams Device Administrator.

[2022-06-16 02:40] SvenBell opened #9545 "Example Correction"
Hi, the examples on this page are misspelled: Set-TeamsCallHoldPolicy
instead of: Set-CsTeamsCallHoldPolicy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 518fc90c-e8c9-a9a4-1fda-96424ca3d379
* Version Independent ID: 4958f385-ec82-e3ff-cff0-c667b9ee0249
* Content: [Set-CsTeamsCallHoldPolicy (SkypeForBusiness)](https:/

[2022-06-16 05:09] yogkumgit commented on #9530
@JensTrier Thank you very much for sharing this explanation. @keithmweaver  as this is in the plan and future work item we proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-16 05:14] yogkumgit commented on #9504
@DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-16 05:14] #9504 closed

[2022-06-16 07:43] vlethiec opened #9546 "Move-CsMeetingRoom still relevant for MTR?"
Hi,

For the cmdlets "Get-CsMeetingRoom", "enable-csmeetingroom", "disable-csmeetingroom" and "set-csmeetingroom", we have the following note:

"Note: This cmdlet is not supported for managing Microsoft Teams Rooms. You must use the methods described in the [Microsoft Teams Rooms](https://docs.microsoft.com/en-us/microsoftteams/rooms) documentation to manage Microsoft Teams Rooms."

But for "move-

[2022-06-16 11:23] JensTrier commented on #9518
The issue I could repro has been fixed in TPM 4.4.3-preview

[2022-06-16 17:22] velikantisreekanth opened #9549 "Unable to get cmdlet: Get-CscallQueue details when connected via new-PSSession"
Hi Team,
Unable to connect to Get-CscallQueue cmdlet when connected via new-PSSession.
It works well when the script is executed from the PowerShell ISE but not when connected via session endpoint. I am using the Teams module 4.4.1 version.
cmdlets used to connect to remote session:
$so = New-PSSessionOption -SkipCNCheck -SkipCACheck
Enter-PSSession -ComputerName servername -UseSSL -ConfigurationN

[2022-06-16 19:33] chrisda commented on #9542
OK. Closing.

[2022-06-16 19:33] #9542 closed

[2022-06-17 06:10] pbafna03 commented on #9549
Hi @velikantisreekanth,

The remoting cmdlets in Teams PowerShell Module are deprecated now, please use the modern cmdlets in 4.x.x.

[2022-06-17 10:13] yogkumgit commented on #9549
@velikantisreekanth Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-17 12:11] nekkron opened #9553 "Command typo"
Under "Troubleshoot installing the EXO V2 module" and bullet "You receive the following error:" the command "Get-PSReporitory" doesn't exist. The correct command is "Get-PSRepository"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b3

[2022-06-17 13:15] mailgut opened #9554 "Version 2.05 ask for updaten to Version 2.06 - but install (by default installs Version 2.05)"
[Enter feedback here]

Version 2.05 ask for updaten to Version 2.06 - but install (by default installs Version 2.05)

So either ist shouldnt suggest to update or the newest Version should be installed with " install-Module -Name ExchangeOnlineManagement -force"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af

[2022-06-17 16:06] chrisda commented on #9553
@nekkron, fixed. In the future, you too can make changes like this directly. No need to open a GitHub issue first. Instructions are [here](https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md).

Thanks for the feeback.

Closing

[2022-06-17 16:06] #9553 closed

[2022-06-17 16:23] velikantisreekanth commented on #9549
Hi @pbafna03,

Thanks. I am using latest modules version 4.4.1. I am using connect-MicrosoftTeams cmdlet for connecting to Teams and process the input but when the script executes the line Get-CscallQueue , its erroring out. The use of remote session is to allow end users to have certain functions exported as modules and execute them based on the usage instead of scheduling the script in server to

[2022-06-17 16:48] chrisda commented on #9554
@mailgut, version 2.0.6 is still in Preview (Preview6 is the latest), so I'm not sure why the public 2.0.5 version of the module is asking you to upgrade. But, you certainly can update to gain functionality (like CBA in Security & Compliance PowerShell and REST API backed cmdlets that don't require Basic auth in WinRM in Exchange Online PowerShell).

If you want to install the v2.0.6-Preview6 vers

[2022-06-18 01:24] yinzh798 commented on #9534
Helpdesk Administrator was mistakenly granted permission to run Get-CsCallQueue cmdlet in the past. We have fixed this issue in the recent release. If you want less privileged account to run Get-CsCallQueue cmdlet, please assign either of these two roles to the user.

Teams Administrator
Teams Communication Administrator

[2022-06-18 04:51] Maymne commented on #9534
Ah, that makes good sense. It never made perfect sense to me why it worked, but I'll let our security team decide what they want to choose as their new available and correct options. Thanks for the response!

[2022-06-18 04:51] #9534 closed

[2022-06-20 10:22] yogkumgit commented on #9549
@pbafna03

[2022-06-20 23:44] ma261065 opened #9569 "Retention Policy created as case hold policy"
While testing, and also based on feedback from Product Group, if the -RetentionComplianceAction parameter is omitted, the Retention Policy is created as a "UniH" instead of a "mbx" policy (Refer to MS-internal Issue 2673745 on o365exchange.visualstudio.com).

This should be called out somewhere in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2022-06-21 08:21] jinzheng-msft opened #9570 "Incorrect information regarding the support for Office 365 operated by 21Vianet"
Hello ,

In this document it says
"This cmdlet is available in Office 365 operated by 21Vianet, but it won't return any results."

However, we are able to run this cmdlet and retrieve Mailbox Audit log in Office 365 operated by 21Vianet through powershell.

It looks like the information needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-06-21 15:34] jmgarciasanti commented on #9043
@sarollins we have the same problem (100K users) and we were using same solution, a loop using "GUID like [0-9]*" filter. Since we've migrated to MicrosoftTeams module version 4.4.1, once Microsoft has stopped the service for versions <4, we're stopped at the same point.
Bad news that version 4.4.1 doesn't suppor LDAPFilter, and we neither can loop with a "UPN like [a-z]*" filter because we know w

[2022-06-21 19:29] joenstrup opened #9572 "Feature request: Connect using AppID, CertificateThumbPrint,TenantName"
App-only is supported by i.e. following modules:
 - AZ
 - PNP.PowerShell
 - ExchangeOnline/Security&Compliance
 - Graph

Please also have this option to connect using AppID, CertificateThumbPrint and TenantName, as security-wise current token method requires a App Reg with Client Secret and a service account/user.

With the option to use an App Reg with certificate, we can remove the account requi

[2022-06-21 20:00] chrisda commented on #9569
OK. Done.

Thanks for the feedback.

Closing

[2022-06-21 20:00] #9569 closed

[2022-06-21 20:05] chrisda commented on #9570
OK. Statement removed. In the future, you too can make changes like this yourself. No need to open a GitHub issue first. For instructions, see [here](https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md).

Thanks for the feedback.

Closing

[2022-06-21 20:05] #9570 closed

[2022-06-22 14:54] coupalm commented on #3954
@nsksaisaravana, did you resolve your issue? If yes can you share the solution?

Thanks.

[2022-06-22 15:52] #9545 closed

[2022-06-23 06:53] isrumnon commented on #9043
Hi @jmgarciasanti yes we plan on introducing in the near future (3 - 4 months from now)

[2022-06-23 06:54] isrumnon commented on #9043
Also @jmgarciasanti  on your other issues please reach out to me on isrumnon@microsoft.com
Deleting this post due to privacy reasons

[2022-06-23 08:45] Alex-Catalin opened #9581 "-SharedCalendarSyncStartDate parameter"
We should clarify in the documentation, on which mailbox we need to run the cmdlet Set-MailboxCalendarFolder with the -SharedCalendarSyncStartDate parameter. Should this be executed on the calendar owner's mailbox or on the delegate's mailbox, to have effect on the delegate side?

The description of the parameter contains this parapragh "The SharedCalendarSyncStartDate parameter specifies the limi

[2022-06-24 09:33] pbafna03 commented on #9546
Hi @vlethiec,

Move-CsMeetingRoom cmdlet is not present in the Teams PowerShell Module and hence that note was not added for it. But yes, it is also not supported for managing Microsoft Teams Rooms. Methods mentioned in https://docs.microsoft.com/en-us/microsoftteams/rooms/ are the supported ways to manage Microsoft Teams Rooms.

Regards,

[2022-06-24 15:57] yogkumgit commented on #9043
@isrumnon Thank you very much for sharing this explanation. @sarollins Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-24 15:57] #9043 closed

[2022-06-27 09:22] TomonoriAbe opened #9587 "Update the trace limit from 50000 to 100000."
The results of the tracking are currently available for 100000 acquisitions. Please update the limit from 50000 to 100000.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c38a9b3d-3c15-3a0f-dc38-4ee357e0c800
* Version Independent ID: 4e5c08ec-a2d4-63a4-27f0-e08445f64f8a
* Content: [Start-HistoricalSearch (ExchangePowerS

[2022-06-27 14:18] DEberhardt opened #9588 "Exmple 3 - Get-CsVoiceNormalizationRule and Remove-CsVoiceNormalizationRule is no longer available"
Hello,

I am trying to adopt Example 3 for our scripting, however, it does not work as the GET-CmdLet for Normalization Rules is no longer published with v4 (it was there in v3.1.0 and before, however it only found Dial Plan rules, not Tenant Dial Plan rules).

Is there a plan to re-introduce this Cmdlet or is the Example simply outdated and functionality to change the Name of a (single) Voice Nor

[2022-06-27 15:44] JensTrier commented on #9588
@DEberhardt Thanks for the feedback. Get/Set/Remove-CsVoiceNormalizatonRule cmdlet have been deprecated and removed from TPM. It was announced in Message Center post 316137 back in January 2022.

Your work-around is the way to go.

[2022-06-27 16:42] chrisda commented on #9587
@TomonoriAbe, OK fixed. In the future, you too can make changes like this yourself without opening a GitHub issue first. For instructions, see [here](https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md).

Thanks for the feedback.

Closing

[2022-06-27 16:42] #9587 closed

[2022-06-27 17:38] chrisda commented on #9538
@fpiecka, you should open a support ticket about this and/or send details to the support alias: exocmdletpreview[at]service[dot]microsoft[dot]com.

In the meantime, I'll add a note describing the problem as you did.

[2022-06-27 17:53] chrisda commented on #9538
@fpiecka, strike that last sentence. I'll update the topic after you answer some questions.

The **Connect-ExchangeOnline** cmdlet has the _PSSessionOption_ parameter that allows you to use information stored from the **[New-PSSessionOption](https://docs.microsoft.com/powershell/module/microsoft.powershell.core/new-pssessionoption)** cmdlet:

[code]

Does this help?

[2022-06-27 17:55] chrisda commented on #9572
@joenstrup, you should open a support ticket about this so your request gets in front of the people who can actually do something about it.

[2022-06-27 22:17] JustinGrote opened #9592 "Add ExchangeUserAccountControl to list of non-filterable parameters"
![image](https://user-images.githubusercontent.com/15258962/176044960-6cc26808-6143-4dac-ad17-c439348c3715.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fedacb0-0fd3-a5b2-ea2f-c3bf61452afc
* Version Independent ID: eb9f1f1f-2bd3-be97-e4b4-a2c8250f5dc2
* Content: [Filters in the EXO V2 module](https://docs.micros

[2022-06-27 22:42] chrisda commented on #9592
@JustinGrote, ExchangeUserAccountControl isn't available on Get-Recipient, either; it only works with:

- Get-Mailbox
- Get-MailUser
- Get-RemoteMailbox

It makes sense if you think about it; Get-Recipient has to work with all kinds of recipient types, but the concept of an associated account only makes sense for those aforementioned user recipient types.

[2022-06-27 22:47] JustinGrote commented on #9592
@chrisda  I'm aware of that, but the help breaks it out by cmdlet, so it should be listed in the get-mailbox section

![image](https://user-images.githubusercontent.com/15258962/176049396-79887f6b-c6b2-4d75-8847-fabbb69a7030.png)

[2022-06-27 23:34] chrisda commented on #9592
@JustinGrote, I'm not sure I follow.

Your picture shows ExchangeUserAccountControl not working with Get-EXORecipient (expcected, as we discussed), while it appears to work fine with Get-Mailbox (expected, since ExchangeUserAccountControl is not called out in the table). I tested it in my own E5 tenant and it works fine with both Get-Mailbox and Get-EXOMailbox.

I tried the 'forbidden' attribute D

[2022-06-28 00:48] JustinGrote commented on #9592
Honestly I forgot that there even was a `Get-ExoMailbox`, I only ever use recipient, so I see your point. That's my bad and thanks for taking the time to explain your position. I'll close this but yeah some rewording would be good.

[2022-06-28 00:48] #9592 closed

[2022-06-28 07:57] JosefAschauerSky opened #9593 "Teams is incorrectly identifying internal users with a 2nd identity provider as external"
we have ~50 accounts synced to azure which have 2 identity issuers, one of it is ExternalAzureAD, ie:

PS C:\Windows\system32> (Get-MgUser -UserId [jo.placeholder@placeholder.de).identities

Issuer                                                  IssuerAssignedId                          SignInType
------                                                   ----------------

[2022-06-28 10:57] firatakandere commented on #9338
Hi,
Only OnlinePSTNGateway values are accepted, OnlineSipDomain isn't checked during validation.

For multi-tenant setup;
One level higher fqdn will be checked if it exists as OnlinePSTNGateway.

For example;
Carrier SBC: `customers.adatum.biz`
Customer SBC: `sbc1.customers.adatum.biz`

Only Carrier SBC `customers.adatum.biz` should be created as OnlinePSTNGateway with New-CsOnlinePSTNGateway and

[2022-06-28 11:39] get-itips commented on #9338
Thanks @firatakandere for the clarification

[2022-06-28 11:48] #9572 closed

[2022-06-28 12:25] yogkumgit commented on #9432
@darwincr Do you have any input to update the documentation with? Thanks

[2022-06-28 12:27] yogkumgit commented on #9465
@get-itips

[2022-06-28 12:27] yogkumgit commented on #9529
@sarollins

[2022-06-28 12:29] yogkumgit commented on #9549
@pbafna03 Please comment. Thanks

[2022-06-28 12:30] yogkumgit commented on #9554
@mailgut Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-28 16:52] DEberhardt commented on #9588
Reopening to manage PR

[2022-06-28 17:39] pbafna03 commented on #9549
Hi @velikantisreekanth ,

The best course of action for this would be to report this via the M365 Support channels, the relevant teams can connect and help debug/figure this out. Ref - https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-support?view=o365-worldwide

Thanks,

[2022-06-28 20:15] get-itips commented on #9465
@lyncjp how are you? To clarify, in your scenario, you have 1 edge pool with multiple edge servers, right?

[2022-06-28 21:51] chrisda commented on #9592
I updated the table to clarify.

[2022-06-28 23:40] robkchang opened #9600 "App-Only authentication doesn't grant full permissions as expected"
This guide works -- no doubt.  However, I have tried this guide many times, and I still cannot get the application to perform some functions using this method.  For example, I cannot:

# You cannot, using this method, auto-complete -type, and you cannot use this switch either
Set-mailbox somemailbox -type shared

#You cannot Add-MailboxPermission using this
Add-MailboxPermission -Identity somethin

[2022-06-29 06:09] JensTrier commented on #9588
Please note that the PS cmdlet page is also documenting features in SfB server and the cmdlets are still there, so I don't see a need to remove Example 3.

[2022-06-29 09:29] italou opened #9603 "Specify UnifiedGroupWelcomeMessageEnabled system-generated emails origin"
At "The UnifiedGroupWelcomeMessageEnabled switch specifies whether to enable or disable sending system-generated welcome messages to users who are added as members to the Microsoft 365 Group." do please clarify to which product side this setting applies to as this can led customers to think that this parameter control integrated products email notifications, ie: Yammer connected groups will send e

[2022-06-29 09:31] italou commented on #9603
Maybe a better wording would be: (this setting only controls emails send by the M365 Group, it doesn't control email sent by connected products, e.g.: Teams or Yammer).

[2022-06-29 15:27] yogkumgit commented on #9549
@velikantisreekanth Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required

[2022-06-29 15:27] #9549 closed

[2022-06-29 16:36] chrisda commented on #9600
@robkchang, if you're using the v2.0.5 version of the module, try using v2.0.6-Preview6 of the module (this is just a shot in the dark, but worth a try). Be advised that v2.0.6 introduces the -UseRPSSession switch and REST API backed cmdlets as described [here](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#updates-for-version-206), so you might try those problematic

[2022-06-30 07:58] fpiecka commented on #9538
Unfortunately, there is no -ProxyAccessType parameter in Powershell Core on Linux. Even if it was, there would be no WinHttpConfig, as there is no Windows and there would be no IEConfig as there is no IE.

[code]

[2022-06-30 09:06] DEberhardt commented on #9588
hm. Should we have Example 3 for SFB then and add the other two for Teams?

[2022-06-30 10:01] yogkumgit commented on #9600
@robkchang Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-06-30 11:00] JensTrier commented on #9588
My recommendation is to move examples 4 & 5 to Set-CsTenantDialPlan PS cmdlet page

[2022-06-30 11:55] jkaluza-rapid7 commented on #9270
Is there a workaround for that problem?

[2022-06-30 12:36] awesomecogs opened #9609 "Article missing description for -Archive parameter"
The article has the text `{{ Fill Archive Description }}` instead of a real description for that parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63846d33-ce4d-ff4e-c23b-8ca1b6a3904f
* Version Independent ID: b22a5a91-cf3c-6043-79dd-74382262d49f
* Content: [Get-MailboxRegionalConfiguration (ExchangePowerShell)

[2022-06-30 16:35] chrisda commented on #9538
@fpiecka, thanks for the clarification. I'll add the note as I originally intended. I would still encourage you to open a support ticket and/or raise the issue at the support alias: exocmdletpreview[at]service[dot]microsoft[dot]com if you haven't already.

Thanks for the feedback.

Closing

[2022-06-30 16:39] chrisda commented on #9270
@jkaluza-rapid7, as described earlier in this issue, your best and only option until v2.0.6 goes public is to send email to the EXO V2 Module support alias at: exocmdletpreview[at]service[dot]microsoft[dot]com.

[2022-06-30 16:42] chrisda commented on #9609
@awesomecogs, empty parameter descriptions are a known issue. Availability of a parameter and functionality of a parameter are two different things. See [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for more details.

So, are you trying to use this parameter, possibly from guidance in other content, or are you just pointing out that the descript

[2022-07-01 08:18] fpiecka commented on #9538
I got in touch with support based on your recommendation and I have great news.

The next version of EXO pwsh module (already available as preview 2.0.6-Preview6) uses different underlying communication methods than older versions and they respect HTTP settings in the environment variables.

Updating to 2.0.6 fixes the problem with proxy in Linux.

[2022-07-01 08:33] koncan5 opened #9616 "Suppress Microsoft 365 Promotional Text"
Please provide an optional parameter to suppress/hide/remove/whatever the following message from every execution of the New-DistributionGroup cmd-let:

This is something that is extremely annoying when wanting to run an automated script to create new distribution groups. We get it, Microsoft 365 or "Unified Groups" exist. We might not want to use them as they over-complicate what we want to do wit

[2022-07-01 08:34] #9616 closed

[2022-07-01 09:56] TheGhost2804 opened #9617 "Related links is referring to the same page"
The related links section is refering to the same page, this should be the Get-OrganizationConfig command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23add0a6-bb9c-15d2-a6eb-351ae0564522
* Version Independent ID: 8056b3ee-4fab-3a5c-935b-a9d0e9ad82a4
* Content: [Set-OrganizationConfig (ExchangePowerShell)](https://do

[2022-07-01 14:19] #9546 closed

[2022-07-01 17:08] chrisda commented on #9538
Cool. I updated the topic with the new information.

[2022-07-01 17:18] chrisda commented on #9617
@TheGhost2804, believe it or not, up until ~3 years ago, every Exchange-related cmdlet reference topic needed a link to itself in Related Links so `Get-Help <Cmdlet> -Online` would work.  That link now lives in the `online version` metadata attribute.

Only 26 out of 1300+ Exchange-related cmdlet reference topics have anything in the Related Links section, so I just removed the link from the topic

[2022-07-01 17:18] #9617 closed

[2022-07-01 18:22] katjones23 commented on #919
I receive this error when using 'Connect-SPOService', and I tried the DNS work around, but it didn't work for me.

[2022-07-01 20:53] ITUCguy opened #9621 "CsMeetingRoom functions cmdlet is no longer supported?"
MicrosoftTeams PowerShell module 4.4.1 (and 4.5.0 installed today) and when I attempt to run this cmdlet independently and in scripts on our production SfB servers, I get the following error:

PS C:\Windows\system32> Get-CsMeetingRoom
Get-CsMeetingRoom : This cmdlet is no longer supported, please consult public documentation
At line:1 char:1
+ Get-CsMeetingRoom
+ ~~~~~~~~~~~~~~~~~
    + CategoryIn

[2022-07-02 06:07] pbafna03 commented on #9621
Hi @ITUCguy,

The *-CsMeetingRoom cmdlets are not supported for managing Microsoft Teams Rooms. You can use the methods described in the [Microsoft Teams Rooms](https://docs.microsoft.com/en-us/microsoftteams/rooms) documentation to manage Microsoft Teams Rooms.

References:
https://docs.microsoft.com/en-us/microsoftteams/rooms/
https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-supp

[2022-07-04 07:21] raguravindran opened #9622 "Unable to run CsApplicationAccessPolicy from PWSH [MacBook]"
[Unable to run CsApplicationAccessPolicy from PWSH [MacBook]]

When trying to initiate any command related to CsApplicationAccessPolicy
New-CsApplicationAccessPolicy
Get-CsApplicationAccessPolicy

The tenant **nowdomain.onmicrosoft.com** throws Session error. Even after valid login (as Admin).

<img width="1427" alt="Screenshot 2022-07-04 at 12 51 23 PM" src="https://user-images.githubusercontent.

[2022-07-04 07:22] raguravindran commented on #9622
Versions and Modules available.

<img width="1180" alt="Screenshot 2022-07-04 at 12 52 00 PM" src="https://user-images.githubusercontent.com/36010645/177102803-3a935257-f386-492e-bb4f-87500d3f6890.png">

[2022-07-04 07:45] pbafna03 commented on #9622
Hi @raguravindran,

Can you please try with the latest Teams PowerShell Module version.  Older versions like 2.5.0 are deprecated, ref - https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-supported-versions.

Thanks,

[2022-07-04 17:34] TorrenManson opened #9623 "Latitude and Longitude are not reserved"
Latitude and Longitude params are not reserved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d41db135-d54b-b89b-73b1-8b2773d45eb3
* Version Independent ID: 3483eb1d-6fb6-a4de-45b2-24d6ba7ac5e8
* Content: [New-CsOnlineLisLocation (SkypeForBusiness)](https://docs.microsoft.com/en-us/powershell/module/skype/new-csonline

[2022-07-05 05:43] raguravindran commented on #9622
@pbafna03 Thank you, after update it worked. closing this issue

[2022-07-05 05:43] #9622 closed

[2022-07-05 07:12] JensTrier commented on #9623
@TorrenManson thanks for the feedback! I'll fix it.

[2022-07-05 13:38] ITUCguy commented on #9621
Hi, referencing documentation has already been noted.  The comment is not helpful. Please reopen.
Reference: https://www.powershellgallery.com/packages/MicrosoftTeams/4.5.0: Enable/Disable/Get-CsMeetingRoom are listed as functions of as Teams Module 4.5.0. Need the ability to use the functions Get-CsMeetingRoom to move existing Skype for Business conference room to Teams. Existing scripts are no l

[2022-07-05 14:46] JensTrier commented on #9623
Fixed in PR 9626

[2022-07-05 16:29] chrisda commented on #9509
@ChrisNic817, you should open a support ticket about this. All we can do here is fix documentation.

[2022-07-06 05:42] vishnookumar opened #9628 "Get-TeamChannelUser gives inconsistent results"
I am using the Get-TeamChannelUser to get the list of members in a private channel, but it is giving inconsistent result. I ran the command thrice continuously, but the results are different each time. Refer the screenshot.

Get-TeamChannelUser -GroupId 5db1753c-9c4a-4082-b404-9300d8d10ff4 -DisplayName Private2

![image](https://user-images.githubusercontent.com/70580406/177477377-52ee0896-842c-44

[2022-07-06 07:27] zaichornik commented on #8905
Hi,
One question regarding _Set-CsPhoneNumberAssignment_ command.
Is it possible to assign the **same number to 2 different accounts** (either employee or resource account) in _DirectRouting_ mode in the same tenant ?
In other words - are there any internal validation for assignment uniqueness regarding the phone numbers?

Sorry if that is answered somewhere already or documented (refer to docs if

[2022-07-06 07:31] JensTrier commented on #8905
@zaichornik No, it is not possible. There is uniqueness validation.

What is your scenario?

[2022-07-06 13:43] get-itips commented on #9465
Hello @lyncjp could you see my last question here?

I managed to contact the product team about this, and they suggest to open a support request, as the message you received while trying to use Move-CsUser **is not expected** and something specific to your scenario _might_ be causing this.
If, as a result of opening the case, any improvement to the article is required, I'll be proposing it.

[2022-07-06 14:53] #9621 closed

[2022-07-06 14:59] yogkumgit commented on #9623
#9626

[2022-07-06 15:01] yogkumgit commented on #9509
@ChrisNic817 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wi

[2022-07-06 15:01] #9509 closed

[2022-07-07 00:00] miegie-a opened #9634 "Get-DistributionGroupMember/Get-DynamicDistributionGroupMember behave differently in Windows vs Linux/CentOS (impact: performance)"
**Exchange Online Powershell:**
Get-DistributionGroupMember/Get-DynamicDistributionGroupMember cmdlets behave differently in Windows vs Linux/CentOS.
This difference has a huge negative impact on performance for Linux/CentOS implementation.

setup:
- in EXO tenancy, create a group (distribution group, mail-enabled security group or dynamic distribution group) with at least 10k members
- setup app-

[2022-07-07 00:29] chrisda commented on #9634
@miegie-a, try using v2.0.6-Preivew6 of the module. You have a few of different things to try:

- Connect using the `-UseRPPSSession` switch.
- Connect without using the `-UseRPPSSession` switch so you're using the REST API versions of the cmdlets.
- Connect using app-only authentication

Compare/contrast the results in both Windows and Linux (where possible) and report back here with your finding

[2022-07-07 01:39] miegie-a commented on #9634
Hi,

we have tried v2.0.6-Preview6, also thinking of the same thought line.
when using 2.0.6 remote powershell Session (UseRPSession switch), the behaviour is like 2.0.5 and the Linux based call/query performs very poorly.   I didn't subject it with debugging and i'm not sure if it "crashes" the same way with a DC error.

NOTE that the crash only happens when in full debugging.  the Linux cmdlets

[2022-07-07 01:49] miegie-a commented on #9634
Hi again.

with using 2.0.6-Preview6, when using the default connection by not adding the UseRPSession switch, the Get-DistributionGroupMember/Get-DynamicDistributionGroupMember cmdlet call just simply crashes when the results are long enough that it does some "internal paging".

See error for both Windows and Linux 2.0.6-Preview6.

**Get-DistributionGroupMember: Ex6086AE|Microsoft.Exchange.Data.D

[2022-07-07 06:25] paulsysadmin opened #9636 "Teams 4.5.0 InterpretedUserType behaviour"
Why does InterpretedUserType change if I use Resultsize ?

![Teams_Powershell](https://user-images.githubusercontent.com/105910643/177705714-3a22d5c1-af30-4349-8c10-676d295091ec.png)

[2022-07-07 07:15] JosefAschauerSky commented on #9593
Anything on this?
This is a aad synced user, his first identity is internal. The second identity is ExternalAzureAD federated.
If we try to add him to a shared channel, add-TeamChannelUser incorrectly identifies him as solely externally federated, ignoring his internal identity.

[2022-07-07 10:28] rikumus opened #9639 "Get-team's MailNickName example is a bit misleading"
In [Example 3](https://docs.microsoft.com/en-us/powershell/module/teams/get-team?view=teams-ps#example-3) reg. MailNickName parameter the info text should be updated so that it describes the functionality more as a filter. This is written in parameter's description later in document, but would be good to update this to Example 3 as well. If you compare to Example 4, there it is mentioned for Displ

[2022-07-07 15:03] shivtorov commented on #9636
@paulsysadmin , see #9453

[2022-07-07 15:08] paulsysadmin commented on #9636
That's a different issue. I'm using Module 4.50 here. Why would using a ResultSize parameter change the User Type ?

[2022-07-07 15:23] shivtorov commented on #9636
InterpretedUserType is broken since v.3.x.x
The last version that reliably returned InterpretedUserType values was 2.6.0, but it is no longer allowed.

Resultsize paramater is irrelevant for this issue.
Get-CsOnlineUser correctly reports InterpretedUserType only in one case - if you use `-Identity` parameter.
In all other cases InterpretedUserType value is wrong.

[2022-07-07 15:36] mlafita-agropro opened #9641 "port"

[2022-07-07 15:53] paulsysadmin commented on #9636
Thank you that makes sense. I'll use a Foreach loop to query for the time being.

[2022-07-07 15:53] #9636 closed

[2022-07-07 16:14] chrisda commented on #9634
@miegie-a, you should send this information to exocmdletpreview[at]service[dot]microsoft[dot]com. They should be able to help you.

[2022-07-07 20:10] chrisda commented on #9641
@mlafita-agropro, can you be more specific? Which topic are you talking about?

[2022-07-08 06:16] mlafita-agropro commented on #9641
Hi,

Sorry I’ve opened the issue by error, please close the issue.

Thanks!

Marc Lafita
Technical Business Analyst
[https://veggadigital.com/assets/email/vegga_advanced_farming_logo.png]
***@***.******@***.***>
+34 873 407 887<tel:+34%20873%20407%20887>
veggadigital.com<https://www.veggadigital.com>
[https://veggadigital.com/assets/email/linkedIn.png]<https://www.linkedin.com/company/veggadigital

[2022-07-08 08:02] walidelmorsy opened #9646 "A couple of issues"
1- for the parameter "**-ExchangeSenderMemberOf**", it sounds like the value "All" is not accepted. with "**-ExchangeLocation**" is not recommended according to the article, admins will be left with no options (unless I got the syntax wrong):

![image](https://user-images.githubusercontent.com/55671976/177945881-e49c0019-d7a1-4381-9307-fc2e434ed8ca.png)

2- In section (-ExchangeSenderMemberOfExcep

[2022-07-08 08:20] moverton28 opened #9647 "Impossible to remove GroupNotificationOverride once set?"
By default, the GroupNotificationOverride setting for a Teams user is blank, until set via the Set-CsUserCallingSettings cmdlet. Once set I can't seem to find any way to unset it again. I don't know if this is an issue or if it's just me being green and missing something. I've tried setting it to null in a few different ways but have had little success? What should I do if I no longer want an over

[2022-07-08 09:42] moverton28 commented on #9647
Thank you, much appreciated, thought I was going a little bit mad!

[2022-07-08 09:43] JensTrier commented on #9647
No you were not :-)

[2022-07-08 09:44] #9647 closed

[2022-07-08 10:26] vishnookumar commented on #9628
Hi @yogkumgit Are you able to reproduce this and file an issue to fix this?

[2022-07-08 13:03] thewrabbit opened #9648 "MeetingChatEnabled"
As per MC392295

[-MeetingChatEnabledType <String>]
with current supported values Enabled, Disabled, or EnabledExceptAnonymous

now also supports EnabledExceptAnonymous

https://docs.microsoft.com/en-us/microsoftteams/meeting-policies-participants-and-guests#chat-in-meetings

Can the reference please be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-07-08 13:30] #9641 closed

[2022-07-08 14:00] #9634 closed

[2022-07-08 18:05] chrisda commented on #9646
@walidelmorsy, fortunately for all of us, I spent time yesterday dealing with a similar issue in New/Set-AutoSensitivityLablel based on a support case, so I was able to basically copy those efforts into New/Set-DlpCompliancePolicy. I'll try to summarize:

- In New-, _ExchangeLocation_ only takes the value All. `-ExchangeLocation All` means: "the policy includes email messages (messages sent by all

[2022-07-08 22:25] hkusulja commented on #8537
Ok, any progress on ability to set signatures for mailbox using powershell or graph api when using roaming signatures? It is July 2022. If this is a new feature, what is number # in Microsoft 365 roadmap?

https://www.microsoft.com/en-us/microsoft-365/roadmap?searchterms=60371

[2022-07-11 04:47] yogkumgit commented on #7186
@pbafna03 Please comment. Thanks

[2022-07-11 04:49] yogkumgit commented on #7693
@pbafna03 @get-itips Please comment. Thanks

[2022-07-11 04:49] yogkumgit commented on #8117
@get-itips Please comment. Thanks

[2022-07-11 04:50] yogkumgit commented on #8981
@dariomws Please comment. Thanks

[2022-07-11 04:54] yogkumgit commented on #9338
@vlethiec Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-11 04:54] #9338 closed

[2022-07-11 04:57] yogkumgit commented on #9432
@darwincr We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time t

[2022-07-11 04:57] #9432 closed

[2022-07-11 04:58] yogkumgit commented on #9453
@isrumnon Please comment. Thanks

[2022-07-11 04:59] yogkumgit commented on #9461
@chrisda Please comment. Thanks

[2022-07-11 05:02] yogkumgit commented on #9529
@sarollins We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2022-07-11 05:02] #9529 closed

[2022-07-11 05:03] shivtorov commented on #9465
@get-itips , in all production deployments customers always have at least two central sites. Each site includes at least one Front End pool and one Edge pool. In most cases, both Edge pools enabled for federation (to provide automatic DR capability)

In all my SFBS-to-Teams migration projects, I have to use `ProxyPool` param

[2022-07-11 05:04] yogkumgit commented on #9609
@awesomecogs Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-11 05:05] #9609 closed

[2022-07-11 05:06] yogkumgit commented on #9623
@TorrenManson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-11 05:06] #9623 closed

[2022-07-11 05:08] yogkumgit commented on #9646
@walidelmorsy Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-11 05:08] #9646 closed

[2022-07-11 05:21] shivtorov commented on #9453
@isrumnon, do you know if any work is in progress to fix incorrect InterpretedUserType values reported by Get-CsOnlineUser, when it is used *without* `-Identity` parameters. It is broken since v.3.x.x

Taking into account that v.2.6.0 stopped connecting to our tenants mid June, we have no viable means to use this very useful `InterpretedUserType` value. (Querying `Get-CsOnlineUser` one-by-one is n

[2022-07-11 10:01] ThomHauff opened #9652 "Set-CsTenantDialplan with pre created Regular Expressions for New normaliazion rules fails"
Hi there,

hopefully someone can shed some light into this. We are using a Script to prepare a new Teams Phone system location. All of this script has been working prior the Teams Powershell module update to version 4.0.0 and later. Before the update, we were using version 2.0.0. Currently we`re using the latest 4.5.0 version. After spending hours of investigation so far, I was able to narrow it d

[2022-07-11 11:41] isrumnon commented on #9453
Hi @paulsysadmin apologies for the delayed response, Dirsync was replaced by AADConnect a while back but still applies for organizations with an On-Prem presence. For the sudden change for your specific tenant - we'll need to look into it. Will contact you separately regarding the same.

@shivtorov For InterpretedUserType values in the output of Get-CsOnlineUser when it is used without -Identity v

[2022-07-11 11:41] isrumnon commented on #9453
@paulsysadmin regarding above issue, please reach out to me on isrumnon@microsoft.com. Deleting this post for privacy reasons.

[2022-07-11 12:50] shivtorov commented on #9453
Thanks @isrumnon
I worked with several tenants in the last couple of months. The issue is consistent in all of them.

The most visible case for me is the users still homed in on-premises SFBS - for them `Get-CsOnlineUser` without `-Identity` always incorrectly report `InterpretedUserType ` = `HybridOnline*` (e.g. `HybridOnlineSfBUserWithTeamsLicense`) instead of `HybridOnpremSfBUserWithTeamsLicens

[2022-07-11 13:24] shivtorov commented on #9652
I never used `New-CsVoiceRegex`.
It looks like `New-CsVoiceRegex` is from on-premises SkypeForBusiness powershell module, and it is not present in MicrosoftTeams powershell module. On the other hand, `New-CsVoiceNormalizationRule` is present in both modules.
I guess when you try using these commands together in a single session, it is using the wrong version of the commandlet.

Due to such issues

[2022-07-11 14:13] ThomHauff commented on #9652
Thanks for your answer @shivtorov
Adding "MicrosoftTeams" in front of the New-CsVoiceNormalizationRule doesn`t work, as the CMDlet itself is already for Teams/SfBO, because you can "tab" the command which will bring up a "SkypeForBusiness\New-CsVoiceNormalizationRule".
As in my posted link to the NewCsVoiceRegex CMDlet was also the category "Skype for Business Online" I was quite sure, that this a

[2022-07-11 14:55] pbafna03 commented on #7693
It is only supported for non *-Cs cmdlets till now.

[2022-07-11 16:30] DEberhardt opened #9653 "Parameter NotificationGroup expects a <String> but should support an <Array>"
Hello,

provisioning ECP via PowerShell currently only allows to specify ONE Group (or User) - this is affecting both NEW and SET cmdlet.

## It expects
[code]

## The Teams Admin Center specifies

![image](https://user-images.githubusercontent.com/44290340/178311977-f91ae1cf-0cb1-4b00-beb2-dded2b1fe9fd.png)

"Users and Groups" (both plural)

## Actual behavior

### One entry - OK
[code]

### Two

[2022-07-11 16:49] JensTrier commented on #9653
@DEberhardt Thanks for the feedback. The NotificationGroup is a string and you add multiple groups by separating them with ";", so for instance "group1@contoso.com;group2@contoso.com".

I'll add that info to the PS cmdlet page.

Feel free to close this issue.

[2022-07-11 16:56] DEberhardt commented on #9653
Hello Jens. This is interesting. I assumed to add this via an array. This combination is the only one I haven't tried 😄
Can confirm this works. - An example would be great showing this, indeed.

Follow-up question if I may:
How many Users or Groups can be added this way?
Neither Teams, nor the DOCs give me any indication... I can currently only test with 7 in my test environment, but the actual nu

[2022-07-11 16:59] JensTrier commented on #9653
Actually, there is an example here https://docs.microsoft.com/en-us/powershell/module/skype/set-csteamsemergencycallingpolicy?view=skype-ps showing this :-) Found it after I reversed engineered TAC to see how it does it.

Not sure what the limit is, I'll try to find it and add it to the docs.

[2022-07-11 20:13] get-itips commented on #9535
Hello @vlethiec Vincent, how are you?

Yes, currently, those are requirements.

@pbafna03 are you able to add more information on this?

Thanks

[2022-07-11 20:21] get-itips commented on #9628
Hello @vishnookumar
Here, we are limited to **documentation** fixes and improvements, besides that, I could not reproduce, the best in this case would be to open a support request from your tenant.
Thank you,

[2022-07-11 20:25] get-itips commented on #9639
Thanks for your feedback!

[2022-07-11 20:32] get-itips commented on #9648
Thanks for your feedback!

[2022-07-11 22:35] JosefAschauerSky commented on #9593
support suggested me to raise this in github. Great.

Holen Sie sich Outlook für Android<https://aka.ms/AAb9ysg>
________________________________
From: Andres Mariano Gorzelany ***@***.***>
Sent: Monday, July 11, 2022 10:15:17 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Aschauer, Josef ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Teams is

[2022-07-12 05:13] yogkumgit commented on #7693
@get-itips

[2022-07-12 06:27] JensTrier commented on #9652
@ThomHauff New-CsTeamsTranslationRule is used for trunk normalization rules for SBC's (OnlinePstnGateway). My recommendation is that you use New-CsVoiceNormalizationRule. I normally use one of the RegEx tester sites on the Internet to generate & validate the RegEx.

[2022-07-12 06:35] pbafna03 commented on #9535
Application/SPN based authentication is also work in progress and will be available soon.

[2022-07-12 06:56] shivtorov commented on #9652
@ThomHauff
You are overcomplicating things by trying to use a helper function `New-CsVoiceRegex` from `SkypeForBusiness` module in your script written for `MicrosoftTeams` module. Thus, you hit this compatibility issue.

Run the following to see same-name cmdlets that are likely the cause of the error you descripted:
[code]

![image](https://user-images.githubusercontent.com/31003608/178426033-b9d

[2022-07-12 07:11] ThomHauff commented on #9652
@JensTrier Thanks for your answer.
We already use the New-CsVoiceNormalizationRule. But as you say, you`re using a Regex tester to generate and test your rules. Our script is designed to automate the creation process of a new voice location and to automatically generate all the RegEx expressions based on the provided input information at the beginning of the script from the user who executes it. F

[2022-07-12 07:16] ThomHauff commented on #9652
@shivtorov
I understand what you mean. The fix I mentioned in the initial post was only by adding the plain regular expression to the New-CsVoiceNormalizationRule command, but as stated in my comment to @JensTrier that is not an option.

I`m totally aware that commands may change with major upgrades of the Teams module. I`m reviewing the changes to the module on a regular basis in this article htt

[2022-07-12 07:25] JensTrier commented on #9652
@ThomHauff My strong recommendation is not to mix these two cmdlets. VoiceNormalizationRule is intended to be used with TenantDialPlan.

[2022-07-12 07:51] ThomHauff commented on #9652
@JensTrier which 2 CMDlet would you not mix?
I also have opened a ticket with MS and will get a call back at 10AM. Will provide feedback afterwards.

[2022-07-12 08:38] JensTrier commented on #9652
@ThomHauff What I mean was only use VoiceNormalizationRule with TenantDialPlan and use TeamsTranslationRule with OnlinePstnGateway. I'll update the docs to make this clear.

[2022-07-12 08:55] ThomHauff commented on #9652
@JensTrier I just had the call with the MS engineer and she doublechecked with her technical team lead and confirmed afterwards, that the New-CsTeamsTranslationRule can be used as the replacement for the New-CsVoiceRegEx.

[2022-07-12 11:38] ThomHauff commented on #9652
I modified the script now with using the -NewCsTeamsTranslationRule instead of New-CsVoiceRegEx, tested and everything is working again as expected.
Thanks everybody for answering and sharing thoughts

[2022-07-12 11:38] #9652 closed

[2022-07-12 12:18] get-itips commented on #7693
Thanks @pbafna03 as that is already noted in the description, I think adding an example that will not work for *-Cs cmdlets is not the best at this time, when the functionality is extended for all the cmdlets, I'll propose an example. Thanks @kilasuit

[2022-07-12 12:18] #7693 closed

[2022-07-12 12:20] get-itips commented on #9535
Thanks @pbafna03 for your comments

[2022-07-12 12:20] #9535 closed

[2022-07-12 12:20] dariomws commented on #8981
@yogkumgit, this was fixed in a previous release. We can close this issue.

![image](https://user-images.githubusercontent.com/33589238/178488072-55c16470-67ec-4a0b-bf7b-62f6dd854477.png)

[2022-07-12 14:50] Elgger opened #9660 "Missing unit & syntaxe detail"
[Missing Lat & Long unit and syntaxe : Do we need to type 48°53'36.9"N or 48.893590 ??? This info is also missing on TAC]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b21f2e75-d4b3-e068-e32e-0d9f41a5fd89
* Version Independent ID: 54531cfa-2f4b-590e-0b74-4227849d95ae
* Content: [Set-CsOnlineLisCivicAddress (SkypeForBu

[2022-07-12 16:52] noobadmin07 commented on #9335
Hi How do you enabled the enterprisevoicenabled and onpremlineUri?

can you advise the right command?

thank you

[2022-07-13 03:48] scottbutton opened #9664 "{{ Fill CanHaveCloudCache Description }}"
Hi there,

There's an attribute description to update on this page. The CanHaveCloudCache description hasn't been completed and shows "{{ Fill CanHaveCloudCache Description }}" instead. Just wanted to flag with you to update with what this actually means.

Cheers, Scott.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2022-07-13 07:11] JensTrier commented on #9660
@Elgger Thanks for the feedback. The format is decimal degrees https://en.wikipedia.org/wiki/Decimal_degrees. I'll update the docs to make it clear.

Feel free to close this issue.

[2022-07-13 14:10] #8981 closed

[2022-07-13 15:19] myfope opened #9666 "CustomAlertText with newly added FileTypeAction does not make sense"
Hi,

I think there  is some confusion about the parameters here. The parameter _CustomAlertText_ allows to define the setting which Text can be used within the replaced Malware Alert Text.txt file and applies to Exchange Online. Additionally the article says: _This parameter is only meaningful when the Action parameter value is DeleteAttachmentAndUseCustomAlert._
But the Action parameter is no lon

[2022-07-13 17:03] chrisda commented on #9664
@scottbutton, duly noted. Empty parameter descriptions are a known issue. Availability vs. functionality can be very different. See [here(https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for an explanation.

So, you aren't trying to use the parameter (possibly from documentation elsewhere)? You're just pointing out that it's empty?

[2022-07-13 17:53] chrisda commented on #9666
@myfope, thanks for pointing that out. I went through New/Set-MalwareFilterPolicy for the recent changes, but I missed the following parameters:

- CustomAlertText in New and Set.
- EnableInteralSenderNotifications in New.

I fixed those parameters so they're now on-premises Exchange only.

OK?

[2022-07-13 18:52] Riche98 opened #9669 "Grant-CsTeamsCallingPolicy - Does not work with licensed Resource Accouns"
Unable to assign calling policies to resource accounts with the Teams powershell module now. Just returns the error 'User can't be granted this policy.'

Grant-CsTeamsCallingPolicy -Identity "Faulty_Test_For_MS@test.onmicrosoft.com" -PolicyName AllowCalling

[code]

[2022-07-13 23:30] walidelmorsy opened #9673 "Similar to the previous issue"
Hi team,

thanks for correcting the previous issue with Exchange Location. I believe there is another fix required for the One Drive location parameters (OneDriveSharedBy) as we need to specify (All) as an input which is not an accepted input for (OneDriveSharedBy):

![image](https://user-images.githubusercontent.com/55671976/178854068-f726c842-2dfe-4e71-9b3b-d92de2ea59dd.png)

---
#### Document D

[2022-07-14 02:03] lyncjp commented on #9465
@get-itips Sorry to late.

No, multiple edge pool in topology.

[2022-07-14 05:55] myfope commented on #9666
Hi Chris,

this sounds fine - yes thanks!

-Peter

From: Chris Davis ***@***.***>
Sent: Wednesday, July 13, 2022 7:53 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Peter Forster ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] CustomAlertText with newly added FileTypeAction does not make sense (Issue #9666)

@myfope<https://eur03.safelinks.prote

[2022-07-14 06:08] yogkumgit commented on #9593
@get-itips

[2022-07-14 06:09] yogkumgit commented on #9628
@get-itips Thank you very much for the contribution and sharing this explanation. @vishnookumar Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share t

[2022-07-14 06:09] #9628 closed

[2022-07-14 06:12] yogkumgit commented on #9666
@myfope Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-14 06:12] #9666 closed

[2022-07-14 09:03] isrumnon commented on #9335
@noobadmin07 you can reference this document for more context on this topic
https://docs.microsoft.com/en-us/powershell/module/skype/grant-csonlinevoiceroutingpolicy?view=skype-ps

[2022-07-14 09:20] shivtorov commented on #7186
@pbafna03 , do you want to publish this list to https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-supported-versions#deprecated-cmdlets

[2022-07-14 11:39] simonwolton opened #9674 "Remove-UnifiedGroupLinks throws incorrect exception when trying to remove owners"
Hi,

When running: `Remove-UnifiedGroupLinks -LinkType Owners -Identity <UnifiedGroupPrimarySmtpAddress> -Links user@contoso.com`, an incorrect exception is thrown when `user@contoso.com` is not an owner of the O365 group. For context, this was a freshly created group within the same script.

### Expected result
Exception is thrown: `user@contoso.com is not listed as an owner of the O365 group` (o

[2022-07-14 13:08] get-itips commented on #9465
@lyncjp I see, please see my comment [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/9465#issuecomment-1176239714) as the product team confirmed that the federation path should be unique.
I also worked in several deployments and I understand that scenario can show up, I am not sure if this changed recently, unfortunately I do not have right now such a lab. If you open the sup

[2022-07-14 16:32] get-itips commented on #9593
@JosefAschauerSky I understand, however, we are limited to documentation articles fixes here.

[2022-07-14 19:54] philliprenouf opened #9683 "No translation of this page to French (fr-ca or fr-fr)"
I had to share this document with my public sector customer and we discovered there is no French version of this page. This is especially difficult since the reason they needed the page is for the right syntax to configure multiple languages for the Teams Meeting invite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9

[2022-07-15 02:42] walidelmorsy commented on #9673
@chrisda Understood, but we need a parameter to accept "All" as a value, according to my testing, "OneDriveSharedBy" does not.

[2022-07-15 10:56] petersonal2 opened #9684 "link would be nice"
In the description to the "Configure-EnterpriseApplication.ps1" some pointing link would be nice to add. I am looking for this, and not finding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6cd7dfe-c3e8-b150-143e-ee63c2c077dd
* Version Independent ID: 4546a968-bf64-1eae-1205-e89c4b2161f9
* Content: [Test-OAuthConnec

[2022-07-15 11:57] mbratukha opened #9685 "`Set-LabelPolicy` cmdlet does not apply any label to a team"
We are currently in investigation of capabilities how to automate the assignment of sensitivity labels to teams (O365 groups).

As of documentation we came up to use the cmdlet `Set-LabelPolicy`, which is mentioned [here](https://docs.microsoft.com/en-us/microsoft-365/compliance/create-sensitivity-labels?view=o365-worldwide#use-powershell-for-sensitivity-labels-and-their-policies).

Unfortunately,

[2022-07-15 12:07] #9593 closed

[2022-07-15 12:31] SM19-Tech commented on #7214
Hi @dariomws ,

We have a scenario where the user left the company and rejoined..... so his account in AD was earlier suspended and now restored as he rejoined. We have a hybrid environment and accidentally O365 mailbox is provisioned for this user whereas he still has his On-premise Exchange mailbox in Disconnected State. If we remove the license and disable the O365 mailbox via Disable-RemoteMai

[2022-07-15 15:56] chrisda commented on #9673
@walidelmorsy, you should open a support ticket. All is definitely available in OneDriveLocation (site-based) but not in OneDriveSharedBy/OneDriveSharedByMemberOf (user-based).

[2022-07-15 19:35] chrisda commented on #9674
@simonwolton, your best path forward is to open a support ticket.

[2022-07-15 19:38] chrisda commented on #9685
@mbratukha, you should open a support ticket and ask there.

[2022-07-15 20:05] walidelmorsy commented on #9673
@chrisda that is what I said. In the article it says “don’t use OneDriveLocation parameter”, which I think it should be corrected.

[2022-07-15 20:44] jeff-bb opened #9688 "Escaping Special Characters in DisplayName"
They appear require being urlencoded, likely for submission against graph. I think the preference would be to have this solved in the Teams cmdlet BUT the documentation can at least be updated.

For example, if searching for a Team with Get-Team -DisplayName "AB&C", it would require the search to be sent as Get-Team -DisplayName "AB%26C"

---
#### Document Details

⚠ *Do not edit this section. It

[2022-07-16 06:54] pbafna03 commented on #7186
Done!

[2022-07-17 13:31] shaharamazleg opened #9690 "wrong link name"
on this page in Related Links area the link to "Get-CsTeamsShiftsPolicy" open "Set-CsTeamsShiftsPolicy" page.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b412fa4f-f5ef-dacc-a432-8434dec565d1
* Version Independent ID: 8604fccc-6035-0024-147a-0ba469b6bc60
* Content: [Get-CsTeamsShiftsPolicy (Micr

[2022-07-18 05:04] yogkumgit commented on #9685
@mbratukha Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-07-18 05:04] #9685 closed

[2022-07-18 05:47] yogkumgit commented on #9674
@simonwolton Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wi

[2022-07-18 05:47] #9674 closed

[2022-07-18 05:52] yogkumgit commented on #7186
@get-itips and @pbafna03 Thank you very much. @shivtorov Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-18 05:52] #7186 closed

[2022-07-18 06:10] isrumnon commented on #9636
Hi @shivtorov @paulsysadmin can you please share your tenant IDs with me here - isrumnon@microsoft.com
We'll check if we need to make any service side changes for your tenants.
p.s. I'm deleting this post for privacy reasons

[2022-07-18 12:37] poshdude opened #9691 "Cannot run Get-CsTeamsIPPhonePolicy command unless you have full Teams Administrator role"
Hi,

I would like to ask if this behaviour can be changed.  Its not possible to run some Get-CsTeamsxxxxPolicy commands at the moment unless you have been assigned the full Teams Administrator role.  Get is a read-only operation so it would be useful to be able to read (see) the policy settings even if you don't want to be able to Set (change) any settings.

[code]

Is it possible to authorize run

[2022-07-19 05:33] shivtorov commented on #9688
probably, you can add an addtional example that is using `[uri]::EscapeDataString('AB&C')` which seems producing required encoding `AB%26C`

[2022-07-19 07:57] Tayolateef opened #9696 "There seem to be typo graphical error in the German version of the new join by id feature in Teams meeting invite."
There seem to be typo graphical error in the German version of the new join by id feature in Teams meeting invite.  Besprchungs-ID needs to be Besprechungs-ID as the letter "e" is missing.
![2022-07-06 14_26_56-Unbenannt - Besprechung (2)](https://user-images.githubusercontent.com/66221362/179698052-cfbfda83-69ae-4cc2-914e-494822c110f5.png)

[2022-07-20 06:50] yogkumgit commented on #9696
@samanthaw Please help us in resolving this issue. Thanks

[2022-07-20 07:25] zaichornik commented on #8905
Hi @JensTrier,

A new question from my side with slightly different accent, but related to _Set-CsPhoneNumberAssignment_ command.

The question is for _Get-CsOnlineUser_ -Filter "**whenCreated | whenModified**"

The specified filters in bold was deprecated / forbidden recently by Microsoft, but at the same time - they are a cornerstones  for developing custom tools for administering a Teams enviro

[2022-07-20 13:13] tmongiello commented on #9435
Oh wonderful!  Thank you!!!!!

On Wed, Jul 20, 2022 at 9:05 AM Prashant Bafna ***@***.***>
wrote:

--
Tony Mongiello

[2022-07-20 14:39] #9639 closed

[2022-07-20 15:25] samanthaw commented on #9696
Deferring to @Soran-M

[2022-07-20 15:26] #9465 closed

[2022-07-20 16:54] DMoenks commented on #9696
As far as I know, the typo was already acknowledged as an issue and posted as an _Advisory_ in the _Service Health_ overview of Microsoft 365 admin center for any tenant containing German user accounts, including an announcement for a fix in an upcoming update. I'm unable to provide the matching ID though, as I don't have access to an admin center right now.

[2022-07-20 17:19] MattTheDev opened #9701 "Unable to run Set-CsOnlineEnhancedEmergencyServiceDisclaimer with -Force switch"
I'm able to repro the following on versions 4.5.1, 4.5.0, and 4.4.1. I was going to submit an ICM - but wasn't sure what team to engage there. This place seemed the easiest / most direct.

Input: Set-CsOnlineEnhancedEmergencyServiceDisclaimer -CountryOrRegion $regionCode -Force
Output: Get-CsOnlineEnhancedEmergencyServiceDisclaimer : A parameter cannot be found that matches parameter name
'ForceAc

[2022-07-20 23:32] sarollins opened #9703 "Timeout errors using tokens"
Due to the existing Filter parameter not supporting "like" adequately to get a subset of users, we are executing PS script like this:

Get-CsOnlineUser | Where { $_.Identity -like '0*' -or $_.Identity -like '1*' } | Select $userAttrs | Export-Csv $usersFileName -Encoding 'UTF8'

At clients with a large user base, after nearly 2 hours (sometimes more), PS finally returns the following error

System

[2022-07-21 06:08] dappleby300 opened #9704 "Get-CsUserCallingSettings fails when a delegate has been deleted from AzureAD"
Hi,

The Get-CsUserCallingSettings fails when a user is removed from office 365. If it cannot lookup the object id the whole command fails;

Example;

`PS > Get-CsUserCallingSettings -Identity user@example.org`
`Get-CsUserCallingSettings : Exception occured while trying to resolve delegate identity. Fix the identity before trying again. 63xxxxb-exx1-4xx-bcbd-0dxxxxxf1942`

To reproduce add a deleg

[2022-07-21 07:14] isrumnon commented on #9703
Hi @sarollins can you please raise a support ticket regarding this issue?

[2022-07-21 07:40] JensTrier commented on #9704
@dappleby300 Thanks for the feedback. Yes, this is a known issue that we are working to address. The work-around is to remove the delegate using the ObjectId being shown.

An example:

Assume delegator@contoso.com with ObjectId 8480c6e7-0507-4eaa-8394-bc46aefba8ec has delegate@contoso.com with ObjectId 481efae7-f1c9-407f-8cf4-6ee41049fae3 as a delegate.

delegate@contoso.com is removed from Micros

[2022-07-21 07:45] JensTrier commented on #9701
@MattTheDev Thanks for the feedback! I can repro it. I'll create an internal bug report to the address the issue.

Feel free to close this issue.

[2022-07-21 08:05] #9435 closed

[2022-07-21 08:12] yogkumgit commented on #9653
@DEberhardt Thank you very much for the contribution and updating the documentation with PR. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-21 08:33] yogkumgit commented on #9696
@Soran-M Please comment. Thanks

[2022-07-21 08:51] yogkumgit commented on #9701
@MattTheDev  Thank you very much for your kind feedback. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-07-21 08:51] #9701 closed

[2022-07-21 08:54] yogkumgit commented on #9660
PR #9695  is merged. @Elgger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-21 08:54] #9660 closed

[2022-07-21 08:55] yogkumgit commented on #9673
@chrisda Please comment. Thanks

[2022-07-21 08:57] yogkumgit commented on #9684
@petersonal2 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-21 08:58] #9684 closed

[2022-07-21 08:59] yogkumgit commented on #9703
@sarollins Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-07-21 08:59] #9703 closed

[2022-07-21 09:00] yogkumgit commented on #9704
@dappleby300 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-21 23:57] dappleby300 commented on #9704
Thanks for the info.

[2022-07-22 00:35] chrisda commented on #9673
OK. I figured it out and updated the topics accordingly:

- OneDriveLocation does act like ExchangeLocation, except it isn't locked down as tight. It accepts the value All or site URLs that it can verify (the way the parameter behaves in most other cmdlets). When you create a new DLP policy in PowerShell, the default value of OneDriveLocation is All, which means: Include all OneDrive for Business

[2022-07-22 03:49] #9704 closed

[2022-07-22 05:06] yogkumgit commented on #9673
@walidelmorsy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-22 05:06] #9673 closed

[2022-07-22 15:33] Korbyn72 opened #9707 "REFER's"
Not sure if this is a bug or by design, but I can't seem to get OutboundPstnNumberTranslationRules working on REFER's.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d954f43-a404-2c5d-34ff-7e007f0742a1
* Version Independent ID: 39faba28-6a75-5ff9-a241-6dd30bd0673a
* Content: [Set-CsTeamsTranslationRule (SkypeForBusine

[2022-07-22 15:47] JensTrier commented on #9707
@Korbyn72 Thanks for the feedback. Please open a Microsoft support case with SBC traces etc and they will work with you to investigate what's going on.

[2022-07-22 16:00] kch2001 commented on #8037
Sorry, I just saw your message today.  I forgot that I submitted this.

Typo in my original message:  I was talking about  "Grant-CsOnlineVoiceRoutingPolicy -PolicyName "RedmondOnlineVoiceRoutingPolicy" -Global" -not example 3.    **This changes Global OVRP.**  This doesn't assign all users in the tenant to this OVRP without explicit policy assignment.  The difference will be any future users with

[2022-07-22 18:22] frankchen76 opened #9711 "Need to add some note to indicate that Basic Auth is still required if the end users use security & compliance cmdlet since connect-ippssession is required for them"
Need to add some note to indicate that Basic Auth is still required if the end users use security & compliance cmdlet since connect-ippssession is required for them. customers are confused that since v2.0.6 preview doesn't need basic auth, they though connect-ippssession doesn't need as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-07-22 20:12] Korbyn72 commented on #9707
I can/will likely do that, but it should be know whether these rules only apply to TO and FROM, and REFER is ignored.

[2022-07-25 03:37] yogkumgit commented on #9707
@JensTrier

[2022-07-25 04:25] yogkumgit commented on #8037
@get-itips Please comment.

[2022-07-25 05:11] yogkumgit commented on #9453
@isrumnon Please comment.

[2022-07-25 06:53] JensTrier commented on #9707
@Korbyn72 checked with the team and the InboundPSTNNumberTranslationRules and OutboundPSTNNumberTranslationRules don't apply to REFERs.

[2022-07-25 07:56] SabRom opened #9714 "Set-UnifiedGroup module missing from exchangeonlinemanagement 2.0.6"
Hello,

The title said it all.

When installing exchangeonlinemanagement 2.0.6, I seem to be missing multiple "unified group" related cmdlet

see :

![mstsc_gv3UNXjQaK](https://user-images.githubusercontent.com/62282959/180726948-055321e7-fc7b-4d9e-9ef6-a99f9ce09157.png)
![powershell_JSQ8WCrLK4](https://user-images.githubusercontent.com/62282959/180726954-3e98aa1a-c682-449b-b53c-7963e0029db9.png)

[2022-07-25 11:49] mariammorgan opened #9715 "The parameter "Enabled" in the Get-AntiPhishPolicy is not relevant"
The parameter "Enabled" in the Get-AntiPhishPolicy is not relevant, and consequently modifying the same with Set-AntiPhishPolicy won't change anything.

When we turn on or off any antiphishing policy from the GUI and we need to check its status  ( ie enabled/disabled ) from PS we should use the command get-antiphishingrule | fl state

 **Reference**:
 When you modify an anti-phishing policy, setti

[2022-07-25 12:37] get-itips commented on #8037
@kch2001
Thanks for returning and clarifying, will propose to update the description.

[2022-07-25 14:13] get-itips commented on #9683
Hello @philliprenouf I am looking into this

[2022-07-25 14:17] get-itips commented on #9683
Ok I managed to report this to the corresponding translation team.

[2022-07-25 16:05] LuisEmilioR opened #9718 "Get-CsOnlineUser missing uservalidationerrors"
When running Get-Csonlineuser and returning more than one user the results are missing the property uservalidationerrors. This does not happen when working with a single identity.

For example if you run "Get-csonlineuser -identity userUPN", uservalidationerrors is included in the results

Instead when running "Get-CsOnlineUser -filter {AccountEnabled -eq $true}" the results do not include this pr

[2022-07-25 16:23] LuisEmilioR commented on #9718
As a matter fact below is the entire list of properties missing when running the above mentioned command:

CountryAbbreviation
LastProvisionTimeStamps
LastPublishTimeStamps
LastSyncTimeStamp
OptionFlags
RegistrarPool
ServiceInstance
SipProxyAddress
TeamsMediaLoggingPolicy
UserValidationErrors
WhenCreated

[2022-07-25 16:24] get-itips commented on #9690
Thanks for reporting!

[2022-07-25 16:39] idontknowwhattocallit opened #9721 "Exchange Online v2 services"
This cmdlet isn't available in the Exchange Online v2 services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80326e44-6beb-8983-57ab-8333608c504b
* Version Independent ID: 8962c0dc-72a3-208a-33de-6a89cd56b6fc
* Content: [Set-UnifiedGroup (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchang

[2022-07-25 16:53] get-itips commented on #9691
Hello @poshdude Jam, how are you?
What role did you use to try that cmdlet?
I've just used a Teams Communications Support Specialist to run the cmdlet and it worked.

[2022-07-25 17:19] poshdude commented on #9691
Hi,

I found it worked when I have Teams Administrator but but not when I have
Teams Communication Administrator. I didn't explore the other RBAC roles as
these are the two we are typically using to support our clients.

On Mon, 25 Jul 2022, 17:53 Andres Mariano Gorzelany, <
***@***.***> wrote:

[2022-07-25 17:56] JoeSzo opened #9723 "Missing Get-CsTeamsAppPermissionPolicy on page"
It looks like there's no entry for Get-CsTeamsAppPermissionPolicy on this page. Can one be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6804423b-8e08-5916-9355-6bebe8bb08b0
* Version Independent ID: aa669763-6470-cc61-ea8d-52aee886f986
* Content: [MicrosoftTeamsPowerShell Module](https://docs.microsoft.com/en-

[2022-07-25 17:59] chrisda commented on #9721
@idontknowwhattocallit, I just connected to Exchange Online PowerShell using the _UseRPSSession_ switch in v2.0.6-Preview6 and it was available to me.

Of course, you must be actually [connected to Exchange Online PowerShell](https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell) for any cmdlets to work. There are a few cmdlets actually baked into the module itself,

[2022-07-25 18:12] isrumnon commented on #9453
@yogkumgit am working with both customers offline to resolve

[2022-07-25 18:19] get-itips commented on #9691
Hello @poshdude
I could verify that, if using a _Teams Communication Administrator_ you can not run the cmdlet.
Teams PS still does not work with Custom RBAC and the default ones can not be customized so you'll have to use other roles.
Hope this information helps you,

[2022-07-25 18:19] chrisda commented on #9711
@frankchen76, updates per referenced PR. Updated topics should publish by ~ 4:00 PM PDT M 7/25.

Thanks for the feedback.

Closing

[2022-07-25 18:19] #9711 closed

[2022-07-25 18:42] idontknowwhattocallit commented on #9721
Yep, it looks like it's just 2.0.6 that's broken.  I downgraded to 2.0.5 and it's working without basic auth.

[2022-07-25 20:43] chrisda commented on #9715
@mariammorgan, not to get picky, but there's no Enabled _parameter_ on Get-AntiPhishPolicy, so there's nothing to fix there.

The real correction, as you described, is required in the Enabled parameter description on New-AntiPhishPolicy and Set-AntiPhishPolicy, which I did:

- **New-AntiPhishPolicy**:

- **Set-AntiPhishPolicy**:

OK?

[2022-07-26 04:08] yogkumgit commented on #9707
@Korbyn72 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-07-26 04:08] #9707 closed

[2022-07-26 04:32] yogkumgit commented on #9669
@get-itips Thank you very much for the contribution and sharing this explanation. @Riche98 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-26 04:32] #9669 closed

[2022-07-26 04:36] yogkumgit commented on #9683
@get-itips Please tag/mention the loc team here.

[2022-07-26 06:27] mariammorgan commented on #9715
@chrisda  thank you, it is clear now

[2022-07-26 12:36] isrumnon commented on #9718
Hi @LuisEmilioR we're working on changes to reintroduce these relevant properties by November timeframe for cases when not using the "-Identity" parameter

[2022-07-26 14:17] erichenson opened #9727 "Example 2 doesn't work in powershell 7"
I'm using powershell 2 and Example 2 returns this error:

$UserList = Get-CASMailbox -Filter "HasActiveSyncDevicePartnership -eq `$true -and -not DisplayName -like 'CAS_{*'" | Get-Mailbox
Exception: Unable to index into an object of type "System.Collections.Generic.Dictionary`2[System.String,System.Collections.Generic.IEnumerable`1[System.String]]".

---
#### Document Details

⚠ *Do not edit this

[2022-07-26 14:26] erichenson commented on #9727
the "| Get-Mailbox" should be removed from the first line.

[2022-07-26 15:28] tiburd commented on #9683
@philliprenouf

Hi,

Because you are internal to Microsoft, please report a translation bug on the Global Services' Hub website:

- [https://globalservices.powerappsportals.com/Global/](https://globalservices.powerappsportals.com/Global/)

Thank you!

cc: @yogkumgit

[2022-07-26 15:28] #9683 closed

[2022-07-26 17:28] chrisda commented on #9727
@erichenson, fixed.

In the future, you too can make updates like this directly in the topic. For instructions see [here](https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md).

Thanks for the feedback.

Closing

[2022-07-26 17:28] #9727 closed

[2022-07-27 02:31] yogkumgit commented on #9715
@mariammorgan Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-27 02:31] #9715 closed

[2022-07-27 02:42] yogkumgit commented on #9718
@isrumnon Thank you very much for sharing this information. @LuisEmilioR Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-27 02:42] #9718 closed

[2022-07-27 20:36] #8037 closed

[2022-07-27 20:38] #9688 closed

[2022-07-28 03:10] yogkumgit commented on #9691
@get-itips Thank you very much for the contribution and sharing this explanation. @poshdude Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-28 03:50] yogkumgit commented on #9696
@Tayolateef Hope Dominik's comment is helpful for you.  We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-28 03:50] #9696 closed

[2022-07-28 03:52] yogkumgit commented on #9721
@idontknowwhattocallit Thank you very much for the feedback. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-28 03:52] #9721 closed

[2022-07-28 09:52] zaichornik commented on #8905
Hi @isrumnon,

Thanks for your rapid feedback.

What about _whenCreated_ AzureAD attribute, are you planning to bring it back to the game as well ?

[2022-07-28 11:14] poshdude commented on #9691
Hi,

Thanks for the feedback.  Understood this is by design and not something that is going to changed.  I think it be worth exposing the limitation between the different Teams RBAC roles for running against Get Policy commands for awareness.  I have a matrix I can share, let me know where would be the best place to open an issue to share this.

![Teams RBAC Roles vs Get Policy Commands Authorizat

[2022-07-28 14:06] get-itips commented on #9691
@poshdude Probably against this article https://docs.microsoft.com/en-us/microsoftteams/using-admin-roles in this repo https://github.com/MicrosoftDocs/OfficeDocs-SkypeForBusiness/issues

[2022-07-28 14:06] #9691 closed

[2022-07-29 03:13] Divya-RP opened #9735 "Related link is no longer valid"
[Enter feedback here]

The related links is not found :https://docs.microsoft.com/en-us/powershell/module/skype/grant-csteamsmedialoggingpolicy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d630c7f-0b0b-1699-c5cb-b1787dda521e
* Version Independent ID: 06f74bc0-0863-b2f9-3cc8-48e8df6822b8
* Content: [Grant-CsTeamsMedi

[2022-07-29 12:24] jorgytim commented on #9714
I have verified the same, removed all previous exchangeonlinemanagement modules and installed only v2.0.6preview6, no unifiedgroup cmdlets are available now.

[2022-07-31 05:39] obizii opened #9740 "Error When Using -Identity Flag for Get-EXOMailboxDeviceStatistics"
When using the -Identity flag as stated in the documentation, with either the DeviceID or GUID, an error is received.

Get-EXOMobileDeviceStatistics : An error occurred while processing this request..
At line:1 char:1
+ Get-EXOMobileDeviceStatistics -Identity SOMEIDENTITY
    + CategoryInfo          : ProtocolError: (:) [Get-EXOMobileDeviceStatistics], Exception
    + FullyQualifiedErrorId : One o

[2022-08-01 09:00] zaichornik commented on #9453
Hi @isrumnon,

Are you planning to support again the filtering by _whenCreated_ Azure AD attribute as part of_Get-CsOnlineUser_ command (for human - based accounts)?

Thanks.

[2022-08-01 12:41] JohanssonMarkus opened #9742 "Links is not working"
THe link to referens dokument is not working. Also it would be good if you could document how long it will take for this policy to be applied to a targeted user. 1h-72h (what MS always refer to as "normal") is not really enough to be doing a fault analysis with end user.
/Markus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-08-01 13:10] rkearneyrpc opened #9743 "Resetting winrm auth"
If the winrm baisc auth setting is temporary, the page should also indicate how to capture original setting, or set it back to default.

is basic auth in winrm also required for updates?  that shoudl be specified too

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independe

[2022-08-01 16:38] chrisda commented on #9743
@rkearneyrpc, the WinRM auth setting is not temporary, unless you're using v2.0.6-Preview5 or later with REST API backed cmdlets as described [here](https://docs.microsoft.com/en-us/powershell/exchange/exchange-online-powershell-v2?view=exchange-ps#updates-for-version-206).

The temporary thing is this Note:

Which, I guess is for those who have WinRM completely disabled, but need to turn on Basic

[2022-08-01 17:39] tylermontneyacc commented on #4920
2 years later and [this](https://docs.microsoft.com/en-us/powershell/module/exchange/set-organizationconfig?view=exchange-ps#parameters) is still listed as "This parameter is reserved for internal Microsoft use".

What's its status?

[2022-08-01 17:46] chrisda commented on #4920
@tylermontneyacc, the best way to get an answer is to open a support ticket and ask. Although the Tier 1 person might not be able to help you, when they escalate it, it will get in front of the right people to answer the question.

[2022-08-01 20:57] rkearneyrpc commented on #9743
That sounds perfect!

[2022-08-01 22:20] chrisda commented on #9743
OK. Done.

Thanks for the feedback.

Closing

[2022-08-01 22:20] #9743 closed

[2022-08-03 03:10] horsi3 opened #9751 "Teams module 4.6.0: Get-CsOnlineUser RegistrarPool value is not shown when returning multiple users"
The RegistrarPool value appears when you look up a single teams user account, but when the query returns multiple users, the same value is blank for all users which otherwise do show the value when done seperately.

![image](https://user-images.githubusercontent.com/102339348/182515854-2f332b8a-2949-4693-b82b-d8a9c4689662.png)

[2022-08-03 07:31] isrumnon commented on #9751
Hi @horsi3 RegistrarPool is a legacy attribute that we will be deprecating soon for all our Teams customers (unless you have some OnPrem presence) so this will not be removed from the single user queries as well in the future

[2022-08-03 07:47] horsi3 commented on #9751
OK thanks for that. That's interesting because this is so far the only attribute that distinguishes between a room and a user account for us, maybe i'm doing something wrong. I'll log a ticket with 365 support on that one.
Cheers :)

[2022-08-03 07:52] isrumnon commented on #9751
For this scenario you may choose to use a new Parameter we've introduced called AccountType.

This parameter is added to Get-CsOnlineUser starting from TPM 4.5.1 to indicate the user type. The possible values for the AccountType parameter are:

User - to query for user accounts.
ResourceAccount - to query for app endpoints or resource accounts. (like your room account)
Guest - to query for guest a

[2022-08-03 07:57] horsi3 commented on #9751
Thanks I did notice that attribute but our room accounts still appear as 'User' accounttype. Is there a cmdlet within powershell that lets you change that to 'ResourceAccount' ? The problem I appear to have is that our resource accounts are not being recognized as such when we sync them to AAD and assign a room license.

[2022-08-03 07:59] isrumnon commented on #9751
@pbafna03 are you aware of such a cmdlet?

[2022-08-03 08:07] Petri-X commented on #8609
@JensTrier that is super sad news :(
Especially now when the latest changes on Teams apps visibility to end users. We just would like to have full control to the apps.

[2022-08-03 08:33] pbafna03 commented on #9751
This might be helpful - https://docs.microsoft.com/en-us/microsoftteams/rooms/with-office-365?tabs=existing-account%2Cazure-active-directory2-password%2Cactive-directory2-license#create-a-resource-account

Best would be to reach out to support with the specific details, they'll be able to help better.

[2022-08-03 11:04] horsi3 commented on #9751
Thanks, yeah, i've followed all the documentation already but no luck. I'll see if 365 support can find a solution.
Thanks again.

[2022-08-03 11:04] #9751 closed

[2022-08-03 11:37] yogkumgit commented on #8609
@Petri-X We do understand your disappointment. As no action required here, I proceed to close this. Thanks for the feedback, Kindly keep posting the same in the future as also.

[2022-08-03 11:37] #8609 closed

[2022-08-04 12:20] SubhMSFT opened #9758 "Typo. Sentence should read: "Sweep rules run a[t] regular intervals to help keep your Inbox clean.""
Sentence reads: Sweep rules run a regular intervals to help keep your Inbox clean.
Should read: Sweep rules run at regular intervals to help keep your Inbox clean.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5783e9b5-c56b-f92f-0d52-2265136381d9
* Version Independent ID: 8f2a8fc3-af9c-9cf4-dfa7-b602aca74c98
* Content

[2022-08-04 13:15] SeanTGeoghegan opened #9759 "CBA not supported for eDiscovery-based cmdlets"
Currently, certain cmdlets such as "Get-ComplianceCase" and "Get-CaseHoldPolicy" do not work with Cert-Based Authentication for SCC.

This is important to call out as a consideration, that not all cmdlets are supported by all authentication types into the shell sessions - as with the deprecation of Basic Authentication, many organizations will be switching to Cert-Based auth for automation.

---
#

[2022-08-04 16:55] dkotars opened #9760 "-PrivateKeyExportable"
-PrivateKeyExportable
The PrivateKeyExportable parameter specifies whether the new self-signed certificate has an exportable private key, and controls whether you can export the certificate from the server (and import the certificate on other servers). Valid values are:

Can we change the verbiage? You would also use -PrivateKeyExportable when requesting a certificate from a CA, not just self-sign

[2022-08-04 19:32] chrisda commented on #9758
@SubhMSFT, fixed. The same typo also existed in New-SweepRule.

In the future, you too can make changes like this yourself. No need to open an Issue about it first. For instructions, see:

<https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md>

Thanks for the feedback.

Closing

[2022-08-04 19:32] #9758 closed

[2022-08-04 19:36] chrisda commented on #9759
I'm attempting to get a list of affected cmdlets. Once I have that, I'll update the topic.

[2022-08-04 19:51] chrisda commented on #9760
@dkotars, the PrivateKeyExportable parameter on Import-ExchangeCertificate is generic as you're requesting.

I did a bunch of testing/rewriting of certificate content for the Exchange 2016 wave. I can't say I remember the circumstances, but I made it clear that PrivateKeyExportable is meaningful only for self-signed certificates, both in the text you quoted, and this statement:

I can see from the

[2022-08-04 20:26] dkotars commented on #9760
Hi Chris -

Just had a customer that followed this guidance to request a new exchange 2016 certificate:

$txtrequest = New-ExchangeCertificate -GenerateRequest [-FriendlyName <DescriptiveName>] -SubjectName C=<CountryOrRegion>[,S=<StateOrProvince>,L=<LocalityOrCity>,O=<Organization>,OU=<Department>],CN=<HostNameOrFQDN> [-DomainName <Host1>,<Host2>...] [-KeySize <1024 | 2048 | 4096>] [-Server <Serv

[2022-08-04 21:50] chrisda commented on #9760
OK. Fixed.

Thanks for the feedback.

Closing

[2022-08-04 21:50] #9760 closed

[2022-08-04 23:46] chrisda commented on #9759
Per email thread those two cmdlets are the only Security & Compliance PowerShell cmdlets that don't work with CBA.

I updated the CBA topic and added a note in the SYNOPSIS section of the individual cmdlet topics.

Thanks for the feedback.

Closing.

[2022-08-04 23:46] #9759 closed

[2022-08-05 04:53] horsi3 opened #9766 "Teams powershell - Get-CsOnlineUser user policies appear blank when the user's resulting policies are applied via group membership"
Teams supports user policies being applied via groups as well as direct assignments.
Regardless whether applied via group or direct, you can see this detail from the TAC for each user.
Get-CsOnlineUser will only show the user's assigned policy if it was assigned directly. If it was inherited from a group membership, it shows blank in the cmdlet output. It should be showing the resulting policy reg

[2022-08-05 11:09] isrumnon commented on #9766
Hi @horsi3 this feature will be introduced as part of our long term plans for Get-CsOnlineUser

[2022-08-05 14:35] tylermontneyacc commented on #4920
Response from support was what I expected:

- Still in development
- No clue as to why the parameter is exposed
- Parameter is for what we think it is

Best workaround is to run a script on schedule to check for new users.

[2022-08-05 14:53] yogkumgit commented on #9766
@horsi3 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-06 05:52] alkampfergit opened #9769 "Unable to find a way to install cmdlet that has New-ServicePrincipal"
Please provide more instruction on how to be able to run New-ServicePrincipal, installing the ExchangeOnlineManagement module just not works.

I've connected to three tenants, two are test tenants, another one is a production tenant of a customer, but it just don't work.

![image](https://user-images.githubusercontent.com/358545/183239835-a5fe48a4-f051-4bef-89cd-ea8d5f9fb8f5.png)

---
#### Documen

[2022-08-06 08:19] alkampfergit commented on #9769
Ok I used fourth tenant and that one had the feature rolled in ... how strange.