[2021-08-10 01:01] anthonynz commented on #8121
Hi @chrisda,  thanks for testing.

Sorry I've been working on a different project and just came back to this.

I have a similar environment as you - Win 10 Pro 21H1, PowerShell 5.1, Exchange Online v2 module 2.0.5.

I now know what I have done wrong, I was attempting to update the notification address on the Default Alert policies.

Apparently this is not possible via PowerShell.  I can't fathom w

[2021-08-10 08:14] JesperGSimonsen opened #8166 "Get-SPOSiteScriptFromWeb does not include Quick Launch, no AddNavLink in output"
When running Get-SPOSiteScriptFromWeb and using -IncludedLists like below the output json does not include any AddNavLink actions

$adminUPN="user@domain.com"
$userCredential = Get-Credential -UserName $adminUPN -Message "Type the password."
$adminSiteUrl = "https://domain-admin.sharepoint.com"
$siteUrl = "https://domain.sharepoint.com/sites/FutureOptions/"
$Lists = "Shared Documents", "Lists/New

[2021-08-10 11:20] yogkumgit commented on #8126
@Soran-M Any update?

[2021-08-10 13:54] ssmiller60 opened #8167 "Teams private channel messages info missing"
Please provide the commands needed to work with retention compliance policies Teams private channel messages
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adaea894-fecc-16d3-0c4d-7971eda68b4b
* Version Independent ID: 4fe92cc7-84bf-2404-5481-4575b9d5d174
* Content: [Set-RetentionCompliancePolicy

[2021-08-11 12:32] cfcpreilly commented on #7585
I'd like to add another voice to this issue and confirm that I am also seeing this issue. The 'GeoCoordinates' property, which I have set using Set-User, are not appearing on the object in Azure AD or Exchange Online. Other properties such as City, State, etc., which were set in the same Set-User cmd have synced successfully.

[2021-08-11 12:59] cfcpreilly commented on #7585
@hanspettermalme I think I may have found the cause. The msDS-GeoCoordinatesLatitude, msDS-GeoCoordinatesLongitude and msDS-GeoCoordinatesAltitude attributes are not selected on the connector that pulls information from Active Directory. Open the Synchronization Service on the computer running Azure AD Connect. Select the connector of type 'Active Directory Domain Services' > Properties > Attribut

[2021-08-11 14:24] cfcpreilly commented on #7585
@hanspettermalme you'll also need to add the new attribute to synchronization rules. The following guide is talking about a different user attribute, but it describes the steps: [https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-feature-preferreddatalocation](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-feature-preferreddataloc

[2021-08-11 20:05] stevearivera commented on #919
This is not resolved this is going around.

[2021-08-12 06:20] dirheim opened #8172 "Not translated to spanish"
[Escriba sus comentarios aquí]

Not translated to Spanish/No traducida a Castellano
---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 34b7b6ff-ac6d-42eb-8ce4-bd6daacd7daa
* Version Independent ID: 9ed9b73c-aabf-1834-10cd-55587a74739d
* Content: [Test-SPContentDatabase (SharePointServer)](https://docs.microsof

[2021-08-12 10:49] hanspettermalme commented on #7585
Hi Thanks alot for your feedback 👍. So by following these steps is that a supported method by Microsoft?  I get a warning after trying to add these there attributes. - Thanks
![image](https://user-images.githubusercontent.com/63035217/129184598-b401c76d-6806-4100-ab3d-f4822cc393d9.png)

[2021-08-12 13:21] cfcpreilly commented on #7585
@hanspettermalme That's a good question and I don't have a good answer for you I'm afraid. One thing I discovered during my investigation is that my AADC was out of date. I knew that AADC would auto-update, but I realized that it will only auto-update to the latest version that supports my OS. If you happen to be running AADC on anything less than Server 2016 you won't be on the latest version. It

[2021-08-13 02:00] smokey7722 commented on #8148
I can confirm I see this as well in multiple tenants I administer.

[2021-08-13 03:30] davidkench opened #8180 "-HiddenFromAddressListsEnabled"
-HiddenFromAddressListsEnabled
The HiddenFromAddressListsEnabled parameter specifies whether the Microsoft 365 Group appears in the global address list (GAL) and other address lists in your organization. Valid values are:

$true: The Microsoft 365 Group is hidden from the GAL and other address lists. The group can still receive messages, but users can't search for or browse to the group in Outlook

[2021-08-13 07:29] rimroot opened #8181 "MeetingRecordingExpirationDays max value is incorrect"
The description for MeetingRecordingExpirationDays max value is incorrect. Max supported value is 9999. It does allow to set it higher, but then it completely breaks meeting policy and it does not even show the policy in Teams admin center with the error message. Moreover for all users who have this policy where MeetingRecordingExpirationDays max value set higher than 9999 "Calls" button disappear

[2021-08-13 09:16] DEberhardt commented on #8142
As best as I can tell (running `Get-CsOnlineUser` and `Get-CsOnlineApplicationInstance` regularly), it is very situational.
I think it is dependent on the busyness of the Server. I have measurements of `Get-CsOnlineUser` between 400ms and 7+s right now, depending on load. On average however, I am getting about 900ms (when calling with the `Identity` Parameter and querying one specific item)

Previ

[2021-08-13 09:27] DEberhardt commented on #8066
Piggy-backing on this thread to inquire whether we could clarify what the "Skype for Business Administrator" roles is now needed for (I am wondering for a while now whether I still need the role or not...).

Since moving the PowerShell commands to the MicrosoftTeams Module (and connection through `Connect-MicrosoftTeams`) I have not had use to activate this role for any commandlet.
This one may be

[2021-08-13 09:56] bijaykush commented on #8142
@DEberhardt
Thank you for the detailed explanation. I have used the latest version i.e. 2.4.1 preview of the MS Teams Module. Seems like much better with the response time. Its been approx 4-5 days of these changes, response time is fine.

[2021-08-13 09:56] #8142 closed

[2021-08-13 11:07] yogkumgit commented on #8113
@get-itips Thank you very much for the contribution and digging deep into it.  @Ofer-Gal We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documen

[2021-08-13 11:07] #8113 closed

[2021-08-13 15:54] get-itips commented on #8094
Hello @Surionneke
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that

[2021-08-13 16:41] chrisda commented on #8180
@davidkench, I tested in my regular ol' E5 tenant by creating a new public M365 Group and a new private M365 Group, in the M365 admin center (apparently, you can't create them in the new EAC) and the value of the _HiddentFromAddressListsEnabled_ property for both was `False`.

Perhaps I should just remove that "This is the default value" sentence?

[2021-08-16 15:01] yogkumgit commented on #8094
@get-itips Thank you very much for the contribution and sharing this explanation. @Surionneke Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 15:01] #8094 closed

[2021-08-17 11:00] BohrenAn opened #8194 "Example how to aquire AccessTokens"
Hi there,

Could you please be more Specific on how to aquire the AccessTokens?
Preferably an Example with MSAL.PS.
Is it an Interactive Flow? How can we connect with a non interactive flow (apart from the -Credential Parameter) ?
If using the Credential Parameter is it still using Basic Auth?

#AzureAD
Connect-AzureAD -ApplicationId $AppID -CertificateThumbprint $CertificateThumbprint -TenantId $

[2021-08-17 11:54] bbronisz opened #8195 "There is no Get-SPTrustedIdentityProvider cmdlet"
This document mentions Get-SPTrustedIdentityProvider cmdlet but it doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88bc9b30-eb41-47b7-eae4-c427c2d8701a
* Version Independent ID: 71c48622-f832-8dff-a894-01e6eb298456
* Content: [Add-SPClaimTypeMapping (SharePointServer)](https://docs.microsoft.com/en-us/pow

[2021-08-17 12:26] get-itips commented on #8135
Hello @rbishop-etq
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from tha

[2021-08-17 12:34] get-itips commented on #8147
Hello @darwincr how are you?
Tested this, looks like that it will throw that only if you specify the identity, the same happens for example for First and Skip.
Will try to improve the article stating this.
Thank you!

[2021-08-17 12:42] get-itips commented on #8148
Hello @Petri-X please see

Source https://docs.microsoft.com/en-us/microsoftteams/cloud-recording

[2021-08-17 12:54] rsedlacz opened #8197 "Documentation for New-MigrationBatch erroneous"
Documentation for New-MigrationBatch erroneous:
"For example: -TargetDatabases @(MBXDB01,MBXDB02,MBXDB03)"

New-MigrationBatch -Local -Name Move-users -CSVData ([System.IO.File]::ReadAllBytes("C:\Migration\Move-users.csv"))  -TargetDatabases @(DAG19-DB01,DAG19-DB02,DAG19-DB03,DAG19-DB04)
At line:1 char:148
\+ ... :\Migration\Move-users.csv"))  -TargetDatabases @(DAG19-DB01,DAG19-DB ...
\+

[2021-08-17 13:20] get-itips commented on #8153
Hello @LuckyLub
How are you? tested to see if we have to impact any documentation, with the same exact version and did not experience that.
Keep in mind there is now a [newer version](https://www.powershellgallery.com/packages/Microsoft.Online.SharePoint.PowerShell/16.0.21513.12000) of the module.

[2021-08-17 13:27] get-itips commented on #8154
Hello @takagim how are you? Hope you are doing good.
Here we are limited to documentation fixes and improvements, is there any article that you think needs a fix?

Thank you

[2021-08-17 13:40] get-itips commented on #8156
Hello @sarollins how are you?
I could reproduce. however, here, we are limited to documentation changes and improvements so I can not help with it, The best in this scenario would be to open a support request from your tenant.
Thanks

[2021-08-17 13:43] get-itips commented on #8165
Hello @DaveClarkey
How are you? Hope you are doing good.
Currently the article has a note clarifying that

Get-Team may return multiple results matching the input and not just the exact match for attributes like DisplayName/MailNickName. This is known behavior.

However I will propose removing the exact match sentence from the parameter description.

Thanks

[2021-08-17 14:26] jbostoen opened #8199 "TlsCertificateName: Let's Encrypt certificate - same issuer, same subject"
I miss info on how to replace an expiring (Let's Encrypt) certificate with a new one using Set-SendConnector.

The TLSCertificateName parameter expects `<i>issuer<s>subject` ; but this is the same for the new certificate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0644aa0f-eb28-7812-8633-35616cb5b1c3
* Version Inde

[2021-08-17 16:23] rbishop-etq commented on #8135
@get-itips
Okay i can do that. Where is the most appropriate spot within there to post this - "Discussions" or "Issues" maybe?
Thanks

[2021-08-17 16:24] rbishop-etq commented on #8135
@get-itips
So should i post it under "Issues" or "Pull Requests"?

Thanks for the help

[2021-08-17 16:35] chrisda commented on #8197
@rsedlacz, confirmed. The parameter type is MultiValuedProperty, so I confirmed it accepted simple comma-separated values like this:

[code]

I'm not sure why it was using that weird syntax that didn't work. It's had that non-working example since the Exchange 2013 era.

I updated the TargetDatabases and TargetArchiveDatabases parameter descriptions accordingly.

Thanks for the feedback.

Closing

[2021-08-17 16:35] #8197 closed

[2021-08-17 16:48] chrisda commented on #8199
@jbostoen, did you try to use the second method in the description?

The Thumbprint value of the renewed certificate should be different than the expiring one.

[2021-08-17 17:12] jbostoen commented on #8199
@chrisda This works for the actual $TLSCert part, but it will result in the same issuer and same subject?

Is it possible to somehow specify the exact certificate or a thumbprint in the Set-SendConnector ?

[2021-08-17 17:18] get-itips commented on #8135
I would say you could submit your idea to "Issues".

[2021-08-17 17:25] rbishop-etq commented on #8135
Okay i have added it there using the format/template that system provided.
Thanks!

[2021-08-17 17:26] get-itips commented on #8166
Hello @JesperGSimonsen Jesper, how are you?
I could see that, will review if a note is necessary to the article for the cmdlet.
Thank you

[2021-08-17 19:01] get-itips commented on #8181
Hello @rimroot
How are you? Hope you are doing good.
I could get more information, setting this value currently is disabled.
Also please read here for more information https://docs.microsoft.com/en-us/microsoftteams/cloud-recording#auto-expiration-of-teams-meeting-recordings

[2021-08-18 04:21] stredoux opened #8203 "Connect-MicrosoftTeams -AccessTokens not working"
Connect-MicrosoftTeams : Parameter set cannot be resolved using the specified named parameters.
At line:1 char:1
+ Connect-MicrosoftTeams -AccessTokens @($graphtoken, $teamstoken) -AccountId User@company.com
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Connect-MicrosoftTeams], ParameterBindingException
    + FullyQualif

[2021-08-18 04:22] stredoux commented on #8194
https://get-itips.capazero.net/posts/teams-powershell-token-auth

[2021-08-18 05:52] yogkumgit commented on #8135
@get-itips Thank you very much for the contribution and sharing this explanation. @rbishop-etq Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 05:52] #8135 closed

[2021-08-18 06:48] BohrenAn commented on #8194
Thank's for the Link,
I know that one already. But here i have several Problems:

https://docs.microsoft.com/en-us/powershell/module/teams/connect-microsoftteams?view=teams-ps
 #Get MSGraph Token for following for resource  "https://graph.microsoft.com" and scopes "AppCatalog.ReadWrite.All", "Group.ReadWrite.All", "User.Read.All";
#Get Teams resource token for resource id "48ac35b8-9aa8-4d74-927d-

[2021-08-18 07:11] ArttuArstila opened #8204 "Wrong max value for MeetingRecordingExpirationDays?"
MeetingRecordingExpirationDays: _"Specifies the number of days before meeting recordings will expire and move to the recycle bin. Value can be from 1 to 99,999 days."_

In our organization we set the value to maximum of 99999 and the change broke Teams meeting and chat functionality. We raised a ticked to MS support, and they instructed that the correct max value should be 9999. Changing that valu

[2021-08-18 11:06] 2ndcahl opened #8205 "Missing Set-CsUser command?"
It seems that the Microsoft Teams command Set-CsUser is not documented. I know that it shares it's name with the Skype for Business command and they do (more or less?) the same thing, but I would still expect to see it listed in the commands for the MicrosoftTeams PowerShell module.

Or am I missing the reason for the Set-CsUser not to be in the Teams Microsoft documentation?

---
#### Document De

[2021-08-18 14:50] useyourblinker opened #8206 "Missing SMTP information"
Dear Microsoft,

Does this Allow list match the email Header or Envelope, or "either" or "both"?

It would seem like - just as for a transport rule you might want to match an Envelope (and not the header) when making exceptions - you'd want to know in this case that the Envelope is doing the work. Else if it's the header - shouldn't that at least be listed someplace?

Generally DMARC should take c

[2021-08-18 17:46] chrisda commented on #8206
@useyourblinker, checking.

[2021-08-18 18:20] jakerobinson opened #8208 "New-PnPPersonalSite"
There is no `New-PnPPersonalSite` cmdlet, and this seems like a duplicate of the cmdlet `Get-PnPPersonalSite` and `Request-PnPPersonalSite`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a754d47-ac07-fef3-614c-1f9fc1c7a68f
* Version Independent ID: 69d2df01-0d5c-88b6-cc18-ca1e2c67f8e4
* Content: [New-PnPPersonalSite (

[2021-08-18 20:16] chrisda commented on #8206
@useyourblinker, it's the email header address, a.k.a. 5322.From, From, P2 sender, etc.

I updated the parameter description accordingly.

Thanks, for the feedback.

Closing.

[2021-08-18 20:16] #8206 closed

[2021-08-19 06:09] andyp081 opened #8212 "Add-TeamChannelUser cmdlet no longer exists in module MicrosoftTeams"
I'm running v2.5.0 of the MicrosoftTeams module which appears to have had the Add-TeamChannelUser cmdlet removed. [MS documentation](https://docs.microsoft.com/en-us/powershell/module/teams/add-teamchanneluser?view=teams-ps) indicates it was in one of their previous versions.

Is there another cmdlet that's replaced Add-TeamChannelUser to add a user (or owner) to private teams channels?

[2021-08-19 06:32] davidkench commented on #8180
Hi Chris,

No, I think having tested, that does still hold true.  That is "false" is the default.

Thanks,

David

From: Chris Davis ***@***.***>
Sent: Saturday, 14 August 2021 2:42 AM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: David Kench ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] -HiddenFromAddressListsEnabled (#8180)

@davidkench<https:

[2021-08-19 15:24] #8165 closed

[2021-08-19 15:29] #8147 closed

[2021-08-19 16:17] chrisda commented on #8180
@davidkench, OK. I removed the offending sentence.

Thanks for the feedback.

Closing

[2021-08-19 16:17] #8180 closed

[2021-08-19 21:28] mckadmin opened #8216 "VERY POOR PERFORMANCE"
The MS ExchangeOnline powershell module implementation is a joke.

I have the pipelined command.  The syntax is perfect and simplistic.  It took me a while to get it right - because MS has *multiple* variant (deviant?) versions of MS products, packages, modules, versions and frameworks - that are *incompatible* with other Servers/PCs/Workstations.

But I found the command and got it working.

Oops

[2021-08-19 21:53] chrisda commented on #8216
@mckadmin, the problem could be do to client side vs. server side processing.

If your command is doing something like:

[code]

try changing it to:

[code]

[2021-08-19 22:13] mckadmin commented on #8216
It’s not client-side processing – it MS throttling.

15 seconds per record update.  The picture contains one of 60 or more WARNINGS.
The DELAY per RECORD causes an EVENTUAL TIMEOUT.

I do run other powershell scripts on our local AD servers and on-prem Hybrid servers – from the SAME server I am running this script.

When connecting to MS Cloud – it is extremely slow.
See Picture

15 seconds per “w

[2021-08-19 22:18] mckadmin commented on #8216
Slight content changes:

It’s not client-side processing – it’s MS throttling.

15 seconds per record update.  The picture contains one of 60 or more WARNINGS.
The DELAY per RECORD causes an EVENTUAL TIMEOUT.

I do run other powershell scripts on our local AD servers and on-prem Hybrid servers – from the SAME server I am running this script and powershell is not slow at all on my network.

When co

[2021-08-19 23:56] chrisda commented on #8216
@mckadmin client side vs. server side as I described causes throttling. I've seen it firsthand, where throttling happens with a surprisingly low number of objects when you run `Get-Blah | Set-Blah`.

So my original question still stands.

[2021-08-20 11:56] DEberhardt opened #8217 "Nested Objects display differently depending how Auto Attendant was queried"
Hello,

I have found a peculiar bug in `Get-CsAutoAttendant` - When querying Auto Attendants by Name, the output is different than when queried by ID:

[code]
Parameters Filename and DownloadUri do not show properly when queried by name, but work fine if queried by ID

I am after the DownloadUri for my use-case (`Get-TeamsAutoAttendant -Detailed` and `Get-TeamsAutoAttendantAudioFile` respectively)

[2021-08-20 13:31] mikeparkie opened #8219 "[BUG] [SP MgntShell] Additions to this Web site have been blocked"
I orginainly posted in here but did get any response, please let me know if you want me to raise with support:
https://www.reddit.com/r/sharepoint/comments/oqtl1d/sp_mgntshell_additions_to_this_web_site_have_been

I'm after some advice on how to handle this error. The error occurs because the original site was renamed, so it's a redirect site template. I get the following error when pulling the si

[2021-08-20 15:05] mckadmin commented on #8216
Hi Chris,

You seem a little too sure of yourself to be helpful.  Don’t worry – we’ve all been there.

First of all – You didn’t ask any questions in your first email and although I would also would most likely respond the same indifferent way that you did (similar personalities sort of thing) – I would wait until my response was obviously correct:

Secondly:

1)      I CHANGED my script to do as

[2021-08-20 17:05] chrisda commented on #8216
@mckadmin, your best bet at this point is to open a support case. If the case reveals something that requires a documentation update, report back here, and I'll make the updates to documentation.

This isn't a support forum. I tried to help, but it looks like we're at an impasse.

[2021-08-20 20:44] wcarson opened #8222 "Connect-ExchangeOnline fails with ArgumentOutOfRangeException"
Connect-ExchangeOnline fails with ArgumentOutOfRangeException sometimes** when running from the command line and always when run as part of a script.  The command fails with the following exception/stack trace:

[code]

The relevant code that triggers the exception is very basic

[code]

As mentioned above, this always fails when run as part of a script, but only sometimes when run from the comman

[2021-08-20 21:12] discocow commented on #8212
There seem to be several cmdlets missing - I'm also not able to access  set-TeamTargetingHierarchy or  Get-TeamTargetingHierarchyStatus which should be in the same module. Current MS [documentation ](https://docs.microsoft.com/en-us/microsoftteams/set-up-your-team-hierarchy) references them but they aren't recognized in 2.5

[2021-08-21 09:58] andyp081 commented on #8212
I've downgraded to module v2.4.1 preview that's allowed me access to the *TeamChannelUser & *TeamTargetingHierachy* cmdlets.

Just ran these 2 commands
1. Uninstall-Module -name MicrosoftTeams -allversions -confirm -force
2. Install-Module -Name MicrosoftTeams -RequiredVersion 2.4.1-preview -AllowPrerelease

After installing v2.4.1 preview

PS C:\WINDOWS\system32> get-command -module MicrosoftTeam

[2021-08-22 00:11] mhupfauer opened #8226 "New-Label -ExternalSharingControlType broken"
Creating new labels via PowerShell results in failures when trying to set the ExternalSharingControlType to ExternalUserAndGuestSharing as per documentation.

[code]

[2021-08-23 03:57] ACarlockAKA opened #8227 "Get-Team doesn't always return all teams"
We have 2666 teams according to admin.teams.microsoft.com.  When I run Get-Team | export-csv .\TeamsReport.csv -notypeinformation I only get about 2662 teams.  Sometimes more, sometimes less.  the same happens even if I just run Get-Team and copy/paste the results from the PowerShell screen into Notepad or Excel where I can count the output.  This seems like a bug.

[2021-08-23 07:55] yogkumgit commented on #8148
@get-itips Thank you very much for the contribution and sharing this explanation. @Petri-X Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-23 07:55] #8148 closed

[2021-08-23 07:57] yogkumgit commented on #8153
@get-itips Thank you very much for the contribution and sharing this explanation. @LuckyLub Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-23 07:57] #8153 closed

[2021-08-23 07:59] yogkumgit commented on #8154
@get-itips Thank you very much for the contribution and sharing this explanation. @takagim Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2021-08-23 08:00] #8154 closed

[2021-08-23 08:04] yogkumgit commented on #8156
@get-itips Thank you very much for the contribution and sharing this explanation. @sarollins Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2021-08-23 08:04] #8156 closed

[2021-08-23 08:13] yogkumgit commented on #8172
@OfficeGlobal or @TinaMcN can you please help me reaching out to the right person. Thanks

[2021-08-23 08:15] yogkumgit commented on #8181
@get-itips Thank you very much for the contribution and sharing this explanation. @rimroot Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-23 08:15] #8181 closed

[2021-08-23 12:53] DeanGross opened #8228 "Label type?"
There are several types of labels in O365, I'm assuming that this is for Retention labels but this is not explicitly stated. Please update the text to make the type of label unambiguous.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d96eadd-522c-fed2-d867-aae9596b5371
* Version Independent ID: 561744f4-8bef-38a4-fccd

[2021-08-23 14:13] LudwigVanGysel commented on #8226
We have the same issue at one of our customers. We confirm this behavior also on the development tenant.

[2021-08-23 14:28] get-itips commented on #6097
@DEberhardt David, have you seen this article? https://docs.microsoft.com/en-us/microsoftteams/outbound-calling-restriction-policies

[2021-08-23 14:40] NunzioArdi opened #8229 "SharePoint module bug"
When i user this command, It tells me `False` while the person is well admin.
[code]
Visible on this page, https://contoso-admin.sharepoint.com/_layouts/15/TenantProfileAdmin/ProfMngr.aspx
In **Manage site collection owners** as describedhere: https://docs.microsoft.com/en-us/sharepoint/manage-user-profiles#add-and-remove-admins-for-a-users-onedrive

---
#### Document Details

⚠ *Do not edit this

[2021-08-23 14:59] robinmalik commented on #7119
I have the same problem, which is a huge pain when we have ~2400 Teams to archive. This is with version 2.5.0 of the module.

How can this be automated if the cmdlets don't handle this in the background and throw errors?

[2021-08-23 15:07] get-itips commented on #7790
Duplicate of https://github.com/MicrosoftDocs/office-docs-powershell/issues/7186

[2021-08-23 15:16] dariomws commented on #8011
Hi @sguitardude, thank you for your feedback and help us to improve docs.microsoft.com.

You can use Get-RetentionCompliancePolicy to verify the distribution status. For example, if you modify the following policy:
```Set-RetentionCompliancePolicy -Identity "Regulation 123 Compliance" -AddExchangeLocation "Kitty Petersen" -AddSharePointLocation "https://contoso.sharepoint.com/sites/teams/finance"

[2021-08-23 15:17] get-itips commented on #8066
I tested again, the behavior is the same I can confirm.

@yogkumgit you can close this thread now. thanks

[2021-08-23 15:21] get-itips commented on #7846
I could confirm this is what happens in the practice. However, as this issue is for the Set- and the edit should be done in the New- article, we can close this one @yogkumgit

[2021-08-23 15:29] dariomws commented on #8040
Hi @adagioajanes, thank you for your feedback.

It's a well-known issue, but it still was not fixed. My apologies, but I don't have an ETA to provide. I hope it's changed soon.

[2021-08-23 15:43] dariomws commented on #8167
Hi @ssmiller60, thank you for your feedback.

I understand that manage retention policy for Teams private channels is not available yet. And it seems that retention policies for Teams private channels were not fully rolled out yet:
https://www.microsoft.com/microsoft-365/roadmap?filters=In%20development%2CRolling%20out&searchterms=70582

[2021-08-23 16:20] TinaMcN commented on #8172
Including @Soran-M who manages the translation of the PowerShell content.  He is investigating why the content is currently showing in English.

[2021-08-23 16:30] #8011 closed

[2021-08-23 17:53] ssmiller60 commented on #8167
I am aware of the roadmap but please check a test azure environment, it has
been rolled out.  It is live in our prod GCC environment.

Thanks
Sam

On Mon, Aug 23, 2021, 11:43 AM Dario Woitasen ***@***.***>
wrote:

[2021-08-23 18:05] chrisda commented on #8228
@DeanGross, you're right, it's retention labels. I updated the description in this and the other \*-ComplianceTag cmdlet topics.

Thanks for the feedback.

Closing.

[2021-08-23 18:05] #8228 closed

[2021-08-23 18:37] robinmalik commented on #7119
Same error with version 2.5.0. Thanks for the workaround @Bart-Hoofd. It's pain (we have 2400 to archive shortly), but something.

[2021-08-23 19:53] DEberhardt commented on #6097
Hello,

I think I have had read the article. Re-reading it, I note that:
- It does not tell anything about support with/for Direct Routing
- It does mention rules not being able to be customized
- It does not list the restriction level with enough clarity to be useful (Does domestic include Emergency services calls if they are routed via the Voice Routing Policy...?)

All of the above drive previo

[2021-08-23 21:20] dariomws commented on #8167
Hi @ssmiller60, it could be rolled out to several tenants, I agree. Anyway, not option to manage retention policies using the PowerShell module yet.

[2021-08-23 21:44] ssmiller60 commented on #8167
Ok thanks for the clarification

On Mon, Aug 23, 2021, 5:20 PM Dario Woitasen ***@***.***>
wrote:

[2021-08-24 04:45] aspnet4you opened #8236 "Set-SPOSite : You do not have required licenses to perform this operation. Please read here for licensing related requirements : https://docs.microsoft.com/en-US/sharepoint/authentication-context-example"
I am try run Set-SPOSite to set ConditionalAccessPolicy AuthenticationContext on SharePoint site but I am receiving the following error-

"Set-SPOSite : You do not have required licenses to perform this operation. Please read here for licensing related requirements :  https://docs.microsoft.com/en-US/sharepoint/authentication-context-example"

I am using a user with Global Admin role in Azure AD a

[2021-08-24 08:38] yogkumgit commented on #7790
Closing will deal it in #7186

[2021-08-24 08:38] #7790 closed

[2021-08-24 08:40] yogkumgit commented on #7846
@get-itips Thank you very much for the contribution and sharing this explanation. @lebosch Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 08:40] angoo-atea opened #8237 "Set-SPOTenant -DisableAddShortcutsToOneDrive - Still warning for public preview?"
If this command is now in General Access then the warning message about Public Preview should be removed/amended.

_PS C:\WINDOWS\system32> Set-SPOTenant -DisableAddShortcutsToOneDrive $True
WARNING: Users in your organization will no longer be able to add new shortcuts to their OneDrive while the feature is in Public Preview. However, existing shortcuts will remain functional._

[2021-08-24 08:41] #7846 closed

[2021-08-24 08:52] yogkumgit commented on #8066
@get-itips Thank you very much for the contribution and sharing this explanation. @gpriest-github Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 08:52] #8066 closed

[2021-08-24 09:06] yogkumgit commented on #8167
@dariomws Thank you very much for the contribution and sharing this explanation. @ssmiller60 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 09:06] #8167 closed

[2021-08-24 09:12] yogkumgit commented on #8172
@Soran-M Please acknowledge and resolve this issue. Thanks

[2021-08-24 09:20] yogkumgit commented on #8040
@chrisda Please help us in resolving this issue. Thanks

[2021-08-24 11:47] lazedo commented on #8194
also trying `2.5.0`. when using `Connect-MicrosoftTeams  -AccessTokens @($GraphAccessToken , $TeamsAccessToken) -TenantId $tenant` i get `Not supported tenant type.` not sure if this is something that should work (working with office developer account) with the proper tenant

[2021-08-24 11:50] lazedo commented on #8203
tried with `Connect-MicrosoftTeams -AccessTokens @($graphtoken, $teamstoken) -TenantId $tenant`, getting different error. https://github.com/MicrosoftDocs/office-docs-powershell/issues/8194#issuecomment-904567505

[2021-08-24 17:57] chrisda commented on #8222
@wcarson, I would suggest trying a different method to connect:

PowerShell 7: <https://docs.microsoft.com/en-us/powershell/exchange/connect-to-exchange-online-powershell#inline-credentials>

<https://docs.microsoft.com/powershell/exchange/app-only-auth-powershell-v2>

[2021-08-24 19:48] badsector-82 opened #8240 "Get-MessageTraceDetail doesn't show the folder where a message was delivered"
The problem is in the title. There must be a way to get with powershell the folder where a message was delivered. So far this is possible only through the GUI (Mail Flow > Message Trace).

[2021-08-24 22:50] haneef95 opened #8242 "Connect-ExchangeOnline doesn't work with PWSH Core"
Hi,

When Connect-ExchangeOnline is executed within PowerShell Core 7.1.4, it throws this error:

[code]

Any timeline as to when this will be fixed?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Independent ID: 4d69ee5d-5a6d-a203-69fe-bf5441a8b5eb
* Content: [Con

[2021-08-24 23:09] chrisda commented on #8242
@haneef95, the current version of the module is 2.0.5. In an elevated Windows PowerShell window (run as administrator), run the command:

[code]

Perhaps the error will go away?

[2021-08-24 23:11] chrisda commented on #8226
@mhupfauer, @LudwigVanGysel your best bet is to open a support case. If this is a transient problem, then no updates to documentation are required. If the support case reveals something that should be noted in the documentation, report back here.

[2021-08-24 23:53] Patrick-Gaul opened #8243 "-ProfileDBServer Definition is Incorrect"
This page has an incorrect definition of the **-ProfileDBServer** parameter. It describes it as a database name. It should be a Server name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96316135-abf3-c1b7-e01f-0942874efde7
* Version Independent ID: c859a385-3067-a82c-ff7e-1bfb389ee12b
* Content: [New-SPProfileService

[2021-08-25 05:14] rich2099 commented on #8194
I walso would like to add that the instructions for Connect-MicrosoftTeams with access tokens dont seem to work. Is this is bug or are the instructions not correct? The clarification about the exact permissions required in Graph and Skype & Teams API would be great as well.

[2021-08-25 05:23] stredoux commented on #8194
I have done some tests and its working on MictosoftTeams ver 2.3.2 [https://www.powershellgallery.com/packages/MicrosoftTeams/2.3.2-preview](url)

As its been documented .... Sample Code :

`$tokenBody = @{
   Grant_Type    = "client_credentials"
   Scope         = "48ac35b8-9aa8-4d74-927d-1f4a14a0b239/.default"
   Client_Id     = $clientId
   Client_Secret = $clientSecret
}
$TeamsTokenResponse =

[2021-08-25 05:58] rich2099 commented on #8194
You shouldn't need the Tenant ID nor the Account ID with 2.5.0 correct? I believe JWT token has all that information within it. I think intention with 2.5.0 is that you simply need to perform `Connect-MicrosoftTeams -AccessTokens @($GraphAccessToken , $TeamsAccessToken)` assuming you have the successfully gathered the tokens, you should then be connected.

[2021-08-25 06:05] stredoux commented on #8194
As far as I could understand , If you need to add the Account Id of the person/application  you used to get the tokens , and if you use an application to authenticate they do request  an Tenant ...

[2021-08-25 13:06] badsector-82 opened #8245 "Folder where the message was delivered"
Get-MessageTraceDetail | Where {$_.Event -eq "Deliver"} returns "The message was successfully delivered." as a value for the "Detail" attribute. But this doesn't state to which folder the message was delivered. Is it right to assume that this value say the message was delivered to Inbox? If I sent a spam message it says "The message was delivered to the Junk Email folder". Please confirm this in t

[2021-08-25 15:29] rsedlacz opened #8246 "Get-MigrationUser -status IncrementalFailed is missing in the documentation"
Get-MigrationUser -status IncrementalFailed
is missing from the list of Microsoft.Exchange.Data.Storage.Management.MigrationBatchStatus values

Get-MigrationUser -status IncrementalFailed

`Get-MigrationUser -status IncrementalFailed

Identity                                 Batch                          Status                    LastSyncTime
--------                                 -----

[2021-08-25 16:28] chrisda commented on #8245
@badsector-82, I don't think the level of detail extends to specific folders within the mailbox. For example, spam messages are first delivered to the Inbox, and then moved into the Junk Email folder by the hidden Inbox rule named Junk E-mail Rule (as long as the rule is enabled).

You can also configure Inbox rules to move messages with certain characteristic to a designated folder, or even delet

[2021-08-26 09:57] lwchkg opened #8251 "Cannot create teams with EDU_Class Template (again!!!)"
Please see the log below for details. (Note: visibility MUST NOT be set in EDU_Class teams.)

[code]

[2021-08-26 11:46] sarollins opened #8252 "Single user not found"
Having trouble setting DistributionList / User attributes

Every time I attempt to set these values, I get an error like

Single user not found (9ff75dfd-dfd9-4a1d-b75b-205f26cc3303).
    + CategoryInfo          : NotSpecified: (:) [Set-CsCallQueue], OnlineCmdletException
    + FullyQualifiedErrorId : Unspecified,Microsoft.Rtc.Management.Hosted.CallQueue.SetCsCallQueueCmdlet
    + PSComputerName

[2021-08-27 10:18] Rowdy opened #8256 "New-CsGroupPolicyAssignment -PolicyType TeamsAppPermissionPolicy missing"
We are rolling out Teams slowly and created a couple of different Teams App Permission Policies. Unfortunately these groups can not be assigned to groups via the New-CsGroupPolicyAssignment.

I guess this is a problem for a lot of companies which are using multiple Permission Policies within their company.

[2021-08-27 13:58] ssmiller60 opened #8257 "DatacenterAdminsOnly info missing"
info on the field DatacenterAdminsOnly is missing.  This is defaulted to false, what does true mean and how is it set?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43667016-c662-727c-4566-9356330b0665
* Version Independent ID: decd796f-a731-2289-87d7-ee173788025c
* Content: [New-ClientAccessRule

[2021-08-27 14:54] phlakvest opened #8258 "New-TenantAllowBlockListItems: A parameter cannot be found that matches parameter name 'action'"
It appears -action isn't a valid parameter.  I can add -block, but I don't see any way to add an allow entry.

[2021-08-27 15:15] HorridMutilation opened #8259 "Commands missing from MicrosoftTeamsPowershell"
Get-Command -module microsoftteams does not return Add-TeamChannelUser yet the cmdlet is listed here
https://docs.microsoft.com/en-us/powershell/module/teams/add-teamchanneluser?view=teams-ps

This is with the latest version, 2.5.0

It seems this was an issue in the past as well
https://github.com/MicrosoftDocs/office-docs-powershell/issues/6549

[2021-08-27 16:03] DEberhardt opened #8260 "Get-CsTenant with v2.5.0 - Output object changed - Parameters lost?"
Hello,

with v2.5.0 of MicrosoftTeams, the output was refactored. While I welcome the switch to the AutoRest query, I lament the lost of backwards compatibility.

- [ ] How to query this with the `Identity` Switch? - This does not work for me...
Furthermore, I do not want to use the Switch, I want to query the output for the currently connected tenant only.
- [ ] How to query this without the `Ide

[2021-08-27 16:31] DEberhardt opened #8261 "Get-CsOnlineUser - Output refactored, valuable parameters lost?"
Hello,

with v2.5.0 of MicrosoftTeams, the output was refactored. While I welcome the switch to the AutoRest query, I lament the lost of backwards compatibility.

**Issue**: Calls with Switch Identity return different Object
**Workaround**: Call without switch Identity (OK)

As I would want to use the new output, I have found a few drawback based on the new Output object, or to be more precise, th

[2021-08-29 08:55] gemsfounders opened #8262 "Missing information on how to remove Guest members"
Since guests have a User Principal Name constructed from the email address in the form:
username_domain#EXT#@tenantname.onmicrosoft.com

The command doesn't run successfully please see below error output.

PS C:\Users\remotelearning_xxx> Remove-TeamUser -GroupId 5d558f85-bd09-40c9-8529-29dxxx16372 -User username.s_xxx_schelearning.com#EXT#@contoso.onmicrosoft.com
Remove-TeamUser : No account or lo

[2021-08-30 13:59] Markus-Hanisch commented on #8261
@DEberhardt
I currently face the same issue. I maintain the Direct Routing for users. Therefore, the following attributes of the Cmdlets **Get-CsOnlineUser** and **Set-CsUser** are crucial in order to verify settings:
`-OnPremLineURI`
`-Phone`
`-EnterpriseVoiceEnabled`
`-HostedVoicemail`

I raised a Microsoft support ticket. Finally, I had to figure it out myself. I found out that the attribute's

[2021-08-30 16:17] get-itips commented on #8195
Thanks for reporting @bbronisz

[2021-08-30 16:31] sarollins opened #8264 "Get-CsOnlineDialInConferencingUser - Error processing request"
Sometime in late July when we submitted this PowerShell request, we would get partial results before getting this error

Get-CsOnlineDialInConferencingUser | Select AllowPstnOnlyMeetings, AllowTollFreeDialIn, ServiceNumber, SipAddress, TollFreeServiceNumber

AllowPstnOnlyMeetings : False
AllowTollFreeDialIn : True
ServiceNumber : 13127548028
SipAddress : <sip:stest2@unimaxlab.com>
TollFreeServiceN

[2021-08-30 16:41] get-itips commented on #8219
Hello @mikeparkie Mike, how are you? Hope you are doing good.
Tested this and I could repro with the latest version of the SP Mgmt Shell, however, here, we are limited to documentation fixes and improvements. What you could do is filter the Get-SPOSite like this

`get-sposite -limit ALL | ?{$_.Template -ne "RedirectSite#0"}`

Hope this helps you,

[2021-08-30 16:47] chrisda commented on #8257
@ssmiller60, are you talking about the DatacenterAdminsOnly **property** in the output of Get-ClientAccessRule (or the "here's what you just did" output of New-ClientAccessRule)? If so, there are a couple of issues:

1. Typically, we don't document the properties that are shown in the output of a Get cmdlet. The list of properties is:
   - Too volatile (changes frequently).
   - Is full of propert

[2021-08-30 16:50] mikeparkie commented on #8219
Thanks @get-itips, I'm good thanks. I appreciate you taking the time to respond. I agree, I could filter it out as suggested, but I believe it's a bug. I'll raise a support ticket so the PG gets the feedback.

[2021-08-30 16:50] #8219 closed

[2021-08-30 17:08] get-itips commented on #8229
Hello @NunzioArdi
How are you?
Here, we are limited to documentation fixes and improvements. However, I tried to reproduce but couldn't

![image](https://user-images.githubusercontent.com/36666927/131377056-eba07ce8-8ef1-4c40-8ddc-73bf20c7c945.png)

Let me know if I understood you well.

Thanks

[2021-08-30 17:26] DEberhardt commented on #8261
Markus, the output as before is still available in v2.5.0 - you have to drop `-Identity` from the Cmdlet call and just run `Get-CsOnlineUser UserPrincipalName@domain.com` to get it.

That said, since Friday last week, v2.5.0 has been retracted, making v2.3.1 the most recent version. :)

[2021-08-30 17:51] Markus-Hanisch commented on #8261
@DEberhardt
Hmm, okay.
In my opinion not really self-explaining and not annouced or mentioned in advance or at least by means of a warning when using that attribute.
The PnP PowerShell proceeded that way. So you were aware of upcoming changes.

I will try your approach without the `-Identity` parameter tomorrow and also inform the Microsoft support agent of my support case *lol*

[2021-08-31 02:20] rich2099 commented on #8194
HI @yogkumgit , would you have any feedback for us on this?

[2021-08-31 03:10] haneef95 opened #8265 "Will the Update-CsAutoAttendant cmdlet refresh Dial by Ext as well?"
Hi,

Will the Update-CsAutoAttendant cmdlet refresh Dial by Ext as well?

It does take a long while for this to come through. Even though Get-CsOnlineUser picks up the changes within 5mins.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6454551-f327-273d-225f-f32d20673e87
* Version Independent ID: dcedb664-3d

[2021-08-31 09:51] DEberhardt commented on #8261
I don't really have any more information than what has been published. This particular nugget is in the Release notes :smile:

In the meanwhile v2.5.1 has been published, but no information is yet given on potential changes from v2.5.0: https://docs.microsoft.com/en-us/MicrosoftTeams/teams-powershell-release-notes

[2021-08-31 12:29] NunzioArdi commented on #8229
Hello @get-itips
Sorry but I didn't find where to go to report a bug.
Could you please tell me? Thanks

[2021-08-31 12:34] get-itips commented on #8229
Hello @NunzioArdi If you still face that with the latest version of the module you could try opening a support request from your tenant. Hope this information helps you.

[2021-08-31 15:29] get-itips commented on #8194
Hello @BohrenAn how are you?
I could get some information from the team that they are aware and a fix is planned.
Thank you

[2021-08-31 16:20] get-itips commented on #8203
Hello @stredoux
please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/8194#issuecomment-909343996

[2021-08-31 16:21] get-itips commented on #8208
Hellol @jakerobinson
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from t

[2021-08-31 16:22] get-itips commented on #8136
Hello @vFrohn Christian, how are you?
Please kindly see https://github.com/MicrosoftDocs/office-docs-powershell/issues/8194#issuecomment-909343996

[2021-08-31 16:25] get-itips commented on #8204
Hello @ArttuArstila how are you?
Please read my comment here https://github.com/MicrosoftDocs/office-docs-powershell/issues/8181#issuecomment-900555657

[2021-08-31 16:30] get-itips commented on #8205
Hello @2ndcahl how are you?
Hope you are doing good.
Thanks for your feedback. We are aware of the cmdlet not listed there, that index is automatically generated from the cmdlets that are in the Teams folder, that is the reason you will find it here https://docs.microsoft.com/en-us/powershell/module/skype/?view=skype-ps instead.
Thanks for your feedback.

[2021-08-31 16:37] get-itips commented on #8212
Hello @discocow how are you?
`Add-TeamChannelUser` is part of the `-Preview` branch of the Teams Ps module, as the article says.
Thank you

[2021-08-31 17:18] get-itips commented on #8217
Hello @DEberhardt
I tried that, and if I specify -IncludeStatus, the information you are looking for, is there:

![image](https://user-images.githubusercontent.com/36666927/131547262-33379254-9952-4862-b918-a1e990eb331c.png)

This is with `2.5.1`.

Hope this helps you,

[2021-08-31 20:10] get-itips commented on #8227
Hello @ACarlockAKA Alex, how are you?
Here, we are limited to documentation changes and improvements, I'll try to pass the message.
Thanks

[2021-08-31 20:35] DEberhardt commented on #8217
Interesting. Something is definitely amiss here then:
[code]
so far so good.... but:

[code]

I am concluding from this, that:
- Querying with -Identity always runs `-IncludeStatus`(?)
- Querying with -NameFilter only returns the status if you run it with `-IncludeStatus`
- The [Parameter] Inizialisation for `-IncludeStatus` does not include a Line for the ParameterSet for Identity?

[2021-08-31 20:48] get-itips commented on #8217
@DEberhardt I see, however, hopefully, if you use `Identity` you do not need `IncludeStatus`

[2021-09-01 00:37] get-itips commented on #8237
Hello @angoo-atea how are you?
I could get the information that the message is going to be removed soon from the cmdlet output.
Other than that, as here we are limited to documentation fixes @yogkumgit you can close this.
Thanks for the feedback!

[2021-09-01 04:43] ArttuArstila commented on #8204
Thanks. So it was mistakenly enabled to be modifiable by Microsoft too early?

[2021-09-01 07:00] 2ndcahl commented on #8205
Thanks for your response @get-itips
I'm simply confused about not seeing Set-CSUser as part of the Teams module documentation, as the command is part of the Teams module.

[2021-09-01 08:47] wizneeraj opened #8274 "Update document for removing Redirect Sites"
[Enter feedback here]
Remove-SPOSite does not work on site templates of type Redirectsite#0. We need to unlock the site first and then run the remove command to delete the site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb398dd-f241-3e00-9171-cc85d234e02d
* Version Independent ID: 6051ced3-d740-be87-58c5-7fe9f40e

[2021-09-01 13:20] fxlite commented on #8194
Handling access tokens outside the module is fine, but they expire  after 1h by default. When it was built into the module, it handles re-acquisition for you as it already has all the info. It now means we have to write logic to handle expiring access tokens...

The changelog doesn't seem to indicate why passing appid and certificate thumbprint was removed in favour of static access token paramete

[2021-09-01 13:33] get-itips commented on #8205
Yes, but please remember that `Set-CsUser` belonged to the Skype module that is the reason the article is on that folder, probably in the future if the content is re-structured it will be listed in that index file.
thank you!

[2021-09-01 13:38] get-itips commented on #8204
Hello @ArttuArstila I do not know at that level of detail, I am sorry, however, when it will be enabled again it should be as the article says currently if for some reason the behavior is different I'll push a change to the article. Thanks for your feedback.

[2021-09-01 14:33] fxlite commented on #8261
It's utterly bizarre that not specifying the -Identity parameter brings back the "deprecated properties". I'm not aware of this esoteric behaviour being mirrored in any other modules. Also, these "deprecated properties" are particularly pertinent to Team Direct Routing (onpremlineuri, hostedvoicemail etc.) and Direct Routing isn't deprecated...

[2021-09-01 15:25] stredoux commented on #8194
So when you run the command it does not want you to add the -accountid parameter : Connect-MicrosoftTeams -AccessTokens @($graphTokenResponse.access_token, $TeamsTokenResponse.access_token )

[2021-09-01 16:38] paulbk914 commented on #8194
I'm getting the same issue. I've retrieved access tokens successfully but the only parameter is allows when using -accesstokens is -TenantId. When I provide the tenant ID (i've tried both the tenant GUID as well as the tenant name), i get: Connect-MicrosoftTeams : Not supported tenant type.

[2021-09-01 18:01] #8205 closed

[2021-09-01 18:03] DEberhardt commented on #8261
'tis unusual but not unwelcome to have this workaround. Technically, I find it kinda neat. If someone on this forum knows how this is coded please let me know.
I do agree though that these things should be firmly on the pre-release track until they are thoroughly tested and documented. Documentation and communication should come before the release, not months after...

[2021-09-01 18:29] get-itips commented on #8243
Thanks for your feedback @Patrick-Gaul

[2021-09-01 18:35] get-itips commented on #8251
Hello @lwchkg how are you?
I've just tried with `2.5.1` version to see if we had to correct any documentation and had no issues, however, can you share the cmdlet you used? Maybe it's different from mine.

[2021-09-01 19:02] radekatsyserco opened #8278 "example 2 is incorrect"
it should look like example 4, that command does not take -permanent as a parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20837451-48fe-1dd4-eaf2-e8296abdf4db
* Version Independent ID: a51a4a6c-11f4-ba4d-46fa-5187e2d99e5f
* Content: [Remove-Mailbox (ExchangePowerShell)](https://docs.microsoft.com/en-us/powersh

[2021-09-01 20:04] wcarson commented on #8222
@chrisda - Thank you for the feedback. I'll give the certificate-based auth a shot as described in the 2nd link as a workaround. However, I'd prefer to use the credentials approach as it's more in line with other related scripts we use (e.g. MSOnline module). Any idea what could be causing the exception when using credentials? Seems like a bug rather than a usage issue.

-Wayne

[2021-09-01 20:42] get-itips commented on #8251
Hello @HardyKrause I could create a edu team with the New-Team cmdlet you shared here. I advise you to try with `2.5.1`
Hope this information helps you

[2021-09-01 20:52] chrisda commented on #8222
@wcarson, it could very well be a bug. You can open a support case and/or ask for assistance as described [here](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#report-bugs-and-issues-for-the-exo-v2-module).

Also, worth mentioning that the latest official version of the EXO V2 Module is 2.0.5, and there's also a 2.0.5-Preview2 version available that you could try. See

[2021-09-01 22:01] HardyKrause commented on #8251
I will give it a try. Many Thanks!!

Regards

Hardy

Von: Andres Mariano Gorzelany ***@***.***>
Gesendet: Mittwoch, 1. September 2021 22:43
An: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: HardyKrause ***@***.***>; Mention ***@***.***>
Betreff: Re: [MicrosoftDocs/office-docs-powershell] Cannot create teams with EDU_Class Template (again!!!) (#8251)

Hello @HardyKrause <https://github.com/

[2021-09-02 00:07] chrisda commented on #8278
@radekatsyserco, cmdlet reference topics are single sourced, so some topics (like this one) apply to Exchange 2010 - 2019 and Exchange Online.

The Permanent parameter is clearly marked in the description as being on-prem only. For examples, we typically try to identify when the example only applies to on-prem or cloud (note how Example 4 starts with "In Exchange Online, this example...".

I updat

[2021-09-02 00:17] radekatsyserco commented on #8278
Thanks Chris!

Thank you,
Radek Urban

From: Chris Davis ***@***.***>
Sent: Wednesday, September 1, 2021 5:07 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Radek Urban ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] example 2 is incorrect (#8278)

CAUTION: This email originated from outside of Syserco. Do not click links or open attachments unl

[2021-09-02 03:35] luckman212 commented on #5377
Hitting this issue hard today. @csdunaway @dariomws @ChrisB9907 @chrisda -- did you guys figure anything out? Is this a per-tenant issue or a problem with the cmdlet? Or something else... permissions?

[2021-09-02 05:08] ArttuArstila commented on #8204
Got it, thanks for investigating!

[2021-09-02 05:08] #8204 closed

[2021-09-02 11:35] arnemo opened #8282 "Remove-PnPHubSiteAssociation for root site"
[code]

   This command does not seem to accept the URL of the root site. The root site can be connected to a hub.

[2021-09-02 11:57] yogkumgit commented on #8257
@ssmiller60 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-02 11:57] #8257 closed

[2021-09-02 12:10] #8282 closed

[2021-09-02 12:10] arnemo commented on #8282
User error

[2021-09-02 12:27] get-itips commented on #8252
Hello @sarollins
How are you? I tested what you are trying to achieve in version `2.5.1`:

[code]

and I could successfully remove a user from the list of users

Let me know if I understood you well. Thanks

[2021-09-02 14:12] jakerobinson commented on #8208
Will do, thanks!

[2021-09-02 14:16] jakerobinson commented on #8208
Out of curiosity, how would I have known to submit this in the other repo? I now have to resubmit the same request in another repo, doubling the time I've spent reporting a bug. Please don't interpret this as me being angry, I would just like to help improve your processes! :heart:

[2021-09-02 14:34] #8208 closed

[2021-09-02 15:42] RichDaMan opened #8285 "Remove-CsVideoInteropServiceProvider is not recognized as the name of a cmdlet, function, script file or operable program"
**Remove-CsVideoInteropServiceProvider** is not working as a valid command within the MicrosoftTeams module v2.5.1

![Remove-CsVideoInteropServiceProvider Error](https://user-images.githubusercontent.com/680024/131874600-637744d2-d180-4c2e-a65d-87ba4236689f.png)

[2021-09-02 15:52] #8278 closed

[2021-09-02 15:54] chrisda commented on #5377
@luckman212, you should open a support case about this. I have no new information.

[2021-09-02 15:58] luckman212 commented on #5377
Thanks @chrisda - you know what, a good night's sleep fixed the problem. Must have been some kind of delay on propagating permissions (adding the `{Compliance,Discovery} Management` roles). I logged on this morning and the `New-ComplianceSearch` cmdlet was there. Some better feedback from the backend on the status of that propagation would be great. 🤷‍♂️

[2021-09-02 16:10] lozyevans opened #8286 "Feedback on Set-CsCallQueue -ChannelUserObjectID"
[Enter feedback here]
The documentation isnt clear what GUID is required for -ChannelUserObjectId
It simply states "Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)."
The GUID that is actually required is a GUID of a user who is a team owner/admin not the team GUID.
It would be useful to have this as an example or define where the GUID should be sourced.

Thank yo

[2021-09-02 16:23] get-itips commented on #8252
I could also use the same procedure for DLs

[2021-09-02 17:20] get-itips commented on #8256
Hello @Rowdy how are you?
Here, we are limited to documentation fixes and improvements, your inquiry I think is best suited for https://microsoftteams.uservoice.com/
Thank you

[2021-09-02 17:32] NunzioArdi commented on #8229
Hello @get-itips The problem only occurs for disabled accounts. The change is effective but the command returns False.

[2021-09-02 18:19] get-itips commented on #8258
Hello @phlakvest
Please see here https://docs.microsoft.com/en-us/powershell/module/exchange/new-tenantallowblocklistitems?view=exchange-ps that an `-Allow` parameter is available.

[2021-09-02 18:20] get-itips commented on #8259
@HorridMutilation How are you? That cmdlet is part of the -Preview branch of the Teams PowerShell module. (the ones identified with -preview in the module version)
Hope this information helps you

[2021-09-02 20:40] get-itips commented on #8260
Hello @DEberhardt David.

I think the `(with -identity parameter only)` comment that you extracted from the release notes, is only about the `Get-CsOnlineUser` cmdlet, but I'll try to confirm.

I understand what you say about the parameters or information now gone, however, that seems more suitable for [uservoice](https://microsoftteams.uservoice.com/) as here we are limited to documentation chang

[2021-09-02 23:28] Atreidae commented on #7186
Hi team,
This issue has been open since Jan and we still don't have much in the way of documentation on the SBA cmdlets.
Especially as the SBA process itself is sparsely documented and the PowerShell module is also missing documentation.

![image](https://user-images.githubusercontent.com/8736291/131928511-b7447929-fb30-4780-9cd0-eaf26c400834.png)

Little hard to recommend the solution to customer

[2021-09-03 04:56] anthonynz opened #8292 "No details for "SummarizedBy" parameter"
This commandlet documentation does not explain this parameter:

-SummarizeBy
{{ Fill SummarizeBy Description }}

<https://docs.microsoft.com/powershell/module/exchange/get-advancedthreatprotectiondocumentreport>

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0268c7f-8a78-c46d-717a-dc88b4e9307a
* Version Independent ID

[2021-09-03 07:59] sttav opened #8293 "PS New-MailboxExport"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4e08e4f-0fe9-af32-49ff-de431c3ec4f4
* Version Independent ID: 17968567-deae-9f14-abc9-741f58a04bcc
* Content: [New-MailboxExportRequest (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/new-mailboxexportrequest?view=ex

[2021-09-03 07:59] #8293 closed

[2021-09-03 16:15] chrisda commented on #8292
@anthonynz, available parameters in this state are a known issue. See [Issue 7429](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for an explanation.

So are you actually trying to use the parameter? Did it work as expected? Or are you pointing out that's the description is empty?

[2021-09-03 20:41] get-itips commented on #8262
@gemsfounders How are you?

I was able to remove a guest using the original email/identity used to invite him, for example

`Remove-TeamUser -GroupId 8942159d-d08b-4c81-99a2-92535b8ecac8 -User BrianJ@M365xXXXX.onmicrosoft.com`

Hope this helps you

[2021-09-04 22:20] directorcia opened #8299 "-EnableSafeLinksForTeams seems now to be GA"
This document says for the option -EnableSafeLinksForTeams:

Note: As of March 2020, this parameter is in Preview and is available or functional only for members of the Microsoft Teams Technology Adoption Program (TAP).

but it seems it is now GA - https://techcommunity.microsoft.com/t5/microsoft-teams-blog/announcing-general-availability-of-safe-links-for-microsoft/ba-p/2588677

---
#### Document

[2021-09-05 09:10] stredoux commented on #8194
@fxlite @yogkumgit Any News on the above  ? When can we expect a fix ?

[2021-09-06 05:56] jdelforno opened #8300 "WinRM Basic auth is Required but it's not listed."
This page is misleading.

Basic Authentication - which I'll remind you, is a security risk as per Microsoft's own blogs - via WinRM is usually disabled in an enterprise environment.

Microsoft has also recommended disabling Basic Authentication at the Exchange Level.

The EXOv2 module listed on this page should represent that with WinRM Basic Authentication disabled, only 9 commands are available.

[2021-09-06 14:09] yogkumgit commented on #8262
@get-itips Thank you very much for the contribution and sharing this explanation. @gemsfounders Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-06 14:20] yogkumgit commented on #8212
@get-itips Thank you very much for the contribution and sharing this explanation. @andyp081 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-06 14:21] #8212 closed

[2021-09-06 14:23] yogkumgit commented on #8217
@get-itips Thank you very much for the contribution and sharing this explanation. @DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-06 14:28] yogkumgit commented on #8227
@ACarlockAKA Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team. We proceed here to close it. Thanks for taking out

[2021-09-06 14:28] #8227 closed

[2021-09-06 14:31] yogkumgit commented on #8229
@get-itips Thank you very much for the contribution and sharing this explanation. @NunzioArdi Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2021-09-06 14:32] #8229 closed

[2021-09-06 14:35] yogkumgit commented on #8237
@get-itips Thank you very much for the contribution and sharing this explanation. @angoo-atea Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-06 14:36] #8237 closed

[2021-09-06 14:40] yogkumgit commented on #8251
@get-itips Thank you very much for the contribution and sharing this explanation. @lwchkg Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-06 14:40] #8251 closed

[2021-09-06 14:42] yogkumgit commented on #8252
@get-itips Thank you very much for the contribution and sharing this explanation. @sarollins Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-06 14:42] #8252 closed

[2021-09-06 14:44] yogkumgit commented on #8256
@Rowdy  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-09-06 14:44] #8256 closed

[2021-09-06 14:47] yogkumgit commented on #8258
@get-itips Thank you very much for the contribution and sharing this explanation. @phlakvest Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-06 14:47] #8258 closed

[2021-09-06 14:49] yogkumgit commented on #8259
@get-itips Thank you very much for the contribution and sharing this explanation. @HorridMutilation Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-06 14:49] #8259 closed

[2021-09-06 14:51] yogkumgit commented on #8260
@get-itips Thank you very much for the contribution and sharing this explanation. @DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-06 15:28] yogkumgit commented on #8172
@Soran-M Gentle reminder.

[2021-09-06 15:39] yogkumgit commented on #6084
@pupara Kindly help here. Thanks

[2021-09-06 15:53] #8262 closed

[2021-09-06 16:18] get-itips commented on #8194
@yogkumgit As indicated here, I could get information from the team that, they are aware and planning a fix. We can close this for now.

[2021-09-06 16:27] BohrenAn commented on #8194
@get-itips
I would still like to have a clarification about the needed Permissions and an example how to get the AccessTokens.

Regards Andres

[2021-09-06 17:19] DEberhardt commented on #8217
As Uservoice is no longer active, I had opened a ticket in the tenant regarding this.
The engineer directed me to the Feedback Hub inside the tenant to report these issues, so I have.
If anything comes of this, I will open another issue to propose documentation changes.

[2021-09-06 17:20] #8217 closed

[2021-09-06 17:22] DEberhardt commented on #8260
Uservoice is no longer open for Teams. Through an incident raised in the tenant, I was instructed to use the Feedback hub inside the tenant to report this, as it goes to the design team rather than the support team.
I will open an issue for this one as well (have fed back a few other open things already) and will update here if I gain any more information where a documentation change would be bene

[2021-09-06 17:22] #8260 closed

[2021-09-07 05:49] yogkumgit commented on #8194
@BohrenAn Thank you for reporting this feedback here. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-07 05:49] #8194 closed

[2021-09-07 05:58] stredoux commented on #8194
@yogkumgit  We have been saying this since the start that there is a bug...... now after how many weeks we need to l;og a call to the support. Really .......

[2021-09-07 06:12] rich2099 commented on #8194
I agree with @stredoux, someone @yogkumgit (?) should be able to confirm whether this is a documentation error or a bug. I have no case open with Microsoft on this.

[2021-09-07 14:56] pkbullock commented on #8300
+100 what are the options here, i can see that AccessTokens doesnt work and the older SkypeForBusiness module is no longer available. 😮

[2021-09-07 15:38] SaschaSeipp opened #8302 "Old parameter in example"
The parameter "-TrackClicks" is deprecated, but still part of the mentioned example. Should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06a1f9fa-7dd6-ebf1-3e64-ef47bd3962b2
* Version Independent ID: 5ea9bde3-9fe9-8ae1-0992-b12223c4d7c4
* Content: [New-SafeLinksPolicy (ExchangePowerShell)](https://docs.mi

[2021-09-07 15:56] chrisda commented on #8299
@directorcia, done. I also made the same fix in Set-SafeLinksPolicy.

Thanks for the feedback.

Closing

[2021-09-07 15:56] #8299 closed

[2021-09-07 16:15] chrisda commented on #8300
@jdelforno, @pkbullock, the first bullet in the "What do you need to know before you begin?" section says:

That topic goes into detail about why Basic auth in WinRM is required in the [Prerequisites](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#prerequisites-for-the-exo-v2-module) section:

The connection topic is a balance between those trying to connect for the f

[2021-09-07 16:31] wcarson commented on #8222
Thanks @chrisda. I reported the bug as described in the KB article. I'll also try the preview/newest version of the module in the same scenario to see if there's any difference in behavior.

[2021-09-07 19:06] chrisda commented on #8302
@SaschaSeipp, fixed. I also fixed set-SafeLinksPolicy for the same issue.

Thanks for the feedback.

Closing

[2021-09-07 19:06] #8302 closed

[2021-09-07 23:08] #8195 closed

[2021-09-08 01:05] #8243 closed

[2021-09-08 10:23] yogkumgit commented on #8222
@wcarson If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-08 10:23] #8222 closed

[2021-09-08 10:41] yogkumgit commented on #7339
@chrisda Any update?

[2021-09-08 10:42] yogkumgit commented on #7463
@chrisda

[2021-09-08 10:42] yogkumgit commented on #7585
@chrisda

[2021-09-08 10:43] yogkumgit commented on #8002
@chrisda

[2021-09-08 10:44] yogkumgit commented on #8057
@chrisda

[2021-09-08 10:45] yogkumgit commented on #8109
@akt2006 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-08 10:46] yogkumgit commented on #8109
@akt2006 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-08 10:46] #8109 closed

[2021-09-08 10:48] yogkumgit commented on #8121
@anthonynz If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-08 10:50] yogkumgit commented on #8122
@chrisda

[2021-09-08 10:50] yogkumgit commented on #8126
@Soran-M Please revert with the update. Thanks

[2021-09-08 10:51] yogkumgit commented on #8131
@chrisda please help.

[2021-09-08 10:52] yogkumgit commented on #8199
@chrisda

[2021-09-08 10:53] yogkumgit commented on #8216
@mckadmin Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2021-09-08 10:55] yogkumgit commented on #8226
@mhupfauer  Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation

[2021-09-08 10:55] #8226 closed

[2021-09-08 10:57] yogkumgit commented on #8245
@badsector-82 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-08 10:57] #8245 closed

[2021-09-08 10:59] yogkumgit commented on #8240
@badsector-82
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We w

[2021-09-08 11:01] yogkumgit commented on #8246
@rsedlacz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-08 11:01] #8246 closed

[2021-09-08 11:03] yogkumgit commented on #8300
@jdelforno Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2021-09-08 11:03] #8300 closed

[2021-09-08 12:15] DEberhardt opened #8305 "Set-CsUserCallForwardingSettings applicable for Teams?"
Hello,

may I get clarification on whether these settings also apply to Teams?
![image](https://user-images.githubusercontent.com/44290340/132507310-8d5b41ff-a5ea-47a2-ba77-436c5b058dbd.png)

They are available in the Client and the Admin Center, and I would assume this to be the PowerShell CmdLet to do this, yet it only calls out Skype For Business 2019 as the Scope.

Thank you,
David

---
#### D

[2021-09-08 12:24] DEberhardt opened #8306 "Set-CsUserCallForwardingSettings - Multiple Parameters not described"
Hello,

### Example 3

The Parameter `TeamDelegateRingWaitTime` is listed in Example 3 but not described (`DelegateRingWaitTime`, however, is).
Is this a typo, or is this a separate Parameter for Teams?

Regarding its value, when looking at the same functionality in the admin center I find that this time can only be configued in 10s intervals between 10s and 60s.

Is the example misleading (5s?),

[2021-09-08 14:04] Onenote4Exchange opened #8307 "Connect-MicrosoftTeams -AccountID is not working with account with MFA enabled"
Hi,
Can you please help regarding this issue?
I am trying to connect to Microsoft Teams powershell module using Connect-MicrosoftTeams -AccountID <UPN>.
I have a strange behavior, This CMDLet will work on personal device but not on my work device.
I am trying to user this CMDLet because I am creating a powershell application, so I cannot use Connect-MicrosoftTeams because I will not be able to man

[2021-09-08 14:14] mckadmin commented on #8216
This has NOT been resolved.

-----
Thomas Beardshear
Ph.949-261-9222 x218
Fax.
949-271-2491
From: Yogesh Kumar ***@***.***
Sent: Wednesday, September 8, 2021 3:54 AM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Thomas Beardshear ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] VERY POOR PERFORMANCE (#8216)

Closed #8216<https://urldefense.proofpoi

[2021-09-08 17:48] chrisda commented on #8131
OK. Fixed. Closing.

[2021-09-08 17:48] #8131 closed

[2021-09-08 17:49] chrisda commented on #8199
@jbostoen, your best way forward is to open a support case. Report back here if any documentation updates are required.

[2021-09-08 21:36] anthonynz commented on #8121
Thanks @yogkumgit,  it is already noted in the document

`Note: You can't use this cmdlet to edit default alert policies. You can only modify alerts that you created using the New-ProtectionAlert cmdlet.`

So it's more of a failing or inadequacy in the commandlet itself.

It would be great if you could pass feedback on to the engineering team who own the commandlet.
While it's understandable that

[2021-09-09 01:10] scottbutton opened #8311 "Text under the -VisibleMeetingUpdateProperties parameter."
The text under VisibleMeetingUpdateProperties parameter says "There are three scenarios where meeting update messages" but there are 4 bullet point scenarios. It's a minor point, I know, thought I'd flag it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23add0a6-bb9c-15d2-a6eb-351ae0564522
* Version Independent ID: 805

[2021-09-09 02:33] nirmala24 opened #8312 "There was no information on adding html text to a page section with Add-PnPClientSideText referencing the html from a file"
Hi,
**Cannot find any information on adding html content referencing a file with Add-PnPClientSideText instead of a variable.**

**Usual**
$newSection = Add-PnPClientSidePageSection -Page $pageame -SectionTemplate OneColumn -Order 1 -ErrorAction stop
$sHTML = '<h2>Headertext</h2>'
$newSection = $pageame .Sections | Where-Object {$_.Type -eq 'OneColumn' -and $_.order -eq 1}
$null = Add-PnPClientSid

[2021-09-09 04:52] yogkumgit commented on #8216
@mckadmin As suggested, kindly contact support. Thanks.

[2021-09-09 04:54] yogkumgit commented on #8199
@jbostoen  Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation w

[2021-09-09 04:55] #8199 closed

[2021-09-09 04:57] yogkumgit commented on #8121
@chrisda

[2021-09-09 11:02] yogkumgit commented on #8106
@AdwoodMicrosoft Please help us in resolving this issue. Thanks

[2021-09-09 11:02] yogkumgit commented on #6382
@AdwoodMicrosoft Kindly help. Thanks

[2021-09-09 12:38] guillaume-kizilian opened #8313 "Engine tokens are not used with Add-PnPDataRowsToSiteTemplate"
When using Get-PnPSiteTemplate, in the template, tokens are used to make the sitegroups more generic :
- {groupsitetitle}
- {groupsitename}
- {associatedownergroupid}
- ...

![image](https://user-images.githubusercontent.com/6792560/132685668-648b3517-7723-4ff4-b25b-022f48148498.png)
![image](https://user-images.githubusercontent.com/6792560/132686463-bf54025a-ee81-411a-aedf-9ad4449cba16.png)

Wor

[2021-09-09 15:57] #8121 closed

[2021-09-09 17:12] chrisda commented on #7339
All of the Bookings parameters are now described.

Thanks for the feedback.

Closing

[2021-09-09 17:12] #7339 closed

[2021-09-09 17:17] chrisda commented on #8311
@scottbutton, fixed. In the future, you too can make fixes like this yourself without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing

[2021-09-09 17:17] #8311 closed

[2021-09-09 19:37] mckadmin commented on #8216
Please re-open and address the issue.

-----
Thomas Beardshear
Ph.949-261-9222 x218
Fax.
949-271-2491
From: Yogesh Kumar ***@***.***
Sent: Wednesday, September 8, 2021 9:52 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Thomas Beardshear ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] VERY POOR PERFORMANCE (#8216)

Closed #8216<https://urldefens

[2021-09-09 19:46] mckadmin commented on #8216
Contact WHICH support team exactly?

-----
Thomas Beardshear
Ph.949-261-9222 x218
Fax.
949-271-2491
From: Office Content Publishing ***@***.***
Sent: Thursday, September 9, 2021 12:38 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Thomas Beardshear ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] VERY POOR PERFORMANCE (#8216)

Reopened #8216<http

[2021-09-10 11:15] DEberhardt commented on #8307
Hello,
you can help yourself by removing the AccountId-Parameter and running the CmdLet without any parameters
[code]
This will trigger an MSAL authentication where you can select the Account which works with MFA (MFA challenge is done right after authentication with Username and Password, like logging into [admin.teams.microsoft.com](https;//admin.teams.microsoft.com)).

Hope that helps,
David

[2021-09-10 13:02] EngineerHGH opened #8321 "Get-recipient -Filter "IsSecurityPrincipal -eq '$True'" - This does not work"
The information on this page is wrong. It says IsSecurityPrincipal is something that can be filtered on within recipient filters.

PowerShell disagrees.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3762ada1-99d6-fa6d-fbd7-524003f8c3b2
* Version Independent ID: 03e801b7-fa14-b5fb-8600-131c9e73292f
* Content: [F

[2021-09-10 13:54] markyroden opened #8322 "Unable to set values as stated in documentation"
I am trying to update -FileAnonymousLinkType and -FileAnonymousLinkType to NONE

Documentation says that None is the default value and is a valid value

The default tenant setting was EDIT and when I try to set the value to NONE it is not allowed.

Set-SPOTenant : Invalid value None for FileAnonymousLinkType property. Only View or Edit value is allowed.
At line:3 char:1
+ Set-SPOTenant -FileAnonym

[2021-09-10 13:57] dietrichmeyer opened #8323 "Object is not in valid state for this operation or there is a delay in propagation"
My batch size is 1 user for testing. I started the cmdlet about 16 hours ago.  The expanded state indicates "Object is not in valid state for this operation or there is a delay in propagation".  ErrorCount equals CompletedCount, both are 1.  There's no way to get at an error except for 'object is not in a valid state'.  This cmdlet seems pretty useless.

My goal is to put users into a different  T

[2021-09-10 15:00] dietrichmeyer commented on #8323
Update:  Our SIP addresses do not match our UPNs. Typically everything M365 related uses UPNs, but I remember documentation said use SIP addresses.  I switched to SIP address and no errors. 'User not found' would have been a more helpful error message than 'object is not in a valid state.'

[2021-09-10 17:18] chrisda commented on #8321
@EngineerHGH, the topic that's reference by this issue is about the _RecipientFilter_ parameter, and your code example that generated the error contains the _Filter_ parameter. The topic about the _Filter_ parameter is here:

<https://docs.microsoft.com/powershell/exchange/filter-properties>

In that topic, the entry for IsSecurityPrincipal says this:

So I think we're OK?

[2021-09-12 08:02] hkusulja opened #8326 "Documentation description for parametar is missing - EnableForwardingAddressSyncForMailboxes"
Documentation description for parametar is missing - EnableForwardingAddressSyncForMailboxes

Kind regards
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23add0a6-bb9c-15d2-a6eb-351ae0564522
* Version Independent ID: 8056b3ee-4fab-3a5c-935b-a9d0e9ad82a4
* Content: [Set-OrganizationConfig (ExchangePowerShell)](https://do

[2021-09-13 04:52] aspnet4you commented on #8236
@yogkumgit- any update on this issue?

[2021-09-13 14:23] partlythomas opened #8328 "Why is the -WhatIf switch even defined here?"
Why is the -WhatIf switch even defined here?
If it is not a working option for the cmdlet, why is it defined at the page at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ae09acf-5413-eb3c-e4c7-2481b7b178f5
* Version Independent ID: d0d555a7-de13-0173-7a8c-e13587b334bc
* Content: [Set-User (ExchangePowerShell)](h

[2021-09-13 16:16] chrisda commented on #8328
@partlythomas, valid question. A small percentage of the thousands of parameters on Exchange cmdlets are available, but don't work correctly (deprecated features, tied to previous versions, etc.). What's unusual is this is basically a common Windows PowerShell parameter that's available on most every New/Set/Remove cmdlet in every product.

If you would like to see this parameter truly removed fro

[2021-09-13 17:31] chrisda commented on #8326
@hkusulja, available parameters in this state are a known issue. See [Issue 7429](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for an explanation.

So are you trying to use this parameter? Does it work as you expect? Or are you just pointing out that the description is empty?

[2021-09-13 17:48] hkusulja commented on #7429
So, if product group (Exchange) cannot say more information about those available parameters, and they can not provide documentation on it, this is ridicilus.

[2021-09-13 17:52] npherson opened #8331 "MeetingRecordingExpirationDays: value of -1"
This says that MeetingRecordingExpirationDays can be set to 1 to 99,999... however, this documentation says you should set it to -1 to 'disable' automatic expiration.

Suggested edit:
Value can be from 1 to 99,999 days to automatically expire recording files. Value can be set to -1 to disable automatic expiration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-09-13 20:16] chrisda commented on #8292
@anthonynz, I added the description.

Thanks for the feedback.

Closing

[2021-09-13 20:16] #8292 closed

[2021-09-13 22:34] vitorliduario opened #8333 "Folders with a different language from Cpanel's webmail"
I've tried all the methods and none work.

[2021-09-14 05:10] yogkumgit commented on #8333
@vitorliduario Please indicate which document you referring and what is your feedback to improve it. Thanks.

[2021-09-14 14:30] eschrader opened #8335 "Whitelist just your organizations O365 emails, such as no-reply@sharepointonline.com?"
On these examples, is there a way to specify just your organizations O365's alerts? I want users who get an O365 SharePoint Online notification from no-reply@sharepointonline.com to trust it internally, but not if its spoofed or from an external organization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba41cae3-da51

[2021-09-14 16:23] get-itips commented on #8265
Hello @haneef95 how are you?

According to the article, it seems that

[2021-09-14 16:35] chrisda commented on #8335
@eschrader, I thought there was already some level of general, unconfigurable allow/whitelisting going on for internal status notifications? Or are you saying that legitimate no-reply@sharepointonline.com messages are getting incorrectly tagged as external?

Issues:
- There's no way to differentiate between internal and external senders using this feature.
- The email address that's checked in the

[2021-09-14 16:48] cegough opened #8336 "Grant-CsOnlineVoiceRoutingPolicy -Identity resourceaccount@domain.com -PolicyName "Policy" generating error"
With 2.5.1 Invoke-CsCommandInfo : User does not exist
At C:\Program Files\WindowsPowerShell\Modules\MicrosoftTeams\2.5.1\net472\SfBORemotePowershellModule.psm1:173 char:13
+ $steppablePipeline.Begin($isExpectingInput, $ExecutionCon ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo : InvalidOperation: ({ Identity = Ce...ntUserRequest }:<>f__AnonymousType39`3) [Grant-CsU

[2021-09-14 16:56] get-itips commented on #8285
Hello @RichDaMan how are you?
I've seen similar issues when not using a Global Admin, not saying this is the case but can you confirm please which admin role you used? Thank you

[2021-09-14 17:26] get-itips commented on #8274
Hello @wizneeraj I was able to use `Remove-SPOSite` against a site with template `Redirectsite#0`

![image](https://user-images.githubusercontent.com/36666927/133304868-660a1f05-f7d2-4ccf-ac5f-fd2076a1e516.png)

The `LockState` of the site was `ReadOnly`.

[2021-09-14 17:48] frankpeng7 commented on #8111
Yep @get-itips that's the right way as far as I know. Use `Get-CsOnlineUser` and filter by name if needed.

[2021-09-14 18:11] get-itips commented on #8286
Hello @lozyevans the article has been updated to expand that description.
Thanks

[2021-09-14 18:17] get-itips commented on #8305
Hello @DEberhardt
I couldn't find the cmdlet on Teams PowerShell...
Let me know if I understood you well

[2021-09-14 18:32] get-itips commented on #8307
Hello @Onenote4Exchange how are you?
Currently, the method to connect to Teams PowerShell with an account enabled for MFA is the one described[ here](https://docs.microsoft.com/en-us/powershell/module/teams/connect-microsoftteams?view=teams-ps#example-1--connect-to-microsoftteams)

[2021-09-14 19:53] DEberhardt commented on #8305
Me neither. Question is, is it missing or not?
I would think it is :)

[2021-09-14 20:04] get-itips commented on #8305
Hello @DEberhardt It isn't a cmdlet from the Teams PowerShell, it is only applicable for Skype For Business on-premises.
Thanks

[2021-09-14 20:06] DEberhardt commented on #8307
Apologies, I did assume that you wanted to sign in interactively...
`-AccountId` while being somewhat fashionably broken can only be used to provide the Username... - I wish it could be used to re-use a previously established session to other services (like AzureAd) - this is how I would want to use it, without having to have a second MSAL window pop up.
As there is no `-Password` Parameter (and B

[2021-09-14 20:08] DEberhardt commented on #8305
To the Tenant feedback provider system, I go. 🛩️  #please-close

[2021-09-14 20:08] #8305 closed

[2021-09-14 20:57] get-itips commented on #8306
Hello @DEberhardt David, how are you?
As we saw on https://github.com/MicrosoftDocs/office-docs-powershell/issues/8305 This is a cmdlet exclusive of SfB Server.
Said that, TeamDelegateRingWaitTime is indeed described in the article, also found UnansweredToVoicemail, DisableForwarding, UnansweredWaitTime and UnansweredToOther.

Let me know if I understood you well.

[2021-09-15 00:07] chrisda commented on #7876
@

[2021-09-15 00:10] chrisda commented on #7876
@cupntea, sorry for the delay. I was having difficulty getting a response.

The up-to-date consensus is that this works on regular mailboxes (clearly) and shared mailboxes, but not Microsoft 365 Group mailboxes.

Can you confirm or deny?

[2021-09-15 11:53] cupntea commented on #7876
@chrisda as far as I remember it simply didn't work for Shared mailboxes.
Ok, I will create a support ticket with Microsoft.

[2021-09-15 12:02] yogkumgit commented on #7876
@cupntea Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will c

[2021-09-15 12:02] #7876 closed

[2021-09-15 16:03] cegough commented on #8336
Sorry, should add this was with a Connect-MicrosoftTeams, but I can't find this command among the teams commands though it does say at the top it will work in teams

[2021-09-15 19:59] DEberhardt commented on #8306
So it transpires I was copying the value and searching with the copied trailing space only getting one result.
And it might also transpire that I must have been quite tired not finding the parameters^^.

[2021-09-15 19:59] #8306 closed

[2021-09-15 20:00] get-itips commented on #8306
Do not worry ;) have a good day

[2021-09-16 08:43] arbilus opened #8343 "Microsoft sync technology - Mobile Device Mailbox Policy and ActiveSync Device Access Rule"
Hello,

This is my first post !

If I create a new Mobile Device Mailbox Policy with New-MobileDeviceMailboxPolicy or New-ActiveSyncMailboxPolicy and do a Set-CASMAilbox -ActiveSyncMailboxPolicy to attribute this policy to a specific mailbox and if the user of this mailbox is using Outlook for iOS or Outlook for Android then the policy will not be working, is it right ?

Because in my opinion if O

[2021-09-16 14:45] stredoux opened #8344 "connect-microsoftteams"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dce05-8bfd-0bfa-3753-0eb193852703
* Version Independent ID: 50e0366c-46b0-71da-b6f6-f422adaad785
* Content: [Connect-MicrosoftTeams (MicrosoftTeamsPowerShell)](https://docs.microsoft.com/en-us/powershell/module/teams/connect-microsoftteams?view=tea

[2021-09-16 14:45] #8344 closed

[2021-09-16 17:33] get-itips commented on #8312
Hello @nirmala24

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that

[2021-09-16 17:39] PFarrell216 opened #8346 "Get-DynamicDistributionGroupMember Help Topic URI Missing"
**Get-Help Get-DynamicDistributionGroupMember -online** returns the following:

Get-Help: The online version of this Help topic cannot be displayed because the Internet address (URI) of the Help topic is not specified in the command code or in the help file for the command.

Searched for other topics about this cmdlet, only found a few unrelated closed issues from August. Apologies if this is ment

[2021-09-16 17:51] DEberhardt opened #8347 "New- & Set-CsTenantNetworkSite are missing the Policy parameters for ECP and ECRP"
Hello,

## first

Application does not state SkypeOnline, though the CmdLet is available in the Teams PowerShell module and an integral part of setting up the Network Topology. Should this change?

[code]
come to think of it, none of the Network Topology/LIS Cmdlets does have SfBOnline added - Review?

## second

[code]
querying the Parameterlist for New-CsTenantNetworkSite (same for Set), I see t

[2021-09-16 18:39] DEberhardt commented on #8347
raised against the wrong cmdlet, apologies `New-CsTenantNetworkSite` does the trick

[2021-09-16 18:39] #8347 closed

[2021-09-17 01:23] repton-infinity opened #8348 "Description of NoCompression flag is missing"
Description of NoCompression flag is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc49cf3f-058c-01dc-3f37-f0d1c11ce088
* Version Independent ID: 28cd035a-d309-7227-f63c-03dbb55a734e
* Content: [Export-SPMetadataWebServicePartitionData (SharePointServer)](https://docs.microsoft.com/en-us/powershell/module/shar

[2021-09-17 08:46] DEberhardt opened #8349 ""This parameter is optional" - yes, but what is it used for? CentralSite"
Hello,

`CentralSite` is listed as optional, but no explanation is given on what to use it for.

Parameter help is equally forthcoming with information:
[code]

Does it link somewhere? To another CsTenantNetworkRegion Object? Can we use it to create Sub-regions?

Please clarify

Cheers,
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-09-17 08:50] DEberhardt opened #8350 "MaskBits - What happens when I do not provide the Mask?"
Hello,

`MaskBits` is listed with no default value (as expected) but as optional (not expected).

No explanation is given on what happens if the Mask is not provided?
- Is it set to 32 or 128 respectively only taken this individual address?
- Is it set to 0 to take the whole subnet?

I haven't had an opportunity to try it out, but as it was something that was not clear from reading, I thought I ra

[2021-09-17 08:52] DEberhardt commented on #8350
PS: This entry does not state what it is applicable for... Judging from the word "Tenant" in the Noun, I assume - just like all others it is applicable for Skype Online.
Should this be added to the header?

[2021-09-17 09:16] DEberhardt opened #8351 "LocationPolicy is listed, though not available"
Hello,

raising against the correct Cmdlet now :)

[code]

- [ ] `LocationPolicy` is still there and I think it can be removed - functionality is superceded by ECP and ECRP, correct?
- [ ] `NetworkRoamingPolicy` could use a little statement that it can be queried with `Get-CsTeamsNetworkRoamingPolicy`
- [ ] `NetworkRoamingPolicy` is not sorted alphabethically
- [ ] `SiteAddress` could have an exam

[2021-09-17 09:42] DEberhardt opened #8352 "ExternalLocationLookupMode - How does it change the behaviour of the ECP?"
Hello,

the `ExternalLocationLookupMode` is to be ENABLED or DISABLED. The parameter description is to brief for me to make out more than that.

How does it change the behaviour of the ECP?
What does lookup externally if enabled?
Does it enable calling an external number?
Does it work if no Trusted IP match is found?

I cannot make a clear deduction from this, kindly clarify.

Thank you,
David

--

[2021-09-17 15:39] cburtbcit opened #8354 "Inactive Mailboxes as Exchange Locations"
It should be noted in the section of this page about the -ExchangeLocation flag that the addresses of inactive mailboxes must be preceded with a period ("."), else the command will be unable to locate the recipient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ee25f1c-d3bf-82b6-40ce-dbf4acd052dd
* Version Independen

[2021-09-17 15:43] gkneale opened #8355 "{{ Fill AdoptPreexisting Description }}"
Is there an ETA for when each instance of "{{ Fill AdoptPreexisting Description }}" will be updated with details?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68325010-9605-22b4-4b6c-b61f332dc321
* Version Independent ID: 47ce5d33-5483-8c8e-2aa2-532178bf466a
* Content: [New-MigrationBatch (ExchangePowerShell)](https:

[2021-09-17 16:59] chrisda commented on #8354
@cburtbcit, fixed. I also updated the AddExchangeLocation and RemoveExchangeLocation parameter descriptions in Set-CaseHoldPolicy.

Thanks for the feedback.

Closing

[2021-09-17 16:59] #8354 closed

[2021-09-17 17:09] chrisda commented on #8355
@gkneale, available parameters in this state are a known issue. See [Issue 7429](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for an explanation.

Are you trying to use this parameter? Is there content elsewhere that mentions using this parameter? Or are you just pointing out that the description is empty?

[2021-09-17 17:26] gkneale commented on #8355
Hello Chris,

Both.

The documentation is incomplete, and I would like to know more about these
parameters to see if they apply or would be beneficial to the batches I am
creating. They are not referenced anywhere else on the Internet (that I
know of).

On Fri, Sep 17, 2021 at 10:09 AM Chris Davis ***@***.***>
wrote:

[2021-09-17 17:43] chrisda commented on #8346
@PFarrell216, that feature is currently in Private Preview. The cmdlet help content has not yet been checked into Exchange Code.

[2021-09-17 18:04] chrisda commented on #7585
I updated the topic to say (changes in bold):

If/when code is ever fixed, I'll update the topic again.

Thanks for the feedback.

Closing

[2021-09-17 18:04] #7585 closed

[2021-09-18 06:05] aikensam opened #8358 "Duplicated BaseViewId in Events list after applied PnP Site Template"
[Enter feedback here]

BEFOFRE apply a PnP template:

get-pnpview -List E9E6AC62-B573-4972-AD89-8900F6CF9D89 |fl Title,Id,*base*

Title      : Calendar
Id         : b6193ae5-07c9-4274-abf0-7c88678b1ab8
BaseViewId : 2

Title      : All Events
Id         : 1f5c97d3-bdd5-458b-8a79-5907db57e5ca
BaseViewId : 1

Title      : Current Events
Id         : 68d0c3f9-34dc-4f87-9a4c-b13019febc8e
BaseViewId : 3

[2021-09-19 07:57] aikensam commented on #8358
The causes Events Webpart not showing category issue (https://github.com/MicrosoftDocs/office-docs-powershell/issues/8358). After applied PnP site template, all views' BaseViewIds equal to 1.

 <img width="921" alt="category missing" src="https://user-images.githubusercontent.com/13567454/133919705-122fe3b2-6aa9-414d-9335-7d9da9171bc1.png">

Because  all views' BaseViewIds equal to 1, first GetByI

[2021-09-19 15:00] badsector-82 commented on #8240
It's not a tenant issue, it's a global issue. After some tests it turned out that when the message is delivered to Inbox, Get-MessageTraceDetail simply says "Delivered". When it's delivered to Junk, it says "Delivered to Junk". So I answered my question, but it would be good if you add this to the documentation.

[2021-09-19 15:01] yogkumgit commented on #8111
@get-itips Thank you very much for the contribution and sharing this explanation. @frankpeng7 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-19 15:05] yogkumgit commented on #8264
@get-itips Thank you very much for the contribution and sharing this explanation. @sarollins Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2021-09-19 15:07] #8264 closed

[2021-09-19 15:08] yogkumgit commented on #8265
@get-itips Thank you very much for the contribution and sharing this explanation. @haneef95 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-19 15:08] #8265 closed

[2021-09-19 15:10] yogkumgit commented on #8274
@get-itips Thank you very much for the contribution and sharing this explanation. @wizneeraj Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-19 15:10] #8274 closed

[2021-09-19 15:12] yogkumgit commented on #8285
@get-itips Thank you very much for the contribution and digging deep into it.  @RichDaMan We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docume

[2021-09-19 15:13] #8285 closed

[2021-09-19 15:15] yogkumgit commented on #8286
@get-itips Thank you very much for the contribution and sharing this explanation. @lozyevans Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-19 15:15] #8286 closed

[2021-09-19 15:23] yogkumgit commented on #8312
@get-itips Thank you very much for the contribution and sharing this explanation. @nirmala24 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-19 15:24] #8312 closed

[2021-09-20 05:12] yogkumgit commented on #8313
Hello @guillaume-kizilian
how are you?
Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests here : https://github.com/PnP/PowerShell/, in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.
The documentation for PnP cmdlets is then synced from

[2021-09-20 05:12] #8313 closed

[2021-09-20 05:15] yogkumgit commented on #8358
Hello @aikensam
how are you?
Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests here: https://github.com/PnP/PowerShell/ in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.
The documentation for PnP cmdlets is then synced from that repo i

[2021-09-20 05:16] #8358 closed

[2021-09-20 05:18] yogkumgit commented on #8333
@vitorliduario We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some t

[2021-09-20 05:18] #8333 closed

[2021-09-20 12:12] GeorgeBSapphire opened #8359 "invalid characters in the URL"
Hello

I keep receiving
![image](https://user-images.githubusercontent.com/91066140/133999974-acd7fd39-74bd-4d96-b031-96b6a4b251ce.png)
probably as the site URL has &20 in it
Any ideas?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85cba281-56e9-dfba-0ed8-df9a22029eaa
* Version Independent ID: 47c94158-6136

[2021-09-20 13:41] joergrenn commented on #8111
@get-itips thanks this works
@yogkumgit  please add the information to the documentation. would help everyone

[2021-09-20 16:30] chrisda commented on #8343
@arbilus, lo and behold, a few of the mobile device mailbox policy settings actually do apply to Outlook for iOS and Android. For more information, see [Leveraging Exchange Online mobile device policies](https://docs.microsoft.com/exchange/clients-and-mobile-in-exchange-online/outlook-for-ios-and-android/secure-outlook-for-ios-and-android#leveraging-exchange-online-mobile-device-policies).

I'll u

[2021-09-20 22:11] chrisda commented on #8355
@gkneale, the best way to get an answer is to open a support case and ask a) what this parameter is for and b) is this parameter supposed to be available.

[2021-09-20 22:17] chrisda commented on #8240
@badsector-82, are you saying that the Event property in the output of Get-MessageTraceDetail shows the value "Delivered to Junk"? Can you provided some sanitized examples?

[2021-09-21 08:11] arbilus commented on #8343
Thank you for the update.

[2021-09-21 08:13] SRE93 commented on #7803
Hi there, the parameter -EnableOutlookEvents exists in Set-OrganizationConfig

[2021-09-21 13:29] Onenote4Exchange commented on #8307
Dear @DEberhardt,
it s very strange Azure AD Module is working fine with  -accountID even if we have MFA enforced. I was hoping Teams module can have the same feature. I will checked with Microsoft Support premier if we can find a solution.

[2021-09-21 16:40] chrisda commented on #7803
@stoff75, @SRE93, confirmed. I added the parameter to the topic and described it.

Thanks for the feedback.

[2021-09-22 12:05] DEberhardt opened #8370 "What is the separator for the dial mask?"
Hello,

I thought I had read this somewhere already, but now I do not find a record of it anywhere.
**How is the String for the Dial Mask to be separated?**

The Admin Center volunteers:

The Help file does not help ☹️  - No examples or description of any parameters.

May I ask to:
- Add an example with a Dial Mask that illustrates how they are to be separated? (Comma, Semicolon, etc.)
- Describe

[2021-09-22 12:11] yogkumgit commented on #8359
@GeorgeBSapphire Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests here: https://github.com/PnP/PowerShell/ in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.
The documentation for PnP cmdlets is then synced from that repo into this one

[2021-09-22 12:11] #8359 closed

[2021-09-22 13:00] get-itips commented on #8307
Hello @Onenote4Exchange
How are you? Hope you are doing good.
As said, the current method that supports MFA is to login interactively as I described in https://github.com/MicrosoftDocs/office-docs-powershell/issues/8307#issuecomment-919412273
If upcoming versions of the module start supporting other methods we will update the documentation.
Thank you

@yogkumgit please close

[2021-09-22 18:18] get-itips commented on #8261
@DEberhardt David, with `2.5.1` and `2.5.2-preview` the outputted properties seem to be back.

[2021-09-24 01:33] chrisda commented on #8326
@hkusulja, I added the following description for the parameter:

Thanks for the feedback.

Closing

[2021-09-24 01:33] #8326 closed

[2021-09-24 11:45] #8307 closed

[2021-09-24 13:10] get-itips commented on #6097
Hello @DEberhardt David, I could get more information that this cmdlet also affects DR.

[2021-09-24 15:43] Jeroen-G-JYZ commented on #8203
Not solved in 2.5.2-preview.

[2021-09-24 19:09] MichaelLaMontagne opened #8380 "-AllowTeamsConsumer missing in documentation"
-AllowTeamsConsumer is not documented but available, controls Teams for personal life federation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06796aa5-dd45-a0e9-b6f1-c2786abd8036
* Version Independent ID: 1ef8e42a-4405-5e99-b2ac-547d60b53a70
* Content: [Set-CsTenantFederationConfiguration (SkypeForBusiness)](https:/

[2021-09-24 20:49] get-itips commented on #8203
@Jeroen-G-JYZ As said in the comment, the team is aware and working on it.
As here we are limited to documentation changes and improvements, we will need to close this issue for now.
Thank you

[2021-09-25 13:49] tdmarchetta commented on #6202
I'm looking for a way to remove all users from a mailboxes permission.
I would like to remove all of the mailbox delegations. Read and manage, Send As and Send on behalf
---
Remove-MailboxPermission -Identity "joeuser@Contoso.com" -ResetDefault -Confirm:$false
---
This command only seems to remove read and manage.
Any help would be greatly appreciated.

[2021-09-26 22:36] aspnet4you opened #8383 "Get-SPOSite does not return AuthenticationContext property in batch"
Problem statement:
I have thousands of SharePoint sites where I need to apply AuthenticationContext and if there are new sites added to the tenant I need to apply authentication context on them too. At the moment, I must run get-sposite with detail flag to determine if correct context is applied and if not, I need to apply new authentication context. Problem is, get-sposite -Limit All gives me a c

[2021-09-27 07:19] dariomws commented on #6202
@tdmarchetta it should also remove FullAccess.

If it's not working as it's documented, I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-bus

[2021-09-27 08:09] yogkumgit commented on #8203
@get-itips Thank you very much for the contribution and sharing this explanation. @stredoux Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-27 08:09] #8203 closed

[2021-09-27 08:17] yogkumgit commented on #8172
@tiburd Please help us here. Thanks

[2021-09-27 08:21] yogkumgit commented on #8136
@vFrohn If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-27 08:22] #8136 closed

[2021-09-27 08:28] yogkumgit commented on #8005
@get-itips Thank you very much for the contribution and updating the documentation with PR. @dappleby300 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-27 08:28] #8005 closed

[2021-09-27 08:37] yogkumgit commented on #8111
@get-itips

[2021-09-27 08:39] yogkumgit commented on #8126
@tiburd Please help us here. Thanks

[2021-09-27 08:42] yogkumgit commented on #8321
@EngineerHGH Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-27 08:42] #8321 closed

[2021-09-27 08:43] yogkumgit commented on #8328
@partlythomas Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-27 08:44] #8328 closed

[2021-09-27 08:45] yogkumgit commented on #8335
@eschrader Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-27 08:45] #8335 closed

[2021-09-27 08:46] yogkumgit commented on #8343
@arbilus Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-27 08:46] #8343 closed

[2021-09-27 08:48] yogkumgit commented on #8346
@PFarrell216 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-27 08:48] #8346 closed

[2021-09-27 08:49] yogkumgit commented on #8355
@gkneale Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will c

[2021-09-27 08:49] #8355 closed

[2021-09-27 09:36] hyoshioka0128 commented on #8126
@yogkumgit @TinaMcN  - Fixed.
Closed #2669 .

[2021-09-27 09:36] #8126 closed

[2021-09-27 16:14] get-itips commented on #8111
@yogkumgit You can close this. Thanks

[2021-09-27 16:16] get-itips commented on #6097
@yogkumgit I think you can close this thread now.

[2021-09-27 17:30] chrisda commented on #8216
@mckadmin, have you opened a support case about this? Anything to report? If they tell you something actionable that we can add to the documentation, we'll gladly do it.

[2021-09-27 17:37] mckadmin commented on #8216
It doesn’t sound like the github group works for MS.
So there is probably not much you can do.

-----
Thomas Beardshear
Ph.949-261-9222 x218
Fax.
949-271-2491
From: Chris Davis ***@***.***
Sent: Monday, September 27, 2021 10:31 AM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Thomas Beardshear ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] VERY P

[2021-09-27 20:34] get-itips commented on #8261
@DEberhardt I could confirm that the team is working on getting missing properties back in the following releases.

@yogkumgit please close.

[2021-09-27 20:47] get-itips commented on #6084
Hello @DEberhardt David, we could manage to inform about this.
@yogkumgit please close as this is not a documentation issue we can take care of.

[2021-09-27 21:13] mattwilliams67 opened #8385 "incorrect instructions"
-PackageName
The name of a specific policy package to apply. All possible policy package names can be found by running Get-CsPolicyPackage. To remove the currently assigned package, use $null or an empty string "". This will not remove any policy assignments, just the package assigned value.

supplying a value of $null or '' does not work. an error is returned:

Grant-CsUserPolicyPackage : Cannot

[2021-09-27 22:48] pauloviralhadas opened #8386 "Export-DlpPolicyCollection missing DLP policy settings info"
When used without any switches it outputs the following xml file below and when used with the -identity switch it only includes first and last lines in the xml file.
 <?xml version="1.0" encoding="utf-8" standalone="yes"?>
<dlpPolicies>
  <dlpPolicy version="15.00.0002.000" state="Enabled" mode="Enforce" id="3f0b6e76-0662-47b5-8266-51219f52b6fd">
    <name>PCI-CreditCard</name>
    <contentVersion

[2021-09-28 10:23] DEberhardt commented on #8370
Just could run the cmdlet the first time, here is the result:
[code]

[2021-09-28 14:35] #8111 closed

[2021-09-28 14:36] #6097 closed

[2021-09-28 14:40] brajjan opened #8387 "Could not load file or assembly 'Newtonsoft.Json, Version=12.0.0.0"
Trying to import module MicrosoftTeams version 2.5.1 as another user (runas: another domain account that is local admin on the machine) results in the following error message

Could not load file or assembly 'Newtonsoft.Json, Version=12.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The system cannot find the file specified."

No error when importing version 2

[2021-09-28 14:42] #8261 closed

[2021-09-28 14:43] #6084 closed

[2021-09-28 18:31] mmascolino opened #8391 "Strange Syntax section"
Should the syntax section here really be [ ]?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31ec43d9-dd2a-2939-5781-1b667978c280
* Version Independent ID: a0f55083-bbab-71c8-cf8b-26126c0265e0
* Content: [Get-RecipientStatisticsReport (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/get

[2021-09-28 18:45] chrisda commented on #8391
@mmascolino, that cmdlet has no parameters. If you look at the topic on GitHub, it doesn't look like that:

<https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/exchange/exchange-ps/exchange/Get-RecipientStatisticsReport.md>

There are only 13 cmdlets out of ~1300 that have no parameters. I randomly checked a couple of them, and they all have that weird `[ ]` syntax.

[Get-ADServer

[2021-09-28 23:27] ALIEHLO opened #8395 "Case sensitive"
We get error if c in "calendar" is Lower case:

[code]

It woks only if C is Upper case:
set-EventsFromEmailConfiguration -Identity USER@domain.com  -FlightReservationProcessingLevel Calendar

[2021-09-29 16:39] chrisda commented on #8395
@ALIEHLO, OK. I added a note about case sensitivity.

Thanks for the feedback.

Closing

[2021-09-29 16:39] #8395 closed

[2021-09-30 11:56] dzmitryrozberh opened #8399 "Get-TeamsAppInstallation Forbidden issue"
Get-TeamsAppInstallation : Error occurred while executing
Code: Forbidden
Message: Missing scope permissions on the request. API requires one of 'TeamsAppInstallation.ReadForUser,
TeamsAppInstallation.ReadWriteSelfForUser, TeamsAppInstallation.ReadWriteForUser'. Scopes on the request
'AppCatalog.ReadWrite.All, ChannelMember.ReadWrite.All, email, Group.ReadWrite.All, openid, profile, Reports.Read.A

[2021-09-30 16:49] jawad-aziz-farhad commented on #1709
Not working on **macOS Big Sur** with **Mircorsoft.Online.SharePoint.PowerShell** Version **16.0.2171...**

[2021-09-30 21:59] Tyler-H opened #8401 "Add-DistributionGroupMember cmdlet missing the Member parameter?"
When trying to add an account to a distribution group via PowerShell (either v5 or v7) in the Exchange Online Management module, I'm using this command:

    Add-DistributionGroupMember -Identity "<distribution group name>" -Member "<account email address>"

As shown by [the documentation](https://docs.microsoft.com/en-us/powershell/module/exchange/add-distributiongroupmember?view=exchange-ps).

H

[2021-10-01 00:11] get-itips commented on #8322
Hello @markyroden
Thanks for your feedback, I created a PR to correct the article.
Thanks

[2021-10-01 00:51] get-itips commented on #8323
Glad to hear you could resolve it. @dietrichmeyer
Thanks to your post, I noticed that not all parameter descriptions were showing for New-CsBatchPolicyAssignmentOperation cmdlet.

[2021-10-01 01:00] get-itips commented on #8331
Thanks for your feedback! @npherson

[2021-10-01 01:03] get-itips commented on #8336
Hello @cegough
How are you? hope you are doing good.
I am sorry, I did not fully understand you, to analyze if we need to correct any documentation, can you please detail what you tried to run? thanks

[2021-10-01 14:10] get-itips commented on #8348
Hello @repton-infinity how are you?
Thanks for your feedback, I tested this, and as you can suspect, the export is done uncompressed, will add that to the article.
thank you

[2021-10-01 14:43] get-itips commented on #8349
Hello @DEberhardt David, how are you?
This seems to be only a property to add extra information to the Network Region, if you create the region using the TAC, and also if you create it with this cmdlet without specifying that parameter, it will use the same text as the identity. If you use it, you can put whatever you want...

[2021-10-01 14:59] get-itips commented on #8350
Hello @DEberhardt David,
the article mentions that

[2021-10-01 15:53] get-itips commented on #8351
Hello @DEberhardt

I see LocationPolicy there in `2.6.0` version of the module.
There is an example using SiteAddress in the article, however, tried to use it but seems does not get saved, will try to dig into that.

[2021-10-01 17:54] sarollins opened #8406 "Request time out - Creating a user instance"
I'm having trouble trying to create an instance of this object using a user

I've verified that the user I want to use is EnterpriseVoiceEnabled (and have used this same user in the O365 Teams portal)

Get-CsOnlineUser 'awhite@unimaxlab.com' | Select enterp*,ObjectId

EnterpriseVoiceEnabled ObjectId
---------------------- --------
                  True dc07a49e-2c4d-4bcb-a7ad-ce5b493834bc

But ge

[2021-10-02 14:16] GRJ78 opened #8409 "Command not supported in versions later than 2010"
What's the purpose of mentioning that this command also applies to Exchange versions later than 2010 and then state that it has been replaced by Managed Availability?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f42db18c-b5df-315c-05d6-b683e6426171
* Version Independent ID: ec9f562e-cfa1-1ae4-4c98-d6a45fd1739f
* Cont

[2021-10-02 17:40] DEberhardt commented on #8350
https://github.com/MicrosoftDocs/office-docs-powershell/pull/8410

[2021-10-02 17:47] DEberhardt commented on #8349
Hello, all well this side of the Atlantic :)

interesting - is it a description field, a free text field then?
If it is not used for linking/connecting it to anything else, is it needed? 😉

[2021-10-04 11:24] yogkumgit commented on #8349
@get-itips

[2021-10-04 11:31] yogkumgit commented on #8350
@get-itips

[2021-10-04 13:05] get-itips commented on #8349
To my understanding is a free text, maybe it gets more importance when you have a lot of sites in a region.

[2021-10-04 14:26] get-itips commented on #8383
Hello @aspnet4you
I ran Get-SPOSite -Limit ALL and saved that into a variable, I then could query the ConditionalAccessPolicy on each one.

Please let me know if I understood you correctly.

[2021-10-04 15:22] get-itips commented on #8380
Thanks @MichaelLaMontagne

[2021-10-04 15:31] get-itips commented on #8370
Thanks @DEberhardt David, will add detail to the article.

[2021-10-04 15:57] #8323 closed

[2021-10-04 16:10] #8331 closed

[2021-10-04 16:30] chrisda commented on #8409
@GRJ78, it's a problem of availability vs. functionality. Test-ActivitySyncConnectivity is available in all of those versions, but it's only functional/supported/preferred in Exchange 2010 or for compatibility in co-existence environments that contain Exchange 2010 (Exchange 2013 or Exchange 2016).

[2021-10-05 03:27] mattwilliams67 commented on #8385
also opened an incident with support:
‎Grant-CsUserPolicyPackage does not accept $null or empty string‎ (#‎27786499‎)

[2021-10-05 07:38] yogkumgit commented on #8409
@GRJ78 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-05 07:38] #8409 closed

[2021-10-05 15:27] cegough commented on #8336
Sorry for the delayed response

We were working with a customer, this was their first time using direct routing, we'd already setup the domains / calling plans / policies etc... and were waiting for the number to port, had a resource account created with a license

Connect-MicrosoftTeams
They entered their credentials, we ran a Get-CSOnlineUser to check and it worked

When we tied to apply the Pol

[2021-10-05 17:58] teward opened #8419 "Incomplete Installation Documentation for EXOv2 Module in Ubuntu Linux 20.04+ Powershell"
Hello.  Microsoft Powershell's documentation for the Exchange Online module is **incomplete** as it does not provide the requisite instructions to *also* install WSMan client/libraries in PowerShell, which are needed for the EXOv2 module.

There are additional steps beyond just installing PowerShell to make this work.  And these need documented, or you end up with "This doesn't work" problems due

[2021-10-05 18:45] #8350 closed

[2021-10-05 22:41] get-itips commented on #8352
Hello @DEberhardt
That parameter is intended for the dynamic location lookup of the Teams client. However, to my understanding, this is still rolling out. You can read more here https://admin.microsoft.com/#/MessageCenter/:/messages/MC280290
When it is finally rolled out, I'll propose expanding the description.
Thanks

[2021-10-06 00:35] v-9suhap commented on #6035
I am trying to filter out enterprisevoiceenabled user for certain locations ...filtering multiple value using AND OR filter is not giving correct results...any thoughts

[2021-10-06 14:08] arbilus opened #8420 "List as Admin the plugins installed on the Outlook of the users"
Hello,

I didn't find a solution, that's why I'm asking here.
Is there a solution (I guess in Powershell), to list the Outlook plugins installed on the Outlook of the users of my organisation ?

N.B : I'm not speaking about the "COM Add-ins", but the Outlook add-ins which can be installed on the Microsoft Store.

Thank you for your time.

Regards,
Alexandre

[2021-10-06 14:33] yogkumgit commented on #8351
@get-itips Thank you very much for the contribution and sharing this explanation. @DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-06 14:33] #8351 closed

[2021-10-06 14:35] yogkumgit commented on #8352
@get-itips Thank you very much for the contribution and sharing this explanation. @DEberhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-06 14:37] yogkumgit commented on #8383
@get-itips Thank you very much for the contribution and sharing this explanation. @aspnet4you Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-06 16:08] v-9suhap commented on #6035
I am using parentheses, it is giving me correct results when I am not combining the OR conditions for all the locations but when I combine then it gives both the results True / False

[2021-10-06 16:35] cegough commented on #8336
https://www.powershellgallery.com/packages/MicrosoftTeams/2.5.1
This is the version with the issue, the "current" version, as stated above

[2021-10-06 16:37] get-itips commented on #8336
"Current version" is added by PS Gallery when you use the specific link to browse the specific version:

![image](https://user-images.githubusercontent.com/36666927/136246500-46ecd874-0ef4-47cf-8d0f-3b71b060b957.png)

2.6.0 is the latest General Availability release

[2021-10-06 16:39] cegough commented on #8336
It was also the current version 22 days ago when I reported this, about version 2.5.1

[2021-10-06 16:50] get-itips commented on #8336
Yes, understood :) hope it works for you now.

[2021-10-06 17:56] chrisda commented on #8419
@teward, I updated the topic as you suggested.

Thanks for the feedback.

Closing

[2021-10-06 17:58] #8348 closed

[2021-10-06 19:03] chrisda commented on #8419
This evening, say after 5:00 PM Pacific. You can see the change in the Master branch on GitHub. When it gets merged into Live, the update will show up on docs.microsoft.com.

<https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/exchange/docs-conceptual/exchange-online-powershell-v2.md#linux>

[2021-10-06 23:22] #8370 closed

[2021-10-07 00:21] v-9suhap commented on #6035
this helped

thanks.

[2021-10-07 04:45] aspnet4you commented on #8383
@get-itips - Have you tested the values printed? I am afraid the value of ConditionalAccessPolicy field is different when you print out of the variable.

Seeing is believing! Take a look at the output of the following commands and as you can see ConditionalAccessPolicy printed out of the variable is not showing correct value.

$allsites = Get-SPOSite -IncludePersonalSite $true -Limit all
$allsites

[2021-10-07 12:23] get-itips commented on #8383
@aspnet4you Prodip, ok now I understand better what you were saying in the first message, the thing is that you are receiving a default value if you use the -Limit parameter, the article says this about it:

[2021-10-07 14:40] maxlittleton opened #8430 "SendFromAliasEnabled"
Is the "SendFromAliasEnabled" section still accurate about this feature is still in preview? I see in the roadmap it is in "rolling out" status and I can find no up-to-date information on if this feature is now safe to use as it has a pretty stern warning about degraded performance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-10-07 20:51] aspnet4you commented on #8383
@get-itips - Thanks for pointing out to the note. I tried without limit and filter but it didn't make any difference. Unless I specify -detailed, get-sposite always return default value on ConditionalAccessPolicy which is AllowFullAccess!

[2021-10-08 04:49] flowt-au opened #8434 "Add-TeamChannelUser throws error"
PS 7.1
"2.4.1-preview"

eg
Add-TeamChannelUser -GroupId aaa-bbb-ccc -DisplayName "TestPowershellPrivate" -User some.student@myschool.nsw.edu.au -Role Owner

Results in error
BadRequest Message: Invalid OData type specified: "Microsoft.Teams.Core.aadUserConversationMember"

Adding the same user as a Member works fine but attempting to change them into an Owner (after waiting a while) fails.

There

[2021-10-08 16:56] sanjeev40084 opened #8437 "Get-CsOnlineDialOutPolicy: The term 'Get-CsOnlineDialOutPolicy' is not recognized as the name of a cmdlet"
I have MicrosoftTeams 2.6.0 version installed. While running ' Get-CsOnlineDialOutPolicy' it throws following error:

_Get-CsOnlineDialOutPolicy: The term 'Get-CsOnlineDialOutPolicy' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again._

[2021-10-11 21:07] dariomws commented on #8385
Hi @mattwilliams67, thank you for your feedback.

I understand there is no way in PowerShell to remove a policy package. You can do it from the Admin Center.

Please keep us posted here on the resolution of the support ticket to feed whatever information you discover into the content.

[2021-10-11 21:17] dariomws commented on #8387
Hi @brajjan, thank you for your feedback.

Could you kindly test it with the latest version? (2.6.0)
https://www.powershellgallery.com/packages/MicrosoftTeams/2.6.0

If you still have the same issue, I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this li

[2021-10-11 21:31] dariomws commented on #8386
Hi @pauloviralhadas, thank you for your feedback.

My apologies but I cannot see your screenshots, maybe you should try to attach them here.

Anyway, I tried to reproduce what you are detailing but when I export only one policy I see the same information as I can see when I export all of them.

I should also recommend that you use the Microsoft 365 Compliance Center to manage DLP.

If you still ha

[2021-10-12 08:26] dariomws commented on #8420
Hi @arbilus, thank you for your feedback.

I have tested it and works for me:
![image](https://user-images.githubusercontent.com/33589238/136920138-7c6c6bbe-7031-446b-8c1c-890629065eea.png)

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to con

[2021-10-12 08:27] dariomws commented on #8406
Hi @sarollins, thank you for your feedback.

I have tested it and works for me:
![image](https://user-images.githubusercontent.com/33589238/136920138-7c6c6bbe-7031-446b-8c1c-890629065eea.png)

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to c

[2021-10-12 08:55] dariomws commented on #8434
Hi @flowt-au, thank you for your feedback.

As the article says this cmdlet is part of the public preview. As the state of that version, the cmdlet may be subject to changes and probably needs adjustments. I recommend checking [here](https://docs.microsoft.com/microsoftteams/teams-powershell-release-notes) to see when this cmdlet goes GA. Also if you want your request to reach the product team ple

[2021-10-12 09:20] dariomws commented on #8437
Hi @sanjeev40084, thank you for your feedback.

I have tested this cmdlet on version 2.6.0 and it's still there. Do you have Global Admin or Teams Administrator roles assigned to your account?

Thank you!

[2021-10-12 20:00] sanjeev40084 commented on #8437
@dariomws sorry for the confusion. what i mean by earlier reply is. the command *Get-CsOnlineDialOutPolicy* doesn't work but command *Grant-CsDialoutPolicy* with my same credential. Not sure why one works and the other don't. I will try to submit MSFT ticket to get help with this issue.

[2021-10-13 00:52] flowt-au commented on #8434
@yogkumgit Thanks for that. Yes, conforming that v `2.5.2-preview` works. Here's hoping the `Add-TeamChannelUser` soon makes it into the GA version. :-)

[2021-10-13 00:52] #8434 closed

[2021-10-13 02:02] kjacobsen opened #8445 "Exchange Online PowerShell V2 M1 support"
Hi,

Following the steps outlined, I cannot connect to Exchange Online from a M1 MacBook Pro. I get the following error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Content: [About the Exchange Online PowerS

[2021-10-13 03:20] yogkumgit commented on #8437
@dariomws  Thank you very much for the contribution and sharing this explanation. @sanjeev40084 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.

We will be very happy if you can share

[2021-10-13 03:22] Tyler-H commented on #8401
Hmm, thanks Dario; I will first try to remove the module and re-install to make sure there's no user error there, and then can file a ticket within the admin center portal if the issue persists. Which version of PS and version of the module did you receive that error on (so I can make sure to match it)?

[2021-10-13 03:34] yogkumgit commented on #8386
@dariomws  Thank you very much for the contribution and sharing this explanation. @pauloviralhadas
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can shar

[2021-10-13 03:37] #8387 closed

[2021-10-13 03:42] yogkumgit commented on #8399
@dzmitryrozberh Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-10-13 03:45] yogkumgit commented on #8401
@dariomws

[2021-10-13 03:46] yogkumgit commented on #8406
@dariomws  Thank you very much for the contribution and sharing this explanation. @sarollins Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.

We will be very happy if you can share the

[2021-10-13 03:46] #8406 closed

[2021-10-13 03:54] #8420 closed

[2021-10-13 03:56] aspnet4you commented on #8383
@get-itips - I used the same version of the module as yours. I ran the command like you did w/o the detailed flag but with specific url (identity). It returns the correct value of ConditionalAccessPolicy. However, when I ran the command for all sites, it does return default value.

My conclusion is, get-sposite is not designed to return correct value of ConditionalAccessPolicy for mass operation.

[2021-10-13 06:42] Wh00T opened #8446 "Default value for ExchangeArchiveFormat"
Example 4 states:
"If the search included any Exchange locations, the search results are exported as one PST file per mailbox (the default value of the ExchangeArchiveFormat parameter)."
The default value is individual messages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fad8adee-7f9d-757b-2069-95ecab232747
* Versi

[2021-10-13 07:13] arbilus commented on #8420
Hello, thank you for your answers 👍 . No problem I understand. I've done a deep search but I didn't see any solutions. I will do a ticket, thank you for the advise :)

[2021-10-13 10:20] mossywell opened #8447 "Description section needs to include the actual description"
The Description currently lists _constraints_ on running the cmdlet but fails to actually describe what the cmdlets does.

A simple addition such as "This cmdlet lists the membership of a distribution group".

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80900369-e574-26f2-e7d7-2bc74e3727b5
* Ve

[2021-10-13 12:00] get-itips commented on #8383
@aspnet4you Prodip, I see, I think that, in this situation, the better would be to open a support ticket, that way, your feedback can reach the product team behind the module.

[2021-10-13 16:22] chrisda commented on #8445
@kjacobsen, I recently added WSMan installation instructions for Linux per Issue #8419. Try the WSMan installation steps in the [Linux](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#linux) as described below. Let me know how it goes.

[2021-10-13 20:53] tvmatp1729 opened #8451 "Issue while using Search-UnifiedAuditLog - Not recognized as the name of a cmdlet"
We are using Search-UnifiedAuditLog to pull the Audit log from O365 tenant. Search-UnifiedAuditLog suddenly stopped working by throwing the below error.

Is Search-UnifiedAuditLog deprecated or currently this connect is not part of ExchangeOnlineMnagement or ExchangePowerShell ?

Error Details : Search-UnifiedAuditLog : The term 'Search-UnifiedAuditLog' is not recognized as the name of a cmdlet, f

[2021-10-13 20:55] tvmatp1729 opened #8452 "Issue while using Search-UnifiedAuditLog - Not recognized as the name of a cmdlet"
We are using Search-UnifiedAuditLog to pull the Audit log from O365 tenant. Search-UnifiedAuditLog suddenly stopped working by throwing the below error.

Is Search-UnifiedAuditLog deprecated or currently this connect is not part of ExchangeOnlineMnagement or ExchangePowerShell ?

Error Details : Search-UnifiedAuditLog : The term 'Search-UnifiedAuditLog' is not recognized as the name of a cmdlet, f

[2021-10-13 20:56] tvmatp1729 opened #8453 "Issue while using Search-UnifiedAuditLog - Not recognized as the name of a cmdlet"
We are using Search-UnifiedAuditLog to pull the Audit log from O365 tenant. Search-UnifiedAuditLog suddenly stopped working by throwing the below error.

Is Search-UnifiedAuditLog deprecated or currently this connect is not part of ExchangeOnlineMnagement or ExchangePowerShell ?

Error Details : Search-UnifiedAuditLog : The term 'Search-UnifiedAuditLog' is not recognized as the name of a cmdlet, f

[2021-10-13 20:56] tvmatp1729 opened #8454 "Issue while using Search-UnifiedAuditLog - Not recognized as the name of a cmdlet"
We are using Search-UnifiedAuditLog to pull the Audit log from O365 tenant. Search-UnifiedAuditLog suddenly stopped working by throwing the below error.

Is Search-UnifiedAuditLog deprecated or currently this connect is not part of ExchangeOnlineMnagement or ExchangePowerShell ?

Error Details : Search-UnifiedAuditLog : The term 'Search-UnifiedAuditLog' is not recognized as the name of a cmdlet, f

[2021-10-14 03:54] #8451 closed

[2021-10-14 03:54] #8454 closed

[2021-10-14 04:50] yogkumgit commented on #8445
@kjacobsen Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-14 05:03] yogkumgit commented on #8057
@chrisda Gentle reminder

[2021-10-14 05:08] yogkumgit commented on #8391
@mmascolino Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-14 05:08] #8391 closed

[2021-10-14 05:09] yogkumgit commented on #8430
@maxlittleton  If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-14 05:10] #8430 closed

[2021-10-14 07:42] iimuraryo opened #8457 "The defaut value is wrong for Exchange 2019 and Exchange 2016"
Commandlet : Set-ImapSettings's "-LogFileRollOverSettings" parameter is indicated the default value as "2 or Daily. This is the default value".
But Exchange 2019 and Echange 2016 s' default value is "1 or Hourly".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dee1bb24-5216-6f03-6389-c0a4b2c39bef
* Version Independent

[2021-10-14 07:55] iimuraryo opened #8458 "The defaut value is wrong for Exchange 2019 and Exchange 2016"
Commandlet : Set-MailboxServer's "CalendarRepairIntervalEndWindow" parameter is indicated the default value as "The default value is 30".
But Exchange 2019 and Exchange 2016 s' default value is "7".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48d74c11-5e49-7092-0393-a988bb083ea6
* Version Independent ID: 89f31032-44

[2021-10-14 08:10] iimuraryo opened #8459 "The defaut value is wrong for Exchange 2019 and Exchange 2016"
Commandlet : Set-TransportConfig's "TransportRuleAttachmentTextScanLimit" parameter is indicated the default value as "The default value is 150 kilobytes (KB)".
But Exchange 2019 and Exchange 2016 s' default value is "1 MB (1,048,576 bytes)".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53a31c6b-288f-5ce0-941e-63b4ed

[2021-10-14 08:15] iimuraryo opened #8460 "The defaut value is wrong for Exchange 2019 and Exchange 2016"
Commandlet : Set-PopSettings's "LogFileRollOverSettings" parameter is indicated the default value as "2 or Daily. This is the default value".
But Exchange 2019 and Exchange 2016 s' default value is "1 or Hourly".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cd845a8-315a-5c57-2be4-1fcde4fb845d
* Version Independent I

[2021-10-14 16:20] #8453 closed

[2021-10-14 16:22] #8002 closed

[2021-10-14 16:24] vincentkurmi opened #8462 "Location policy only available for Skype onPrem"
Hi,

In this page, you mention
Set-CsTenantNetworkSite -Identity "site2" -Description "site 2" -NetworkRegionID "RedmondRegion" -LocationPolicy "TestLocationPolicy" -EnableLocationBasedRouting $true

But we don't find any method in the Teams module to get the Location Policy.
The method "Get-CsLocationPolicy" is not available in the Skype for Business Online / Teams module.

This policy is still r

[2021-10-15 04:45] yogkumgit commented on #8122
@PM735 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will cer

[2021-10-15 04:45] #8122 closed

[2021-10-15 04:48] yogkumgit commented on #7463
@KorZijl Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will c

[2021-10-15 22:19] chrisda commented on #8457
@iimuraryo, the default value is Daily in Exchange 2010 and 2013, but Hourly in Exchange 2016 and 2019.

I updated accordingly.

Thanks for the feedback.

Closing

[2021-10-15 22:19] #8457 closed

[2021-10-15 22:28] chrisda commented on #8458
@iimuraryo, the default value is 30 in Exchange 2010 and 2013, but 7 in Exchange 2016 and 2019.

I updated accordingly.

Thanks for the feedback.

Closing

[2021-10-15 22:28] #8458 closed

[2021-10-15 22:43] chrisda commented on #8460
@iimuraryo, the default value is Daily in Exchange 2010 and Exchange 2013, but Hourly in Exchange 2016 and Exchange 2019.

I updated accordingly.

Thanks for the feedback.

Closing

[2021-10-18 13:02] yogkumgit commented on #8401
@dariomws Thank you very much for the contribution and sharing this explanation. @Tyler-H Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-18 13:07] yogkumgit commented on #8336
@get-itips Thank you very much for the contribution and sharing this explanation. @cegough Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-18 13:28] abt10 opened #8473 "MicrosoftTeams certificate auth has been removed from preview"
Hello,

the certificate authentication has been removed from MicrosoftTeams preview.
Is it still an option and will it ever be supported/used in stable version?

Thanks

[2021-10-18 20:28] BelowAll opened #8478 "ISE freezes/locks up when loading either the MSOnline/ or exchange online powershell when loading from ISE"
First time submitting a bug /issue on here for this not sure of the proper way

Issue:
ISE freezes/locks up when loading either the MSOnline/ or exchange online powershell when loading from ISE

How to reproduce:
Launch ISE,
run the following

`Import-Module $((Get-ChildItem -Path $($env:LOCALAPPDATA+"\Apps\2.0") `
-Filter Microsoft.Exchange.Management.ExoPowershellModule.dll -Recurse ).FullName`

[2021-10-20 03:01] adamfowlerit opened #8485 "Example 3 Mistake"
Hi,
Testing example 3 command:

$UserObjectId = (Get-CsOnlineUser -Identity user@contoso.com).Identity

This generated an error for me on the second command. What worked instead was:

$UserObjectId = (Get-CsOnlineUser -Identity user@contoso.com).ObjectID

The identity includes the ObjectID, but has other info around it that won't work with the new-CsTeamsUnassignedNumberTreatment command.

---
###

[2021-10-20 06:15] JensTrier commented on #8485
Thanks for the feedback! Fixing the example

[2021-10-20 06:20] Naveepandu opened #8486 "SPMT Tool Files not get migrated"
Hi We migrated one users from Netapps to OneDrive by using SPMT Tool. Migration got successfully completed and generated reports with no errors. But when we open user OneDrive and cross check the files no files are migrated had any one faced this issue before

[2021-10-20 14:01] #8486 closed

[2021-10-20 18:16] #8462 closed

[2021-10-21 12:35] Bargenish opened #8493 "Add the Safe Link policy object properties"
Adding the Policy object schema and properties could be a nice-to-have addition (as being [done](https://docs.microsoft.com/en-us/graph/api/resources/alert?view=graph-rest-1.0) for other objects)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3482ca00-a1bf-ae16-87a5-6c3c8639942d
* Version Independent ID: 368a63c0-8e5a-

[2021-10-25 07:45] JAmler opened #8507 "New-QuarantinePolicy Example 2 isn't working"
Hello,

if I try to run example 2 I get this error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9fe91ff-c0d0-2e05-132b-c8dc2dd5d7fc
* Version Independent ID: 9adb041d-c4ed-92df-8221-b6ad079a1606
* Content: [New-QuarantinePolicy (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchang

[2021-10-25 12:40] pinigo-tr opened #8508 "New-ExoPSSession - Create Powershell Session is failed using OAuth"
Hi,

Please pay attention that once connecting to ExchangeOnline using `Connect-ExchangeOnline  -UserPrincipalName`
You may get the following exception and then you'll need to update the registry settings below:

**Exception**:

[code]

**Solution**:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-

[2021-10-26 09:45] PSJACKAL opened #8516 "-OnPremTelephoneNumber is an invalid parameter"
Ive been trying to assign a Direct Routing number to a resource account. In the past I've used the following command on PowerShell to assign the number but it is just not working anymore.

Set-CsOnlineApplicationInstance -Identity  <Resource Account oid> -OnpremPhoneNumber ""

But now when I try to run the command I get the following error.

Set-CsOnlineVoiceApplicationInstance : A parameter canno

[2021-10-26 16:03] beercity opened #8518 "New-TenantAllowBlockListItems: A parameter cannot be found that matches parameter name 'Allow'"
A prior issue #8258 was opened for problems with the -Allow parameter. It was suggested to use -Allow instead of -Action Allow.
-Allow does not work either.

This is a pretty critical cmdlet to have working because of the Secure By Default changes that are rolling out to tenants now. With this command not working, this creates a much higher amount of manual work.

[2021-10-27 10:46] donlassini opened #8524 "Get-CsTenant - modern version lacks information"
From the release notes of v2.5.1 of the Teams Online PowerShell module:
"Modernized versions of Get-CsTenant and Get-CsOnlineUser (with -identity parameter only) have been released.
They no longer emit deprecated properties and have some formatting changes compared to their remoting counterparts."

Get-CsTenant used to return the DomainUrlMap attribute showing domains that had finished background

[2021-10-27 14:00] Petri-X opened #8526 "Perhaps incorrect function on Teams PS module [2.6.0]"
Hey,

Not sure, but for me this looks a bit odd function:

[code]

Could it be so, there should be the definition of what policy that applies?

[2021-10-27 16:23] RayGHeld opened #8527 "Get-UnifiedGroup powershell commandlet does not renew the access token for long running queries"
This commandlet does not renew the access token for a long running query causing people with many groups in their tenant to not be able to finish the request.  The commandlet should detect an expired token and renew while performing paging.

[2021-10-27 21:58] Teejer opened #8529 "Exchange Online PowerShell V2 module - Signing Cert - Powershell Signing Issue"
When calling connect-exchangeonline you'll get an error: "Import-PSSession : Files cannot be loaded because running scripts is disabled on this system. Provide a valid certificate with which to sign the files." when powershell signing is turned on.

The import-pssession commands in this module don't have the option to use the -Certificate option.

If you have powershell signing turned on this modu

[2021-10-28 09:33] wagenveld opened #8530 "*-CS cmdlets not recognized"
After upgrading to Windows 11 and installing the latest MicrosoftTeams module (also tried preview) none of the CS cmdlets are recognized.
Get-CsMeetingRoom
Get-CsMeetingRoom : The term 'Get-CsMeetingRoom' is not recognized as the name of a cmdlet, function, script file, or
operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try
again.
At

[2021-10-29 15:46] Petri-X opened #8533 "No documentation for AllowCartCaptionsScheduling"
Hi,

Microsoft has released the support for Cart Captions:
https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=70588

And PS version 2.6.0 support following parameter:
Set-CsTeamsMeetingPolicy -AllowCartCaptionsScheduling
But unfortunately there are no documentation available for this parameter.

rgs
Petri-x

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-10-31 14:28] leewisestamp opened #8537 "Set-MailboxMessageConfiguration has no effect"
We have been successfully updating OWA signatures using `Set-MailboxMessageConfiguration` for the past 6+ months. Suddenly, and with no change on our part, `Set-MailboxMessageConfiguration` has started to have no effect. Our business heavily depends on this cmdlet and we would really appreciate your feedback/guidance. Someone else posted the same issue on SO here: https://stackoverflow.com/q/69764

[2021-11-01 04:09] JohnIPFX opened #8538 "10 item limit on Purge needs to be increased"
As this is a replacement for the deprecated search-mailbox - the 10-item limit increases the time required to clean up a users mailbox from minutes to weeks due to time per purge (approx 1-2mins per 10  items) as well as connection issues while running a looping script.

Is there a feature request for this limit to be raised to be more in line with how search-mailbox used to work?

[2021-11-02 04:22] yogkumgit commented on #8473
@dariomws Thank you very much for the contribution and sharing this explanation. @abt10 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-02 04:22] #8473 closed

[2021-11-02 04:25] yogkumgit commented on #8478
@dariomws Thank you very much for the contribution and sharing this explanation. @BelowAll Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-02 04:25] #8478 closed

[2021-11-02 04:31] yogkumgit commented on #8493
@dariomws

[2021-11-02 08:12] dariomws commented on #8493
@Bargenish, I have been looking over the documented parameters on the Set- article and it seems that the only one missing is LocalizedNotificationTextList.
Usually, when a property is not available to be modified, it's reserved for internal use.

[2021-11-02 14:24] leewisestamp commented on #8537
Any guidance on the matter would be greatly appreciated

[2021-11-02 16:23] chrisda commented on #8493
Based on the link in the original issue, it appears Bargenish is asking for objects/methods that are available in MSGraph. Not sure that's doable.

[2021-11-03 08:14] dariomws commented on #8538
Hi @JohnIPFX, thank you for your feedback.

For feature requests, I suggest that you try with [Tech Community](https://techcommunity.microsoft.com/) as here we are limited to documentation issues and improvements.

[2021-11-03 09:13] dariomws commented on #8518
Hi @beercity, thank you for your feedback.

Allow parameter worked for me:
![image](https://user-images.githubusercontent.com/33589238/140034256-865dd54b-2b56-40e0-9733-1f4562a878ca.png)

But please have in mind that this cmdlet is still in preview, please check the note at the begging of the article.

Thank you again!

[2021-11-03 09:31] dariomws commented on #8524
Hi @donlassini, thank you for your feedback.

There is a note about this issue in the following article:
https://docs.microsoft.com/microsoftteams/direct-routing-connect-the-sbc

The note:
"In addition to the domain registered in your tenant, it's important that there's a user with that domain and an assigned E3 or E5 license. If not, you'll receive the following error:
Can not use the "sbc.contos

[2021-11-03 10:42] dariomws commented on #8527
@RayGHeld - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted h

[2021-11-03 11:26] dariomws commented on #8526
Hi @Petri-X, thank you for your feedback.

This cmdlet and others were reported a few months ago so the product team is aware of it:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/7186

[2021-11-03 13:27] donlassini commented on #8524
Thank you - I am aware of that requirement. This is not about the requirements, but monitoring for success.

The issue is - when we did everything we had to, we could see in the .domainurlmap attribute if backend provisioning for the domain had finished. So we used that to see if we still had to wait.

"....you should be able to add the sbc after a few minutes, but it could take 24 hours."
**That'

[2021-11-03 15:43] dariomws commented on #8529
Hi @Teejer, thank you for your feedback.

My apologies but I'm not sure if I understand. Do you think there is some article that needs an improvement in docs.microsoft.com? Here we are limited to documentation issues and improvements.

[2021-11-03 15:50] dariomws commented on #8530
Hi @wagenveld, thank you for your feedback.

I have Windows 11 on my machine and I can use version 2.6.0 with the CS cmdlets.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/o

[2021-11-03 18:10] chrisda commented on #8529
@Teejer, see the [Prerequisites section](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#prerequisites-for-the-exo-v2-module) in the About the EXO V2 Module topic (repeated below).

- PowerShell needs to be configured to run scripts, and by default, it isn't. You'll get the following error when you try to connect:

  To require all PowerShell scripts that you download

[2021-11-03 18:13] chrisda commented on #8537
@leewisestamp, the best way for you to get an answer is to open a support ticket. The fact that this feature worked fine and then suddenly stopped working indicates some kind of problem that's beyond documentation.

Report back here with your findings.

[2021-11-03 19:56] RickFoster opened #8545 "Be nice if you would specify what Module you need to include"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5afe8f19-b64e-354f-b363-e040db2a1e8c
* Version Independent ID: 0d5fde8a-2882-c935-1af4-e9c31c216fd4
* Content: [Get-GlobalAddressList (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/get-globaladdresslist?view=exchange

[2021-11-03 20:41] Teejer commented on #8529
The way the module is written now, yes you are correct.

I've made a patched version of ExchangeOnlineManagement.psm1 which passes a signing cert to the import-pssession commands so you can keep signing on. Look at the connect-exchangeonline function, I've added a -SigningCertificate paramenter.

[code]

[2021-11-03 21:29] chrisda commented on #8529
@Teejer, wild. Did you see the topic about how to setup Exchange Online PowerShell to use certificate-based authentication?

[App-only authentication for unattended scripts in the EXO V2 module](https://docs.microsoft.com/powershell/exchange/app-only-auth-powershell-v2)

That's our one and only word about using certificates to authenticate using the EXO V2 Module.

[2021-11-03 21:34] chrisda commented on #8545
@RickFoster, I presume you're trying to connect to Exchange Online PowerShell? Exchange PowerShell has many hundreds of cmdlets that are shared between on-premises Exchange Sever and Exchange Online. The Exchange Online only cmdlet topics have an alert in the introduction about the [EXO V2 module](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2). I didn't want to add t

[2021-11-03 22:03] RickFoster commented on #8545
Thanks for replying, I did find I needed to use EXO, but it took some more searching.

While I have your attention 😉  what causes the Get-GlobalAddressList to only return the “RecipientFilter” but no Recipients (see insert below)?

Any help is much appreciated, thanks

Rick Foster
Data Manager
520-225-6309
Tucson Unified School District

***@***.***

From: Chris Davis ***@***.***>
Sent: Wednesday,

[2021-11-03 22:08] chrisda commented on #8545
I never thought of it that way before. I guess it makes sense that the actual list of recipients isn't stored in the GAL object, because the RecipientFilter defines who's in the GAL, and that could change from moment to moment.

[2021-11-04 07:58] jeffbrushie opened #8549 "Feedback Set-CsOnlineVoiceRoute parameter -Priority"
Which number of priorty is the one that takes affect? The lower the number the higher the priority?  Would be great if you could add this hint to the -Priority Parameter as this is often a discussion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0060de4-7fb0-b86a-d85f-33544226595e
* Version Independent ID: 0d2ac31e-

[2021-11-04 09:10] leewisestamp commented on #8537
@chrisda Obviously, we did that in parallel to opening this documentation ticket. So far Support has no answers other than a shaky workaround that will effectively ruin our product.

And I disagree that this is beyond documentation because if the cmdlet behavior has changed (e.g. to support multiple signatures in OWA) without that being documented (e.g. by adding a new parameter to the cmdlet to s

[2021-11-04 12:34] ChristianJBergstrom opened #8550 "AdmitAnonymousUsersByDefault"
Surely this must be very old info and needs to be updated. Current information says that anonymous users and federated users are being treated equally using this parameter. An anonymous user isn't trusted, but a federated user is trusted so how could this parameter possibly rule both user types? I'm sure disabling this will prevent anonymous users from joining but still allow federated users, when

[2021-11-04 16:42] chrisda commented on #8537
@leewisestamp, the issue is determining whether this is a deliberate feature change or some transitory problem that's going to get fixed. The answer to those questions determines whether we update documentation or not.

So is your ticket still open? Are they looking into it and gave you the lame workaround as a stop-gap until they can find out what's going on? Or did they say "that's the way it is

[2021-11-04 16:48] leewisestamp commented on #8537
@chrisda I don't work for MSFT so your team is far better qualified to determine if this deliberate or a bug.

Our ticket is still open with effectively no progress for 2 days other than the lame workaround and "we're looking into it".

As regards undocumented OWA behavior, multiple test accounts of ours inexplicably received the following "multiple signatures" functionality which we can't find do

[2021-11-04 17:32] Teejer commented on #8529
@chrisda Yes. I'm using certificate based auth with this module.

The signing cert isn't for auth. Its for signing the powershell  files that connect-exchangeonline downloads to the local machine.

Two different certs for two different parts of the puzzle.

[2021-11-04 17:50] chrisda commented on #8529
@Teejer, is all of this an effort to avoid turning on Basic auth in WinRM, which is required by the EXO V2 Module because WinRM doesn't support OAuth as described [here](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#prerequisites-for-the-exo-v2-module) (second bullet)?

[2021-11-04 18:14] deividfoggi opened #8552 "ArchiveName doesn't work in Outlook"
Regarding the parametero _-ArchiveName_ the doc states the following:

The ArchiveName parameter specifies the name of the archive mailbox. This is the name displayed to users in **Outlook** and Outlook Web App.

But Outlook ignores it and uses the pattern "Online Archive - PrimarySMTPAddress". Outlook on the web respect the value you insert using the parameter -ArchiveName.

Is this doc incorrect

[2021-11-04 19:51] Teejer commented on #8529
@chrisda, this is to accomplish two things.

Certificate auth is because we have headless/unattended scripts that need to continue to work after microsoft removes basic auth. Per MS basic auth won't work after 10/1/22.

https://techcommunity.microsoft.com/t5/exchange-team-blog/basic-authentication-and-exchange-online-september-2021-update/ba-p/2772210

In our environment we have group policy that

[2021-11-04 20:32] chrisda commented on #8529
@Teejer, you'll be interested in the new [v2.0.6-Preivew3 version of the EXO V2 module](https://www.powershellgallery.com/packages/ExchangeOnlineManagement/2.0.6-Preview3). Apparently, ~250 of the available cmdlets are now REST backed. To use the old connection method that requires Basic auth on WinRM, you need to use the _RPSSession_Switch to connect.

[2021-11-04 22:26] chrisda commented on #8552
@deividfoggi, not completely related to your question, but here's what I determined through testing:

- The default archive names are slightly different based on Exchange version:
  - Exchange Online: `In-Place Archive -<Display Name>` (note the missing space after '-')
  - Exchange 2016 and 2019: `In-Place Archive -<Display Name>` (note the missing space after '-')
  - Exchange 2013: `In-Place Ar

[2021-11-05 02:41] chrisda commented on #8552
I think I figured it out. In addition to updating the default names as previously described, I added the following text in Enable-Mailbox and Set-Mailbox:

In Outlook in Exchange Online, the value of this parameter is ignored. The name of the archive mailbox that's shown in the folder list is `Online Archive - <PrimarySMTPAddress>`.

[2021-11-05 07:25] jantoney opened #8554 "Issue with Grant-CsTenantDialPlan"
** This seems to be the Microsoft Docs GitHub, but I can't seem to find the MicrosoftTeams PowerShell module github to log an actual issue. If this isn't the correct GitHub account, can you please point me to it.

---

When trying to add or remove a Tenant Dial Plan using `Grant-CsTenantDialPlan` to/from a resource account I'm hitting the following errors.

Other testing/notes
- Tested under Power

[2021-11-05 07:40] jantoney opened #8555 "Issue with Set-CsOnlineApplicationInstance"
** This seems to be the Microsoft Docs GitHub, but I can't seem to find the MicrosoftTeams PowerShell module github to log an actual issue. If this isn't the correct GitHub account, can you please point me to it.

---

When trying to add or remove a phone number using `Set-CsOnlineApplicationInstance` to/from a resource account in the format `tel:+61000000000` I'm hitting the following errors.

Ot

[2021-11-05 09:22] wojcib commented on #8537
In my organization we also depend heavily Set-MailboxMessageConfiguration cmdlet.  @leewisestamp probably found something here. In my organization there are users that have the functionality with multiple signature and these are the ones where cmdlet doesn't work anymore. Mailboxes of users that have 'old' functionality with only one single signature, are working properly (signatures and settings

[2021-11-05 10:06] skrubbeltrang opened #8556 "Wrong text"
The page states:
-Identity
The Identity parameter specifies the DLP policy you want to remove.

The Get-DlpPolicy CmdLet does not remove DLP policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7affb903-e8d2-d47b-2028-342cf76136cc
* Version Independent ID: b2b85792-5021-0b20-ae26-bf129d69acca
* Content: [Get-DlpPol

[2021-11-05 12:43] deividfoggi commented on #8552
Hi Chris,

You got it. Thanks to adjust the doc.

Regards.

[2021-11-05 16:37] Teejer commented on #8529
I'm not sure I'm being understood.

@chrisda  do you know of a way to get a hold of the exchangeonlinemanagement module developers so I can propose this change to them?

The modern auth stuff is working great so far, I'm not concerned about that. The powershell signing issue is what I'm hoping to get taken care of in future versions, so I don't have to continue patching the module to work with an

[2021-11-05 16:57] chrisda commented on #8537
@wojcib, understood. Attempting to find answers. If you haven't already, I would also suggest opening a support ticket.

[2021-11-05 17:02] chrisda commented on #8529
@Teejer, send your questions to exocmdletpreview[at]service[dot]microsoft[dot]com.

[2021-11-05 17:52] chrisda commented on #8556
@skrubbeltrang, fixed. In the future, you too can make fixes like this yourself; no need to open an Issue first. For instructions, go [here](https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md).

Thanks for the feedback.

Closing

[2021-11-05 17:52] #8556 closed

[2021-11-07 03:46] hudish opened #8566 "Clarify Example 1 + Enabled parameter"
When discussing the -Enabled parameter, and in Example 1 should note that disabling the junk mail folder configuration **will have no effect for Exchange Online mailboxes** (the Enabled $false parameter is ignored by Exchange Online Protection as documented [here](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/configure-junk-email-settings-on-exo-mailboxes?view=o365-wo

[2021-11-07 10:52] Bargenish commented on #8493
@chrisda that's not what I was asking,
When calling the `Get-SafeLinksPolicy` there are several more fields that are not a part of the `Set-SafeLinksPolicy` and there is no description regarding those fields.
I only added a ref to one of the MSGraph objects as an example for an object with descriptive information regarding all fields that are being returned as part of the response.

[2021-11-08 07:48] PSJACKAL commented on #8516
I used the Set-CSOnlineApplicationInstance and I was able to assign the numbers to the resource accounts. Will be making note of the cmdlet for future use as all the articles i found regarding direct routing referred to the use of the Set-CsOnlineVoiceApplicationInstance cmdlet

Thank you

[2021-11-08 07:48] #8516 closed

[2021-11-08 08:02] dariomws commented on #8493
@Bargenish, thank you. The only missed parameter I found is LocalizedNotificationTextList. There are others with creation and modifications date that I think don't need explanation.
Did you find another parameter/attribute?

[2021-11-08 09:59] ParaGlideRocks opened #8567 "Print AllowTeamsConsumer in the output"
The status of the property AllowTeamsConsumer is not listed when you run the cmdlet.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b929fe13-9ac8-ce73-f331-5c4ce1d08640
* Version Independent ID: 4042cf42-2b7b-f3f1-34a6-fc615c78229b
* Content: [Get-CsTenantFederationConfiguration (SkypeForBusiness)

[2021-11-08 11:49] David-Forlen-Themis commented on #8537
It's not limited to this project : we're also impacted when using the Dictionary of `UserConfiguration` in C# .NET (following instructions from https://social.msdn.microsoft.com/Forums/en-US/0b654e7f-2206-44bb-a595-7eed4c299c5b/how-to-create-an-owa-email-signature-by-using-ews?forum=exchangesvrdevelopment).

We're in the same position as you : the code does update the configuration for the user on

[2021-11-08 12:05] yogkumgit commented on #8552
@deividfoggi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-08 12:06] #8552 closed

[2021-11-08 12:10] yogkumgit commented on #8529
@Teejer Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-08 12:10] #8529 closed

[2021-11-08 12:22] yogkumgit commented on #8518
@dariomws Thank you very much for the contribution and sharing this explanation. @beercity Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-08 12:22] #8518 closed

[2021-11-08 12:25] yogkumgit commented on #8524
@dariomws  Thank you very much for the contribution and sharing this explanation. @donlassini Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2021-11-08 12:25] #8524 closed

[2021-11-08 12:29] yogkumgit commented on #8526
@dariomws Thank you very much for the contribution and sharing this explanation. @Petri-X Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-08 12:29] #8526 closed

[2021-11-08 12:32] yogkumgit commented on #8527
@dariomws  Thank you very much for the contribution and sharing this explanation. @RayGHeld
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2021-11-08 12:36] yogkumgit commented on #8530
@dariomws  Thank you very much for the contribution and sharing this explanation. @wagenveld
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2021-11-08 12:36] #8530 closed

[2021-11-08 12:41] yogkumgit commented on #8533
#8544

[2021-11-08 12:42] yogkumgit commented on #8533
@dariomws Thank you very much for the contribution. @Petri-X Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-08 12:43] #8533 closed

[2021-11-08 12:47] yogkumgit commented on #8538
@JohnIPFX Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-11-08 12:47] #8538 closed

[2021-11-08 12:49] yogkumgit commented on #8507
@chrisda Kindly update.

[2021-11-08 12:50] yogkumgit commented on #8508
@pinigo-tr Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-08 12:50] #8508 closed

[2021-11-08 12:53] yogkumgit commented on #8545
@RickFoster Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-08 12:54] #8545 closed

[2021-11-08 17:21] RayGHeld commented on #8527
I opened this on behalf of a customer who put in a support ticket to our team.

[2021-11-08 18:21] chrisda commented on #8566
@hudish, I clarified Example 1 and elsewhere re: enabling/disabling the junk email rule and the effect on mailboxes in on-premises Exchange vs. the cloud.

Thanks for the feedback.

Closing

[2021-11-08 18:21] #8566 closed

[2021-11-08 18:36] chrisda commented on #8493
@Bargenish, got it. Thanks for the clarification. Unfortunately, the answer is going to be about the same: we don't document every last output property on Get- cmdlets. Of course, any configurable parameters on New- and Set- will be visible in the output of Get- (sometimes, with different names), but there are often other visible properties, which could correspond to datacenter-only features, depr

[2021-11-08 21:13] dariomws commented on #8527
Thank you @RayGHeld.

The best way to report these issues is with a support ticket, and if your customer has done it that's all. Here we are limited to documentation issues and improvements.

[2021-11-09 07:12] #8527 closed

[2021-11-09 07:17] #8493 closed

[2021-11-09 16:02] leewisestamp commented on #8537
Any insights? Thanks in advance. To be clear, this is very urgent for us.

[2021-11-10 01:35] gh0stwalker opened #8578 "PSSessionOption not working"
I created a new PSSession Option:
_$pso = New-PSSessionOption -IdleTimeout -1_

But when I use the command it fails:
Connect-ExchangeOnline -PSSessionOption $pso

    Connect-ExchangeOnline : Cannot retrieve the dynamic parameters for the cmdlet. Method invocation failed because [Microsoft.Exchange.Management.AdminApiProvider.Utility] does not contain a method
    named 'IsCloudShellEnvironment'.

[2021-11-10 01:38] chrisda commented on #8578
@gh0stwalker, send your logs to the following email address using the following procedure:

When you report an issue at `exocmdletpreview[at]service[dot]microsoft[dot]com`, be sure to include the log files in your email message. To generate the log files, replace \<Path to store log file\> with the output folder you want, and run the following command:

[code]

[2021-11-10 11:31] jformacek opened #8580 "Get-CsOnlineUser consumes all RAM in large tenant"
Hello,
I have tenant with 230K+ Teams users. Need to load subset of information about all of them to external system. Running the following:

[code]
Using MicrosoftTeams module 2.6.0.
On machine with 16GB RAM, running this command consumes all RAM and powershell session crashes. On machine with 48GB RAM, it causes WinRM to crash.
Problem is likely caused by the fact that command does not send retr

[2021-11-10 18:50] sinfloodmusic commented on #3838
I found I was able to get this working with the following command.  For some reason it needs to be fed the 'ExchangeLocation' but s ok with getting a null variable.
[code]

[2021-11-10 19:52] koraniar commented on #8537
Any update of this? my project in C# was also affected in the same way as @David-Forlen-Themis

[2021-11-10 19:58] chrisda commented on #8537
No updates. I strongly encourage any of you who haven't already to open a support ticket about this.

[2021-11-10 23:56] gh0stwalker commented on #8578
@chrisda Not sure what I did, but it's working now. I did do an update of the module so it's possibly that.

[2021-11-11 11:02] Markus-Hanisch opened #8581 "AllowTeamsConsumerInbound parameter missing"
**[MC296208](https://portal.office.com/adminportal/home?#/MessageCenter/:/messages/MC296208) Chat with users with Teams personal accounts** states as follows:

The parameter AllowTeamsConsumerInbound is missing.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06796aa5-dd45-a0e9-b6f1-c2786abd8036
* Version Independent ID:

[2021-11-11 11:16] Markus-Hanisch opened #8582 "Get-CsTenantFederationConfiguration missing parameters"
I couldn't retrieve an equivalent in the Teams PowerShell module documentation and because the Skype PowerShell module documentation of [Set-CsTenantFederationConfiguration](https://docs.microsoft.com/en-us/powershell/module/skype/set-cstenantfederationconfiguration?view=skype-ps) already states the parameter [-AllowTeamsConsumer <Boolean>] I presume that this documentation applies to Teams PowerS

[2021-11-11 15:07] andreaci commented on #8537
I noticed the same problem today; opened a new ticket

[2021-11-11 17:05] BJGGut3 commented on #8567
Both AllowTeamsConsumer and AlowTeamsConsumerInbound show for me in version 2.6.0

[2021-11-11 17:08] BJGGut3 commented on #8581
I was able to use both the AllowTeamsConsumer and AllowTeamsConsumerInbound parameters with version 2.6.0

[2021-11-11 17:13] BJGGut3 opened #8583 "Set-CsExternalAccessPolicy -EnableTeamsConsumerInbound not permitted"
When executing Set-CsExternalAccessPolicy -Identity <policyName> -EnableTeamsConsumerInbound [$true|$false] returning the error:

Set-CsExternalAccessPolicy : You are not permitted to invoke Set-CsExternalAccessPolicy with the following parameters:
 EnableTeamsConsumerInbound

Have tried with both 2.6.0 and 2.6.1-preview.

This is preventing us from pre-staging our settings prior to the December r

[2021-11-11 17:14] Markus-Hanisch commented on #8581
@BJGGut3
You got me wrong.
These parameters can be used. However, they are not mentioned in the Cmdlet documentation.

[2021-11-11 17:39] BJGGut3 commented on #8581
I see - apologies

[2021-11-12 07:14] leewisestamp commented on #8537
Any progress with your ticket? Our Premium support ticket has been opened for nearly two weeks with the only reply being "we're still looking into it".

[2021-11-12 08:41] andreaci commented on #8537
it's the first ticket in history where I've not been called back in a few minutes.
Stilll no answers

[2021-11-12 08:45] dcastelli77 commented on #8537
Same issue here. First support ticket opened 1 month ago. Support had not workaround neither resolution. Some users have multiple signature feature enabled and for these users cmdlet set-mailboxmessageconfiguration does not work. Other ticket opened last week. No reply from Microsoft.

[2021-11-12 09:05] dcastelli77 commented on #8537
No words!

[2021-11-12 09:13] dcastelli77 commented on #8537
thank you for suggestion but the opened tickets have no reply from Microsoft.

[2021-11-12 16:57] LesAtGamma opened #8592 "Set-MailboxAutoReplyConfiguration - cannot set starttime and endtime"
I'm using the ExchangeOnlineManagement v2.0.6-preview3 module, and we have the Basic Auth disabled in WinRM.

I can set the out of office reply to enabled, disabled, and scheduled fine. BUt when I try to set the start or end time, it errors:

Verify-Waiting : {"error":{"code":"UnsupportedMediaType","message":"A supported MIME type could not be found that matches the acceptable MIME types for the r

[2021-11-12 17:57] chrisda commented on #8537
Please don't let the lack of response scare you from opening a support ticket. Volume is important here. The more people that open tickets about the issue, the higher the escalation likely will be.

[2021-11-12 18:07] dcastelli77 commented on #8537
I have opened the ticket but Microsoft does not reply. (for the same issue I have opened 3 tickets).
thank you!

[2021-11-12 18:38] ricardopolo commented on #8537
Microsoft is closing the tickets saying they don't support scripts

[2021-11-12 19:01] chrisda commented on #8537
I would rephrase the issue:

That's the fundamental issue.

[2021-11-12 19:38] chrisda commented on #8592
@LesAtGamma, since the v2.0.6 module is in Preview, use the following procedure to ask your question:

 ## Report bugs and issues for the EXO V2 module

When you report an issue at `exocmdletpreview[at]service[dot]microsoft[dot]com`, be sure to include the log files in your email message. To generate the log files, replace \<Path to store log file\> with the output folder you want, and run the fol

[2021-11-12 20:40] RascoPK opened #8594 "How long do we need to wait"
I am constantly getting error: Access Denied

How should we wait for permissions to replicate?

My full error:
New-ExoPSSession : Connecting to remote server outlook.office365.com failed with the following error message : Access
is denied. For more information, see the about_Remote_Troubleshooting Help topic.
At C:\Program
Files\WindowsPowerShell\Modules\ExchangeOnlineManagement\2.0.5\netFramework

[2021-11-12 22:06] chrisda commented on #8594
@RascoPK, make sure that you're using the latest version of the module (v2.0.5) and send information using the instructions below:

## Report bugs and issues for the EXO V2 module

When you report an issue at `exocmdletpreview[at]service[dot]microsoft[dot]com`, be sure to include the log files in your email message. To generate the log files, replace \<Path to store log file\> with the output fold

[2021-11-13 20:25] n0rbie commented on #8507
Also having the same issue.

[2021-11-14 17:15] tkmamedov commented on #7905
Sorry for late reply.
There is no any link to download the Exchange Server PowerShell documentation as one PDF file like on this page https://docs.microsoft.com/en-us/exchange/exchange-server?view=exchserver-2019 (![image](https://user-images.githubusercontent.com/10899421/141691035-ef81e6b1-cc1b-479e-82ff-c1902bb162cb.png).

It would be great if this feature appear.
But I see that Microsoft is go

[2021-11-15 02:33] anthonynz opened #8595 "EnableDownloadDomains has no documentation"
Hi guys,

The parameter EnableDownloadDomains is missing it's description and documentation.

What is the intended purpose, why is it important to configure, and why is it not documented anywhere?

We're being advised to configure it as per [CVE-2021-1730](https://msrc.microsoft.com/update-guide/vulnerability/CVE-2021-1730).

Please elaborate on what the Download Domain is specifically doing, and

[2021-11-15 04:42] Raj-MCITP opened #8596 "Replacing Transport Rule Allow and Block list with TABL"
We have bunch of Sender address and domains with blocked and allowed (bypass spam) list and planning to replace with TABL. what exactly will be benefit and how many New-TenantAllowBlockListItems can be created per tenant ?

25 New-TenantAllowBlockListItems can be created with 20 entries in each ? and a max of only 500 senders can only be added per tenant as a blocked or Allowed senders/domain?

--

[2021-11-15 07:21] RascoPK commented on #8594
I am getting this error message:

"
Set-ExoAppSettings : A parameter cannot be found that matches parameter name 'ExchangeEnvironmentName'.
At C:\Program
Files\WindowsPowerShell\Modules\ExchangeOnlineManagement\2.0.6\netFramework\ExchangeOnlineManagement.psm1:600 char:186
+ ... kPerformance $TrackPerformance.Value -ExchangeEnvironmentName $Exchan ...
+                                          ~~~~

[2021-11-15 09:38] LesAtGamma commented on #8592
Thanks @chrisda - I've attached the generated log file.

As mentioned in my initial post, we're not using Basic Auth, but I'm authenticating using a certificate.

[EXOCmdletTelemetry-20211115-092339.csv](https://github.com/MicrosoftDocs/office-docs-powershell/files/7537478/EXOCmdletTelemetry-20211115-092339.csv)

[2021-11-15 10:28] beail commented on #8537
If the user Deletes there current signature from Outlook Online and ensures both For New Messages, For Replies/Forwards = (No signature) this then oddly falls back to whatever is defined in the SignatureHTML property

[2021-11-15 12:07] platinarock opened #8597 "Set-CsOnlineDialInConferencingUser Can't Modify Conference ID in manual mode with " -ConferenceId 8271964" Parameter"
Set-CsOnlineDialInConferencingUser

[Can't Modify Conference ID in manual mode with " -ConferenceId 8271964" Parameter]

When i modified conference ID in manual mode , conference ID stay at '0' value .

Have you an idea for this ?

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1346667-4316-343c-df7e-62bd41182d0

[2021-11-15 17:08] chrisda commented on #8507
Still looking into it. Nothing to report so far.

[2021-11-15 17:20] chrisda commented on #8594
@RascoPK, so it appears you updated to the v2.0.6-Preview3 version of the module, which basically prevents you from getting help by opening a support case. Send a message and your logs to that email address I provided earlier.