[2017-09-28 14:34] MartinRinas opened #6 "Article is inaccurate for Skype for Business Online customers"
Article is inaccurate for Skype for Business Online customers, SfBO does not allow you to edit all of these settings. TN previously had two versions of this article, one for on-prem and another for SfBO (showing only those values that could be edited in online). We need to bring this differenciation back to allow IT Pros to understand what they can edit in online and what not.

[2017-10-03 21:20] kenwith commented on #6
Hi Martin - there is now one article per cmdlet name. There is an Applies To at both the article (top of article) and for each parameter. Which cmdlet are you referencing?

[2017-10-05 16:39] kenwith commented on #6
Just to close this out, discussed with Martin and we do have the applies to, see screenshots. Happy to accept a pull request to add more details to description or call out any particular parameters for online. Closing this issue.
![2017-10-05_9-31-33](https://user-images.githubusercontent.com/27743960/31239158-0509f2ec-a9b1-11e7-9d7e-6f3b559a52f1.png)
![2017-10-05_9-33-22](https://user-images.gith

[2017-10-05 16:39] #6 closed

[2017-10-06 21:52] jdubyaeber opened #9 "set-csipphonepolicy"
the old version was complete with descriptions and values.  the new version is blank?

https://docs.microsoft.com/en-us/powershell/module/skype/Set-CsIPPhonePolicy?view=skype-ps

-John

[2017-10-06 22:13] kenwith commented on #9
Working on getting this fixed. Thanks for reporting issue John!

[2017-10-12 11:13] tomlarse opened #10 "Links in Skype cmdlets related links sections are wrong"
If you browse a cmdlet at https://docs.microsoft.com/en-us/powershell/module/skype/?view=skype-ps, the links in the "Related links" section all seem to be linking back to the page itself.

For instance on https://docs.microsoft.com/en-us/powershell/module/skype/new-csserverapplication?view=skype-ps, the related links are to Set-CsServerApplication and Remove-CsServerApplication, but both links poi

[2017-10-12 16:13] kenwith commented on #10
Confirmed as a bug and I opened an issue with the team that handles the push from GitHub to docs.microsoft.com. Thank you for reporting! I will leave this open until I can get a resolution.

[2017-10-12 21:54] kenwith commented on #9
This issue is resolved. I was able to get the content from the old version into this 'evergreen' version. The reason the content was missing is that the content that shows with Get-Help has to be checked into code and then pushed out with each version or update. The 'evergreen' content pulled from the product itself (whatever customer can see shows up in cmdlet reference, even if it is an internal

[2017-10-12 21:54] #9 closed

[2017-10-12 22:57] kenwith commented on #10
Just a quick update. The format needs to be like this:

[Get-CsDeviceUpdateRule](Get-CsDeviceUpdateRule.md)

I will need to write a program to manipulate these since there are so many. Or if anyone else wants to volunteer to do it. :)   I am thinking Python .. plan is to get this done and updated within a couple of weeks. I will update this issue when done.

[2017-10-13 16:29] kenwith commented on #10
OMG I LOVE YOU! :)  Merged and links should be working shortly!

[2017-10-13 16:29] #10 closed

[2017-10-13 17:11] thedanfernandez commented on #10
This is great thanks for the contribution!

[2017-10-13 20:21] tomlarse commented on #10
Glad to be of any help :)

[2017-11-04 16:48] sksnips opened #46 "Get-TeamChannel returns BadRequest response"
Accessing **Get-TeamChannel** command returns the Bad Request as a response.
Because it calls the Graph API as
https://graph.microsoft.com/beta/groups/**GroupID**/team/channels

Instead of

https://graph.microsoft.com/beta/groups/**GroupID**/channels
![get-teamchannel](https://user-images.githubusercontent.com/11997559/32407394-1b587914-c1ae-11e7-881d-26b8f730e180.png)

[2017-11-05 21:10] cimares commented on #46
I'm having the same response on all of the TeamChannels cmdlets (Set, Get and New)

[2017-11-05 21:13] cimares opened #47 "Get-team returns only the teams for the current user."
When I use the cmdlet get-teams, it only returns the teams for the current user context. As an Admin, I need to see ALL of the teams currently configured within the environment.

The cmdlet provides a -User parameter, but when this is used to provide a different user context by a Global Admin, the script returns an InvalidRequest with the message "This request is supported in current user context

[2017-11-06 14:49] Jethro-Seghers commented on #47
that might explain some of my problems: Remove-Team doesn't remove team in the app. Removing the Team Members removes the team in PS -again not in App

[2017-11-06 14:50] Jethro-Seghers commented on #47
How do we know if this is being addressed

[2017-11-06 19:40] kenwith commented on #46
I will bring this to product team and get a response.

[2017-11-06 19:40] kenwith commented on #47
I will bring this to product team and get a response.

[2017-11-08 14:10] joegasper opened #54 "Get-Team : Error when renewedDateTime = null"
Get-Team : Error occurred while executing
Code: GeneralException
Message: Failed to parse MS Graph backend response for request GetUserGroupsRequest. Request Url:
https://graph.microsoft.com/edu/me/memberOf/$/microsoft.graph.group?$filter=groupTypes/any(c:c+eq+'U...,
Request Method: GET. The response is invalid, cannot convert to type IList`1Error converting value {null} to type 'System.DateTime'.

[2017-11-08 14:55] patrickabel opened #55 "Creating and associating a MS Team with existing O365 Group"
Can the **New-Team** cmdlet be used to create a team and associate it with an existing O365 Group via a groupID as you can currently in the UI?

This will be critical for integration with Site Designs, site templating, etc.

[code]

[2017-11-09 16:47] kenwith commented on #55
I will bring these to Nick's attention. I saw he just submitted a Pull Request but haven't looked through what was added in descriptions. I will make sure he sees this.

[2017-11-09 16:47] kenwith commented on #54
I will bring these to Nick's attention. I saw he just submitted a Pull Request but haven't looked through what was added in descriptions. I will make sure he sees this.

[2017-11-09 17:23] nkramer commented on #46
This is been fixed, let me know if you're still having problems.

[2017-11-09 17:25] kenwith commented on #46
Thanks Nick! Closing this out.

[2017-11-09 17:25] #46 closed

[2017-11-09 23:34] sksnips commented on #46
Its working now. Thanks Nick & Ken. :)

[2017-11-10 21:03] m-neill opened #57 "New-Team : Error occured while executing"
When trying to create a new team I get the following error.
![image](https://user-images.githubusercontent.com/3170943/32678529-e9ccd6a8-c61f-11e7-920c-a7f7540f7c6d.png)

[2017-11-14 17:51] nkramer commented on #47
Thanks, as mentioned in the documentation, Get-Team only returns info for the current user. We are working to address it.

Remove-TeamUser, along with many of the other commands, has a delayed effect. The AAD user info is updated immediately, but it can take up to an hour to propagate to other machines. This is not related to the Get-Team issue.

[2017-11-14 17:52] nkramer commented on #55
Great suggestion, we're working on it.

[2017-11-14 17:55] nkramer commented on #54
Thanks, we're working on it.

[2017-11-14 18:10] patrickabel commented on #55
Great to hear – thanks @nkramer @kenwith!

[2017-11-14 18:11] kenwith commented on #55
Thanks for feedback. Closing this one out.

[2017-11-14 18:11] #55 closed

[2017-11-14 18:12] kenwith commented on #54
Thanks for feedback. It is logged with product team. Closing this one out. Thanks Joe!

[2017-11-14 18:12] #54 closed

[2017-11-14 18:13] kenwith commented on #47
Thanks for bringing this issue up and thanks for details Nick! This is logged with product team. Closing this out.

[2017-11-14 18:13] #47 closed

[2017-11-14 18:16] kenwith commented on #57
I am not sure on this one. It looks like it isn't able to even run the cmdlet. This would be a good issue to open a support ticket on. I will leave this open though if anyone else can comment to help figure this out. I am sure others will run into the same issue too.

[2017-11-14 23:04] ravgupms commented on #57
@m-neill - Is it consistently happening for you?

[2017-11-17 14:32] m-neill commented on #57
I sorry for the late response.  Where would I open a support ticket for it?

I tried on two different O365 subscriptions and tested again today.  Still running into the same issue.

[2017-11-20 19:24] kenwith commented on #57
When you sign into the admin page of your tenant you can open a service request there. Sign into your tenant then in the waffle menu (looks like a waffle icon) in the upper left choose Admin. Then on the left side there should be a Support tab. When you click that you should see a "New service request" option. Note that the UI might be slightly different depending on what version you are seeing.

[2017-11-28 09:28] mwolfaardt opened #66 "Error adding team user to group"
While trying to add an external user to a group using `Add-TeamUser -GroupId 2928a3db-2d7b-4925-b4fc-6cdd0d66ef12 -Role Member  -User abc@xyz.com`

I receive the following error
Add-TeamUser : Error occurred while executing
Code: Request_ResourceNotFound
Message: Resource 'abc@xyz.com' does not exist or one of its queried reference-property objects are not present.
InnerError:
  RequestId: 2449be5

[2017-11-28 18:34] kenwith commented on #66
I am not an expert on all the cmdlets (just focused on repo maintaining and subset of cmdlets). It seems like it cannot find the user abc@xyz.com in your tenant. Let's see if anyone else in the community that has more experience with these has experienced this. You can also open a support ticket and they can route this properly.

[2017-11-29 03:53] mwolfaardt commented on #66
Thanks Yeah I changed the email, but it will be external guests that I invite

[2017-12-01 21:20] maadarani opened #75 "SPO PowerShell Overview Section"
Hello,

The SPO PowerShell Overview Section should not be a subsection of On-premises. For users, it will be confusing on how to use it. Rather than having it as heading 3, I would promote it to its own heading, add more description on how to use it, like they need to download and install the SharePoint Online Management Shell, with a brief description on how to use it.

Mike

[2017-12-02 19:02] ravgupms commented on #66
Currently, Add-TeamUser cmdlet doesn't support adding guest users.

[2017-12-05 01:28] ravgupms commented on #57
We have published v0.9.1 which contains fix for New-Team. Let us know in case you face any other problem.

[2017-12-05 19:10] kenwith commented on #75
@Techwriter40 owns this topic and can take a look. Thanks for the feedback!

[2017-12-05 19:12] kenwith commented on #66
Thanks for the clarification Ravi! Closing this one out.

[2017-12-05 19:12] #66 closed

[2017-12-07 21:53] kenwith commented on #57
Thanks @ravgupms  !  Closing this one out.

[2017-12-07 21:53] #57 closed

[2017-12-19 19:32] mefree98 opened #102 "Azure Bot Service work with Federation?"
Can a CsOnlineApplicationEndpoint be granted a CsExternalAccessPolicy? I have an Azure bot I would like to be able to respond to federated contacts.

[2017-12-19 22:48] kenwith commented on #102
I confirmed with @islubin that CsOnlienApplicationEndpoint is currently only for users but she looped in @nkramer whose team owns graph integrations and how policies around those integrations will work (coming soon). Thank you for this feedback @mefree98 ! It is greatly appreciated by the product teams!

[2017-12-19 22:48] #102 closed

[2018-01-05 18:35] tomresing opened #108 "Set-SPOTenant corrections needed"
Set-SPOTenant has multiple occurrences of what looks like placeholder text. This was reported to me by a customer and there is a comment on the page from another customer stating similar.

The first occurrence I see is in the Examples section. There are two statements that appear to be notes to the author to fill the placeholder text will real example code and descriptions.

There are multiple par

[2018-01-09 18:41] kenwith commented on #108
Thanks for opening this issue @tomresing ! Looking into this with you and some others to get resolved.

[2018-01-10 18:17] kenwith opened #110 "Articles for Set-CsPlatformServiceSettings / Get-CsPlatformServiceSettings are missing."
*-CsPlatformServiceSettings cmdlets are discussed here:
https://support.microsoft.com/en-us/help/4036633/we-can-t-sign-you-in-because-you-aren-t-set-up-to-use-skype-for
https://support.microsoft.com/en-us/help/4043637/enable-skype-on-mac-to-restrict-external-access-in-skype-for-business

But there don't seem to be any cmdlet references yet. These need to be added.

[2018-01-10 20:25] kenwith opened #111 "Content needed"
It has been requested that the following cmdlets need additional information. If anyone from community can help it will be greatly appreciated.

I am tracking down product team / dev teams to get info too. Will track it here:

* [Get-CsBusyOptions](https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/skype/skype-ps/skype/Get-CsBusyOptions.md)
* Get-CsImConfiguration (new)
* Get-CsPl

[2018-01-10 20:27] kenwith commented on #108
Just an update, I am working with @nsshommo to get these descriptions filled in. He will be submitting Pull Requests soon.

[2018-01-10 21:10] kenwith commented on #75
hi @maadarani  - I was able to connect with @Techwriter40 and he really appreciated your suggestion and will keep it in mind in the future. For now he will keep the same heading structure and will circle back in future if he changes the structure. Thanks for your feedback!

[2018-01-10 21:10] #75 closed

[2018-01-10 21:23] kenwith opened #112 "README too long"
The README is getting way to long. We need to split it up into a quick start and then links to the more in depth walk through and another link to the FAQ.

[2018-01-10 23:27] maadarani commented on #75
NP; let me know if you need any help in the write up.

Regards,
Mike Maadarani | mike@maadarani.com<mailto:mike@maadarani.com> | www.maadarani.com<http://www.maadarani.com/> | (613) 263-2442
[cid:image004.png@01D38A40.ADD3DF40]<https://mvp.microsoft.com/en-us/mvp/Mike%20Maadarani-5001227> [untitled] <http://www.linkedin.com/pub/mike-maadarani/3/268/93>  [images] <http://twitter.com/mikemaadarani>

[2018-01-10 23:54] kenwith opened #113 "Need a short 20 - 30 second video showing how to update content quickly."
Updating content is actually very easy but the initial curve of figuring out what to do can be steep. Once I got the hang of it, it only takes a few seconds to update an article and submit a pull request.

We need a very short 20 - 30 second video that is basically the simple way to edit content. The information is down in the README but the README has so much information it can feel overwhelming.

[2018-01-11 02:31] tomresing commented on #108
Thanks for the update, @kenwith. I did chat with Kirk Stark about the situation today, too.

[2018-01-14 03:49] microsmith opened #119 "How is the documentation sync'd?"
How is the documentation for these cmdlets sync'd between here and docs.microsoft.com? I may be interested in updating some of the samples and descriptions, but don't know where to start.

[2018-01-16 19:05] kenwith commented on #119
@microsmith that would be awesome if you would want to update some examples and descriptions! docs.microsoft.com pulls its content directly from this repository. This repository has a 'master' branch and a 'live' branch. The master branch goes to review.docs.microsoft.com and is currently, unfortunately, behind a Microsoft login. The live branch goes directly to docs.Microsoft.com and once merged

[2018-01-16 19:05] #119 closed

[2018-01-21 17:44] michaelblumenthal opened #126 "New-SPOSite needs corrections/details and examples"
There are no descriptions for ANY of the parameters.  There is no example either.  This is well known and likely frequently used functionality.
Here's an example that could be used:
`New-SPOSite -Url https://mytenant.sharepoint.com/sites/sales -Owner TheSPadmin@mytenant.onmicrosoft.com -StorageQuota 1000 -CompatibilityLevel 15 -LocaleID 1033 -ResourceQuota 300 -Template "STS#0" -TimeZoneId 13 -Tit

[2018-01-21 21:16] tomresing commented on #126
Thanks so much for reading and commenting! I see there is a pending pull request for an example for new-sposite https://github.com/MicrosoftDocs/office-docs-powershell/pull/118 feel free to add descriptions to any you can. It’s easy. Just hit the pencil and enter your description on the .md file in this repository

[2018-02-07 19:54] kenwith commented on #112
Broken up into a quick start and then links to other sections. Should make it easier to get up to speed quickly with simple edits.

[2018-02-07 19:54] #112 closed

[2018-02-08 20:17] robbert-vanandel opened #147 "connect-microsoftteams with credential causes error"
Using the following code.

    $secpasswd = ConvertTo-SecureString "password" -AsPlainText -Force
    $mycreds = New-Object System.Management.Automation.PSCredential ("username@domain.com",
    $secpasswd)

    Connect-MicrosoftTeams -Credential $mycreds;

Causes this set of errors to appear

    Connect-MicrosoftTeams : One or more errors occurred.: AADSTS75005: The request is not a valid SAML 2.

[2018-02-08 22:48] islubin commented on #147
This looks like an error in your script rather than in the cmds itself.  Are there any special characters in your password that need to be escaped?

[2018-02-08 22:53] robbert-vanandel commented on #147
No, it just uses letters and numbers.

[2018-02-08 23:06] kenwith commented on #147
@robbert-vanandel  - I am not a SME in this area but one thing to troubleshoot would be to get credentials with:   $mycreds = Get-Credential    on your workstation then type in the pop-up box.. and see if that still gives the error

[2018-02-08 23:16] kenwith commented on #147
Also, just to capture for others that might stumble upon this discussion.. there is a really good blog post by Matt Soseman that is related, here: https://blogs.technet.microsoft.com/skypehybridguy/2017/11/07/microsoft-teams-powershell-support/

[2018-02-08 23:23] robbert-vanandel commented on #147
Hi, @kenwith , yes I've done that as well.  The blog post is what I had used in the beginning. The problem is that I need to be able to do this unattended, so having a pop up window that requires me to log in manually would not work.

[2018-02-09 01:32] yeshwanthjagannath commented on #147
@robbert-vanandel - try the below:
 Instead of passing the username again:

Connect-MicrosoftTeams -AccountId 'username@domain.com' #-Credential $mycreds;

Just pass your credentials ($mycreds) as below:

Connect-MicrosoftTeams $mycreds;

Let us know how it goes.

Cheers,
Yesh

On Thu, Feb 8, 2018 at 4:47 PM Ken Withee <notifications@github.com> wrote:

[2018-02-09 08:56] doctordns commented on #147
One suggestion is to use -Verbose on the call to Connect-MicrosoftTeams. If it's like other Azure cmdlets, it might show the specific web calls being made along with their parameters. I do not have access to Teams to test this theory.

[2018-02-09 19:16] SamCosby commented on #147
IDP is outputting invalid SAML information. Needs to have SAML 2.0 vs. SAML 1.0 for the module to connect.

[2018-02-12 17:50] yeshwanthjagannath opened #156 "InvalidAuthenticationToken Error"
### I am trying to run a script from a .ps1 file. The script looks as follows:
$UserName="myusername@domain.com"
$password = "mypassword"
$password = ConvertTo-SecureString $password -force -asPlainText
$creds = New-Object System.Management.Automation.PSCredential ($UserName, $password)
$credobject = Connect-MicrosoftTeams -Credential $creds
$teamname = "TestPS5"
$group = New-Team -DisplayName $te

[2018-02-13 18:08] kenwith commented on #147
@SamCosby , sorry I don't totally follow.. could you expand on identity provider outputting invalid SAML? How would this be updated? This seems like a great issue for a blog or added content to the Notes in the cmdlet. Really great information to capture.

[2018-02-13 18:15] kenwith commented on #156
@yeshwanthjagannath - what version of the Teams cmdlets are you using? I asked the PM that owns Teams and she said that the 0.9.1 release has some retry logic built in. You can see the version with the command    get-module -listavailable   and then look for MicrosoftTeams in the Name column and the Version is just to the left.

[2018-02-13 18:43] kenwith opened #161 "Get-CsOnlineUser cmdlet not redirecting properly from TechNet to docs.microsoft.com. Also, question about content."
The reference documentation for the SfB Get-CsOnlineUser cmdlet (article https://technet.microsoft.com/en-us/library/jj994026.aspx) states the following:

“If you have a hybrid or "split domain" deployment (that is, a deployment in which some users have accounts homed on Lync Online while other users have accounts homed on an on-premises version of Lync Server) keep in mind that the Get-CsOnlineUs

[2018-02-13 19:01] kenwith commented on #147
Also, not sure if same issue but added a link: https://github.com/MicrosoftDocs/office-docs-powershell/issues/156

[2018-02-13 19:01] kenwith commented on #156
Also, not sure if this is the same issue but adding a link: https://github.com/MicrosoftDocs/office-docs-powershell/issues/147

[2018-02-13 19:02] SamCosby commented on #147
Sure. I worked with the customer on this one. The IDP that they were using was only allowing the use of SAML1.0 when trying to auth via basic authentication. Which in turn, isn't expected to work because we expect either OAUTH2 (which is used when doing just connect-microsofteams), or SAML2.0.

[2018-02-13 19:25] kenwith commented on #147
Awesome, thank you! I added a Pull Request to get this info captured in notes. If anyone wants to adjust what I said please go ahead and submit updated pull request. Thanks all!

https://github.com/MicrosoftDocs/office-docs-powershell/pull/162

[2018-02-13 19:25] #147 closed

[2018-02-14 04:26] yeshwanthjagannath commented on #156
@kenwith I am using the 0.9.1 release.

[2018-02-15 17:08] kenwith commented on #161
I am still working to figure out how things work and how to update the documentation. I did get this back from a developer...

"One thing they could query on is the HostingProvider. Online hosted users will always have a value of “sipfed.online.lync.com” in both OnPrem and Online AD. On-Prem hosted users will have either “SRV:” or a different FQDN. Would need to find a Hybrid topo to verify for su

[2018-02-15 17:12] kenwith commented on #156
@SamCosby - could these be related to the 147 issue? (saml version) My gut tells me it isn't though because some succeed and some fail. Any thoughts @islubin ?

[2018-02-15 17:13] kenwith commented on #156
@yeshwanthjagannath  - it might be worth also opening a support ticket in your tenant in parallel. That way a dedicated resource to track down. I am still working to figure out too and we can update Notes section in docs with resolution.

[2018-02-15 17:14] yeshwanthjagannath commented on #156
@kenwith Yes, i have already done that and i have been in touch with the support focal.

[2018-02-15 17:18] islubin commented on #156
@yeshwanthjagannath - are these calls failing within short periods of time of successes (ie one succeeds and then 30 seconds later, another fails?)

On a separate note - you shouldn't be trying to combine providing a teamname with an existing group conversion.  If you're converting a group, it already has a display name.

[2018-02-15 17:36] yeshwanthjagannath commented on #156
@islubin - there is no particular pattern of failure, but it succeeds the first few times and then fails and just continues to fail until i reboot and happen to try again. If i am lucky it fires off fine, else it continues to fail.
And, no i am not converting an existing group. I am passing the teamname as a parameter to the script to be the name of the Team we are trying to create through script.

[2018-02-15 17:40] islubin commented on #156
Sorry - I read your PS snippet too fast and zeroed in on $group.GroupId, which I thought you were feeding into New-Team. :)

Adding in @nkramer

[2018-02-15 18:07] SamCosby commented on #156
@kenwith, doesn't look like the same failure, though, I'd like to validate when this does fail as what's happening via Fiddler. Could be something failing against the IDP of some sort.

[2018-02-15 21:43] kenwith commented on #110
Just a quick update. I am working on this and also documenting the process. Since the references are all open source now anyone can do it. The tool to generate the stubbed content is called PlatyPS and it is found here: https://github.com/PowerShell/platyPS

I will keep updating this article as I document it, NEW_CMDLETS.md, which can be found in repo_docs folder or also a link from the main READM

[2018-02-15 21:48] kenwith commented on #108
Set-SPOTenant has been updated. Closing this issue. Thank you for feedback!

Also, at the same time most of the other SPO cmdlets were fixed and those that still had placeholder are being tracked and updated. @VesaJuvonen  working on that portion along with product team. Any other specific instances feel free to open another issue. Thanks all! Docs are better for it. :)

[2018-02-15 21:48] #108 closed

[2018-02-15 21:51] kenwith commented on #111
Update, making progress and hope to have these updated soon!

[2018-02-15 21:52] kenwith commented on #126
This has been fixed for most of the SPO cmdlets. Thank you for reporting! Also, any that are still lacking documentation are being tracked in a spreadsheet and @VesaJuvonen  along with the product team are working through them. The community really appreciates your feedback and the docs are better for it. :)

[2018-02-15 21:52] #126 closed

[2018-02-16 01:02] tomresing commented on #108
Great work! Published version is very much improved. https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/set-spotenant?view=sharepoint-ps

[2018-02-19 03:07] naminakao opened #175 "AppSharingBitRateKb and VideoBitRateKb are applicable to Skype for Business Online"
The parameters, AppSharingBitRateKb and VideoBitRateKb, can be set on SfB online.
Currently Description section says they are not applicable to SfB Online.

[2018-02-19 03:08] naminakao opened #176 "AppSharingBitRateKb and VideoBitRateKb are applicable to Skype for Business Online"
The parameters, AppSharingBitRateKb and VideoBitRateKb, can be set on SfB online.
Currently Description section says they are not applicable to SfB Online.

Title: Set-CsConferencingPolicy
https://docs.microsoft.com/en-us/powershell/module/skype/set-csconferencingpolicy?view=skype-ps

[2018-02-19 11:04] W1ll1amz commented on #161
Thanks for the help with this Ken. I have tried using HostingProvider as an alternative way to distinguish between SfB users hosted online and those hosted on-prem. The problem is the figures returned using Get-CsUser with the HostingProvider switch is not consistent with the number of cloud users returned using the Get-CsOnlineUser cmdlet and I need to know why. We are going to use the figures re

[2018-02-20 18:10] kenwith commented on #161
I am going to keep digging and see what I can find. I think it would also be worth it to open a support ticket on why the differences you are seeing are so great. You can open a ticket in your Admin page for your Online. I will keep you posted what I can find too.

[2018-02-20 18:24] yeshwanthjagannath commented on #156
@SamCosby Thanks for reaching out over email and getting a working session on. As discussed, this continues to be an open issue at this time against the MS Graph API.

For the benefit of the rest on this thread:
We are looking at utilizing Azure runbooks (Azure automation services) to run the MicrsoftTeams powershell, which has been more promising at this point. However, we notice a lot of lag, ap

[2018-02-20 18:24] kenwith commented on #176
@islubin - I remember this change awhile back to set some parameters that were not relevant to SfB Online.. do you remember the details?

[2018-02-20 18:25] kenwith commented on #175
Seems duplicate with issue #176 . Working to resolve that one. If this is not a duplicate please reopen.

[2018-02-20 18:25] #175 closed

[2018-02-20 19:48] kenwith opened #180 "Get-SPOExternalUser cmdlet reference needs updates."
The Get-SPOExternalUser cmdlet reference needs updates.

[2018-02-20 19:53] kenwith commented on #161
Quick update, the link is now forwarding correctly from TechNet to docs.microsoft.com. If you go to https://technet.microsoft.com/library/jj994026.aspx you should be redirected to the article on docs.microsoft.com.

I am still working on the behavior you are experiencing and have a number of emails out. If you make progress with support please let us know so we can add information into the cmdlet

[2018-02-20 21:07] kenwith commented on #180
Original comment that showed up on the docs.microsoft.com site is below. This GitHub repository is the source and articles are also surfaced on docs.microsoft.com One IMPORTANT note is that the docs.microsoft.com articles will be changing in the near future to use GitHub Issues. The link to the docs.microsoft.com article is: https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-

[2018-02-20 22:55] islubin commented on #176
I tried to merge in a change I made a while ago to indicated that in the New- and Set- CsConferencingPolicy cmdlets, those two parameters are now applicable.  For some reason my merge doesn’t seem to be working (see the below question you asked me. ☺ ).  I will try again later today…

From: Ken Withee <notifications@github.com>
Sent: Tuesday, February 20, 2018 10:25 AM
To: MicrosoftDocs/office-doc

[2018-02-21 18:16] kenwith commented on #113
Video is live in the quick start in the README. Check it out!

[2018-02-21 18:16] #113 closed

[2018-02-22 01:23] yeshwanthjagannath commented on #156
Guys,
We tried an alternate approach on this by executing the PowerShell on Azure Runbooks and invoking the runbook through MS Flow, that works like a charm and we do not get errors of any sort. So for now, until the bearer access token issue can be fixed, we will proceeding with hosting our PowerShell as an Azure Runbook. Just thought i would share here for the benefit of the community.

[2018-02-22 23:04] kenwith commented on #111
Update, @islubin is on a roll and finding all the people that have the information to fill these in. Many already done! I will keep everyone updated when these are complete. If anyone finds more areas that need content please open more issues. With the community involvement and ownership the docs have never been better!

[2018-02-22 23:08] kenwith commented on #176
@islubin - I see the Applies To for these two parameters now in the parameter. At the bottom of the Description there is a paragraph.. should they be removed from this paragraph below?

_The following parameters are not applicable to Skype for Business Online: ApplicationSharingMode, AppSharingBitRateKb, AsJob, AudioBitRateKb, Description, EnableMultiViewJoin, EnableOnlineMeetingPromptForLyncResou

[2018-02-22 23:40] kenwith commented on #156
@SamCosby @yeshwanthjagannath  - this is really great info. I wonder if there is something we could add to the Notes section of the connect cmdlet? Should we leave this issue open for now?

[2018-02-22 23:54] islubin commented on #176
I think those updates should be there with my latest change – I see them on github website at least, although not on docs yet.

From: Ken Withee <notifications@github.com>
Sent: Thursday, February 22, 2018 3:08 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Isabella Lubin <islubin@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micros

[2018-02-23 18:12] kenwith commented on #176
@islubin - you are exactly right. There is some issue with docs.microsoft.com pulling from GitHub. I will get in contact with that team and figure this out. Thanks for the updates!

[2018-02-23 18:45] kenwith opened #190 "Save to PDF not working"
The save to PDF feature is not working for the cmdlets. The ability to download to pdf shows up on the docs.microsoft.com site in the lower left. The option appears but it isn't working. Need to get this fixed asap.

[2018-02-23 18:59] kenwith commented on #176
Confirmed there was an Update to the GitHub API yesterday ( https://developer.github.com/changes/ ) that broke the sync with docs.microsoft.com. Team that owns the sync code has already updated to match new GitHub API and sync is working again. I pushed a new sync and everything is updated now. Closing this one out. Thank you @naminakao for reporting and @islubin for the quick resolution! The docs

[2018-02-23 18:59] #176 closed

[2018-02-27 20:10] VesaJuvonen opened #197 "Get-SPOUserOneDriveLocation missing synopsis and description"
https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/Get-SPOUserOneDriveLocation?view=sharepoint-ps is missing synopsis.

[2018-02-27 21:27] kenwith commented on #161
@W1ll1amz  - I got some more info from one of the developers on this team. Here it is below. I am not sure how helpful this will be but let us know if you find anything else out too from support.

It is important to note that if some are blank, that they could have the Tenant level policy applied.

We had to handle making Hybrid, Online, OnPrem users available and did so in the following manner:

[2018-02-28 19:37] kenwith commented on #190
Save to PDF is working now. If anyone experiences issues please open another issue. The save to PDF shows up in the lower left on the docs.microsoft.com page. Example, here is link for Teams content: https://docs.microsoft.com/en-us/powershell/teams/?view=teams-ps

The PDF is in lower left of page and should be available for any content.

[2018-02-28 19:37] #190 closed

[2018-03-01 11:19] W1ll1amz commented on #161
Thanks for this Ken and for sticking with it. I've been working on this also and think I'm very close to cracking the problem. I dumped the contents returned by the Get-CsOnlineUser and Get-CsUser cmdlets so I can see the other types of objects returned (not all are users - Rigel/room systems, hunt groups and auto attendants will also get returned). I'm working out the switches need to exclude the

[2018-03-01 23:20] kenwith opened #207 "set-csonlinedialinconferencingtenantsettings needs update."
On this page there are two bits of text that contradict each other:

1. In the Description:

“The following parameters are not applicable to Skype for Business Online: AsJob, EnableDialOutJoinConfirmation, IncludeTollFreeNumberInMeetingInvites, MigrateServiceNumbersOnCrossForestMove, and **UseUniqueConferenceIds**”

2. In the Applies To for the parameter UseUniqueConferenceIds.

https://docs.micro

[2018-03-01 23:33] kenwith commented on #207
This might be a situation where [the tool](https://github.com/PowerShell/platyPS) that 'stubbed' out the content could 'see' the parameter. The PlatyPS tool sees whatever someone that runs Get-Command would see but parameters are not always applicable even though it shows as being 'seen' for that cmdlet. I will look into this with the PM and get this fixed asap. Also, just a note that the process

[2018-03-02 18:38] W1ll1amz commented on #161
Hi Ken,

I can filter out things like AutoAttendants, Hunt Groups and Rigel (Lync Room Systems) by using $_.ownerUrn –eq $null. There are other interesting online user attributes as well that might be even more useful to allow me to ID 'real' users but I cannot find any documentation on them.  "OptionFlags" looks decent.

There is [OCS documentation](https://technet.microsoft.com/en-us/library/bb6

[2018-03-02 18:50] kenwith commented on #161
This thread is producing great information. I will try to track this down and once we crack this one we can work together to get this into the docs in this repository. Thanks for all your work on this. I will post back as I get more info.

[2018-03-02 19:36] kenwith commented on #207
All, this is a known bug in how I setup the source in GitHub. It has to do with what I mentioned above that the tool can 'see' that parameter but it is actually not applicable to Skype for Business Online. Trying to use that parameter would likely generate an error. I have this on my radar and the quick fix we came up with was to add that note in the description that the parameters listed are not

[2018-03-02 19:36] #207 closed

[2018-03-05 00:01] yeshwanthjagannath opened #210 "SharePoint URL has the unique MSTeams groupID instead of the Team name"
Noticed, on the successful creation of teams through PowerShell, everything works fine.

However, the name of the Team is not being propagated into the SharePoint site URL associated with the Teams.
For eg:
Team Name: TestTeam
SharePoint Site URL: https://webapplicationname/sites/msteams_XXXXXX

While the expected URL should be: https://webapplicationname/sites/TestTeam

[2018-03-05 00:06] yeshwanthjagannath opened #211 "Receive 4 notifications in the newly created group/team inbox"
Once the team is created through the MicrosoftTeams PowerShell module, there are 4 notifications being sent out to the OfficeGroup mailbox in the background created for the Team. A sample screenshot is below:

![image](https://user-images.githubusercontent.com/8189744/36952513-00b77d96-1fc6-11e8-9fc5-f03024573448.png)

[2018-03-05 19:10] yeshwanthjagannath commented on #210
Sorry, this was a miss from my end, i had to use the -alias attribute to  make sure the Teams Name was being passed. This is not an issue and i am closing it out.

[2018-03-05 19:10] #210 closed

[2018-03-05 19:16] kenwith commented on #211
@islubin - do you know if this is expected behavior or what could be causing the 4 duplicate notifications?

[2018-03-05 19:22] islubin commented on #211
@yeshwanthjagannath and @kenwith - not expected behavior.  How often do you see this happening?

[2018-03-05 20:35] yeshwanthjagannath commented on #211
@islubin I see this happening every other time, it is either 3 or 4 notifications at a minimum.

[2018-03-05 22:34] islubin commented on #211
@yeshwanthjagannath we suspect this is related to the group creation rather than the "teamification".  Can you test creating a group and calling the new-team cmdlets to convert that group to a team and see if the notifications still occur?  These cmdlets are still in Beta so we'll make sure that this is integrated into our bug list for GA.

[2018-03-06 22:49] kf4ape opened #219 "Get-Team is blank or not showing all groups"
I have seen something with get-teams similar to my interactions with PowerBI. if the powershell user is NOT a member of the group, they can not see the group when executing get-team or adjusting it, even as a global admin. sort of defeats the purpose of powershell for automating groups. Granted I can use unified group commands to gather members, etc, but if I wanted to troubleshoot, look at settin

[2018-03-07 18:39] tomresing opened #221 "move-spuser windows claims example needed"
@tseward pointed out this comment could be applied, with some refinement:

[2018-03-07 19:11] kenwith commented on #219
@kf4ape - thank you for submitting this for the beta cmdlets. It is highly appreciated and I know for a fact @islubin tracks and views this feedback and directly incorporates it into the product so the general release will be the best it has ever been. I am not sure on an answer right now so will leave this issue open and update as I can from product team.

[2018-03-07 19:14] islubin commented on #219
@kf4ape, tank you for your feedback - we appreciate it!.  This is a known limitation of the Beta cmdlets and is something we're working to change in the upcoming releases.

[2018-03-07 19:14] #219 closed

[2018-03-07 19:15] kenwith commented on #221
Thanks @tseward and @tomresing  for opening this issue and providing this feedback to make the docs better. @Techwriter40 - do you know who we could confirm to put this in as an example to the *-SPUser cmdlets?

[2018-03-07 19:40] kf4ape commented on #219
Awesome! thanks guys

[2018-03-07 22:42] tomresing commented on #221
Hi @kenwith, I forgot to mention that @tseward agreed to update and test the script and submit as a pull request.

[2018-03-07 23:03] kenwith commented on #221
That would be awesome! I will look for the pull request. For quick start guide be sure to check README. Thanks!

[2018-03-08 04:58] tseward commented on #221
PR #222 submitted for this.

[2018-03-09 01:12] tomresing opened #235 "Placeholder text in add-spogeoadministrator"
https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/add-spogeoadministrator?view=sharepoint-ps
has placeholder text like
{{Fill in the Description}}
{{Fill in the Synopsis}}
and
{{ Add example description here }}

[2018-03-09 21:26] tseward opened #258 "SPO Cmdlets in SharePoint-Server repo"
The documentation for the cmdlets [ConvertTo-SPOMigrationEncryptedPackage.md](https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/sharepoint/sharepoint-ps/sharepoint-server/ConvertTo-SPOMigrationEncryptedPackage.md) and [ConvertTo-SPOMigrationTargetedPackage.md](https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/sharepoint/sharepoint-ps/sharepoint-server/ConvertTo-

[2018-03-09 22:13] kenwith opened #264 "Preview URL points to review.docs.microsoft.com which is behind corp net."
On a PR there is a Preview URL. That points to review.docs.microsoft.com which is behind corp net. This should instead point to docs.microsoft.com with the PR branch.

[2018-03-14 13:23] VesaJuvonen commented on #258
Fixed now. Thx for reporting.

[2018-03-14 13:23] #258 closed

[2018-03-21 08:16] RebekkaAalbers opened #403 "Cmdlet Connect-PnPHubSite does not work"
Steps:
1. Create a hub site using Register-PnPHubsite
2. Connect a site collection to this site using Connect-PnPHubSite -Site <Site collection url> -Hubsite <Hubsite url>
3. Wait an hour

New from connected site is not shown on Hub site.

[2018-03-21 19:08] kenwith commented on #211
Thanks for update. Closing this out since it is being fixed for beta. Thanks for reporting!

[2018-03-21 19:08] #211 closed

[2018-03-21 20:11] kenwith commented on #156
Closing this one out. Please re-open if needed.

[2018-03-21 20:11] #156 closed

[2018-03-22 21:56] kenwith opened #406 "nice article"
Excited about teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ee082c9-735d-3f8a-7bc4-b2d4f175c784
* Version Independent ID: 50e0366c-46b0-71da-b6f6-f422adaad785
* Content: [Connect-MicrosoftTeams (teams)](https://docs.microsoft.com/en-us/powershell/module/teams/connect-microsoftteams?view=teams-ps)
* Content Sou

[2018-03-22 21:56] kenwith commented on #406
This was a test comment. All comments now go to GitHub Issues.

[2018-03-22 21:56] #406 closed

[2018-03-23 17:22] tseward opened #408 "URL Standard for SharePoint On-Prem PoSh"
Is there, or do we want to have one, a URL standard for SharePoint On-Prem PoSh cmdlets? Or use verbiage to express what we are intending. E.g.:

    $wa = Get-SPWebApplicatinon http://webAppUrl

    $site = Get-SPSite http://siteUrl

    $web = Get-SPWeb http://webUrl

Right now URLs are all over the place when looking at the cmdlets.

@Techwriter40

[2018-03-27 10:49] VesaJuvonen opened #503 "SPO cmdlets - Tenant property cmdlet documentation is missing"
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/tenant-properties

**Get-SPOStorageEntity**
Applies to Office 365, SharePoint Online

Syntax Get-SPOStorageEntity [-Site] [-Key]

**Set-SPOStorageEntity**
Applies to Office 365, SharePoint Online

Syntax Set-SPOStorageEntity [-Site] [-Key] [-Value] [-Description] [-Comments]

**Remove-SPOStorageEntity**
Applies to Office 365, SharePoint Online

[2018-03-27 11:09] Djdodo666 opened #504 "Set-PNPWebPermissions"
How do I set permissions for a subsite using O365 groups?
I can get the ObjectID of the group using Get-MsolGroup, but how do I use this information for setting the permissions?
We don't use Sharepoint groups.

[2018-03-28 10:04] YuriySamorodov opened #506 "Set-SPEnterpriseSearchCrawlContentSource -WhatIf Does Not Work"
When running `Set-SPEnterpriseSearchCrawlContentSource `with `WhatIf ` parameter, it does not seem like WhatIf parameter works at all.

![image](https://user-images.githubusercontent.com/5260172/38022653-c4e35012-3288-11e8-80f6-83cd6ac01ee1.png)

Here are the steps to reproduce:

1.  Remove crawl schedule
[code]
2. Check crawl schedule existence (should not return anything)
[code]
3.  Test crawl s

[2018-03-28 11:27] wobba opened #508 "Set-SPOTenant -UserVoiceForFeedbackEnabled:$false seems to have no effect on modern pages"
I ran `Set-SPOTenant -UserVoiceForFeedbackEnabled:$false` on two tenants and nothing changes (checked after 24h).

I would expect the "Feedback" link in the lower right hand corner to disappear when setting this value to false.

![image](https://user-images.githubusercontent.com/51104/38026245-b7e67da0-328b-11e8-8151-1cb1b947e6ad.png)

[2018-03-28 15:27] mrpullen opened #511 "Unregister-SPOHubSite should include a -Force"
Should support a -Force parameter, which would remove a HubSite entry.

I've been playing with the Register-SPOHubSite command, deleted a hub site and recreated at the same URL, but the old "Hub reference" (from Get-SPOHubSite) is still there.

So now if I Register-SPOHubSite I have two results from GEt-SPOHubSite with the same URL, but different HubSiteId and Id values.

The issue seems to be tha

[2018-03-29 17:12] tseward commented on #506
This should likely be reported as a product bug instead of altering the documentation if the switch is indeed not working. Alternatively, if the switch is not intended to function, have it removed from the cmdlet and update the documentation to reflect the switch removal. @Techwriter40

[2018-03-29 17:14] Techwriter40 commented on #506
@tklarsen can you review and submit bug if needed?  thanks

[2018-03-29 17:16] Techwriter40 commented on #506
Trevor, thanks. I have passed to our Search writer who will research and file bug if needed.

[2018-03-30 09:26] NPrice99 opened #520 "Parameters - Permitted Values"
I think it would be very useful if the permitted values for each parameter were listed and what they did.  eg -Handlers a permitted value is PageHandler

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 451dc826-b072-5bcd-e98d-319ee82d73fe
* Version Independent ID: c0c6ad38-e86c-cd0c-ac01-033791404e25
* Content: [Get-PnPP

[2018-03-30 15:14] YuriySamorodov commented on #506
@tseward I guess it is a good practice to enable all adjusting cmdlets (with "Update", "Set","Delete", "Remove" etc verbs) with common parameters (like WhatIf,  Verbose). This is a crucial for scripting guys to have an option to test before deleting something.

Anyway, I feel sorry for the inconvenience. Please feel free to drop my documentation request.

[2018-03-30 17:03] NPrice99 opened #523 "Can you list what OOTB Handlers are available"
Can you please list what OOTB handlers are available and what they do please ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8b1360-5133-03ea-c4de-97d7280ef82c
* Version Independent ID: f7354bf2-01b5-c097-3590-326761cc7f20
* Content: [Apply-PnPProvisioningTemplate (sharepoint-pnp)](https://docs.microsoft.com/en-us/p

[2018-03-30 20:48] kylepdx opened #524 "Image Sizes"
Would be great in the docs where there are images to list the image dimensions.   For example what are the dimensions for the PreviewImage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e58596a8-0429-e115-0dee-c970783ed80f
* Version Independent ID: 7dea06e7-3411-8b9b-8eea-af3cbc4c3f43
* Content: [Add-SPOSiteDesign (sh

[2018-04-02 16:50] Techwriter40 commented on #520
@VesaJuvonen for your review.

[2018-04-02 16:50] Techwriter40 commented on #523
@VesaJuvonen another comment for you (PnP)

[2018-04-02 16:52] Techwriter40 commented on #524
@VesaJuvonen question about SPOSiteDesign

[2018-04-02 18:22] mores opened #540 "LegacyAuthProtocolsEnabled false"
How should one connect when
Set-SPOTenant -LegacyAuthProtocolsEnabled $False

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-57d53d313c6f
* Content: [PnP PowerShell overview](https://docs.microsoft.com/en-us/powershell/sharepoint/shar

[2018-04-02 19:42] kenwith commented on #508
I will check with @VesaJuvonen who we can check with on Product Team. I would expect the Feedback to disappear too.

[2018-04-02 19:48] kenwith commented on #110
@nsshommo is working on some of these issues. This is duplicate of https://github.com/MicrosoftDocs/office-docs-powershell/issues/111 so closing this one out.

[2018-04-02 19:48] #110 closed

[2018-04-02 19:49] nsshommo commented on #110
This issue is also discussed in the following issue:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/111
So, it can be merged with that one.

[2018-04-02 19:49] kenwith commented on #111
@nsshommo - we also need to make sure that when we get the *-CsPlatformServiceSettings cmdlets that we link from the conceptual pages referenced in: https://github.com/MicrosoftDocs/office-docs-powershell/issues/110

[2018-04-02 19:58] Techwriter40 commented on #540
@VesaJuvonen one more PnP cmdlet comment for you .

[2018-04-02 21:28] nsshommo commented on #180
Tracking down the PM on this one. After finding PM we can get this updated.

[2018-04-03 10:09] VesaJuvonen commented on #508
I'm now looking for the internal owner so that we can make this fixed. It clearly seems to be a bug on the modern sites for ignoring this setting. Will come back asap.

[2018-04-03 11:17] wobba commented on #508
@VesaJuvonen feel free to alert the owner of the "Get the mobile app" link as well - wouldn't hurt to hide it.

[2018-04-04 06:55] jvondermans opened #547 "new staffhub cmdlets"
Good to see that there are new cmdlets for Staffhub. I'm missing the explanation in which module I can find these.

https://docs.microsoft.com/nl-nl/powershell/module/staffhub/?view=staffhub-ps

[2018-04-04 13:19] Jimbos10 opened #549 "Powershell MFA"
It would be great if you could provide more native support for MFA in your existing powershell applications such as ISE.

[2018-04-04 16:34] kenwith commented on #547
@praveenkumathalli pushed a commit for these and might be able to give some guidance on module.

@jvondermans  - this is great feedback and thank you for surfacing this question. @nsshommo and I will add some info to the Notes section of these cmdlet references once we hear from @praveenkumathalli  about the module and how to connect.

[2018-04-04 17:33] praveenkumathalli commented on #547
@jvondermans - refer to this page in powershell gallery on how to install the module - https://www.powershellgallery.com/packages/MicrosoftStaffHub/1.0.0-alpha

[2018-04-04 18:49] nsshommo commented on #547
Thanks @jvondermans for giving us your feedback. We are working on this issue.

Thanks @praveenkumathalli  for your quick reply. I am going to add this link in the StuffHub cmdlets.

[2018-04-05 05:52] jvondermans commented on #547
Great, thanks for the quick response!

[2018-04-05 05:52] #547 closed

[2018-04-05 13:18] YuriySamorodov opened #560 "Whatif parameter does not work!"
Whatif parameter does not work. Be careful!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67a1fb9d-8199-7574-276a-d32482fd1f7d
* Version Independent ID: d6d3f5ba-d91b-2968-d6a8-588ec3c65e86
* Content: [Update-SPSolution (sharepoint-server)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/update-sp

[2018-04-05 13:53] ejorczyk opened #561 "This is incomplete."
Example: "Insert Descriptive Text" and "Provide the topic introduction here."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb9af8cd-c307-aff5-db34-b9c3864cc32a
* Version Independent ID: ed904d57-f5db-c145-58af-51959bb4c93c
* Content: [Set-CsOnlineDialInConferencingUserDefaultNumber (skype)](https://docs.microsoft.com

[2018-04-05 15:31] mushieslushie opened #562 "Same Thing as Updating Column?"
Does this just get the 'content' from the 'Wiki Content' column (WikiField) or does this do something else?  Would getting and updating the value of the Wiki Content column result in the same outcome?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dc81e82-9707-dbb6-26f0-c6c1872ca620
* Version Independent ID: fe6c6701-

[2018-04-05 15:59] kenwith commented on #547
The PR is ready to merge. I will just confirm with @praveenkumathalli and then merge these links live. Here is the PR: https://github.com/MicrosoftDocs/office-docs-powershell/pull/552

[2018-04-05 18:00] kenwith commented on #547
Just to close this one out. The PR went live. All the StaffHub cmdlets now have a link at the bottom of the article in the Related Links section to the module in the PowerShell Gallery. Here are all the StaffHub cmdlets: https://docs.microsoft.com/en-us/powershell/module/?term=staffhub

Thanks all!

[2018-04-05 18:06] kellybos opened #565 "Set-RemoteMailbox and the ACLableSyncedObjectEnabled parameter"
Hi,

The ACLableSyncedObjectEnabled parameter is now available to tenants and makes the msExchRecipientDisplayType set to ACLableSyncedMailboxUser when using the New/Enable-RemoteMailbox cmdlets.  When using the parameter with the Set-RemoteMailbox no action is taken on the mailbox.  The following warning is displayed -

WARNING: The command completed successfully but no settings of 'object' have

[2018-04-05 18:09] kellybos opened #566 "ACLableSyncedObjectEnabled is now available to customers"
The ACLableSyncedObjectEnabled parameter now allows customer admins to run the Enable-RemoteMailbox cmdlet and specify the object be an ACLableSyncedMailboxUser.  The documentation should be updated to provide this information for customers. -Kelly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f3d8932-e958-6be5-1dd7-

[2018-04-05 18:10] kellybos opened #567 "ACLableSyncedObjectEnabled"
The ACLableSyncedObjectEnabled parameter now allows customer admins to run the Enable-RemoteMailbox cmdlet and specify the object be an ACLableSyncedMailboxUser.  The documentation should be updated to provide this information for customers. -Kelly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb103c0b-9021-3a77-0bf6-

[2018-04-06 10:05] DGuest44 opened #573 "Correction to New-ClientAccessRule parameters"
In the parameters for the command the -UsernameMatchesAnyOfPatterns states that "This parameter accepts text and the wildcard character (*) (for example, *jeff*, but not jeff*)"

In the summary table at the bottom it states "Accept wildcard characters: False"

One of these statements must be incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-04-06 15:06] tacklers opened #574 "SiteDefinedSharingCapability is a field returned from get-sposite but it's use is not decribed here"
It is set to disabled on all our sites, what is it for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d1c6b2b-5af6-acce-b7e8-bf784bb0973e
* Version Independent ID: 301586d3-ec04-c42d-4681-0bb59443d35c
* Content: [Set-SPOSite (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/Set

[2018-04-06 19:06] DeanGross opened #578 "Clarify group type"
Please state that these are SharePoint groups and not any other type of group. This will help decrease the chance of confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c804225-8b1e-f7e7-3baf-825330eeba9c
* Version Independent ID: 1f2e229b-dbe4-f408-8f6d-a3e18138e3cb
* Content: [Get-PnPGroup (sharepoint-pnp)](ht

[2018-04-06 19:11] DeanGross opened #580 "Add navigation sections/heading to page"
This page is very long, it would be easier to navigate if there were additional headings in the left or right side page navigation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-57d53d313c6f
* Content: [PnP PowerShell overview](http

[2018-04-06 19:30] DeanGross opened #581 "Cmdlet Name"
Should this be called get-PnPUsers with an "s" on the end to indicate that it returns many values?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57ec7ac7-3858-172e-ec9c-ab7c948ae2cf
* Version Independent ID: 3a171d0d-f00d-36fd-44c3-c6bb08222b14
* Content: [Get-PnPUser (sharepoint-pnp)](https://docs.microsoft.com/en-us

[2018-04-06 19:32] #581 closed

[2018-04-06 20:37] nsshommo commented on #573
Thanks @DGuest44 for your feedback. After consulting with @chrisda I am updating this cmdlet now.

Accept wildcard characters will be True for the parameter named -UsernameMatchesAnyOfPatterns.

[2018-04-06 20:53] chrisda commented on #566
Based on this issue and #567, I updated the ACLableSyncedObjectEnabled parameter/switch descriptions in Enable-RemoteMailbox, New-RemoveMailbox, Set-RemoteMailbox, and Set-Organization.

[2018-04-06 20:53] #566 closed

[2018-04-06 20:54] chrisda commented on #567
Based on this issue and #566, I updated the ACLableSyncedObjectEnabled parameter/switch descriptions in Enable-RemoteMailbox, New-RemoveMailbox, Set-RemoteMailbox, and Set-Organization.

[2018-04-06 20:54] #567 closed

[2018-04-06 21:06] #573 closed

[2018-04-07 16:48] tseward opened #588 "New/Set-SPAccessServices* cmdlets need PG attention"
The New- and Set-SPAccessServices* cmdlets need information from the PG. They're not documented in the product help. @Techwriter40

[2018-04-09 18:13] djtrustgod opened #654 "Need for Release Notes: What's Changed"
With each PnP release there is a need for release notes.  Going through source code and pull request to deduce what has changed is not really an option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-57d53d313c6f
* Content: [PnP Powe

[2018-04-09 18:32] kenwith commented on #180
@TroyStarr - might know who we can contact.

[2018-04-09 18:50] nsshommo commented on #654
@VesaJuvonen Please look at this issue.

[2018-04-09 20:38] VesaJuvonen commented on #654
PnP PowerShell changes are always covered in our PnP monthly release notes at https://dev.office.com/blogs/pnp-april-2018-update. We have been including all PnP PowerShell changes in our monthly summary for past 3 years and will keep on doing that also in future. You can always also have a look on the changelog.md file at the repository at https://github.com/SharePoint/PnP-PowerShell/blob/master/C

[2018-04-09 20:38] #654 closed

[2018-04-09 20:51] kenwith commented on #504
Hi @Djdodo666 - for the PNP cmdlets you might have better luck in the github.com/sharepoint community.. I will close this one out but if you find an answer and want to put any content back into the reference docs please go ahead and reopen / submit a pull request. Thanks for the feedback.

[2018-04-09 20:51] #504 closed

[2018-04-09 20:56] nsshommo commented on #578
@DeanGross  - thank you for the feedback. For the PnP cmdlets you can add content by updating the source at github.com/sharepoint.
@VesaJuvonen  can confirm and close this one out. Thanks!

[2018-04-10 06:05] VesaJuvonen commented on #562
Luckily PnP PowerShell is open source, so we can trace back on what this actually does. In short answer is **true**. It provides the Wiki Content column with following steps.

The actual implementation of `Get-PnPWikiPageContent` is in the following location and it uses PnP Sites Core CSOM extension (like all PnP PowerShell cmdlet) - https://github.com/SharePoint/PnP-PowerShell/blob/master/Command

[2018-04-10 06:05] #562 closed

[2018-04-10 06:36] VesaJuvonen commented on #221
Closing as fixed with #222.

[2018-04-10 06:36] #221 closed

[2018-04-10 06:39] vijaynikam opened #661 "I believe this statement is incorrect"
To turn an existing Member into an Owner, first Add-TeamUser -Role Owner -User to add them to the owners list, then Remove-TeamUser -User foo to remove them from the members list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da0c53f2-1c62-14f6-6371-f54bf86b0c24
* Version Independent ID: aac162db-a9c0-fbfb-dd40-526e94

[2018-04-10 07:48] wobba opened #662 "Cannot run Unregister-SPOHubSite on a deleted site"
I created a bunch of sites in my dev tenant and registered them as hub sites. I then deleted the sites without unregistering them. I also cleaned them out from my recycle bin.

The sites still list as hub sites with `Get-SPOHubSite`, and if I run `Unregister-SPOHubSite` on the sites, the call fails.

Seems to me you either should not be able to delete a hub site, or that it should also unregister

[2018-04-10 12:05] erwinvanhunen commented on #578
Good one @DeanGross : fixed by this PR: https://github.com/SharePoint/PnP-PowerShell/pull/1511

[2018-04-10 16:25] VShrubowich opened #665 "Clarify why there are three sets of parameters in the Syntax section"
Please clarify what each of the three sets of parameters in the Syntax section is for.  Are they for Exchange Server 2010, Exchange Server 2013, and Exchange Server 2016, respectively?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf5b0c5d-0466-d55a-1f7b-0b2d25a316fd
* Version Independent ID: 07b0c093-eb6b-4834-3cd4-d

[2018-04-10 17:02] chrisda commented on #665
@VShrubowich, a cmdlet reference topic for any product will have multiple Syntax blocks due to the presence of mutually exclusive parameters on the cmdlet (parameters that's can't be used together in the same command). This is (hopefully) explained in the topic https://docs.microsoft.com/en-us/powershell/exchange/exchange-server/exchange-cmdlet-syntax that's linked to from the Synopsis section. An

[2018-04-10 17:02] #665 closed

[2018-04-10 17:24] VesaJuvonen commented on #578
Needed changes have been applied. We'll get the docs updated with the next release. Closing as a fixed issue.

[2018-04-10 17:24] #578 closed

[2018-04-10 18:41] nsshommo commented on #561
@ejorczyk Thanks for letting us know.

@islubin Can you guide me on this one?

[2018-04-10 18:59] nsshommo commented on #661
@vijaynikam Thanks for your valuable feedback.

@SamCosby Can you let me know how the article can be updated.

[2018-04-11 06:16] VesaJuvonen commented on #662
This is a known issue in the underlying hub API logic, which will be addressed in upcoming releases. Closing this one from here and we can track this with the SharePoint/sp-dev-docs#1621 issue

[2018-04-11 06:16] #662 closed

[2018-04-11 19:19] kumaarrahul opened #669 "Example missing"
The example is missing. Please update the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 307f4f37-0c59-8ec0-9846-cbe773f1cbaa
* Version Independent ID: e6816f67-00d9-7960-61ee-c45922e0bb94
* Content: [Grant-CsCallingLineIdentity (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/grant-cscallingline

[2018-04-11 20:44] chrisda commented on #565
@dstrome, can you locate a hybrid person who can answer this question?

[2018-04-12 13:28] monsterapp opened #676 "Navigation?"
I am looking for Add-PnPNavigationNode but it appears to have been removed. Is there some reason for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-57d53d313c6f
* Content: [PnP PowerShell overview](https://docs.microsoft.com/en

[2018-04-12 13:31] #676 closed

[2018-04-12 13:46] monsterapp opened #677 "Header"
Can you clarify how to add a header with this command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce02f005-8ecf-69cf-6d4d-49d325056725
* Version Independent ID: eaf106fc-2d67-d98d-b276-e17045277b55
* Content: [Add-PnPNavigationNode (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/

[2018-04-12 15:51] kenwith opened #678 "Remove Set-CsTeamsInteropPolicy and New-CsTeamsInteropPolicy and update others."
The Set-CsTeamsInteropPolicy and New-CsTeamsInteropPolicy should be removed and the Grant, Remove, and Get should be updated with the following:

Also, we should update the remaining cmdlet topics for InteropPolicy to indicate that these are legacy cmdlets that will be retired. Furthermore:
•	These cmdlets will be replaced by TeamsUpgradePolicy, but during the transition they must still be used, i

[2018-04-12 15:57] kenwith commented on #678
Removed the Set-CsTeamsInteropPolicy and New-CsTeamsInteropPolicy. @nsshommo  working on a PR to update the others as per PM. CC @arachmanGitHub

[2018-04-12 16:42] nsshommo commented on #678
I am working on it.

[2018-04-12 19:48] DeanGross opened #681 "Parameter description Typo"
The description of the  -AGName param states "are being added", it should be "are being removed"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91e233cd-fcb2-61f7-497f-892750b8d911
* Version Independent ID: 4d8addc0-298a-e79d-6f20-c93dd7e4c1b6
* Content: [Remove-DatabaseFromAvailabilityGroup (sharepoint-server)](https:

[2018-04-13 17:51] jdubyaeber opened #684 "this article is incomplete. not even a basic example. :("
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84a95f70-92ee-66e8-2cde-0d5b8551eb1e
* Version Independent ID: ab492b33-0d4e-778a-814a-ec7d7d918cf6
* Content: [Get-CsExternalUserCommunicationPolicy (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/get-csexternalusercommunicationpoli

[2018-04-13 21:13] kenwith commented on #678
Saw this is live now! Thanks @nsshommo  and @arachmanGitHub .

Here are links:

https://docs.microsoft.com/en-us/powershell/module/skype/get-csteamsinteroppolicy?view=skype-ps
https://docs.microsoft.com/en-us/powershell/module/skype/remove-csteamsinteroppolicy?view=skype-ps
https://docs.microsoft.com/en-us/powershell/module/skype/grant-csteamsinteroppolicy?view=skype-ps

Closing this issue out.

[2018-04-13 21:13] #678 closed

[2018-04-13 21:15] kenwith commented on #684
@arachmanGitHub or @islubin  - do you know who could help @nsshommo with filling in the content?

[2018-04-13 21:17] kenwith commented on #661
@islubin might be able to provide guidance on the question too.

[2018-04-14 00:33] YuriySamorodov opened #688 "Poor Performance"
Iunderstand what happens behind the scenes when running Update-SPProfilePhotoStore and generating 3 files for each user in the store takes time. However, could you please advise if there any way to speed up Update-SPProfilePhotoStore or what may affect its performance? I have tried to run this cmdlet  after updating 3 users only as well as having "NoDelete" set to true.
The performance appears to

[2018-04-14 07:48] djtrustgod commented on #654
Thanks @VesaJuvonen

[2018-04-14 17:05] btibbet opened #689 "Set-PnPList needs to manipulate all Advanced List Settings"
I have a situation where I need to go into multiple site collections and change an advanced list setting (Quick Property Editing) in all subsites on the site.  I can successfully iterate through all the lists on each subsite, but there doesn't seem to be any way to manipulate the setting.

[2018-04-14 22:58] alorman commented on #561
Seriously, please finish the example, at least!

[2018-04-14 23:08] nsshommo commented on #561
@alorman Thanks for stopping by. It is under procedure.

[2018-04-14 23:17] nsshommo commented on #689
@btibbet Thanks for your suggestion.
@VesaJuvonen Could you please let me know who can answer this one?

[2018-04-14 23:23] alorman opened #747 "More info on this would also be good"
Even just example code would be  helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc910c40-6577-8d7b-476c-1234e836706c
* Version Independent ID: ab8f028f-d0f6-25c0-98d0-7f24806744dc
* Content: [Unregister-CsOnlineDialInConferencingServiceNumber (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/unr

[2018-04-14 23:34] nsshommo commented on #669
@kumaarrahul Thanks for letting us know. It is under processing and soon be updated.

[2018-04-14 23:53] nsshommo commented on #684
@jdubyaeber Thanks for your suggestion. We are working on this.

[2018-04-15 00:03] nsshommo commented on #747
@alorman Thanks for your feedback. It will be added soon.

@kenwith Do you know who can help me on this?

[2018-04-15 00:11] nsshommo commented on #235
@tomresing Thanks for your feedback. We are working on this.

[2018-04-15 18:01] tseward commented on #681
Submitted #757 for this.

[2018-04-16 10:00] Panzerbjrn opened #758 ""BypassScopeCheck" doesn't exist?"
I am trying to use Get-InboxRule on Exhange 2010, and the BypassScopeCheck paramater doesn't exist. I get this error:
A parameter cannot be found that matches parameter name 'BypassScopeCheck'.
    + CategoryInfo          : InvalidArgument: (:) [Get-InboxRule], ParameterBindingException
    + FullyQualifiedErrorId : NamedParameterNotFound,Get-InboxRule
    + PSComputerName        : exchange2.corpo

[2018-04-16 10:30] m600ant opened #759 "Mistake in Example 1"
Example 1 states " Get-ActiveSyncDeviceStatistics -Identity TonySmith "  This is incorrect as the -identity parameter is for the <ActiveSyncDeviceIdParameter> not the user,   it should be  Get-ActiveSyncDeviceStatistics -mailbox TonySmith

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e9d90b2-695e-59b0-92c2-ab9bcf43a7

[2018-04-16 12:02] nsshommo commented on #759
@m600ant Thanks for letting us know.

@chrisda Can you please confirm me so I can update this one?

[2018-04-16 12:04] nsshommo commented on #758
@Panzerbjrn Thanks for your valuable feedback. We are working on this.

@chrisda Do you know who can help me on this?

[2018-04-16 12:21] FadJee opened #760 "the example section is empty"
can you please review the example section as it is empty

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8cb1ce3-02eb-3219-cfbd-c2ee9e686ec3
* Version Independent ID: 76cbff88-ed92-b07a-4242-78e6d21eb1b2
* Content: [Remove-SPDistributedCacheServiceInstance (sharepoint-server)](https://docs.microsoft.com/en-us/powershel

[2018-04-16 12:28] islubin commented on #661
@kenwith there should be no need to remove the user from the member list - a user can be part of both the member and the owner list.

[2018-04-16 15:01] Neeraj-6596 opened #773 "Update the link for country code"
Link does not work - http://go.microsoft.com/fwlink/?LinkId=615951

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b243c23-4c18-7a05-4856-1fad04318204
* Version Independent ID: 56bd83d2-caf0-5e0c-1963-2e5b87810e9a
* Content: [Search-CsOnlineTelephoneNumberInventory (skype)](https://docs.microsoft.com/en-us/powershell/m

[2018-04-16 17:11] Techwriter40 commented on #681
@bentoncity  Steve, who on the SQL Team can you ask about this parameter?

[2018-04-16 17:25] chrisda commented on #758
@Panzerbjrn, the Exchange cmdlet reference topics are now single-sourced between Exchange 2010, 2013, 2016, Exchange Online, Exchange Online Protection, and Security & Compliance Center, you'll need to check the 'Applicable' property value on the parameter.

In this case, the BypassScopeCheck parameter is described as being applicable to Exchange 2016 and Exchange Online in the GitHub topic, and i

[2018-04-16 17:25] #758 closed

[2018-04-16 17:31] nsshommo commented on #773
@Neeraj-6596 Thanks for letting us know. We are working on this.

[2018-04-16 20:00] chrisda commented on #759
Fixed

[2018-04-16 20:00] #759 closed

[2018-04-16 20:05] nsshommo commented on #759
Thanks.

On Tue, Apr 17, 2018 at 2:00 AM, Chris Davis <notifications@github.com>
wrote:

[2018-04-16 20:23] jeremy-berry opened #815 "-AutoMapping default value confusion"
The -AutoMapping parameter states in the description that the default value is $true, but states 'None' in the properties table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb509e0a-2371-d5b8-6462-c0f29e6c8152
* Version Independent ID: b8fdd337-395d-0c42-4ff1-9a0969a9d578
* Content: [Add-MailboxPermission (exchange)

[2018-04-16 21:17] chrisda commented on #815
Fixed

[2018-04-16 21:17] #815 closed

[2018-04-17 14:37] simoniscasesensitive opened #817 "New-SPOSiteGroup arguments"
I appreciate the presence of a dedicated PowerShellcmdlet for this purpose, but dislike a few things about it.

-PermissionLevel shouldn't be a required property, I almost always create groups without permission to the root of a Site Collection, and use them later to assign access to a specific resource. Creating them and granting them a made-up near-zero permission is mucky.
- I need to be able t

[2018-04-18 02:30] heidihendry opened #818 "EO cmdlet list needed"
I cam here looking for a list of Exchange Online cmdlets. I've clicked on various links but I keep going around in circles. Is there a List of Exchange Online cmdlets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceeb00d4-65da-0ea5-8089-f16a2f348eb7
* Version Independent ID: 0f4286f0-13dc-0f83-3943-4c51fd715f94
* Con

[2018-04-18 08:57] naminakao opened #819 "New-DistributionGroup should applies to ExO as well."
"Applies to" section of New-DistributionGroup page does not have Exchange Online. I think New-DistributionGroup is available for Exchange Online too.

Page Title: New-DistributionGroup
URL: https://docs.microsoft.com/en-us/powershell/module/exchange/users-and-groups/New-DistributionGroup?view=exchange-ps

[2018-04-18 15:26] nsshommo commented on #818
@heidihendry Thanks for letting us know your query. Very soon you will have your answer.

@chrisda Do you know who can help on this one?

[2018-04-18 15:29] nsshommo commented on #819
@naminakao Thanks for your feedback. We are working on this and will let you know update very soon.

@Chrisda Do you know who can help me on this one?

[2018-04-18 15:42] nsshommo commented on #817
@simoniscasesensitive Thanks for your feedback.

[2018-04-18 16:29] chrisda commented on #818
@heidihendry, we realize the current presentation of all Exchange-related cmdlets jammed together isn't ideal. We're working on a filtering method so when you arrive at https://docs.microsoft.com/powershell/exchange/ and select a workload (for example, Exchange Online), you'll only see the cmdlet topics and procedures that are related to that workload. We hope to have that working soon.

[2018-04-18 16:29] #818 closed

[2018-04-18 16:35] robertcaretta opened #821 "Add-PnpJavascript Enhancement Request"
Would it be possible to add an additional scope to these two commands so javascript could be injected into a single web page?  Add-PnPJavaScriptLink; Add-PnPJavaScriptLink

[2018-04-18 17:54] nsshommo commented on #821
@robertcaretta Thanks for your question. We will get back with your answer very soon.

[2018-04-18 20:51] chrisda commented on #819
There appears to be a problem displaying the 'applicable' (topic) and 'Applicable' (parameter) values for 'Exchange Online' and 'Office 365 Security & Compliance Center'. The values are in the topics on GitHub, but they aren't displayed on docs.microsoft.com. We're looking into it.

[2018-04-19 06:06] VesaJuvonen commented on #821
We do understand the business scenario behind of this request, but this is unfortunately not possible as these cmdlets add JavaScript to Web.UserCustomAction or Site.UserCustomActions collections depending on the defined scope. There's no similar collection in the page level, which could be used to identify the JavaScript file only to be rendered in a single page. You can, however, add simple if s

[2018-04-19 06:06] #821 closed

[2018-04-19 09:05] simoniscasesensitive commented on #817
This is what I'm doing in CSOM right now, I think we can agree it'd be much easier if this was a switch on a standard CMDlet!
`
#Create new Group
$NewGroup = New-Object Microsoft.SharePoint.Client.GroupCreationInformation
$NewGroup.Title = $GroupName
$NewGroup.Description = $DescriptionText
$Group = $clientContext.web.SiteGroups.Add($NewGroup)
$clientContext.ExecuteQuery()

write-host  -f Green "U

[2018-04-20 01:57] repton-infinity opened #827 "Please use normal hyphens so ctrl-F works"
I can't use CTRL-F to search for, e.g. "Get-PnPListItem" because the page uses non-breaking hyphens, which are not the same as produced by the hyphen key on the keyboard. If the command names used normal hyphens, it would be easier to jump directly to the documentation I am looking for.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-04-20 08:52] skille opened #828 "Missing documentation for BackgroundImage parameter"
Set-OMEConfiguration –Identity <OMEConfigurationIdParameter> –BackgroundColor "<Hexadecimal color code>"

Example:
Set-OMEConfiguration -Identity "OME Configuration" -BackgroundColor "#ffffff"

Example reverting back to default:
Set-OMEConfiguration -Identity "OME configuration" -BackgroundColor $null

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-04-20 09:36] lalitm14 opened #829 "calendar future publish duration"
how to publish calendar longer hen 1 year in future from the current date?

[2018-04-20 17:00] chrisda commented on #828
@skille, I added the missing BackgroundColor parameter to the topic. Thanks.

[2018-04-20 17:00] #828 closed

[2018-04-20 19:35] DeanGross opened #831 "weblogin parameter"
It would be helpful if the -useweblogin parameter discussion mentioned that this needed when Multi Factor authentication is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f910a5c-5883-6394-19a3-4cf1670c431f
* Version Independent ID: 4451fe4c-df86-34a8-0db0-46a47e70b5a5
* Content: [Connect-PnPOnline (sharepoi

[2018-04-20 19:37] DeanGross opened #832 "ReturnConnection example"
It would be helpful is there was an example showing how the ReturnConnection optional parameter can be used

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f910a5c-5883-6394-19a3-4cf1670c431f
* Version Independent ID: 4451fe4c-df86-34a8-0db0-46a47e70b5a5
* Content: [Connect-PnPOnline (sharepoint-pnp)](https://docs.micr

[2018-04-20 20:15] michaelblumenthal opened #833 "Please clarify how long this process takes"
I've tried this cmdlet, and it executes successfully, but I don't see the cross-site navigation appear.  I understand from reading this article http://sympmarc.com/2018/03/28/office-365-hub-sites-are-here-a-few-tips/ that it could take 2 hours for the changes to appear.  It would be great to mention that in this document. Also, it would be helpful to explicitly say what the UX changes are, even if

[2018-04-22 10:41] nsshommo commented on #829
@lalitm14 Thanks for your query. We will get back with your answer very soon.

[2018-04-22 10:43] nsshommo commented on #831
@DeanGross Thanks for your comment. We are looking into this matter and will let you know what we can do about it.

[2018-04-22 10:44] nsshommo commented on #832
@DeanGross Thanks for your suggestion. We are working on this.

[2018-04-22 11:08] nsshommo commented on #833
@michaelblumenthal Thanks for your valuable feedback. We are looking into this matter.

[2018-04-23 04:55] ahammadah opened #901 "Verify your code"
I quoted your code in the second Example above and embedded the part: -Permanent $true in one of my commands, and it kept throwing an error till I figured out it should be -Permanent:$true
I should've not blindly copy pasted the code from here..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c2fcd6e-73de-a00c-0296-5db

[2018-04-23 10:13] nsshommo commented on #901
@ahammadah Thanks for letting us know. We are working to update this example.

@chrisda Can you please check Example 2?

[2018-04-23 11:04] HTEredrock opened #904 "Update Example 1"
Example should read `Add-PnPTenantCdnOrigin -OriginUrl /sites/site/subfolder -CdnType Public`
And not `Add-PnPTenantCdnOrigin -Url /sites/site/subfolder -CdnType Public`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3b6781-410b-bdc8-0e8e-fa67a0569cf2
* Version Independent ID: d1abc1ba-6432-79d7-8365-855ad11ea1a7
* C

[2018-04-23 15:46] nsshommo commented on #561
@Oscar Ruiz Garcia Can you help me filling this up?

[2018-04-23 17:06] Techwriter40 commented on #833
@VesaJuvonen a PnP cmdlet for review .

[2018-04-23 17:16] kenwith commented on #773
@tonysmit is helping us track this down and we will get this fixed. Thanks for reporting @Neeraj-6596 ! @nsshommo - we might just be able to update the fwlink to point to the right location or we might need a pull request if there are changes to the docs. Thanks for follow through!

[2018-04-23 17:25] chrisda commented on #901
@ahammadah, @nsshommo, I confirmed that the Permanent parameter on Remove-Mailbox is, in fact, Boolean ($true or $false) as described. I tested a command on a 2010 and 2016 server that contained "-Permanent $true" and "-Permanent $false" and they both worked without error for me.

Are you using the command as part of a script or reading a value from a text or CSV file? I found [this issue](https:/

[2018-04-23 17:31] kenwith commented on #901
@nsshommo - this is really great info from @chrisda. Would you capture it in a PR to the Notes section of the cmdlet and ask Chris to review. This would be a great use case for open source and transparent system really improving the experience.

[2018-04-23 17:40] egor-yudkin opened #906 "Add-SPShellAdmin grants dbo_owner role???"
In the description section there is the following statement:
"However, the result of running this cmdlet is that the user specified with the UserName parameter will have the dbo_owner role access on the affected databases as described above. Therefore, you should carefully plan which users are given this access."
I don't think this statement is correct, at least for SharePoint 2013. After running

[2018-04-23 17:48] kenwith commented on #661
@vijaynikam - can you confirm if you can add the role of Owner without first removing? It should work so if it doesn't we will need to track down if there is a bug. Thank you @islubin for your guidance!

[2018-04-23 19:51] curspice opened #907 "Poor Examples"
The documentation doesn't include an example for the use of the most commonly used parameter in my experience, X509CertificateName.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82e2b003-51ed-8624-07d8-e30d6ebc6c8e
* Version Independent ID: 246383d8-41d0-1c15-0233-c10778e28dd5
* Content: [Set-ImapSettings (exchange)](

[2018-04-23 20:18] schittli opened #908 "Why is the M$$ Docs since some years always incomplete??"
Good evening
It's really annoying that the expensive M$$ Product Documentation is much worse than Open Source Products.
Is this the reason why M$$ itself is moving to Linux for IoT? That's great!, we're replacing M$ products, too.

Until then, we pay for Software and expect complete Docs as you had 10 years ago.
And no, we are not interested to write your Docs ourself.

Here, of course, the counte

[2018-04-24 08:13] shivask opened #910 "Wrong parameter in example 2"
Parameter in the example 2 is incorrect. Please change "-Identity" to "-InstanceId"
Get-PnPClientSideComponent -Page Home -InstanceId a2875399-d6ff-43a0-96da-be6ae5875f82

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 957300cf-4822-f1e7-5428-454b300e7984
* Version Independent ID: 0adb9dbb-262a-2999-d013-ba750e2321a1
*

[2018-04-24 11:00] nsshommo commented on #907
@curspice Thanks for your suggestion. We will think about it.

@chrisda Can you help me on this one?

[2018-04-24 11:06] nsshommo commented on #908
@schittli Thanks for your query. We will get back to you soon.

@chrisda Can you help or point me to someone who can help on this one?

[2018-04-24 11:10] nsshommo commented on #906
@egor-yudkin Thanks for your valuable comment. We are working to update as necessary.

[2018-04-24 11:12] nsshommo commented on #910
@shivask Thanks for the good catch. We are working to update as necessary.

[2018-04-24 11:26] schittli commented on #908
@nsshommo Thank you for your answer.

In Enable-ExchangeCertificate there is just a missing link to Get-ExchangeCertificate, which will answer the question about assigned Services.

I still hope that Microsoft itself will start fixing their issues, it seems that there are volunteers working on products that Microsoft sells for a lot of money. Yes: PowerShell is one of them. Without PowerShell, Mic

[2018-04-24 14:05] thomyg opened #911 "Information about "configuration pending""
Would be good to add an information about the async behaviour of the Cmdlet and what to expect in terms of duration. Get-PnPTenantOrigin lists the newly added as "configuration pending" but would be nice to get a heads-up in this here in the documentation upfront. Something like "Once you've run the command, the system synchronizes the configuration across the datacenter. This takes 15 minutes." l

[2018-04-24 17:04] kenwith commented on #908
@schittli thank you for your critical feedback. My intention with open sourcing the PowerShell references wasn't to have others write the content but to become more open and transparent. This is a perfect case in that you were able to raise the issue with us and we can find a subject matter expert to get this fixed. I still shudder to think of how the processed flowed with issues like the one you

[2018-04-24 17:30] chrisda commented on #907
@curspice, I added a 5th example that uses X509CertificateName. I also added a similar example to Set-PopSettings. If you would like to improve the example, feel free to edit it. Thanks for the feedback.

[2018-04-24 17:30] #907 closed

[2018-04-24 17:42] chrisda commented on #908
@schittli, I added a sentence and link in the Synopsis for Get-ExchangeCertificate. Thanks for the feedback.

[2018-04-24 17:42] #908 closed

[2018-04-24 17:47] nsshommo commented on #911
@thomyg Thanks for your valuable comment. We will try to update as necessary.

[2018-04-24 17:55] tseward commented on #906
We need to be clear on this one. The cmdlet has two behaviors. If the SPDataAccess role exists, it uses that. If it *does not* exist, it indeed does add the user to db_owner.

[2018-04-24 17:57] Techwriter40 commented on #906
@tseward Trevor what needs to be changed in this sentence then?? thanks

 "However, the result of running this cmdlet is that the user specified with the UserName parameter will have the dbo_owner role access on the affected databases as described above. Therefore, you should carefully plan which users are given this access."

[2018-04-24 17:59] tseward commented on #906
@Techwriter40 I might phrase it like this:

"However, the result of running this cmdlet is that the user specified with the UserName parameter will have the SPDataAccess role, if it exists, or db_owner role, if the SPDataAccess role does not exist, on the affected databases as described above. Therefore, you should carefully plan which users are given this access."

[2018-04-24 18:06] #906 closed

[2018-04-24 18:22] tommymaynard opened #912 "Connect-SPOService AuthenticationUrl and ClientTag Parameters"
Both the AuthenticationUrl and ClientTag parameters for Connect-SPOService include an indication that their respective descriptions should be filled in. This really should happen, as there's questions from teammates about the difference between the AuthenticationUrl and the Url parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-04-24 19:50] DeanGross opened #914 "Difference between this an Get-PnPContext"
What is the difference between Get-PnPConnection and Get-PnPContext. The instructions above are not clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726aca9d-6df0-6691-bc00-f913ebee663f
* Version Independent ID: 34f7d6c0-930b-c46a-f1e1-1b8719a38991
* Content: [Get-PnPConnection (sharepoint-pnp)](https://docs.micro

[2018-04-24 19:57] nsshommo commented on #912
@tommymaynard Thanks for your query. We are looking into this matter.

[2018-04-24 21:17] kenwith commented on #661
@vijaynikam - closing this one out based on information for @islubin . If you are experiencing different behavior than expected feel free to reopen this one and I can work with you to troubleshoot and figure out how we can submit a bug to the product team. Thanks for taking the time to submit feedback!

[2018-04-24 21:17] #661 closed

[2018-04-24 22:46] kenwith commented on #747
@tonysmit or @islubin  - do you happen to know who owns the *-CsOnlineDialInConferencingServiceNumber?

[2018-04-24 22:56] islubin commented on #747
Oscar, as part of the side thread I spun up with him.

From: Ken Withee <notifications@github.com>
Sent: Tuesday, April 24, 2018 3:47 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Isabella Lubin <islubin@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] More info on this would also be good (#747)

[2018-04-24 23:00] kenwith commented on #161
@W1ll1amz - I haven't made any progress on this one. What are your thoughts? Should we keep searching or do you have a solution?

[2018-04-24 23:01] kenwith commented on #561
https://github.com/MicrosoftDocs/office-docs-powershell/issues/747

[2018-04-24 23:02] kenwith commented on #747
Relates to: https://github.com/MicrosoftDocs/office-docs-powershell/issues/561

[2018-04-25 01:02] tonysmit commented on #747
Adding Oscar.

Sent with only my thumbs.
________________________________
From: Ken Withee <notifications@github.com>
Sent: Tuesday, April 24, 2018 4:02:28 PM
To: MicrosoftDocs/office-docs-powershell
Cc: Tony Smith; Mention
Subject: Re: [MicrosoftDocs/office-docs-powershell] More info on this would also be good (#747)

Relates to: #561<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F

[2018-04-25 11:39] GrabASalad opened #918 "Examples of the -page and -pagesize functions"
Hi All,
please could we have some examples specifically around the handling of large record sets? my attempts at using the -page function always return 0 results even when using -pagesize is working as expected. plainly i have the syntax wrong so an example would be beneficial to me at least.

cheers
GrabASalad

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-04-25 11:49] muges01 opened #919 "SharePoint Online Powershell - Root element missing error when run Connect-SPOService command"
Hi Everyone,

I have newly installed SharePoint Online Management Shell (SharePointOnlineManagementShell_7521-1200_x64_en-us) on a windows 10 machine.

When i tried to run the 'Connect-SPOService -Url $adminUrl -Credential $credentials' I'm getting 'Root element is missing' error.

![image](https://user-images.githubusercontent.com/22563887/39243956-a887d286-48c1-11e8-80eb-cce6a0eab3d5.png)

## Ex

[2018-04-25 12:42] FBrownMSFT opened #920 "Get-SupervisoryReviewPolicyReport output field definitions"
We should include an example of the output of report cmdlets and a definition of terms in the output.  Without definitions of these terms, customers do not understand what these are and this generates a call to CSS.

For example in the SupervisoryReviewPolicy report, what does Tag Type mean?  Tag Types returned in the report are: Compliant, Non-Compliant, Questionable, Resolved, HitPolicy, InPurvi

[2018-04-25 14:02] jeremytbrun opened #921 "Programmatically download module"
Why can't this module be put in the PowerShell Gallery or be made available to pull down programmatically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34fa66b0d268
* Content: [Connect to Exchange Online PowerShell using multi-fact

[2018-04-25 15:09] W1ll1amz commented on #161
Hi Ken,

I hope you're ready for this, as I've been busy! (*draws breath*):

Results for Client #1
---------------------
1. EV Users Homed in SfBO

I use:

(Get-CsOnlineUser -Resultsize Unlimited -WarningAction silentlyContinue | Where-Object {($_.EnterpriseVoiceEnabled  -eq $true –or $_.OnPremEnterpriseVoiceEnabled -eq $true) -and ($_.HostingProvider -match “sipfed.online.lync.com” -or $_.OnPremH

[2018-04-25 15:34] nsshommo commented on #921
@jeremytbrun Thanks for your query. You will get your answer very soon.

@Chrisda Can you help on this one?

[2018-04-25 15:36] nsshommo commented on #920
@FBrownMSFT Thanks for your feedback. We are working on this.

@chrisda Can you help me closing this one?

[2018-04-25 15:38] nsshommo commented on #919
@muges01 Thanks for letting us know your query. We are looking into this matter and will get back to you very soon.

[2018-04-25 15:40] nsshommo commented on #918
@GrabASalad Thanks for your valuable feedback. We are working on this.

@chrisda Can you please check this issue?

[2018-04-25 16:32] alorman commented on #747
All;
Here's an example code that MSFT support forwarded to me.
https://answers.microsoft.com/en-us/msoffice/forum/msoffice_o365admin-mso_sfbonline-mso_o365b/skype-for-business-admin-center-unassign-service/854f2f96-9f98-4fa4-951d-514f8e2df0ad

It worked for me, providing that I logged into the cmdlet with the procedure for two factor, found here:
https://blogs.technet.microsoft.com/solutions_advis

[2018-04-25 17:35] chrisda commented on #819
@naminakao, this issue has been fixed for all Exchange cmdlet reference topics. Thanks for your feedback.

[2018-04-25 17:35] #819 closed

[2018-04-25 21:45] curspice opened #924 "Examples are wrong."
Example 3 is redundant with Example 1.  All examples are invalid in that the -Identity must be the FQDN, and the examples don't show an FQDN, such as "casarray.contoso.org".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bb3c2ae-13eb-e223-4d3e-a5fb5e35a037
* Version Independent ID: 6b4a983d-0183-3409-2f02-2636cce76bc9

[2018-04-26 01:02] chrisda commented on #924
@curspice, I did some testing on a 2010 SP3 RU20 server. What I found is: the Name value does work as an identifier for Get/Set/Remove-ClientAccessArray, _but only if the value doesn't contain spaces_. If the name contains spaces, you get an error saying the name is not a valid value for the identity. I tested these other identifier values, and they all worked: ExchangeLegacyDN, FQDN, Distinguishe

[2018-04-26 01:02] #924 closed

[2018-04-26 08:56] ykuijs opened #927 "Incorrect descriptions for two parameters"
The parameters ConnectionFilterOutUnlicensed and ConnectionUseDisabledFilter have incorrect descriptions:
{{Fill ConnectionFilterOutUnlicensed Description}}
instead of the actual description.

Can this be corrected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2a9f9ba-dbaf-8b0f-04a6-ec103816d049
* Version Independen

[2018-04-26 12:51] jmppwsh commented on #921
In the same vein as the initial request, if it gets added to the PS Gallery, it would be fantastic to see in the Azure Automation module gallery as well, with support to run from there against the Exchange tenant (even on accounts with MFA).  Would love to be able to use Azure for some automation.  Later on maybe even partner account support for running against many tenants.

[2018-04-26 14:49] jeremytbrun opened #929 "Your product feedback button links back to the documentation feedback GitHub repo."
It seems like your product feedback button should link to a feedback portal for the Exchange PowerShell modules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5d47105-b32e-f0f8-3e71-db411c6abe7c
* Version Independent ID: 338beb1b-1f13-0a77-9ac3-1c4fe542b612
* Content: [Search-UnifiedAuditLog (exchange)](https://docs.

[2018-04-26 17:11] kenwith commented on #929
@jeremytbrun - thanks for taking the time to provide feedback. This is by design as the product teams are opening up as well and taking feedback directly on this GitHub repo. A lot of times the lines are blurred about what is 'product feedback' and what is 'article feedback'. A lot, maybe most, of the time a product feedback is really about how an example is phrased or put together in an article a

[2018-04-26 17:11] #929 closed

[2018-04-26 17:41] kenwith commented on #747
@alorman - this is really great info. Would you want to add the examples that support provided a Pull Request so you get ['contributor'](https://github.com/MicrosoftDocs/office-docs-powershell/graphs/contributors) credit or should @nsshommo go ahead and add those and add Related Links to the items you provided?

[2018-04-26 18:12] jeremytbrun commented on #929
I appreciate the clarification. It makes sense the way you describe it. It just initially seemed inconsistent with the wording I had seen elsewhere around the new documentation experience. I've sent my question via a service request through our support contract. Thanks!

[2018-04-26 18:32] kenwith commented on #929
@jeremytbrun - that is great to also send through service request too. Also, the reference docs here are now open source so if you are interested to make any contributions or edits just let me know and I can provide guidance. I created a README on the main repo page and am always open to help however I can too. My goal is to open things up so the rest of the community can capture and benefit from

[2018-04-26 19:39] nsshommo commented on #773
Submitted PR on this one. Trying to find similar articles.

[2018-04-26 22:27] kenwith commented on #773
@nsshommo - merged https://github.com/MicrosoftDocs/office-docs-powershell/pull/932 and closing this one until we can get link resolved.

[2018-04-26 22:27] #773 closed

[2018-04-27 16:45] bmarcos81 opened #940 "Script tag isn't needed"
Script tag isn't needed and breaks the page rendering.
I tested it in SPO with a modern team site with NoScript disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22b9cc6f-64ae-6848-7249-222a5ece3997
* Version Independent ID: cee9a1dc-e067-b90b-675c-6a7d56865068
* Content: [Add-PnPJavaScriptBlock (sharepoint-pnp)

[2018-04-27 16:52] nsshommo commented on #940
@bmarcos81 Thanks for letting us know. We are working on this.

[2018-04-27 18:57] JoeAlanis opened #941 "-Path variable"
states: C:\Inutepub\wwwroot\MyWebApplication;
probably meant: C:\inetpub\wwwroot\MyWebApplication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6316f255-a35c-8a88-2459-bdf8dd0a3787
* Version Independent ID: fdbaf4a2-51b1-7e63-4b15-48327f1c8915
* Content: [New-SPWebApplication (sharepoint-server)](https://docs.microsof

[2018-04-27 19:17] robertcaretta opened #942 "Feature Request -- Add-PnpSiteColumnToList"
Please forgive me is this is covered in the current set of commands, however I could not find the exact command I was looking for.

I would like to be able to apply a site column to a document library WITHOUT using custom content types. The site column I would like to apply is of type "Managed Metadata".

Why? The reason I am shying away from the content types is because once you activate custom c

[2018-04-27 19:37] Techwriter40 commented on #941
this has been updated. thanks for the catch!!!

[2018-04-27 19:37] #941 closed

[2018-04-27 20:04] chrisweis opened #944 ""Exchange" link at top is a 404"
The link is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b640892-b0a1-4f20-1e25-fe5f0e97f5b6
* Version Independent ID: 51774b36-90fa-1d9a-5800-1a54d9f70590
* Content: [Get-Mailbox (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/get-mailbox?view=exchange-ps#feedback)
* Content

[2018-04-27 21:43] robertcaretta commented on #942
I think I figured it out??
$field1 = Get-PnPField -Identity "MyCustomSiteColumn";
Add-PnPField -List "TEST" -Field $field1;

[2018-04-27 23:15] chrisda commented on #944
@chrisweis, currently, all Exchange cmdlet reference topics are grouped together under a single 'Exchange' moniker. That may or may not change, but we're definitely working on a mechanism that allows you to select an Exchange version (2010, 2013, 2016, Exchange Online, Office 365 Security & Compliance Center, or Exchange Online Protection) that filters the list of cmdlets based on your selection.

[2018-04-27 23:15] #944 closed

[2018-04-28 10:25] nsshommo commented on #942
@robertcaretta Thanks for your commenting here. By sharing your experience here, you are helping many others.

[2018-04-29 03:15] muges01 commented on #919
Thank you @nsshommo. I'm looking forward to hear from you soon.

[2018-04-30 12:00] VesaJuvonen commented on #942
Hi Rob, that's indeed the model. That will add the field from the site level to the list without content type.

[2018-04-30 12:00] #942 closed

[2018-04-30 17:13] achan-pancan opened #949 "Disconnect EXOPSSession"
Great article on how to connect but how do you disconnect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34fa66b0d268
* Content: [Connect to Exchange Online PowerShell using multi-factor authentication](https://docs.microsoft.com/en

[2018-04-30 22:50] mikemartin1090 opened #953 "Session Unexpectedly Expires After 1 Hour"
I was tasked with running a rather large script that I've seen take up to 8 hours (a modified version of https://gallery.technet.microsoft.com/office/Office-365-Mobile-Device-1523900f Office 365 Mobile Device Report). After successfully connecting using the method described above on a server that requires MFA, I noticed that after 1 hour, I was getting some errors in my logs and then around the 60

[2018-05-01 08:37] nsshommo commented on #953
@mikemartin1090 Thanks for your feedback and query. We are looking about this issue and will get back to you very soon.

[2018-05-01 08:38] nsshommo commented on #949
@achan-pancan Thanks for your question. We will reply to you very soon.

[2018-05-01 09:50] RiskyRogue commented on #818
This was my bookmarked page for Exchange Online cmdlets.  Where have they gone?  A search hasn't produced anything useable. Seriously?

[2018-05-01 16:33] chrisda commented on #818
@RiskyRogue, we discussed at great length the choice to eliminate the "bucket" or "link farm" topics that we used for Exchange cmdlet reference topics on TechNet. Actually, the choice was rather simple, because if we tried to split out the topics by audience on GitHub/docs.microsoft.com, we would have lost single-sourcing of the cmdlet reference topics (and there are ~500 cmdlets shared between on

[2018-05-01 16:55] chrisda commented on #949
@achan-pancan, I added the disconnect instructions to the topic.

Thanks for the feedback.

[2018-05-01 16:55] #949 closed

[2018-05-02 13:16] HTEredrock opened #956 "Error on adding JSLink to calculated site column"
Hi,

I'm getting the error `The formula contains a syntax error or is not
supported.` when setting the JSLink property (As defined above) of a calculated site column and using the `-UpdateExistingLists` flag. It works fine if I do not include the `-UpdateExistingLists` flag

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-05-02 13:28] DeanGross opened #957 "Limit Search Scope"
When I search other sections of docs.microsoft.com, the search scope is limited to that topic,  it would be helpful if this occurred when we searched the PnP content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-57d53d313c6f
* Conte

[2018-05-02 16:32] nsshommo commented on #957
@DeanGross Thanks for your query. We will get back to you soon.

@VesaJuvonen Can you help me on this one?

[2018-05-02 16:33] nsshommo commented on #956
@HTEredrock Thanks for letting us know your query. We will get back to you very soon.

@VesaJuvonen Can you help me on this one?

[2018-05-02 16:46] jt980 opened #958 "Possible error in document"
In the Description portion, the third bullet says: "Copy messages from the source mailbox and delete them from the target mailbox."  This may be incorrect or needs to be separated into two bullet points.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2c6c666-7221-7984-82a5-d731fee0ac3d
* Version Independent ID: 6970ac

[2018-05-02 19:17] nsshommo commented on #958
@jt980 Thanks for your feedback. We are looking about this matter.

[2018-05-02 20:13] chrisda commented on #958
@jt980, I removed the problematic third bullet (which was basically restating the same thing as the first two bullets).

Thanks for your feedback.

[2018-05-02 20:13] #958 closed

[2018-05-03 06:46] VesaJuvonen commented on #957
@nsshommo, @kenwith - issue is around the Search capability in the docs.microsoft.com and ask is around targeting the search properly for the content set. This is a request on the docs.microsoft.com platform, not on the PnP PowerShel.

@DeanGross - Feedback noted and search is not scoped on the PowerShell topic. As the Office PowerShell is all stored in one content set, most likely we can scope th

[2018-05-03 07:58] Nehru88 opened #962 "Poor Help Docs"
This Documentation is not helpful as in the old Documentation, Where we get the clear details on Input data .
Example "ObjectIds" stats its accepts a variety of objects, such as mailbox aliases, Send connector names, and so on, But clearly satating which all accepted. Not sure why Microsoft turned this way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-05-03 15:26] kenwith commented on #957
@DeanGross - thank you for the feedback and I will take this to the team that wrangles the platform.

Some things I can suggest for search. Check out the PowerShell Module Browser: https://docs.microsoft.com/en-us/powershell/module/

The PnP cmdlets will not show up there yet but we can get them added if @VesaJuvonen decides he would want them there.

If you are on GitHub you can use the Find File

[2018-05-03 15:26] #957 closed

[2018-05-03 18:15] kenwith commented on #684
Just a quick update. This is in process to get examples for all Skype cmdlets. There are a number with no content and they will be updated.

[2018-05-03 18:25] kenwith commented on #919
@muges01 - thanks for this issue. It could very well be something that is not expected behavior and we really appreciate you taking the time to report so we can put any information back into the docs.

@nsshommo is going to try on a test tenant and see as well. Here is the documentation to follow on how to [Connect to SharePoint Online with PowerShell](https://docs.microsoft.com/en-us/powershell/s

[2018-05-04 09:23] NPrice99 opened #966 "No example of using Import-PnPTaxonomy with a file containing terms"
Hi
There are two ways of using this command.
The first way of just including the terms has an example.
The second way, using a file containing terms has no example.
Regards
Nigel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36c52515-b901-5928-cbe1-641b0c21f975
* Version Independent ID: 700c3b55-3841-f8fc-3fc1-5dad4b6

[2018-05-04 13:50] maxkoryukov commented on #962
Unfortunately, I don't know what is _"The Old Documentation"_, but I can't find the **cmdlet reference** in the _new_ documentation.

[2018-05-07 02:50] repton-infinity opened #969 "-Values option -- Rich text example is bold"
The example for setting rich text in the -Values option includes bold text. I think it is meant to show the HTML tags being used, but instead the tags are not escaped so they are interpreted by the browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 362042ec-76bf-6da1-4551-a8baa7a26d27
* Version Independent ID: f30

[2018-05-07 11:19] JonEOffice opened #971 "Taxonomy field with multiple value's possible"
Then use the following example:
$Taxvalue = "15c4c4e4-4b67-4894-a1d8-de5ff811c791","16c4c4e4-4b67-4894-a1d8-de5ff811c792"
Set-PnPDefaultColumnValues -List Documents -Field TaxKeyword -Value $Taxvalue
No other way is accepted since for the taxonomy fields.
If you use a semicolon (;) it does not get split. For the other value types the semicolon does work.

---
#### Document Details

⚠ *Do not edit

[2018-05-07 17:15] chrisda commented on #953
@mikemartin1090, did you use the -UserPrincipalName parameter with your account name in the Connect-EXOPSSession command? Apparently, omitting that parameter can cause the one hour timeout that you experienced.

[2018-05-07 17:25] chrisda commented on #962
@maxkoryukov, I think you're referring to the lack of manually maintained 'link farm' topics like "Exchange Online Cmdlets" or "Exchange 2016 Cmdlets"? There aren't topics like that on docs.microsoft.com because we're working on a way to filter the list of Exchange PowerShell related topics and cmdlet reference topics based on audience selection (Exchange 2010/2013/2016, Exchange Online, Office 36

[2018-05-08 12:01] TCorrege opened #976 "Name of the module"
I would appreciate if module name was referenced in the document...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f089a8d5-643e-527e-3f5e-93ee4b7660e0
* Version Independent ID: 848584ea-f6f0-340d-f65d-c58ee19181ed
* Content: [Get-DistributionGroup (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange

[2018-05-08 13:48] ivan-wolfhelm opened #977 "-TargetWebUrl"
Can you use the '-TargetWebUrl' switch with this PS command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a99ae6ea-f1ca-1d6f-bdda-abc8cf4082ae
* Version Independent ID: 066c87bc-6767-ae13-7f31-d9591f7e0536
* Content: [Add-SPOTheme (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-onli

[2018-05-08 18:05] chrisda commented on #976
@TCorrege, Exchange Server and anything Exchange related in the cloud (Exchange Online, Office 365 Security & Compliance Center, Exchange Online Protection) don't use the concept of PowerShell modules per-se. All connections are done via remote PowerShell. Even when you open the Exchange Management Shell directly on an Exchange Server, you're actually remoting into the server itself. And for the c

[2018-05-08 18:05] #976 closed

[2018-05-08 20:01] Techwriter40 commented on #971
@VesaJuvonen a PnP cmdlet for you.

[2018-05-08 20:02] Techwriter40 commented on #969
@VesaJuvonen a PnP cmdlet for you

[2018-05-09 16:07] kirkpabk opened #980 "Return Types/Objects Not Documented"
The return types/objects appear to not be documented.  Expected returned samples...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 502427ff-b3ec-a619-ab19-ee4b4ef86854
* Version Independent ID: 05a343a1-64ff-51d2-8eb0-e0dc41efea9f
* Content: [Get-SPEnterpriseSearchTopology (sharepoint-server)](https://docs.microsoft.co

[2018-05-09 16:12] gotfondue opened #981 "Typo"
-InternalUrl
The ExternalURL parameter specifies the URL that's used to connect to the virtual directory from outside the firewall.

I think this is incorrect, and should read:

-InternalUrl
The InternalURL parameter specifies the URL that's used to connect to the virtual directory from inside the firewall.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-05-09 16:58] Techwriter40 commented on #980
@kirkpabk thank you for your submission.  If you are referring to the Input or Output sections, these are part of the schema template, but we do not use them, so they are left blank intentionally.  thank you.

[2018-05-09 16:58] #980 closed

[2018-05-09 17:35] chrisda commented on #981
@gotfondue, you're correct, and I fixed it as you described. In the future, if you have proposed changes to Exchange cmdlet reference topics (or any topics on docs.microsoft.com, for that matter) you are more than welcome to edit the topic directly by clicking the Edit button (the pencil). Someone will review your pull request and accept it if your proposed changes are correct (or reject them with

[2018-05-09 17:35] #981 closed

[2018-05-09 23:15] aaronmi opened #983 "Set-SPOSiteScript requires Identity parameter?"
Does Set-SPOSiteScript require "-Identity" parameter?
The document at https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/Set-SPOSiteScript?view=sharepoint-ps does not list the parameter. However when executing Set-SPOSiteScript, it prompts for Identity parameter input.

What about Set-SPOSiteDesign?

[2018-05-10 10:56] andshill7 opened #984 "The URL https://technet.microsoft.com/library/mt587091.aspx to connect to Security and Compliance is incorrect"
To connect to the Security and Compliance centre, the URI needs to be https://ps.compliance.protection.outlook.com/powershell-liveid/. This is detailed in the following URL:
https://docs.microsoft.com/en-us/office365/enterprise/powershell/connect-to-all-office-365-services-in-a-single-windows-powershell-window

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-05-10 11:35] superglue777 opened #985 "Running on SharePoint Online"
Description states that it can be run on SharePoint Online, but seems this is not true. Power Shell does not recognise this command from SharePoint Online management shell. Are there any Power Shell plugins required to do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf861e60-d88b-0a5d-2321-efdb0e281d8f
* Versio

[2018-05-10 13:08] SmashedTomato87 opened #987 "Change config for "session line""
Hello Team!
How to connect to ExO PS MFA session, if I want to add "?proxymethod=rps" to the url in the Session Line? Without MFA it would look like this:
$Session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://outlook.office365.com/powershell-liveid/ -Credential $cred -Authentication Basic -AllowRedirection Import-PSSession $Session

[2018-05-10 14:05] #987 closed

[2018-05-10 16:33] kenwith commented on #161
@W1ll1amz - One of the devs was super helpful as I was talking through this.

Here is what the dev said:

The code looks good and the only thing missing was ‘_’ between the ‘$’ and ‘.’.  I have corrected ‘$_.<Property>’ and reformatted below (PowerShell file also available, just need to rename as .ps1 file):

                # 1) EV Users Homed in SfBO

# SfB Online
(Get-CsOnlineUser -Resultsize U

[2018-05-10 16:36] kenwith commented on #161
I am going to close this one out and work on how I can incorporate this super valuable information into the docs. You deserve an award for your knowledge of this product @W1ll1amz !

[2018-05-10 16:36] #161 closed

[2018-05-10 16:52] Techwriter40 commented on #985
thank you for your submission.  I have removed references to SPO and republishing.

[2018-05-10 16:52] #985 closed

[2018-05-10 17:13] chrisda commented on #984
@andshill7, the TechNet URL https://technet.microsoft.com/library/mt587091.aspx is supposed to redirect to https://docs.microsoft.com/powershell/exchange/office-365-scc/office-365-scc-powershell. I can't make the fix myself, but I've taken the necessary steps to get it fixed. It's a really simple fix, and it should be resolved quickly.

Thanks for the feedback.

[2018-05-10 17:13] #984 closed

[2018-05-10 19:54] Rabbit994 opened #991 "Exchange Online Protection Documentation is extremely difficult if not impossible to locate"
Where is old list of "These are commandlets for Exchange Online Protection"? I'm attempting to do something so simple of read in a list of IPs from CSV file and feed to Exchange Online Protection and no longer know what commands are because documentation is gone (or hasn't been properly indexed by Google)

Also, lumping it under "Exchange" is not acceptable. Exchange Online Protection while applie

[2018-05-11 11:34] erwinvanhunen commented on #969
fixed in PR #994

[2018-05-11 11:45] erwinvanhunen commented on #956
Hi, what does the formula look like? I just tried it here with a calculated sitecolumn, which have been added to a list, but I receive no error message while setting the JSLink property and using the -UpdateExistingLists flag

[2018-05-11 15:17] DeanGross opened #995 "Browser Prerequisites"
When i try this with Chrome it does not work. Does it require IE? the browser requirements should be specified

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34fa66b0d268
* Content: [Connect to Exchange Online PowerShell using multi-

[2018-05-11 17:45] chrisda commented on #991
@Rabbit994, We're working on a mechanism that filters the Exchange cmdlet reference topics by workload (Exchange Server 2010/2013/2016, Exchange Online, Office 365 Security & Compliance Center, or Exchange Online Protection). It's coming, but it's taking longer than we thought. That's the closest we can get to the former "link farm"/"bucket" topics that used to exist on TechNet for Exchange cmdlet

[2018-05-11 17:45] #991 closed

[2018-05-11 18:08] DeanGross commented on #995
thanks for the quick response, this new method for commenting and updating docs is awesome !

[2018-05-11 18:11] DeanGross opened #996 "Using module in a script with other modules"
Could you please add some guidance about the best practice for creating a script that uses the EXOPSSession  in conjunction with other modules, such as SharePoint, Teams and/or the Security&Compliance center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f

[2018-05-11 21:16] maxkoryukov commented on #962
@chrisda, thank you for the answer! I don't want to be offensive, even knowing, that this is not a free open source project. And I too don't like comments with complaints. I want to apologize for my previous comment;)

And I hope you will publish such documentation soon!

[2018-05-12 02:25] VesaJuvonen commented on #956
Hi @HTEredrock - like noted by @erwinvanhunen, we would need to have the repro clarified so that we can solve what's wrong. Right now we cannot move as we cannot reproduce the issue. Thanks for the additional details advance.

[2018-05-14 08:35] bmarcos81 opened #1004 "Some verbs in site script is not working"
I have one site design for Team Site with two site scripts. When I call Invoke-SPOSiteDesign there is an issue with the second site script containing the action setSiteExternalSharingCapability to ExternalUserSharingOnly. The console output shows success in outcome but is not working. When I create the site using "Create site" from their SharePoint home in Office 365 it works.

---
#### Document D

[2018-05-14 08:48] bmarcos81 commented on #1004
It is working, there is a delay in Site Management external sharing column.

[2018-05-14 08:48] #1004 closed

[2018-05-14 15:25] westerdaled opened #1007 "Enable-PnPResponsiveUI Documentation makes not mention of files needed to be downloaded"
The commandlet documentation makes no mention of the files we need to download from the PnPTools project.
[SharePointResponsiveUI ](https://github.com/westerdaled/PnP-Tools/tree/master/Solutions/SharePoint.UI.Responsive)

Can I assume these files are still needed and not "auto downloaded"  by the commandlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-05-15 07:12] Hazmoid opened #1016 "More information required"
Need to include all the other variables that can be used when using this command.  many of these are $True or $False settings
AutomateProcessing
AllowConflicts
BookingWindowInDays
MaximumDurationInMinutes
AllowRecurringMeetings
EnforceSchedulingHorizon
ScheduleOnlyDuringWorkHours
ConflictPercentageAllowed
MaximumConflictInstances
ForwardRequestsToDelegates
DeleteAttachments
DeleteComments
RemovePr

[2018-05-15 08:14] VAsHachiRoku opened #1018 "Adding Users Not Working"
Using the Add-TeamUser cmdlet executes no errors
Running Get-Team | Get-TeamUser return a list of users who were added

When looking at the Team using a web browser and clicking Manage Team, the users are not listed there. Able to Add a user who is showing in PowerShell as being there.

Logging in as user who in PowerShell has been added, does not see the Team.

Seems this cmdlet is not working

!

[2018-05-15 10:42] nsshommo opened #1019 "#SYNTAX is absent"
Syntax part is absent here. The parameter and example part is also absent. I have searched Technet and didn't find anything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 285ff9c8-19c0-d58f-ec16-7ba563a14fa5
* Version Independent ID: 579e58b6-2920-e79e-baa6-87bb67673566
* Content: [Copy-CsVoicePolicy (skype)](https://

[2018-05-15 10:43] nsshommo commented on #1016
@Hazmoid Thanks for your query. We will get back to you very soon.

[2018-05-15 10:47] nsshommo commented on #1018
@VAsHachiRoku Thanks for letting us know. We will look into this and will let you know.

[2018-05-15 13:57] webash opened #1021 "Grant-CsTeamsInteropPolicy does not accept Alias for -Identity parameter"
`Grant-CsTeamsInteropPolicy` throws an `"Object reference not set to an instance of an object."` error for some users when you only provide the `Alias` rather than the full `UserPrincipleName`/SIP address to the `-Identity` parameter. Other `*-Cs*` accept the `Alias` without worry.

_Example **failure** using `Alias`_
![image](https://user-images.githubusercontent.com/6205899/40061007-d793e90a-584

[2018-05-15 17:43] kenwith commented on #1019
Synopsis and Description state: "This cmdlet has been deprecated for use with Lync Server 2013 and Lync Online. Administrators should use the Grant-CsVoicePolicy cmdlet to assign voice policies to Lync Online tenant accounts." Closing this one out.

[2018-05-15 17:43] #1019 closed

[2018-05-15 18:16] kenwith commented on #1021
@webash - I also noticed in the Description for the cmdlet reference that the cmdlet is being replaced. Here is the documentation on that one and it explains what to use instead of the Grant-CsTeamsInteropPolicy cmdlet. https://docs.microsoft.com/en-us/powershell/module/skype/grant-csteamsinteroppolicy?view=skype-ps   Closing this one out but please re-open if you have more questions.

[2018-05-15 18:42] kenwith commented on #1018
@VAsHachiRoku - once we figure this out @nsshommo and I will get this into the reference for the [Get-Team](https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/teams/teams-ps/teams/Get-Team.md) and [Get-TeamUser](https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/teams/teams-ps/teams/Get-TeamUser.md) so others can benefit from your effort. Note these cmdlets are in

[2018-05-15 19:30] webash commented on #1021
@kenwith so the documentation on this is **very** unclear. TeamsInteropPolicies have only just been created as of a few months ago, and enable our users to choose in the Teams client whether they receive calls in SfB or in Teams. The TeamsUpgradePolicy does not do this, and is about defining where a user will be forced to receive calls. Is the Skype/Teams team going to be releasing something more

[2018-05-15 19:34] chrisda commented on #1016
@Hazmoid, to be clear, the items you listed are properties in the output, not actual parameter that are available on the cmdlet (if they were parameters, they would definitely be documented). We typically don't go into a lot of detail about the output of cmdlet reference topics (the exceptions are reporting cmdlets). Often, there are properties returned by a Get- cmdlet that aren't even available

[2018-05-15 19:34] #1016 closed

[2018-05-15 19:42] kenwith commented on #1021
@webash - I agree it is very unclear and I apologize. I will take on following up with the product teams and support on how to make this clearer.

[2018-05-15 22:19] kellybos opened #1027 "New parameters"
There are three new parameters associated with this command which are not documented -

SkipDomainValidationForMailUser
SkipDomainValidationForSharedMailbox
SkipDomainValidationForMailContact

These allow customers to skip the step that validates the proxy addresses associated with the object are all Accepted Domains.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-05-15 22:47] kenwith commented on #1018
@VAsHachiRoku - I am not sure on this and want to make sure it is taken care of properly. Would you please open a support ticket through your tenant so that this can be escalated through the right group? Here is a short video on how to open a ticket: https://channel9.msdn.com/Series/Welcome-to-the-Office-365-Support-Corner/Short-Video-How-to-open-an-Office-365-Modern-Support-Ticket

I am going to

[2018-05-15 22:47] #1018 closed

[2018-05-16 13:20] danone1985 opened #1028 "Example"
In the example, the second line in the command should't it be:
New-SPExcelBlockedFileType -FileType XLSM -ExcelServiceApplication $sa, instead of :
New-SPExcelBlockedExcelFileType -FileType XLSM -ExcelServiceApplication $sa
?

The provided example does not work.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51

[2018-05-16 16:31] Techwriter40 commented on #1028
thank you for your comment.  I have updated and republished topic.

[2018-05-16 16:31] #1028 closed

[2018-05-16 18:42] kenwith commented on #1021
@webash - just an update. Content being cleaned up. In rush to get the content out I wasn't thorough and am learning from it. Here is Pull Request on this: https://github.com/MicrosoftDocs/office-docs-powershell/pull/1031/files

To directly answer your question above, yes, there is also a significant amount of content being developed to clarify the story and process and I will add the links to the

[2018-05-16 19:02] kamikazzi1 opened #1035 "Incomplete documentation"
https://docs.microsoft.com/en-us/powershell/module/skype/new-cscalleridpolicy?view=skype-ps
this page isn't even complete..  How did this pass any form of quality checks?

[2018-05-16 19:08] kenwith commented on #1035
@kamikazzi1 - thanks for opening this issue. There is a project underway to get these cmdlet references complete with examples and descriptions. When I migrated from TechNet to docs.microsoft.com a number of cmdlets didn't pull complete content. I am getting this fixed asap and you should see examples within the next couple of weeks for all cmdlets. If you do not please open any issue or contact m

[2018-05-16 19:08] #1035 closed

[2018-05-16 20:36] chrisda commented on #1027
@kellybos I added the new parameters as you described in PR #1037.

Thanks for the feedback.

[2018-05-16 20:36] #1027 closed

[2018-05-17 00:42] alorman commented on #747
Sure, I'll go ahead and do that and issue a PR.
Thanks
alex

[2018-05-17 00:42] #747 closed

[2018-05-17 09:11] webash commented on #1021
Thanks. We were early adopters of the TeamsInteropPolicy as it appeared to be the way forward for helping those who wanted to live in Teams and move away from SfBO. We're struggling to make sense of the current state. Thanks for your help so far.

[2018-05-17 09:16] webash commented on #1021
Most notably this guidance is confusing:

When running `Get-CsTeamsInteropPolicy` for our tenant, we have 6 policies shown. All of which are built-in. We currently grant the policy which includes `AllowEndUserClientOverride = true; Chat = Default; Calling = Default` because it allows our users to choose where things are routed. If they have issues with Teams calling, they can quickly and easily dr

[2018-05-17 09:17] Panzerbjrn opened #1040 "Partially useful"
While this is partially useful, it would be even more useful if there was a way to also get the granular level of junk mail configuration on a user's mailbox (No Filtering/Low/High/Safe List only)...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64eec30c-8fee-b6ee-de2b-dd2cb1b339c0
* Version Independent ID: 678ecad3-b

[2018-05-17 15:39] kenwith commented on #1021
This is really helpful and I am getting this to the product team to incorporate into the docs. Thank you!

[2018-05-17 17:01] mganeshphani opened #1044 "Register-SPOHubsite treating same site with CAPS and small letters as different"
is this a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 114697af-1b15-2582-49af-7ae2a8fe1cb0
* Version Independent ID: 6ed31c1e-1706-318b-5030-0e74dd9e875e
* Content: [Register-SPOHubSite (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/register-spohubsite?view=sharepoint-

[2018-05-17 17:05] Techwriter40 commented on #1044
@VesaJuvonen a SPO cmdlet for you to review. thanks

[2018-05-18 08:54] HTEredrock commented on #956
Hi @VesaJuvonen @erwinvanhunen , apologies for the slow response.

The field is question is a calc field with the following code:
[code]

Basically what it does is build up some HTML structure, which I then render with a code snippet in the JSLink property. This works fine when I add the JSLink at a list level, however when adding at a Site Column, it gave me the error mentioned above in my first

[2018-05-18 13:10] sympmarc opened #1054 "Missing links in Related Links for Export-SPOQueryLogs.md"
There are two links at the bottom of the [article](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/export-spoquerylogs?view=sharepoint-ps); both are missing their URLs.

I believe the first one should be:
https://support.office.com/en-us/article/introduction-to-the-sharepoint-online-management-shell-c16941c3-19b4-4710-8056-34c034493429
but I'm not sure about the second.

[2018-05-18 15:22] bingoglossy opened #1055 "Provide a product drop-down that contextually changes the documentaion"
In the "Applies to" section it'd sure be nice to have a drop-down box at the top with a per-product choice, such as "Exchange Server 2010" or "Exchange Online" than changes the subsequent content that applies only to that product.

I know it's a big ask, but the current shotgun approach to just throwing up all of the documentation that MAY or MAY NOT apply to a certain product makes it a guessing

[2018-05-18 16:34] chrisda commented on #1055
@bingoglossy you've described exactly what we're planning to implement. It was part of the overall migration plan, to be lit up after the topics were on docs.microsoft.com. It's just taking a lot longer to make it work than we originally anticipated.

Thanks for the feedback.

[2018-05-18 16:43] bingoglossy commented on #1055
Chris, thanks much! I already mentioned it to MS on a few PSS cases I've
had. I know it's a HUGE amount of work to get that granular, but it'll be
sweet when it's done.

On Fri, May 18, 2018 at 10:34 AM, Chris Davis <notifications@github.com>
wrote:

[2018-05-18 16:54] kenwith commented on #1054
@sympmarc - thank you for pointing this out. I missed it when I published these. I will get this sorted out ASAP. Really appreciate the feedback!

[2018-05-18 22:03] croitor1 opened #1057 "Minion (ex master)"
...so this is how o365 credentials harvesting works through automation.
Microsoft, please fix this, doesn't comply with secure by default... mind boggling! Why would you do that - can't think of any sensible reasoning...
Also, please inform your tenants in the interim, as I had a Premier on site security review and this never came up.

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-05-18 22:05] mganeshphani opened #1058 "Why does this cmdlet dont have any implementation information"
This commandlet doesn't look like exist in SPO module

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f4f56f0-6c56-b65b-080a-af1b941cebb2
* Version Independent ID: ffbbac19-52a8-0ba9-5137-9c831697bc37
* Content: [Get-SPO365LinkSettings (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-o

[2018-05-18 22:07] mganeshphani opened #1059 "Why does this cmdlet dont have any implementation information"
No Description or example... doesn't exist in SPO module

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbaba231-7df2-8f4e-a761-0a9b395c5665
* Version Independent ID: 5a7bc4be-bf47-e722-9be6-70b58dd0da5c
* Content: [Set-SPO365LinkSettings (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoin

[2018-05-18 22:09] mganeshphani opened #1060 "No Such command present in SPO Management shell"
not able to look for this command in SPO Management shell... is it worth to show in this section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec45dc6b-ef71-3edf-78ba-ec1eb31bc260
* Version Independent ID: 7e6269f4-55de-c18b-82ad-b0e1306ad715
* Content: [Test-SPO365LinkSettings (sharepoint-online)](https://docs.micro

[2018-05-21 15:42] Techwriter40 commented on #1060
@VesaJuvonen for your review. thanks

[2018-05-21 15:43] Techwriter40 commented on #1059
@VesaJuvonen for your review. thanks

[2018-05-21 15:43] Techwriter40 commented on #1058
@VesaJuvonen for your review. thanks

[2018-05-22 16:40] DeanGross opened #1069 "Change Log -"
It would be helpful if changes to the SPO Cmdlets were identified in a change log so that when a new version is available for download at https://www.microsoft.com/en-us/download/details.aspx?id=35588 we could easily determine what has changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5691fbb3-502b-9a33-97a0-9241

[2018-05-22 16:54] DeanGross opened #1070 "Using Update Module for SPO Management Shell"
We should be able to update the SPO Management shell module using the same technique as we do for the SP PnP modules, i.e., update-module. The SPO Management Shell installation is not consistent with other POSH Modules from MS and should be revised so that it can be deployed from the PowerShell Gallery like so many other modules

[2018-05-22 16:58] DeanGross opened #1071 "Change Log"
Please provide a change log/revision history so that we can easily learn about changes to the cmdlets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa03f9b8-7a1f-81e7-e8c2-0286f0cd3ffb
* Version Independent ID: 931924d1-2be2-bc20-41a6-0b86fc65db07
* Content: [Microsoft Teams cmdlet reference](https://docs.microsoft.co

[2018-05-22 17:02] DeanGross opened #1072 "Navigation between PowerShell module documentation"
Please update the left and/or right side navigation so that we can more easily get to the documentation for other PowerShell modules, i.e. it would be helpful if we could easily navigate between the various Office 365 modules (teams, exchange, sharepoint, etc). Currently there is not even any way to navigate back up to the master PowerShell page at https://docs.microsoft.com/en-us/powershel

---
#

[2018-05-22 17:05] tseward commented on #1060
@Techwriter40 These cmdlets are actually yours :) They're on-prem cmdlets included in 2013 and 2016. They need to be moved over to on-prem docs and removed from SPO docs.

Name                              Category  Module                    Synopsis
----                              --------  ------                    --------
Get-SPO365LinkSettings            Cmdlet    Microsoft.SharePoint.P...

[2018-05-22 17:12] DeanGross opened #1073 "Navigation between module documentation"
Please update the left and/or right side navigation so that we can more easily get to the documentation for other PowerShell modules, i.e. it would be helpful if we could easily navigate between the various Office 365 modules (teams, exchange, sharepoint, etc). Currently there is not even any way to navigate back up to the master PowerShell page at https://docs.microsoft.com/en-us/powershel

---
#

[2018-05-22 17:47] DeanGross opened #1076 "Installation instructions"
Please provide information about how to install the Skype for Business cmdlets, something like what is done for the SharePoint online cmdlets at https://docs.microsoft.com/en-us/powershell/sharepoint/overview?view=sharepoint-ps would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6172d49e-6905-e979-bddb-682

[2018-05-22 17:59] tseward commented on #1059
@Techwriter40 Updated in #1068.

[2018-05-22 18:00] tseward commented on #1058
@Techwriter40 Updated in #1074

[2018-05-22 18:46] kenwith commented on #1076
@DeanGross - really great idea and thanks for providing feedback!

[2018-05-22 18:50] kenwith commented on #1073
@DeanGross - this is a great idea and I will look into how we can do this. I will track this across all Office modules in https://github.com/MicrosoftDocs/office-docs-powershell/issues/1072 and will close this one. Thanks for feedback!

[2018-05-22 18:50] #1073 closed

[2018-05-22 18:50] kenwith commented on #1072
Related to: https://github.com/MicrosoftDocs/office-docs-powershell/issues/1073

[2018-05-22 18:53] kenwith commented on #1071
@DeanGross - you can follow every change in detail from the source GitHub repository located here: https://github.com/MicrosoftDocs/office-docs-powershell

Here are some details about how to follow a repository: https://help.github.com/articles/watching-and-unwatching-repositories/

[2018-05-22 18:53] #1071 closed

[2018-05-22 19:10] DeanGross commented on #1071
Thanks, I realize that I can do that in GitHub, but many of the other sets of documentation make it easier by having an actually What's new page, see https://docs.microsoft.com/en-us/cloud-app-security/release-notes and https://docs.microsoft.com/en-us/intune/whats-new and https://docs.microsoft.com/en-us/azure-advanced-threat-protection/atp-whats-new or https://blogs.msdn.microsoft.com/powershell

[2018-05-22 19:19] kenwith commented on #1071
@DeanGross - it is a great idea and something we don't have right now. I will bring this up to the product teams about adding this.

[2018-05-22 20:12] nsshommo opened #1080 "-AsJob description is absent"
The description of -AsJob parameter is not present in the cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e17ba3b2-f818-6a09-411d-aa8563705325
* Version Independent ID: e62b6323-aba4-5286-70f0-fcccd8cf23be
* Content: [Get-CsTenant (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/Get-CsTenant?vie

[2018-05-23 00:46] mikemartin1090 commented on #953
@chrisda At first I did NOT have that specified, HOWEVER even when specifying, I still get the same results.

Right at 1 hour and 4 minutes into the script, I receive the following command over and over for ~2 minutes - "Starting a command on the remote server failed with the following error message : Access is denied. For more information, see the about_Remote_Troubleshooting Help topic." Followe

[2018-05-23 07:39] NPrice99 opened #1081 "No Description for -Recycle Parameter"
There is no description for the -Recycle Parameter to say what it does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69c175be-fbdb-d99d-8106-4635f3e6ddc6
* Version Independent ID: 3054989c-a9fb-74aa-9121-fdb24b1a3f65
* Content: [Remove-PnPList (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/module/share

[2018-05-23 10:03] NPrice99 opened #1082 "Could we have some examples for -ClientSideComponentId and -ClientSideComponentProperties"
Hi
Could we have some examples for ClientSideComponentId and ClientSideComponentProperties please ?

Thanks

Nigel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b38e3d82-0583-ad60-4cac-6407ce43615c
* Version Independent ID: e114139d-1dad-eecd-fe0e-29f834096d7c
* Content: [Add-PnPField (sharepoint-pnp)](https://docs.mi

[2018-05-23 12:12] danmyhre opened #1083 "Devices List"
Please add details on why this cmdlet returns devices that are not shown in the OWA -> Options -> Phone list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ade56cc-22bf-0a4b-5d17-b34c8f4cac91
* Version Independent ID: 28eaa44b-2fed-aa95-bd12-07924ef6c164
* Content: [Get-ActiveSyncDevice (exchange)](https://docs.micro

[2018-05-23 16:58] Techwriter40 commented on #1081
@VesaJuvonen to review

[2018-05-23 16:58] Techwriter40 commented on #1082
@VesaJuvonen to review

[2018-05-23 17:02] chrisda commented on #953
@mikemartin1090 is the account that your using to connect to Exchange Online PowerShell the same account that you're using to log on to your local computer and run the script? If they're different, try using the same account for both.

[2018-05-23 17:46] nsshommo opened #1084 "Parameter is not described"
-AllowFederatedParticipantJoinAsSameEnterprise parameter is not described.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb630b9-b94d-a647-ca21-821e1d520b21
* Version Independent ID: ede8297e-aa49-fc5e-23bb-2d678bc23e6b
* Content: [Set-CsConferencingPolicy (skype)](https://docs.microsoft.com/en-us/powershell/module/s

[2018-05-23 18:20] mganeshphani opened #1085 "Clicking on the module link takes to 404"
Please fix link and help provide more information on how to install this module

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d063d71b-c1d5-e995-9e0d-a3daf646c712
* Version Independent ID: 7cff679f-a994-e371-a227-b8c5635f1aa2
* Content: [Get-UnifiedGroup (exchange)](https://docs.microsoft.com/en-us/powershell/module/e

[2018-05-23 18:42] nsshommo opened #1087 "Parameter description absent"
-AsJob parameter description is not present.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8d01537-2e7a-b4d2-1cd8-d23070112dc6
* Version Independent ID: 52dc0d21-6d06-2a75-a801-8befbbb0eadc
* Content: [New-CsEdgeAllowList (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/New-CsEdgeAllowList?view=skype

[2018-05-23 19:04] mganeshphani opened #1089 "Can you put in some documentation on how this can be worked on SubSites?"
Is it possible to use this information on subsites in a site collection?
will this command give superset of users in all sites under site collection or will only look at the parent site level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2412565f-011a-5665-7c3b-e3fe4eae0ee2
* Version Independent ID: 30fda315-30f6-09e

[2018-05-23 19:08] tseward commented on #1089
Users and Groups are always 'stored' at the Site Collection level, even if via the UI they only appear in a subweb. So if you have a SharePoint Group at /sites/mysite/subweb1, you will always query /site/mysite as that is where the group actually resides.

[2018-05-23 19:09] nsshommo opened #1090 "Parameter description missing"
The following parameters descriptions are missing

-AllowCloudRecordingService
-BypassDualWrite
-EnableMeetingReport
-UserUriFormatForStUser
-AsJob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7d9d1da-e548-5f48-b0b1-18ef69c0caac
* Version Independent ID: 2f967ff1-cb4f-2394-cf10-ed8f5188a0c6
* Content: [Set-CsMeeting

[2018-05-23 19:18] nsshommo opened #1092 "Need clarification and parameter description"
There is no reference to whether the meeting migration tool, or if the meeting migration service, can be used to help fix the existing meetings for the user. The article explicitly states the only fix is rescheduling meetings, which i think is not accurate.

Follwoing parameters have no description:

-BypassDualWrite
-AsJob

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-05-23 19:34] kenwith commented on #1054
@sympmarc  - these are fixed now and it should be live anytime once caches expire. Here are the links below. Thank you for noticing and taking the effort to report!

[Introduction to the SharePoint Online management shell](https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-online/introduction-sharepoint-online-management-shell?view=sharepoint-ps)

[Set up the SharePoint Online Manag

[2018-05-23 19:34] #1054 closed

[2018-05-23 19:37] kenwith commented on #1054
By the way, you noticed a really good point because as we were researching we found other links too that need to be consolidated to avoid confusion. Those links are below and we will consolidate. We think the links I added to the article (in comment above) are source of truth and if you find anything else in any of these links below let me know and I will make sure it gets into the links above.

H

[2018-05-23 19:58] Techwriter40 commented on #1089
@mganeshphani, did Trevor answer your question?

[2018-05-23 20:22] bkemp-bocomo opened #1093 "Call from script?"
how can you call the module from a script? I noticed once installed I can run a powershell and import-module to get the connect-exopssession command. I have several scripts that I user this to generate my connection:

$Session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://ps.outlook.com/powershell -Credential $O365Cred -Authentication Basic -AllowRedirection

[2018-05-23 21:50] mganeshphani commented on #1089
@tseward Agreed that users and Groups are stored at site collection level.. however if I don't inherit the permissions from parent site and add additional users at subsite level.. how can I correlate the user to subsite? can you guide me on this, please?

[2018-05-23 22:54] mganeshphani commented on #1044
This probably is not a duplicate entry in my tenant... There is a uncovered scenario in SharePoint Hubsites…
-> Promote an existing site  as hubsite
-> Delete the site
-> Clear the site from recycle bin as well from backend
-> Create a new site with same name
-> Promote the new site as hubsite

Now you will see two hubsite entries with same underlying site name.. I have three sites in my tenant wi

[2018-05-23 23:03] mganeshphani opened #1094 "Provide a value to accept SiteId as input"
I wanted to delete some redundant hubsite entries in my tenant.. however I am not able to do so, because this was only accepting SiteURL.. rather than SiteId or HubSiteId.. had to go through back channel to address this scenario for now.. but if the commandlet accepts the SiteId, then it would be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-05-23 23:04] mganeshphani commented on #1094
![image](https://user-images.githubusercontent.com/22988320/40455696-c3e56ce8-5eb3-11e8-880e-832dbb07f368.png)

[2018-05-23 23:05] mganeshphani commented on #1094
Please see Office support ticket: 10315684
if you need snapshot of the scenario

[2018-05-24 04:20] hrfmjp commented on #1094
I can delete Hub Site by using latest SPO Management Shell(16.0.7625.1200): Unregister-SPOHubSite <SiteId>

[2018-05-24 07:29] harshdamaniahd opened #1095 "issues fetching theme string from text file and converting to hash table"
Storing the theme file in a text file :
 @{
  "themePrimary" = "#00ffff";
  "themeLighterAlt" = "#f3fcfc";
  "themeLighter" = "#daffff";
  "themeLight" = "#affefe";
  "themeTertiary" = "#76ffff";
  "themeSecondary" = "#39ffff";
  "themeDarkAlt" = "#00c4c4";
  "themeDark" = "#009090";
  "themeDarker" = "#005252";
  "neutralLighterAlt" = "#f8f8f8";
  "neutralLighter" = "#f4f4f4";
  "neutralLight" =

[2018-05-24 10:48] PowerShellToday opened #1096 "EXAMPLE 3"
Seems like the verb Get implies that you don't Set?
[code]
Example 3 disables the ability for non owners of a site collection to share.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fbda735-74ec-2f4e-9c75-dd133e87320e
* Version Independent ID: 599c8c2e-6e02-f27f-1009-2640296d5d10
* Content: [Get-SPOSite (sharepoint-o

[2018-05-24 13:11] harshdamaniahd commented on #1095
Implemented This way :
$adminSiteUrl = Read-Host -Prompt 'Input your Tenant Site URL '
$themeName = Read-Host -Prompt 'Input Theme Name'
$cred = Get-Credential
Connect-SPOService $adminSiteUrl -Credential $cred
#Replace the variable value with the generated code
$themeFilePath = Read-Host -Prompt 'Input the file path'
$content = Get-Content -Path $themeFilePath -Raw -ErrorAction Stop
$scriptBlock

[2018-05-24 13:11] #1095 closed

[2018-05-24 14:00] hrfmjp commented on #511
I can delete Hub Site by using latest SPO Management Shell(16.0.7625.1200): Unregister-SPOHubSite &lt;SiteId&gt;

[2018-05-24 16:15] mganeshphani opened #1098 "Make Sharepoint online management shell module Installable like AzureRM"
Currently users have to download and install the binaries to make use of SPO commands... why don't you make it uniform as AzureRM/SharepointPNPOnline, which is downloadable on the fly from scripts using Install-Module and side-side installation

[2018-05-24 16:50] chrisda commented on #1083
@danmyhre does the Get-MobileDevice cmdlet return the same results (I assume it does)? The *-ActiveSyncDevice cmdlets have been 'replaced' by corresponding *-MobileDevice cmdlets. I say 'replaced' because you get a warning when you run them, but they've never been removed.

Interestingly, I found some [old chatter on the web](https://social.technet.microsoft.com/Forums/office/en-US/a144c8aa-c69f-4

[2018-05-24 17:15] chrisda commented on #1085
@mganeshphani there's really no module to install. Exchange Server 2010/2013/2016, Exchange Online, Office 365 Security & Compliance Center, and Exchange Online Protection use remote PowerShell to connect. That link is simply an affect of the docs.microsoft.com/GitHub publishing environment, and is exacerbated by the fact that in Exchange many of the cmdlets are shared between the various environm

[2018-05-24 17:15] #1085 closed

[2018-05-24 17:42] chrisda commented on #920
@FBrownMSFT I updated the Tag Types description, located the feature owner, and told her to make any correction directly in the topic. I would assume no corrections means I got it right.

Thanks for the feedback.

[2018-05-24 17:42] #920 closed

[2018-05-24 17:49] kenwith commented on #1098
I will defer to @Techwriter40 and @VesaJuvonen but I believe this has to do with how SharePoint (and Exchange - see https://github.com/MicrosoftDocs/office-docs-powershell/issues/1085#issuecomment-391791976) though I am not positive SharePoint uses remoting as @chrisda replied but I know SharePoint uses snap-ins and not modules (though this could likely change in future and I know there have been

[2018-05-24 18:13] Techwriter40 commented on #1098
@VesaJuvonen I will defer to Vesa for final decision.

[2018-05-24 18:29] NetDesignIT opened #1101 "Confused"
This information is supposedly about updating a Site script, but I don't see how the new script is referenced here, or how a new version of a script updates an existing one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6baad09-eb72-cf76-e6d1-773e0212020d
* Version Independent ID: cc05315e-1b4b-6704-74ae-6459cef5bb0b

[2018-05-24 18:38] Kristaf commented on #818
@chrisda, that all sounds good to me the only problem is when I navigate to the link you have provided and select Exchange Online PowerShell it takes me to a single page with no list of commands. Just this single page. https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/exchange-online-powershell so where do we look for the commands?

[2018-05-24 18:46] Techwriter40 commented on #1101
@VesaJuvonen for your review

[2018-05-24 19:20] chrisda commented on #818
@Kristaf, the commands are available under the Reference dropdown that's present 'below the line' in the left-hand pane. There are no lists of commands.

[2018-05-24 21:14] kenwith commented on #1021
@webash - the article from the PM is now live. You can find it here: https://docs.microsoft.com/en-us/MicrosoftTeams/migration-interop-guidance-for-teams-with-skype

I am also going to add the link to each of the cmdlets. There will be more guidance coming too but I wanted to get this out to you. Thanks for your patience and being proactive on this!

[2018-05-24 21:14] #1021 closed

[2018-05-24 23:39] chrisda commented on #818
@salinao we made the decision to not maintain the static list topics of cmdlets. It was always part of the plan to have a filtering mechanism where you selected the version of Exchange, and the cmdlets under Reference were filtered based on that selection. But, we're having difficulty implementing that in a way that's compatible with the single-source nature of Exchange cmdlet topics that are shar

[2018-05-25 15:49] BrianDagan opened #1116 "Set-ActivityAlert -Name parameter not accepted"
Contrary to the documentation here (https://docs.microsoft.com/en-us/powershell/module/exchange/policy-and-compliance/set-activityalert?view=exchange-ps), the Set-ActivityAlert cmdlet does not accept a Name parameter and instead returns the error "A parameter cannot be found that matches parameter name 'Name'."

[2018-05-26 17:48] nsshommo opened #1120 "What is the definition of OCSADApplicationContact?"
Where can I find the definition of OCSADApplicationContact?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efc4a20e-f34b-f8e3-0f4b-758e1d7c58eb
* Version Independent ID: 534bce43-a0af-a223-8fc8-b7bdb0a32a83
* Content: [New-CsTrustedApplicationEndpoint (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/Ne

[2018-05-26 19:34] nsshommo opened #1121 "Failure without using -verbose"
Known failure if you do not use -verbose.

https://social.technet.microsoft.com/forums/lync/en-us/ade97594-a12d-4030-8927-35d55ff039bd/lync-2013-test-csucwaconference-failed?forum=lyncconferencing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1ca4fc7-1eef-d898-7785-d9458e437a9f
* Version Independent ID: 212bce39-fd2d

[2018-05-26 20:06] nsshommo opened #1122 "Missing Parameter Description"
Following parameter descriptions are missing:

-AllowAutomaticPstnFallback
-AllowDeviceContactsSync
-AsJob
-BypassDualWrite
-EnablePushNotifications
-EncryptAppData
-RequireIntune

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6649dcf4-56ce-60d9-9686-f7757d3a84f7
* Version Independent ID: 9363269d-d208-ff75-55d3-dbcd92

[2018-05-28 13:44] mrjulian opened #1126 "Missing value 'Shared' for parameter -Type"
Don't know if this is the right place but I would like to ask if there is planned an option to convert remote user mailboxes to remote shared mailboxes with the parameter "-Type" in future?

Regards,
Julian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f329d9dd-6a2f-1b04-6cfe-40183d03826e
* Version Independent ID: cf7

[2018-05-29 09:22] mwucbs commented on #1093
Sadly you can't connect with  $cred inside script, when you have enabled MFA.
You must type user/pass everytime, witch is a major drawback for administrators.
I'd like MS to make this more easy.

regarding your quiestion you can import the exo modul in your script with this:

Import-Module $((Get-ChildItem -Path $($env:LOCALAPPDATA + "\Apps\2.0\") -Filter Microsoft.Exchange.Management.ExoPowershel

[2018-05-29 14:47] nsshommo commented on #1126
@mrjulian Thanks for your valuable feedback. We will get back to you as early as possible.

[2018-05-29 16:33] samyaktelsang opened #1128 "Support requested for en_us as an alternate language to the site"
While adding an alternate language to a site as a site admin, choosing Spanish requires me to have a es_es file.
However, I am looking to add an es_us file to my site.
Office as well as SharePoint do support es_us localization and I'm looking for help as to how I could add it as an alternate language to my site.

Procedure followed to add an alternate language:
Gear Icon > Site Settings > Language

[2018-05-29 17:51] #1093 closed

[2018-05-29 17:59] nsshommo opened #1129 "Inaccurate instruction."
Instructions would not support high availability if CMS is moved to a SQL AlwaysOn backend without additional steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9082d9a-5cfe-f210-c2e7-afc56226b252
* Version Independent ID: 1ad7b4fb-2c78-d0c5-d8de-2ac2c7910127
* Content: [Move-CsManagementServer (skype)](https://doc

[2018-05-29 19:11] mgarza1812 commented on #561
Noticed -whatif doesn't seem to work perhaps user error but, this is the command I ran anyway. Thanks.

Set-CsOnlineDialInConferencingUserDefaultNumber -FromNumber 6498873547 -ToNumber 6432880312 -CountryOrRegion "NZ" -WhatIf -verbose

[2018-05-29 19:38] terrogin opened #1131 "Object could not be found"
Example 1 above never worked for me. I would always get a message that the RulePackage could not be found, even though I could see it with the Get-DLPSensitiveInformationTypeRulePackage:

"The operation couldn't be performed because object 'ExampleRulePack' couldn't be found on 'FfoConfigurationSession'.

The workaround for me was to assign the rule pack as a variable and then pipe that to the Rem

[2018-05-29 20:46] chrisda commented on #1131
@terrogin, I updated the example as you described.

[2018-05-29 20:46] #1131 closed

[2018-05-29 20:51] chrisda commented on #1126
@mrjulian, currently, the available values for the Type parameter on Set-RemoteMailbox are Regular, Room, and Equipment. Do you have specific information that a new 'Shared' value is coming? Is this new value available in your environment?

Thanks for the feedback

[2018-05-29 20:58] chrisda commented on #1116
@BrianDagan, I replaced the existing description for the Name parameter with "reserved for internal Microsoft use" .

Thanks for the feedback.

[2018-05-29 20:58] #1116 closed

[2018-05-29 22:00] ccadenasa opened #1133 "Using PowerShell ISE"
Can this script be use on PS ISE? or is there a script for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34fa66b0d268
* Content: [Connect to Exchange Online PowerShell using multi-factor authentication](https://docs.microsoft.

[2018-05-29 22:11] chrisda commented on #1133
@ccadenasa, see Issue #1093.

Thanks for the feedback.

[2018-05-29 22:11] #1133 closed

[2018-05-30 15:41] monsterapp opened #1139 "Not working/available"
This command does not appear to be available under 2.26.1805.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ec9d15e-0cea-3966-d30c-eb7f939cb694
* Version Independent ID: fcda0fff-544d-8d04-d942-e66e671f5744
* Content: [Add-PnPStoredCredential (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/module/share

[2018-05-30 17:12] Techwriter40 commented on #1139
@VesaJuvonen for your review.

[2018-05-31 15:52] monsterapp opened #1145 "Please add a wait parameter"
As the Apply-PnPProvisioningTemplate command may be used in the script reading from a CSV file it would be helpful to add a wait parameter in order to allow the application of the template to one site before moving on to the next site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec8b1360-5133-03ea-c4de-97d7280ef82c

[2018-05-31 17:00] Techwriter40 commented on #1145
@VesaJuvonen for your review

[2018-06-01 00:11] chrismartell84 commented on #953
Hello all, we just enabled MFA for all o365 admins and we (Exchange Admins) are suffering big time, as described before the session seems to end in about 1 hour does not matter if we are running something, in our case when we do a Search-mailbox to move high volumes of information, it fails after 1 hour and we see the session "broken", if we reconnect and run the search-mailbox again it starts fro

[2018-06-01 00:45] mikemartin1090 commented on #953
@chrisda I've used the same account and still no luck.

@chrismartell84 I've implemented the "Trusted IPs" [as described here](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#trusted-ips) and you can still use the old-school methods of connecting while in the office. No need to turn off MFA for the admins or mess up your scripts. If you have servers in

[2018-06-01 06:42] mdittakavi opened #1155 "Is WordPDF or PDF supported to remove bindings"
Hi Team,

is the below article still applies to SharePoint 2016 with office online server 2016.  we are trying to set PDF's to open in mobile default app instead of office online and found below article.

https://support.microsoft.com/en-au/help/2912639/mobile-viewing-pdf-files-with-office-web-apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-06-01 06:50] mdittakavi opened #1156 "is this still applicable in SharePoint 2016 office online server 2016"
we are trying to provision users to open the PDF in mobile browsers using mobile pdf application.

we can't see mobileview binding for wordpdf.

https://support.microsoft.com/en-au/help/2912639/mobile-viewing-pdf-files-with-office-web-apps

is the above article still applies to SP2016 with OOS2016

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-06-01 11:17] DanishIslam07 opened #1157 "Extra parameter in example"
In the example, it shows one extra paraemeter "HubSite" which is not applicable for "Remove-PnPHubAssoication" command.

Please remove this parameter. Correct example should be-
Remove-PnPHubSiteAssociation -Site https://tenant.sharepoint.com/sites/mysite

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a34e81-3375-ae6

[2018-06-01 13:21] Leumas09 opened #1158 "EXAMPLE 1 Error"
The function name is misspelled it's Test-PnPListItemIsRecord not Test-PnPListItemAsRecord

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd5caf54-9dfd-c604-ab24-1a0847eb387b
* Version Independent ID: 6aa21351-19f1-e365-fde9-8d1cc99205c0
* Content: [Test-PnPListItemIsRecord (sharepoint-pnp)](https://docs.microsoft.com/

[2018-06-01 16:59] Techwriter40 commented on #1156
@MikePlumleyMSFT need guidance since it applies to OOS.  thanks

[2018-06-01 16:59] Techwriter40 commented on #1157
@VesaJuvonen for your review

[2018-06-01 17:00] Techwriter40 commented on #1158
@VesaJuvonen for your review

[2018-06-01 17:53] MikePlumleyMSFT commented on #1156
@Techwriter40 please assign to @lorenahuangliu

[2018-06-01 18:01] Techwriter40 commented on #1156
@lorenahuangliu for your review

[2018-06-02 04:12] tseward commented on #1155
The article you linked says Office Online Server in the applies to. The `Remove-SPWOPIBinding` cmdlet says SharePoint Server 2016 in the applies to.

[2018-06-02 21:44] mdittakavi commented on #1155
Remove-SPWOPIBinding is applies to SP2016. It is known.

I am asking about WordPDF mobile view support.

Thanks and Regards,
Murali Dittakavi
Integration & Collaboration Technical Lead

From: Trevor Seward [mailto:notifications@github.com]
Sent: Saturday, 2 June 2018 2:12 PM
To: MicrosoftDocs/office-docs-powershell
Cc: Murali Dittakavi; Author
Subject: Re: [MicrosoftDocs/office-docs-powershell] Is

[2018-06-03 05:20] mdittakavi commented on #1156
Remove-SPWOPIBinding is applies to SP2016. It is known.

I am asking about WordPDF mobile view support.

[2018-06-03 16:52] tseward commented on #1155
Right, the article is very clear that MobilePDF is not available in OOS.

[2018-06-04 07:33] HTEredrock opened #1164 "Incorrect parameter name in Example 1"
In Example 1, ```-Identity``` should be ```-Url```.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d802e630-7754-682a-f0c6-bbe7b2936cd5
* Version Independent ID: c5603487-0a4b-c533-f1b0-7f95d955cfc0
* Content: [Set-PnPTenant (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/set-pnptena

[2018-06-04 07:53] HTEredrock commented on #956
Just to follow up here, I think this may be related to another issue we are experiencing on the Tenant. Will confirm details when the other issue has been resolved and I have tested the above again.

Please keep the issue open until then.

[2018-06-04 18:08] nsshommo opened #1166 "Need to find users connected to front-end servers individually."
Looking to find which users are connected to particular front-end servers. Options only seems to give a catch all or everything. Need to break it down by servers. So far none on the forums has found a way. They either mention do the catch all then sort it out manually or try individually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-06-04 18:40] nsshommo opened #1167 "Need help toggling privacy settings."
How can I toggle privacy settings on a local system with a powershell script? Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42a673c8-cbcd-0bc5-9b7e-40179236a825
* Version Independent ID: bebd5bcf-7be1-0cb1-7427-9cc5e7d9a5db
* Content: [Set-CsPrivacyConfiguration (skype)](https://docs.microsoft.com/e

[2018-06-04 19:07] pgemme opened #1168 "Connect-SPOService MFA support"
There is never a prompt for MFA logins during connection. Only the standard

I had to disable the Global Administrator's MFA to get around this.

[2018-06-04 20:33] nsshommo opened #1169 "Need help understanding TargetFqdn"
Don't understand the following description about TargetFqdn:
"TargetFqdn must point to the internal edge of the proxy server to which federated SIP traffic is directed"

What exactly this means? Internal edge of the proxy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29666e86-628b-019e-cbaa-5d8b6dd3884a
* Version Ind

[2018-06-04 20:43] nsshommo opened #1170 "Need to list the default values."
Default values are not listed in the yaml section. Let me know if I can update and PR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbf61d7d-bda0-9656-465d-9b519ed17b5e
* Version Independent ID: 2bb4825d-eedc-c8e2-3f51-0cafd652eadd
* Content: [Set-CsClientPolicy (skype)](https://docs.microsoft.com/en-us/powershell/mo

[2018-06-04 21:51] nsshommo opened #1171 "Need help finding users in a pool."
Need the command to find users in a pool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04a4a893-ff38-930b-20e5-31231b1859a7
* Version Independent ID: 53c97d7c-8c81-5387-011c-2aa97d64fe4e
* Content: [Get-CsUser (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/Get-CsUser?view=skype-ps)
* Content Source

[2018-06-05 11:21] paralyz3 opened #1173 "Adding multiple sites in one array"
A key use for this cmdlet for our organisation would be to add multiple sites in one array, instead of doing this on a per-site basis.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6338721-5bad-7526-8328-428bc420a0e9
* Version Independent ID: b69c571d-ab9f-80f1-eed1-9008e6cd5b76
* Content: [Add-SPOHubSiteAssociation]

[2018-06-05 11:41] nsshommo opened #1174 "Please update using multi-value arguments."
Other office 365 ps cmdlets use multi-value arguments but this cmdlet uses a string array for provider argument. This is confusing. Please change the cmdlet / api to make it consistent with all the others and make the provider argument multi-valued. Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaab

[2018-06-05 15:21] nsshommo opened #1175 "Need to find archiving data time."
Could you add the archiving data time, when open a session? Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c65d1f36-f93e-033c-178d-b68fa01025c7
* Version Independent ID: d6fb6d8a-6c43-1dba-7f92-47369e36d4d6
* Content: [Export-CsArchivingData (skype)](https://docs.microsoft.com/en-us/powershell/module

[2018-06-05 15:30] nsshommo opened #1176 "How to add a port number?"
Doesn't mention how to add a port number.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beecc066-fca4-b572-fdba-8e5c76c2de2b
* Version Independent ID: 2d1440c0-d467-099d-7da0-d023489416fb
* Content: [New-CsWebOrigin (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/New-CsWebOrigin?view=skype-ps)
* Cont

[2018-06-05 15:34] nsshommo opened #1177 "Need clarification."
Do you have a global option for all user to allow unauthenticated callers to be the first people in a meeting. If not, then they will wait in the lobby until an authenticated user joins.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7d9d1da-e548-5f48-b0b1-18ef69c0caac
* Version Independent ID: 2f967ff1-cb4f-2394-cf10

[2018-06-05 16:01] nsshommo opened #1178 "Need help."
How to get this command down to my local machine powershell? A link would be also helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ae79fa4-f881-d28c-d505-e3e1faf91a73
* Version Independent ID: 057f00d3-8e7c-1971-7d79-0c4e77017aa6
* Content: [Get-CsUserReplicatorConfiguration (skype)](https://docs.microsoft.com/

[2018-06-05 16:21] nsshommo opened #1179 "Need clarification."
Where is the previously removed information regarding who can run this command? What permissions/group memberships are needed to run this? What about if run from an FE server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4734fa1-475a-821e-0629-657b669f2a04
* Version Independent ID: 8cb78abd-0612-902e-1d17-e2c9568755

[2018-06-05 16:22] nsshommo opened #1180 "Need to know who can run this cmdlet?"
What happened to "Who can run this cmdlet?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55a81211-154e-7c33-7abd-95cbcb8cf87f
* Version Independent ID: d09ce2ed-2df4-1189-6573-466eb3880150
* Content: [New-CsCommonAreaPhone (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/New-CsCommonAreaPhone?view=sk

[2018-06-05 17:16] Techwriter40 commented on #1173
@VesaJuvonen for your review

[2018-06-05 17:18] #1164 closed

[2018-06-05 17:24] nsshommo opened #1181 "Need more information."
Would be useful to have a chart of all operations (e.g. get-csonlineuser, accessrequesapproved, etc.) require global admin access and which operations do not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41a216e9-0cb7-476d-8e0a-cce28974dd7b
* Version Independent ID: 2dcb78d9-7f36-208e-0989-184905d73011
* Content: [Ge

[2018-06-05 17:34] nsshommo opened #1182 "Need to get powershell module for Get-CsUser"
Where can i get the powershell module for Get-CsUser?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04a4a893-ff38-930b-20e5-31231b1859a7
* Version Independent ID: 53c97d7c-8c81-5387-011c-2aa97d64fe4e
* Content: [Get-CsUser (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/Get-CsUser?view=skype-ps)
* Co

[2018-06-05 19:56] nsshommo opened #1184 "Need to add note."
You should note: IPv6 doesn't work with this. As soon as you enable IPv6 on the Edge server, this fails every time. If you confirm, then I can update and submit a PR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29666e86-628b-019e-cbaa-5d8b6dd3884a
* Version Independent ID: 75a7a4ec-a163-d06e-558d-6373f880e0f0
* Cont

[2018-06-05 20:16] nsshommo opened #1185 "Need to add note about -disastermode parameter."
The parameter -disastermode is required for an enterprise pool if the back end SQL services are down but the front end servers are still up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82df2601-dba8-dbf2-edd3-4bc26bbc6cde
* Version Independent ID: 2a955fed-121a-e8d7-4034-84be8db61e13
* Content: [Invoke-CsPoolFailOve

[2018-06-06 14:47] VesaJuvonen commented on #1158
Thx @Leumas09 for reporting. Will be fixed in the June release when docs are re-generated - within next 7 days.

[2018-06-06 14:47] #1158 closed

[2018-06-06 14:49] VesaJuvonen commented on #1157
Fixed with the upcoming June content refresh. Thanks @DanishIslam07 for reporting.

[2018-06-06 14:49] #1157 closed

[2018-06-06 14:52] VesaJuvonen commented on #1081
thx @NPrice99, this will be fixed with the June 2018 content refresh for PnP PowerShell cmdlets. Appreciate the input.

[2018-06-06 14:52] #1081 closed

[2018-06-06 14:54] VesaJuvonen commented on #831
Will be fixed in June 2018 content refresh for PnP PowerShell cmdlets. Thanks, @DeanGross for reporting, appreciated.

[2018-06-06 14:54] #831 closed

[2018-06-06 14:55] VesaJuvonen commented on #904
Will be fixed with the June 2018 content update for PnP cmdlets - thanks @HTEredrock for reporting, appreciated.

[2018-06-06 14:55] #904 closed

[2018-06-06 14:56] VesaJuvonen commented on #910
Will be fixed with June 2018 content refresh for PnP cmdlets - thanks @shivask for reporting.

[2018-06-06 14:56] #910 closed

[2018-06-06 14:58] VesaJuvonen commented on #1007
Files are actually not needed. Needed assets are automatically provisioned from inside of the PowerShell cmdlet assembly, so there's no requirement to have those files downloaded. They are provided for a reference if someone would like to adjust them and use them outside of the context of this cmdlet.

[2018-06-06 14:58] #1007 closed

[2018-06-06 15:00] VesaJuvonen commented on #1139
Actually, it is. It's not there if you use the preview .NET standard version, but if you install PnP PowerShell from PowerShell gallery, it is included properly in the machine.

[2018-06-06 15:00] #1139 closed

[2018-06-06 15:31] Reddzman opened #1186 "Set-PnPListItem Values & Content Types"
When I use the PnP commands to update the document column values it changes the content type back to the out of the box (OotB) Document Content Type.  Here is my scenario...

Site content Type added to list
List columns added to Site content type on list
Check out document
Update Content type to site content type
Check in Document
Check out document
Update column values
Check in document

This pro

[2018-06-06 17:45] michevnew opened #1187 "Typo"
Hi folks, small typo in the FolderContact description: "move the move the folder and create subfolders"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64d723a2-5239-a5d5-f53e-ae72f4daadd2
* Version Independent ID: 50dceacf-6417-5d59-41af-38532bb058d2
* Content: [Add-MailboxFolderPermission (exchange)](https://docs.micr

[2018-06-07 08:29] VesaJuvonen commented on #1173
This is just matter of using ForEach in your script. Since each customer will have their own grouping, we can't really provide end-to-end example, but the For each process in Powershell is well documented in the following article https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/foreach-object?view=powershell-6

[2018-06-07 08:31] VesaJuvonen commented on #1168
If you execute the Connect-SPOService without providing credentials, you will be prompted for the auth window, which is supporting MFA.

[code]

[2018-06-07 08:31] #1168 closed

[2018-06-07 08:32] VesaJuvonen commented on #983
Fixed now.

[2018-06-07 08:32] #983 closed

[2018-06-07 08:33] VesaJuvonen commented on #1058
Document removed from the SPO side.

[2018-06-07 08:33] #1058 closed

[2018-06-07 08:34] VesaJuvonen commented on #977
That is not supported. This cmdlet is for adding theme to the tenant level, not for activating theme in the site level.

[2018-06-07 08:34] #977 closed

[2018-06-07 08:35] VesaJuvonen commented on #1059
This is SP server-side cmdlet, so removed from the SPO side.

[2018-06-07 08:35] #1059 closed

[2018-06-07 13:58] sympmarc commented on #1054
Glad to be of help!

[2018-06-07 16:21] chrisda commented on #1187
@michevnew, I fixed it (the "move the move the" typo was actually in FolderOwner).

In the future, don't be so shy! **You** can click Edit (the pencil) in the topic and update the topic yourself. Once your change is approved, it will go live.

The "instructions" (if you can call them that since they're so simple) are here:

[https://help.github.com/articles/editing-files-in-another-user-s-reposito

[2018-06-07 16:21] #1187 closed

[2018-06-07 21:51] jsmartbnl opened #1201 "'NotificationEmails' parameter no longer working in Exchange Online as of June 5th, 2018."
As of June 5th, 2018, using the 'NotificationEmails' parameter no longer works with a session connected to Exchange Online:

[code]

It's not clear if this is a change in the module or just a bug.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a26d294-9e92-9f8c-974e-ef3778555672
* Version Independent ID: 3ed72874-9342

[2018-06-08 09:27] naminakao opened #1203 "EnableDialInConferencing is not applicable to SfB Online"
Based on the following work item, EnableDialinConferencing is not applicable to SfB Online. But [this page](https://docs.microsoft.com/en-us/powershell/module/skype/new-csconferencingpolicy?view=skype-ps) does not mention that. Please add EnableDialinConferencing to "The following parameters are not applicable to Skype for Business Online: ".

Title: 1451047 Remove EnableDialinConferencing as a Me

[2018-06-08 10:40] webk1 opened #1204 "Set-PnPWebTheme on subsites"
I have this issue:

The root site `https://tenant.sharepoint.com/sites/sitecollection/` is set with its own modern (  or classic ) theme.

I am using
`Set-PnPWebTheme -Theme "customTheme" -WebUrl "https://tenant.sharepoint.com/sites/sitecollection/subsite"`
 to apply a modern theme to a subsite , successfully .

The command initially succeeds and my subsite modern theme is applied. However as soon

[2018-06-08 12:32] pgemme commented on #1168
I had only been providing the username; good call, completely missed this. Thanks.

[2018-06-08 15:15] jordanmills commented on #1182
Install the SFB administrative tools.  It doesn't have to be done on an SFB server.

https://docs.microsoft.com/en-us/skypeforbusiness/deploy/install/install-administrative-tools

[2018-06-08 15:18] jordanmills commented on #1166
Did you try get-csuserpoolinfo?

[2018-06-08 15:21] jordanmills commented on #921
The problem is that it's not a module.  It's a clickonce app that drops a local copy of a script and a shortcut that runs the script.  There's no reason it couldn't be a module.  It would be a lot easier if it were a module.

[2018-06-08 15:23] jordanmills opened #1205 "Exchange Online Remote PowerShell Module is not a module"
Either the name needs to be fixed, or it needs to be made a module.  Having an actual module, especially if it were published to the powershell gallery, would be far preferable.

[2018-06-08 15:32] yeshwanthjagannath opened #1206 "Invalid Authentication issue again!!"
Again being faced with the below error:

New-Team : Error occurred while executing
Code: InvalidAuthenticationToken
Message: Access token validation failure.
InnerError:
  RequestId: f55a9e67-e00e-4264-a119-7e22f19e9438
  DateTimeStamp: 2018-06-08T15:29:39
HttpStatusCode: InvalidAuthenticationToken

At line:15 char:10
+ $group = New-Team -DisplayName $teamname -alias $alias -AccessType Pr ...
+

[2018-06-08 16:49] kenwith commented on #1206
@yeshwanthjagannath - I am not sure on this one but want to make sure this gets resolved for you ASAP. Would you please open a service request in your tenant admin? Here is a quick video: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information you are discovering back into the docs. Let's keep this open u

[2018-06-08 18:04] jeremytbrun commented on #921
For the time being here is a little gem of a script I found on PowerShell Gallery to check for and install the EXO MFA "module" programmatically.
https://www.powershellgallery.com/packages/Load-ExchangeMFA

Of course ideally it should be in the gallery itself.

[2018-06-08 19:29] jordanmills commented on #921
I hope I don't get in trouble for this.. Try

Find-Module -Name "Microsoft.Exchange.Management.ExoPowershellModule" |
Install-Module;
Import-PsSession -Session (New-ExoPSSession -UserPrincipalName $Credential.Username -ConnectionUri 'https://outlook.office365.com/PowerShell-LiveId' -AzureADAuthorizationEndpointUri 'https://login.windows.net/common' -Credential $Credential);

[2018-06-08 23:00] chrisda commented on #1201
@jsmartbnl the NotificationEmails parameter currently has the "available only in on-premises Exchange" disclaimer at the top of the description.

Granted, the Applicable: tag after the description has the values "Exchange Server 2013, Exchange Server 2016, Exchange Online" but that's an artifact of the TechNet to docs.microsoft.com migration that I have since fixed.

Thanks for the feedback.

[2018-06-08 23:00] #1201 closed

[2018-06-09 10:36] caclp opened #1218 "i am a Hotmail user, can i access Hotmail Exchange Online PowerShell?"
i need to change some settings of my Hotmail Account (eg. ImapForceICalForCalendarRetrievalOption), so i tried to connect exchange online power shell interface, but i got the following error.

PS C:\WINDOWS\system32> $Session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://outlook.office365.com/powershell-liveid/ -Credential $LiveCred -Authentication Basic -AllowRedire

[2018-06-11 06:51] makorus opened #1220 "Add Option to set Channel Favourites"
This is not an issue, this is more a feature request.

Please add an option to the "New-TeamChannel" and "Sew-TeamChannel" to enable us setting a specific or a new channel as a favourite for the entire team.

This is extremely important to us; We're planning to move from an open source solution to Microsoft Teams for our students (approx. 400 teachers and 5000 students here). Setting channel favou

[2018-06-11 08:23] stevedare opened #1221 "New-PnPList tasks template"
Hello,

I want to add a task list to a sp site using this command:

New-PnPList -Title Taken -Template Tasks

It works, but I don't have the tasks timeline in the view?

![image](https://user-images.githubusercontent.com/40163843/41220344-641711ce-6d61-11e8-99f5-cde53f8f27fe.png)

Also when I go to the view setting, in the 'design' tab, I don't have the option to activate the timeline

When I crea

[2018-06-11 08:31] ToddBleeker commented on #524
I agree with @kylepdx, the docs should include image sizes.

That said, I looked for the size of the out-of-the-box image provided by Microsoft and they consistently use 400px wide X 421px high PNGs. Hope that helps others that are looking for these dimensions.

In fact, I recommend navigating to the SharePoint Home page, beginning the creation of a Communication Site, choosing the Blank Site Desi

[2018-06-11 08:46] erwinvanhunen commented on #1082
Thank you @NPrice99 : Added in PR https://github.com/SharePoint/PnP-PowerShell/pull/1605

[2018-06-11 08:57] erwinvanhunen commented on #971
@JonEOffice I am unfortunately not able to reproduce this. As you state, the value needs to be separated with a comma, otherwise PowerShell will think of it as a string instead of a multi-value.  If the issue still stands with the latest version of PnP PowerShell, can you please create an issue at https://github.com/sharepoint/pnp-powershell/issues so we can follow up there?

[2018-06-11 09:00] erwinvanhunen commented on #520
We'll consider adding this. In the meantime, the handlers parameter is an enum, this means that you can use PowerShell completion (tab) to loop through the possible handlers. It's on our backlog to create up to date documentation for the Provisioning Engine in general.

[2018-06-11 09:15] erwinvanhunen commented on #966
Thank you @NPrice99. Added in PR https://github.com/SharePoint/PnP-PowerShell/pull/1606

[2018-06-11 10:10] VesaJuvonen commented on #1082
Closed based on the update from @erwinvanhunen as PR is merged.

[2018-06-11 10:10] #1082 closed

[2018-06-11 10:10] VesaJuvonen commented on #971
Closed based on the update from @erwinvanhunen as PR is merged.

[2018-06-11 10:10] #971 closed

[2018-06-11 10:11] VesaJuvonen commented on #520
Closing based on comment from @erwinvanhunen.

[2018-06-11 10:11] #520 closed

[2018-06-11 10:11] VesaJuvonen commented on #966
Closed based on the update from @erwinvanhunen as PR is merged.

[2018-06-11 10:11] #966 closed

[2018-06-11 11:04] MarcoJanse opened #1223 "The Remove-ComplianceTag cmdlet seems to be gone"
When connected to Exchange Online, I cannot find the Remove-ComplianceTag cmdlet:

"Get-Command -noun compliance*" doesn't give me any relevant cmdlets to remove tags.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d3460f6-0eaa-8f6f-e684-833ce077618c
* Version Independent ID: 7980acef-b066-9e4b-a1cf-408acbb5bdec
* Con

[2018-06-11 11:41] moreaboutmatt commented on #953
Any news on getting over the 60 minute timeout? It's killing our PF admin scripts to add permissions to lots of folders.

[2018-06-11 16:27] chrisda commented on #953
@moreaboutmatt, I just added the workaround (Trusted IPs) to the topic as described by @mikemartin1090 in the previous comment in the thread. Apparently, that is the only available fix at this time.

Thanks for the feedback.

[2018-06-11 16:27] #953 closed

[2018-06-11 16:43] chrisda commented on #1223
@MarcoJanse, according to the topic, Remove-ComplianceTag is only available in Security & Compliance Center PowerShell. Those connection instructions are here [Connect to Office 365 Security & Compliance Center PowerShell](https://docs.microsoft.com/powershell/exchange/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell).

Thanks for the feedback.

[2018-06-11 16:43] #1223 closed

[2018-06-12 03:45] Imwot opened #1225 "Confusion"
In example 2 you list -identity * but under the parameters you say that the identity parameter will not accept wildcards!
Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64eec30c-8fee-b6ee-de2b-dd2cb1b339c0
* Version Independent ID: 678ecad3-b2e1-ceb5-d02f-9807b6a2dedc
* Content: [Get-MailboxJunkEmailC

[2018-06-12 11:52] webk1 commented on #1204
@VesaJuvonen Hi Vesa, would you have heard of such issue , or is it a new thing ?

[2018-06-12 14:53] DeanGross opened #1226 "Admin Support for Teams"
This module is inherently useless to most admins because it violates the principle of least permission. MS needs to redesign this module so that it can be used by admins (the people that write scripts) without requiring them to be in a Team. Admins can work with Groups and Sites without belonging to them and the same concept is needed for Teams

[2018-06-12 16:20] mikemartin1090 commented on #953
Nice - at least people will have an idea now of why it errors out after an hour.

[2018-06-12 18:34] kenwith commented on #1226
@DeanGross - thanks for this feedback. I have sent it to the Teams product team to make sure this is on their radar if it wasn't already. Keep feedback coming!

[2018-06-12 18:34] #1226 closed

[2018-06-12 22:02] chrisda commented on #1218
@caclp, there isn't a PowerShell environment for Hotmail.

[2018-06-12 22:03] #1218 closed

[2018-06-13 12:51] YuriySamorodov opened #1232 "Get-MailboxJunkEmailConfiguration Prefixes Error"
When the following conditions are met:

- you connect to Exchange Online via PowerShell as an Admin
- you import cmdlets with prefixes using ```Import-PSSession```
- you run ```Get-MailboxJunkEmailConfiguration``` against some other mailbox

You get the following error:

DM6PR14MB2460.namprd14.prod.outlook.com: Server version 15.20.0841.0000, Proxy method RPS:
The WinRM client cannot process the r

[2018-06-13 18:35] DeanGross commented on #914
Following up, can someone please respond?

[2018-06-13 18:42] kenwith commented on #1220
@makorus - thank you for this feedback. I am going to surface this to the product team and also if I could ask you to open this at: https://microsoftteams.uservoice.com/forums/555103-public because uservoice is where all facets of product team look for exactly this type of feedback. This is really good information. I was just in an all day meeting Monday discussing Teams for Education and I am goi

[2018-06-13 18:47] kenwith commented on #1203
@naminakao - please submit a Pull Request to update the article and I will merge it in based on the VSO item you referenced. Instructions for making edits are available in the README here: https://github.com/MicrosoftDocs/office-docs-powershell

[2018-06-13 18:47] #1203 closed

[2018-06-13 19:01] makorus commented on #1220
@kenwith - thank you very much for your reply. I've just opened a UserVoice idea.
https://microsoftteams.uservoice.com/forums/555103-public/suggestions/34553959-add-option-to-set-channel-favourites-via-powershel

Thank you for your support.

[2018-06-13 19:02] kenwith commented on #914
@DeanGross you might also try github.com/sharepoint  .. I know @VesaJuvonen has a large PnP community there.

[2018-06-13 19:02] DeanGross commented on #832
I'm still waiting, any idea when the example will be added?

[2018-06-13 19:04] Techwriter40 commented on #832
@VesaJuvonen for your review and add example.

[2018-06-13 19:12] kenwith commented on #1220
@makorus - perfect thanks!

[2018-06-13 20:03] DeanGross opened #1236 "Usage example"
Can you please provide some examples of how this should be used with other cmdlets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfa98588-07ef-34d7-c358-d2e4cc163b75
* Version Independent ID: 56124b45-0cec-6c38-227f-6b344909ce5a
* Content: [Get-PnPAccessToken (sharepoint-pnp)](https://docs.microsoft.com/en-us/powersh

[2018-06-13 21:22] yeshwanthjagannath commented on #1206
@kenwith  - Did some more digging on this issue and found that when i execute in Windows PowerShell with the cmdlet: Connect-MicrosoftTeams, i get all four attributes as shown in the first part of the image.

However, when i do same on Azure Runbook, i do not see the TenantDomain attribute being returned from the cmdlet: Connect-MicrosoftTeams. Maybe this could be a lead?

Please take a look at th

[2018-06-13 21:30] kenwith commented on #1206
Linking this issue too: https://github.com/MicrosoftDocs/office-docs-powershell/issues/156

@SamCosby - FYI that support case coming through on this and I can get any info back into the docs.

[2018-06-13 21:55] kenwith commented on #1206
@yeshwanthjagannath - thanks for looping me on support case. I will follow and get that knowledge back into the docs for the community. Appreciated.

[2018-06-13 22:53] yeshwanthjagannath commented on #1206
@kenwith - Thank you, look forward to a faster resolution on this.

[2018-06-14 11:52] SamCosby commented on #1206
@yeshwanthjagannath - I've seen this before caused by a CA policy applied. Can you check to see if your account has any CA policies applied and if so, remove for testing to validate if it's that?

[2018-06-14 17:07] DeanGross opened #1241 "Adding user without replacing"
How can we add new member or owner without replacing the existing members/owners?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c7c0144-3d70-5812-617f-3ab914aca3eb
* Version Independent ID: f188ada0-7d29-0c95-fa51-c0a62a71a8d0
* Content: [Set-PnPUnifiedGroup (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershe

[2018-06-14 17:24] grtaylor806 opened #1242 "Incorrect parameter documentation"
The document states to use an HTML colour code for -backgroundcolor, however this doesn't work, it actually wants the colour. For example black. What's even more hilarious is that if you want light blue, it will do that but you have to put lightblue and not 'light blue' as you might expect. There appears to be an undocumented number of colours you could have; for example it likes royalblue but not

[2018-06-14 18:39] stvpwrs opened #1244 "Unregister-SPOHubSite not accepting GUID for SpoHubSitePipeBind"
I have a "ghost" Hub Site where the site got deleted before the hub was removed. When trying to use Unregister-SPOHubSite with the GUID of the Hub Site from Get-SPOHubSite it throws the following error:

[code]

I thought this might be a type error with the GUID, but the following didn't help:

`$guid = [GUID]"a3da3d77-4454-4514-8cc6-4f3f2679aa8e"`

[code]

I hope I am missing something about pass

[2018-06-14 20:10] chrisda commented on #1242
@grtaylor806, I've determined after testing that the BackgroundColor parameter does accept hex color code values (in 0x00xxxxxx notation, not #xxxxxx like the topic says), but only from a list of 140 _specific_ values. Or you can specific the corresponding text value (e.g., 0x0000FA9A or mediumspringgreen). Because there are so many values, I wrote a separate topic and linked to it from the parame

[2018-06-14 20:10] #1242 closed

[2018-06-14 20:37] chrisda commented on #1232
@YuriySamorodov, at the risk of being too basic, you're connecting using the official Exchange Online PowerShell connection instructions [here](https://docs.microsoft.com/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/connect-to-exchange-online-powershell)? I connected to an E3 organization and ran `Get-MailboxJunkEmailConfiguration -Identity <SomeOtherMailbox>` and I re

[2018-06-14 20:42] chrisda commented on #1232
@YuriySamorodov, I didn't pick up on the fact that you were using prefixes. I connected again using prefixes on the session ran the command again, and it still worked (`Get-abcMailboxJunkEmailConfiguration -Identity <SomeOtherMailbox>`). If you're using prefixes, are you connecting to multiple PowerShell environments at the same time? If so, what are they, and if you connect only to Exchange Onlin

[2018-06-15 09:45] OliverMoazzezi opened #1246 "Thanks for adding clarification on colour options for -backgroundcolor"
I've just signed up to Github to say thanks - I raised it to Greg. One thing more if I can ask though, not everyone looks down in the comments and the actual parameter is incorrect in this article still. Can it be updated and also include a link to your new awesome support.office.com article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is