[2019-06-24 11:31] smazhar007 commented on #3188
This command doesn't work, is there any timeline when this will be supported?

[2019-06-24 11:59] get-itips commented on #3570
@webash I agree with you that documentation should be changed before, what I described is what actually happen.
@islubin can you, from Teams side, help us here to give some more info to @webash ? I appreciate.

[2019-06-24 12:02] yogkumgit commented on #3600
@officedocsbot assign @yogkumgit

[2019-06-24 12:12] yogkumgit commented on #3551
@officedocsbot close

[2019-06-24 12:12] #3551 closed

[2019-06-24 12:42] yogkumgit commented on #3549
@chrisda please reply to the query asked by @get-itips

[2019-06-24 13:17] yogkumgit commented on #3546
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Dusted1969 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-24 13:17] yogkumgit commented on #3546
@officedocsbot close

[2019-06-24 13:17] #3546 closed

[2019-06-24 13:20] yogkumgit commented on #3569
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @francescopoli Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-06-24 13:21] yogkumgit commented on #3569
@officedocsbot close

[2019-06-24 13:21] #3569 closed

[2019-06-24 22:59] msbeane443 opened #3612 "Suggestion for new -ExcludePurgesFolder parameter for New-ComplianceSearch cmdlet"
Hello,

I've recently been given responsibility for search and purge operations for emails in our Office365 tenant.  Our mailboxes are all configured with LitigationHold enabled meaning if I run a purge operation and then re-run the search, the result set still includes the documents that should have been moved to the Purges folder when the Purge search action was run.  If I want to be sure that t

[2019-06-25 10:48] cammurray opened #3613 "Changes to the default protection alerts do not appear in Get-ProtectionAlert"
When performing a change to one of the default protection alerts, for instance; "User restricted from sending email", these changes do not appear to be reflected by performing the Get-ProtectionAlert.

You can replicate this behaviour by modifying, for instance, the notification users by adding a new user. When running Get-ProtectionAlert on a default alert, it will always say "TenantAdmins" even

[2019-06-25 12:21] yogkumgit commented on #3612
@officedocsbot assign @yogkumgit

[2019-06-25 12:21] yogkumgit commented on #3613
@officedocsbot assign @yogkumgit

[2019-06-26 06:55] Borkason opened #3616 "Missing description for parameter 'HiddenGroupMembershipEnabled'"
Missing description for parameter 'HiddenGroupMembershipEnabled'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd7d69db-be49-179e-94ce-635337c98d07
* Version Independent ID: 9e372e66-5c7e-4d9a-56de-a35ae353fa09
* Content: [Set-UnifiedGroup (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange/users-a

[2019-06-26 07:01] Borkason opened #3617 "Description for HiddenFromAddressListsEnabled parameter inaccurate"
&gt; $true: The Office 365 Group is hidden from the GAL and other address lists. The group can still receive messages, but users can't search for or browse to the group in Outlook or Outlook on the web. Users also can't find the group by using the Discover option in Outlook on the web. **For users that are members of the Office 365 Group, the group will still appear in the navigation pane in Outlo

[2019-06-26 08:15] o-l-a-v opened #3618 "Not available from Exchange Online PowerShell anymore?"
## Problem description
"Get-DynamicDistributionGroup" does not seem to be available from Exchange Online PowerShell anymore.

## Steps to reproduce
* $Credentials = Get-Credential
* $Session = New-PSSession -ConfigurationName 'Microsoft.Exchange' -ConnectionUri 'https://outlook.office365.com/powershell-liveid/' -Credential $Credentials -Authentication 'Basic' -AllowRedirection
* Import-PSSession -

[2019-06-26 08:23] o-l-a-v commented on #3618
I goofed on permissions. Global admin/ exchange admin had the cmdlet available. Sorry.

[2019-06-26 08:23] #3618 closed

[2019-06-26 12:14] yogkumgit commented on #3616
@officedocsbot assign @yogkumgit

[2019-06-26 12:14] yogkumgit commented on #3617
@officedocsbot assign @yogkumgit

[2019-06-26 12:52] emendoadmin commented on #3086
Same error for me when renaming a site collection URL:
Start-SPOSiteRename : Error Code: -5,This site address can't be changed.

Is there any update? Thanks in advance

[2019-06-26 14:10] h-am opened #3619 "New-Team - Token error when Run as a scheduled task"
We have a powershell script we are running to create Teams. The script runs fine when logged in and running manually. If the script is set to run as a scheduled task it is failing on the New-Team command with the following error:

Error occurred while executing Code: InvalidAuthenticationToken Message: Access token validation failure. Invalid audience. InnerError: RequestId: xxxxxxxx-xxxx-xxxx-xxx

[2019-06-26 15:16] 2ndcahl opened #3620 "Link to module: exchange is not working (404)"
The link does not work:
https://docs.microsoft.com/en-us/powershell/module/exchange/policy-and-compliance-content-search/?view=exchange-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e72de6a-dd0f-e6e3-c4b1-63ee1cf752e8
* Version Independent ID: 228e51b7-a16a-1e5d-11c9-95cdc30b23dd
* Content: [New-ComplianceSearch (

[2019-06-26 15:50] fbsall opened #3621 "Connect to Exchange Online PowerShell by using MFA"
Greetings.

When I type the following command: Connect-EXOPSSession -UserPrincipalName &lt;my_o365@email.com&gt;
a blank window opens then fade away after a few seconds, which means that I was not able to proceed with steps 3 and 4.

I get this warning:
WARNING: The names of some imported commands from the module 'tmp_mabtaarz.jdt' include unapproved verbs that might
make them less discoverable. T

[2019-06-26 16:27] xkcd350 commented on #3433
I've tried updating the threshold of the  'Messages have been delayed' from 2000 to the lowest minimum allowed (200) through the GUI, however when I do a Get-ProtectionAlert looking for that Alert I see the threshold is unchanged.

I'm unable to do a 'Set-ProtectionAlert -Identity "GUID" -threshold 200' or 'Set-ProtectionAlert -Identity "FFO.extest.microsoft.../Configurations/Messages have been de

[2019-06-26 19:23] #3534 closed

[2019-06-26 20:18] h-am commented on #3619
I have gotten this working & am closing this issue. Following this blog:
https://techcommunity.microsoft.com/t5/Azure-Active-Directory/Example-of-retrieving-Azure-AD-access-reviews-via-Microsoft/td-p/236096

We setup an app and generated the ID and secret ID.

I modified the the Get-GraphExampleAuthToken function from the link above in the following ways:
passed in a few more parameters to the fun

[2019-06-26 20:18] #3619 closed

[2019-06-26 21:46] tiagoroxo opened #3626 "Lack on MA/MFA details"
[This document should add information for the scenarios on where Modern Authentication(MA) it's enabled and Multi-Factor Authentication(MFA)]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15c68752-3b36-518f-8cf1-7a4e2aa8cf15
* Version Independent ID: 98b9a798-e232-0b2c-ee0f-857071885c1d
* Content: [Move-CsUser (skype)

[2019-06-26 22:40] jeffreymcclain opened #3627 ""Fields" parameter unclear, add another example"
$items = Get-PnPListItem -List Tasks
foreach ($item in $items) {
echo $item["CustomField"] #dot operator doesn't work
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51027f4b-155d-58c3-a020-3e80629567ce
* Version Independent ID: 12045879-94af-fd90-66a0-8f3db00a579f
* Content: [Get-PnPListItem (sharepoint-pnp)](https:/

[2019-06-27 04:32] Premian opened #3628 "Please recheck typo"
As per the blog Content Type replication job could run SharePoint Online?? is this typo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df6e4f97-6e98-78ec-dff6-2b95502d620a
* Version Independent ID: 4b99b800-f88b-413d-f943-8cdb8027211d
* Content: [Stop-SPContentTypeReplication (sharepoint-server)](https://docs.microsof

[2019-06-27 09:12] ThomasBIDAULT opened #3629 "Component argument is missing WebScheduler Value"
Could you add "WebScheduler" to the -Component possible value ? This Component value is used to define custom URL for Web Scheduler.

More information https://blogs.technet.microsoft.com/praj/2016/04/04/configuring-web-scheduler-in-skype-for-business-2015-environment/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e0c

[2019-06-27 09:22] anwarmahmood1 opened #3630 "how do I filter Office 365 groups? the cmdlet list doesn't include get-unifiedgroup, even though get-unifiedgroup takes a -filter parameter"
if they aren't the same as these, then what are they?  Can you create a separate page?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce35226-b40b-3c9f-a37f-585b84aa129e
* Version Independent ID: ac9953e2-769a-c115-b1c6-e6f6fc940db2
* Content: [Filterable properties for the Filter parameter](https://docs.microsoft.com

[2019-06-27 09:40] anwarmahmood1 commented on #1668
ManagedBy is a filterable attribute; eg
Get-UnifiedGroup -Filter {ManagedBy -eq $null}
Get-UnifiedGroup -Filter {ManagedBy -ne $null}

However, I don't know how to filter by a name.  This would be immensely helpful!

[2019-06-27 09:44] anwarmahmood1 commented on #1668
filtering as a string doesn't work; ie

Get-UnifiedGroup -Filter {ManagedBy -eq "SNadella"}

However, if I use something like...
$managers = get-unifiedgroup -filter {DisplayName -eq "Accounts"} | select -expandproperty managedBy

...then $managers will be a string object.

In other words, it returns a string, but won't take a string. Aargh!

[2019-06-27 09:46] anwarmahmood1 commented on #1668
ManagedByDetails is not a filterable property.

[2019-06-27 10:41] waelschakaki opened #3631 "Missing descritopn for paramter BypassMode"
Hello ,
there is another parameter\switch to this command which is BypassMode, what are the option and what is the decription of this parameter ?
Regards,
Wael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63a495ab-16d4-4f7f-d17e-5b1a9779247f
* Version Independent ID: cf4bfc0e-fd8d-d5ca-5432-798af72a8885
* Content: [S

[2019-06-27 12:51] chandreshgit commented on #3294
It will not work, SharePoint Engineer has removed this since 2015.

You can send the support desk a copy of the correlation ID, it takes a week or two on average from what my sys admins have told me (They put in all our requests). You will either get the log lines, a translation of what happened or be told it is internal.

[2019-06-27 14:17] umutge opened #3632 "Inaccurate results for user filter"
When Teams Admin queries an user's teams memberships (Get-Team -User &lt;id&gt;), the result includes extra groups that are not queried member of. It lists correct query results, plus some other groups that querying (Teams Admin) account is member of.

Accurate result can be retrieved only when querying user is Global Admin role member.

As the command is built on top of Graph, I believe delegated

[2019-06-27 14:40] dariomws306 commented on #3350
Hi @SwiftOnSecurity, thank you for your feedback.

This parameter is not used actually. I have added a new description.

Thanks!

[2019-06-27 14:57] yogkumgit commented on #3620
@officedocsbot assign @yogkumgit

[2019-06-27 14:57] yogkumgit commented on #3621
@officedocsbot assign @yogkumgit

[2019-06-27 14:57] yogkumgit commented on #3626
@officedocsbot assign @yogkumgit

[2019-06-27 14:58] yogkumgit commented on #3627
@officedocsbot assign @yogkumgit

[2019-06-27 14:58] yogkumgit commented on #3628
@officedocsbot assign @yogkumgit

[2019-06-27 14:58] yogkumgit commented on #3629
@officedocsbot assign @yogkumgit

[2019-06-27 14:58] yogkumgit commented on #3630
@officedocsbot assign @yogkumgit

[2019-06-27 14:59] yogkumgit commented on #3631
@officedocsbot assign @yogkumgit

[2019-06-27 14:59] yogkumgit commented on #3632
@officedocsbot assign @yogkumgit

[2019-06-27 16:46] chrisda commented on #1668
The theme I noticed when creating that topic is: most filterable attributes require the distinguished name (DN) value of the object So, if you know the identity (name, alias, email address, etc.) of the Mananger, run the command:

[code]
and then use the distinguished name value in the filter:

[code]

[2019-06-27 20:49] tseward commented on #3628
@yogkumgit this should be *from* SharePoint Online instead of *to*.

[2019-06-27 21:54] nellymo opened #3634 "Pause Migration Cmdlet"
Is there a possibility of adding a Pause-Migration cmdlet or a Set-Migration cmdlet with a pause parameter for a migration job?

[2019-06-27 23:01] JakeMoe opened #3636 "Command deprecated?"
When I run this command to clear out user mailboxes of items, I've started to get this message in the last few days.

WARNING: Search-Mailbox is being deprecated. Please use New-ComplianceSearch and related eDiscovery commands instead.

It would be good to get some more info around this, especially the "-DeleteContent" switch, which apparently won't work well in the new command, as it's been limit

[2019-06-28 00:14] mdhirt opened #3637 "Example 2 error"
Hi,

On my exchange 2013 server Example 2 was not working.

I found that by adding the Name property to the Mailbox parameter  for Get-ActiveSyncDeviceStatistics resolved it for me.

I expect this is because the objects returned by Get-CASMailbox are not Mailbox objects as required by the Mailbox parameter of Get-ActiveSyncDeviceStatistics, however giving the parameter the CASMailbox object Name p

[2019-06-28 00:21] mdhirt commented on #3637
Just found the examples for Get-MobileDeviceStatistics which work much better and should probably be used in preference to Get_ActiveSyncDeviceStatistics because it is being depreciated.

https://docs.microsoft.com/en-us/powershell/module/exchange/devices/get-mobiledevicestatistics?view=exchange-ps

[2019-06-28 03:13] repton-infinity opened #3638 "Example uses "-Identity" as a parameter but it should be "-Path""
-Identity is not a valid parameter for this commandlet; it should be -Path

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a06bdcc-a7ff-b88f-be6a-d19c009df655
* Version Independent ID: b147436d-1916-218d-1c74-5a86ae5e78f2
* Content: [New-SPEnterpriseSearchCrawlRule (sharepoint-server)](https://docs.microsoft.com/en-us/

[2019-06-28 08:43] anwarmahmood1 commented on #1668
Thanks Chris.

That works!

In case anyone is reading, here's an example;

`Get-UnifiedGroup -Filter {ManagedBy -eq "CN=FredFlintstone,OU=bedrock.onmicrosoft.com,OU=Microsoft Exchange Hosted Organizations,DC=EURPR03A002,DC=prod,DC=outlook,DC=com"}`

This method certainly isn't obvious, given that the "managedby" shows only the CN part (eg FredFlintstone), which would suggest that you would use tha

[2019-06-28 10:56] yogkumgit commented on #3636
@officedocsbot assign @yogkumgit

[2019-06-28 10:57] yogkumgit commented on #3634
@officedocsbot assign @yogkumgit

[2019-06-28 10:57] yogkumgit commented on #3637
@officedocsbot assign @yogkumgit

[2019-06-28 10:57] yogkumgit commented on #3638
@officedocsbot assign @yogkumgit

[2019-06-28 12:04] yogkumgit commented on #3512
@erwinvanhunen Gentle reminder Please merge the PR SharePoint/PnP-PowerShell#2136

[2019-06-28 12:06] yogkumgit commented on #3523
@erwinvanhunen Gentle reminder. Please merge the Corrected set logo example SharePoint/PnP-PowerShell#2131

[2019-06-28 13:38] yogkumgit commented on #3350
@dar Thank you very much for the contribution and updating the documentation with PR. @SwiftOnSecurity  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-06-28 13:39] yogkumgit commented on #3350
@officedocsbot close

[2019-06-28 13:39] #3350 closed

[2019-06-28 17:40] mnooseman opened #3639 "OU and RecipientContainer are not actually valid for Exchange Online"
Exchange Online cannot see on premise OU Structure, and OU Structure doesn't exist in Azure AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 439f74a1-badd-e304-55d8-1981f86c5440
* Version Independent ID: e51876c4-c39d-a1b6-4624-599eb8f823d8
* Content: [New-DynamicDistributionGroup (exchange)](https://docs.microsoft.c

[2019-06-28 21:50] get-itips commented on #3627
Hello @jeffreymcclain
Thanks for your feedback.
Correct me if I understood wrong your example, but you need to use it slightly different

Once you get the single ListItem object, you can call the FieldValues method like this:

`$item.FieldValues["CustomColumn"]`

To get the value of that CustomColumn. You can use the same method to get the value of an OOB column.

To my opinion this is showed in t

[2019-06-28 22:39] chrisda commented on #3639
@mnooseman, I get your point, but the facts are:

- The Get-OrganizationalUnit cmdlet is available in Exchange Online PowerShell, and when you run:

[code]

   You get the output:

  Granted, this isn't terribly helpful as ALL user objects are in a single OU.

- The following command works in Exchange Online PowerShell:

[code]

So, we're in the weird position where the parameters are available, t

[2019-06-29 07:22] jebujohn opened #3640 "Downloading Exchange Online Powershell on Edge wont work"
With the new chromium build, the click once will only work on Explorer. Took me an hour to figure that edge browser, newer builds wont work. Can you confirm or change text here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34fa66b0

[2019-06-30 08:32] yogkumgit commented on #3640
@officedocsbot assign @yogkumgit

[2019-07-01 11:24] yogkumgit commented on #3524
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @jwojnar Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-01 11:24] yogkumgit commented on #3524
@officedocsbot close

[2019-07-01 11:24] #3524 closed

[2019-07-01 11:27] yogkumgit commented on #3521
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @JensTrier Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-01 11:28] yogkumgit commented on #3521
@officedocsbot close

[2019-07-01 11:28] #3521 closed

[2019-07-01 11:33] yogkumgit commented on #3513
@dariomws306  Thank you very much for the contribution and sharing this explanation. @Wardrop
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-01 11:34] yogkumgit commented on #3513
@officedocsbot close

[2019-07-01 11:34] #3513 closed

[2019-07-01 16:38] dariomws306 commented on #3626
Hi @tiagoroxo, thank you for your feedback.

To connect to Skype for Business Online Powershell you should use these steps:
https://docs.microsoft.com/office365/enterprise/powershell/manage-skype-for-business-online-with-office-365-powershell

You have 2 different instructions if you are using MFA or not.

[2019-07-01 17:58] tseward commented on #3640
ClickOnce isn't supported with Chrome. When current documentation mentions 'Edge', it is going to refer to the EdgeHTML application as Chromium Edge hasn't RTM'ed. Make sure to submit a bug in Chromium Edge indicating it doesn't work -- I also submitted one.

[2019-07-01 21:40] dariomws306 commented on #3621
Hi @fbsall, thank you for your feedback.

Do you have Single Sign-On enabled?

Docs.microsoft.com feedback is to improve documentation. We cannot help you on specific issues here. I should suggest you to open a support ticket.

Thanks!

[2019-07-01 22:16] dariomws306 commented on #3620
Hi @2ndcahl, thank you for your feedback.

Sorry, could you let me know where you find this link?

I think you should try:
https://docs.microsoft.com/en-us/powershell/module/exchange/policy-and-compliance-content-search/New-ComplianceSearch/?view=exchange-ps

[2019-07-01 22:50] dariomws306 commented on #3617
Hi @Borkason, thank you for your feedback.

I think the documentation is fine. It's just a line to let you know that "-HiddenFromAddressListsEnabled $true" won't affect the group to be displayed or not in the clients. Anyway, I will try to add a minor update to avoid misunderstandings.

[2019-07-01 23:47] dariomws306 commented on #3616
Hi @Borkason, thank you for your feedback.

There is a line in the cmdlet description:
"The HiddenGroupMembershipEnabled parameter is only available on the New-UnifiedGroup cmdlet. You can't change this setting on an existing Office 365 Group group."

Also, this parameter is not available in this cmdlet.

[2019-07-02 06:37] yogkumgit commented on #3626
@dariomws306  Thank you very much for the contribution and sharing this explanation. @tiagoroxo
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-02 06:37] yogkumgit commented on #3626
@officedocsbot close

[2019-07-02 06:49] yogkumgit commented on #3617
@chrisda please merge the PR #3647

[2019-07-02 06:52] yogkumgit commented on #3616
@dariomws306  Thank you very much for the contribution and sharing this explanation. @Borkason
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-02 06:53] yogkumgit commented on #3616
@officedocsbot close

[2019-07-02 06:53] #3616 closed

[2019-07-02 07:01] tiagoroxo commented on #3626
Thanks for your feedback. THe page explains MFA, not MA and my feedback it's about this page that does not explain how to move the users in sush scenarios.

[2019-07-02 11:30] dariomws306 commented on #3626
Your welcome.

This document explain how this cmdlet works. For more information about move users from SfB Onprem to Online there are other articles, for example:
https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/move-users-between-on-premises-and-cloud
https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/move-users-from-on-premises-to-skype-for-business-online

For authentication to Sf

[2019-07-02 11:40] dariomws306 commented on #3621
@fbsall, thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the outco

[2019-07-02 14:51] yogkumgit commented on #3621
@officedocsbot close

[2019-07-02 14:51] #3621 closed

[2019-07-02 16:21] ivanja81 opened #3650 "Media-configuration is not correct"
Directly from SFB 2019 server.
PS C:\Users\sfbadmin&gt; Get-CsMediaConfiguration

Identity                           : Global
EnableQoS                          : False
EncryptionLevel                    : SupportEncryption
EnableSiren                        : False
MaxVideoRateAllowed                : Hd720p15M
EnableH264StdCodec                 : False
EnableInCallQoS                    : True
I

[2019-07-02 23:45] dariomws306 commented on #3612
Hi @msbeane443, thank you for your feedback.

Are you proposing to add a new parameter to this cmdlet? (ExcludePurgesFolder) I am not sure if I understand.

[2019-07-03 02:03] danmyhre opened #3654 "Adding Owners"
The PowerShell command forces you to add a user to the members list before it can be added as a owner.  The UI in AAD or the M365 admin portal does not enforce this.  This restriction should be removed from PowerShell or it should be documented as to why PowerShell is enforcing this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-07-03 04:33] davehax opened #3655 "PermissionKind Enumeration"
https://docs.microsoft.com/en-us/previous-versions/office/sharepoint-csom/ee536458(v%3Doffice.15)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35794b40-f55c-8a71-325a-8075c10bc007
* Version Independent ID: 05ddab16-0ef1-e487-257e-fe27786fbb31
* Content: [Add-PnPRoleDefinition (sharepoint-pnp)](https://docs.microsoft.

[2019-07-03 06:53] yogkumgit commented on #3650
@officedocsbot assign @yogkumgit

[2019-07-03 06:53] yogkumgit commented on #3654
@officedocsbot assign @yogkumgit

[2019-07-03 06:53] yogkumgit commented on #3655
@officedocsbot assign @yogkumgit

[2019-07-03 11:12] KelvinTegelaar opened #3656 "Teams: Get-team errors when getting data for partner tenants"
I've found that since version 1.0 it is no longer possible to use get-team for a different tenant than your own, using the -tenantID or -tenantname option. We are getting the error:

Get-TeamChannel : Error occurred while executing Code: BadRequest Message: Current authenticated context is not valid for this request. This occurs when a request is made to an endpoint that requires user sign-in. For

[2019-07-03 11:30] KelvinTegelaar commented on #3656
Update: on version 1.1 the error has changed:

n error occurred while fetching team with groupId:{xxx-guid}
Error occurred while executing
Code: GeneralException
Message: userObjectId cannot be null or whitespace.
Parameter name: userObjectId
InnerError:
  RequestId: ec4d3a12-0b1b-465a-ae0b-59ae8db9eac4
  DateTimeStamp: 2019-07-03T11:28:41
HttpStatusCode: GeneralException

[2019-07-03 11:39] dariomws306 commented on #3600
Hi @dustindortch, thank you for your feedback.

I think this parameter it's not available to use:
![image](https://user-images.githubusercontent.com/33589238/60588727-11aca000-9d6e-11e9-9153-9a995701c3d7.png)

But I will try to get more information.

[2019-07-03 11:48] dariomws306 commented on #3587
Hi @blouwagie, thank you for your feedback.

There are some examples in the article. Could you elaborate further about what do you think we can do to improve this document?

Thank you!

[2019-07-03 13:09] dustindortch commented on #3600
It worked for me, but no archives have auto enabled:
![image](https://user-images.githubusercontent.com/25554532/60594165-50dcf000-9d72-11e9-9691-ad54011f9826.png)

[2019-07-03 13:16] dariomws306 commented on #3600
Thank you @dustindortch. I know it's a feature that customer requested but I am not sure if it's general available.

I am trying to get this information.

[2019-07-03 14:26] SHAGGAR opened #3657 "Search-Mailbox should output results to the shell, not to pst"
Search-Mailbox sends results to a pst rather than to the shell.  This isn't very useful since the point of using the shell is to manipulate the results via the shell.

Search-Mailbox should be able to return mail items to the shell as some type of individual mail item object that can be manipulated like any other powershell object.

This would allow you to do things like export to useful formats l

[2019-07-03 14:27] yogkumgit commented on #3656
@officedocsbot assign @yogkumgit

[2019-07-03 14:28] yogkumgit commented on #3657
@officedocsbot assign @yogkumgit

[2019-07-03 14:29] msbeane443 commented on #3612
Hi @dariomws306,

What I am proposing is the addition of a -ExcludePurgesFolder parameter to the New-ComplianceSearch cmdlet so that results returned from the search would not include emails that have been hard deleted from the mailbox.  The default value for the parameter would be False meaning that all messages matching the search query are returned even if they are located in the Purges folder.

[2019-07-03 15:51] tseward commented on #3655
@yogkumgit Also fix the Example #4 where it has "PS>" in the example.

[2019-07-03 23:39] dariomws306 commented on #3613
Hi @cammurray, thank you for your feedback.

Please check Set-ProtectionAlert cmdlet help. You cannot edit default alerts:
https://docs.microsoft.com/powershell/module/exchange/policy-and-compliance/set-protectionalert

[2019-07-03 23:45] dariomws306 commented on #3597
Hi @VShrubowich, thank you for your feedback.

ReportToManagerEnabled send emails to the user you can find on the managedBy Active Directory property. You can see this on the description of this parameter. It's not a multivalue property:
https://docs.microsoft.com/en-us/windows/desktop/adschema/a-managedby

The ReportToOriginatorEnabled parameter specifies whether delivery status notifications are

[2019-07-04 09:04] MrDoNotBreak opened #3658 "Request-SPOPersonalSite UserEmails"
Hello,
Currently the parameter -UserEmails is a bit misleading. To provision the OneDrive for Business for a user does it not use the UPN (which should be identical to email of course - key word: should be...). So should this parameter not read: -Upns instead ie:

Request-SPOPersonalSite -upns []

Or alternatively it could use -Accounts so it would be more inline with some of the PNP Cmdlets (Get-

[2019-07-04 09:20] ZzyzxIsAlreadyTaken commented on #508
Tested. It seems the "feedback" button got removed after some time on all modern sites. The "get the mobile app" seems to show on my hub site, and not my hub connected sites. This is all very confusing. Please just let us remove them easily and consistently.

[2019-07-04 09:56] bertrandsophie opened #3659 "Setting ForwardPAI to true will anonymise calls"
Outbound call from Teams to PSTN show as Anonymous when ForwardPAI is enabled on the CSOnlinePSTNGateway.
We noticed that not only Teams sends the PAI but also includes a privacy ID...
Don't know the reason for adding the privacy ID, but this behaviour should be documented, as not really expected...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-07-04 09:57] bertrandsophie commented on #1877
Page New-CsOnlinePSTNGateway has not been updated...

[2019-07-04 10:15] darioca opened #3660 "Published date"
It would be nice to know when this page was published and when this command has been (or is being, or will be) realeased.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8deb61c-91a1-7e4c-cf56-d682026c6011
* Version Independent ID: 7d8c994d-8673-27dc-04ab-3c5c104c0daa
* Content: [Add-SPOOrgAssetsLibrary (sharepoint-onl

[2019-07-04 13:29] yogkumgit commented on #3658
@officedocsbot assign @yogkumgit

[2019-07-04 13:29] yogkumgit commented on #3659
@officedocsbot assign @yogkumgit

[2019-07-04 13:30] yogkumgit commented on #3660
@officedocsbot assign @yogkumgit

[2019-07-04 13:50] yogkumgit commented on #3617
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @Borkason Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-07-04 13:50] yogkumgit commented on #3617
@officedocsbot close

[2019-07-04 13:50] #3617 closed

[2019-07-04 14:17] dariomws306 commented on #3612
Thank you @msbeane443, now I understand.

Add ExcludePurgesFolder parameter could be a good feature for this cmdlet. But we cannot help here, docs feedback is to improve documentation not to request new features.
Please, I encourage you to go to User Voice to request this feature:
https://office365.uservoice.com/

Also, actually with New-ComplianceSearch you can exclude Purge folder. It's not easy

[2019-07-04 15:26] yogkumgit commented on #3627
@get-itips  Thank you very much for the contribution and sharing this explanation. @jeffreymcclain
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-04 15:26] yogkumgit commented on #3627
@officedocsbot close

[2019-07-04 15:26] #3627 closed

[2019-07-04 21:51] VincentCheng-Hatch opened #3661 ""Grant-CsMobilityPolicy -Identity "abc@example.com" -PolicyName $Null" does not work"
Grant-CsMobilityPolicy -Identity "Vincent.Cheng@hatch.com" -PolicyName $Null

does not work. Gives me following error:

This policy must be assigned a value compatible with the user's subscription and location. It cannot be $null.
    + CategoryInfo          : InvalidOperation: (Grant-CsMobilityPolicy:String) [Grant-CsMobilityPolicy], InvalidOperationException
    + FullyQualifiedErrorId : Invalid

[2019-07-05 06:02] sachin1981 opened #3662 "Get-pnpUser don;t have batch option to retrive users"
Get-pnpUser don;t have batch option to retrive users

if site collection has large number of users above command throwing timer out error

like in get list there is  option get data into batches can we include similar feature in this  command as well

[2019-07-05 06:04] sachin1981 commented on #3662
we use below command to increase timeout  but it will make big call to sharepoint
$context.Requesttime ='5000*10000
i would suggest batch option for his command

[2019-07-05 09:16] MrDoNotBreak commented on #827
I think this issue is back? I cannot seem to be able to search for Get-PNPListItem or Remove-PNPList for instance.

[2019-07-05 13:44] get-itips commented on #3655
Hello @davehax thanks for this contribution.
I created a pull request into the Pnp-Powershell repo (you can see it referenced here) to add the provided link to the PermissionKind enum.
It could take some time to be reflected.
Thank you

[2019-07-05 14:14] get-itips commented on #3658
Hello @MrDoNotBreak
Thanks for your feedback.
This issue system is specific to report issues in documentation, for feature requests, I need to kindly redirect you to https://sharepoint.uservoice.com/

Thank you

[2019-07-05 14:23] get-itips commented on #3660
@Maralesfahanpoor can you help us with the information this user is requesting? thank you

[2019-07-05 14:57] yogkumgit commented on #3661
@officedocsbot assign @yogkumgit

[2019-07-05 14:57] yogkumgit commented on #3662
@officedocsbot assign @yogkumgit

[2019-07-05 15:09] yogkumgit commented on #3658
@MrDoNotBreak  Thank you very much for your kind feedback. Considering your valuable feedback, we request you to log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-07-05 15:10] yogkumgit commented on #3658
@officedocsbot close

[2019-07-05 15:10] #3658 closed

[2019-07-05 15:15] yogkumgit commented on #3626
@dariomws306  Thank you very much for the contribution and sharing this explanation. @tiagoroxo
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-05 15:16] yogkumgit commented on #3626
@officedocsbot close

[2019-07-05 15:16] #3626 closed

[2019-07-05 15:19] yogkumgit commented on #3620
@dariomws306  Thank you very much for the contribution and digging deep into it.  @2ndcahl We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docu

[2019-07-05 15:19] yogkumgit commented on #3620
@officedocsbot close

[2019-07-05 15:23] yogkumgit commented on #3613
@dariomws306  Thank you very much for the contribution and sharing this explanation. @cammurray
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-05 15:23] yogkumgit commented on #3613
@officedocsbot close

[2019-07-05 15:23] #3613 closed

[2019-07-05 15:26] yogkumgit commented on #3597
@dariomws306  Thank you very much for the contribution and sharing this explanation. @VShrubowich
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-05 15:26] yogkumgit commented on #3597
@officedocsbot close

[2019-07-05 15:26] #3597 closed

[2019-07-05 15:33] yogkumgit commented on #3587
@dariomws306  Thank you very much for the contribution and digging deep into it.  @blouwagie   We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this

[2019-07-05 15:33] yogkumgit commented on #3587
@officedocsbot close

[2019-07-05 15:37] yogkumgit commented on #3612
@msbeane443  Thank you very much for your kind feedback. Considering your valuable feedback, as suggested please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-07-05 15:37] yogkumgit commented on #3612
@officedocsbot close

[2019-07-05 15:37] #3612 closed

[2019-07-05 21:23] dariomws306 commented on #3640
Hi @jebujohn, thank you for your feedback.

@tseward point you in the right direction. For the time being "Edge browser" in docs.microsoft.com doesn't mean chromium-based version because it's still on preview.

[2019-07-05 21:31] dariomws306 commented on #3637
Hi @mdhirt, thank you for your feedback.

You replied by yourself. This article has a note about that you have to use Get-MobileDeviceStatistics for Exchange 2013 or later.

Anyway, I have used your feedback to remove Exchange 2013, 2016, 2019 and online from this article.

Thanks again!

[2019-07-05 21:44] dariomws306 commented on #3636
Hi @JakeMoe, thank you for your feedback.

I have added a note to the article so readers can now that Search-Mailbox is being deprecated. We don't have a deadline now to let you know when you won't be able to use it.

Also you can find more information about deletion with New-ComplianceSearch here:
https://docs.microsoft.com/office365/securitycompliance/search-for-and-delete-messages-in-your-organ

[2019-07-05 21:48] dariomws306 commented on #3634
Hi @nellymo, thank you for your feedback.

Are you talking about pause migration to Exchange Online?

You can use this cmdlet:
https://docs.microsoft.com/powershell/module/exchange/move-and-migration/suspend-moverequest

[2019-07-05 21:54] dariomws306 commented on #3632
Hi @umutge, thank you for your feedback.

Similar issues were reported before:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/2222

Please kindly open a support ticket so they can help you. We are here to help to improve docs.microsoft.com documentation.

[2019-07-05 22:20] dariomws306 commented on #3630
Hi @anwarmahmood1, thank you for your feedback.

There were a similar issue:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/1668

@chrisda, do you think we can add Get-UnifiedGroup here?
https://docs.microsoft.com/powershell/exchange/exchange-server/recipient-filters/filter-properties

Thanks!

[2019-07-05 22:54] blouwagie commented on #3587
Not sure what response you need.

Bart Louwagie
Holmes, NY
bart@louwagie.com
845 202 0239 (google voice)
http://louwagie.com
https://www.linkedin.com/in/bart-louwagie/

(when conference call <https://www.uberconference.com/bart40> is needed)

On Fri, Jul 5, 2019 at 11:33 AM Yogesh Kumar <notifications@github.com>
wrote:

[2019-07-05 23:31] get-itips commented on #3549
Hello @chrisda can you kindly help us with this? Thank you!

[2019-07-05 23:34] get-itips commented on #3474
Hello @trent-green can you help us with this?
Thank you

[2019-07-05 23:35] get-itips commented on #3425
Hello @Techwriter40 kindly tell me if you have seen my comment about Force parameter current behavior thanks.

[2019-07-05 23:51] dariomws306 commented on #3587
Hi @blouwagie,

There are 6 examples in the article. I am kindly asking you if we can tell us in more detail how we can improve this document.

Thanks!

[2019-07-06 00:02] get-itips commented on #3566
Hello @MMAgeek how are you? did you manage to create the PR in the Pnp-Powershell repo as I told you? Please reference it here so we can close this issue. thank you!

[2019-07-06 00:03] get-itips commented on #3565
@yogkumgit PR has been merged, can you close this one? Thanks

[2019-07-06 01:18] blouwagie commented on #3587
Hi,
THank you for replying Dario
Right now I no longer know which document that refers to and I'm about to
be off for two weeks.
Feel free to close as, this time, I really can't get back to this for two
weeks.
Regards
Bart

Bart Louwagie
Holmes, NY
bart@louwagie.com
845 202 0239 (google voice)
http://louwagie.com
https://www.linkedin.com/in/bart-louwagie/

(when conference call <https://www.uberco

[2019-07-06 13:49] dariomws306 commented on #3587
Ok, thank you @blouwagie!

You can open this issue again after these two week if you think you contribute to improve this article.

[2019-07-06 18:19] #3565 closed

[2019-07-06 18:19] WillemVerwijs commented on #3565
closed

[2019-07-08 07:16] 2ndcahl commented on #3620
@dariomws306
Sorry for the vague problem description - I thought I put in more of a description.
The link is on this page:
https://docs.microsoft.com/en-us/powershell/module/exchange/policy-and-compliance-content-search/New-ComplianceSearch?view=exchange-ps

Under the page Title "New-ComplianceSearch", there is a link "Module: exchange". It's the module link that is broken.

[2019-07-08 11:43] yogkumgit commented on #3640
@dariomws306  Thank you very much for the contribution and sharing this explanation. @jebujohn
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-08 11:43] yogkumgit commented on #3640
@officedocsbot close

[2019-07-08 11:43] #3640 closed

[2019-07-08 11:48] yogkumgit commented on #3637
@chrisda Please merge the PR #3664

[2019-07-08 11:51] yogkumgit commented on #3636
@chrisda Please merge the PR #3665

[2019-07-08 11:54] yogkumgit commented on #3634
@dariomws306  Thank you very much for the contribution and digging deep into it.  @nellymo Hope this comment is helpful for you. We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentati

[2019-07-08 11:55] yogkumgit commented on #3634
@officedocsbot close

[2019-07-08 11:55] #3634 closed

[2019-07-08 12:04] yogkumgit commented on #3632
@umutge  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

[2019-07-08 12:04] yogkumgit commented on #3632
@officedocsbot close

[2019-07-08 12:04] #3632 closed

[2019-07-08 12:10] yogkumgit commented on #3629
@kenwith Please merge the PR #3666

[2019-07-08 12:10] get-itips commented on #3650
Hello @ivanja81 thanks for your feedback, I created a pull request to propose some changes based on it, you can take a look at it as it is referenced here and, if approved by reviewers, will be merged in a couple of days.
Thank you

[2019-07-08 12:15] yogkumgit commented on #3587
@officedocsbot close

[2019-07-08 12:15] #3587 closed

[2019-07-08 12:26] get-itips commented on #3654
Hello @danmyhre thanks for your feedback.
To propose a change to the behavior of the cmdlet, I need to kindly suggest visit https://office365.uservoice.com/
and I created a pull request, to propose adding a note about adding an user first as a member before making it an owner.
Thank you!

[2019-07-08 12:38] get-itips commented on #3656
Hello @KelvinTegelaar thanks for your feedback.
As this issue resource is specific to address issues present in documentation, I need to kindly suggest support resources to address your inquiry, either by creating a support ticket in your tenant or visiting https://support.office.com/home/contact

[2019-07-08 12:40] ivanja81 commented on #3650
Looks good. Thanks

[2019-07-08 12:42] get-itips commented on #3657
Hello @SHAGGAR
Thanks for your feedback.
As this issue resource is to address issues currently present in documentation, I need to kindly suggest visit Office 365 User Voice  https://office365.uservoice.com/ to propose that feature request
Thank you

[2019-07-08 14:48] dariomws306 commented on #3620
Hi @2ndcahl, don't worry, it's hard to find and hard to get directions to find it.

But... I could find it. It's interesting, I think it's automatic but let me ask internally what we can do with this issue.

Thanks!

[2019-07-08 14:52] yogkumgit commented on #3650
@kenwith Please merge this PR #3667

[2019-07-08 14:55] yogkumgit commented on #3654
@chrisda Please merge this PR #3668

[2019-07-08 14:56] yogkumgit commented on #3656
@officedocsbot close

[2019-07-08 14:59] yogkumgit commented on #3657
@SHAGGAR  Thank you very much for your kind feedback. Considering your valuable feedback, as suggested Please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-07-08 15:00] yogkumgit commented on #3657
@officedocsbot close

[2019-07-08 15:00] #3657 closed

[2019-07-08 21:45] danmyhre commented on #3654
Found an existing UV related to this:
https://office365.uservoice.com/forums/286611-office-365-groups/suggestions/17893165-addition-and-removal-owner-of-office-365-groups-w

Documentation still needs to be updated until this bug is fixed.

[2019-07-09 02:13] get-itips commented on #3654
Hello @danmyhre
Great to hear you found an existing UV for this.
As I commented earlier, I created a pull request to add a note stating the requirement before adding an owner, the behavior is not a bug, since the powershell module is clearly returning a message describing this need.
Thank you.

[2019-07-09 03:43] get-itips commented on #3659
Hello @bertrandsophie
Thanks for your feedback.

To give some context

According to [RFC3325](https://tools.ietf.org/html/rfc3325)

   fields before they are transmitted to an element that is not trusted
   may add the "id" privacy token defined in this document to the
   Privacy header field.  The Privacy header field is defined in [6].
   If this token is present, proxies MUST remove all the P-A

[2019-07-09 10:31] bertrandsophie commented on #3659
Yes I suggest adding this comment because not everybody may have the different RFCs in mind (I did not)

[2019-07-09 12:28] yogkumgit commented on #3628
@Techwriter40 Please merge the PR #3663

[2019-07-09 12:30] yogkumgit commented on #3638
@officedocsbot close

[2019-07-09 12:30] #3638 closed

[2019-07-09 15:30] gunnerman1 opened #3672 "Clear-PnPRecycleBinItem Fails Because of List View Threshold"
When using commands such as `Clear-PnPRecycleBinItem` or `Get-PnPRecycleBinItem`, the command fails if there are more than 5000 items in the recycle bin with error:
[code]

Currently, there is no way to limit the number of items requested to get around this.

I have tried suggested commands such as `Clear-PnPRecycleBinItem -All -Force | select -last 50` however, this command is not expected to wor

[2019-07-09 16:20] yogkumgit commented on #3629
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @ThomasBIDAULT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-09 16:20] yogkumgit commented on #3629
@officedocsbot close

[2019-07-09 16:20] #3629 closed

[2019-07-09 16:21] dariomws306 commented on #3600
Hi @dustindortch,

I have got some information from the Product Group. They are working on this feature but it's still not available. I have added this parameter to the article but with "This parameter is reserved for internal Microsoft use" as description.

[2019-07-10 08:47] yogkumgit commented on #3672
@officedocsbot assign @yogkumgit

[2019-07-10 13:01] get-itips commented on #3566
Hello @MMAgeek how are you? did you manage to create the PR in the Pnp-Powershell repo as I told you? Please reference it here so we can close this issue. thank you!

[2019-07-10 13:02] get-itips commented on #3549
Hello @chrisda can you kindly help us with this? Thank you!

[2019-07-10 13:03] get-itips commented on #3570
Hello @islubin i was wondering if you had time to review this, thank you i appreciate.

[2019-07-10 15:51] kenwith commented on #3570
I believe Jamie, @nomorephones , owns PowerShell now for Teams.

[2019-07-10 15:52] get-itips commented on #3570
That's good to know, thanks @kenwith

[2019-07-10 16:50] RaghuramP opened #3674 "Addhour? Example 1"
In Example 1 Addhour is mentioned, this should be Addhours..

[2019-07-10 17:01] Maralesfahanpoor commented on #3660
This page was published on 6/20/2019 and we started rolling out to TR(Targeted release) on 6/24.
The feature (and thus, the commands) are at 100% TR with Prod rollout coming soon.

[2019-07-10 17:07] kenwith commented on #3660
Thanks for the information on TR and also just for the thread and @darioca - the content is all open source on GitHub so anyone can see full history and even make changes. To get to the GitHub source click the Edit button at the top of the article on docs.microsoft.com. That will take you to the GitHub source. Then you can click History and see the history of the article. Here is direct link: http

[2019-07-10 20:26] DeanGross commented on #1072
Thanks, that browser is handy, but how do we get to it from this site? it seems the only way is to come to this thread. It would be great if that was inlcuded on the home page or the left side navigation

[2019-07-11 12:08] yogkumgit commented on #3674
@officedocsbot assign @yogkumgit

[2019-07-11 12:39] KelvinTegelaar commented on #3656
The response by Microsoft Support is that they do not give scripting support or support on the cmdlets by modules. aka, hitting a brick wall.

[2019-07-11 14:04] yogkumgit commented on #3637
@dariomws306  and @chrisda  Thank you very much for the contribution and updating the documentation. @mdhirt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-11 14:04] yogkumgit commented on #3637
@officedocsbot close

[2019-07-11 14:04] #3637 closed

[2019-07-11 14:09] yogkumgit commented on #3600
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @dustindortch Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-11 14:10] yogkumgit commented on #3600
@officedocsbot close

[2019-07-11 14:10] #3600 closed

[2019-07-11 14:43] yogkumgit commented on #3636
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @JakeMoe Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-11 14:44] yogkumgit commented on #3636
@officedocsbot close

[2019-07-11 14:44] #3636 closed

[2019-07-11 14:48] yogkumgit commented on #3654
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @danmyhre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-11 14:49] yogkumgit commented on #3654
@officedocsbot close

[2019-07-11 14:49] #3654 closed

[2019-07-11 14:55] vaderj opened #3681 "PowerShell modules NOT installed"
"After installing SPMT, the PowerShell dlls are copied to %userprofile%\Documents\WindowsPowerShell\Modules."

But there was no modules folder in my "WindowsPowerShell" folder, so I created it and reinstalled, but still - no PowerShell module.  Is the PowerShell module no longer supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-07-11 17:31] yogkumgit commented on #3681
@officedocsbot assign @yogkumgit

[2019-07-11 23:41] arowswell commented on #3515
This isn't resolved. I've uninstalled and re-installed the module and still it cannot find the cmdlet Connect-SPOService.

[2019-07-11 23:45] arowswell commented on #3515
This is the error when trying to Import-Module (which I understand isn't required, but might explain why the Connect cmdlet is missing)

System.TypeLoadException: Could not load type
                        'Microsoft.SharePoint.Administration.DesignPackageType' from assembly
                        'Microsoft.SharePoint.Client, Version=16.0.0.0, Culture=neutral,
                        PublicKeyT

[2019-07-12 11:37] bhanuchintha opened #3684 "Typo - Restore"
Team,

Instead of Restore keyword, you have used Reset at many places in this page. Can you please take care.

Thanks & Regards,
Bhanu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c22f4a4-0cf2-48f7-3fbd-1b2b556be3e7
* Version Independent ID: 3c66eb02-9056-be8c-30e4-1049bf5ad8b8
* Content: [Restore-PnPTenantRecycleBi

[2019-07-12 11:40] yogkumgit commented on #3684
@officedocsbot assign @yogkumgit

[2019-07-15 08:24] sub2d opened #3686 "Determine relation between EventType and Actions"
With this cmdlet one can list EventType and Actions but no way to determine which actions are related EventType and vice versa.

One could guess by browsing trough cmdlets "Get-MailDetail&lt;report type&gt;Report"
Get-MailDetailATPReport
Get-MailDetailDlpPolicyReport
Get-MailDetailMalwareReport
Get-MailDetailReport
Get-MailDetailSpamReport
Get-MailDetailTransportRuleReport

Without relations this

[2019-07-15 08:54] yogkumgit commented on #3686
@officedocsbot assign @yogkumgit

[2019-07-15 15:06] dstowers73 opened #3690 "Useroverride does not work with anonymous unless you use LineUri"
The user will not have the ability to toggle anonymous on and off even with EnableUserOverride set unless you use the Lineuri (or likely service option).  It -will not- work if you set it to anonymous.  If you do that you always want it on anonymous and ignores the EnableUserOverride.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-07-15 16:46] yogkumgit commented on #3690
@officedocsbot assign @yogkumgit

[2019-07-15 17:05] kenwith commented on #1072
@DeanGross - it is a good idea. These are all open source now and owned by community, product team, MVPs and experts like you, etc...   I agree a way to get between modules would be helpful. Perhaps you could create a pull request to make it happen and we can get it reviewed by some people? The navigation on the left is pulled from files here: https://github.com/MicrosoftDocs/office-docs-powershel

[2019-07-16 01:52] Jazpuk opened #3691 "Example 1 incorrect?"
Should example 1 above have $true at the end?  Description seems to state that we are enabling transcription for this group. By having it as $false this would disable it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f74481ed-c034-046f-2d45-23096b4dce9b
* Version Independent ID: 7a7a44a1-e01e-da96-d1a0-a876487dcb4c
*

[2019-07-16 04:40] KrishnaG-MSFT commented on #3656
@KelvinTegelaar Is this issue resolved ? If yes, may i know what was done to resolve it ?

[2019-07-16 05:56] KelvinTegelaar commented on #3656
The issue is not resolved as Microsoft support stated the cannot support us on the PowerShell module, and have no way of contacting any development team. I expect this issue to just end up unresolved. The issue can remain closed as I am not going to spend any energy on this :)

[2019-07-16 05:56] #3656 closed

[2019-07-16 09:55] joaovitorhr commented on #47
Hello

any solution to this problem? I am using the Teams module in the latest version and the "Get-Team -user" command always returns the Teams of the user logged in powershell and not the queried user.

[2019-07-16 12:25] yogkumgit commented on #3691
@officedocsbot assign @yogkumgit

[2019-07-16 12:28] yogkumgit commented on #3015
@tseward  Thank you very much for the contribution and digging deep into it.  @edcuzz  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documenta

[2019-07-16 12:28] yogkumgit commented on #3015
@officedocsbot close

[2019-07-16 12:28] #3015 closed

[2019-07-16 12:42] yogkumgit commented on #2188
@dariomws306  Thank you very much for the contribution and sharing this explanation. @stephenc01
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-16 12:43] yogkumgit commented on #2188
@officedocsbot close

[2019-07-16 12:43] #2188 closed

[2019-07-16 15:15] hkusulja commented on #3660
This is not resolved, the info from published date should be on a page, and still is not...

[2019-07-16 15:16] hkusulja opened #3692 "Missing info about OrgAssetType"
There is a property OrgAssetType which can be also OfficeTemplateLibrary, ImageDocumentLibrary

Please update the docs and describe values and intended use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8deb61c-91a1-7e4c-cf56-d682026c6011
* Version Independent ID: 7d8c994d-8673-27dc-04ab-3c5c104c0daa
* Content: [Add-

[2019-07-16 15:25] kenwith commented on #3660
The engine on docs.microsoft.com does not display the publish date for reference content. I will ask the group that owns the rendering engine again but this was not something they were prioritizing. To see the history of reference content you need to view the GitHub file.

[2019-07-16 16:08] walkerk77 opened #3693 "Guest Users"
Guest users are now available in Teams.  The Add-TeamUser command only works for tenant addresses.  Request the ability to add guest members via PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da0c53f2-1c62-14f6-6371-f54bf86b0c24
* Version Independent ID: aac162db-a9c0-fbfb-dd40-526e94d3bef8
* Content: [Add-

[2019-07-16 16:13] darioca commented on #3660
In my opinion, users shouldn't have to go to GitHub to see that a page has been published/edited on xx/yy/zzzz.
 
 
    On Tuesday, 16 July 2019, 16:25:07 BST, Ken Withee <notifications@github.com> wrote:

The engine on docs.microsoft.com does not display the publish date for reference content. I will ask the group that owns the rendering engine again but this was not something they were prioritiz

[2019-07-16 20:41] get-itips commented on #3662
Hello @sachin1981
Thanks for your feedback.
This issue resource is specifically to report issues in documentation.
For feature requests, as PnP Powershell is community-driven you will need to propose that idea starting to look here https://docs.microsoft.com/en-us/sharepoint/dev/community/community
Thank you.

[2019-07-16 20:48] get-itips commented on #3672
Hello @gunnerman1
Thanks for your feedback.
This issue resource is specifically to report issues in documentation.
For feature requests or bug reports, as PnP Powershell is community-driven you will need to propose that idea/submit that bug starting to look here https://docs.microsoft.com/en-us/sharepoint/dev/community/community
Thank you.

[2019-07-16 20:53] get-itips commented on #3684
Hello @bhanuchintha thanks for your feedback.
I created a pull request to correct the documentation.
Thank you

[2019-07-16 21:36] bhanuchintha commented on #3684
Thanks @get-itips

[2019-07-17 10:14] DavidCunhaMsft commented on #3188
This cmdlet is only available for the Preview admin center. Please Enroll here: https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR3CCKNES_u9Bul1dZT-hbi5UNTFUODdKQVNFQUJMRzAxTVhUMUsyWFlOOC4u

[2019-07-17 10:15] sohailmerchant opened #3700 "New-PnpSite - Group not Site Collection"
The documentation needs to be updated.  -Alias and -Url feedback has already been noted, but this command create a Office 365 Group not a site collection 'Creates a new site collection'.  This makes it confusing with cmdlet 'New-PnPUnifiedGroup'

It would be good to cross link the cmdlet which create a modern site collection.

[2019-07-17 10:30] yogkumgit commented on #3692
@officedocsbot assign @yogkumgit

[2019-07-17 10:30] yogkumgit commented on #3700
@officedocsbot assign @yogkumgit

[2019-07-17 11:30] kasperbolarsen opened #3701 "Enhance Set-PnPSite -LockState with ReadOnly"
[Enter feedback here]
Related to #3392 : it would be very nice if Set-PnPSite -LockState would be able to handle "ReadOnly" :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2961cab8-c2d4-e90b-6d78-666a4dc16823
* Version Independent ID: d9e27a2c-8408-95ba-6d88-46e63fe878a1
* Content: [Set-PnPSite (sharepoint-pnp)](htt

[2019-07-17 11:34] yogkumgit commented on #3701
@officedocsbot assign @yogkumgit

[2019-07-17 12:05] yogkumgit commented on #3662
@get-itips Thank you very much for the contribution and sharing this explanation. @sachin1981
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-17 12:06] yogkumgit commented on #3662
@officedocsbot close

[2019-07-17 12:06] #3662 closed

[2019-07-17 12:10] yogkumgit commented on #3672
@get-itips  Thank you very much for the contribution and sharing this explanation. @gunnerman1
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-17 12:10] yogkumgit commented on #3672
@officedocsbot close

[2019-07-17 12:10] #3672 closed

[2019-07-17 15:37] get-itips commented on #3566
Hello @MMAgeek
As we did not hear back from you, and the original request is more suitable to support than a documentation issue, we need to proceed on closing this one.
Please, if you still have the example you were looking for, don't hesitate to propose it as I told you, so it can go back to the community.
Thank you

[2019-07-17 17:44] chrisda commented on #3639
I added the note to the OrganizationalUnit and RecipientContainer parameter descriptions in New-DynamicDistributionGroup and Set-DynamicDistributionGroup.

Closing

[2019-07-17 17:44] #3639 closed

[2019-07-17 19:49] get-itips commented on #3681
Hello @vaderj
Thanks for your feedback, I can confirm that the modules are installed in the location specified in the documentation

![image](https://user-images.githubusercontent.com/36666927/61406694-97196f80-a899-11e9-9423-5d5914d7dcaa.png)

[2019-07-17 23:22] get-itips commented on #3659
I created a pull request proposing adding this information to the article, and I'll let the team decide if they accept it.
Thank you

[2019-07-18 04:52] kannan-balasubramanian opened #3705 "Move-StaffHubTeam - TeamNotFound"
I'm trying to move a StaffHub to Microsoft Teams using version 1.0.5-alpha.

- I'm the Global Admin for our Tenant.
- In the particular StaffHub Team I have admin access.
- All the prerequisites for the move have been met.

When I run Move-StaffHubTeam -TeamId "TEAM_xxxxxx" I get the following error.

`{"error":{"code":"NotFound","message":"Sorry, the team was not found, or you may not have access

[2019-07-18 05:10] kannan-balasubramanian opened #3706 "Get-StaffHubMember - Team ID must have TEAM_guid pattern"
When I run Get-StaffHubMember I get an error "Team ID must have TEAM_guid pattern (GUIDs in lower case)".
- I'm using version 1.0.5-alpha.
- I'm the global admin for the O365 tenant.
- I have admin access for the particular StaffHub.

Please note that I have deliberately removed last few characters, but I'm confident that all GUID characters were in lower case.

**Command-let:**
`Get-StaffHubMembe

[2019-07-18 09:18] #3706 closed

[2019-07-18 09:19] kannan-balasubramanian commented on #3706
My mistake, found out that the actual GUID is different.

[2019-07-18 09:19] #3705 closed

[2019-07-18 09:19] kannan-balasubramanian commented on #3705
My mistake, found out that the actual GUID is different.

[2019-07-18 14:16] yogkumgit commented on #3566
@get-itips  Thank you very much for the contribution and digging deep into it.  @MMAgeek We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documen

[2019-07-18 14:17] yogkumgit commented on #3566
@officedocsbot close

[2019-07-18 14:17] #3566 closed

[2019-07-18 14:23] yogkumgit commented on #3681
@get-itips  Thank you very much for the contribution and sharing this explanation. @vaderj
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-18 14:23] yogkumgit commented on #3681
@officedocsbot close

[2019-07-18 14:23] #3681 closed

[2019-07-18 14:27] yogkumgit commented on #3659
@kenwith Please merge the PR #3704

[2019-07-18 14:36] makorus opened #3707 "Add -Archive parameter to Set-Team"
Please add the ability to archive a specific group via PowerShell.

As of now, we can use the Graph REST API to archive a group (see: https://docs.microsoft.com/en-us/graph/api/team-archive?view=graph-rest-1.0).

This is rather inconvenient, considering the fact that we use an extremely complex PowerShell script to manage all our teams.

Example:
Set-Team -GroupId <insert-group-ID-here> -Archived

[2019-07-18 15:33] yogkumgit commented on #3707
@officedocsbot assign @yogkumgit

[2019-07-18 16:41] get-itips commented on #3692
Hello @Maralesfahanpoor can we add the information about OrgAssetType parameter the user is talking about to this article? I could verify that, at least with version 16.0.9021.0 of Powershell module.

[2019-07-18 19:07] get-itips commented on #3700
Hello @sohailmerchant
Thanks for your feedback.
Your issue report is missing the article reference, so it seems you created this issue directly in the repo.
Can you reference the article you think needs to be updated?
I am assuming you refer to the [New-PnpSite article](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/new-pnpsite)

Using the last version of the PnP Powershell I co

[2019-07-18 20:20] get-itips commented on #3701
Hello @kasperbolarsen
Thanks for your feedback, although this issue system is to report issues in documentation, to propose new features, I kindly redirect you to this resource: https://docs.microsoft.com/en-us/sharepoint/dev/community/community as a start.

Thank you

[2019-07-18 20:22] get-itips commented on #3693
Hello @walkerk77 thanks for your feedback, although this issue resource is specifically to report issues in current documentation, for feature requests, I need to kindly suggest visit the Microsoft Teams User Voice here https://microsoftteams.uservoice.com/forums/555103-public
Thank you

[2019-07-18 20:44] kasperbolarsen commented on #3701
Thanks, but I have a very hard time finding any "suggest feature/enhancement" link there. Can you help me out?

[2019-07-18 20:46] get-itips commented on #3701
The link I provided has a link to the uservoice section for Sharepoint Dev

https://sharepoint.uservoice.com/forums/329220-sharepoint-dev-platform

Hope is useful to you.

[2019-07-18 21:30] kasperbolarsen commented on #3701
Should PnP specific enhancements be requested there? The Spo version already has the ReadOnly option but the PnP version does not

[2019-07-19 00:04] get-itips commented on #3701
Yes, It is linked from the PnP resources.

[2019-07-19 08:30] waelschakaki commented on #3631
Hello,
any update about this parameter ?

[2019-07-19 11:28] yogkumgit commented on #3701
@get-itips  Thank you very much for the contribution and sharing this explanation. @kasperbolarsen
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-19 11:28] yogkumgit commented on #3701
@officedocsbot close

[2019-07-19 11:28] #3701 closed

[2019-07-19 11:40] yogkumgit commented on #3693
@walkerk77  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-07-19 11:41] yogkumgit commented on #3693
@officedocsbot close

[2019-07-19 11:41] #3693 closed

[2019-07-19 11:44] yogkumgit commented on #3659
@get-itips Thank you very much for the contribution and updating the documentation with PR. @bertrandsophie Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-19 11:45] yogkumgit commented on #3659
@officedocsbot close

[2019-07-19 11:45] #3659 closed

[2019-07-19 15:43] Maralesfahanpoor commented on #3692
Hello, We will update the Documentation ASAP,
Until then, OrgAssetType indicates the type of document library in Organization Assets and for now, ImageDocumentLibrary is the only supported value and It will be set by default.

[2019-07-22 18:07] dariomws306 commented on #3189
Hi @zaicnupagadi, thank you for your feedback.

It's true, I have tried this on Exchange Online and it created the search. Where did you try it?

![image](https://user-images.githubusercontent.com/33589238/61654243-5f903600-ac92-11e9-9b9d-7915267fb339.png)

[2019-07-22 18:16] dariomws306 commented on #3189
I have tried it on Exchange 2016 and same issue.

Also there is a typo in the whatif message: "What if: New **MaibloxSearch** Legal-ProjectX."

[2019-07-22 18:38] get-itips commented on #3692
Hello, as the author @Maralesfahanpoor has replied and the documentation for the parameter is coming soon, we will proceed closing this one for now. @yogkumgit

[2019-07-22 18:39] get-itips commented on #3700
Hello @sohailmerchant how are you? Reaching back to you to know if you could see my comment, otherwise we will proceed closing this one.
Thank you

[2019-07-22 18:42] get-itips commented on #3655
@yogkumgit PR was merged, you can safely close this thread now. Thanks

[2019-07-22 18:43] get-itips commented on #3684
@yogkumgit PR was merged, you can safely close this thread now. Thanks

[2019-07-22 18:50] hkusulja commented on #3692
@get-itips , sorry, how can you close this github issue, when something is in production, but not documented still..., when it will be documented, than it can be closed.

[2019-07-22 18:54] get-itips commented on #3692
@hkusulja as the author of the article explained, default value is the only supported value, meaning that if you do not specify anything, that will be used, so it is not in production (at least, not fully) but if you do not agree :) , it is ultimately @Maralesfahanpoor and @yogkumgit call.
Thanks.

[2019-07-22 23:38] dariomws306 commented on #3686
Hi @sub2d, thank you for your feedback.

We are here to help you to improve docs.microsoft.com. I think it's more like a feature change or request. In this case I recommend:

[2019-07-22 23:40] dariomws306 commented on #3674
Hi @RaghuramP, thank you for your feedback.

Could you please let us know what is the article you are reference?

[2019-07-22 23:49] dariomws306 commented on #3661
Hi @VincentCheng-Hatch, thank you for your feedback.

It works for me:
![image](https://user-images.githubusercontent.com/33589238/61672482-296aaa80-acc2-11e9-954e-8965484d5128.png)

Where are you trying? SfBO or on-premises?

[2019-07-23 05:39] RaghuramP commented on #3674
https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/sharepoint/sharepoint-ps/sharepoint-online/Start-SPOSiteContentMove.md
Example 1

-Raghu

________________________________
From: Dario Woitasen <notifications@github.com>
Sent: Monday, July 22, 2019 11:40 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: RaghuramP <raghuram.p@live.com>; Me

[2019-07-23 05:51] KCCross commented on #3549
Still working on this one.

[2019-07-23 07:07] makorus commented on #3707
Bump

[2019-07-23 08:28] JeroenDronkers opened #3734 "URL trace"
Why not making this article complete by explaining that URL trace can be simply run from the Exchange Admin Center (the GUI). Most customers are happier with using the GUI compared to powershell.
There is AFAIK no article explaining how to run a URL trace from the EAC which I think should have a higher priority than doing this from powershell.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-07-23 10:13] yogkumgit commented on #3734
@officedocsbot assign @yogkumgit

[2019-07-23 10:44] yogkumgit commented on #3692
@Maralesfahanpoor can you propose by when this documentation can be updated?

[2019-07-23 10:46] yogkumgit commented on #3700
@get-itips  Thank you very much for the contribution and digging deep into it.  @sohailmerchant We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this

[2019-07-23 10:46] yogkumgit commented on #3700
@officedocsbot close

[2019-07-23 10:59] yogkumgit commented on #3655
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @davehax Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-23 10:59] yogkumgit commented on #3655
@officedocsbot close

[2019-07-23 10:59] #3655 closed

[2019-07-23 11:02] yogkumgit commented on #3684
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @bhanuchintha Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-23 11:02] yogkumgit commented on #3684
@officedocsbot close

[2019-07-23 11:02] #3684 closed

[2019-07-23 11:07] yogkumgit commented on #3686
@sub2d  Thank you very much for your kind feedback. Considering your valuable feedback, as suggested please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-07-23 11:07] yogkumgit commented on #3686
@officedocsbot close

[2019-07-23 11:07] #3686 closed

[2019-07-23 11:19] yogkumgit commented on #3691
@kenwith  Please merge the PR #3732

[2019-07-23 15:13] davemedvitz opened #3735 "SPMT logon to GCC High When passing SPOCredential"
When passing SPOCredential to Register-SPMTMigration, with my tenant in GCC High, I continually get logon errors as follows:

Microsoft.SharePoint.MigrationTool.MigrationLib.Common.AADAuthenticationException: unknown_user_type: Unknown User Type ---> Microsoft.IdentityModel.Clients.ActiveDirectory.AdalException: unknown_user_type: Unknown User Type

The tool runs successfully when not trying to pa

[2019-07-23 15:59] yogkumgit commented on #3735
@officedocsbot assign @yogkumgit

[2019-07-23 17:59] chrisda commented on #3734
@JeroenDronkers, this topic and the 1200+ around it are cmdlet reference topics for Exchange-related PowerShell. These are the same topics that are used for `Get-Help <CmdletName>` at the command line (although the topics on the web will always be more up-to-date).

The Get-UrlTrace topic isn't meant to be a "here's how you use URL trace" conceptual or procedural topic; it merely documents the ava

[2019-07-24 08:19] JeroenDronkers commented on #3734
Hello, Yes I was indeed asking for an article that explains conceptual/procedure for using URL trace. Customers would appreciate that more I believe then just a powershell reference.
Thanks

[2019-07-24 12:10] yogkumgit commented on #3549
@chrisda  Thank you very much for the contribution and updating the documentation with PR. @get-itips  thanks to you too.   @terrogin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-24 12:10] yogkumgit commented on #3549
@officedocsbot close

[2019-07-24 12:10] #3549 closed

[2019-07-24 12:33] yogkumgit commented on #3734
@chrisda  Thank you very much for the contribution and sharing this explanation. @JeroenDronkers
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-24 12:34] yogkumgit commented on #3734
@officedocsbot as

[2019-07-24 12:34] #3734 closed

[2019-07-24 12:49] yogkumgit commented on #3660
@darioca  it is a good suggestion. Probably you can propose this in Uservoice.  @kenwith thanks for sharing this explanation. @darioca Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-24 12:50] yogkumgit commented on #3660
@officedocsbot close

[2019-07-24 13:05] hkusulja commented on #3660
@yogkumgit please do not close this ticket, until this docs issue and information on this page is resolved.

[2019-07-24 13:29] yogkumgit commented on #3674
@trent-green please merge the PR #3739

[2019-07-24 14:19] yogkumgit commented on #3660
@kenwith Please advise

[2019-07-24 15:21] tonghien22890 opened #3742 "Change order of Address Book Policy on exchange online."
May i change order of address list in Address Book Policy on exchange online?
May i set OfflineAddressBook in Address Book Policy to null or remove it or change display name of it on Address Book Policy?

[2019-07-24 16:38] 4rtorias opened #3744 "Example 1"
Example 1 specifies -SafeAttachmentsPolicy instead of -SafeLinksPolicy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b351a5-e978-5105-f187-85cd1558c43b
* Version Independent ID: e83ad526-e84e-e4cd-b622-af4bd4a8044c
* Content: [New-SafeLinksRule (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange/

[2019-07-24 17:35] kenwith commented on #3660
Checking with Den who is a PM on the team that owns it. Will report back.

[2019-07-24 17:45] Maralesfahanpoor commented on #3692
In one week.

[2019-07-24 17:54] rloutlaw commented on #3660
I'm the PM owner PowerShell reference experiences. I've opened up a customer suggestion for investigation on this issue for our reference infrastructure. This doesn't mean that we'll do the exact ask (add the date of last commit to the reference page to the docs) without adding additional context on the versions of the PowerShell modules the cmdlets shipped with. The context for the date

[2019-07-24 17:59] bilginbaldji opened #3745 "Number of results"
The command returns only 100 results if a larger number is not specified via -First parameter. The information for the default behaviour is missing in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4504ef6f-28cd-bf4e-bf26-02a0acf292b8
* Version Independent ID: 7a12f628-6004-f100-4112-a95f4d4df8ff
* Content

[2019-07-24 18:07] #3660 closed

[2019-07-25 03:31] HandyAndyOnGitHub commented on #1945
This typo is back (as at today 25 July 2019)!

[2019-07-25 08:36] hosebei opened #3746 "Missing parameter SetAssociatedGroup"
When I'm using the New-PnpGroup cmdlet, I do have an Parameter named "-SetAssociatedGroup". But i can't find that on this page? Could please update, or direct me where I can find information about this Parameter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44489c78-274c-2c09-cd51-16f6ed183317
* Version Independent I

[2019-07-25 11:59] Hannes-Git opened #3747 "Certain include parameters require full control access rather than just read"
When trying to get a PnPWeb, certain parameters require the PnPConnection (ie using AppID/AppSecret to have Full Control right (<AppPermissionRequests AllowAppOnlyPolicy="true">) rather than just read, which is an issue for a pure reporting scenario.

Ie With read-only access, Get-PnPWeb -Includes RequestAccessEmail, UseAccessRequestDefault results in an Get-PnPWeb : Access denied. You do not have

[2019-07-25 12:38] yogkumgit commented on #3742
@officedocsbot assign @yogkumgit

[2019-07-25 12:38] yogkumgit commented on #3744
@officedocsbot assign @yogkumgit

[2019-07-25 12:38] yogkumgit commented on #3745
@officedocsbot assign @yogkumgit

[2019-07-25 12:39] yogkumgit commented on #3746
@officedocsbot assign @yogkumgit

[2019-07-25 12:39] yogkumgit commented on #3747
@officedocsbot assign @yogkumgit

[2019-07-25 13:02] get-itips commented on #3707
Hello @makorus thanks for your feedback, although this issue resource is specifically to report issues in documentation, not feature requests, so I kindly need to redirect you to https://microsoftteams.uservoice.com

Thank you

[2019-07-25 13:14] get-itips commented on #3735
Hello @davemedvitz  thanks for your feedback, however this issue resource is specifically to report issues in documentation, not issues or potential bugs, as that is to be handled by support services, so I need to kindly redirect you to https://support.office.com/ or create a support ticket directly on your tenant.

Thank you

[2019-07-25 13:21] yogkumgit commented on #3707
@makorus  Thank you very much for your kind feedback. Considering your valuable feedback, as suggested please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-07-25 13:21] yogkumgit commented on #3707
@officedocsbot close

[2019-07-25 13:21] #3707 closed

[2019-07-25 13:25] yogkumgit commented on #3735
@get-itips Thank you very much for the contribution and sharing this explanation. @davemedvitz
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution.

[2019-07-25 13:25] yogkumgit commented on #3735
@officedocsbot close

[2019-07-25 13:25] #3735 closed

[2019-07-25 14:16] JeroenDronkers opened #3749 "EOP SA powershell endpoint"
The EOP Stand Alone powershell endpoint mentioned in this article is incorrect. Using the above will fail. The correct endpoint is:
 https://ps.protection.outlook.de/powershell-liveid/
The article should mention that for EOP SA this (old) endpoint should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c5aa434-

[2019-07-25 16:10] yogkumgit commented on #3749
@officedocsbot assign @yogkumgit

[2019-07-25 16:55] AndreaBarr commented on #1945
@e0i Would you please investigate this?

[2019-07-25 18:19] kenwith commented on #3570
Sent an email to @nomorephones Jamie, and @tomkau  Tom to see how we can get this figured out and resolved.

[2019-07-25 18:20] kenwith commented on #3512
@VesaJuvonen - 27 days ago.. can you help us get this resolved?

[2019-07-26 10:18] yogkumgit commented on #3691
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @Jazpuk Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-26 10:19] yogkumgit commented on #3691
@officedocsbot close

[2019-07-26 10:19] #3691 closed

[2019-07-26 10:24] yogkumgit commented on #3628
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Premian Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-26 10:24] yogkumgit commented on #3628
@officedocsbot close

[2019-07-26 10:24] #3628 closed

[2019-07-26 13:35] yogkumgit commented on #3674
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @RaghuramP Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-26 13:36] yogkumgit commented on #3674
@officedocsbot close

[2019-07-26 13:36] #3674 closed

[2019-07-26 13:41] yogkumgit commented on #2881
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @rito2k Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-26 13:41] yogkumgit commented on #2881
@officedocsbot close

[2019-07-26 13:42] #2881 closed

[2019-07-26 13:46] yogkumgit commented on #3661
@dariomws306  Thank you very much for the contribution and digging deep into it.  @VincentCheng-Hatch We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly updat

[2019-07-26 13:46] yogkumgit commented on #3661
@officedocsbot close

[2019-07-26 13:46] #3661 closed

[2019-07-26 14:16] hvandesa opened #3756 "Specify a document library?"
Is there a way to specify the Document Library similar to SetAuditReportStorageLocation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce3e7e39-d315-4843-4af4-57c5040d509f
* Version Independent ID: 7e61202d-4b8c-3018-b161-f99890cc7724
* Content: [Set-PnPAuditing (sharepoint-pnp)](https://docs.microsoft.com/en-us/power

[2019-07-26 15:19] yogkumgit commented on #3756
@officedocsbot assign @yogkumgit

[2019-07-28 22:23] LeoW-MS opened #3760 "RequireIntune parameter"
In the command description, it says the switch RequireIntune is not applicable to Skype for Business Online.  Yet in the switch description for RequireIntune  it say Applies to: Skype for Business Online
Which of the two is correct?

Also the description of the parameter is missing.

The following parameters are **not applicable to Skype for Business Online**: AllowAutomaticPstnFallback, AllowCust

[2019-07-29 11:50] yogkumgit commented on #3760
@officedocsbot assign @yogkumgit

[2019-07-29 12:31] get-itips commented on #3742
Hello @tonghien22890 how are you?
I could not understand your issue report, is anything wrong that you see in documentation that you think needs to be corrected? IF you are looking for support, I need to kindly redirect you to https://support.microsoft.com/en-us
Thank you

[2019-07-29 12:51] get-itips commented on #3744
Hello @4rtorias thanks for your feedback, I created a pull request to correct the article based on your finding, thank you

[2019-07-29 13:00] get-itips commented on #3746
Hello @hosebei thanks for your feedback.
The parameter you are looking for is obsolete, if you look at the source code of the cmdlet:

`        [Parameter(Mandatory = false)] // Not promoted to use anymore. Use Set-PnPGroup `
`        [Obsolete("Use Set-PnPGroup.")] `
 `       public AssociatedGroupType SetAssociatedGroup = AssociatedGroupType.No `

You will notice what is recommended to use inste

[2019-07-29 13:08] yogkumgit commented on #3512
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @erwinvanhunen thanks for merging it. @JoeAyre  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-29 13:08] yogkumgit commented on #3512
@officedocsbot close

[2019-07-29 13:08] #3512 closed

[2019-07-29 13:12] yogkumgit commented on #3523
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @erwinvanhunen thanks for merging it. @dantshin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-29 13:13] yogkumgit commented on #3523
@officedocsbot close

[2019-07-29 13:13] #3523 closed

[2019-07-29 13:22] yogkumgit commented on #3744
@chrisda Please merge the PR #3761

[2019-07-29 13:24] yogkumgit commented on #3746
@get-itips  Thank you very much for the contribution and sharing this explanation. @hosebei
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-29 13:24] yogkumgit commented on #3746
@officedocsbot close

[2019-07-29 13:24] #3746 closed

[2019-07-29 17:23] nhoj01 opened #3762 "add-unifiedgrouplinks skipping users due to error"
Hello:

I seem to be running into an issue when using **Add-UnifiedGroupLinks** to to add members to a group. The command works if the group member names are all correct, however if one of the group member names is incorrect, all the members from that group are skipped as opposed to just the user id that's incorrect.

So for the sample listed below
group1 has an incorrect id _member3.com#EXT#_ all

[2019-07-29 17:35] yogkumgit commented on #3762
@officedocsbot assign @yogkumgit

[2019-07-29 20:07] fatherjack opened #3764 "What module is is this in"
Module link (Module: exchange at top of page) goes to a dead link / 404 - https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/?view=exchange-ps.

What module is this command in please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f3aa0b9-dbc1-075e-901f-fa091ceff700
* Version Independent ID: f764ed3

[2019-07-29 22:05] nhoj01 opened #3765 "new-unifiedgroup cmd does not create SharePoint"
Hello:

I used the new-unified group command to bulk create several Office 365 groups for a tenant to tenant migration.

The command created the groups but lo and behold it did not create the SharePoint sites. This is not mentioned  in the documentation. Is this the intended behavior? Does the command just create the group and none of the associated services?

[2019-07-30 04:32] Wallace4444 opened #3769 "-WindowsAuthentication $true x 2"
The section for -WindowsAuthentication states $true twice. Second row should be $false I imagine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be262e6d-2342-9d63-e807-ad931f15b847
* Version Independent ID: b20464e1-8659-1d1c-5010-c73526f440ca
* Content: [Set-OwaVirtualDirectory (exchange)](https://docs.microsoft.com/

[2019-07-30 12:02] yogkumgit commented on #3764
@officedocsbot assign @yogkumgit

[2019-07-30 12:02] yogkumgit commented on #3765
@officedocsbot assign @yogkumgit

[2019-07-30 12:02] yogkumgit commented on #3769
@officedocsbot assign @yogkumgit

[2019-07-30 13:27] get-itips commented on #3747
Hello @Hannes-Git
Thanks for your feedback.
This issue resource is specifically to report issues in documentation.
PnP cmdlets are community-driven, so to report bugs, issues and feature requests, the resource to start is https://docs.microsoft.com/en-us/sharepoint/dev/community/community

Hope this info helps you.

[2019-07-30 13:35] get-itips commented on #3745
Hello @tomkau can you confirm this limitation? Thank you!

[2019-07-30 14:17] get-itips commented on #3747
Another option @Hannes-Git

Create an issue here https://github.com/SharePoint/PnP-PowerShell/issues

with full and complete information of what you experienced.

Thanks

[2019-07-30 17:14] dariomws306 commented on #3631
Hi @waelschakaki, product team is still working on these parameters so they aren't fully available at the moment.
I am waiting for more information from them, I will update the document in some days.

[2019-07-30 19:56] NebulaMillennium opened #3773 "Move-CsUser document missing the -MoveConferenceData parameter"
The document for Move-CsUser is missing the -MoveConferenceData parameter. This parameter can be found in PowerShell itself:

PS C:\Users\Johnny> help move-csuser -Parameter moveconferencedata

-MoveConferenceData <SwitchParameter>
    When present, moves meeting and conference data for users being transferred to a different Registrar pool. Note that you should not use the MoveConferenceData param

[2019-07-30 20:09] munozrickT4S opened #3774 "PS commands don't work when MFA turned on"
The PS commands provided do not work with an account (like most Admin account) that has MFA enabled/enforced. Please update this page with appropriate instructions or sample PS that works with accounts with MFA. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Ind

[2019-07-30 20:24] chrisda commented on #3774
@munozrickT4S, note the first bullet in the Important call-out:

If you want to use multi-factor authentication (MFA) to connect to Exchange Online PowerShell, you need to download and use the Exchange Online Remote PowerShell Module. For more information, see [Connect to Exchange Online PowerShell using multi-factor authentication](mfa-connect-to-exchange-online-powershell.md).

[2019-07-30 20:24] #3774 closed

[2019-07-30 22:25] FedeFigueredo opened #3775 "Get-Team fetches Team by -GroupId in 5 secs but takes 3 to 5 minutes with -MailNickName"
Hi! I would like to know if its normal for this command to take only 4 secs to fetch a Team from server when GroupId parameter is used, and about 3 to 5 minutes (!) to fetch it when -MailNickName parameter is used. I´m working with clients with massive records of Microsoft Teams and they can provide me only display name or mailNickName. Causing a really slow script that takes more time than a huma

[2019-07-31 09:11] yogkumgit commented on #3773
@officedocsbot assign @yogkumgit

[2019-07-31 09:11] yogkumgit commented on #3775
@officedocsbot assign @yogkumgit

[2019-07-31 13:08] andypituch commented on #1601
Can this be corrected... not sure how this issue was closed when the Example was not updated? Example 1 is still incorrect as it attempts to find a mobile device ID named "TonySmith" and not the devices for the "tonySmith" mailbox (which would be -mailbox "TonySmith")

cmd should be: _Get-MobileDevice -Mailbox "TonySmith"_

[2019-07-31 13:37] get-itips commented on #3749
Hello @JeroenDronkers
Thanks for your feedback.

I tested the EOP Stand Alone endpoint currently in the article and I could successfully connect, and I noticed that you shared a .de link, are you using Office 365 for Germany?

[2019-07-31 14:22] JeroenDronkers commented on #3749
Hello
The endpoint mentioned in the article is for the Security & Compliance Center. It is not the endpoint for  Exchange Online Protection (EOP Stand Alone) which is https://ps.protection.outlook.de/powershell-liveid/
Basically the title of the article is incorrect. This should be "Connect to Sec. & Compl. Center by powershell.

Hope that clarifies...
Thanks

[2019-07-31 14:36] yogkumgit commented on #3742
@get-itips  Thank you very much for the contribution and digging deep into it.  @tonghien22890 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this d

[2019-07-31 14:36] yogkumgit commented on #3742
@officedocsbot close

[2019-07-31 14:36] #3742 closed

[2019-07-31 14:42] yogkumgit commented on #3744
@chrisda Humble reminder Please merge the PR #3761

[2019-07-31 14:44] yogkumgit commented on #3747
@get-itips  Thank you very much for the contribution and sharing this explanation. @Hannes-Git
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-07-31 14:45] yogkumgit commented on #3747
@officedocsbot close

[2019-07-31 14:45] #3747 closed

[2019-07-31 15:42] Veeraramkumar opened #3779 "Connect-PnPOnline using AppID and AppSecret is not working in Azure Automation Runbook"
When I tried to use the below PS command to access the Sharepoint site from my local machine, it executed successfully.
Connect-PnPOnline -AppId '83afc512-acad-4934-9745-2e79a00725e0' -AppSecret '8wyeC3I4Kd1D8iEVtk5JKPYYjjmw5oGv7Jzcw9GLi7M=' -Url $siteUrl

But when I tried to use the same command in Azure Automation Runbooks,
 it fails.
Fail in the sense, stream got suspended after 3 attempts
![PS

[2019-07-31 16:56] chrisda commented on #3749
@JeroenDronkers, the value https://ps.protection.outlook.de/powershell-liveid/ is already called out as the _ConnectionUri_ value for Office 365 Germany in Step 2 (in the **Note**).

It looks like [this commit](https://github.com/MicrosoftDocs/office-docs-powershell/commit/f8d23301a2fae83c338b9650bd10f155e2411b41#diff-5975c4aa2161f13e96d789e19461aca2) back in April changed the main _ConnectionUri_

[2019-07-31 16:56] #3749 closed

[2019-07-31 17:35] chrisda commented on #1601
@andypituch, I fixed it. Changes are winging their way live now.

[2019-07-31 19:28] CaseyRoot opened #3784 "Whats the magic formula to get this command to run?!"
I was able to run this command without a hitch in my sandbox environment.  Now I am trying to run in production and keep running into errors.  First one - unauthorized.  Gave the account global admin access.  Try again - next error.  You do not have access.  Not sure what is going on and at this point I rebuild my site design.  Next error - File Not Found.  What does file not found mean?

---
####

[2019-07-31 20:53] andypituch commented on #1601
Thank you! Looks good :)

[2019-07-31 22:34] get-itips commented on #3756
Hello @hvandesa
Thanks for your feedback.
This issue system is specifically to report issues in documentation.
Said that, PnP cmdlets are community-driven, if you have an idea that could be a feature request, you can start looking here https://docs.microsoft.com/en-us/sharepoint/dev/community/community

I looked into this cmdlet's source code and it is not possible. https://github.com/SharePoint/P

[2019-07-31 22:38] get-itips commented on #3760
Hello @tomkau Can we confirm the description for the mentioned parameter? Thank you

[2019-07-31 22:44] get-itips commented on #3762
Hello @nhoj01
Thanks for your feedback.
This issue system is specifically to report issues in documentation.
Your report seems more suitable for support services, kindly open a support ticket on your tenant.
Also if the cmdlet's behavior is that, you can always propose a change thru https://office365.uservoice.com/
Thank you

[2019-07-31 22:46] get-itips commented on #3764
Duplicate of https://github.com/MicrosoftDocs/office-docs-powershell/issues/3620

[2019-08-01 09:48] yogkumgit commented on #3779
@officedocsbot assign @yogkumgit

[2019-08-01 09:48] yogkumgit commented on #3784
@officedocsbot assign @yogkumgit

[2019-08-01 09:50] yogkumgit commented on #3756
@get-itips  Thank you very much for the contribution and sharing this explanation. @hvandesa
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-01 09:51] yogkumgit commented on #3756
@officedocsbot close

[2019-08-01 09:51] #3756 closed

[2019-08-01 09:58] yogkumgit commented on #3762
@get-itips  Thank you very much for the contribution and sharing this explanation. @nhoj01  Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution.
We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that valuable information. Thanks again, for taking

[2019-08-01 09:59] yogkumgit commented on #3762
@officedocsbot close

[2019-08-01 09:59] #3762 closed

[2019-08-01 11:42] get-itips commented on #3765
Hello @nhoj01
Thanks for your feedback.
I could verify what exactly you describe, but essentially, the documentation does not says that it will create Sharepoint site groups or any associated services, so I do not see there anything to change.
You could also explore creating the group using Microsoft Graph to see if the Sharepoint Site is created along.
Hope this info helps you.

[2019-08-01 11:44] get-itips commented on #3769
Hello @Wallace4444
Thanks for your feedback, based on it, I'll create a pull request to correct the article.
Thank you

[2019-08-01 12:25] yogkumgit commented on #3769
@chrisda Please merge the PR #3786

[2019-08-01 13:02] yogkumgit commented on #3744
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @4rtorias Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-01 13:02] yogkumgit commented on #3744
@officedocsbot close

[2019-08-01 13:02] #3744 closed

[2019-08-01 13:17] get-itips commented on #3692
Hello @hkusulja documentation has been updated by @Maralesfahanpoor we will proceed closing this.
Thank you both

[2019-08-01 13:22] yogkumgit commented on #3692
@get-itips  Thank you very much for the contribution and giving this confirmation. @hkusulja
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-01 13:23] yogkumgit commented on #3692
@officedocsbot close

[2019-08-01 13:23] #3692 closed

[2019-08-01 15:57] nhoj01 commented on #3765
Hello @get-itips

My reason for using that command is as I mentioned because I am doing a tenant to tenant migration and needed to bulk create office 365 groups which I presumed would also create the SharePoint sites since when you create a office 365 group in the gui it creates a sharepoint site.

But I guess that was my mistake, thanks for your feedback.

[2019-08-01 16:08] #3765 closed

[2019-08-01 17:00] yogkumgit commented on #3769
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Wallace4444 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-01 17:01] yogkumgit commented on #3769
@officedocsbot close

[2019-08-01 17:01] #3769 closed

[2019-08-01 20:12] TiloGit opened #3787 "details on values for ClientAdalAuthOverride"
Accepted values:	NoOverride, Allowed, Disallowed

but what does each mean? Especially the NoOverride

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b940ec3-fba8-8b31-48b2-76092639d4c5
* Version Independent ID: e33808fa-72f8-5b61-2a30-7da4ac2dffc4
* Content: [Set-CsOAuthConfiguration (skype)](https://docs.microsoft.com

[2019-08-02 01:27] tomtau commented on #3787
I was pinged about this issue, but I guess the GitHub login should have been @tomkau ?

[2019-08-02 13:16] yogkumgit commented on #3787
@officedocsbot assign @yogkumgit

[2019-08-02 20:02] get-itips commented on #3760
Hello @tomkau Can you kindly confirm the description for the mentioned parameter and if it is onprem only? Thank you

[2019-08-02 20:04] get-itips commented on #3745
Hello @tomkau can you kindly help us to confirm this limitation? Thank you!

[2019-08-02 22:01] get-itips commented on #3650
Hello @yogkumgit please close this one. thanks

[2019-08-05 07:50] vilmarci opened #3790 "Need deleted group owners and members"
Please add the -IncludeSoftDeletedGroups option like the Get-UnifiedGroup command has.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a564cf-b454-d046-070b-ddc0c05c7a7f
* Version Independent ID: 055a9698-c1cc-174d-6c66-33c3bf21a55c
* Content: [Get-UnifiedGroupLinks (exchange)](https://docs.microsoft.com/en-us/powersh

[2019-08-05 08:25] yogkumgit commented on #3790
@officedocsbot assign @yogkumgit

[2019-08-05 09:29] yogkumgit commented on #3650
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @ivanja81 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-05 09:30] yogkumgit commented on #3650
@officedocsbot close

[2019-08-05 09:30] #3650 closed

[2019-08-05 12:20] sujithnair79 opened #3791 "Example 2 statement update request."
This example does the following:
<<-- Mail-enables an existing on-premises user.  -->> This needs to be removed.
<<-- Creates the associated mailbox in the service. -->> This needs to be removed.
Creates an archive mailbox in the service for the mailbox.
To mail-enable an on-premises user, create the associated mailbox in the service, enable the archive mailbox in the service and include the Archi

[2019-08-05 12:28] sujithnair79 opened #3792 "Example 2 statement update request."
https://docs.microsoft.com/en-us/powershell/module/exchange/federation-and-hybrid/enable-remotemailbox?view=exchange-ps

Enable-RemoteMailbox "Kim Akers" -RemoteRoutingAddress "kima@contoso.mail.onmicrosoft.com" -Archive

This example does the following:
 <<-- Mail-enables an existing on-premises user. -->> This needs to be removed.
 <<-- Creates the associated mailbox in the service. -->> This ne

[2019-08-05 13:36] yogkumgit commented on #3792
@officedocsbot assign @yogkumgit

[2019-08-05 23:07] get-itips commented on #3773
@bjwhalen Hello, I tracked down the history of Move-CsUser documentation and I saw that you are the author of the [pull request](https://github.com/MicrosoftDocs/office-docs-powershell/pull/1231) that removed the MoveConferenceData parameter from the article, can you kindly clarify what was the reason behind that? I tested in SfB 2019 and the parameter is still there.
Thanks for clarifying this.

[2019-08-05 23:11] get-itips commented on #3775
Hello @FedeFigueredo Thanks for your feedback.
This issue system is specifically to report issues currently present in documentation, for feature requets, bug reports or in this case, support (that could lead to a bug report) I need to kindly redirect you to creating a support ticket directly on your tenant using the Office 365 admin panel.
Hope this information gets you in the right direction to

[2019-08-05 23:16] get-itips commented on #3779
Hello @Veeraramkumar Thanks for your feedback.

This issue resource is specifically to address issues on documentation, as you might know, PnP cmdlets are community-driven, so I need to kindly ask you to suggest this inquiry to the community, as it seems you need support on your situation, please start looking here https://docs.microsoft.com/en-us/sharepoint/dev/community/community

Thank you.

[2019-08-05 23:26] get-itips commented on #3784
Hello @CaseyRoot
Thanks for your feedback, digging a little in the documentation for PnP cmdlets I could find this:

This command is intended to replace Invoke-PnPSiteDesign and is useful when you need to apply a large number of actions or multiple site scripts.

[Source](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/add-pnpsitedesigntask?view=sharepoint-ps)

If you still have

[2019-08-06 12:44] yogkumgit commented on #3775
@get-itips Thank you very much for the contribution and sharing this explanation. @FedeFigueredo
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution.

We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that va

[2019-08-06 12:45] yogkumgit commented on #3775
@officedocsbot close

[2019-08-06 12:50] yogkumgit commented on #3779
@get-itips Thank you very much for the contribution and sharing this explanation. @Veeraramkumar
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please initiate query in community and follow there for the resolution.
We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that valuable informa

[2019-08-06 12:50] yogkumgit commented on #3779
@officedocsbot close

[2019-08-06 12:50] #3779 closed

[2019-08-06 12:53] yogkumgit commented on #3784
@get-itips  Thank you very much for the contribution and sharing this explanation. @CaseyRoot
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-06 12:53] yogkumgit commented on #3784
@officedocsbot close

[2019-08-06 12:53] #3784 closed

[2019-08-06 13:12] korniienkoalexis opened #3795 "Workaround to Returns all teams that a use belongs to"
https://github.com/korniienkoalexis/Get-Team

[2019-08-06 13:13] yogkumgit commented on #3795
@officedocsbot assign @yogkumgit

[2019-08-06 14:33] oradcliffe opened #3796 "Which one to use?"
Is there a reason to use this one, import-csonlineaudiofile, vs the other seemingly very similar cmdlet, new-csonlineaudiofile?

https://docs.microsoft.com/en-us/powershell/module/skype/new-csonlineaudiofile?view=skype-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3916b31e-3c98-3a5d-f034-1bcff3e8d8fc
* Version Inde

[2019-08-06 14:35] oradcliffe opened #3797 "How to retrieve already existing audio files?"
Is there a get-csonlineaudiofile or similar?  I have not found anything like that yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3916b31e-3c98-3a5d-f034-1bcff3e8d8fc
* Version Independent ID: cc63afcc-727b-c972-eb11-21d6a15f1d0e
* Content: [Import-CsOnlineAudioFile (skype)](https://docs.microsoft.com/en-us/powersh

[2019-08-06 15:02] yogkumgit commented on #3796
@officedocsbot assign @yogkumgit

[2019-08-06 15:03] yogkumgit commented on #3797
@officedocsbot assign @yogkumgit

[2019-08-06 16:49] get-itips commented on #3465
Hello @Petri-X thanks for your feedback, finally, we are close to close this now as I created a pull request to add the missing description, thank you.

[2019-08-06 17:17] get-itips commented on #3086
Hello all,
I can confirm that the cmdlet isn't still released for use.
Thanks

[2019-08-06 17:22] kenwith commented on #3086
Thanks @get-itips  for tracking this down with @trent-green ! Yes, it is part of the new open Microsoft where teams are building and releasing quickly. In this case the documentation preceded the actual cmdlet releasing out into the world. Trent let us know it is coming though so you should see it show up in your tenant soon. Closing this out.

[2019-08-06 17:22] #3086 closed

[2019-08-07 12:01] yogkumgit commented on #3465
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Petri-X Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-07 12:02] yogkumgit commented on #3465
@officedocsbot close

[2019-08-07 12:02] #3465 closed

[2019-08-07 12:43] get-itips commented on #3188
Hello everyone,
Thanks for your feedback.
I can confirm that the cmdlet is not yet available for production use.
Thank you

[2019-08-07 12:43] get-itips commented on #3294
Hello everyone,
Thanks for your feedback.
I can confirm that the cmdlet is of internal use.
Thank you

[2019-08-07 12:49] yogkumgit commented on #3188
@get-itips  Thank you very much for the contribution and sharing this explanation. @Troy-Phillips
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-07 12:49] yogkumgit commented on #3188
@officedocsbot close

[2019-08-07 12:49] #3188 closed

[2019-08-07 12:52] yogkumgit commented on #3294
@get-itips  Thank you very much for the contribution and sharing this explanation. @MaxKraft
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-07 12:53] yogkumgit commented on #3294
@officedocsbot close

[2019-08-07 12:53] #3294 closed

[2019-08-07 13:06] get-itips commented on #2212
Hello, as @VesaJuvonen said, this functionality is not yet available.
Documentation will be available once it is released.
Thank you.

[2019-08-07 15:03] yogkumgit commented on #2212
@get-itips  Thank you very much for the contribution and sharing this explanation. @AlexRademeyer Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-07 15:04] yogkumgit commented on #2212
@officedocsbot close

[2019-08-07 18:21] corbob opened #3800 "Dashes used in tables cannot be searched in a browser"
The dashes used in the charts (like Remove-PnPWorkflowSubscription) is not a normal dash (perhaps it's U+2011?), and can't be searched on the page. Is there a reason to use this over the normal dash that a PowerShell user might expect to find?

It appears perhaps this is a regression of #827 :thinking:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-08-07 19:30] stwils opened #3802 "Support for Exchange Online"
The end of the second paragraph states, "Importing .pst files is not possible in Exchange Online." Yet the article states that it applies to exchange online, so not sure if this used to be the case and wasn't updated.

Also, Is there any way to disable the alerts or notifications that appear in ECP for an import job? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-08-08 06:45] AlexRademeyer commented on #2212
Hello.
No?
It's not helpful at all? Since it is not a solution or an explanation.

but keeping this issue alive is not helping anyway.
I just hope i hear about it when this functionality is released (hopefully 2019 is still the right year.).

[2019-08-08 11:50] yogkumgit commented on #3800
@officedocsbot assign @yogkumgit

[2019-08-08 11:50] yogkumgit commented on #3802
@officedocsbot assign @yogkumgit

[2019-08-08 15:56] kenwith commented on #2212
@trent-green is the PM that owns this and maybe he can give us more information. He did let @get-itips know that it is not yet available but I agree with @AlexRademeyer that it would be nice to have more information since we are already well into August of 2019.

@trent-green - can you give us any more info? :)

[2019-08-08 21:34] trent-green commented on #2212
@kenwith all we can say is sometime during Q3 2019

[2019-08-08 22:13] #2212 closed

[2019-08-09 00:12] flowt-au opened #3807 "-RecipientFilter. Document syntax for using parameters"
The docs say: Use braces { } around the whole OPath syntax string.

But, if you do that, it seems you cannot use parameters in the Recipient Filter e.g. to add or set the filter via a CSV import process.

See the following SO post for the correct syntax:

https://stackoverflow.com/questions/57408192/how-to-set-recipientfilter-on-new-dynamicdistributiongroup-using-a-variable

An example in these do

[2019-08-09 10:38] yogkumgit commented on #3807
@officedocsbot assign @yogkumgit

[2019-08-09 11:33] yogkumgit commented on #2857
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @BrianMcNeese Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-09 11:34] yogkumgit commented on #2857
@officedocsbot close

[2019-08-09 11:34] #2857 closed

[2019-08-09 11:43] yogkumgit commented on #3169
@kenwith please merge the PR #3809

[2019-08-09 11:47] get-itips commented on #3787
Hello @TiloGit
Thanks for your feedback, I created a pull request to propose some additions to the article to explain the values. If it gets approved, it will then be on the live version.
Thank you

[2019-08-09 11:47] yogkumgit commented on #3001
@kenwith Please merge the PR #3810

[2019-08-09 11:50] get-itips commented on #3790
Hello @vilmarci thanks for your feedback.
This issue system is specific to report issues in documentation, for feature requests, I need to kindly redirect you to https://office365.uservoice.com/
Thank you

[2019-08-09 12:21] get-itips commented on #3792
Hello @sujithnair79 thanks for your feedback.
I am proposing thru a pull request, to change the example number 2 to a working example.
Hopefully, if the article author approves it, it will go live.
Thank you

[2019-08-09 12:47] yogkumgit commented on #3790
@vilmarci  Thank you very much for your kind feedback. Considering your valuable feedback, as advised, please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-08-09 12:47] yogkumgit commented on #3790
@officedocsbot close

[2019-08-09 12:47] #3790 closed

[2019-08-09 12:51] yogkumgit commented on #3787
@tomkau Please merge the PR #3814

[2019-08-09 12:54] yogkumgit commented on #3792
@chrisda Please merge the PR #3815

[2019-08-09 13:11] sujithnair79 commented on #3792
Thanks Andres.

[2019-08-09 13:17] yogkumgit commented on #3773
@get-itips  Thank you very much for the contribution and digging deep into it.  @NebulaMillennium We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update th

[2019-08-09 13:17] yogkumgit commented on #3773
@officedocsbot close

[2019-08-09 13:41] NebulaMillennium commented on #3773
@yogkumgit This issue is not resolved. It appears @get-itips asked @bjwhalen for info on why the -MoveConferenceData parameter was removed from the documentation. I do not see an answer from @bjwhalen and the parameter is still missing from the document at https://docs.microsoft.com/en-us/powershell/module/skype/move-csuser?view=skype-ps

Why did you close the request? Can you please reopen it unt

[2019-08-09 13:50] yogkumgit commented on #3773
@NebulaMillennium Yes you are right. Apologies. This is mistakenly done by me. Thanks for correction.

[2019-08-09 13:51] yogkumgit commented on #3773
@bjwhalen please reply to @get-itips query and kindly help.

[2019-08-09 14:37] eric-lavalley opened #3817 "Incorrect Examples"
This page provides details on the Get-AdvancedThreatProtectionDocumentDetail cmdlet while the examples shown are for the Get-AdvancedThreatProtectionTrafficDetail cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef7cb2b-d541-71c7-f9e1-8db0a2dc0622
* Version Independent ID: 4b33745c-d0b6-2cda-72c5-1398777356f8
*

[2019-08-09 14:50] yogkumgit commented on #3817
@officedocsbot assign @yogkumgit

[2019-08-09 17:35] get-itips commented on #3773
Hello @NebulaMillennium thanks for your feedback.
We could finally get information about why it was missing, I created a pull request to add it back with some notes, if it is approved, it will go on the live version.
Thank you!

[2019-08-10 13:49] get-itips commented on #3795
Hello @korniienkoalexis
Thanks for your feedback.
Is there any specific article that you think needs to be corrected?
I see that you created a function to satisfy a special need, maybe you can propose it in [teams uservoice](https://microsoftteams.uservoice.com/)
Thanks for your contribution

[2019-08-10 14:08] get-itips commented on #3796
Hello @oradcliffe
Thanks for your feedback.
From what I could investigate, New-CsOnlineAudioFile was part of _Organizational Auto Attendant First Generation cmdlets_ (-CsOrganizationalAutoAttendant) and Import-CsOnlineAudioFile is part of _second generation cmdlets_ (-CsAutoAttendant) which is now the support cmdlets to create Auto Attendant and Call Queues configurations.
Also I am pretty sure th

[2019-08-10 14:17] get-itips commented on #3797
Hello @oradcliffe
I can confirm you that there is no such cmdlet yet available.
You can propose new features and ideas here https://microsoftteams.uservoice.com/
Thank you

[2019-08-12 10:32] angelstephen opened #3822 "-WithRightsAssigned not working"
Command 1 - Get-PnPUser
Command 2 - Get-PnPUser -WithRightsAssigned

Bot the commands return the same results. Command 2 - Still returns all users from the User Information List who currently now does not have access to the site..  I have the latest PNP module version and did not include Identity parameter. Please help!

-WithRightsAssigned
If provided, only users that currently have any kinds of

[2019-08-12 10:58] yogkumgit commented on #3822
@officedocsbot assign @yogkumgit

[2019-08-12 11:09] yogkumgit commented on #3787
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @TiloGit Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-12 11:10] yogkumgit commented on #3787
@officedocsbot close

[2019-08-12 11:10] #3787 closed

[2019-08-12 11:14] yogkumgit commented on #3797
@oradcliffe  Thank you very much for your kind feedback. Considering your valuable feedback, as advised, please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-08-12 11:14] yogkumgit commented on #3797
@officedocsbot close

[2019-08-12 11:14] #3797 closed

[2019-08-12 11:21] yogkumgit commented on #3773
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @NebulaMillennium Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-12 11:21] yogkumgit commented on #3773
@officedocsbot close

[2019-08-12 11:21] #3773 closed

[2019-08-12 11:27] yogkumgit commented on #3792
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @sujithnair79 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-12 11:27] yogkumgit commented on #3792
@officedocsbot close

[2019-08-12 11:59] yogkumgit commented on #3169
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @jyoungComputerTalk  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-12 11:59] yogkumgit commented on #3169
@officedocsbot close

[2019-08-12 11:59] #3169 closed

[2019-08-12 12:03] yogkumgit commented on #3001
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @grtaylo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-12 12:04] yogkumgit commented on #3001
@officedocsbot close

[2019-08-12 12:04] #3001 closed

[2019-08-12 13:13] korniienkoalexis commented on #3795
https://docs.microsoft.com/en-us/powershell/module/teams/get-team?view=teams-ps

It actually specifies

Example 1
PS> Get-Team -User dmx1@example.com
Returns all teams that a user (dmx1@example.com) belongs to

[2019-08-12 16:43] dschuette01 opened #3825 "Typo"
Page above says: This will create a CSV file on the Desktop of the current user with the name "TeasUpgrade.csv"

File name should be "TeamsUpgrade.csv"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0dd44c-bfc9-5f82-68c4-7b469129e8a5
* Version Independent ID: ea015ee3-54e2-e402-d533-c8a9a15557e8
* Content: [Grant-CsT

[2019-08-12 17:14] yogkumgit commented on #3825
@officedocsbot assign @yogkumgit

[2019-08-12 23:31] dariomws306 commented on #3690
Hi @dstowers73, thank you for your feedback.

Sorry for the delay. I have tried this and it works:

![image](https://user-images.githubusercontent.com/33589238/62905220-e68b7800-bd3f-11e9-98b5-a9eb8570b97f.png)

![image](https://user-images.githubusercontent.com/33589238/62905249-028f1980-bd40-11e9-9f4b-dc9557ca73be.png)

[2019-08-12 23:34] dariomws306 commented on #3690
![image](https://user-images.githubusercontent.com/33589238/62905354-85b06f80-bd40-11e9-8c19-d4a98d1ddf2f.png)

[2019-08-13 05:25] RamPrasadMeenavalli opened #3828 "Wrong browser title"
The doc's browser title for the following cmdlets is shown as 'Add-SPOOrgAssetsLibrary'

- Get-SPOOrgAssetsLibrary
- Set-SPOOrgAssetsLibrary
- Remove-SPOOrgAssetsLibrary

<img width="734" alt="Capture" src="https://user-images.githubusercontent.com/30853327/62917189-e8dde880-bdb8-11e9-8e79-7c41b41c4df8.PNG">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-08-13 05:29] RamPrasadMeenavalli commented on #3828
Submitted a PR with the updated titles

[2019-08-13 06:52] sujithnair79 commented on #3792
I could not understand if this change is approved and if in deed we have the change effective. I do not see any update in the doc yet.

[2019-08-13 08:11] RamPrasadMeenavalli commented on #3828
@officedocsbot assign @RamPrasadMeenavalli

[2019-08-13 10:45] yogkumgit commented on #3630
@chrisda Please merge the PR #3826

[2019-08-13 11:09] yogkumgit commented on #3630
@get-itips  and @tseward Please review the PR #3826

[2019-08-13 11:44] get-itips commented on #3792
Hello @sujithnair79 the PR was merged and it will take a while to be reflected live. Please check back in a few days.

[2019-08-13 15:23] #3828 closed

[2019-08-13 17:03] get-itips commented on #3800
Hello @corbob
Thanks for your feedback.
The issues at this repo are exclusively to report issues in documentation, in this case, of PnP cmdlets.
So the right resource to follow this issue in the cmdlet is the one you have linked, which I see now that has been re-opened.
Please use that issue to share your scenario and follow up.
Thank you

[2019-08-13 18:12] get-itips commented on #3802
Hello @stwils
Thanks for your feedback.
I will create a pull request to propose removing that sentence from the article, as it is supported in ExOnline, (FilePath parameter is not though)
Thank you

[2019-08-13 19:03] koskila commented on #1567
Apologies for commenting on an old ticket, but this is the only result on Google when searching with the error message "Add-SPOTenantCdnOrigin : Value cannot be longger than 5000." (probably because of the typo in the error message itself).

@pratyusha-kodumuri, how were you able to resolve this issue?

[2019-08-13 19:17] kenwith commented on #1567
@trent-green

[2019-08-13 19:40] KjetilEVRY opened #3832 "Use cases"
I struggle to find a valid reason for why a regular end-user needs access to PS in Exchange Online by default. Can the PG please give some use cases on this page? Why would a regular business user need PS? What can he/she do there? And why would the user do that using PS, instead of other methods like AzureAD/AD (ie. updating personal data like phone, office location etc)?
In my mind, it's just an

[2019-08-14 02:55] mayurnjoshi opened #3834 "New-DLPKeywordDictionary creation fails if the size of the keywords list/files is > 100KB"
When uploading a File from UI or creating it from PowerShell the command fails with the error as below. Is this a limitation of the product and if so are there any workarounds?

The keword dictionary file size exceeds the maximum file size of 100 KB..
    + CategoryInfo          : NotSpecified: (:) [Set-DlpKeywordDictionary], ErrorKeywordDic...nvalidException
    + FullyQualifiedErrorId :

[2019-08-14 04:19] MaratMussabekov opened #3835 "ClientAccessServerEnabled parameter"
it states "The ClientAccessServerEnabled parameter specifies whether to enable IRM for Outlook on the web (formerly known as Outlook Web App) and Exchange ActiveSync."
Wouldn't the setting of the parameter to $False affect the remote connections via Outlook Anywhere as well?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-08-14 09:51] yogkumgit commented on #3834
@officedocsbot assign @yogkumgit

[2019-08-14 09:51] yogkumgit commented on #3835
@officedocsbot assign @yogkumgit

[2019-08-14 09:59] yogkumgit commented on #3800
@get-itips  Thank you very much for the contribution and sharing this explanation. @corbob
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-14 09:59] yogkumgit commented on #3800
@officedocsbot close

[2019-08-14 10:04] yogkumgit commented on #3802
@chrisda  Please merge the PR #3831

[2019-08-14 11:04] yogkumgit commented on #3690
@dariomws306  Thank you very much for the contribution and sharing this explanation. @dstowers73 Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-14 11:04] yogkumgit commented on #3690
@officedocsbot close

[2019-08-14 11:04] #3690 closed

[2019-08-14 11:18] yogkumgit commented on #1072
@kenwith  Thank you very much for sharing this explanation. @DeanGross
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-14 11:19] yogkumgit commented on #1072
@officedocsbot close

[2019-08-14 11:19] #1072 closed

[2019-08-14 12:04] get-itips commented on #3764
Hello @fatherjack as this is also mentioned in another issue (referenced here in my last message) we will proceed closing this one, please follow up on the other one.

[2019-08-14 13:32] tseward commented on #3425
Based on a decompile, I don't see that `-Force` is referenced at all.

[2019-08-14 13:45] giwleb opened #3836 "Link to the 'exchange' module at the top returns 404"
https://docs.microsoft.com/en-us/powershell/module/exchange/users-and-groups/?view=exchange-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a9d9ae7-3dc2-78a8-ce7f-1be4134aa918
* Version Independent ID: 5b45921f-534a-d200-f4b8-5370709e25e5
* Content: [Get-User (exchange)](https://docs.microsoft.com/en-us/powershell/m

[2019-08-14 13:48] stephenc01 opened #3837 "Fix Documentation"
Several pieces are incomplete, it they are production ready update them. If they are not remove them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7456f5b5-7de8-2c8f-b165-8f6b4e380499
* Version Independent ID: 9ea298f4-8f11-0e52-9d73-bf0192dc3c9e
* Content: [New-RetentionCompliancePolicy (exchange)](https://docs.micr

[2019-08-14 14:01] get-itips commented on #3425
Many Thanks @tseward for that information, so that I think, reinforces my conclusion.

[2019-08-14 14:28] stephenc01 opened #3838 "Optional Parameters are incorrect"
Per the documentation only name is required.

New-RetentionCompliancePolicy -Name "Default 5 Year Retention [US1]"
Parameter set cannot be resolved using the specified named parameters.
    + CategoryInfo          : InvalidArgument: (:) [New-RetentionCompliancePolicy], ParameterBindingException
    + FullyQualifiedErrorId : AmbiguousParameterSet,New-RetentionCompliancePolicy
    + PSComputerName

[2019-08-14 14:35] sohailmerchant commented on #3700
Sorry for not responding earlier.  Here is the link for the docs: https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/new-pnpsite

The cmdlet New-PnpSite create modern group site and New-PnPTenantSite create a classic site. So the docs is not correct.

I have a latest version of PNP PowerShell installed i.e. 3.12.

Thanks

[2019-08-14 14:56] corbob commented on #3800
Well I'm really confused... I opened the issue from the page that had an issue. After opening the issue on the page, I came to github and was doing some searching on issues and found #827. so I edited the issue to add this. 827 was and still is closed. So is that to mean that this issue won't be resolved? or that someone with the permissions to do it should reopen 827?

[2019-08-14 15:55] austinmccollum opened #3839 "Correct first bullet point in Note"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34fa66b0d268
* Content: [Connect to Exchange Online PowerShell using multi-factor authentication](https://docs.microsoft.com/en-us/powershell/exchange/exchange-onli

[2019-08-14 16:01] austinmccollum commented on #3839
Currently Note section has bullet point:
"• You can't use the Exchange Online Remote PowerShell Module to connect to Exchange Online PowerShell and Security & Compliance Center PowerShell in the same session (window). You need to use separate sessions of the Exchange Online Remote PowerShell Module."

This is incorrect.  Here's a better explanation:
"In order to use both Security and Compliance po

[2019-08-14 16:43] get-itips commented on #827
@VesaJuvonen Please if you agree, re-open this issue as per https://github.com/MicrosoftDocs/office-docs-powershell/issues/3800 Thanks

[2019-08-14 16:43] get-itips commented on #3800
Hello @corbob
Exactly, as you referenced that issue, a notification should arrive for the person in charge of the other repo, but I'll leave a message there too.

[2019-08-14 16:53] yogkumgit commented on #3836
@officedocsbot assign @yogkumgit

[2019-08-14 16:53] yogkumgit commented on #3837
@officedocsbot assign @yogkumgit

[2019-08-14 16:53] yogkumgit commented on #3838
@officedocsbot assign @yogkumgit

[2019-08-14 16:54] yogkumgit commented on #3839
@officedocsbot assign @yogkumgit

[2019-08-14 21:42] get-itips commented on #3700
I am sorry @sohailmerchant but I am confused
In the first message you say that the New-PnpSite creates an Office 365 Group not a SC.
In the last message you say that the cmdlet creates a Modern Site and New-PnpTenantSite creates a classic one, this is stated in the document:

Please kindly clarify what you see is wrong with the documentation.

[2019-08-14 22:01] sohailmerchant commented on #3700
I am sorry for causing confusion.  My point was that New-pnpsite creates office 365 group not a modern site collection.  When you will create a site using this cmdlet you will see its says on top 'private group' and 'conversation' link which has mailbox attached.  If we create a modern site collection/team site there is no mailbox attached it is just a site.  Hope this make sense.

[2019-08-14 22:15] get-itips commented on #3807
Hello @flowt-au
Thanks for your feedback
I am proposing thru a pull request, the addition of an example and a clarification to the RecipientFilter parameter, when using variables, as I could verify.
Thank you

[2019-08-14 22:47] flowt-au commented on #3807
Thanks!

[2019-08-14 23:11] TinaMcN commented on #1524
@nakawankuma フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 1週間以内に修正する必要があります。(Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It should be fixed within a week.)

[2019-08-15 01:43] get-itips commented on #3817
Hello @eric-lavalley
Thanks for noting this, created a pull request to fix the example.
Thank you

[2019-08-15 01:49] get-itips commented on #3822
Hello @angelstephen
Thanks for your feedback, the issues in this repo are specific to report problems in documentation, for issues using the cmdlets, you should look into the Pnp-Powershell repo.
But I found that a similar issue you are describing is already [reported here](https://github.com/SharePoint/PnP-PowerShell/issues/1816), please have a look and follow up there.

[2019-08-15 07:32] smadala opened #3842 "No explaination for `PendingDeletion` value for `Mode` parameter"
Please add detail explanation for `PendingDeletion` value for `Mode` parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f1904f4-fe24-714c-46da-ab43195fc04c
* Version Independent ID: 58c66395-6df4-9d6e-abef-e4ec2b0d63ce
* Content: [New-DlpCompliancePolicy (exchange)](https://docs.microsoft.com/en-us/powershell/m

[2019-08-15 10:43] yogkumgit commented on #3842
@officedocsbot assign @yogkumgit

[2019-08-15 10:53] yogkumgit commented on #3807
@chrisda Please merge the PR #3840

[2019-08-15 10:55] yogkumgit commented on #3817
@chrisda Please merge the PR #3841

[2019-08-15 10:56] yogkumgit commented on #3822
@get-itips  Thank you very much for the contribution and sharing this explanation. @angelstephen
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-15 10:56] yogkumgit commented on #3822
@officedocsbot close

[2019-08-15 10:56] #3822 closed

[2019-08-15 12:17] yogkumgit commented on #3832
@officedocsbot assign @yogkumgit

[2019-08-15 13:20] get-itips commented on #3700
Hello @sohailmerchant
Thanks for your clarification.
This is what I did

_Created a Modern/Team Site using the New-PnpSite cmdlet
Created a Modern/Team Site using the UI_

both resulted in

_Team Site with "Private Group" label
Mailboxes were created for both_

Please correct me if I am wrong, but I identified no difference between the UI and Powershell.

Thank you

[2019-08-15 13:37] sohailmerchant commented on #3700
This is a correct behavior and this what I was trying to highlight i.e. it creates a 'Private Group' not just a modern team site.  There is label 'Private Group' and you will also see 'Conversation' link on the left navigation on the site.   The cmdlet page says on top that 'Creates a new site collection' which I believe is incorrect since it is creating a group like the cmdlet `New-PnpUnifiedGrou

[2019-08-15 13:56] get-itips commented on #3700
Ok understood.
I'll create a pull request in the PnP-Powershell repo to propose changing some wording and cross link here.
If it gets approved by the PnP team, it will get reflected.
Thanks

[2019-08-15 14:34] yogkumgit commented on #3700
@erwinvanhunen Kindly merge the PR: Changing some wording about what is being created #2211

[2019-08-16 13:25] lc9er opened #3844 "Set-User ignores -whatif (Exchange Online)"
Apologies if this is not the appropriate venue, but I couldn't find another location to submit a bug report.

Issue:

Set-User username@example.com -AuthenticationPolicy SuperStrictPolicy **-whatif**

The whatif is accepted as a parameter, but ignored, and the authentication policy gets updated.

Service: Exchange Online
Command: Set-User

[2019-08-16 13:52] yogkumgit commented on #3844
https://github.com/MicrosoftDocs/office-docs-powershell/issues/3842

[2019-08-16 13:52] yogkumgit commented on #3844
@officedocsbot assign @yogkumgit

[2019-08-16 15:00] get-itips commented on #3825
Hello @dschuette01 thanks for noticing, created a pr to correct the article.

[2019-08-16 15:51] yogkumgit commented on #3825
@tomkau Kindly merge the PR #3845

[2019-08-16 17:17] get-itips commented on #3834
Hello @chrisda
I made some tests and had trouble uploading large csv files as the user here, can we confirm which is the limit? So I can add it to the article.

Thanks

[2019-08-16 19:46] get-itips commented on #3835
Hello @MaratMussabekov
Thanks for your feedback.
As the article says, the parameter affects the enablement of the feature on Outlook on the Web (Outlook Web Access) and ActiveSync here is more info https://docs.microsoft.com/en-us/exchange/enable-or-disable-information-rights-management-on-client-access-servers-exchange-2013-help

[2019-08-17 01:57] MaratMussabekov commented on #3835
Yes, I saw this article, but from my experience, it disables irm for remote
users as well

Would it be possible to contact article author?

Thank you

On Sat, Aug 17, 2019 at 12:46 AM Andres Mariano Gorzelany <
notifications@github.com> wrote:

[2019-08-17 09:37] repton-infinity opened #3847 "Missing g in the example"
et-SPEnterpriseSearchAdministrationComponent -SearchApplication $ssa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9733679f-6c5a-bff3-d5b4-6d795af5c9ca
* Version Independent ID: 4bd88e36-a3bc-ee68-7eab-32a117e0e19e
* Content: [Get-SPEnterpriseSearchAdministrationComponent (sharepoint-server)](https://docs.microsoft.co

[2019-08-17 12:14] get-itips commented on #3835
Hello @chrisda your call here, thank you

[2019-08-17 17:53] jcallaghan opened #3848 "Access denied and CDN warning"
Hi team. I am getting an error whilst trying to enable this in a UK tenant. I get an access denied error. You do not have permission to perofrm this action or access this resource. This occurs with SP admin and global admin. Furthermore, in my own UK tenant I have been able to do this but get a warning about enabling a CDN. Please can you share more information about this as I don't think I can pr

[2019-08-18 20:47] vardhan1990 opened #3849 "Example section just has placeholder content"
https://docs.microsoft.com/en-us/powershell/module/teams/Get-TeamHelp?view=teams-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab658c47-3403-b6bc-36b3-cd6ad656ba7f
* Version Independent ID: 4676fdae-f3a1-a1da-e4d0-b4f815bd7c04
* Content: [Get-TeamHelp (teams)](https://docs.microsoft.com/en-us/powershell/module/team

[2019-08-19 03:32] Yoeeee opened #3850 "The operation couldn't be performed because object 'group' couldn't be found on 'HKXPR02A003DC06.APCPR02A003.prod.outlook.com'"
Error the group cannot be found. Is there anything wrong with the command that I used?

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.
                                                                                                                                                                                                Try the new cross-platform PowerShell https

[2019-08-19 11:36] yogkumgit commented on #3847
@officedocsbot assign @yogkumgit

[2019-08-19 11:36] yogkumgit commented on #3848
@officedocsbot assign @yogkumgit

[2019-08-19 11:37] yogkumgit commented on #3849
@officedocsbot assign @yogkumgit

[2019-08-19 11:37] yogkumgit commented on #3850
@officedocsbot assign @yogkumgit

[2019-08-19 11:58] yogkumgit commented on #3807
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @flowt-au Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-19 11:58] yogkumgit commented on #3807
@officedocsbot close

[2019-08-19 11:59] #3807 closed

[2019-08-19 12:01] yogkumgit commented on #3817
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @eric-lavalley Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-19 12:01] yogkumgit commented on #3817
@officedocsbot close

[2019-08-19 17:56] homerggg opened #3851 "Floornumber and nickname parameters not recognized"
I can get the Set-Place command to work perfectly, with the exception of the floornumber and nickname parameters. Those parameters cannot be found. I don't really need them but I would sure like to know why.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8ef4fb7-736b-99e8-796b-c1d02410a7e4
* Version Independent ID: 0f

[2019-08-19 18:29] evandimsby opened #3852 "The required backslash for the -identity switch is not understood"
Of all the odd notation that may be required for all sorts of cmdlets, have to use a " \ " backslash seems very out-of-the-ordinary, especially since that \ is not included as part of the notation when running "Get-PublicFolderMailboxMigrationRequest"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53f13363-bab8-99c0-4d

[2019-08-19 22:12] cperson opened #3855 "ClientId samples do not work as expected"
When working to Connect using AzureAD App Only, the following combination is the only thing that works for me:

Connect-PnPOnline -Url $adminUrl  -Tenant "&lt;tenant&gt;.onmicrosoft.com" -CertificatePath &lt;PATHTO&gt;.pfx -ClientId $azureApplicationId -CertificatePassword (ConvertTo-SecureString -AsPlainText $azureApplicationIdPassword -Force)

This seems a bit off compared to the docs as I need

[2019-08-19 23:58] get-itips commented on #3842
Hello @smadala
PendingDeletion is not a valid settable value, that is the reason is not under

It is only a transient value that the policy can get when an administrator fires up the delete DLP policy command either from UI or Ps until it is really deleted.
Hope this info has helped you.

[2019-08-20 00:21] get-itips commented on #3832
Hello @chrisda your call here please.
Thanks

[2019-08-20 00:33] get-itips commented on #3838
Hello @stephenc01
Thanks for your feedback.
Unless I am not seeing it, I did not find the Required attribute in this article. So if i am not wrong, it is not stating that name is the only parameter required.
Thank you

[2019-08-20 01:08] get-itips commented on #3836
Duplicate of https://github.com/MicrosoftDocs/office-docs-powershell/issues/3620

[2019-08-20 10:53] yogkumgit commented on #3851
@officedocsbot assign @yogkumgit

[2019-08-20 10:53] yogkumgit commented on #3852
@officedocsbot assign @yogkumgit

[2019-08-20 10:53] yogkumgit commented on #3855
@officedocsbot assign @yogkumgit

[2019-08-20 12:28] yogkumgit commented on #3630
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @anwarmahmood1 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-20 12:29] yogkumgit commented on #3630
@officedocsbot close

[2019-08-20 12:29] #3630 closed

[2019-08-20 12:33] anwarmahmood1 commented on #1668
You *really* need to provide examples, for -filter, not just the syntax

[2019-08-20 13:16] yogkumgit commented on #3825
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @dschuette01 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-20 13:17] yogkumgit commented on #3825
@officedocsbot close

[2019-08-20 13:17] #3825 closed

[2019-08-20 13:24] FedeFigueredo opened #3856 "Unable to set -LockState Readonly on particular Site Collection (all other works fine)"
I'm attempting to set a Site Collection from **Unlock** to **Readonly**. This Site Collection happens to be "https://tenant.sharepoint.com", so I'm unsure if that factors into it. I'm running:

Set-SPOSite https://tenant.sharepoint.com -LockState Readonly

When I do this with any other Site Collection like "https://tenant.sharepoint.com/sites/pwa", it unlocks just fine, but for this Site Collectio

[2019-08-20 13:43] alphacentrino opened #3857 "Second Example do not work"
Get-Mailbox -Filter {ArchiveGuid -ne $null -and ArchiveDomain -ne $null} -ResultSize Unlimited | Test-ArchiveConnectivity
You get error:
The input object cannot be bound to any parameters for the command either because the command does not take pipeline input or the input and its properties do no
t match any of the parameters that take pipeline input.

---
#### Document Details

⚠ *Do not edit thi

[2019-08-20 13:58] get-itips commented on #3764
Hello @fatherjack I can confirm that a bug has been created internally at Microsoft to address this issue.
Updates of the progress will be handled at the referenced #3620 issue.
Thank you

[2019-08-20 14:00] get-itips commented on #3836
Hello @giwleb  I can confirm that a bug has been created internally at Microsoft to address this issue.
Updates of the progress will be handled at the referenced #3620 issue.
Thank you

[2019-08-20 14:23] dariomws306 commented on #3852
Hi @evandimsby, thank you for your feedback.

Could you put a screenshot here? I want to see the output you get when you run "Get-PublicFolderMailboxMigrationRequest". Thanks!

[2019-08-20 14:50] evandimsby commented on #3852
![PF screenshot](https://user-images.githubusercontent.com/43911824/63357944-4a153700-c338-11e9-9cc7-3d1225f907c6.PNG)
The screenshot shows different combinations with and without the backslash, and with and without the -identity switch specified

[2019-08-20 14:52] evandimsby commented on #3852
![get-pf](https://user-images.githubusercontent.com/43911824/63358140-8e083c00-c338-11e9-9245-5f8779ad8f3f.PNG)
And here is just Get-PublicFolderMailboxMigrationRequest by itself

[2019-08-20 17:02] dariomws306 commented on #3852
Thank you very much!

Documentation looks good because you need to use the backslash. Do you want to understand why you need to use the backslash here? Or do you think there is something that we can do to improve the document?

[2019-08-20 17:13] dariomws306 commented on #3850
Hi @Yoeeee, thank you for your feedback.

I should suggest you to use https://techcommunity.microsoft.com to ask for this kind of help. We are here to help to improve docs.microsoft.com.

Thanks!

[2019-08-20 17:38] evandimsby commented on #3852
Yes, understanding for why the \ is needed in this case, please.

[2019-08-20 17:44] dariomws306 commented on #3852
Ok, let me check if I can get this information.

[2019-08-20 17:50] dariomws306 commented on #3620
An internal work item has been created to fix this issue, it should be fixed in the next days.

[2019-08-21 08:39] yogkumgit commented on #3856
@officedocsbot assign @yogkumgit

[2019-08-21 08:39] yogkumgit commented on #3857
@officedocsbot assign @yogkumgit

[2019-08-21 10:36] yogkumgit commented on #3836
@get-itips  Thank you very much for the contribution and sharing this explanation. @giwleb
 Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-21 10:36] yogkumgit commented on #3836
@officedocsbot close

[2019-08-21 10:36] #3836 closed

[2019-08-21 10:40] yogkumgit commented on #3764
@get-itips  Thank you very much for the contribution and sharing this explanation. @fatherjack
Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-21 10:40] yogkumgit commented on #3764
@officedocsbot close

[2019-08-21 10:40] #3764 closed

[2019-08-21 10:47] yogkumgit commented on #3850
@dariomws306  Thank you very much for the contribution and sharing this explanation. @Yoeeee
Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-21 10:47] yogkumgit commented on #3850
@officedocsbot close

[2019-08-21 10:47] #3850 closed

[2019-08-21 10:53] yogkumgit commented on #3851
@chrisda Please merge the PR #3858

[2019-08-21 11:02] zaicnupagadi opened #3863 "Problem with purging the messages after some time."
Hey,

I've created a GDPR mechanism to remove emails, after estimating number of mailboxes with New-ComplianceSearch, after a week or so (after users review items that going to be deleted) I wanted to run action -purge, but instead of message about message removal, I got:
[code]
Could you please provide information after what time the results do expire?

Important: Even "-Force" swoitch does not s

[2019-08-21 11:03] zaicnupagadi commented on #3863
I got the idea - that in the meantime there might be some more messages with particular phrases - but what if some organizations - like my client - would like to run that anyhow - can we do '-Force' to help in this and bypass the error?

[2019-08-21 12:37] Petri-X opened #3864 "EnableReliableConferenceDeletion available or not"
Hi,
I have heard different kind of information that EnableReliableConferenceDeletion should be available for on-premises Skype as well, and not only for Skype online. Could you clairfy how it is? And if that is available for on-premises also, could you then write how to use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-08-21 12:46] get-itips commented on #3837
Hello @stephenc01
Thanks for your feedback.
After investigating, I created a pull request to update the article with the missing information, still needs author approval, if it gets approved, it will be reflected.
Thank you

[2019-08-21 13:41] Amysno opened #3866 "Get-SPOScriptFromList not recognized as command's applet"
Hello,
I updated my Microsoft.Online.SharePoint.PowerShell module to version 16.0.9119.1200 because Powershell returned an error when trying to get Script from Event List. This error is the following :
Get-SPOScriptFromList : the term "Get-SPOScriptFromList" is not recognized as a command applet, function, script file nor exe. Please check the writing...
(sorry, translated from french prompt)
Why

[2019-08-21 15:40] get-itips commented on #3839
Hello @austinmccollum
Thanks for your feedback and contribution.
I created a pull request to update this article and the Security & Compliance one.
The author @chrisda will review it and if he agrees, it will be merged.
Thank you

[2019-08-21 16:31] yogkumgit commented on #3863
@officedocsbot assign @yogkumgit

[2019-08-21 16:31] yogkumgit commented on #3864
@officedocsbot assign @yogkumgit

[2019-08-21 16:32] yogkumgit commented on #3866
@officedocsbot assign @yogkumgit

[2019-08-21 19:55] MSg1thub opened #3869 "Set-CalendarProcessing working for UserMailbox recipient type?"
O365 hybrid tenant with AD hosted locally and all mailboxes in EXO. I connected to remote PS and ran:

Set-CalendarProcessing -Identity UserMailbox@domain.com -AutomateProcessing None

And it was successful! Prior to today it generated an error. Is this cmdlet expanding from only resource mbx use to user mailbox usage as well?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-08-22 04:10] chairborne33 opened #3870 "Able to run this command from a workstation"
The documentation states "This cmdlet normally can be run on the affected Mailbox server only. An exception is that this cmdlet can be run on an administrator's workstation when using the ConfigurationOnly parameter with a value of $true." However, I was able to run the command and successfully move a mailbox database multiple times from the Exchange Management shell on my Windows 10 workstation.

[2019-08-22 11:49] yogkumgit commented on #3869
@officedocsbot assign @yogkumgit

[2019-08-22 11:49] yogkumgit commented on #3870
@officedocsbot assign @yogkumgit

[2019-08-22 11:53] yogkumgit commented on #3837
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @stephenc01 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-22 11:53] yogkumgit commented on #3837
@officedocsbot close

[2019-08-22 11:53] #3837 closed

[2019-08-22 11:58] yogkumgit commented on #3839
@chrisda Please merge the PR #3868

[2019-08-22 12:30] erossini opened #3871 "Set user status"
Hi,
I'm using **PowerShell** for a lot of thing. I found useful to have this for Microsoft Teams. Although, the most useful feature is to set the user status. I can't find this option in the version 1.0.1

Here I found a lot of functionalities but I think most of them are deprecated.
https://blogs.technet.microsoft.com/skypehybridguy/2017/11/07/microsoft-teams-powershell-support/

[2019-08-22 13:40] westerdaled opened #3872 "Get-SPOExternalUser : Could not load type 'Microsoft.SharePoint.Administration.CentralAssetRepository' from assembly"
Hi
First thing I did is download and install the latest latest SharePoint Online Managment Shell :
16.0.9119.1200

`
connect-SPOService -ul 'https://tenant-admin.sharepoint.com'

Get-SPOExternalUser -PageSize 3
`
![Get-SPOExternalUser error](https://user-images.githubusercontent.com/937208/63518976-05310200-c4ea-11e9-9d56-f1c58d9ae7d3.PNG)

I have tried rebooting but there is still an issue - oh a

[2019-08-22 14:44] advdberg opened #3873 "Sample #12 Connect-pnponline with access token url is not needed"
As far as I can see is that when connecting with an accesstoken, the URL isn't taken into account because the url is already included in the accesstoken itself. Providing a different URL still results in a connection to the root site, which in fact can cause terrible mistakes! Don't know if this is a bug in the cmdlet itself or should be explained over here.

---
#### Document Details

⚠ *Do not e

[2019-08-22 15:43] yogkumgit commented on #3700
@erwinvanhunen humbly request you please merge this PR and help us to resolve this issue.

[2019-08-22 15:44] get-itips commented on #3800
Hello @corbob finally, i am proposing thru a pull request, a change in the code of the hyphens, if it gets approved, it will be reflected. thank you

[2019-08-22 16:07] get-itips commented on #3847
Hello @repton-infinity thanks for that. Created a pull request to correct the article. thank you

[2019-08-22 16:11] get-itips commented on #3848
Hello @jcallaghan
How are you? I need to kindly redirect you to support services of your tenant, as this resource is specifically to report issues in documentation.
Thank you

[2019-08-22 16:21] get-itips commented on #3849
Hello, thanks for noticing this, created a pull request to fix this. thank you

[2019-08-22 16:24] yogkumgit commented on #3800
@kenwith Please merge the #3874

[2019-08-22 16:33] yogkumgit commented on #3847
@kenwith  Please merge the PR #3875

[2019-08-22 16:34] get-itips commented on #3855
Hello @cperson there is currently an open issue about this, here https://github.com/SharePoint/PnP-PowerShell/issues/2181 please follow up there

[2019-08-22 18:15] cperson commented on #3855
Thanks. I believe this is still valid, however, as this issue is geared specifically towards the inacurracy of the docs.

[2019-08-22 18:19] get-itips commented on #3855
I understand your point however the Docs reflect the desired behavior, and as the functionality is in the process of being fix, I do not see anything to change in the article.

I will add a message to that issue to get the attention of the PnP team, that, as you might know, it is maintained by the community.

[2019-08-22 22:44] cperson commented on #3855
I don't think it's ideal to close _this_ issue before _that_ issue is resolved. Leaving this issue open will hopefully prevent other users relying on the Docs from going down a rabbit hole.

"Hov did that so hopefully you won't have to go through that" - Jay-Z

[2019-08-23 00:20] ryanharnwell opened #3880 "New-ComplianceSearchAction won't work untill user has mailbox"
Logging into office.com as admin user I can perform search in Security and Compliance center -  and export messages.

Attempting the same via powershell using New-ComplianceSearchAction errors are returned:

Failed to get recipient 'xxx@yyy.onmicrosoft.com', Fault: IsComplete: False
EX:Organization Id is null for user xxx@yyy.onmicrosoft.com

Does the admin need a mailbox to execute New-Compliance

[2019-08-23 07:35] wobba commented on #3855
Hi,
I'll look at the examples and try to clean them up.

For app-only SharePoint access you need a certificate - that's just how it is.

You either need to point to a certificate path, a certificate thumbprint, or provide the values using the PEM values inline.

See https://github.com/SharePoint/PnP-PowerShell/tree/master/Samples/SharePoint.ConnectUsingAppPermissions for how to set up a certificat

[2019-08-23 08:28] wobba commented on #3855
@cperson I've updated the help docs with two new samples taken from the above linked documentation which will be updated for next release.

[2019-08-23 11:59] yogkumgit commented on #3871
@officedocsbot assign @yogkumgit

[2019-08-23 11:59] yogkumgit commented on #3872
@officedocsbot assign @yogkumgit

[2019-08-23 11:59] yogkumgit commented on #3873
@officedocsbot assign @yogkumgit

[2019-08-23 11:59] yogkumgit commented on #3880
@officedocsbot assign @yogkumgit

[2019-08-23 12:10] yogkumgit commented on #3800
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @corbob Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-23 12:11] yogkumgit commented on #3800
@officedocsbot close

[2019-08-23 12:11] #3800 closed

[2019-08-23 12:16] yogkumgit commented on #3848
@get-itips Thank you very much for the contribution and sharing this explanation. @jcallaghan
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution.
We will be very happy if you can share the outcome or resolution with us. We will certainly update this documentation with that valuab

[2019-08-23 12:17] yogkumgit commented on #3848
@officedocsbot close

[2019-08-23 12:17] #3848 closed

[2019-08-23 12:20] yogkumgit commented on #3849
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @vardhan1990 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-23 12:21] yogkumgit commented on #3849
@officedocsbot close

[2019-08-23 12:21] #3849 closed

[2019-08-23 12:44] yogkumgit commented on #3847
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @repton-infinity Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-23 12:44] yogkumgit commented on #3847
@officedocsbot close

[2019-08-23 12:44] #3847 closed

[2019-08-23 12:48] yogkumgit commented on #3842
@get-itips  Thank you very much for the contribution and sharing this explanation. @smadala
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-23 12:49] yogkumgit commented on #3842
@officedocsbot close

[2019-08-23 12:49] #3842 closed

[2019-08-23 12:55] yogkumgit commented on #3838
@get-itips  Thank you very much for the contribution.  @stephenc01 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valua

[2019-08-23 12:55] yogkumgit commented on #3838
@officedocsbot close

[2019-08-23 12:55] #3838 closed

[2019-08-23 13:46] yogkumgit commented on #3855
@wobba  Thank you very much for the contribution and sharing this explanation. @cperson
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-23 13:46] yogkumgit commented on #3855
@officedocsbot close

[2019-08-23 13:46] #3855 closed

[2019-08-23 14:51] rtoelhoej opened #3881 "Get-CsUserSession returns incorrect QoEReport data for AudioStreams -> JitterInterArrival, JitterInterArrivalMax, PacketLossRate and PacketLossRateMax"
Hi
The returned audio QoEReport data contains incorrect results for AudioStreams -> JitterInterArrival, JitterInterArrivalMax, PacketLossRate and PacketLossRateMax. (The values are the same for each StreamDirection, so 1 direction is missing it's data)

For example JitterInterArrivalMax is 282 ms for both StreamDirections.

![image](https://user-images.githubusercontent.com/8926536/63601288-6f6aa5

[2019-08-23 17:07] yogkumgit commented on #3881
@officedocsbot assign @yogkumgit

[2019-08-23 18:41] get-itips commented on #3856
Hello @FedeFigueredo
AFAIK you can't set the LockState property of the root tenant site collection.
Will propose adding a note to the article.
Thank you

[2019-08-23 19:08] Canis-Lupis opened #3884 "Broken Link"
Near the bottom, in Related Links, the link 'Online Version' links right back to this same page, it doesn't not go to the Online Version as named.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01a54a6b-1ef9-2809-c90f-a56defdba194
* Version Independent ID: 8d822e69-212a-9c8d-d6db-4f7ba1e7707d
* Content: [Add-ADPermissi

[2019-08-23 19:12] get-itips commented on #3863
Hello @zaicnupagadi thanks for your feedback.
Updating the search results is an expected outcome if the search is older than 7 days:

[Source ](https://docs.microsoft.com/en-us/office365/securitycompliance/export-search-results)

In this case, the -Force parameter will not help.

Hope this info helps you.

[2019-08-24 01:03] get-itips commented on #3864
Hello @tomkau
Can you please confirm us if _EnableReliableConferenceDeletion_ is available in the Online version? Tried to use it in the Online version but couldn't.
Thank you

[2019-08-24 12:18] get-itips commented on #3866
Hello @Amysno
Thanks for your feedback.
I see that you ran Get-SPOScriptFromList, but the cmdlet you opened the issue for is Get-SPO**Site**ScriptFromList

I could verify that, that cmdlet, is present in the mentioned version of the module.
![image](https://user-images.githubusercontent.com/36666927/63637189-1d229600-c650-11e9-9cb2-7e5b4cd9d786.png)

Hope this information helps you.

[2019-08-26 00:34] paylord commented on #3168
@yogkumgit  While it seems logical that this should be able to be set by a SharePoint Admin, does it not need a tenant admin to connect to Connect-SPOService?  Is there another way to do this or should this just be documented as tenant admin?

[2019-08-26 07:51] CaisnCon opened #3885 "-Force"
Would love to have a -Force param to help Orphaned sites where the group have been deleted but the SharePoint site remains, due to retention. This current method will fail as the site type/template is #Group and thus it will not try to reconnect it to a Group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 901772a6-b15b

[2019-08-26 07:53] CaisnCon opened #3886 "-Force"
Would love to have a -Force param to help Orphaned sites where the group have been deleted but the SharePoint site remains, due to retention. This current method will fail as the site type/template is #Group and thus it will not try to reconnect it to a Group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f97f530-5982

[2019-08-26 07:53] CaisnCon commented on #3885
Sorry was Set-SPOSiteOffice365Group method

[2019-08-26 11:29] yogkumgit commented on #3884
@officedocsbot assign @yogkumgit

[2019-08-26 11:31] yogkumgit commented on #3886
@officedocsbot assign @yogkumgit

[2019-08-26 11:31] yogkumgit commented on #3884
@officedocsbot assign @yogkumgit

[2019-08-26 11:32] yogkumgit commented on #3885
@CaisnCon I am closing it and Considering the correct one #3886

[2019-08-26 11:32] yogkumgit commented on #3885
@officedocsbot close

[2019-08-26 11:32] #3885 closed

[2019-08-26 12:11] yogkumgit commented on #3866
@get-itips  Thank you very much for the contribution and sharing this explanation. @Amysno
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-26 12:12] yogkumgit commented on #3866
@officedocsbot close

[2019-08-26 12:12] #3866 closed

[2019-08-26 13:44] ReneOudeNijeweme opened #3887 "Get-DlpDetailReport"
using parameters like:
Get-DlpDetailReport -StartDate (get-date).adddays(-1) -EndDate (get-date).AddDays(+1) -DlpCompliancePolicy "DLPname" -EventType DLPPolicyHits -PageSize 5000 |select-object date,actor,title,DlpComplianceRule,eventtype,SensitiveInformationType,SensitiveInformationCount,location
does deliver the keyword hit from dictionaries as hex code (of the root dictionary of the tenant) wh

[2019-08-26 14:40] yogkumgit commented on #3887
@officedocsbot assign @yogkumgit

[2019-08-26 14:53] yogkumgit commented on #3856
@trent-green Please merge the PR #3883

[2019-08-26 18:46] sulobr opened #3890 "edit supported values for -linktype"
As per discussion with Engineering team, linktype "Eventsubscribers" is not supported. It is only supported in DCOps. Can we please update this article to remove "Eventsubscribers" as possible option for -Linktype parameter in Add-UnifiedGroupLinks cmdlet? This was verified under VSO escalation 1202753.

https://docs.microsoft.com/en-us/powershell/module/exchange/users-and-groups/add-unifiedgroupl

[2019-08-26 20:41] westerdaled commented on #3872
Thanks for getting back to me .  Can you confirm you tried to reproduce the scenario I showed above both a first release and a UK based live tenant? I am not so sure support can help here given the module loads in a PS 5.3 shell  and I can connect to the tenant admin url .

[2019-08-27 09:38] ryanharnwell commented on #3880
Yes, I can reproduce on multiple tenants.

Admin user, with the correct role and no mailbox gives the error:

Failed to get recipient 'xxx@yyy.onmicrosoft.com', Fault: IsComplete: False
EX:Organization Id is null for user xxx@yyy.onmicrosoft.com

Assigned an exchange online plan 1 license to the admin user, and then it works without error.

[2019-08-27 10:53] Didierma92 opened #3892 "URL sample is wrong"
you should add  -admin after the name of your tenant prefix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85cea8f8-239d-1f73-f13a-a5a3148b66e5
* Version Independent ID: ca809b64-206c-4dfa-7c79-b0a45979e953
* Content: [Connect-SPOService (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint

[2019-08-27 10:54] yogkumgit commented on #3890
@officedocsbot assign @yogkumgit

[2019-08-27 10:55] yogkumgit commented on #3892
@officedocsbot assign @yogkumgit

[2019-08-27 11:28] yogkumgit commented on #3189
@chrisda Please merge this PR #3891

[2019-08-27 11:34] yogkumgit commented on #3834
@chrisda Please merge this PR #3888

[2019-08-27 11:54] yogkumgit commented on #3871
@erossini  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-08-27 11:54] #3871 closed

[2019-08-27 12:02] yogkumgit commented on #3873
@get-itips  Thank you very much for the contribution and sharing this explanation. @advdberg
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-27 12:02] #3873 closed

[2019-08-27 12:06] yogkumgit commented on #3832
@KjetilEVRY  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2019-08-27 12:06] #3832 closed

[2019-08-27 12:14] #3515 closed

[2019-08-27 12:17] yogkumgit commented on #3802
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @stwils Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-27 12:17] #3802 closed

[2019-08-27 12:20] yogkumgit commented on #3863
@get-itips  Thank you very much for the contribution and sharing this explanation. @zaicnupagadi
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-27 12:20] #3863 closed

[2019-08-27 12:34] yogkumgit commented on #3856
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @FedeFigueredo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-27 12:38] yogkumgit commented on #3839
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @austinmccollum Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-27 12:38] #3839 closed

[2019-08-27 13:09] westerdaled commented on #3872
Hi @get-itips  ,  Now raised a support request on this . Thanks for the advice.

[2019-08-27 13:41] boaz-w opened #3893 "Wildcard accepted in -RecipientAddress"
Wildcards seem to be accepted for the RecipientAddress parameter unlike stated in the documentation.
For example, Start-HistoricalSearch -RecipientAddress "*@gmail.com" works as expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38a22164-2df5-5dc2-9292-df60df018a53
* Version Independent ID: 1d96478c-230b-889e-68e

[2019-08-27 13:48] joshrpg opened #3894 "Examples are missing"
There aren't any examples. Not sure why #3433 was closed as they stated the same thing and yet it was closed and still no examples...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd72bd68-7de2-8ecd-04e8-8088be1cfbab
* Version Independent ID: 9f1b3291-29b7-a931-ea12-f8ac2db94afe
* Content: [Set-ProtectionAlert (exchan

[2019-08-27 14:47] #3872 closed

[2019-08-27 15:24] yogkumgit commented on #3894
@officedocsbot assign @yogkumgit

[2019-08-27 15:24] yogkumgit commented on #3893
@officedocsbot assign @yogkumgit

[2019-08-27 16:20] Niegrozny opened #3895 "Sample #17 error on-premises sharepoint 2019"
When I'm passing correct parameters I get en error:

Connect-PnPOnline : Exception has been thrown by the target of an invocation.
At line:1 char:1
+ Connect-PnPOnline -Url 'https://mysharepoint.com' -ClientId 'xxxxxxxx ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Connect-PnPOnline], TargetInvocationException
    + Ful

[2019-08-27 17:08] yogkumgit commented on #3895
@officedocsbot assign @yogkumgit

[2019-08-27 18:50] Jeighsen opened #3897 "Device Look up"
I have the name of a device that connected through activesync.  I'm trying to find the username on the domain that is connected to that specific device.  Get-ActiveSyncDeviceClass | group-object  shows me the device.  Is there a way that i can get information of the device and what exchange account is connected through that device?

[2019-08-27 20:14] esjimenezp opened #3898 "ResourceQuota is obsolete"
The command of **New-SPOSite** on the parameter of **-ResourceQuota** is obsolete, when try to execute the command the SharePoint Online Management Shell is say that message, best regards.
![ResourceQuota](https://user-images.githubusercontent.com/20950893/63804705-5de30f00-c8dd-11e9-9c1b-1176f7ff51d3.PNG)

[2019-08-28 11:43] yogkumgit commented on #3897
@officedocsbot assign @yogkumgit

[2019-08-28 11:44] yogkumgit commented on #3898
@officedocsbot assign @yogkumgit

[2019-08-28 11:58] yogkumgit commented on #3834
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @mayurnjoshi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-28 12:09] yogkumgit commented on #3189
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @zaicnupagadi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-28 12:09] #3189 closed

[2019-08-28 12:13] yogkumgit commented on #3851
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @homerggg Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-28 12:13] #3851 closed

[2019-08-28 12:21] yogkumgit commented on #2906
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @TheBluLion Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-28 12:21] #2906 closed

[2019-08-28 12:35] patstenl opened #3900 "Remove-UMDialplan fails with error "There are UM users who are associated by...""
When trying to remove a UMDialplan ti fails with error "There are UM users who are associated by their UM mailbox policy with the dial plan."

Removed all users from UM with following commands:
Disable-UMMailbox -Identity email
Set-csUser account -HostedVoicemail $false
Grant-CSHostedVoicemailPolicy -identity account -PolicyName ""

Checked if still mailboxes are related to UMDiaplan with:
Get-UMM

[2019-08-28 12:40] yogkumgit commented on #3900
@officedocsbot assign @yogkumgit

[2019-08-28 13:23] Amysno opened #3901 "New-PnPSite parameters are not found"
Hello,
I have updated my PowerShell PnP module with Update-Module SharePointPnPPowerShell*.
So, normally, it should run New-PnpSite with -Title and -Url parameters.
Except, when I type those in my PowerShell Console, i have nothing shown.

This came to my attention after I got the so-documented following error :
[code]
here is my full line for creating a site :
`New-PnPSite -Title $listItem["Title

[2019-08-28 14:10] baardhermansen opened #3902 "Need to fill out description for Properties"
Under -Properties, the current text is "{{Fill Properties Description}}".
So someone needs to fill in some text for the description :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b640892-b0a1-4f20-1e25-fe5f0e97f5b6
* Version Independent ID: 51774b36-90fa-1d9a-5800-1a54d9f70590
* Content: [Get-Mailbox (exchange)](ht

[2019-08-28 14:52] yogkumgit commented on #3901
@officedocsbot assign @yogkumgit

[2019-08-28 14:53] yogkumgit commented on #3902
@officedocsbot assign @yogkumgit

[2019-08-28 14:58] Zkallai opened #3903 "Powershell Command doesn't Exist"
This command doesn't exist in the latest alpha version (1.0.6-alpha) of the staffhub powershell commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76078a4c-168c-7b8e-8e41-550dcd65b56d
* Version Independent ID: bc1090a1-7b6c-9b2b-1306-5153aace61d6
* Content: [Get-StaffHubShifts (staffhub)](https://docs.microsoft.c

[2019-08-28 21:19] mayurnjoshi commented on #3834
Can I also ask what would be a mechanism to make this work should we need to import a new keyword dictionary that has a lot of keywords? For instance, in our case, we have 13000 keywords for detecting ICD 10 identifiers in Spanish.

[2019-08-29 07:43] rezabj opened #3905 "Add-TeamUser ignore ErrorAction SilentlyContinue"
`Add-TeamUser -GroupId $_[0] -User $User.UserPrincipalName -Role Member -ErrorAction SilentlyContinue`
[code]

[2019-08-29 10:42] Skempf94 opened #3906 "Are all of the commands on this article live?"
'-EnableFileTransfer' doesn't seem like it is live at the moment, we have attempted to run it, but receive the following error:
"You are not permitted to invoke Set-CsExternalUserCommunicationPolicy with the following parameters: EnableFileTransfer"
Please can we have some clarification on the status of the commands that are currently available? Specifically the EnableFileTransfer command.

---
##

[2019-08-29 11:10] yogkumgit commented on #3903
@officedocsbot assign @yogkumgit

[2019-08-29 11:10] yogkumgit commented on #3905
@officedocsbot assign @yogkumgit

[2019-08-29 11:10] yogkumgit commented on #3906
@officedocsbot assign @yogkumgit

[2019-08-29 11:40] get-itips commented on #3834
Hello @mayurnjoshi how are you? I need to kindly suggest to ask support services of your tenant, as we are limited to address issues currently in documentation. Thank you

[2019-08-29 11:44] yogkumgit commented on #3890
@chrisda  Please merge this PR #3904

[2019-08-29 11:55] get-itips commented on #3887
Hello @ReneOudeNijeweme
Thanks for your feedback. I could not fully understand your post sorry, is there any documentation article you see that need a fix?

[2019-08-29 12:46] get-itips commented on #3894
Hello @joshrpg thanks for your feedback, I created a pull request to add some examples.
Thank you

[2019-08-29 12:56] get-itips commented on #3893
Hello @boaz-w thanks for your feedback. I created a pull request to improve the article. Thank you

[2019-08-29 13:25] mayurnjoshi commented on #3834
Fair enough, thanks for your response.

[2019-08-29 13:25] #3834 closed

[2019-08-29 14:54] yogkumgit commented on #3620
@2ndcahl internal team has confirmed that work item is created and added in the backlog. It will be taken up as per the internal schedule. Documentation will be updated by internal team, once work item is tested and closed. I am proceeding here to close this issue as no further action is required at this moment.
Thanks again for taking out some time to open the issue. Appreciate and encourage you

[2019-08-29 15:04] yogkumgit commented on #3894
@chrisda please merge this PR #3907

[2019-08-29 17:12] yogkumgit commented on #3893
@chrisda Please merge the PR #3908

[2019-08-29 17:30] DeanGross opened #3909 "What type of label is this?"
does this get a sensitivity label, retention label or some other kind of label?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cadf6ff7-00ea-ae7b-7f71-df17fbea55ab
* Version Independent ID: 94d968d2-1605-b79e-c1d2-f23c7702e9ec
* Content: [Get-PnPLabel (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/module

[2019-08-29 19:58] sir-wally opened #3910 "unable to enable basic auth"
&gt; winrm set winrm/config/client/auth @{Basic="true"}
Error: Invalid use of command line. Type "winrm -?" for help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34fa66b0d268
* Content: [Connect to Exchange Online PowerShell using

[2019-08-29 20:07] #3910 closed

[2019-08-29 20:49] get-itips commented on #3570
Hello @webash

After an internal conversation, I could get this information, _Get-CsHuntGroup has been migrated all the existing HuntGroups to new Modern Portal, Teams admin center, which also brings new set of cmdlets. So the users should be using Get-CsCallQueue. The old cmdlets are deprecated and will be removed at some point._

Hope this information helps you

[2019-08-29 20:52] tomkau commented on #3631
Hi @dariomws306.  here is the information I received from the team regarding BypassMode

Values are "None", "Always" and "OnlyForLocalUsers". By setting "Always" mode you indicate that your network is fully routable. If a user usually in site "Seattle", travels to site "Tallinn" and tries to use SBC located in Seattle we will try to deliver the traffic to Seattle assuming that there is connection

[2019-08-29 20:54] tomkau commented on #3745
Hello @get-itips-- I reviewed the code and can confirm that 100 is the default value for the -First parameter if not specified

[2019-08-29 20:56] get-itips commented on #3745
Thanks @tomkau will create a pull request to reflect this. Thank you

[2019-08-29 21:25] tomkau commented on #3864
Hi @get-itips, the parameter does not apply to Online.  The documentation is not consistent.  It has the correct information early in the doc:

_The following parameters are not applicable to Skype for Business Online: ApplicationSharingMode, AsJob, AudioBitRateKb, Description, EnableMultiViewJoin, EnableOnlineMeetingPromptForLyncResources, **EnableReliableConferenceDeletion**, FileTransferBitRate

[2019-08-29 21:30] get-itips commented on #3864
Hello @tomkau thanks for the info, created a pull request to correct the article.

[2019-08-29 21:58] dariomws306 commented on #3869
Hi @MSg1thub, thank you for your feedback.

You can see this in the article: "Note that this cmdlet is effective only on resource mailboxes".

So, you should use it only on resource mailboxes, but some parameters would work with mailboxes. See this image:

![image](https://user-images.githubusercontent.com/33589238/63979321-f1a80d00-ca8e-11e9-83ac-ed303464e7bf.png)

[2019-08-29 22:02] tomkau commented on #3796
Hello @get-itips, your investigation is correct.  Import is part of second-gen, while New is first gen.  The first gen cmdlets will be removed in the near future

[2019-08-30 06:22] Petri-X commented on #3864
Big thanks @get-itips and @tomkau, but is there possible to get the clarification for that also? How to use it and what are the expected results? I understood it should impact how the meetings are stored after the expired time has been reached, but at least by my own experience it seems to have no impact to that.

[2019-08-30 06:25] taisino opened #3915 "Maximum hub sites are 2000"
Maximum number of hub sites is raised to 2000 recently, so please update this document.
https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=51933

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 114697af-1b15-2582-49af-7ae2a8fe1cb0
* Version Independent ID: 6ed31c1e-1706-318b-5030-0e74dd9e875e
* Co

[2019-08-30 06:43] tomtau commented on #3864
@tomkau could you possibly fix your GitHub issue reporting https://github.com/MicrosoftDocs/office-docs-powershell/issues/3864#issue-483395047 so that your login appears in the issue details instead of mine? I've been pinged about many issues in this repository even though I have nothing to do with them (I think! :))

[2019-08-30 08:50] RossMcLean77 opened #3916 "Example 3 Syntax"
Should the identity not be enclosed in double quotes as follows:
Get-PnPUser -Identity "i:0#.f|membership|user@tenant.onmicrosoft.com"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57ec7ac7-3858-172e-ec9c-ab7c948ae2cf
* Version Independent ID: 3a171d0d-f00d-36fd-44c3-c6bb08222b14
* Content: [Get-PnPUser (sharepoint-pn

[2019-08-30 11:50] yogkumgit commented on #3909
@officedocsbot assign @yogkumgit

[2019-08-30 11:50] yogkumgit commented on #3915
@officedocsbot assign @yogkumgit

[2019-08-30 11:50] yogkumgit commented on #3916
@officedocsbot assign @yogkumgit

[2019-08-30 12:01] yogkumgit commented on #3570
@get-itips  Thank you very much for the contribution and sharing this explanation. @webash
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-30 12:01] #3570 closed

[2019-08-30 12:05] yogkumgit commented on #3631
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @waelschakaki Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-30 12:05] #3631 closed

[2019-08-30 12:13] yogkumgit commented on #3745
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @bilginbaldji Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-30 12:13] #3745 closed

[2019-08-30 12:14] Petri-X commented on #3864
Btw, will you fix the document for **New-CsConferencingPolicy** around this, or does it really requires a separate bug report ? As there is a same problem.

[2019-08-30 12:20] yogkumgit commented on #3869
@dariomws306  Thank you very much for the contribution and sharing this explanation. @MSg1thub
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-30 12:21] #3869 closed

[2019-08-30 12:23] yogkumgit commented on #3796
@get-itips  and @tomkau  Thank you very much for the contribution and sharing this explanation. @oradcliffe Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-08-30 12:23] #3796 closed

[2019-08-30 15:10] dariomws306 commented on #3857
Hi @alphacentrino, thank you for your feedback.

Could you send me some screenshots? What happen when you run "Get-Mailbox -Filter {ArchiveGuid -ne $null -and ArchiveDomain -ne $null} -ResultSize Unlimited"?

Are you running this on Exchange 2016/19?

[2019-08-30 15:46] get-itips commented on #3864
I will fix that, sorry

[2019-08-30 15:47] get-itips commented on #3864
I'll review it myself. Thanks

[2019-08-30 19:41] dariomws306 commented on #3905
@rezabj Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the outcom

[2019-08-30 21:40] dariomws306 commented on #3900
@patstenl Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the outc

[2019-08-30 21:45] dariomws306 commented on #3897
Hi @Jeighsen, thank you for your feedback.

Did you try with Get-MobileDevice?

Please, for this kind of questions open a support ticket or go to https://techcommunity.microsoft.com.

Docs.microsoft.com feedback is available to help us to improve/fix documentacion.

Thank you again!

[2019-08-30 21:47] dariomws306 commented on #3881
@rtoelhoej Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the out

[2019-09-02 00:48] LucasHunold opened #3923 "Invalid use of command line. Type "winrm -?" for help."
While trying to set:
winrm set winrm/config/client/auth @{Basic="true"}

i get:
Error: Invalid use of command line. Type "winrm -?" for help.

[2019-09-02 01:22] LucasHunold commented on #3923
Further investigation resulted in a usable error message, basically stating that it's blocked by a GPO. Also apperently not PowerShell specific?

[2019-09-02 01:22] #3923 closed

[2019-09-02 07:34] MrTantum opened #3924 "-DisabledWebpartIds <Guid> Parameter does not exist"
The parameter `-DisabledWebpartIds` does not exist for `Set-SPOSite`.

We have already been wondering why this endpoint is not mentioned in the [CSOM Update from last year](https://developer.microsoft.com/en-us/outlook/blogs/new-sharepoint-csom-version-released-for-sharepoint-online-august-2018/) because this only contained the Tenant endpoint for DisabledWebpartIds.

---
#### Document Details

⚠

[2019-09-02 09:34] rtoelhoej commented on #3881
Thanks have opened a service ticket, will share the outcome when I get some feedback.

[2019-09-02 12:02] yogkumgit commented on #3924
@officedocsbot assign @yogkumgit

[2019-09-02 12:15] yogkumgit commented on #3881
@dariomws306  Thank you very much for the contribution and digging deep into it. @rtoelhoej
If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Please keep contributing with your suggestions to improve the documentation.

[2019-09-02 12:15] #3881 closed

[2019-09-02 12:18] yogkumgit commented on #3897
@dariomws306  Thank you very much for the contribution and sharing this explanation. @Jeighsen
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-09-02 12:18] #3897 closed

[2019-09-02 12:24] yogkumgit commented on #3900
@dariomws306 Thank you very much for the contribution and digging deep into it. @patstenl
If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Please keep contributing with your suggestions to improve the documentation.

[2019-09-02 12:24] #3900 closed

[2019-09-02 12:26] yogkumgit commented on #3902
@chrisda  Please merge this PR #3921

[2019-09-02 12:27] yogkumgit commented on #3905
@dariomws306 Thank you very much for the contribution and digging deep into it. @rezabj
If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Please keep contributing with your suggestions to improve the documentation.

[2019-09-02 12:27] #3905 closed

[2019-09-02 12:34] yogkumgit commented on #3852
@dariomws306 Thank you very much for the contribution and digging deep into it. @evandimsby
If you see a documentation update is required, please feel free to open an issue for the same. Please keep contributing with your suggestions to improve the documentation.

[2019-09-02 12:34] #3852 closed

[2019-09-02 12:55] yogkumgit commented on #3864
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Petri-X Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-09-02 13:02] Petri-X commented on #3864
Hi @yogkumgit and @get-itips,
Great helps to fix the New- and Set-  :D

But there was another hope than only fixing the "**Applies to**" section. It is also missing the clarification/description. How to use it and what are the expected results? I understood it should impact how the meetings are stored after the expired time has been reached, but at least by my own experience it seems to have no im

[2019-09-02 14:38] get-itips commented on #3864
Hello @tomkau can you please give us more information about this parameter? so we can add a description to the article. Thank you

[2019-09-02 15:41] ziesemer commented on #921
See also: https://office365.uservoice.com/forums/264636-general/suggestions/32087050-persistent-exchange-online-powershell-module

[2019-09-02 17:27] get-itips commented on #3895
Hello @Niegrozny
Please, follow up here https://github.com/SharePoint/PnP-PowerShell/issues/2181 on issues in cmdlets.

[2019-09-02 17:40] get-itips commented on #3898
Hello @esjimenezp Thanks for your feedback! I created a pull request to improve the article based on it.
Thanks again

[2019-09-02 18:06] Canis-Lupis opened #3926 "Broken Link"
I posted this issue before but it was closed without resolution.  At the bottom of the page, under Related Links, there is a link called "Online Version."  I assume this link is supposed to point to the O365 version of Add-ADPermission but it doesn't--it just reloads this same page.

The response to my initial post was:
@Canis-Lupis, that link is used in command line help, i.e., 'Get-Help Add-AdPe

[2019-09-02 18:28] get-itips commented on #3901
Hello @Amysno
Thanks for your feedback.
This issue system is specifically to address issues currently in documentation, besides that, I tested New-PnpSite with latest version the same way you are using it and I could not reproduce the error, so I could not identify any documentation update.
I see that you are using it inside an script, did you try to use it outside the script? did it work?
I would