[2018-12-13 00:15] #1566 closed

[2018-12-13 04:36] Techwriter40 commented on #1832
to my knowledge this can not be done.

[2018-12-13 04:36] #1832 closed

[2018-12-13 13:34] rg54 opened #2272 "error on performanceLevel parameter"
Hello,

It seems to have an error concerning "PerformanceLevel" parameter, because according to this page, "Reduced" and "Maximum" modes have the same number of threads ("Total number of threads = number of processors" in the 2 cases), which is illogical.

This other article give other values :
https://blogs.msdn.microsoft.com/sambetts/2013/11/05/changing-indexer-performance-setting-in-sharepoint-

[2018-12-13 13:49] get-itips commented on #1120
@nsshommo Thanks for your feedback, does the definition on the _Description_ section of the article

is what you are looking for?

[2018-12-13 15:45] tomgold182 opened #2273 "Importing only certain command and not all of the cmdlets"
Hi all , when I am performing
[code]
I am getting all 713 cmdlets of the exchange mgmt server.
What should I to if i want to import only 1 or 2 cmdlets?

[2018-12-13 16:16] michevnew opened #2274 "SubscriptionEnabled parameter"
The New-UnifiedGroup cmdlet help mentions that the SubscriptionEnabled must be used when setting the AutoSubscribeNewMembers parameter, yet no reference for this parameter in the current article. Can you please unify the text across articles, whichever one is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd7d

[2018-12-13 16:43] kenwith commented on #1120
@get-itips - yes that is great! I think this one can be closed out. If you see any issues by @nsshommo then those are ones he brought forward from the old TechNet system. He is on our team in the Teams channel now too. :) So for these he opened he wasn't the one that originally submitted it.. it was submitted anonymously to the old TechNet system before we moved everything to open source on GitHub

[2018-12-13 16:56] get-itips commented on #1120
Great! Thank you.

[2018-12-13 17:43] nattomatto opened #2276 "Set-PnPDefaultColumnValues - Multiple Fields, Same Folder"
In looking at the client_LocationBasedDefaults.html, for a manually set folder, the defaults are set as multiple DefaultValues in the same folder e.g.:
`<a href="/sites/appdev/nfmt/Two%20Default%20Spike/Manual%20Entry"><DefaultValue FieldName="Column1">Manual Column1 Value</DefaultValue><DefaultValue FieldName="Column2">Manual Column2 Value</DefaultValue></a>`

However, using the Set-PnPDefaultCol

[2018-12-13 18:33] AndreaBarr commented on #1120
@kenwith Okay I closed it in the backlog.

[2018-12-13 21:06] jeffabreunig commented on #1671
Any update on bringing MFA to this solution? I would like to be able to manage my clients' tenants in PowerShell with the delegated permissions without having to remove MFA... With Microsoft's pending implementation of a baseline protection policy to require MFA for admins, it seems a bit ridiculous that this wouldn't work...

https://docs.microsoft.com/en-us/azure/active-directory/conditional-acc

[2018-12-13 21:16] tseward commented on #2272
@AndreaBarr I put in a fix for this one.

[2018-12-13 21:20] tseward commented on #2264
@AndreaBarr I put in a fix for this as well.

[2018-12-13 21:31] AndreaBarr commented on #1671
@jeffabreunig No update here but you can check the user voice they post updates there.

There is a uservoice post on this exact topic: https://office365.uservoice.com/forums/264636-general/suggestions/20570782-allow-winrm-authentication-other-than-basic-when-c

[2018-12-13 21:56] ImNtReal commented on #2052
-DrainingTimeout says, "Draining timeout in minutes to gracefully drain MCUs." However, the format is specified as TimeSpan. Shouldn't this either be draining timeout in timespan, or a format of Integer?

[2018-12-14 04:07] PreventRage opened #2282 "This content is pretty lame."
It's for "getting" a big object full of information and it has no explanation of the content of that object nor a link to somewhere that does. The "Outputs" section is entirely boiler-plate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb7a7897-2dc8-48d1-ef9d-515cc285e175
* Version Independent ID: 70fcd483-a0e1-54c4-

[2018-12-14 09:23] Leif-Frederiksen opened #2283 "New-PnPSite -Url parameter"
I cannot get the -url parameter to work:
New-PnPSite : A parameter cannot be found that matches parameter name 'Url'. I have version 3.4.1812.2.

Using -alias is not good for me, since I want some sites to be created as https://tenant/sites/site name and others as https://tenant/teams/site name

I had hoped for -url in order to accomplish this dynamic setup. Any ideas on how to make it happen?

Re

[2018-12-14 11:18] scporse opened #2284 "Undo Grant-CsTeamsUpgradePolicy for a user"
I ran Grant-CsTeamsUpgradePolicy -PolicyName UpgradeToTeams -Identity &lt;myself&gt;
How do I undo this / revert my user to the global csteamsupgradepolicy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0dd44c-bfc9-5f82-68c4-7b469129e8a5
* Version Independent ID: ea015ee3-54e2-e402-d533-c8a9a15557e8
* Content: [Gran

[2018-12-14 11:19] henrycollet commented on #2283
The behaviour is inconsistent. For Communication sites use the -Url parameter with the full url ie. https://tenant.sharepoint.com/sites/contoso
For Team sites use the -Alias parameter i.e. contoso. The /sites/ or /teams/ url part is then defined by the policy as per the SharePoint Admin settings
Oh, and -SiteDesign doesn’t work for Team sites...

[2018-12-14 11:22] henrycollet commented on #2283
As a follow-up, Communication sites are always under /sites/; Team sites can be /sites/ or /teams/ dependant on policy. If you want some Teams sites as /sites/ and some as /teams/ you'd have to keep switching the policy.

[2018-12-14 22:54] chrisda commented on #2282
@PreventRage, we typically don't describe the output of a cmdlet (the exception is reporting cmdlets) because there are often unmodifiable properties in the output. Typically, you can get a reckoning of the interesting (modifiable) properties by the parameters on the corresponding New or Set cmdlets.

Regarding the Output section, that is boilerplate, because it links off to programmatically-gener

[2018-12-14 23:04] chrisda commented on #2273
@tomgold182 from the documentation for the [Import-PSSession](https://docs.microsoft.com/powershell/module/microsoft.powershell.utility/import-pssession) command, you can apparently specify the cmdlets you want using a variety of methods. So you run:

[code]

and then in the next command, you specify the cmdlets you want:

[code]

The $Session command just connects you to the server; the Import-PS

[2018-12-14 23:04] #2273 closed

[2018-12-17 10:52] HareBear opened #2304 "Get-ActiveSyncDeviceStatistics Error on example 3"
$UserList = Get-CASMailbox -Filter {HasActiveSyncDevicePartnership -eq $true -and -not DisplayName -like "CAS_{*"} | Get-Mailbox $UserList | foreach {Get-ActiveSyncDeviceStatistics -Mailbox $_}

Gives me
The input object cannot be bound to any parameters for the command either because the command does not take pipeline input or the input and its properties do not match any of the parameters that t

[2018-12-17 18:03] NicholasBurkhammer opened #2306 "Update examples"
Example 1 and Example 2 both have Set-CsAuthConfig followed by a parameter called -BlockWindowsAuthExternally or -BlockWindowsAuthExternallyAndModernAuthInternally.  These items are not parameters.  They are values for parameter -Scenario.  Both should be updated to have Set-CsAuthConfig -Scenario in front of the actual parameter value which should not have a hyphen in front of it.

Example:  Set-

[2018-12-17 19:43] kenwith commented on #2306
@NicholasBurkhammer - looks like @nenonix (Nicole) submitted a Pull Request to update this for you. Just a note though that you can also update articles yourself. You can check the README on the main repo (https://github.com/MicrosoftDocs/office-docs-powershell) to see how to do it. This way you can fix articles right away instead of opening an issue for someone else to do it. I am happy to guide

[2018-12-17 19:43] #2306 closed

[2018-12-17 20:04] chrisda commented on #2304
@HareBear, the "|" before the Get-Mailbox command is a typo; it should be ";".

[2018-12-17 20:04] #2304 closed

[2018-12-18 08:06] fredericklin commented on #1555
@AndreaBarr I noticed Set-AzureADMSGroup -Title will eventually trigger an SPOSite title change.

Would you be able to indicate how quickly these changes should replicate?  I understand when you execute these sequentially that it does not guarantee FIFO.  Is there a process to ensure that if the title update is made out-of-order that the SPO site title will be eventually be consistent with the Uni

[2018-12-18 08:57] jimmywim opened #2338 "Handlers switch could do with link to the list of available handlers"
It'd be useful if there was a page that had the list of enum values for the -Handlers switch, with a brief description of what each handler will extract.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 451dc826-b072-5bcd-e98d-319ee82d73fe
* Version Independent ID: c0c6ad38-e86c-cd0c-ac01-033791404e25
* Content: [Get-PnP

[2018-12-18 13:44] danmyhre opened #2339 "Required process for usage"
It should be noted that this command does not work until you run "Enable-CsComputer" on the the SfB servers.  Changes are not applied until this is done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26656471-f4e4-3dbe-b915-5230400d7b7f
* Version Independent ID: 4dc006ee-6bf8-a929-94f7-499a5af1f7a1
* Content: [Set-CsA

[2018-12-18 17:11] NicholasBurkhammer opened #2340 "Update Description to include a note about requiring Enable-CsComputer to be run."
Add note (this is confirmed via RFC to PG) in Description section (https://docs.microsoft.com/en-us/powershell/module/skype/set-csauthconfig?view=skype-ps#description) stating:

"Note:  After changing the CsAuthConfig, you must run Enable-CsComputer on each Skype for Business Server machine in order for the changes to take effect."

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-12-18 17:34] AndreaBarr commented on #1555
@tseward Could you please investigate this issue?

[2018-12-18 17:57] fredericklin commented on #1555
@AndreaBarr @tsweard @kenwith Thanks! We have a few site collections that are still not being updated from a Set-AzureADMSGroup.  It's been about 18 hours so far.  We've tried running the cmdlet again with the same values with the intention to trigger replication but it is still not setting the SPOSite title.

This is important to us because we have an automated process in applying a naming policy

[2018-12-18 22:00] mirkub2 opened #2344 "Problem with switch OrganizationApp"
According to this https://stackoverflow.com/questions/53833013/new-app-powershell-command-fails-on-exchange-online-if-organizationapp-property

this command returns error:
New-App -OrganizationApp -Url https://ManifestfileUrl/Manifest.xml -ProvidedTo SpecificUsers -UserList "some.users"

I can contact you with ISV, who detected, that this problem appeared last days.

[2018-12-19 13:18] DeanGross opened #2346 "More examples on Get-PnPSite"
Please provide some examples of how to use the Includes parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 285bcd81-9af9-0d59-a080-30eb16f29b09
* Version Independent ID: 612198a1-9b84-18e7-d8bb-509eca30c8a1
* Content: [Get-PnPSite (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp

[2018-12-19 13:21] DeanGross opened #2347 "Purpose of Web Parameter"
Site collection admins are not relevant to Webs. What is the purpose of this parameter? please provide an example of its intended usage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8252d581-2d4f-5f0d-e1f2-263bdba1b035
* Version Independent ID: 71d56dd3-e308-b84f-76a7-b4c7e930d013
* Content: [Get-PnPSiteCollectionAdm

[2018-12-19 13:23] DeanGross opened #2348 "-NewURL description"
The description of the -NewURL param discusses changing the Language which does not seem correct. Please fix the description or the param name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2961cab8-c2d4-e90b-6d78-666a4dc16823
* Version Independent ID: d9e27a2c-8408-95ba-6d88-46e63fe878a1
* Content: [Set-PnPSite (shar

[2018-12-19 13:25] DeanGross opened #2349 "Disable Flows param"
What kind of flows does this disable? is it MS Flows or classic SP Workflows? What is the user experience when this param set? does it hide the Flows button on the ribbons, do they get an error or warning?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2961cab8-c2d4-e90b-6d78-666a4dc16823
* Version Independent ID: d9e2

[2018-12-19 16:13] NeighborGeek opened #2350 "Other way(s) to get the Connect-EXOPSSession module?"
Is the Connect-EXOPSession module available to install via other methods?  Or can we get a direct link to it that doesn't require going through the Exchange Online admin portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34fa66b0

[2018-12-19 17:39] chrisda commented on #2350
@NeighborGeek the module is only available in the Exchange admin center (EAC).

[2018-12-19 17:39] #2350 closed

[2018-12-20 01:24] jxs0900 opened #2353 "Where is the Skype module"
Please provide the information needed to find this module like a DIRECT link to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 406867d0-0233-4c2e-683a-6ecc2d4d1743
* Version Independent ID: 53e81f24-1e27-9c50-439b-7916e7d1045d
* Content: [SkypeForBusiness](https://docs.microsoft.com/en-us/powershell/module/skype/?v

[2018-12-20 04:20] jamesrhea commented on #2353
Hi @jxs0900. Are you looking for the instructions here? https://docs.microsoft.com/en-us/office365/enterprise/powershell/manage-skype-for-business-online-with-office-365-powershell

This includes a link to download the Skype for Business Online Connector module along with installation instructions.

[2018-12-20 13:55] get-itips commented on #2348
Hi Dean thanks for your contribution, I reviewed the code behind this cmdlet and it has the same comment on the NewURL param, so it seems that is the root of this issue https://github.com/SharePoint/PnP-PowerShell/blob/master/Commands/Site/SetSite.cs  I opened an issue there so when they correct the comment, we can fix on cmdlet doc https://github.com/SharePoint/PnP-PowerShell/issues/1810 @AndreaB

[2018-12-20 16:58] kenwith commented on #1555
@fredericklin - it definitely sounds like it could be a bug. The fastest way would be to open a support service request in your tenant and they can escalate it right away to get it resolved. Let's keep this issue open and then we will update the article as we work with support and product team to figure out what is going on. Would you be comfortable communicating here as support discusses with you

[2018-12-20 17:10] kenwith commented on #2353
@jamesrhea - Yes, I think that is exactly the link. @jxs0900 - thanks for pointing out this link is needed in the listing page. I did try to add it there but the skype.md file is unique in that it provides a Table of Contents (TOC). Now that we have had this on GitHub for a little while I will check again if we can add links to the overview page. I will report back here shortly after I check.

[2018-12-20 17:15] kenwith commented on #2353
@jamesrhea - I submitted a Pull Request here: https://github.com/MicrosoftDocs/office-docs-powershell/pull/2354   this will be a bit of a test so we will have to see if it works. Once the PR finishes it's checks, if there aren't errors, let's merge it and see how it looks then we can close this issue out.

It is a great point @jxs0900 submitted that this is needed for the listing page for each cmd

[2018-12-20 17:53] fredericklin commented on #1555
@kenwith  @tseward I suspect we won't pick this up until January due to holiday season.  Will definitely update here with discussions on progress.

[2018-12-20 18:20] kenwith commented on #2353
Ok, looks like it worked this time and no errors! Here is the link: https://docs.microsoft.com/en-us/powershell/module/skype/?view=skype-ps

Let me know if you spot any issues and we can adjust. Thanks all!

PS - @jamesrhea - one note I remembered so I will post here.. if there are links to docs.microsoft.com articles you can remove the   en-us  from the link.. I did this in the PR.. that way when

[2018-12-20 18:20] #2353 closed

[2018-12-21 00:48] ebahsadmin opened #2358 "Only returning some Teams"
Any update on the backfilling of existing Teams? Running get-team only returns about half of our tenant teams/teams that the user is a member of

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8450991f-9f85-4d87-51b3-efa8e1004a24
* Version Independent ID: cb290aa5-ce28-10a4-f17c-cc5db6edc706
* Content: [Get-Team (teams)

[2018-12-21 15:07] phillkOCCM opened #2360 "can set mailbox autoresponse update mailboxes on cloud or prem?"
so we are in a situation where management has approved a process that frequently allows for users Out of Ofifce message to be updated. we utilize set-mailboxautoreplyconfiguration. To simplify the process, we are integrating it in automation & was wondering if this could be made to be mailbox location agnostic?

[2018-12-22 06:13] JaMcCarter opened #2363 "DefaultAuthenticationPolicy parameter missing"
The -DefaultAuthenticationPolicy parameter that is live in the Exchange Online CMDLET appears to be missing from this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e3ab3f0-cc05-e279-8876-6da0b323bcac
* Version Independent ID: bfb49814-d60b-564a-25cc-f902dfa42b10
* Content: [Set-OrganizationConfig (exchange)](htt

[2018-12-23 22:14] tseward commented on #1902
@SharePointBlackBelt Can you elaborate? `Get-Help` example format is a bit different than the normal help.

[2018-12-24 03:10] damianscoles opened #2366 "Example missing the group GUID"
Example 1 isn't a complete example.  The group listed in the description is not included in the command.  If a group is not specified, then this error is displayed "New-DeviceTenantRule : Missing an argument for parameter 'ExclusionList'. Specify a parameter of type 'System.Object' and try again."  The correct example would be something like this 'New-DeviceTenantRule -ExclusionList &lt;GUID of Gr

[2018-12-24 08:17] behrouzamiri opened #2367 "missing "Enable" and "Disable" words in the -Force parameter definition"
in the -Force parameter definition, there are typos. article says "In this case you have to disable feature first with -SPFeature"
obviously, this should be Disable-SPFeature instead of -SPFeature (the word disable is missing).
same thing with the enable part (Enable-SPFeature instead of -SPFeature).
also, "In this case you have to disable feature first with" is formated as PowerShell code instead

[2018-12-24 16:30] tseward commented on #2367
@AndreaBarr assign this to me.

[2018-12-25 18:02] NeeranjanShettar commented on #2104
Any updates here ? it's been long time no response. Thanks in advance.

[2018-12-25 18:06] NeeranjanShettar commented on #1610
@kenwith  - any updates here, it's been long time no updates/response here. thanks in advance.

[2018-12-25 18:09] NeeranjanShettar commented on #1920
Do we have any updates here, it's been long time there are no updates/response. thanks in advance

[2018-12-25 18:09] NeeranjanShettar commented on #1926
Do we have any updates here, it's been long time there are no updates/response. thanks in advance

[2018-12-25 18:09] NeeranjanShettar commented on #1927
Do we have any updates here, it's been long time there are no updates/response. thanks in advance

[2018-12-25 18:09] NeeranjanShettar commented on #1928
Do we have any updates here, it's been long time there are no updates/response. thanks in advance

[2018-12-25 18:10] NeeranjanShettar commented on #1929
Do we have any updates here, it's been long time there are no updates/response. thanks in advance

[2018-12-25 18:10] NeeranjanShettar commented on #1930
Do we have any updates here, it's been long time there are no updates/response. thanks in advance

[2018-12-25 18:10] NeeranjanShettar commented on #1931
Do we have any updates here, it's been long time there are no updates/response. thanks in advance

[2018-12-25 18:10] NeeranjanShettar commented on #1932
Do we have any updates here, it's been long time there are no updates/response. thanks in advance

[2018-12-25 18:10] NeeranjanShettar commented on #1933
Do we have any updates here, it's been long time there are no updates/response. thanks in advance

[2018-12-25 18:11] NeeranjanShettar commented on #1934
@AndreaBarr and @kenwith - Do we have any updates here, it's been long time there are no updates/response. thanks in advance

[2018-12-25 23:59] veronicageek opened #2371 "-QuickLaunch parameter on Get-PnPNavigationNode doesn't exist"
The parameter `-QuickLaunch` on the cmdlet `Get-PnPNavigationNode` **doesn't exist**, and therefore, should be removed from the examples section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6633c99f-3565-84cf-f11a-cd055df5885e
* Version Independent ID: 40ba47f1-40f3-b4c4-cc93-fa29841595c2
* Content: [Get-PnPNavigati

[2018-12-26 13:30] danmyhre opened #2372 "MailboxRegion"
MailboxRegion parameter is missing a description

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd7d69db-be49-179e-94ce-635337c98d07
* Version Independent ID: 9e372e66-5c7e-4d9a-56de-a35ae353fa09
* Content: [Set-UnifiedGroup (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange/users-and-groups/Set-Un

[2018-12-26 14:51] cjwolford commented on #2284
Will it let you set the policy with Grant-CsTeamsUpgradePolicy -PolicyName $Null and thus inherit the tenant setting?

[2018-12-26 18:05] AndreaBarr commented on #1610
@get-itips Could you please investigate this?

[2018-12-26 18:09] AndreaBarr commented on #1920
@cliffhobbs could you investigate this?

[2018-12-26 18:30] AndreaBarr commented on #1927
@get-itips Could you please investigate this?

[2018-12-26 18:31] AndreaBarr commented on #1928
@get-itips Could you please investigate this?

[2018-12-26 18:32] AndreaBarr commented on #1929
@get-itips Could you please investigate this?

[2018-12-26 18:33] AndreaBarr commented on #1930
@get-itips could you please investigate this?

[2018-12-26 18:34] AndreaBarr commented on #1931
@get-itips could you please investigate this?

[2018-12-26 18:35] AndreaBarr commented on #1932
@get-itips Could you please investigate this.

[2018-12-26 18:36] AndreaBarr commented on #1933
@get-itips Could you please investigate this?

[2018-12-26 18:46] AndreaBarr commented on #1934
@NeeranjanShettar  Ken had me contact Dave Howe who is out of the office until Jan. 2nd. We are going to be waiting on him to get back in the office to go further on this.

[2018-12-26 19:56] get-itips commented on #1928
Skype For Business 2019 has already been removed from the doc https://github.com/MicrosoftDocs/office-docs-powershell/commit/b0174cacde851ee7e032eeb891bc74693ece2a7d#diff-6355e6342fda7a72057106ac6b0af2b5 Thanks @AndreaBarr @NeeranjanShettar

[2018-12-26 19:58] get-itips commented on #1926
I'll look into this.

[2018-12-26 20:08] chrisda commented on #2363
@JaMcCarter, I added it.

Thanks for the feedback.

[2018-12-26 20:08] #2363 closed

[2018-12-26 20:18] chrisda commented on #2366
@damianscoles, I fixed it.

Thanks for the feedback.

[2018-12-26 20:18] #2366 closed

[2018-12-26 20:49] chrisda commented on #2360
@phillkOCCM, it doesn't appear so. The Set-MailboxAutoReplyConfiguration cmdlet requires the mailbox as an identifier.

[2018-12-26 20:49] #2360 closed

[2018-12-27 05:48] msilinda opened #2383 "Exchange Online PowerShell to apply Retention Tags to Personal Folders and subfolders"
Looking for PowerShell commands to apply Retention Tags to Personal Folders and all folders and email under a specific personal folder, for Exchange Online.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3665db68-7dd8-2e93-1797-505eb77a22ce
* Version Independent ID: 9cf5b8f2-a6aa-e79b-70e7-cfe5c1aee69c
* Content: [Get-R

[2018-12-28 09:12] adarshawasthi opened #2392 "Intermittent Issues while exporting from SharePoint 2013 term store"
While exporting the Global term store, this command is giving intermittent issues like sometimes it is not printing anything and sometimes only few term stores are getting exported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9187caf-5e67-8e30-1ede-aaa71c0a7b95
* Version Independent ID: 837a8373-78a5-b871-fee8-d3eb

[2018-12-28 14:45] merlin25 opened #2394 "PowerShell ISE"
Is there an option to use PowerShell ISE like Exchange Online?
Import-Module $((Get-ChildItem -Path $($env:LOCALAPPDATA + "\Apps\2.0") -Filter Microsoft.Exchange.Management.ExoPowershellModule.dll -Recurse).FullName | ?{ $_ -notmatch "none" } | select -First 1)
$EXOSession = New-ExoPSSession -UserPrincipalName $UPN
Import-PSSession $EXOSession -AllowClobber

---
#### Document Details

⚠ *Do not ed

[2018-12-28 17:20] #1927 closed

[2018-12-28 17:20] #1928 closed

[2018-12-28 17:20] #1929 closed

[2018-12-28 17:21] #1930 closed

[2018-12-28 17:21] #1931 closed

[2018-12-28 17:21] #1932 closed

[2018-12-28 17:22] #1933 closed

[2018-12-28 22:02] tseward commented on #2347
@DeanGross Looking at the code itself (https://github.com/SharePoint/PnP-PowerShell/blob/master/Commands/Site/GetSiteCollectionAdmin.cs), I think this is just due to inheriting from a base class, `PnPWeb` (https://github.com/SharePoint/PnP-PowerShell/blob/master/Commands/Base/PnPWebCmdlet.cs). You might consider raising it as an issue here: https://github.com/SharePoint/PnP-PowerShell/issues. This

[2018-12-31 11:17] intared opened #2398 "Add links to disclaimer text"
I'd like to add a link to our privacy policy in the -DisclaimerText parameter of Set-OMEConfiguration.

HTML does not work.

The default text includes a link, so it would seem possible.

The docs only cover plain text.

[2019-01-01 19:59] StefanGi opened #2399 "New-TeamChannel doesn't immediately create a corresponding directory in Sharepoint DocLib anymore"
Hello,

normally, when a new channel in a team is created, a folder with exactly the same name as the channel is also directly created in the document library of the team's Sharepoint site. When I add a channel manually in Teams itself, everything works correctly. 6 weeks ago, the same result could also be achieved with the command "New-TeamChannel" - right after the team channel was created, a fo

[2019-01-02 14:52] savusca opened #2400 "RateMyCallAllowCustomUserFeedback attribute"
RateMyCallAllowCustomUserFeedback cannot be changed for online hosted accounts:

PS C:\scripts> Set-CsClientPolicy -Identity global -RateMyCallAllowCustomUserFeedback $True
You are not permitted to invoke Set-CsClientPolicy with the following parameters:
 RateMyCallAllowCustomUserFeedback
    + CategoryInfo          : NotSpecified: (:) [Set-CsClientPolicy], ArgumentException
    + FullyQualifiedEr

[2019-01-02 17:52] chrisda commented on #2394
@merlin25, check this out: https://blogs.technet.microsoft.com/richardroddy/2018/04/04/using-powershell-ise-to-connect-to-exchange-online-when-mfa-is-enabled/:

[code]

If this works for you, please come back and close this issue. If it doesn't work, let's continue the discussion.

[2019-01-02 19:30] markjjo commented on #2383
@msilinda The short answer is no, it's not possible for an admin to auto-apply personal tags to personal folders in user mailboxes. Admins can use retention policies to apply the Default Policy tag (DPT) to any item in the mailbox and can use Retention Policy Tags (RPT) to apply  to default folders. Only users can apply personal tags to items/folders in their mailbox to: "Manually to items and fol

[2019-01-02 20:20] midiman369 commented on #2284
@cjwolford

Yes, this appears to work.

[2019-01-02 20:20] #2383 closed

[2019-01-03 05:33] rpodric commented on #2350
And:
http://aka.ms/exopspreview

[2019-01-03 05:46] rpodric opened #2404 "Cached PW?"
The first time I used this module and ran the "Connect-EXOPSSession..." line, I got the expected authentication window and logged in.  In subsequent uses of that line in the days that followed, I only saw the auth window flash by, and I assumed that the PW was cached somewhere. All was well, for a while.

About a month later now, and I'm being prompted every time, which is extremely annoying.  Wha

[2019-01-03 06:35] AndrewJCo opened #2405 "What unit of measurement does the returned property Size use?"
This page forces you to click and search through several other pages to try and figure out what gets returned in the Size field. Eventually I ended up at this page https://docs.microsoft.com/en-us/previous-versions/office/exchange-server-api/jj959067%28v%3dexchg.150%29 which tells me nothing.

Did I miss something or is the unit of measurement for Size not documented anywhere?

---
#### Document D

[2019-01-03 13:38] merlin25 commented on #2394
Got it working … Thanks

[2019-01-03 13:38] #2394 closed

[2019-01-03 20:36] stephenc01 opened #2406 "Blocked by Conditional Access"
When accessing via this method the source IP will be a Microsoft IP Address from the "Exchange Filtering" application in conditional access. If you have IP whitelist these will fail. You must use ADAL/MFA method to access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebcb7e5d-c0aa-f4f3-e6d5-914219d16dff
* Version Ind

[2019-01-04 00:31] dariomws306 commented on #1886
Hi @toxarisswe , thank you for your comment. Are you suggesting that all those information should be in the article?

If you run next command you can check all the policies and their settings in Excel:
Get-CsConferencingPolicy | Export-Csv out.csv

[2019-01-04 11:56] narulasrinivas opened #2408 "Set-SPOSite - Need CSOM Reference"
Hi folks....I'm able to stop page comments using `CommentsOnSitePagesDisabled` property in `Set-SPOSite` powershell command.

Please help me point to the same property (`CommentsOnSitePagesDisabled` ) in CSOM.

Anyhelp would be highly appreciated.

[2019-01-04 12:08] jackpoz opened #2409 "Space in username"
Example 1 has a space in the Identity parameter after the \ character, "Contoso \jdoe" instead of "Contoso\jdoe"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebf30b69-b6b3-2d23-e1c7-d156893319f0
* Version Independent ID: 3a5066e3-5b52-a5df-7356-80fa445a5ff1
* Content: [Remove-SPUser (sharepoint-server)](https://docs.

[2019-01-04 16:00] terrogin opened #2410 "Startdate and Enddate"
I'm confused - the article states "Although the cmdlet accepts date ranges older than 7 days, only information about the last 7 days are returned" but using the startdate and enddate parameters, I can pull data from over 30 days ago.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04f04d48-7267-e9e4-0b1c-efb99d571286
*

[2019-01-04 16:20] khorne3 commented on #2408
Hi @narulasrinivas. Is this close to what you are looking for?

[Powershell in SharePoint: Disable comments on modern pages in entire site using CSOM](https://social.technet.microsoft.com/wiki/contents/articles/52346.powershell-in-sharepoint-disable-comments-on-modern-pages-in-entire-site-using-csom.aspx)

[2019-01-04 17:16] chrisda commented on #2406
@stephenc01 is there a specific statement in the topic that needs to be added or corrected?

[2019-01-04 19:28] chrislehr opened #2413 "Allow/Block Domains and subdomain handling"
The domain allow/block needs additional details.  For instance, Wildcards are not accepted so *.microsoft.com cannot be added.  So if I add microsoft.com does that mean subs would automatically be included?  I see the -matchsubdomains is reserved.  What if a customer wanted to block spammer.com but allow crm.spammer.com?  If I populate those to allow/blocked domains correctly, would it work as I e

[2019-01-04 20:12] KRyan318 opened #2414 "Database Name in the Example"
The database name in Example 1 is 'State Service,' which is not an appropriate name for a database. Suggest changing Example 1 database name to 'StateSvcDB1' as stated in the "-Database" explanation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00b0f73a-d574-3473-6587-b7cf6f929abb
* Version Independent ID: eb32f3d4-9

[2019-01-04 20:31] Techwriter40 commented on #2409
change has been made and republished

[2019-01-04 20:31] #2409 closed

[2019-01-04 21:09] SharePointBlackBelt opened #2416 "Sortable"
In Central Admin, one of the options when creating a Managed Property is sortable, but there is no equivalent for PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efec0d67-d9c9-a290-1b60-54f66faee077
* Version Independent ID: 8b54b9cb-9231-9170-6130-794c175b2d7b
* Content: [New-SPEnterpriseSearchMetadataManag

[2019-01-04 21:13] SharePointBlackBelt opened #2417 "SafeForAnonymous Description"
Replace {{Fill SafeForAnonymous Description}} with"Enables this managed property to be returned for queries executed by anonymous users. Enable this setting for managed properties that do not contain sensitive information and are appropriate for anonymous users to view."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e

[2019-01-04 21:23] SharePointBlackBelt opened #2418 "Parameter 'VariantType'"
WARNING: Parameter 'VariantType' is obsolete.
WARNING: Obsolete parameter ignored: '-VariantType'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b73fae0-a1f9-352b-8347-4046832cd549
* Version Independent ID: bdd62bda-8704-aaed-c45c-6774fb4843c9
* Content: [New-SPEnterpriseSearchMetadataMapping (sharepoint-server)](htt

[2019-01-04 21:55] chrisda commented on #2232
@DougChandler, apparently this parameter isn't meant to be available to the general public. I've changed the description to say "reserved for internal Microsoft use". Sorry for the confusion.

[2019-01-04 21:55] #2232 closed

[2019-01-04 22:19] tseward commented on #2417
@AndreaBarr assign to me, please.

[2019-01-04 22:19] tseward commented on #2416
@AndreaBarr assign to me, please.

[2019-01-04 22:21] tseward commented on #2414
@AndreaBarr assign to me, please.

@KRyan318 why is this database name not appropriate? It is a valid name.

[2019-01-04 22:57] tseward commented on #2416
@SharePointBlackBelt You can run the following:

[code]

[2019-01-04 23:01] tseward commented on #2418
@AndreaBarr, assign to me, please.

[2019-01-05 02:15] stephenc01 commented on #2406
It should be added, with IP based conditions access rules this connection method is. Or supported.

[2019-01-05 02:49] robertcrew opened #2427 "Performance issue in Restore-PnPRecycleBinItem"
If the pipeline input is the List of RecycleBinItems returned by Get-PNPRecycleBinItems The performance of Restore-PNPRecycleBinItem can be greatly increased by skipping the call to Identity.GetRecycleBinItem(ClientContext.Site) at line 47.
In my own code, I've found that this:
  `Get-PnPRecycleBinItem | % {$_.Restore(); $Context.ExecuteQuery()}`
is 10 times faster than this:
  `Get-PnPRecycleBinI

[2019-01-07 08:30] donlassini opened #2437 "Incomplete and faulty documentation"
Some of the parameters, e.g. RateMyCallAllowCustomUserFeedback and RateMyCallDisplayPercentage lack a description.
Also, there are some fillers that have no content, e.g. {{Fill PublicationBatchDelay Description}} and {{Fill RequireContentPin Description}}.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34ae422f-ef71-4

[2019-01-07 10:45] narulasrinivas commented on #2408
Hey @khorne3  Thanks lot.

Can we use the `CommentsOnSitePagesDisabled ` as a propery bag value to update in CSOM or is there any other equivalent property for that?

[2019-01-07 14:21] SudDevPP opened #2439 "Add-TeamUser doesn't effect Team App"
Hi,

We are trying to add User (Guest User -  (cf. Other AAD external)) to a Team Group.
But when i run the cmdlets :
`Add-TeamUser -GroupId:"GROUPEID" -User:"USERID" -Role:Member`

we have no error and the change take effect on our Azure Active Directory (cf. the user was added to the AAD Group). But we doesn't see the Team on Teams App.

Other point the User was added on AAD Group (equivalent of

[2019-01-07 15:17] gmkeif opened #2440 "Exceptions for EO cmdlet help in powershell sessions"
Up until December last year, at least for us, Exchange Online Powershell cmdlet help was available using `Get-Help` in the shell. However, after the Christmas break, the only response we get is:
[code]
It's the same issue irrespective of the cmdlet. I know I'm not the only one suffering from this malady. When may we see the issue resolved in the shell instead of having to hunt and peck through the

[2019-01-07 17:41] chrisda commented on #2440
@gmkeif, I've been seeing this myself since June. It has something to do with Windows PowerShell. I highly encourage you to file a support case.

[2019-01-07 17:41] #2440 closed

[2019-01-07 22:22] tseward commented on #2408
You can use https://docs.microsoft.com/en-us/previous-versions/office/sharepoint-server/mt844966(v=office.15) via CSOM.

[2019-01-08 09:06] narulasrinivas commented on #2408
@tseward  - Thank you. I'll give a try.

[2019-01-08 15:22] nils-a opened #2444 "Get-PnPAvailableApp does not exist"
The examples 3 and 4 use the command `Get-PnPAvailableApp` - however it does not exist.
Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a35e307-24b0-6bd3-f60d-62a253bd973f
* Version Independent ID: 17b2e303-31bd-2ed9-48ca-2fc3c82e66bb
* Content: [Install-PnPApp (sharepoint-pnp)](https://docs.mic

[2019-01-08 15:32] tseward commented on #2414
@KRyan318 while DBAs may have issues with the naming, it is not an invalid database name. SharePoint handles spaces within database names.

DBAs, if they're the ones to manage the SQL Servers, should be providing guidance based on company policy for the SharePoint admin and/or pre-provisioning databases.

[2019-01-08 18:06] vladcatrinescu commented on #180
@kenwith Does the Get-SPOExternalUser now return users invited using Modern Sharing and accessing the site with a PIN instead of logging in witha Windows Account?  What version was this corrected in as I can't seem to be able to see the fix

[2019-01-08 18:14] vladcatrinescu commented on #180
Here is an image with the latest SPO module from the PowerShell Gallery that shows how the Get-SpoExternalUser does not return all external users in a SC.

![image](https://user-images.githubusercontent.com/16143190/50850266-5b7c7680-1347-11e9-84ab-a0156d235eab.png)

[2019-01-08 18:46] khorne3 commented on #2444
Hi @nils-a, `Get-PnPAvailableApp` should be `Get-PnPApp`. I'll update the docs.

[2019-01-08 23:45] #2444 closed

[2019-01-09 00:30] samyaktelsang opened #2447 "Publish-PnP doesn't add PnPApp onto site under -Scope Site"
**Reporting an Issue or Missing Feature**

Publishing an app onto the site app catalog doesn't make it available to the end user.
Getting a "Get It" button after using Publish-PnPApp -Identity <app-id from site> -Scope Site on a site collection appcatalog. Publish-PnPApp (default is -Scope tenant) works without problems.

**Expected behavior**

Publish-PnPApp -Scope Site should add the app onto th

[2019-01-09 07:02] XixiHuang333 commented on #1877
any update on this request?
Customer check the Direct Routing configuration and see that the Codecs options are still missing, yet the Microsoft documentation still refers to Codec Priority (-ExcludedCodecs and –CodecPriority).

[2019-01-09 08:33] RobinDijkstra commented on #2447
If the app already is already installed on the site collection, you have to use Update-PnpApp instead of Install-PnPApp.
Why do you add the app to the site collection appcatalog as well as the tenant appcatalog? When the app is added to the tenant appcatalog, you don't need the '-scope site' to install the app in the site collection.

[2019-01-09 08:51] ServerCare opened #2449 "-ConditionalCustomAttributeX"
really guys... identical text for -ConditionalCustomAttribute1 up to 15?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 439f74a1-badd-e304-55d8-1981f86c5440
* Version Independent ID: e51876c4-c39d-a1b6-4624-599eb8f823d8
* Content: [New-DynamicDistributionGroup (exchange)](https://docs.microsoft.com/en-us/powershell/mod

[2019-01-09 12:53] pierrecoach opened #2450 "Removing more than one file"
I came here to remove outdated files matching a pattern (testdata*.xlsx)
The examples are trivial and not enough
Let me suggest to add examples fitting a scenario, compbining commands, like
1) execute caml query to find
 outdated files (with a real date, not just 'your date here')
2) execute the remove on the CAML result

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-01-09 14:45] jjinatlanta opened #2451 "Get-StaffHubUsersForTenant not recognized"
I installed the version 1.0.2 of this module, and Get-StaffHubUsersForTenant command is not recognized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e18b11da-9130-95b5-0c59-5cac70621dba
* Version Independent ID: 34db617c-b231-e423-11fe-20bd9c3bb929
* Content: [Get-StaffHubUsersForTenant (staffhub)](https://docs.micro

[2019-01-09 19:12] AndreaBarr commented on #1877
@get-itips Could you please investigate this?

[2019-01-09 21:09] ServerCare commented on #2449
Hi Chris,

No, it seems to me the identical text with each item 1 through 15 is simply too much of a good thing. Since the use of each attribute is identical, the text should reflect this in a more concise manner.

[2019-01-09 21:30] chrisda commented on #2449
@ServerCare any suggestions? In the absence of other feedback, I would say something like "This parameter specifies additional information about the recipient that you can use for filtering or other custom identification requirements."

[2019-01-09 22:17] dariomws306 commented on #2134
Hi @savusca , Thank you for your helpful feedback. I am working to complete this description.

[2019-01-09 22:18] dariomws306 commented on #2133
Hi @savusca , Thank you for your helpful feedback. I am working to complete this description.

[2019-01-09 23:51] dariomws306 commented on #2340
@kenwith and @AndreaBarr  , we should close this.

[2019-01-09 23:53] #2340 closed

[2019-01-10 00:05] jayminpatel81 opened #2456 "Is ConnectorsEnabledForOutlook working?"

[2019-01-10 00:13] bruceredfern opened #2457 "No examples or parameter explanations"
There are only place saver parameter descriptions.  At least one example would help too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2417b89a-3510-d766-7433-90eba2c1fe44
* Version Independent ID: 70f8079c-9500-009c-d579-05f92f535a0c
* Content: [Get-CsOnlineApplicationEndpoint (skype)](https://docs.microsoft.com/en-u

[2019-01-10 07:32] ServerCare commented on #2449
I would leave the original text in place where -ConditionalCustomAttribute1 is discussed, and then refer to that text for the other ConditionalCustomAttribute's. for example:

 "Like ConditionalCustomAttribute1, this parameter specifies additional information about the recipient that you can use for filtering or other custom identification requirements."

Suggested minor changes for the original t

[2019-01-10 10:31] nenonix commented on #2450
Thank you for the suggestion and for contributing to better documents. I will consult with my team and get back to you about the issues you raise.

[2019-01-10 14:37] VesaJuvonen commented on #2408
Closing as an answered issue.

[2019-01-10 14:37] #2408 closed

[2019-01-10 19:37] khorne3 commented on #2456
Hi @jayminpatel81 - are you working with the cloud-based service? This isn't available with on-prem installations.

[2019-01-10 21:51] jayminpatel81 commented on #2456
It is working now. It works after few hours.

On Thu, Jan 10, 2019 at 11:37 AM K Horne <notifications@github.com> wrote:

--
Regards,
Jaymin Patel

[2019-01-11 15:15] get-itips commented on #1877
Yes. Sure. I will look into this.

[2019-01-11 20:40] KRyan318 commented on #2414
Great, thanks!

[2019-01-11 20:40] #2414 closed

[2019-01-11 23:00] schittli opened #2473 "it's a shame that this is called "Docs". But it's OK because it's M$"
Really, you call it docs?
You just ignore to doc ALL Properties.

Yes, this is a shame.
Yes, it's great that it's M$. In fact, it's exactly what we expect from M$.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3824c5-6b67-a548-314c-f97a7386e661
* Version Independent ID: 496d21c4-a547-3f32-644e-a3830149c181
* Content

[2019-01-13 21:08] siliconWOLF opened #2476 "What-If actually performed the operation."
Used -WhatIf to test.
When submitted without the -WhatIf found that the operation had been performed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6281137-91e0-c2ea-44ce-56ae9d9544f3
* Version Independent ID: 14e8465e-8af5-2eb0-b3e8-5a1350c8c3df
* Content: [Undo-SoftDeletedUnifiedGroup (exchange)](https://docs.micro

[2019-01-14 10:41] stukey opened #2478 "References Get instead of Set cmdlet"
The introductory paragraph is wrong and references the Get-CasMailboxPlans cmdlet instead of the Set-CasMailboxPlan cmdlet. Looks like a copy/paste error. Please update to describe the correct Set- cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07f6d529-3fc4-9ab8-d1e7-53dee583e32c
* Version Independent ID: e7fa

[2019-01-14 12:30] get-itips commented on #2476
Hi @siliconWOLF thanks for your comments, actually, if you ran the cmdlet without the -WhatIf parameter, it is expected that the operation will be performed, If I understand correctly, that is what happened to you.

[2019-01-14 14:31] h-david-a opened #2480 "-RejectMessageReasonText and -RejectMessageEnhancedStatusCode can't be used simultaneously"
Correction needed:
If -RejectMessageReasonText specified, status code is defaulted to "5.7.1"
If -RejectMessageEnhancedStatusCode  specified, RejectMessageReasonText is set to "Delivery not authorized, message refused"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0adf9c04-ae08-35ee-4551-18ddfa30a3ad
* Version Indepen

[2019-01-14 19:00] khorne3 commented on #2086
Hi @cloudedturtle! I just wanted to follow up with you on this issue -- are you referring to the `-owner` parameter? If so, it looks like it's been updated since you logged this request, but if not, please let me know.

[2019-01-14 19:07] khorne3 commented on #2069
Hey @marehmat -- thanks for your contribution. It looks, though, that the command is correct, since the value for  `-Location` is `-QuickLaunch` (see [optional parameter description here](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpnavigationnode?view=sharepoint-ps)).

[2019-01-14 19:19] kenwith commented on #2450
@nenonix - these SharePoint Patterns and Practices (PnP) cmdlets are unique in that there is a vibrant community located over at  github.com/sharepoint  ..  the cmdlets are in this repo so that they are surfaced alongside the regular in-product cmdlets but that community at github.com/sharepoint is where PnP is located. For these PnP ones let's ask @VesaJuvonen what he recommends.. maybe @pierreco

[2019-01-14 19:19] kenwith commented on #2450
Also, FYI @AndreaBarr

[2019-01-14 19:32] kenwith commented on #2069
Regarding PnP cmdlets.. I posted a message here: https://github.com/MicrosoftDocs/office-docs-powershell/issues/2450   @khorne3 we will need to update the Wiki on best way to handle these since the community for PnP is actually over at github.com/sharepoint.  Let's see what @VesaJuvonen recommends. CC @nenonix and @AndreaBarr

[2019-01-14 19:43] cloudedturtle commented on #2086
It appears that this was deprecated as noted in the updated documentation. However, it also appears that the functionality was actually replaced by the -Owner parameter.
Thanks

[2019-01-14 20:19] zokiol opened #2484 "Missing Parameters"
Hi,
There seem to be a few new parameters that perhaps came with the July CU.  I am interested in the following parameters that I also have for this cmdlet that are not documented here:

OverrideAuthTypeForExternalClients
OverrideAuthTypeForInternalClients

Please add the new parameters to the documentation and explain what options they take and their effects.
Thank you

---
#### Document Details

[2019-01-14 20:45] siliconWOLF commented on #2476
Apologies if my comment was not clear. The -WhatIF parameter was used and performed the operation.
For clarity:
Checked for the deleted group and found the deleted group.
Performed the Undo operation with -WhatIf parameter.
Performed the Undo operation without the -WhatIf parameter.
The operation failed as the group was not found.
Checked for the deleted group and the deleted group was not found,

[2019-01-14 20:59] kenwith commented on #2086
@cloudedturtle - thanks for this, do you think it needs a note in the -Owner parameter with more info or explains how it is replaced?

[2019-01-15 08:20] VesaJuvonen commented on #2473
Thanks for your input @schittli and sorry that you did not find the documentation sufficient. If you have specific asks or missing properties, which should be documented, we would hope that you'd be slightly more specific on your input, so that we can help you. Notice also that if any properties are missing, these documents are open-source and we do welcome contributions... happy to help to find t

[2019-01-15 08:20] #2473 closed

[2019-01-15 08:20] VesaJuvonen commented on #2456
Closing based on the comment from @jayminpatel81.

[2019-01-15 08:20] #2456 closed

[2019-01-15 08:34] #2258 closed

[2019-01-15 08:37] EvgenyArtemyev commented on #2261
I've got the same issue

[2019-01-15 08:38] VesaJuvonen commented on #2226
Yes. That's exactly what it is. Technically it's "left-overs" from the time before -CdnType was introduced.

[2019-01-15 08:38] #2226 closed

[2019-01-15 08:38] EvgenyArtemyev commented on #2261
I do believe the property is not available for SfB Online.

[2019-01-15 08:42] VesaJuvonen commented on #2212
Changing an URL for the existing site is not yet supported. This capability is planned to get released during 2019.

[2019-01-15 08:43] VesaJuvonen commented on #2121
Thanks @nschonni - absolutely valid comment and we absolutely need to get these cleaned. Ping @kenwith as the primary coordinator of this repository.

[2019-01-15 08:49] VesaJuvonen commented on #1909
Closing as answered as the @byteben's comment is not really related on the original issue.

[2019-01-15 08:49] #1909 closed

[2019-01-15 08:57] VesaJuvonen commented on #2225
Fixed with the #2490 changes.

[2019-01-15 08:57] #2225 closed

[2019-01-15 08:59] VesaJuvonen commented on #2069
Thanks @marehmat for submitting absolutely valid documentation fix. We have now updated the documentation and pushed the update to the official documents. Thanks for your input and contributions around these topics.

Fixed with #2488.

[2019-01-15 08:59] #2069 closed

[2019-01-15 09:01] VesaJuvonen commented on #1890
The issue is in the translation process which is done at the repository level. We did fix this exact same issues with API documentation while back, so it can be fixed, but we can't address that from the PnP PowerShell side, so @kenwith's coordination on this is needed.

[2019-01-15 09:02] VesaJuvonen commented on #2103
That is by design as the actual profile object is created when the user first-time signs in to the SharePoint Online.

[2019-01-15 09:02] #2103 closed

[2019-01-15 09:16] schittli commented on #2473
Thanks @VesaJuvonen for your feedback!
I'm **very** sorry, but:

### We pay a lot of $100,000 for Microsoft products.
therefore we expect professional and complete products and, of course, **we're not willing to pay the product and doing their work**.
It's a shame that Microsoft tries to outsource writing their docs and fixing their bugs to the community for their very expensive commercial product

[2019-01-15 11:17] VesaJuvonen commented on #1096
Example 3 comment fixed in the documentation with #2491. No idea who or why it was defined as it was, which was not correct.

[2019-01-15 11:17] #1096 closed

[2019-01-15 13:13] hugoabernier opened #2495 "How to provide credentials with 2FA?"
One of my client's tenant has two-factor authentication enabled. I am unable to use PowerShell to migrate content from 2013 to Office 365. After calling Register-SPMTMigration and Add-SPMTTask without issues, calling Start-SPMTMigration returns:
`Start-SPMTMigration : Username or password for target site ______ is not correct`.
I suspect it relates to 2FA. I tried using an app password instead wit

[2019-01-15 13:16] hugoabernier commented on #2495
Update: tested exact same script to another tenant without 2FA and was successful. Help with dealing with 2FA would be greatly appreciated.

[2019-01-15 15:31] tseward commented on #2495
I suspect 2FA is incompatible with the tool similar to other tooling from the SharePoint PG. E.g. the Hybrid Config Wizard or the cmdlets to copy Taxonomy terms from the local farm to SPO.

[2019-01-15 16:45] kenwith commented on #1890
@samanthaw - can help with translation issues and provide us guidance.

[2019-01-15 16:52] kenwith commented on #2121
Good catch on this! I deleted a number of the older branches and the 'patch-x' branches.. also sent an email to other admins to check their branches and will remove any branches over 90 days without being updated. Thanks again for catch!

[2019-01-15 16:52] #2121 closed

[2019-01-15 17:58] kenwith commented on #1890
@FlorianGrimm - thank you for identifying the issue. The localization team is working on this and I am seeing a lot of emails to get it resolved. Apparently this was fixed before but has re-appeared. Also, the same translation affects all languages so they are working to get this resolved across all languages. Really appreciate your taking the time to open the issue you identified.

[2019-01-15 21:49] spacklewoof opened #2498 "Chrome download works fine"
As of Chrome Version 71.0.3578.98 (Official Build) (64-bit) the download works fine.

"Note: Internet Explorer or Edge is required because the download in the next step uses ClickOnce, so Google Chrome or Mozilla Firefox won't work."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
*

[2019-01-15 22:41] robertcrew commented on #2427
I apologize, this issue was meant to be raised in the pnp-powershell project, not the office-docs-powershell one.

[2019-01-15 22:41] #2427 closed

[2019-01-15 23:43] samyaktelsang commented on #2447
Thank you @RobinDijkstra . My understanding of Installing or Upgrading a PnPApp to the catalog is as follows:

[code]
**Call above script for version 1 of the app:**

#in this case, test-app.sppkg contains a package version # 1.0.0.0, and Install-PnpApp should be called
InstallOrUpgrade-PnpApp -Path .\sharepoint\solution\test-app.sppkg
#after the 1.0.0.0 version of the sppkg file is passed to Inst

[2019-01-16 01:11] anhlqn commented on #1755
We can remove the team owner directly by specifying the -Role parameter. For example:

Remove-TeamUser -GroupId 31f1ff6c-d48c-4f8a-b2e1-abca7fd399df -User dmx@example.com -Role Owner

[2019-01-16 02:06] anhlqn commented on #1755
Take it back, running the command with -Role Owner change the role from Owner to Member.

[2019-01-16 11:18] povlhp commented on #2404
I have the MFA on every session, and when it times out every hour or so, I must reauthenticate.
At home with my low priv users, I have chosen to allow the browser/O365 to trust my MFA and my PWD for 30 days.
I think the persistent cookie should be saved by the system.

[2019-01-16 14:19] nenonix commented on #2498
@spacklewoof  Thank you for this helpful feedback. Maybe we could say "A browser that uses ClickOnce (like Internet Explorer or Edge) is needed for the download in the next step."  Would that work for you?

[2019-01-16 14:51] spacklewoof commented on #2498
Works for me!  Thanks for the follow up!

sent from smart phone. please ignore spelling or contextual grammar issues. thank you.

________________________________
From: Nicole Turner <notifications@github.com>
Sent: Wednesday, January 16, 2019 7:19:09 AM
To: MicrosoftDocs/office-docs-powershell
Cc: Thomas Borjon; Mention
Subject: Re: [MicrosoftDocs/office-docs-powershell] Chrome download works fin

[2019-01-16 14:58] lindspea commented on #2457
Hi @bruceredfern. Thank you for your valuable contribution to help improve MS docs.  We will work together to resolve this issues soonest.

[2019-01-16 16:47] kenwith commented on #2404
This is a really great discussion, I wonder if something should be added to the doc to make it clear what is going on and security considerations of allowing browser/O365 trust of MFA, etc...? @chrisda - what do you think?

[2019-01-16 17:01] rpodric commented on #2404
Does anyone know what changed?  It did used to be persistent, at least optionally. If there's a way to do what povlhp is saying, and tell it to trust the PWD for 30 days or whatever, I don't see that option. I just see the standard O365 login form.

[2019-01-16 18:39] VinothMSConsultant opened #2504 "Remove Hubsiteassociation error'ed out"
Received the below error while trying to unregister a hubsite. Happens for both Team and Communication site.

Error Info:

Remove-PnPHubSiteAssociation : This site is already a HubSite.

[2019-01-16 18:44] #2504 closed

[2019-01-16 18:44] VinothMSConsultant commented on #2504
Invalid case

[2019-01-16 19:42] kenwith commented on #1890
https://github.com/MicrosoftDocs/office-docs-powershell/pull/2505

[2019-01-16 19:49] AndreaBarr commented on #2476
@siliconWOLF Thank you for this clerification.

Based on the information you provided above I think that the best option will be to get you to support since they have more resources available to dig in and fine a solution for this issue.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I real

[2019-01-16 19:49] #2476 closed

[2019-01-17 08:01] RobinDijkstra commented on #2447
I think you've got the order wrong. The order should be:
- Add-PnPApp
- Publish-PnPApp
- Install-PnPApp or Update-PnPApp

[2019-01-17 11:48] tchinnin commented on #1915
Hi, Got the exact same error message when trying to create a team using Powershell cmdlet New-Team.
I'm able to Connect-MicrosoftTeams and Get-Team but the New-Team failed
![image](https://user-images.githubusercontent.com/46782173/51316864-37f7b100-1a56-11e9-8508-e6d14bf487cf.png)
Any update ?

[2019-01-17 14:01] ErikVanSeters opened #2514 "Refiners not working after deployment"
I'm using the September 2018 release of the PnP framework.

I have a site collection with a Search sub site. On that site I have put a default Refiners web part and changed the Display Templates of 2 refiners to use a (custom) display template:
- RefinableString111 >> Display Template: Refinement Item Block
- SPContentType >> Refinement Item

After Get-PnPProvisioningTemplate, the refiner web part

[2019-01-17 15:24] AndreaBarr commented on #1915
@dariomws306 Can you investigate this?

[2019-01-17 15:26] tchinnin commented on #1915
It's fine, my module wasn't up to date with 0.9.6 it works fine !
Thanks

[2019-01-17 17:07] dariomws306 commented on #1915
Hi @vinit14360 , what version are you using? Thanks!

[2019-01-17 17:23] Madserker opened #2515 "TermSetPath for default site collection term group"
Hello,

It would be nice if we could use some kind of parameter to specify the process to use the default site collection term group, since the term group name changes across diferent site collections.

Is there any option to do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2690c5-d59a-fe9c-2810-3a8141096d36
* V

[2019-01-17 18:08] dariomws306 commented on #2457
Hi @bruceredfern , thanks for your feedback. I am updating some well know parameters here and adding an example.

[2019-01-17 20:25] #2498 closed

[2019-01-17 22:23] schittli opened #2522 "Does Copy-PnPFile has limitations?"
It looks like Files bigger than 250MB cannot be copied by Copy-PnpFile.
Is this true or do we have another issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7f52783-245b-9bdd-30b1-2736cd66e92e
* Version Independent ID: 47c94158-6136-04ee-5fc0-712abcb1827a
* Content: [Copy-PnPFile (sharepoint-pnp)](https://docs.mic

[2019-01-18 03:04] JaMcCarter commented on #2363
Thanks for adding that. When an authentication policy has been set as default using this CMDLET should it not reflect in the properties of a newly created user? I ask because it's not. Our newly onboarded users are not getting this policy, or at least I can't tell that they are as the property value is empty. Is that the expected behavior? If so it would be lovely if the documentation could indica

[2019-01-18 05:04] vinit14360 commented on #1915
HI @dariomws306 @AndreaBarr ,

I did contacted Microsoft support that day and they have suggested me to upgrade the PowerShell version since they have modified some of code in new Version. so i updated the Team Module and it worked fine. we can close this thread

[2019-01-18 12:35] dariomws306 commented on #1915
@vinit14360 , ok, thank you, good to know it's fixed. We will close it.

[2019-01-18 15:55] leifucd opened #2527 "Set-PnPList Typo"
I noticed a typo on Set-PnPList document, ListExperience parameters were listed as Auto, NewExperience or ClassExperience. Should be ClassicExperience instead of ClassExperience.

[2019-01-18 17:26] rpodric commented on #2404
That is what I use, and it used to do what you say. But a month ago, it started consistently asking for the PW, which it doesn't remember.

[2019-01-18 17:55] #1915 closed

[2019-01-18 18:50] AndreaBarr commented on #2527
e have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

I am going to close this issue so that we can track to correct one in the PnP PowerShell repo.

[2019-01-18 18:50] #2527 closed

[2019-01-18 19:55] jerryyasir commented on #1915
I am getting this error only when authenticating to Azure AD Application with Certificate Authentication.

New-Team : Error occurred while executing
Code: Request_ResourceNotFound
Message: Resource '7dc36d15-7ddd-47d3-b11b-fa56eb4d25b0' does not exist or one of its queried reference-property objects are not present.
InnerError:
  RequestId: 46c506b8-c93d-48b8-9470-f894c6d5851f
  DateTimeStamp: 201

[2019-01-18 20:35] #2017 closed

[2019-01-18 20:41] AndreaBarr commented on #2013
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 20:50] AndreaBarr commented on #2016
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 21:03] AndreaBarr commented on #2158
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 21:04] AndreaBarr commented on #2164
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 21:05] AndreaBarr commented on #2183
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 21:16] AndreaBarr commented on #2257
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 21:17] AndreaBarr commented on #2276
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 21:20] AndreaBarr commented on #2338
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 21:20] AndreaBarr commented on #2349
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 21:21] AndreaBarr commented on #2371
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 21:22] AndreaBarr commented on #2392
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 21:34] nattomatto commented on #2276
I put it there.  Thanks

[2019-01-18 21:36] AndreaBarr commented on #2515
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 21:36] AndreaBarr commented on #2522
We have a separate repo for the PnP PowerShell issues. We want your issue to get the proper attention it deserves.

Please open your issue in this repo: https://github.com/SharePoint/PnP-PowerShell

@VesaJuvonen Would you like me to open this in the SharePoint repo?

[2019-01-18 22:38] samyaktelsang commented on #2447
Thanks @RobinDijkstra . I modified my function in the following way as per your suggestion:

[code]

However, even after Publishing the app before install or update, I find that 'Get It' appears on my site catalog and the app hasn't been updated. Any conditional check or command let I might be missing? Highly appreciate your help @RobinDijkstra .

#in this case, test-app.sppkg contains a package w

[2019-01-19 17:59] LuigiBruno opened #2550 "Size limitation"
Is there any limit to the size of a site collection that can be backed up using this cmdlet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7709132-eaba-7ae9-8f3d-76fe40cc4420
* Version Independent ID: 7f5b5c75-601b-02d2-fd14-a4092aec52e8
* Content: [Backup-SPSite (sharepoint-server)](https://docs.microsoft.com/en-us/

[2019-01-20 18:20] VesaJuvonen commented on #2371
@AndreaBarr as these are comments in the documentation - see comments section at https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpnavigationnode?view=sharepoint-ps page, they should NOT be opened in the PnP PowerShell repository as nobody would be able to see the reply to the comment... comments should be absolutely answered here so that they are visible in the docs.microso

[2019-01-21 08:37] RobinDijkstra commented on #2447
I see a typo, could you try it with Up**d**atePnP-App instead of Up**gr**adePnP-App?

[2019-01-21 18:57] rgsteele opened #2634 "Conflicting information for parameters applicable to Skype for Business Online"
The last paragraph of the Description reads "The following parameters are not applicable to Skype for Business Online: AsJob, CalendarPollInterval, Force, Identity, Instance, PipelineVariable, SIPSecurityMode, Tenant, Voice8021p, and VoiceDiffServTag". However, within the description for each of these parameters, "Skype for Business Online" appears in the "Applies to" row of the table (except for

[2019-01-22 08:55] oddmk79 opened #2635 "Delay when adding guest users with Add-TeamUser"
I'm trying to automate the process of adding guest users to Teams with PowerShell using the following process;

1. New-AzureADMSInvitation -InvitedUserDisplayName "Ola Nordmann" -InvitedUserEmailAddress example@mail.com -InviteRedirectURL https://myapps.azure.com -SendInvitationMessage $true
2. Add-TeamUser -GroupId 83c6dd07-60fd-4632-b653-51ba5fce31a4 -User example@mail.com
3. Get-TeamUser -Group

[2019-01-22 10:52] macslui opened #2636 "Question about Security Group Membership"
Is there any commandlet we can use to force user membership "recompilation" (ad security group for federated domain + cloud only security group) once a member become part of a new security group? Seems that this is not propagate to SPO permission when this security group is set in a SharePoint group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-01-22 11:38] odd-mithril opened #2637 "[Skype]Error when running New-CsOnlineApplicationEndpoint"
When i run the  script:
New-CsOnlineApplicationEndpoint
-ApplicationId "guid"
-Name "sampleapp2"
-Uri "sip:sample2@mytenant.onmicrosoft.com"
-Tenant "guid"

Below is the error:

Cmdlet 调用错误
    + CategoryInfo          : NotSpecified: (:) [New-CsOnlineApplicationEndpoint], CmdletInvocationException
    + FullyQualifiedErrorId : 处理 cmdlet 请求时出错,Microsoft.Rtc.Management.Hosted.PlatformService.NewPlat

[2019-01-22 17:47] kenwith opened #2638 "test issue 1"
test issue 1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0986eca0-dacb-6cde-2bc9-c4219fc53ccf
* Version Independent ID: 776f6f34-62ad-bb90-38c9-0700599ef639
* Content: [Add-DatabaseToAvailabilityGroup (sharepoint-server)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/add-databasetoavailability

[2019-01-22 17:49] yogkumgit opened #2639 "test yogi"
Test Yogi

[2019-01-22 18:24] jtpaulson opened #2640 "Scope of this command"
Is the URL parameter scoped to a single site collection or the tenant?  If I am looking to monitor the health of SPO and One Drive for business sites, do I target the tenant admin URL, the one drive sites managed path, or each individual One Drive site?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4df1d574-df84-cd28-

[2019-01-23 05:37] msbemba opened #2643 "Focused inbox snip change"
![focusedinbox payroll](https://user-images.githubusercontent.com/45987684/51585358-0de33a80-1eff-11e9-8596-91728e8d8729.PNG)

[2019-01-23 08:05] Bjorn80 opened #2644 "Example 1"
You forgot to save the page after adding the example^^

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 697aeb1e-aa03-92a8-e488-c87d5ba6f4d4
* Version Independent ID: 114f4cb4-fbad-f50f-ec82-2495764e26c8
* Content: [Stop-SPDistributedCacheServiceInstance (sharepoint-server)](https://docs.microsoft.com/en-us/powershell/mo

[2019-01-24 00:18] #2639 closed

[2019-01-24 00:18] #2638 closed

[2019-01-24 06:53] AncientsOfCloud commented on #2400
Did you ensure that you have Skype for Business Server version 9160 or higher installed ?

[2019-01-24 07:44] savusca commented on #2400
@AncientsOfCloud, thanks for the input but there is no Skype for Business server involved in the equation here. I have reported this issue for online hosted accounts.

[2019-01-24 11:43] holylander opened #2655 "Custom Editor and Modified date when creating an item"
Hi,

I am copying a collection of items from a list to another. Eveything is correctly copied, except the Editor / Modified date values. Even though I provide them, the script does actually use the current time and the current user who is adding the item through the script.

Do you know of any workaround for this? thanks.

Aberto

[2019-01-24 13:34] dariomws306 commented on #2400
@Hi @AncientsOfCloud , thanks for your feedback. RateMyCallAllowCustomUserFeedback attribute is listed under "The following parameters are not applicable to Skype for Business Online". Could you see it?

[2019-01-25 01:34] tseward commented on #2644
@AndreaBarr assign to me.

@Bjorn80 what you see is actually correct/intentional. While the cmdlet exists, it shouldn't be used in this form. This is why the example is blank and below that you see "Please see referenced article instead of using this cmdlet directly.".

[2019-01-25 08:45] Bjorn80 commented on #2644
@tseward  Ok, thanks for info.

[2019-01-25 08:45] #2644 closed

[2019-01-25 16:41] dariomws306 commented on #2484
Hi @zokiol , thank you for your feedback. I am working on it.

[2019-01-25 19:39] #2101 closed

[2019-01-25 19:40] #2071 closed

[2019-01-25 19:46] yeiacatl commented on #1691
Hi @AndreaBarr, I noticed you reopened this. Is this being actively investigated now? Or has it been fixed already?

[2019-01-25 22:39] #2437 closed

[2019-01-25 22:39] #2019 closed

[2019-01-25 22:40] #2339 closed

[2019-01-25 22:41] #2213 closed

[2019-01-25 22:43] #2175 closed

[2019-01-25 22:59] AndreaBarr commented on #1691
@yeiacatl We have changed our policy again so we re-opened the issues waiting to be worked on and I assinged one of our issue coordinators to this so that we can get this worked on.

[2019-01-26 17:57] dariomws306 commented on #2185
Hi @donlassini , thank you for your feedback.

It was not depreciated, on the contrary, please check the following link:
https://support.microsoft.com/en-us/help/4132310/requirewififoripaudio-isn-t-applied-for-skype-for-business-ios-android

[2019-01-26 18:00] dariomws306 commented on #2166
Hi @SanguptaMSFT , thank for your feedback.

It was fixed, please check.

[2019-01-26 18:43] dariomws306 commented on #2104
Hi @NeeranjanShettar , thanks for your feedback.

I am updating this article.

[2019-01-28 10:10] gunterda opened #2685 "PrivacyMode parameter value incorrect"
When setting the PrivacyMode the correct value is "opt-out" and not "optout"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baa9022a-0dc1-19d3-0eee-deb2b354852b
* Version Independent ID: 4291c5c9-0c3c-6f14-15ee-fcf4ad3b7c8d
* Content: [Set-UserAnalyticsConfig (exchange)](https://docs.microsoft.com/en-us/powershell/modu

[2019-01-28 15:24] bingoglossy opened #2686 ""The '<' operator is reserved for future use." error thrown w/ "Get-MessageTrace -MessageId <...XXX@...XXX....namprd03.prod.outlook.com>"
"The '&lt;' operator is reserved for future use." error thrown w/ "Get-MessageTrace -MessageId &lt;...XXX...@...XXX....namprd03.prod.outlook.com&gt;

Under "-MessageId" above there is "Be sure to include the full Message ID string. This may include angle brackets." but clearly the error it throws above does not jive with the documentation.

Please fix this or point out what I'm not seeing.

Thanks

[2019-01-28 16:41] chrisda commented on #2686
@bingoglossy, does it work if you surround the MessageID value in quotes?

[code]

It should work with angle brackets (or anything else) if the value is surrounded by quotes.

[2019-01-28 17:49] chrisda commented on #2685
@gunterda, all of the values for the PrivayMode parameter were wrong. They should be:

- Excluded (not Exclude)

- Opt-In (not OptIn)

- Opt-Out (not OptOut)

Thanks for the feedback.

[2019-01-28 17:49] #2685 closed

[2019-01-28 20:52] drewhammond commented on #1709
also waiting for mac support

[2019-01-28 21:09] tseward commented on #1709
I would suggest posting this feature request at https://sharepoint.uservoice.com/forums/330318-sharepoint-administration.

Keep in mind the *-SPO* cmdlets require .NET Framework 4.x, thus are not compatible with non-Windows OSes, like Linux or macOS.

[2019-01-28 22:07] nbalauro commented on #2495
Do not supply credentials when you invoke "Register-SPMTMigration". This will prompt for login and mfa interactively.

[2019-01-28 23:45] blouwagie opened #2691 "Please update and- or refer to MFA"
Microsoft pushes really HARD for all Admins to use MFA and will soon ENFORCE it for all Azure admins. Please update this document as the above does NOT work when you do as Microsof asks, see

https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell?view=exchange-ps

---
#### Document Details

⚠ *Do not edit

[2019-01-28 23:47] blouwagie opened #2692 "Point to the need to connect via MFA"
Microsoft pushes really HARD for all Admins to use MFA and will soon ENFORCE it for all Azure admins. Please update this document as the above does NOT work when you do as Microsof asks, see

https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell?view=exchange-ps

---
#### Document Details

⚠ *Do not edit

[2019-01-29 11:59] dariomws306 commented on #2052
Hi @TobieFysh and @ImNtReal , there isn't a default DrainingTimeout, only default WaitTime. If the time exceed WaitTime it will abort operation. If you want to force to drain all conferences and sessions you can use DrainingTimeout, and it should be less than WaitTime. For example, if you set DrainingTimeout to 00:30:00, it won't wait to default WaitTime, it will drain all conferences and sessions

[2019-01-29 12:55] kpinel opened #2694 "Adding multiple users to team groups"
The documentation isn't clear but is there an option, comma separated list as per add-adgroupmember, or do I need to create a for/next loop?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da0c53f2-1c62-14f6-6371-f54bf86b0c24
* Version Independent ID: aac162db-a9c0-fbfb-dd40-526e94d3bef8
* Content:

[2019-01-29 14:43] bingoglossy commented on #2686
Chris, that was it!
I humbly ask that an example be added to:
https://docs.microsoft.com/en-us/powershell/module/exchange/mail-flow/get-messagetrace?view=exchange-ps
and all of the other reference locations so it can be made easy for others.
Thanks!

[2019-01-29 16:00] MikeBass13 opened #2695 "Set-SPOSite on Group Sites gives parameter error"
**Running either of these commands:**
[code]

 **on a O365 Group connect site, returns the following error:**

[code]
**The command runs fine against a Communication site.**
_This may be realted to "Usage limits for Set-SPOSite cmdlet on Groups site are missing documentation #1555"_

[2019-01-29 16:46] #2166 closed

[2019-01-29 16:58] jmcadams-r7 opened #2696 "Connect via OAuth..."
Hi all,

I'm in a situation where my script won't be able to give the user feedback to provide MFA credentials, and I'm bashing my head against the wall trying to figure out how to hit this with a delegated application account. The only workaround seems to be to provide a user without MFA enabled when coming from certain IPs.

Is there an easier way to bypass MFA for delegated services or accounts

[2019-01-30 00:41] chrisda commented on #2686
@bingoglossy, I updated the MessageID parameter description.

Thanks for the feedback.

[2019-01-30 00:41] #2686 closed

[2019-01-30 06:31] kgazar opened #2699 "Remove hybrid using GUI"
Please i need to know how to remove hybrid configuration using ECP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 387a6dbf-23fc-9be7-60df-a6475a6826e0
* Version Independent ID: a006b07d-83bd-49d1-14f1-e9cd9bc09ba2
* Content: [Remove-HybridConfiguration (exchange)](https://docs.microsoft.com/en-us/powershell/module/exch

[2019-01-30 16:08] msbemba commented on #2073
That is right, you need to Set-SPOTenant -LegacyAuthProtocolsEnabled $True so that the scheduled scripts and unattended access work without issues.

You can't force Modern Authentication when you use the Connect-SPOService cmdlet in Microsoft SharePoint Online Management Shell, unless you add an undocumented registry key to your client computer. You need to add the following registry subkey on the

[2019-01-30 17:05] yogkumgit commented on #2044
@marmstrong94 Issue is looked into, and PR is created for updating the documentation. Appreciate, you pointed out this to us.

[2019-01-30 17:07] yogkumgit commented on #2480
@h-david-a Issue is looked into, and PR is created for updating the documentation. Appreciate, you pointed out this to us.

[2019-01-30 19:09] #2480 closed

[2019-01-30 19:10] #2044 closed

[2019-01-30 19:57] rjohnson13 opened #2707 "Incorrect Output Reference"
The outputs section refers to a page with Exchange Management Shell cmdlet input and output types, but start-compliancesearch is not listed on that page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99da4279-1686-2fe4-c33b-a16857c14704
* Version Independent ID: f23de949-1abb-36a5-2b1c-b20bf0c968d4
* Content: [Start-C

[2019-01-30 20:38] andrewconnell commented on #1709
I know it's not the same as the request, but for those of you waiting for MacOS support, check out the [Office 365 CLI](https://pnp.github.io/office365-cli). It's cross-platform & while it may not have every capability as the POSH service, it's quickly getting to parity.

If there's something missing, submit an issue/feature request or jump in and help. It's a PnP community project with a lot of a

[2019-01-30 22:30] s1satya opened #2709 "-WhatIF switch doesn't work"
Hi,

I am working on a script to assign conference numbers and in my testing i had -WhatIf switch but the script ended up setting the dialin bridge anyway, this seems to be a bug to me.  Can anyone validate this at Microsoft?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbbc1361-de46-0f01-f7cc-ea31425f6f45
* Version

[2019-01-30 23:16] jantoney opened #2710 "Update to parameters"
Items are missing. For example SendAs under -AuditAdmin

Supported audit operations for Admin are None, Create, FolderBind, MessageBind,
SendAs, SendOnBehalf, SoftDelete, HardDelete, Update, Move, Copy, MoveToDeletedItems and UpdateFolderPermissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf5b0c5d-0466-d55a-1f7

[2019-01-30 23:20] jantoney commented on #2710
That 'supported' line I copied from a powershell error when connected to Exchange Online, however it seems that it also supports UpdateCalendarDelegation and UpdateInboxRules.
However MailboxLogin is not supported. May need a comment advising that it's OnPrem only?

[2019-01-31 10:55] Annyya opened #2712 "Please provide more information to possible values"
Is there a website about more information to the possible values? Please give an example how to set fields viable/not visable in a view or sorting/filtering by fileds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68f7e89f-5efe-eb73-121b-51218829022b
* Version Independent ID: 061e5fa4-a472-4e62-f691-9b8cc4cff705
* Con

[2019-01-31 15:06] yogkumgit commented on #2261
@sischanz and @EvgenyArtemyev  Expert has looked into the issue and PR is created for updating the documentation. Thanks for raising this issue. Will appreciate your contribution in the future as well.

[2019-01-31 15:08] yogkumgit commented on #2195
@ChrisWharton2  Expert has looked into the issue and PR is created for updating the documentation. Thanks for raising this issue. Will appreciate your contribution in the future as well.

[2019-01-31 17:58] #2261 closed

[2019-01-31 18:01] kenwith commented on #2261
@yogkumgit - can we get a link to the PR too?  When you paste the link in here or in the Issue then GitHub will automatically link them.

[2019-01-31 18:50] kenwith commented on #2044
Awesome, can we get link to the PR @yogkumgit ?

[2019-01-31 19:31] yogkumgit commented on #2185
PR:  https://github.com/MicrosoftDocs/office-docs-powershell/pull/2682

[2019-01-31 19:59] mrft opened #2715 "Outputs?"
On https://go.microsoft.com/fwlink/p/?linkId=616387 there is nothing to be found about this Cmdlet (and not only this one).
And why not just add the info about Output Type directly in this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a564cf-b454-d046-070b-ddc0c05c7a7f
* Version Independent ID: 055a9698-c1

[2019-01-31 21:58] chrisda commented on #2710
@jantoney, thanks for looking into this. I, too, did a bunch of investigation related to Exchange 2010 RU25, Exchange 2013 CU22, Exchange 2016 CU12, Exchange 2019 CU1, and a E5 tenant (no preview or flighting).

Too much to list here, but there were values missing, and the default values were a lot of times different across the various environments. I updated the parameter descriptions accordingly

[2019-01-31 21:58] #2710 closed

[2019-01-31 22:51] dariomws306 commented on #2182
Hi @jenlg , thanks for your feedback.

It's a feature request/something to add to the code. Here we are able to help you with content update on docs. If it's added to the code then we can add it to docs. Please go to microsoftteams.uservoice.com so you can add this idea there.

Again, thank you!

[2019-02-01 12:42] Niekoesj commented on #2234
Ha i had the same issue! No-one believed me... but the work-around is;
Do not add OWNERS... but madd the owner first as MEMBER and then re-run the command to change it to OWNER. :-) then the Planner/plans can be created!

[2019-02-01 12:57] michevnew opened #2718 "PrimarySmtpAddress example"
Can you please take a look and update the example for the PrimarySMTPAddress attribute? It returns zero results, no matter what variation that includes a domain I try. It seems to work only on the part before the @ sign. Tested on both Exchange 2019 and Exchange Online

This will NOT provide any results:
Get-Recipient -Filter {PrimarySMTPAddress -like '*@fabrikam.com'}

This will:
Get-Recipient -F

[2019-02-01 13:51] yogkumgit commented on #2044
PR https://github.com/MicrosoftDocs/office-docs-powershell/pull/2702/files

[2019-02-01 16:39] AndreyNov opened #2719 "-OAuthAuthentication on Exchange 2010"
Parameter OAuthAuthentication is not supported on Exchange Server 2010. Please correct "Applies to" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7da3b3b1-12d9-608f-7379-f13d988d0fe2
* Version Independent ID: feaa10b4-067a-5ac9-6df3-c3c84567fb2f
* Content: [Set-WebServicesVirtualDirectory (exchange)](https://

[2019-02-01 16:45] yogkumgit commented on #2480
@h-david-a thanks for taking out some time to open this issue. Appreciate and encourage you to do the same in future also.

[2019-02-01 17:55] lindspea commented on #2457
@AndreaBarr this can be closed.

[2019-02-01 18:00] #2457 closed

[2019-02-01 18:05] yogkumgit commented on #2052
@dariomws306 Thank you very much for the contribution and sharing this explanation.  @TobieFysh Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-01 18:09] chrisda commented on #2719
@AndreyNov, since April, 2018, the Exchange cmdlet reference topics are single sourced between Exchange 2010, Exchange 2013, Exchange 2016, (now) Exchange 2019, Exchange Online, Office 365 Security & Compliance Center, and Exchange Online Protection. The value of single-sourcing these topics is enormous, as there are hundreds of cmdlets available and shared between the various environments.

Near

[2019-02-01 18:09] #2719 closed

[2019-02-01 18:39] yogkumgit commented on #2073
@msbemba Thank you very much for the contribution and sharing this explanation. @fredericklin
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-01 19:31] #2073 closed

[2019-02-01 19:59] dariomws306 commented on #2398
Hi @intared , thank you for your feedback.

I am working on it, let me see if I can find how we can add a link here. Thank you again.

[2019-02-01 20:56] AndreyNov commented on #2719
Hello Chris,
Good explanation. Thank you!
Sorry for my mistake.

[2019-02-01 22:07] dariomws306 commented on #2263
Hi @veronicageek , thank you for your contribution.

I think someone update the description of this parameter:
"The Alias parameter specifies the alias for the associated Office 365 Group. This value will be used for the mail enabled object and will be used as PrimarySmtpAddress for this Office 365 Group. The value of the Alias parameter has to be unique across your tenant.
For more details about

[2019-02-01 22:15] dariomws306 commented on #2405
Hi @AndrewJCo , thank you for your feedback.

Are you talking about -PageSize? It's an Int32 value.

Thank you again.

[2019-02-01 22:16] FC-EricWeller opened #2722 "Scrolling"
I wish docs.microsoft.com could find another way to make long tables navigable.  The horizontal scrollbar is always at the bottom and there's no easy way to scroll side-to-side when you're dealing with an entry high up in the table.  I'm on a 16x9 monitor and still can't view the entire width of the table on this document.  I usually wind up highlighting the rows I'm interested in and pasting them

[2019-02-01 22:22] chrisda commented on #2722
@FC-EricWeller, I agree. TechNet had the same problem (the horizontal scroll bar didn't float in a relative position at the bottom of your current vertical position in the topic; it was only available at the absolute bottom of the topic.)

The secret workaround is to click anywhere inside the table, and you can use the left and right arrow keys on the keyboard to scroll horizontally. I hope this h

[2019-02-01 22:48] dariomws306 commented on #2413
Hi @chrislehr , thank you for your contribution.

I think you have the answer in this article:
https://docs.microsoft.com/en-us/office365/securitycompliance/create-organization-wide-safe-sender-or-blocked-sender-lists-in-office-365

"If you allow top-level domains, it's likely that email you don't want will be delivered to an inbox."

"If you block top-level domains, it's likely that email you wan

[2019-02-01 22:53] chrislehr commented on #2413
I disagree.

Doesn’t at all clear up this question:

What if a customer wanted to block @spammer.com but allow @crm.spammer.com?

Or what if I want to allow @legitcompany.com but block @spam.legitcompany.com

From: Dario Woitasen <notifications@github.com>
Sent: Friday, February 1, 2019 2:48 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Chris Lehr <me@

[2019-02-01 23:03] TorrenManson opened #2723 "Related links is missing, Example 1 is... a placeholder"
There are no related links, to the other Meeting Migration Cmdlets, like get/Set-CsTenantMigrationConfiguration, Get-CsMeetingMigrationStatus.

Example 1 is just a placeholder

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b83a8070-4efb-0b72-b518-3b00f58cc252
* Version Independent ID: 7a8f5cc1-e717-e142-b488-54713a2885

[2019-02-01 23:04] dariomws306 commented on #2413
What if a customer wanted to block @spammer.com but allow @crm.spammer.com?
If you add spammer.com to the block domain list it will also block crm.spammer.com. So your option here is to use a rule to block only spammer.com:
https://docs.microsoft.com/en-us/office365/securitycompliance/create-organization-wide-safe-sender-or-blocked-sender-lists-in-office-365#use-the-eac-to-create-a-transport-rule-

[2019-02-01 23:51] TorrenManson opened #2724 "example 2 has incorrect parameter name"
The parameter of -userid in example 2 is incorrect, it should be -identity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5114258-0905-68ac-ab72-1a379c2cbcba
* Version Independent ID: 6cbf3f1c-99f7-53d4-be30-5cc3ffbeb842
* Content: [Get-CsMeetingMigrationStatus (skype)](https://docs.microsoft.com/en-us/powershell/modu

[2019-02-03 05:15] maruthigadde opened #2729 "Sentence Wrong"
The path must point to the valid Document Library or a folder with a document library.---- It should be within not folder with a Document Library

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9a4ae73-5f75-79bb-8bde-0ff57a5a7519
* Version Independent ID: 2cb872ee-33af-a8d4-09ab-cdaebd17ddd2
* Content: [Add-SPOTenantCd

[2019-02-03 05:32] maruthigadde opened #2730 "Spelling Error"
user1@contoso.harepoint.com  -  s is missing in sharepoint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0de85f88-fd9e-ee72-9e0a-28480c2306d2
* Version Independent ID: e314a2e5-4f2a-a251-0e82-a4b238d918a8
* Content: [Export-SPOQueryLogs (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint

[2019-02-03 05:32] maruthigadde commented on #2730
Example 1 exports the query log for a user who has the e-mail address user1@contoso.harepoint.com to the two files user1@contoso.sharepoint.com_queries.csv and user1@contoso.sharepoint.com_personalQueries.csv, in the current working folder.

[2019-02-03 19:57] jamesrhea commented on #2730
Thanks for pointing out the typo, @maruthigadde. I'll get this fixed.

[2019-02-03 20:05] jamesrhea commented on #2724
@TorrenManson, based on the remainder of the doc, it looks like you're correct. There is no `-UserId` parameter. I'll make this update. Thanks for the catch!

[2019-02-04 04:05] msbemba commented on #2193
Currently, the Cmdlets are not included in the module 0.9.6. We shall update you once there are plans for integration.

[2019-02-04 04:09] msbemba commented on #2451
The Cmdlet is in Beta stage and Get-StaffHubUsersForTenant is not exported when connecting to microsoftstaffhub module 1.0.2

Below are the cmdlets that are currently exported under the module1.0.2
Key                        Value
---                        -----
Add-StaffHubMember         Add-StaffHubMember
Add-StaffHubShift          Add-StaffHubShift
Add-StaffHubTeam           Add-StaffHubTeam
C

[2019-02-04 04:52] msbemba commented on #2138
The cmdlet is currently in Beta and lets you provision a new Team for use in Microsoft Teams and will create an O365 Unified Group to back the team.  Perhaps, It was a temporary issue? Let me know if this works now, If it doesn't could you also check the properties on the unified group if it is set correctly?

Connect-MicrosoftTeams -Credential $Credentials
$TeamsTitle = "Dummy 123"
$TeamsAlias =

[2019-02-04 15:19] NeighborGeek commented on #2350
@rpodric  Thanks for the update.  That link seems to be a direct download of a clickonce application.  Is there any documentation to go with that?  I'm not familiar with this method of distributing a powershell module, so I'm not sure how to work with this file.

[2019-02-04 15:58] JohnGGeo opened #2735 "Inconsistant useage of colon in EXO"
It seems that there is a inconsistant useage of the colon in the exchange online module for powershell.
If you notice you are requiring the use of a colon often (ex. Set-UnifiedGroup -AlwaysSubscribeMembersToCalendarEvents:$false) Compare this to Set-Mailbox (ex. Set-Mailbox -AuditEnabled $true)
It would be nice to get a standard in the usage. It would be nice to be able to use the cmdlet without

[2019-02-04 16:13] yogkumgit commented on #2399
@StefanGi  Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.
User Voice Link : https://microsoftteams.uservoice.com/forums/555103-public/suggestions/30980557-channels-in-teams-

[2019-02-04 16:18] yogkumgit commented on #2182
@jenlg   Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.
User Voice Link:  https://microsoftteams.uservoice.com/forums/555103-public/suggestions/36710527-add-teamuser-should-

[2019-02-04 16:22] yogkumgit commented on #2174
@Josverl   Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

User Voice Link:  https://microsoftteams.uservoice.com/forums/555103-public/suggestions/36740983-cmdlet-get-teamhe

[2019-02-04 16:25] yogkumgit commented on #2187
@giltee Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

User Voice Link:  https://microsoftteams.uservoice.com/forums/555103-public/suggestions/36741115-team-s-powershell-mo

[2019-02-04 17:23] chrisda commented on #2735
@JohnGGeo, it's not so much an issue of consistency of the use of the colon between a parameter and its value; it's related to the _type_ of parameter.

Boolean parameters like AuditEnabled on Set-Mailbox accept the values $true or $false, and you can use a colon between the parameter and the value, or you can omit it; it's completely optional. In those cases, I'd say the examples and usage in Exc

[2019-02-04 17:23] #2735 closed

[2019-02-04 19:23] rjohnson13 opened #2736 "Incomplete Documentation"
There is incomplete documentation regarding this cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49fd66d7-4607-7c61-2d7d-ff71272c587c
* Version Independent ID: 77d487a4-b22c-49d1-123b-4c07f45eaa57
* Content: [Invoke-ComplianceSearchActionStep (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchang

[2019-02-05 03:43] SeaGT opened #2741 "How do you get the results from start-managedFolderAssistant"
I have manually run the start-managedFolderAssistant on several users mailboxes every day for the last 5 days. Multiple folders should be getting archived but nothing is occurring, why?  Why don't you include several examples of using this command AND tell users how they will confirm that the command worked?

[2019-02-05 10:24] SignorelliDenis opened #2742 "Wrong information about Autodiscover service connection point"
The text says that "The Autodiscover service connection point pointer resides in Active Directory and contains the names of the Exchange Web Services URLs."

As far as I know that's not true, the Service Connection Point created by Export-AutoDiscoverConfig cmdlet contains only the information about "LDAP://targetdomain" in the ServiceBindingInformation attribute and the "accepted domains" in the

[2019-02-05 12:56] msbemba commented on #2115
Sorry about the issue. Since you had only one library to migrate and you have used the workaround, Is this still an issue?

[2019-02-05 14:56] yogkumgit commented on #2400
@dariomws306  Thank you very much for the contribution and sharing this explanation. @savusca
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-05 15:02] yogkumgit commented on #2261
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @sischanz  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-05 15:06] yogkumgit commented on #2195
@dariomws306 Thank you very much for the contribution and updating the documentation with PR. @chriswharton2 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-05 15:08] yogkumgit commented on #2166
@dariomws306 Thank you very much for the contribution and sharing this explanation. @SanguptaMSFT Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-05 15:16] yogkumgit commented on #2044
@msbemba Thank you very much for the contribution and updating the documentation with PR. @marmstrong94  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-05 17:17] yogkumgit commented on #2413
@dariomws306 Thank you very much for the contribution and sharing this explanation. @chrislehr
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-05 17:22] yogkumgit commented on #2263
@dariomws306 Thank you very much for the contribution and sharing this explanation. @veronicabeek
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-05 19:01] yogkumgit commented on #2405
@dariomws306 and @chrisda Thank you very much for the contribution and sharing this explanation. @AndrewJco  Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-05 19:07] #2405 closed

[2019-02-05 19:07] #2413 closed

[2019-02-05 19:07] #2263 closed

[2019-02-05 21:36] ingjemch opened #2744 "Enclose with quotes."
The Message ID values should be enclosed in quotes (" or ') because if you type the command as given in the example, it will fail telling you that &lt; or &gt; characters are reserved for further use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 258342bd-0747-ae87-67f6-d3224d4e8b26
* Version Independent ID: 253abb29-

[2019-02-05 21:51] chrisda commented on #2744
@ingjemch, OK, fixed.

Thanks for the feedback.

[2019-02-05 21:51] #2744 closed

[2019-02-06 15:08] zaicnupagadi opened #2750 "Get-MessageTrace is missing results unless searching windows is 30 minutes."
Hello, all has been described here https://paweljarosz.wordpress.com/2019/02/06/get-messagetrace-exchange-online-and-lots-of-missing-results-workaround/. Generally happened to me a few times, so decided to let you guys know, when searching for results I am only able to find particular message when the search windows is 30 minute. Otherwise when pipelining the results by | ? {$_.messageid -match ..

[2019-02-06 15:23] zaicnupagadi commented on #2750
I think we might close it - I need to use pagination for this, just saw this.

[2019-02-06 18:33] Loomb13 opened #2752 "Missing preposition?"
Hello!
The sentence below is missing the preposition afer exist. S.b either in or within&

Parameters that exist different parameter sets are mutually exclusive (they can't be used together in the same command).

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: cbe6e195-f640-0f1b-dae0-1d

[2019-02-06 21:51] chrisda commented on #2752
@Loomb13, you are correct. I took the opportunity to rewrite that area of text.

Thanks for the feedback.

[2019-02-06 21:51] #2752 closed

[2019-02-06 22:18] kf4ape commented on #2234
Niekoesj, I had the same issue a few months ago and discovered a crazy work around...had a case with MS Premier for about amonth...they are aware of the bug and its pending release cycle (not in 0.9.6)...this also applies to groups in outlook also

Add-TeamUser -GroupId $groupid -User $Owner
Add-TeamUser -GroupId $groupid -User $Owner -Role Owner
remove-TeamUser -GroupId $groupid -User $Owner -Rol

[2019-02-06 23:19] #2730 closed

[2019-02-06 23:35] #2724 closed

[2019-02-06 23:40] chrisda commented on #2398
@intared, according to the main topic about OME: https://docs.microsoft.com/office365/securitycompliance/add-your-organization-brand-to-encrypted-messages, links aren't possible for any of the text values. I presume you could add your Privacy Policy's URL, but the link wouldn't be hot.

[2019-02-06 23:40] #2398 closed

[2019-02-07 14:00] peferre opened #2756 "The "Applies to field" is incorrect"
The following parameters are not available to Exchange Online as suggested in the "Applies to:" fields:
[-DomainController &lt;Fqdn&gt;]; [-Features &lt;None | MultiBatch | Endpoints | UpgradeBlock | PAW&gt;]; [-MaxConcurrentMigrations &lt;Unlimited&gt;]; [-MaxNumberOfBatches &lt;Int32&gt;]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-02-07 14:56] Mike-Crowley opened #2757 "What are the max values for IPListBlocked?"
Is this limited by entries, or overall attribute size, or? In my testing, I was able to add 1173 IPs, but since that is such an unusual number, I wanted to confirm it is a reliable one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e3ab3f0-cc05-e279-8876-6da0b323bcac
* Version Independent ID: bfb49814-d60b-564a-25cc-

[2019-02-07 15:07] DougChandler opened #2758 "SoftDeletedMailbox switch is ambiguous"
The description of SoftDeleteMailbox is ambiguous:
- "The SoftDeletedMailbox switch specifies whether to include only soft-deleted mailboxes in the results."
- "This switch is required to return soft-deleted mailboxes."

The first indicates the switch will ONLY return soft deleted mailboxes,
The second indicates switch will INCLUDE soft deleted mailboxes.
Which is it?

---
#### Document Details

⚠

[2019-02-07 15:13] DougChandler commented on #2758
Or does Get-Mailbox not return soft deleted mailboxes normally?
Doing testing it appears that it ONLY returns soft deleted mailboxes when used, not clear whether deleted mailboxes are returned otherwise when the switch is not set

[2019-02-07 16:38] yogkumgit commented on #2091
@msbemba Thank you very much for the contribution and sharing this explanation. @Chukaka
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-07 16:48] yogkumgit commented on #2055
@carolynblanding  Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

User Voice Link: https://microsoftteams.uservoice.com/forums/555103-public/suggestions/33356242-guest-displ

[2019-02-07 17:11] yogkumgit commented on #2193
@kzuenkler-avanade   Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

User Voice Link: https://microsoftteams.uservoice.com/forums/555103-public/suggestions/33715255-bot-capa

[2019-02-07 18:13] chrisda commented on #2756
@peferre it appears that the Set-MigrationConfig cmdlet went from on-prem only to on-prem + cloud in the semi-recent past (note the "This cmdlet is available only in on-premises Exchange." disclaimer in the introduction). I cleaned up the topic as you described (I fully completed the remaining work required to switch the topic to on-prem + cloud).

Thanks for the feedback.

[2019-02-07 18:13] #2756 closed

[2019-02-07 18:14] jitsvjoseph opened #2759 "Documentation Feedback"
SharePoint 2019 is given in the section "Product that applies to" under the description of the property "-PartitionMode". As Multi Tenancy is not supported in SP2019, this should not be applied to SP2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c7da900-06f8-efbe-49bf-ff3f5706cc94
* Version Independent ID: fde41

[2019-02-07 19:02] Techwriter40 commented on #2759
@jitsvjoseph thank you for your feedback. You are correct, and I have made the change and in the process of republishing article.  thanks

[2019-02-07 19:02] #2759 closed

[2019-02-07 19:05] msbemba commented on #2102
@Selmiltone Can you attach the sample .XML file? and also brief us on the type of migration?

[2019-02-07 19:35] peferre commented on #2756
Thanks Chris,

That helps a lot! :) Great job!

Best regards,

Pedro

Get Outlook for Android<https://aka.ms/ghei36>

From: Chris Davis
Sent: Thursday, February 7, 18:13
Subject: Re: [MicrosoftDocs/office-docs-powershell] The "Applies to field" is incorrect (#2756)
To: MicrosoftDocs/office-docs-powershell
Cc: Pedro Ferreira, Mention

@peferre<https://nam06.safelinks.protection.outlook.com/?url=htt

[2019-02-07 20:37] chrisda commented on #2758
@DougChandler, I agree. In some cases, less is more, so I changed the description to say:

I still think it conveys the correct meaning (if you don't use this switch, you won't get any soft deleted mailboxes in the results).

I similarly updated related parameters in the topic:

- Arbitration

- Archive

- AuditLog

- AuxAuditLog

- GroupMailbox

- Migration

- Monitoring

- PublicFolder

- Remote

[2019-02-07 20:37] #2758 closed

[2019-02-07 20:53] JeremyTBradshaw opened #2765 "Filterable Properties -> Guid would be awesome if it accepted wildcards"
I noticed recently that all AD objects are pretty much perfectly 'load-balanced' by the first character of the Guid.  That is, take all your mailboxes:

Then, group them by the first character of the Guid (objectGuid):

Prepare to be amazed!!.  Now, this gives everyone in the world, 16 near-equal-length groupings of their objects - GREAT!!.

Now.. if the Guid filterable property could accept wildc

[2019-02-07 21:00] #2091 closed

[2019-02-07 21:01] #2055 closed

[2019-02-07 21:01] #2451 closed

[2019-02-07 21:01] #2193 closed

[2019-02-07 21:02] #2185 closed

[2019-02-07 21:02] #2104 closed

[2019-02-07 22:55] mimi-msft commented on #1528
HI, these values are not currently returned in the Get-MailTrafficReport cmdlet

Perhaps this comment was meant to be left on the Get-MailTrafficATPReport support doc? In which case, the values have been updated there: https://docs.microsoft.com/en-us/powershell/module/exchange/advanced-threat-protection/get-mailtrafficatpreport?view=exchange-ps

[2019-02-07 22:59] dariomws306 commented on #1784
Hi @jfrancis2 , thank you for your comment and collaboration.

You have to open Windows PowerShell (not x86) to connect to Exchange Online PowerShell. Not x86 neither Windows PowerShell ISE (Windows PowerShell Integrated Scripting Environment).

Let me know if I am not clear or if I can help you with something else.

[2019-02-07 23:04] chrisda commented on #2757
@Mike-Crowley according to the same question at the following link, and the TechNet blog in the last answer to the thread, the limit for any value like this is approximately 1200 entries (or 1176, according to the other guy's testing of this specific parameter).

https://techcommunity.microsoft.com/t5/Exchange/Limits-for-maximum-addresses-in-the-IPListBlocked-when-using-set/td-p/108826

[2019-02-07 23:04] #2757 closed

[2019-02-07 23:51] Mike-Crowley commented on #2757
Thank you. I feel like this information belongs in the article here.

-Mike Crowley

________________________________
From: Chris Davis <notifications@github.com>
Sent: Thursday, February 7, 2019 6:16:16 PM
To: MicrosoftDocs/office-docs-powershell
Cc: Mike Crowley; Mention
Subject: Re: [MicrosoftDocs/office-docs-powershell] What are the max values for IPListBlocked? (#2757)

@Mike-Crowley<https://

[2019-02-08 07:14] PrasenjitSaha commented on #2637
I also got same error.

[2019-02-08 13:45] dariomws306 commented on #1758
Hi @parlevjo2 , thank your for you collaboration.

Are you talking about this article?
https://docs.microsoft.com/en-us/powershell/module/exchange/antispam-antimalware/get-mailboxjunkemailconfiguration?view=exchange-ps

If yes, it was fixed:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/1569

Thank you!

[2019-02-08 14:08] christiangomez92 opened #2769 "How to configure the recoverable items quota in my on-cloud based service?"
I would like to know if 30 Go is the limit for a on-cloud based service ? How can I configure to get more quota and what are the implications (license needed... ) in my case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf5b0c5d-0466-d55a-1f7b-0b2d25a316fd
* Version Independent ID: 07b0c093-eb6b-4834-3cd4-d8f2af6ca0f

[2019-02-08 14:12] dariomws306 commented on #1759
Hi @parlevjo2 , thank you for your feedback.

I couldn't find the article you are talking about. Could you gently let me know that it is? Thank you!

[2019-02-08 14:59] DRamalho92 opened #2770 "SharePoint Online"
When using the command Get-PnPRecycleBinItem the property FileLeafName don't exist. It works if you use LeafName instead.

Get-PnPRecycleBinItem | ? LeafName -like "*.docx" | Clear-PnpRecycleBinItem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d8ffc74-6836-0a88-f1e2-2962b487ca4e
* Version Independent ID: 89967280-3b

[2019-02-08 15:00] dariomws306 opened #2771 "Wrong link reference"
The link reference after "For permissions and the most current information about Windows PowerShell for SharePoint Online, see the online documentation at" is wrong.
I think we should check the markdown format for links: []()
I can fix it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acdde38b-1d4e-9ca4-3300-d1afdcfe04

[2019-02-08 15:36] jonwbstr opened #2772 "BulkThreshold is not for internal use"
It can be set through the EAC and from powershell, it's the threshold for bulk mail. It's the BCL threshold, use a lower number to classify more bulk mail as spam.

https://docs.microsoft.com/en-us/office365/securitycompliance/bulk-complaint-level-values

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de4b3451-117a-6079

[2019-02-08 16:13] dariomws306 commented on #1725
Hi @JereckNET , thank you for your feedback.

To run SharePoint Online cmdlets you need SharePoint Online Administrator permission.

[2019-02-08 17:09] dariomws306 commented on #1740
Hi @pschaeflein , thank you for your feedback.

I am replacing "Grants rights to users or mail-enabled security groups to access the hub site" for "Grants rights to users or mail-enabled security groups to associate their site with a hub site".

[2019-02-08 17:27] dariomws306 commented on #2771
https://github.com/MicrosoftDocs/office-docs-powershell/pull/2774

[2019-02-08 17:27] #2771 closed

[2019-02-08 17:59] chrisda commented on #2757
OK, I added it, but I fear I've opened a big can of worms as it appears that any property like this has the upper limit of 1200 entries, and there are a lot of properties like this. I also don't like the fact that I need to say "approximately 1200 entries".

[2019-02-08 18:27] Mike-Crowley commented on #2757
When the limit is approximate like this, its usually due to the underlying attribute/storage size or something, since there obviously is some sort of specific limit somewhere. Perhaps you could inquire into that and list it instead?

[2019-02-08 18:44] dariomws306 commented on #1760
Hi @MichaelMc64 , thank you for your collaboration.

Could you help me and elaborate further to understand this?

Get-MailboxSearch returns a MailboxSearchObject, it could be null, 1 object or more than 1. And here is more information about this type of object:
https://docs.microsoft.com/en-us/previous-versions/office/exchange-server-api/ff329175(v=exchg.150)

Thank you!

[2019-02-08 18:59] yogkumgit commented on #2138
@msbemba  Thank you very much for the contribution and sharing this explanation. @silmer
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-08 19:26] chrisda commented on #2772
@jonwbstr, the parameter was documented in Set-HostedContentFilterPolicy, but not New.

Thanks for the feedback.

[2019-02-08 19:26] #2772 closed

[2019-02-09 00:13] cammurray opened #2776 "Operation is not multi-value without hidden param LogicalOperationName"
Using the 'operation' param, you cannot specify multiple values as the documentation states, as this relies on another param called 'LogicalOperationName' which is not exposed to the user.

Attempting to use comma seperated values will result in:
Multiple operations provided . Please provide a logical operation name
    + CategoryInfo          : NotSpecified: (:) [New-ProtectionAlert], MissingLogi

[2019-02-09 00:15] cammurray commented on #2776
Full command below:

`PS C:\Users\camurray> New-ProtectionAlert -Category AccessGovernance -Name "Privilege Escalation 2" -NotifyUser cam@filtered.info -ThreatType Activity -AggregationType None -Operation "Add role member to role","GrantAdminPermission"

Multiple operations provided . Please provide a logical operation name
    + CategoryInfo          : NotSpecified: (:) [New-ProtectionAlert], Mi

[2019-02-09 00:51] chrisda commented on #2776
@cammurray, very interesting. The Operation parameter is of Type MultiValuedProperty, so it does accept multiple values. But the parameter interactions for the cmdlet demand that multiple values for Operation also require the unavailable LogicalOperationName parameter.

Should I just remove the line about it accepting multiple values?

[2019-02-09 00:56] cammurray commented on #2776
Hey @chrisda

Well, you have a little bit of a dilemma there!

I don't believe LogicalOperationName is exposed as you've mentioned and it certainly isn't documented on the page.

So I guess this is a question of if we want the documentation to be truly **technically** correct based on what the property is or **theoretically** correct based on what you can do.

I would say that we should remove the

[2019-02-09 20:23] dariomws306 commented on #1623
Hi @raymondlittle100 , thank you for your feedback.

SharePoint Online Administrators can create Office 365 groups.

Did you try with New-PnPTenantSite?

[2019-02-09 21:23] dariomws306 commented on #1657
Hi @dinocaputo , thank you for your feedback.

I have tried in a SfB 2015 Server lab environment with the latest updates and I only see -tenant parameter on New/Set-CsHostedVoicemailPolicy cmdlet/s. I cannot see -TenantID.

Could you double check? Where you see -TenantID? Thank you!

[2019-02-09 21:31] dinocaputo commented on #1657
Hmm.  Clearly this has changed since I tested it in September ;-)
As I just retested it either "-tenant" or "-tenantID" function when using a set-csHostedVoicemailPolicy cmdlet.  When I submitted "-tenant" did NOT function.
The confusing part is a get-csHostedVoiceMailPolicy shows the attribute as "TenantID" but the cmdlet docs show -Tenant.  As I mentioned it appears either parameter now works.

[2019-02-09 21:37] dariomws306 commented on #1657
Thank you for your fast reply.

I have verified Get- and I also see -Tenant there.

![image](https://user-images.githubusercontent.com/33589238/52526587-ad435400-2c99-11e9-8ee9-c4e2ad929c5e.png)

[2019-02-09 21:40] dinocaputo commented on #1657
Yes but what I mean is this:
![image](https://user-images.githubusercontent.com/32268083/52526610-5897dd00-2c89-11e9-8357-d2dcc1bcb846.png)

[2019-02-09 22:11] dariomws306 commented on #1657
Interesting... I cannot run this cmdlet with -TenantID in my lab neither I get it when I run Get-CsHostedVoiceMailPolicy.

![image](https://user-images.githubusercontent.com/33589238/52526891-6d32a000-2c9e-11e9-81a7-889b6136584c.png)

Based on what we have been testing, do you think we should update this article?

Thank you!

[2019-02-09 23:57] DougChandler commented on #2758
Thanks Chris, but I think "whether to include soft-deleted mailboxes" is wrong as it seems to return ONLY soft deleted mailboxes, i.e. not non-deleted mailboxes.
Many thanks,
Doug

[2019-02-09 23:59] dinocaputo commented on #1657
I’m running SfB Server 2019. You?

Sent from my iPhone

On Feb 9, 2019, at 5:11 PM, Dario Woitasen <notifications@github.com<mailto:notifications@github.com>> wrote:

Interesting... I cannot run this cmdlet with -TenantID in my lab neither I get it when I run Get-CsHostedVoiceMailPolicy.

[image]<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fuser-images.githubusercontent.com%2F

[2019-02-10 00:44] dariomws306 commented on #1657
2015... It should be the same for this but...

[2019-02-10 14:51] #1758 closed

[2019-02-10 14:55] parlevjo2 commented on #1759
It was https://docs.microsoft.com/en-us/powershell/module/exchange/antispam-antimalware/get-mailboxjunkemailconfiguration?view=exchange-ps. It is already fixed.
Fix is: foreach {Get-MailboxJunkEmailConfiguration -Identity $_.UserPrincipalName}

[2019-02-10 14:55] #1759 closed

[2019-02-10 14:58] dariomws306 commented on #1759
Thank you!

[2019-02-10 22:19] thisidiotsays opened #2781 "New-PnPSite NullReferenceException - Seems to be related to Type parameter"
SharePointPnPPowerShellOnline: v 3.6.1902.0

When I try to create a new modern site using New-PnPSite I receive the following message:

[code]
I have tried this on two different machines and two different tenants. I am a global admin on both tenants and MFA is not enabled.

I have tried connecting to sharepoint.com and -admin.sharepoint.com and receive the same message when trying to create the si

[2019-02-11 11:32] nikolayyordanov opened #2782 "Add-PnPDataRowsToProvisioningTemplate does not consider the Query parameter"
The following command
`Add-PnPDataRowsToProvisioningTemplate -Path $path -List 'ListName' -Query "<View><RowLimit>5</RowLimit></View>" -Fields 'ID' `
Adds all the rows to the provisioning template

[2019-02-11 11:36] nikolayyordanov commented on #2782
The correct syntax seems to be
`Add-PnPDataRowsToProvisioningTemplate -Path $path -List 'ListName' -Query "<RowLimit>5</RowLimit>" -Fields 'ID'`

[2019-02-11 11:36] #2782 closed

[2019-02-11 11:56] dariomws306 commented on #1673
Hi @psykokwak4 , thank you for your collaboration.

I see your point:
Name must be in the form locale\action where **_action_** can be: "zh-CHS, en, fr, de, ja, zh-CHT, it, ko, pt, ru, es, ar, cs, da, nl, fi, el, he,
hu, no, pl, pt-PT, sv, tr, ro, th, fil-PH, hi, id, lv, ms, uk, vi, bg, hr, et, lt, sr, sk, sl, eu, ca, zh-HK, fa, gl, is, kk, sr-Cyrl-CS,
ur, af, sq, am-ET, hy, as-IN, bn-IN, bn-BD, b

[2019-02-11 14:07] andy2002a opened #2783 "Connect-EXOPSSession does not work when User Profile Disks (UPDs) are enabled"
When I attempt to use Connect-EXOPSSession on an RDS server that has User Profile Disks enabled I get the following error:

New-ExoPSSession : Service returned error. Check InnerException for more details
At C:\Users\XXXXXXXX\AppData\Local\Apps\2.0\24VQBVLG.GAB\944JPN15.MGR\micr..tion_1975b8453054a2b5_0010.0000_10d85008035862c6\CreateExoPSSession.ps1:292 char:30
+ ... PSSession = New-ExoPSSession

[2019-02-11 15:02] dariomws306 commented on #1687
Hi @Borkason , thank you for your feedback.

It's TimeSpan:
https://docs.microsoft.com/en-us/dotnet/api/system.timespan

You can set minutes, hours, seconds... Some examples:
10:00:00 (10 hours)
00:10:00 (10 minutes)

[2019-02-11 15:19] psykokwak4 commented on #1673
zh-CHS seems to be the locale

[2019-02-11 15:19] dariomws306 commented on #1691
Hi @carlossanlop , thank you for your feedback.

I see that -ErrorAction:Inquire and -ErrorAction:SilentlyContinue are available for this cmdlet, but not others.

[2019-02-11 15:21] dariomws306 commented on #1673
Yes, it should be:

Name must be in the form locale\action where **_locale_** can be: "zh-CHS, en, fr, de, ja, zh-CHT, it, ko, pt, ru, es, ar, cs, da, nl, fi, el, he,
hu, no, pl, pt-PT, sv, tr, ro, th, fil-PH, hi, id, lv, ms, uk, vi, bg, hr, et, lt, sr, sk, sl, eu, ca, zh-HK, fa, gl, is, kk, sr-Cyrl-CS,
ur, af, sq, am-ET, hy, as-IN, bn-IN, bn-BD, bs-Cyrl-BA, bs-Latn-BA, ka, gu, ha-Latn-NG, ig-NG,

[2019-02-11 15:24] get-itips commented on #1755
Hi @lloydmills thanks for taking the time to submit feedback!

I reviewed the document and saw that it has a note that says "Note: last owner cannot be removed from the team." when you tested this cmdlet, the user you tried to remove was indeed the last owner?

Thanks.

[2019-02-11 15:40] dariomws306 commented on #1705
Hi @chrislehr , thank you for your feedback.

What version of Exchange are you using? I think you could get this error if you are trying with Exchange 2013 or later.

I am removing "sending" from description.

[2019-02-11 16:10] yogkumgit commented on #1755
@get-itips  Thank you very much for the contribution and sharing this explanation. @lloydmills
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-11 17:27] carlossanlop commented on #1691
The one that is required to catch exceptions is Stop.
I am not sure if Inquire would help.

[2019-02-11 17:39] dariomws306 commented on #1665
Hi @mrik23 , thank you for your feedback.

I am adding a line to let readers know that if they use this cmdlet to add an owner, they need to run this cmdlet again to add him as member.

[2019-02-11 19:23] get-itips commented on #1831
Hi @Petri-X

Thanks for taking the time to submit feedback.
I analyzed the information you gave us and I think that New-CsSimpleUrlConfiguration without -identity was accepted and applied to Global because it was the first time a Simple URL Configuration was made in your environment, so there was no Global configuration at that moment.

If you then try to use New-CsSimpleUrlConfiguration (without

[2019-02-11 19:49] chrisda commented on #2758
@DougChandler, OK. I fixed it; hopefully for the last time:

[2019-02-12 07:59] Ful56uk opened #2789 "Recipient Type MailboxUser"
is MailboxUser incorrect, shouldn't it be usermailbox as recipient type for exchange online?

[2019-02-12 09:21] Petri-X commented on #1831
Hi Get-iTips

Yes you are correct. Now when testing that again, it is actually requires the -identity now also when the Global has been defined.

Aslo need to say, that when now running the command:
**New-CsSimpleUrlConfiguration -Identity Site:SkypeSite1**
it goes smoothly. So in that sence -simpleURL is not required anymore.

But this really depends if you already have simpleURL configuration do

[2019-02-12 14:19] msbemba commented on #2115
@Mukesh2085 We see from the comments that you had already fixed it using the workaround of including -IncludeSecurity parameter. The next time you have this issue come up we want to make sure it's documented and worked on by support so please open a support ticket.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let m

[2019-02-12 14:22] msbemba commented on #2102
@Selmiltone  The cmdlet ConvertTo-SPOMigrationTargetedPackage converts the XML files and saves them as a new set of targeted migration package metadata files to the target directory.

The next time you have this issue come up we want to make sure it's documented and worked on by support so please open a support ticket.

I think the best way forward is if you can open a service ticket in your tenan

[2019-02-12 15:29] thisidiotsays commented on #2781
Sorry I think I put this in the wrong issues list

[2019-02-12 15:29] #2781 closed

[2019-02-12 17:58] msbemba commented on #1605
@fredericklin Thank you for bringing this to our notice. This cmdlet is now fixed in the latest module 0.9.6.

Now, Get-team gets all teams in the tenant and get-teamchannel -groupid returns properties of the team channel if you are an administrator.

Thank you for reporting and making the docs better. Much appreciated.

[2019-02-12 17:58] msbemba commented on #1719
@kf4ape Thank you for the update. This has been fixed in the latest teams module 0.9.6. The cmldet add-teamuser -role owner now adds the user as owner and member, same goes well with the new-team cmdlet.

Thank you for reporting and making the docs better. Much appreciated.

[2019-02-12 18:05] kf4ape commented on #1719
I was told it was NOT in 0.9.6

[2019-02-12 18:14] msbemba commented on #1575
Created PR# https://github.com/MicrosoftDocs/office-docs-powershell/pull/2790 to make corrections in the document.

[2019-02-12 18:50] msbemba commented on #1719
@kf4ape Tried both the cmdlets New-team as well as add-teamuser it is now working as expected in 0.9.6. A user, when set as owner, is showing up as a member as well while using both the cmdlets. let us know if you still have issues, we may need to take the support route if it isnt working for your tenant.

[2019-02-12 18:56] msbemba commented on #511
@mrpullen The cmdlet in question Disables the hub site feature on a site so that it is no longer a hub site. Associated sites may still appear associated for up to an hour. If you want to speed up the process, use the Remove-SPOHubSiteAssociation cmdlet to remove the associated sites first.

Please refer to https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/unregister-spohubsite?

[2019-02-12 19:34] msbemba commented on #1589
Created PR#https://github.com/MicrosoftDocs/office-docs-powershell/pull/2791 to make the correction on doc.

[2019-02-12 20:33] AzureGuineaPig opened #2792 "BlockUrls Parameter instructions wrong"
Written as: The BlockUrls parameter specifies the URLs that are always blocked by Safe Links scanning. You can specify multiple values separated by semicolons.

Correction to be made: You can specify multiple values separated by commas.

Using semicolons does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f98

[2019-02-12 21:42] dariomws306 commented on #1883
PR:
https://github.com/MicrosoftDocs/office-docs-powershell/pull/2767

[2019-02-12 21:43] dariomws306 commented on #1884
PR:
https://github.com/MicrosoftDocs/office-docs-powershell/pull/2767

[2019-02-12 21:44] dariomws306 commented on #1740
PR:
https://github.com/MicrosoftDocs/office-docs-powershell/pull/2773

[2019-02-12 21:44] dariomws306 commented on #1705
PR:
https://github.com/MicrosoftDocs/office-docs-powershell/pull/2784

[2019-02-12 21:45] dariomws306 commented on #1665
PR:
https://github.com/MicrosoftDocs/office-docs-powershell/pull/2786

[2019-02-12 22:12] dariomws306 commented on #2484
I am updating the description of these parameters:
https://github.com/MicrosoftDocs/office-docs-powershell/pull/2793

[2019-02-12 22:32] Christian-Stahl opened #2794 "A way to hide one or more specific themes"
As my understanding we can hide all default themes, what's about to just hide one or more specific themes by it's name? In my case I want to create let's say four custom themes + keep four of the default themes. Well I can copy the JSON from defaults I want to keep, and make custom out of them, but I do think it would be a nice option to hide the themes I don't want that my users should use.

---

[2019-02-12 23:14] #2138 closed

[2019-02-12 23:16] #1755 closed

[2019-02-12 23:16] #1733 closed

[2019-02-13 00:23] chrisda commented on #2792
@AzureGuineaPig, OK I fixed it as you described.

Thanks for the feedback.

[2019-02-13 00:23] #2792 closed

[2019-02-13 04:41] odd-mithril commented on #2637
Does the error message contains "D:\a\_work\202\s\BVD\CBD\DataAccess\Operations\AppEndpointOperations.cs"

[2019-02-13 11:30] yogkumgit commented on #1733
@rjacob60   Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

User Voice Link: https://office365.uservoice.com/forums/264636-general/suggestions/32392399-exceed-the-results-li

[2019-02-13 11:36] yogkumgit commented on #1875
@rayterrill   Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

User Voice Link: https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/9613035-powershell-

[2019-02-13 12:44] HenrikBernhard opened #2799 "incorrect powershell"
Get-Mailbox | where {$.RetainDeletedItemsFor -gt '14.00:00:00'}.
should be
Get-Mailbox | where {$_.RetainDeletedItemsFor -gt '14.00:00:00'}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce35226-b40b-3c9f-a37f-585b84aa129e
* Version Independent ID: ac9953e2-769a-c115-b1c6-e6f6fc940db2
* Content: [Filterable properties

[2019-02-13 16:49] rjacob60 commented on #1733
Hi @AndreaBarr  - why is this closed?  I think the part that is missing is that the truncation is causing the creation of an invalid json string.  100% OK to truncate values within the the json, but the end result should always be a valid json.  Maybe I'm missing something?  I'm 100% OK with truncation as long as the output is still valid.

[2019-02-13 17:09] kenwith commented on #1733
@rjacob60 - this repository is for the documentation and as the thread above pointed out the documentation already points to the correct location to describe this behavior. The product teams look at User Voice (link above) for issues and suggestions for the product itself. Hope that explains and thanks for taking the time to surface issues you find. Any documentation issues please open here so we

[2019-02-13 17:29] chrisda commented on #2776
@cammurray, I worded my way around it (technically accepts multiple values but doesn't). Thanks for the feedback.

[2019-02-13 17:29] #2776 closed

[2019-02-13 17:45] chrisda commented on #2799
@HenrikBernhard, the topic was correct in raw markdown, but markdown was treating the unescaped underscore character as an underline formatting indicator, and I found many other instances of this. I escaped the underscore character ( \\\_ instead of \_ ), so it should be OK now.

Thanks for the feedback.

[2019-02-13 17:45] #2799 closed

[2019-02-13 18:38] #2102 closed

[2019-02-13 18:38] #2115 closed

[2019-02-13 18:39] #1875 closed

[2019-02-13 18:39] #2484 closed

[2019-02-13 19:35] Chris-2020 opened #2801 "Typo - Sentence under Description about Permissions"
The second point under Description has a typo in it. "You must have the SharePoint Online global administrator permission to run the cmdlet." It should read "SharePoint Online Administrator or Global Administrator"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c17eed23-057f-b4bf-6dcb-89cbee07f912
* Version Independent

[2019-02-13 19:53] ravick4u opened #2802 "Is there a way we can update existing webpart"
Is there a way we can update existing web part? or do we have a PowerShell command which updates existing web part?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bffb6769-cd46-08c6-2685-bf81ae5023ef
* Version Independent ID: a58bc279-47f9-86b7-9709-19a8c210dcfb
* Content: [Add-PnPWebPartToWebPartPage (sharepoint-pnp)]

[2019-02-13 20:23] kenwith commented on #1831
@get-itips - can you let us know if there is an associated Pull Request (PR) for this one? Really great work. @Petri-X - thanks for taking the time to report this and get this figured out. This is a great example of your collaborative efforts making the content better for the community!

[2019-02-13 20:46] get-itips commented on #1549
Hi @patrickabel thanks for sharing feedback! we really appreciate it

As this repo is for documentation issues, to verify if we needed to add some clarification to Add-SPOSiteDesign and Set-SPOSiteDisegn docs, I had set up a lab to test this that you commented and I did not experience the same, I had set the **IsDefault** Property to True and I was still able to select that design from the availab

[2019-02-13 21:25] get-itips commented on #1831
Created a PR to clarify this on the doc.
Thank you @kenwith @Petri-X

[2019-02-13 21:40] kenwith commented on #1831
awesome, thanks! would you mind pasting the link to the PR in here and GitHub will automatically cross reference. Or you can also paste the link to this issue in the PR and GitHub will mention in here automatically.

[2019-02-13 21:44] get-itips commented on #1831
That was what I did ;) it's referenced in the PR and was cross ref here.

---- On mié, 13 feb 2019 18:40:59 -0300 notifications@github.com wrote ----

awesome, thanks! would you mind pasting the link to the PR in here and GitHub will automatically cross reference. Or you can also paste the link to this issue in the PR and GitHub will mention in here automatically.

—
You are receiving this because

[2019-02-13 21:46] kenwith commented on #1831
oh I see it now! 👍

[2019-02-13 22:22] m3ch-mania opened #2804 "Optional parameters missing description"
Some of the optional parameters (such as ClientAdalAuthOverride) are missing a description and instead have filler text such as "{{Fill ClientAdalAuthOverride Description}}"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b940ec3-fba8-8b31-48b2-76092639d4c5
* Version Independent ID: e33808fa-72f8-5b61-2a30-7da4ac2dffc4

[2019-02-13 23:03] kingtamara opened #2805 "Method not found"
I'm currently trying to use the Add-PNPNavigationNode cmdlet to populate my navigation in the top nav bar.

I keep getting this error when I try to add new nodes under an existing one.

"Add-PnPNavigationNode : Method "GetNodeById" does not exist."

[2019-02-14 08:21] janis-veinbergs opened #2807 "Install-Module SharePointPnPPowerShell2019"
Under Installation, SharePoint 2019 module installation should be listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-57d53d313c6f
* Content: [| Microsoft Docs](https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-pnp

[2019-02-14 09:36] Markus-Hanisch opened #2809 "Wrong LCID in EXAMPLE 6 of New-PnPSite documentation"
Hello,
the Lcid 1044 in EXAMPLE6 set the default language to Norwegian - Bokml (Lcid 1044) not Italian (Lcid 1040).
Source: [https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/new-pnpsite?view=sharepoint-ps](url)

May replace the Lcid in the following Cmdlets as follows:
`New-PnPSite -Type CommunicationSite -Title Contoso -Url https://tenant.sharepoint.com/sites/contoso -Lcid 1040`

[2019-02-14 11:22] Weishaupt opened #2810 "Product Feedback for SharePoint-PnP links to this repository"
[This site](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/connect-pnpmicrosoftgraph?view=sharepoint-ps) links to the office-docs-powershell repo.

I guess it should link to https://github.com/SharePoint/PnP-PowerShell/issues instead?

[2019-02-14 12:39] Weishaupt opened #2811 "Wrong description for Example 5"
Example 5 claims that it will add demo@contoso.com as an *additional* owner to the group.

In oppose the documentation for the parameter `-Owners` states: The array UPN values of owners to set to the group. *Note: Will replace owners.*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c7c0144-3d70-5812-617f-3ab914aca3eb

[2019-02-14 13:43] yogkumgit commented on #1886
@dariomws306  Thank you very much for the contribution and sharing this explanation. @toxarisswe
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-14 13:51] yogkumgit commented on #1784
@dariomws306  Thank you very much for the contribution and sharing this explanation. @jfrancis2
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-14 13:55] yogkumgit commented on #1760
@dariomws306  Thank you very much for the contribution and sharing this explanation. @MichaelMc64
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-14 14:15] yogkumgit commented on #1687
@dariomws306  Thank you very much for the contribution and sharing this explanation. @Borkason
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-14 14:31] yogkumgit commented on #1623
@dariomws306  Thank you very much for the contribution and sharing this explanation. @raymondlittle100  Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-14 15:30] ravick4u opened #2812 "Content type is read only"
I got an error when I try to remove a content type from the list.

Remove-PnPContentTypeFromList : The content type "&lt;mycontnettype&gt;" at "/&lt;mymanagedpath&gt;/&lt;mysite&gt;/&lt;mylist&gt;" is read only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4c7ee0d-9f58-e62f-4d12-55aaf5eace53
* Version Independent ID

[2019-02-14 21:20] #1831 closed

[2019-02-14 21:21] #1623 closed

[2019-02-14 21:21] #1665 closed

[2019-02-14 21:21] #1687 closed

[2019-02-14 21:22] #1705 closed

[2019-02-14 21:22] #1725 closed

[2019-02-14 21:22] #1740 closed

[2019-02-14 21:22] #1760 closed

[2019-02-14 21:41] #1784 closed

[2019-02-14 21:41] #1883 closed

[2019-02-14 21:42] #1884 closed

[2019-02-14 21:42] #1886 closed

[2019-02-14 21:42] #1575 closed

[2019-02-14 21:42] #1589 closed

[2019-02-14 22:58] repton-infinity opened #2815 "CompatibilityLevel flag is missing a description"
CompatibilityLevel flag is missing a description

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d922a32-981c-8e08-9359-b7f5e21b1aa4
* Version Independent ID: a0f9af58-42af-202c-10f3-dbb09b17595e
* Content: [Install-SPSolution (sharepoint-server)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/ins

[2019-02-15 09:30] Arcass opened #2816 "Example of how to update Allowed list"
Hi,
Would be helpful to include an example of how to update the allowed list as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8d01537-2e7a-b4d2-1cd8-d23070112dc6
* Version Independent ID: 52dc0d21-6d06-2a75-a801-8befbbb0eadc
* Content: [New-CsEdgeAllowList (skype)](https://docs.microsoft.com/en-us/powershell/mo

[2019-02-15 09:36] ramonabadea opened #2817 "Commands not working as expected"
Hi guys,

Could someone please review thes command and see if they are still up to date/working properly?
 For the property -ShowPeoplePickerSuggestionsForGuestUsers when used with Set-SPOSite (and also with Set-SPOTenant) the results are not working as expected.

Looking forward for your actions!!
Best regards,
Ramona

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-02-15 09:59] ramonabadea opened #2818 "Command not working as expected with some properties"
Hi guys,
Could someone please review these commands and see if they are still up to date/working properly?
I have used the following and they're not working as expected:
Set-SPOTenant -SearchResolveExactEmailOrUPN $true
Set-SPOTenant -UseFindPeopleInPeoplePicker $true
Set-SPOTenant -ShowPeoplePickerSuggestionsForGuestUsers $true
Please also add the proper documentation for all commands as for exam

[2019-02-15 10:01] rolleddice opened #2819 "New-Team -Group fails when providing GroupId"
When trying to convert a Group to Teams the documentation states that I should specify the GroupId in this parameter. When doing this I get an error

New-Team -Group &lt;GroupID&gt;

New-Team : Error occurred while executing
Code: ItemNotFound
Message: Failed to execute MS Graph backend request GetGroupInternalApiRequest. The server failed to respond correctly. Response Code: NotFound, Reason: Rea

[2019-02-15 10:56] yogkumgit commented on #1719
@msbemba  Thank you very much for the contribution and sharing this explanation. @kf4ape
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-15 10:59] yogkumgit commented on #1605
@msbemba  Thank you very much for the contribution and sharing this explanation. @fredericklin
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-15 11:01] yogkumgit commented on #511
@msbemba  Thank you very much for the contribution and sharing this explanation. @mrpullen
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-15 11:46] yogkumgit commented on #1653
@ChrisMagnuson   Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

User Voice Link: https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/33378199-ise-sup

[2019-02-15 12:00] Josh9001 opened #2820 "Why can nobody make a good search function except google, and even they aren't good at it anymore."
![ms search](https://user-images.githubusercontent.com/47663530/52855419-400c4480-3119-11e9-9e3f-971caaf0e8fd.png)

[2019-02-15 12:01] Josh9001 commented on #2820
"No results", even though I'm on the goddam page, had to search google to find it mind you, even though it was there the whole time.

[2019-02-15 12:01] yogkumgit commented on #1673
@psykokwak4   Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

User Voice Link: https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/36860689-new-policy

[2019-02-15 12:04] yogkumgit commented on #1691
@carlossanlop   Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

User Voice Link: https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/34912696-adding-e

[2019-02-15 12:27] ramonabadea opened #2821 "Command does not work as expected"
Hi all,

I have this question, first of all: for the Identity parameter in the first example, where would we get the ID of the item if it is deleted (I want to refer here to the Audit Log)?

Could you please inform, if possible, where would one find the item ID after it's deleted in the Audit Log of the deletion event (assuming we can't see the item in the Deleted Items in the RB - possible scenar

[2019-02-15 14:40] cbadouin opened #2822 "Add-PnPClientSideText adding html code not parsing base64 encoded images"
Hi all,

I am trying to create new pages in SharePoint Online with the command **Add-PnPClientSideText** and successfully inserted html code with the **text parameter** like _Add-PnPClientSideText -text <html code>_. Now I am also trying to insert images which are base 64 encoded, e.g.
`<img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0D

[2019-02-15 15:01] seaSide974 opened #2823 "List of -Type"
Please could we have a list of possible value for the field type ?
-Type Choice
-Type Text
etc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b38e3d82-0583-ad60-4cac-6407ce43615c
* Version Independent ID: e114139d-1dad-eecd-fe0e-29f834096d7c
* Content: [Add-PnPField (sharepoint-pnp)](https://docs.microsoft.com/en-us/po

[2019-02-15 15:06] get-itips commented on #1454
Hi @waaromikniet
Thanks for your feedback and finding this out! we appreciate it.
Values for Scope had been updated after you created this issue https://github.com/MicrosoftDocs/office-docs-powershell/commit/f25a56c0dfe2a5cdd32597ef42e2757e1dc60cd7#diff-6e03e1e61242e6303d6ac3b57e94da45 to match to those of Set-SPAppPrincipalPermission

[2019-02-15 15:12] get-itips commented on #1101
Hi @NetDesignIT Thanks for your feedback and suggestion!

Document has been updated after you created this issue, please see

https://github.com/MicrosoftDocs/office-docs-powershell/commit/22fe807866caeb4630290b3ae946e7c0d1aff0ed?diff=split

Hope this clarifies how the new site script is referenced.

Thank you

[2019-02-15 15:24] JeanNetryValere opened #2824 "Missing Event"
Hi, it seems there is a missing event switch parameter for "Opening or downloading documents, viewing items in lists, or viewing item properties". Many thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce3e7e39-d315-4843-4af4-57c5040d509f
* Version Independent ID: 7e61202d-4b8c-3018-b161-f99890cc7724
* Content: [Se

[2019-02-15 16:35] get-itips commented on #1608
Hi @umaknow-alain thanks for your feedback and suggestion.
I can confirm both Sharepoint Site and Office 365 Group will be deleted as part of running this cmdlet
Will update the documentation to reflect this.
Thank you

[2019-02-15 17:24] #1691 closed

[2019-02-15 17:25] #1673 closed

[2019-02-15 17:25] #1653 closed

[2019-02-15 17:25] #511 closed

[2019-02-15 17:26] #1605 closed

[2019-02-15 17:26] #1719 closed

[2019-02-15 17:35] fredericklin commented on #1605
@msbemba @yogkumgit @AndreaBarr Thank you!

[2019-02-15 17:36] chrisda commented on #2789
@Ful56uk, what topic or context are we talking about? You are correct in that the RecipientType and/or RecipientTypeDetails parameters on the Get-Mailbox, Get-Recipient, and Get-User cmdlets use the value UserMailbox.

[2019-02-15 17:53] #2478 closed

[2019-02-15 18:13] Ful56uk commented on #2789
Hi

This page with the example

https://docs.microsoft.com/en-us/powershell/module/exchange/email-addresses-and-address-books/new-addresslist?view=exchange-ps

[2019-02-15 22:03] chrisda commented on #2449
@ServerCare , sorry, I kind of lost track of this, and I kept confusing CustomAttribute X with ConditionalCustomAttributeX (I know the difference; it was just me). So the rest of my comments are about definitely about ConditionalCustomAttributeX.

I updated the descriptions to an extent, but not exactly everything you asked for:

Each parameter description is supposed to be self-contained, althoug

[2019-02-15 22:03] #2449 closed

[2019-02-15 22:12] chrisda commented on #2789
@Ful56uk, thanks. I fixed it.

[2019-02-15 22:12] #2789 closed

[2019-02-18 11:30] yogkumgit commented on #1589
@msbemba Thank you very much for the contribution and updating the documentation with PR. @roberthstrand  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-02-18 11:31] yogkumgit commented on #1575
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @AndyTuke  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-02-18 11:44] yogkumgit commented on #1740
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @pschaeflein  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-02-18 11:46] yogkumgit commented on #1725
@dariomws306  Thank you very much for the contribution and sharing this explanation. @JereckNET
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-02-18 11:48] yogkumgit commented on #1705
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @chrislehr  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-18 12:15] yogkumgit commented on #1831
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Petri-X  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-18 16:09] get-itips commented on #1528
Hi @mlletech thanks for your comments and suggestion!
Definitions for the event types had been added to the document that @mimi-msft pasted here.
@yogkumgit I think we can close this now.

Thank you!

[2019-02-19 10:19] matteosabbatini opened #2833 "Parameter "DefaultMeetingDuration""
Hello, I noticed that no matter which value we set for the parameter "DefaultMeetingDuration", the default duration of a new meeting depends on the time scale the mailbox has set on its Outlook or OWA calendar.
So, e.g., a mailbox has a time scale of 15 minutes on its Outlook calendar and a value of 30 for "DefaultMeetingDuration", when creating a new calendar appointment/meeting the duration show

[2019-02-19 11:50] dariomws306 commented on #1657
Hi @dinocaputo , do you think we should update this doc?

I think if -Tenant works for all versions it's a good idea to leave it as it is.

Thank you.

[2019-02-19 12:16] yogkumgit commented on #2769
@christiangomez92  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

[2019-02-19 12:30] yogkumgit commented on #1300
@Lady-MCSE   Thank you very much for your kind feedback. Considering your valuable feedback, we have logged this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

User Voice Link: https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/17485486-provide-fea

[2019-02-19 12:56] yogkumgit commented on #1596
@kenwith after reserch @get-itips says:
New-CsRegistrarConfiguration
Has two param values that lack documentation
WinFabMaxLogsSizeMb
I understand it belongs to Windows Fabric and a possible description could be the maximum log file size in Mb, please confirm.
the other is UserCertificateReplicationThreshold
It's obviously referencing the user certification but we need more information to write a

[2019-02-19 12:59] yogkumgit commented on #1549
@get-itips  Thank you very much for the contribution and sharing this explanation. @patrickabel
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-19 13:02] yogkumgit commented on #1528
@get-itips and @mimi-msft  Thank you very much for the contribution and sharing this explanation. @mlletech  Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-19 13:12] yogkumgit commented on #1454
@get-itips  Thank you very much for the contribution and sharing this explanation. @waaromikniet
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-02-19 13:13] yogkumgit commented on #1101
@get-itips  Thank you very much for the contribution and sharing this explanation. @NetDesignIT
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2019-02-19 13:14] get-itips commented on #1089
Hi @mganeshphani thanks for your comments, as @tseward said users and groups are stored at SC level, I confirm you can not use Get-SPOUser to retrieve the list of users in a subsite. I think you need to explore other possibilities like CSOM. Hope this info guides you in the right direction.
@yogkumgit I think we can close this now.

[2019-02-19 13:41] dinocaputo commented on #1657
I guess there is no update required since both -Tenant and -TenantID work.  I still think the there is confusion between the set and the get version of the cmdlets however...  If the PG agrees then they can make the decision to update the cmdlets or the docs.

[2019-02-19 14:06] get-itips commented on #1465
Hi @cgeising thanks for your comments, we really appreciate them.
Took the time to test this in my lab.
CreationTime is, as the doc you referenced says, a DateTime property, and the difference you are seeing with the OWA timestamp probably is because DateTime property shows the time in GMT/UTC and OWA shows the time based on user selection in OWA settings.
Hope this information is useful and respo

[2019-02-19 14:49] fbehrens commented on #1668
@chrisda  Thanks for answer. The syntax is correct. It would be helpful to mention this in the parameter help of the [command](https://docs.microsoft.com/en-us/powershell/module/exchange/users-and-groups/get-unifiedgroup?view=exchange-ps#optional-parameters)

[2019-02-19 14:55] Lady-MCSE commented on #1300
Thank you for the update.  My suggestion was more about the documentation than about a feature change.  The documentation currently states that the -owner switch "Specifies the user name of the site collection’s primary owner. The owner must be a user instead of a security group or an email-enabled security group." This statement as written is true, however I would still suggest changing "user nam

[2019-02-19 15:47] yogkumgit commented on #1300
@Lady-MCSE Thank you very much for your comment. I will get it reviewed again and update here.

[2019-02-19 18:49] #2769 closed

[2019-02-19 18:49] #1610 closed

[2019-02-19 18:50] #2729 closed

[2019-02-19 18:51] #1608 closed

[2019-02-19 18:51] #1549 closed

[2019-02-19 18:52] #1528 closed

[2019-02-19 18:52] #1454 closed

[2019-02-19 18:53] #1101 closed

[2019-02-19 19:41] #2417 closed

[2019-02-19 19:41] #2418 closed

[2019-02-19 19:41] #2416 closed

[2019-02-19 19:41] #2367 closed

[2019-02-19 19:41] #2272 closed

[2019-02-19 19:42] #1902 closed

[2019-02-20 02:04] dariomws306 commented on #1662
Hi @MichaelMc64 , thank you for your feedback. I am working on it.

Let me try to get more information about C1, C2 and C3 properties.

[2019-02-20 11:09] dahager opened #2840 "Optional Parameters Missing"
Optional Parameters Missing:
like -AllowRemoveUser

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c1fc1a-c9b4-a9bc-47c4-7cd3488fece7
* Version Independent ID: 8102a7bb-e0ef-0f8b-b9b8-67a45ecf076f
* Content: [New-CsTeamsMessagingPolicy (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/new-csteamsmessag

[2019-02-20 11:50] MBeukers commented on #1608
How long will it take for the Team Sharepoint Site to be removed?
Is this a couple of hours or days?

[2019-02-20 12:03] get-itips commented on #197
Hi ! Thanks for your comments, we really appreciate them.
Synopsis and Description has been added after you opened this issue. Thank you!

[2019-02-20 13:07] get-itips commented on #1608
Hi @MBeukers in my tests it took a couple of minutes. Hope this info is useful to you.

[2019-02-20 13:51] MBeukers commented on #1608
Hi, After 2 hours the site was gone.

[2019-02-20 15:43] jordonthreadgill opened #2842 "Two Broken Settings Descriptions | BookingSocialSharingRestricted and BookingPaymentsEnabled"
![bug](https://user-images.githubusercontent.com/47824787/53103819-e1b5dc00-34f3-11e9-8365-25c061bb5ec3.PNG)
![bug2](https://user-images.githubusercontent.com/47824787/53103820-e24e7280-34f3-11e9-856d-3400b0d02838.PNG)

These two sections aren't loading their content descriptions.

[2019-02-20 16:13] get-itips commented on #2344
Hi @mirkub2 thanks for your comments and suggestion.

As the link you referenced, running this cmdlet now gives a message suggesting you need now to use Centralized Deployment cmdlets. https://docs.microsoft.com/en-us/office365/enterprise/use-the-centralized-deployment-powershell-cmdlets-to-manage-add-ins#add-or-remove-users-from-an-add-in

 If you need the app to be applied to every user in the O

[2019-02-20 16:49] get-itips commented on #2224
Hi @michevnew thanks for your comments and suggestions! We really appreciate them.

It's true that Get-CsAdminRole is not present in SFBO, I'll update the documentation to reflect this.

Answering your question, you need to be a Skype For Business Admin to run Get-CsUserSession, you could also run that command using other roles that include it, please see https://docs.microsoft.com/en-us/office365

[2019-02-20 17:04] j0rt3g4 commented on #2220
Thank you very much for reporting this query @mike-yam .
I agree that you will get the information you want using the @midiman369 code.

Additionally you can get the output on CSV or Html format,

[code]

[code]
This will create an  HTML  file on the Desktop of the current user with the name "TeasUpgrade.html"

[2019-02-20 18:46] get-itips commented on #1386
Hi @GaetanLongree how are you? thanks for your suggestion, could you please be more specific on the information you want to be in the documentation for that cmdlet?

Thanks

[2019-02-20 21:41] grandpappy1224 opened #2848 "Missing Examples"
Examples section has not been filled out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49fd66d7-4607-7c61-2d7d-ff71272c587c
* Version Independent ID: 77d487a4-b22c-49d1-123b-4c07f45eaa57
* Content: [Invoke-ComplianceSearchActionStep (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchange/policy-and-co

[2019-02-21 00:43] DeanGross opened #2850 "Required Permissions"
What permissions (roles) are required to run these cmdlets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa03f9b8-7a1f-81e7-e8c2-0286f0cd3ffb
* Version Independent ID: 931924d1-2be2-bc20-41a6-0b86fc65db07
* Content: [Microsoft Teams cmdlet reference](https://docs.microsoft.com/en-us/powershell/teams/intro?view=teams-

[2019-02-21 00:46] dariomws306 commented on #2410
Hi @terrogin ,

Thank you for your feedback.

I have asked and it shouldn't return data beyond the 7 days. Could you kindly open a support ticket so product group can follow up on this problem?

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information you are disc

[2019-02-21 00:46] DeanGross opened #2851 "Credential permissions"
What type of permissions (role) are required to use the Connect cmdlet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ee082c9-735d-3f8a-7bc4-b2d4f175c784
* Version Independent ID: 50e0366c-46b0-71da-b6f6-f422adaad785
* Content: [Connect-MicrosoftTeams (teams)](https://docs.microsoft.com/en-us/powershell/module/teams/

[2019-02-21 06:34] msbemba commented on #235
@tomresing Thank you for the feedback. The Placeholder text's have been replaced with accurate information pertaining to the document.

Thank you for reporting and making the docs better.

[2019-02-21 06:46] msbemba commented on #2284
Added an example Cmdlet to the doc which illustrates how to revert changes made to a single user., thus inheriting the tenant setting. Created PR # https://github.com/MicrosoftDocs/office-docs-powershell/pull/2854

[2019-02-21 08:47] GaetanLongree commented on #1386
This dates back from when I was working on a project that needed an automated method of moving subsites between sites on SharePoint Online.

As my original description states, the documentation at the time was not complete and did not provide enough information on the function/features, scope and uses of this command.

Since I'm no longer working on the project, I can't elaborate further on the fo

[2019-02-21 10:49] nramouche opened #2855 "Typo issue on the TrustedMailOutboundEnabled"
Minor correction expected to the description section since it show TrustedMailInboundEnabled instead of TrustedMailOutboundEnabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a59cfe39-9c00-1a50-be14-0d8e58754529
* Version Independent ID: c8c00bed-da63-654e-d44f-6c83d967821e
* Content: [Set-RemoteDomain (exchange)](h

[2019-02-21 11:01] samyaktelsang commented on #2447
Thanks @RobinDijkstra . I have been using [UpdatePnP-App ](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/update-pnpapp?view=sharepoint-ps)command let. Tried it once again to confirm the above behavior. I still find the 'Get It' displayed in the catalog.

[2019-02-21 11:26] yogkumgit commented on #2410
@terrogin  Thank you very much for posting this issue. Considering the nature of the issue, as Dario advised, please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

[2019-02-21 12:35] yogkumgit commented on #1501
@Techwriter40 Can you please confirm that comment given by a user is right? Some users are creating issues on this documentation saying it's contradictory.

[2019-02-21 12:39] yogkumgit commented on #1465
@get-itips  Thank you very much for the contribution and sharing this explanation. @cgeising
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-21 12:43] yogkumgit commented on #1089
@get-itips  Thank you very much for the contribution and sharing this explanation. @mganeshphani
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-21 12:45] yogkumgit commented on #197
@get-itips  Thank you very much for the contribution and sharing this explanation. @VesaJuvonen
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-21 12:49] yogkumgit commented on #1501
@Techwriter40 Can we confirm this is right? Some users are creating issues on this documentation saying it's contradictory.

[2019-02-21 13:32] get-itips commented on #1386
Hi @GaetanLongree Exactly, documentation at the time was different, now it's more complete about function and features. Thanks!

[2019-02-21 13:56] yogkumgit commented on #235
@msbemba  Thank you very much for the contribution and sharing this explanation. @tomresing
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-21 15:46] BrianMcNeese opened #2857 "Missing Parameter"
The parameter 'EnableUdcLite' and its description are missing. Can we get it added to the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f39f89-35c5-d98e-d37d-ae6e44c7a8ba
* Version Independent ID: 4b62010f-bb47-5754-1d8e-79f1e2772d6d
* Content: [Set-CsCdrConfiguration (skype)](https://docs.microsoft.c

[2019-02-21 17:47] chrisda commented on #2855
@nramouche, OK. Fixed.

[2019-02-21 17:47] #2855 closed

[2019-02-21 18:13] Techwriter40 commented on #1501
@tklarsen Tone, can you please review the comment by Yogkumgit and verify the accuracy of the PerformanceLevel parameter?  There seems to be some contradictory and need clarity.  Thanks.

[2019-02-21 18:22] msbemba commented on #2715
@mrft Thank you for your feedback. The microsoft powershell document's are created to  understand how a cmdlet syntax is used and we try to provide examples as much as possible, rather than the output value as it differs from client to client. Having said that this document that you are referring to "https://docs.microsoft.com/en-us/powershell/module/exchange/users-and-groups/get-unifiedgrouplinks

[2019-02-21 18:33] msbemba commented on #2495
@hugoabernier Thank you for your feedback. This document covers the usage of the cmdlet Start-SPMTMigration using basic authentication as there is no specific Microsoft.SharePoint.MigrationTool.PowerShell module available for 2FA at the moment. Having said that,  the work around provided by @nbalauro should helpful as you can skip supplying credentials when you invoke "Register-SPMTMigration" whic

[2019-02-21 20:28] #1465 closed

[2019-02-21 20:29] #1089 closed

[2019-02-21 20:29] #197 closed

[2019-02-21 20:30] #235 closed

[2019-02-21 20:39] msbemba commented on #2404
@rpodric Thank you for your feedback. It is by design that When you use the Exchange Online Remote PowerShell Module, your session will end after one hour and you will have to reauthenticate using your 2fa credentials to connect again. The document also talks about another option  to avoid this issue, which is to  use Trusted IPs to bypass MFA for connections from your intranet, Trusted IP's can b

[2019-02-21 23:59] student-forever commented on #1671
@AndreaBarr I just wanted to check in and confirm if there are any updates on the sprint plan you specified for the backlog in Powershell team. I know I would appreciate any reference number or case number for the said sprint plan, along with an approximate ETA.

[2019-02-22 00:05] kenwith commented on #1671
@student-forever - there is no item in backlog for the document. I think it was a miscommunication. The item for this feature request is in the User Voice link posted above. The product teams keep track of feature requests in User Voice. We are just focused on the content help here.

[2019-02-22 06:31] rpodric commented on #2404
@msbemba

1) Why is it then that for the first few months of my use of Exchange Online Remote PowerShell Module that the authentication was cached (note that this isn't in reference to the hour time-out but the ability to run it from day to day without re-authenticating every single time)?  However I did it before, it was purely by accident, and I have no idea how to do it again.

BTW, I don't hav

[2019-02-22 14:31] wy62 opened #2867 "Creating duplicate site does not throw error"
When using New-PnPSite to create a site collection in SharePoint Online, if a site collection with the same URL already exists no error is thrown or message provided to say this. It simply returns the URL that was provided in the URL parameter and it looks like (from the SharePoint Admin Center) no site is created.

I would expect an error to be thrown. Tested this when attempting to create commun

[2019-02-22 15:02] CraigUpic opened #2868 "AdminDisplayName"
Set-AtpPolicyForO365 is missing the ability to add an "AdminDisplayName" like Set-AntiPhishPolicy does via the -AdminDisplayName switch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f989bf3c-3ed0-3dc2-3e9e-4643c85eec9f
* Version Independent ID: c14642cb-4623-8f30-cf51-6b8176a6893a
* Content: [Set-AtpPolicyForO365 (exc

[2019-02-22 15:11] michevnew opened #2869 "DataMoveReplicationConstraint description"
The description of the DataMoveReplicationConstraint parameter is missing details on the AllDatacenters value, can you please add those? And any others that are missing :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38ab3da9-9d7a-449d-e689-0a21dda73dda
* Version Independent ID: 583a1b9c-1c90-150c-fef7-f3d63e317ae3
*

[2019-02-22 15:11] CraigUpic opened #2870 "EnableSafeLinksForO365Clients"
Unable to use Set-AtpPolicyForO365 -EnableSafeLinksForO365Clients &lt;$true | $false&gt; as it does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f989bf3c-3ed0-3dc2-3e9e-4643c85eec9f
* Version Independent ID: c14642cb-4623-8f30-cf51-6b8176a6893a
* Content: [Set-AtpPolicyForO365 (exchange)](https://docs.micr

[2019-02-22 17:35] CarlLee165 commented on #1300
Hi all, I also experienced the issue with -Owner but I'm struggling with the New-SPOSite commandlet not passing the -Title parameter. All of my sites are getting created with "<OurOrganizationName> Team Site" as their title and not the text we provided.

[2019-02-22 17:37] #2220 closed

[2019-02-22 17:37] #2107 closed

[2019-02-22 17:37] #2284 closed

[2019-02-22 18:07] chrisda commented on #2868
@CraigUpic, that's correct.

[2019-02-22 18:07] #2868 closed

[2019-02-22 18:12] #2815 closed

[2019-02-22 18:28] j0rt3g4 commented on #1325
Hi @DeanGross  Sorry for the delayed answer.
I'm hitting base with your basically to know what part do you think it requires more work?
I mean specifics parts like examples, description, etc. We'll be glad to help with those.

[2019-02-22 18:49] msbemba commented on #2404
@rpodric Thank you for the explanation. It is by design that the module session will end after one hour and you will have to re-authenticate using your credentials. While I understand that this worked for you before, we would really appreciate if you could contact the support team for your o365 tenant and let us know if there is any change that is required in this document. Thanks again for bringi

[2019-02-22 18:56] rpodric commented on #2404
@msbemba Please re-read what I wrote. I made a point to emphasize that I'm not referring to the hour time-out.

I'm referring to the need to supply a password every single time the product is used. Maybe @povlhp can shed some light on this, since above he alluded to knowing how to re-establish trust (what I referred to as caching).

[2019-02-22 19:00] k33bz commented on #2694
Add-ADGroupMember supports an array for adding multiple users as shown in the documentation as:   [-Members] <ADPrincipal[]>
With that in mind, Add-TeamUser only takes in a string, not an array. According to this documentation, you would need to put Add-TeamUser in an array.
To change that behavior you can submit feedback at https://microsoftteams.uservoice.com

[2019-02-22 22:36] chrisda commented on #2869
@michevnew, are we talking about Exchange 2016?

I ran the command `Get-MailboxDatabase | Set-MailboxDatabase -DataMoveReplicationConstraint` with a junk value, and the error returned these possible values:

None
AllCopies
AllDatacenters
CIAllCopies
CIAllDatacenters
CINoReplication
CISecondCopy
CISecondDatacenter
SecondCopy
SecondDatacenter

I then tried CIAllCopies, and I got a different error sa

[2019-02-22 22:57] chrisda commented on #2870
@CraigUpic, did you mean EnableSafeLinksForClients? That parameter is available to me in an E5 tenant, and appears to work for me just fine. I can't find reference to an EnableSafeLinksForO365Clients parameter on any cmdlet in Exchange.

[2019-02-23 07:38] michevnew commented on #2869
Much better now, thank you. AllDatacenters should be available on 2013+ though, no? My 2019 box is a a standalone server so I cannot confirm it actually accepts this as valid value, but it should be, for example it's mentioned here: https://docs.microsoft.com/en-us/exchange/high-availability/manage-ha/manage-database-copies?view=exchserver-2019#effect-of-mailbox-moves-on-continuous-replication

Sa

[2019-02-23 21:30] tseward commented on #2850
@DeanGross similar to the PnP cmdlets, these don't require a specific role. Any user may leverage them to manipulate objects they have rights over.

[2019-02-25 07:56] nextor11 opened #2880 "Small error"
In the examples section, example 1 shows a PowerShell command being run against mailbox julia@contoso.com, but the description of that example mentions a different mailbox, lila@contoso.com :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eb6d9af-d969-62f1-b40a-3ac95620b348
* Version Independent ID: 823d09f7-f638-23c

[2019-02-25 12:06] get-itips commented on #1608
Hi @MBeukers thanks for sharing what it took in your case, so we can say is that it will take a couple of hour max.
Thank you again.

[2019-02-25 12:49] rito2k opened #2881 "The parameter -Whatif is not being honored when used together with -Force for Invoke-CsComputerFailOver"
Executing "Invoke-CsComputerFailOver -Force -Whatif" will indeed trigger the Failover, so we have an incompatibility of using both parameters together, and it shall be noted in the documentation. Some sort of description like "-Force overrides the effect of the -Whatif parameter" shall be included.
Thinking the -Whatif use will be just giving information and describe the possible process is not ac

[2019-02-25 13:16] yogkumgit commented on #2404
@rpodric  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if you can sh

[2019-02-25 13:18] yogkumgit commented on #2495
@msbemba  Thank you very much for the contribution and sharing this explanation. @hugoabernier
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-25 13:20] yogkumgit commented on #2715
@msbemba  Thank you very much for the contribution and sharing this explanation. @mrft
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-25 13:55] get-itips commented on #2358
Hi @ebahsadmin how are you? Thanks for sharing feedback, we really appreciate it.
We will investigate if backfilling is done and the cmdlet returns all teams that a user is member of. Thank you

[2019-02-25 13:59] yogkumgit commented on #2344
@get-itips  Thank you very much for the contribution and sharing this explanation. @mirkub2
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-25 14:02] yogkumgit commented on #2224
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @michevnew  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-25 14:04] yogkumgit commented on #1386
@get-itips  Thank you very much for the contribution and sharing this explanation. @GaetanLongree
Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-25 16:11] #2715 closed

[2019-02-25 16:11] #2495 closed

[2019-02-25 16:12] #2404 closed

[2019-02-25 16:12] #2344 closed

[2019-02-25 16:13] #2224 closed

[2019-02-25 16:13] #1386 closed

[2019-02-25 16:16] chrisda commented on #2880
@nextor11, OK. Fixed. Be advised that you also have the power to fix these kind of issues directly in topics. For more information, see  https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md.

[2019-02-25 16:16] #2880 closed

[2019-02-25 16:26] rpodric commented on #2404
They're not going to have the slightest idea about something this fine-grained. It would be the waste of a week trying to explain it to them. I'll wait to hear back from @povlhp.

[2019-02-25 17:03] chrisda commented on #2869
@michevnew, 2013, 2016, and 2019 all have the same behavior: when you feed it a junk value, you get the first error that contains the most values. If you try the value AllDataCenters in 2016 and 2019, you get the second error that says the value has been deprecated, and shows the shorter list of accepted values.

2013 gives a different error for AllDataCenters that says you can't use that value be

[2019-02-25 17:03] #2869 closed

[2019-02-25 20:17] get-itips commented on #1300
Hi @Lady-MCSE Thanks for your comments and suggestion, we really appreciate them.
I tested in a lab, and I was able to confirm that use the Owner parameter works when the user account is mail enabled, but you need to specify user account name always, for example, if the user is jhealy@contoso.com but email address is joe.healy@contoso.com you will have to use jhealy@contoso.com as Owner parameter.

[2019-02-26 00:30] dariomws306 commented on #1657
I have added a note about this. You can check https://github.com/MicrosoftDocs/office-docs-powershell/pull/2886.

Thanks!

[2019-02-26 00:44] get-itips commented on #1596
Hi @yssky thanks, your suggestion improved the documentation as we added a description for the mentioned parameters.

[2019-02-26 00:58] dariomws306 commented on #1662
I have added some explanation about this.

Thanks!

[2019-02-26 07:15] msbemba commented on #2550
@LuigiBruno SharePoint site collection backup and restore is only supported for a maximum site collection size of 100 GB. For larger site collections, the complete content database must be backed up. If multiple site collections larger than 100 GB are contained in a single content database, backup and restore operations can take a long time and are at risk of failure.

[2019-02-26 09:24] OfficeGlobal commented on #1890
The article was HumanTranslated, PnP is displayed correctly

Best Regards,
Michal

[2019-02-26 13:49] greatwallx2 commented on #565
Is there any update on this? we are being impacted by this issue

[2019-02-26 14:34] get-itips commented on #2694
Hi @kpinel thanks for your comments, as @k33bz example says, currently there is no way to pass an array to Add-TeamUser, but you could create a for loop with it in the meantime. Also as @k33bz says, you could submit this idea to uservoice. Hope this information has helped you.

[2019-02-26 15:14] get-itips commented on #2634
Hi @rgsteele Thanks for your feedback! Actually, that parameters are present in Online Version so I created a PR to remove that from description. Thank you

[2019-02-26 15:45] get-itips commented on #2173
Thank you @Josverl for your suggestion, I created a PR to add a description for the referenced parameter.

[2019-02-26 15:54] yogkumgit commented on #1662
@chrisda Please merge this PR if you find it suitable.

[2019-02-26 15:54] yogkumgit commented on #1657
@chrisda Please merge this PR if you find it suitable.

[2019-02-26 16:09] CraigUpic commented on #2870
No actually mean EnableSafeLinksForO365Clients; from what I can tell maybe the value is always true?

[2019-02-26 16:30] CraigUpic opened #2894 "Get|Set-AtpPolicyForO365 -EnableSafeLinksForWebAccessCompanion <$True|$False?"
It appears that you cannot set the EnableSafeLinksForWebAccessCompanion property when using Set-AtpPolicyForO365. I have one tenant that has this set to $True somehow and the rest I'm seeing it's $False. Where does this property map to when using the Web UI and can this switch be added so that we can manage it?

[2019-02-26 16:34] CraigUpic commented on #2894
https://github.com/MicrosoftDocs/office-docs-powershell/commit/f8ac0ea19347127f6e60d12c592134b7a54b3743

I see this states it is for internal use but it doesn't explain why one tenant is true and the other is false. Does this switch tie to some UI element but not available via PowerShell?

[2019-02-26 17:06] CarlLee165 commented on #1300
Hi all,
Thank get-itips, I did some additional testing after my post and found my issue. It was related to the "Owner" not having an email address attached.

[2019-02-26 17:45] tklarsen commented on #1501
The documentation of this parameter looks wrong. Am backtracking to the correct version from back in 2015 and will update from that.

[2019-02-26 18:37] #1890 closed

[2019-02-26 20:05] get-itips commented on #2234
Hi @CombineLabs thanks for your comments,  I see that this wouldn't cause a change in any of the cmdlet's documentation.  @yogkumgit can you kindly help here?

[2019-02-26 20:06] get-itips commented on #2696
Hi @jmcadams-r7  thanks for your feedback,  I see that this wouldn't cause a change in documentation.  @yogkumgit can you kindly help here?

[2019-02-26 20:07] get-itips commented on #2699
Hi @kgazar   thanks for your feedback,  I see that this wouldn't cause a change in cmdlet's documentation.  @yogkumgit can you kindly help here?

[2019-02-26 20:07] get-itips commented on #2637
Hi @odd-mithril   thanks for your feedback,  I see that this wouldn't cause a change in documentation.  @yogkumgit can you kindly help here?

[2019-02-26 20:09] get-itips commented on #2089
Hi @cloudedturtle   thanks for your feedback,  I see that this wouldn't cause a change in documentation.  @yogkumgit can you kindly help here?

[2019-02-26 22:21] dariomws306 commented on #2723
Hi @TorrenManson , thank you for your feedback.

I am applying an update to fix it.

[2019-02-26 22:39] rcooke-cc opened #2903 "EnablePWA not working?"
Using -EnablePWA $True on a newly-created site collection doesn't appear to have any effect, and doesn't generate any feedback.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d1c6b2b-5af6-acce-b7e8-bf784bb0973e
* Version Independent ID: 301586d3-ec04-c42d-4681-0bb59443d35c
* Content: [Set-SPOSite (sharepoint-online)](

[2019-02-27 00:21] TheBluLion opened #2906 "Need to list behavior when value is set to None or null"
It's not clear in the article what the expected behavior is when the value is not set. (null or none)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbf61d7d-bda0-9656-465d-9b519ed17b5e
* Version Independent ID: 2bb4825d-eedc-c8e2-3f51-0cafd652eadd
* Content: [Set-CsClientPolicy (skype)](https://docs.microsoft.com/en-u

[2019-02-27 02:33] j0rt3g4 commented on #1326
The documentation has been added on PR #2908
Thank you for reporting this @DeanGross Can you let us know if it's enough documentation of if it needs any more information?

Please @AndreaBarr and @yogkumgit  give it a look!

[2019-02-27 02:50] j0rt3g4 commented on #1324
Added minor information on PR #2910

[2019-02-27 02:52] j0rt3g4 commented on #1323
Hello @DeanGross, what would you consider to add? I think is completed now.
Thank you for making the documentation better.

[2019-02-27 03:01] j0rt3g4 commented on #1322
Added new PR with number #2911

[2019-02-27 03:08] j0rt3g4 commented on #1319
Added PR #2912

[2019-02-27 03:15] j0rt3g4 commented on #1321
I've added the PR #2913

[2019-02-27 08:31] dakneeul1 opened #2915 "Clarity for -Template"
Is the -Template EDU_Class parameter the only way currently to create 'class notebooks' within teams? It would be so much easier to add these 'modularly' onto channels, I am creating distribution groups then converting them to teams - it seems this might not be possible?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-02-27 11:29] yogkumgit commented on #2634
@kenwith Please merge this PR if you find it suitable

[2019-02-27 11:32] yogkumgit commented on #2234
@CombineLabs  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if you ca

[2019-02-27 11:48] yogkumgit commented on #2696
@jmcadams-r7  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if you ca

[2019-02-27 11:52] yogkumgit commented on #1300
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Lady-MCSE  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-27 11:53] yogkumgit commented on #2173
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Josverl  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-02-27 11:54] msbemba commented on #2222
@Mike-Crowley  Thank you for your feedback. We did a test with the latest teams module (0.9.6) and it looks like it is working as expected. Wherein, Get-team provides all teams that are present in the tenant and get-team -user abcd@contoso.com provides all teams that the user abcd@contoso.com is a member of. I will be updating the document shortly with accurate information.

[2019-02-27 11:56] yogkumgit commented on #2699
@kgazar  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if you can sha

[2019-02-27 11:58] yogkumgit commented on #2637
@odd-mithril  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if you ca

[2019-02-27 11:58] msbemba commented on #2691
@blouwagie Thank you for your feedback. Would you be able to point us on which part of the document needs a change? I was able to connect to the module as mentioned in the document,

If you don't receive any errors, you connected successfully. A quick test is to run an Exchange Online cmdlet, for example, Get-Mailbox, and see the results.

If you receive errors, check the following requirements:

[2019-02-27 12:01] yogkumgit commented on #2089
@cloudedturtle  Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link:            https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if you

[2019-02-27 13:20] woelfi22 commented on #2691
Following this guide gives me:

PS C:\Users\Admin_******> $Session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://outlook.o
ffice365.de/powershell-liveid/ -Credential $UserCredential -Authentication Basic -AllowRedirection
New-PSSession : [outlook.office365.de] Connecting to remote server outlook.office365.de failed with the following
error message : WinRM cannot comp

[2019-02-27 13:47] woelfi22 commented on #2691
I forgot to mention: it worked until very recently, we have changed nothing, on my firewall log I see outlook.office365.de not answering my outgoing request.

[2019-02-27 13:56] get-itips commented on #2233
Thanks for your comment @gerickes I'll update the document based on it.

[2019-02-27 13:59] get-itips commented on #1501
Hi @mauledbyjesus thanks for your comment, we really appreciate them. @tklarsen has updated the document to clarify this. Thank you.

[2019-02-27 14:19] msbemba commented on #2691
@woelfi22  Looks like you are not using the MFA module which could be the part of the problem.

As mentioned in Note in our document, If using MFA or Modern Auth use the below method:- https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell?view=exchange-ps

[2019-02-27 14:35] woelfi22 commented on #2691
Well we never used MFA, and it worked perfectly. What has changed? Apart from that, I hate to click buttons that say "configure" in O365 Admin Backend (under "Hybrid" ) without any information about what that button does. Obviously more than just "download".

[2019-02-27 15:42] kenwith commented on #2634
This is a known issue. The 'applies to' is auto generated by a tool called PlatyPS that uses reflection to see what cmdlets and parameters are available from a user point of view. PlatyPS then spits out the cmdlet stubs and sets the applies to. Some parameters are legacy from Skype for Business Server so they appear in Skype for Business Online even though they are not used. This issue will be res

[2019-02-27 15:42] #2634 closed

[2019-02-27 16:29] j0rt3g4 commented on #1323
Corrections in the PR #2917

[2019-02-27 19:05] msbemba commented on #2222
Created PR# https://github.com/MicrosoftDocs/office-docs-powershell/pull/2918 for changes in the document.

[2019-02-27 20:25] #1662 closed

[2019-02-27 20:29] #1657 closed

[2019-02-27 20:29] #1300 closed

[2019-02-27 20:29] #2173 closed

[2019-02-27 20:30] #2234 closed

[2019-02-27 20:30] #2696 closed

[2019-02-27 20:30] #2699 closed

[2019-02-27 20:30] #2637 closed

[2019-02-27 20:31] #2089 closed

[2019-02-27 23:11] EbenLLF opened #2921 "Add-PnPClientSidePage created page change content type automatically against library's content type order"
**Issue:**
When the Site Pages lirbary has more than one Site Page based content type, the page created with command Add-PnPClientSidePage will change content type automatically to the first Site Page based content type in lirbary content type order.

**Reproduce steps:**
1. Create two content type based on Site Page content type, and add them to Site Pages lirbary. For example, name them **SitePa