[2022-08-06 08:19] #9769 closed

[2022-08-08 05:24] tommyjh opened #9770 "TEAMS : D911"
The Teams powershell 2.6+ module until 4 seemed to have major issues with LIS database population.  Seems fixed.
But we have no way to actually validate information anymore....
test-csonlineliscivicaddress is no longer valid.
Anything we put in powershell shows 'validated' even though it isn't.
Places can't have their own lat/long.
This seems reckless as test calls to 911 fail on civic addresses e

[2022-08-08 15:41] kellybos opened #9771 "Missing shared channel options"
There is no information about the new parameters for this cmdlet -

AllowSharedChannelCreation
AllowChannelSharingToExternalUser
AllowUserToParticipateInExternalSharedChannel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a705a9a-ef02-2453-6267-e0b2908a2ad9
* Version Independent ID: 1a93b451-ab23-3290-0c36-bb8498d01bd

[2022-08-08 15:41] kellybos opened #9772 "Missing shared channel parameters"
There is no information about the new parameters for this cmdlet -

AllowSharedChannelCreation
AllowChannelSharingToExternalUser
AllowUserToParticipateInExternalSharedChannel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a705a9a-ef02-2453-6267-e0b2908a2ad9
* Version Independent ID: 1a93b451-ab23-3290-0c36-bb8498d01bd

[2022-08-08 19:43] chrisda commented on #9740
@obizii, the Type value on Identity in Get-ExOMobileDeviceStatistics is 'String' which is not helpful. In the original Get-MobileDeviceStatistics cmdelt on which the ExO cmdlet is based, is 'MobileDeviceIdParameter', and has this description:

Instead of Identity, you can use the Mailbox parameter to identify the user by easier values (Name, Alias, etc.).

The version of the module you're using is

[2022-08-08 19:52] chrisda commented on #9714
@SabRom, @jorgytim, were you connecting using the _UseRPPSSession_ switch? Or were you not using the _UseRPPSSession_, which forces you to use [REST API mode](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#updates-for-version-206)?

I connected to my plain E5 tenant in 'regular' _UseRPPSSession_ mode in PowerShell 5.1, and all expected Microsoft 365 Group cmdlets were

[2022-08-09 07:54] KhaaliTurbo opened #9778 "Unable to connect anymore to remote server ps.compliance.protection.outlook.com"
When connecting with app-only authentication the error message is:
[code]

When connecting with a UPN with MFA enabled the error message is:
[code]

This started happening at around 09:30 CEST. A successful app-only authentication was successful once however at around 09:10 CEST. No more after that unfortunately.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-08-09 09:10] KhaaliTurbo commented on #9778
Just tried it at 11:10 CEST and both methods are working again.

[2022-08-09 09:10] #9778 closed

[2022-08-09 11:52] JeremyTBradshaw opened #9779 "Client Credential (certificate) auth for Security and Compliance Center with v2.0.5"
Hello, I'm just wondering if it should be documented that we do in fact have a way to use app-only, certificate-based authentication for the Security and Compliance Center PowerShell, even when using the still-current-and-GA version 2.0.5 of the module.

Whereas the 2.0.6 preview version unlock `Connect-IPPSSession`'s app-only certificate-based options, with 2.0.5, we can just use `Connect-Exchang

[2022-08-09 14:19] yogkumgit commented on #9740
@obizii Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-09 14:19] #9740 closed

[2022-08-09 17:38] chrisda commented on #9779
It's definitely an option. Just before v2.0.6 came out (of course), I described that method in a lot of [GitHub Issues](https://github.com/MicrosoftDocs/office-docs-powershell/issues?q=is%3Aissue+is%3Aclosed+label%3A%22CBA+SCC%22) since it was taking so long for Connect-IPPSSession to support CBA.

I'm not sure of the best way to proceed. The question becomes, if Connect-ExchangeOnline supports co

[2022-08-10 10:46] benrfairless opened #9780 "Update documentation to show that SignatureHTML and SignatureText may be incorrect"
Please refer to the changes made to Set-MailboxMessageConfiguration here: https://github.com/MicrosoftDocs/office-docs-powershell/commit/010ecfb815b9b57777b24154d755b0ab6e0a87f9.

Similar changes should be made to the documentation on Get-MailboxMessageConfiguration for consistency, so that people know that the information in SignatureHTML and SignatureText is not accurate if roaming signatures ar

[2022-08-10 14:46] JeremyTBradshaw commented on #9779
For the life of me I couldn't find this, but you're right - it was you who gave me this option ([right here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/8149#issuecomment-1045102747)).  Thanks again.

Well I agree with you, maybe we can just put Connect-IPPSSession to bed or sunset it slowly as-is, and then Connect-ExchangeOnline is the sole way forward.  I could see a switch pa

[2022-08-10 16:44] petermuhroads opened #9781 "Syntax errors on Export-ExchangeCertificate Example text"
Your code doesn't work!  The "example code 2" contains -BinaryEncoded twice.

Also, I keep getting an error:

      A positional parameter cannot be found that accepts argument '[System.IO.File]::WriteAllBytes'.

Can't you just make this easier to use, especially since removing functionality from EMC?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-08-10 17:21] chrisda commented on #9779
@JeremyTBradshaw, and an example of the quirks of connecting this way, I'm using v2.0.6-Preview6, and if you simply run:

`Connect-ExchangeOnline -ConnectionUri https://ps.compliance.protection.outlook.com/powershell-liveid/ -UserPrincipalName chrisda@wttoys.onmicrosoft.com`

the command fails. This is expected as there's been no announcement about Security & Compliance PowerShell cmdlets having R

[2022-08-10 17:59] chrisda commented on #9780
@benrfairless, OK. Done.

Thanks for the feedback.

Closing

[2022-08-10 17:59] #9780 closed

[2022-08-10 18:13] JeremyTBradshaw commented on #9779
Ahh, good to know.  I think that is grounds enough for me to halt on the plan to document the -ConnectionUri approach with 2.0.5, at least for now.  I did email the preview feedback team and will wait for something there or if anything gets announced.

[2022-08-10 19:04] rbishop-etq opened #9783 "RecipientFilter parameter for EXO DDGs doesn't allow wildcard prefixes"
https://docs.microsoft.com/en-us/powershell/exchange/recipientfilter-properties?view=exchange-ps#filterable-recipient-properties
As explained on this page,
"In Exchange Online PowerShell, you can't use the wildcard as a prefix (for example, "Property -like '*abc'") is not allowed"

Please change this - we need to be able to use wildcards in any part of the string when using the "-like" operator, a

[2022-08-10 19:49] chrisda commented on #9781
@petermuhroads, thanks for catching the double -BinaryEncoded thing.

There are two separate commands in Example 2 (and Example 4). I added a carriage return between each command to clarify. When I ran each command one at a time, the commands worked.

I also took the liberty of placing a carriage return before all examples that use `[System.IO.File]::WriteAllBytes` commands for clarity in all othe

[2022-08-10 20:06] petermuhroads commented on #9781
Yes, thank you!  I’m sure that will help!

I ended up using MMC with Certificate snap in to complete my work today, but hopefully next time I can go back to my preferred Exchange methods.

From: Chris Davis ***@***.***>
Sent: Wednesday, August 10, 2022 3:50 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: petermuhroads ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/offi

[2022-08-11 16:08] get-itips commented on #9723
Hello @JoeSzo

This index file only lists the article files that exist under the teams/ folder in the repository.
You will find it on this one instead https://docs.microsoft.com/en-us/powershell/module/skype/?view=skype-ps

Also please take note of this

[2022-08-11 16:08] #9723 closed

[2022-08-11 16:14] get-itips commented on #9735
fixed in https://github.com/MicrosoftDocs/office-docs-powershell/pull/9744

[2022-08-11 16:14] #9735 closed

[2022-08-11 16:36] get-itips commented on #9742
Link was fixed in https://github.com/MicrosoftDocs/office-docs-powershell/pull/9744

I'll pass the feedback about replication times.

[2022-08-11 17:00] get-itips commented on #9770
Hello @tommyjh
How are you?
Here, we are limited to documentation/articles fixes and improvements (like missing parameters, adjust examples, typos and so on)
For your scenario the best would be to open a support request from your tenant.
Either way, I'll try to pass this feedback on.

[2022-08-11 17:04] get-itips commented on #9772
Duplicate of https://github.com/MicrosoftDocs/office-docs-powershell/issues/9771

[2022-08-11 17:04] #9772 closed

[2022-08-11 17:34] get-itips commented on #9771
Thanks for your feedback!

[2022-08-12 12:30] #9742 closed

[2022-08-12 12:33] yogkumgit commented on #9770
@get-itips Thank you very much for the contribution and sharing this explanation. @tommyjh Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-08-12 12:33] #9770 closed

[2022-08-12 13:02] yogkumgit commented on #9714
@SabRom Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-12 13:02] #9714 closed

[2022-08-12 13:03] yogkumgit commented on #9781
@petermuhroads Thanks.  If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-12 13:04] #9781 closed

[2022-08-12 16:45] jinbchoi opened #9795 "Set-CsLisCivicAddress details in the document and background"
[Enter feedback here]
The part not mentioned on the document is that the fact I observed which the certificate(.pfx) will be stored in the Personal Certificate Store instead of Local Machine in the process, which is related to the step when it comes to the PScmdlet Test-CsCivicAddress.
In the case for a large org which happens to have multiple admins for their SfB and the admin who didn't original

[2022-08-12 16:47] Harikumar77 opened #9796 "Bunch of Powershell parameters with no description provided"
There are PowerShell parameters for the New-DLPComplianceRule with no description provided.  For eg.  -ContentFileTypeMatches
{{ Fill ContentFileTypeMatches Description }}, ContentIsShared, DocumentCreatedBy etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98894097-1935-bd41-7857-5309d31817ee
* Version Independent I

[2022-08-13 19:31] jinbchoi opened #9797 "Valid user access to run Test-CsLisCivicAddress"
[Enter feedback here]
The part not mentioned on the document is that the fact I observed, and the reference article below which the certificate(.pfx) will be stored in the Personal Certificate Store instead of Local Machine in course of the Set-CsLisServiceProvider process, which is related to the step when it comes to the PScmdlet Test-CsLisCivicAddress.
In the case for a large org which happens

[2022-08-13 19:34] jinbchoi commented on #9795
Correction: I meant to refer the PScmdlet Test-CsLisCivicAddress instead of Test-CsCivicAddress in the report

[2022-08-15 17:20] #9771 closed

[2022-08-15 17:27] chrisda commented on #9796
@Harikumar77, empty parameter descriptions are a known issue. Availability vs. functionality for parameters are two different things. See [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for more explanation.

So are you trying to use these parameters, possibly from the direction of blog posts or other content, or are you just pointing out that the

[2022-08-15 17:41] Harikumar77 commented on #9796
Thank you Chris for your response.  I shared the article with a customer to use some of those parameters which has a blank description.

Thanks
Hari

From: Chris Davis ***@***.***>
Sent: Monday, August 15, 2022 1:28 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Harikumar H ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Bunch of Powershell para

[2022-08-15 17:44] chrisda commented on #9783
@chrisda, all we can do here is fix documentation. Your best path forward is to open a support ticket.

[2022-08-15 17:53] rbishop-etq commented on #9783
Hi,
Not sure what you mean. On the article are two options: submit feedback for "this product" and "this page". I selected the "This product" one in order to give feedback on the actual product/function and was taken here where i submitted this "New Issue" which was the only button available for submitting a new record. If this is not the correct spot to give feedback for the PRODUCT as opposed to

[2022-08-15 18:10] rbishop-etq commented on #9783
@chrisda not sure if you meant to direct your comment to somebody else, as you only tagged yourself.
I opened this issue by selecting the option on that page to submit feedback on "THIS PRODUCT" as opposed to submitting feeback on "This Page", so if there is another more appropriate way to submit feedback on the product/function then that link will need to be updated.

[2022-08-15 19:44] chrisda commented on #9783
Funny how I tagged myself. I thought the ability to leave product feedback was turned off in this repo. I guess not.

But, the best path forward is still to open a support ticket.

[2022-08-16 08:02] yogkumgit commented on #9783
@rbishop-etq Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wi

[2022-08-16 08:25] yogkumgit commented on #9453
@isrumnon Please comment and advise for closure. Thanks

[2022-08-16 10:26] 666thor commented on #9740
I have the same error. I can use a Guid from any mobile device (Get-MobileDevice) with the Get-MobileDeviceStatistics -Identity <GUID> cmdlet and retrieve a result. But when I use it with Get-EXOMobileDeviceStatistics -Identity <GUID>, it shows an error that the object cannot be found. According to the documentation using the Guid should be possible - and it has been possible in the past, but now

[2022-08-16 12:07] 666thor commented on #9740
Tested with EXO version 1.0.1, and it works fine there.

[2022-08-16 12:19] 666thor commented on #9740
https://docs.microsoft.com/en-us/powershell/exchange/exchange-online-powershell-v2?view=exchange-ps#version-101

1.0.1: "Get-EXOMobileDeviceStatistics cmdlet now supports the Identity parameter."

But with version 2.x this is broken, actually with version 2.0.3, 2.0.4, and 2.0.5, as well as 2.0.6-PreviewX.

Is there any chance this gets fixed at some point?

[2022-08-16 16:59] chrisda commented on #9740
@666thor, see [here](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#report-bugs-and-issues-for-the-exo-v2-module) for how to capture and collect logs, and send that information to: exocmdletpreview[at]service[dot]microsoft[dot]com.

[2022-08-16 17:16] rbishop-etq commented on #9783
Please fix the page to have the product feedback option take you to the correct spot.

[2022-08-16 17:27] rbishop-etq commented on #9783
@chrisda please stop closing this. If the page is directing me HERE to submit feedback on the product and this is incorrect as you say, then the page does have a flaw that needs to be corrected.

[2022-08-16 17:31] chrisda commented on #9783
@rbishop-etq, I can leave it open if you like. Be advised that this has been an issue since we first moved onto the GitHub platform back in early 2018, and there is no solution to date.

[2022-08-17 07:47] zaichornik opened #9806 "Set-CsPhoneNumberAssignment execution quotas and double verification of the assignment"
Dear Team,

I have 2 questions in **DirectRouting** scenario:

1) Are there any executions quotas within a time range for _Set-CsPhoneNumberAssignment_  ?

2) Do I need to double check the configuration/assignment made during exec of  _Set-CsPhoneNumberAssignment_ with the additional command _Get-CsPhoneNumberAssignment_ (with combination of  _ActivationState_   & _PstnAssignmentStatus_    paramet

[2022-08-18 01:09] komiyamo opened #9810 "Exchange Online PowerShell V2 Module requires .Net Framework 4.7.1 or higher."
This document states that Windows PowerShell 5.1 or higher is required as a condition for a Windows environment, that needs .Net Framework 4.5 or higher as a prerequisite.

However, if .Net Framework 4.7.1 or higher is not installed, Connect-ExchangeOnline or Connect-IPPSSession command is failed because "System.Runtime.InteropServices.OSPlatform" cannot be loaded.
This is because the OSPlatform s

[2022-08-18 01:17] chrisda commented on #9810
@komiyamo, which version of Windows are we talking about?

[2022-08-18 01:26] chrisda commented on #9810
And which version of the module are we talking about: v2.0.5 or one of the Preview versions of v2.0.6?

[2022-08-18 01:27] komiyamo commented on #9810
This can be an issue on versions of Windows that do not have .Net Framework 4.7.1 or higher installed by default.
Note: Some versions of Windows 10 include .Net Framework 4.7.1 or higher by default, so this may not be an issue.
https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/versions-and-dependencies

Regarding the PowerShell module, we have confirmed this error behavior in v2.0.

[2022-08-18 02:30] komiyamo opened #9811 "About the description on the -Scope parameter of the New-ComplianceSearchAction command"
The documentation states that the -Scope parameter is only meaningful for content searches where IncludeUnindexedItemsEnabled is $True, is this still something to consider?

![image](https://user-images.githubusercontent.com/84306478/185279170-50ee05e5-64b6-46e0-8b1e-0b974acd4e0e.png)

Currently, there is no parameter in the New-ComplianceSearch command that specifies IncludeUnindexedItemsEnabled,

[2022-08-18 03:34] yogkumgit commented on #9783
@rbishop-etq hope you understand this limitation. We proceed here to close it. We appreciate your contribution in improving the documentation. Thanks for taking out some time to open the issue. .

[2022-08-18 03:35] #9783 closed

[2022-08-18 03:38] yogkumgit commented on #9664
@scottbutton as it is a known issue and in state of  work in progress. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-18 03:38] #9664 closed

[2022-08-18 03:40] yogkumgit commented on #9796
@Harikumar77  as it is a known issue and in state of work in progress. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-18 03:40] #9796 closed

[2022-08-18 06:09] mrkeiths opened #9812 "EnableMobileMailboxPolicyWhenCAInplace param description is missing"
Hello,

The Set-ActiveSyncOrganizationSettings cmdlet's EnableMobileMailboxPolicyWhenCAInplace parameter does not have a description.

I can't find any additional documentation elsewhere that explains its purpose or how it works.

Could someone please update as appropriate?

Thank you,
Keith

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-08-18 08:40] chris4182 opened #9813 "Whiteboard PS module returns whiteboards stored in Azure storage only"
The WhileBoard module only returns the whiteboards stored in Azure storage,, but with the latest change in storage from Azure to OneDrive, any newly created WhiteBoards are not returned

[2022-08-18 09:24] dr00208 opened #9814 "Export-ActivityExplorerData does not recognize the outputformat parameter."
Export-ActivityExplorerData does not recognize the outputformat parameter.

Export-ActivityExplorerData -StartTime "08/18/2022 07:15 AM" -EndTime "08/18/2022 11:08 AM" -outputformat JSON

Export-ActivityExplorerData : A parameter cannot be found that matches parameter name 'outputformat'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-08-18 16:16] chrisda commented on #9812
@mrkeiths, see the explanation [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) about empty parameter descriptions. Availability vs. functionality are two different things.

Unless other content sources contain scenarios that use this parameter, I wouldn't worry about it.

If you really want to know, you can open a support ticket.

[2022-08-18 16:54] chrisda commented on #9814
@dr00208, confirmed. I removed all direct and indirect references.

Thanks for the feedback.

Closing

[2022-08-18 16:54] #9814 closed

[2022-08-18 19:25] wwodzien commented on #9432
I just had this issue, had a number assigned to what looked like old auto attendant for EXO UM (not sure how the porting team at MS was able to see this resource account, I could not, just saw that the number was assigned to an identity GUID I could not find).  MS porting team opened an internal ticket with MS support and somehow wacked the stale entry.

[2022-08-19 22:27] chrisda commented on #9810
@komiyamo, OK. I reworked the Windows prerequisites section to make v2.0.5 and .NET 4.7.1 prominent, and deemphasized the bulleted list of OS'es.

The topic already states that Windows 7 supports only v2.0.3 and earlier of the module, which is apparently regardless of its support for .NET 4.7.1. IT will be interesting to see if other incompatibilities fall out of this.

Thanks for the feedback.

C

[2022-08-19 22:27] #9810 closed

[2022-08-22 09:11] Ahemmad commented on #9813
Thanks Chris for posting it, Observed same. Wanted to move Whiteboards from One user to other but we were managed to move whiteboards stored in Azure but not from OneDrive.

[2022-08-22 12:32] JensTrier commented on #9806
@zaichornik Thanks for the feedback/questions.

Ad 1) not that I'm aware of. If you hit anything that smells like this, please open a Microsoft support case with details and they will investigate what's going on.

Ad 2) If Set-CsPhoneNumberAssignment succeeds, i.e. does not report any error, the phone number has been assigned, so there is no need to check it afterwards.

[2022-08-22 13:18] mrkeiths commented on #9812
Ok. Thanks Chris.  I understand that certain params are reserved for internal MSFT use.  I've always interpreted this to mean there are special use-cases that justify exposing, but customers should avoid using unless told to do so directly by MSFT.

I know there are many cmdlets and even more params but it sure would be great if the various Product Groups made more of an investment to maintain doc

[2022-08-22 13:18] #9812 closed

[2022-08-22 14:48] yogkumgit commented on #9806
@zaichornik Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-22 14:49] #9806 closed

[2022-08-22 22:29] gkneale opened #9822 "IsMemberAllowedToEditContent parameter missing description"
Parameter details are missing.

-IsMemberAllowedToEditContent
{{ Fill IsMemberAllowedToEditContent Description }}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80326e44-6beb-8983-57ab-8333608c504b
* Version Independent ID: 8962c0dc-72a3-208a-33de-6a89cd56b6fc
* Content: [Set-UnifiedGroup (ExchangePowerShell)](https://

[2022-08-22 23:50] chrisda commented on #9822
@gkneale, empty parameter descriptions are a know issue. Availability vs. functionality are two different things. For an explanation, see [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) about empty parameter descriptions. Availability vs. functionality are two different things.

So are you trying to use this parameter, possibly from the direction

[2022-08-23 07:12] JensTrier commented on #9770
@tommyjh thanks for the feedback.

Yes, the entered address will display as Validated. The way and emergency call is routed based on the emergency address type is described here https://docs.microsoft.com/en-us/microsoftteams/emergency-calling-dispatchable-location#emergency-address-classification-and-routing

It is by design that a place inherits the lat/lon from the corresponding civic address.

[2022-08-24 10:02] kekici opened #9828 "Incorrect sample code"
[Enter feedback here]

Set-TransportAgent "Test App" -Priority 3 -TransportService -FrontEnd

this should be

Set-TransportAgent "Test App" -Priority 3 -TransportService FrontEnd

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61e04710-69e6-f8b9-e999-606dea918253
* Version Independent ID: a07c4a95-849f-5701-945d-97b6168

[2022-08-24 10:03] kekici commented on #9828
Also on the same documnetation we shoult tell

TransportService is optional parameter.

[2022-08-24 14:37] fgrueninger commented on #9216
@isrumnon can you please please tell me when this bug is going to be fixed for all tenants (without raising support requests)?

[2022-08-24 15:19] dr-raypc opened #9830 "Description body is incomplete"
Can you please update the Description body? Also is there a way to break lines inside the description to make it easier to read?

-Description
This parameter is available only in the cloud-based service.

{{ Fill Description Description }}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42e2373d-198f-dba7-285c-66a2a5f38

[2022-08-24 18:42] isrumnon commented on #9216
@fgrueninger this will be generally available for all tenants by November end

[2022-08-25 15:10] get-itips commented on #9813
Hello @chris4182 how are you?
I'll try to pass this information however, here, we are limited to documentation fixes and improvements.
Thanks

[2022-08-25 15:25] get-itips commented on #9797
Hello @jinbchoi
I am looking into this, thanks for your feedback.

[2022-08-25 15:36] get-itips commented on #9795
Duplicate of https://github.com/MicrosoftDocs/office-docs-powershell/issues/9797

[2022-08-25 15:36] #9795 closed

[2022-08-25 16:22] chrisda commented on #9828
@kekici, I corrected the typo in the example.

Thank for the feedback.

Closing

[2022-08-25 16:22] #9828 closed

[2022-08-25 16:35] chrisda commented on #9830
@dr-raypc, generally, when people point out empty parameter descriptions, I say, "by design" and refer them to [this explanation]((https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486).

However, in this case, there are 40 other cmdlets with a "Description" parameter, so I just copied the description from one of those.

Thanks for the feedback.

Closing

[2022-08-25 16:35] #9830 closed

[2022-08-26 04:28] #9813 closed

[2022-08-26 21:42] chrisda commented on #9811
@komiyamo, note removed.

Thanks for the feedback.

Closing

[2022-08-26 21:42] #9811 closed

[2022-08-30 07:20] yogkumgit commented on #9453
@isrumnon as you are working offline on this, can we clear it from here. Kindly guide us or close it if suitable. Thanks

[2022-08-30 07:21] yogkumgit commented on #9461
@chrisda if it is a known issue, can we proceed to close it. Kindly guide. Thanks

[2022-08-30 07:24] yogkumgit commented on #9822
@gkneale As mentioned this is a known issue, hope the comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-30 07:24] #9822 closed

[2022-08-31 07:40] isrumnon commented on #9453
Hi @zaichornik we are not going to add WhenCreated but we will expose WhenChanged but even for this we are not going to expose this property for everyone but you can raise a support ticket to get it enabled for your tenant

[2022-08-31 07:42] isrumnon commented on #9453
@yogkumgit we can close this ticket if there are no further questions

[2022-08-31 11:25] #9453 closed

[2022-08-31 13:40] cloudhal opened #9857 "Adding locations via script clarification"
The article states several times:
You can enter multiple values separated by commas. If the values contain spaces or otherwise require quotation marks, use the following syntax: "Value1","Value2",..."ValueN".
This works if manually entering a command, however for 100's or entries clearly this is not practical. If using this syntax in a script it does not work, i.e. if you manually create a string

[2022-08-31 15:48] smitz1 opened #9858 "Basic Auth Query"
Hi,

Does this module support certificate auth and an Azure App ?

Is it planned ?

[2022-08-31 17:46] bluestarcs commented on #9458
Hi,
I have this same issue, am able to connect and use S&C powershell cmdlets with app authentication (like get-ComplianceSearch) but cannot run eDiscovery cmdlets like New-ComplianceCase successfully. I get the same error as noted above; Object reference not set to an instance of an object. Any guidance would be much appreciated!
TIA,
Sarah

[2022-09-01 13:54] yogkumgit commented on #9857
@cloudhal Please indicate which document /article you are referring to Thanks

[2022-09-01 13:55] yogkumgit commented on #9858
@smitz1 Please indicate which document/article you are referring to. Thanks

[2022-09-01 16:22] chrisda commented on #9857
@cloudhal, without knowing which topic you're talking about, that looks like Exchange cmdlet text. I can say that you should be able to create a variable with any number of entries and then use that entry for the parameter value like this:

[code]

[2022-09-01 17:45] smitz1 commented on #9858
The Connect-MicrosoftTeams commmand, with Basic auth going away on 1st Oct we have been following microsoft atcicle to ceate an Azure App where we add a cert and authenticate to o365 via the private cert. Is this coming ?

[2022-09-02 07:17] cloudhal commented on #9857
Sorry I was referring to Set-RetentionCompliancePolicy https://docs.microsoft.com/en-us/powershell/module/exchange/set-retentioncompliancepolicy?view=exchange-ps

cmdlet doesn't seem to support pipe or using a variable when adding locations, which makes it unusable in scripts or larger environments.

[2022-09-02 07:36] pbafna03 commented on #9858
Hi @smitz1,

2 updates:

(a) With versions 4.x.x or later, enablement of basic authentication is not needed anymore in Commercial Environments.

(b) App based authentication is work in progress and upcoming.

Thanks,

[2022-09-02 16:05] chrisda commented on #9857
@cloudhal, you should open a support ticket. That will get this issue in front of decisions makers and people who are capable of fixing the problem (and also puts them on notice that there's a problem). Fundamentally, any parameter where Type = MultiValuedProperty should support the syntax that I described.

I would also suggest trying different types of identifiers (all of the same kind) to see i

[2022-09-02 17:02] CLYVR opened #9865 "Can we suppress/remove this article for now?"
Hi there - is there any way we can suppress/hide this article?  These features aren't ready for public consumption yet  - target launch is CY23Q1.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5336097c-e78a-61d1-be38-fb7642ec9b38
* Version Independent ID: f6b4b3d3-7cad-d0af-5f10-ce9f0d98cf79
* C

[2022-09-03 14:48] cloudhal commented on #9857
OK thanks @chrisda

[2022-09-04 07:44] ranukher opened #9868 "Email user with telephone number information"
Currently the Teams admin center (GUI) allows you to send email to the user when you assign or change their number, is there a same option available in Powershell or graph API?
I have attached a sample email
![phone_num](https://user-images.githubusercontent.com/107161406/188303029-3d18e49d-4e5a-4a2e-8541-a0886e971b4d.png)

[2022-09-05 09:32] yogkumgit commented on #9857
@cloudhal Thanks.  If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-09-05 09:32] #9857 closed

[2022-09-05 09:55] JensTrier commented on #9868
@ranukher thanks for the feedback. This functionality is not integrated into the assignment cmdlet, you'll need to send the e-mail out of band. However we have heard similar feedback from others and are looking into it. No guarantee or ETA :-)

Feel free to close this issue

[2022-09-05 10:11] #9868 closed

[2022-09-06 16:41] irideostriches opened #9872 "Filter inconsistency."
What's peculiar about the issue raised in #8941 is that if I use a leading wildcard in the opath filter e.g. (Title -like '*manager*), the filter is accepted with the get-recipient -recipientpreviewfilter cmdlet and switch. Which is how I validate the filters in use by my dynamic distribution lists.  In my mind, the logic for both the recipient filter and the dynamic distribution list should be th

[2022-09-07 06:24] omarmallat opened #9874 "Basic authentication won't connect anymore"
It looks like Basic authentication won't connect anymore. You can opt in to reenable it, but god knows till when it remains open. and here is the main question to get a permanent solution:
How to automate exchange commands (PowerShell, Graph, SDK...) from azure web app (webjobs) or azure function apps or any other options but not a VM or server? we have no physical server, nor a VM in our environm

[2022-09-07 10:27] ruudvanstrijp commented on #9865
Interesting to see this early documentation. It doesn't contain any ability to change Business Hours or Holidays, only the greetings for those scenario's. I hope this feature will be added though, one of the main self-service requests is changing your own holidays.

Not sure if this comment is in the right place here, but I wouldn't know how else to raise this question.

[2022-09-07 13:02] j-hinks opened #9875 "Error's happening with Set-CsPhoneNumberAssignment and Remove-CsPhoneNumberAssignment"
Hi,

We have noticed this afternoon that when trying to run the following commands, we are getting back Service Unavailable or Unknown Error:

Set-CsPhoneNumberAssignment -Identity <<SipAddress>> -PhoneNumber <<UsersDDI>> -PhoneNumberType DirectRouting

Tried this with multiple users and telephone numbers, getting the same issue, plus different office 365 tenants.

[2022-09-07 16:09] chrisda commented on #9874
@omarmallat, you should open a support case and ask your questions. Report anything you find that we can add to the documentation here.

[2022-09-07 18:23] DMoenks commented on #9874
@omarmallat, if using alternative Azure services is a viable option for you, using an Azure automation runbook might be something to look at. As far as I can tell, they provide many features also available in Azure function apps, but in addition allow for additional PowerShell modules to be installed and then used within scripts.

Doing so allows to use the authentication method described in [App-

[2022-09-07 20:09] pstakuu opened #9876 "Example 2 misleading"
The believe the second example on this page:

https://docs.microsoft.com/powershell/module/exchange/set-mailboxautoreplyconfiguration#example-2

is misleading as:

Set-MailboxAutoReplyConfiguration -Identity tony@contoso.com -AutoReplyState Enabled -InternalMessage "Internal auto-reply message." -ExternalMessage "External auto-reply message."

Will only work if the -ExternalAudience parameter had

[2022-09-07 20:11] pstakuu commented on #9876
And I'm also realizing how many times I've probably set the external message with powershell and not specified that 🤦

[2022-09-08 04:02] DMoenks commented on #9874
After giving it a second thought, I don't know what could be done from a documentation perspective in this case, as the Exchange Online PowerShell documentation already has an article on unattended usage for automation scenarios, as linked in the previous comment. How this scenario can be implemented with Azure services seems highly specific and, although both Azure and Exchange Online are Microso

[2022-09-08 05:23] omarmallat commented on #9874
Somehow I agree with you asking why this question is on the documentation side! Surely, you better understand the scope of these documents. But let me just make a suggestion.
Consider a user who opens the documentation to understand and clarify options on how to connect to Exchange Online Management.
The documentation explains two options, Connect-ExchangeOnline which requires pre-installation and

[2022-09-08 06:23] DMoenks commented on #9874
I feel you, as I'm just an Exchange Online administrator myself, working for a company other than Microsoft, so I faced the same challenge myself some time ago. And it is from this perspective, that I doubt mentioning specific implementation approaches might help.
Sure, both are Microsoft products, so this might provide a reason to do so. But I suppose there's a fine line between providing one spe

[2022-09-08 11:04] #9872 closed

[2022-09-08 11:30] JensTrier commented on #9875
@j-hinks thanks for the feedback. Please open a Microsoft support case and provide date/time and tenant id and they will investigate it.

[2022-09-08 16:27] #9875 closed

[2022-09-08 21:03] ilantom opened #9879 "Substrate Only Agent': 'Organization "M365xxxxxxx.onmicrosoft.com" is not licensed for Exchange email functionality. Cmdlet usage is restricted."
I created an AAD group, installed ExchangeOnlineManagement, ran

but I see the error:

[code]

What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80326e44-6beb-8983-57ab-8333608c504b
* Version Independent ID: 8962c0dc-72a3-208a-33de-6a89cd56b6fc
* Content: [Set-UnifiedGroup (ExchangePowerShell)](https://

[2022-09-08 21:51] chrisda commented on #9879
The \*-UnifiedGroup cmdlets are for Microsoft 365 groups:

<https://support.microsoft.com/office/learn-about-microsoft-365-groups-b565caa1-5c40-40ef-9915-60fdb2d97fa2>

Their relationship to AAD groups is vague, at least to me.

[2022-09-08 22:12] ilantom opened #9880 "Created a hidden group but I still see all members"
I created a hidden group via

New-UnifiedGroup -DisplayName "group-name" HiddenGroupMembershipEnabled

but I still see all the members in the group. What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03921866-8345-7e01-e873-3ec191191fbf
* Version Independent ID: cb374ec2-99c3-7186-66ed-c037a678e946
* Con

[2022-09-08 23:58] chrisda commented on #9880
I'm tempted to resolve this as a duplicate of #9879.

Are you using certificate-based authentication (CBA) to connect? That likely won't work.

[2022-09-09 00:00] chrisda commented on #9874
@omarmallat I would suggest that you edit the topic directly to say what you want to say, where you want to say it, and link to what you want to link to. It's quite easy; instructions are [here](https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md).

[2022-09-09 16:18] fpsacha commented on #9779
I am trying to run a Compliance Search using an azure application connected with
Connect-ExchangeOnline -CertificateThumbprint $CertificateThumbprint -AppID $AppID -Organization $Organization -ConnectionUri https://ps.compliance.protection.outlook.com -UseRPSSession -verbose`
And i am getting this error when i try to Start it.

`WriteError: Unable to execute the task. Reason: Compliance search ini

[2022-09-09 16:29] fpsacha commented on #9458
@bluestarcs Same here.
`failed with exception: Object reference not set to an instance of an object..`

[2022-09-09 16:38] chrisda commented on #9458
@fpsacha, @bluestarcs, make sure you're using the latest version of the module (current v2.0.6 version is Preview7). Update instructions are [here](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#update-the-exo-v2-module). If that doesn't work, send a message to exocmdletpreview[at]service[dot]microsoft[dot]com and tell them what's going on.

[2022-09-09 16:43] #9874 closed

[2022-09-09 16:53] chrisda commented on #9876
@pstakuu, done.

Thanks for the feedback.

Closing.

[2022-09-09 16:53] #9876 closed

[2022-09-10 02:13] shivtorov opened #9890 "Undocumented Teams cmdlets"
The following cmdlets/functions from MicrosoftTeams module v.4.7.0 are not documented:

- Get-AssociatedTeam
- [Get|New]-CsCloudCallDataConnection
- Move-CsInternalHelper
- Set-CsInternalOnlinePowerShellEndpoint
- Invoke-CsInternalPsTelemetry
- [Get|Grant|New|Remove|Set]-CsOnlineAudioConferencingRoutingPolicy
- Get-CsOnlinePowerShellEndpoint
- [Get|Grant|New|Remove|Set]-CsTeamsEventsPolicy
- [Get|

[2022-09-10 02:21] shivtorov commented on #9890
@pbafna03

[2022-09-12 06:26] pbafna03 commented on #9890
Thanks @shivtorov for creating a fresh list. We'll reach out to the relevant teams.

[Get|Grant|New|Remove|Set]-CsTeamsEventsPolicy is coming up in with https://github.com/MicrosoftDocs/office-docs-powershell/pull/9845

Few of the above cmdlets are internal and don't need to be documented:
Move-CsInternalHelper
Set-CsInternalOnlinePowerShellEndpoint
Invoke-CsInternalPsTelemetry

[2022-09-12 11:31] rudesome commented on #9270
i can confirm since version: v2.0.6-Preview8 am able to connect to IPPSSession with certificate and appid on pwsh core.

There are only a few (new?) commands available, am hoping they soon add all the (old) commands.. for me especially the compliance search commands are essential.

[2022-09-12 12:37] yogkumgit commented on #9858
@smitz1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-09-12 12:37] #9858 closed

[2022-09-12 16:12] SeanTGeoghegan opened #9897 "SCC PowerShell Cmdlets - Considerations for App-Only Auth"
Similar to what was posted in https://github.com/MicrosoftDocs/office-docs-powershell/issues/9759.

It has come up that the limitations of Cert-Based Auth are due to User-Context cmdlets. Is there any way to provide a comprehensive list of which cmdlets are user-driven, so that they can be added as considerations? The reasoning behind this is due to the deprecation of Basic Auth, many customers wi

[2022-09-12 16:14] SeanTGeoghegan commented on #9897
Additionally, this may impact further cmdlets within the following documentation - https://docs.microsoft.com/en-us/powershell/module/exchange/?view=exchange-ps

[2022-09-12 17:51] chrisda commented on #9897
@SeanTGeoghegan, I'm sorry, I need further explanation of what User-Context or user-driven cmdlets are.

The last time I checked in that other issue you mentioned, the cmdlets that are called out are the only ones known not to work with CBA.

[2022-09-13 17:58] get-itips commented on #9865
Hello @CLYVR I am looking into this.

[2022-09-14 01:48] qaehtesh opened #9902 "GlobalReadingPanePosition deprecated for cmdlet Set-MailboxMessageConfiguration"
<Couldn't submit this internally using review.docs.microsoft.com>

GlobalReadingPanePosition deprecated for cmdlet Set-MailboxMessageConfiguration since moving to OWA React, however it is still around in public documentation causing customer confusion at times thus raising this request to update/remove this parameter from documentation

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-09-14 07:51] rudesome commented on #9458
Same issue here, i can create a compliance search but when i try to start the search i get the error:

[code]

am on Preview8
[code]

when i start the same compliance search from within the portal it works as expected

[2022-09-14 13:49] fpsacha commented on #9458
Same with V8 for me.

[2022-09-14 16:56] chrisda commented on #9902
@qaehtesh, a couple of considerations:

- The Exchange cmdlet reference topics are single-sourced. So, the Set-MailboxMessageConfiguration topic applies to Exchange Server 2010 - 2019 plus Exchange Online. The GlobalReadingPanePosition parameter is/was available in Exchange 2016, Exchange 2019, and Exchange Online.

  So, you're saying that parameter is gone from all three of those environments? O

[2022-09-14 22:52] qaehtesh commented on #9902
Thank you Chris,
This change is Exchange Online only since moving from JMM to OWA React.
The React version of new parameter is GlobalReadingPanePositionReact which is currently UI only and not available in Powershell

There is work item for this however haven't moved from a while and documentation keeps confusing customer so I am hoping we could make clear that for EXO this parameter is obsolete.

[2022-09-15 00:19] chrisda commented on #9902
So, this is a situation where the parameter is available but doesn't work in ExO, and is available and does work in on-prem.

I added the following text to the beginning of the description:

OK?

[2022-09-15 00:28] qaehtesh commented on #9902
sure, that would work!
I would have gone with "This parameter is not functional in Exchange online" or "The parameter functional in Exchange On-Premise Only" instead of specifying specific Exchange versions because later if someone finds this working in Exchange2013 or mixed environment may get confused, or when a newer exchange on-premise comes then we have keep adding versions.

Regards,
Qazi​‌

[2022-09-15 08:25] nicuberger opened #9906 "Same Issue again see Issue#9518"
Sometimes we are running into "Internal server error occured" again when we are using Set-CsOnlineSchedule. Last time there was an DNS resolving problem on your side.
![issue](https://user-images.githubusercontent.com/61410367/190354080-c967856d-2892-41b0-8e09-450028d921aa.png)

[2022-09-15 10:08] himanshugawande opened #9908 "‎Exchange Online PowerShell V1 Module End of Life?‎"
Currently I am using some of the Exchange Online PowerShell v1 module cmdlet such as "Get-Mailbox", "Get-MailboxPermission" to interact and fetch data from Exchange Online.

After reading the below provided blog, we changed our authentication mechanism to Exchange Online via PowerShell from Basic Auth to Modern Auth by using Exchange Online EXO v2 module cmdlets.

Reference: https://docs.microsoft

[2022-09-15 16:55] chrisda commented on #9902
You raise some good points. I changed it to:

[2022-09-15 19:59] fbastone commented on #5705
Has there been any further update on this?  I experienced attributes such as AudioDeviceName, VideoDeviceName, etc dissappear after a few days.  We are in hybrid mode and the room was created directly online.  Please advise.

[2022-09-15 23:59] qaehtesh commented on #9902
Awesome, thank you!!!
________________________________
From: Chris Davis ***@***.***>
Sent: Friday, September 16, 2022 1:55 AM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Qazi Ehteshamuddin ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] GlobalReadingPanePosition deprecated for cmdlet Set-MailboxMessageConfiguration (Issue #9902)

You raise some

[2022-09-16 05:19] #9902 closed

[2022-09-16 21:15] irideostriches commented on #5331
@AndrewCi Did you get get a resolution for this? I'm running into the same problem.

[2022-09-17 17:01] H-code-svg opened #9918 "Powershell"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f06f2757-c365-b954-a5fd-b13a4e9cbe95
* Version Independent ID: 30c08d8b-6453-37d7-fd3d-b953bb9239de
* Content: [New-CsCdrConfiguration (SkypeForBusiness)](https://learn.microsoft.com/en-us/powershell/module/skype/new-cscdrconfiguration?view=skype-ps)

[2022-09-19 14:31] pholdridge opened #9919 "Offline Address Book commands are not available in Exchange Online PowerShell v2 module"
I've tried to use this command but it's not an existing command in V2 powershell module for Exchange Online
Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08334d1f-4776-c4fb-8a68-dacf201daafb
* Version Independent ID: ad05f12f-b914-4ce8-6c1e-3825d0896661
* Content: [Get-OfflineAddressBook (ExchangePowerS

[2022-09-19 16:32] chrisda commented on #9919
@pholdridge, first thing to check:

[2022-09-20 03:15] avatar7008 opened #9923 "Malfunctioning cmdlet for New-TenantAllowBlockListItems"
The -Allow parameter does not work correctly, returns with the error:

A parameter cannot be found that matches parameter name "Allow".
    + CategoryInfo              :  InvalidArgument: (:) [New-TenantAllowBlockListItems], ParameterBindingException
    + FullyQualifiedErrorId  :  NamedParameterNotFound,New-TenantAllowBlockListItems
    + PSComputerName     :  aus01b.ps.compliance.protection.outl

[2022-09-20 08:14] DeepRaj98 opened #9926 "RetryDistribution switch description on Set-DlpCompliancePolicy"
The RetryDistribution switch redistributes the policy to all OneDrive for Business and SharePoint Online locations => Does it not work for Exchange Online Locations? Should this be redefined to reflect the various supported workloads' environments?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cee91383-5198-3793-28c3

[2022-09-20 12:22] robinmalik opened #9928 "Update Release Notes for ExchangeOnlineManagement"
Put the release notes for the Exchange module on the page. These are already stored in the latest preview version of `ExchangeOnlineManagement.psd1`.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Content: [About the

[2022-09-20 14:42] #9880 closed

[2022-09-20 14:43] yogkumgit commented on #9879
@ilantom Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-09-20 14:44] #9879 closed

[2022-09-20 14:47] yogkumgit commented on #9890
@shivtorov and @pbafna03 #9895 is merged, waiting for #9845. Thanks

[2022-09-20 14:49] yogkumgit commented on #9897
@SeanTGeoghegan Hope this comment is helpful for you, If you see a documentation update is required, please feel free to reopen this issue and answer the query. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-09-20 14:52] eximo84 opened #9929 "Microsoft Teams 4.7.1-Preview - Access Denied with CS Commands using Certificate Based Auth"
- Installed 4.7.1-Preview module
- Created App registration as per article
- Created Self Signed Cert
- Uploaded Cert
- Granted App Registration Teams Administrator role
- Connected using App ID, Thumbnail and Tenant ID
- Connection fine

running Get-CSOnlineUser or Get-CsBatchPolicyAssignmentOperation i get Access Denied

Documentation states no API permissions are required for -CS* commands.

Gr

[2022-09-20 15:59] pbafna03 commented on #9929
Hi @eximo84,

Can you please try with removing "application_access_custom_sba_appliance" permission. Post removing the permission, after a few minutes please do Disconnect-MicrosoftTeams and then Connect-MicrosoftTeams with the cert.

Get-CsOnlineUser should work, Get-CsBatchPolicyAssignmentOperation is not supported yet with Application-based auth.

Thanks,

[2022-09-20 17:13] pbafna03 commented on #9890
A whole bunch also coming in https://github.com/MicrosoftDocs/office-docs-powershell/pull/9842

[2022-09-20 17:52] yinzh798 commented on #9906
Thank you so much for reporting it to Microsoft. There was a single server issue caused by a recent change in a machine pool. The issue has been identified and fixed since last Thursday.

[2022-09-20 18:19] chrisda commented on #9908
@himanshugawande, there no Exchange cmdlets are baked into the V1 module itself. The only purpose of the V1 module was to connect using MFA/2FA.

In your screenshot, you'll see support for the V1 module ended at the end of August. Honestly, there's really no reason to use the V1 module anymore. Use the V2/V3 (just released today) version of the module. It supports modern auth with and without MFA/

[2022-09-20 20:42] chrisda commented on #9923
@avatar7008, although the cmdlet is available in Exchange Online PowerShell and Security & Compliance PowerShell, the Allow parameter is available only in Exchange Online PowerShell. Although the Applicable: value for the parameter stated this, but I realize that's subtle, so I added the following text to the beginning of the description:

I also did this for the ListSubType and SubmissionID param

[2022-09-20 20:49] chrisda commented on #9926
Checking

[2022-09-20 20:55] chrisda commented on #9928
@robinmalik, the existing [Release notes section](https://learn.microsoft.com/powershell/exchange/exchange-online-powershell-v2#release-notes) in the topic has only ever talked about GA (non-Preview) versions of the module. The latest version of the module was a) in Preview (v2.0.6-PreviewX) for a long time, and b) had significant changes between some of the Preview versions.

And, just today, the

[2022-09-20 21:14] robinmalik commented on #9928
@chrisda Ah, thanks for the heads up! 2.0.6 Preview 8 was the latest when I checked first thing this morning (UK time anyway). It makes adding the other preview notes somewhat moot now so I'll mark this as closed.

[2022-09-20 21:14] #9928 closed

[2022-09-20 22:00] bluestarcs commented on #9458
Thanks @chrisda

I checked and I am on v3 and still not working. See below. I will submit to the email you provided and update this thread if we get anywhere.

![image](https://user-images.githubusercontent.com/66495240/191372496-def6895e-91b0-4a54-9257-fb58b4eece5a.png)

[2022-09-20 22:33] chrisda commented on #9458
Any/all: v3.0.0 was officially released today, so I would highly encourage you to upgrade from the v2.0.6-PreviewX versions you might have been using and try again in v3.0.0. Because v3.0.0 is an official release, you can get help by opening a support ticket, which gets your issue in front of the team that's responsible for fixing it. Only use the email alias for Preview versions of the module.

[2022-09-21 04:15] yogkumgit commented on #9906
@nicuberger Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-09-21 04:15] #9906 closed

[2022-09-21 04:17] yogkumgit commented on #9908
@himanshugawande Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-09-21 04:17] #9908 closed

[2022-09-21 04:22] yogkumgit commented on #9923
@avatar7008 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-09-21 04:22] #9923 closed

[2022-09-21 06:49] rudesome commented on #9458
@chrisda as mentioned by @fpsacha , V3 still has the same issue, i have mailed this issue when it was still in preview, they just ignored our messages and shipped an official release with known bugs.

[2022-09-21 09:26] eximo84 commented on #9929
I have removed the "application_access_custom_sba_appliance" and it is now working. Although i do wonder if i just didnt give it enough time maybe?   I would assume based on the documentation, if my script is only using -CS* commands then i dont need any API permissions assigned to my App Registration?

Are any of the CsBatchPolicyAssignmentOperation commands working?  If not is there a timeline o

[2022-09-21 11:30] pbafna03 commented on #9929
Yes, for *-Cs cmdlets currently there are no additional API permissions needed.

Support for application-based auth in more cmdlets will be gradually rolled out over next couple of months. In the meanwhile, other authentication mechanisms mentioned in [Connect-MicrosoftTeams](https://learn.microsoft.com/en-us/powershell/module/teams/connect-microsoftteams?view=teams-ps) can be used.

[2022-09-22 11:52] AAdamCCox opened #9942 "Clarification on the use of plain text passwords within code"
The article states "as we all know, storing user credentials locally is not a good security practice", but then with no caveats goes on to immediately show an example doing precisely that:

`ConvertTo-SecureString -String "<MyPassword>" -AsPlainText`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-ea

[2022-09-22 16:59] dr-raypc opened #9953 "MessageCopyForSMTPClientSubmissionEnabled on Set-Mailbox is empty"
The -MessageCopyForSMTPClientSubmissionEnabled description is not filled out. Can someone fill out this description so we know what that command will do?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c7f835af-5905-368a-df68-6646782ad807
* Version Independent ID: 153ce2d2-dab5-9c8f-c511-ee3bc8ee2dbc
* Content: [Set-Ma

[2022-09-22 17:10] chrisda commented on #9942
@AAdamCCox, it would seem the whole point of the procedures in that topic is automation (no user intervention).

With 'connect using a local certificate' method, you basically have 3 ways to enter the password for the CertificatePassword parameter:

- `(ConvertTo-SecureString -String '<password>' -AsPlainText -Force)`.
- Before you run the command, store the password as a variable (for example, `$

[2022-09-22 17:19] chrisda commented on #9953
@dr-raypc, availability of a parameter vs. functionality of a parameter are two different things. For a complete explanation, see [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486).

So, are you trying to use that parameter, in particular from directions in other articles or blog posts? Or are you just curious why it's empty?

[2022-09-23 04:26] yogkumgit commented on #8117
@dstrome @get-itips any update.

[2022-09-23 04:27] yogkumgit commented on #9797
@get-itips Any update

[2022-09-23 04:29] #9918 closed

[2022-09-23 04:31] yogkumgit commented on #9919
@pholdridge Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-09-23 04:31] #9919 closed

[2022-09-23 04:32] yogkumgit commented on #9929
@eximo84 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-09-23 04:32] #9929 closed

[2022-09-23 09:56] berot3 commented on #1709
So why is this closed?

I tried just now with v7.3.0-preview.7

uninstalled and installed again Microsoft.Online.SharePoint.PowerShell 16.0.22810.12000
- https://www.powershellgallery.com/packages/Microsoft.Online.SharePoint.PowerShell/16.0.22810.12000
- which was updated 25 days ago
- according to powershellgallery it is not compatible to linux/macos 😪

and getting `Connect-SPOService : The type

[2022-09-23 10:56] AAdamCCox commented on #9942
Hi @chrisda yes I think a note like that would make it clear that there's no automated _and_ secure way to use a local certificate PFX file, making this approach unsuitable for production use.

Since it might be recommended only while manually testing a PFX, perhaps switching the example to use `Get-Credential` would also be appropriate? Given that in that context, automation isn't the goal, yet w

[2022-09-23 17:01] chrisda commented on #9926
@DeepRaj98, the description has been updated to say:

Thanks for the feedback.

Closing

[2022-09-23 17:01] #9926 closed

[2022-09-23 18:08] chrisda commented on #9942
@AAdamCCox, thanks for the suggestions.

I moved 'connect using a local certificate' **after** 'connect using a certificate thumbprint' and 'connect using a certificate object' to deemphasize IT, and I added the following note to it:

OK?

[2022-09-24 14:12] DMoenks commented on #9953
I recently had to use the parameter when working on an SMTP use case and it pretty much does what its name implies, in accordance with the **MessageCopyForSendOnBehalfEnabled** and **MessageCopyForSentAsEnabled** parameters/settings: When a message is submitted via SMTP, it controls whether a copy of the message is stored in the mailbox or not. If not, there's no indication of a message having bee

[2022-09-24 22:10] dr-raypc commented on #9953
Both. I am investigating an Outlook bug with the current version installed and while comparing permissions and documentation I am curious to why it’s empty. I would feel even outside my issue that these Microsoft docs should be complete to both what the parameter is and what is the object of the parameter. Any outsider looking at the Set-Mailbox MS documentation would not know what the ‘-MessageCo

[2022-09-25 08:51] AAdamCCox commented on #9942
Looks good, thanks!

[2022-09-25 08:51] #9942 closed

[2022-09-26 17:43] chrisda commented on #9953
@DMoenks, thanks for the explanation.

@dr-raypc, as I mentioned, the explanation as to why there are parameters with blank descriptions is [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486). No one is implying that you're supposed to figure out what parameters with empty descriptions are for. As of today, there are 1397 Exchange cmdlet reference top

[2022-09-26 17:43] #9953 closed

[2022-09-26 19:12] Rowan-Ramasray opened #9961 "Set-CsPhoneNumberAssignment : Access Denied"
Hello,

When doing a phone number assignment using Microsoft Teams PowerShell and a SPN i get a access denied error....

**Detailed error:**

[code]

**How to reproduce:**
1. Create a SPN in Azure AD and assign the Global Administrator role
2. Install Teams Module 4.7.1
3. Connect to Teams using this script:
[code]
5. Assign Phone number using:
[code]

---
#### Document Details

⚠ *Do not edit thi

[2022-09-26 20:40] jebalert opened #9962 "No reference for connecting to USGovDoD using app-only (CBA) for Connect-ExchangeOnline"
existing recommendations in examples doe not apply or work. Throws winRM errors.

[2022-09-27 06:39] JensTrier commented on #9961
@Rowan-Ramasray thanks for the feedback! I'll take a look

[2022-09-27 07:10] pbafna03 commented on #9961
@Rowan-Ramasray - SPN / Application based auth is not yet supported for Set-CsPhoneNumberAssignment and will be enabled soon.  Ref - https://learn.microsoft.com/en-us/microsoftteams/teams-powershell-application-authentication#cmdlets-supported.

[2022-09-27 12:01] yogkumgit commented on #9961
@Rowan-Ramasray Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-09-27 12:01] #9961 closed

[2022-09-27 12:17] deontaljard1 opened #9965 "Connect-ippssession doesn't work with a certificatethumbprint"
Using ModuleVersion 3.0

After setting up the App registration and permissions with the self signed certificate I cannot connect with :

       Connect-Ippssession  -CertificateThumbPrint "mycertthumhere" -AppID "myappid" -Organization "myorg.OnMicrosoft.com"

It launches a user auth prompt.

Working connection methods :

       Connect-exchangeonline -CertificateThumbPrint "mycertthumhere" -AppID

[2022-09-27 13:32] lynx002 opened #9966 "Parameter -emailaddresses in Set-Unified Group does not exist"
Document specifies -emailaddresses as a parameter for Set-Unified group, but no such property exists in the module (using ExchangeOnlineManagement 3.0.0)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 80326e44-6beb-8983-57ab-8333608c504b
* Version Independent ID: 8962c0dc-72a3-208a-33de-6a89cd56b6fc
* Content: [Set-Un

[2022-09-27 14:21] falk-22 opened #9967 "Accidental acces to DiscoverySearchMailbox"
In the documentation is stated that the PolicyScopeGroupID parameter only accepts recipients that are security principals, so I cannot put a shared mailbox account here directly.
For me this does not matter, because I always use Application Access policies with mail enabled security groups and I only use the AccessRight "RestrictAccess" to allow the application only access to mailboxes that are me

[2022-09-27 14:43] InformTechPro opened #9968 "Azure automation account managed identity"
Hello, the public references mentions that connect-exchangeonline -managedidentity can use VM and Azure functions managed identity. Will it able to retrieve and use Azure Automation Account managed identity? The automation account account managed identity can be used via connect-azaccount -identity?

[2022-09-27 16:41] bluestarcs commented on #9458
@chrisda @fpsacha
@rudesome  I opened a case with Microsoft and at first the engineers thought this was a bug but then escalated the issue and said that this was actually functionality as designed. So, no fix is coming. Super bummer. I am sure Microsoft thinks this will motivate companies to upgrade to E5 to get this functionality via Graph however, having worked in legal technology for over a dec

[2022-09-27 17:16] chrisda commented on #9965
@deontaljard1, you should open a support ticket. Report back here with any useful information.

[2022-09-27 17:31] chrisda commented on #9966
@lynx002, I tried in Windows PowerShell 5.1 and PowerShell 7.2.6 with and without-UseRPSSession, and that parameter was available to me in all four cases.

So, we could be dealing with RBAC issues. What are the results of the following commands for you?

[code]

In my organization, the output of those commands looks like this (obvious custom role groups removed):

[code]

[2022-09-27 17:33] chrisda commented on #9967
@falk-22, you should open a support ticket and ask. Report back here with any information that can help in the documentation.

[2022-09-27 17:38] lynx002 commented on #9966
Hi Chris,

I am now able to use the command correctly. I don't know what could have
caused the error initially as I used the same module version and user at
all times.

I apologize for any inconvenience I may have caused and thank you for your
time.

- Daniel Arias

On Tue, Sep 27, 2022, 19:31 Chris Davis ***@***.***> wrote:

[2022-09-27 17:51] chrisda commented on #9458
@bluestarcs, so what exactly is the content fix? Is it just "New-ComplianceCase doesn't work in S&C PowerShell when using CBA/app-only auth"? Anything else?

[2022-09-27 17:53] chrisda commented on #9966
No problem. I thought it could have been a REST API vs. remote PowerShell cmdlets thing.

Thanks for the feedback.

Closing

[2022-09-27 17:53] #9966 closed

[2022-09-27 18:11] bluestarcs commented on #9458
@chrisda I am able to connect to IPPSSession using app authentication but only the commands that lay outside of the eDiscovery center work. I.e. Get-ComplianceSearch. None of the commands to access or modify the eDiscovery center work with app authentication. I.e. New-ComplianCase, get-ComplianceCase etc....Those commands require delegated permissions.

[2022-09-27 20:57] chrisda commented on #9968
@InformTechPro, you should open a support ticket and ask.

[2022-09-28 06:32] deontaljard1 commented on #9965
Thanks Chris, will do that

[2022-09-28 07:41] andersidahl opened #9971 "Does PolicyScopeGroupID support AzureAD groups?"
PolicyScopeGroupID is somewhat unclear. Can AzureAD groups be used?
Would be good to give some examples on grouptypes recommended for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a47ca7d5-2598-0c06-03fd-854f94cf6bbe
* Version Independent ID: a57408f6-16ca-3fcb-0c04-48a7a5f9942d
* Content: [New-ApplicationAcces

[2022-09-28 12:19] fpsacha commented on #9458
Since it is not possible to do a new-compliancesearch and action with Exchange, is it possible to do it with MsGraph ?

[2022-09-28 13:34] pbafna03 commented on #9961
Hi @Rowan-Ramasray - You can try this now.

[2022-09-28 14:42] yogkumgit commented on #9890
@shivtorov all three PR are merged. Hope these updates are helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-09-28 14:42] #9890 closed

[2022-09-28 16:58] chrisda commented on #9971
Checking

[2022-09-28 17:33] SaskaTune opened #9972 "Are the limitations listed for the UnifiedGroup cmdlets still accurate?"
In my recent testing, Set-UnifiedGroup appears to be working with certificate based authentication (CBA).  Is the limitation noted on this page specific to certain versions of the Exchange Online module?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c

[2022-09-28 17:43] chrisda commented on #9972
Checking

[2022-09-28 21:40] JustInnIO commented on #9965
I have the same problem on two Windows Server 2019. On Windows 10/11 clients it works.

[2022-09-28 22:48] chrisda commented on #9965
@JustInnIO, interesting script. If possible, I would replace the `Set-Content...-Encoding Byte` command with `[System.IO.File]::WriteAllBytes` it works with any/all versions of PowerShell from 2.0 to 7.x; `-Encoding Byte` ends at PowerShell 5.1.

[code]

[2022-09-29 11:12] #9965 closed

[2022-09-29 11:12] #9967 closed

[2022-09-29 11:12] #9968 closed

[2022-09-29 11:55] JeroenDronkers opened #9976 "Enabling SRS on outbound partner connector"
This article says: "as Partner connectors already have SRS rewriting enabled.:"
This is incorrect. Partner connectors by default don't have SRS rewriting enabled, therefore this is confusing.

Affects SenderRewritingEnabled parameter description on both New-OutboundConnector and Set-OutboundConnector.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-09-29 13:32] JeroenDronkers opened #9977 "Sender rewriting with partner connector"
[The statement "This parameter is only effective for OnPremises connectors as Partner connectors already have SRS rewritting enabled", is incorrect since this feature cannot be enabled on a partner connector]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f5c2bf2a-0ecb-498b-c8c4-fa62d3bc3c12
* Version Independent ID:

[2022-09-29 14:46] nikki-c opened #9978 "-SensitivityLabelId should be -SensitivityLabel"
-SensitivityLabelId does not return any results. You need to use -SensitivityLabel to view the sensitivity label. See image for example

![image](https://user-images.githubusercontent.com/69439002/193063176-6fc846ba-10c4-4709-851a-8ea26d43e9e4.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-09-29 16:40] chrisda commented on #9978
@nikki-c, availability vs. functionality of a parameter are often unrelated. See [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for more explanation.

Common sense says you would use the SensitivityLabelId parmeter on New/Set-UnifiedGroup to assign a sensitivity label to the Microsoft 365 Group. Are you successfully doing this? Did other content

[2022-09-29 16:44] chrisda commented on #9977
Knowing that this issue affects the SenderRewritingEnabled parmeter on both New-OutboundConnector and Set-OutboundConnector, closing this issue as a duplicate of #9976.

Thanks for the feedback.

[2022-09-29 16:44] #9977 closed

[2022-09-29 17:16] chrisda commented on #9976
@JeroenDronkers, I removed the incorrect statement from the SenderRewritingEnabled parameter description on New-OutboundConnector and Set-OutboundConnector.

Thanks for the feedback.

Closing

[2022-09-29 17:16] #9976 closed

[2022-09-29 23:26] nikki-c commented on #9978
@chrisda I am using Get-UnifiedGroup to report on the sensitivity labels applied to a Microsoft 365 group. This is showing SensitivityLabel and not SensitivityLabelId.  As per my previous screenshot.

[2022-09-30 00:17] chrisda commented on #9978
@nikki-c, ahh, OK. I can confirm that the parameter name where you set the sensitivity label in New/Set-UnifiedGroup is SensitivityLabelId as written. Can you confirm or deny? Easy way is to run this command:

[code]

This kind of thing happens occasionally; the output property in the Get command doesn't match the parameter name in the New and Set cmdlets.

[2022-09-30 02:21] blueleader07 commented on #9759
Hello, can you tell me if Microsoft plans to add support for Get-ComplianceCase and Get-CaseHoldPolicy?  Just switched from basic auth to cert-based auth ... and now I'm realizing I can't even search for a case or policy.  These are basic commands that allow us to navigate from Case to Policy to Rule.  Is there an alternative?  I'm not sure what the point of switching is if we can't use the same c

[2022-09-30 04:55] DMoenks commented on #9971
As far as I know, the documentation is as detailed as possible in this regard: Values for the **PolicyScopeGroupID** parameter must be security principles by definition of Exchange Online. The only group type usable in this regard would be mail-enabled security groups, which disqualifies Azure AD groups. The introduction of the following article could pose as some form of confirmation for this: [L

[2022-09-30 10:16] nikki-c commented on #9978
I can confirm that New-UnifiedGroup shows SensitivityLabelId. It is confusing when the New & Set commands are different with the Get. It took me ages to work out why I was not getting any results.  I guess I just use the command with the relevant command if I encounter blank results again when using Get

PS C:\WINDOWS\system32> (Get-Command New-UnifiedGroup).parameters.keys | Sort-Object
AccessTyp

[2022-09-30 11:21] simkimsia opened #9982 "Import-Module ExchangeOnlineManagement does not work"
<img width="922" alt="CleanShot 2022-09-30 at 19 18 13@2x" src="https://user-images.githubusercontent.com/245021/193258986-ff241d9d-6af9-4e52-866d-6d6c157bcfd2.png">

The documentation is not helping either. What should i do? I am already running as admin

[2022-09-30 11:25] simkimsia commented on #9982
Nvm I solved it

PS C:\Windows\system32>  Get-ExecutionPolicy -Scope CurrentUser
Undefined
PS C:\Windows\system32> Set-ExecutionPolicy -ExecutionPolicy AllSigned

<img width="981" alt="CleanShot 2022-09-30 at 19 25 31@2x" src="https://user-images.githubusercontent.com/245021/193259779-870dfce4-35fe-4ad0-8b5d-536a93defaa3.png">

[2022-09-30 11:25] #9982 closed

[2022-09-30 15:44] #8117 closed

[2022-09-30 16:31] chrisda commented on #9978
@nikki-c, I agree it's confusing.

I completed the descriptions of the SensitivityLabelId parameter in New/Set-UnifiedGroup as follows:

 Does this help?

[2022-09-30 16:53] jebalert opened #9985 "-BypassSecurityGroupManagerCheck not a recognized parameter"
I don't believe -BypassSecurityGroupManagerCheck is valid anymore of Remove-DistributionGroupMember. See Error below when attempts are made to use it.

`2022-09-30T16:49:23Z   [Error]   ERROR: A parameter cannot be found that matches parameter name 'BypassSecurityGroupManagerCheck'.

OriginInfo            : outlook.office365.com
Exception             :
    Type                           : System.M

[2022-09-30 17:24] chrisda commented on #9985
@jebalert, lots of questions.

The following command in my plain, nothing special E5 tenant shows that BypassSecurityGroupManagerCheck is available to me in Exchange Online:

[code]

To eliminate RBAC issues, run the following commands:

[code]

This is what I get in my organization (obvious custom roles/role groups removed):

[code]

After that, it gets down to connection methods:

- Are you usin

[2022-09-30 17:27] jebalert commented on #9985
Leveraging app only auth. The service principle has recipient management and manage as permissions. Module version is 2.0.5. I know that 3.0.0 came out this week. I don't believe UseRPSSession exists in 2.0.5

[2022-09-30 17:31] chrisda commented on #9985
Since you're using app-only auth, I would highly recommend [upgrading to v3.0.0](https://learn.microsoft.com/powershell/exchange/exchange-online-powershell-v2#update-the-exchange-online-powershell-module) and trying again.

[2022-09-30 17:50] jebalert commented on #9985
I'm going to look into this. I believe I made an attempt to update my requirements file earlier this week and had issues with assemblies. Do we know if v3.0.0 plays nicely with PowerShell runtime 7.0 in Azure Functions?

[2022-09-30 19:08] nikki-c commented on #9978
Perfect
________________________________
From: Chris Davis ***@***.***>
Sent: Friday, September 30, 2022 5:31:15 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Nikki Chapple ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] -SensitivityLabelId should be -SensitivityLabel (Issue #9978)

@nikki-c<https://github.com/nikki-c>, I agree it's confusing.

[2022-09-30 21:22] chrisda commented on #9985
No idea about Azure Functions.

[2022-10-02 02:30] Contorsom opened #9987 "MCLOUD LLC"

[2022-10-03 08:29] naitmare01 opened #9988 "Filter dynamic groups on employeetype"
I want to be able to filter dynamic groups on employeeType with Azure AD Cloud sync.
Don't know if this is the correct place for this feature request, please send me in the right way.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3762ada1-99d6-fa6d-fbd7-524003f8c3b2
* Version Independent ID: 03e801b7-fa14-b5fb-8600-1

[2022-10-03 10:16] WillemVerwijs opened #9989 "what for onprem"
What would be the command for SfB 2019 on-prem?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 68d9f375-9d34-2b3a-18da-ba0c3f5e6430
* Version Independent ID: ba24e413-c5c5-916c-3686-bd3905ca8516
* Content: [Get-CsUserActivitiesReport (ExchangePowerShell)](https://learn.microsoft.com/en-us/powershell/module/exchange/ge

[2022-10-03 11:58] #9987 closed

[2022-10-03 14:17] satyajit321 opened #9990 "PowerShell examples are missing $PSItem in foreach Loop"
Incorrect Sample: $NPS | foreach {Set-User -RemotePowerShellEnabled $false}

Corrected Sample: $NPS | foreach {Set-User  $_ -RemotePowerShellEnabled $false}

If you are using a Object as input: Then we need to select
$DSA | foreach {Set-User  $_.Name  -RemotePowerShellEnabled $false}

$_ or $PSItem needs to be used to reference the item passed via the Pipe.

---
#### Document Details

⚠ *Do not ed

[2022-10-03 14:39] devonbowers opened #9991 "Incorrect Scripts"
Powershell scripts do not work as written, missing close brackets on some, need to nest your loops, please test these before posting!

use something like this
foreach ($NP in $NPS) {Set-User -Identity $NP -RemotePowerShellEnabled $false}

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d03c6ce2-687b-e138-939b-413014d1c8

[2022-10-03 16:52] DMoenks commented on #9991
Duplicate of #9990

[2022-10-03 17:01] chrisda commented on #9988
@naitmare01, your best path forward is to open a support ticket about this.

[2022-10-03 17:14] chrisda commented on #9990
@satyajit321, topic updated.

Thanks for the feedback.

Closing

[2022-10-03 17:14] #9990 closed

[2022-10-03 17:19] chrisda commented on #9991
Closing as duplicate of #9990.

That topic has been incorrect for a long time. Four years at least.

Thanks for the feedback.

Closing

[2022-10-03 17:19] #9991 closed

[2022-10-03 18:03] chrisda commented on #9962
Checking

[2022-10-04 05:06] yogkumgit commented on #9988
@naitmare01 Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation

[2022-10-04 05:06] #9988 closed

[2022-10-04 05:08] yogkumgit commented on #9985
@jebalert Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-04 05:09] #9985 closed

[2022-10-04 06:38] jbb4play commented on #9458
I have been able to do a compliance search
[code]
I am just not able to start it

[code]

[2022-10-04 08:50] Alex-Catalin opened #10000 "Clarify usage off SharedCalendarSyncStartDate"
On the https://learn.microsoft.com/powershell/module/exchange/set-mailboxcalendarfolder#-sharedcalendarsyncstartdate, we have the following note:

Notes:

You use this parameter on the shared calender's mailbox, not the delegate's mailbox.
Users need to have FullDetails, Editor, or Delegate access to the specified shared calendar.
Setting this parameter might cause events in the shared calendar to

[2022-10-04 14:31] SiegfriedB2 opened #10001 "guidance for locking themselves out?"
Since I have seen this twice on the web now, it might be good to mention that if they accidentally locked out themselves (and/or everybody), they need no create a new user which then will have PS access again. Or alternatively, provide guidance on how to exclude a user. Like get-user | Where-Object {$_.userprincipalname -ne 'xxx@xxx.com'} | Set-User -RemotePowerShellEnabled $false

[2022-10-04 19:35] chrisda commented on #9972
@SaskaTune, apparently nothing has changed. You might find that some parameters work, but many still do not, so our position about 'not supported' is still in effect.

[2022-10-04 19:52] chrisda commented on #9962
@jebalert, interesting this hasn't come up before, but the Connect-ExchangeOnline commands require `-ExchangeEnvironmentName O365USGovGCCHigh` or `-ExchangeEnvironmentName O365USGovDoD` just like the [regular connection instructions](https://learn.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell). Fortunately, there's nothing different/special required to actually set up CBA

[2022-10-04 20:46] chrisda commented on #10001
@SiegfriedB2, I added the following note to the [Enable or disable access to Exchange Online PowerShell]( https://learn.microsoft.com/powershell/exchange/disable-access-to-exchange-online-powershell) (which is what I presume we're talking about here?

OK?

[2022-10-04 22:08] nmistry77 opened #10004 "Cannot remove a member who is an owner using powershell"
When trying to remove an owner who is also member using p$ command below, i receive the following error

Microsoft.Exchange.Management.Recipient.GroupOwnersCannotBeRemovedException|Only Members who are not owners can be removed from group. Please remove <user> as owners before removing them as members.

I can achieve the same using GUI.

Can you please update/fix this anomaly as I would like to up

[2022-10-04 22:16] chrisda commented on #10004
@nmistry77, can't you use PowerShell to assign different group owners, and then remove the members you want?

Other than that, you should open a support ticket.

[2022-10-04 22:22] chrisda commented on #10000
@Alex-Catalin, Description of the first bullet changed to:

OK?

[2022-10-04 23:19] nmistry77 commented on #10004
Hi Chris, the issue is "Cannot remove an owner who is also a member", I can certainly add a new Owner as per your suggestion but that would not solve the issue I am facing where I am trying to remove a member who is also an Owner.

Also note I can achieve the same using the GUI where the same Owner who is also the member can be removed from the members. (seem's like a bug to me in P$)

[2022-10-05 00:06] chrisda commented on #10004
Cool. Then a support ticket is the best way to go.

[2022-10-05 07:22] Alex-Catalin commented on #10000
Hi Chris,

Yes, that's about it!

Thank you,
Alex

From: Chris Davis ***@***.***>
Sent: Wednesday, October 5, 2022 1:22 AM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Alexandru Cazacu ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Clarify usage off SharedCalendarSyncStartDate (Issue #10000)

@Alex-Catalin<https://nam06.safelinks.protection.outl

[2022-10-05 10:36] JeroenDronkers opened #10007 "Get-ProtectionAlert -Identity "xxxxxx" cannot be used"
[Get-ProtectionAlert -Identity "Malicious Email Campaign" Or any other Identity like this does not work. Identities for these policies are more complex for these policies and look like as follows: FFO.extest.microsoft.com/Microsoft Exchange Hosted Organizations/f00ed340-8f84-4eb4-83f3-0075a22b262e/Configuration/Suspicious email sending patterns detected]

---
#### Document Details

⚠ *Do not edit

[2022-10-05 10:42] yogkumgit commented on #10000
@Alex-Catalin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-05 10:42] #10000 closed

[2022-10-05 10:43] yogkumgit commented on #10001
@SiegfriedB2 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-05 10:43] #10001 closed

[2022-10-05 10:44] yogkumgit commented on #10004
@nmistry77 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-10-05 10:44] #10004 closed

[2022-10-05 10:46] yogkumgit commented on #9962
@jebalert Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-05 10:46] #9962 closed

[2022-10-05 10:47] yogkumgit commented on #9972
@SaskaTune Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-05 10:47] #9972 closed

[2022-10-05 16:36] bluestarcs commented on #9458
@jbb4play Just make sure you are in an elevated PS session and you should be good to go. You can use Graph however all that  would require an E5 license or equivalent in most cases.

[2022-10-05 17:31] chrisda commented on #10007
@JeroenDronkers, I just tried it in PowerShell 5.1 and PowerShell 7.2.6. There is (no longer?) an alert policy named "Malicious Email Campaign", so I changed the example to use "Malware campaign detected after delivery", but the command using the regular/friendly name as the Identity value worked fine for me:

[code]

Are you using the latest version of the module (v3.0.0)? Are you connecting usin

[2022-10-05 18:22] Phantom-309 opened #10011 "Maybe one additional step could be added..."
As it relates to the Exchange Zero-Day (which is how I got directed to this page (https://msrc-blog.microsoft.com/2022/09/29/customer-guidance-for-reported-zero-day-vulnerabilities-in-microsoft-exchange-server/)), aren't we missing steps to only setup allowed access for a specific user or a set of users so that a connection can't be made by anyone other than those that have been specified. I under

[2022-10-05 18:48] sarollins opened #10012 "Description attribute?"
In the O365 Teams Admin portal, there is a description field, but for the life of me, I can't see this anywhere in the current attributes

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1d724d21-5a9b-4610-349a-cc43e1b77fa3
* Version Independent ID: 359415a2-239c-c5cb-a12b-879e24643189
* Content: [Set-CsTeamsAudioConfer

[2022-10-05 19:50] chrisda commented on #10011
@Phantom-309, don't the options in [Use the Exchange Management Shell to disable remote PowerShell access for many users](https://learn.microsoft.com/en-us/powershell/exchange/control-remote-powershell-access-to-exchange-servers#use-the-exchange-management-shell-to-disable-remote-powershell-access-for-many-users) meet the needs of the scenario you're describing? I'm not exactly sure what's missing

[2022-10-05 20:38] chrisda commented on #9971
@DMoenks is correct: mail-enabled security groups are the only types of groups that you can use with the parameter.

On the whole, I found the entire description a bit lacking, so I clarified and reorganized. Hopefully, that will help:

[2022-10-06 03:59] jeansfirefox741 opened #10015 "Disable Outlook Everywhere"
no long use, jeanmsweeny@live.com, nor Outlook mail, and don’t want ms server on my MacBook air

[2022-10-06 05:00] #10015 closed

[2022-10-06 07:07] andersidahl commented on #9971
Thanks for the reply and the clarification.

If only mail-enabled security groups are supported - that means a cloud only environment do not support this feature, since mail-enabled security groups needs to be synced from on-prem?

[2022-10-06 08:55] JeroenDronkers commented on #10007
Thanks Chris,

I tried yesterday running Get-ProtectionAlert -Identity "Suspicious connector activity" and it didn’t work but today it does, so I am not sure what went wrong.

Also Get-ProtectionAlert -Identity "Malware campaign detected after delivery" works fine.

Thanks for having checked this.

Kind regards

--
Jeroen Dronkers
Support Escal Eng
Eq-Uk Gtsc Bizapps Server
Customer Services and S

[2022-10-06 12:38] Phantom-309 commented on #10011
I was looking at it from more of a firewall policy perspective. The how-to steps to ensure only authorized access is allowed could be more of a 2 step process. Step 1 - setup approved access for one or more users. Step 2 - block all other access. Step 2 (if it can even be done this way) is the part I was suggesting would be quite risky, but I see it as needing to follow more of a firewall policy t

[2022-10-06 16:03] chrisda commented on #9971
@andersidahl, not at all. You can create and use mail-enabled security groups in cloud-only environments. See [here](https://learn.microsoft.com/microsoft-365/admin/create-groups/compare-groups).

[2022-10-06 21:04] chrisda commented on #10011
What you're describing makes sense, but I think the firewall configuration analogy gets a little messy here. Keep in mind: PowerShell access is already on by default for everyone, so you don't need to do anything to specify who should have it. The only action required is to turn it off for those who shouldn't have it (and possibly the addition of "don't go crazy turning it off for everyone all at

[2022-10-06 21:11] Phantom-309 commented on #10011
I understand and thank you. I guess it's more of a desire for it be configurable in another way. Allow only those you setup and by default block everyone else thereafter.

[2022-10-06 22:20] chrisda commented on #10011
I did added the "don't shoot yourself in the foot" information and did a bit of other clean-up. Hopefully, that helps.

[2022-10-07 09:26] dmuensterer commented on #1709
Very unfortunate, that this is still not working on MacOS.

[2022-10-07 10:24] #9971 closed

[2022-10-07 10:29] yogkumgit commented on #10011
@Phantom-309 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-07 10:29] #10011 closed

[2022-10-07 10:30] yogkumgit commented on #10007
@JeroenDronkers Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-07 10:30] #10007 closed

[2022-10-07 13:59] Spence10873 opened #10022 "Get-User Example Should Use -AND"
[Enter feedback here]
The _Important_ blue box near the top with the example for Get-User | Where-Object{$_.UserPrincipalName..... should use -AND instead of -OR when filtering users. The way it's written, no matter how many UPNs you add, you get the same number of results from the Get-User cmd.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHu

[2022-10-07 17:20] get-itips commented on #9989
Hello @WillemVerwijs
cmdlet is not available for Server version of SfB.

[2022-10-07 17:24] get-itips commented on #10012
Hello @sarollins
It's true however the cmdlet still doesn't add the ability to set it.
Thank you,

[2022-10-08 12:36] Attila-FIN opened #10024 "Parameters missing for the "set" command"
[Enter feedback here]
Parameters missing:
-EmergencyCallRoutingPolicy
-EmergencyCallingPolicy

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e00101f8-9c14-19c6-bb9c-5585e8013532
* Version Independent ID: 678dd550-bf3e-c3d2-bc35-5143751246f4
* Content: [Set-CsTenantNetworkSite (SkypeForBusiness)](https://learn.microsof

[2022-10-10 12:02] captainhook opened #10025 "MicrosoftTeams Powershell module errors when using Application-based authentication (AccessTokens), 4.7.1-preview"
Hi folks,

We are able to run the following in a PowerShell terminal on desktop and as expected everything works fine:
[code]

We are now trying to build some automation and have followed Microsoft's guide '[Connect to MicrosoftTeams using Application-based Access Tokens](https://learn.microsoft.com/en-us/powershell/module/teams/connect-microsoftteams?view=teams-ps#example-5-connect-to-microsoftte

[2022-10-10 12:19] pbafna03 commented on #10025
Hi @captainhook,

Are the relevant Azure AD admin roles assigned to the app?

Thanks,

[2022-10-10 12:20] captainhook commented on #9961
@Rowan-Ramasray did you manage to get this working?

[2022-10-10 12:30] captainhook commented on #10025
Hi @pbafna03,

Ah, I did completely miss that out!
I have added 'Teams communications administrator' role and retested - it is working :)

Is Grant-CsOnlineVoiceRoutingPolicy supported using App-based auth?

[2022-10-10 12:37] pbafna03 commented on #10025
Thanks for confirming @captainhook.

Policy Grants are not yet supported with application-based auth but will be rolled out soon.

[2022-10-10 13:48] yogkumgit commented on #9989
@get-itips Thank you very much for the contribution and sharing this explanation. @WillemVerwijs Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-10 13:48] #9989 closed

[2022-10-10 13:49] yogkumgit commented on #10012
@get-itips Thank you very much for the contribution and sharing this explanation. @sarollins Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-10 13:49] #10012 closed

[2022-10-10 16:44] chrisda commented on #10022
@Spence10873, confirmed and fixed.

Thanks for the feedback.

Closing.

[2022-10-10 16:44] #10022 closed

[2022-10-11 00:43] Noraa5 opened #10030 "Code in 'Important' section wrongly uses -or instead of -and"
In the 'Important' section at the top of the page, it wrongly uses `-or` instead of `-and` in the code.
Instead of  `Get-User | Where-Object {$_.UserPrincipalName -ne 'admin1@contoso.com' -or $_.UserPrincipalName -ne 'admin2@contoso.com'...} | Set-User -RemotePowerShellEnabled $false`
it should be `Get-User | Where-Object {$_.UserPrincipalName -ne 'admin1@contoso.com' -and $_.UserPrincipalName -ne

[2022-10-11 07:03] nicuberger commented on #9518
Hello Jens

On Azure Automation Runbook Runtime version 5.1 and on a Windows 11 client with Powershell 5.1.22000.653

Von: Jens Trier Rasmussen ***@***.***>
Gesendet: Freitag, 10. Juni 2022 09:04
An: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Nicu Berger ***@***.***>; Mention ***@***.***>
Betreff: Re: [MicrosoftDocs/office-docs-powershell] Set-CsOnlineSchedule : Internal server error oc

[2022-10-11 07:46] jianhsieh commented on #9081
There is one thing not directly related but may need considerations.

*IF* customer's mailboxes are all created with -IsDefault, we may need to prevent setting another new policy as the new default. If the policy updates to whole bunch of mailboxes and the users are all within corporate network, Outlook will be downloading massive changes as MAPI properties needs to be synced.

This will saturate

[2022-10-11 14:00] Adzino1 opened #10031 "Issue with Connect-IPPSession to DelegatedOrganisation"
Hey,

Running into an issue with our scripts here - We are unable to use the Connect-IPPSession with the -DelegatedOrganisation parameter.

Getting Access Denied and A strange issue here
![image](https://user-images.githubusercontent.com/115543795/195111688-0f8bcfb2-3fac-4a4f-abbe-93e00ae43ab7.png)

Let me know if you need more info!

I've been to MS and The MS community who've pointed me here.

A

[2022-10-11 15:20] chrisda commented on #10030
@Noraa5, yes. Fixed yesterday #10022.

Thanks for the feedback.

Closing

[2022-10-11 15:20] #10030 closed

[2022-10-11 20:44] kkoellner opened #10035 "Get-CsApplicationAccessPolicy truncates list of APPs"
Get-CsApplicationAccessPolicy   truncates list of Apps.  Either this command should have a switch to provide the whole list of if that functionality exists elsewhere, the documentation for Get-CsApplicationAccessPolicy should point to it.

Identity    : Tag:Test-policy
AppIds      : {b747fe91-1356-418b-965e-27b6abddf4b9, 7bb97176-4520-4477-a2ae-8eb7543c2759, c60a71c4-48e7-46f5-b6e6-32e45cf61239, 6

[2022-10-12 00:03] chrisda commented on #10031
@Adzino1, are you using v3.0.0 of the ExchangeOnlineManagement module?

Notice that the description for the DelegatedOrganization parameter in [Connect-IPPSSession](https://learn.microsoft.com/powershell/module/exchange/connect-ippssession) is 'reserved for internal Microsoft use'.

You should open a support ticket and ask.

[2022-10-12 06:11] yogkumgit commented on #10031
@Adzino1 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will c

[2022-10-12 08:42] Adzino1 commented on #10031
Funnily enough, Microsoft asked me to come to Git and ask :)

[2022-10-12 08:55] Niehweune opened #10039 "Please warn about disabling RPS for Health Mailboxes"
Although the article warns about blindly disabling RPS for everyone (including admins) and suggest using an attribute or 'list of users' approach to exclude admins, this isn't enough.

You should also mention health mailboxes, since disabling RPS for those users will cause the RPS healthset to fail (with a very ugly error because 'AuthZ-RemotePowerShellNotEnabledException' isn't handled properly b

[2022-10-12 10:06] vogla opened #10040 "PowerShell cmdlet "Set-UnifiedGroup" cannot be replaced with Graph"
The PowerShell cmdlet [Set-UnifiedGroup](https://learn.microsoft.com/en-us/powershell/module/exchange/set-unifiedgroup) **cannot** be replaced with Graph! Most of the relevant group properties, such as "mail" and "proxyAdresses", are _read-only_ in Graph. It is frustrating for partners and developers that existing deficits of the Graph API in the area of group management and Exchange are not docum

[2022-10-12 15:40] sarollins opened #10042 "Invalid DirectRoutingTelephoneNumber '1'"
Issuing the following command

Get-CsPhoneNumberAssignment -Top 80 -NumberType CallingPlan -PstnAssignmentStatus UserAssigned | Select AssignedPstnTargetId, LocationId, TelephoneNumber

we are seeing the following error

Get-CsPhoneNumberAssignment : Invalid DirectRoutingTelephoneNumber '1'
At line:1 char:1
+ Get-CsPhoneNumberAssignment -Top 80 -NumberType CallingPlan -PstnAssi ...
+ ~~~~~~~~~~~~~

[2022-10-12 15:47] JensTrier commented on #10042
@sarollins Thanks for the feedback. If you are fine with replying with your tenantid and date/time of when you saw this error, please do. Otherwise please open a Microsoft support case with your tenantid and date & time of when you did the above cmdlet such that we can investigate what's going on.

[2022-10-12 17:09] chrisda commented on #10031
@Adzino1, unless you hear otherwise, presume DelegatedOrganization doesn't work on Connect-IPPSSession. After all, the documentation says, "reserved for internal Microsoft use".

I'm asking some other sources (the same sources the support ticket people should have been asking!), but I'm pretty sure they would have told me about it based on the recent GA launch of v3.0.0, and the massive feature/do

[2022-10-12 17:29] chrisda commented on #10040
@vogla, I changed the offending line to say:

OK?

[2022-10-12 17:51] chrisda commented on #10039
@Niehweune, added 'health monitoring mailboxes' in the example of what to preserve.

OK?

[2022-10-12 21:01] chrisda commented on #10031
@Adzino1, apparently, DelegatedOrganization is expected to work. You must be using v3.0.0 of the module, and you must also use the AzureADAuthorizationEndpointUri parameter in the command.

Report back here if that doesn't work. I've updated the documentation accordingly.

[2022-10-13 09:22] Mr-Tbone opened #10049 "connect-exchangeonline Missing closing ')' in expression."
I have problems running V3

My profile path is based on Azure AD Displayname and is: "C:\Users\TorbjörnGranheden(Co"
it contains both international and special characters.

When you install Exchange Online PowerShell v3 you get the following error when trying to run connect-exchangeonline:

At line:1 char:103
+ ... den(Co\AppData\Local\Temp\tmpEXO_m03w2t4r.mpe -Recurse -Force;$null = ...
+

[2022-10-13 12:58] Niehweune commented on #10039
Perfect 👌

[2022-10-13 12:58] #10039 closed

[2022-10-13 14:30] yogkumgit commented on #10040
@vogla Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-14 11:22] JensTrier commented on #10042
@sarollins I could repro the error you are seeing by configuring an on-premises AD user with the msRTCSIP-Line attribute set to 'tel:1' and synching the user to M365 via AAD Connect.

I assume your configuration is the same. To correct it, you need to find the user and clear the msRTCSIP-Line attribute. You can find the user using Get-AdUser -Filter {msRTCSIP-Line -eq 'tel:1'} in on-premises AD Po

[2022-10-14 18:02] vogla commented on #10040
Thank you for correcting the offending line! Even though it is a small change, it helps to clarify that Graph is not just a drop-in replacement for the PowerShell cmdlets yet.

[2022-10-14 18:03] #10040 closed

[2022-10-17 22:41] luckman212 commented on #8841
@asdcristi Did you ever get resolution on this? I'm running into what appears to be the same issue- `Get-ComplianceSearch` cmdlet reporting `0` for `Items` yet in Purview on the web, clearly there are items found...

<img width="869" alt="image" src="https://user-images.githubusercontent.com/1992842/196297067-2520cf0f-7a00-4265-8403-803d48b8223a.png">

<img width="913" alt="image" src="https://use

[2022-10-18 00:40] chrisda commented on #8841
@luckman212, same advice: open a support ticket and report back here with any findings.

You should be using v3.0.0 of the Exchange Online PowerShell module now.

[2022-10-18 07:11] isrumnon commented on #9371
Hi @thewrabbit, reaching out to you again regarding adoption of modern TPM versions. The updated timelines are now as follows:

- Availability of modern TPM versions (with improved performance/functionality): 15th November
- Deadline for adoption of modern TPM versions: 15th December (tentative)

Modern TPM versions = versions >2.6.0

[2022-10-18 07:58] asdcristi commented on #8841
@luckman212 was able to get them to populate with the below, however don't remember exactly what was the solution:

$results = @()
$compl=Get-ComplianceCase
foreach ( $compliencecase in $compl )     {
    $compliancesearches=Get-ComplianceSearch -Case $($compliencecase.identity) -ResultSize unlimited

    foreach($compliancesearch in $compliancesearches){
    $result = Get-ComplianceSearch $($comp

[2022-10-18 07:58] #8841 closed

[2022-10-18 08:58] gr79 opened #10057 "Difference between Get-SPOPublicCdnOrigins and Get-SPOTenantCdnOrigins"
I am confused by the difference between Get-SPOPublicCdnOrigins and Get-SPOTenantCdnOrigins -CdnType Public (and all variants such as New-SPOPublicCdnOrigins and Add-SPOTenantCdnOrigins, etc.)

They sound the same, but when I ran Get-SPOTenantCdnOrigins -CdnType Public, I get a list of CDNs, while if I run Get-SPOPublicCdnOrigins I get nothing.

Moreover, when I run Get-SPOTenantCdnEnabled -CdnTyp

[2022-10-18 13:31] luckman212 commented on #8841
Thanks @chrisda - Upgrading to EXO v3 module seems to have fixed the problem. What's the best place to watch for announcements like this? I missed this (apparently major) release completely.

[2022-10-18 15:11] exactmike opened #10058 "Get-Place and Set-Place do not work with synchronized room mailboxes at all"
Per the documentation [here](https://learn.microsoft.com/powershell/module/exchange/set-place) I expect to be able to set non-mastered attributes for synchronized room mailboxes using Set-Place and to view the current configuration for a synchronized room mailbox using Get-Place.  However, when attempt is made to use the cmdlets in this way they are unable to locate the recipient object:

Error: "

[2022-10-18 16:48] chrisda commented on #8841
@luckman212, I was hoping there was a Message Center post about the new version of the module, but I didn't see one.

Periodically running the following command will show any updates to the module, and will allow you to see where you're at:

[code]

[2022-10-18 17:24] csbescos opened #10059 "Unable to set ReportToOriginatorEnabled parameter"
Need the ability to redirect NDRs when sending messages to unified groups.  Traditionally this is done by setting the ReportToManagerEnabled and ReportToOriginatorEnabled parameters on the group.

Would like to be able to set these parameters on a unified group.  The parameters exist today, but we are unable to edit using the cmdlet:

[code]

---
#### Document Details

⚠ *Do not edit this section.

[2022-10-18 19:40] chrisda commented on #10059
@csbescos, your best way forward is to open a support ticket about this.

[2022-10-19 04:58] csbescos commented on #10059
I have an open case. Feel free to close if there is nothing further.

[2022-10-19 07:56] hmoritarts opened #10060 "Get-EXOMailbox returns wrong value for roommailbox property isShared when filter condition present."
When running Get-EXOMailbox on ExO V2/V3 Module, incorrect value is returned. "IsShared" attribute is supposed to be False for a RoomMailbox, but if -Filter option is used, True is returned instead.
It only occurs in RoomMailbox. It does not occur in UserMailbox.
The issue occurs in all RoomMailboxes.
It does not occur when using the Get-Mailbox command. This only occurs when using the Get-ExOMail

[2022-10-19 09:12] hmoritarts commented on #10060
Repro Steps:
Connect to Exchange Online and perform the following steps
==========
// property definition
$mailboxProperties = @("Name","UserPrincipalName","IsShared")

// filter definition
$mailboxFilter = "(Alias -like '*kaigi1*') -and (RecipientTypeDetails -eq 'UserMailbox' -or RecipientTypeDetails -eq 'RoomMailBox')";

// Command execution (with filters)
Get-EXOMailbox -ResultSize unlimited -F

[2022-10-19 14:43] Adzino1 commented on #10031
Hey, using this command here -

Connect-IPPSSession -DelegatedOrganization 'xxx.onmicrosoft.com' -AzureADAuthorizationEndpointUri 'https://login.microsoftonline.com/common'

Still getting Access denied errors

running exchange online module 3.0.0
![image](https://user-images.githubusercontent.com/115543795/196723529-606d0032-b2f0-4740-b67b-4be5ce90bce3.png)

[2022-10-19 16:24] chrisda commented on #10059
Feel free to report back here if any updates to documentation will help.

Closing.

[2022-10-19 16:24] #10059 closed

[2022-10-19 16:30] chrisda commented on #10031
@Adzino1, how is your support ticket about this going? Is it still open?

[2022-10-20 07:10] Adzino1 commented on #10031
@chrisda Sent them the updated info, as I have here. Just waiting on a response.

[2022-10-20 07:49] JensTrier commented on #10042
@sarollins we have implemented the change to bypass these invalid Direct Routing phone numbers. Please have a look.

Feel free to close this issue

[2022-10-20 07:51] sudkumar1 commented on #9458
I tried to find the equivalent graph API but unable to find find it, can you please help the graph API doc for  Compliance and security center ?

[2022-10-20 12:03] yogkumgit commented on #9498
@isrumnon Gentle reminder.

[2022-10-20 12:05] yogkumgit commented on #10049
@Mr-Tbone Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-10-20 12:24] sarollins commented on #9498
We still have clients seeing Not Yet Supported in the OnPremLineUri attribute.  Is this related to a specific version of the Teams module?

[2022-10-20 18:42] jdurlewanger opened #10066 "Please fix table on page"
[The table is too large for the displayed area and the slider is at the bottom. This is extremely unpleasant. This is a very long list. If you want to look at one of the first items you have to scroll down to the bottom of the page slide over and scroll all the way back up.]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-10-20 20:07] chrisda commented on #10066
Known issue. In fact, this was also an issue back in 2018 and earlier when we were still on TechNet. No good answer, except to architect the topic to not use a table.

You can also use the left and right arrow keys to scroll horizontally.

[2022-10-20 21:44] chrisda commented on #10058
@exactmike, are you using the latest version of the ExchangeOnlineManagement module (v3.0.0)?

If you're using the EXO V3 module, are you connecting with or without the _UseRPSSession_ switch?

If you're using the EXO V3 module, are you connecting using certificate-based authentication (CBA)?

[2022-10-20 21:50] chrisda commented on #10060
@hmoritarts, if you're using v3.0.0 of the module, you should open a support ticket about this.

You can try a different connection method, i.e., if you're connecting in REST API mode without the _UseRPSSwitch_ try connecting using the _UseRPSSwitch_, or vice-versa. If you're connecting in app-only (certificate-based authentication) mode, try using 'regular' mode.

[2022-10-21 04:51] mervyd opened #10071 "Learn Build status updates of commit _[01c714e](https://github.com/ybhargav1995/office-docs-powershell/commits/01c714ef242c6d46bfb2344a44c297f46d1166fd)_:"
Learn Build status updates of commit _[01c714e](https://github.com/ybhargav1995/office-docs-powershell/commits/01c714ef242c6d46bfb2344a44c297f46d1166fd)_:

### :white_check_mark: Validation status: passed

File | Status | Preview URL | Details
---- | ------ | ----------- | -------
[exchange/exchange-ps/exchange/New-DlpCompliancePolicy.md](https://github.com/ybhargav1995/office-docs-powershell/blob

[2022-10-21 04:52] mervyd commented on #10071
@mervyd

[2022-10-21 04:58] pang422 opened #10072 "a"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c465a6d5
* Content: [App-only authentication in Exchange Online PowerShell and Security & Compliance PowerShell](https://learn.microsoft.com/en-us/powershell/e

[2022-10-21 09:39] isrumnon commented on #9718
Hi @LuisEmilioR reaching out to you regarding a use case in Teams PowerShell Module - Do you have a requirement to filter based on UservalidationErrors?

[2022-10-21 12:45] rudesome commented on #9458
@bluestarcs
this is definitely a bug in Powershell Core, as the same process/cmdlet is functioning just fine within Windows Powershell...
if Microsoft wants customers to buy E5 licenses they should remove the cmdlet completely from the EXO module and admin portal...

[2022-10-21 13:17] isrumnon commented on #9498
@sarollins we display OnPremLineUri  for specific customers on a case by case basis. If required plz email me the target tenantID and we'll have it enabled. Either that or you can just raise a support ticket stating the requirement along with the target tenantID

[2022-10-21 15:37] exactmike commented on #10058
Yes, I'm using the latest version of the ExchangeOnlineManagement (v.3.0.0).  I am NOT using -UseRPSSession. I am NOT using Certificate-based authentication.  Calling Connect-ExchangeOnline either with no parameters at all or with -UserPrincipalName.

[2022-10-22 08:07] DMoenks commented on #10066
I thought about how to possibly rework this into a different format, while keeping some of the original table approach and without ending up with too much vertical scrolling. A proposed approach for the first two properties is shown below as an example.
The property "headers" could as well be made into real headers, allowing readers to directly navigate/link to specific properties, but this might

[2022-10-24 03:23] yogkumgit commented on #9498
@isrumnon Thank you very much for sharing this explanation. @sarollins Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution

[2022-10-24 03:23] #9498 closed

[2022-10-24 05:29] #10072 closed

[2022-10-24 05:31] yogkumgit commented on #10060
@hmoritarts Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wil

[2022-10-24 05:31] #10060 closed

[2022-10-24 05:32] yogkumgit commented on #10042
@JensTrier Thank you very much for sharing this explanation. @sarollins Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-24 05:32] #10042 closed

[2022-10-24 05:44] yogkumgit commented on #9461
@chrisda Please guide and suggest. Thanks

[2022-10-24 16:08] joschibaer opened #10077 "Unattended scripting in delegation scenarios - wrong link"
The article mentioned in the first note for unattended scripting in delegated scenarios (CSP Partner doing operations in customer environments) the link is not correct, and is misleading:

The link should rather go to <https://learn.microsoft.com/powershell/partnercenter/multi-factor-auth#exchange-online-powershell>

However, the guidance itself is misleading since it only describes this approach

[2022-10-24 16:51] chrisda commented on #10058
@exactmike, you should open a support ticket. In the meantime, you can try running the connect command with the _UseRPSSession_ switch to see if that makes a difference.

[2022-10-24 17:51] chrisda commented on #9461
@nikki-c, if you haven't already, I would highly recommend that you open a support ticket about this. By definition, if something is available in the UI, it's also available in PowerShell.

[2022-10-24 18:01] chrisda commented on #10077
Checking

[2022-10-24 18:04] CLYVR commented on #9865
@tiburd THANK YOU!  Greatly appreciated.  I will reach out in CY23Q1 when this feature is expected to go live to have the page visible in searches and such.

[2022-10-24 18:06] #9865 closed

[2022-10-25 07:21] #9461 closed

[2022-10-25 07:22] #10058 closed

[2022-10-25 12:16] dtavb opened #10083 "Set-CsAutoAttendant - Issue with cmdlet in 4.8.0"
With TeamsModule 4.8.0 I am not able to set some simple values for an autoattendant, example "Name"

scenario:
PS C:\Users\Administrator> $aa = Get-CsAutoAttendant -Identity YOURID
PS C:\Users\Administrator> $aa.Name
test-aa10
PS C:\Users\Administrator> $aa.Name = "mynewfancyobject"
PS C:\Users\Administrator> Set-CsAutoAttendant -Instance $aa

Error message:
I have deleted the IDs, specified in th

[2022-10-25 12:53] thewrabbit commented on #9371
@isrumnon Thanks for the update - we'll start testing as soon as we receive notification that there's an updated version available.  My colleague has been in direct contact with you via Teams so we've allocated resources to the work.

[2022-10-25 13:44] JensTrier commented on #10083
@dtavb thanks for the feedback! I'm not able to repro this using my own test tenant. My recommendation is to open a Microsoft support case and they will work with you to get it investigated.

[2022-10-25 13:54] dtavb commented on #10083
ok, thanks for your help.

[2022-10-25 13:54] #10083 closed

[2022-10-25 19:27] yinzh798 commented on #10083
Could you use below cmdlet to see if [deleted unknown ID] is any part of auto attendant json string?

$aa = Get-CsAutoAttendant -Identity YOURID
$aa | ConvertTo-Json

[2022-10-26 10:21] joachimloe opened #10084 "Typo in documentation"
Typo in documentation.

_-OnOfficeCommunicationServer
**TThis** parameter has been deprecated from the Teams PowerShell Modules version 3.0 or later as it is no longer relevant to Microsoft Teams._

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7008ec10-a056-d8bb-bb4e-b4690a84adfd
* Version Independent ID: 2dcb78d9-7f

[2022-10-26 13:47] isrumnon commented on #9371
Hi @yogkumgit no documentation changes required at the present moment

[2022-10-26 15:38] JXG2300 opened #10085 "Cmdlet not available"
Get-AcceptedDomain cmdlet not available - fyi

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 39fbe5a2-c138-b566-c094-82ffc3d1b734
* Version Independent ID: 4d69ee5d-5a6d-a203-69fe-bf5441a8b5eb
* Content: [Connect to Exchange Online PowerShell](https://learn.microsoft.com/en-us/powershell/exchange/connect-to-exchange-o

[2022-10-26 16:57] chrisda commented on #10085
@JXG2300, it's available to me in my plain Microsoft 365 E5 organization. If it's not visible to you, it could be an RBAC issue.

When I run the following commands:

[code]

I get the following output (obviously custom role groups removed):

[code]

Role                        RoleAssigneeType RoleAssigneeName
----                         ----------------     ----------------
MyDistributionGroups

[2022-10-27 02:39] Kylex0407 opened #10090 "Issue about using "Manager" for -RecipientFilter"
Hi team, I get confused about the using of Manager in [this article](https://learn.microsoft.com/powershell/exchange/recipientfilter-properties#:~:text=of%20the%20group.-,Manager,-manager).

![2](https://user-images.githubusercontent.com/66714240/198176975-06743af9-72e6-4ba1-819f-4c8c435c4740.png)

Here is test in my tenant:
![1](https://user-images.githubusercontent.com/66714240/198177038-7c121ec

[2022-10-27 11:10] yogkumgit commented on #9371
Thank you. I proceed to close it, as we are limited to documentation fixes and improvements only.

[2022-10-27 12:39] dkotars opened #10091 "Set-User and WindowsEmailAddress/PrimarySMTPAddress"
Today we learnt that running set-user against an account where the PrimarySMTPAddress does not match the WindowsEmailAddress , the command will verify if those two attributes match, and if not, it will update PrimarySMTPAddress property value to WindowsEmailAddress. This is in an Exchange On-Premises environment.

It may be of help to document this behavior in the command page, as I have not seen

[2022-10-27 13:41] read-0nly opened #10092 "Connect-MicrosoftTeams doesn't pass device info"
I can't tell if I just missed the documentation on this or if it's actually just the base behavior, but Connect-MicrosoftTeams fails conditional access for not passing the device cert on authentication, leaving an entry with no device info in signin audit logs. This makes it fail anything checking for device state, either azure trust type or intune compliance.

Since the app it uses to connect is

[2022-10-27 13:53] read-0nly commented on #10092
looks like the preview version of the module handles proper modern auth - this might fix the device auth issue to. will update (and close) if it does

[2022-10-27 17:01] chrisda commented on #10090
@Kylex0407, in the past, I've found that many of those 'identify the user' properties require the DistinguishedName (DN) value, and I confirmed that here. When you use the DistinguishedName value for the manager, it works:

[code]

Curiously, the following easier version does not work:

[code]

[2022-10-27 17:24] chrisda commented on #10091
@dkotars, the description of the WindowsEmailAddress parameter alludes to what you're saying. I remember doing a bunch of testing and updating the description several years ago:

And, the PrimarySmtpAddress parameter also alludes to this (but from the other direction):

So, what additional information needs to be said and where to say it?

[2022-10-27 18:32] dkotars commented on #10091
Hi Chris - Nope I think we're good then. I know myself, customer and a few peers most likely didn't read all the way down. Let me point that out. Sorry for the fire drill. :-(

[2022-10-27 21:00] chrisda commented on #10091
OK.

Thanks for the feedback.

Closing

[2022-10-27 21:00] #10091 closed

[2022-10-28 01:44] #10090 closed

[2022-10-28 13:19] Clifra-Jones opened #10098 "Connect-IPPSSession fails with error on Linux"
After upgrading to Exchange Online Powershell V3 I cannot connect to Security & Compliance.
Connect-IPPSSession throws the following error.

ResourceUnavailable: Processing data from remote server ps.compliance.protection.outlook.com failed with the following error message:
ERROR_WSMAN_INVALID_SELECTORS: The WS-Management service cannot process the request because the request contained
invalid sel

[2022-10-28 17:42] BaDBob1 opened #10100 "Get-UrlTrace and Get-SafeLinksDetailReport"
Hey all, I've been having this issue for several weeks. I believe "Get-UrlTrace" was deprecated, and I now find Get-SafeLinksDetailReport in the Microsoft documentation.

For several weeks, however, all I get when running "Get-SafeLinksDetailReport" (no matter what arguments are being used) is We cannot currently process your request, please wait a few minutes and try again
  +CategoryInfo : Inval

[2022-10-28 21:42] cohaw opened #10101 "sha1 certificate requirement"
Some feedback on certificate usage inconsistencies discovered during our journey from basic authentication to modern authentication, specifically with regards to Exchange Online (EOLv2).

Things seem to be getting better in terms of how examples are starting to be presented for both "PowerShell 7" (core) and "Windows PowerShell".  Thank you!

One thing that I was just grappling with and seems odd

[2022-10-31 07:39] ranukher opened #10104 "Issue with CsEffectiveTenantDialPlan for inbuilt Dialplan for CN"
when we dial any number with Zero in MSTeams in China its taking the default dialplan and omitting leading zero hence long distance calls are failing

Description=CN Long Distance Dialing Rule;Pattern=^0(\d+)$;Translation=+86$1;Name=CN Long Distance;IsInternalExtension=False

this pattern needs to be modified to include zero

suggested change
Pattern=^0(\d+)$ --> Pattern=^(0\d+)$

[2022-10-31 11:35] ranukher commented on #10104
it seems PstnNumberService is overriding tenant dialplan rules is there a way to modify it?
MS Ticket Number #33626218

[2022-10-31 16:38] #10066 closed

[2022-10-31 18:57] jebalert opened #10106 "BypassSecurityGroupManagerCheck not a valid parameter"
V3 module installed.

When executing Remove-DistributionGroupMember in PowerShell 7 in an Azure Function in a DoD Tenant the following error occurs:

ERROR: A parameter cannot be found that matches parameter name 'BypassSecurityGroupManagerCheck'

Everything else seems to work correctly other than this parameter. Last time it was known to work for me was in version 2.0.5 in a commercial tenant.

-

[2022-10-31 19:38] chrisda commented on #10106
@jebalert, you should open a support ticket. Report back here if there's anything we can do to improve the documentation.

[2022-11-01 17:22] chrisda commented on #10098
@Clifra-Jones, you should open a support ticket. Report back here with any information that can help improve documentation.

[2022-11-01 17:31] chrisda commented on #10100
@BaDBob1, according to [here](https://learn.microsoft.com/microsoft-365/security/office-365-security/view-email-security-reports#email-security-report-changes-in-the-microsoft-365-defender-portal)  Get-URLTrace was deprecated in June 2021, and any links to the Get-URLTrace topic redirect to Get-SafeLinksAggregateReport.

It appears that Get-SafeLinksAggregateReport has data for the last 90 days, s

[2022-11-01 17:48] chrisda commented on #10101
@cohaw, you should open a support ticket about this, to a) complain about the misleading error, and b) to ask why PowerShell 5.1 only works with a SHA1 cert and not a SHA256 cert.

The [existing documentation](https://learn.microsoft.com/powershell/exchange/app-only-auth-powershell-v2#step-3-generate-a-self-signed-certificate) does say that a SHA1 certificate is required, but that is, I'm sure, pr

[2022-11-01 22:44] BaDBob1 commented on #10100
Thanks Chris and that's what I ended up doing. They're working on it now.

On Tue, Nov 1, 2022, 12:31 PM Chris Davis ***@***.***> wrote:

[2022-11-02 10:03] hkusulja opened #10111 "Set-MailboxMessageConfiguration -SignatureHtml update needed"
Now, that Feature ID: 60371 - Outlook for Windows: Signature cloud settings - are GA
https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Outlook&searchterms=60371

This page / documentation needs to be updated, on how to set the SignatureHtml.

Set-MailboxMessageConfiguration -Identity user@domain.com -SignatureHtml 'test signature'

Existing Note should be removed:

And information on h

[2022-11-02 10:04] hkusulja commented on #10111
https://github.com/MicrosoftDocs/office-docs-powershell/issues/8537

[2022-11-02 11:02] yogkumgit commented on #10106
@jebalert Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation wi

[2022-11-02 11:02] #10106 closed

[2022-11-02 11:04] yogkumgit commented on #10031
@Adzino1 Any response.

[2022-11-02 11:05] yogkumgit commented on #10085
@JXG2300 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-02 11:05] #10085 closed

[2022-11-02 11:06] yogkumgit commented on #10098
@Clifra-Jones Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentatio

[2022-11-02 11:06] #10098 closed

[2022-11-02 11:06] Adzino1 commented on #10031
@yogkumgit Hey, yes they've informed us that it only works with GDAP permissions - we are currently testing, during our early test with it was still getting Access denied. We are in contact with a Azure Lighthouse support also.

[2022-11-02 11:07] yogkumgit commented on #10100
@BaDBob1 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will c

[2022-11-02 11:07] #10100 closed

[2022-11-02 11:08] yogkumgit commented on #10101
@cohaw Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will cer

[2022-11-02 11:08] #10101 closed

[2022-11-02 11:10] #10071 closed

[2022-11-02 13:29] emromano opened #10113 "Missing descriptions for -ServiceAppointmentEventsFromEmailEnabled and -WorkspaceUserEnabled parameters"
Missing descriptions for **-ServiceAppointmentEventsFromEmailEnabled** and **-WorkspaceUserEnabled** parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9153892d-ff85-6117-7566-3ce55fff57c9
* Version Independent ID: 463efb5b-6bb0-97eb-bd51-f2e12cefc703
* Content: [Set-MailboxCalendarConfiguration (ExchangePower

[2022-11-02 14:04] Weishaupt opened #10114 "Enable-ComplianceTagStorage does NOT return an error on multiple runs as documented"
The documentation for [`Enable-ComplianceTagStorage`](https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/exchange/exchange-ps/exchange/Enable-ComplianceTagStorage.md) states

I could not validate this behaviour with the newest Exchange PowerShell Module.

[code]

See this snippet I executed in a demo tenant:

[code]

What is also troubling me is, that the distribution status switche

[2022-11-02 17:10] chrisda commented on #10113
@emromano, empty parameter descriptions are a known commodity. Parameter availability vs. functionality are two different things. See [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for a detailed explanation.

So, are you actually trying to use those parameters (perhaps were you directed to do so by other documentation?), or are you simply pointi

[2022-11-02 17:46] chrisda commented on #10114
@Weishaupt, Enable-ComplianceTagStorage is available only in Security & Compliance PowerShell, so the REST API vs. remote PowerShell doesn't come into play (EVERYTHING is remote PowerShell in S&C PowerShell like it has always been).

Connecting using certificate-based authentication vs. the 'regular' method might be an issue, although the nature of the cmdlet (according to the Introduction) is to

[2022-11-02 18:52] Weishaupt commented on #10114
Right, I totally forgot that the Security & Compliance PowerShell still relies on RPS.

Anyways I did authenticate the regular interactive way.

I just wanted to report this as it does not reflect what is documented. There is no concrete need to run it twice. But running it twice should do what is documented.

[2022-11-02 19:12] chrisda commented on #10114
OK. How's this?

[2022-11-02 19:51] chrisda commented on #10114
Slight correction to that last sentence based on testing:

Thanks for the feeback.

Closing

[2022-11-02 19:51] #10114 closed

[2022-11-02 22:56] emromano commented on #10113
@chrisda thank you for the clarification, really appreciated.
As you said, I was just pointing out the missing description :)

To be honest, I saw the description for the parameter -workspaceuserenabled as "Fill WorkspaceUserEnabled Description" and thought that someone forgot to fill it (also my customer thought the same).

For info: I'm helping a customer implementing workspace booking but I'm n

[2022-11-02 22:56] #10113 closed

[2022-11-03 07:30] hkusulja commented on #10111
@chrisda "Outlook roaming signatures" are not anymore beta, they are GA, as per https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Outlook&searchterms=60371
so please check with product group about powershell info / update docs

[2022-11-03 10:25] yogkumgit commented on #10031
@Adzino1 Thanks. If you find it suitable and no update is required in the documentation, please feel free to close this issue.

[2022-11-03 10:44] beail commented on #8537
Hello again, just an update

We have had the roaming feature disabled and can confirm this cmdlet now works, also confirmed Outlook roaming signatures feature is now disabled on the tenant and advised it will impact the release of the feature.

Findings however are contrary, when using the 'New' Outlook the cmdlet set signatures are present on the client (implying a roaming capability?) can the do

[2022-11-03 10:46] hkusulja commented on #8537
@beail, this feature is now GA, so it is not anymore preview. It can be manually enabled on the tenant level still. Once enabled, Outlook Web App and Outlook desktop client uses the same signatures from cloud. I confirm that have several customers/tenants with this feature enabled and fully working.

What needs to be updated is the powershell and documentation for SignautreHtml parameter.

[2022-11-03 14:27] McDoMaster opened #10120 "Start-ManagedFolderAssistant - Missing informations about parameters"
Hi,

This page is missing some details about parameters, specially on :
1. **-B2DumpsterArchiver**
2. -**B2IPMArchiver**

Those parameter seems to be useful in Exchange Online.

Also, the parameters aren't specified in the man of _Start-ManagedFolderAssistant_

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 04

[2022-11-03 16:18] chrisda commented on #10111
@hkusulja, I'm confused. That link you provided says this:

That's the only reason I added the Beta Channel thing in my suggested text.

So, are we back to the old days where SignatureHtml just works for everyone no matter what? No caveats or stipulations?

Or, is it the case where if you have Outlook roaming signatures enabled in your organization, then the SignatureHtml parameter doesn't work?

[2022-11-03 16:19] hkusulja commented on #10111
@chrisda Outlook roaming signatures are not anymore delayed, anda are not beta anymore, they are fully available and GA as per link above.

[2022-11-03 17:10] chrisda commented on #8537
OK. Per #10111 I removed the note.

[2022-11-03 17:22] chrisda commented on #10120
@McDoMaster, empty parameter descriptions are a known issue, especially with 1300+ cmdlets and 13,000+ parameters. See [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for more details.

Do you have links to other content that mentions using these parameters?

Consider the web topics the single source of truth. Those same topics are converted into

[2022-11-03 18:24] MightyGuru opened #10123 "How to create X509Certificate2 Object from a certificate stored in Azure key vault?"
It is a great article, but it misses one important piece of information: how to handle unattended PS scripts running in Azure.
In such scenarios, the certificate is most likely to be stored in Azure key vault. The call to Connect-ExchangeOnline requires the certificate in X509 format. How to use PowerShell to retrieve the certificate in the required format?

---
#### Document Details

⚠ *Do not ed

[2022-11-03 18:44] sarollins opened #10124 "App tokens - connect works, but can't access data"
I'm using 4.9.0 of the Teams Powershell module and have followed the instructions on how to connect to Microsoft Teams and am abled to log in (and verified that tokens have proper information), but when I attempt to call Get-CsOnlineUser, I get

Get-CsOnlineUser : Connecting to remote server api.interfaces.records.teams.microsoft.com failed with the following
error message : The client cannot conn

[2022-11-03 20:35] chrisda commented on #10123
@MightyGuru, you should open a support ticket about this. Report back here with any findings that will help improve the documentation.

Coming from another direction, connecting with managed identity is also an option for Exchange Online PowerShell and v3.0.0 of the module.

[2022-11-03 20:46] get-itips commented on #10104
Hello @ranukher
How are you? Here, we are limited to documentation fixes and improvements, is there any article that you see needs a fix?
Thanks

[2022-11-03 21:07] get-itips commented on #10092
Hello @read-0nly
Here, we are limited to documentation fixes and improvements, is there any article you see needs a fix? Didn't test it myself but if the Teams PowerShell currently doesn't provide that you can propose that here https://feedbackportal.microsoft.com/feedback/forum/ad198462-1c1c-ec11-b6e7-0022481f8472

Thanks

[2022-11-03 21:08] get-itips commented on #10084
Many thanks!

[2022-11-03 21:19] get-itips commented on #10035
Hello @kkoellner
That's a normal behavior behind PowerShell when one of the properties is an array, you can expand into that with

`(Get-CsApplicationAccessPolicy -Identity "Test-policy").AppIds`

As here we are limited to documentation fixes and improvements, we will proceed closing this.

Thank you,

[2022-11-03 21:53] read-0nly commented on #10092
Sorry, you can go ahead and close this, and i'll follow up there if necessary

[2022-11-04 04:01] ranukher commented on #10104
I think its not related to Powershell module, rather its an advisory TM455097.
hence closing it. Thanks for the help guys

[2022-11-04 04:01] #10104 closed

[2022-11-04 08:09] pbafna03 commented on #10124
Hi @sarollins,

1 possible reason could be the Admin roles, can you please check if the relevant [Admin roles](https://learn.microsoft.com/en-us/microsoftteams/using-admin-roles#teams-roles-and-capabilities) are assigned and try with a fresh Connect-MicrosoftTeams.

Also, assuming this is from the Commercial environment?

[2022-11-04 11:00] jlawso40 opened #10126 "EXO V3 Module and Client Access Rules"
We have client access rules (CARs) setup to block Exchange Remote PowerShell.  When the EXO V3 Exchange module is installed, our account is not recognized as having permission to run Exchange PowerShell commands.  We can downgrade to the 2.0.5 version of EXO V2 module and it works again.

[2022-11-04 13:40] #10092 closed

[2022-11-04 14:35] kkoellner commented on #10035
That explanation is great and meets my needs.

I work on five integrations and I'm the only engineer on the project.  As much as I'd like to learn everything there is to know about MS-Graph APIs, powershell, Teams, etc.  I don't have near the bandwidth to do that so I just look up what I absolutely need to know and sometimes can find a little trick that's needed to get something like the command a

[2022-11-04 14:51] get-itips commented on #10035
Glad to hear @kkoellner Ken.

[2022-11-04 14:51] #10035 closed

[2022-11-04 15:23] #10084 closed

[2022-11-04 18:29] get-itips commented on #10057
Hello @gr79
I am looking into this.

[2022-11-05 14:12] get-itips commented on #10057
Hello @gr79 please see this https://github.com/MicrosoftDocs/office-docs-powershell/issues/2226

[2022-11-05 14:12] #10057 closed

[2022-11-07 18:45] chrisda commented on #10126
@jlawso40, I asked that very questions about CARs when v3.0.0 of the module was released.

I'm sure that if you used the _UseRPSSession_ switch in the connection command, then your CARs would work fine, as that switch makes the connection behave exactly like v2.0.5. It was the REST API connection (connecting without using the _UseRPSSession_ switch) method that had me concerned.

Fortunately, I'm

[2022-11-07 20:11] jlawso40 commented on #10126
Thank you.  I saw that switch and thought it might allow it.  I just have not had a chance to test it by upgrading the module again.  I have also heard that CARs will be going away by next September.  Supposed to be replaced by Continuous Access Evaluation.

https://techcommunity.microsoft.com/t5/exchange-team-blog/deprecation-of-client-access-rules-in-exchange-online/ba-p/3638563

[2022-11-08 07:35] pbafna03 commented on #10124
Hi @sarollins,

It didn't come through properly in the above comment; however, I was not referring to the App permissions rather the Admin Roles assigned to the app (ref - https://learn.microsoft.com/en-us/microsoftteams/using-admin-roles#teams-roles-and-capabilities).

[2022-11-08 08:13] yogkumgit commented on #10126
@jlawso40 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-08 12:08] yogkumgit commented on #10031
@Adzino1 We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to open the issue. Appreciate and encourage you to do the same in future also. We proceed to close it.

[2022-11-08 12:08] #10031 closed

[2022-11-08 12:10] #10111 closed

[2022-11-08 12:12] yogkumgit commented on #10120
@McDoMaster Hope this comment is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-08 12:12] #10120 closed

[2022-11-08 12:13] yogkumgit commented on #10123
@MightyGuru Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wil

[2022-11-08 14:02] YanFonseca1 commented on #8537
Hi,

Just to leave a quick feedback about this issue.

I was trying to use this command last week, October 28 to November 2, and it wasn't working.

Opened a ticket with support and in 1 week they disable Roaming for me, and works now.

[2022-11-08 14:23] hkusulja commented on #8537
I am not sure is it resolved or not.
Outlook Roaming is not anymore in beta, that is for sure.
But what is not sure, how to use PowerShell to set signature, when using Roaming on tenant features.
I believe this needs inspection from product group and update in docs still. For example in docs is not clear how to create multiple signatures for particular user and managed them. (again, this is not in

[2022-11-08 15:42] get-itips commented on #10024
Thanks for your feedback!

[2022-11-08 17:53] pgavrailov opened #10129 "ProxySBC parameter explanation missing"
The explanation of the ProxySBC is not available in Parameters section

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3a99ede2-bbc2-c56d-6fb0-33db74417f54
* Version Independent ID: cf4bfc0e-fd8d-d5ca-5432-798af72a8885
* Content: [Set-CsOnlinePSTNGateway (SkypeForBusiness)](https://learn.microsof

[2022-11-09 15:09] riohedfield opened #10131 "SingleItemRecovery default value incorrect"
Hello,

The default value for parameter -SingleItemRecoveryEnabled is incorrect in the documentation:

![image](https://user-images.githubusercontent.com/59142439/200866254-41cfa905-9f62-463f-93c1-5918c786402e.png)
![image](https://user-images.githubusercontent.com/59142439/200866681-b3fdacb6-1432-40be-b24a-a6f996c91a9b.png)

Please fix it

Thank you.
Ribo

---
#### Document Details

⚠ *Do not edi

[2022-11-09 17:02] markdomansky opened #10132 "FIX: MicrosoftTeams PowerShell module does not respect module prefixes and clobbers existing cmdlets"
Importing the MicrosoftTeams module with a module prefix is fine.  All cmdlets show properly with the prefix.
However, as soon as you connect, this breaks and cmdlets revert to their un-prefixed name.  This breaks interop in SFB Hybrid environments where I need to have both SFB On-Prem and Teams modules loaded.

[2022-11-09 18:04] chrisda commented on #10131
@riohedfield, the problem you are describing is apparently a well-known and ancient Windows PowerShell issue (product independent): no 'reflection' utility that attempts to dump cmdlets to cmdlet reference topics (we use [platyPS](https://github.com/PowerShell/platyPS)) is able to correctly read the state of the 'Default value' property on a parameter, even when the parameter really does have a de

[2022-11-09 20:55] markdomansky commented on #10132
Figured out this only happens when you have multiple versions of the MicrosoftTeams module installed.  Annoying, but I can work around it.

[2022-11-09 20:55] #10132 closed

[2022-11-10 09:50] JensTrier commented on #10129
@pgavrailov Thanks for the feedback. I have a PR out that adds it. Feel free to close this issue.

[2022-11-14 13:55] rsta7540 opened #10141 "Please update parameters for Set-CsTeamsMessagingPolicy"
[Enter feedback here]
Could the updated parameter options please be reviewed for this cmdlet?  Under syntax options, there is one that just says "-Allow" and when I connect to a tenant and choose Get-CsTeamsMessagingPolicy I see several more parameters that can likely be set for the policy, namely:

AllowChatWithGroup
AllowCommunicationComplianceEndUserReporting
AllowFluidCollaborate
AllowFullChat

[2022-11-14 16:48] DavisHenckel opened #10142 "Get-EXOMailboxPermission : An error occurred while processing this request"
Hello, I'm not sure if this is the correct place to leave this issue, but I was not able to find an alternate place. I'm running to an issue on a Windows Server 2016, build 1607 with the `Get-EXOMailboxPermission` command. I'm trying to migrate my AD scripts from the older cmdlets found here: https://learn.microsoft.com/powershell/exchange/exchange-online-powershell-v2.

I can run the command fine

[2022-11-14 18:32] chrisda commented on #10142
@DavisHenckel, a few questions:

- Which version of the ExchangeOnlineManagement module are you using? v3.0.0 is current.
- If you're using v3.0.0, are you connecting with or without the _UseRPSSession_ switch as explained [here](https://learn.microsoft.com/powershell/exchange/exchange-online-powershell-v2#updates-for-version-300-the-exo-v3-module)? Whatever way you're currently using, try the oth

[2022-11-14 19:17] DavisHenckel commented on #10142
Hi @chrisda,

Thanks for the quick response.
- I am using v3.0.0
[code]
- I was connecting without `-UseRPSSession` so I tried switching to include the -UseRPSSession but encountered the same result.
- No, I am not using CBA.

Thank you for that info. I have collected the errors as described in the document you linked and will send them to exocmdletpreview@service.microsoft.com

[2022-11-14 19:49] mozziemozz opened #10144 "Wrong example code to get default voice (male/female) for any language Id"
[This section has issues](https://learn.microsoft.com/en-us/powershell/module/skype/new-csautoattendant?view=skype-ps#-voiceid)

` (back tick) is not needed here because it's not formatted as code and the following text is not on a new line. the code after the back tick needs to be on a new line anyway

Error received:

$language.Voices[0] does not have a  property named "Gender". It is called "Id

[2022-11-14 19:57] chrisda commented on #10142
Actually, don't send it to them; that alias is for feature requests and support for Preview versions of the module. A support ticket is your best way forward.

[2022-11-14 19:59] DavisHenckel commented on #10142
Just meaning a generic support ticket to Microsoft? I think my company uses a vendor as the primary before it reaches Microsoft.

[2022-11-14 20:29] chrisda commented on #10142
Use whatever method that you're comfortable with.

[2022-11-14 21:44] #10142 closed

[2022-11-15 08:42] mfalc opened #10147 "New Alert with Condition"
Hi! I'm trying to create a custom activity alert with condition, but this error appear:

"**New-ActivityAlert**: Parameter set cannot be resolved using the specified named parameters."

Can you specify how -Condition works?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7a8e72ae-dd9a-86af-996f-150840021663

[2022-11-15 18:00] chrisda commented on #10147
Your best way forward is to open a support ticket.

[2022-11-16 03:26] jkrrv commented on #10111
I'm confused.  I had support disable roaming signatures in my organization a few months ago.  Can I now have them re-enabled, but now be able to set SignatureHtml content via PowerShell?  This is a pretty messy rollout.

[2022-11-16 03:27] jkrrv commented on #8537
I'm confused. I had support disable roaming signatures in my organization a few months ago. Can I now have them re-enabled, but now be able to set SignatureHtml content via PowerShell? This is a pretty messy rollout.

[2022-11-16 09:58] mitanabe opened #10150 "Whiteboard PowerShell is supported only for Whiteboard data in Azure."
Whiteboard PowerShell is designed for whiteboards data in Azure Storage (not for data in OneDrive).
e.g. We can't get whiteboard data in OneDrive with Get-Whiteboard command.
I think it is better to write this point to clarify the scope of this PowerShell.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 learn.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 6f98d029-8c45-af5e-1527-290690fa1283
* Version

[2022-11-16 18:16] ssndu opened #10151 "Get-QuarantineMessageHeader hangs"
Get-QuarantineMessageHeader hangs for a very long time and doesn't return even though the parameters passed are correct, module is up to date and connection to exchange is up. There is no exception thrown either.
Kindly help to fix this.
Already tried various combinations as shown in the documentation.
Get-QuarantineMessageHeader -Identity  <message id>

---
#### Document Details

⚠ *Do not edit t

[2022-11-16 18:19] chrisda commented on #10151
@ssndu, you should open a support ticket. Report back here with any improvements to the documentation.

[2022-11-16 18:20] ssndu opened #10152 "Export-QuarantineMessage hangs"
Export-QuarantineMessage hangs for a very long time and doesn't return even though the parameters passed are correct, module is up to date and connection to exchange is up. There is no exception thrown either.
Kindly help to fix this.
Already tried various combinations as shown in the documentation.
Export-QuarantineMessage -Identity  <message id>
Having the same issue with Get-QuarantineMessageHe

[2022-11-16 18:26] ssndu commented on #10151
Thx for the quick response! Kindly share a link for the same!

On Wed, Nov 16, 2022 at 11:49 PM Chris Davis ***@***.***>
wrote:

[2022-11-16 22:45] chrisda commented on #10151
From any admin center (for example, security.microsoft.com), click the greenish 'Need help?' thing at the bottom right:

![image](https://user-images.githubusercontent.com/33166947/202310775-a8be7787-64b1-4a19-96ba-4f94d76eac72.png)

[2022-11-17 12:53] J-a-k-o-b opened #10155 "Parameter AllowPrivateTeamDiscovery takes no values"
Hi,
the Paramter -AllowPrivateTeamDiscovery allows no change. I've tried it in various tenants to set it to false or true. No error occurs but the value keeps null.

[2022-11-17 14:11] yogkumgit commented on #10147
@mfalc Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will cer

[2022-11-17 14:11] #10147 closed

[2022-11-17 14:13] yogkumgit commented on #10151
@ssndu Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-17 14:13] #10151 closed

[2022-11-17 14:13] yogkumgit commented on #10077
@chrisda Kindly update

[2022-11-17 17:17] chrisda commented on #10077
Resource identified. Waiting for information.

[2022-11-17 17:28] wmblocker commented on #10155
Hi @yogkumgit, what was your need to set this property? The feature that is controlled by this attribute is not rolled out yet.

[2022-11-18 04:01] GhostWins opened #10158 "Error in page"
[Введите отзыв здесь]
Hello, i found error in page
-IncludeOrgContent
{{ Fill IncludeOrgContent Description }}

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта learn.microsoft.com с вопросом на GitHub.*

* ID: 0f7f0a23-5b87-02f2-5bce-eddc3413f7f4
* Version Independent ID: 6694e76a-b1e0-9cc6-08ab-beb0cf388e75
* Content: [New-Compliance

[2022-11-18 17:20] yogkumgit commented on #10124
@pbafna03 Thank you very much for the contribution and sharing this explanation. @sarollins Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-18 17:20] #10124 closed

[2022-11-18 17:21] #10129 closed

[2022-11-18 18:34] dotnvo opened #10161 "Get-CSOnlineUser "GetSteppablePipeline" error when utilized via a PowerShelL JEA Session"
Hoping someone here can assist, I can't assess whether there's an update to the Microsoft Teams module that may help or perhaps I need to change something, but I'll do my best to explain.

Currently, we are utilizing JEA (Just Enough Administration) for a web front end to connect to a PowerShell backend. The web app is essentially a tool we provide to end users and IT pros at our organization to e

[2022-11-20 20:35] nccerhostmaster opened #10162 "Provided Instructions for Connect-IPPSSession with cert thumbprint do not work"
Examples provided are
`Connect-ExchangeOnline -CertificateFilePath "C:\Users\navin\Desktop\automation-cert.pfx" -CertificatePassword (Get-Credential).password -AppID "36ee4c6c-0812-40a2-b820-b22ebd02bce3" -Organization "contosoelectronics.onmicrosoft.com"`

`Connect-IPPSSession -CertificateThumbPrint "012THISISADEMOTHUMBPRINT" -AppID "36ee4c6c-0812-40a2-b820-b22ebd02bce3" -Organization "contosoele

[2022-11-20 22:12] loryanstrant commented on #6767
Not sure why this has been closed, as the SpaceType option is not listed:
![image](https://user-images.githubusercontent.com/51473494/202929028-778a8f4b-0cb6-462d-a4b2-313908c201ea.png)

[2022-11-21 10:46] mfalc opened #10164 "Date problem with Export-ActivityExplorerData"
Hi,

There ir a problem when specifying -StratTime and -EndTime in Export-ActivityExplorerData.

It seems like it works from day 1 to 12 but any day greater than 12 of the month it doesn't.

When I try:

`$StartTime = "11/11/2022"`
`$EndTime = "12/11/2022"`
`$ExportActivityExplorer = Export-ActivityExplorerData -StartTime $StartTime -EndTime $EndTime -Filter1 @("Activity", "DLPRuleMatch") -Filter2

[2022-11-21 13:57] pbafna03 commented on #10025
@captainhook - Policy grants are also supported now.

[2022-11-21 18:14] get-itips commented on #10155
Exactly, the feature is not yet rolled out, once it is available, it will be documented.
Thanks

[2022-11-21 18:14] #10155 closed

[2022-11-21 18:43] get-itips commented on #10144
Thanks for your feedback!

[2022-11-21 22:53] NHawk257 opened #10167 "Update for new Place tags please"
There appears to be new flags for this cmdlet, please update to include the "SpaceType", "CustomSpaceType" and "Desks" options.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7af332a3-efc1-49aa-24c2-64b5031a2420
* Version Independent ID: f47bc209-aa9e-f337-1cfa-b8a727a9f780
* Content: [Set-Place (ExchangePowerShell)](

[2022-11-22 10:50] bbteam17 opened #10168 "Get-csTeamsMeetingPolicy :Invalid Credential Provide valid credential"
Hi All,
Env:
pwsh: 7.3.0
 MicrosoftTeams: 4.9.0 ( win && linux  have same issue)

we have an issue   in same session
![image](https://user-images.githubusercontent.com/32478068/203295305-76f24f03-7916-4880-80a9-302f738f9cfb.png)

I also try  execute in docker  container , when I restart  container then  working again  but  same problem occurs  randomly in few minute later.

[2022-11-22 12:07] MaJoMS opened #10169 "Please provide the supported statement for this cmdlet for Teams as well. This was clarified in support case 33493557"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a93f9561-c9a9-0d45-5e2c-a888723d3133
* Version Independent ID: bebd5bcf-7be1-0cb1-7427-9cc5e7d9a5db
* Content: [Set-CsPrivacyConfiguration (SkypeForBusiness)](https://learn.microsoft.com/en-us/powershell/module/skype/set-csprivacyconfiguration?view=s

[2022-11-22 13:57] pbafna03 commented on #10168
Hi @bbteam17,

This issue is specific to version 4.9.0 and was fixed in 4.9.1, please check with that.

Thanks,

[2022-11-22 20:52] CraigChamberlain opened #10171 "New-CsBatchTeamsDeployment csv schema"
We really need the Schema for the csv files this command accepts as parameters.  Could be links or min tables.

So this link is in the Get-CsBatchTeamsDeploymentStatus page and has all the details, it might be handy in the New too.
https://learn.microsoft.com/en-us/microsoft-365/frontline/deploy-teams-at-scale?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-11-23 10:12] #10168 closed

[2022-11-23 14:27] #10150 closed

[2022-11-24 11:51] yogkumgit commented on #10141
@get-itips Please update.

[2022-11-24 18:08] get-itips commented on #10141
@yogkumgit Already investigating this.
@rsta7540 Some or all these parameters are from features not yet released, I am trying to confirm and I'll get back. Thanks

[2022-11-24 19:02] chrisda commented on #10158
@GhostWins , empty parameter descriptions are a known issue, especially with 1300+ cmdlets and 13,000+ parameters. See [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for more details.

Do you have links to other content that mentions using this parameter? Or are you just reporting that the description is empty?

[2022-11-24 19:34] chrisda commented on #10162
OK. I added the following note to the Connection Examples section:

OK?

[2022-11-24 19:39] chrisda commented on #6767
The referenced PR did add the parameter. I'm not sure why it didn't publish.

I added it again from a different direction (the private version of the repo). Let's see if that does it.

[2022-11-25 06:23] microsoft-github-policy-service[bot] opened #10177 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-25 12:12] katskar opened #10178 "Certificate based authentication connecting to Security & Compliance"
Hi,

I have tested version 3.0.0 and certificate based authentication.

**This works fine:** _Connect-ExchangeOnline -AppId <appid> -CertificateThumbprint <cert thumbprint> -Organization <tenant>.onmicrosoft.com_

**However, connecting to Security & Compliance gives the login prompt:**
_Connect-IPPSSession -AppId <appid> -CertificateThumbprint <cert thumbprint> -Organization <tenant>.onmicrosoft.c

[2022-11-25 12:23] katskar commented on #10178
Some of the characters went missing in the commands, but you get the picture. organization is my tenant.onmicrosoft.com.

[2022-11-26 23:42] chrisda commented on #10167
SpaceType over the last two years, SpaceType has been [added](https://github.com/MicrosoftDocs/office-docs-powershell/pull/6846), [removed](https://github.com/MicrosoftDocs/office-docs-powershell/pull/7308), and then [added again](https://github.com/MicrosoftDocs/office-docs-powershell/pull/10175/commits/5b0e89461f70be3a345c454977a1d19677bde879).

I'll look into CustomSpaceType and Desks.

[2022-11-26 23:52] chrisda commented on #10167
Be advised that in my plain Microsoft 365 E5 tenant, I don't see any of those parameters on Set-Place (including SpaceType).

Perhaps they're in the process of being rolled out?

[2022-11-28 04:21] yogkumgit commented on #10162
@nccerhostmaster Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-28 04:21] #10162 closed

[2022-11-28 21:56] chrisda commented on #10164
Checking

[2022-11-29 03:53] Exzakto opened #10182 "Please describe difference between LinkTypes"
Please describe difference between LinkTypes on this page. What is an aggregator? What is a subscriber? This info doesn't seem to be readily available in any documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c1061fe5-43fc-5677-49fe-1cee4163659a
* Version Independent ID: 08387a45-1c88-9803-8168-fb9079130b9d

[2022-11-29 12:30] yogkumgit commented on #10177
@tiburd Your kind action. Thanks

[2022-11-29 12:37] tspring80 commented on #3433
We need a solution now!
We automate various tenants and we can't change the settings via powershell, it's unreasonable.
At least disabling the default policies with Powershell should be mandatory.

[2022-11-29 14:01] katskar commented on #10178
Thanks :-)

[2022-11-29 14:34] #10177 closed

[2022-11-29 20:13] chrisda commented on #10178
@katskar, you should open a support ticket about this.

[2022-11-29 22:56] chrisda commented on #10182
@Exzakto, I removed the value Aggregators, because when I tried to add someone as an Aggregator to an M365 Group, I received this weird error:

That was likely your biggest question (and mine, too). I found no references to that value anywhere on the internet (other than [this 2018 civilian blog post](https://www.michev.info/Blog/Post/2101/reporting-on-membership-of-office-365-groups) stating that

[2022-11-30 02:34] #10182 closed

[2022-11-30 10:11] PramodShedbal opened #10186 "-PageCookie parameter explaination is not so clear."
[-PageCookie parameter explaination is not so clear]

Tenant admins may get confuse on how to get this parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2f188a25-7afc-f6cf-5d2a-5bc9fd08ca1f
* Version Independent ID: 33ed55ee-de0e-2c0c-2141-9a21083392cd
* Content: [Export-ActivityExplorerData (ExchangePowerShel

[2022-11-30 11:54] GorCed opened #10187 "Authentication_ExpiredToken"
When running against tennants with massive amounts of teams (90k+) I experience the following error.

////
get-team : Error occurred while executing
Code: Authentication_ExpiredToken
Message: Your access token has expired. Please renew it before submitting the request.
InnerError:
  RequestId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  DateTimeStamp: 2022-11-23T23:19:30
HttpStatusCode: Authentication_Exp

[2022-11-30 12:53] #10178 closed

[2022-11-30 13:07] yogkumgit commented on #10158
@GhostWins Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-30 13:07] #10158 closed

[2022-11-30 13:08] yogkumgit commented on #10167
@NHawk257 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-30 16:59] LanstarGermany opened #10188 "Custom Dimension Name count and the Custom Dimension Value does not match ?"
can this be a bug?  Fired the command with only basic parameters ...

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2f188a25-7afc-f6cf-5d2a-5bc9fd08ca1f
* Version Independent ID: 33ed55ee-de0e-2c0c-2141-9a21083392cd
* Content: [Export-ActivityExplorerData (ExchangePowerShell)](https://learn.microsoft.com/en-us

[2022-11-30 17:45] chrisda commented on #10188
@LanstarGermany, you should open a support ticket and ask. Report back here with any findings that can help improve the documentation.

[2022-11-30 18:24] mhullnc opened #10189 "Issue with examples"
The Example 3 listed doesn't work.  You have it specified to use the $onboardingBatch.Identity which will give an error.  In fact you need $onboardingBatch.Identity.Name which will start the migration.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 68325010-9605-22b4-4b6c-b61f332dc321
* Version Independent ID:

[2022-11-30 18:42] chrisda commented on #10189
@mhullnc, fixed.

In the future, you too can make changes like this directly (no need to open an issue first). Instructions are [here](https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md).

Thanks for the feedback.

Closing

[2022-11-30 18:42] #10189 closed

[2022-11-30 19:18] NHawk257 commented on #10167
It doesn't look like anything was done? If these commands are in the process of being rolled out, MS needs to update this documentation. I am seeing this in my E3 tenant.