[2020-02-12 16:35] yogkumgit commented on #4880
@officedocsbot assign @yogkumgit

[2020-02-12 18:15] chrisda commented on #4880
@wiseleaf23, there are a few different issues at play:

- The description for the _EnableAuthenticationSoftPassSafetyTip_ parameter says, "reserved for internal Microsoft use", which means, even if it's available to you, don't expect it to work. That appears to be the only one of these _Enable\<Whatver\>SafetyTip(s)_ parameters in this state, but that could change (see the next point).

  For what

[2020-02-12 18:21] wiseleaf23 commented on #4880
@chrisda thank you for the quick response! In the GUI, it looks like these options are not available (anymore). We used to run a script with this cmdlet for our customers to enable ATP, but we got these errors today.

[2020-02-12 23:50] get-itips commented on #2233
Yes. Title is not yet supported.

[2020-02-13 00:00] Padavid opened #4883 "-SharingAllowedDomainList Limited to 100 domains"
It appears that the -SharingAllowedDomainList is limited to only 100 domains. If I try and add 101 I get an error. However via the GUI it appears the limit is 1000 - https://docs.microsoft.com/en-us/sharepoint/restricted-domains-sharing#limiting-domains

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d1c6b2b-5af6-acce-

[2020-02-13 03:55] yogkumgit commented on #4883
@officedocsbot assign @yogkumgit

[2020-02-13 10:46] netzoft opened #4884 "Syntax error [winrm : Error: Invalid use of command line. Type "winrm -?" for help.]"
winrm set winrm/config/client/auth @{Basic="true"}
should be...
winrm set winrm/config/client/auth '@{Basic="true"}'

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebcb7e5d-c0aa-f4f3-e6d5-914219d16dff
* Version Independent ID: 36d9a36f-fbdf-e4a1-45d7-51cc1a65643b
* Content: [Connect to Office 365 Security & Compliance

[2020-02-13 11:42] Dottn opened #4885 "Length of MFA session"
In v1, sessions that connect using MFA ended after an hour. Is this still a limitation in v2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Content: [Exchange Online PowerShell V2](https://docs.microsoft.com/en-us/pow

[2020-02-13 12:04] NeedsCoffee opened #4886 "MoveToFolder example is inaccurate"
In order to use the -MoveToFolder switch one has to use the format "mailboxId:\ParentFolder\Folder", e.g. -MoveToFolder "postmaster:\Inbox\Alerts". If we use the example that's provided (e.g. "\Inbox\Alerts") then we get "The operation can't be performed on this object because its status isn't valid."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-02-13 12:12] yogkumgit commented on #4884
@officedocsbot assign @yogkumgit

[2020-02-13 12:12] yogkumgit commented on #4885
@officedocsbot assign @yogkumgit

[2020-02-13 12:12] yogkumgit commented on #4886
@officedocsbot assign @yogkumgit

[2020-02-13 12:18] get-itips commented on #4842
Hello everyone 👍
I was able to reproduce this in my lab too.
As here we take care of cmdlet documentation, I decided to propose adding an example to the cmdlet's documentation to show this behavior, so we can provide a working solution to everyone reading the cmdlet's documentation, while @trent-green takes note and can inform the product group to find out if this is an intended behavior.
Thank yo

[2020-02-13 12:38] get-itips commented on #4858
Hello @sparkitect Jim
How are you ? hope you are doing good.
I could also see this on my tests.
Thanks for reporting this, to my understanding, it could be accepted however if it is not documented probably it is not supported (yet) so I would like to request more information from @trent-green on this one to see if we have to update the documentation.
Thank you

[2020-02-13 13:10] get-itips commented on #4883
Hello,
I could also reproduce, however, I could not set more than 100 domains also using the GUI, was the limit changed @MikePlumleyMSFT ? Thanks

[2020-02-13 13:11] yogkumgit commented on #4842
@tseward  and @dariomws306 Please review the PR #4887 Thanks

[2020-02-13 13:15] yogkumgit commented on #4858
@trent-green Please add your comment. Thanks.

[2020-02-13 13:18] yogkumgit commented on #4883
@MikePlumleyMSFT Please confirm to Andres's observation.

[2020-02-13 13:20] get-itips commented on #4874
Hello @abdndamo
How are you?
Here we handle documentation updates, I recommend checking the [Teams BETA module](https://www.poshtestgallery.com/packages/MicrosoftTeams) to see if the product group is working on adding that setting to the released version of Set-Team cmdlet.
Hope this info helps you.

[2020-02-13 13:23] yogkumgit commented on #4874
@get-itips  Thank you very much for the contribution and sharing this explanation. @abdndamo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-13 13:23] #4874 closed

[2020-02-13 13:47] Petri-X opened #4888 "Description for -UserList"
Move-csUser have a parameter "-userList" but there seems to be no description how to use it:

[code]
Would you like to add that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15c68752-3b36-518f-8cf1-7a4e2aa8cf15
* Version Independent ID: 98b9a798-e232-0b2c-ee0f-857071885c1d
* Content: [Move-CsUser (skype)](https://doc

[2020-02-13 13:50] get-itips commented on #4877
Hello @JohnGGeo John
How are you? Hope you are doing great.
Please correct me if I misunderstood you.
I tried this

And it worked exactly like that with module version 1.0.3

I could also add first an user as member and then as owner.

The reason behind the cmdlet working like that is out of the scope of the documentation, however I do know that the team is working actively in changing the behavio

[2020-02-13 14:44] yogkumgit commented on #4888
@officedocsbot assign @yogkumgit

[2020-02-13 14:53] spoman007 opened #4889 "Connect-PnPOnline gives same exception if site does not exist or if user does not have access"
When I am using below line
`Connect-PnPOnline -Url https://contoso.sharepoint.com -Credentials (Get-Credential)`

I am getting exception as
**Connect-PnPOnline : The remote server returned an error: (401) Unauthorized.**

I get this exception in following cases
1. If the user does not have access to site
2. If the site does not exists

I need to check if site exists, I was expecting a 404 if it do

[2020-02-13 15:12] yogkumgit commented on #4889
@officedocsbot assign @yogkumgit

[2020-02-13 17:49] plangone22 opened #4890 "Missing OutlookMobile parameters"
I found that these two parameters are available in the cmdlet, but are not documented here:
OutlookMobileHelpShiftEnabled
OutlookMobileSingleAccountEnabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e3ab3f0-cc05-e279-8876-6da0b323bcac
* Version Independent ID: bfb49814-d60b-564a-25cc-f902dfa42b10
* Content: [Set-O

[2020-02-13 18:51] chrisda commented on #4884
@netzoft, I tested the original command as written in an elevated Command Prompt in Windows 10 Enterprise v1909, and it ran without error. When I ran your new suggestion with the single quotes, I received the same error as you.

[2020-02-13 19:05] forminasage opened #4891 "Conflicting information on mobile client availability"
In the top of the document, a note states that call parking is available on mobile clients (true). However, under the "Description" heading, another note says call parking is NOT available in mobile clients (false).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d81650e5-6a66-6730-57ea-80c7f01a6b06
* Version Independen

[2020-02-13 20:52] dariomws306 commented on #4861
Hi @BlasMS, thank you for your feedback.

I have tried and I saw the same behavior in the cloud and on-premises, with -Filter and -RecipientPreviewFilter. You can use wildcard as the first and last character, not in the middle.

[2020-02-13 20:55] dariomws306 commented on #4860
Hi @BlasMS, thank you for your feedback.

Same as https://github.com/MicrosoftDocs/office-docs-powershell/issues/4861.

Try with:
"Get-Recipient -RecipientTypeDetails GroupMailbox -Filter "Name -like '*ammer'"

[2020-02-13 22:22] TracyGH opened #4893 "Remove-SPOSiteGroup does not appear to work in SharePoint Online"
When testing this cmdlet, I receive a 'Group not found error' (see below).  I also tried providing the Group email address as the Identity parameter, but got the same error.

I found [this StackOverflow thread](https://sharepoint.stackexchange.com/questions/249092/remove-office365-group-connection-from-site-collection) indicating others users have had a similar experience.

![image](https://user-i

[2020-02-13 22:54] dariomws306 commented on #4863
Hi @js-ware, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, please send an email to exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

[2020-02-14 00:30] Padavid opened #4894 "Example 3 wrong"
I think the example 3 should be corrected instead of -Filter it should be -SiteUrl.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f480c3ac-70f4-dd19-e86c-7d95821eb901
* Version Independent ID: 64961e66-bdd4-d9ac-c62d-131dbb13092b
* Content: [Get-SPOExternalUser (sharepoint-online)](https://docs.microsoft.com/en-us/pow

[2020-02-14 04:21] moegitree commented on #4186
Got the same problem after I updated my MicrosoftTeams module to version 1.0.3.
I tried reinstall .net framework 4.8 and fixed it.
Hope this can help.

[2020-02-14 05:10] moegitree opened #4895 "How to add guest to team"
This cmd may cannot be used to add guest to existing team, is that correct?
Need to be clarified in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da0c53f2-1c62-14f6-6371-f54bf86b0c24
* Version Independent ID: aac162db-a9c0-fbfb-dd40-526e94d3bef8
* Content: [Add-TeamUser (teams)](https://docs.microsoft.com

[2020-02-14 06:02] memphisraynz opened #4896 "ExchangeOnlineManagement - Commands Creating New Implicit Sessions"
After upgrading to version 0.3555.1 of ExchangeOnlineManagement I starting getting an error.

Attempting to check for certain mailbox rules on all mailboxes.
On each loop I got the following message Creating a new Remote PowerShell session using MFA for implicit remoting of "Get-InboxRule" command ...
This looks to have happened on every command, that is, creating a new session until an error of “

[2020-02-14 09:18] yogkumgit commented on #4890
@officedocsbot assign @yogkumgit

[2020-02-14 09:18] yogkumgit commented on #4891
@officedocsbot assign @yogkumgit

[2020-02-14 09:19] yogkumgit commented on #4893
@officedocsbot assign @yogkumgit

[2020-02-14 09:19] yogkumgit commented on #4894
@officedocsbot assign @yogkumgit

[2020-02-14 09:19] yogkumgit commented on #4895
@officedocsbot assign @yogkumgit

[2020-02-14 09:20] yogkumgit commented on #4896
@officedocsbot assign @yogkumgit

[2020-02-14 10:00] kkazala opened #4897 "Set-PnPTenantSite -DisableCompanyWideSharingLinks"
Does it override the CompanyWideSharingLinks for all existing sites, in effect calling
Set-SPOSite -Identity &lt;site&gt; -DisableCompanyWideSharingLinks
for each site? Or does it change the setting tenant wide (???) enforcing it for new sites as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a3421f8-18a1-e826-4

[2020-02-14 10:34] bongo-ho opened #4898 "The Example is incorrect"
This commandlet requires GUIDs, not fully qualified paths.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6e1f526-1699-9e88-7a9e-e217496a38b3
* Version Independent ID: 8a3d9cf2-eaad-77a2-183e-c72bf69f555f
* Content: [Add-SPOHubToHubAssociation (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sha

[2020-02-14 11:21] yogkumgit commented on #4897
@officedocsbot assign @yogkumgit

[2020-02-14 11:21] yogkumgit commented on #4898
@officedocsbot assign @yogkumgit

[2020-02-14 11:25] scottclarke1 opened #4900 "Outlook Pay Broken Link"
Hey Guys
The KB on the OutlookPayEnabled parameter is broken and returns a 404.
https://docs.microsoft.com/en-us/outlook/payments/
Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e3ab3f0-cc05-e279-8876-6da0b323bcac
* Version Independent ID: bfb49814-d60b-564a-25cc-f902dfa42b10
* Content: [Set-OrganizationConfig

[2020-02-14 11:32] yogkumgit commented on #4900
@officedocsbot assign @yogkumgit

[2020-02-14 11:33] yogkumgit commented on #4861
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @BlasMS Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-14 11:39] yogkumgit commented on #4863
@dariomws306  Thank you very much for the contribution and sharing this explanation. @js-ware
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-14 11:39] #4863 closed

[2020-02-14 12:03] yogkumgit commented on #4842
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Padavid Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-14 12:03] #4842 closed

[2020-02-14 12:46] get-itips commented on #4872
Hello @NPrice99 Nigel, how are you? 👍
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-02-14 12:50] get-itips commented on #4889
Hello @spoman007 Sandeep, how are you? 👍
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-02-14 12:50] NPrice99 commented on #4872
Hi @get-itips The command works perfectly with the SharePoint Management shell.  The issue is with the PowerShell 6 not with the PnP team.

Regards

Nigel

[2020-02-14 12:53] get-itips commented on #4872
Nigel, every Product Team is responsible of porting its PowerShell module to the new version of PowerShell, in this case, version 6 introduces changes into its core (from .NET to dotnet core), besides that, in the other repo I pointed out, a member of PnP community will pick up your request and can give you information on when PS6 will be supported.
Hope this info helps you.

[2020-02-14 12:54] get-itips commented on #4897
Hello @spoman007 Sandeep, how are you? 👍
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-02-14 12:56] spoman007 commented on #4889
@get-itips Thank you!! I was not sure if it was a missing documentation or an actual issue.
I will open a ticket there.

[2020-02-14 12:56] NPrice99 commented on #4872
Ah ! Ok thanks.  I was not aware of the division of responsibilities.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Friday, February 14, 2020 12:53:22 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Nigel Price <pricen@njpenterprises.com>; Mention <mention

[2020-02-14 13:15] yogkumgit commented on #4872
@get-itips  Thank you very much for the contribution and sharing this explanation. @NPrice99
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-14 13:15] #4872 closed

[2020-02-14 13:15] get-itips commented on #4891
Hello @forminasage Brandon, how are you? 👍
I created a pull request to update the article removing the conflicting note.
Thanks for noticing.

[2020-02-14 13:19] yogkumgit commented on #4889
@get-itips  Thank you very much for the contribution and sharing this explanation. @spoman007
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-14 13:19] #4889 closed

[2020-02-14 13:21] yogkumgit commented on #4897
@get-itips  Thank you very much for the contribution and sharing this explanation. @kkazala
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-14 13:22] palphonso opened #4902 "Connect to Exchange Online PowerShell using multi-factor authentication"
The new way of connecting broke all our scripts.
How can we import the new module into ISE?
The module location seems to have changed again and I am unable to figure out how to import it.

[2020-02-14 13:23] yogkumgit commented on #4902
@officedocsbot assign @yogkumgit

[2020-02-14 13:26] yogkumgit commented on #4891
@tomkau Please merge this PR #4901 Thanks

[2020-02-14 13:38] palphonso commented on #4902
I am referring to this which now uses Connect-EXOPSSession and the Exchange Online Remote PowerShell Module.

https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell?view=exchange-ps

Because of this, the following article doesn't work anymore.

https://docs.microsoft.com/en-us/office365/enterprise/powersh

[2020-02-14 13:45] get-itips commented on #4893
Hello @TracyGH Tracy, how are you? 👍

In my tests, I was able to remove **SharePoint Groups** created, for example from

![image](https://user-images.githubusercontent.com/36666927/74536042-e04ba380-4efc-11ea-937a-dfcd17fa28cf.png)

If the group you are trying to remove does not show up when running _Get-SPOSiteGroup_, I don't think it will be available to be removed using that cmdlet.

Hope this

[2020-02-14 13:51] get-itips commented on #4894
Hello @Padavid how are you ? 👍
Thanks for noticing, I created a pull request to correct the article.

[2020-02-14 14:02] yogkumgit commented on #4877
@get-itips  Thank you very much for the contribution and sharing this explanation. @JohnGGeo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-14 14:02] #4877 closed

[2020-02-14 14:13] get-itips commented on #4898
Hello @bongo-ho how are you?
Tried it in my lab and could not use GUIDs or Urls, I received

Did you experience this?

@trent-green how are you? is this cmdlet part of the non-ready for production list?

Thanks

[2020-02-14 14:25] get-itips commented on #4895
Hello @moegitree how are you ? 👍
I am proposing thru a PR improving the description for user parameter.
Thank you

[2020-02-14 14:40] dariomws306 commented on #4845
Hi @NickDorak, thank you for your feedback.

We are working on it. Same as https://github.com/MicrosoftDocs/office-docs-powershell/issues/4780.

[2020-02-14 15:36] kkazala commented on #4897
@yogkumgit
Yes, I do believe the update to documentation is needed. This is why I reported this issue from within the documentation page
May I ask you to look into this? Thank you in advance :)

[2020-02-14 15:52] dariomws306 commented on #4885
Hi @Dottn, thank you for your feedback.

Sorry but I don't have this information.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

[2020-02-14 15:57] TracyGH commented on #4893
Thanks for the response @get-itips!  I see the problem, it's only for removing SharePoint groups - not O365 groups.  I needed something different, which does not appear to be possible.

[2020-02-14 15:57] #4893 closed

[2020-02-14 16:07] get-itips commented on #4897
@kkazala
Documentation for PnP cmdlets is directly referenced from the PnP source code that is in the repo I pointed out.

[2020-02-14 16:18] Somu76 opened #4907 "User does not need to be a Global Admin"
The statement "You must be a SharePoint Online global administrator to run the cmdlet." is confusing as it seems to imply that you have to be a Global Administrator to run this, since you actually only need to have the "SharePoint Administrator" role in the tenant to use this. Can you confirm and change appropriately.

[2020-02-14 16:59] kenwith commented on #4895
It is a really good question and I am not sure if there is a way to invite a guest user to a team using powershell. Do you know @get-itips ?  I can try to track down someone on that team and find out so we can add information if it is possible or not.

[2020-02-14 17:10] dariomws306 commented on #4884
@chrisda I tested on Win 10 1903, 1709, Win 2012 (not R2) and Win 2016 and needed to use the single quotes.

[2020-02-14 17:17] dariomws306 commented on #4878
Hi @pkothree, thank you for your feedback.

Could you please kindly provide us with the article you are talking about?

[2020-02-14 17:18] dariomws306 commented on #4875
Hi @TeddyLegs, thank you for your feedback.

This is a known issue for the last several weeks. We're Investigating.

[2020-02-14 17:26] dariomws306 commented on #4896
Hi @memphisraynz, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

[2020-02-14 20:43] get-itips commented on #4895
@kenwith I am afraid that isn't possible at the time with the current and beta versions of the Teams PowerShell, however we could try, as you said, to track down someone on the team to know if that is on the roadmap.

[2020-02-14 21:02] kenwith commented on #4895
Ok, thank you. And @moegitree thank you for the idea. I look forward to updating the docs if this becomes possible with this cmdlet.

[2020-02-14 21:02] #4895 closed

[2020-02-14 21:47] cnorm commented on #3206
Since this hasn't been answered yet, the workaround is to omit the parameter UserPrincipalname. Just use
`Connect-EXOPSSession`
and answer the prompts as you wish.

Source: https://ingogegenwarth.wordpress.com/2018/02/02/exo-ps-mfa/

"Assuming you want to connect to Exchange Online using admin@contoso.com from your machine and your user has a UserPrincipalname user1@contoso.com. When you have used

[2020-02-15 22:24] marcos-nuga opened #4912 "Unable to set LineURI"
Hi,

Unable to set "LineURI". This parameter is restricted within Remote Tenant PowerShell.

How can I clean a LineURI from an User?

[2020-02-16 20:25] bongo-ho commented on #4898
Yes, I also got the error that the method was not implemented.

Thanks
Jonathan

Jonathan | 📨: jonathan@timewespoke.com | 📞: 021 955 738 | L: LinkedIn.com/in/jonathanstuckey | ☕ Latté, 1 sugar

Stuck with Outlook for Android<https://aka.ms/ghei36>. 🙄

________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Saturday, February 15, 2020 3:13:28 AM
To: Microsof

[2020-02-17 00:03] trent-green commented on #4898
@get-itips thanks for including me.

You are correct: this is a placeholder and not production-ready yet :)

[2020-02-17 08:35] pkothree commented on #4878
[Search-Mailbox](https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/search-mailbox?view=exchange-ps)

It should be made clear that this part references Exchange roles and are not visible in Security & Compliance.

[2020-02-17 09:09] yogkumgit commented on #4907
@officedocsbot assign @yogkumgit

[2020-02-17 09:09] yogkumgit commented on #4912
@officedocsbot assign @yogkumgit

[2020-02-17 09:18] yogkumgit commented on #4897
@kkazala kindly follow the link Andres has suggested. Thanks.

[2020-02-17 09:19] yogkumgit commented on #4885
@dariomws306  Thank you very much for the contribution and sharing this explanation. @Dottn
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-17 09:19] #4885 closed

[2020-02-17 09:45] yogkumgit commented on #4896
@dariomws306  Thank you very much for the contribution and sharing this explanation. @memphisraynz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-17 09:45] #4896 closed

[2020-02-17 09:58] scottclarke1 opened #4920 "AutoEnableArchiveMailbox still not functional"
Hey Guys

Please see this for context;
https://github.com/MicrosoftDocs/office-docs-powershell/issues/3600

Can you please provide an update on when this functionality is likely to land? This is key in automating the user provisioning process and there has been no publicized update since July 2019. I've tested this in my tenant and the behaviour is still as @dustindortch mentions.

Please advise w

[2020-02-17 10:15] yogkumgit commented on #4886
@chrisda Please merge this PR #4906 Thanks

[2020-02-17 10:17] yogkumgit commented on #4838
@chrisda Please merge this PR #4905

[2020-02-17 10:21] yogkumgit commented on #4890
@chrisda Please merge this PR #4909 Thanks

[2020-02-17 10:24] yogkumgit commented on #4900
@chrida please merge this PR #4908 Thanks

[2020-02-17 10:30] yogkumgit commented on #4920
@officedocsbot assign @yogkumgit

[2020-02-17 11:57] get-itips commented on #4898
Hello @trent-green thanks for sharing that information.
We will proceed to close this for now then @yogkumgit

[2020-02-17 13:53] yogkumgit commented on #4898
@get-itips  Thank you very much for the contribution and sharing this explanation. @bongo-ho
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-17 14:18] dariomws306 commented on #4878
There is a link on how to assign these roles and the instructions are for the Exchange Admin Center. Anyway, I arranged the format of the notes to make it more visible.

[2020-02-17 14:48] dariomws306 commented on #3206
@cnorm Thank you for your input. I am updating the article according to this information.

@lesterw1 and @luddiluddludde if you can, kindly confirm this new workaround, as it's simpler than log into another non-domain-joined computer or log in as a local user. Thanks!

Also, please have in mind [Connect-ExchangeOnline](https://docs.microsoft.com/en-us/powershell/module/exchange/powershell-v2-modul

[2020-02-17 14:55] yogkumgit commented on #4878
@chrisda Please merge this PR #4921 Thanks

[2020-02-17 15:18] yogkumgit commented on #4611
@trent-green Please help us with you comment. Thanks

[2020-02-17 15:19] yogkumgit commented on #4612
@trent-green Please help us with you comment. Thanks

[2020-02-17 15:38] yogkumgit commented on #4891
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @forminasage Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-17 15:38] #4891 closed

[2020-02-17 15:48] yogkumgit commented on #4894
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Padavid Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-17 15:48] #4894 closed

[2020-02-17 17:13] get-itips commented on #4709
Hello @Korbyn72 thanks for noticing, created a pr to propose an improvement to the article to reflect the current behavior.

[2020-02-18 02:14] Atreidae opened #4924 "New-CsMediaConfiguration and Set-CsMediaConfguration Pages missing data"
The parameter EnableRtpRtcpMultiplexing has no context on both pages, simply listing as a True/False toggle. No indication on how media is bundled together etc.

![image](https://user-images.githubusercontent.com/8736291/74698004-7f9bce00-5250-11ea-9d2f-46d3639672e0.png)

There parameter EnableVideoBasedSharing on the Set-CsMediaConfiguration page hasn't been filled in at all. No indication of wha

[2020-02-18 11:28] MikePlumleyMSFT commented on #4883
@StephenRiceMSFT or @MSFTRafLop do you know what the current limit is for restricted domains sharing?

[2020-02-18 11:56] yogkumgit commented on #4924
@officedocsbot assign @yogkumgit

[2020-02-18 12:05] yogkumgit commented on #4709
@hirenshah1 Please merge this PR #4923 Thanks

[2020-02-18 14:30] get-itips commented on #4907
Hello @Somu76 How are you? 👍
Your description is missing the referenced article, can you please paste the url here?
Thanks

[2020-02-18 14:31] get-itips commented on #4912
Hello @marcos-nuga
Your description is missing the referenced article on Docs, can you please paste the url of the article here?
Thanks

[2020-02-18 15:02] get-itips commented on #4924
Hello @Atreidae James. How are you? 👍 Thanks for reporting this.
I created a pr proposing a description for both parameters, if it gets approved, they will be reflected on the online version of those articles.
Thanks

[2020-02-18 16:17] dariomws306 commented on #4902
Hi @palphonso, thank you for your feedback.

Feedback section in docs.microsoft.com is there to help to improve documentation. I cannot provide you help with your scripts but I can suggest other channels, like:
https://techcommunity.microsoft.com/

[2020-02-18 19:40] chrisda commented on #4886
Topic updated. Thanks for the feedback.

[2020-02-18 19:40] #4886 closed

[2020-02-18 19:45] sparkitect opened #4926 "Version?"
I don't see a parameter here for the Version of the Site Script... does SharePoint manage that for me, or will it always be 0?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb8de8fb-e92b-a19e-7284-d4f3349b8a51
* Version Independent ID: cbeadec1-6bb8-4b08-846c-48c76d946f5d
* Content: [Add-PnPSiteScript (sharepoint-pnp)

[2020-02-18 19:53] #4846 closed

[2020-02-18 20:15] MikePlumleyMSFT commented on #4883
The limits are 3000 domains at the tenant level and 100 domains at the site level. I've submitted an update to [Restrict sharing of SharePoint and OneDrive content by domain](https://docs.microsoft.com/sharepoint/restricted-domains-sharing) to reflect those numbers.

[2020-02-18 20:18] get-itips commented on #4883
Thanks @MikePlumleyMSFT

[2020-02-18 20:43] BlasMS commented on #4860
@dariomws306  thanks

[2020-02-18 21:03] chrisda commented on #4878
@pkothree, I'm not sure I follow the connection between this cmdlet and the Security & Compliance Center. Nowhere in the topic does it state that this cmdlet is available in Security & Compliance Center PowerShell. It's only available in Exchange Server PowerShell and Exchange Online PowerShell.

Thanks for the feedback.

Closing

[2020-02-18 21:10] BlasMS commented on #4861
Hi @dariomws306 In the middle returns nothing.
@yogkumgit @dariomws306  Thanks ;)

[2020-02-18 21:12] #4861 closed

[2020-02-18 21:12] #4860 closed

[2020-02-19 00:32] chrisda commented on #4788
Confirmed that all Teams related parameters work, so I updated the descriptions accordingly.

Thanks for the feedback.

Closing.

[2020-02-19 00:58] zcvele commented on #4788
Thank You Chris

Zoran Cvetkovic
Sr. Program Manager
Mobile: +1 416.576.2872
[cid:image001.jpg@01D1188D.834B2390]

From: Chris Davis <notifications@github.com>
Sent: Tuesday, February 18, 2020 7:32 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Zoran Cvetkovic <zoranc@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/offic

[2020-02-19 01:02] #4788 closed

[2020-02-19 02:04] chrisda commented on #1872
@VNJoe, are you able to update or suggest updates to the Partner Center docs? If so, they should be linking to https://docs.microsoft.com/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2 for how to connect to Exchange Online PowerShell.

That's the best and most future-proof link (works with or without MFA).

[2020-02-19 02:16] VNJoe commented on #1872
No, I'm not.  I'm not a Microsoft employee.  I don't believe anyone DOESN'T need the new method who's a partner, as we all need MFA.  But they're saying it's called out at the top of the document, when really, the old way is (or should be) deprecated, I think? No partner doesn't need Powershell for Exchange, and no partner doesn't need to have MFA enabled, so if its a Partner Center doc....

[2020-02-19 07:50] Atreidae commented on #4924
Oh, I didn't realise that we can submit PR's
Looks like it got merged, I'm cool to close this issue now.
Thanks.

[2020-02-19 07:50] #4924 closed

[2020-02-19 08:25] andikrueger opened #4930 "SPO Management PowerShell Module Version 16.0.19724.1200 - 6 cmdLets not documented"
There are 6 new cmdLets in version 16.0.19724.12000:

- Get-SPOTenantOrgRelation
- Get-SPOTenantOrgRelationByPartner
- Get-SPOTenantOrgRelationByScenario
- New-SPOTenantOrgRelation
- Remove-SPOTenantOrgRelation
- Verify-SPOTenantOrgRelation

There is no documentation available.

[2020-02-19 11:06] mrik23 opened #4932 "QueryWindowInDays parameter now not optional"
Seems like since early this month, we have to supply QueryWindowInDays when using this cmdlet, it was not the case before. Can you recheck and update this page if that's not the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae873e5c-9f55-966b-1519-04bd3cb7dce4
* Version Independent ID: 8f35c374-2608-6414-5987-cb

[2020-02-19 11:06] mrik23 commented on #4932
This is for Exchange Online.

[2020-02-19 11:45] ekdegerman opened #4933 "Importing MicrosoftTeams PowerShell module fails when signed scripts are required"
The MicrosoftTeams PowerShell module fails to import if you have your execution policy set to AllSigned. The error message refers to a bunch of ps1xml files that are unsigned. Other PowerShell modules delivered by Microsoft, e.g. Microsoft.Online.SharePoint.PowerShell and SharePointPnPPowerShellOnline are properly signed and can be imported even with these more secure PowerShell settings.
![image]

[2020-02-19 12:17] yogkumgit commented on #4930
@officedocsbot assign @yogkumgit

[2020-02-19 12:17] yogkumgit commented on #4932
@officedocsbot assign @yogkumgit

[2020-02-19 12:17] yogkumgit commented on #4933
@officedocsbot assign @yogkumgit

[2020-02-19 12:29] yogkumgit commented on #4883
@get-itips  Thank you very much for the contribution and sharing this explanation. @Padavid
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-19 12:29] #4883 closed

[2020-02-19 12:56] yogkumgit commented on #4900
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @scottclarke1 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-19 12:56] #4900 closed

[2020-02-19 12:59] yogkumgit commented on #4902
@dariomws306  Thank you very much for the contribution and sharing this explanation. @palphonso Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-19 12:59] #4902 closed

[2020-02-19 13:01] yogkumgit commented on #4890
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @plangone22 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-19 13:01] #4890 closed

[2020-02-19 13:07] yogkumgit commented on #4926
@officedocsbot assign @yogkumgit

[2020-02-19 13:15] yogkumgit commented on #180
@kenwith  Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team

[2020-02-19 13:15] #180 closed

[2020-02-19 13:20] yogkumgit commented on #3474
@GamalielCorona Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team.

[2020-02-19 13:20] #3474 closed

[2020-02-19 13:27] yogkumgit commented on #508
@wobba Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team.

[2020-02-19 13:27] #508 closed

[2020-02-19 13:34] yogkumgit commented on #560
@YuriySamorodov Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team.

[2020-02-19 13:34] #560 closed

[2020-02-19 13:40] yogkumgit commented on #4455
@atop-Ilionx Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team

[2020-02-19 13:40] #4455 closed

[2020-02-19 13:43] yogkumgit commented on #1567
@pratyusha-kodumuri Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team.

[2020-02-19 13:43] #1567 closed

[2020-02-19 13:47] yogkumgit commented on #4502
@rudfoss Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team.

[2020-02-19 13:47] #4502 closed

[2020-02-19 13:51] yogkumgit commented on #4858
@sparkitect Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team

[2020-02-19 13:51] #4858 closed

[2020-02-19 14:36] dariomws306 commented on #4788
Thank you Chris!!

[2020-02-19 15:07] JakeMadren commented on #508
Is there some reason you can’t just recreate the issue and forward it to
support? We’ve been waiting a long time and obviously it’s a bug.

Thanks,
Jake

On Wed, Feb 19, 2020 at 7:27 AM Yogesh Kumar <notifications@github.com>
wrote:

[2020-02-19 15:59] pkothree commented on #4878
The problem I encountered was, that it is not stated that the roles are only available in Exchange, while a lot of other roles are available in the Security & Competence Center. I was asking if it would make more sense to clarify that a role, that is clearly important, is ONLY available in the Exchange Portal and would therefore deviate form a standard procedure for Office 365 admins.

[2020-02-19 17:48] chrisda commented on #4932
@mrik23, confirmed. The topic was updated on 12/16 to change the QueryWindowInDays parameter from optional to required. <https://github.com/MicrosoftDocs/office-docs-powershell/commit/69e56cb79ba2781a2cb869c2f2e9c5e090a179f3#diff-6e7743df5b89256b212c768aaf6901c2>.

Thanks for the feedback.

Closing

[2020-02-19 17:48] #4932 closed

[2020-02-19 17:56] chrisda commented on #4878
@pkothree, yeah, the situation is not ideal. We're in this strange place where most of the Office 365 security features (anti-spam, anti-malware, anti-phishing, anti-spoofing, etc.) and some of the email related compliance features (like admin audit logging) are done in the Security & Compliance Center, yet the related cmdlets are and always have been in Exchange Online PowerShell (not Security &

[2020-02-19 17:56] #4878 closed

[2020-02-19 18:17] chrisda commented on #1872
@VNJoe, let's take a step back. I want to help fix the issue.

- I've asked around an no one seems to know the whereabouts of the offending "Partner Center" doc that contains the non-MFA connection instructions link that you mentioned. If you have access to the doc, you're one up on me, and I thought you might be able to edit it or at least suggest changes to it. I wan't trying to imply that you w

[2020-02-19 20:38] sabdul617 opened #4934 "excluding a few users?"
How do we exclude a few users from this list? We want to push to everyone but exclude a few admins and a few office 365 services accounts which are not mailboxes.

[2020-02-19 20:39] #4934 closed

[2020-02-19 20:47] HyperionCruiser opened #4935 "Please add support for additional commands"
I would like to be able to set all parameters in the default cas mailbox plan.  Could you please look into supporting other parameters to set in the plan like you do for the set-casmailbox:
   [-Identity] &lt;MailboxIdParameter&gt;
   [-ActiveSyncAllowedDeviceIDs &lt;MultiValuedProperty&gt;]
   [-ActiveSyncBlockedDeviceIDs &lt;MultiValuedProperty&gt;]
   [-ActiveSyncDebugLogging &lt;Boolean&gt;]

[2020-02-19 21:59] chrisda commented on #4935
@HyperionCruiser, there was a period of time when all of those additional settings were supported. Then, about 4 years ago, most of them were removed (I was the one who removed them). This was obviously an active an conscious decision, although I don't know what that was.

There's nothing we can do about this from a documentation perspective, so closing.

Thanks for the feedback.

[2020-02-19 22:55] mrkeiths opened #4936 "Support for setting -RecipientLimits in Exchange Online"
The RecipientLimits param should be updated to reflect info posted on the Exchange Team blog:
https://techcommunity.microsoft.com/t5/exchange-team-blog/customizable-recipient-limits-in-office-365/ba-p/1183228

Limits can now be set in Exchange Online; the default limit can be lowered and a max value of 1000 recipients is now supported.

Thank you,
Keith

---
#### Document Details

⚠ *Do not edit t

[2020-02-19 23:50] HyperionCruiser commented on #4935
Would you be willing to add just a couple back in then.
UniversalOutlookEnabled
EwsEnabled
OutlookMobileEnabled
OWAEnabled

[2020-02-19 23:55] chrisda commented on #4935
I am but a lowly writer. If you want code updated to allow these values in Set-CasMailboxPlan, you should open a Support Ticket.

[2020-02-19 23:55] #4935 closed

[2020-02-20 10:51] markgort86 opened #4937 "When creating multiple channels within a newly created team. The folders are not created in SharePoint Online"
I've got a PowerShell script to create a new Microsoft Team. After this i create multiple channels with this PowerShell command. But after this process is completed there are no folders visible in SharePoint Online. They are created after opening the files tab within Microsoft Teams. Can someone explain me this behavior? Or is this a bug in the New-TeamChannel command-let?

I can deliver the scrip

[2020-02-20 12:10] yogkumgit commented on #4936
@officedocsbot assign @yogkumgit

[2020-02-20 12:11] yogkumgit commented on #4937
@officedocsbot assign @yogkumgit

[2020-02-20 12:16] BombPAC opened #4938 "Problem creating Communication Site where owner UPN is different from e-mail address"
I am using New-PnPTenantSite to create a site with a Communication Site (SITEPAGEPUBLISHING#0) template. I'm trying to set an owner who has a different user name UPN (@domain.com) to their e-mail address (@domain.onmicrosoft.com). The site is created successfully but has the owner is assigned with NT Service\sptimerv4 instead of the actual owner account.

Other comments:
- When I try and create a

[2020-02-20 12:23] yogkumgit commented on #4938
@officedocsbot assign @yogkumgit

[2020-02-20 12:32] markgort86 commented on #4748
I think to solve this issue it's would be nice to deliver the command's that are not available anymore.

[2020-02-20 15:17] markgort86 opened #4940 "Get-TeamHelp not returning all possible commands"
This command-let is not returning all possible commands that are available within Microsoft Teams. Only the ones that are visible below:
Get-TeamHelp
Connect-MicrosoftTeams
Disconnect-MicrosoftTeams
Get-Team
Get-TeamUser
Get-TeamChannel
New-Team
New-TeamChannel
Add-TeamUser
Remove-Team
Remove-TeamChannel
Remove-TeamUser
Set-Team
Set-TeamChannel
Set-TeamArchivedState

---
#### Document Details

⚠ *

[2020-02-20 17:47] bwar01 opened #4943 "Need to force Modern auth on client when using Get-Credential"
When connecting with username and password:
$adminUPN="<the full email address of a SharePoint administrator account, example: jdoe@contosotoycompany.onmicrosoft.com>"
$orgName="<name of your Office 365 organization, example: contosotoycompany>"
$userCredential = Get-Credential -UserName $adminUPN -Message "Type the password."
Connect-SPOService -Url https://$orgName-admin.sharepoint.com -Credenti

[2020-02-20 18:16] kenwith commented on #508
@JakeMadren - I completely agree with you and wish there was a way to do that. The official channel is that the support engineers identify a bug, versus something unique to a tenant that can be fixed with other means, and then they have a process to escalate (with high visibility) to the relevant product teams and chains of leadership. If everyone that is experiencing the issue opens a support req

[2020-02-20 18:24] andikrueger commented on #4930
@trent-green could you follow up on these articles with details for the documentation?

[2020-02-20 19:11] chrisda commented on #4936
@mrkeiths, I see. The parameter has changed from on-prem only to on-prem + cloud, with different value behavior. I updated the topic.

Thanks for the feedback.

Closing

[2020-02-20 19:11] #4936 closed

[2020-02-20 22:46] ravick4u opened #4946 "PnP PowerShell for Core"
Is there a plan for PnP PowerShell Core?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-57d53d313c6f
* Content: [PnP PowerShell overview](https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-pnp/sharepoint-pnp-cmdlets?vi

[2020-02-21 00:20] ScriptedAdventures opened #4947 "Adding EXOPSession Module to Windows Terminal"
Unable to add this shell to Windows Terminal.
Would be ideal to have this module included in Terminal as this is meant to be the one stop shop for shells.

[2020-02-21 04:45] KaushalKhamar commented on #4256
@tseward @yogkumgit
I have experience the same behavior. But my question is if i hide a document library from SharePoint, It should be hide from both OneDrive for web as well OneDrive for mobile application.

But if you can check this library is showing in OneDrive for web but on other side same document library is not visible in OneDrive for business application in android/ios.

So is MicroSoft h

[2020-02-21 04:59] piyush1108 commented on #4256
@KaushalKhamar and the more interesting things is that when we raise the issue in Microsoft and in response . Microsoft given funny response on that "**It is functionality** :( ".

[2020-02-21 12:57] yogkumgit commented on #4940
@officedocsbot assign @yogkumgit

[2020-02-21 12:57] yogkumgit commented on #4943
@officedocsbot assign @yogkumgit

[2020-02-21 12:58] yogkumgit commented on #4946
@officedocsbot assign @yogkumgit

[2020-02-21 12:58] yogkumgit commented on #4947
@officedocsbot assign @yogkumgit

[2020-02-21 13:14] dusansk opened #4949 "-StartAfter"
-StartAfter is not available in Exchange 2013 CU15 (A parameter cannot be found that matches parameter name 'StartAfter') nor Exchange 2019 CU4. -StartAfter is available in Set-MoveRequest but not Set-MigrationBatch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b745608-183e-f65c-6902-c691f9234c80
* Version Independen

[2020-02-21 13:53] SharePointBlackBelt opened #4950 "SP2019"
When will SP2019 version be released, or do SP2016 commands also work on SP2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3240d3-6a7d-fc4b-62fd-d3a5375d8a4a
* Version Independent ID: 561212df-4dab-92b7-b634-57d53d313c6f
* Content: [PnP PowerShell overview](https://docs.microsoft.com/en-us/powershell/sharepoint/

[2020-02-21 14:52] yogkumgit commented on #4709
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Korbyn72 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-21 14:52] #4709 closed

[2020-02-21 15:11] kczauz opened #4951 "Broken"
Does not seem to work correctly.  I am not in a channel, yet it says I am a member of that channel.  This is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec48e6b6-c93b-a0f1-0144-978ea434b3f0
* Version Independent ID: 28ecb86c-661d-c0ee-6b2c-956c97d02352
* Content: [Get-TeamChannelUser (teams)](https://docs.mi

[2020-02-21 15:21] get-itips commented on #4748
Hello @CloudHotShot how are you?
Article has been updated here,  https://github.com/MicrosoftDocs/office-docs-powershell/commit/e9e92e1e8510cf7024f790598bb4b1caddf370ff#diff-5c38a4ff90d0917b275895177b0c5f73 removing the cmdlets that are not present anymore.

[2020-02-21 15:34] yogkumgit commented on #4748
@get-itips  Thank you very much for the contribution and updating the documentation. @CloudHotShot Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-21 15:34] #4748 closed

[2020-02-21 15:36] yogkumgit commented on #4949
https://github.com/MicrosoftDocs/office-docs-powershell/issues/4947

[2020-02-21 15:37] yogkumgit commented on #4949
@officedocsbot assign @yogkumgit

[2020-02-21 15:37] yogkumgit commented on #4950
@officedocsbot assign @yogkumgit

[2020-02-21 15:37] yogkumgit commented on #4951
@officedocsbot assign @yogkumgit

[2020-02-21 15:59] tseward commented on #4256
If you need this functionality, I would suggest opening a Uservoice entry at http://sharepoint.uservoice.com/.

[2020-02-21 17:32] chrisda commented on #4949
@dusansk, the StartAfter parameter is available to me on a 2013 CU15 server and a 2019 CU4 server on the Set-MigrationBatch cmdlet.

I ran the following command on the 2013 and 2019 servers, and I got the same result.

[code]

If you run this command in your environment, what do you see?

[2020-02-21 17:39] dusansk commented on #4949
@chrisda
When I run your command I get the same result:
[PS] C:\Windows\system32>Get-ManagementRoleEntry *\* -Parameters StartAfter | ft name,role

Name                         Role
----                         ----
New-MigrationBatch           Migration
Set-MigrationBatch           Migration
Set-MoveRequest              Move Mailboxes
New-MoveRequest              Move Mailboxes
New-MailboxRelocat

[2020-02-22 12:48] get-itips commented on #4926
Hello @sparkitect Jim 👍 how are you?

I will need to kindly ask you to visit this other [repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues or PnP Documentation Issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-02-22 12:59] get-itips commented on #4938
Hello @BombPAC how are you ? 👍
I will need to kindly ask you to visit this other [repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues or PnP Documentation Issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-02-22 13:02] get-itips commented on #4946
Hello @ravick4u 👍 how are you?

For that question, I need to kindly ask you to go to this other [repo](https://github.com/SharePoint/PnP-PowerShell/), PnP cmdlets are maintained by the community, a member of it will pick your inquiry there and assist you.

Thanks

[2020-02-22 13:15] get-itips commented on #4937
Hello @markgort86 Mark, how are you? hope you are doing good. 👍

As here we are limited to documentation changes, I tried to reproduce running New-TeamChannel to see if any change was needed to the article for that cmdlet, and I could not reproduce what you are describing, the folder was created right after I ran the cmdlet.
My recommendation is, be sure to run the latest stable version of the Tea

[2020-02-22 13:18] get-itips commented on #4940
Hello @markgort86 Mark 👍 how are you?
I'll try to pass this on to the Product Team for review, as I could repro.
Thank you

[2020-02-22 13:42] get-itips commented on #4943
Hello @bwar01 how are you? 👍

I see that documented [here](https://docs.microsoft.com/en-us/sharepoint/troubleshoot/security/cannot-force-modern-authentication)

Proposed thru a PR adding a link to that article on the Connect to SharePoint Online article.

[2020-02-23 03:19] gasperj opened #4955 "The target URL must be the root site or the search center site"
Please make this document clear that the command is only valid for swapping the root site or the search center site. (Or better, remove the limitation.) Thanks.

Invoke-SPOSiteSwap : The target URL must be the root site or the search center site
At line:1 char:1
+ Invoke-SPOSiteSwap -SourceUrl $source -TargetUrl $dest -ArchiveUrl $a ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-02-23 14:46] Markus-Hanisch opened #4956 "Get-Team Parameter Visibility Accepted Values"
While investigating an issue in the Office365DSC repo, I noticed that the `Get-Team` `Visibility` parameter accepts the value `HiddenMembership` as well. This results from the `HiddenGroupMembershipEnabled` switch of the [`New-UnifiedGroup`](https://docs.microsoft.com/en-us/powershell/module/exchange/users-and-groups/new-unifiedgroup?view=exchange-ps#parameters) cmdlet and is also mentioned in the

[2020-02-23 15:11] mariolonghi opened #4957 "typo on "The target site must be the either:""
Something is wrong with phrase!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeb8f8e8-1242-363c-be77-038142b4efb9
* Version Independent ID: 54a60006-3d61-4bb9-a040-60fe77ef9f85
* Content: [Invoke-SPOSiteSwap (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/invoke-spositeswap?v

[2020-02-23 16:50] Lewis-Barry opened #4958 "Set-TeamArchivedState"
A page for the cmdlet Set-TeamArchivedState doesn't currently exist!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94694082-c529-5654-1734-57514ec17a1f
* Version Independent ID: aa669763-6470-cc61-ea8d-52aee886f986
* Content: [Microsoft Teams PowerShell](https://docs.microsoft.com/en-us/powershell/module/teams/?view=t

[2020-02-24 12:28] yogkumgit commented on #4955
@officedocsbot assign @yogkumgit

[2020-02-24 12:29] yogkumgit commented on #4956
@officedocsbot assign @yogkumgit

[2020-02-24 12:29] yogkumgit commented on #4957
@officedocsbot assign @yogkumgit

[2020-02-24 12:30] yogkumgit commented on #4957
@officedocsbot assign @yogkumgit

[2020-02-24 12:30] yogkumgit commented on #4958
@officedocsbot assign @yogkumgit

[2020-02-24 13:02] yogkumgit commented on #4926
@get-itips  Thank you very much for the contribution and sharing this explanation. @sparkitect
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-24 13:02] #4926 closed

[2020-02-24 13:05] yogkumgit commented on #4938
@get-itips  Thank you very much for the contribution and sharing this explanation. @BombPAC
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-24 13:05] #4938 closed

[2020-02-24 13:08] yogkumgit commented on #4946
@get-itips  Thank you very much for the contribution and sharing this explanation. @ravick4u
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-24 13:08] #4946 closed

[2020-02-24 13:10] yogkumgit commented on #4937
@get-itips  Thank you very much for the contribution and sharing this explanation. @markgort86
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-24 13:16] yogkumgit commented on #4943
@dariomws306 and @tseward Plese review this PR #4954 Thanks

[2020-02-24 14:37] dariomws306 commented on #4884
Hi @netzoft and @chrisda I just realized that I have test it on Windows PowerShell. You need to run this command in cmd as the article says:
"run this command **in a Command Prompt**"

[2020-02-24 14:47] dusansk opened #4959 "ExternalURL missing on Exchange 2019 CU4 (WIN OS 2019)"
[PS] C:\Windows\system32&gt;Get-ManagementRoleEntry *\* -Parameters ExternalURL | ft name,role

Name                            Role
----                            ----
New-MapiVirtualDirectory        Exchange Virtual Directories
Set-LogExportVirtualDirectory   Exchange Virtual Directories
Set-OwaVirtualDirectory         Exchange Virtual Directories
New-RestVirtualDirectory        Exchange Virtua

[2020-02-24 14:51] dusansk commented on #4959
It says it works only on Exchange 2010. Sorry. my mistake

[2020-02-24 15:12] stuartschifter-AMA opened #4960 "Set-InboundConnector page requires update to include new settings for Enhanced Filtering"
Set-InboundConnector page requires update to include new settings for Enhanced Filtering.  Refer to https://docs.microsoft.com/en-us/exchange/mail-flow-best-practices/use-connectors-to-configure-mail-flow/enhanced-filtering-for-connectors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb3825d3-960f-65ac-e138-7097cbe65d

[2020-02-24 15:18] grzegorzwierzbicki opened #4961 "isDirSynced is filterable with Get-Recipient"
isDirSynced is filterable with Get-Recipient

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce35226-b40b-3c9f-a37f-585b84aa129e
* Version Independent ID: ac9953e2-769a-c115-b1c6-e6f6fc940db2
* Content: [Filterable properties for the Filter parameter](https://docs.microsoft.com/en-us/powershell/exchange/exchange-server

[2020-02-24 16:18] yogkumgit commented on #4959
@officedocsbot assign @yogkumgit

[2020-02-24 16:18] yogkumgit commented on #4960
@officedocsbot assign @yogkumgit

[2020-02-24 16:18] yogkumgit commented on #4961
@officedocsbot assign @yogkumgit

[2020-02-24 16:50] get-itips commented on #4951
Hello @kczauz How are you? Hope you are doing good. 👍
Here, we can handle documentation issues, for example, typos or missing information.
For cmdlet-specific issues, I will need to kindly redirect you to create a support ticket directly on your tenant, there, you will receive support about that behavior.
Thank you

[2020-02-24 16:51] Markus-Hanisch commented on #4956
@yogkumgit:
If you tell me what files I need to edit, I can create a pull request myself.
In the PnP PowerShell team, the Markdown files are generated based on the PowerShell cmdlets.
How is this handled for the PowerShell cmdlet `Get-Team`? Which file(s) do I need to modify?

[2020-02-24 17:01] get-itips commented on #4956
Hello @Markus-Hanisch Markus
Thanks for reporting, I tested and verified.
Created the PR to improve the article based on your feedback.
Thanks

[2020-02-24 17:01] ponsaelius opened #4963 "Additional information required on -PermanentlyClearPreviousMailboxInfo"
If you use the -PermanentlyClearPreviousMailboxInfo as a parameter it does more than is described.

It will not only remove the user mail guid it will also delete the mailbox completely making it unrecoverable. Worse still it will delete an archive mailbox too. In the case of the archive mailbox it seems to leave the archive mailbox guid in place.

So it does clear the primary mailbox attributes b

[2020-02-24 17:29] get-itips commented on #4958
Hello @Lewis-Barry Lewis 👍
Thanks for reporting, I created a PR to add the missing article for that cmdlet.

[2020-02-24 18:00] chrisda commented on #4959
@dusansk, thanks for the correction. Closing

[2020-02-24 18:00] #4959 closed

[2020-02-24 18:34] chrisda commented on #4960
@stuartschifter-AMA, done. Thanks for the feedback.

Closing.

[2020-02-24 18:34] #4960 closed

[2020-02-24 19:18] chrisda commented on #4963
@ponsaelius, OK, dire warning added.

Thanks for the feedback.

Closing

[2020-02-24 19:18] #4963 closed

[2020-02-24 22:48] hvandesa opened #4968 "Example 1 returns nothing"
Trying to get a list of the components on the page so I can remove them -"Get-PnPClientSideComponent -Page Home" returns nothing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 957300cf-4822-f1e7-5428-454b300e7984
* Version Independent ID: 0adb9dbb-262a-2999-d013-ba750e2321a1
* Content: [Get-PnPClientSideComponent (sha

[2020-02-25 03:15] anthonynz opened #4970 "Missing parameter "ErrorAction""
Hi,
It looks like set-remotemailbox accepts the -erroraction parameter but it does not work.

It is not documented on this page.  Has the erroraction parameter been deprecated?

e.g.
Specifying "Set-RemoteMailbox -ErrorAction Stop"  has no impact on a failed execution, it does not stop as it should.
This means Try..Catch  error handling fails.

---
#### Document Details

⚠ *Do not edit this sectio

[2020-02-25 07:12] victorguo commented on #4830
@franklesniak I tested several months ago #4581 and found that EXO V2 didn't support national clouds yet. Are they supported now?

@chrisda But, using EXO V1 with oAuth (modern authentication) without MFA, we still need the ConnectionUri and AzureADAuthorizationEndPointUri for China. How can we know the URLs?

[2020-02-25 08:07] markgort86 commented on #4937
@get-itips Thanks for you're explanation, first i check if i got the latest version of the PowerShell module. After that i try to reproduce my issue. If it still exist i raise a support ticket from my tenant.

[2020-02-25 08:07] #4937 closed

[2020-02-25 09:05] yogkumgit commented on #4968
@officedocsbot assign @yogkumgit

[2020-02-25 09:06] yogkumgit commented on #4970
@officedocsbot assign @yogkumgit

[2020-02-25 09:18] yogkumgit commented on #4884
@dariomws306  Thank you very much for the contribution and sharing this explanation. @netzoft
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-25 09:18] #4884 closed

[2020-02-25 09:22] yogkumgit commented on #4951
@get-itips Thank you very much for the contribution and sharing this explanation. @kczauz
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2020-02-25 09:23] #4951 closed

[2020-02-25 09:25] yogkumgit commented on #4956
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Markus-Hanisch Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-25 09:25] #4956 closed

[2020-02-25 09:28] yogkumgit commented on #4958
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Lewis-Barry Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-25 09:44] Lewis-Barry commented on #4958
Nice one, thank you.

[2020-02-25 09:45] #4958 closed

[2020-02-25 12:11] get-itips commented on #4950
Hello @SharePointBlackBelt 👍
How are you? Hope you are doing good.

For that question, I need to kindly ask you to go to this other [repo](https://github.com/SharePoint/PnP-PowerShell/), PnP cmdlets are maintained by the community, a member of it will pick your inquiry there and assist you.

Thanks

[2020-02-25 12:31] get-itips commented on #4955
Hello @gasperj Joe how are you ?
Document already has that information

[2020-02-25 12:33] get-itips commented on #4957
Hello @mariolonghi 👍
Thanks for noticing, created a pr to fix that typo.

[2020-02-25 14:15] gasperj commented on #4955
Agreed. It could be clearer if that key point was in the description. You can close. Thanks.

[2020-02-25 14:33] dariomws306 commented on #4947
Hi @ScriptedAdventures, thank you for your feeback.

The best place to request new features or report issues for Windows Terminal is:
https://github.com/microsoft/terminal/issues

[2020-02-25 14:52] dariomws306 commented on #4947
More information:
https://github.com/microsoft/terminal/issues/3572

[2020-02-25 15:14] yogkumgit commented on #4950
@get-itips  Thank you very much for the contribution and sharing this explanation. @SharePointBlackBelt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-25 15:14] #4950 closed

[2020-02-25 15:17] yogkumgit commented on #4955
@get-itips  Thank you very much for the contribution and sharing this explanation. @gasperj
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-25 15:17] #4955 closed

[2020-02-25 15:22] yogkumgit commented on #4957
@WayneEwington Please merge this PR #4971

[2020-02-25 15:25] yogkumgit commented on #4947
@dariomws306  Thank you very much for the contribution and sharing this explanation. @ScriptedAdventures Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-25 15:25] #4947 closed

[2020-02-25 15:25] franklesniak commented on #4830
Looks like they might have just added support? Hot off the presses:

https://office365itpros.com/2020/02/25/microsoft-updates-exchange-online-management-powershell-module/amp/

[2020-02-25 16:17] victorguo commented on #4830
@franklesniak Thanks for the info. But I just tried. Still no luck.

[2020-02-25 17:46] chrisda commented on #4970
@anthonynz, do you happen to know if ErrorAction ever worked for this cmdlet? I ask because it seems like lack of support for a specific common parameter seems to be cmdlet specific. In other words, I wonder if ErrorAction ever worked with Set-RemoteMailbox, even as far back as Exchange 2007 or Exchange 2010.

The only other potential issue I would bring up is Windows PowerShell versions; anything

[2020-02-25 19:42] dariomws306 commented on #4712
@mrkeiths and @jdrecklessworld thank you for this feedback.

I'm adding these EventTypes with the description. If you want to double check, I will appreciate that.

[2020-02-25 20:02] NeighborGeek opened #4975 "Parameters removed?"
A few parameters are listed in this documentation that do not appear to exist in the command (per get-help) as it exists today.  Perhaps they have been removed, or will be added in a future update?

Specifically:
ExchangeSenderMemberOf
ExchangeSenderMemberOfException
Priority

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-02-25 22:29] chrisda commented on #4975
@NeighborGeek, those parameter should be available. Try running this command to see if they're listed:

[code]

[2020-02-25 22:39] kevball2 opened #4979 "Detail that the Chromium Edge feature needs to be enabled"
Can the article be updated that the Chromium edge feature needs to be enabled (as of right now it is turned off be default)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b188049-5302-25da-5bd2-89401be1db96
* Version Independent ID: a1d18859-a50d-acd2-1ef1-3729925dc1f1
* Content: [Connect to Office 365 Security & Comp

[2020-02-25 23:14] get-itips commented on #4933
Hello @ekdegerman how are you? 👍
Here, we only handle documentation issues, however, I managed to pass this information to the Product Team, and now they are aware of this, as an internal issue has been created.
Thanks for reporting this.

[2020-02-25 23:16] get-itips commented on #4940
Hello @markgort86 Mark 👍
I managed to inform the Product Team, and an internal issue has been created.
In the meantime, this can be used, in case anyone reads this issue thread

`Get-Command -Module MicrosoftTeams`

Thank you

[2020-02-25 23:27] chrisda commented on #4979
@kevball2, sure. How do you do that? Is it different than the call-out that's already there?

[2020-02-26 07:57] markgort86 commented on #4940
@get-itips thanks for you're feedback and the information to the product team :-)

[2020-02-26 08:46] yogkumgit commented on #4979
@officedocsbot assign @yogkumgit

[2020-02-26 08:46] yogkumgit commented on #4975
@officedocsbot assign @yogkumgit

[2020-02-26 10:53] yogkumgit commented on #4712
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @mrkeiths Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-26 10:53] #4712 closed

[2020-02-26 11:01] yogkumgit commented on #4933
@get-itips  Thank you very much for the contribution and sharing this explanation. @ekdegerman
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-26 11:01] #4933 closed

[2020-02-26 11:05] yogkumgit commented on #4940
@get-itips  Thank you very much for the contribution and sharing this explanation. @markgort86
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-26 11:05] #4940 closed

[2020-02-26 11:07] thewrabbit opened #4980 "Does New-CsGroupPolicyAssignment work on nested groups?"
The article doesn't cover if only members who are direct members of a group will have the policy applied, or if it will work on nested membership (and if so how deep).  eg User A is a member of Group One, Group One is a member of Group Two.  The Policy is assigned to Group Two.  Will User A have the policy applied?

[2020-02-26 11:09] yogkumgit commented on #4907
@get-itips  Thank you very much for the contribution and digging deep into it.  @Somu76  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documen

[2020-02-26 11:09] #4907 closed

[2020-02-26 11:11] yogkumgit commented on #4912
@get-itips  Thank you very much for the contribution and digging deep into it.  @marcos-nuga  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this do

[2020-02-26 11:11] #4912 closed

[2020-02-26 11:11] thewrabbit opened #4981 "Does New-CsGroupPolicyAssignment work on nested groups?"
The article doesn't cover if only members who are direct members of a group will have the policy applied, or if it will work on nested membership (and if so how deep). eg User A is a member of Group One, Group One is a member of Group Two. The Policy is assigned to Group Two. Will User A have the policy applied?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.micro

[2020-02-26 11:12] #4980 closed

[2020-02-26 11:14] yogkumgit commented on #4943
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @bwar01 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-26 11:14] #4943 closed

[2020-02-26 11:17] yogkumgit commented on #4957
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @mariolonghi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-26 11:17] #4957 closed

[2020-02-26 11:18] yogkumgit commented on #4981
@officedocsbot assign @yogkumgit

[2020-02-26 11:25] trudolf-msft opened #4982 "Do not translate parameters"
Parameter like "confirm" and "priority" have been translated into German (DE) "Bestätigen" & "Priorität". Please stop that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6fd9b17-5a2f-6e0a-f25b-a78aa5530b55
* Version Independent ID: 7f729071-f372-8270-a03a-e2d025fba93f
* Content: [New-MoveRequest (exchange)](https://d

[2020-02-26 11:28] yogkumgit commented on #4981
@officedocsbot assign @yogkumgit

[2020-02-26 11:29] yogkumgit commented on #4982
@officedocsbot assign @yogkumgit

[2020-02-26 11:42] kkazala commented on #4897
At the bottom of the https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/set-pnptenant?view=sharepoint-ps page, there's a Feedback section which we can use to report issues.
And as a customer, I expect to report the issue there, and Microsoft to either respond or to reassign the issue to another repo
Instead you tell me that it's my job to report the issue again? And you prefer to wr

[2020-02-26 11:48] get-itips commented on #4897
Hello @kkazala Kinga, how are you ? 👍
I can understand your frustration, you are right, the feedback section leads you here, as the team behind it is working on a solution, I was instructed to kindly redirect anyone to the right place where they will get an answer. I am a collaborator on this repo and I try to do my best.

Hope this clarifies it to you, have a nice day!

[2020-02-26 12:03] yogkumgit commented on #4875
@TeddyLegs The issue has been reproduced and verified as a bug and is being escalated to product team for investigation.
The issue is thus being closed because the issues section of this repository is intended for product documentation problems, not product support.
Also feel free to reply if there is anything else that could be done to improve the document itself.
Thanks

[2020-02-26 12:03] #4875 closed

[2020-02-26 12:08] yogkumgit commented on #4961
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @grzegorzwierzbicki Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-26 12:08] #4961 closed

[2020-02-26 12:15] #4897 closed

[2020-02-26 13:31] peterholdridge opened #4983 "Access Denied"
I'm getting access denied when I run this cmdlet.
I've installed the latest preview teams powershell modules from the PSTestGallary and I have the new cmdlets. I'm connecting with a Global Admin account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dd1f927-030d-f0ad-06b8-195fa591d095
* Version Independent ID: e10d6b

[2020-02-26 16:42] yogkumgit commented on #4983
@officedocsbot assign @yogkumgit

[2020-02-26 20:11] dfsaqwe opened #4985 "Do not depreciate Search-Mailbox, enhance it, or Enhance Compliance search action Purges"
The ten item limit on Compliance Search Action purges is too, too little.

Direct example of where we need a much a higher amount: when exchange duplicates hundreds if not thousands of copies of an email item due to item corruption.

I have had numerous tickets with user mailboxes filling up with these corrupted duplicates.  Using Search-Mailbox to delete 10,000 at a time is a blessing in saving t

[2020-02-26 21:43] Zerg00s opened #4986 "Set-SPOTenant has multiple undocumented switches"
Can you, please, document these properties that are available via PowerShell, but not documented on this page?

- EnablePromotedFileHandlers
- DefaultLinkPermission
- AllowDownloadingNonWebViewableFiles
- FilePickerExternalImageSearchEnabled
- EmailAttestationRequired
- EmailAttestationReAuthDays
- SyncPrivacyProfileProperties
- EnableMinimumVersionRequirement
- MarkNewFilesSensitiveByDefault
- En

[2020-02-27 02:41] kevball2 commented on #4979
It the current build I am using (82.0.425.3) The initial setting is default. Then doesn't tell me if it was enabled or disabled by default. Maybe an update to the note That ClickOnce support is available in the Chromium-based version of Edge (but may need be enabled) to give a clearer context that the setting is not enabled by default. Or even just note the feature may not be enabled by default.

[2020-02-27 08:47] mvanders opened #4992 "Option -NewTitle DOESN'T WORK"
When using the option -NewTitle, one gets an error:

Start-SPOSiteRename : A parameter cannot be found that matches parameter name 'NewSiteTitle'.
At line:4 char:60
+ ... teRename -Identity $url -NewSiteUrl $NewSiteUrl -NewSiteTitle $newTit ...
+                                                     ~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Start-SPOSiteRename], ParameterBind

[2020-02-27 08:49] mvanders opened #4993 "Get-SPOSiteRenameState DOESN'T WORK!"
When issuing the command, one gets:

Get-SPOSiteRenameState : The term 'Get-SPOSiteRenameState' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a
path was included, verify that the path is correct and try again.
At line:1 char:1
+ Get-SPOSiteRenameState -Identity https://upcbe47795.sharepoint.com/si ...
+ ~~~~~~~~~~~~~~~~

[2020-02-27 10:12] rlodev67 commented on #4186
Same for me, after installing .net 4.8, I can connect, thanks for the fix @moegitree

[2020-02-27 11:26] yogkumgit commented on #4985
@officedocsbot assign @yogkumgit

[2020-02-27 11:27] yogkumgit commented on #4986
@officedocsbot assign @yogkumgit

[2020-02-27 11:27] yogkumgit commented on #4992
@officedocsbot assign @yogkumgit

[2020-02-27 11:28] yogkumgit commented on #4993
@officedocsbot assign @yogkumgit

[2020-02-27 11:41] yogkumgit commented on #4838
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @jdotto02 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-27 11:41] #4838 closed

[2020-02-27 12:35] yogkumgit commented on #4975
@chrisda  Thank you very much for the contribution and sharing this explanation. @NeighborGeek
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-27 13:51] NeighborGeek commented on #4975
@chrisda Thank you, when I run that command it does list the 3 parameters that I thought were missing.  Is there a reason that these would be hidden from the built in help?

[2020-02-27 15:55] Archehandoro opened #4994 "No support for PowershellCore."
No cross-platform PowerShellCore support for key modules.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Content: [Exchange Online PowerShell V2](https://docs.microsoft.com/en-gb/powershell/exchange/exchange-online/exc

[2020-02-27 16:13] BoostN opened #4995 "Modern Authentication for Automated Scripts"
I see nothing in this article that shows how to use an oAuth token to authenticate a request for a automated solution that will be run periodically. Since it's automated, we can't have a prompt asking for credentials. Any ideas? Examples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28f6554b-4d67-06d3-7926-1b95865387

[2020-02-27 16:28] JohnBontjer opened #4996 "Example mentions wrong command name"
Command used in example 1 has a typo 'Get-PnPHubChildSite' instead of 'Get-PnPHubSiteChild'

Notice 'Child' at the end of the noun.
correct command: Get-PnPHubSiteChild

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ec75a87-ea5a-c9c6-b15f-facb7c816760
* Version Independent ID: 002d95a1-c08e-9208-426f-9ca908079be1
* Co

[2020-02-27 16:36] kenwith commented on #4996
@JohnBontjer - thank you for taking the time to submit an issue with this one.

The PnP cmdlet references are a little different than the rest of the Office cmdlet references. The PnP 'source' for the reference actually lives in the cmdlet code itself and each release the PnP maintainers generate the references from code and then copy the markdown over to this location so it is rendered alongside

[2020-02-27 16:36] #4996 closed

[2020-02-27 17:50] chrisda commented on #4975
@NeighborGeek, I think it's more of an issue of "missing" than "hidden". The cmdlet reference topics on the web are always the most up-to-date. Those same topics are also used for PowerShell help at the command line, but there's always a lag that involves adding them to code, and when that version of Exchange is available (either in quarterly on-prem CUs or in the cloud datacenters). At best, comm

[2020-02-27 18:51] chrisda commented on #4830
@victorguo, I don't understand your question to me. You're trying to use the MFA module to connect to a tenant in China/21Vianet, but you aren't using MFA, just Modern Auth? I would suggest you reach out to 21Vianet for answers and to see if that's even possible. If you find anything, no need to re-open this Issue; just update the topic directly as described [here](https://github.com/MicrosoftDocs

[2020-02-27 18:51] #4830 closed

[2020-02-27 19:00] chrisda commented on #4979
@kevball2, OK. Done. Thanks for the feedback.

Closing.

[2020-02-27 19:00] #4979 closed

[2020-02-28 05:22] yogkumgit commented on #4994
@officedocsbot assign @yogkumgit

[2020-02-28 05:22] yogkumgit commented on #4995
@officedocsbot assign @yogkumgit

[2020-02-28 10:21] Petri-X opened #5000 "Import-Module microsoftteams: Exception from HRESULT: 0x80131515"
Hi,

In our workstation environments we cannot run the install-modules, as administrator accounts must not be able to connect to internet. So I did a manual download for .nupkg. Then I follow the instructions on: [Installing PowerShell modules from a NuGet package](https://docs.microsoft.com/en-us/powershell/scripting/gallery/how-to/working-with-packages/manual-download?view=powershell-7#installin

[2020-02-28 10:47] yogkumgit commented on #5000
@officedocsbot assign @yogkumgit

[2020-02-28 11:10] yogkumgit commented on #4970
@chrisda  Thank you very much for sharing this explanation. @anthonynz hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-28 11:10] #4970 closed

[2020-02-28 15:21] get-itips commented on #4981
Hello @thewrabbit How are you?
To be able to identify if a change is needed to articles and reply to your question, I always test the cmdlets under the given scenario, however this time I could not run any -csGroupPolicyAssignment.

I think that cmdlet it is not ready for production use, it is part of the BETA module version. @tomkau Tom, can you confirm this? 👍  Thanks

[2020-02-28 15:45] get-itips commented on #4983
Hello @peterholdridge Peter 👍
Those cmdlets are part of the BETA version of the module. So they are not ready for production use.
Please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/4981

[2020-02-28 15:52] get-itips commented on #5000
Hello @Petri-X
While I setup my environment to test this... quick question, did it run successfully after you unblocked all the files?
Thanks for the info

[2020-02-28 16:24] get-itips commented on #4968
Hello @hvandesa Heather
How are you? 👍
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-02-28 16:59] NeighborGeek commented on #4975
@chrisda  Interesting.  I thought that powershell functions were self documenting, to a degree, in that just by nature of a parameter existing it would be listed in the help for the command unless it is explicitly set not to.  So I expect that the help for a command will at least list all of the parameters that are available in that version of the command, even if there is no description of the co

[2020-02-28 20:00] get-itips commented on #4986
Hello @Zerg00s Denis.
Just to let you know that I started working on this.

[2020-02-29 08:50] tonyoscard opened #5004 "-GraphAPIToken parameter required"
Need Graph API token parameter in EXO v2. So we can connect multiple services like MSOnline, AzureAD and EXO v2 using same token.

[2020-02-29 12:14] dariomws commented on #4995
Hi @BoostN, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

Also, for this type of questions you can get some help from the community:
https:

[2020-02-29 12:15] dariomws commented on #4994
Hi @Archehandoro, thank you for your feedback.

Exchange Online PowerShell V2 module is not supported on PowerShellCore yet.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam)

[2020-02-29 12:50] get-itips commented on #4992
Hello @mvanders Marc 👍
How are you?
Please be sure of running the latest available stable version of the SharePoint Powershell module.
Try to reproduce to see if we had to change something in the documentation but could not repro.
Thank you

[2020-02-29 12:52] get-itips commented on #4993
Hello @mvanders Marc 👍
Same as https://github.com/MicrosoftDocs/office-docs-powershell/issues/4992
Please be sure of running the latest available stable version of the SharePoint Powershell module.
Tried to reproduce to see if we had to change something in the documentation but could not repro.
Thank you

[2020-02-29 12:54] get-itips commented on #4986
Created a PR to address this issue. PR is linked here.

[2020-03-02 07:53] yogkumgit commented on #5004
@officedocsbot assign @yogkumgit

[2020-03-02 08:20] yogkumgit commented on #4968
@get-itips  Thank you very much for the contribution and sharing this explanation. @hvandesa
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-02 08:20] #4968 closed

[2020-03-02 08:27] yogkumgit commented on #4986
@tseward and @dariomws Please review this PR #5005

[2020-03-02 08:29] yogkumgit commented on #4995
@dariomws  Thank you very much for the contribution and sharing this explanation. @BoostN
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-02 08:29] #4995 closed

[2020-03-02 08:38] yogkumgit commented on #4994
@dariomws  Thank you very much for the contribution and sharing this explanation. @Archehandoro Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-02 08:39] #4994 closed

[2020-03-02 13:37] paulpa opened #5007 "Error importing OfficeDevPnP.Core module in Azure Automation account"
Hello team,

we are getting an error when we are trying to import the OfficeDevPnP.Core into Azure Automation account -->Shared Resources --> Modules

Error importing the module OfficeDevPnP.Core. Import failed with the following error: Orchestrator.Shared.AsyncModuleImport.ModuleImportException: While importing the module, an error occurred while processing the module content. Internal error mess

[2020-03-02 14:11] get-itips commented on #5000
Hello @Petri-X
Finally tested this.
First, I reproduced the error you shared, then, I tried first unblocking the .nupkg file BEFORE renaming it to .zip to extract the contents, and then tried to use it, it imported the microsoftteams module without error.

![image](https://user-images.githubusercontent.com/36666927/75683720-46565b80-5c5d-11ea-95c3-388672611dfc.png)

[2020-03-02 14:43] yogkumgit commented on #5007
@officedocsbot assign @yogkumgit

[2020-03-02 14:46] bender86 opened #5008 "Connect-MicrosoftTeams with certificate issue"
Hi,

I'm trying to connect  with an existing certificate uploaded in my azure App Registration.
I used this 3 parameters but have an issue
$clientID
$thumbprint
$tenantID

`#Connect-MicrosoftTeams -ApplicationId $clientID -CertificateThumbprint $thumbprint -TenantId $tenantID -LogFilePath "C:\temp\TeamsError.txt"`

My MicrosoftTeams version is up to date
1.0.3      MicrosoftTeams

[2020-03-02 15:07] HugoExceptOnFire opened #5009 "Undocumented Limit on -SenderAddress ?"
I have a PowerShell object containing some 600 addresses by doing `$groups = get-DistributionGroup`

I am trying to run this object against Start-HistoricalSearch using `$groups.Primarysmtpaddress`, like this:

`Start-HistoricalSearch -ReportTitle "Distribution Group Report" -startDate 12/10/2019 -endDate 03/02/2020 -ReportType MessageTrace -SenderAddress $groups.Primarysmtpaddress -NotifyAddress

[2020-03-02 20:44] Anonimiss opened #5010 "Remove-SPOOrgNewsSite Error"
Following the documentation, I am attempting to remove an Org News Site by utilizing the following command:

`Remove-SPOOrgNewsSite -OrgNewsSiteUrl https://xxxx.sharepoint.com/sites/xxxx`

I receive the following error:

`Remove-SPOOrgNewsSite : File Not Found.
At line:1 char:1
+ Remove-SPOOrgNewsSite -OrgNewsSiteUrl https://xxxx.sharepoint.com/ ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-03-02 22:11] ITGeekBrian commented on #4898
I am running into an issue when attempting to associate a Hub site with another Hub site.  The documentation (https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/add-spohubtohubassociation?view=sharepoint-ps) says to use to the urls as the source and target - this however does not work.

I was redirected to this article as "It seems that the cmdlet “Add-SPOHubToHubAssociation” is

[2020-03-02 22:16] bongo-ho commented on #4898
That's fine but can we please put an indication on online docs and the cmdlet help to say its not implemented rather than as an error msg?

The documentation online read like this was usable - and its not.

Also do we have a guesstimate on te timeline for availability of the feature? Obviously sooner rather than later, otherwise the placeholder would not be published...

Cheers
Jonathan

Jonathan

[2020-03-02 22:19] get-itips commented on #4898
@trent-green can we get an estimation on when this is expected to be released? Thanks

[2020-03-02 23:07] #4975 closed

[2020-03-03 04:45] yogkumgit commented on #5008
@officedocsbot assign @yogkumgit

[2020-03-03 04:46] yogkumgit commented on #5009
@officedocsbot assign @yogkumgit

[2020-03-03 04:46] yogkumgit commented on #5010
@officedocsbot assign @yogkumgit

[2020-03-03 11:51] dariomws commented on #4985
Hi @dfsaqwe, thank you for your feedback.

This place is to help us to improve documentation. Please, for product feedback o request features use User Voice:
https://office365.uservoice.com/forums/289138-office-365-security-compliance/suggestions/39431878-keep-search-mailbox

[2020-03-03 11:52] ChrisAtMAF opened #5014 "-ActiveSyncMailboxPolicy can be set to $null to reset to defaults"
It would be helpful to mention that using -ActiveSyncMailboxPolicy with the $null parameter is the best way to select the 'default' policy again

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9398dd25-94e7-a8f8-6d97-f150173bb4da
* Version Independent ID: 6f19f636-20d5-bc97-68be-30b313f107b8
* Content: [Set-CASMailbox (

[2020-03-03 13:56] JeremyTBradshaw opened #5015 "-Identity parameter set gone for good?"
Get-MobileDeviceStatistics had an extra parameter set which included the Identity parameter.  This allows for piping results from Get-MobileDevice into Get-MobileDeviceStatistics.  Dropping that functionality is quite a breaking change.  Is this temporary or permanenent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8

[2020-03-03 14:12] BartHoofd opened #5017 "Require method to check if existing connection exists without generating error"
The library requires an additional method to check for an existing Exchange Online connection without generating an error, to be able to create automated scripts using functions that pass errors up the chain.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2

[2020-03-03 14:36] yogkumgit commented on #5014
@officedocsbot assign @yogkumgit

[2020-03-03 14:37] yogkumgit commented on #5015
@officedocsbot assign @yogkumgit

[2020-03-03 14:37] yogkumgit commented on #5017
@officedocsbot assign @yogkumgit

[2020-03-03 14:45] yogkumgit commented on #5000
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Petri-X Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-03 15:07] Petri-X commented on #5000
@get-itips Hero !!
That really did the trick. And answer for your earlier question, when I did a unblock for all files, that did not work either then.
Big thanks !!   _o/

[2020-03-03 15:17] yogkumgit commented on #4985
@dfsaqwe  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2020-03-03 15:17] #4985 closed

[2020-03-03 15:18] get-itips commented on #5000
@Petri-X Glad to hear!
@yogkumgit please close this thread again.

[2020-03-03 15:23] #5000 closed

[2020-03-03 16:26] Anonimiss commented on #5010
After further troubleshooting, I was able to get the site to successfully be removed from the list.  Closing out ticket as it seems to be working as expected.

[2020-03-03 16:26] #5010 closed

[2020-03-03 16:34] yogkumgit commented on #4993
@get-itips  Thank you very much for the contribution and sharing this explanation. @mvanders
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-03 16:34] #4993 closed

[2020-03-03 16:36] yogkumgit commented on #4992
@get-itips  Thank you very much for the contribution and sharing this explanation. @mvanders
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-03 16:36] #4992 closed

[2020-03-03 16:39] yogkumgit commented on #4986
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Zerg00s Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-03 16:39] #4986 closed

[2020-03-03 16:44] yogkumgit commented on #4983
@tomkau Please respond to the query in #4981

[2020-03-03 17:27] chrisda commented on #5014
@ChrisAtMAF, is there a reason why you would use the value $null instead of Default (the name of the default policy)? I checked in an Exchange Online tenant and an Exchange 2019 server, and the default value for ActiveSyncMailboxPolicy is Default, not blank.

[2020-03-03 17:30] ChrisAtMAF commented on #5014
Hi,

When I tested, attempting to reset the value to 'Default' leaves the Get-CASMailbox 'ActiveSyncMailboxPolicyIsDefaulted' property (helpful for determining if a mailbox is not default!) at $False

When I set -ActiveSyncMailboxPolicy to $null, I found that it also reset ActiveSyncMailboxPolicyIsDefaulted back to True.

See https://practical365.com/exchange-server/exchange-server-configure-defau

[2020-03-03 17:39] Petri-X opened #5018 "Get-Team ends to nowhere"
Hi,
I'm new with MicrosoftTeams management shell. I did a manual installation and started to run the first command: get-Team and that gives nothing out, actually it did nothing.

I run the command again and took performance counters from the same time and the network load looks like the following:
![image](https://user-images.githubusercontent.com/43988151/75803153-9ed54800-5d86-11ea-9ede-f77edb5b

[2020-03-03 18:22] chrisda commented on #5014
@ChrisAtMAF, very interesting. I updated the topic as you described.

Thanks for the feedback.

Closing

[2020-03-03 18:22] #5014 closed

[2020-03-03 19:54] dariomws commented on #4982
Hi @trudolf-msft, thank you for your feedback.

@OfficeGlobal could you kindly help with this translation issue? Parameters shouldn't be translated. Thanks!

[2020-03-03 20:06] dariomws commented on #5017
Hi @BartHoofd, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

[2020-03-03 20:07] dariomws commented on #5015
Hi @JeremyTBradshaw, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

[2020-03-03 21:38] dariomws commented on #5004
Hi @tonyoscard, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

[2020-03-03 22:15] dariomws commented on #5009
Hi @HugoExceptOnFire, thank you for your feedback.

@chrisda could you kindly help with this? I have verified this information and seems that there is a limit between 100 and 150 addresses.

[2020-03-04 00:33] JeremyTBradshaw commented on #5015
Ahh, good point and will do.  Thanks.

[2020-03-04 00:33] #5015 closed

[2020-03-04 01:27] darryn-bryant opened #5021 "Get-TeamChannelUser only returns 100 users"
We have some private channels with >100 users and this cmd only returns 100.

[2020-03-04 06:53] yogkumgit commented on #5018
@officedocsbot assign @yogkumgit

[2020-03-04 06:54] yogkumgit commented on #5021
@officedocsbot assign @yogkumgit

[2020-03-04 09:52] Petri-X opened #5022 "Get-CsCallQueue returns only 100 call queues"
Hi,
Is it only me who have the following problem:
[code]

Assuming of course you have more than 100 Call Queues? I tested this on test tenant which is not at the moment available anymore.

[2020-03-04 11:49] yogkumgit commented on #5022
@officedocsbot assign @yogkumgit

[2020-03-04 11:59] yogkumgit commented on #5017
@dariomws  Thank you very much for the contribution and sharing this explanation. @BartHoofd
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-04 12:08] yogkumgit commented on #5004
@dariomws  Thank you very much for the contribution and sharing this explanation. @tonyoscard
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-04 12:08] #5004 closed

[2020-03-04 12:57] BartHoofd commented on #5017
Thanks for the support!

From: Yogesh Kumar <notifications@github.com>
Sent: Wednesday, 4 March 2020 12:59
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Hoofd Bart <b.hoofd@kw1c.nl>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Require method to check if existing connection exists without generating error (#5017

[2020-03-04 13:00] #5017 closed

[2020-03-04 14:19] get-itips commented on #5008
Hello @bender86
How are you?
Those errors are probably related to the method you used to generate the certificate (See the invalid provider error)

I tested the cmdlet to see if any documentation change was needed, as here we are limited to documentation issues, and I could connect successfully when I followed this [other article](https://docs.microsoft.com/en-us/azure/active-directory/develop/how

[2020-03-04 14:25] get-itips commented on #5007
Hello @paulpa Paul 👍
How are you?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-04 15:05] acrichlow opened #5024 "New-TeamChannel issue"
I am able to create the channel as a private channel, add a user to the channel, but every singe channel created this way does not have a functioning Files tab within Teams. Any ideas?

[2020-03-04 16:39] yogkumgit commented on #5024
@officedocsbot assign @yogkumgit

[2020-03-04 17:27] dariomws commented on #4994
@Archehandoro PS Core will be supported. More information:
https://techcommunity.microsoft.com/t5/exchange-team-blog/faster-and-more-reliable-exchange-online-management-using/ba-p/1198604

[2020-03-04 17:29] dariomws commented on #4655
@KirkMunro CBA will be supported. More information:
https://techcommunity.microsoft.com/t5/exchange-team-blog/faster-and-more-reliable-exchange-online-management-using/ba-p/1198604

[2020-03-05 09:12] Hoegimator opened #5028 "MessageCopyForSentAsEnabled MessageCopyForSendOnBehalfEnabled"
What about changing the properties of "MessageCopyForSentAsEnabled" and "MessageCopyForSendOnBehalfEnabled" in the default Mailboxplan?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b7e2c02-ff5d-7c4b-8f34-69597480f600
* Version Independent ID: 364f7cd0-3fd1-6401-cb46-6fb104b97ac3
* Content: [Set-MailboxPlan (exchange

[2020-03-05 10:55] yogkumgit commented on #5028
@officedocsbot assign @yogkumgit

[2020-03-05 11:17] yogkumgit commented on #5008
@get-itips  Thank you very much for the contribution and sharing this explanation. @bender86
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-05 11:17] #5008 closed

[2020-03-05 11:21] yogkumgit commented on #5007
@get-itips  Thank you very much for the contribution and sharing this explanation. @paulpa
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-05 11:21] #5007 closed

[2020-03-05 19:14] auger282 commented on #4780
Any update? Is there a date in the future when I should check in?
Thanks for your help looking into this.

[2020-03-06 08:57] mtudor opened #5032 "AssociatedMessagesCopyOption default is NOT "Copy" (it is "DoNotCopy")"
The page on New-MailboxExportRequest, in the text for the "Copy" option, states that "Copy" is the default option for the "AssociatedMessagesCopyOption" parameter.  Underneath, the default is listed as "None".  The actual default is "DoNotCopy", it would seem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fab79912-307

[2020-03-06 10:31] OfficeGlobal commented on #4982
Working on a fix

[2020-03-06 13:31] yogkumgit commented on #5032
@officedocsbot assign @yogkumgit

[2020-03-06 16:36] rva3 opened #5033 "Get-PnPTenantSite does not display GUID values when retrieving all sites"
Running Get-PnPTenantSite or Get-PnPTenantSite -Detailed does not display the actual value of attributes that have GUID data types (GroupId, HubSiteId, RelatedGroupId, SensititvityLabel), the value 00000000-0000-0000-0000-000000000000 is displayed for all sites.

The expected behavior is that Get-PnPTenantSite -Detailed will return all sites with the correct attribute values based on the following

[2020-03-06 17:10] MarkWagner opened #5034 "Help missing argument names"
The help for the New-OfficeWebAppsFarm command displays the description for 50+ parameters but does not list the parameter name next to each description.  This makes the help almost meaningless.  Also, most arguments don't show what the Default value is.  This is what I am really after.

Get-Help New-OfficeWebAppsFarm -full
or
Get-Help New-OfficeWebAppsFarm -detail

[2020-03-06 19:02] sumitrampal80 opened #5035 "Aggregations parameter is not working"
In example given above on this page - Add-PnPView -List "Demo List" -Title "Demo View" -Fields "Title","Address" -Aggregations "&lt;FieldRef Name='Title' Type='COUNT'/&gt;" is Aggregation parameter is not available yet? I have updated PnP online and still getting the error "A parameter cannot be found that matches parameter name 'Aggregations'."

---
#### Document Details

⚠ *Do not edit this sect

[2020-03-07 15:03] swatt6400 opened #5037 "Don't confirm deletion of the underlying SQL database"
-Confirm:$false doesn't do it - you still have to confirm the second (SQL Database delete) confirmation.  -Force does the trick, but the documentation for -Force in this article is very generic and doesn't tell you what it forces vs. when not using the -Force switch.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ef69

[2020-03-09 07:28] OfficeGlobal commented on #4982
@trudolf-msft , @dariomws the article was HumanTranslated and published live. Parameters were left in ENG

[2020-03-09 12:49] dariomws commented on #4982
@OfficeGlobal Thank you!

[2020-03-09 14:57] yogkumgit commented on #5033
@officedocsbot assign @yogkumgit

[2020-03-09 14:58] yogkumgit commented on #5034
@officedocsbot assign @yogkumgit

[2020-03-09 15:01] yogkumgit commented on #5035
@officedocsbot assign @yogkumgit

[2020-03-09 15:02] yogkumgit commented on #5037
@officedocsbot assign @yogkumgit

[2020-03-09 15:22] yogkumgit commented on #4982
@dariomws  Thank you very much for the contribution. @trudolf-msft  If you see other  documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-09 15:22] #4982 closed

[2020-03-10 00:23] stephenc01 opened #5043 "Azure app or certificate"
Is there a way to use app registration or certificate with the new api?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28f6554b-4d67-06d3-7926-1b958653872f
* Version Independent ID: 7a6a1737-afdf-dfd5-67f8-64aa6758ccc4
* Content: [Connect-ExchangeOnline (exchange)](https://docs.microsoft.com/en-us/powershell/module/exc

[2020-03-10 08:55] dannydpa opened #5044 "missing parameter PreferredMeetingProviderForIslandsMode"
I have the parameter PreferredMeetingProviderForIslandsMode in  my Tenant available and it has value:  TeamsAndSfb
Please add the info to this page as well.  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b9baa8-da13-a24f-af31-91d63de13f08
* Version Independent ID: 6a37be44-d957-2b7a-a563-53332cf59098
* Co

[2020-03-10 09:29] YvonneArnoldus opened #5045 "Cmdlet usage is restricted."
I'm able to create a Office 365 group with my Tenant created through Power BI and my Power BI Pro license but when I want to turn of the welcome email because we do not need it I get this error:

The following error occurred during validation in agent 'Substrate Only Agent': 'Organization "***" i
s not licensed for Exchange email functionality. Cmdlet usage is restricted.'
    + CategoryInfo

[2020-03-10 09:59] Kazzan opened #5046 "Blocked Files Update April 2020"
Please, add updates for https://techcommunity.microsoft.com/t5/exchange-team-blog/changes-to-file-types-blocked-in-outlook-on-the-web/ba-p/874451.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43ca7906-9f33-2991-9da9-a626e5e45c46
* Version Independent ID: 5f388b3c-fb47-f7a0-e648-07cb3e59cf72
* Content: [Set-OwaMailbox

[2020-03-10 11:32] eemhong opened #5047 "New-TeamChannel missing MembershipType and Owner parameters"
Hello,

I'm trying to create private channels for newly created teams but i'm unable to use MembershipType and Owner parameters as PowerShell says those do not exist. Even Autocomplete is unable to find them

Eemeli

[2020-03-10 12:02] Louicha opened #5048 "Remove-TeamUser missing Role parameters"
The argument for the parameter "Role" cannot be checked. The "Member" argument does not belong to the ValidateSet attribute.
![Anmerkung 2020-03-10 130038](https://user-images.githubusercontent.com/22676238/76310616-67f3ba80-62cf-11ea-849d-53cceb09647a.png)

Module Version Version 1.0.4.

[2020-03-10 13:12] yogkumgit commented on #5043
@officedocsbot assign @yogkumgit

[2020-03-10 13:12] yogkumgit commented on #5044
@officedocsbot assign @yogkumgit

[2020-03-10 13:12] yogkumgit commented on #5045
@officedocsbot assign @yogkumgit

[2020-03-10 13:13] yogkumgit commented on #5046
@officedocsbot assign @yogkumgit

[2020-03-10 13:13] yogkumgit commented on #5047
@officedocsbot assign @yogkumgit

[2020-03-10 13:13] yogkumgit commented on #5048
@officedocsbot assign @yogkumgit

[2020-03-10 19:43] AdamJParker commented on #4983
How do we test the cmdlets? Running 1.0.21 from test gallery, getting same Access Denied error.

was told from Microsoft Rep "since the cmdlets are in Preview, tenants need to be whitelisted in order for them to work.  We requested your tenant be added at the end of Jan."

[2020-03-10 20:15] deanbot opened #5051 "Documentation Updates: Required PowerShell version & Microsoft.Online.SharePoint.PowerShell Installation"
Are these docs still being maintained?

A lot of confusion could be nipped in the bud with clear direction around:
1) Microsoft.Online.SharePoint.PowerShell installation (not included in docs) - see https://github.com/MicrosoftDocs/office-docs-powershell/issues/4240

2) PowerShell engine requirements for Microsoft.Online.SharePoint.PowerShell - In general PowerShell Core versions 6 and above pose

[2020-03-11 03:55] yogkumgit commented on #5051
@officedocsbot assign @yogkumgit

[2020-03-11 10:09] oppknox commented on #5043
This needs to happen stat! In this day and age its unacceptable.

[2020-03-11 11:06] pconnell99 opened #5052 "Search by name is not correct"
If I try to use the -Identity "string" syntax I get an error "Get-PnPTerm : Insufficient parameters" -  -Identity will ONLY take a GUID.  Not much use for finding a term by name.

Does this document need updating or is this a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4add3313-4fe9-7198-8c7e-4277ee15569e
* Ver

[2020-03-11 11:25] 3031539 opened #5053 "The New-Team command is Bugged for Private Channels"
After using a New-Team to create a new team site lots of problem has occured when using the TEAMS in Desktop mode.

- Unable to delete a private channel (But with the Android version of Teams i am able to delete with the channel)
- Unable to add users to a private channel, the user that I tried to add had a different Licensing of all other users wich was an E5, but all other users weres E3 and (Ab

[2020-03-11 11:52] pconnell99 opened #5054 "Includes fails using valid terms"
If I try to -Includes  TermSets, TermSets.Item I get

Get-PnPTermGroup : The query expression 'Param_0.TermSets.Item' is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b25a38ab-4933-ea82-a5bd-0a3d92b2548b
* Version Independent ID: b34eb964-c775-4e53-8f5f-a4dbd7cd777b
* Content: [Get-PnPTermGroup (sharepo

[2020-03-11 13:37] MartinHatch opened #5055 "ConvertTo-PnPClientSidePage :"
Using a custom Page Layout mapping file and getting the error below:
### **ConvertTo-PnPClientSidePage : An item with the same key has already been added.**

- The content type in the CLASSIC SITE is "PFP_News2" (as is the page layout name)
- The content type in the MODERN SITE is "PFP News Article"

If I change the "Name" attribute to something else, then the error goes away, but my mapping file

[2020-03-11 14:28] aidancopps opened #5056 "Access Denied when using New-CsGroupPolicyAssignment"
Attempts to use the *-CsGroupPolicyAssignment cmdlets are giving a Access Denied error even when using a Teams Service Administrator account. Are the cmdlets available for all tenants to use or is this still restricted to certain tenants in a private preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f8afd4c-7828

[2020-03-11 14:36] yogkumgit commented on #5052
@officedocsbot assign @yogkumgit

[2020-03-11 14:38] yogkumgit commented on #5053
@officedocsbot assign @yogkumgit

[2020-03-11 14:41] yogkumgit commented on #5054
@officedocsbot assign @yogkumgit

[2020-03-11 14:41] yogkumgit commented on #5055
@officedocsbot assign @yogkumgit

[2020-03-11 14:42] yogkumgit commented on #5056
@officedocsbot assign @yogkumgit

[2020-03-11 14:48] yogkumgit commented on #5046
@chrisda  Thank you very much for updating the documentation with PR. @Kazzan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-11 14:48] #5046 closed

[2020-03-11 15:33] JTApps-1 opened #5057 "The -Purge Description has incorrect hyperlink"
The hyperlink has incorrect http prefix. the prefix is hhttp instead of http resulting in a dead link.

Here is the hyperlink url:

hhttps://docs.microsoft.com/microsoft-365/compliance/search-for-and-delete-messages-in-your-organization

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9e154eb-3e1c-b4a5-418e-5be55b581255

[2020-03-11 16:20] yogkumgit commented on #5057
@officedocsbot assign @yogkumgit

[2020-03-11 16:28] chrisda commented on #5043
@stephenc01, @oppknox , the EXO V2 module is still in Preview. Please direct questions to exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

Specifically, the question you are asking is about features/capabilities, not documentation, which is even more reason to seek answers from the direct support channel.

Thanks for the feedback.

Clo

[2020-03-11 16:35] stephenc01 commented on #5043
Feedback sent. Also, each product group has their own channels so it’s confusing to find the right one. Last there is still a disconnect as each group writes their own modules that drift from other groups.

[2020-03-11 16:36] #5043 closed

[2020-03-11 16:55] chrisda commented on #5057
@JTApps-1, fixed. In the future, you, too can fix topic problems like this directly without opening a GitHub Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

Closing.

[2020-03-11 16:55] #5057 closed

[2020-03-11 17:14] dariomws commented on #5045
@YvonneArnoldus Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share th

[2020-03-11 17:16] dariomws commented on #5053
@3031539 Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the outco

[2020-03-11 17:42] dariomws commented on #5032
Hi @mtudor, thank you for your feedback.

Could you kindly elaborate further about how you test it and why you can be sure about it?

[2020-03-11 17:55] dariomws commented on #5028
Hi @Hoegimator, thank you for your feedback.

This is not available. For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/
There, your suggestion will reach the product team.

[2020-03-11 19:38] poortom1004 commented on #4684
Well, PS7 is now released to production as of last week but the error still exists.  I hate to say it but @chhinton did warn you guys.

[2020-03-11 19:44] chhinton commented on #4684
@poortom1004, I was optimistic that this group would be communication with the group that actually supports connect-sposervice.

[2020-03-11 19:46] dariomws commented on #5048
Hi @Louicha,

To remove a member you don't need to use the -Role parameter. Use it only to remove Owners. Thanks!

[2020-03-11 19:56] get-itips commented on #4983
Hello @AdamJParker please proceed further with your Microsoft rep about the whitelisting of your tenant, as here are limited to documentation issues, they will be able to help you. Thank you

[2020-03-11 20:08] get-itips commented on #4684
Hello @poortom1004 & @chhinton here, we are limited to documentation changes, we try to help everyone, said that, you can see here the official Ps 7 [compatibility status with other modules](https://aka.ms/PSModuleCompat) you can see there that SPO isn't still there.

You can also try the new parameter -UseWindowsPowerShell

[2020-03-11 20:34] Gideon122 opened #5061 "This command will be disabled on April 15, 2020"
Just letting everyone know that, according to https://techcommunity.microsoft.com/t5/exchange-team-blog/disabling-new-moverequest-for-local-mailbox-moves/ba-p/1214776#, this command will be disabled for local moves within Exchange Online.  It will only be available to move mailboxes between Exchange on-premises and Exchange Online.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-03-11 20:37] poortom1004 commented on #4684
The link on compatibility you provided only relates to modules written for Windows, managing Windows, and not anything else.  Just wanted to let you know this.

[2020-03-11 21:16] dariomws commented on #5056
Hi @aidancopps, thank you for your feedback.

@tomkau could you kindly help with this issue? I tested these cmdlets and also get "Access denied" using 1.0.21 module.

[2020-03-11 21:21] dariomws commented on #5056
Same/similar as/to:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/4981
https://github.com/MicrosoftDocs/office-docs-powershell/issues/4983

[2020-03-11 21:24] dariomws commented on #5048
To add more information, please see:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/4465
Member value for -Role parameter will be available in a future release soon.

[2020-03-11 21:31] dariomws commented on #5047
Hi @eemhong, thank you for your feedback.

Please check:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/4414

[2020-03-11 22:03] CoasterKaty opened #5063 "Rate Limiting for New-Team?"
I'm getting a 429 Too Many Requests error if I try to create more than one team every couple of minutes using New-Team. Is there any rate limiting in place (there is nothing about this in any of the docs)?
I was hoping to automate management of some teams but if I can't run New-Team reliably in a loop it's not much good for automation tasks :(

[2020-03-12 04:46] yogkumgit commented on #5061
@officedocsbot assign @yogkumgit

[2020-03-12 04:46] yogkumgit commented on #5063
@officedocsbot assign @yogkumgit

[2020-03-12 11:11] yogkumgit commented on #5045
@YvonneArnoldus  If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks.

[2020-03-12 11:11] #5045 closed

[2020-03-12 11:18] yogkumgit commented on #5053
@3031539  If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks.

[2020-03-12 11:19] #5053 closed

[2020-03-12 11:23] yogkumgit commented on #5028
@Hoegimator  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2020-03-12 11:23] #5028 closed

[2020-03-12 11:30] yogkumgit commented on #5048
@dariomws  Thank you very much for the contribution and sharing this explanation. @Louicha
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-12 11:30] #5048 closed

[2020-03-12 11:41] yogkumgit commented on #5047
@dariomws  Thank you very much for the contribution and sharing this explanation. @eemhong
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-12 11:41] #5047 closed

[2020-03-12 11:54] yogkumgit commented on #5044
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @dannydpa Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-12 11:54] #5044 closed

[2020-03-12 13:03] osbistonium opened #5066 "Possible spelling error in Example 5?"
Shouldn't the second line read:
$callableEntity = New-CsAutoAttendantCallableEntity -Identity $callableEntityGroup -Type SharedVoicemail -EnableTranscription
The identity variable should be $callableEntityGroup and not $callableEntityId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b10b3afe-6425-f0b7-3eb0-a17c6a9d6fef

[2020-03-12 13:07] yogkumgit commented on #5066
@officedocsbot assign @yogkumgit

[2020-03-12 13:19] SharePointBlackBelt opened #5067 "Set-SPProjectPermissionMode : A parameter cannot be found that matches parameter name 'AdministratorAccount'."
Examples show using -AdministratorAccount, but this is not a valid parameter, confirmed by testing the command with this parameter on SharePoint 2016 farm with Project Server Service App. Please correct the document by removing -AdministratorAccount parameter from the examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-12 13:58] HeinzLm opened #5068 "MaxReceiveSize not working in Exchange Online"
Hello,

Get-Mailbox -Filter { MaxReceiveSize -gt 100 } or
Get-Mailbox -Filter "MaxReceiveSize -gt 100" or
Get-Mailbox -Filter "MaxReceiveSize -gt '100'"
work on premise, but not in Exchange Online.

Wrong syntax or limitation? Would these limitations be documented anywhere?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-03-12 16:29] kristianjaeger opened #5069 "How to install module that has Test-ImapConnectivity for Exchange 2010 on premise?"
Where can one find the source or install this module?
https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/exchange/exchange-ps/exchange/client-access/Test-ImapConnectivity.md

It's not installed by default in PowerShell in 5.1.17763.1007

Test-ImapConnectivity : The term 'Test-ImapConnectivity' is not recognized as the name of a cmdlet, function, script
file, or operable program. C

[2020-03-12 16:39] yogkumgit commented on #5067
@officedocsbot assign @yogkumgit

[2020-03-12 16:39] yogkumgit commented on #5068
@officedocsbot assign @yogkumgit

[2020-03-12 16:39] yogkumgit commented on #5069
@officedocsbot assign @yogkumgit

[2020-03-12 18:10] get-itips commented on #4684
Hello Thomas.
For a module to be compatible with PowerShell 7, the product group of that module must make it compatible to Ps 7 not the other way around. Said that, that is the list of current compatible modules.

[2020-03-12 18:16] mitchbh commented on #5063
I have the exact same issue. And i do not create huge amout of teams. Maybe 10-20 a hour.

New-Team : Error occurred while executing
 Code: TooManyRequests
 Message: Too Many Requests
 InnerError

[2020-03-12 18:18] VonRoch commented on #5056
I am having the same issue as @dariomws and attempt at using the Get-CsGroupPolicyAssignment gives me an Access Denied error.

[2020-03-12 18:28] CoasterKaty commented on #5063
I guess after some thought my question is:
Is this by design? In which case, bad as undocumented...
Or is it temporary because the entire world is trying to set up teams for remote working due to Coronavirus, causing huge load on the servers?

[2020-03-12 18:34] AspenForester opened #5070 "Avoid using aliases"
Example 4 would be better if it did not use aliases
`Get-UnifiedGroup | where-object { -not ($_.ManagedBy) }`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d063d71b-c1d5-e995-9e0d-a3daf646c712
* Version Independent ID: 7cff679f-a994-e371-a227-b8c5635f1aa2
* Content: [Get-UnifiedGroup (exchange)](https://docs.microsoft

[2020-03-12 18:37] AspenForester commented on #5051
Regarding the second point, PowerShell 7 has mitigation: `Import-Module Microsoft.Online.SharePoint.PowerShell -UseWindowsPowerShell`

But I agree that it would be helpful to point this out.

[2020-03-12 18:41] AspenForester commented on #4684
Import the module explicitly and use the `-UseWindowsPowerShell` parameter.  I'm seeing success with it.

[2020-03-12 19:02] chhinton commented on #4684
@AspenForester That may work on Windows OS but not on the non-Windows OSs that Powershell 7 supports.

[2020-03-12 19:14] get-itips commented on #4684
Hello @chhinton

This is the official announcement where you can be sure that they are working the compatibility of other modules.

_Source_ https://devblogs.microsoft.com/powershell/announcing-powershell-7-0/

Once they become compatible we will be able to impact any documentation. As I do not recognize any documentation change to impact right now, we will proceed closing this for now. @yogkumgit

[2020-03-12 22:44] get-itips commented on #5021
Hello @darryn-bryant how are you? 👍
As the documentation says,
[Get-TeamChannelUser](https://docs.microsoft.com/en-us/powershell/module/teams/get-teamchanneluser?view=teams-ps)  is still part of the beta version of the module, so it is subject to changes and adjustments.
Thank you

[2020-03-12 22:47] get-itips commented on #5024
Please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/4937 to check if you recognize the same scenario. Thanks

[2020-03-12 23:21] get-itips commented on #5018
Hello @Petri-X
Tried that on my lab, where I installed the module using the nuget package and I could not reproduce.
So, can you please open a support ticket on your tenant to confirm if you have an issue specific to it? Thanks

[2020-03-13 03:22] yogkumgit commented on #5070
@officedocsbot assign @yogkumgit

[2020-03-13 05:46] kpinel opened #5072 "Set-SPOUser documentation out of date"
Recently updated the module and there appears to be a new switch
-UpdateUserTypeFromAzureAD

Is there a way to remove an admin after we have completed a support ticket? We are starting to get complaints about still having owner access to various OneDrives long after a ticket has been closed

[2020-03-13 06:09] mitchbh commented on #5063
I hope this will be limited to a subscription/user

[2020-03-13 06:59] Petri-X commented on #5018
@get-itips do you know if I could get support for these versions? As this is kind of test version. I'm worried, that I might end into deep tunnel without hope to get out :)

When you say "_I installed the module using the nuget package_ " do you believe there could be differences between manual installation, like I did, and nuget installation, like you did.

Any thoughts about why Ctrl+c did not i

[2020-03-13 07:01] darryn-bryant commented on #5021
Hi @get-itips
Understand it is in beta and I don't expect it to work perfectly.
I just wanted to make sure that this was logged so it can be addressed.

[2020-03-13 10:50] yogkumgit commented on #5072
@officedocsbot assign @yogkumgit

[2020-03-13 11:19] #4684 closed

[2020-03-13 11:25] yogkumgit commented on #5021
@get-itips  Thank you very much for the contribution and sharing this explanation. @darryn-bryant
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-13 11:25] #5021 closed

[2020-03-13 11:30] yogkumgit commented on #5024
@get-itips  Thank you very much for the reference. @acrichlow Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-13 11:30] #5024 closed

[2020-03-13 11:35] get-itips commented on #5018
What I did was the same as you on this other issue https://github.com/MicrosoftDocs/office-docs-powershell/issues/5000 isn't that what you did?

[2020-03-13 11:40] yogkumgit commented on #5032
@dariomws  Thank you very much for the contribution and digging deep into it.  @mtudor  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this document

[2020-03-13 11:40] #5032 closed

[2020-03-13 12:43] Petri-X commented on #5018
Okay, then this is strange. The last differences between us is most likely the proxy, as I'm connecting through the proxy.
But,  btw, How many Teams you do have (I  have +17k)? I have seen elsewhere as well, that Teams shell have had some strange limitations. So could this be the difference?

And there is no logging option available?

[2020-03-13 12:53] JeremyTBradshaw commented on #4788
Hi @dariomws @chrisda , I have (or the company that I'm doing work for does) the same issue where I can't successfully use -AddTeamsChannelLocationException, because the SC&C sees my mailboxes as MailUsers.  I assume SC&C is using a synced directory for this stuff, which surely makes sense / is the design, but I am not sure how this issue has been closed since the issue is still there.

You simply

[2020-03-14 18:34] get-itips commented on #5018
Hello @Petri-X
I do not have that number of teams in my demo tenant, besides that, as here we are limited to address documentation issues, please open a service ticket so they can help you further.
I will try to ask the PG if they know if the cmdlet has that kind of limit.

Thanks

[2020-03-14 18:40] get-itips commented on #5022
Hello @Petri-X
While I set up my lab for this, what happens if you run

Thanks

[2020-03-14 18:54] get-itips commented on #5035
Hello @sumitrampal80 👍
How are you?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-14 18:55] get-itips commented on #5033
Hello @rva3 👍

How are you?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-14 19:14] get-itips commented on #5034
Hello @MarkWagner Mark 👍  how are you?

I am ruling out that you already ran Update-Help so, could you please share a screenshot of what do you see? As I could not repro.

Thanks

[2020-03-14 19:33] get-itips commented on #5018
also @Petri-X are you running the latest stable version 1.0.5?

[2020-03-14 19:47] Petri-X commented on #5018
Obviously not  :)
I thought to run the latest one 1.0.20, but just realized that 1.0.21 has been released! :D

In my mind 1.0.5 does not support private channels: [Teams Updates PowerShell Module for Private Channels](https://office365itpros.com/2019/11/19/teams-updates-powershell-module-private-channels/)

But as the test gallery points to here as a site, I was expecting to report issues from tha

[2020-03-14 19:49] tameemansari commented on #5063
@CoasterKaty API throttling limits are at the tenant level for almost all APIs under the graph. Just executing New-Team shouldn't report a HTTP 429 error. I suspect that there are other API calls which are occurring at the point against this tenant whereby graph is throttling APIs.

Can you share details of what you are doing prior or on the side while executing this new-Team cmdlet? With the v1.0

[2020-03-14 20:28] CoasterKaty commented on #5063
I wasn’t running anything else and just New-Team in a loop (attempting to create 3 teams from a CSV). Using 0.9.6 because the Template parameter hasn’t made it into 1.0.x yet. Also manually running New-Team twice within 10 seconds caused the second request to fail with Too Many Requests.

There was probably 200 people using Teams via the web interface on the same IP and tenant while I was trying t

[2020-03-14 23:00] get-itips commented on #5018
I forgot that you are trying to use this on private channels. If you are using the beta module I have to say that, and you probably know, they can fail, as that is the nature of a beta release.

[2020-03-15 04:07] anwarmahmood1 opened #5073 "anyway to be more specific with "-member"? maybe a hasthable with keys matching identifiers?"
On its own, "-Member" will try to find a match.  Mostly OK.

But, sometimes, there are multiple, [ambiguous] recipients that match the supplied "member" parameter, so this fails.  I see this with Office 365 group names with display names incorporate an email address or match the "alias" for a mailbox.  PowerShell doesn't know which one you mean, so the operation fails.

I *can* address this by usi

[2020-03-15 07:57] sudharsank opened #5074 "Set-PnPUserProfileProperty with Application Permission in Azure Function"
When using **Set-PnPUserProfileProperty** in Azure Function with PowerShell and the permissions has been defined using the **Application Permission**. Once connected to the admin site url using clientid, tenant and cert and try to update the UserProfile Property, it throws the below error

at run.ps1: line 50
+ Set-PnPUserProfileProperty
+ __________________________
    + CategoryInfo          : W

[2020-03-15 13:42] get-itips commented on #5037
Hello @swatt6400
I will propose thru a PR adding a working example to force without confirmation.
Thanks

[2020-03-15 14:47] Bart-Hoofd opened #5076 "Unable to assign custom policy"
I tried using this to assign a custom TeamsMeetingPolicy policy, but I keep receiving the error "New-CsBatchPolicyAssignmentOperation : Provided policy name is not valid". Does it not support custom policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d149ca60-bfb7-5077-2643-1a08ad926cca
* Version Independent ID: 2

[2020-03-15 19:44] tseward commented on #4611
@andikrueger from my research, the *-SPOSiteUserInvitations appear to not function, looking into it more.

[2020-03-15 19:53] tseward commented on #4624
@Gideon122 the Required is present in each Parameter description but is just not showing up on the docs.msft.com site itself. I've asked the team that handles the parser to look into this issue. If you view the markdown in GitHub, you'll see the Required parameter is present.

[2020-03-15 20:00] tseward commented on #5072
@yogkumgit looks like `-UpdateUserTypeFromAzureAD` switches from Guest to Member or visa versa. An Azure B2B user by default is added as a Guest, but if they need more functionality, in Azure AD you can switch them to be a Member.

See https://docs.microsoft.com/en-us/azure/active-directory/b2b/user-properties#can-azure-ad-b2b-users-be-added-as-members-instead-of-guests for more details.

[2020-03-15 20:03] tseward commented on #5067
@yogkumgit in 2016/2019 (do not have 2013 to test with), the parameter `-AdministratorAccount contoso\John.Woods` does not exist, it can be removed from the example.

[2020-03-15 23:18] MarwaMS92 opened #5079 "Can't specifiy long DisplayName while using UnifiedGroup command"
Using the command mentioned here:  https://docs.microsoft.com/en-us/powershell/module/exchange/users-and-groups/new-unifiedgroup?view=exchange-ps
You can't add DisplayName with more than 64 chars however it is mentioned that the limit of chars for the DisplayName is 256 chars. the command is also not working even if the Alias attribute is provided (limit of Alias is up to 64 chars).

The only work

[2020-03-16 05:54] Wallace4444 opened #5080 "Action - DynamicDelivery"
The document seems to be missing DynamicDelivery option under the Actions section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e3c5b08-b828-b680-0aaf-56b6356952a2
* Version Independent ID: 1c76531f-7285-84cc-ae3e-a3c61264a51b
* Content: [Set-SafeAttachmentPolicy (exchange)](https://docs.microsoft.com/en-us/powershe

[2020-03-16 08:09] yogkumgit commented on #5073
@officedocsbot assign @yogkumgit

[2020-03-16 08:09] yogkumgit commented on #5074
@officedocsbot assign @yogkumgit

[2020-03-16 08:09] yogkumgit commented on #5076
@officedocsbot assign @yogkumgit

[2020-03-16 08:10] yogkumgit commented on #5079
@officedocsbot assign @yogkumgit

[2020-03-16 08:10] yogkumgit commented on #5080
@officedocsbot assign @yogkumgit

[2020-03-16 08:25] yogkumgit commented on #5035
@get-itips  Thank you very much for the contribution and sharing this explanation. @sumitrampal80 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-16 08:28] yogkumgit commented on #5033
@get-itips  Thank you very much for the contribution and sharing this explanation. @rva3
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-16 08:28] #5033 closed

[2020-03-16 08:33] yogkumgit commented on #5037
@kenwith Please merge this PR #5075 , Thanks

[2020-03-16 08:42] yogkumgit commented on #5072
@tseward  Thank you very much for the contribution and sharing this explanation. @kpinel
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-16 08:42] #5072 closed

[2020-03-16 10:24] npigit opened #5081 "Priority"
Hello,

I received the bellow message when I try to use the "Priority" switch

A parameter cannot be found that matches parameter name 'Priority'.
    + CategoryInfo          : InvalidArgument: (:) [Set-MoveRequest], ParameterBindingException
    + FullyQualifiedErrorId : NamedParameterNotFound,Set-MoveRequest
    + PSComputerName        : outlook.office365.com

The command that I used is:
Set-Mov

[2020-03-16 11:09] yogkumgit commented on #5081
@officedocsbot assign @yogkumgit

[2020-03-16 12:56] dariomws commented on #5076
Hi @Bart-Hoofd, thank you for your feedback.

It's working on my lab:
![image](https://user-images.githubusercontent.com/33589238/76760079-c7d4e000-676b-11ea-85dc-d59634025bab.png)
![image](https://user-images.githubusercontent.com/33589238/76760107-cf948480-676b-11ea-8473-22aacb9b7839.png)

I am using module 1.0.5. Please check your version. They were added in this, they were previously in the pr

[2020-03-16 15:09] kenwith commented on #5037
Merged.

[2020-03-16 15:09] #5037 closed

[2020-03-16 15:17] ceejey01 opened #5082 "swapsite operation not yet supported"
When attempting to swap root site, I get the error: swapsite operation not yet supported. Please assist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeb8f8e8-1242-363c-be77-038142b4efb9
* Version Independent ID: 54a60006-3d61-4bb9-a040-60fe77ef9f85
* Content: [Invoke-SPOSiteSwap (sharepoint-online)](https://docs.micr

[2020-03-16 15:45] get-itips commented on #5051
Hello @deanbot Dean, 👍

How are you?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-16 15:50] tseward commented on #5082
You'll need to wait until your tenant is enabled for this feature.

[2020-03-16 15:50] get-itips commented on #5054
Hello @pconnell99 Paul , how are you? 👍
How are you?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-16 15:51] get-itips commented on #5055
Hello @MartinHatch Martin, how are you ? 👍
How are you?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-16 15:53] get-itips commented on #5074
Hello @sudharsank 👍

How are you?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-16 16:07] get-itips commented on #5051
@deanbot

Dean, you opened the issue on this article

https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/sharepoint/docs-conceptual/sharepoint-pnp/sharepoint-pnp-cmdlets.md

which is a PnP article.

What is exactly the article you want to open the issue on?

[2020-03-16 16:34] ceejey01 commented on #5082
Thank you.

[2020-03-16 17:19] Petri-X commented on #5022
The command:
**Get-CsCallQueue -WarningAction silentlycontinue  | ft  name**

Returns:
[code]

**Get-CsCallQueue -WarningAction silentlycontinue -Skip 2 | ft  name**

Returns:
[code]

Still maximum 100.

Here is the command to create 200 queues:
**101..300 | % { New-CsCallQueue -Name "Testi$($_)" -UseDefaultMusicOnHold $true } | ft name**
That is working with trial tenants.

[2020-03-16 18:58] get-itips commented on #5051
@deanbot
Dean,
The documentation for PnP cmdlets is directly generated from the source code of PnP cmdlets, so yes, you have to create an issue where I pointed, there, a member of the PnP community will, if needed create a pull request against the correct file to update it.

If, in the other hand, you want to create an issue for SharePoint Online PowerShell or SharePoint Server  Documentation you

[2020-03-16 19:13] deanbot opened #5084 "Missing installation instructions for SP Online Cmdlets"
Add installation instructions for Microsoft.Online.SharePoint.PowerShell. The current instructions note using SharePoint Online Management Shell which is no longer recommended. The preferred method is to use PowerShellGet, i.e. `Install-Module -Name Microsoft.Online.SharePoint.PowerShell`.

I.e. the update could mimic the structure of the installation section on the page on SP PnP PowerShell:  htt

[2020-03-16 19:24] #5051 closed

[2020-03-16 19:49] get-itips commented on #5022
@Petri-X
Ok thanks for that.
I could verify that, that is by design of the cmdlet, and the same is for many other -Cs cmdlets. I will propose thru a PR the addition of some information to notify the user about this.
Thank you

[2020-03-16 20:35] tseward commented on #5084
It is linked on the page that referenced at https://docs.microsoft.com/en-us/PowerShell/sharepoint/sharepoint-online/introduction-sharepoint-online-management-shell?view=sharepoint-ps#how-do-i-get-permissions-and-set-up-the-environment - https://docs.microsoft.com/en-us/PowerShell/sharepoint/sharepoint-online/connect-sharepoint-online?view=sharepoint-ps

[2020-03-16 22:50] sumitrampal80 commented on #5035
Thanks @get-itips and @yogkumgit for your help. I will post this issue on the provided community link.

Cheers!

[2020-03-16 22:57] #5035 closed

[2020-03-16 23:21] Petri-X commented on #5018
@get-itips

Just testing with my trial tenant, and I recommend to you also to really create several thousands of Teams. I run several parallel CMDLets like following;
**10001..11000 |  % { New-Team -DisplayName "TestTeam-$($_)"  -ErrorAction SilentlyContinue ; sleep 15 } | ft DisplayName**
And I manage to get around 7000+ Teams.

Currently I'm testing with official version 1.0.5. And it looks that

[2020-03-17 06:42] sudharsank commented on #5074
Created the issue on the PnP-PowerShell repo below is the link to that issue.
https://github.com/SharePoint/PnP-PowerShell/issues/2582
So closing this because of duplicate.

[2020-03-17 06:42] #5074 closed

[2020-03-17 07:41] Petri-X commented on #5022
No, it is not correct and default behavior.

The documentation for [Get-CsCallQueue](https://docs.microsoft.com/en-us/powershell/module/skype/get-cscallqueue?view=skype-ps) says:

[code]
And having 100 as a default would be very strange when none of other CMDLets have it.

[2020-03-17 08:27] duracellkonijn22 opened #5089 "GUI problem in combination with Powershell?"
When adding new Safe attachment policies or safe links policies, the policy isn't showing in the GUI.
When creating policy from GUI, it show up into the get-cmdlets from Powershell

[2020-03-17 09:57] mitchbh commented on #5063
anything new?

[2020-03-17 11:20] yogkumgit commented on #5082
@officedocsbot assign @yogkumgit

[2020-03-17 11:21] yogkumgit commented on #5084
@officedocsbot assign @yogkumgit

[2020-03-17 11:21] yogkumgit commented on #5089
@officedocsbot assign @yogkumgit

[2020-03-17 11:23] dariomws commented on #5081
Hi @npigit, thank you for your feedback.

This parameter is available only in on-premises Exchange.

[2020-03-17 11:33] yogkumgit commented on #5076
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @Bart-Hoofd Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-17 11:42] yogkumgit commented on #5054
@get-itips  Thank you very much for the contribution and sharing this explanation. @pconnell99
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-17 11:42] #5054 closed

[2020-03-17 11:43] yogkumgit commented on #5055
@get-itips  Thank you very much for the contribution and sharing this explanation. @MartinHatch
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-17 11:43] #5055 closed

[2020-03-17 11:44] Bart-Hoofd commented on #5076
Documentation is no reflecting any update, and issue still persist? I can also not determine any reason for closing this ticket?

[2020-03-17 11:53] dariomws commented on #5076
@Bart-Hoofd Thank you very much for posting this issue. Considering the nature of the issue, it is advised that please open a service ticket in your tenant and follow with them for the resolution. If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products
We will be very happy if you can share the ou

[2020-03-17 11:55] yogkumgit commented on #5081
@dariomws  Thank you very much for the contribution and sharing this explanation. @npigit
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-17 12:34] dariomws commented on #5073
Hi @anwarmahmood1, thank you for your feedback.

Docs feedback is available to help us to improve documentation. In this case, I think there is no need to add this information to the article. The description says "You can use any value that uniquely identifies the recipient".
Maybe you can try with [Get-EXOMailbox](https://docs.microsoft.com/powershell/module/exchange/powershell-v2-module/get-exom

[2020-03-17 12:50] ceejey01 commented on #5082
Are there criteria for enabling this for tenants? Is there any time frame for this? Is there a Microsoft documentation to back this up so that I can show this to my superiors?

[2020-03-17 12:58] dariomws commented on #5069
Hi @kristianjaeger, thank you for your feedback.

It's installed by default on Exchange Management Shell, you don't need to install it.

[2020-03-17 13:36] dariomws commented on #5068
Hi @HeinzLm, thank you for your feedback.

It's documented in the article:

You can only use the Filter parameter to look for the value Unlimited for this property. For example, Get-Mailbox -Filter "MaxReceiveSize -eq 'Unlimited'" or Get-Mailbox -Filter "MaxReceiveSize -ne 'Unlimited'".
You can't use the Filter parameter to look for size values of this property. Instead, use this syntax: Get-Mailb

[2020-03-17 13:40] dariomws commented on #5061
Hi @Gideon122, thank you for your feedback.

I understand that it's not a very well know or popular feature so I think there is no need to add this information.

@chrisda what do you think?

[2020-03-17 13:44] dariomws commented on #5063
Hi @CoasterKaty and @mitchbh, thank you for your feedback.

Have you tried with version 1.0.5 as @tameemansari said?

Also, I think it's a good idea to open a support ticket as he said there is no limit for this specific cmdlet/graph API, and it could be an issue with your tenant or some tenants.

[2020-03-17 13:48] kristianjaeger commented on #5069
So this cannot be done from the client side? Thanks. I might need my Exchange counter part to do this then. Thanks.

[2020-03-17 14:07] dariomws commented on #5069
If you want to run it from a workstation, for example, you should install Exchange Management Tools there.

[2020-03-17 14:28] tseward commented on #5082
It is rolling out currently:

https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=SharePoint&searchterms=57309

[2020-03-17 14:33] get-itips commented on #5018
@Petri-X I will try to pass your feedback to the Product Group.

[2020-03-17 14:39] CoasterKaty commented on #5063
No, I can’t use anything newer than 0.9.6 until the Template parameter makes it into 1.0.x 😟

[2020-03-17 14:41] kristianjaeger commented on #5069
Okay, thank you.  Trying to validate IMAP connectivity from a client and that would be helpful. Cheers.

[2020-03-17 15:08] dariomws commented on #5063
Ok, please open a support ticket, I think it the best option here.

If you wish to know how to open the service ticket, please follow this link: https://docs.microsoft.com/office365/admin/contact-support-for-business-products

[2020-03-17 15:13] get-itips commented on #5022
@Petri-X
The default, when not specifying Skip, is 100 results. I am not saying that the default value of Skip parameter is 100.

These cmdlets also have the same behavior
_Get-CsOnlineDialInConferencingUserInfo
Get-CsOnlineVoiceUser
Get-CsOnlineDialInConferencingUserInfo_

[2020-03-17 15:24] Petri-X commented on #5022
So we are reading this statement differently:
![image](https://user-images.githubusercontent.com/43988151/76871417-b5de6480-6873-11ea-85ba-90b23c8e8704.png)

Also Get-CsOnlineVoiceUse says also:

Or at least I cannot see "100" on these :)

[2020-03-17 15:54] get-itips commented on #5022
What happens if you specify -Skip without a number?

[2020-03-17 15:59] MarkWagner commented on #5034
update-help officewebapps
update-help : Failed to update Help for the module(s) :
'OfficeWebApps'
The Update-Help command failed because the **specified module does not support updatable help**. Use Get-Help -Online or
look online for help for the commands in this module.
At line:1 char:1
+ update-help officewebapps
+ ~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (HelpInfoU

[2020-03-17 16:02] get-itips commented on #5034
@MarkWagner can you share a screenshot of what you see?

[2020-03-17 16:06] MarkWagner commented on #5034
Below is a sample of the output when running the following command.  As you can see, the parameter names are all missing.  Only **- <>** exists where the parameter name should be.

PARAMETERS
    **- <>**
        Enables Customer Experience Improvement Program (CEIP) reporting on all servers in the Office Online Server
        farm.
        Required?
        Position?                    Named

[2020-03-17 16:36] ceejey01 commented on #5082
@tseward I really appreciate your assistance

[2020-03-17 16:40] ma7mgte commented on #5082
I have the latest SPO Management Shell and I do not see the Invoke-SPOSiteSwap command listed.  Am I missing something?

[2020-03-17 16:44] HeinzLm commented on #5068
Hi @dariomws,

funny that the table width is more or less exactly the first four columns including "Value". Never saw the "Comments" column. Even if I have more white space left and right than content.
I would advise on changing that.

Thanks for the hint and info!

[2020-03-17 16:51] tseward commented on #5082
@ma7mgte can you please output the version of the module you have installed? `Get-Module` will show it.

[2020-03-17 17:16] get-itips commented on #5034
Ok, I see now, that seems like a malfunction of the Get-Help cmdlet or a broken help file, here we can only make corrections to online articles.
@kenwith can we pass this feedback to Product Group?

[2020-03-17 17:29] kenwith commented on #5034
Yes, the one source of truth is the GitHub file and the Get-Help pulls from an XML file that is part of the code.. and right now it is a manual effort that the product team builds the XML file and checks it into code and pushes it out to the services when they push new features.. goal is to get this automated but for now it is manual. I touched on the process a bit in the last paragraph here: http

[2020-03-17 17:33] tameemansari commented on #5018
@Petri-X ... Thanks for the feedback. I believe you are reporting the perf involved in Get-Teams. I am explicitly calling out the following improvements you are suggesting...
- Support cmdlet termination (CTRL+C behavior)
- Reduce network payload by supporting relevant parameters similar to EXO propertysets and such
- Improve verbose and debug support for Get-Team
- Provide support for reporting p

[2020-03-17 18:05] Petri-X commented on #5022
@get-itips
Would you like be so nice and share what did you expected to happen?

[code]

You still not believe this is a pure bug in module?

[2020-03-17 18:18] get-itips commented on #5022
@Petri-X
Of Course !
If you run Get-CsCallQueue without parameters, that is what is called "default behaviour" and the default, running that without parameters, is outputting 100 results, do you agree?
So, I added that behavior to the article thru a Pull Request. I think this was intended and designed as a feature, as there is a -Skip and -First parameters, and we can also find the same on other c

[2020-03-17 18:26] mjarmstrong opened #5096 "Apply-PnPTenantTemplate does not work with MFA enabled"
Apply-PnPTenantTemplate does not work when MFA is enabled It returns "Apply-PnPTenantTemplate : The remote server returned an error: (403) Forbidden."

What I observed so far:

It does not work when I'm using -useWebLogin
It does not work when I'm using Azure AD Application Permissions (https://github.com/SharePoint/PnP-PowerShell/tree/master/Samples/SharePoint.ConnectUsingAppPermissions)
It does

[2020-03-17 19:12] Petri-X commented on #5022
@get-itips
No, I do not agree, sorry :)

What in your mind means "Default value: 0" on the documentation? For me that means, if I do not define the value & parameter then CMDLet is using the default value, in this case "-skip 0".

You could also think about, how many queues you are expecting to get when you run:
`Get-CsCallQueue -WarningAction silentlycontinue -Skip 0 | ft name`

Have you tested t

[2020-03-17 19:50] get-itips commented on #5022
@Petri-X Now we understand each other, I will propose changing the default value for the Skip parameter and together with the other already merged pr, I consider this complete.
Thanks for your feedback.

[2020-03-17 23:26] tameemansari commented on #5063
@CoasterKaty can you share your script if thats possible. I recall we making appropriate changes to ensure template support is handled the right way in the BETA module. I can take a look and advise accordingly.

[2020-03-18 01:43] Padavid commented on #5056
I am also have the same issue with Get and New.

[2020-03-18 05:11] VishnuMohan259 opened #5102 "Get-PnPTenantTemplate"
Hi , Tried to get tenant template of the site but getting different errors
1. Tried to connect with hub site and executed the code ,Got 403 error.
2. After that Connect to Tenant site and executed the code ,got some other error please find the attachment

![TenantTemplate](https://user-images.githubusercontent.com/53042453/76954285-1b932500-6936-11ea-965c-9732f328ae85.png)

How can i get template

[2020-03-18 05:40] yogkumgit commented on #5096
@officedocsbot assign @yogkumgit

[2020-03-18 05:41] yogkumgit commented on #5102
@officedocsbot assign @yogkumgit

[2020-03-18 06:03] yogkumgit commented on #5069
@dariomws  Thank you very much for the contribution and sharing this explanation. @kristianjaeger Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-18 06:03] #5069 closed

[2020-03-18 06:06] yogkumgit commented on #5068
@dariomws  Thank you very much for the contribution and sharing this explanation. @HeinzLm
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-18 06:06] #5068 closed

[2020-03-18 06:11] yogkumgit commented on #5061
@chrisda please give your opinion. Thanks

[2020-03-18 06:14] yogkumgit commented on #5063
@dariomws  Thank you very much for the contribution and sharing this explanation. @CoasterKaty
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation updat

[2020-03-18 06:14] #5063 closed

[2020-03-18 06:31] yogkumgit commented on #5022
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Petri-X Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-18 06:31] #5022 closed

[2020-03-18 08:27] tdalon opened #5103 "Set-PnPFileCheckedOut does not work?"
![image](https://user-images.githubusercontent.com/6458444/76940395-73ac3600-68fa-11ea-970e-f0b1be17dacc.png)
It seems the command [Set-PnPFileCheckedOut](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/set-pnpfilecheckedout?view=sharepoint-ps) does not work for me. I can run it but the file is not checked-out properly (checked in the web browser)
What am I doing wrong?

[2020-03-18 09:30] Petri-X commented on #5018
@tameemansari
Those two first one the most critical as get-team gets useless when amount of teams reach few thousands.

About the logging, I already mentioned:

So that is kind of alternative and available solution for logging.

And about the network payload, that is something you should start consider more widely on O365. Why you should by default sent all attributes back to PowerShell?  As that

[2020-03-18 11:40] JeremyTBradshaw opened #5104 "Broken link in -AdminEnabled parameter description"
-AdminEnabled
The AdminEnabled parameter specifies that the EAC isn't able to be accessed through the Internet. For more information, see [Turn off access to the Exchange admin center](https://docs.microsoft.com/Exchange/architecture/client-access/disable-exchange-admin-center-acces). This parameter accepts $true or $false.

That link is missing the last character ('s'), and leads to a  page not f

[2020-03-18 12:27] gcoad opened #5105 "TEAMS - Powershell Script - create multiple private channels"
Hi,

I'm trying to find a script to create multiple private channels (teams already created) with specific owners and users imported from a CSV.

Any ideas ?

Thanks

[2020-03-18 14:05] itthing opened #5106 "Applicable on Teams?"
Is this command applicable with Teams as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ac40f89-1490-e24c-0f87-285ff240bc2d
* Version Independent ID: 7a0f90ee-22e4-75c8-7043-584c232ceb4d
* Content: [Get-CsUserDelegates (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/get-csuserdelegates?view=sky

[2020-03-18 14:08] Weishaupt commented on #3305
@chrisda Locale is still a visible parameter in the Exchange Online PowerShell. What is the plan here? I'd love to see locale support for this feature.

[2020-03-18 14:10] trudolf-msft opened #5107 "What happens with Disable-Mailbox action?"
Please add a note regarding Disable-Mailbox action. What happens? How can you recover those mailboxes?

"When a mailbox is deleted with the Remove-Mailbox cmdlet, it's not actually deleted. It's hidden in Exchange and moved in Active Directory to the organizational unit (OU) Soft Deleted Objects. This enables administrators to recover deleted mailboxes for up to 30 days after deletion."

---
####

[2020-03-18 15:01] yogkumgit commented on #5103
@officedocsbot assign @yogkumgit

[2020-03-18 15:01] yogkumgit commented on #5104
@officedocsbot assign @yogkumgit

[2020-03-18 15:02] yogkumgit commented on #5105
@officedocsbot assign @yogkumgit

[2020-03-18 15:02] yogkumgit commented on #5106
@officedocsbot assign @yogkumgit

[2020-03-18 15:02] yogkumgit commented on #5107
@officedocsbot assign @yogkumgit

[2020-03-18 15:14] yogkumgit commented on #5070
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @AspenForester Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-18 15:14] #5070 closed

[2020-03-18 15:17] yogkumgit commented on #5073
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @anwarmahmood1  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-18 15:18] #5073 closed

[2020-03-18 15:22] yogkumgit commented on #5079
@dacowan  Thank you very much for the contribution and updating the documentation with PR. @MarwaMS92 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-18 15:22] #5079 closed

[2020-03-18 15:26] yogkumgit commented on #5080
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @Wallace4444 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-18 15:26] #5080 closed

[2020-03-18 15:30] rickleye opened #5108 "Pls Validate the OverflowAction"
Could someone pleas validate the Overflow action\Target against https://docs.microsoft.com/en-us/microsoftteams/create-a-phone-system-call-queue. Directions via GUI. We have tried to use the Voicemail option but it does not work either for a person or a group DL.  And such option isnt available in the GUI. It is available for Auto Attendant set up but now for call queue.

---
#### Document Details

[2020-03-18 15:30] yogkumgit commented on #5066
@dariomws  Thank you very much for the contribution and updating the documentation with PR. @osbistonium Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-18 15:30] #5066 closed

[2020-03-18 15:36] yogkumgit commented on #5108
@officedocsbot assign @yogkumgit

[2020-03-18 16:41] Petri-X commented on #5018
...and @tameemansari if I could add one extra comment more. I had pretty interesting discussion about get-csCallQueue as that returns only 100 first queues by default. To get all queues you need to use parameter "-First XYZ" and use higher than your queues value on (XYZ). Obviously that is not mentioned in anywhere.

So if you could optimize the network traffic on these CMDLets, then you perhaps c

[2020-03-18 17:30] get-itips commented on #5067
Hello @SharePointBlackBelt Vincent 👍 Thanks for noticing this. Created a pull request to correct the examples.

[2020-03-18 17:42] gcoad commented on #5105
I tried to create the script by myself but i've an issue with it... Someone can help me please ?

When i launch it, all channels are created (Chan 1 - 2 - 3)
Name and Owners are Ok, Fine !
But only the members of the last CSV line (user6 and user7) are added to all channels ...

CSV Exemple
---------------------------------------------
ChannelName,ChannelDescription,ChannelOwner,ChannelUsers
chan1

[2020-03-18 17:42] #5105 closed

[2020-03-18 17:44] get-itips commented on #5089
Hello @duracellkonijn22 Hendrik
Can you please be more detailed and specific on what documentation you have followed, what steps you have taken and what cmdlets you have ran to understand if we need to change any documentation or if we have to redirect you to support of your tenant?
Thank you

[2020-03-18 17:49] get-itips commented on #5106
Hello @itthing
This cmdlet is only included in the Server version of Skype For Business, as the article indicates.
Hope this information helps you.
Thanks

[2020-03-18 17:56] get-itips commented on #5103
Hello @tdalon thierry 👍 How are you ?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-18 17:56] get-itips commented on #5102
Hello @VishnuMohan259 Vishnu 👍 How are you ?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-18 17:56] get-itips commented on #5096
Hello @mjarmstrong Michael 👍 How are you ?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-18 18:00] mjarmstrong commented on #5096
Hello @get-itips, I am well, thank you. Struggling with a client deployment due to the issue above. I have also opened an issue at the repo you suggested, but have realized that none of the issues there are being addressed. All issues dating back to 2019 are sitting under "Needs Triage".

[2020-03-18 19:36] abates100 opened #5113 "Get-PnPSearchCrawlLog ItemTime is incorrect"
Maybe I just don't understand what ItemTime is supposed to represent but if you look at the Raw format it appears to be SPItemModifiedTime(in UTC) +7  Is this something particular to specific tenants?

ex.
CrawlTime       : 3/18/2020 6:18:50 PM
ItemTime        : 3/19/2020 1:18:32 AM

[2020-03-19 02:12] KevinNSTA opened #5115 "*onlinepstngateway commands listed in incorrect module?"
I was looking for these commands - I followed the "Connect to Skype for Business Online powershell" walkthrough, installed the SkypeOnlineConnector, and connected, however there were no `get-csonlinepstngateway` or `New-csonlinepstngateway` commands even though it says it applies to Teams.

I don't have a server to check with, but perhaps this command is only in the On-Prem Skype for Business Serv

[2020-03-19 10:02] msnaveen opened #5118 "Get-pnptenantsite Conditional Access Policy"
I would start saying thanks for the wonderful Module to work with. Well i was working with this module and i figured out that whenever we run get-pnptenantsite -detailed | select ConditionalAccessPolicy,URL i always get the ConditiopnalAccessPolicy to be AllowFullAccess even if i do this for  single URL the same issue, however if i run the get-sposite | select ConditiopnalAccessPolicy ,URL it show

[2020-03-19 11:11] Bart-Hoofd opened #5119 "Bug report: mailNickName containing # or / causes error in scheduling meeting"
I stumbled on this issue recently: when creating a Team with a mailNickName containing # or /, I was unable to successfully schedule a meeting from within that Team. Replacing these characters (with e.g. _) in the unified group's Alias or EmailAddresses later does not solve the issue, but when omitting the characters from the mailNickname upon creation of the Team, the issue does not show up.

---

[2020-03-19 11:23] yogkumgit commented on #5113
@officedocsbot assign @yogkumgit

[2020-03-19 11:23] yogkumgit commented on #5115
@officedocsbot assign @yogkumgit

[2020-03-19 11:24] yogkumgit commented on #5118
@officedocsbot assign @yogkumgit

[2020-03-19 11:24] yogkumgit commented on #5119
@officedocsbot assign @yogkumgit

[2020-03-19 11:45] yogkumgit commented on #5067
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @SharePointBlackBelt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-19 11:45] msnaveen commented on #5118
i also want to add one thing, it is on the for loop we are missing it
$sites = Get-PnPTenantSite -Detailed  -IncludeOneDriveSites
foreach ($site in $sites) {

        $site | Select-Object  Url, ConditionalAccessPolicy
    }

The ConditionalAccessPolicy defaults to full access

If i run against a specific site it shows the correct one.

Sorry for the confusion.

[2020-03-19 11:45] #5067 closed

[2020-03-19 12:15] yogkumgit commented on #5106
@get-itips  Thank you very much for the contribution and sharing this explanation. @itthing
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-19 12:15] #5106 closed

[2020-03-19 12:20] yogkumgit commented on #5103
@get-itips  Thank you very much for the contribution and sharing this explanation. @tdalon
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-19 12:20] #5103 closed

[2020-03-19 12:22] yogkumgit commented on #5102
@get-itips  Thank you very much for the contribution and sharing this explanation. @VishnuMohan259 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-19 12:22] #5102 closed

[2020-03-19 12:48] #5096 closed

[2020-03-19 14:40] get-itips commented on #5084
Hello @deanbot Dean,
As per @tseward assistance, we think this issue has been resolved and we will proceed to close it. Thanks for your feedback.

[2020-03-19 14:41] get-itips commented on #5018
Hello @Petri-X I hope that @tameemansari contribution has helped you, we feel that this issue is addressed and will proceed closing it. Thanks for your feedback.

[2020-03-19 14:42] get-itips commented on #5052
Hello @pconnell99 Paul, how are you ? 👍
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-19 14:45] get-itips commented on #5113
Hello @abates100 👍 how are you ?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-19 14:57] mprentice22153 opened #5120 "Disconnect from Exchange Online"
Now that there is a Connect-ExchangeOnline cmdlet, what is the proper way to disconnect from Exchange Online?  Do we still just remove the PSSession?  Can we get a proper Disconnect-ExchangeOnline cmdlet which actually ends the session?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1

[2020-03-19 15:42] get-itips commented on #5115
Hello @KevinNSTA Kevin 👍 how are you?
Please double check if you followed every step outlined [here](https://docs.microsoft.com/en-us/office365/enterprise/powershell/manage-skype-for-business-online-with-office-365-powershell) because those cmdlets belong to that module.

![image](https://user-images.githubusercontent.com/36666927/77085398-0c1be680-69df-11ea-9deb-59d3aa0a7294.png)

[2020-03-19 18:26] fabtopia opened #5121 "New-team -Template parameter is not available anymore"
The -template parameters at New-Team is not avaialble animore. It worked with 0.9.3 The at lastest version 1.0.5 the help said it exist but if you want to use it, there will be an error. If you type new-team -t<tab> nothing happend

[2020-03-19 18:28] get-itips commented on #5119
Hello @Bart-Hoofd Bart, how are you? 👍
Although we only handle documentation issues, I will try to pass this along to the product team.
Thank you

[2020-03-19 19:44] JLambEJG opened #5122 "Exchange link is broken"
The link at the very top of the page to the Exchange module is broken. 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd7d69db-be49-179e-94ce-635337c98d07
* Version Independent ID: 9e372e66-5c7e-4d9a-56de-a35ae353fa09
* Content: [Set-UnifiedGroup (exchange)](https://docs.microsoft.com/en-us/powershell/module

[2020-03-20 00:02] get-itips commented on #5108
@rickleye Rick
I could verify the directions to the overflow action, aren't you seeing that option?

[2020-03-20 02:13] rickleye commented on #5108
No once I put voicemail for overall action it asks for a target and neither user Id nor guid Id works.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Thursday, March 19, 2020 8:02:32 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Richard Ojeleye <richard@voltro

[2020-03-20 03:25] tameemansari commented on #5121
Template support for creating new teams is available currently only in the preview module hosted on the PowerShell test gallery. You can follow the install instructions available at [this link](https://docs.microsoft.com/en-us/MicrosoftTeams/private-channels-life-cycle-management#install-the-latest-teams-powershell-module-from-the-powershell-test-gallery).

[2020-03-20 04:49] Tweekism opened #5124 "Add some info on how to install"
This page should have "Install-Module -Name MicrosoftTeams" at the top, or something...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94694082-c529-5654-1734-57514ec17a1f
* Version Independent ID: aa669763-6470-cc61-ea8d-52aee886f986
* Content: [Microsoft Teams PowerShell](https://docs.microsoft.com/en-us/powershell/m

[2020-03-20 04:56] msnaveen commented on #5118
Hi team,

I was able to get the details but it is running the same command twice

NON WORKING
==================
$sites = Get-PnPTenantSite -Detailed -IncludeOneDriveSites
foreach ($site in $sites) {
    $site | Select-Object  Url, ConditionalAccessPolicy
}

WORKING
=============
$sites = Get-PnPTenantSite -Detailed -IncludeOneDriveSites |select url
foreach ($site in $sites) {

         Get-PnPTen

[2020-03-20 11:39] Bart-Hoofd commented on #5119
Thnx!

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Thursday, March 19, 2020 7:28:23 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Bart-Hoofd <bart.hoofd@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/office-docs-powershell

[2020-03-20 11:45] yogkumgit commented on #5120
@officedocsbot assign @yogkumgit

[2020-03-20 11:46] yogkumgit commented on #5121
@officedocsbot assign @yogkumgit

[2020-03-20 11:46] yogkumgit commented on #5122
@officedocsbot assign @yogkumgit

[2020-03-20 11:46] yogkumgit commented on #5124
@officedocsbot assign @yogkumgit

[2020-03-20 12:01] yogkumgit commented on #5084
@tseward  Thank you very much for the contribution and updating the documentation with PR. @get-itips Thank you. @deanbot Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-20 12:01] #5084 closed

[2020-03-20 12:07] yogkumgit commented on #5018
@get-itips  and @tameemansari  Thank you very much for the contribution and sharing this explanation. @Petri-X Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-20 12:07] #5018 closed

[2020-03-20 12:10] yogkumgit commented on #5052
@get-itips  Thank you very much for the contribution and sharing this explanation. @pconnell99
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-20 12:10] #5052 closed

[2020-03-20 12:13] yogkumgit commented on #5113
@get-itips  Thank you very much for the contribution and sharing this explanation. @abates100
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-20 12:13] #5113 closed

[2020-03-20 12:16] yogkumgit commented on #5115
@get-itips  Thank you very much for the contribution and sharing this explanation. @KevinNSTA
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-20 12:16] #5115 closed

[2020-03-20 12:17] get-itips commented on #5119
@yogkumgit please close this one. Thanks

[2020-03-20 12:19] yogkumgit commented on #5119
@get-itips  Thank you very much for the contribution and sharing this explanation. @Bart-Hoofd
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-03-20 12:19] #5119 closed

[2020-03-20 12:30] PsychoData commented on #5115
Ahh, yes, the walkthrough I was using from a 3rd party site didn't save a session variable and import it, so I was mixed up with their screenshots.

thanks @get-itips !

[2020-03-20 13:00] sagar4u opened #5125 "The command 'Get-PnPAppInstance' is obsolete. Use Get-PnPApp instead"
There is no mention of whether this command is obsolete and also Get-PnPApp command works differently

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e974e718-c739-a184-52d7-94d003303cc1
* Version Independent ID: f550b04f-cf4f-8fc4-d011-3d6c2f56e831
* Content: [Get-PnPAppInstance (sharepoint-pnp)](https://docs.microsoft

[2020-03-20 13:28] aprmike opened #5126 "Related Link Issue"
The related links for New-Team and Set-Team link back to the same article (Get-Team)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8450991f-9f85-4d87-51b3-efa8e1004a24
* Version Independent ID: cb290aa5-ce28-10a4-f17c-cc5db6edc706
* Content: [Get-Team (teams)](https://docs.microsoft.com/en-us/powershell/module/teams/G

[2020-03-20 14:50] get-itips commented on #5108
are you using the search by display name field ?

Ok, please, kindly open a support ticket directly on your tenant, to find out what is happening in your scenario.

[2020-03-20 21:39] kevinblumenfeld opened #5128 "V2 Get-EXOMailboxStatistics seem to have recently broken at the endpoint"
Receiving a REST Protocol error. This worked flawlessly since Ignite and only recently broke within a month.

Get-EXOMailboxStatistics -ExchangeGuid &lt;ToString() of GUIDs passed in a foreach loop&gt;

Get-EXOMailboxStatistics : An error occurred while processing this request..
ProtocolError: (:) [Get-EXOMailboxStatistics], Exception
One or more errors occurred., Microsoft.Exchange.Management.Res

[2020-03-21 00:41] chrisda commented on #5128
@kevinblumenfeld, please ask this question at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

The EXO V2 module is still in Preview, and that email address is the best place to get answers.

Closing

[2020-03-21 12:13] rickleye commented on #5108
This happens on all tenants. I have tried so far. A colleague brought this to me attention. I tried it on mine. And I get the same results. I can send you screen shots if you need

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Friday, March 20, 2020 10:50:30 AM
To: MicrosoftDocs/office-docs-powershell <of

[2020-03-21 12:14] rickleye commented on #5108
Now we are looking at Powershell not GUI. GUI is fine just PSH doesn’t match up.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Friday, March 20, 2020 10:50:30 AM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Richard Ojeleye <richard@voltronlions.com>; Mention <m

[2020-03-22 11:32] get-itips commented on #5108
I assume you are using the -OverflowAction and -OverflowActionTarget parameters right? What are you experiencing?

[2020-03-22 20:16] WilliamHCPowell opened #5131 "missing content"
no example (boilerplate text present)
-Identity parameter has no descriptio
-Ring parameter has no description

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147adf03-ad24-cf04-4d2e-b2a25049a78e
* Version Independent ID: 7e8927aa-019e-499d-2664-34eb19782b38
* Content: [Set-CsOnlineDirectoryUser (skype)](https://docs.mi

[2020-03-23 05:56] yogkumgit commented on #5125
@officedocsbot assign @yogkumgit

[2020-03-23 05:56] yogkumgit commented on #5126
@officedocsbot assign @yogkumgit

[2020-03-23 05:57] yogkumgit commented on #5131
@officedocsbot assign @yogkumgit

[2020-03-23 06:20] yogkumgit commented on #5089
@get-itips Thank you very much for the contribution and digging deep into it.  @duracellkonijn22 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this

[2020-03-23 06:20] #5089 closed

[2020-03-23 11:38] msozcelik opened #5132 "Adding Rights for Multiple Users at the same time"
Could we add access rights for multiple users using only one command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb509e0a-2371-d5b8-6462-c0f29e6c8152
* Version Independent ID: b8fdd337-395d-0c42-4ff1-9a0969a9d578
* Content: [Add-MailboxPermission (exchange)](https://docs.microsoft.com/en-us/powershell/module/exchan

[2020-03-23 12:45] get-itips commented on #5121
Hello @fabtopia as @tameemansari kindly said, Template parameter is part of the preview module.
@yogkumgit Please proceed closing this issue.

[2020-03-23 12:48] dariomws commented on #5122
Hi @JLambEJG, thank you for your feedback.

This is a well-known issue and we are looking on to it.

[2020-03-23 12:59] dariomws commented on #5120
Hi @mprentice22153, thank you for your feedback.

I understand that you can use "Remove-PSSession -Id 1" (you should check session id).

Anyway:

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured t

[2020-03-23 13:09] damirko1003 commented on #5056
Same for me. Could you please provide a feedback on this issue?

[2020-03-23 13:15] get-itips commented on #5124
Hello @Tweekism How are you?

I am afraid that, Table of Contents files do not include that information, the information you are looking for is [here](https://docs.microsoft.com/en-us/powershell/teams/intro?view=teams-ps) that leads you [here](https://www.powershellgallery.com/packages/MicrosoftTeams/)

Hope this information helps you.

[2020-03-23 13:16] mprentice22153 commented on #5120
Remove-PSSession only removes it from my active PSSessions.  It does not
actually disconnect the session on the server, based on my experience.
Because there is a limitation with the number of active connections a user
can have with Exchange Online, this is preventing us from doing proactive
monitoring and management of our hundreds of customers through our
delegated admin.

We are very happy with

[2020-03-23 13:18] get-itips commented on #5126
Thanks for noticing @aprmike
Created a PR to correct the article.

[2020-03-23 13:23] dariomws commented on #5120
From [Remove-PSSession](https://docs.microsoft.com/powershell/module/microsoft.powershell.core/remove-pssession) article:
"The Remove-PSSession cmdlet closes PowerShell sessions (PSSessions) in the current session. It stops any commands that are running in the PSSessions, **ends the PSSession, and releases the resources that the PSSession was using**."

From [Connect to Exchange Online PowerShell]

[2020-03-23 13:55] get-itips commented on #5131
@tomkau Tom,
I could see that -Ring parameter accepts "ring1" and "ring2" however I could not find further information about the specific use of this parameter, can you help me with this? I appreciate.

[2020-03-23 13:59] get-itips commented on #5118
Hello @msnaveen how are you ? 👍
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-23 13:59] get-itips commented on #5125
Hello @sagar4u 👍 how are you?

I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-03-23 17:20] kevinblumenfeld commented on #5128
I have done so.  Thank you @chrisda

[2020-03-23 17:23] #5128 closed

[2020-03-23 18:33] JLambEJG opened #5139 "The term 'Add-TeamChannelUser' is not recognized as the name of a cmdlet"
Module "MicrosoftTeams" version 1.0.5 is installed, but this command is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74381d05-2e95-4751-4285-752a46eb025f
* Version Independent ID: 2481b258-b593-e323-90f0-e9ca6e7797bf
* Content: [Add-TeamChannelUser (teams)](https://docs.microsoft.com/en-us/powershell/module/

[2020-03-23 19:02] sagar4u commented on #5125
I am fine. Thank you. I hope, you too. I'll check and open it there

[2020-03-23 19:02] #5125 closed

[2020-03-23 20:46] kenwith commented on #5034
Also, I am following up with the product team to see when they last shipped an update and to make sure they are including updating the XML help content from GitHub in their push of any updates. Thank you for this information.

[2020-03-23 20:46] #5034 closed

[2020-03-23 21:58] mrkeiths opened #5142 "New-HostedConnectionFilterPolicy"
Why is there no documentation for New-HostedConnectionFilterPolicy?

Get-Help New-HostedConnectionFilterPolicy returns minimal information (Name and Syntax info but nothing more)
Get-Command New-HostedConnectionFilterPolicy -Syntax returns expected output
Get-Help New-HostedConnectionFilterPolicy  -Online throws an error

Is this cmdlet supposed to still be supported/available?

---
#### Document

[2020-03-23 22:07] RamkarUmmo opened #5143 ""Files cannot be loaded because running scripts is disabled on this system. Provide a valid certificate with which to sign the files." error"
I solved the issue by:
1) Changing directly ExecutionPolicy value to "Bypass" under 'HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell"
2) Assigning Full Access permissions to the running account over the key 'HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell" by right-clicking it and selecting Permissions

In case of having to run Powe