[2021-11-15 17:22] chrisda commented on #8592
@LesAtGamma, did you send the attached log to that email address I showed you? That's where/how you get support, in particular since you're using a preview version of the module. We just update documentation here.

[2021-11-15 18:31] chrisda commented on #8595
@anthonynz, see [Issue 7429](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for a greater explanation of why parameters with empty descriptions exist.

In this case, the presence of the parameter with the empty description did its job. Description added with relevant link.

Thanks for the feedback.

Closing

[2021-11-15 19:01] andypunt commented on #8596
That is correct for Blocks. Allows are slightly different in that they must be added via the submission process and it is managed by the system. If we agree with the FP and are able to update the system so that it naturally allows the item, the allow will be removed.

[2021-11-15 20:01] chrisda commented on #7905
@tkmamedov, typically, when a feature like this goes away, it usually has something to do with security, accessibility, or both.

Wasn't the major problem with PDF download it would take the entire content set and convert it to PDF for download (depending on how the table of contents was laid out)?

[2021-11-15 20:47] anthonynz commented on #7429
Hi @chrisda, thanks for the update regarding the EnableDownloadDomains parameter, but I'm not sure why it's being closed.

The issue with this particular parameter is that there is no description, documentation or explanation as to how to use it, not even a reference to the wider Exchange Documentation.  This should be escalated to the product team to elaborate as Microsoft are reccommending this

[2021-11-15 20:49] anthonynz commented on #8595
Hi @chrisda, thanks for the update regarding the EnableDownloadDomains parameter, but I'm not sure why it's being closed.

The issue with this particular parameter is that there is no description, documentation or explanation as to how to use it, not even a reference to the wider Exchange Documentation.  This should be escalated to the product team to elaborate as Microsoft are reccommending this

[2021-11-15 21:34] chrisda commented on #8595
@anthonynz, from my last post:

Also note the pull request that's now associated with this issue: #8599.

The updates to the topic will publish after 3:30 PM PST (GMT-8).

[2021-11-15 22:52] jeff-bb opened #8603 ""Filter users based on an existing attribute" Examples do not work."
Cannot process argument transformation on parameter 'Identity'. Cannot convert the "X" value of type "Deserialized.Microsoft.Exchange.Data.Directory.Management.User" to type "Microsoft.Exchange.Configuration.Tasks.UserIdParameter".

As written, the example does not work. I've modified locally to use "foreach {Set-User -Identity $_.WindowsEmailAddress -RemotePowerShellEnabled $false}", which does w

[2021-11-15 23:45] chrisda commented on #8603
@jeff-bb, confirmed. Topic updated.

Thanks for the feedback.

Closing

[2021-11-15 23:45] #8603 closed

[2021-11-15 23:58] #8595 closed

[2021-11-16 08:45] LesAtGamma commented on #8592
Thanks @chrisda - I have now!

[2021-11-16 12:09] yogkumgit commented on #8592
@LesAtGamma Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-16 12:09] #8592 closed

[2021-11-16 12:14] #7905 closed

[2021-11-16 12:29] SultanRayes opened #8608 "Update Applies to section"
Please remove Exchange Server 2013, Exchange Server 2016 from Applies to section .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 461de863-05f8-4df2-af57-b5106b9b0cd5
* Version Independent ID: df907b31-c01c-ff6d-2161-85e4e77a626d
* Content: [Set-ClientAccessRule (ExchangePowerShell)](https://docs.microsoft.com/en-us/po

[2021-11-16 14:43] Petri-X opened #8609 "Will this CMDLet become available sometime?"
Hi,

Just looking for the ways to avoid 100s mouse clicks when trying customize the policies for controlling available applications. Then I found this page, but you did not share so much hope by:
_...but do not use this cmdlet..._

May I ask what is the future of this?

On the test environment I was playing with it shortly, but I could't get the reason of why this is to you so big **no no**. For e

[2021-11-16 18:18] chrisda commented on #8608
@SultanRayes, the problem is: that cmdlet is available in Exchange 2013 and 2016. I'm positive that it doesn't work, but it is available.

[2021-11-17 04:28] Pep-Powell opened #8613 "test"
test

[2021-11-17 04:29] #8613 closed

[2021-11-17 06:11] yogkumgit commented on #8578
@gh0stwalker Thanks. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-17 06:11] #8578 closed

[2021-11-17 08:52] Petri-X opened #8614 "Improvement for Get-TeamsApp is required"
Hi Teams PS team,

Do you have any plans to get more attributes out using the "Get-TeamsApp"? Today we are only getting the following: **ExternalId**, **Id**, **DisplayName** and **DistributionMethod**.

But when looking for the TAC there are lot of other details from the apps. One of the critical attribute I'm hunting is the publisher. I should be able to separate Microsoft's packages and 3rd par

[2021-11-17 09:05] wojcib commented on #8537
I checked and your observations are correct. But it only works when user clicks 'Delete' (right above signature) from user's OWA interface.
I tried to script that somehow but had no luck.

[2021-11-17 09:24] beail commented on #8537
There's a user element at play here; we _maybe_ able to determine the graph call used via that 'Delete' action using the Edge development tools but I'm not sure it'll be something we could interface with without a user token (auth) but this is speculative as I've not had an opportunity to investigate this potential approach yet - maybe worth a look if someone has the time

[2021-11-17 22:53] dariomws commented on #8554
@jantoney - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted h

[2021-11-17 22:55] dariomws commented on #8555
@jantoney - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted h

[2021-11-17 22:56] dariomws commented on #8567
@BJGGut3, thank you for your feedback and the confirmation that you can see these parameters now.

[2021-11-17 22:58] dariomws commented on #8580
@jformacek - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted

[2021-11-17 23:05] dariomws commented on #8581
Hi @Markus-Hanisch, thank you for your feedback.

@tomkau, could you kindly help here? Thanks!

[2021-11-17 23:07] dariomws commented on #8582
Hi @Markus-Hanisch, thank you for your feedback.

I'm trying to get more information about AllowTeamsConsumerInbound.

[2021-11-17 23:15] dariomws commented on #8583
Hi @BJGGut3, thank you for your feedback.

Similar to:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/8581
https://github.com/MicrosoftDocs/office-docs-powershell/issues/8582

@tomkau, FYI.

[2021-11-18 06:01] Markus-Hanisch commented on #8582
@dariomws
In issue #8581 I habe added the related message center ID.

[2021-11-18 07:41] dariomws commented on #8582
@Markus-Hanisch, yes I read it but, what TeamsConsumerInbound does? I can suppose that it allows or deny inbound communications from Teams Consumer accounts but I want to confirm. We can use it with Set/New-CsExternalAccessPolicy either.

[2021-11-18 09:04] Markus-Hanisch commented on #8582
Thank you for your support in here, @dariomws

[2021-11-18 09:07] dariomws commented on #8582
Fixing type:
"We can't use it with Set/New-CsExternalAccessPolicy either."

[2021-11-18 10:15] yogkumgit commented on #8581
@tomkau Please help us in resolving this issue. Thanks

[2021-11-18 10:17] yogkumgit commented on #8582
@tomkau Please help us in resolving this issue. Thanks

[2021-11-18 10:18] yogkumgit commented on #8583
@tomkau Please help us in resolving this issue. Thanks

[2021-11-18 15:58] tiburd commented on #8583
17 November 2021: I sent email to tomkau.

[2021-11-18 15:58] tiburd commented on #8582
17 November 2021: I sent email to tomkau.

[2021-11-18 17:16] carloxsf opened #8620 "Permissions necessary to run this command"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75b757c9-b775-8294-91f7-870bead6a907
* Version Independent ID: 54ebab36-97bb-cd9f-6eb2-12198af885e2
* Content: [Search-UnifiedAuditLog (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/search-unifiedauditlog?view=exchan

[2021-11-18 17:20] carloxsf commented on #8620
Looking in to the requirements to run this command appear to be ExchangeAdmin or Log viewer but is not specified in the doc. If you do not have this permition you will not see the command as available.

[2021-11-18 17:31] chrisda commented on #8620
@carloxsf, thankfully, this is an Exchange Online cmdlet, so the bottom of the description has this statement:

The advice in that topic works really well; you can see any/every role group and role that gives permissions to the cmdlet (including custom roles/role groups that we couldn't possibly know about).

We've never specifically called out every role/role group that gives access to a cmdlet;

[2021-11-18 19:12] chrisda commented on #8507
The EndUserQuarantinePermissions parameter is definitely not working. There are plans to fix it, but no ETA, so I removed any examples in New/Set-QuarantinePolicy that used it, and I changed the description of the EndUserQuarantinePermissions parameter to "reserved for internal Microsoft use".

Thanks for the feedback.

Closing

[2021-11-18 19:12] #8507 closed

[2021-11-18 19:14] chrisda commented on #8608
Just to clarify: since the cmdlet is available in Exchange 2013 and Exchange 2016, I'm not going to remove those values from the 'Applies to:' metadata value.

The SYNOPSIS section states what's going on:

Thanks for the feedback.

Closing

[2021-11-18 19:14] #8608 closed

[2021-11-19 03:18] sarollins opened #8623 "Errors connecting to teams via AccessTokens"
I'm using version 2.6 of the MicrosoftTeams PowerShell module and trying to connect using the new AccessTokens parameter

I followed the instructions in the AccessTokens section to configure applications in O365 and found this article to be of help also - https://get-itips.capazero.net/posts/teams-powershell-token-auth

When I attempt tokens using client_credentials, I get the following error

Con

[2021-11-19 09:47] Heap412 commented on #8537
This works but you have to delete all signatures then set For New Messages, For Replies/Forwards = (No signature), like he said and Save. This creates a new signature called "Signature Outlook Web" with the content of the SignatureHTML property.

You can update/edit this signature in OWA but that doesn't update/edit the SignatureHTML property.
You can update/edit this signature with Powershell (cm

[2021-11-19 09:49] andreaci commented on #8537
tried it and it doesn't work.
actually it worked on one account and not on all the others.

[2021-11-19 09:51] andreaci commented on #8537
**OFFICIAL STATEMENT FROM MICROSOFT:**

the problem was introduced in July, with this feature (Outlook for windows roaming signatures):
https://www.microsoft.com/en-ie/microsoft-365/roadmap?filters=&searchterms=60371

the problem has been escalated and any news will be published here:

https://techcommunity.microsoft.com/t5/exchange/roaming-signatures-for-outlook-for-windows/m-p/1398915

unfortuna

[2021-11-19 09:52] beail commented on #8537
I found that this also seems to be impacted by the browser cache, maybe worth a clearing it

[2021-11-19 10:33] leewisestamp commented on #8537
No, I don't think this is related since this feature is explicitly for **_Outlook for Windows_** and not (explicitly) related to OWA.

[2021-11-19 10:36] andreaci commented on #8537
outlook for win SHOULD sync signatures with OWA since july.

[2021-11-19 10:41] leewisestamp commented on #8537
There is no mention in the roadmap item (or the techcommunity post) of OWA. Anyway, I don't think this is related to the issue we're all facing.

[2021-11-20 09:32] silentcam opened #8626 "Errors in Example 4 PowerShell cmdlet"
[Enter feedback here]
In Example 4, the first line, used to find the ID of an existing application instance via SearchQuery, has both incorrect syntax (close bracket precedes the -MaxResults parameter, should follow the -MaxResults value, or alternatively have both open and close brackets removed from first line) and leads to error when attempting to create the callable entry via the second line,

[2021-11-21 07:24] yogkumgit commented on #8537
@leewisestamp as advised by Chris multiple times, reporting support is the only way. We are here to improve  the documentation only. Proceed to close it. Thanks for your contribution.

[2021-11-21 08:15] leewisestamp commented on #8537
@yogkumgit And as I previously replied, I disagree that this is unrelated documentation. Until someone from Microsoft confirms one way or the other (i.e. if the product changed and therefore docs need updating, or if the product broke and therefore docs are good), this ticket should *remain open*!

https://github.com/MicrosoftDocs/office-docs-powershell/issues/8537#issuecomment-960574889

[2021-11-22 02:44] kjacobsen commented on #8445
Hey, Just to claidy, that the documentation still doesn't work for me.

[2021-11-22 02:48] kjacobsen commented on #8445
Also tried:

[code]

[2021-11-22 02:54] kjacobsen commented on #8445
Ok, so running `Install-WSMan` works when run from terminal, but not from iTerm. Checked `$ENV:Path` and everything looks ok. From my quick look, `Install-WSMan` must be doing something weird to detect the operating system.

Running `Connect-ExchangeOnline` works in Terminal, but not iTerm.

[2021-11-22 13:47] #8550 closed

[2021-11-22 14:06] MarcLaf opened #8628 "More information required regarding audio file format plus removal instructions missing."
We tried implementing SpokenName last week and according to the page, it accepts two formats. WMA and PCM. The command only accepts the WMA file however I'm not sure any checking other than extension is done. The file was uploaded however after leaving it for about 3 days, it still does not appear in the users contact card. The flag indicates it being set when we query the account but that's it. I

[2021-11-22 15:22] yogkumgit commented on #8554
@dariomws  Thank you very much for the contribution and sharing this explanation. @jantoney Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.

We will be very happy if you can share the

[2021-11-22 15:23] #8554 closed

[2021-11-22 15:26] yogkumgit commented on #8555
@dariomws  Thank you very much for the contribution and sharing this explanation. @jantoney Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2021-11-22 15:29] yogkumgit commented on #8567
@dariomws Thank you very much for the contribution and sharing this explanation. @ParaGlideRocks Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-22 15:29] #8567 closed

[2021-11-22 15:32] yogkumgit commented on #8580
@dariomws  Thank you very much for the contribution and sharing this explanation. @jformacek
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2021-11-22 15:32] #8580 closed

[2021-11-22 15:36] yogkumgit commented on #8620
@carloxsf Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2021-11-22 15:36] #8620 closed

[2021-11-22 15:39] yogkumgit commented on #8596
@chrisda Please add your comment. Thanks

[2021-11-22 15:42] yogkumgit commented on #8594
@RascoPK Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2021-11-22 15:42] #8594 closed

[2021-11-22 17:30] JakubK64 opened #8629 "New-QuarantinePolicy issue"
Hello,

I've just try to create Quarantine Policy via PowerShell. Maybe I'm missing something, but -EndUserQuarantinePermissionsValue are not working correct from my perspetive.

In docs you said that required order looks like this:
PermissionToAllowSender
PermissionToBlockSender
PermissionToDelete
PermissionToDownload
PermissionToPreview
PermissionToRelease
PermissionToRequestRelease
PermissionTo

[2021-11-22 22:41] Ryu-Syrius opened #8631 "Update Param Arg"
Show Banner takes a boolean argument

https://docs.microsoft.com/en-us/powershell/module/exchange/connect-exchangeonline?view=exchange-ps#syntax

[-ShowBanner <boolean>]

[2021-11-22 23:00] kjacobsen commented on #8445
Any reason this was closed again? Definitely seems to be a PATH issue or something related.

[2021-11-23 14:40] gregiare opened #8632 "Bad example causes an error"
The third example to silently disconnect causes the following error.

See $Error after running the command. Is there a way to silently disconnect with out causing any output and without causing any errors?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3520ee8b-4c1b-5cf1-677e-9dcd14d88ea1
* Version Independent ID: 2190

[2021-11-25 14:49] CharLind87 opened #8639 "-Applications set to Group:Sharepoint returns error"
Had issue with -Applications attribute but it had to be precise Group:SharePoint and not Group:Sharepoint.

[2021-11-25 14:55] #8639 closed

[2021-11-25 15:55] mike-pshell opened #8640 "It is unclear on the syntax required to use a Label as a predicate"
It is unclear on the syntax required to use a Label  as a predicate.
For the -ContentContainsSensitiveInformation option it provides:

Example for sensitivity label: labels = @(@{name ="Confidential"; type ="Sensitivity";})

I found that to use a label, requires it to be nested (in hash table in a hash table in a hash table).
This is the syntax that worked for me:
@(@{operator = "And"; groups = @(

[2021-11-26 16:17] boisrobe commented on #8537
Already have the problem in july and it disapeared like it appears.
No problem since july...

My july ticket give me a poor explication and workaround (in french) :
Voici le plan d’action/Plan d’analyse/Troubleshooting de MS :
		○ 1. Naviguez dans Outlook en ligne -> icône de l'engrenage -> Afficher tous les paramètres d'Outlook.
		○ 2. Naviguer dans Courrier -> Composer et répondre
		○ 3. Définis

[2021-11-27 12:58] DEberhardt opened #8641 "Parameter Force and its use is missing"
Title

What does it do, why does it need to be enforced?
What is returned if not enforced?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e18f62f-cdb9-a279-146a-ccd65f879799
* Version Independent ID: 4b3dd955-71e5-c849-ab94-1f8a8f46d587
* Content: [Sync-CsOnlineApplicationInstance (SkypeForBusiness)](https://docs.micr

[2021-11-29 04:24] nikolas-x commented on #8623
There were some details posted here:

https://techcommunity.microsoft.com/t5/teams-developer/authenticating-with-an-access-token-connect-microsoftteams/m-p/2233794/page/4

Basically, tokens generated by MSAL now have a randomised 0-30 minutes added to their expiry time (i.e. now they can expire between 60 to 90 mintes) so as to reduce simultaneous refresh requests. However this was not communicate

[2021-11-29 11:16] rvigliotti-sf commented on #4884
And if you have variables in the winrm create cmd to specify a certificate for a HTTPS listener, you need to escape them. Example:

`winrm create winrm/config/Listener?Address=*+Transport=HTTPS '@{Hostname="'"$ENV:ComputerName"'";CertificateThumbprint="'"$($Cert.Thumbprint)"'"}'`

[2021-11-29 13:24] myfope opened #8642 "Description Missing for Parameter "DomainName""
Hi,

the parameter DomainName does not have a description. Only the text {{ Fill DomainName Description }} is there. Could you update the correct description?

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb1bcd1-e164-db1e-e45a-dd0accd8afa6
* Version Independent ID: e08ff564-4170-905c-9e97-edf37e860b3f
* Cont

[2021-11-29 13:56] donlassini opened #8643 "Get-CsUserCallingSettings gives error to console and error stream for Online Application Instances"
Teams Online PowerShell module, version 2.6.2-Preview
on Windows Server 2019, build 17763.2114
running PS Desktop, version 5.1.17763.2090.

If you run Get-CsUserCallingSettings and provide the FQDN of a phone enabled Online Application Instance, you get errors.
I have not tested with a non-telephony-enabled application instance.

When I run
Get-CsUserCallingSettings -Identity UPN

I get this resul

[2021-11-29 17:35] chrisda commented on #8642
@myfope, see [Issue 7429](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for a greater explanation of why parameters with empty descriptions exist.

Are you using this parameter? Do you think you need to?

[2021-11-29 19:42] chrisda commented on #8628
@MarcLaf, I did some testing.

- There's more going on than just file extension checking. I renamed a .txt file to .wma, and the cmdlet didn't buy it; I got an "This isn't a valid WMA file" error.
- I'm going out on a limb and saying that PCM isn't supported; only WMA based on the error. FWIW, I got this same error in Exchange Server.
- To remove the spoken name, you should open a support case. Re

[2021-11-29 19:58] MarcLaf commented on #8628
@chrisda Thanks for looking into this. Even if the WMA is accepted, there's no indication that it's going to work (as in my current tests). Is there any way to find out if this is indeed supported on EXO? I'm wondering now if it's how I exported the WMA. The page indicates version 9 voice and I think I may not have version 9 codec and finding it has been a bit tricky. Once I can track down the pro

[2021-11-29 20:21] chrisda commented on #8628
@MarcLaf, don't hesitate to open the support case, which will get the question directly in front of people who need to provide answers. You're right in that it might not work (anymore?) in ExO. The fact that you can't remove values using Set-Mailbox etc. is ominous.

[2021-11-29 20:52] MarcLaf commented on #8628
@chrisda I think you may have hit on something with "might not work anymore". Apparently WMA 9 support was removed many years ago. According to Wikipedia "With the removal of Windows Media DRM in the Windows 10 Anniversary Update, Windows Media Encoder 9 is no longer compatible with the current version of Windows as of May 2017." So I'm wondering if this is just a deprecated feature and that's pro

[2021-11-30 00:40] chrisda commented on #8632
@gregiare, what version of the module and in what environment are you running? I just tried this in Windows PowerShell 5.1 running the module version 2.0.6-Preview3 and it worked fine.

But your question touches on something much older; I added that example based on Issue #7344. So, the command worked in v2.0.4, and the fix to make the output completely silent (no more "Disconnected Successfully!"

[2021-11-30 07:14] myfope commented on #8642
@chrisda Within the article the parameter will be used to configure HMA for OnPremises Exchange if we are on a system where HCW was run after September 2020 in this line:

`Set-AuthServer -Identity "EvoSTS - {GUID}" -DomainName "Tenant Domain" -IsDefaultAuthorizationEndpoint $true
Set-OrganizationConfig -OAuth2ClientProfileEnabled $true`

But I'm not sure what is with "Tenant Domain" meant?
The te

[2021-11-30 08:14] darwincr opened #8649 "Get-CsAutoAttendant, CsOnlineAudioFile filename is empty"
When I try to retrieve the CsOnlineAudioFile associated with an auto-attendant I am not able to, I can only get the ID of the CsOnlineAudioFile object but I cannot retrieve the filename with this information

This must be an issue with powershell as the filename is clearly visible from the Teams Admin Center
How can I retrieve the Filename for the CsOnlineAudioFile that is associated with an Auto-

[2021-12-01 00:02] nikki-c opened #8653 "MailboxRegion parameter needs updateing"
Currently for the parameter -MailboxRegion the description states
'This parameter is reserved for internal Microsoft use.'

This should be updated to state
This parameter is used to set the geo-location of the group in a multi-geo environment'
See reference
https://docs.microsoft.com/microsoft-365/enterprise/multi-geo-add-group-with-pdl

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-12-01 01:48] chrisda commented on #8631
@Ryu-Syrius, I disagree. I checked all the way back to v1.0.1 of the module, and ShowBanner has always been a switch parameter as described, which means:

- `-ShowBanner` or `ShowBanner:$true` do the same thing.
- Not using ShowBanner or `-ShowBanner:$false` *should* hide the banner, but the banner is shown by default, so not using ShowBanner actually shows the banner.

That's a bit weird, but the

[2021-12-01 01:58] chrisda commented on #8653
@nikki-c, I added a description for the MailboxRegion parameter in the New-UnifiedGroup and Set-UnifiedGroup topics.

Thanks for the feedback.

Closing

[2021-12-01 01:58] #8653 closed

[2021-12-01 02:32] chrisda commented on #8642
@myfope, did you get that line of code from a Microsoft article? If so, where?

[2021-12-01 06:22] yogkumgit commented on #8583
@tomkau Please help. Thanks

[2021-12-01 08:29] myfope commented on #8642
@chrisda I thought I had opened this issue related to this docs article where the command is listed: [https://docs.microsoft.com/en-us/microsoft-365/enterprise/configure-exchange-server-for-hybrid-modern-authentication?view=o365-worldwide#enable-hma](url)

It is listed within this section:

`Set-AuthServer -Identity "EvoSTS - {GUID}" -DomainName "Tenant Domain" -IsDefaultAuthorizationEndpoint $tru

[2021-12-01 09:49] WimVandierendonck opened #8655 "Set-UnifiedGroup -Language => error Execute-Command BadRequest"
**Version ExchangeOnlineManagement module**: 2.0.6-Preview3
**Command that generates the error**:  `Set-UnifiedGroup -Identity "TST 00088" -Language "nl-BE"`
**Error description**: Executing the command results in an 'Execute-Command BadRequest' error (see screenshot). The command works without issue, when I execute Set-Unifiedgroup with another parameter (UnifiedGroupWelcomeMessageEnabled) in the

[2021-12-01 17:27] chrisda commented on #8642
Well, they're certainly related. I'm asking for a definitive answer.

[2021-12-01 18:17] chrisda commented on #8640
Checking

[2021-12-01 18:26] vincentkurmi opened #8656 "How to test this cmdlet (Get-CsUserCallingSettings)?"
Hello,

I tried to test this cmdlet. But I don't see how to do it.
I have the latest release 3.0.0. and the cmdlet is not available.

`PS C:\windows\system32> Get-InstalledModule`
`Version    Name                                Repository           Description `
`-------    ----                                ----------           -----------

[2021-12-02 08:07] JensTrier commented on #8656
@vincentkurmi Thanks for the feedback and reaching out!.

The Get-CsUserCallingSettings cmdlet is not part of TPM 3.0.0, since the cmdlet is labelled as Preview and the 3.0.0 module is a GA module.

So as you assumed, you'll have to continue using 2.6.2-preview for now. I tried installing 2.6.2-preview on my machine using the documented cmd (like what you tried) and it worked fine for me. I used P

[2021-12-02 08:35] vincentkurmi commented on #8656
Thanks a lot for the feedback. I will try again on a different platform.

[2021-12-02 09:19] Ryu-Syrius commented on #8631
Understood.  Thank you for the clarification.

On Tue, Nov 30, 2021, 8:48 PM Chris Davis ***@***.***> wrote:

[2021-12-02 12:45] TCM69 opened #8659 "Get-TransportConfig"
I have EXO v2 installed, and get-command -module ExchangeOnlineManagement does not list Get-TransportConfig as an available command, however page say this applies to Exchange Online?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 948eb635-e7ee-c29f-9da9-20d53f52aed9
* Version Independent ID: eac78e0a-a643-c324-f2e8-ea7

[2021-12-02 16:59] #8631 closed

[2021-12-02 17:13] chrisda commented on #8659
@TCM69, first things first: few cmdlets are actually baked into the module, so you must [connect to Exchange Online PowerShell](https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell) to see the vast majority of Exchange Online cmdlets.

if you're using the latest "regular" version of the module (v2.0.5), Set-TransportConfig should be available to you after you connec

[2021-12-02 21:31] weyCC81 opened #8662 "Get-CsUserPstnSettingsm, Add Attribute handling"
**Received Message (No Attribute handling):**
`Get-CsUserPstnSettings`

**Expected Message:**
`Get-CsUserPstnSettings`

**Workaround**
`Get-CsUserPstnSettings -Identity [Username]`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4adcb580-485c-47f2-990f-a4ec1c5fcc89
* Version Independent ID: 40d62681-94d6-727a-4c57-8c42f

[2021-12-02 21:31] weyCC81 opened #8663 "Get-CsEffectiveTenantDialPlan, Add Attribute handling"
**Received Message (No Attribute handling):**
`Get-CsEffectiveTenantDialPlan`

**Expected Message:**
`Get-CsEffectiveTenantDialPlan`

**Workaround**
`Get-CsEffectiveTenantDialPlan -Identity [Username]`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a0c2ac-fb7d-1e55-280b-3c67a826b573
* Version Independent ID: 6eb4cdbf

[2021-12-02 21:44] chrisda commented on #8655
@WimVandierendonck, verified. The command works fine if you connect with the UseRPSession.

Use the following instructions to send information to the support alias:

## Report bugs and issues for the EXO V2 module

When you report an issue at `exocmdletpreview[at]service[dot]microsoft[dot]com`, be sure to include the log files in your email message. To generate the log files, replace \<Path to sto

[2021-12-02 21:46] weyCC81 opened #8664 "Expand description about Basic Auth. and Modern Auth."
**Part 1** - Basic Auth Disabled on Tenant

What commands are not working if Basic Auth. is disabled?
I have tested 95% of all "Get-Cs*" with Teams Powershell (Version 3.0.0) without any error while Basic Auth. was disabled.

**Part 2** - App-Only Authentification

When will this be supported for our unattended Scripts as Basic Auth. will the deprecated soon?
(https://techcommunity.microsoft.com/t

[2021-12-02 23:52] chrisda commented on #8629
@JakubK64, I received information that the order of properties was wrong. The correct order (highest to lowest, which I find easier to deal with) is:

|Permission|Decimal value|Binary value|
|---|:---:|:---:|
|PermissionToViewHeader|128|10000000|
|PermissionToDownload|64|01000000|
|PermissionToAllowSender|32|00100000|
|PermissionToBlockSender|16|00010000|
|PermissionToRequestRelease|8|00001000|
|P

[2021-12-03 00:54] chrisda commented on #8642
@myfope, I'm told the DomainName value is "contoso.onmicrosoft.com".  I'm also told that updates to both topics are forthcoming (either directly or something that will be emailed to me that I'll need to incorporate).

[2021-12-03 10:43] stephenwolf94 opened #8669 "SfBPowerShellSessionViaTeamsModule session availability is Busy"
Hi everyone,

When using multithreading for Teams PowerShell sessions, there is an error saying that "The session SfBPowerShellSessionViaTeamsModule_xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx, xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx, api.interfaces.records.teams.microsoft.com is not available to run commands.  The session availability is Busy"
When trying the exact same commands using 2 PowerShell windows

[2021-12-03 10:54] dariomws commented on #8581
@Markus-Hanisch @BJGGut3 work is in progress. You'll see the updates in this article a few hours after the following pull request is merged:
https://github.com/MicrosoftDocs/office-docs-powershell/pull/8667

[2021-12-03 10:55] dariomws commented on #8582
Same as https://github.com/MicrosoftDocs/office-docs-powershell/issues/8581.

[2021-12-03 11:00] dariomws commented on #8597
@platinarock - thank you for submitting feedback.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us poste

[2021-12-03 23:00] dariomws commented on #8614
@Petri-X - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Microsoft Teams better. They keep a close tab on user feedback and it would be awesome if you could add your voice in the Microsoft Feedback Portal: https://feedbackportal.microsoft.com/feedback/forum/ad198462-1c1c-ec11-b6e7-0022481f8472.

You might

[2021-12-03 23:07] dariomws commented on #8623
Hi @nikolas-x @sarollins, thank you for your feedback.

This is a well-known issue, the product team is aware of it. If you want to report it the best way forward is if you open a service ticket in your tenant.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-products.

Please keep us posted here on the resol

[2021-12-04 00:04] nikolas-x commented on #8623
Hi @dariomws

Thanks for the information. This issue was addressed in version 3.0 of the Teams module according to the patch notes but if I come across it again I will report it.

[2021-12-04 00:16] dariomws commented on #8623
Some more information:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/8194

If you share your result after trying it, I will appreciate it. Thanks!

[2021-12-06 06:34] yogkumgit commented on #8597
@dariomws  Thank you very much for the contribution and sharing this explanation. @platinarock Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share th

[2021-12-06 06:34] #8597 closed

[2021-12-06 06:40] yogkumgit commented on #8614
@dariomws Thank you very much for the contribution and sharing this explanation. @Petri-X Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-06 06:40] #8614 closed

[2021-12-06 06:45] yogkumgit commented on #8623
@dariomws  Thank you very much for the contribution and sharing this explanation. @sarollins Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2021-12-06 06:45] #8623 closed

[2021-12-06 06:58] yogkumgit commented on #8445
@kjacobsen We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2021-12-06 06:58] #8445 closed

[2021-12-06 07:03] yogkumgit commented on #8628
@MarcLaf Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will c

[2021-12-06 07:03] #8628 closed

[2021-12-06 07:05] yogkumgit commented on #8629
@JakubK64 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-06 07:05] #8629 closed

[2021-12-06 07:07] yogkumgit commented on #8632
@gregiare Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-06 07:07] #8632 closed

[2021-12-06 07:08] yogkumgit commented on #8642
@myfope Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-06 07:08] #8642 closed

[2021-12-06 07:10] yogkumgit commented on #8655
@WimVandierendonck Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required.

[2021-12-06 07:10] #8655 closed

[2021-12-06 07:13] yogkumgit commented on #8659
@TCM69 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-06 22:00] chrisda commented on #8640
@mike-pshell, I updated the description as you stated.

Thanks for the feedback.

Closing

[2021-12-06 22:00] #8640 closed

[2021-12-07 23:37] ardentgregadmin opened #8691 "Get-CSOnlineUser Prompting for WinRM Basic Authentication"
After connecting to MicrosoftTeams using the MicrosoftTeams Module, Get-CSOnlineUser returns the following error.
[code]
When will this command work without the need of basic auth? The exchange online cmdlet now works without basic auth so I'm hoping this is on the roadmap for teams.

[2021-12-08 00:56] #8626 closed

[2021-12-08 01:05] #8641 closed

[2021-12-08 06:17] yogkumgit commented on #8609
@dariomws

[2021-12-08 08:49] dariomws commented on #8609
Hi @Petri-X, thank you for your feedback.

I'm trying to get more information about this cmdlet.

[2021-12-08 09:52] vincentkurmi commented on #8664
Hi @weyCC81,

I am working on the same topic and as you can see, it doesn't work on y side.

![image](https://user-images.githubusercontent.com/52075388/145187031-5fe8e57f-9921-4975-842d-0b6f641fb406.png)

Regards,

Vincent

[2021-12-08 09:53] vincentkurmi commented on #8691
This issue #8664 is also on this topic.

[2021-12-08 09:59] vincentkurmi commented on #8664
Just to be sure, you have two configurations, one for the service and one for the client. The basic authentication must be enabled for the client.

![image](https://user-images.githubusercontent.com/52075388/145188151-529632b9-6d38-4d5d-aeaf-a6ec2ecff217.png)

[2021-12-08 12:31] TCM69 commented on #8659
Thanks. I removed my preview module of ExchangeOnlineManagement and installed latest production build and now it works. Should have though of this before...

[2021-12-08 15:13] DEberhardt opened #8696 "New-CsTeamsEmergencyCallingPolicy references ECRP"
Can't raise a PR right now, but it looks as if this was posted from the ECRP and not updated (Example1)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fe9f7ba-98ec-1f20-7154-de77e6a38543
* Version Independent ID: 81e7837c-3c13-b6f1-2e89-6bb9e822dde6
* Content: [New-CsTeamsEmergencyCallingPolicy (SkypeForBusiness)](htt

[2021-12-08 16:09] #8659 closed

[2021-12-08 18:38] weyCC81 commented on #8664
Hi @vincentkurmi

I am not able to reproduce this issue, but I did not change any settings on the client.
What I did is the following on my Demo-Tenant:
- Microsoft 365 > Settings > Services > Modern authentication > Disable everything expected of Modern Auth (first Entry)
- Azure AD > Conditional Access > User: Admin which I use in Script, Condition: Client App for Basic Auth, Action: Block

Veri

[2021-12-09 08:38] dannydpa commented on #8583
I have the same issue. I tested this with version MicrosoftTeams 3.0.0

[2021-12-09 08:54] dariomws commented on #8583
Hi @BJGGut3 and @dannydpa,

You can disable this feature completely using **EnableTeamsConsumerAccess**. Set-CsExternalAccessPolicy allows you to be discoverable by people who are using Teams with an account that's not managed by an organization. It also controls if people who have who are using Teams with an account that's not managed by an organization can start the communication with the user.

[2021-12-09 09:01] vincentkurmi commented on #8664
Ok, for me the warning below was only relative to Remote Powershell and WinRM. But you are right, I think this point needs to be clarify in the documentation.

![image](https://user-images.githubusercontent.com/52075388/145365668-9fc5c86e-01f8-41da-9f0a-087295525d1d.png)

[2021-12-09 09:07] dannydpa commented on #8583
Hi @dariomws,

I have completely disabled at tenant level Set-CsTenantFederationConfiguration

AllowTeamsConsumer                  : False
AllowTeamsConsumerInbound           : False

and via Set-CsExternalAccessPolicy.

EnableTeamsConsumerAccess         : False
EnableTeamsConsumerInbound        : True     (this setting can’t be changed)

End user still receive Teams consumer messages but can’t re

[2021-12-09 09:12] dariomws commented on #8583
Thank you @dannydpa, please keep us posted here on the resolution.

[2021-12-09 09:15] dannydpa commented on #8583
I will and thank you for your reply

[2021-12-09 10:51] trudolf-msft opened #8700 "Some parameters are not described correctly"
Some parameters are not described correctly. Please update.

Example:
UserIsMemberOf
This parameter is reserved for internal Microsoft use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43667016-c662-727c-4566-9356330b0665
* Version Independent ID: decd796f-a731-2289-87d7-ee173788025c
* Content: [New-ClientAccessRule

[2021-12-09 14:56] Obenscripe opened #8701 "Its a small thing but important."
Sorry - Ignore me I found it was something entirely different.

:-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e3a1bd0-e10f-e474-10bc-3dee0c62e26e
* Version Independent ID: ac10fb30-ad75-1979-6c03-0b8c9316e14b
* Content: [Get-EXOMailboxFolderPermission (ExchangePowerShell)](https://docs.microsoft.com/en-us/powersh

[2021-12-09 15:13] #8701 closed

[2021-12-10 14:52] vincentkurmi commented on #8656
The answer was here: #29999

[2021-12-10 14:59] JensTrier commented on #8656
BTW updated Get cmdlet is in 3.0.1-preview module just released. There is also Set cmdlet now. Documentation is being published

[2021-12-10 15:02] vincentkurmi commented on #8656
Yes thank you, I just saw it as well. I am trying to install it.
BTW I don't know how to be notified by a new release.

[2021-12-10 22:58] DEberhardt commented on #8696
https://github.com/MicrosoftDocs/office-docs-powershell/pull/8706

[2021-12-13 08:37] dariomws commented on #8649
Hi @darwincr, thank you for your feedback.

Did you try with [Export-CsOnlineAudioFile](https://docs.microsoft.com/powershell/module/skype/export-csonlineaudiofile)?

[2021-12-13 08:44] dariomws commented on #8643
Hi @donlassini, thank you for your feedback.

This cmdlet is currently in public preview and I understand you can run it to get settings for standard users, not for Online Application Instances.
Anyway, if you want to double-check, please try the latest preview version for the Teams PowerShell module:
https://www.powershellgallery.com/packages/MicrosoftTeams/3.0.1-preview

[2021-12-13 08:55] dariomws commented on #8662
Hi @weyCC81, thank you for your feedback.

I've tested it with the latest version of the Teams PowerShell Module (3.0.0) and it works:
<img width="435" alt="image" src="https://user-images.githubusercontent.com/33589238/145781591-1397a887-df71-4397-9907-fb7cef9a901f.png">

[2021-12-13 08:56] dariomws commented on #8663
Hey @weyCC81, same here:
<img width="480" alt="image" src="https://user-images.githubusercontent.com/33589238/145781706-0ffe6393-f4ec-44c6-b7cd-7a9e7f9db2f9.png">

[2021-12-13 09:10] dariomws commented on #8664
Hi @weyCC81 and @vincentkurmi,

I understand that work is in progress to suppress the requirement for basic authentication on *-Cs cmdlets. Stay in touch here:
https://docs.microsoft.com/microsoftteams/teams-powershell-release-notes

[2021-12-13 09:29] dariomws commented on #8691
Hi @ardentgregadmin, thank you for your feedback.

This is on the roadmap, yes, but I cannot provide an ETA now. Please check the following website for any updates:
https://docs.microsoft.com/microsoftteams/teams-powershell-release-notes

[2021-12-13 10:12] dariomws commented on #8669
Hi @stephenwolf94, thank you for your feedback.

There is a limit of 3 concurrent sessions per credential in the different Microsoft 365 services for PowerShell, and I think 10 concurrent sessions per tenant.

[2021-12-13 17:27] weyCC81 commented on #8664
Hi @dariomws
In regards to **Part 2 - App-Only Authentification**

Will this be release soon?
or is it possible to use Connect-MgGraph with App-Only and aquire the AccessTokens this way?

[2021-12-14 05:45] yogkumgit commented on #8643
@dariomws Thank you very much for the contribution and sharing this explanation. @donlassini Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-14 05:46] #8643 closed

[2021-12-14 05:49] yogkumgit commented on #8662
@dariomws Thank you very much for the contribution and sharing this explanation. @weyCC81 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-14 05:49] #8662 closed

[2021-12-14 05:51] yogkumgit commented on #8663
@dariomws Thank you very much for the contribution and sharing this explanation. @weyCC81 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-14 05:51] #8663 closed

[2021-12-14 05:54] yogkumgit commented on #8669
@dariomws  Thank you very much for the contribution and sharing this explanation. @stephenwolf94
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share

[2021-12-14 05:54] #8669 closed

[2021-12-14 05:57] yogkumgit commented on #8691
@dariomws Thank you very much for the contribution and sharing this explanation. @ardentgregadmin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-14 05:57] #8691 closed

[2021-12-14 09:48] TOH2F commented on #8537
Hello,
is there a solution? I have the same problem

[2021-12-14 10:25] dariomws commented on #8664
@weyCC81, I understand that the use of AccessTokens parameter is supported.

More information:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/8194

And the token refresh issue was fixed on 3.0.0:
https://docs.microsoft.com/microsoftteams/teams-powershell-release-notes

[2021-12-14 14:44] MatsAnd commented on #8623
Hi @yogkumgit,
I had the same issue when connecting with a service principal, so I reached out to Microsoft support about this, and got this response:

When asked for an ETA on when support for service principals/applications is re-added, i got the following ETA:

[2021-12-14 17:33] #8656 closed

[2021-12-15 05:45] yogkumgit commented on #8649
@dariomws Thank you very much for the contribution and sharing this explanation. @darwincr Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-15 05:45] #8649 closed

[2021-12-15 10:37] weyCC81 commented on #8664
Hi @dariomws

Where can i find the official documentation of that with a certificate instead of a client secret, which i can send to the customer?

_Is there really no simple option to connect with a certificate as app-only like:
•	Connect-MgGraph is able to do it
•	Connect-ExchangeOnline is able to do it
•	Connect-AzureAD is able to do it_

[2021-12-16 08:37] dariomws commented on #8664
@weyCC81, authentication using a certificate was removed on version 2.4.1-preview. To connect from an unattended script you should use the -AccessTokens parameter instead.

[2021-12-16 08:49] vincentkurmi commented on #8664
As explained in this issue #8623, the -AccessTokens parameter still has some limitations.
For me, at the date, the only serious way to be connected to Teams is to use the -Credential parameter.
I tried many times the AccessTokens without any success.

The issue here, is the customers see the documentation and they require to us to use accesstoken, which seems to be not possible before march.
Is it

[2021-12-16 09:01] dariomws commented on #8664
I'll check if we can add a note here about the limitation for applications.

[2021-12-16 09:47] sgrienen opened #8721 "AllRequestInPolicy: $true of $false is default ?"
Hi,

[...]
-AllRequestInPolicy

The AllRequestInPolicy parameter specifies whether to allow all users to submit in-policy requests to the resource mailbox. Valid values are:

**$true:** All users are allowed to submit in-policy requests to the resource mailbox. These requests require approval by a resource mailbox delegate if the AllBookInPolicy parameter is set to $false **(the default value is $

[2021-12-16 15:06] weyCC81 commented on #8664
Why?, this makes not sense and Microsoft wants to deprecate basic auth. => looks not like they are ready...

[2021-12-16 15:12] dariomws commented on #8664
@weyCC81, AccessTokens don't use basic auth, it uses OAuth.

[2021-12-16 16:25] JensTrier commented on #8696
Thanks, I'll create a PR to fix this

[2021-12-16 17:29] JensTrier commented on #8696
https://github.com/MicrosoftDocs/office-docs-powershell/pull/8722

[2021-12-17 01:40] chrisda commented on #8721
@sgrienen, I can see how that would be confusing. It should read (change in bold):

I updated the topic accordingly.

Thanks for the feedback.

Closing

[2021-12-17 03:35] exactmike opened #8727 "improper table display in chromium browsers"
the table in this article does not display properly in chromium browsers.  The right hand columns are cut off in the display.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce35226-b40b-3c9f-a37f-585b84aa129e
* Version Independent ID: ac9953e2-769a-c115-b1c6-e6f6fc940db2
* Content: [Filterable properties for the Filte

[2021-12-17 17:03] IT-Sumpfling opened #8729 "TenantId parameter no longer working"
As a CSP we use the MicrosotTeams-Module a lot - and while the TenantId-Parameter has allowed to manage our customers tenants up to version 2.3.0 of the Module, it now no longer works.

When connecting with 3.0, it reflects the correct TenantId (of the customer), but when doing e.g. a Get-CsOnlineUser users from the CSP-TEnant are returned instead of from the customer-Tenant.

---
#### Document De

[2021-12-18 10:11] JensTrier commented on #8696
Didn't realized your PR.

[2021-12-18 11:41] DEberhardt commented on #8696
no worries, closed mine as I've seen you have covered it already

[2021-12-19 03:20] chrisda commented on #8727
@exactmike, I don't think it displays "correctly" (rather, completely) in any browser: you need to use the left and right arrow keys to scroll the entire width of the table.

This is a longstanding issue. I've been told there isn't anything we can do about it.

[2021-12-20 08:44] sgrienen commented on #8721
Dear Chris,

Thanks for answering, but I'm still confused, why "This is the default
value" under $false ?

Cheers,
Stéphane

Le ven. 17 déc. 2021 à 02:40, Chris Davis ***@***.***> a
écrit :

[2021-12-21 11:02] JensTrier commented on #8696
my changes have been merged, feel free to close this issue

[2021-12-22 10:25] michevnew opened #8733 "Domain information missing from output"
None of the examples listed in the document, nor anything else we've tried returns Domain information in the output. In addition, using -Domain All causes no data to be returned. So can you please clarify whether this is still an available data field, and update the examples accordingly?

Here's sample output:

PSComputerName     : outlook.office365.com
RunspaceId         : a35cca59-8bb2-400e-9db6

[2021-12-22 13:47] fjuhasz opened #8734 "Contradiction in parameters"
Hi,

If you compare the -CustomAlertText parameter that states the following: ".....This parameter is only meaningful when the Action parameter value is ReplaceWithCustomAlert." with the content at the -Action parameter you will see that the ReplaceWithCustomAlert is not existing.

It would be important for me to see how to configure the system to use the custom alert text.
Currently the EXO is no

[2021-12-22 22:28] m-doniec opened #8735 "Connect-MicrosoftTeams does not work on consecutive runs of Azure Powershell Function"
Hello, I'm trying to connect to Teams from Azure Powershell Function.
Even though I do disconnect in a try{}finally{} block with Disconnect-MicrosoftTeams, I am not able to connect on the next run of the function.
I have already checked removing sessions/runspaces, but to no avail.
It works for the first run after deployment/functionapp restart.
The goal is to have the function triggered by a time

[2021-12-28 07:43] dannydpa commented on #8583
Microsoft is working on the issue and expects to solve this end of January 2022/ early February 2022.

[2021-12-28 08:26] arbilus opened #8739 "Bug ? - Set-OutboundConnector"
Hello,

I'm facing an issue with a send connector in Exchange Online and something strange is happening.
Even if this send connector is used "From Office 365 to Exchange server Organization" for all recipient who is in the accepted domains configured in Exchange Online, all e-mails sent from Office 365 to Internet domains (like @gmail.com for exemple...) are using this send connector. Which should

[2021-12-28 14:18] Veers01 opened #8742 "Setting LineURI with extension no longer work in version 3.0.1-preview"
When I try to set a new lineURI (or OnPremLineURI) for a user with a extension (ex: tel:+11234567890;ext=1234), I have the error:

[code]

[2021-12-28 16:25] sarollins opened #8743 "Domain attribute missing?"
I'm running v3.0.0 of the MicrosoftTeams PowerShell module and PowerShell 5.1.  I noticed when I do a

Get-CsTenant | Get-Member, I no longer see the Domains attribute listed

Get-CsTenant | Get-Member

   TypeName: Microsoft.Teams.ConfigAPI.Cmdlets.Generated.Models.Tenant

Name                             MemberType Definition
- -                              - - - - -  - - - - -
Equals

[2021-12-28 22:47] sarollins opened #8744 "Unexpected number of results found for query 2"
I'm running version 3.0.0 of the MicrosoftTeams PowerShell module.  In previous versions of the module, this used to work

Set-CsOnlineVoiceUser -Identity 'user@company.com' -TelephoneNumber '+16123999524' -LocationID 'C315C078-0C35-43C7-865B-757CE0C5C740'

When I do this in 3.0.0, I get the following error

Microsoft.Teams.ConfigAPI.Cmdlets.internal\Set-CsUserGenerated : Unexpected number of resu

[2021-12-29 06:19] #8696 closed

[2021-12-29 15:16] JensTrier commented on #8742
Thanks for reporting this! We'll investigate.

In the meantime feel free to try out the new cmdlet for setting phone numbers on users and resource accounts https://docs.microsoft.com/en-us/powershell/module/teams/set-csphonenumberassignment?view=teams-ps

[2021-12-30 16:29] sarollins commented on #8743
Since writing this, I have un-installed and re-installed version 3.0.0 of the PowerShell module, but still do not see Domains as a valid attribute.  And another co-worker of mine sees the same behavior on their computer, using my same credentials and also another user (same token credentials though)

[2021-12-30 18:21] dariomws commented on #8735
Hi @m-doniec, here we are limited to documentation issues and improvements.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microsoft.com/office365/admin/contact-support-for-business-produc

[2021-12-30 18:27] dariomws commented on #8743
Hi @sarollins, thank you for your feedback.

I'm not sure if I understand this. I have run this command on a demo tenant and I can see SipDomain and VerifiedDomains. I do not have a Domains attribute.

[2021-12-30 18:29] dariomws commented on #8744
Hi @sarollins, thank you for your feedback.

Here we are limited to documentation issues and improvements and I don't have an environment to test this command. I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business produ

[2021-12-30 18:32] dariomws commented on #8729
Hi @IT-Sumpfling, thank you for your feedback.

Here we are limited to documentation issues and improvements. I'm not sure if I can help you.

I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs

[2022-01-03 12:00] yogkumgit commented on #8729
@dariomws  Thank you very much for the contribution and sharing this explanation. @IT-Sumpfling
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share t

[2022-01-03 12:01] #8729 closed

[2022-01-03 12:04] yogkumgit commented on #8735
@dariomws  Thank you very much for the contribution and sharing this explanation. @m-doniec Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-01-03 12:04] #8735 closed

[2022-01-03 12:16] yogkumgit commented on #8744
@dariomws  Thank you very much for the contribution and sharing this explanation. @sarollins Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-01-03 12:18] #8744 closed

[2022-01-03 17:22] chrisda commented on #8721
@sgrienen, the default value of the AllRequestInPolicy property from Get-CalendarProcessing on any/every mailbox is $false.

I ran the following commands on an Exchange 2019 server and in an E5 tenant:

[code]

The result for every mailbox was False: user mailboxes, room mailboxes, equipment mailboxes, etc..

[2022-01-03 18:44] chrisda commented on #8734
@fjuhasz, fundamentally the problem was a typo (correction in bold):

Malware policies and default/custom notifications are all described [here](https://docs.microsoft.com/microsoft-365/security/office-365-security/configure-anti-malware-policies#use-the-microsoft-365-defender-portal-to-create-anti-malware-policies).

But, I also know that these legacy "notification" options are in the process of

[2022-01-03 23:07] chrisda commented on #8733
@michevnew, I don't know if this answers your questions, but I've made some updates to the topic based on testing:

- The following values are returned in the output:
  - Date
  - Event Type
  - Direction
  - Verdict Source
  - Message Count
- The Domain parameter doesn't appear to take the value 'All', but you can use Get-AcceptedDomain to see all accepted domain values, and you can enter multipl

[2022-01-03 23:27] chrisda commented on #8739
@arbilus, you should open a support case about this. If anything documentation related comes out of it, report back here.

[2022-01-04 08:01] michevnew commented on #8733
Thanks Chris, that would do.

[2022-01-04 08:01] #8733 closed

[2022-01-04 09:05] yogkumgit commented on #8734
@fjuhasz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-04 09:06] yogkumgit commented on #8734
d

[2022-01-04 09:06] #8734 closed

[2022-01-04 09:10] yogkumgit commented on #8739
@arbilus Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation wit

[2022-01-04 09:10] #8739 closed

[2022-01-04 12:22] JensTrier commented on #8742
I'm told we have fixed this and it will be available with the next release.

[2022-01-04 14:24] SimpleInfoSec opened #8752 "Get-DLPDetailReport EndDate parameter does not include results from that day"
The StartDate and EndDate parameters behave differently with this cmdlet. The StartDate parameter includes all results **on or after** the specified date, however the EndDate parameter only includes results before that date, **not on it**. This leads to missing data in the specified range as data from the EndDate is excluded.

Example: If the StartDate is 01/01/2022 (MM/DD/YYYY) and the EndDate is

[2022-01-04 18:59] SimpleInfoSec commented on #8752
After reading through some other closed comments, it appears this is not the place to submit bugs, so I'm closing this and will open a support request.

[2022-01-05 09:26] vincentkurmi commented on #8664
Hi @dariomws, did you get a confirmation for this note?

[2022-01-05 15:03] yogkumgit commented on #8742
@Veers01 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-05 15:03] #8742 closed

[2022-01-05 15:10] yogkumgit commented on #8609
@dariomws

[2022-01-05 21:32] dariomws commented on #8664
@vincentkurmi, no yet, I'm working on it.

[2022-01-06 14:03] Karthikeyan44 opened #8761 "Set-MailboxCalendarConfiguration | OnlineMeetingsByDefaultEnabled Attribute"
[Hi Team, User level setting for OnlineMeetingsByDefaultEnabled attribute using the command "Set-MailboxCalendarConfiguration -Identity user1@contoso.com –OnlineMeetingsByDefaultEnabled $false/$true" is not taking effect. Though the command completes without any error but the setting is not taking effect for individual users. We had disable the OnlineMeetingsByDefaultEnabled attribute at org level

[2022-01-06 14:18] philada opened #8762 "Quarantine Parameter availability"
Hi,

I have noticed that the quarantine parameter has appeared in the following version of this documentation (https://github.com/aamalhot/office-docs-powershell/blob/patch-12/exchange/exchange-ps/exchange/Set-DlpComplianceRule.md#notes) but not in the live version.
I would require this feature urgently for my work. Is there an update on the availability of the Quarantine parameter on the Set-DlpC

[2022-01-06 17:23] chrisda commented on #8761
@Karthikeyan44, are you saying the current documentation is incorrect?

- OnlineMeetingsByDefaultEnabled in Set-MailboxCalendarConfiguration:

  Valid values are:

  - $true: All meetings are online by default.
  - $false: All meetings are not online by default.
  - $null: The value of the OnlineMeetingsByDefaultEnabled parameter on the Set-OrganizationConfig cmdlet (the organizational setting) is

[2022-01-06 17:26] Karthikeyan44 commented on #8761
Documentation is correct, but the individual mailbox setting to “$false” was not working. We tested with few mailboxes and waited around 24 hours but still by default Teams meeting was included in every calendar invite.

From: Chris Davis ***@***.***>
Sent: 06 January 2022 22:54
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Ramamoorthi, Karthikeyan ***@***.***>; Mention ***@***.***>
Su

[2022-01-06 17:33] chrisda commented on #8761
@Karthikeyan44, your best way forward is to open a support case to see if this is a bug or is by design. Report back here with the results.

[2022-01-06 17:38] Karthikeyan44 commented on #8761
Hi Chris, I did opened support case#28882165, they agreed this could be a bug for the new feature as per MC267584. Asked me to submit feedback.

From: Chris Davis ***@***.***>
Sent: 06 January 2022 23:04
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Ramamoorthi, Karthikeyan ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powershell] Set-MailboxCalendarConfigu

[2022-01-06 18:03] chrisda commented on #8762
@philada, I was waiting for greater saturation of the new parameters before I accepted the updates (the new parameter wasn't visible to me in my standard PROD E5 tenant at the time the pull request was created).

The parameters are visible to me now, so I approved the additions.

Thanks for the feedback.

Closing

[2022-01-06 18:09] Karthikeyan44 commented on #8761
Yup, I get it. Documentation is good, I am sure it’s a bug on command. I think there is confusion where to update feedback, as I see, this forum is for document, which is not an issue. I will follow up Microsoft contacts.

I apologize for the confusion here. Thanks Chris!

From: Chris Davis ***@***.***>
Sent: 06 January 2022 23:31
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Ramamoort

[2022-01-06 18:14] philada commented on #8762
Thanks for approving this. Can you confirm that you can see the quarantine parameter is available to use within PowerShell? Reason I ask is I don't have the Set-DlpCompliancePolicy -Quarantine parameter available from within PowerShell from my recent test however if you can see it yourself it may just be a little time before I see it?

[2022-01-06 18:16] chrisda commented on #8762
I was told full saturation should happen by the end of this week (it's Thursday now for me).

[2022-01-06 19:13] cablechewer opened #8767 "Example contains a typo"
The example currently shows:

[code]

There should be a - placed before RetentionDurationDisplayHint just like there is on RetentionDuration.  Without it the command cannot be copied and pasted.

It should look like this to get the syntax right:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1940291b-6ed0-8a96-

[2022-01-06 19:17] cablechewer opened #8768 "ContentMatchQuery available properties"
This article currently links to https://docs.microsoft.com/sharepoint/dev/general-development/keyword-query-language-kql-syntax-reference as part of the description for ContentMatchQuery.  I believe it should also link to https://docs.microsoft.com/microsoft-365/compliance/keyword-queries-and-search-conditions.
This second article is a more complete list of properties that can be queried, but I do

[2022-01-06 19:33] chrisda commented on #8767
@cablechewer, fixed. Interestingly enough, that same typo was also present in the example in Set-AppRetentionComplianceRule.

In the future, you too can fix things like this yourself; no need to open a GitHub issue first. Instructions are [here](https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md).

Thanks for the feedback.

Closing

[2022-01-06 19:33] #8767 closed

[2022-01-06 19:47] chrisda commented on #8768
@cablechewer, the ContentMatchQuery parameter exists in 9 other cmdlets (including New-RetentionComplianceRule), and they all contain the same text and link:

That additional link you suggest appears to be tailored for eDiscovery. So are you saying the addition should go into New/Set-RetentionComplianceRule only?

These are the other affected cmdlets/topics:

- New-AppRetentionComplianceRule
- New

[2022-01-06 22:59] IPFR33LY opened #8770 "Incomplete "set-label" documentation"
Set-label does not properly specify what can be used within the "label action" key.

Unable to do multi line label markings for use inside documents footers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf754e37-7113-f7d1-ad1e-ef0c3eb5b5e7
* Version Independent ID: 1b20db7d-a508-8523-2309-a3d9f5d08dd7
* Content: [Set

[2022-01-06 23:58] chrisda commented on #8770
@IPFR33LY, the current description of the LabelActions parameter in New/Set-Label is "reserved for internal Microsoft use".

Are you saying this is (now) incorrect? It must have been true at some point...

[2022-01-07 00:25] IPFR33LY commented on #8770
@chrisda

My mistake. It's been a long day. I didn't even see that part. 🤣

I was messing with it all day. Thanks for pointing that out.

I should ask though. Is it possible to do multi-line markings with sensitivity labels? I noticed there's the ability to remove multi-line markings.

[2022-01-07 00:31] chrisda commented on #8770
@IPFR33LY, I don't know. You might check the regular label documentation at <https://docs.microsoft.com/microsoft-365/compliance/>; if you can do it in the UI, you can almost certainly do it in PowerShell. Another option would be to open a support case and ask.

[2022-01-07 01:03] #8770 closed

[2022-01-07 01:25] cablechewer commented on #8768
I was suggesting it because it offers a much larger list of properties people can search.

I am beginning to wonder if there is any value to saying "for a larger, but still incomplete, list of properties you can search please see this eDiscovery article."

According to a couple of other articles you should be able to search anything eDiscovery can and all the Managed Properties in SPO/ODfB.

I nee

[2022-01-07 03:44] wtfiwtz opened #8772 "Testing EWS impersonation from PowerShell (Exchange Online)"
Hi Microsoft gurus,

Is there a way to issue the `Test-MAPIConnectivity` or an equivalent PowerShell command from the `ExchangeOnline` module? I don't have access to an on-premise Exchange Server ISO which is required to install the `ExchangePowershell` on-premise module successfully.

In the end, I used this page to check the impersonation was working:
https://testconnectivity.microsoft.com/tests

[2022-01-07 06:59] michevnew opened #8773 "Import-ContactList no longer available?"
It looks like the cmdlet was removed a while back, and we no longer have access to it. Can you please confirm this and if true, add a note to this page (or remove it altogether)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e0b88da-0741-d4c9-d034-1c4c9e6d5837
* Version Independent ID: c94808a8-62f1-0449-a941-7eee701c

[2022-01-07 16:57] alesysadmin75 commented on #8537
Hello,
same here.
It works individually "If the user Deletes there current signature from Outlook Online and ensures both For New Messages, For Replies/Forwards = (No signature) this then oddly falls back to whatever is defined in the SignatureHTML property."
But isn't a solution if you have hundreds of accounts to manage or updates.

I can't believe there is no documentation or solution about tha

[2022-01-07 17:33] gunthers123 opened #8775 "Invalid filter syntax errors using example from ComplianceSecurityFilter documentation"
There appears to be a problem using **MailboxContent** filters with ComplianceSecurityFilters.  I'm receiving `Invalid filter syntax` errors when using the examples from the ComplianceSecurityFilter documentation page.

I'm attempting to create a ComplianceSecurityFilter with a mailbox content filter using the following code:
[code]

But I am getting the following error:
[code]

I am able to succe

[2022-01-07 18:15] chrisda commented on #8773
Cmdlet was available as of October, but it's not available today in my E5 tenant.

[2022-01-07 18:27] chrisda commented on #8537
@alesysadmin75, @TOH2F and anyone else: if this change in functionality affects you, I highly recommend that you open a support case about it if you haven't already.

[2022-01-07 23:19] chrisda commented on #8772
@wtfiwtz, [Test-MAPIConnectivity](https://docs.microsoft.com/powershell/module/exchange/test-mapiconnectivity) is available in Exchange Online. You have to connect to Exchange Online PowerShell as described [here](https://docs.microsoft.com/powershell/exchange/connect-to-exchange-online-powershell). Very few cmdlets [exist inside the EXO V2 module itself](https://docs.microsoft.com/powershell/exch

[2022-01-07 23:22] wtfiwtz commented on #8772
Thanks! Yes that worked ok too. Was just interested in the alternatives.

On Sat, 8 Jan 2022 at 10:20 am, Chris Davis ***@***.***>
wrote:

--

*Dr Nigel Sheridan-Smith PhD* / Principal
*Green Shores Digital*

[image: Twitter]  <https://twitter.com/GreenShoresAU>[image: Linkedin]
<http://au.linkedin.com/in/nsheridansmith>

*M*: +61 403 930 963
*E*: ***@***.***
*W*: http://www.greenshoresdigital.com

[2022-01-07 23:22] #8772 closed

[2022-01-08 04:52] yogkumgit commented on #8761
@Karthikeyan44 If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-08 04:52] #8761 closed

[2022-01-08 05:00] yogkumgit commented on #8721
@sgrienen Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-08 05:01] #8721 closed

[2022-01-08 05:03] yogkumgit commented on #8727
@exactmike Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-08 05:03] #8727 closed

[2022-01-08 17:15] wojcib commented on #8537
Here is my advice for everyone that would like the cmdlet to work again. What I did:
In portal.office.com -> Administration -> Help -> Create new ticket.
In my particular case it took Microsoft 3 weeks, to disable 'multiple signatures' functionality. The powershell cmdlet works now.

There is no workaround. Only disabling mutliple signatures functionality by MS support.

[2022-01-08 18:40] grryf commented on #8537
So documentation is wrong for many people and we can't mention it in
documentation?

On Sat, Jan 8, 2022, 18:15 wojcib ***@***.***> wrote:

[2022-01-09 01:38] drewhjelm opened #8778 "WSMan Install on Mac/Linux"
Can you please make the WSMan section a bit more clear that it applies to both Linux and Mac? The instructions on this page kind of make it seem like with Mac you don't need to install WSMan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f

[2022-01-10 18:03] chrisda commented on #8778
@drewhjelm, thanks for pointing this out. I thought I made updates for Mac soon after the updates for the Linux section.

From what I can tell, the only difference between the Linux and Mac instructions are Mac also requires the installation of OpenSSL (at least according to the [Installing PowerShell on macOS](https://docs.microsoft.com/powershell/scripting/install/installing-powershell-on-macos)

[2022-01-10 18:03] #8778 closed

[2022-01-10 18:07] chrisda commented on #8773
@michevnew, I removed the Import-ContactList topic and redirected it here:

<https://support.microsoft.com/office/import-contacts-to-outlook-bb796340-b58a-46c1-90c7-b549b8f3c5f8>

Thanks for the feedback.

Closing

[2022-01-10 20:00] MIBadran opened #8787 "Applies to Teams OR SfB??"
it says its for Teams but at the top of the page says applies
![Screenshot 2022-01-10 145947](https://user-images.githubusercontent.com/29442211/148831114-be3950e8-5614-47e2-9d86-7358c910d631.png)
 to SfB Online!!!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f193d2b-d756-e08c-1770-03820c9561c9
* Version Independent

[2022-01-10 21:06] mariussm commented on #8106
Following. I can not get this to work. Have tried both client credential grant and delegated flows. Documentation is clear enough I think - it just doesn't **work**. :(

[2022-01-10 21:11] mariussm commented on #8664
Can someone please see if they can actually get AccessTokens way of connecting to work? I have tried both delegated flows (implicit flow for testing) and client credential grant without success.

[code]

[2022-01-10 21:36] mariussm commented on #8664
Got it working with access token actually. Added PR: https://github.com/MicrosoftDocs/office-docs-powershell/pull/8788

[2022-01-11 07:11] weyCC81 commented on #8664
Finally i get the answer form Microsoft (Developer Team), i think i am sharing this so not everybody has to open a Ticket and can find it in the documentation. It is far from what i wished and hopping for March 2022 with Certificate Authentication.

_(Solution is yet to test/verifiy)_

[2022-01-11 12:53] yogkumgit commented on #8743
@dariomws Thank you very much for the contribution and sharing this explanation. @sarollins Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-11 12:53] #8743 closed

[2022-01-11 14:31] pmehrwald opened #8791 "Clarification on "... route all calls to ...""
Hi,

in the article it says
`This example creates a treatment that will route all calls to the number range +1 (555) 333-0000 to +1 (555) 333-9999 to the announcement service, where the audio file MainAnnouncement.wav will be played to the caller.`
as well as
`This example creates a treatment that will route all calls to the number +1 (555) 222-4444 to the user user@contoso.com.`

However, this is

[2022-01-11 14:35] JensTrier commented on #8791
@pmehrwald  Thanks for the feedback! Great point and I agree. I'll change the text for the example to include that caveat and also call it out in the Notes section

[2022-01-11 14:39] StoukSword opened #8792 "Clear Telephone number error"
When I am using this command to clear the user's telephone number.

`Set-CsOnlineVoiceUser -Identity user@domain.com -TelephoneNumber $null`

I have an error this error

Microsoft.Teams.ConfigAPI.Cmdlets.internal\Set-CsUserGenerated : Value cannot be null.
Parameter name: Value cannot be null or empty.

[2022-01-11 16:22] JensTrier commented on #8792
Thanks for feedback!

I don't know which version of Teams PS Module you are using, but I'm not able to repro the issue on the latest GA module 3.0.0. In that version Set-CsOnlineVoiceUser -Identity user@domain.com -TelephoneNumber $null works for me.

You could also try using the new Teams PS cmdlet [Remove-CsPhoneNumberAssignment](https://docs.microsoft.com/en-us/powershell/module/teams/remove-cs

[2022-01-11 17:41] markjjo commented on #8775
@gunthers123 Thanks for the feedback. Please try using the following syntax:

-Filters "MailboxContent_Recipients  -like 'contoso.com'"

We tested and verified the above filter. We're not sure if the code was changed in regards to the filter syntax of if the documentation was just incorrect. We'll update the documentation with the correct syntax. In short, use similar syntax for both Mailbox and M

[2022-01-12 09:38] pheeling opened #8798 "Connect-IPPSSession as App Registration"
Hi,
Does Connect-IPPSSession Support App Only Authentication? We want to use SCC Powershell for creating labels within multiple tenants and not creating a user on each tenant for doing this.

Thanks for feedback.

Best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 945ab2ea-22ae-814f-8898-fe84b7f29870
* Version

[2022-01-12 15:10] MrVP opened #8799 "SFB but it is using Teams"
Some confusion on my part.  I see it uses the SFB module, but this is a Teams command.
Is there a date when this page was created/updated?

Thanks,
V

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0b9d346-239b-d6e8-f2b9-56c8d3fba78f
* Version Independent ID: 6f6152d4-841e-9fcc-9ab8-d2aa74b6d5fe
* Content: [Get-CsTeams

[2022-01-12 19:11] JasenHicks7 opened #8805 "Online only or no?"
These lines seem to conflict with one another.

Applies to: Exchange Server 2013, Exchange Online
This cmdlet is available or functional only in the cloud-based service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37f94b78-3cf4-2200-fae8-b85664ba01ce
* Version Independent ID: 0036d9e4-4a4d-8113-269f-801728138f5d
* C

[2022-01-12 19:20] chrisda commented on #8805
@JasenHicks7, the "Applies to" value on the cmdlet or individual parameters is a mechanical, remorseless inventory of where the cmdlet/parameter is **available**, with no consideration whether it's supposed to be available there, or whether or not it actually works in that environment. That metadata is important for converting the markdown topics to MAML XML for code check-in and help at the comma

[2022-01-12 19:25] JasenHicks7 commented on #8805
Thank you for the clarification, I had some customers asking directly about that, appreciate the fast feedback.

[2022-01-12 19:56] chrisda commented on #8798
@pheeling, it does not. I would suggest opening a support case and asking about it, which will get the issue in front of people who can make decisions.

[2022-01-13 11:22] Dan-Newton commented on #8664
This is disappointing, I have a requirement for a cs cmdlet to run in an Azure Runbook and sounds like will still need to wait until March for GA but even then this seems slightly uncertain to work.

[2022-01-13 14:12] zephyr2k7 opened #8806 "Set-CsUserCallingSettings UnansweredTargetType do nothing"
The command Set-CsUserCallingSettings is not accepting "DoNothing" option as a UnansweredTargetType as is possible to set throught the Teams GUI, the error say:

Cannot validate argument on parameter 'UnansweredTargetType'. The argument "$False" does not belong to
 the set "SingleTarget,Voicemail,MyDelegates,Group" specified by the ValidateSet attribute. Supply an
 argument that is in the set and

[2022-01-13 15:00] mr-frostschutz commented on #8664
Can you explain how you got this working? With version 3.0.0?

[2022-01-14 00:05] chrisda commented on #8752
@SimpleInfoSec, could we be dealing with a UTC thinghere? Many of the date-related parameter descriptions in cloud-based cmdlets contain this information:

Does this affect the results?

[2022-01-14 00:10] chrisda commented on #8700
Per offline email discussion, this appears to be about the age-old problem of "parameter is available, but shouldn't be or doesn't work", which a description of "reserved for internal Microsoft use" is supposed to placate.

Next step was to open a support case to see if the "reserved for internal Microsoft use" parameters can be removed if they aren't supposed to be available.

So, closing.

[2022-01-14 00:10] #8700 closed

[2022-01-14 01:15] Mike-Crowley opened #8810 "Set-MgUserPhotoContent vs set-userphoto"
Does this achieve the same result? Perhaps it should be mentioned in the article?

https://docs.microsoft.com/powershell/module/microsoft.graph.users/set-mguserphotocontent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 197acba5-5e7c-4fbe-f7c2-3dd9984ba278
* Version Independent ID: 633fe153-b3ce-c1ec-1e61-2fe7a323d436

[2022-01-14 15:24] JeremyTBradshaw opened #8814 "How long between CNAME status checks? Any way to invoke one manually?"
Just wondering....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f40df04f-087d-8a08-2074-cb259c564ad1
* Version Independent ID: 4d489f4e-54d5-c882-6cbd-497f80d2d92f
* Content: [Get-DkimSigningConfig (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/get-dkimsigningconfig?view=exchange-ps

[2022-01-14 18:31] chrisda commented on #8814
@JeremyTBradshaw, unknown. You should open a support case and ask.

[2022-01-14 18:35] JeremyTBradshaw commented on #8814
Thanks.  Will close this now.

[2022-01-14 18:35] #8814 closed

[2022-01-15 05:42] yogkumgit commented on #8581
closing via 8667,

[2022-01-15 05:42] #8581 closed

[2022-01-15 05:44] yogkumgit commented on #8582
closing as same as 8581

[2022-01-15 05:44] #8582 closed

[2022-01-15 05:45] yogkumgit commented on #8583
closing as similar to 8581 and 8582

[2022-01-15 06:13] #8752 closed

[2022-01-15 06:17] yogkumgit commented on #8791
@pmehrwald Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-15 06:17] #8791 closed

[2022-01-15 06:21] yogkumgit commented on #8798
@pheeling Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-01-15 06:23] #8805 closed

[2022-01-17 05:36] balaji-blg opened #8818 "Get-MailDetailATPReport doesn't show all spam emails from external domain"
Is there any cmdlet to get all spam mails in a cmdlet ? We were using Get-MailDetailSpamReport but it is removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72a47576-e439-efc4-6a22-c9c6a11edbe3
* Version Independent ID: bd26162f-3fde-657a-0eb1-c6b49fbdccc7
* Content: [Get-MailDetailATPReport (ExchangePowerShell)](h

[2022-01-17 18:39] SquirrelAssassin opened #8820 "coding error"
[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66f0a60b-0a31-dd92-53eb-4f7def6319f3
* Version Independent ID: 06ad3c31-d631-cb66-07e7-380f9f923ff9
* Content: [Find the permissions required to run any Exchange cmdlet](https://docs.microsoft.com/en-us/powershell/exchange/find-exchange-cmdlet-permissions?vi

[2022-01-17 19:27] PhilipHaglund commented on #8106
Any update from Microsoft regarding this? Why is Teams using different methods than Exchange, Azure AD, Graph etc to Connect non-interactively?

[2022-01-17 20:28] mariussm commented on #8106
I have a working solution here: https://github.com/MicrosoftDocs/office-docs-powershell/pull/8788#issuecomment-1013935274

[2022-01-17 20:48] PhilipHaglund commented on #8106
Thank you! But that's still using interactive logon. Need some sort of ETA when non-interactive (Application Permission) will be available.

[2022-01-17 21:17] mariussm commented on #8106
Sure it is non-interactive. It uses ROPC, which is a non-interactive OIDC flow. However, it does require a user, and does not work with an app only context using client credential flow.

[2022-01-18 01:18] dinocaputo opened #8823 "Cmdlet to set basic call forwarding is not working"
Assuming a user is setup for voice and has the default setting to send all unanswered calls to voicemail with a delay of 20 seconds, the following cmdlet will not work.

Set-CsUserCallingSettings -Identity dcaputo@enableuc.com -IsForwardingEnabled $True -ForwardingType immediate -ForwardingTargetType singletarget -ForwardingTarget "+14165551212"

It results in a failure because of the fact the use

[2022-01-18 07:51] PhilipHaglund commented on #8106
Hmm maybe I need to investigate further. Just a question regarding using the ROPC account, can MFA be activated or should it be excluded from that?

[2022-01-18 08:18] JensTrier commented on #8823
@dinocaputo Thanks for the feedback! Please send me offline or post here, the state the user is in as expressed with get-csusercallingsetting prior to getting the error by issuing the cmd above and also please provide the full error.

[2022-01-18 12:13] mariussm commented on #8106
The user account must be excluded from MFA in conditional access.

[2022-01-18 12:52] dinocaputo commented on #8823
User Call Settings are configured as follows:
***@***.***

Goal - Admin wishes to set Call Forwarding for a user to an external phone number and runs the following PowerShell

***@***.***

Suspect its complaining about the fact that user has unanswered calls set to goto voicemail which is the case.  However, this failure defeats the entire point of this new cmdlet and what administrators want.
If

[2022-01-18 14:09] JensTrier commented on #8823
I have chatted to @dinocaputo offline and have taken his feedback. You can close this item.

[2022-01-18 17:19] chrisda commented on #8820
@SquirrelAssassin, I would suggest opening a support case about this. It could be a temporary error.

[2022-01-18 17:49] SquirrelAssassin commented on #8820
I had two clients in different companies run it all with the same results.  And in no way am I opening a case with the lackeys..... "what version of windows are you using".

[2022-01-18 17:49] #8820 closed

[2022-01-18 18:31] chrisda commented on #8820
@SquirrelAssassin,, I tried your command in an E5 tenant, and it worked for me:

[code]

Differences

- I wasn't using PowerShell ISE, just regular Windows PowerShell x64 (v5.1.19041.1320 like you).
- I'm using v2.0.6Preview-3 of the ExO V2 module (but in `UseRPSSession` mode like all previous versions; not the new REST behavior)

[2022-01-18 18:43] chrisda commented on #8818
Checking

[2022-01-18 19:04] chrisda commented on #8818
@balaji-blg, I'm told the best way to proceed is for you to open a support case about this.

[2022-01-18 21:44] chrisda commented on #8596
@yogkumgit, I have no comment. Andy was the feature owner of TABL.

[2022-01-19 06:55] yogkumgit commented on #8106
@PsychoData Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-19 07:01] yogkumgit commented on #8823
@dinocaputo Hope the discussion was helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-19 07:01] #8823 closed

[2022-01-19 07:05] yogkumgit commented on #8820
@SquirrelAssassin Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required.

[2022-01-19 07:09] yogkumgit commented on #8818
@balaji-blg Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wil

[2022-01-19 07:09] #8818 closed

[2022-01-19 07:19] yogkumgit commented on #8596
@chrisda Please tag Andy here. I am not sure about his Github alias. Thanks

[2022-01-19 09:22] asdcristi opened #8829 "Partner unable to connect to customer's tenant via Connect-IPPSSession -DelegatedOrganization @customerdomain.com"
Hello,
I'm trying to connect to the Compliance endpoint for one of my customers, however am unable to do so. Access to all other endpoints are working fine. Should partners be able to access customer's Compliance endpoint, and is there any documentation that I'm unable to find on this regard?
![image](https://user-images.githubusercontent.com/47151300/150101302-f744d218-1251-4ce0-8368-de790205be46

[2022-01-19 13:13] PsychoData commented on #8106
@yogkumgit perhaps I misunderstood, but they just talked about whether or not you could have an application permission/ non-interactive authorization flow

It seems that they ended up agreeing that ROPC does not technically have to be an interactive login flow if the user is excluded from MFA.

I don't see what any of that has to do with the initial reason of this issue, which centered around how

[2022-01-19 14:58] ruscoe888 opened #8830 "How to find the messagetraceid and then add this to the cmdlet"
This may be very simple, but i am unable to find the specific messagetraceid for a specific mail.
It would be helpful to add how to do this, either here or on get-messagetracedetail help page, or both pages?

Thanks
Paul

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b37e5f4f-c0bc-8cce-3d0b-971bcc118726
* Version Indep

[2022-01-19 16:49] chrisda commented on #8596
The previous comment (andypunt) was Andy.

[2022-01-19 16:56] chrisda commented on #8829
@asdcristi, I don't think it works. The description of the DelegatedOrganization parameter says, "reserved for internal Microsoft use". For the definitive answer, you could open a support ticket and ask.

As a complete and utter shot in the dark, you could also try using the BypassMailboxAchoring switch in the command (by itself and together with DelegatedOrganization). But I don't expect it to wo

[2022-01-19 18:55] chrisda commented on #8830
@ruscoe888, I did some testing. To find the MessageTraceId value, you'll need to first run Get-MessageTrace (or another cmdlet; see below) to get the value.

Frankly, MessageTraceId isn't very interesting in Get-MessageTrace; you can use other, much more friendly values to identify the message/entry.

Of course, we don't have that luxury in Get-MessageTraceDetail where MessageTraceId and Recipient

[2022-01-20 06:12] yogkumgit commented on #8596
@andypunt Please help. Thanks

[2022-01-20 06:13] yogkumgit commented on #8829
@asdcristi Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-20 06:14] andypunt commented on #8596
As stated, I no longer work on that team, but I already answered the question. Not sure what else there was.

[2022-01-20 06:14] #8829 closed

[2022-01-20 06:18] yogkumgit commented on #8596
@Raj-MCITP Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-20 06:18] #8596 closed

[2022-01-20 21:28] alexiq opened #8836 "Cannot run Get-Whiteboard cmdlet with Global Reader role"
I see that running the Get-Whiteboard cmdlet requires Global Tenant Admin role.  This cmdlet is a "Get" verb and should be runnable buy a user with the Global Reader role.  Can this be fixed?

https://docs.microsoft.com/en-us/powershell/module/whiteboard/get-whiteboardowners?view=whiteboard-ps

[2022-01-21 08:07] grryf commented on #8537
I have created ticket with MS support on 11th of January, but they still playing with me.

@wojcib what would you advise to ask Microsoft exaclty to do?

Description: issue described here: https://github.com/MicrosoftDocs/office-docs-powershell/issues/8537 [github.com] As a solution please disable multi signatures for our tenant.

[2022-01-21 11:00] garinh77 opened #8838 "Set-CsPhoneNumberAssignment page update"
At the beginning of the page the Syntax for the PS says:
Set-CsPhoneNumberAssignment
   -Identity <String>
   -**EnterpriseVoice**

However, later in the document, the syntax for Enterprise Voice is  "-**EnterpriseVoiceEnabled**"

This page does not explain how to set -HostedVoiceMail which I assume will no longer be done through the Set-CSUser cmdlet

---
#### Document details

⚠ *Do not edit thi

[2022-01-21 11:51] JensTrier commented on #8838
@garinh77 Thanks for the feedback! I have made the change and it will be updated when the PR is merged.

[2022-01-21 15:23] asdcristi opened #8841 "Get-ComplianceSearch | Ft Items, Size - returning 0"
When running `Get-ComplianceSearch | Ft Name, RunBy, Status, Items, Size, ContentMatchQuery` Items and Size are not returned, and they will be displayed as 0 for both columns, even though there is data in the full list results

[code]
Can this be rectified or can we know why it's behaving like this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-01-21 18:15] dbagleyusf opened #8843 "Issue with the text that explains the example"
Either there is extraneous text following Example 1, or there was an additional example being described that does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f48ae8ec-b719-c4db-c259-02e4f9e779b5
* Version Independent ID: 96f609a7-578e-5568-adb3-61f483997870
* Content: [Set-TransportRule (ExchangePowerShel

[2022-01-21 18:39] chrisda commented on #8841
@asdcristi, that sounds like a bug. You should open a support case. Report back here with any findings.

[2022-01-21 18:51] chrisda commented on #8843
Yeah, that second statement appears to be left over after some updates, so I removed it. The first statement matches the code example.

Thanks for the feedback.

Closing

[2022-01-21 18:51] #8843 closed

[2022-01-24 17:24] vincentkurmi opened #8848 ""CsPhoneNumberAssignment" still in public preview?"
Hi,

Is it still in public preview or can we use it in production?
Same question for the cmdlet: "Remove-CsPhoneNumberAssignment"

![image](https://user-images.githubusercontent.com/52075388/150832717-89069845-37a0-4540-9943-19b0077d28e3.png)

Thanks in advance.

Regards,

Vincent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-01-24 17:56] JensTrier commented on #8848
@vincentkurmi Yes, feel free to use both Set and Get in production and report any issues you find. The cmdlets is in the GA module, but we keep the preview note on the PS cmdlet doc pages for now.

[2022-01-24 23:25] ThePoShWolf commented on #6371
I hate to comment on an old issue, but this was the top result when I searched for that very error. I was able to work around it by providing the fully qualified path to the certificate instead of a relative path.

[2022-01-25 01:03] dinocaputo opened #8852 "No way to set a $NULL phonenumber for Direct Routing Users"
SO with this new cmdlet it seems not possible to have a user enabled for EnterpriseVoice with no assigned PhoneNumber.  This is a common scenario for Direct Routing customers where they want users to be able to make outbound calls but not have a DID.  This is also a common scenarios supporting Call Queues where users need to be EnterpriseVoiceEnabled to be an agent but don't need to have a DID.

I

[2022-01-25 10:58] JensTrier commented on #8852
@dinocaputo Thanks for the feedback! I think I can repro the issue, but I'll reach out to you offline to confirm. Please feel free to close this issue

[2022-01-25 12:37] yogkumgit commented on #8806
@zephyr2k7 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 12:37] #8806 closed

[2022-01-25 13:56] johnholliday opened #8853 "Grant consent fails with invalid claim."
[Enter feedback here]

Following the steps in this article results in an error when attempting to grant admin consent.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Independent ID: 4a46c8a8-dc70-d877-271e-6679c465a6d5
* Content: [App-only authentication](https://d

[2022-01-25 14:06] johnholliday commented on #8853
To grant consent, you must scroll to the bottom of the blade and click the “Enterprise applications” link:
To view and manage permissions and user consent, try Enterprise applications.

Following the steps in this article results in an error when attempting to grant admin consent.

Grant consent failed with error: Claim is invalid: c97b873f-f59f-49aa-8a0e-52b32d762124 does not exist on resource ap

[2022-01-25 14:54] johnholliday opened #8854 "Role Assignment for Registered App displays Error Message"
Following the steps in this article results in an error when attempting to grant admin consent.  The article should explain that the user must click the "Enterprise application" link at the bottom of the page.

[code]
The final step to add role assignments to the newly registered app does not work.  The page displays an error message at the top: "Required fields are missing or invalid".  This is m

[2022-01-25 17:57] chrisda commented on #8853
@johnholliday, I did Step 1 (register the app) and Step 2 (assign API permissions) exactly as described in the topic in a fresh tenant where the steps were never done before, and they worked fine for me.

To grant admin consent, you click the "Grant admin consent for <your tenant>" button as shown in the topic. Right now, this button isn't highlighted, but I updated the picture as shown below so t

[2022-01-25 18:52] johnholliday commented on #8853
Hi Chris,

Yes, I follow the steps with slightly different results.  After editing the manifest as described in the article, a lot more items appeared in the list.  Three of them required admin consent and showed as “Not granted…”.  I then clicked the “Grant admin constent…” and an error message appeared near the top of the page saying that required information was missing.  Down below, I noticed

[2022-01-26 00:12] JeremyTBradshaw commented on #7344
Thanks @PeteMitch99  and @chrisda .  Glad to see this issue got the heat it needed to be on the list to resolve.  I just emailed the EXO cmdlet preview feedback address this afternoon as well.  Now if only Connect-IPPSSession could get some REST love so I could stop having to use Basic auth for unattended... that would be great too.  Best would be somehow SCC PowerShell gets sunset and MS Graph ta

[2022-01-26 14:26] JensTrier commented on #8838
@garinh77 this has now been fixed. Please feel free to close this issue

[2022-01-26 15:55] JeremyTBradshaw commented on #8149
Putting it here.

# MC316448 (Published Jan 21, 2022)

[2022-01-26 15:55] JeremyTBradshaw commented on #8149
And re-closing.

[2022-01-26 16:41] Ramadel opened #8860 "There is no way to get unlimited results from Get-CalendarDiagnosticObjects"
I can only ever get 1000. This sort of makes this command worthless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3e0524b-e92d-eefb-5416-557620edfb39
* Version Independent ID: 7afae510-9006-4667-5756-92714f0b08f0
* Content: [Get-CalendarDiagnosticObjects (ExchangePowerShell)](https://docs.microsoft.com/en-us/powersh

[2022-01-26 17:06] Ramadel opened #8861 "Specifying "-ItemClass "IPM.Appointment"" still produces results that do not match IPM.Appointment"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3e0524b-e92d-eefb-5416-557620edfb39
* Version Independent ID: 7afae510-9006-4667-5756-92714f0b08f0
* Content: [Get-CalendarDiagnosticObjects (ExchangePowerShell)](https://docs.microsoft.com/en-us/powershell/module/exchange/get-calendardiagnosticobjec

[2022-01-26 17:07] chrisda commented on #8860
@Ramadel, the ResultSize parameter description states the 1000 result limit, so there's not much to do from a documentation perspective.

Your best way forward is to open a support case.

[2022-01-26 17:49] Ramadel commented on #8860
OK. That's pretty frustrating that they don't tell anyone how to increase the hard 1000 limit. They don't even say, "No, you can't."

[2022-01-26 18:30] Ramadel commented on #8861
This is in regards to trying to get a list of recurring meetings for different users. Since there's no way to actually do that directly, I have to use this module. But if I have no way to cut down on results over 1000 (which are most users), then I can't do this at all.

[2022-01-26 18:38] TheITguy666 opened #8862 "Incorrect parameter naming"
On the parameter details below, two appears that don't seem to exist:
- OutboundPSTNNumberTranslationRulesList
- OutboundTeamsNumberTranslationRulesList

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a99ede2-bbc2-c56d-6fb0-33db74417f54
* Version Independent ID: cf4bfc0e-fd8d-d5ca-5432-798af72a8885
* Content: [Set-CsOn

[2022-01-26 21:26] chrisda commented on #8854
Closing as duplicate of #8853

[2022-01-26 21:26] #8854 closed

[2022-01-26 22:03] blue-ken opened #8865 "Get-sposite brings back incorrect value for ConditionalAccessPolicy property"
when I run get-sposite on an individual site it brings back the correct value of allowlimitedaccess for this site

Get-SPOSite -Identity https://domain-my.sharepoint.com/personal/name_name_domain_com | fl * Select-Object url,ConditionalAccessPolicy

If I run get-sposite against multiple sites it says allfullaccess even though most of the sites if their ConditionalAccessPolicy property set to allow

[2022-01-26 22:31] dariomws commented on #8799
Hi @MrVP, thank you for your feedback.

You can see the latest updates on this article if you select Edit (top right of the screen) and then History.

[2022-01-27 00:08] chrisda commented on #8861
@Ramadel, your best way forward is to open a support case about this. It sounds like a bug.

[2022-01-27 07:15] AinoL commented on #1709
Still not working

[2022-01-27 07:58] PieFie opened #8868 "Set-CsPhoneNumberAssignment doesn't process number with extension correctly"
Set-CsPhoneNumberAssignment -Identity <upn> -PhoneNumber '<number>;ext=<extension>' -PhoneNumberType DirectRouting where PhoneNumber is in the E.164 form ex +3221231212;ext=1234 yield an error:
- Update failed for user '<removed id>'. Please try again

When remove te "+" (plus-sign) (ex. 3221231212;ext=1234) the command succeed, but generate a wrong LineURI:
- tel:3221231212;ext=1234
- Shown in Te

[2022-01-27 08:25] blue-ken commented on #8865
so I have found this how w

$sitec= Get-SpoSite -limit ALL
foreach($s in $sitec){
	$site=get-sposite -Identity $s.Url
    $site.URL
	$site.ConditionalAccessPolicy
}

[2022-01-27 08:26] blue-ken commented on #8865
Thanks that does bring back the results but it is very slow. How do I get the URL and Conditional Access Policy values on the same line? I have tried this but it does not seem to make any  difference

$sitec= Get-SpoSite -limit ALL
foreach($s in $sitec){
	$site=get-sposite -Identity $s.Url
    $site.URL,$site.ConditionalAccessPolicy
}

[2022-01-27 08:41] garinh77 commented on #8838
Thanks @JensTrier

[2022-01-27 08:43] #8838 closed

[2022-01-27 09:02] JensTrier commented on #8868
@PieFie Thanks for the feedback!

I tried using your sample phone number and it works for me using this cmdlet "Set-CsPhoneNumberAssignment -Identity user@contoso.dk -PhoneNumber "+3221231212;ext=1234" -PhoneNumberType DirectRouting

Please send me offline the actual PS cmdlet you use and the error result you see and we'll investigate.

[2022-01-27 09:05] JensTrier commented on #8862
@TheITguy666 Thanks for the feedback! See it, will get it fixed.

[2022-01-27 09:54] blue-ken commented on #8865
@yogkumgit are you able to help answer the above question?

[2022-01-27 10:14] Corina-github opened #8870 "Missing text under -CompletePublicFolderMigrationWithDataLoss"
Hi,

At the moment, the KB is showing this info :
-CompletePublicFolderMigrationWithDataLoss
This parameter is available only in the cloud-based service.

{{ Fill CompletePublicFolderMigrationWithDataLoss Description }}

We were interested in using that option with a customer and would appreciate it if the KB could be updated to also include that description. It looks like there was a plan to incl

[2022-01-27 10:26] PieFie commented on #8868
@JensTrier Thanks to have a look.
How can I offline contact you?

Anyhow: I use the same command as you do, but with the UPN/Email and Phonenumber for the users (I have more accounts with the same issue).

The only return I get is (ObjectID  is of the user I try to set his number):

Code       Message
----       -------
BadRequest Update failed for user 'Removed ObjectID'. Please try again

[2022-01-27 10:30] JensTrier commented on #8868
@PieFie please send to  jens.trier AT microsoft.com

[2022-01-27 11:07] arnauvc opened #8871 "Information Missing"
Good morning,

Parameters -IncludeDetails and IncludeElements have not description nor examples on how to use it.

Could you please provide some?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 439c6b6a-4a1b-3cc9-2f65-b39a6dc40717
* Version Independent ID: 737ff20a-02e8-7807-fef8-1c2dc98d79a7
* Content: [Get-DlpSensitiv

[2022-01-27 11:50] JensTrier commented on #8862
The fix is in this PR #8869 made by Filipp

Feel free to close this issue

[2022-01-27 14:13] Ramadel commented on #8861
Already did, and showed them this page.

[2022-01-27 16:57] chrisda commented on #8870
@Corina-github, parameter descriptions in the state are a known issue. See comments [in this similar issue](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for a detailed explanation.

I would suggest opening a support case and asking if/how that parameter works. If it's functional and meant to be available, report back here and I'll create a real descri

[2022-01-27 17:03] chrisda commented on #8871
@arnauvc, parameter descriptions in the state are a known issue. See comments [in this similar issue](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486) for a detailed explanation.

Availability vs. functionality of a parameter are two different things. The parameters are definitely available, but are they supposed to be? Do they work? Are you trying to use

[2022-01-27 17:05] Corina-github commented on #8870
Hi Chris,

I'm with the CSS internal team, so I'll check with the PF SPM and get back
to you with the feedback. Wasn't aware there's a known issue with the
parameter descriptions in general and thought it was a mishap on this KB,
so thought to give a heads up.
Thanks for the prompt reply!
Corina

On Thu, Jan 27, 2022, 18:57 Chris Davis ***@***.***> wrote:

[2022-01-27 17:39] dinocaputo commented on #8852
Worked with Jens and found the issue.  Docs will be updated to avoid confusion for this scenario.  For users that are already EV enabled, you will have to run Remove-CsPhoneNumberAssignment first and the run Set-CsPhoneNumberAssignment -Identity user@domain.com -EnterpriseVoiceEnabled $True

[2022-01-27 17:39] #8852 closed

[2022-01-27 21:43] Karr opened #8873 "MailboxMovePublishedScopes missing description"
A critical paremeter used with tenant to tenant mailbox migration and the description is missing.
Please know that Microsoft documents and articles reference this.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bdc5c8-91af-66ca-cc94-3127fea1b8c3
* Version Independent ID: 29ec4bea-aa01-8f74-f820-adb77c57aa

[2022-01-27 22:33] dariomws commented on #8836
@alexiq - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make Microsoft Whiteboard better. They keep a close tab on user feedback and it would be awesome if you could add your voice in the Microsoft Feedback Portal: https://feedbackportal.microsoft.com/feedback/forum/e01e264c-1f1c-ec11-b6e7-0022481f8472#.

You

[2022-01-27 22:42] dariomws commented on #8836
Some more information:
https://docs.microsoft.com/powershell/module/whiteboard/

[2022-01-28 07:35] #8861 closed

[2022-01-28 08:04] arnauvc commented on #8871
Hi @chrisda , I get your point but I must admit amb personally a bit disappointed. My clients pay to use Microsofts products and I/they would expect it to be well documented.

It seems kinda odd to me that I'm the one responsabile for opening a support case to know how it works...

Anyway, thank you for you response and I'll get back here if I get a usefull response from the support team

[2022-01-28 08:05] JensTrier commented on #8868
Working with @PieFie offline on this. This issue can be closed

[2022-01-28 08:50] blue-ken commented on #8865
Get-SPOSite -Limit All |ForEach-Object { Get-SPOSite -Identity $_.URL } |Select URL,ConditionalAccessPolicy | Export-Csv -Path
this seems to run a bit quicker and bring back results

[2022-01-28 09:09] alesysadmin75 commented on #8537
I opened the ticket just 1 week ago.
Microsoft just called me. They disabled 'Roaming signature' on our tenant and they confirmed it as only workaround by now.

[2022-01-28 10:27] Batre-MSFT commented on #8870
@chrisda Please change add "reserved for internal Microsoft use" as the description. Thank you :-)

[2022-01-28 13:21] bendingunit opened #8875 "Trying to replace Set-CsUser but getting error using Set-CsPhoneNumberAssignment"
Hi,
I'm getting this error trying to assign a number that was previously set up at NFON:

`Set-CsPhoneNumberAssignment -Identity test.user@xxxxxxx.xxx -PhoneNumber +4930xxxxxxxxxxx -PhoneNumberType DirectRouting
Microsoft.Teams.ConfigAPI.Cmdlets.internal\Set-CsPhoneNumberAssignment : The server responded with a Request Error, Status: NotFound
At C:\Program Files\WindowsPowerShell\Modules\Microsoft

[2022-01-28 13:30] JensTrier commented on #8875
@bendingunit

thanks for the feedback! Is that test.user a newly licensed user or a user that has been licensed for long time? You can see that kind of error, if the user has not been fully provisioned in our back-end systems. Waiting some time will allow you to assign the number.

[2022-01-28 13:57] bendingunit commented on #8875
The user is already active and licensed since several months.

[2022-01-28 14:07] JensTrier commented on #8875
To investigate this further I need information about the user, i.e. SIPaddress or UPN. If you are interested in this, please send it to me offline at jens.trier AT microsoft.com

[2022-01-28 14:20] bendingunit commented on #8875
sorry for wasting your precious time!  i found a typo as the underlying cause ;D

[2022-01-28 14:20] #8875 closed

[2022-01-28 14:23] JensTrier commented on #8875
No worries @bendingunit!! Rather too much feedback than too little, so keep it coming.

[2022-01-28 14:25] bendingunit opened #8876 "Hostedvoicemail parameter gone with Set-CsPhoneNumberAssignment"
There you go again ;)

What about the Hostedvoicemail-parameter from the old Set-CsUSer-cmdlet. How would I need to set that to $false in the future?

[2022-01-28 15:12] PieFie commented on #8868
Close Issue as handeling this offline

[2022-01-28 15:12] #8868 closed

[2022-01-28 18:53] chrisda commented on #8870
Done. #8877.

Thanks for the feedback.

Closing

[2022-01-28 18:53] #8870 closed

[2022-01-29 15:55] et01267 opened #8881 "Section regarding 'Changes in "-Filter" parameter' spectacularly unclear"
The section headed by 'Changes in "-Filter" parameter' seems to contain bogus / wrong information.

For example, the comparison operator shown is 'eq' when the actual syntax is '-eq', and the whole expression should be in curly braces.

Also, there is this nonsense:

I don't think you can use 'eq' (or '-eq') to do a contains check.   You would need to use a different operator.   Note that I am ent

[2022-01-29 16:12] et01267 opened #8882 "-Filter documentation incorrectly claims it works the same as Where-Object"
The -Filter section claims:

This is incorrect.  In my testing, I have found that '-match' does not work and gives this error:
[code]
Please document which operators are actually supported in the '-Filter' - **Or perhaps this is a bug in the module?**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7008ec10-a056-d8bb-bb

[2022-01-30 09:06] SvenBell opened #8883 "-HostedVoiceMail"
Hi, Any reason the parameter -HostedVoiceMail has not been included? Will we still have to use Set-CsUser for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b911670-8e3f-f86a-90ac-bde691d49e8c
* Version Independent ID: 4b1d9835-8e81-d04b-57ec-12a537dbeaeb
* Content: [Set-CsPhoneNumberAssignment (MicrosoftTeamsPo

[2022-01-30 09:12] SvenBell commented on #8883
Would also be nice if -HostedVoiceMail was automatically set to enable by default with a user is assign a Phone System license like this happens when you assign a Calling plan. Why would you assign this license on not want it enabled?

[2022-01-30 09:23] SvenBell commented on #8883
Answering my own question via Set-CsUser Doco Ref.  https://docs.microsoft.com/en-us/powershell/module/skype/set-csuser?view=skype-ps

[2022-01-30 09:23] #8883 closed

[2022-01-30 09:25] SvenBell commented on #8876
This may partially answer your question:
Set-CsUser Doco Ref. https://docs.microsoft.com/en-us/powershell/module/skype/set-csuser?view=skype-ps

[2022-01-30 13:20] JensTrier commented on #8876
@bendingunit Thanks @SvenBell . Yes, it is not necessary to set HostedVoiceMail parameter anymore, since Cloud Voicemail is automatically provisioned. That's why it is not available on Set-CsPhoneNumberAssignment.

If you want to disable Cloud Voicemail for a user, use Set-CsOnlineVoicemailUserSettings -VoicemailEnabled $false.

I'll be updating the documentation to provide this information.

Feel

[2022-01-31 07:01] JensTrier commented on #8883
@SvenBell Thanks for the feedback! Yes, Cloud Voicemail is automatically provisioned. I'll update the documentation to make that clear.

[2022-01-31 10:03] bendingunit commented on #8876
Thanks for the partial clarification. However:

 Set-CsOnlineVoicemailUserSettings -Identity testuser@acme.org -VoicemailEnabled $true

**VoicemailEnabled                         : True**
PromptLanguage                           : en-US
OofGreetingEnabled                       : False
OofGreetingFollowAutomaticRepliesEnabled : False
OofGreetingFollowCalendarEnabled         : False
ShareData

[2022-01-31 10:06] JensTrier commented on #8876
Thanks for the feedback and I understand the confusion. There is really no linkage between HostedVoiceMail parameter output on Get-CsOnlineUser and whether voicemail is enabled or not using Set-CsOnlineVoicemailUserSettings -VoicemailEnabled.

Will update the documentation to make it clearer

[2022-01-31 16:26] alexiq commented on #8836
@dariomws, thank you for the recommendation.  I have submitted on the user feedback portal.
https://feedbackportal.microsoft.com/feedback/idea/a044683a-b282-ec11-a81b-6045bd7bf64c
Take care.

[2022-02-01 04:40] kpinel opened #8885 "Set-CsPhoneNumberAssignment inconsistent results"
Module version 3.1.0
Updated our scripts in line with the Microsoft announcement and found that the dialpad wasn't appearing for new Teams Voice users

We use a group to provision the licences and, after manually adding to the group, confirmed that the client was licenced
[code]
A quick check of the provisioning state
[code]
Enabling the account
[code]
Check the status (replacing the UPN with User

[2022-02-01 05:24] yogkumgit commented on #8836
@dariomws Thank you very much for the contribution and sharing this explanation. @alexiq Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-01 05:24] #8836 closed

[2022-02-01 05:26] #8792 closed

[2022-02-01 05:28] yogkumgit commented on #8799
@dariomws Thank you very much for the contribution and sharing this explanation. @MrVP Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-01 05:29] #8799 closed

[2022-02-01 05:30] #8848 closed

[2022-02-01 05:41] yogkumgit commented on #8830
@ruscoe888 Hope this comment is helpful for you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-01 05:41] #8830 closed

[2022-02-01 05:43] yogkumgit commented on #8841
@asdcristi Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-02-01 05:45] yogkumgit commented on #8853
@johnholliday Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-01 05:45] #8853 closed

[2022-02-01 05:48] yogkumgit commented on #8860
@Ramadel Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will c

[2022-02-01 05:48] #8860 closed

[2022-02-01 05:50] #8871 closed

[2022-02-01 11:29] emiliaus68 commented on #8868
@PieFie can you please share the solution of this problem ? I'm having exactly the same issue... Thx

[2022-02-01 11:49] JensTrier commented on #8868
@emiliaus68 we are still investigating the root cause. Please send me your details offline to the e-mail address above and I can confirm whether you're hitting same issue.

[2022-02-01 15:56] JensTrier commented on #8885
@kpinel Thanks for the feedback!

If you have time, please do a repro using the new cmdlet and how you provisioned the Direct Routing user and send me the PowerShell transcript offline at jens.trier AT microsoft.com. I'll then investigate what's going on.

[2022-02-01 22:18] kpinel commented on #8885
Do you want tenant info as well?
I've just provisioned the above user using the old cmdlets and they have confirmed that the dial pad appears

[2022-02-02 01:55] brilwjm opened #8891 "If customer has to disable basic authentication"
[Hi, I'm wondering If customer has to disable basic authentication, how they can use Connect-MicrosoftTeams to connect to tenant ?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0dce05-8bfd-0bfa-3753-0eb193852703
* Version Independent ID: 50e0366c-46b0-71da-b6f6-f422adaad785
* Content: [Connect-MicrosoftTeams (Micro

[2022-02-02 15:33] donlassini opened #8892 "Import-Module MicrosoftTeams is slow"

[2022-02-02 15:34] donlassini commented on #8892
Importing the newer version of the Teams Online PowerShell module takes a long time.

PS> Measure-Command {Import-Module microsoftteams -RequiredVersion 3.1.0}
gives results from 15 to 35 seconds in my systems (PS7.2.1, but also tested on PS5.1)

The culprit is a section of this file:
3.1.0\net472\Microsoft.Teams.ConfigAPI.Cmdlets.psm1:

  if($exportsPath) {
    Get-ChildItem -Path $exportsPath -R

[2022-02-02 19:33] #8787 closed

[2022-02-02 20:49] robdy opened #8896 "Examples don't work in PowerShell, only in Windows PowerShell"
All the examples use:
[code]
which doesn't exist in PowerShell 6+. It should be:
[code]

I can volunteer to send a PR for that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a65371d7-e254-1bf7-e3f3-035d294fe1cd
* Version Independent ID: cc63afcc-727b-c972-eb11-21d6a15f1d0e
* Content: [Import-CsOnlineAudioFile (SkypeFo

[2022-02-03 06:39] kpinel commented on #8885
Closing this off as it looks like a false positive inspired by gremlins.
Just provisioned 20 new accounts without issue

[2022-02-03 06:39] #8885 closed

[2022-02-03 10:11] JensTrier commented on #8896
@robdy Thanks for the feedback!  If you have time, yes please add another example on how it should it be done on PowerShell 6+.

best regards
    Jens

[2022-02-03 11:10] CharLind87 opened #8901 "-PhoneNumberType how to retrieve value"
The Set-CsPhoneNumberAssignment requires the parameter -PhoneNumberType. What cmdlet or process can one use to retrieve this information?
We have an environment with a mix of calling plans and direct routing.

Been trying different cmdlets to see if anything includes phonenumbertype but haven't found one so far.

Any help would be much appreciated!

[2022-02-03 12:56] JensTrier commented on #8901
@CharLind87 Thanks for the feedback!

To a certain extent it is assumed that the administrator knows which type of phone number that will be assigned, because based on type of phone number different configuration needs to be done, i.e. for Direct Routing you need to set certain policies and you also need to ensure the SBC is configured etc.

For Calling Plan and Operator Connect numbers you should

[2022-02-03 13:07] rafaelborter opened #8902 "EndUserQuarantinePermissionsValue difference"
"EndUserQuarantinePermissionsValue" with "New-QuarantinePolicy" gives a different result than "Set-QuarantinePolicy", although the parameter is identical (00010111).
Can it be that "New-QuarantinePolicy" does not configure the "EndUserQuarantinePermissionsValue" correctly?

_Example 1 (New-QuarantinePolicy + Set-QuarantinePolicy)_

[code]

**Result**

[code]

_Example 2 (Only New-QuarantinePolicy)

[2022-02-03 15:10] crackermania opened #8903 "Missing "SkipDomainValidation" switches"
Hi,

Based on this article : https://docs.microsoft.com/en-us/powershell/module/exchange/add-recipientpermission?view=exchange-ps add-recipientpermission should have below switch

[-SkipDomainValidationForMailContact]
[-SkipDomainValidationForMailUser]
[-SkipDomainValidationForSharedMailbox]

I'm using it almost 5 months without any issue and suddenly it's missing from the switch.

Any changes rec

[2022-02-03 19:16] chrisda commented on #8902
@rafaelborter, yikes. I did some testing, and my results even differ from yours.

[code]

This equates to 00x11011 (that x value for PermissionToAllowSender isn't shown and doesn't matter).

[code]

The result equates to 01x11111, not 00x10111

[code]

This result equates to 01x10111, not , not 00x10111.

Something else is going on. Testing reveals that you can set the following permissions indepe

[2022-02-04 00:11] marmstrong94 opened #8904 "Remove-CSPhoneNumberAssignment -RemoveAll parameter does not remove phone number"
When using the Remove-CSPhoneNumberAssignment cmdlet, the listed "RemoveAll" parameter does not remove the OnPremLineURI attribute from the user. I currently still need to use Set-CSUser and set -OnPremLineURI to $null.
![OnPremLineURI](https://user-images.githubusercontent.com/18495391/152450389-84813ba9-f655-404e-9b67-7d7e297e51b2.png)

---
#### Document Details

⚠ *Do not edit this section. It

[2022-02-04 13:15] JensTrier commented on #8904
@marmstrong94  Thanks for the feedback!

What is your scenario regarding the origin of the OnPremLineUri? Also did you allow for some delay between the remove cmdlet and looking via Get-CsOnlineUser?

If the LineUri attribute is managed online, the Set-CsPhonenumberAssignment will set the OnpremLineURI and Remove-CsPhoneNumberAssignment -RemoveAll will clear it again.

If the LineUri attribute is

[2022-02-04 14:04] Lukasbbg opened #8905 "Set-CsPhoneNumberAssignment Errors"
Hi,
I am trying out the new Set-CsPhoneNumberAssignment for usage in my Organisation, yet all I get are errors.

When I try to set a number to a account one of three things happens:
1. Error: BadRequest - Telephone Number '()' is not found from tenant '()'  | using PhoneNumberType OperatorConnect
2. Error: BadRequest - User '()' lacks appropriate licenses to assign a 'CallingPlan' number | Using P

[2022-02-04 14:21] JensTrier commented on #8905
@Lukasbbg Thanks for the feedback

You as the administrator basically need to know what type of phone number you are going to assign. This article discuss the the 3 different options https://docs.microsoft.com/en-us/microsoftteams/pstn-connectivity

There are some requirements to assigning phone numbers of the different types. These include licensing on the user and also availability of a phone nu

[2022-02-04 14:47] Lukasbbg commented on #8905
@JensTrier Thanks for the quick answer

First: sorry for the inconvenience, I am still learning al this stuff and only working in this field since 5 months.
Second: Your commend really helped me. Could you tell me which tag is for the telephone number? Is it the LineURI?
I got these when I use Get-CsOnlineUser
LineURI
OnPremLineURI (I guess thats for Azure?)
Phone (In the Mail section --> I guess

[2022-02-04 15:00] #8905 closed

[2022-02-04 15:03] JensTrier commented on #8905
@Lukasbbg Thanks for the background. LineUri is what is storing the phone number on a user.

[2022-02-04 15:22] BlitzkriegSoftware opened #8906 "Links on this page are an infinite loop"
Clicking on https://docs.microsoft.com/en-us/powershell/teams/?view=teams-ps, returns to this page, and not to a list of command-lets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82bf8ef2-fd7a-6f93-b6da-85a3ceb31ead
* Version Independent ID: 5f42884e-b6e3-a568-a5b0-a573f699b12b
* Content: [Microsoft Teams cmdlet hel

[2022-02-04 15:42] michalsvora commented on #8904
Hi, seems I hit similar issue.
I would say the cmdlet removes the OnPremLineURI if the user is licensed for EV but not in case the user already lost the license.  It's probably also the case of @marmstrong94 as the user on screenshot has EV disabled.
Basically the command _"Remove-CsPhoneNumberAssignment -Identity TeamsPhone@asdfg.com -RemoveAll"_ finishes for unlicensed user without any error but

[2022-02-04 21:48] mbratukha commented on #8798
@pheeling we would appreciate any comment, if you were able to get any answer from Microsoft support, because we are considering similar approach to use app-only access to the SCC PowerShell to make some automations.

[2022-02-04 22:30] pheeling commented on #8798
@mbratukha unfortunately not. The support engineer stated to me it's by design but the request is still open. So my goal is either to get an understanding if there are cmdlet's which could be used with another connections option. Till now we still use username, password and exclude it from our CA policies.

[2022-02-04 22:53] marmstrong94 commented on #8904
@JensTrier

I've traditionally set the OnPremLineURI via the Set-CsUser command with the -OnPremLineURI parameter for a given user--so not coming from AD. I allowed for some delay, but not much, I've historically seen the results somewhat quickly with the Set-CsUser commands. If that's different now, that might be good to note in the docs.

I do have the same issues as @michalsvora where if the us

[2022-02-06 21:20] mbratukha commented on #8798
@pheeling thank you for the quick response!

We have analyzed this situation a bit deeply and have figured out that the cmdlet `Connect-IPPSSession` is capable to kind of "re-use" an existing access token after sign-in via `Connect-AzAccount` (from  the `Az` PS-module) or `Connect-AzureAD` (from the `AzureAD` PS-module).
The trick is to provide the property `UserPrincipalName`. Here is an example

[2022-02-07 13:41] donlassini commented on #8892
I see that that change has now been implemented; thank you :-)

[2022-02-07 13:46] sarollins opened #8918 "This cmdlet is no longer supported?"
I'm running the 3.1.0 version of the MicrosoftTeams PowerShell module and when I attempt to run this cmdlet on one of our test servers, I get the following error

PS C:\Users\test> Grant-CsHostedVoicemailPolicy -Identity "user@abc.com" -PolicyName ""
Invoke-CsDeprecatedError : This cmdlet is no longer supported, please consult public documentation
At C:\Program Files\WindowsPowerShell\Modules\Micr

[2022-02-07 13:59] #8892 closed

[2022-02-07 14:32] eloka080677 opened #8919 "Error: Filter cant be parsed in get-csonlineuser"
Hi There, just have problem with get-csonlineuser in combination with the filter parameter.
As described on the page you can filter the output of get-csonlineuser like

`get-csonlineuser  -filter {usagelocation -eq "DE"}`

but with the latest release 3.1.1 and 3.1.0 i get always an error message, that the filter cant be parsed

`get-csonlineuser  -filter {usagelocation -eq "DE"}
 Search-CsUser_Sea

[2022-02-07 16:00] jonsmith40 opened #8920 "ClearAutoMapping"
The ClearAutoMapping switch documentation is unclear. Using it only throws an error. Please validate the documentation and give viable examples

[2022-02-07 20:01] stromnessian opened #8922 "OAuth error"
When following the instructions (using Global Admin account)...

_WARNING: Please note that you can only use above 9 new EXO cmdlets (the one with *-EXO* naming pattern).You can't use
other cmdlets as we couldn't establish a Remote PowerShell session as basic auth is disabled in your client machine. To
 enable Basic Auth, please check instruction here
https://docs.microsoft.com/en-us/powershell/ex

[2022-02-07 20:56] sgtwtf opened #8923 "Get-MobileDevice / Get-MobileDeviceStatistics document is incorrect"
The details for the -Identity switch are incorrect and the first example you have listed shows an incorrect usage.

The first example is "Get-MobileDeviceStatistics -Identity TonySmith" You can not use display name with that switch according to your own article. Only with the -mailbox switch can display name be used.
![image](https://user-images.githubusercontent.com/7502836/152866324-ab5b37bb-ee2

[2022-02-07 21:15] chrisda commented on #8922
@stromnessian, the error says it all:

You have two options:

- Enable Basic auth in WinRM on your PC as described [here](https://docs.microsoft.com/powershell/exchange/exchange-online-powershell-v2#prerequisites-for-the-exo-v2-module). As explained, you aren't using Basic auth to authenticate. WinRM needs Basic auth enabled in WinRM to send the session's OAuth token, since the client-side WinRM i

[2022-02-07 21:51] stromnessian commented on #8922
Thanks @chrisda - my bad - I didn't read the part about needing basic auth enabled for the OAuth flow to succeed.  Will check out the preview version.

[2022-02-07 21:52] blacktirion commented on #8903
Same problem here. I was using 2.0.4 and have tried on the newer pre-releases. This isn't a module version issue, it's a commands being returned back from Exchange issue.

Why would this feature be turned off? It is crucial during migrations and needs to be fixed ASAP.

[2022-02-07 22:09] chrisda commented on #8922
No problem.

Thanks for the feedback.

Closing

[2022-02-07 22:09] #8922 closed

[2022-02-07 22:35] chrisda commented on #8923
@sgtwtf, thanks for pointing that out. The Identity parameter is of Type MobileDeviceIdParameter, and exists in these cmdlets:

 - Clear-MobileDevice
 - Get-MobileDevice
 - Remove-MobileDevice
 - Get-MobileDeviceStatistics

You're correct in that DeviceID is not supported, but GUID is. However, other identifier values are also supported. I tested Get-MobileDevice and Get-MobileDeviceStatistics, an

[2022-02-07 22:51] chrisda commented on #8920
@jonsmith40, are we talking about ClearAutoMapping on the Remove-MailboxPermission cmdlet?

This parameter is available or functional only in the cloud-based service.

The ClearAutoMapping switch specifies that the mailbox is automatically mapped (auto-mapped) by Autodiscover only into the mailbox owner's Outlook profile. You don't need to specify a value with this switch.

The mailbox isn't auto-

[2022-02-08 03:47] jackbob2020110 opened #8927 "Gallatin Conntection Issue for Exchange Online Powershell Module v2"
follow the doc, create the azure app and grant permisson and upload cert, added aad roles as Exchange Administrator as SPN. run the command:

[code]

with the same steps on WW instance, no issue found. please help, thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2cfafdf-cbe9-2ffe-eabe-becc66d51728
* Version Ind

[2022-02-08 09:21] robertpp opened #8928 "Apparently incorrect examples for setting the after-hours call handling association"
The call handling associations for after-hours given in Examples 1 and 2 of New-CsAutoAttendantCallHandlingAssociation appear to be incorrect. The example sets the after-hours call handling association to the schedule set for business hours.

According to [New-CsOnlineSchedule](https://docs.microsoft.com/en-us/powershell/module/skype/new-csonlineschedule?view=skype-ps), when configuring the online

[2022-02-08 13:43] yogkumgit commented on #8798
@pheeling Thank you very much for the contribution and sharing this explanation. Here, we are limited to documentation fixes and improvements only. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-08 13:45] yogkumgit commented on #8862
@TheITguy666 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-08 13:46] #8862 closed

[2022-02-08 13:54] #8923 closed

[2022-02-08 14:49] mbratukha commented on #6716
@GalRabin, could you please provide any feedback whether you was able to receive an answer the product team regarding S&C?

[2022-02-08 18:58] jangojim commented on #6716
Same thing here! I wonder if I can use something like...

Connect-IPPSSession -AppId $AppId -CertificateThumbprint $Thumbprint -Organization $MyOrganization

[2022-02-08 23:19] kpinel opened #8930 "Grant-CsOnlineVoiceRoutingPolicy doesn't appear to work for resource accounts assigned to call queues"
This process was working in Teams module 2.6. Not sure what we are missing as assigning the routing policy used to work prior to V3

Testing using 3.1.1:
[code]
Using Teams 2.6.0
[code]

[2022-02-09 00:09] Korbyn72 opened #8932 "Resource Accounts"
With Teams PS Module 3.0, 3.1 and 3.1.1, Grant-CsOnlineVoiceRoutingPolicy no longer appears to work on Resource Accounts.  I've tried with both powershell 5.1 and 7.2.1 with zero success and results with the following:
Grant-CsUserPolicy_GrantExpanded: C:\Users\user\OneDrive\Documents\PowerShell\Modules\MicrosoftTeams\3.1.0\netcoreapp3.1\custom\PsExt\Grant-CsUserOrTenantPolicy.ps1:61
Line |
  61 |

[2022-02-09 00:11] Korbyn72 commented on #8932
additional note, get-csonlineuser for the resource account name works, and it is assigned the Phone Standard - Virtual User license.  I also tried removing the policy from another resource account that has been working for months, with the same "User does not exist" result.

[2022-02-09 04:31] kpinel commented on #8930
I note that issue 8932 has just been logged for the same problem

[2022-02-09 06:41] baartch opened #8933 "Depending on the PSSession the command `Get-AdminAuditLogConfig` returns different values"
I executed `Get-AdminAuditLogConfig` in a script, where I had two remote sessions opened, one with `Connect-ExchangeOnline` and the second with `Connect-IPPSSession`. These are both from the EXOv2 module. And both sessions provide this command, but they don't return the same values:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-02-09 08:27] baartch commented on #8933
Ok, now I see, when I compare the Distinguished Names that are returned, the object from `Connect-IPPSSession` is some default configuration. That's why this one is wrong...

[code]

[2022-02-09 10:29] Rh1-no commented on #8932
I can also confirm that I am having the same issue with the last few iterations of TeamsPS.

I have the issue with both new and existing RA's and have to resort to downgrading to 2.6 for it to work for me.

`Grant-CsOnlineVoiceRoutingPolicy -Identity 'RA_SIP' -PolicyName "Policy_name"
Microsoft.Teams.ConfigAPI.Cmdlets.internal\Grant-CsUserPolicy : User does not exist
At C:\Program Files\WindowsPow

[2022-02-09 18:06] rhrotman opened #8935 "OnlineDialOutPolicy empty"
As of the 3.x version of this module, the Get-CsOnlineUser command doesn't show any output for the OnlineDialOutPolicy attribute anymore, which prevents us from checking if the right DialOutPolicy was granted. We use this to limit the number of users who can make international phone calls.

E.g. when granted the policy DialoutCPCInternationalPSTNDomestic, it should show:
OnlineDialOutPolicy : Dial

[2022-02-09 19:51] blacktirion commented on #8903
@kellybos
Can you enlighten us as to why this was changed? The last commit to the documentation was yours, so maybe you can tell us what's going on.

[2022-02-10 01:40] crackermania commented on #8903
aha.. now the documentation are updated and consider it's not support anymore? No announcement and features remove suddenly.. or I'm missing some announcement here...

[2022-02-10 15:12] sarollins opened #8939 "HostedVoiceMail replacement"
We've been updating our product to use the new Set-CsPhoneNumberAssignment, but do not see how to set the HostedVoiceMail attribute and even though HostedVoiceMail is still an option in the Set-CsUser cmdlet, when we attempt to use it, we get the error that "HostedVoiceMail is not a supported property"

Set-CsPhoneNumber does not list this as a valid parameter

---
#### Document Details

⚠ *Do not

[2022-02-11 10:37] falk-22 opened #8941 "Wildcards cannot be used as the first character"
One important information is missing on this page: Wildcards cannot be used as the first character.
This makes it impossible to filter for SMTP addresses or UPNs, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3762ada1-99d6-fa6d-fbd7-524003f8c3b2
* Version Independent ID: 03e801b7-fa14-b5fb-8600-131c9e73292f
* Con

[2022-02-11 14:20] get-itips commented on #8865
Hello @blue-ken
How are you?
The behavior is documented in the [Get-SPOSite](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-sposite?view=sharepoint-ps) article

[2022-02-11 14:40] JensTrier commented on #8939
@sarollins Thanks for the feedback! HostedVoiceMail is not needed to be set for Microsoft Teams users and that's why the parameter is not available on Set-CsPhoneNumberAssignment. I'm in the process of updating the Cloud Voicemail documentation to make this clear.

Feel free to close this issue.

[2022-02-11 14:40] blue-ken commented on #8865
Ok thanks but then how to I quickly make changes to all sites (sharepoint, onedire and teams) which are not set to allowlimitedaccess (we need to exclude some of them with a certain name in the url)? All of the commands need a fee each loop that I have tried which slows the process down? I have tried this but it errors!

,(Get-SPOSite -IncludePersonalSite $true -Limit all -Filter "Url -like '-my.s

[2022-02-11 15:59] sarollins commented on #8939
Documentation to be updated that this field is not needed for Teams Users

[2022-02-11 16:00] sarollins commented on #8939
Documentation to be updated that this field is not needed for Teams Users

[2022-02-11 19:28] heintonny opened #8944 "New-CsAutoAttendant Example 3 not valid"
I think Example 3 in New-CsAutoAttendant is no longer valid.

https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/skype/skype-ps/skype/New-CsAutoAttendant.md

When I try to create two Attendant who share the same Schedule I get this error message:

[code]

[2022-02-11 23:07] dariomws commented on #8881
Hi @et01267, thank you for your feedback.

@isrumnon, could you kindly help here? Thanks!

[2022-02-12 12:22] dariomws commented on #8919
Hi @eloka080677, thank you for your feedback.

@isrumnon, could we provide more information? Thanks!

[2022-02-12 12:22] dariomws commented on #8882
Hi @et01267, thank you for your feedback.

@isrumnon, could we provide more information? Thanks!

[2022-02-12 12:30] dariomws commented on #8891
Hi @brilwjm, thank you for your feedback.

I think you're talking about the following note:

Basic auth should be enabled in the WinRM client. You can disable basic auth in your tenant. Anyway, the team is also working on the removal of the dependency on the WinRM client.

[2022-02-12 13:05] dariomws commented on #8906
Hi @BlitzkriegSoftware, thank you for your feedback.

I cannot find the link you are referring on this article. You can click on Reference to see the list of cmdlets.

[2022-02-12 13:19] dariomws commented on #8918
Hi @sarollins, thank you for your feedback.

For Microsoft Teams you should use Grant-CsOnlineVoicemailPolicy. For more information, see https://docs.microsoft.com/microsoftteams/manage-voicemail-policies.

[2022-02-13 12:41] DEberhardt commented on #8904
`Remove-CsPhoneNumberAssignment -RemoveAll` also does not disable EV if no PhoneNumber is present on the User anymore...

[2022-02-13 20:10] Korbyn72 commented on #8932
The issue was resolved Thursday morning for all 3.x teams ps modules.  About an hour AFTER I redid customer documentation for  with the 2.6 module...  at the same time having another cx migrating from lync to downgrade from 2.6to 2.3.1 as the move csuser broke...  really hope for more stability and consistency at some point, keeping up and keeping everyone functioning is quite maddening

Sent from

[2022-02-14 04:56] isrumnon commented on #8919
Hi @eloka080677  @dariomws , this is a bug in our system and we are targeting to support the old format soon. We are targeting end of March to reintroduce the old formats. And you are correct in pointing out that presently the OPATH syntax is working - you can continue to follow this syntax or we can deflight your tenant from our recent changes if that helps. Do let us know if you want to go with

[2022-02-14 05:00] isrumnon commented on #8882
Hi @eloka080677 @dariomws , this is a bug in our system and we are targeting to support the old format soon. We are targeting end of March to reintroduce the old formats. We temporarily support only OPATH syntax (examples below) or we can deflight your tenant from our recent changes if that helps. Do let us know if you want to go with the second option. Thanks

examples of new syntax:

"-eq" now r

[2022-02-14 05:04] isrumnon commented on #8881
@et01267 @dariomws  Thanks for the feedback. We are working on the documentation changes for the same

[2022-02-14 07:37] donlassini opened #8947 "Teams PS: Ensure compatibility across tenant versions"
Sometimes cmdlets changes are released that depend on the tenant version; hence, the same cmdlet could work with one tenant, and fail with another, if the latter has not been upgraded.

Given that we have automatic solutions that log on to e.g. customers' or or own tenants, and given that we cannot query for the tenant version ourselves, I suggest that all functions that require specific tenant ve

[2022-02-14 08:01] richardh-ncp opened #8948 "Get-CsUserCallingSettings returns no value for some attributes for some users in our tenant"
I have been experiementing with the new "Get-CsUserCallingSettings" cmdlet in 3.0.1

I notice that for some of our users attribute are blank where it is assumed that a value should be present

For example "IsForwardingEnabled" should have a value of true or false, yet for half our users nothing is displayed
Similar for "ForwardingType"

Any other tests i should try??

[2022-02-14 10:51] JensTrier commented on #8948
@richardh-ncp thanks for the feedback.

Seeing IsForwardingEnabled and IsUnansweredEnabled as blank in the output from Get-CsUserCallingSettings means that the user has not gone and explicitly changed the call forward settings in Microsoft Teams (Settings->Calls. In such cases the default call forwarding settings is in effect, i.e. transfer to voicemail on unanswered.

Seeing other parameters as b

[2022-02-14 12:25] stanalek opened #8950 "Update TrustedOrganizations on Set-InboundConnector (and other relevant places)"
TrustedOrganization description currently shows:
{{ Fill TrustedOrganizations Description }}

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0730732-c585-4e29-a923-a1b5c9fb5bbb
* Version Independent ID: 66a7125a-149a-e485-e10d-a745ff0dbe95
* Content: [Set-InboundConnector (ExchangePowerShell)](https://docs.microsoft.com/en

[2022-02-14 12:41] et01267 commented on #8882
Hmm - I'm not sure which is worse:
- Introducing a breaking change to the code that should have been obvious to any QA (which you evidently didn't do)
- Not advertising the fact that you deployed this breaking change
- Not documenting the new behavior (even if it is broken) by indicating that this is a change to a different syntax
- Not fixing it IMMEDIATELY when you realized it was broken in prod

[2022-02-14 13:06] isrumnon commented on #8882
@et01267 apologies for the inconvenience. We just very recently discovered this change in our system which was unintended and were trying to figure out a plan to mitigate this issue. For now we can rollback the change for affected tenants and have started to do the same. Can you please share your tenant ID so we can make sure your tenant has been included in our rollback list? Thanks!

[2022-02-14 14:00] sarollins commented on #8918
So, we're grabbing 2 attributes from the Get-CsOnlineUser cmdlet.  One is the HostedVoicemailPolicy, the other is the OnlineVoicemailPolicy.  We've been using the Grant-CsOnlineVoicemailPolicy cmdlet to set the OnlineVoicemailPolicy and the Grant-CsHostedVoicemailPolicy for the HostedVoicemailPolicy values

[2022-02-14 14:14] GarthMartin opened #8951 "Using SPMT Powershell cmdlets when SPOnline does not allow legacy sign-in methods"
Trying to use SPMT PS cmdlets to migrate file shares to SPO.  Our sandbox tenant allows legacy sign-in methods, however the production build does not.  Our PS scripts are failing with "Cannot contact web site ‘https://tenant-admin.sharepoint.com/’ or the web site does not support SharePoint Online credentials. The response status code is ‘Unauthorized'” errors, which I am fairly confident is relat

[2022-02-14 14:19] dariomws commented on #8918
@sarollins, please use the following article to set Voicemail policies for Microsoft Teams:
https://docs.microsoft.com/microsoftteams/manage-voicemail-policies

HostedVoicemailPolicy is used, for example, to configure Microsoft Cloud Voicemail service for your Skype for Business on-premises users:
https://docs.microsoft.com/skypeforbusiness/hybrid/configure-cloud-voicemail

[2022-02-14 15:33] get-itips commented on #8865
@blue-ken As long as you do not use the Filter or Limit parameter you will receive the correct value for that property, so, to make such a change you would need to get every site individually (yes a for each loop can do that)

Other than that I do not identify any article change and we are limited to documentation issues

Thank you!

[2022-02-14 15:39] yogkumgit commented on #8810
@chrisda Kindly help us with your comment. Thanks

[2022-02-14 15:43] yogkumgit commented on #8882
@isrumnon

[2022-02-14 15:45] yogkumgit commented on #8891
@dariomws Thank you very much for the contribution and sharing this explanation. @brilwjm Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-14 15:45] #8891 closed

[2022-02-14 15:53] yogkumgit commented on #8904
@JensTrier Please reply

[2022-02-14 15:55] #8901 closed

[2022-02-14 16:39] blggmitch opened #8952 "set-CsOnlineDialInConferencingUser Reset Leader Pin"
Can't seem to find anywhere if you can resetleaderpin manually .
Here is the script in full.. Set-CsOnlineDialInConferencingUser -id amos.marble@contoso.com -ResetLeaderPIN
It only allows the pin to be auto generated.
Any ideas?

Thanks

[2022-02-14 18:00] DEberhardt commented on #8919
Er. This is six weeks in which all our deployments are hampered on 10+ tenants. This is going to impact a lot of our customers. I am afraid this will go down swimmingly with our operations team...

Is there an option to downgrade the MicrosoftTeams version (3.0, 2.6?) to circumvent this?

[2022-02-14 18:02] DEberhardt commented on #8904
My testing was hampered by inconsistent results across tenants.
On some tenants I was able to do so, on others, it simply did not want to disable EV.

This would be a classic example of having to use the `-Force`  😄

[2022-02-14 18:03] isrumnon commented on #8919
Hi @DEberhardt we have a workaround to re-enable the old syntax for your affected tenants. Can you share the tenant IDs of the tenants impacted by this change so we can unblock you?

[2022-02-14 18:06] DEberhardt commented on #8919
I can collect them tomorrow morning (already signed off for today). Should this be resolved via a ticket to be opened via the tenant? We need to play this visibly for each customer

[2022-02-14 18:09] DEberhardt commented on #8904
As in `Remove-CsPhoneNumberAssignment -RemoveAll -Force` to clean an object regardless of status (Removal of OnPremLineUri, LineUri, TelephoneNumber, EnterpriseVoiceEnabled flag). There is also a DIRSYNC issue I have in the back of my mind that would be good if we can address this one (OnPremLineUri cannot be set/changed/removed if object is moved from Skype and OnPremLineUri is set via DirSync...

[2022-02-14 18:21] DEberhardt commented on #8919
Are you aware that this also breaks `Grant-CsOnlineVoiceRoutingPolicy` assignments as the CmdLet cannot search for users (Error: UserId not found) - here too. Don't know if this is one bug or two, but it cripples MACD requests on our end for DirectRouting customers

[2022-02-14 18:53] isrumnon commented on #8919
To your first question: We have already rolled the change to most affected tenants but I want to confirm by looking at that list you will be sharing. And you can just share the tenant IDs with me (either through Teams or e-mail).

To your second question: No my team does not own that cmdlet. Would suggest you reach out to pbafna@microsoft.com

[2022-02-14 19:12] tylermontneyacc opened #8953 "StartDate and EndDate do have default values"
After a lengthy case with Microsoft Support, I determined the reason `Get-MessageTraceDetail` did not return data for "older" entries is because `StartDate` and `EndDate` must be specified. It appears `StartDate` is 48 hours ago, and `EndDate` is now. [Get-MessageTrace](https://docs.microsoft.com/en-us/powershell/module/exchange/get-messagetrace?view=exchange-ps) suggests this to be true:

---
###

[2022-02-14 23:12] sarollins opened #8955 "Various errors calling Connect-MicrosoftTeams"
We are trying to help a client of ours who, when the attempt to connect using this cmdlet, they get the following errors

$user = 'user@domain.com'
$pw = 'aPassword'
$cred = New-Object System.Management.Automation.PSCredential($user,  (ConvertTo-SecureString $pw -AsPlainText -Force))
Connect-Microsoftteams -Credential $cred
Connect-Microsoftteams : One or more errors occurred.
At line:4 char:1
+ C

[2022-02-14 23:15] Jones-Bones opened #8956 "Incorrect information about AutomateProcessing parameter values"
AutomateProcessing  parameter explanation has a small mistake where AutoUpdate and AutoAccept explanations are flipped around.

From earlier documentation:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d95eb528-ab96-b415-981c-35d50c90dba0
* Version Independent ID: 0433f43b-538d-8000-a11d-69b4a5c97e0e
* Content: [Set-C

[2022-02-14 23:17] #7188 closed

[2022-02-15 07:55] JensTrier commented on #8905
@zaichornik Thanks for bringing this up! Your suggested approach is correct. I'll update the PS cmdlet documentation page to reflect the same.

[2022-02-15 08:21] eloka080677 commented on #8919
Sorry for being late with reply.
This problem occures in different tenants, so it is hard t o write down all customer tenants where we are supporting implementing Microsoft Teams. Glad to hear you are rolling back the changes. I will try today if the problem is solved. If i got still problems i will post the tenant id

[2022-02-15 08:31] isrumnon commented on #8919
Sure, Thanks!

[2022-02-15 10:31] vincentkurmi opened #8959 "Get the Phone Number Type of assigned phone numbers"
Hi,

Regarding the attribute "PhoneNumberType".
"The type of phone number to assign to the user or resource account. The supported values are DirectRouting, CallingPlan and OperatorConnect."

We can define the type when we set the phone number, that's pretty clear for that point. But do we have a way to get the info of an existing user? I mean, how do we know the type of phone numbers already assi

[2022-02-15 10:55] JensTrier commented on #8959
@vincentkurmi Thanks for the feedback. In the Teams admin center you can see the phone number type if you go to Users -> Manage users -> User details and look under Account.

[2022-02-15 11:13] vincentkurmi commented on #8959
Thanks for the prompt answer, but we don't use the admin center. No way to get it through PowerShell?

[2022-02-15 12:16] JensTrier commented on #8959
Not currently as far as I know

[2022-02-15 12:20] vincentkurmi commented on #8959
Ok we will try a way to keep the info. Thanks.

[2022-02-15 12:20] #8959 closed

[2022-02-15 12:51] Fimlore opened #8960 "Difference in output Get-CSonlineUser in version 3.1.1 and 2.3.1"
I see a difference in output of Get-CSOnlineUser between versions 3.1.1 and 2.3.1
version 2.3.1:

[code]

Version 3.1.1:
[code]

is this by design?

[2022-02-15 13:59] yogkumgit commented on #8664
@dariomws

[2022-02-15 14:03] yogkumgit commented on #8906
@dariomws Thank you very much for the contribution and digging deep into it.  @BlitzkriegSoftware We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update thi

[2022-02-15 14:03] #8906 closed

[2022-02-15 14:51] isrumnon commented on #8882
@et01267 we have rolled out the change and most of the tenants should be able to use the old syntax format barring a few tenants that have already switched to the newer format

To your primary question on the "-match" operator - This is not supported insider the "-Filter" parameter. We will update the Get-CsOnlineUser documentation stating the same

[2022-02-15 15:21] andreprakash commented on #8935
We have the same issue, it affects Teams PowerShell Module 3.x (tested with 3.0, 3.1 and 3.1.1). We are required to use an earlier PS-Module to ensure that calling is only allowed for certain users.

[2022-02-15 15:44] GarmanK opened #8962 "Microsoft Teams PowerShell Version 3.1.1 Get-CsOnlineUser Fails if user has apostrophe in UPN"
Microsoft Teams PowerShell Version 3.1.1 Get-CsOnlineUser Fails if user has apostrophe in UPN

I couldn't get the text to format correctly here, so please see the screenshot.
![image](https://user-images.githubusercontent.com/98784624/154096557-32669679-0955-40e3-ac30-89e634c02622.png)

[2022-02-15 19:52] #8918 closed

[2022-02-15 20:07] tu-n-tran opened #8963 "Minor edit/update to URL anchor"
Hi on this page there are three examples and they're numbered 1,2, 1. I believe it's supposed to be 1,2,3. I came across this as I'm trying to provide a URL to the 3rd example but since it's labeled 1, the URL/anchor refers it back to the first. I just thought I'd bring it to your attention. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-02-15 20:24] #8928 closed

[2022-02-16 08:53] isrumnon commented on #8960
Hi @Fimlore yes the returned output attributes are expected as the ones not showing up have been deprecated as documented here https://docs.microsoft.com/en-us/powershell/module/skype/get-csonlineuser?view=skype-ps

[2022-02-16 09:05] Fimlore commented on #8960
Hi, thanks for the reply. I understand the deprecated items that are missing , but not the assigned lineURI, this can be seen in 2.3.1, but not in 3.1.1

[2022-02-16 09:07] isrumnon commented on #8960
Got it, can you please share your Tenant ID and User ID so my team can look into it? This is unexpected behavior

[2022-02-16 11:22] richardh-ncp commented on #8948
This was my guess

For a new user i see this:

SipUri                    : sip:xxxxxx@dxxxxxxxxxxxxx.com
IsForwardingEnabled       :
ForwardingType            :
ForwardingTarget          :
ForwardingTargetType      :
IsUnansweredEnabled       :
UnansweredTarget          :
UnansweredTargetType      :
UnansweredDelay           : 00:00:20
Delegates                 :
Delegators                :
CallGr

[2022-02-16 11:38] yogkumgit commented on #8882
@et01267 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-16 11:38] #8882 closed

[2022-02-16 11:44] yogkumgit commented on #8896
@robdy Thank you very much for the contribution and updating the documentation with PR. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-16 11:45] #8896 closed

[2022-02-16 11:49] yogkumgit commented on #8919
@dariomws and @isrumnon Thank you very much for the contribution and sharing this explanation. @eloka080677 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-02-16 11:49] #8919 closed

[2022-02-16 11:57] yogkumgit commented on #8939
@sarollins Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-16 11:57] #8939 closed

[2022-02-16 16:18] pmisley commented on #8960
Thank goodness someone else is seeing this as well. I thought I was going crazy. I understand the attributes have been deprecated, but the results are simply wrong. In one version it tells me EnterpriseVoiceEnabled is true and in another it tells me EnterpriseVoiceEnabled is false. I have automation built around this that is now broken since it is returning incorrect results.

[2022-02-16 16:26] pmisley commented on #8960
Some additional details that I have determined around this bug. When performing a single user lookup, the new results are displayed.

`Get-CsOnlineUser -Identity user@domain.com`

If pulling a group of users and then referencing them individually, it displays all the attributes although not all correctly match the expected value.

`$AllUsers = Get-CsOnlineUser`
`$AllUsers[0]`

[2022-02-16 17:12] chrisda commented on #6716
Until Certificate and/or CertificateThumbprint parameters are added to Connect-IPPSSession, I don't think it will work. As of v2.0.6 Preview4 in both PowerShell 5.1 and PowerShell 7.x, those parameters are not available.

[2022-02-16 18:03] chrisda commented on #8941
@falk-22, you are correct for filters in the cloud. The last time I checked (which, admittedly, has been a while), on-prem Exchange doesn't have this limitation. The topic was originally written for on-prem Exchange, and it was later (a couple of years ago) made single-source for both cloud and on-prem.

I'll make the update and close this issue when I'm done.

[2022-02-16 18:07] BrenCollinsAmundi commented on #8930
I have the same problem assigning a Teams Compliance recording policy using the command Teams powershell cmdlet "Grant-CsTeamsComplianceRecordingPolicy"

For some users I am getting the error
"Microsoft.Teams.ConfigAPI.Cmdlets.internal\Grant-CsUserPolicy : User does not exist"

I can however complete a Get-CsOnlineUser for the same identifier and it outputs fine.
and I can complete the same "Grant

[2022-02-16 18:17] jangojim commented on #6716
I know it doesn't work, can someone explain why we received that from Microsoft then?!

Certificate based Authentication for Security and Compliance Center PowerShell
MC316448
With this update, which will improve the security of your tenant, Security & Compliance PowerShell will enable configuration of certificate-based authentication to allow unattended App-only access.
When this will happen:
Rol

[2022-02-16 18:38] BrenCollinsAmundi commented on #8930
I have confirmed the command works if I use MicrosoftTeams v2.6.0

[2022-02-16 19:26] mbratukha commented on #6716
I've raised a ticket on the Microsoft's Feedback platform regarding this issue: https://feedbackportal.microsoft.com/feedback/idea/15afa4c6-e988-ec11-a81b-0022484c51ef

It would be great if everybody who requires an app-only access to the S&C PowerShell could write a comment there with your use cases. It might reach the responsible Microsoft's engineers directly.

[2022-02-16 19:33] mbratukha commented on #6514
For those who would face the same requirements, there is a ticket here: https://feedbackportal.microsoft.com/feedback/idea/6c851739-eb88-ec11-a81b-0022484c51ef

[2022-02-16 19:34] #6514 closed

[2022-02-16 21:29] chrisda commented on #8950
@stanalek, empty parameter descriptions like that are a known issue. The parameter is definitely available, but should it be? Does it work? See more about the issue [here](https://github.com/MicrosoftDocs/office-docs-powershell/issues/7429#issuecomment-808564486).

So can you vouch for this parameter? Do you know how it works and if it works? If so, you can easily add a description. Instructions a

[2022-02-16 21:30] chrisda commented on #8810
No comment.

[2022-02-16 22:11] chrisda commented on #8963
@tu-n-tran, fixed.

In the future, you too can make changes like this yourself. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/main/README.md>.

Thanks for the feedback.

Closing

[2022-02-16 22:20] tu-n-tran commented on #8963
Oh that’s good to know. I’ll do that!

Tu Tran
ITIL Managing Professional, CISSP, Prosci®, Security+ CE
(858) 909-3977 | ***@***.***
Microsoft
________________________________
From: Chris Davis ***@***.***>
Sent: Wednesday, February 16, 2022 5:11:21 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Tu Tran ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/office-docs-powers

[2022-02-16 22:24] #8963 closed

[2022-02-17 00:45] cgskreddy commented on #8939
If you want to prevent calls from going to voicemail, create a "Teams Calling Policy", configure "AllowedVoicemail" attribute as "AlwaysDisabled" and assign it to the account. By default the global policy is applied with which calls are redirected to the voicemail if not answered. You can refer to [Set-CsTeamsCallingPolicy (SkypeForBusiness) | Microsoft Docs](https://docs.microsoft.com/en-us/power

[2022-02-17 05:08] shivtorov commented on #8960
see 3-rd party blog post about the changes in phone number assignment:
https://www.adamfowlerit.com/2022/01/microsoft-teams-powershell-phone-number-assigning-cmdlet-change/

[2022-02-17 06:56] isrumnon commented on #8960
@pmisley can you share your tenant ID and impacted user ID so we can get it checked out?

[2022-02-17 07:55] yogkumgit commented on #8948
@richardh-ncp Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-17 07:55] #8948 closed

[2022-02-17 08:00] yogkumgit commented on #8927
@jackbob2020110 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.

[2022-02-17 08:07] yogkumgit commented on #8950
@stanalek Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-17 08:07] #8950 closed

[2022-02-17 08:14] yogkumgit commented on #8903
@crackermania Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-17 08:14] #8903 closed

[2022-02-17 08:40] DEberhardt commented on #8947
We are facing the same issue across multiple tenants.
The Admin experience with the MicrosoftTeams module leaves many admins with a shrinking hairline (and I don't think that is purely age-related 😉 )

Backwards compatibility was always one of Microsofts strong believes, I hope this has not changed for the Cloud.

Can I ask that the changes that are introduced silently are communicated better and

[2022-02-17 08:56] poshdude commented on #8960
I'm seeing this behaviour with any MicrosoftTeams v3.x.x.  Not only are certain properties not being returned the types are also different.

$csolProps = @(
    'UserPrincipalName',
    'Enabled',
    'InterpretedUserType',
    'TeamsUpgradeEffectiveMode',
    'Identity',
    'ObjectId',
    'WindowsEmailAddress',
    'LineURI',
    'OnPremLineURI',
    'OnPremLineUriManuallySet',
    'EnterpriseV

[2022-02-17 09:26] DEberhardt commented on #8960
Personally, I am only missing VoicePolicy as I was ascertaining the VoiceConfigType from there.
Based on this table: https://docs.microsoft.com/en-us/microsoftteams/direct-routing-migrating#user-provisioning-end-state-for-various-pstn-connectivity-options, I have created an `InterpretedVoiceConfigType` that now defaults to `Unknown` because of VoicePolicy not being there anymore... Would it be pos

[2022-02-17 10:54] DEberhardt commented on #8901
I have written a CmdLet that tries to bridge that gap and determine the number type for you: [`Get-TeamsPhoneNumber`](https://github.com/DEberhardt/TeamsFunctions/blob/main/docs/Get-TeamsPhoneNumber.md) - hope you like it.

[2022-02-17 11:29] man4ini commented on #8919
Hi, used to work with OPATH 1 previous week, not anymore.

![image](https://user-images.githubusercontent.com/99261750/154468366-40ff0185-cd6f-472f-bc54-109f66864914.png)

[2022-02-17 11:32] isrumnon commented on #8960
@DEberhardt what was the output you were looking at previously in VoicePolicy and expecting to see in the new TPM version?

[2022-02-17 11:44] isrumnon commented on #8919
Hi @man4ini we had to rollback that change as most customers were not comfortable with the OPATH syntax. Can you please revert to the old syntax?

[2022-02-17 11:54] man4ini commented on #8919
![image](https://user-images.githubusercontent.com/99261750/154476430-34aca174-c624-41fe-86e7-5cc2015928b9.png)

[2022-02-17 12:00] man4ini commented on #8919
![image](https://user-images.githubusercontent.com/99261750/154477557-2ae2454a-6b74-49b3-a68f-3db3ec891b4f.png)

[2022-02-17 12:25] isrumnon commented on #8919
@man4ini I just noticed, the error message you are getting in the first message is because non-numeric characters are not supported and you can still use the OPATH syntax
![image](https://user-images.githubusercontent.com/89481047/154481296-33f3035f-f501-4086-a69a-5f42913fc2fc.png)

[2022-02-17 12:28] man4ini commented on #8919
@isrumnon , as said I can still use it but as you can see it does not provide an output. It should :) We have this highly implemented in our automations.

[2022-02-17 13:06] vlethiec opened #8973 "Missing and/or wrong information on the Get-CsOnlineUser page"
Hi all,

I started to study the new module 3.1.1 compared to the module 2.6.0.
I found some issues in the documentation.

# Attributes renamed/replaced

- The "Enabled" attribute has been renamed "AccountEnabled".
- The "ProxyAddresses" attribute has been renamed "ProxyAddress", and only contain SMTP values
- The "ShadowProxyAddresses" attribute has been renamed "ShadowProxyAddress"
- The "OnPremS

[2022-02-17 13:12] DEberhardt commented on #8960
This was 'BusinessVoice' for managed Numbers (Calling Plan, et. all - unknown whether this also extended to operator Connect as that was not documented in the above documentation for Direct Routing). and 'HybridVoice' for unmanaged Numbers (i.E. Direct Routing and Skype For Business Hybrid PSTN connectivity, etc.).

Based on that, I have created a small logic that creates the VoiceConfigType based

[2022-02-17 13:25] andreprakash opened #8974 "Teams PowerShell Module 3.1.1 - Get-CsOnlineDialInConferencingUser empty result"
The command `Get-CsOnlineDialInConferencingUser -identity userprincipalname` gives back an empty result.
If using the command without any identity (`Get-CsOnlineDialInConferencingUser`) a list of all users is returned correctly but take a long time to read out all the users settings.

If adding "-force" to the command it works as expected (`Get-CsOnlineDialInConferencingUser -identity userprincipa

[2022-02-17 13:41] DEberhardt commented on #8919
Hello,

I generally use the filter like this:

[code]

If I recall correctly OPATH (3.0?) did not have a LIKE query which stumped us for queries against AzureAd a bit. Has this since been addressed?

[2022-02-17 13:56] DEberhardt commented on #8919
Making this a separate post - it fits thematically here, but may need a separate issue altogehter:

The LineUri now is no longer presented as a full TEL URI string ("tel:+" is omitted _sometimes?_), but input is accepted. This impacts on queries that go for `$Filter = 'LineURI -like "tel:+*"'` but I noticed that the output is still returned... is this a formatting issue on the output side of `Get-

[2022-02-17 14:00] man4ini commented on #8919
Thanks God everything is fine in 2.6.0 :)

DEberhardt, tried your approach in 2.6.0 and cannot get an output.

![image](https://user-images.githubusercontent.com/99261750/154496778-0f96668c-fc22-4def-b526-386afd7adf10.png)

[2022-02-17 14:18] man4ini commented on #8919
My bad :) run the variable and got it

[2022-02-17 14:37] man4ini commented on #8919
Hey folks, when we saw this we started to prepare but looks like there is a long path to go:

![image](https://user-images.githubusercontent.com/99261750/154502984-cbbfdc4f-b7d0-4b12-8368-9afa7dcc152d.png)

The new commandlets are not available in 2.6.0 which is working fine! If you retire the old commandlets it means that when running the new commandlets you will get the newest Teams module and I

[2022-02-17 14:44] isrumnon commented on #8919
@DEberhardt thanks for bringing this to our notice - we'll look into it

[2022-02-17 14:44] man4ini commented on #8919
@isrumnon , sorry to tell you but you have no idea what is going on. I see that you are a project manager and maybe that explains it.

I had to play around a lot to figure out all of this. We have 3.1.1 on our dev instance and found out that it is not working as expected.

In Prod we have 2.6.0 which is stable and everything is fine there.

[2022-02-17 14:59] vincentkurmi commented on #8919
Hi @man4ini, I found some points to improve here. https://github.com/MicrosoftDocs/office-docs-powershell/issues/8973

It can may be help you a little bit.

[2022-02-17 15:06] vincentkurmi commented on #8973
We also find some impacts on existing attributes:
- The SIP prefix has been removed from "SipAddress" and "SipProxyAddress"
- The DialPlan and LocationPolicy are now empty

It could be great to have a note on these points.

[2022-02-17 15:12] isrumnon commented on #8919
@man4ini apologies, there are some nuances here which makes it hard to pin-point the problem you might be facing. I mean that in the sense that there are certain customers that are still enabled for OPATH syntax while the rest are not.
If you can share the tenant ID in which you are facing problems for TPM 3.1.1 we can help get you unblocked to use it without facing issues for the filtering scenar

[2022-02-17 15:15] isrumnon commented on #8919
@DEberhardt also can you share the tenant ID in which you were facing problems with the LIKE query in TPM 3.0? We might be able to fix that issue

[2022-02-17 15:21] man4ini commented on #8919
@isrumnon, we are human beings at the end and we are not perfect, I do understand that but last week I was able to use OPATH syntax and it worked, now it is not working no matter I do. Tried with the other approach as well:

![image](https://user-images.githubusercontent.com/99261750/154511920-408109c9-9f63-481c-8878-2d14244142a0.png)

Few hours ago you told me:

![image](https://user-images.githu

[2022-02-17 16:28] eblingus opened #8975 "Grant-CsTeamsMeetingPolicy fails on disabled user"
Get-csonlineuser for disabled user works just fine.
Grant-CsTeamsMeetingPolicy for same user fails with 'Management object not found' error.
This creates a situation where a disabled user (which I can't delete because of company policy)  prevents me from removing assigned Teams policies, which means I can no longer delete those policies.  It's a minor use case, but still very annoying.

[2022-02-17 18:35] isrumnon commented on #8919
@man4ini I had earlier assumed that your tenant was part of the batch of tenants that were enabled for the old syntax since you mentioned that OPATH syntax was not working. But it seems like even the OPATH syntax is not working - for this reason I am requesting you to share the tenant ID on which you are using TPM 3.1.1 so we can revert it back to be able to use the old syntax and your other scena

[2022-02-17 22:09] JB-1 commented on #8905
Hello @JensTrier,
Is there a place I can get all the possible error codes (Code, Message pairs) that are returned?

Out of curiosity, I was wondering why a try catch block approach wasn't used?

try{
Set-CsPhoneNumberAssignment -Identity user1@contoso.com -PhoneNumber +12065551234 -PhoneNumberType CallingPlan  -ErrorAction Stop
}catch{
# Log the error
}

[2022-02-18 00:44] chrisda commented on #8956
@Jones-Bones, the current (wrong?) descriptions were based on a recent update:

<https://github.com/MicrosoftDocs/office-docs-powershell/pull/8842>

That update was based on Exchange 2016/2019 behavior.

Comments?

[2022-02-18 01:44] pmisley commented on #8960
@isrumnon

Tenant ID: b1c14d5c-3625-45b3-a430-9552373a0c2f
User ID: Elizabeth.Carrasco@sas.com

[2022-02-18 08:54] JensTrier commented on #8905
@JB-1 Unfortunately, there is not such a place. I'll take the feedback to the team.

[2022-02-18 09:52] man4ini commented on #8919
@isrumnon, let's give it a try a8029e02-891d-4bb6-86d1-1831ab11ed72. Thanks!

[2022-02-18 10:08] isrumnon commented on #8960
@pmisley we made some changes on our end - this should fix this issues you are experiencing with unexpected values for bulk queries.
The results displayed for single user values is by design given the deprecated attributes were SfBO specific

[2022-02-18 11:21] isrumnon commented on #8919
@man4ini can you please check now?

[2022-02-18 11:45] man4ini commented on #8919
@isrumnon, confirm it is working now. Are you going to change the syntax going forward for 3.1.1?

[2022-02-18 14:05] andreprakash commented on #8935
Somehow, I do not see any objectid being returned and if using the get-csonlineuser command the OnlineDialOutPolicy is empty too...
![image](https://user-images.githubusercontent.com/99743066/154697274-e61833f0-5cd5-4ca8-a202-203bb08f1d63.png)

[2022-02-18 14:44] vincentkurmi commented on #8935
Hi @andreprakash,

I tried on several tenants and when I don't specify an identifier, I always have the old attributes.
I am little bit concern that we don't have all the same behavior.

![image](https://user-images.githubusercontent.com/52075388/154703421-8ff14e5b-ca9b-4db2-a689-803863443f44.png)

[2022-02-18 15:58] vincentkurmi commented on #8935
I installed the latest version 3.2.0-preview and now I have your behavior. So we can assume, they decided to remove the previous behavior. But anyway the OnlineDialOutPolicy is still empty.

![GetCSOnlineUser3_2_0-preview](https://user-images.githubusercontent.com/52075388/154716630-73e344b3-61f9-46bf-818c-a1fb04fbd8e0.png)

![GetCSOnlineUser3_1_1](https://user-images.githubusercontent.com/5207538

[2022-02-18 18:34] eleighty opened #8981 "Possible bug when using Get-TeamChannelUser with a -DisplayName that includes a hyphen"
When attempting to automate the populating of our Teams channels, it was discovered that if the -DisplayName includes a hyphen in it, PowerShell encounters an error (see attached image). We tested the same script on numerous other Teams channels, the only ones coming back with this error were the ones with hyphens in the display name

![Get-TeamChannelUser Error](https://user-images.githubusercont

[2022-02-18 20:06] chrisda commented on #6716
All, you can connect to Security & Compliance Center PowerShell using the Connect-ExchangeOnline cmdlet IF you also use the _ConnectionURI_ parameter and value `https://ps.compliance.protection.outlook.com/powershell-liveid/` in the command. Try that and see if it works.

[2022-02-18 21:36] chrisda commented on #8873
@Karr, which parameter are you talking about?

[2022-02-18 21:43] chrisda commented on #7945
@nidelius, late to the party, but I can 100% confirm that auto-mapping requires Full Access permissions on the mailbox.

You might find a solution for creating/modifying Outlook profiles in this blog post:

<https://techcommunity.microsoft.com/t5/outlook-global-customer-service/zeroconfigexchange-automating-the-creation-of-an-outlook-profile/ba-p/389691>

[2022-02-18 21:52] chrisda commented on #8920
@jonsmith40, sorry. I thought I responded to this before I went on vacation.

According to [this article](https://docs.microsoft.com/outlook/troubleshoot/profiles-and-accounts/remove-automapping-for-shared-mailbox), it appears that when you add Full Access permissions to a mailbox, you need to disable auto-mappping **at that time** for it to work. If you didn't then you need to start over:

Grante

[2022-02-18 23:52] chrisda commented on #8920
@jonsmith40, further research reveals that the ClearAutoMapping switch is meant to exclude the mailbox from auto-mapping for ALL users who have Full Access permission to the mailbox. So, if 50 users have Full Access permission to the John Doe mailbox, the following command should prevent the John Doe mailbox from being automatically opened/added to the Outlook profiles of the 50 users:

[code]

Do

[2022-02-19 00:09] chrisda commented on #8933
@baartch, so are we OK to close this issue?

[2022-02-19 00:12] chrisda commented on #8941
@falk-22, fixed.

Thanks for the feedback.

Closing

[2022-02-19 00:17] chrisda commented on #8953
@tylermontneyacc, OK, I added the following text to the StartDate and EndDate parameter descriptions:

Thanks for the feedback.

Closing

[2022-02-19 00:17] #8953 closed

[2022-02-19 00:19] chrisda commented on #8956
@Jones-Bones, FWIW, I switched the descriptions back as you described; they had been that way for years and years before the recent change, including being blogged about by other people. I can't believe that they've been incorrect for all this time, which is why I changed them back.

Thanks for the feedback.

Closing

[2022-02-19 00:19] #8956 closed

[2022-02-19 00:29] chrisda commented on #8810
@Mike-Crowley, I have no idea what the relationship is between the Exchange \*-UserPhoto and Microsoft Graph *-MGUserPhoto[Content] cmdlets are. Nevertheless, I added appropriate links to the Graph cmdlets in the Exchange cmdlet topics.

Thanks for the feedback.

Closing

[2022-02-19 00:29] #8810 closed

[2022-02-19 00:52] chrisda commented on #8873
@Karr, OK I added descriptions for the MailboxMovePublishedScopes, MailboxMoveCapability, and OAuthApplicationID parameters per the information in [this topic](https://docs.microsoft.com/en-us/microsoft-365/enterprise/cross-tenant-mailbox-migration).

Thanks for the feedback.

Closing

[2022-02-19 00:52] #8873 closed

[2022-02-19 08:06] dariomws commented on #8932
Hi all,

Thank you for your feedback.

I have tested it with 3.1.1 in a lab tenant and it works for me.

If you still have this issue, I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microso

[2022-02-19 08:06] dariomws commented on #8930
Hi all,

Thank you for your feedback.

I have tested it with 3.1.1 in a lab tenant and it works for me.

If you still have this issue, I think the best way forward is if you open a service ticket in your tenant so this can get resolved ASAP. Based on the outcome, let me know if it can be called out in the docs.

Please follow this link to contact support for business products: https://docs.microso

[2022-02-19 13:25] mbratukha commented on #6716
@chrisda, thank you very much for your response!
I can confirm that the access to SCC PowerShell is working even via app-only context (app ID + certificate).

[2022-02-19 13:29] mbratukha commented on #8798
@pheeling, it's seems to be possible even via app-only context: https://github.com/MicrosoftDocs/office-docs-powershell/issues/6716#issuecomment-1045114219

@yogkumgit, would it be possible to extend the official documentation, that this approach is also mentioned there?

[2022-02-19 15:48] JeremyTBradshaw commented on #8149
@chrisda This worked!  Thanks very much for the tip.  Note, and this maybe obvious to many, with the Office 365 Exchange Online API's application permission Exchange.ManageAsApp + Exchange Administrator role (assigned to the Enterprise App / ServicePrincipal) I only got access to these commands:

[code]

But with the Compliance Administrator AAD role assigned, I then got access to most of the othe

[2022-02-20 12:38] #8920 closed

[2022-02-20 12:39] yogkumgit commented on #8933
@baartch If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-20 12:45] yogkumgit commented on #8932
@dariomws Thank you very much for the contribution and sharing this explanation. @Korbyn72
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-02-20 12:50] yogkumgit commented on #8930
@dariomws Thank you very much for the contribution and sharing this explanation. @kpinel Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outc

[2022-02-20 12:50] #8930 closed

[2022-02-20 13:49] DEberhardt opened #8986 "Set-CsOnlineApplicationInstance deprecated - what about switch ApplicationId?"
Hello,

I am using `Set-CsOnlineApplicationInstance` in a [script of mine](https://github.com/DEberhardt/TeamsFunctions/blob/main/docs/New-TeamsResourceAccountAssociation.md) to validate the Application Type and, if used with `-Force` also change it, which (may not be recommended but does work well):

[code]

Considering that the CmdLet is now deprecated, what does this mean for this use case?
Do

[2022-02-20 13:57] DEberhardt commented on #8986
From `Set-CsOnlineVoiceUser`

Should the message be clarified here?

[2022-02-20 22:25] Korbyn72 commented on #8932
I did call in a log a support case, they responded with using set-csonlinevoic.... completely wrong command and purpose...  eventually they saw the light and escalated internally to engineering and closed my case.

Sent from my mobile device
________________________________
From: Yogesh Kumar ***@***.***>
Sent: Sunday, February 20, 2022 4:45:56 AM
To: MicrosoftDocs/office-docs-powershell ***@***.*

[2022-02-20 22:27] Korbyn72 commented on #8932
You can reclose the case, I posted 7-10 days ago that it was fixed, but I believe it was from posting here and talking to Support was a waste of 48 hours

Sent from my mobile device
________________________________
From: Office Content Publishing ***@***.***>
Sent: Sunday, February 20, 2022 2:25:50 PM
To: MicrosoftDocs/office-docs-powershell ***@***.***>
Cc: Korbyn72 ***@***.***>; Mention ***@***.

[2022-02-21 04:05] j-ky7 opened #8987 ""-CompleteAfter" option is not available in on-premises Exchange."
Following this page, "-CompleteAfter" cmdlet option is available for on-premises Exchange.
Actually, this option is available only in the cloud-based service(Exchange Online).
In past, the below history clearly stated that this option is not supported in on-premises.

https://github.com/MicrosoftDocs/office-docs-powershell/blob/12d1a002d2a6789a0d08ce0f105375e20b35b577/exchange/exchange-ps/exchange

[2022-02-21 06:13] baartch commented on #8933
To me, this seems to be a bug in the session opened with `Connect-IPPSSession`. As I have no clue, how to submit this to the ones who develop this, I opened a issue here. I thought that maybe you guys can handle this.
I know now how to deal with this, but I'm quiet sure others will face this issue too. If this settles it for you, then so be it.

[2022-02-21 07:10] isrumnon commented on #8962
Hi @GarmanK we're tracking this bug here [Bug 2761898] and will get the fix deployed by the end of this week

[2022-02-21 07:43] JensTrier commented on #8986
@DEberhardt thanks for the feedback on the use case of changing resource account type using Set-CsOnlineApplicationInstance cmdlet. Let me research this and get back.

[2022-02-21 07:48] dariomws commented on #8962
Hi @isrumnon,

I've tested it and I have the same problem here. In addition, using the display name is not working for me in 3.1.1:
<img width="1214" alt="image" src="https://user-images.githubusercontent.com/33589238/154910834-5f10de15-7bb2-4364-b057-0b6704955949.png">

[2022-02-21 08:57] vincentkurmi commented on #8973
The next commit clarifies the major points, thanks for that.
https://github.com/isrumnon/office-docs-powershell-new/commit/2bebf4de4882c901c0605647c7b7d6d39ec8d8f5

[2022-02-21 12:16] Fimlore commented on #8960
After doing some tests and getting crazier by the second, please observe the outputs below:

Multi user search:
`
$users = get-csonlineuser -Filter {Enabled -eq $true}
$users | where-object {$_.UserPrincipalName -eq "User@Customer.com" -and $_.OnlineVoiceRoutingPolicy -like "*-*" -and $_.Enabled -eq $true} | select-object UserprincipalName,LineURI,OnlineVoiceRoutingPolicy
`

OUTPUT:
`
UserPrincipa

[2022-02-21 12:25] Fimlore commented on #8960
Having done some tests and getting craz

Can I sent this in a DM, or something less "visible" to everyone on the internet? :)

[2022-02-21 12:45] vincentkurmi commented on #8960
Hi @Fimlore, we are discussing about similar behavior here https://github.com/MicrosoftDocs/office-docs-powershell/issues/8935 and here https://github.com/MicrosoftDocs/office-docs-powershell/issues/8973

[2022-02-21 12:51] Fimlore commented on #8960
ok. just so you are aware, this is the same module I am using (3.2.0-preview)

[2022-02-21 15:04] DMoenks opened #8989 "Set-CsPhoneNumberAssignment: Request Error, Status: NotFound"
In accordance to Microsoft's announcement to retire some Skype/Teams cmdlets for phone configuration sometime in April 2022, we started testing the soon-to-be-used cmdlets, but encountered similar errors as mentioned in #8875. The affected user account is licensed and can be retrieved by its SIP address with other cmdlets successfully, e.g. _Get-CsOnlineUser_ or _Get-CsOnlineVoiceUser_.
Differing