[2019-12-25 03:42] victorguo commented on #4580
You may refer to this article: https://o365reports.com/2019/04/17/connect-exchange-online-using-mfa/.

[code]

[2019-12-26 01:38] GiantCrocodile opened #4583 "{{Fill TeamsPolicyOnly Description}} error"
The page has this string: '{{Fill TeamsPolicyOnly Description}}'. It should be replaced by the proper content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5c7d2a3-15f1-c4d1-1431-55fa62b914ee
* Version Independent ID: 00316a3a-790d-873c-d6b0-ff4dbb566651
* Content: [Get-RetentionCompliancePolicy (exchange)](https://

[2019-12-26 01:39] victorguo commented on #4580
Alternatively, you could use the following.

[code]

[2019-12-26 09:56] Bhawana023 commented on #4569
Hi,

I tried to use this URL, but i have to pull the Identity from excel sheet(I have exported a excel sheet of  the office 365 group user is member of now). And i am unable to find the parameter to pull the identity from excel sheet to remove no of office365 group from one user.

Example i have one user with 5 office 365 group i want to create script so user would remove from all 5 cloud groups,

[2019-12-26 18:15] sheykh-sleky opened #4584 "Notebook link not working after getting XML."
https://github.com/SharePoint/PnP-Sites-Core/issues/1915

get-pnpprovisioningtemplate is breaking notebook links.

[2019-12-26 18:41] get-itips commented on #4569
Hello @Bhawana023
Hope you are doing fine 👍 Need to kindly remind you that this issue system is to report issues currently in documentation, is there any specific issue that you see in documentation that needs to be fixed?
It seems, based on what you wrote, that you need help using these cmdlets, to get help, I can suggest [Microsoft Tech Community](https://techcommunity.microsoft.com/)

Hope this

[2019-12-28 14:37] dariomws306 commented on #4578
Hi @pilcherd, thank you for your feedback.

I have been verified this in a new Windows 10 installation and I didn't need to restart powershell. What OS version are you using?

[2019-12-28 14:39] dariomws306 commented on #4577
Hi @bedo1976, thank you for your feedback.

https://docs.microsoft.com/powershell/module/exchange/mailbox-databases-and-servers/get-mailboxdatabase

This article doesn't include Exchange Online.

[2019-12-28 14:42] dariomws306 commented on #4576
Hi @bedo1976, thank you for your feedback.

If you check the description of -Server and -Database you can see that them apply only to on-premises:
"This parameter is available only in on-premises Exchange."
"Applies to: | Exchange Server 2010, Exchange Server 2013, Exchange Server 2016, Exchange Server 2019"

[2019-12-30 11:01] yogkumgit commented on #4580
@officedocsbot assign @yogkumgit

[2019-12-30 11:02] yogkumgit commented on #4581
@officedocsbot assign @yogkumgit

[2019-12-30 11:02] yogkumgit commented on #4582
@officedocsbot assign @yogkumgit

[2019-12-30 11:02] yogkumgit commented on #4583
@officedocsbot assign @yogkumgit

[2019-12-30 11:03] yogkumgit commented on #4584
@officedocsbot assign @yogkumgit

[2019-12-30 11:41] yogkumgit commented on #4569
@get-itips  Thank you very much for the contribution and sharing this explanation. @Bhawana023
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-30 11:41] #4569 closed

[2019-12-30 11:54] yogkumgit commented on #4576
@dariomws306  Thank you very much for the contribution and sharing this explanation. @bedo1976
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2019-12-30 11:54] #4576 closed

[2019-12-30 14:00] dariomws306 commented on #4550
Hi @prontohostau,

New-MailboxSearch and Search-Mailbox should be still working on-premises but not online.

If you are using Exchange Online you should use New-ComplianceSearch instead, and you can even use it on-premises.

[2019-12-30 19:58] Brewcmas commented on #953
@chrisda to my understanding that workaround is only for those of us that are connected to the intranet.   For those of us that connect remotely and are not connected to the intranet - this workaround doesn't work.

Has there been any updates on this since June 12, 2018?  Or are we still going to be bogged down by the 1 Hour Time Out - causing larger scripts to have missing data chunks?

[2019-12-31 15:27] kendalldTalon opened #4591 "EXO V2 DelegatedOrginization Not working"
When I try to connect to a customers tenant using the following it connects me to my tenant and not the customers tenant that I have DAP.
Connect-ExchangeOnline -UserPrincipalName <MyUPN> -DelegatedOrganization <Customers tenantId> or <Customers Default Domain Name>

[2020-01-01 23:59] Ofer-Gal opened #4593 "The specified module 'Microsoft.SharePoint.MigrationTool.PowerShell' was not loaded because no valid module file was found"
The instructions [here](https://docs.microsoft.com/en-us/sharepointmigration/overview-spmt-ps-cmdlets) say to go to the folder $env:UserProfile\Documents\WindowsPowerShell\Modules\Microsoft.SharePoint.MigrationTool.PowerShell and run: Import-Module Microsoft.SharePoint.MigrationTool.PowerShell
That creates the error:
Import-Module : The specified module 'Microsoft.SharePoint.MigrationTool.PowerShe

[2020-01-02 10:14] danone1985 opened #4594 "Set-PnPList -Identity $ListName -BreakRoleInheritance for >5000 items"
Breaking inheritance using this cmdlet for large lists fails with an error like "Set-PnPList : The attempted operation is prohibited because it exceeds the list view threshold enforced by the administrator."
Is there a force parameter in plan, or a workaround to do this programatically ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-01-02 12:32] yogkumgit commented on #4591
@officedocsbot assign @yogkumgit

[2020-01-02 12:32] yogkumgit commented on #4593
@officedocsbot assign @yogkumgit

[2020-01-02 12:33] yogkumgit commented on #4594
@officedocsbot assign @yogkumgit

[2020-01-02 13:10] dariomws306 commented on #4591
Hi @kendalldTalon, thank you for your feedback.

This issue was reported before and Product Group is aware of it:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/4372

Should be fixed soon.

[2020-01-02 13:49] get-itips commented on #4574
Hello @kefujino article was corrected.
@yogkumgit please close this issue. Thanks

[2020-01-02 13:50] JubeeGankin commented on #4572
I have the same problem.  I have followed the steps in the linked guide but -telephonenumber is not a valid parameter.  The closest option is OnpremPhoneNumber but as my number isn't on prem, that doesn't seem like the right option.

[2020-01-02 14:24] dariomws306 commented on #4582
Hi @warleygr, thank you for your feedback.

It's a limit to the entire organization/tenant. You are limited to 3 remote connections from the same or any PC/Public IP.

[2020-01-02 14:33] dariomws306 commented on #4581
Hi @victorguo, thank you for your feedback.

This module is still in preview so I think 21Vianet in China is not supported yet. Please provide any feedback about this module to exocmdletpreview@service.microsoft.com.

[2020-01-02 14:36] warleygr commented on #4582
Thanks, @dariomws306 !
I believe if I use Azure Automation to run my scripts, there's no connection limit. Am I right?

[2020-01-02 14:38] dariomws306 commented on #4582
I understand that the limit apply in any condition.

[2020-01-02 14:42] dariomws306 commented on #4580
Hi @1trevor, thank you for your feedback.

Please check this article:
https://blogs.technet.microsoft.com/richardroddy/2018/04/04/using-powershell-ise-to-connect-to-exchange-online-when-mfa-is-enabled/

[2020-01-02 20:44] chrisda commented on #953
@Brewcmas, you might try the script using the new PowerShell V2 module (which also supports MFA): https://docs.microsoft.com/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2.

Try your original script to see if it works as is. If not, perhaps replacing Get-Mailbox with Get-EXOMailbox and Get-MobileDeviceStatistics with Get-EXOMobileDeviceStatistics wi

[2020-01-02 22:44] GiantCrocodile opened #4597 "Markdown errors"
- {{Fill TenantScopeOnly Description}}
- ` symbol error for 'Test-CsEffectiveTenantDialPlan'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c2b0251-02e7-b708-75d7-36a27938399a
* Version Independent ID: 78212caa-3706-eccf-ea7f-a595b9010b58
* Content: [Test-CsEffectiveTenantDialPlan (skype)](https://docs.microsoft.com/e

[2020-01-03 09:30] andikrueger opened #4598 "Get-SPOBrowserIdleSignOut - No Description and Example given"
This cmdLet lacks a proper description and example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12d2ab3d-0471-0ab3-4575-ed084b325b67
* Version Independent ID: f0109b72-f41e-220c-0737-740cf97364ed
* Content: [Get-SPOBrowserIdleSignOut (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-

[2020-01-03 09:30] andikrueger opened #4599 "Get-SPOBuiltInDesignPackageVisibility - No Description and Example given"
This cmdLet lacks a proper description and example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d3ab176-305a-701d-1029-6bb0d9f1a5f6
* Version Independent ID: 7820f7ad-c372-b18c-4aac-d7ce4c152a14
* Content: [Get-SPOBuiltInDesignPackageVisibility (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module

[2020-01-03 09:32] andikrueger opened #4600 "Get-SPOCrossGeoMoveReport - No description and example given"
This CmdLet lacks a correct description and an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e4e31b-eae6-abac-6af9-4b1dae4674bb
* Version Independent ID: 364993b1-e909-2f1e-82b8-5eba8bed537f
* Content: [Get-SPOCrossGeoMoveReport (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepo

[2020-01-03 09:33] andikrueger opened #4601 "Get-SPODataEncryptionPolicy - No example given"
This CmdLet lacks an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 781f6cb6-e1b5-ef1d-b811-171d9d749f91
* Version Independent ID: b3a23a18-70af-d4c6-dd77-176f90d1d895
* Content: [Get-SPODataEncryptionPolicy (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-spodataen

[2020-01-03 09:35] andikrueger opened #4602 "Get-SPOMultiGeoExperience - No description and example given"
This CmdLet lacks a correct description and an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0c31fb5-6109-2669-a774-9f8872dcb85a
* Version Independent ID: 0b44b31b-b4ab-7334-c4a1-3fa61af31633
* Content: [Get-SPOMultiGeoExperience (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharepo

[2020-01-03 09:36] andikrueger opened #4603 "Get-SPOSiteCollectionAppCatalogs - No synopsis"
This CmdLet lacks a correct synopsis and parameter description

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65032574-5c85-3825-5b4f-6ba2456dfec9
* Version Independent ID: 15c5736a-088c-9b72-b3ba-a4cb143efff7
* Content: [Get-SPOSiteCollectionAppCatalogs (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/

[2020-01-03 09:38] andikrueger opened #4604 "Get-SPOSiteDataEncryptionPolicy - No synopsis, description and example given"
This CmdLet lacks a correct synopsis, description and an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0770753b-b15c-2721-f340-7056485134ea
* Version Independent ID: 0afba921-7134-49e9-fb8a-6ce313bdfd7f
* Content: [Get-SPOSiteDataEncryptionPolicy (sharepoint-online)](https://docs.microsoft.com/en-us/powershel

[2020-01-03 09:39] andikrueger opened #4605 "Get-SPOSiteRenameState - No synopsis, description and example given"
This CmdLet lacks a correct synopsis, description and an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df087ca-14ed-7590-6d5c-d7d0b1417ab6
* Version Independent ID: 7e159c8c-439f-5587-b25a-d835c7e97489
* Content: [Get-SPOSiteRenameState (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/

[2020-01-03 09:43] andikrueger opened #4606 "get-spounifiedgroup - No synopsis, description and example given"
This CmdLet lacks a correct synopsis, description and an example.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c05f05b1-8065-b304-1c66-39fe957894aa
* Version Independent ID: 1721f1c2-30ae-8f4d-56ba-6051dd58ac99
* Content: [Get-SPOUnifiedGroup (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/shar

[2020-01-03 09:43] andikrueger opened #4607 "Get-SPOUnifiedGroupMoveState - No synopsis, description and example given"
This CmdLet lacks a correct synopsis, description and an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3e6cf2-0bc6-6bc7-8d95-6a52e058fbf1
* Version Independent ID: 19beb409-12f6-95a7-ee41-04ef979904b4
* Content: [Get-SPOUnifiedGroupMoveState (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/m

[2020-01-03 09:45] andikrueger opened #4608 "New-SPOMigrationEncryptionParameters - No synopsis, description and example given"
This CmdLet lacks a correct synopsis, description and an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81307cf5-b7ce-be72-ef31-5171cd46024d
* Version Independent ID: c24ed4ba-f550-4267-0f08-6ab17d3d3667
* Content: [New-SPOMigrationEncryptionParameters (sharepoint-online)](https://docs.microsoft.com/en-us/powe

[2020-01-03 09:46] andikrueger opened #4609 "Register-SPODataEncryptionPolicy - No synopsis, description and example given"
This CmdLet lacks a correct synopsis, description and an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a15badae-030e-173a-4433-118ddf8841a9
* Version Independent ID: 799897d3-ebb0-6e13-c163-98de1a94d909
* Content: [Register-SPODataEncryptionPolicy (sharepoint-online)](https://docs.microsoft.com/en-us/powershe

[2020-01-03 09:48] andikrueger opened #4610 "Remove-SPOMultiGeoCompanyAllowedDataLocation - No synopsis, description and example given"
This CmdLet lacks a correct synopsis, description and an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 729e0653-0e49-6043-fab4-314902cc0860
* Version Independent ID: b3aedf63-c316-6f79-c883-5fa25c121318
* Content: [Remove-SPOMultiGeoCompanyAllowedDataLocation (sharepoint-online)](https://docs.microsoft.com/en

[2020-01-03 09:49] andikrueger opened #4611 "Remove-SPOSiteUserInvitations - No synopsis and description given"
This CmdLet lacks a correct synopsis and description

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 074a913a-6f98-c246-6873-7e7a98a03ac5
* Version Independent ID: eb201d27-2802-0fbc-7a6b-560c2e3381bd
* Content: [Remove-SPOSiteUserInvitations (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/module/sharep

[2020-01-03 09:52] andikrueger opened #4612 "Restore-SPODataEncryptionPolicy - No synopsis, description and example given"
This CmdLet lacks a correct synopsis, description, an example and parameter descriptions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f222848e-cf73-4b17-b407-176046075b71
* Version Independent ID: 255bffbe-a565-810b-7b5e-d1330d1668b9
* Content: [Restore-SPODataEncryptionPolicy (sharepoint-online)](https://docs.micros

[2020-01-03 09:54] andikrueger opened #4613 "Set-SPOBrowserIdleSignOut - No synopsis, description and example given"
This CmdLet lacks a correct synopsis, description and an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5a88408-7f59-1401-4170-7bb49a2db027
* Version Independent ID: 00e03653-1983-a0ba-69c7-61ad80b4245a
* Content: [Set-SPOBrowserIdleSignOut (sharepoint-online)](https://docs.microsoft.com/en-us/powershell/modu

[2020-01-03 09:56] andikrueger opened #4614 "Set-SPOBuiltInDesignPackageVisibility - No synopsis, description and example given"
This CmdLet lacks a correct synopsis, description, parameter descriptions and an example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5932378e-5168-513c-b241-f539f1004b0c
* Version Independent ID: b170a567-8988-aea2-f65e-23b9e01fe019
* Content: [Set-SPOBuiltInDesignPackageVisibility (sharepoint-online)](https://docs

[2020-01-03 09:59] andikrueger opened #4615 "Set-SPOHomeSite - No synopsis, description and example given"
This CmdLet lacks
- a correct synopsis
- description
- parameter descriptions
- an example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 795cb31c-d0fb-fe85-6998-485f0477fed6
* Version Independent ID: 32ad4828-07df-cd7e-cc76-f82f4a573d39
* Content: [Set-SPOHomeSite (sharepoint-online)](https://docs.microsoft.com/en-us/

[2020-01-03 10:01] andikrueger opened #4616 "Set-SPOMultiGeoCompanyAllowedDataLocation - No synopsis, description and example given"
This CmdLet lacks
- a correct synopsis
- description
- parameter descriptions
- an example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5774c443-b0cb-a0b7-c116-ee196a536528
* Version Independent ID: 301e8a08-2659-fdba-3a98-ada9992c0a2f
* Content: [Set-SPOMultiGeoCompanyAllowedDataLocation (sharepoint-online)](https:/

[2020-01-03 10:02] andikrueger opened #4617 "Set-SPOMultiGeoExperience - No synopsis, description and example given"
This CmdLet lacks
- a correct synopsis
- description
- parameter descriptions
- an example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df68eb5b-d8b9-f8fa-7434-dfec6b5c456c
* Version Independent ID: 39bfe65b-ae44-2d4b-18ed-c30a404d6d4f
* Content: [Set-SPOMultiGeoExperience (sharepoint-online)](https://docs.microsoft.

[2020-01-03 10:04] andikrueger opened #4618 "Set-SPOUnifiedGroup - No synopsis, description and example given"
This cmdLet lacks
- a correct synopsis
- description
- parameter descriptions
- an example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62578c9d-40f1-3979-76fa-54cc0405f86b
* Version Independent ID: d1f2ce2c-8e0b-0cad-4c40-e796bab74e2d
* Content: [Set-SPOUnifiedGroup (sharepoint-online)](https://docs.microsoft.com/en

[2020-01-03 10:06] andikrueger opened #4619 "Set-SPOWebTheme - No synopsis, description and example given"
This cmdLet lacks
- a correct synopsis
- description
- parameter descriptions
- an example
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100dca27-8fd7-2646-91d2-dbfbb55e6720
* Version Independent ID: 91a4ab51-7e7d-2800-4739-cc68835c4e0f
* Content: [Set-SPOWebTheme (sharepoint-online)](https://docs.microsoft.com/en-us/p

[2020-01-03 10:08] andikrueger opened #4620 "Start-SPOUnifiedGroupMove - No synopsis, description and example given"
This cmdLet lacks
- a correct synopsis
- description
- parameter descriptions
- an example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d42a5636-1016-c816-a659-8e5b1a2a4087
* Version Independent ID: 0be56c12-346c-bc92-b2ad-36b48f8d2589
* Content: [Start-SPOUnifiedGroupMove (sharepoint-online)](https://docs.microsoft.

[2020-01-03 10:10] andikrueger opened #4621 "Update-SPODataEncryptionPolicy - No synopsis, description and example given"
This cmdLet lacks
- a correct synopsis
- description
- parameter descriptions
- an example
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f97644cc-de03-0118-977b-8c8a2f6ae38d
* Version Independent ID: 24a4df16-705e-9b79-6e7d-e0727bd50724
* Content: [Update-SPODataEncryptionPolicy (sharepoint-online)](https://docs.micros

[2020-01-03 10:12] andikrueger opened #4622 "Update-UserType - No synopsis, description and example given"
This cmdLet lacks
- a correct synopsis
- description
- parameter descriptions
- an example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fcad0b0-b70b-62b4-17ae-3529ca4f5a31
* Version Independent ID: 5b8b7059-51ee-4a0d-1a70-089e6e713cdf
* Content: [Update-UserType (sharepoint-online)](https://docs.microsoft.com/en-us/

[2020-01-03 13:57] get-itips commented on #4593
Hello @Ofer-Gal
I could not repro, are you, by chance, using OneDrive's folder redirect?
Can you, cd into that folder? does it exists?
Let us know so, if needed, we can correct the article.

[2020-01-03 14:06] get-itips commented on #4594
Hello @danone1985
Hope you are doing great.
I need to kindly redirect you to this [other repo](https://github.com/SharePoint/PnP-PowerShell/issues) to report issues in documentation of PnP or in PnP cmdlets, as you might know, PnP cmdlets are community driven, a member of the community will pick your feedback there and act accordingly.
Thank you

[2020-01-03 14:07] get-itips commented on #4584
Hello @sheykh-sleky
Hope you are doing great.
I need to kindly redirect you to this [other repo](https://github.com/SharePoint/PnP-PowerShell/issues) to report issues in documentation of PnP or in PnP cmdlets, as you might know, PnP cmdlets are community driven, a member of the community will pick your feedback there and act accordingly.
Thank you

[2020-01-03 14:41] yogkumgit commented on #4574
@get-itips  Thank you very much for the contribution and sharing this explanation. @kefujino
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-03 14:41] #4574 closed

[2020-01-03 14:47] Ofer-Gal commented on #4593
Not using OneDrive's folder. but I have it installed.
The folder $env:UserProfile\Documents\WindowsPowerShell\Modules\Microsoft.SharePoint.MigrationTool.PowerShell  containes 36 files mostly *.DLL  many start with microsoft.sharepoint.migrationtool.*
I did install it on a server and there Import-Module worked.
So I assume the issue is something to do with windows 10 or some other client applicatio

[2020-01-03 14:55] yogkumgit commented on #4581
@dariomws306  Thank you very much for the contribution and sharing this explanation. @victorguo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-03 14:55] #4581 closed

[2020-01-03 15:00] yogkumgit commented on #4580
@dariomws306  Thank you very much for the contribution and sharing this explanation. @1trevor
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-03 15:00] #4580 closed

[2020-01-03 15:07] yogkumgit commented on #4594
@get-itips  Thank you very much for the contribution and sharing this explanation. @danone1985
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-03 15:07] #4594 closed

[2020-01-03 15:14] yogkumgit commented on #4584
@get-itips  Thank you very much for the contribution and sharing this explanation. @sheykh-sleky
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-03 15:14] #4584 closed

[2020-01-03 15:24] yogkumgit commented on #4583
@chrisda Please merge this PR #4596 , Thanks

[2020-01-03 15:26] yogkumgit commented on #4597
@officedocsbot assign @yogkumgit

[2020-01-03 15:53] Gideon122 opened #4624 "Not enough details provided"
The descriptions for the various parameters doesn't state whether the parameters are mandatory (required) or not.  I also agree with andikrueger's observations about missing information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a15badae-030e-173a-4433-118ddf8841a9
* Version Independent ID: 799897d3-ebb0-6e13-c163

[2020-01-03 17:46] warleygr commented on #4582
Got it. At last, there's no connections limit for different tenants, is it right?
e.g.: Running script with 5 sessions in 5 different Tenants.

[2020-01-03 18:06] James-Noble opened #4625 "Deprecated syntax"
Example 2 uses incorrect syntax "Get-PnPNavigationNode -QuickLaunch", this should be "Get-PnPNavigationNode -Location QuickLaunch"

Examples 3 and 4 use deprecated syntax - the parameters Location and Title are no longer in the document.  It would be useful if these examples were replaced with one that performs the same job of removing a node with a specific Title, since this is a common task.  I

[2020-01-03 19:05] dariomws306 commented on #4582
You are right.

[2020-01-03 20:27] get-itips commented on #4593
Ok, that's weird, I too tried with Windows 10 with no issues at all.
@yogkumgit kindly close this one, if it happens to anyone else, we might have another scenario and it can be re-opened.

[2020-01-03 20:38] get-itips commented on #4572
Hello @tomkau can you shed some light here?
Thanks

[2020-01-03 20:42] JubeeGankin commented on #4572
It actually has changed its behavior today.  -telephonenumber is now an option.  My issue has been resolved, maybe Wally's will be as well now?

[2020-01-03 20:44] get-itips commented on #4572
Well, some settings in O365 have some delay to apply, so maybe it was that. Let's see if works for @sir-wally now. Thanks for your feedback @JubeeGankin

[2020-01-04 13:50] Ofer-Gal commented on #4593
Later I found a workaround to run the  Import-Module against the full path.
So:
"Import-Module $env:UserProfile\Documents\WindowsPowerShell\Modules\Microsoft.SharePoint.MigrationTool.PowerShell" works.
It has something to do with the fact that users like me have Ondrive install too.
Not sure why, but It resolved my issue.

[2020-01-04 13:50] #4593 closed

[2020-01-04 16:39] Gideon122 opened #4626 "A pale comparison to Get-MailboxStatistics"
When I run Get-MailboxStatistics against my Exchange Online environment, I only need to provide the userID (SamAccountName) of the mailbox owners, and I am provided with a wealth of information.  When I run Get-ExOMailboxStatistics, I am forced to use the UPN of the mailbox owners, and I am provided with only six lines of information.  Get-ExOMailboxStatistics requires the use of the -Properties s

[2020-01-04 16:48] Gideon122 opened #4627 "Security Issue?"
I just installed the EXO V2 module.  When I launch it, I'm immediately greeted with the following warning:

Due to a security issue, this version of client module will be deprecated and stop working after 8 Jan, 2020. Please update to latest version on or after 8 Jan, 2020.

I ran the Update-Module -Name ExchangeOnlineManagement command, but I still receive that warning.

Why is that warning being

[2020-01-04 16:58] Gideon122 commented on #4626
I have found that I can use the -PropertySets All command to display all the properties.  However, I still find Get-MailboxStatistics provides 126 different properties, over double what Get-ExOMailboxStatistics provides.

[2020-01-04 20:08] get-itips commented on #4593
I am happy to hear @Ofer-Gal thanks for your contribution

[2020-01-05 11:25] Markus-Hanisch opened #4628 "Example 1"
The **Use the Exchange Online PowerShell V2 module** article shows two different ways how to connect to ExchangeOnline V" module - one for **Accounts without MFA enabled** and another for **Accounts with MFA enabled** (Source: [Connect to Exchange Online using the EXO V2 module](https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-power

[2020-01-05 14:18] mikeburns7 opened #4629 "Get-EXOMailbox - Select-Object PipelineStoppedException"
When running the command:
`Get-EXOMailbox -Resultsize Unlimited | Select-Object -First 3`

The results are returned but a terminal error is presented:

`Get-EXOMailbox : The pipeline has been stopped.`
`At C:\Users\mikeb\Documents\Untitled1.ps1:3 char:2`
`+  Get-EXOMailbox -Resultsize Unlimited  | Select-Object -First 3`
`+  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`
 `   + CategoryInfo          : Prot

[2020-01-06 10:29] dannydpa opened #4632 "SimpleName maximum string"
The SimpleName maximum string quote 'This string can be up to 256 characters' long seems to be incorrect as I get an error in my Tenant when I exceed 49 characters similar as with Identity.  Error message I receive "Maximum SimpleName length cannot exceed 49..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f725c742-6

[2020-01-06 10:36] yogkumgit commented on #4624
@officedocsbot assign @yogkumgit

[2020-01-06 10:36] yogkumgit commented on #4625
@officedocsbot assign @yogkumgit

[2020-01-06 10:37] yogkumgit commented on #4626
@officedocsbot assign @yogkumgit

[2020-01-06 10:37] yogkumgit commented on #4627
@officedocsbot assign @yogkumgit

[2020-01-06 10:37] yogkumgit commented on #4628
@officedocsbot assign @yogkumgit

[2020-01-06 10:38] yogkumgit commented on #4629
@officedocsbot assign @yogkumgit

[2020-01-06 10:44] yogkumgit commented on #4632
@officedocsbot assign @yogkumgit

[2020-01-06 11:00] yogkumgit commented on #4582
@dariomws306  Thank you very much for the contribution and sharing this explanation. @warleygr
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-06 11:00] #4582 closed

[2020-01-06 12:19] dariomws306 commented on #4629
Hi @mikeburns7, thank you for your feedback.

Same issue: https://github.com/MicrosoftDocs/office-docs-powershell/issues/4448

Please in this case provide your feedback to exocmdletpreview@service.microsoft.com as Exchange PowerShell Module V2 is on preview and you cannot open a support case.
Docs.microsoft.com feedback is there to help to improve documentation.

Thank you!

[2020-01-06 12:25] JeremyTBradshaw opened #4633 "Many thanks !"
I know it's not the right place, but I somehow missed the V2 module's existence until last night.  Have to say Thanks! for making this and putting in the PowerShell Gallery.  It was a long time coming, but all that time gave a lot of room to point out where the most important parts to tighten up were.  It seems like you (whoever all "you" is in this case) made the right moves.

---
#### Document D

[2020-01-06 12:27] JeremyTBradshaw commented on #4633
And now I'll close it!  Thanks again.

[2020-01-06 12:27] #4633 closed

[2020-01-06 13:00] dariomws306 commented on #4627
Hi @Gideon122, thank you for your feedback.

@chrisda could you kindly help here?

I have been seeing this warning for 1 o 2 weeks.

[2020-01-06 13:07] dariomws306 commented on #4626
Hi @Gideon122, thank you for your feedback.

Exchange Online PowerShell Module V2 is on preview. Please provide this feedback on exocmdletpreview[at]service[dot]microsoft[dot]com.

We are here to help to improve/update documentation. Thank you!

[2020-01-06 14:51] yogkumgit commented on #4628
@chrisda  please merge the PR #4634

[2020-01-06 16:35] Chad-Campus opened #4635 "1st Step"
Can the 1st step to be make sure you have the Teams Module installed for Powershell?  Very hard to connect when you do not have the Module installed.

Install-Module -Name MicrosoftTeams

https://www.powershellgallery.com/packages/MicrosoftTeams/1.0.3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ee082c9-735d-3f8a-7b

[2020-01-06 16:41] yogkumgit commented on #4635
@officedocsbot assign @yogkumgit

[2020-01-06 16:47] get-itips commented on #4625
Hello @James-Noble
How are you? I need to kindly redirect you to this [other repo](https://github.com/SharePoint/PnP-PowerShell/) to file issues about PnP PowerShell, as you might know, PnP cmdlets are community-driven, a member of the community will pick your issue there and handle it.
Thank you

[2020-01-06 18:42] chrisda commented on #4626
@Gideon122, by definition, the Get-EXO cmdlets return a much smaller list of properties as compared to the corresponding 'regular' Exchange cmdlet. It's all about speed and efficiency. The most frequently used properties should be included in the Default property set.

If you're trying to use Get-EXOMailboxStatistics to return every last available property, then it likely won't be much (if any) fa

[2020-01-06 18:42] #4626 closed

[2020-01-06 18:52] chrisda commented on #4627
@Gideon122, as described in the topic, direct any questions or comments regarding the V2 module to exocmdletpreview[at]service[dot]microsoft[dot]com.

Thanks for the feedback.

[2020-01-06 18:52] #4627 closed

[2020-01-06 23:09] andrewbeaumont opened #4636 "Confusing wording"
The following statement is confusing:

"In coexistence environments with Exchange 2010 and newer versions of Exchange, don't run newer versions of Remove-MoveRequest to clear completed Exchange 2010 move requests as documented in Clear or Remove Move Requests. If you do, you could delete the mailbox that you just moved. Instead, only use the Exchange 2010 version of Remove-MoveRequest to clear com

[2020-01-07 00:25] chrisda commented on #4636
@andrewbeaumont OK. Done. In the future, you can also modify the topic directly without opening an Issue first. See https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md for details.

Thanks for the feedback.

[2020-01-07 00:25] #4636 closed

[2020-01-07 01:00] jantoney opened #4638 "Wording change"
The document applies to SFB 2019, but the first line in the document says 2015 and earlier. Needs clarification.

"Returns information about all the users in your organization who have been enabled for Skype for Business Server 2015 or a previous version of the software. This cmdlet was introduced in Lync Server 2010."

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-01-07 08:54] RikardStrand opened #4639 "Private channels PREVIEW"
Where can I request to be part of the Private Preview for "-MembershipType" switch ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd44b411-4b59-b90f-0b82-ad0a87652854
* Version Independent ID: 2c52cc4e-47a1-be0d-8860-1011adf061fd
* Content: [New-TeamChannel (teams)](https://docs.microsoft.com/en-us/powershell/module/

[2020-01-07 10:32] James-Noble commented on #4625
I went to the other repo you mentioned, clicked on documentation and the only thing there was was a link back to docs.microsoft.com :)
So I had a bit of further digging around and finally managed to find this:
https://github.com/SharePoint/PnP-PowerShell/blob/master/Commands/Navigation/RemoveNavigationNode.cs
Presumably I should report the issue on that file since I can't report it on the document

[2020-01-07 11:50] yogkumgit commented on #4638
@officedocsbot assign @yogkumgit

[2020-01-07 11:51] yogkumgit commented on #4639
@officedocsbot assign @yogkumgit

[2020-01-07 13:27] get-itips commented on #4625
Hello @James-Noble
Please use [this link](https://github.com/SharePoint/PnP-PowerShell/issues/new) to open the new issue on that repo.
Documentation for PnP cmdlets is directly reflected from PnP cmdlets source code, so yes, that is the place 👍
Thank you!

[2020-01-07 14:50] yogkumgit commented on #4629
@dariomws306   Thank you very much for the contribution and sharing this explanation. @mikeburns7 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-07 14:50] #4629 closed

[2020-01-07 15:02] yogkumgit commented on #4628
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @Markus-Hanisch Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-07 15:02] #4628 closed

[2020-01-07 15:07] yogkumgit commented on #4625
@get-itips  Thank you very much for the contribution and sharing this explanation. @James-Noble
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-07 15:07] #4625 closed

[2020-01-07 15:07] Karr opened #4641 "Time required to update signature?"
I have added a new domain (for marketing) to our SPF record and need to force update of our DKIM Signature.  How long does this take?  I have read all documents and nowhere does it tell us how long AUTOMATIC is done?  (every 4 days?) and how long does it take if we manually execute this?  Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-01-07 15:11] yogkumgit commented on #4641
@officedocsbot assign @yogkumgit

[2020-01-07 15:18] yogkumgit commented on #4572
@tomkau Please reply to the query. Thanks.

[2020-01-07 15:18] get-itips commented on #4624
@trent-green can you help me getting the missing information from the product team? Thank you 👍

[2020-01-07 15:27] yogkumgit commented on #4373
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @kilasuit Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-07 15:27] #4373 closed

[2020-01-07 15:36] yogkumgit commented on #4550
@dariomws306  Thank you very much for the contribution and sharing this explanation. @prontohostau Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-07 15:36] #4550 closed

[2020-01-07 15:38] get-itips commented on #4632
Hello @dannydpa thanks for noticing and reporting.
Created a pull request to correct the article, as I could repro in my lab.

[2020-01-07 16:11] yogkumgit commented on #4632
@tomkau Please merge the PR #4642

[2020-01-07 21:02] kenwith commented on #4518
Confirmed that you should be able to create a Class Team if you have the education subscription. You should be able to do this in the UI and also PowerShell. If support request stated otherwise please let me know and we will investigate further on what might need to be updated in the documentation.

[2020-01-07 21:02] #4518 closed

[2020-01-07 22:27] HandyAndyOnGitHub opened #4645 "How to demote an Owner to Member?"
Is there a corresponding PowerShell method to demote an Owner to Member?

Logically the following should work, correct?
Add-TeamChannelUser -GroupId &lt;group_id&gt; -DisplayName "&lt;channel-name&gt;" -User &lt;UPN&gt; -Role Member

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74381d05-2e95-4751-4285-752a46eb025f
* V

[2020-01-07 22:31] get-itips commented on #4597
Hello @GiantCrocodile Thanks for noticing, created a pr to propose some changes, thanks

[2020-01-08 09:10] yogkumgit commented on #4645
@officedocsbot assign @yogkumgit

[2020-01-08 12:42] yogkumgit commented on #4597
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @GiantCrocodile Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-08 12:42] #4597 closed

[2020-01-08 12:43] JeremyTBradshaw commented on #3493
Is there any chance somebody in there could tell us how it is that the Exchange Admin Center and previously in 2010 the Exchange Management Console, are doing Get-ExchangeCertificate -Server <server> and successfully determining the services for remote servers?

I've found this doesn't even work if you do Invoke-Command -Session <Exch PSSession>.  Trying to find a way to get Exchange certificates

[2020-01-08 12:45] JeremyTBradshaw opened #4651 "Re-open of #3493 (Services not returned from Get-ExchangeCertificate in PS Remoting session"
My comment from the original closed issue:

Is there any chance somebody in there could tell us how it is that the Exchange Admin Center and previously in 2010 the Exchange Management Console, are doing Get-ExchangeCertificate -Server and successfully determining the services for remote servers?

I've found this doesn't even work if you do Invoke-Command -Session . Trying to find a way to get Exch

[2020-01-08 12:59] yogkumgit commented on #4632
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @dannydpa Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-08 13:02] yogkumgit commented on #4651
@officedocsbot assign @yogkumgit

[2020-01-08 13:10] yogkumgit commented on #4577
@dariomws306  Thank you very much for the contribution and sharing this explanation. @bedo1976
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-08 13:10] #4577 closed

[2020-01-08 13:10] dannydpa commented on #4632
Thank you for the quick response and fix. This is helpful for me.

[2020-01-08 13:12] yogkumgit commented on #4578
@dariomws306  Thank you very much for the contribution and sharing this explanation. @pilcherd
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-08 13:12] #4578 closed

[2020-01-08 13:18] yogkumgit commented on #4583
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @GiantCrocodile Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-08 13:19] #4583 closed

[2020-01-08 13:23] yogkumgit commented on #4591
@dariomws306  Thank you very much for the contribution and sharing this explanation. @kendalldTalon as suggested concerning team will evaluate and take the appropriate action, as per their schedule. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage y

[2020-01-08 13:23] #4591 closed

[2020-01-08 13:25] #4632 closed

[2020-01-08 22:07] rhymeswithmogul opened #4653 "2048-bit RSA DKIM keys are now supported"
Your documentation needs to be updated.  I discovered accidentally that you can use -KeySize 2048 to create a strong DKIM key with this cmdlet.  It should be noted, however, that Ed25519 keys are not yet supported; only RSA ones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bc7677b-b991-5569-3dfc-eed6476c9689
* Vers

[2020-01-09 01:40] KirkMunro opened #4655 "How do you connect to Exchange Online using certificate-based authentication?"
We have customers who use MFA who would like to use our product that manages Exchange Online via PowerShell with unattended scripts, but they cannot disable MFA. According to https://docs.microsoft.com/en-us/office365/enterprise/office-365-client-support-certificate-based-authentication#supported-powershell-modules, the Exchange Online PowerShell module supports CBA, but I have looked and looked a

[2020-01-09 07:54] navgupta1208 commented on #4655
Hi Kirk

This feature is a work in progress and will be available in a quarter from now.

[2020-01-09 09:14] jadesolis opened #4656 "service defaults?"
"The default value is 0, which means the service defaults are used" where exactly are these service defaults defined?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 465aff8b-94d1-258b-0558-a35f2261fc0b
* Version Independent ID: 3b7917f1-4d63-e881-5653-4fc4ac84038a
* Content: [Set-HostedOutboundSpamFilterPolicy (exchang

[2020-01-09 15:43] yogkumgit commented on #4653
@officedocsbot assign @yogkumgit

[2020-01-09 15:43] yogkumgit commented on #4655
@officedocsbot assign @yogkumgit

[2020-01-09 15:44] yogkumgit commented on #4656
@officedocsbot assign @yogkumgit

[2020-01-09 16:03] teekayzee opened #4657 "WithRightsAssigned Flag Is Making Incorrect Assumptions"
Comment in code:
// If they're in a SharePoint Group, they always have some kind of access rights, so add them all

This isn't the case all the time as there can be SharePoint Groups that aren't used anywhere on a site/list/web etc.

[2020-01-09 17:05] bit1ngest0r opened #4659 "Set-DynamicDistributionGroup: Parameter ManagedBy Fails to Process Add/Remove Operations and Collections"
Example:

[code]

[2020-01-09 17:32] KirkMunro commented on #4655
Thank you for the fast reply @navgupta1208. This is a very important feature for the Microsoft partner organization that I work with. Will there be preview releases for the forthcoming update that includes CBA support that I could be looped into through a customer connection program, or our partner relationship? I believe it would be mutually beneficial, so that we can make sure it suits the large

[2020-01-09 18:02] yogkumgit commented on #4657
@officedocsbot assign @yogkumgit

[2020-01-09 18:03] yogkumgit commented on #4659
@officedocsbot assign @yogkumgit

[2020-01-09 18:05] yogkumgit commented on #4579
@trudolf-msft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-09 18:05] #4579 closed

[2020-01-09 19:58] teekayzee commented on #4657
-WithRightsAssigned
If provided, only users that currently have any kinds of access rights assigned to the current site collection will be returned.

Resource: https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpuser?view=sharepoint-ps

[2020-01-09 21:56] jjayaraja opened #4663 "System.Net.Http v 4.2.0.0 issue"
Connect-Microsoftteams
Connect-MicrosoftTeams : Could not load file or assembly 'System.Net.Http, Version=4.2.0.0, Culture=neutral,
PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.
At line:1 char:1
+ Connect-MicrosoftTeams
+ ~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : AuthenticationError: (:) [Connect-MicrosoftTeams], FileNotFoundExce

[2020-01-09 22:16] jjayaraja commented on #4663
installed .net framework 4.8 and the issue went away

[2020-01-09 22:16] #4663 closed

[2020-01-09 22:32] stephenc01 opened #4664 "Module bug"
Cannot set domain guids. Get the error below but works in GUI. Module version 16.0.19515.12000

Set-SPOTenantSyncClientRestriction : The property or field 'IsUnmanagedSyncClientForTenantRestricted' has not been initialized. It has not been requested or the request has
not been executed. It may need to be explicitly requested.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-01-10 01:37] dariomws306 commented on #4641
Hi @Karr, thank you for your feedback.

Did you check this article?
https://blogs.msdn.microsoft.com/tzink/2015/10/30/how-office-365-does-automatic-dkim-key-rotation/

[2020-01-10 14:42] yogkumgit commented on #4664
@officedocsbot assign @yogkumgit

[2020-01-10 20:48] eschrader opened #4667 "Permissions"
"You need to be assigned permissions in the Office 365 Security & Compliance Center before you can use this cmdlet. For more information, see Permissions in Office 365 Security & Compliance Center."

Which "permissions" are needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5c7d2a3-15f1-c4d1-1431-55fa62b914ee
* Ve

[2020-01-11 20:53] dariomws306 commented on #4651
Hi @JeremyTBradshaw, thank you for your feedback.

I have verified the Get-ExchangeCertificate cmdlet with the -Server parameter and I works for me (ran it on Exchange 2016 and 2010):
![image](https://user-images.githubusercontent.com/33589238/72210495-26938a00-349b-11ea-9511-9e72c71536cd.png)

[2020-01-12 01:49] JeremyTBradshaw commented on #4651
Hi @dariomws306 , thanks but I mean from a PS remote session (i.e. just Windows PowerShell), not in the Exchange Management Shell.

When PS remoting, the Services and ServicesStringForm properties aren't returned at all.

[2020-01-13 08:22] divyankraj opened #4669 "No Documentation of Copy-PnPItemProxy"
[Enter feedback here]
There is no Documentation Provided for Copy-PnPItemProxy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f44eceb-fe0e-0ce3-0152-42aa70d97546
* Version Independent ID: 96323849-f655-92c6-bead-b5b054ce0044
* Content: [Copy-PnPItemProxy (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/m

[2020-01-13 11:19] yogkumgit commented on #4667
@officedocsbot assign @yogkumgit

[2020-01-13 11:19] yogkumgit commented on #4669
@officedocsbot assign @yogkumgit

[2020-01-13 14:19] get-itips commented on #4635
Hello @Chad-Campus thanks for your feedback, I created a pull request to propose adding a link to download the module. If it gets approval, it will be reflected on the article. Thank you again

[2020-01-13 14:46] get-itips commented on #4645
Hello @HandyAndyOnGitHub
Please see the documentation for [Remove-TeamChannelUser](https://docs.microsoft.com/en-us/powershell/module/teams/remove-teamchanneluser?view=teams-ps)

[2020-01-13 15:19] yogkumgit commented on #4635
@kenwith Please merge the PR #4670 Thanks

[2020-01-13 15:27] bagstac opened #4672 "Release notes are wrong"
The Release notes state that version Version 0.3527.1 has been released.  It has been unlisted in the gallery and is no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Content: [Exchange Online PowerSh

[2020-01-13 15:31] yogkumgit commented on #4638
@hirenshah1 Please merge the PR #4671 Thanks

[2020-01-13 15:33] yogkumgit commented on #4672
@officedocsbot assign @yogkumgit

[2020-01-13 22:22] dariomws306 commented on #4651
Oh sorry @JeremyTBradshaw, I misunderstood it.

I understand there is no way to get it working using Remote PowerShell to an Exchange Server. You should run the scripts on Exchange Management Shell and use -Server parameter.
@chrisda Could you kindly confirm this?

Admin Center use -Server parameter you can confirm it using command logging.

[2020-01-13 22:34] kenwith commented on #4635
Merged.

[2020-01-13 22:34] #4635 closed

[2020-01-14 02:41] Eric-Fang commented on #3656
OK, the problem is still here....

[2020-01-14 11:25] JeremyTBradshaw commented on #4651
Thanks @dariomws306 .  I'm aware that the management shell can do it and that the EAC is doing it with the same command which can be seen in the command log window.

I'm hoping to find out how that's happening (i.e. what is the management shell doing to get that extra detail), so that I can implement a process to accomplish the same thing in a PS remote session, not from the management shell.

[2020-01-14 12:44] yogkumgit commented on #4641
@dariomws306 Thank you very much for the contribution and sharing this explanation. @Karr
Hope you checked the suggested link and is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-14 12:44] #4641 closed

[2020-01-14 12:49] yogkumgit commented on #4638
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @jantoney Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-14 12:49] #4638 closed

[2020-01-14 12:53] yogkumgit commented on #4645
@get-itips  Thank you very much for the contribution and sharing this explanation. @HandyAndyOnGitHub Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-14 12:53] #4645 closed

[2020-01-14 12:57] yogkumgit commented on #4598
@officedocsbot assign @yogkumgit

[2020-01-14 12:57] yogkumgit commented on #4599
@officedocsbot assign @yogkumgit

[2020-01-14 12:57] yogkumgit commented on #4600
@officedocsbot assign @yogkumgit

[2020-01-14 12:57] yogkumgit commented on #4601
@officedocsbot assign @yogkumgit

[2020-01-14 12:57] yogkumgit commented on #4602
@officedocsbot assign @yogkumgit

[2020-01-14 12:57] yogkumgit commented on #4603
@officedocsbot assign @yogkumgit

[2020-01-14 12:57] yogkumgit commented on #4604
@officedocsbot assign @yogkumgit

[2020-01-14 12:58] yogkumgit commented on #4605
@officedocsbot assign @yogkumgit

[2020-01-14 12:58] yogkumgit commented on #4606
@officedocsbot assign @yogkumgit

[2020-01-14 12:58] yogkumgit commented on #4607
@officedocsbot assign @yogkumgit

[2020-01-14 12:58] yogkumgit commented on #4608
@officedocsbot assign @yogkumgit

[2020-01-14 12:58] yogkumgit commented on #4609
@officedocsbot assign @yogkumgit

[2020-01-14 12:59] yogkumgit commented on #4610
@officedocsbot assign @yogkumgit

[2020-01-14 12:59] yogkumgit commented on #4611
@officedocsbot assign @yogkumgit

[2020-01-14 12:59] yogkumgit commented on #4612
@officedocsbot assign @yogkumgit

[2020-01-14 12:59] yogkumgit commented on #4613
@officedocsbot assign @yogkumgit

[2020-01-14 13:00] yogkumgit commented on #4614
@officedocsbot assign @yogkumgit

[2020-01-14 13:00] yogkumgit commented on #4615
@officedocsbot assign @yogkumgit

[2020-01-14 13:00] yogkumgit commented on #4616
@officedocsbot assign @yogkumgit

[2020-01-14 13:00] yogkumgit commented on #4617
@officedocsbot assign @yogkumgit

[2020-01-14 13:00] yogkumgit commented on #4618
@officedocsbot assign @yogkumgit

[2020-01-14 13:00] yogkumgit commented on #4619
@officedocsbot assign @yogkumgit

[2020-01-14 13:00] yogkumgit commented on #4620
@officedocsbot assign @yogkumgit

[2020-01-14 13:00] yogkumgit commented on #4621
@officedocsbot assign @yogkumgit

[2020-01-14 13:00] yogkumgit commented on #4622
@officedocsbot assign @yogkumgit

[2020-01-14 13:27] Marcin137 opened #4674 "Problem with Exchange Online v2 Powershell module"
I'm trying to use the new EXO Powershell module in my function, which returns some data. Unfortunately the result returned by the function is overwritten by the object returned during creating PSSession, when connecting to Exchange Online occurs. In the "classical" approach, you could "Out-Null" the result in the Import-PSSession command - here, with Connect-ExchangeOnline cmdlet, it doesn't work.

[2020-01-14 13:52] Petri-X opened #4675 "Where is: AllowedDomainsAsAList"
Hi,

Where is the definition for "-AllowedDomainsAsAList" ?`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c71fa24-f273-98ff-c0c6-ce9e5488e7c2
* Version Independent ID: 1ef8e42a-4405-5e99-b2ac-547d60b53a70
* Content: [Set-CsTenantFederationConfiguration (skype)](https://docs.microsoft.com/en-us/powershell/module/skyp

[2020-01-14 14:08] dannydpa commented on #4537
Apart from the values mentioned there is also the option EnabledUserOverride for -LiveCaptionsEnabledType.

[2020-01-14 14:53] KirkMunro commented on #4655
@navgupta1208: With the upcoming feature for Exchange, will they support managed identity authentication as well?

Any any response to my last request?

[2020-01-14 15:40] yogkumgit commented on #4674
@officedocsbot assign @yogkumgit

[2020-01-14 15:41] yogkumgit commented on #4675
@officedocsbot assign @yogkumgit

[2020-01-14 20:17] tseward commented on #4519
Hi folks,

When a user is removed from a Microsoft Team, they are removed from the Office 365 Group which also governs access to the SharePoint Online site.

However, SharePoint Online also has it's own ACL controls via the way of direct assignment, sharing links, and SharePoint Groups (which may have the user directly added or nested via an Azure AD security group, mail-enabled security group, or

[2020-01-14 21:05] dariomws306 commented on #4667
Hi @eschrader, thank you for your comment.

You need to check this article to understand what permissions you need to do different operations under Security & Compliance Center:
https://docs.microsoft.com/microsoft-365/security/office-365-security/permissions-in-the-security-and-compliance-center

In this case, you need at least View-Only Retention Management role.

[2020-01-14 22:21] eclay1819 opened #4677 "Duplicate records from API"
When using the PowerShell cmdlet or exporting from the UI, there are duplicate records in the output. I can't find any reference to this behavior in the documentation.

Sample code below - I have reproduced this using the ReturnNextPreviewPage session command with resultsize of 5000 and no paging as well on a different date range. When exporting to CSV from the Security and Compliance page, there

[2020-01-14 22:35] dariomws306 commented on #4659
Hi @bit1ngest0r, thank you for your feedback.

I'm proposing an update as the description seems to be the same as -ManagedBy for Set-DistributionGroup which is a MultiValuedProperty. For Set-DynamicDistributionGroup it's GeneralRecipientIdParameter.
Also, if you don't specify an owner when you create the group this attribute remains empty. And you can add/remove members on dynamic groups.

[2020-01-15 05:18] yogkumgit commented on #4677
@officedocsbot assign @yogkumgit

[2020-01-15 11:54] dariomws306 commented on #4656
Hi @jadesolis, thank you for your feedback.

For more information, see [Sending limits across Office 365 options](https://docs.microsoft.com/office365/servicedescriptions/exchange-online-service-description/exchange-online-limits#sending-limits-across-office-365-options).

[2020-01-15 12:43] fheinicke opened #4682 "Names of Cmdlets should not be translated"
The issue is that names of certain cmdlets get automatically translated, tested for German language. Even though some results are funny, I think it should be fixed.

Examples:
- [Set-SPOUser for German](https://docs.microsoft.com/de-de/powershell/module/sharepoint-online/set-spouser?view=sharepoint-ps) -> `Gruppe-Ehegatte` (would be something like `Group-Spouse`).
- [Get-SPOUser](https://docs.micr

[2020-01-15 13:36] yogkumgit commented on #4682
@officedocsbot assign @yogkumgit

[2020-01-15 13:44] yogkumgit commented on #4667
@dariomws306  Thank you very much for the contribution and sharing this explanation. @eschrader
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-15 13:44] #4667 closed

[2020-01-15 13:49] yogkumgit commented on #4659
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @bit1ngest0r Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-15 13:49] #4659 closed

[2020-01-15 13:51] yogkumgit commented on #4656
@dariomws306  Thank you very much for the contribution and sharing this explanation. @jadesolis
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-15 13:51] #4656 closed

[2020-01-15 14:36] dariomws306 commented on #4655
Hi @KirkMunro, thank you for your feedback.

@chrisda @navgupta1208 could you add something else here? Thanks in advance!

[2020-01-15 15:54] chhinton opened #4684 "Connect-sposervice exception on PowerShell 7"
When attempting to connect to SPO using connect-sposervice on PowerShell 7 RC1 (Windows) an exception is thrown.

Exception:
Connect-SPOService: Could not load type 'System.Security.Cryptography.SHA256Cng' from assembly 'System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.

Research led me to issue 3926 in the dotnet/core project [Please implement System.Security.Crypto

[2020-01-15 16:24] yogkumgit commented on #4684
@officedocsbot assign @yogkumgit

[2020-01-15 19:52] chrisda commented on #4653
@rhymeswithmogul OK. Done. Note that you, too, can update the topic without having to file an Issue first. For more information, see https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md.

Thanks for the feedback.

[2020-01-15 19:52] #4653 closed

[2020-01-16 00:04] chrisda commented on #4651
@JeremyTBradshaw, I'm sorry, I have no idea. There's no reason why remote PowerShell shouldn't behave the same as the Exchange Management Shell. If you really want an answer, you'll need to open a support ticket.

I can tell you that Get-ExchangeCertificate is an odd duck:

- The position 0 parameter is Thumbprint and Identity is position 1. So, when you run: `Get-ExchangeCertificate  992F250A0635

[2020-01-16 08:54] anh-duc-le opened #4686 "Access Private Channels Preview from Azure Automation"
I'm currently working in an Azure Automation Powershell Runbook where I want to make use of this preview version of the Cmdlet. However I can't wrap my mind around how I can achieve that as the gallery version of the Cmdlet is only showing the latest public release (1.0.3).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-01-16 10:22] anh-duc-le commented on #4686
I've installed the beta module locally, then archived the `C:\Program Files\WindowsPowerShell\Modules\MicrosoftTeams` folder and uploaded it to the Modules collection on my Automation Account. This worked.

![image](https://user-images.githubusercontent.com/37115195/72516745-79ca5b80-3852-11ea-852d-2c91277db445.png)

[2020-01-16 10:22] #4686 closed

[2020-01-16 12:41] navgupta1208 commented on #4655
Here is the version released privately where this feature is available -
https://www.powershellgallery.com/packages/ExchangeOnlineManagement/0.3527.1

This will be available for wider public starting nextweek.

[2020-01-16 15:04] danjpadgett opened #4688 "Typo for argument"
The argument is listed as -SkipFilesWithExtensions but is actually -SkipFilesWithExtension. Please extend this article with more information/examples - e.g. how -SkipFilesWithExtension should be used.

i.e: -SkipFilesWithExtension "exe","ini" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 176873a5-a509-6337-0aa9-7db8

[2020-01-16 15:12] get-itips commented on #4639
Hello @RikardStrand How are you ?
We do not have that information here, I would recommend contacting your account manager in that case to find out how you can proceed. I am sorry I can not help you with more info on that.

[2020-01-16 15:50] TalismanM opened #4689 "How to specify which command to import"
How can I specify which command to import from a session when using the Connect-ExchangeOnline cmdlet? For example the Import-PSSession cmdlet has the _CommandName_ parameter.

[2020-01-16 15:52] get-itips commented on #4537
Hello @dannydpa it is true but the EnabledUserOverride has been deprecated and you can't actually set it.
![image](https://user-images.githubusercontent.com/36666927/72540048-eb4fdd00-3845-11ea-8199-2d5d4ae0e882.png)

@yogkumgit PR was merged please close this thread. Thanks

[2020-01-16 15:55] yogkumgit commented on #4688
@officedocsbot assign @yogkumgit

[2020-01-16 15:56] yogkumgit commented on #4689
@officedocsbot assign @yogkumgit

[2020-01-16 16:04] yogkumgit commented on #4537
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @nakatenus Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-16 16:05] #4537 closed

[2020-01-16 17:13] get-itips commented on #4657
Hello @teekayzee
Thanks for your feedback.
For PnP Issues I need to kindly redirect you to this [other resource](https://github.com/SharePoint/PnP-PowerShell), to file an issue there, as you might know, PnP is community driven, a member of that community will follow up there.
Thanks

[2020-01-16 17:15] get-itips commented on #4669
Hello @divyankraj
Thanks for your feedback.
For PnP Issues I need to kindly redirect you to this [other resource](https://github.com/SharePoint/PnP-PowerShell), to file an issue there, as you might know, PnP is community driven, a member of that community will follow up there.
Thanks

[2020-01-16 17:48] Markus-Hanisch opened #4690 "Incorrect parameter in EXAMPE 3 and EXAMPLE 4 of Export-PnPTaxonomy PowerShell Cmdlet"
Please replace "-TermSet" with "-TermSet**Id**" in **EXAMPLE 3** and **EXAMPLE 4** of [Export-PnPTaxonomy Examples section](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/export-pnptaxonomy?view=sharepoint-ps#examples)  as described in the [Syntax](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/export-pnptaxonomy?view=sharepoint-ps#syntax):

See my correction

[2020-01-16 17:50] get-itips commented on #4664
Hello @stephenc01
I could set domain guids using that cmdlet with no issues

![image](https://user-images.githubusercontent.com/36666927/72549358-2a862a00-3856-11ea-858a-44a97d2035fc.png)

were you trying to remove this configuration and received that error maybe?
If that is the case, you can use Remove-SPOTenantSyncClientRestriction to make TenantRestrictionEnabled false again.

[2020-01-17 00:14] Canis-Lupis opened #4692 "Is there an easier way now?"
This article is over 3 years old now.  Is there an easier way now to run Exchange PS commands other than downloading the Exchange management tools or running remote sessions? Especially now with Visual Studio Code?  Like, aren't there exchange modules to import like we can do with AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-01-17 11:54] yogkumgit commented on #4690
@officedocsbot assign @yogkumgit

[2020-01-17 11:55] yogkumgit commented on #4692
@officedocsbot assign @yogkumgit

[2020-01-17 12:05] yogkumgit commented on #4657
@get-itips  Thank you very much for the contribution and sharing this explanation. @teekayzee
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-17 12:05] #4657 closed

[2020-01-17 12:08] yogkumgit commented on #4669
@get-itips  Thank you very much for the contribution and sharing this explanation. @divyankraj
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-17 12:08] #4669 closed

[2020-01-17 12:10] yogkumgit commented on #4664
@get-itips  Thank you very much for the contribution and sharing this explanation. @stephenc01
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-17 12:10] #4664 closed

[2020-01-17 12:13] yogkumgit commented on #4639
@get-itips  Thank you very much for this comment. @RikardStrand  If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-17 12:13] #4639 closed

[2020-01-17 12:19] yogkumgit commented on #4655
@navgupta1208  and @dariomws306  Thank you very much for the contribution and sharing this explanation. @KirkMunro Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-17 16:07] dariomws306 commented on #4674
Hi @Marcin137, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, please contact them at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

[2020-01-17 16:42] dariomws306 commented on #4689
Hi @TalismanM, thank you for your feedback.

There is still no way to do it. The Exchange Online PowerShell V2 module is currently in Preview. If you have any feedback, concerns, or are facing any issues with the EXO V2 module, please contact us at exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam).

[2020-01-17 17:50] dariomws306 commented on #4692
Hi @Canis-Lupis, thank you for your feedback.

There is no other way to run Exchange PowerShell commands other than Exchange Management Shell installed locally or a remote session.

[2020-01-18 16:42] phoude opened #4700 "Command output explanation"
It would be nice to explain what the AssociatedHealthScoreCalculator should be interpreted

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df59a943-8abd-5f6f-592c-eba8bf4cdf11
* Version Independent ID: 424ec3ff-1559-8743-c4ff-a9958c482fed
* Content: [Get-SPWebApplicationHttpThrottlingMonitor (sharepoint-server)](https:/

[2020-01-18 18:06] alexverboon opened #4701 "-AcceptLicense parameter required"
PackageManagement\Install-Package : License Acceptance is required for module 'ExchangeOnlineManagement'. Please specify
'-AcceptLicense' to perform this operation.

So the documentation needs to be updated to have the -AcceptLicense option added to the command line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de283

[2020-01-19 00:47] PathToSharePoint opened #4702 "Example 2"
The second example uses a Get, this doesn't look right.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46737df0-ab6e-0d27-55eb-ba9e97b67c26
* Version Independent ID: e4ab192f-19b8-584b-9962-7bcf8d55f807
* Content: [Grant-PnPSiteDesignRights (sharepoint-pnp)](https://docs.microsoft.com/en-us/powershell/module/sharepoint

[2020-01-20 08:17] JensTrier opened #4704 "Please include description of -DirectorySearchMethod"
This parameter is now available on this cmdlet. It can have None, ByName, ByExtension

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d41021d0-e1fb-fbfc-2c54-a0041ca7cbab
* Version Independent ID: e145eba4-4363-a2c2-1528-f64c47f8208d
* Content: [New-CsAutoAttendantMenu (skype)](https://docs.microsoft.com/en-us/powershel

[2020-01-20 09:18] evlo opened #4705 "Get-SPOSite HubSiteId always returns 00000000-0000-0000-0000-000000000000"
Get-SPOSite HubSiteId always returns 00000000-0000-0000-0000-000000000000 even for the sites where I can clearly see hub correctly set in web administration interface.

EDIT: ok now I see #4510 - this should be documented

[2020-01-20 09:52] yogkumgit commented on #4700
@officedocsbot assign @yogkumgit

[2020-01-20 09:52] yogkumgit commented on #4701
@officedocsbot assign @yogkumgit

[2020-01-20 09:53] yogkumgit commented on #4704
@officedocsbot assign @yogkumgit

[2020-01-20 09:53] yogkumgit commented on #4705
@officedocsbot assign @yogkumgit

[2020-01-20 10:11] yogkumgit commented on #4674
@dariomws306  Thank you very much for the contribution and sharing this explanation. @Marcin137
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-20 10:12] #4674 closed

[2020-01-20 10:18] yogkumgit commented on #4689
@dariomws306  Thank you very much for the contribution and sharing this explanation. @TalismanM
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-20 10:18] #4689 closed

[2020-01-20 10:20] yogkumgit commented on #4692
@dariomws306  Thank you very much for the contribution and sharing this explanation. @Canis-Lupis Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-20 10:20] #4692 closed

[2020-01-20 10:22] yogkumgit commented on #4672
@chrisda  Thank you very much for the contribution and updating the documentation with PR. @bagstac Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-20 10:22] #4672 closed

[2020-01-20 14:00] Markus-Hanisch opened #4707 "Review Connect-ExchangeOnline Parameter "EnableEXoTelemetry""
The Microsoft documentation section [Use the Exchange Online PowerShell V2 module > Report bugs and issues](https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2?view=exchange-ps#report-bugs-and-issues) containts the following PowerShell Cmdlet:

`Connect-ExchangeOnline -EnableEXoTelemetry -LogDirectoryPath <Path to store l

[2020-01-20 14:16] yogkumgit commented on #4707
@officedocsbot assign @yogkumgit

[2020-01-20 18:30] ericlaw1979 opened #4708 "The new Edge supports ClickOnce."
Use edge://flags to turn it on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34fa66b0d268
* Content: [Connect to Exchange Online PowerShell using multi-factor authentication](https://docs.microsoft.com/en-us/powershell/exchange/exc

[2020-01-20 20:42] Korbyn72 opened #4709 "changed default behaviour"
the Show-CsClsLogging behaviour has changed for unknown reasons.  Since CU build .123, the default behaviour is now to just show the status of JUST the local machine, instead of every machine in the environment.  Not sure why this change happened, would certainly like to have it reverted back, and I'm guessing this is why there have been CLS logging issues every since.

Rather than change the defa

[2020-01-21 01:06] arnieraju opened #4710 "Querying and creating nested terms"
This command is awesome for quickly checking whether a given nested term exists or not using the pipe band separated argument e.g. "Term Group|Term Set|Term Name|2nd Level Term Name|3rd Level Term Name".

From some quick testing, what is missing is the equivalent to create a new nested term via PowerShell using the same syntax.  The new-pnpterm allows us to create a new term, but being able to cre

[2020-01-21 01:08] arnieraju commented on #4710
FYI: Just took at quick look at the PnP-PowerShell project and found the following issue which looks related:  https://github.com/SharePoint/PnP-PowerShell/issues/1704

[2020-01-21 09:12] yogkumgit commented on #4708
@officedocsbot assign @yogkumgit

[2020-01-21 09:12] yogkumgit commented on #4709
@officedocsbot assign @yogkumgit

[2020-01-21 09:12] yogkumgit commented on #4710
@officedocsbot assign @yogkumgit

[2020-01-21 11:17] Markus-Hanisch opened #4711 "Set-OrganizationConfig -VisibleMeetingUpdateProperties Syntax"
It took me quite some time to figure out the required syntax to set the **VisibleMeetingUpdateProperties** parameter.
**Example 6** to set the **VisibleMeetingUpdateProperties** parameter is a bit misleading because the value of this parameter needs to be set as solely one comma separated string value in double quotes.
[Set-OrganizationConfig > Examples > Example 6](https://docs.microsoft.com/en-u

[2020-01-21 14:54] mrkeiths opened #4712 "More missing event types"
May we please have a refresh on available event types and their definitions?

AtpGoodMail, Expire (multiple Actions) and Receive (multiple Actions) events are several that are missing.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fb20809-8f21-dfd3-23bf-bbfb82679619
* Version Independent ID: be54b158-1672-

[2020-01-21 15:17] jordanmills opened #4713 "Missing organization parameter?"
What is the -organization parameter in example 4?  It is not listed or documented elsewhere in this page, and does not seem to be available in the remote session when I connect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b533bfea-3a27-822a-cff7-c3734c57a2c9
* Version Independent ID: 0df7c84a-3bd3-79da-6a25-6ace0ba6

[2020-01-21 15:29] yogkumgit commented on #4711
@officedocsbot assign @yogkumgit

[2020-01-21 15:30] yogkumgit commented on #4712
@officedocsbot assign @yogkumgit

[2020-01-21 15:30] yogkumgit commented on #4713
@officedocsbot assign @yogkumgit

[2020-01-21 17:07] dariomws306 commented on #4708
Hi @ericlaw1979, thank you for your feedback.

I have tested it and works. I will propose an update to see if it will be approved.

[2020-01-21 17:20] #4690 closed

[2020-01-21 17:41] kenwith commented on #4519
I also found out there is a documentation effort underway that @MikePlumleyMSFT and @BrendaCarter are leading to discuss decommissioning teams and I pointed this info to them as a key area to note. Thanks all for this feedback.

[2020-01-21 17:41] #4519 closed

[2020-01-21 18:08] geoffblack opened #4716 "Example format for -DescriptionTimeFormat is incorrect"
`MM` is the specifier for month, while `mm` is the specifier for minutes. Your example should say:

`MM/dd/yyyy, where MM is the 2-digit month, dd is the 2-digit day and yyyy is the 4-digit year.`

Consider adding a canonical link to date specifier strings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb7d356a-b903-4

[2020-01-21 18:29] eschrader opened #4717 "AccessRights flag out of range for Teams Room calendar"
I was unable to add the -AccessRights flag of AvailabilityOnly, it was "out of range" for a Teams Room calendar. Is there a default name for a Teams Room Calendar?

Add-MailboxFolderPermission -Identity conferenceroom1@mydomain.com -User office@mydomain.com -AccessRights AvailabilityOnly
Specified argument was out of the range of valid values.
Parameter name: memberRights
    + CategoryInfo

[2020-01-21 18:35] chrisda commented on #4713
@jordanmills, I removed the Organization parameter from the example. I'm not sure why it was there.

Thanks for the feedback.

[2020-01-21 18:35] #4713 closed

[2020-01-21 20:56] Knurmia opened #4720 "Installation process doesn't work"
I just followed the process for installing EXO V2 and it seems there's a step missing.

Instead of actually installing ExchangeOnlineManage module, I get this message:

WARNING: The specified module 'ExchangeOnlineManagement' with PowerShellGetFormatVersion '2.0' is not supported by the current version of PowerShellGet. Get the latest version of the PowerShellGet module to install this module, 'Ex

[2020-01-21 21:20] get-itips commented on #4675
Hello @Petri-X
Created a pull request to propose improving the article with the missing information about the parameter. Hopefully, it will be merged.
Thanks for noticing.

[2020-01-21 22:40] chrisda commented on #4711
@Markus-Hanisch, I used your example and updated the parameter description to clarify.

Thanks for the feedback.

[2020-01-21 22:40] #4711 closed

[2020-01-21 23:05] get-itips commented on #4684
Hello @chhinton
As you said, Ps7 is still Release Candidate, so it is under development and prone to errors.
Other than that, I identify no documentation to be changed.
Thank you

[2020-01-21 23:11] dariomws306 commented on #4701
Hi @alexverboon, thank you for your feedback.

You should get this screen when you run "Install-Module -Name ExchangeOnlineManagement":
![image](https://user-images.githubusercontent.com/33589238/72851362-30cb3a80-3c8a-11ea-8506-9829345709d0.png)

[2020-01-21 23:12] dariomws306 commented on #4701
And if you run "Install-Module -Name ExchangeOnlineManagement -RequiredVersion 0.3527.3" you won't get a prompt for License Acceptance.

What command are you running to install this module?

[2020-01-22 01:00] swinster opened #4727 "Ability to assign CVI Policy to Groups or OUs"
Would like to see an ability to assign a policy to groups or Organisation Units, not just global or individually.

I guess you could pipe the output from `Get-ADuser` into a `ForEach-Object` something like:

[code]

but this seems a bit long winded (P.S. I haven't tested this either).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-01-22 08:33] DennisGaida opened #4728 "German translation is Get-Spouse and Remove-Husband"
I'm sorry if this isn't the correct place to comment on the automatic article translation.

The German translation of this page (https://docs.microsoft.com/de-de/powershell/module/sharepoint-online/get-spouser?view=sharepoint-ps) is `Get-Ehepartner` (*Get-Spouse*) for `Get-SPOUser` and way in the bottom it is `Remove-Ehegatte` (*Remove-Husband*) for `Remove-SPUser`. While this translation is funny

[2020-01-22 10:20] yogkumgit commented on #4716
@officedocsbot assign @yogkumgit

[2020-01-22 10:20] yogkumgit commented on #4717
@officedocsbot assign @yogkumgit

[2020-01-22 10:21] yogkumgit commented on #4720
@officedocsbot assign @yogkumgit

[2020-01-22 10:21] yogkumgit commented on #4727
@officedocsbot assign @yogkumgit

[2020-01-22 10:21] yogkumgit commented on #4728
@officedocsbot assign @yogkumgit

[2020-01-22 10:56] yogkumgit commented on #4708
@chrisda Please merge this PR #4714  Thanks

[2020-01-22 11:10] yogkumgit commented on #4684
@get-itips  Thank you very much for the contribution and sharing this explanation. @chhinton
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-22 11:16] yogkumgit commented on #4707
@chrisda Please merge this PR #4723

[2020-01-22 11:24] yogkumgit commented on #4688
@JarbasHorst  Thank you very much for the contribution and updating the documentation with PR. @danjpadgett Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-22 11:24] #4688 closed

[2020-01-22 14:05] AdamJParker opened #4729 "Get-CsBatchPolicyAssignmentOperation [Forbidden] : Access Denied"
Installed the preview cmdlets for Teams, New-CsBatchPolicyAssignmentOperation returns no errors, but polices are not being applied to users. and when I run the Get I receive Get-CsBatchPolicyAssignmentOperation : Access Denied.

Category   : InvalidOperation
Activity   : Get-CsBatchPolicyAssignmentOperation_Get
Reason     : Exception
TargetName : { Status =  }
TargetType : <>f__AnonymousType0`1

N

[2020-01-22 14:57] yogkumgit commented on #4729
@officedocsbot assign @yogkumgit

[2020-01-22 15:01] swinster commented on #4727
FWIW, the `Get-ADUser` may not be entirely appropriate (depending on infrastructure), but you get the idea I'm sure. Perhaps `Get-AzureADUser" or `Get-AzureRmADUser` or `Get-AzADUser` .... to many options....

[2020-01-22 15:08] get-itips commented on #4702
Hello @PathToSharePoint  Thanks for your feedback.
For PnP Issues I need to kindly redirect you to this [other resource](https://github.com/SharePoint/PnP-PowerShell), to file an issue there, as you might know, PnP is community driven, a member of that community will follow up there.
Thanks

[2020-01-22 15:08] get-itips commented on #4710
Hello @arnieraju  Thanks for your feedback.
For PnP Issues I need to kindly redirect you to this [other resource](https://github.com/SharePoint/PnP-PowerShell), to file an issue there, as you might know, PnP is community driven, a member of that community will follow up there.
Thanks

[2020-01-22 15:16] get-itips commented on #4705
Hello @evlo
Yes, you found another past issue where the same question was asked, that is usually a behavior found independently of the Ps module used, generally speaking, when a lot of properties need to be retrieved.
@yogkumgit we can close this thread now.

[2020-01-22 15:18] dariomws306 commented on #4720
Hi @Knurmia, thank you for your feedback.

What did you get when you run "Install-Module PowershellGet -Force"?

[2020-01-22 15:19] AdamJParker commented on #4729
Getting similar issue with another command.

New-CsGroupPolicyAssignment -GroupId $GroupName -PolicyType TeamsMessagingPolicy -PolicyName EduStudent_Custom -Priority 1

New-CsGroupPolicyAssignment : Access Denied.

Category   : InvalidArgument
Activity   : Get-CsBatchPolicyAssignmentOperation
Reason     : ParameterBindingException
TargetName :
TargetType :

[2020-01-22 15:33] dariomws306 commented on #4716
Hi @geoffblack, thank you for your feedback.

I don't consider this update important because I think there isn't a standard for this and in the description it's specified: "where mm is the 2-digit month".

[2020-01-22 15:46] geoffblack commented on #4716
@dariomws306 The point of this issue is that specification/example in the documentation is incorrect. Try it yourself. `mm` returns the minutes, not the month. Here's one standard, although specific to dotNet, that is applicable: https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#MM_Specifier.

[2020-01-22 16:13] dariomws306 commented on #4716
Hi @geoffblack, thank you for your comment.

It's just a description, there isn't a grammar rule here. It could be "xx/dd/yyyy, where xx is the 2-digit month". You will find "mm/dd/yyyy, where mm is the 2-digit month" all around Microsoft documentation.

[2020-01-22 17:23] geoffblack commented on #4716
I disagree with your both of your assessments that "It's just a description" and that it's okay to have an "example" in documentation that is demonstrably incorrect.

[2020-01-22 18:00] dariomws306 commented on #4716
Ok, I propose the following since I think this update is very important for you and I will not be able to persuade you to change your mind.
I will create a Pull Request to apply this update as it will be reviewed in another stage and they will approve or reject it.

Are you agree with this option?

[2020-01-22 18:05] geoffblack commented on #4716
Sure, that sounds great. It's less that it's important for _me_ since I've discovered the inaccuracy, and more that it's important for other people trying to follow incorrect documentation. Tons of people read this documentation every day, so I don't understand why you wouldn't want to fix it. There _is_ a standard, and the documentation is incorrect.

[2020-01-22 19:25] chrisda commented on #4716
Fundamentally, both of you are correct.

In looking at just Exchange cmdlet reference topics, there are roughly 409 similar/identical instances across 103 topics. Easy enough for me to update all of them globally, but here are my issues:

- I found a couple of instances that use MM/DD/YY. Technically, these are also incorrect, but is anyone really confused by this 'error'?

- When we're talking ab

[2020-01-22 19:25] #4716 closed

[2020-01-22 20:46] dariomws306 commented on #4716
@chrisda Thank you!

[2020-01-22 20:54] sparkitect commented on #2770
@officedocsbot - Requesting reopen since the text in EXAMPLE 1 is still incorrect. The documentation linked to by @get-itips indicates that FileLeafRef is not a valid property of a Microsoft.SharePoint.Client.RecycleBinItem while LeafRef is...

[2020-01-22 23:17] dariomws306 commented on #4717
Hi @eschrader, thank you for your feedback.

Maybe I don't understand but I think that you are confusing two cmdlets:
Add-MailboxPermission
Add-MailboxFolderPermission

AvailabilityOnly AccessRight is available on Add-MailboxFolderPermission and you need to specify the calendar folder in the identity parameter. For example:
Add-MailboxFolderPermission -Identity ayla@contoso.com:\Calendar -User jul

[2020-01-22 23:26] eschrader commented on #4717
Yup, I was unable to move the thread

[2020-01-22 23:27] dariomws306 commented on #4712
Hi @mrkeiths, thank you for your feedback.

@chrisda do you think we can get more detail about these three events? Thanks!

[2020-01-22 23:28] dariomws306 commented on #4717
Ok, there are something else I can help you?

[2020-01-22 23:32] jdelforno opened #4731 "Access Policies don't apply to Group Calendars / Mailbox"
Groups (Office 365) have a calendar and receive mail to a unified mailbox that we can see in Exchange. There are no restrictions on most APIs for Groups, Users or Calendars. It's either nothing or Read/Write All from a Daemon perspective.

Being able to restrict the API to have only access to specific groups would be amazing.  Especially if, you could create a Group with a prefix and then use a Dy

[2020-01-23 04:36] yogkumgit commented on #4731
@officedocsbot assign @yogkumgit

[2020-01-23 04:48] yogkumgit commented on #4702
@get-itips  Thank you very much for the contribution and sharing this explanation. @PathToSharePoint Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-23 04:51] yogkumgit commented on #4710
@get-itips  Thank you very much for the contribution and sharing this explanation. @arnieraju
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-23 04:51] #4710 closed

[2020-01-23 04:53] yogkumgit commented on #4705
@get-itips  Thank you very much for the contribution and sharing this explanation. @evlo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-23 05:07] yogkumgit commented on #4707
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @Markus-Hanisch Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-23 05:07] #4707 closed

[2020-01-23 05:10] yogkumgit commented on #4708
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @ericlaw1979 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-23 05:10] #4708 closed

[2020-01-23 06:08] PathToSharePoint commented on #4702
@get-itips @yogkumgit I am not sure to understand.

I posted my feedback directly at the bottom of this page:
https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/grant-pnpsitedesignrights

Why did it end up here then, if it is not the right place?

Just to be clear, what I was reporting is a documentation issue, not an issue with the code itself.

[2020-01-23 08:32] evlo commented on #4705
"this should be documented" in my first post

[2020-01-23 09:11] michevnew commented on #4701
You'll get the error if you run the cmdlet with -Force, and I suppose this is by design.

[2020-01-23 11:34] get-itips commented on #2770
Hello @sparkitect Jim, how are you? Hope you are doing great.
We are now requesting a new procedure for PnP cmdlets & Documentation issues, if you feel this needs to be reopen, I need to kindly redirect you to this [other resource](https://github.com/SharePoint/PnP-PowerShell/), please create an issue there, PnP cmdlets are community-driven, a member of the community will pick your request there a

[2020-01-23 11:46] get-itips commented on #4705
@evlo hope you are doing great.
This is called "lazy properties" and is a standard behavior of, not only PowerShell, but we can find this behavior on almost all programming languages.

Found a definition for you in [another article](https://docs.microsoft.com/en-us/configmgr/develop/core/understand/configuration-manager-lazy-properties).

[2020-01-23 13:33] FedeFigueredo opened #4735 "Set-SPOSite deletes all owners when updating with a new one"
Hi! I´ve executed `Set-SPOSite -Identity https://contoso.sharepoint.com/sites/site1 -Owner joe.healy@contoso.com -NoWait` and it indeed added that user as an owner to the site collection. But the problem is that it **deleted all the users** that were previously an owner. I´ve read that this cmdlet "updates" the owner of a site collection. But wouldn´t be an expected behavour to just add this owner

[2020-01-23 13:37] get-itips commented on #4700
Hello @phoude How are you?
Hope you are doing great.

The AssociatedHealthScoreCalculator values are "buckets" that SharePoint uses to calculate the Health Score, for example,

[code]

If in your environment currently you have 14 ASP.NET Requests, the Health Score will be 4.

You can change the way SharePoint calculates the Health Score thru the [Set-SPWebApplicationHttpThrottlingMonitor](Set-SPWe

[2020-01-23 13:39] dariomws306 commented on #4701
Thank you @michevnew!

In this case I think it's outside the scope of the document and the error message is self explanatory.

[2020-01-23 13:48] get-itips commented on #4702
@PathToSharePoint You did good, don't worry, It's just the way it is currently with this specific PnP documentation.
The documentation of the PnP articles is directly reflected in this repo from PnP source code, if you look into it, you will find the documentation inside every cmdlet.
That's the reason both PnP documentation issues and cmdlet issues need to be reported in the referenced repo.

Hop

[2020-01-23 14:05] swinster commented on #4727
Thinking about this, the AD user stuff is probably not as appropriate as anything that could be used to gather user info on the CS Online side of thing, due to the unique way this stuff hangs together.

For example, if I were to run a `Get-AzureADUser` or `Get-AzureRmADUser`, the admin would need another set of credentials, and possibly this even comes under the responsibility of a different compl

[2020-01-23 15:28] yogkumgit commented on #4735
@officedocsbot assign @yogkumgit

[2020-01-23 15:28] sparkitect commented on #2770
Hi @get-itips,

Are you saying that if there is a technical error in the text on this page (https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/clear-pnprecyclebinitem?view=sharepoint-ps) then I should't use the Feedback form on 'This page' but should go somewhere else and try to track down the corresponding source code file and enter an Issue there?

Seems a bit confusing and convol

[2020-01-23 15:35] #4702 closed

[2020-01-23 15:36] #4705 closed

[2020-01-23 15:38] get-itips commented on #2770
Hello @sparkitect I can understand your frustration, it is not my decision, I know the team is working on a fix, however, currently, it is the way to go. Thank you

[2020-01-23 15:42] yogkumgit commented on #4701
@dariomws306  Thank you very much for the contribution and sharing this explanation. @alexverboon Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-23 15:42] #4701 closed

[2020-01-23 15:45] #2770 closed

[2020-01-23 15:48] yogkumgit commented on #4700
@get-itips  Thank you very much for the contribution and sharing this explanation. @phoude
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-23 15:48] #4700 closed

[2020-01-23 15:55] swinster opened #4736 "Example is just a placeholder :("
As title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c79b5db-9d19-caeb-75ab-866a2581b53d
* Version Independent ID: 2d6390b3-3280-39b7-70ca-5792b57187cc
* Content: [Set-CsVideoInteropServiceProvider (skype)](https://docs.microsoft.com/en-us/powershell/module/skype/set-csvideointeropserviceprovider?view=skype-ps)
* C

[2020-01-23 15:59] yogkumgit commented on #4736
@officedocsbot assign @yogkumgit

[2020-01-23 16:38] sparkitect commented on #2770
Hi again, @get-itips.

The 'other resource' link you provided me just goes to the root of the repository. From there I go to Documentation, which just informs me that the documentation has been moved here (docs.microsoft.com).

I appreciate you taking the time on this; I love to help, but unfortunately, I don't have the bandwidth to figure this out right now.

But at least I know the documentation

[2020-01-23 17:10] get-itips commented on #2770
@sparkitect Thanks for understanding, this is the exact [link](https://github.com/SharePoint/PnP-PowerShell/issues/new).

[2020-01-23 18:46] asthalon opened #4737 "Register-SPMTMigration: -Incremental Parameter Missing"
Hello,

With assembly version 3.2.114.2, the _Incremental_ switch listed in the documentation is no longer present.

It appears to have been replaced by the _EnableMultiRound_ parameter, based on what's present but not documented.

The documentation also indicates that the _Incremental_ parameter is set to True by default, however, when executing _Register-SPMTMigration_ with default parameters, _

[2020-01-23 23:21] get-itips commented on #4704
Hello @JensTrier Thanks for noticing, created a pull request to add the missing parameter to the article.

[2020-01-24 00:12] kenwith commented on #4677
@ev1819 thank you for submitting this feedback. I will have to loop in @chrisda who works on the security and compliance center on how best to take action. @chrisda maybe this information would be better in the reference content for security and compliance center? Thoughts?

[2020-01-24 10:43] prasantabhowmik opened #4742 "Error"
I am getting the below error.
Get-SPOSiteScriptFromWeb : The term 'Get-SPOSiteScriptFromWeb' is not recognized as the name of a cmdlet, function,
script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is
correct and try again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-01-24 14:02] yogkumgit commented on #4737
@officedocsbot assign @yogkumgit

[2020-01-24 14:03] yogkumgit commented on #4742
@officedocsbot assign @yogkumgit

[2020-01-24 14:08] yogkumgit commented on #4704
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @JensTrier Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 14:09] #4704 closed

[2020-01-24 15:03] yogkumgit commented on #4598
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:03] #4598 closed

[2020-01-24 15:05] yogkumgit commented on #4599
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:05] #4599 closed

[2020-01-24 15:06] yogkumgit commented on #4601
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:06] #4601 closed

[2020-01-24 15:07] yogkumgit commented on #4602
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:07] #4602 closed

[2020-01-24 15:08] yogkumgit commented on #4603
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:08] #4603 closed

[2020-01-24 15:09] yogkumgit commented on #4605
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:09] #4605 closed

[2020-01-24 15:10] yogkumgit commented on #4609
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:10] #4609 closed

[2020-01-24 15:11] yogkumgit commented on #4613
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:11] #4613 closed

[2020-01-24 15:12] yogkumgit commented on #4614
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:12] #4614 closed

[2020-01-24 15:13] yogkumgit commented on #4615
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:13] #4615 closed

[2020-01-24 15:14] yogkumgit commented on #4617
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:14] #4617 closed

[2020-01-24 15:15] yogkumgit commented on #4619
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:15] #4619 closed

[2020-01-24 15:16] yogkumgit commented on #4621
@get-itips Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:16] #4621 closed

[2020-01-24 15:28] yogkumgit commented on #4717
@dariomws306  Thank you very much for the contribution and sharing this explanation. @eschrader
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-24 15:29] #4717 closed

[2020-01-24 18:09] bruceburge commented on #4720
Latest version of PowershellGet is 2.2.3,

Screen shoot below shows the process of running commands as listed on help page.

![image](https://user-images.githubusercontent.com/6773890/73092313-f9cf7180-3ea1-11ea-9992-5dbc7a6a3b55.png)

[2020-01-24 19:20] chrisda commented on #4677
@ev1819, are you absolutely sure the duplicate rows are identical to each other in all respects? If so, you should file a support case to find out what's going on.

[2020-01-24 20:26] Markus-Hanisch opened #4746 "Example on how to create multilingual default labels for newly created term"
Hey folks,
I would like to share an idea, because this has cost me quite some time ...
There is no example on how to create multilingual default labels for a term or related link to the methods of the Term object.
Kudos to this awesome [answer on sharepoint.stackexchange](https://sharepoint.stackexchange.com/questions/268529/how-to-set-other-label-value-of-a-term-set/268550#268550) by [Gautam Shet

[2020-01-24 20:54] rickleye opened #4747 "Is the MembershipType pipe still valid ?"
Get-TeamChannel -GroupId af55e84c-dc67-4e48-9005-86e0b07272f9 -MembershipType Private

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6b48c32-ad79-4249-638b-f53f9d76397f
* Version Independent ID: 36d9cfe0-cf60-2fa1-41b4-6c6971042394
* Content: [Get-TeamChannel (teams)](https://docs.microsoft.com/en-us/powershell/module

[2020-01-24 21:43] CloudHotShot opened #4748 "List needs updating"
Lots of Get- and Set- commands no longer available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94694082-c529-5654-1734-57514ec17a1f
* Version Independent ID: aa669763-6470-cc61-ea8d-52aee886f986
* Content: [Microsoft Teams PowerShell](https://docs.microsoft.com/en-us/powershell/module/teams/?view=teams-ps&source=doc

[2020-01-24 22:52] dariomws306 commented on #4720
Hi @bruceburge,

Thank you for this information. I have tried in a new Win 10 installation and had the same behavior.

For feedback or issues with Exchange Online PowerShell V2 module I need to send you to this section:
https://docs.microsoft.com/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2?view=exchange-ps#report-bugs-and-issues

Thank you again!

[2020-01-24 23:29] bruceburge commented on #4720
Not to be a jerk about it, but I mean, really, in this day and age a team at microsoft thinks the best way to handle bug reports, is to have users send an email to contact us at `exocmdletpreview[at]service[dot]microsoft[dot]com` that defeats the point, and does nothing from the other users with the issue.

I wouldn't have found the work around if not for reading other peoples issues, and using so

[2020-01-25 00:09] 1AdamG opened #4749 "Link not working"
This link is not working in the begining of the page
https://go.microsoft.com/fwlink/p/?linkId=182625

Also the tool can not be installed unless having"Microsoft Unified Communications Managed API 2.0 Core Runtime" which is not available for download on Microsoft website. Newer versions for UCM API Core Runtime do not work with Test-UMConnectivity

---
#### Document Details

⚠ *Do not edit this se

[2020-01-25 00:20] chrisda commented on #4720
@bruceburge, the V2 Module is still in Preivew; that's why @dariomws306 suggested sending the issue to the support alias. Your contribution will help make the feature better.

While sending an email is unusual, it's really the only option for this feature in this Preview state (opening a support ticket for problems would do you no good). I suppose we could have done a Yammer channel instead, but t

[2020-01-25 01:08] #4720 closed

[2020-01-25 01:14] chrisda commented on #4749
@1AdamG, confirmed. I updated the link; it should b. The prerequisites for the tool (including the UCM API v2.0) are included on the download page.

Thanks for the feedback.

[2020-01-25 09:46] IdahoR opened #4752 "Clarification on parameter combinations"
Attempting to create an Allow rule for basic auth from client networks fails.
New-ClientAccessRule Allow_BasicAuth -Priority 2 -Action AllowAccess -AnyOfAuthenticationTyp
es BasicAuthentication -AnyOfClientIPAddressesOrRanges (list)

Error message:
Chosen authentication type and protocol combination is invalid. See 'https://go.microsoft.com/fwlink/p/?linkid=869219' for supported combinations.

Ple

[2020-01-25 11:42] get-itips commented on #4727
Hello @swinster
How are you? Hope you are doing good 👍
Currently, the Identity parameter accepts a UserIdParameter, which, as you said, accepts individual user ids, you could script the cmdlet to run it against a list of users, however I understand that this could not be ideal. For feature requests, I would need to ask you to please [visit this resource](https://microsoftteams.uservoice.com/) to p

[2020-01-25 11:51] get-itips commented on #4736
Hello @swinster
Thanks for noticing 👍
Created a PR to add a working example.

[2020-01-25 11:58] get-itips commented on #4728
Hello @DennisGaida
Thanks for noticing and reporting 👍
I confirmed that the Docs team is aware of this, the translation engine was having some glitches and they were working to fix this.
I see now that, in the German localization, it is correctly ignoring the cmdlet name, and it is showing ok for me, can you confirm?

_Set-ThankYou_

[2020-01-25 12:02] get-itips commented on #4729
Hello @AdamJParker
How are you? Hope you are doing good 👍
Preview cmdlets can have some glitches, as they are currently under development and testing, and because of that I could not identify any documentation that needs to be changed.
If, for any reason, you identify that production cmdlets behave differently from what is documented, a documentation change should be required, but that is not the

[2020-01-25 12:07] get-itips commented on #4735
Hello @FedeFigueredo
How are you? Hope you are doing good 👍
I reviewed the cmdlet's documentation and indeed it says it will _update_ the owner, not add an owner to a current list of owners. So I do not identify that the documentation needs to be changed.
I suggest you review the [SharePoint user voice](https://sharepoint.uservoice.com/) to propose changing this behavior.
Thank you

[2020-01-25 19:40] Mel2036 opened #4755 "Mel6302"
Get-ManagementRoleAssignment -Role "&lt;Role name&gt;"  -GetEffectiveUsers -Delegating $false | Where-Object {$_.EffectiveUserName -ne "All Group Members"} | Format-Table -Auto EffectiveUserName,Role,RoleAssigneeName,AssignmentMethod

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66f0a60b-0a31-dd92-53eb-4f7def6319f3
*

[2020-01-26 02:03] KirkMunro commented on #4655
@navgupta1208 Thank you for sharing that private release. I downloaded this update shortly after your reply 9 days ago, and have started looking at it, but it doesn't seem to include any changes to the `Connect-ExchangeOnline` function. I've performed a file comparison between the old and the new modules, and sure enough, there are no new parameters for this function, so I don't see how this modul

[2020-01-26 11:59] 1AdamG commented on #4749
If you click the updated link and try to see the perquisites, the link for Unified Communications Managed API 2.0, Core Runtime (64-bit) is not working.

And the tool it self doesn't work with newer versions than 2.0. that means this tool is no longer working.

Either remove the tool or update it so it can work with newer versions of UCM API.
Regards

[2020-01-26 23:20] bingoglossy opened #4756 "-BookInPolicy - awkward language"
"You can use any value that uniquely Exchange Online object" needs to be fixed to sound like English please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0a9c45b-34dd-c1c8-89f0-84f3d968eac4
* Version Independent ID: ec9c910c-25f2-f36a-8f75-ce052f0e8be6
* Content: [Set-CalendarProcessing (exchange)](https://docs.micr

[2020-01-27 08:26] yogkumgit commented on #4746
@officedocsbot assign @yogkumgit

[2020-01-27 08:26] yogkumgit commented on #4747
@officedocsbot assign @yogkumgit

[2020-01-27 08:27] yogkumgit commented on #4748
@officedocsbot assign @yogkumgit

[2020-01-27 08:27] yogkumgit commented on #4749
@officedocsbot assign @yogkumgit

[2020-01-27 08:27] yogkumgit commented on #4752
@officedocsbot assign @yogkumgit

[2020-01-27 08:28] yogkumgit commented on #4755
@officedocsbot assign @yogkumgit

[2020-01-27 08:28] yogkumgit commented on #4756
@officedocsbot assign @yogkumgit

[2020-01-27 08:40] DennisGaida commented on #4728
@get-itips looks good to me right now.

[2020-01-27 08:40] #4728 closed

[2020-01-27 09:15] yogkumgit commented on #4677
@chrisda  Thank you very much for the contribution and sharing this explanation. @ev1819
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

https://docs.microsoft.com/office365/admin/contact-support-for-business-products

We will be very happy if yo

[2020-01-27 09:20] yogkumgit commented on #4727
@get-itips  Thank you very much for the contribution and sharing this explanation. @swinster
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-27 09:26] yogkumgit commented on #4736
@tomkau Please merge this PR #4753 Thanks

[2020-01-27 09:37] yogkumgit commented on #4729
@get-itips  Thank you very much for the contribution and sharing this explanation. @AdamJParker
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-27 09:37] #4729 closed

[2020-01-27 09:40] yogkumgit commented on #4735
@get-itips  Thank you very much for the contribution and sharing this explanation. @FedeFigueredo
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-27 09:40] #4735 closed

[2020-01-27 09:52] yogkumgit commented on #4712
@chrisda Please respond to this query. Thanks.

[2020-01-27 12:41] yogkumgit commented on #4675
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @Petri-X Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-27 12:41] #4675 closed

[2020-01-27 14:44] MatBerg2 opened #4757 "Make get-mailboxfolderpermission and similar commands language-agnostic"
With New-Mailbox​Export​Request, I can use something like "#Inbox#" to specify wellknown folders regardless of the mailbox language. With get-mailboxfolder, get-mailboxfolderpermission and similar commands I cannot do that (or it is not properly documented). Instead I have to use worarounds to find out the actual name of the Inbox or calender first, which is not very convenient.

It would be great

[2020-01-27 16:27] dariomws306 commented on #4752
Hi @IdahoR, thank you for your feedback.

This information seems to be on both articles. In the Set-ClientAccessRule article I can see it under "Description" section.

[2020-01-27 16:53] get-itips commented on #4737
Hello @asthalon How are you? Hope you are doing good.
A Pull Request, not yet merged, is on the way, with [the commit](https://github.com/MicrosoftDocs/office-docs-powershell/pull/4754/commits/145f59eda3ecfaa53be30e236cda9df56fcc6a7f) that updates the documentation to reflect the _EnableMultiRound_.
Thanks

[2020-01-27 16:58] get-itips commented on #4742
Hello @prasantabhowmik
How are you?
Did you [install and import](https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-online/connect-sharepoint-online?view=sharepoint-ps) the SharePoint Online module?
Thanks

[2020-01-27 17:02] prasantabhowmik commented on #4742
Hi @get-itips ,

I am good thanks, hope you are doing well.

Yes I do have installed the SharePoint module installed.
Currently I am running on 16.0.8615.0 version.

Thanks,
Pras

[2020-01-27 17:05] get-itips commented on #4747
Hello @rickleye
That parameter is valid for Private Preview as the doc says.
Thank you

[2020-01-27 17:07] get-itips commented on #4742
@prasantabhowmik
Be sure to update the module version, I am testing with a higher version (16.0.19223.12000) and its present.

[2020-01-27 17:18] prasantabhowmik commented on #4742
Hi @get-itips ,

Thanks for the reply, Its works for me too after I have updated to the latest version.

Thanks,
Pras

[2020-01-27 17:19] prasantabhowmik commented on #4742
PS Command Get-SPOSiteScriptFromWeb is available with latest(16.0.19515.0) version.

[2020-01-27 17:19] #4742 closed

[2020-01-27 17:53] rickleye commented on #4747
I have tried it and it doesn’t work. I’ll send you a screen shot

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Monday, January 27, 2020 12:05:14 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Richard Ojeleye <richard@voltronlions.com>; Mention <mention@noreply

[2020-01-27 18:09] get-itips commented on #4746
Hello @Markus-Hanisch Markus,
I need to kindly redirect you to this [other resource](https://github.com/SharePoint/PnP-PowerShell/) to share your contribution, as you might know, PnP cmdlets are community-driven.
You can either create an issue there copying your message or directly propose changing to the source code (which impact the documentation)

[2020-01-27 18:57] Markus-Hanisch commented on #4746
@get-itips
[PnP-PowerShell/Documentation/](The https://github.com/SharePoint/PnP-PowerShell/tree/master/Documentation) states;

[2020-01-27 19:05] get-itips commented on #4746
Yes, PnP documentation is in docs.microsoft.com

PnP documentation markdown files are reflected in the office-docs-powershell repo directly from the PnP-PowerShell repo, (both under docs.microsoft.com)

Yes, if you create a PR against the source code of the cmdlets (that include the documentation), create it against dev branch.

Hope this info helped you

[2020-01-27 19:05] kenwith commented on #4747
@rickleye - we were able to reach the PM for this feature and the parameter has not been released in the Teams PowerShell module yet. You can experiment with it in the Beta module. Here is guidance on this feature: https://docs.microsoft.com/en-us/microsoftteams/private-channels-life-cycle-management

And at the top of the article linked above there is a note about installing the beta Teams PowerS

[2020-01-27 19:05] #4747 closed

[2020-01-27 19:59] Markus-Hanisch commented on #4746
@get-itips
I created my [pull request on **New-PnPTerm.md**](https://github.com/MicrosoftDocs/office-docs-powershell/pull/4763)

[2020-01-27 21:02] do0ds opened #4764 "Confusing"
I noticed when I set an exclusion via the web UI and check the policy via powershell I see it put the URL into 3 different spots: WhiteListedUrls, ExcludedUrls & DoNotRewriteUrls.  I came here to find the difference between the 3, but this page was no help as the first one states it is reserved for Microsoft's use and the second two have the same description.  It left me confused as to what the di

[2020-01-28 03:20] smpettit commented on #4655
I too would like to get clarification on the certificate-based authentication capability. We need this in order to be able to use this module within Azure Automation. To meet the new partner security requirements we need to be able to authenticate with a certificate as a service principal and use that to reach delegated organisations.

[2020-01-28 09:23] yogkumgit commented on #4757
@officedocsbot assign @yogkumgit

[2020-01-28 09:23] yogkumgit commented on #4764
@officedocsbot assign @yogkumgit

[2020-01-28 09:43] yogkumgit commented on #4752
@dariomws306  Thank you very much for the contribution and sharing this explanation. @IdahoR
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-28 09:43] #4752 closed

[2020-01-28 10:33] SashaSidorenko opened #4766 "Copy-SPTaxonomyGroups : The remote server returned an error: (403) Forbidden."
Hi There!
$credential = Get-Credential
~entering O365 SharePoint Online tenant admin creds~
Copy-SPTaxonomyGroups -LocalTermStoreName "Managed Metadata Service" -LocalSiteUrl "https://uat" -RemoteSiteUrl "https://000.sharepoint.com" -GroupNames "test" -Credential $credential

Copy-SPTaxonomyGroups : The remote server returned an error: (403) Forbidden.
At line:1 char:1
+ Copy-SPTaxonomyGroups -Loc

[2020-01-28 10:39] SashaSidorenko commented on #4766
sorry guys, firewall issue, close this please

[2020-01-28 10:49] #4766 closed

[2020-01-28 12:05] AlMargoi commented on #2776
@chrisda , @cammurray 1 year later, the documentation still states the same (multiple values accepted) while we cannot add multiple values with the "Operation" parameter.
Is there an update you could share?

[2020-01-28 13:50] dariomws306 commented on #4655
Hi @KirkMunro and @smpettit,

Please to report bugs or issues, or request features for the "Exchange Online PowerShell V2 module" send you inquiries to:
exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam)
As it's explained in the article. Is the best way to reach the team working on this module.

Thanks!

[2020-01-28 14:02] yogkumgit commented on #4746
@get-itips  Thank you very much for the contribution and sharing this explanation. @Markus-Hanisch Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2020-01-28 14:02] #4746 closed

[2020-01-28 14:05] yogkumgit commented on #4755
@dariomws306  Thank you very much for the contribution and updating the documentation with PR. @Mel2036 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-28 14:05] #4755 closed

[2020-01-28 14:09] yogkumgit commented on #4655
@dariomws306  Thank you very much for the contribution and sharing this explanation. @KirkMunro
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-28 14:09] #4655 closed

[2020-01-28 14:14] yogkumgit commented on #4756
@dariomws306  Thank you very much for the contribution and sharing this explanation. @bingoglossy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-28 14:15] #4756 closed

[2020-01-28 14:17] yogkumgit commented on #4564
@dariomws306  Thank you very much for the contribution and sharing this explanation. @WillemVerwijs Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-28 14:17] #4564 closed

[2020-01-28 14:19] yogkumgit commented on #4565
@dariomws306  Thank you very much for the contribution and sharing this explanation. @WillemVerwijs Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-28 14:19] #4565 closed

[2020-01-28 14:38] yogkumgit commented on #4186
@tseward  Thank you very much for the contribution and sharing this explanation. @bskinner33
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-28 14:43] yogkumgit commented on #4736
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @swinster Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-28 14:43] #4736 closed

[2020-01-28 14:59] get-itips commented on #4737
Hello @asthalon
PR was merged, you can see the live updated version now.
@yogkumgit I think we can close this now

[2020-01-28 15:03] yogkumgit commented on #4737
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @asthalon Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-28 16:06] ferringer opened #4769 "What is a "SharePoint Online global administrator?""
There is no such thing (that I am aware of) as a role in O365 or SharePoint Online or Azure Active Directory named "SharePoint Online global administrator." There is a "SharePoint Online service administrator" role and there is an "Office 365 global administrator" role but they are two separate and distinct roles that can be granted independently of each other to user accounts in AAD. Which one of

[2020-01-28 16:24] yogkumgit commented on #4769
@officedocsbot assign @yogkumgit

[2020-01-28 22:14] LastGunslinger opened #4770 "Example Error"
Example 1 on this page is incorrect. It shows the command Remove-PnPOffice365GroupToSite instead of Remove-PnPSiteCollectionAppCatalog, and the parameter used is -Url instead of -Site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 489173d7-dc1d-5572-b329-dc333a7caeb9
* Version Independent ID: ff1b25a9-a59a-cd16-2cf3-0

[2020-01-29 00:51] asthalon commented on #4737
Thanks folks, appreciate the quick turnaround!

[2020-01-29 00:51] #4737 closed

[2020-01-29 01:25] asthalon opened #4773 "(Get-SPMTMigration).StatusOfTasks - Incorrect Task Status for Failure (FileShare SourceURI Permissions)"
Hello,

When executing a FileShare migration, if the account running the task does not have sufficient permissions to the source directory, the SPMT Session flags the task with Status COMPLETED:

![image](https://user-images.githubusercontent.com/60235362/73319110-68496200-4209-11ea-8fa2-196e79d7a35f.png)

However, failure reports files are generated correctly and indicate the problem; ItemFailure

[2020-01-29 09:11] joshmalik opened #4774 "Edge based on Chromium doesn't work to download EoL PowerShell"
The following line needs editing as the new Edge based on Chromium doesn't work:

Note: Internet Explorer or Edge is required because the download in the next step uses ClickOnce, so Google Chrome or Mozilla Firefox won't work.

https://docs.microsoft.com/en-us/powershell/exchange/office-365-scc/connect-to-scc-powershell/mfa-connect-to-scc-powershell?view=exchange-ps

[2020-01-29 12:17] yogkumgit commented on #4770
@officedocsbot assign @yogkumgit

[2020-01-29 12:17] yogkumgit commented on #4773
@officedocsbot assign @yogkumgit

[2020-01-29 12:17] yogkumgit commented on #4774
@officedocsbot assign @yogkumgit

[2020-01-29 12:34] zakgold opened #4775 "Unable to use -MembershipType with New-TeamChannel"
-MembershipType does not exist as a parameter in version 1.0.3 and MicrosoftTeams module 1.0.19 cannot be found to install with PowershellGet. What's going on here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd44b411-4b59-b90f-0b82-ad0a87652854
* Version Independent ID: 2c52cc4e-47a1-be0d-8860-1011adf061fd
* Conten

[2020-01-29 13:33] dariomws306 commented on #4774
Hi @joshmalik, thank you for your feedback.

To get it working on Edge chromium you need to enable ClickOnce here:
edge://flags/

[2020-01-29 13:42] yogkumgit commented on #4775
@officedocsbot assign @yogkumgit

[2020-01-29 13:43] JeremyTBradshaw opened #4777 "Suggested revision for -Archive parameter description"
Hello,

The current description is, in my opinion, incorrect:

It should instead be something like:

The distinction is that you get back mailboxes, not archive mailboxes, in the results.  This is confusing especially if one tries to find only archive mailboxes, for example:

`Get-Mailbox -Archive -Database ArchivesDB1`

In this example, `ArchivesDB1` is meant to signify a dedicated database where

[2020-01-29 13:48] get-itips commented on #4770
Hello @LastGunslinger Reginald, how are you? Thanks for noticing.

I need to kindly redirect you to this [other resource](https://github.com/SharePoint/PnP-PowerShell/) to share your contribution, as you might know, PnP cmdlets are community-driven.
You can either create an issue there copying your message or directly propose changing the source code (which impacts the documentation)

[2020-01-29 13:51] get-itips commented on #4773
Hello @asthalon
How are you? Hope you are doing great.
Great that you noticed this, however, here we can only address issues in documentation, so I need to kindly redirect you to Support Services of your tenant to report this.
If, for any reason, this leads to an update that impacts documentation, that is where we can take some action here.
Thank you!

[2020-01-29 14:01] get-itips commented on #4769
Hello John, how are you? hope you are doing great.

I need to kindly redirect you to this [other resource](https://github.com/SharePoint/PnP-PowerShell/) for you to share your findings, as you might know, PnP cmdlets are community-driven.
You can either create an issue there copying your message or directly propose changing the source code (which impacts the documentation)

[2020-01-29 14:38] asthalon commented on #4773
Roger that, thank you!

[2020-01-29 14:38] #4773 closed

[2020-01-29 15:01] yogkumgit commented on #4777
@officedocsbot assign @yogkumgit

[2020-01-29 15:05] ComputerHabit opened #4778 "Misppelling of Connect-EXOPSSession."
Misppelling of Connect-EXOPSSession.
----------------------------------
If your organization has single sign-on (SSO) enabled and you are logged on to a computer as a user in the SSO domain, then Connect-EXPOPSSession may fail with the following error:

https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershe

[2020-01-29 15:20] ferringer commented on #4769
Andres –

I’m not sure I completely understand what you are recommending that I do? Am I supposed to somehow post this question to the PNP cmdlets’ project on GitHub, or take some other kind of action? I apologize for not following what you’re suggesting, and do appreciate any additional guidance you could provide on what I should do next.

Thank you,

John

Sent from Mail<https://go.microsoft.com

[2020-01-29 15:31] get-itips commented on #4769
@ferringer
John, exactly, please post this finding into the PnP repo, Issues section, a member of the PnP community will pick it up and act accordingly.
Thanks

[2020-01-29 15:32] ferringer commented on #4769
Will do, thank you very much.

Based on that, I would guess that this item can be closed.

John

________________________________
From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Wednesday, January 29, 2020 10:31:16 AM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: John Ferringer <jferringer@hotmail.com>; Mention <mention@noreply.github.com>

[2020-01-29 15:54] VNJoe commented on #2691
FIX YOUR DOCUMENT!

[2020-01-29 15:55] VNJoe commented on #1872
There is NO WAY to use these instructions any more, so UPDATE THIS document.  These DO NOT WORK, because you HAVE to be an admin and that means 2FA

[2020-01-29 16:01] get-itips commented on #4682
Hello @fheinicke
The issue has been fixed, thank you!

[2020-01-29 16:05] yogkumgit commented on #4682
@get-itips  Thank you very much for the conformation. @fheinicke Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-29 16:05] #4682 closed

[2020-01-29 16:27] auger282 opened #4780 "Does not completely support AD Synced Resources"
Set-Place only works completely with cloud created resources.

AD synced resources can only set: label, audiodevicename, videodevicename, displaydevicename, iswheelchairaccessible, floor, floorlabel, capacity, phone

These attributes are only available for cloud created resources: street, city, state, postalcode, countryorregion, geocoordinates, building

[2020-01-29 17:46] chrisda commented on #1872
@VNJoe, this topic never worked with MFA, and we never said it worked with MFA. If you're using MFA, you need to use the instructions/module in https://docs.microsoft.com/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell or https://docs.microsoft.com/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-p

[2020-01-29 18:03] yogkumgit commented on #4778
@officedocsbot assign @yogkumgit

[2020-01-29 18:03] yogkumgit commented on #4780
@officedocsbot assign @yogkumgit

[2020-01-29 18:26] chrisda commented on #4778
@ComputerHabit, fixed. But, in the future, you can fix stuff like this directly; no need to file an Issue first: https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md.

Thanks for the feedback.

[2020-01-29 18:28] ComputerHabit commented on #4778
Ah I didn’t know that.  Also I might not trust myself.  I misspelled misspell.  :)

________________________________
From: Chris Davis <notifications@github.com>
Sent: Wednesday, January 29, 2020 12:26:08 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: David L Jenkins <david@computerhabit.net>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft

[2020-01-29 18:38] chrisda commented on #4778
Well, don't feel too nervous. Your proposed changes need to be approved before they go live, so someone is always double-checking.

[2020-01-29 18:42] VNJoe commented on #1872
AGAIN, you MUST use MFA if you're an admin, and the link above is where the Partner Center documentation redirects everyone to, so it's really critical that Microsoft clean this up.

Joe Cimino
CTO, VitalNetix
267 282-5400

________________________________
From: Chris Davis <notifications@github.com>
Sent: Wednesday, January 29, 2020 12:46:22 PM
To: MicrosoftDocs/office-docs-powershell <office-doc

[2020-01-29 21:02] chrisda commented on #4777
@JeremyTBradshaw, confirmed. The switch simply filters the result by those who have archive mailboxes. I updated the description in Get-Mailbox and Get-EXOMailbox.

Thanks for the feedback.

[2020-01-29 21:02] #4777 closed

[2020-01-29 22:22] Korbyn72 opened #4782 "The OU"
Does the specified OU only need to include the Skype for Business servers, or does it also need to include all SQL servers used in cases like Enterprise deployments, including cluster nodes and instances too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c581ab28-43ab-f306-993b-f800945c7d2f
* Version Independent ID: 5

[2020-01-29 23:18] jacksonv1lle opened #4784 "Applying custom semantic colours"
Is it possible to configure the semantic colours using the Add-SPOTheme tool?

[2020-01-30 01:38] chrisda commented on #1299
Finally, FINALLY done!

Closing

[2020-01-30 01:38] #1299 closed

[2020-01-30 01:49] #4778 closed

[2020-01-30 02:28] chrisda commented on #4774
This was similarly covered in Issue #4708. In that issue, the complaint was that ClickOnce does (now) work in the Chromium-based Edge using the method @dariomws306 mentioned. That issue was complaining about the note I originally added that said "ClickOnce doesn't work in the new Chromium-based Edge" (which it didn't at the time). Round and round we go.

I didn't want this topic to turn into "how

[2020-01-30 02:28] #4774 closed

[2020-01-30 06:15] zcvele opened #4788 "Teams Channel and Chat"
This document has a placeholder for Teams Channel and Chat Policy settings , ref "This parameter is reserved for internal Microsoft use."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5f61f69-e089-e3aa-f862-cf3fd29e15ce
* Version Independent ID: c3ef7379-c76e-9274-66f9-1e196d8c3407
* Content: [Set-RetentionCompliance

[2020-01-30 09:08] yogkumgit commented on #4782
@officedocsbot assign @yogkumgit

[2020-01-30 09:09] yogkumgit commented on #4784
@officedocsbot assign @yogkumgit

[2020-01-30 09:09] yogkumgit commented on #4788
@officedocsbot assign @yogkumgit

[2020-01-30 09:38] SanguptaMSFT opened #4789 "Command doesn't exist anymore"
This command doesn't exist anymore in the Skype for Business online module. please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5da894-a57f-d870-7a00-29507fb6d37f
* Version Independent ID: e52506bf-d874-625d-2b3e-c4d1c6f3ff54
* Content: [Get-CsTeamsMobilityPolicy (skype)](https://docs.microsoft.com/en-us/po

[2020-01-30 09:53] yogkumgit commented on #4770
@get-itips  Thank you very much for the contribution and sharing this explanation. @LastGunslinger
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-30 09:53] #4770 closed

[2020-01-30 10:00] yogkumgit commented on #4769
@get-itips  Thank you very much for the contribution and sharing this explanation. @ferringer
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-30 10:00] #4769 closed

[2020-01-30 10:18] yogkumgit commented on #4789
@officedocsbot assign @yogkumgit

[2020-01-30 12:54] get-itips commented on #3946
@hirenshah1 Hiren, can you help us here? thanks

[2020-01-30 12:56] get-itips commented on #3906
Hello @tomkau Tom could you see our query? Thanks

[2020-01-30 15:20] yogkumgit commented on #3795
@get-itips  Thank you very much for the contribution and sharing this explanation. @korniienkoalexis Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-30 15:20] #3795 closed

[2020-01-30 15:29] dariomws306 commented on #4757
Hello @MatBerg2, thank you so much for this feedback.

For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/.
There, your suggestion will reach the product team.

[2020-01-30 15:43] get-itips commented on #4465
Hello @jantoney
How are you?
I could get more information from the Product Group.

_Changes in BETA:
-Role parameter now accepts both "Owner" and "Member" as possible values.
-If cmdlet is called with -Role parameter as "Member" and if the user is both an owner of the team and a member, then they would be removed from the Team completely.
-If cmdlet is called with -Role parameter as "Owner" then t

[2020-01-30 15:55] yogkumgit commented on #4465
@get-itips  Thank you very much for the contribution and sharing this explanation. @jantoney
Hope this comment is helpful for you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-30 15:55] #4465 closed

[2020-01-30 16:14] yogkumgit commented on #4757
@MatBerg2  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2020-01-30 16:14] #4757 closed

[2020-01-30 16:31] yogkumgit commented on #4038
@nanddeepn PR is merged and reflected.

[2020-01-30 16:38] dariomws306 commented on #4764
Hi @do0ds, thank you for your feedback.

If you try to use WhiteListedUrls or ExcludedUrls you will receive this error:
"The WhiteListedUrls and ExcludedUrls params are deprecated. Use the DoNotRewriteUrls param instead. If you have any scripts that use the WhiteListedUrls and ExcludedUrls params, update them to use the DoNotRewriteUrls param."

I will update the article accordingly.

[2020-01-30 16:58] yogkumgit commented on #4764
@chrisda Please merge this PR #4791 Thanks

[2020-01-30 17:32] do0ds commented on #4764
Great, thanks!

[2020-01-30 20:36] chrisda commented on #4764
Dario took care of this in his PR #4791, so taking my name off and closing.

[2020-01-30 20:36] #4764 closed

[2020-01-30 21:08] nils-a opened #4795 "Examples are wrong"
The examples are using the parameter `-Name`, which in fact does not exist.
Please correct the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8137a60-b5ea-297e-61d2-2271da424dba
* Version Independent ID: b3d0d338-bce4-4204-84cf-100e318621c8
* Content: [Start-PnPWorkflowInstance (sharepoint-pnp)](https:/

[2020-01-31 11:19] yogkumgit commented on #4795
@officedocsbot assign @yogkumgit

[2020-01-31 11:32] yogkumgit commented on #4038
@nanddeepn Thank you very much for the contribution and updating the documentation with PR. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-01-31 11:32] #4038 closed

[2020-01-31 12:03] weyCC81 opened #4796 "Set Outgoing Number from Direct Routing (PSTN)"
Who is it possible to set a Phone number form Direct Routing for Outgoing Calls?

`New-CsCallingLineIdentity -Identity "Outgoing" -CallingIdSubstitute "Service" -ServiceNumber "[Phone number]" -EnableUserOverride $false -Verbose`

[2020-01-31 12:04] weyCC81 commented on #4796
Related to:
https://docs.microsoft.com/en-us/powershell/module/skype/new-cscallinglineidentity?view=skype-ps
https://docs.microsoft.com/en-us/powershell/module/skype/set-cscallinglineidentity?view=skype-ps

[2020-01-31 12:34] yogkumgit commented on #4796
@officedocsbot assign @yogkumgit

[2020-01-31 14:17] wobba commented on #4503
Hi,
It's available at https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/set-pnpsearchconfiguration?view=sharepoint-ps

[2020-01-31 15:35] aidancopps opened #4798 "Page is unfinished"
Content on this page has not been completed. Please update with examples and more information about parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb9af8cd-c307-aff5-db34-b9c3864cc32a
* Version Independent ID: ed904d57-f5db-c145-58af-51959bb4c93c
* Content: [Set-CsOnlineDialInConferencingUserDefaultNumber (

[2020-01-31 18:04] chrisda commented on #4788
@zcvele, are you saying these parameters are available to you and they work as expected?

[2020-01-31 19:29] zcvele commented on #4788
Hi Chris

I did initial test and they were working in my test tenant. We should check all of them including multivalve entry.

My Microsoft alias is zoranc

Thank You

Thank You

Zoran
________________________________
From: Chris Davis <notifications@github.com>
Sent: Friday, January 31, 2020 1:04:51 PM
To: MicrosoftDocs/office-docs-powershell <office-docs-powershell@noreply.github.com>
Cc: Zoran

[2020-01-31 20:17] get-itips commented on #4775
Hello @zakgold
Please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/4747#issuecomment-578902237

[2020-01-31 21:11] get-itips commented on #4784
Hello @jacksonv1lle do you mean Semantic Slots? @trent-green can you confirm this? Thank you 👍

[2020-01-31 21:18] get-itips commented on #4782
Hello @Korbyn72
How are you? Hope you are doing good.
This should be ran only against OUs that have Skype For Business Server binaries.

_...computers running Skype for Business Server_

[2020-01-31 21:28] get-itips commented on #4795
Hello @nils-a Nils
I need to kindly redirect you to this [other resource](https://github.com/SharePoint/PnP-PowerShell/) to share your contribution, as you might know, PnP cmdlets are community-driven.
You can either create an issue there copying your message or directly propose changing the source code (which impacts the documentation)
Thank You!

[2020-01-31 21:40] jacksonv1lle commented on #4784
Hi @get-itips. Yes that's what I meant but I realize now that semantic slots are not related to SharePoint but rather they are a feature of the Office Fabric library.

[2020-01-31 21:43] Korbyn72 commented on #4782
Thank you for confirming.  In the case I was troubleshooting, I discover they had embedded the CsUserAdministrator into an IT group that the other CsAdministrators were in.  Membership in CSUserAdministrator has a block/deny preventing the publishing of the Topology.  GPResult /R showed the way.

Admins were correctly in CsAdministor and RTCUniversalServerAdmin, and the OU for where the Skype serv

[2020-01-31 21:50] get-itips commented on #4784
Ok thanks for clarifying, we can close this now.

[2020-01-31 22:27] totoken opened #4802 "Using this module in C# program"
I am just sharing this information because I was not able to find this anywhere.  I am not reporting an issue (I'm already in contact with the Support).

If you have a C# code that connects to Exchange Online using the New-PSSession (the old method that uses Basic auth that will be turned off Oct.2020) and wanting to replace with this new module, you can do that by invoking Import-Module in your r

[2020-02-01 14:11] dariomws306 commented on #4731
Hello @jdelforno, thanks for your feedback.

For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/
There, your suggestion will reach the product team.

[2020-02-01 15:08] dariomws306 commented on #4788
Hi @zcvele and @chrisda,

If you want I can help with this issue. I have been doing some testing and these parameters seems to be available to use but when I try to use any of the TeamsChannelLocation parameter I get:
"Only mailboxes are supported. The recipient "AdeleV@xxxxxxxxxxx.com" is of the type MailUser"

When I run Get-Recipient on Security & Compliance Center PowerShell all my UserMailbox

[2020-02-01 15:11] dariomws306 commented on #4780
Hi @auger282, thank you for your feedback.

I will test it next week and update the article accordingly.

[2020-02-01 22:12] nils-a commented on #4795
Created https://github.com/SharePoint/PnP-PowerShell/issues/2482

[2020-02-01 22:12] #4795 closed

[2020-02-03 02:53] VladimirGluten47 opened #4815 "Page Title is Get-CsOnlineUser"
Super minor feedback, the page title for this page is Get-CsOnlineUser. I believe that page must have been used as a template at some stage, because both this page and the page for Get-CsOnlineVoiceRoutingPolicy have "Get-CsOnlineUser" as a title in the web browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f516

[2020-02-03 02:54] VladimirGluten47 opened #4816 "Page Title is Get-CsOnlineUser"
Super minor feedback, the page title for this page is Get-CsOnlineUser. I believe that page must have been used as a template at some stage, because both this page and the page for Get-CsOnlineVoiceRoute have "Get-CsOnlineUser" as a title in the web browser.
See #4815 for related page. I am guessing there are several other pages with the same issue, may be worth reviewing quickly to ensure the tit

[2020-02-03 04:26] VladimirGluten47 opened #4817 "Browser title is Get-CsOnlineUser"
Super minor feedback, the page title for this page is Get-CsOnlineUser. I believe that page must have been used as a template at some stage, because several pages have "Get-CsOnlineUser" as a title in the web browser.
See #4815 and #4816 for other pages with the same issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-02-03 07:10] wobba commented on #4503
The docs are now out: https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/set-pnpsearchsettings?view=sharepoint-ps

You can also always do: `get-help set-pnpsearchsettings -detailed` to get the same :)

[2020-02-03 12:53] yogkumgit commented on #4798
@officedocsbot assign @yogkumgit

[2020-02-03 12:53] yogkumgit commented on #4802
@officedocsbot assign @yogkumgit

[2020-02-03 12:54] yogkumgit commented on #4815
@officedocsbot assign @yogkumgit

[2020-02-03 12:54] yogkumgit commented on #4816
@officedocsbot assign @yogkumgit

[2020-02-03 12:54] yogkumgit commented on #4817
@officedocsbot assign @yogkumgit

[2020-02-03 14:12] yogkumgit commented on #4775
@get-itips  Thank you very much for the contribution and sharing this explanation. @zakgold
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-03 14:12] #4775 closed

[2020-02-03 14:21] yogkumgit commented on #4784
@get-itips  Thank you very much for the contribution and sharing this explanation. @jacksonv1lle
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-03 14:21] #4784 closed

[2020-02-03 14:35] rlad1 opened #4819 "i am using mfa but basic auth is turned off by a corporate rule (gpo) - i can't turn it on"
how do i work around basic auth off and no ability to turn it on.  my company will not allow it.  i can not install online exchange powershell correctly.

[2020-02-03 14:42] yogkumgit commented on #4731
@jdelforno  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2020-02-03 14:42] #4731 closed

[2020-02-03 15:15] yogkumgit commented on #4819
@officedocsbot assign @yogkumgit

[2020-02-03 16:29] yogkumgit commented on #4788
@chrisda Can Andres help you here. Please confirm. Thanks

[2020-02-03 16:41] aidancopps opened #4820 "What permissions are required?"
It would be helpful to provide information about what permissions are required to run this command. Based on our experience it seems the Teams Service Administrator does not have enough permissions as the command is not imported when connecting via PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82154a26-a12

[2020-02-03 17:20] yogkumgit commented on #4820
@officedocsbot assign @yogkumgit

[2020-02-03 17:40] get-itips commented on #4782
Thanks to your for sharing your feedback.
@yogkumgit you can proceed closing this one.

[2020-02-03 18:41] spallister opened #4821 "Descriptions for Examples #1 and #4 are reversed"
As described in this issue here: https://github.com/SharePoint/PnP-PowerShell/issues/2470#issuecomment-581555415, the descriptions for Examples #1 and #4 are reversed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba509b85-58e0-f1f7-8134-4678339c7097
* Version Independent ID: e3837ec6-d90c-35c4-a563-4313ffb11fb6
* Con

[2020-02-03 18:59] kenwith commented on #4151
@SanguptaMSFT - @hirenshah1 team owns this area and is fixing this so that -tenant attribute works as per the documentation. Thank you for bringing this issue up. You can reach out to Hiren for their internal task on this item if you want to track it internally.

[2020-02-03 18:59] #4151 closed

[2020-02-03 19:02] kenwith commented on #4254
@NislAr98 thank you for the feedback here. I confirmed with @hirenshah1 that the documentation here is correct and they have updated the code to address the issue. The update will be released in CU. The documentation here is correct so I am closing this item without documentation updates. Thank you again for your engagement.

[2020-02-03 19:02] #4254 closed

[2020-02-03 19:10] kenwith commented on #4193
I searched through User Voice and did not see this request listed so I created it here: https://microsoftteams.uservoice.com/forums/555103-public/suggestions/39620977--get-csslaconfiguration and I voted for it. Anyone that comes across this issue please vote for it as well if this is something you would like to see @hirenshah1 team prioritize.

[2020-02-03 19:10] #4193 closed

[2020-02-03 19:11] get-itips commented on #4789
Hello @SanguptaMSFT
Thanks for noticing, we are adding a note thru a PR stating this.
Thank you

[2020-02-03 19:11] dariomws306 commented on #4788
I think you meant Dario.

[2020-02-03 20:14] dariomws306 commented on #4819
Hi @rlad1, thank you for your feedback.

Microsoft is working in a new Exchange PowerShell module where you can connect without basic authentication, using modern authentication:
https://docs.microsoft.com/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powershell-v2
It's currently in Preview but it should be delivered before October 13, 2020, when basic authentic

[2020-02-03 20:22] dariomws306 commented on #4802
Hi @totoken, thank you for your comment.

The section feedback in docs.microsoft.com is available to get feedback from the community about documentation and improve it.
I think the best place for the information you share (which is very interesting) is a blog or forum. Some ideas:
https://dotnet.microsoft.com/platform/community

[2020-02-03 20:30] totoken commented on #4802
Hello, @dariomws306.
Thank you for your reply.  I used this feedback because the original article page is the first page that comes up when googling "exchange online powershell modern authentication" so that people can find it.  Would you tie this thread to this page please?:
https://github.com/MicrosoftDocs/office-docs-powershell/issues?utf8=%E2%9C%93&q=%22f2de1272-5e37-c59f-fcb9-34fa66b0d268%22

[2020-02-03 20:39] dariomws306 commented on #4802
@totoken,

This issue is tied to this repository (office-docs-powershell) and a Exchange tag was added:
https://github.com/MicrosoftDocs/office-docs-powershell/issues?utf8=%E2%9C%93&q=exchange

My apologies but I don't understand what else you suggest.

[2020-02-03 20:55] totoken commented on #4802
Maybe adding f2de1272-5e37-c59f-fcb9-34fa66b0d268 to this thread make it show in https://github.com/MicrosoftDocs/office-docs-powershell/issues?utf8=%E2%9C%93&q=%22f2de1272-5e37-c59f-fcb9-34fa66b0d268%22

[2020-02-03 20:56] totoken commented on #4802
And it did.  I am closing this "issue" entry.  Thank you!

[2020-02-03 20:56] #4802 closed

[2020-02-03 22:25] harp365 commented on #1755
I am still confused with this personally. So I can find all users that are members of teams using get-teamuser -role member but when I was running the remove-user, perhaps need to do an update I could only specify owner as role. Logic would dictate that you are saying even if the user is an owner remove them. So I though, OK I will omit this switch and it will basically just remove members but if

[2020-02-03 22:37] harp365 commented on #1755
Going to see if a pipe into remove user after get-teamuser -role member suffices but this really needs clarifying. As an interim, not sure which is easier but a whatif would be nice as that way we could at least confirm what is going to happen as a result of executing a command rather than inadvertently removing an owner

[2020-02-03 23:25] get-itips commented on #1755
@harp365  please see https://github.com/MicrosoftDocs/office-docs-powershell/issues/4465

[2020-02-03 23:35] get-itips commented on #4796
Hello @weyCC81
I think this is not yet supported.
@tomkau Tom, can you confirm please ? Thank you

[2020-02-04 00:03] harp365 commented on #1755
Thanks but there is still no option to just remove only where member. Also I will test again but I am sure I exhibited removal of an owner. Like I say a what if would be good to be sure

[2020-02-04 08:25] yogkumgit commented on #4821
@officedocsbot assign @yogkumgit

[2020-02-04 09:36] yogkumgit commented on #4788
@dariomws306  yes, you are right. :)

[2020-02-04 09:55] yogkumgit commented on #4819
@dariomws306  Thank you very much for the contribution and sharing this explanation. @rlad1
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-04 09:55] #4819 closed

[2020-02-04 10:00] yogkumgit commented on #4782
@get-itips  Thank you very much for the contribution and sharing this explanation. @Korbyn72
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-04 10:00] #4782 closed

[2020-02-04 10:04] yogkumgit commented on #4789
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @SanguptaMSFT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-04 10:04] #4789 closed

[2020-02-04 10:11] yogkumgit commented on #4796
@tomkau Please answer this query. Thanks

[2020-02-04 13:25] get-itips commented on #4798
Hello @aidancopps
Thanks for noticing, I created a pull request proposing adding missing descriptions, once reviewed and merged, you will see it impacted on the live version of the article.
Thank you

[2020-02-04 13:31] get-itips commented on #4815
Thanks for noticing @VladimirGluten47  , created the pr that fixes it.

[2020-02-04 13:45] get-itips commented on #4820
Hello @aidancopps
Had to use a Skype For Business Administrator to get access to that cmdlet.
Hope this info helps you.

[2020-02-04 16:34] yogkumgit commented on #4798
@tomkau Please merge this PR #4825 Thanks

[2020-02-04 16:41] yogkumgit commented on #4815
@tomkau Please merge this PR #4826 Thanks

[2020-02-04 16:42] yogkumgit commented on #4820
@get-itips  Thank you very much for the contribution and sharing this explanation. @aidancopps
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2020-02-04 16:42] #4820 closed

[2020-02-04 21:03] ringsaroundus commented on #2233
The filter documentation is still not updated.    You need to use the proper format when filtering.

Get-SPOSite -Filter {Owner -eq "owner@google.com"}

It should work with these properties
LastContentModifiedDate
Status
ResourceUsageCurrent
ResourceUsageAverage
StorageUsageCurrent
LockIssue
WebsCount
CompatibilityLevel
Url
LocaleId
LockState
Owner
StorageQuota
StorageQuotaWarningLevel
ResourceQuo

[2020-02-04 21:13] get-itips commented on #2233
Hello everyone,
Some months ago I added [this commit](https://github.com/MicrosoftDocs/office-docs-powershell/commit/75eb00645cb6fd006d091ad5a57f7c5fd9b90542) about Filter parameter not being functional at the time, will revisit this to see if it has changed since then.

[2020-02-05 00:16] franklesniak opened #4830 "Missing URIs for China"
The URIs for China are missing from this page. I do not have access to a China tenant, but I believe they are:

ConnectionUri parameter value:
https://partner.outlook.cn/PowerShell-LiveID

AzureADAuthorizationEndPointUri parameter value:
https://login.chinacloudapi.cn/common

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-02-05 09:50] yogkumgit commented on #4830
@officedocsbot assign @yogkumgit

[2020-02-05 09:56] yogkumgit commented on #4600
@tseward  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-05 09:56] #4600 closed

[2020-02-05 09:59] yogkumgit commented on #4604
@tseward  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-05 09:59] #4604 closed

[2020-02-05 10:01] yogkumgit commented on #4606
@tseward  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-05 10:01] #4606 closed

[2020-02-05 10:02] yogkumgit commented on #4607
@tseward  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-05 10:02] #4607 closed

[2020-02-05 10:04] yogkumgit commented on #4608
@tseward  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-05 10:04] #4608 closed

[2020-02-05 10:06] yogkumgit commented on #4610
@tseward  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-05 10:06] #4610 closed

[2020-02-05 10:08] yogkumgit commented on #4616
@tseward  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-05 10:08] #4616 closed

[2020-02-05 10:09] yogkumgit commented on #4618
@tseward  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-05 10:09] #4618 closed

[2020-02-05 10:10] yogkumgit commented on #4620
@tseward  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-05 10:10] #4620 closed

[2020-02-05 10:12] yogkumgit commented on #4622
@tseward  Thank you very much for the contribution and updating the documentation with PR. @andikrueger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-05 10:12] #4622 closed

[2020-02-05 10:19] yogkumgit commented on #2233
@tseward Please review this PR #4828

[2020-02-05 12:15] PlayMa256 opened #4833 "Rest API"
Hello Guys,

We are trying to expose the powershell apis into the external world, but all operations are getting slower, specially on creating a session.

Is there a way to keep a reference of the session?

Are there any rest apis for skype endpoints? Like the result we get from `Get-CsOnlineUsers` ?

Thanks!

[2020-02-05 13:21] jdrecklessworld commented on #4712
event types needing complete definitions:

Event types not listed in documentation.
AdvancedProtectionMalware
AtpGoodMail
DLPMessages
Expire
Receive
SpoofMail
TransportRuleMessages

thanks in advance!

[2020-02-05 14:08] fbehrens opened #4834 "ExchangeOnlineManagement does not work with Powershell 7rc2"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2836a0-0af3-c147-2d4a-78220ac4e0f1
* Version Independent ID: 2cde9735-6281-bb9f-bf07-b30b2f6c7f37
* Content: [Exchange Online PowerShell V2](https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/exchange-online-powershell-v2/exchange-online-powershe

[2020-02-05 15:47] yogkumgit commented on #4833
@officedocsbot assign @yogkumgit

[2020-02-05 15:48] yogkumgit commented on #4834
@officedocsbot assign @yogkumgit

[2020-02-05 17:02] dariomws306 commented on #4780
I have tested and you are right. If you try to modify these properties for synced rooms you will get "Encountered an internal server error" as them should be modified on-premises using AD or Exchange management tools.
The only property that I cannot say that you are right is Building, since I could modify it.

@chrisda I think the error message should be improved to something like "The operation c

[2020-02-05 17:15] yogkumgit commented on #4780
@chrisda Please merge this PR #4836 Thanks

[2020-02-05 17:48] auger282 commented on #4780
I see you've added the comments that it should be updated on-prem. These
options aren't available on-prem. Set-place is a cloud only command (as far
as I know).

On Wed, Feb 5, 2020 at 12:15 PM Yogesh Kumar <notifications@github.com>
wrote:

[2020-02-05 18:26] jdotto02 opened #4838 "Missing the AuthenticationPolicy Property"
Please update this document with information on the AuthenticationPolicy property which is supported by at least the Get-User cmdlet.

An example of how to filter users with this property can be seen on this page:
https://docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/disable-basic-authentication-in-exchange-online#how-do-you-know-that-youve-successfully-disabled-basic-aut

[2020-02-05 18:49] dariomws306 commented on #4780
You shouldn't use Set-Place on-premises, use AD or Exchange management tools. But give me more time I'm doing more testing.

[2020-02-05 18:59] auger282 commented on #4780
Will do.. I appreciate the help. From what I've found the other attributes
do work in the cloud for set-place for the AD Synced accounts (odd but it
works). I wonder if this is a bug that they all don't work??

On Wed, Feb 5, 2020 at 1:49 PM Dario Woitasen <notifications@github.com>
wrote:

[2020-02-05 19:31] dariomws306 commented on #4780
Trying to get more information. I appreciate your patience.

[2020-02-06 00:30] tseward commented on #2233
@yogkumgit looks like that PR was already merged.

[2020-02-06 01:47] chrisda commented on #4830
@franklesniak, are we sure that China/21Vianet event supports using the MFA module for Exchange Online PowerShell? In late 2017, we removed the China/21Vianet information from the topic (on TechNet at the time) per internal instruction because the MFA module didn't work with China/21Vianet organizations.

Has something changed?

[2020-02-06 09:01] yogkumgit commented on #4838
@officedocsbot assign @yogkumgit

[2020-02-06 12:10] scottclarke1 opened #4840 "-Region parameter"
Hey Guys,
The -Region parameter states that it is reserved for Microsoft internal use, yet the Configure Office 365 Multi Geo documentation for eDiscovery instructs the use of this parameter to permit eDiscovery managers to search outside of the central location and into a specified satellite.
I think therefore that the documentation on this page may need updating to reflect.
Thanks,

---
#### Doc

[2020-02-06 12:44] yogkumgit commented on #4840
@officedocsbot assign @yogkumgit

[2020-02-06 12:47] yogkumgit commented on #2233
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @gerickes Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-06 12:47] #2233 closed

[2020-02-06 13:07] yogkumgit commented on #4798
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @aidancopps Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-06 13:07] #4798 closed

[2020-02-06 13:15] yogkumgit commented on #4815
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @VladimirGluten47 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-06 13:15] #4815 closed

[2020-02-06 13:17] yogkumgit commented on #4816
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @VladimirGluten47 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-06 13:17] #4816 closed

[2020-02-06 13:18] yogkumgit commented on #4817
@get-itips  Thank you very much for the contribution and updating the documentation with PR. @VladimirGluten47 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-06 13:18] #4817 closed

[2020-02-06 14:25] get-itips commented on #4821
Hello @spallister Sean
How are you? Hope you are doing good.
Documentation for PnP is directly reflected from the source code of PnP cmdlets, that reside on this [other repo](https://github.com/SharePoint/PnP-PowerShell/).
So, for any issues with PnP cmdlets, or PnP Documentation, they must be handled on that repo (you referenced an issue from it.
So I need to kindly redirect you to that other rep

[2020-02-06 14:45] get-itips commented on #4833
Hello @PlayMa256 Matheus
How are you? Hope you are doing good.
Is there an specific article that you see needs a correction?
Can you please share the link to the article?

About REST API, the recommendation now is going for the [Graph API](https://docs.microsoft.com/en-us/graph/overview), have you checked it?

Thank you

[2020-02-06 16:06] Padavid opened #4842 "Command not not apply when running some switched together"
I am attempting to run the following command to enable sharing and setup a domain list:
set-SPOSite &lt;siteURL&gt; -SharingCapability ExternalUserSharingOnly -SharingDomainRestrictionMode AllowList -SharingAllowedDomainList  "contoso.com fabrikam.com"

When I run this it does not set the Sharing capability but also does not return any errors.

Example when a individual site sharing is disabled an

[2020-02-06 16:17] spallister commented on #4821
Thanks @get-itips - I've opened the new, above-referenced issue there.

[2020-02-06 16:17] #4821 closed

[2020-02-06 16:22] PlayMa256 commented on #4833
Hello @get-itips
I'm doing fine and you?

So i asked the same question on https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/266#event-3007264011 and they told me to get here!

Also, we are having performance issues, some fetch operations take like, 2 minutes to complete. How can we decrease the performance?

And how can we keep track of sessions created? is there a pool of sessions?

[2020-02-06 16:54] BrianTJackett commented on #4842
I am able to repro the issue that @Padavid describes in my own lab tenant.  Looking at the underlying decompiled code for the PowerShell commandlet I don't see any red flags for code paths that would prevent both sharing capability and domain lists from being updated at the same time.  That may be a limitation of what I can see there though.

[2020-02-06 17:15] dariomws306 commented on #4834
Hi @fbehrens, thank you for your feedback.

The Exchange Online PowerShell V2 module is currently in Preview and is not supported on PowerShell Core yet.
You need to use Windows PowerShell. Also, it would help if you send this feedback to:
exocmdletpreview[at]service[dot]microsoft[dot]com (email address intentionally obscured to help prevent spam)

Thanks!

[2020-02-06 17:46] get-itips commented on #4833
Hello @PlayMa256 again 👍
Here, we are limited to address issues in documentation, like typos or wrong information.
So specifically about issues like performance I need to kindly request you to open a support ticket on your tenant.
I am not sure about the other question because I would need the link of the Docs article that brought you here to read and understand better.
Thank you

[2020-02-06 17:48] #4833 closed

[2020-02-06 19:24] chrisda commented on #4840
@scottclarke1, I updated the description of the Region parameter in New-ComplianceSecurityFilter and Set-ComplianceSecurityFilter.

Thanks for the feedback.

[2020-02-06 19:24] #4840 closed

[2020-02-07 13:33] NickDorak opened #4845 "Some option produce error"
When using any of the below parameters an "Encountered an internal server error" occurs. We have found no solution but to leave out the parameters that cause issue, then the remainder of the other parameters will work without issue.
Parameters that cause error: City, CountryOrRegion, GeoCoordinates, PostalCode, State & Street

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-02-07 13:56] NickDorak commented on #4845
It appears that the troubled parameters cannot be used if the object is replicated from on-prem AD. Most of the fields can be set within the on-prem AD object and sync to Azure. This exception appears to be missing from the above documentation.
However, the  "GeoCoordinates" parameter does not sync from on-prem AD and there appears to be no way to set this.

[2020-02-07 14:28] yogkumgit commented on #4842
@officedocsbot assign @yogkumgit

[2020-02-07 14:29] yogkumgit commented on #4845
@officedocsbot assign @yogkumgit

[2020-02-07 14:49] yogkumgit commented on #4834
@dariomws306 Thank you very much for the contribution and sharing this explanation. @fbehrens
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-07 14:49] #4834 closed

[2020-02-07 17:29] wisc75 opened #4846 "New-TeamChannel Fails with BadGateway (Graph API Also Fails with BadGateway)"
When attempting to execute the New-TeamChannel via Powershell, it is throwing a useless error "BadGateway" - Executing as Global Admin.  Various Global Admins tried to execute without any luck.

When I try to execute via the Graph API - I also get the same BadGateway:
   "error": {
        "code": "BadGateway",
        "message": "Failed to execute backend request.",
        "innerError": {

[2020-02-07 18:01] kenwith commented on #4846
@wisc75 - I just wanted to jump in and respond right away. This issue list is for the docs and I want to make sure you get the issue resolved right away. Would you please open a service request support ticket? You can find the option in your tenant admin and it will be routed immediately to the support engineers and they can respond quickly and work through the issue with you. The service engineer

[2020-02-07 18:41] wisc75 commented on #4846
Hi @kenwith  - We opened a ticket via O365 console as well.  Thanks much!

[2020-02-08 04:43] GaziSalauddinRANA opened #4854 "D.Gazi"
The Sql Refarence Non Gob
![Screenshot_20191026-080745](https://user-images.githubuser.com/50892969/74079188-37192f00-4a5e-11ea-8f47-011ba89b2ad9.png) GaziShalauddin'Ra
I Only Own &' May An Data For The Data Sait Peag Heab Non Gobarment Org'(NGO)<>&' No Heab Any Party Involved.
 Rana@77#![FB_IMG_4949441366055666210](https://user-images.githubuser.com/50892969/74079151-afcbbb80-4a5d-11ea-9b1a-0e907

[2020-02-08 20:14] mpoulson opened #4855 "Connect-Microsoft teams fails to support Application and GCCHigh environment"
When running
Connect-MicrosoftTeams -TeamsEnvironmentName TeamsGCCH -TenantID $tenantId -ApplicationID $applicationId -CertificateThumbprint $thumbPrint

Expected Result: GCCH supports Application based auth

**The result is**
Connect-MicrosoftTeams : Parameter set cannot be resolved using the specified named parameters.
At line:1 char:1
+ connect-microsoftteams -ApplicationId  ...
+ ~~~~~~~~~~~~~

[2020-02-09 04:13] jjinatlanta opened #4857 "Clear-pnprecycleBinItem fails with large number of items in recycle bin"
I have a sharepoint online recycle bin with over 1 million items in the 2nd stage recycle bin (They were list items created due to a programming error). When I try to use clear-pnpRecycleBinItem -Force -All I get error
"Clear-PnPRecycleBinItem : The attempted operation is prohibited because it exceeds the list view threshold enforced by the administrator."
I get the same error when I try to delete

[2020-02-09 18:55] sparkitect opened #4858 "-WebTemplate Parameter"
In testing, it seems that a value of "1" is also accepted for the WebTemplate parameter, resulting in the Site Design showing up for Communication Site AND Team Site with O365 Group AND Team Site without Office 365 Group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e58596a8-0429-e115-0dee-c970783ed80f
* Version Inde

[2020-02-09 21:03] franklesniak opened #4859 "StartDate and EndDate parameters - what time zone?"
I thought I would suggest adding a blurb explaining how this cmdlet interprets the StartDate and EndDate with regard to the local time zone, or UTC. It's not clear to me if there is any translation of time zones performed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5d47105-b32e-f0f8-3e71-db411c6abe7c
* Version Ind

[2020-02-09 21:10] franklesniak commented on #4830
Chris, you might be right about China/21Vianet not supporting MFA - unfortunately, I do not have access to a China tenant to confirm or deny.

Let me explain what I am trying to do, though:
I'm writing a function that uses the Exchange Online v2 module to connect to Exchange. I want to support the different Office 365 "environments" (GCC High, China, Germany, etc.). To do that, I need to specify t

[2020-02-09 21:18] franklesniak commented on #4859
According to this blog, the cmdlet translates your local time zone automatically. It would still be nice to have some updated help text that states this.
https://blog.kloud.com.au/2019/02/06/office365-azurehybrid-building-an-automated-solution-to-pull-office-365-audit-logs/

[2020-02-10 03:40] franklesniak commented on #4859
OK, I've done some testing and can share the results.

Scenario: an action creates an event on Feb 9, 2020 at 4:05 PM US Central Standard Time (10:05 PM GMT).

From a system configured on US Central Standard Time:
`Search-UnifiedAuditLog -StartDate ([datetime]"2/9/2020 4:00 PM") -EndDate ([datetime]"2/9/2020 4:10 PM")`
will not contain the event (i.e., the time was not converted to UTC).

`Search-

[2020-02-10 12:38] BlasMS opened #4860 "-Filter with wildcards."
The parameter -RecipientTypeDetails follow the same rules than -RecipientPreviewFilter for use wildcards with -filter:

-In cloud-based environments, you can't use a wildcard as the first character. For example, 'Sales*' is allowed, but '*Sales' isn't allowed.

-In on-premises Exchange, wildcards are valid only as the first or last character. For example, 'Sales*' or '*Sales' are allowed, but 'Sa*

[2020-02-10 12:40] BlasMS opened #4861 "Filterable properties for the filter parameter"
Text string properties that accept wildcard characters require the -like operator (for example, "Property -like '*abc'"):

Depends where environment is based the object:

-In cloud-based environments, you can't use a wildcard as the first character. For example, 'Sales*' is allowed, but '*Sales' isn't allowed.

-In on-premises Exchange, wildcards are valid only as the first or last character. For

[2020-02-10 12:42] BlasMS commented on #4860
![RecipientPreviewFilter](https://user-images.githubusercontent.com/60755302/74150825-a596f200-4c02-11ea-9ed7-01aeb19b056a.JPG)
![Get-RecipientOn-Prem](https://user-images.githubusercontent.com/60755302/74150868-c0696680-4c02-11ea-82c1-0dc7929e7f11.JPG)
![RecipientTypeDetails](https://user-images.githubusercontent.com/60755302/74150890-ccedbf00-4c02-11ea-99d5-68d7d56b90fc.JPG)

[2020-02-10 12:43] BlasMS commented on #4861
![RecipientPreviewFilter](https://user-images.githubusercontent.com/60755302/74150925-e1ca5280-4c02-11ea-911b-002a02fdb1ba.JPG)

[2020-02-10 12:51] yogkumgit commented on #4846
@officedocsbot assign @yogkumgit

[2020-02-10 12:53] yogkumgit commented on #4855
@officedocsbot assign @yogkumgit

[2020-02-10 12:54] yogkumgit commented on #4857
@officedocsbot assign @yogkumgit

[2020-02-10 12:54] yogkumgit commented on #4858
@officedocsbot assign @yogkumgit

[2020-02-10 12:55] yogkumgit commented on #4859
@officedocsbot assign @yogkumgit

[2020-02-10 12:56] yogkumgit commented on #4860
@officedocsbot assign @yogkumgit

[2020-02-10 12:56] yogkumgit commented on #4861
@officedocsbot assign @yogkumgit

[2020-02-10 12:58] yogkumgit commented on #4846
@wisc75  Thank you

[2020-02-10 15:45] wisc75 commented on #4846
Support Ticket is 18630673

[2020-02-10 17:17] #4854 closed

[2020-02-10 18:44] js-ware opened #4863 "ExchangeOnlineManagement 0.3555.1 connecting with MFA enabled account results in session refresh on every command"
Every command causes a refresh/relogin for the session:
"Creating a new Remote PowerShell session using MFA for implicit remoting of "Get-Mailbox" command ..."

And trying to pipe one command into another results in error "Cannot invoke the pipeline because the runspace is not in the Opened state. Current state of the runspace is 'Closed'."

[2020-02-11 00:01] chrisda commented on #4859
@franklesniak, it seems everything in on-prem Exchange Server and Exchange Online stores date/time in UTC. Exchange Server does a very good job of hiding this from you; most any cmdlet that has a date/time parameter seamlessly translates your local date/time/timezone settings back and forth between UTC, and you don't need to worry about it. Not so much in Exchange Online.

I updated the StartDate

[2020-02-11 00:02] franklesniak commented on #4859
This looks great. Thanks so much!

[2020-02-11 00:19] chrisda commented on #4859
Cool. Merging my changes and closing.

Thanks for the feedback.

[2020-02-11 00:19] #4859 closed

[2020-02-11 12:20] yogkumgit commented on #4863
@officedocsbot assign @yogkumgit

[2020-02-11 13:26] yogkumgit commented on #4749
@chrisda Please reply. Thanks

[2020-02-11 13:30] yogkumgit commented on #4788
@chrisda Please reply, Thanks

[2020-02-11 13:31] yogkumgit commented on #4830
@chrisda Please reply. Thanks

[2020-02-11 15:12] HansFChristiansen opened #4866 "Incorrect syntax in synopsis of command Set-UnifiedGroup"
Would be great if command synopsis matches the varying syntax applicable to parameters.
For example [-HiddenFromExchangeClientsEnabled] is incorrect when referring to the detailed documentation further down - it should instead read [-HiddenFromExchangeClientsEnabled[:$false]] indicating that to disable the function you append the flag with ":$false" and not " $false" as it is for e.g. the paramete

[2020-02-11 15:40] quickclix75 opened #4867 "Duplicated PowerShell commands"
The "This example connects to Exchange Online to manage another tenant" powershell command is identical the one preceeding it.. could you update with the correct example please? ta

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e527db-a4c2-782e-5a5f-ad8b3159a977
* Version Independent ID: f2de1272-5e37-c59f-fcb9-34fa6

[2020-02-11 15:47] rlodev67 commented on #4186
Hey
I have the same issue and I have the .NET Framework installed.
any idea ?

I can't install VS on it.

[2020-02-11 16:47] yogkumgit commented on #4866
@officedocsbot assign @yogkumgit

[2020-02-11 16:48] yogkumgit commented on #4867
@officedocsbot assign @yogkumgit

[2020-02-11 18:22] HaloX69 commented on #1915
I am using Connect-MicrosoftTeams with an app reg certificate to authenticate successfully, but experiencing the exact same exception, Request_ResourceNotFound, when I run New-Team.

[2020-02-11 18:36] chrisda commented on #4749
Well, it looks like we need to remove the topic, then. I can't find anywhere to download UCMA 2.0.

Thanks for the feedback.

[2020-02-11 18:36] kenwith commented on #1915
@HaloX69 - this list is for the docs and I want to make sure your issue doesn't get lost, if you would please open a support service ticket in your tenant. You can find it under Support in the left hand nav and an option to open a new service request. The support engineers will be able to identify if perhaps there is a bug or something going on and they can escalate immediately to product team too

[2020-02-11 18:53] chrisda commented on #4830
@franklesniak, I can dig it. But, as I described, China/21Vianet doesn't support MFA, so no need to update the topic that's the target of this issue. Semi-relatedly, I confirmed a long time ago that there's no such thing as standalone Exchange Online Protection PowerShell in China/21Vianet, so the [EOP PowerShell connection topic](https://docs.microsoft.com/powershell/exchange/exchange-eop/connect

[2020-02-11 19:06] chrisda commented on #4866
@HansFChristiansen, that sounds interesting, but that's really more of an issue with the [platyPS](https://github.com/PowerShell/platyPS) tool that we now use to dump cmdlets to topics. Even back in the TechNet days, the internal tool we used simply used the value <SwitchParameter> with no further details about how it works.

In this specific case, the HiddenFromExchangeClientsEnabled parameter de

[2020-02-11 19:14] chrisda commented on #4867
@quickclix75, confirmed. I found the original update in a [previous pull request](https://github.com/MicrosoftDocs/office-docs-powershell/commit/c02e520c331ed85e44b8bdf83afb5de5d751b1e1#diff-56eb30a4f21b65b4b26120dd7425f2c6), so I just added it back.

Thanks for the feedback.

[2020-02-11 19:14] #4867 closed

[2020-02-11 20:44] NPrice99 opened #4872 "Using PowerShell 6 - Connect-PnPOnline fails Could not load type 'System.Security.Cryptography.X509Certificates.X509Certificate2UI'"
Hi
When using the new PowerShell 6 with Connect-PnPOnline it fails :_

Connect-PnPOnline : Could not load type 'System.Security.Cryptography.X509Certificates.X509Certificate2UI' from assembly 'System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.
At line:1 char:1
+ Connect-PnPOnline -Url https://njpenterprises.sharepoint.com/marketin ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-02-12 00:04] tseward commented on #4186
@rlodev67 which version of the Framework(s) do you have installed?

[2020-02-12 08:58] abdndamo opened #4874 "Private Channels"
There is a new setting on the TEAMS manage channel interface that was introduced at the beginning of February and this cannot be handled via the Cmdlet.

"Allow members to create private channels"

Is this likely to be included?

[2020-02-12 09:47] anilkumar15 commented on #4186
MSBuild.exe -version
Microsoft (R) Build Engine version 4.7.2053.0
[Microsoft .NET Framework, version 4.0.30319.42000]
Copyright (C) Microsoft Corporation. All rights reserved.

4.7.2053.0

Connect-MicrosoftTeams : Could not load file or assembly 'System.Net.Http, Version=4.2.0.0, Culture=neutral,
PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specifie

[2020-02-12 10:28] rlodev67 commented on #4186
@tseward , My .net version is 4.7.02053
I try to connect Microsoft Teams with TenantId, CertificateThumbprint and ApplicationId parameters

[2020-02-12 10:59] get-itips commented on #4857
Hello @jjinatlanta John, how are you? 👍
I will need to kindly ask you to visit [this other repo](https://github.com/SharePoint/PnP-PowerShell/) to open PnP issues. PnP cmdlets are maintained by the community, a member of it will pick it up there.
Thanks

[2020-02-12 11:10] get-itips commented on #4855
Hello @mpoulson Mike 👍 How are you?

As you can see in the [official article](https://docs.microsoft.com/en-us/powershell/module/teams/connect-microsoftteams?view=teams-ps) of the cmdlet
_TeamsEnvironmentName_ and _ApplicationId/CertificateThumbprint_ params are on different parameter sets, so you can not use them on the same cmdlet run.

In case you want, you can suggest this to the Teams Product

[2020-02-12 11:22] TeddyLegs opened #4875 "Broken Link"
The hyperlink for the module at the top is broken
https://docs.microsoft.com/en-us/powershell/module/exchange/users-and-groups/?view=exchange-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bb8d4e-9525-b291-ac2e-71c7da02984d
* Version Independent ID: 02753e62-8b57-90cc-bf6e-9f69661c3135
* Content: [Remove-UnifiedGr

[2020-02-12 12:36] yogkumgit commented on #4872
@officedocsbot assign @yogkumgit

[2020-02-12 12:37] yogkumgit commented on #4874
@officedocsbot assign @yogkumgit

[2020-02-12 12:38] yogkumgit commented on #4875
@officedocsbot assign @yogkumgit

[2020-02-12 13:10] yogkumgit commented on #4857
@get-itips  Thank you very much for the contribution and sharing this explanation. @jjinatlanta
Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-02-12 13:10] #4857 closed

[2020-02-12 13:14] yogkumgit commented on #4855
@mpoulson  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. Thanks again for taking out some time and sharing your feedback.

[2020-02-12 13:14] #4855 closed

[2020-02-12 13:38] HansFChristiansen commented on #4866
@chrisda I appreciate that the specific usage exists in the parameter specific documentation for the HiddenFromExchangeClientsEnabled parameter - I just voiced my own opinion that the synopsis, i.e. the part which lists all the parameters available, should mirror the option to have just include the parameter or append it with ":$false" when wanting to disable the parameter that hides the group fro

[2020-02-12 14:02] JohnGGeo opened #4877 "Order of Add-TeamsUser"
In the article it states,

I tried this and it added them as owners then made them members.
So should this actually be reverse and read something like,

In any case why have this? Why not add the user as a member of the unified group when you add them as an owner? Are there any cases I'm not thinking of that would necessitate adding the user only as an owner?

---
#### Document Details

⚠ *Do not

[2020-02-12 14:49] pkothree opened #4878 "Clarification needed: Roles are not available in Security & Compliance"
The roles Mailbox Search and Mailbox Import Export are only visible in the Exchange Admin Center (Permissions -> admin roles), but will not show up under the Security & Compliance portal.

[2020-02-12 15:09] yogkumgit commented on #4877
@officedocsbot assign @yogkumgit

[2020-02-12 15:09] yogkumgit commented on #4878
@officedocsbot assign @yogkumgit

[2020-02-12 15:12] ravick4u commented on #2233
I tried Get-SPOSite -Filter {Title -like "test"} and it gives me an error message "Filtering is not supported for property Title." Am I missing something ?

[2020-02-12 15:20] chrisda commented on #4866
@HansFChristiansen, duly noted.

[2020-02-12 15:20] #4866 closed

[2020-02-12 15:57] wiseleaf23 opened #4880 "Parameters not found"
Could it be possible that this documentation is out of date? When creating a new anti-phish policy using this cmdlet, I get errors on the following parameters: -TreatSoftPassAsAuthenticated -EnableAuthenticationSafetyTip -EnableAuthenticationSoftPassSafetyTip

These return an error like:
A parameter cannot be found that matches parameter name 'EnableAuthenticationSoftPassSafetyTip'.
    + Category